<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tablelevel/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1415,328}</string>
                <key>spriteSourceSize</key>
                <string>{1415,328}</string>
                <key>textureRect</key>
                <string>{{1,1},{1415,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tablelevel/fish0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,280}</string>
                <key>spriteSourceSize</key>
                <string>{374,280}</string>
                <key>textureRect</key>
                <string>{{539,331},{374,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tablelevel/fish1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,274}</string>
                <key>spriteSourceSize</key>
                <string>{370,274}</string>
                <key>textureRect</key>
                <string>{{915,331},{370,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tablelevel/fish4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{395,262}</string>
                <key>spriteSourceSize</key>
                <string>{397,268}</string>
                <key>textureRect</key>
                <string>{{1418,1},{395,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tablelevel/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,251}</string>
                <key>spriteSourceSize</key>
                <string>{234,251}</string>
                <key>textureRect</key>
                <string>{{1579,418},{234,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tablelevel/plant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,290}</string>
                <key>spriteSourceSize</key>
                <string>{257,290}</string>
                <key>textureRect</key>
                <string>{{1287,418},{257,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tablelevel/plant1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,167}</string>
                <key>spriteSourceSize</key>
                <string>{159,167}</string>
                <key>textureRect</key>
                <string>{{1815,1},{159,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tablelevel/plant2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,180}</string>
                <key>spriteSourceSize</key>
                <string>{111,180}</string>
                <key>textureRect</key>
                <string>{{1815,517},{111,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tablelevel/plant3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,426}</string>
                <key>spriteSourceSize</key>
                <string>{151,426}</string>
                <key>textureRect</key>
                <string>{{1418,265},{151,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tablelevel/plant4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,536}</string>
                <key>spriteSourceSize</key>
                <string>{314,536}</string>
                <key>textureRect</key>
                <string>{{1,331},{314,536}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tablelevel/stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,178}</string>
                <key>spriteSourceSize</key>
                <string>{345,178}</string>
                <key>textureRect</key>
                <string>{{1846,170},{345,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tablelevel.png</string>
            <key>size</key>
            <string>{2025,676}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c62a7e91b465c8084493078575108439:16016a5ceb2d0ab034f36ab45bc8386c:8808665ec552f2bfdb966adc80daec34$</string>
            <key>textureFileName</key>
            <string>tablelevel.png</string>
        </dict>
    </dict>
</plist>
