<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smash_de_rock/boundary.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3248,116}</string>
                <key>spriteSourceSize</key>
                <string>{3248,116}</string>
                <key>textureRect</key>
                <string>{{3,3},{3248,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smash_de_rock/boxing_gloves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,474}</string>
                <key>spriteSourceSize</key>
                <string>{460,474}</string>
                <key>textureRect</key>
                <string>{{2051,925},{460,474}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smash_de_rock/brush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{798,110}</string>
                <key>spriteSourceSize</key>
                <string>{798,110}</string>
                <key>textureRect</key>
                <string>{{2464,1688},{798,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smash_de_rock/brushcolor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{798,110}</string>
                <key>spriteSourceSize</key>
                <string>{798,110}</string>
                <key>textureRect</key>
                <string>{{2464,1798},{798,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smash_de_rock/cracktexture_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,1024}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{3,925},{1024,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smash_de_rock/cracktexture_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,1024}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1027,925},{1024,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smash_de_rock/ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1049,150}</string>
                <key>spriteSourceSize</key>
                <string>{1049,150}</string>
                <key>textureRect</key>
                <string>{{3890,3},{1049,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>smash_de_rock/hit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1353,1397}</string>
                <key>spriteSourceSize</key>
                <string>{1353,1397}</string>
                <key>textureRect</key>
                <string>{{2537,119},{1353,1397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smash_de_rock/letter_correct.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,182}</string>
                <key>spriteSourceSize</key>
                <string>{177,182}</string>
                <key>textureRect</key>
                <string>{{3688,1718},{177,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smash_de_rock/letter_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,182}</string>
                <key>spriteSourceSize</key>
                <string>{177,182}</string>
                <key>textureRect</key>
                <string>{{3865,1718},{177,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smash_de_rock/letter_wrong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,202}</string>
                <key>spriteSourceSize</key>
                <string>{200,202}</string>
                <key>textureRect</key>
                <string>{{3688,1516},{200,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smash_de_rock/letterboard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2534,806}</string>
                <key>spriteSourceSize</key>
                <string>{2534,806}</string>
                <key>textureRect</key>
                <string>{{3,119},{2534,806}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smash_de_rock/stone_bace.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{745,172}</string>
                <key>spriteSourceSize</key>
                <string>{745,172}</string>
                <key>textureRect</key>
                <string>{{2464,1516},{745,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smash_de_rock/tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,426}</string>
                <key>spriteSourceSize</key>
                <string>{413,426}</string>
                <key>textureRect</key>
                <string>{{2051,1399},{413,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smash_de_rock/treecolor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,426}</string>
                <key>spriteSourceSize</key>
                <string>{413,426}</string>
                <key>textureRect</key>
                <string>{{3262,1516},{413,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>smash_de_rock/white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,500}</string>
                <key>spriteSourceSize</key>
                <string>{10,500}</string>
                <key>textureRect</key>
                <string>{{3251,3},{10,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>smashderock_01.png</string>
            <key>size</key>
            <string>{4045,1952}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98ebb0db645e0c70ecfab06936bacf91:85c2a6377c84863287ce64a9b999cec7:e76ffe27229e2bee7afbc36b6228d966$</string>
            <key>textureFileName</key>
            <string>smashderock_01.png</string>
        </dict>
    </dict>
</plist>
