<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blastletterlevel/bomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{166,399}</string>
                <key>spriteSourceSize</key>
                <string>{234,399}</string>
                <key>textureRect</key>
                <string>{{1,1},{166,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blastletterlevel/bomb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,65}</string>
                <key>spriteSourceSize</key>
                <string>{132,65}</string>
                <key>textureRect</key>
                <string>{{169,1},{132,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blastletterlevel/bomb3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,97}</string>
                <key>spriteSourceSize</key>
                <string>{112,97}</string>
                <key>textureRect</key>
                <string>{{140,625},{112,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blastletterlevel/bomb4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,64}</string>
                <key>spriteSourceSize</key>
                <string>{76,64}</string>
                <key>textureRect</key>
                <string>{{169,334},{76,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blastletterlevel/box_of_tnt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,221}</string>
                <key>spriteSourceSize</key>
                <string>{241,221}</string>
                <key>textureRect</key>
                <string>{{1,402},{241,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blastletterlevel/rocket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,33}</string>
                <key>spriteSourceSize</key>
                <string>{197,33}</string>
                <key>textureRect</key>
                <string>{{169,135},{197,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blastletterlevel/tnt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,137}</string>
                <key>spriteSourceSize</key>
                <string>{120,137}</string>
                <key>textureRect</key>
                <string>{{1,625},{120,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>blastletterlevel.png</string>
            <key>size</key>
            <string>{246,746}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4ca8b25d815715ffcb2f71eb88ca148:29ca0f0b3297ed2ef2bafeac8fcc8fdb:320eb03301eab962c13c7aeaf457586f$</string>
            <key>textureFileName</key>
            <string>blastletterlevel.png</string>
        </dict>
    </dict>
</plist>
