<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>level_map/level_map_bg-01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1798,2556}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1800,2560}</string>
			</dict>
			<key>level_map/level1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2559},{571,1514}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{571,1514}</string>
			</dict>
			<key>level_map/level2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1801,1028},{583,1056}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{583,1056}</string>
			</dict>
			<key>level_map/level3.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,2559},{670,1052}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{671,1054}</string>
			</dict>
			<key>level_map/level4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1801,1},{629,1025}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{629,1025}</string>
			</dict>
			<key>level_map/level5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1246,2559},{627,1088}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{627,1088}</string>
			</dict>
			<key>level_map/back.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,3787},{171,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,172}</string>
			</dict>
			<key>level_map/next.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,3613},{172,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,172}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>level_map.png</string>
			<key>realTextureFileName</key>
			<string>level_map.png</string>
			<key>size</key>
			<string>{2431,4074}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2431</integer>
			<key>height</key>
			<integer>4074</integer>
		</dict>
	</dict>
</plist>