<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>owl/circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owl/ears.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,35}</string>
                <key>spriteSourceSize</key>
                <string>{53,35}</string>
                <key>textureRect</key>
                <string>{{1,61},{53,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owl/eyebrows.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,8}</string>
                <key>spriteSourceSize</key>
                <string>{16,8}</string>
                <key>textureRect</key>
                <string>{{35,118},{16,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owl/eyeinner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{38,98},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owl/eyeouter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,32}</string>
                <key>textureRect</key>
                <string>{{1,117},{26,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owl/feathers.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,17}</string>
                <key>spriteSourceSize</key>
                <string>{35,17}</string>
                <key>textureRect</key>
                <string>{{1,98},{35,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owl/lowerbeak.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,9}</string>
                <key>spriteSourceSize</key>
                <string>{7,9}</string>
                <key>textureRect</key>
                <string>{{56,77},{7,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owl/upperbeak.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,14}</string>
                <key>spriteSourceSize</key>
                <string>{7,14}</string>
                <key>textureRect</key>
                <string>{{56,61},{7,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>owl.png</string>
            <key>size</key>
            <string>{64,144}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b73a642fd092383b735c98aba1e651ea:c8c3d19a1ae17fff3e02ed995d0eca32:08aa6881590fcf33961ae550b81e7f1c$</string>
            <key>textureFileName</key>
            <string>owl.png</string>
        </dict>
    </dict>
</plist>
