<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shopinglevel/ac.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,59}</string>
                <key>spriteSourceSize</key>
                <string>{201,59}</string>
                <key>textureRect</key>
                <string>{{1,103},{201,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/groceery store for sceneeditor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,100}</string>
                <key>spriteSourceSize</key>
                <string>{231,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{231,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,66}</string>
                <key>spriteSourceSize</key>
                <string>{160,66}</string>
                <key>textureRect</key>
                <string>{{1,164},{160,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shopinglevel.png</string>
            <key>size</key>
            <string>{233,231}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b02f139fdf7f7bb400c80a6f696c15f:2cd5d5f33143a78167d889582180ecb4:a3eb6809f7289718d8bedc90f3d81e37$</string>
            <key>textureFileName</key>
            <string>shopinglevel.png</string>
        </dict>
    </dict>
</plist>
