<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>talkislandlevel/boat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,397}</string>
                <key>spriteSourceSize</key>
                <string>{190,397}</string>
                <key>textureRect</key>
                <string>{{3473,2198},{190,397}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkislandlevel/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{569,228}</string>
                <key>spriteSourceSize</key>
                <string>{569,228}</string>
                <key>textureRect</key>
                <string>{{1607,1975},{569,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkislandlevel/ground1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{874,470}</string>
                <key>spriteSourceSize</key>
                <string>{874,470}</string>
                <key>textureRect</key>
                <string>{{3368,1004},{874,470}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkislandlevel/ground2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1094,345}</string>
                <key>spriteSourceSize</key>
                <string>{1094,345}</string>
                <key>textureRect</key>
                <string>{{1607,1628},{1094,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkislandlevel/ground3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{685,316}</string>
                <key>spriteSourceSize</key>
                <string>{685,316}</string>
                <key>textureRect</key>
                <string>{{3082,1880},{685,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkislandlevel/ground4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{872,377}</string>
                <key>spriteSourceSize</key>
                <string>{872,377}</string>
                <key>textureRect</key>
                <string>{{2703,1628},{872,377}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkislandlevel/hill1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1888,132}</string>
                <key>spriteSourceSize</key>
                <string>{1888,132}</string>
                <key>textureRect</key>
                <string>{{1,2383},{1888,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkislandlevel/hill2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2516,174}</string>
                <key>spriteSourceSize</key>
                <string>{2516,174}</string>
                <key>textureRect</key>
                <string>{{1,2207},{2516,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkislandlevel/lighthouse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,306}</string>
                <key>spriteSourceSize</key>
                <string>{74,306}</string>
                <key>textureRect</key>
                <string>{{1891,2383},{74,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkislandlevel/rock1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-7}</string>
                <key>spriteSize</key>
                <string>{315,169}</string>
                <key>spriteSourceSize</key>
                <string>{335,183}</string>
                <key>textureRect</key>
                <string>{{3769,1880},{315,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkislandlevel/rock2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-14}</string>
                <key>spriteSize</key>
                <string>{389,200}</string>
                <key>spriteSourceSize</key>
                <string>{435,228}</string>
                <key>textureRect</key>
                <string>{{3082,2198},{389,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkislandlevel/rock3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-6}</string>
                <key>spriteSize</key>
                <string>{359,172}</string>
                <key>spriteSourceSize</key>
                <string>{395,190}</string>
                <key>textureRect</key>
                <string>{{2519,2128},{359,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkislandlevel/side1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,74}</string>
                <key>spriteSourceSize</key>
                <string>{283,74}</string>
                <key>textureRect</key>
                <string>{{2178,2128},{283,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkislandlevel/side2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{457,151}</string>
                <key>spriteSourceSize</key>
                <string>{457,151}</string>
                <key>textureRect</key>
                <string>{{2178,1975},{457,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkislandlevel/side3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,60}</string>
                <key>spriteSourceSize</key>
                <string>{111,60}</string>
                <key>textureRect</key>
                <string>{{3082,1811},{111,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkislandlevel/sun1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,234}</string>
                <key>spriteSourceSize</key>
                <string>{234,234}</string>
                <key>textureRect</key>
                <string>{{3082,1575},{234,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkislandlevel/sun2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1001,501}</string>
                <key>spriteSourceSize</key>
                <string>{1001,501}</string>
                <key>textureRect</key>
                <string>{{3368,1},{1001,501}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkislandlevel/tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1604,2204}</string>
                <key>spriteSourceSize</key>
                <string>{1604,2204}</string>
                <key>textureRect</key>
                <string>{{1,1},{1604,2204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkislandlevel/tree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1443,1625}</string>
                <key>spriteSourceSize</key>
                <string>{1443,1625}</string>
                <key>textureRect</key>
                <string>{{1607,1},{1443,1625}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkislandlevel/water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1572,314}</string>
                <key>spriteSourceSize</key>
                <string>{1572,314}</string>
                <key>textureRect</key>
                <string>{{3052,1},{1572,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkislandlevel/water1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,47}</string>
                <key>spriteSourceSize</key>
                <string>{109,47}</string>
                <key>textureRect</key>
                <string>{{3318,1575},{109,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkislandlevel/water2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,9}</string>
                <key>spriteSourceSize</key>
                <string>{286,9}</string>
                <key>textureRect</key>
                <string>{{3082,2400},{286,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>talkislandlevel.png</string>
            <key>size</key>
            <string>{3939,2516}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdc37bcaa067b187bf40cf3cdfbee7d0:b4e9c49a828e4bc946d4d49e14abda61:4def90e8a13ef7b5fc0151facaf903ab$</string>
            <key>textureFileName</key>
            <string>talkislandlevel.png</string>
        </dict>
    </dict>
</plist>
