<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>office/office_mainground/almirah-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,435}</string>
                <key>spriteSourceSize</key>
                <string>{191,435}</string>
                <key>textureRect</key>
                <string>{{1911,1676},{191,435}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/almirah.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,495}</string>
                <key>spriteSourceSize</key>
                <string>{160,495}</string>
                <key>textureRect</key>
                <string>{{2997,320},{160,495}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/book-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,47}</string>
                <key>spriteSourceSize</key>
                <string>{136,47}</string>
                <key>textureRect</key>
                <string>{{1559,1779},{136,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/book-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,30}</string>
                <key>spriteSourceSize</key>
                <string>{136,30}</string>
                <key>textureRect</key>
                <string>{{1031,1447},{136,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/book-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,41}</string>
                <key>spriteSourceSize</key>
                <string>{136,41}</string>
                <key>textureRect</key>
                <string>{{2824,1761},{136,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/book-blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,130}</string>
                <key>spriteSourceSize</key>
                <string>{50,130}</string>
                <key>textureRect</key>
                <string>{{2617,1784},{50,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/book-brown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,137}</string>
                <key>spriteSourceSize</key>
                <string>{50,137}</string>
                <key>textureRect</key>
                <string>{{1031,1395},{50,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/book-green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,122}</string>
                <key>spriteSourceSize</key>
                <string>{50,122}</string>
                <key>textureRect</key>
                <string>{{1697,1779},{50,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/book-grey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,134}</string>
                <key>spriteSourceSize</key>
                <string>{51,134}</string>
                <key>textureRect</key>
                <string>{{1423,1779},{51,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/bottle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,177}</string>
                <key>spriteSourceSize</key>
                <string>{53,177}</string>
                <key>textureRect</key>
                <string>{{1906,1098},{53,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/building-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,982}</string>
                <key>spriteSourceSize</key>
                <string>{211,982}</string>
                <key>textureRect</key>
                <string>{{1394,449},{211,982}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/building.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,941}</string>
                <key>spriteSourceSize</key>
                <string>{341,941}</string>
                <key>textureRect</key>
                <string>{{565,546},{341,941}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/calender.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,144}</string>
                <key>spriteSourceSize</key>
                <string>{113,144}</string>
                <key>textureRect</key>
                <string>{{2874,1393},{113,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/certificate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,138}</string>
                <key>spriteSourceSize</key>
                <string>{233,138}</string>
                <key>textureRect</key>
                <string>{{2989,997},{233,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/chair-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,389}</string>
                <key>spriteSourceSize</key>
                <string>{258,389}</string>
                <key>textureRect</key>
                <string>{{2729,1002},{258,389}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/chair-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,367}</string>
                <key>spriteSourceSize</key>
                <string>{231,367}</string>
                <key>textureRect</key>
                <string>{{2751,633},{231,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/chair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,423}</string>
                <key>spriteSourceSize</key>
                <string>{282,423}</string>
                <key>textureRect</key>
                <string>{{1978,808},{282,423}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/computer-front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,146}</string>
                <key>spriteSourceSize</key>
                <string>{178,146}</string>
                <key>textureRect</key>
                <string>{{2984,817},{178,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/computer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,156}</string>
                <key>spriteSourceSize</key>
                <string>{208,156}</string>
                <key>textureRect</key>
                <string>{{2989,1232},{208,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/cutton-scrolling.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{381,639}</string>
                <key>spriteSourceSize</key>
                <string>{381,639}</string>
                <key>textureRect</key>
                <string>{{644,1489},{381,639}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/cutton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,1096}</string>
                <key>spriteSourceSize</key>
                <string>{144,1096}</string>
                <key>textureRect</key>
                <string>{{1276,662},{144,1096}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{446,812}</string>
                <key>spriteSourceSize</key>
                <string>{446,812}</string>
                <key>textureRect</key>
                <string>{{1394,1},{446,812}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/dustbin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,121}</string>
                <key>spriteSourceSize</key>
                <string>{92,121}</string>
                <key>textureRect</key>
                <string>{{908,1395},{92,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/employee-desk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{827,543}</string>
                <key>spriteSourceSize</key>
                <string>{827,543}</string>
                <key>textureRect</key>
                <string>{{565,1},{827,543}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/floor-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,267}</string>
                <key>spriteSourceSize</key>
                <string>{641,267}</string>
                <key>textureRect</key>
                <string>{{1,1603},{641,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/floor-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,267}</string>
                <key>spriteSourceSize</key>
                <string>{129,267}</string>
                <key>textureRect</key>
                <string>{{2348,1706},{129,267}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/flower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,205}</string>
                <key>spriteSourceSize</key>
                <string>{85,205}</string>
                <key>textureRect</key>
                <string>{{3053,1},{85,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,305}</string>
                <key>spriteSourceSize</key>
                <string>{324,305}</string>
                <key>textureRect</key>
                <string>{{2403,976},{324,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/lamp-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,153}</string>
                <key>spriteSourceSize</key>
                <string>{142,153}</string>
                <key>textureRect</key>
                <string>{{2989,1442},{142,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/lamp-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,109}</string>
                <key>spriteSourceSize</key>
                <string>{94,109}</string>
                <key>textureRect</key>
                <string>{{1276,546},{94,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/lamp-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,140}</string>
                <key>spriteSourceSize</key>
                <string>{119,140}</string>
                <key>textureRect</key>
                <string>{{2824,1619},{119,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/lamp-big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,421}</string>
                <key>spriteSourceSize</key>
                <string>{215,421}</string>
                <key>textureRect</key>
                <string>{{1978,1092},{215,421}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/lamp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,156}</string>
                <key>spriteSourceSize</key>
                <string>{107,156}</string>
                <key>textureRect</key>
                <string>{{2208,320},{107,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/lights-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{346,341}</string>
                <key>spriteSourceSize</key>
                <string>{358,353}</string>
                <key>textureRect</key>
                <string>{{2403,633},{346,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/lights.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{734,181}</string>
                <key>spriteSourceSize</key>
                <string>{740,181}</string>
                <key>textureRect</key>
                <string>{{1911,1309},{734,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/patch-blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,55}</string>
                <key>spriteSourceSize</key>
                <string>{46,55}</string>
                <key>textureRect</key>
                <string>{{565,1489},{46,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/patch-green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,55}</string>
                <key>spriteSourceSize</key>
                <string>{46,55}</string>
                <key>textureRect</key>
                <string>{{565,1546},{46,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/patch-red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,54}</string>
                <key>spriteSourceSize</key>
                <string>{46,54}</string>
                <key>textureRect</key>
                <string>{{2874,1539},{46,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/patch-yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,55}</string>
                <key>spriteSourceSize</key>
                <string>{46,55}</string>
                <key>textureRect</key>
                <string>{{3053,208},{46,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/piller.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{562,1600}</string>
                <key>spriteSourceSize</key>
                <string>{562,1600}</string>
                <key>textureRect</key>
                <string>{{1,1},{562,1600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/small-table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,212}</string>
                <key>spriteSourceSize</key>
                <string>{233,212}</string>
                <key>textureRect</key>
                <string>{{2384,1492},{233,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/sofa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{847,366}</string>
                <key>spriteSourceSize</key>
                <string>{847,366}</string>
                <key>textureRect</key>
                <string>{{908,546},{847,366}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/table-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{843,317}</string>
                <key>spriteSourceSize</key>
                <string>{847,317}</string>
                <key>textureRect</key>
                <string>{{2208,1},{843,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/table-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{617,311}</string>
                <key>spriteSourceSize</key>
                <string>{621,311}</string>
                <key>textureRect</key>
                <string>{{2378,320},{617,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/table-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{628,317}</string>
                <key>spriteSourceSize</key>
                <string>{632,317}</string>
                <key>textureRect</key>
                <string>{{1276,1098},{628,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/table-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,315}</string>
                <key>spriteSourceSize</key>
                <string>{628,315}</string>
                <key>textureRect</key>
                <string>{{1285,1417},{624,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,288}</string>
                <key>spriteSourceSize</key>
                <string>{700,288}</string>
                <key>textureRect</key>
                <string>{{1276,808},{700,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/tool-glass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,136}</string>
                <key>spriteSourceSize</key>
                <string>{75,136}</string>
                <key>textureRect</key>
                <string>{{1285,1779},{75,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/toolglass-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,88}</string>
                <key>spriteSourceSize</key>
                <string>{42,88}</string>
                <key>textureRect</key>
                <string>{{1559,1828},{42,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/trophy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,203}</string>
                <key>spriteSourceSize</key>
                <string>{163,203}</string>
                <key>textureRect</key>
                <string>{{2619,1619},{163,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/watch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{224,225}</string>
                <key>spriteSourceSize</key>
                <string>{224,233}</string>
                <key>textureRect</key>
                <string>{{2647,1393},{224,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/water-tank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,471}</string>
                <key>spriteSourceSize</key>
                <string>{182,471}</string>
                <key>textureRect</key>
                <string>{{1911,1492},{182,471}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/wood-shelf-small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,21}</string>
                <key>spriteSourceSize</key>
                <string>{153,21}</string>
                <key>textureRect</key>
                <string>{{2348,1837},{153,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/wood-shelf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,43}</string>
                <key>spriteSourceSize</key>
                <string>{509,43}</string>
                <key>textureRect</key>
                <string>{{1285,1734},{509,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>office_mainground.png</string>
            <key>size</key>
            <string>{3158,1871}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:851877fb813520e84b0508aa86e1dd5a:d29461b06a995eaa92c1e2f14dd71837:637ea6ef5db7a5395267f561ba0c4471$</string>
            <key>textureFileName</key>
            <string>office_mainground.png</string>
        </dict>
    </dict>
</plist>
