<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cafe/cafe_foreground/diner_tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,574}</string>
                <key>spriteSourceSize</key>
                <string>{291,574}</string>
                <key>textureRect</key>
                <string>{{1,1159},{291,574}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cafe/cafe_foreground/kitchen_tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,575}</string>
                <key>spriteSourceSize</key>
                <string>{290,575}</string>
                <key>textureRect</key>
                <string>{{1,582},{290,575}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cafe/cafe_foreground/kitchen_tile2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,96}</string>
                <key>spriteSourceSize</key>
                <string>{291,96}</string>
                <key>textureRect</key>
                <string>{{1,1929},{291,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cafe/cafe_foreground/lights.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,316}</string>
                <key>spriteSourceSize</key>
                <string>{192,316}</string>
                <key>textureRect</key>
                <string>{{1,1735},{192,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cafe/cafe_foreground/table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{579,336}</string>
                <key>spriteSourceSize</key>
                <string>{579,336}</string>
                <key>textureRect</key>
                <string>{{1,1},{579,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cafe_foreground.png</string>
            <key>size</key>
            <string>{338,2026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26a50f00cf39334587c5f9e60016e8d3:ced35fbe3e7bdb3b333b2560a4ca9340:ed8f8a96cfdaf0b98cd368e766541bac$</string>
            <key>textureFileName</key>
            <string>cafe_foreground.png</string>
        </dict>
    </dict>
</plist>
