<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>camp/camp4/bonfire1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,154}</string>
                <key>textureRect</key>
                <string>{{901,1778},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp/camp4/bonfire2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{118,150}</string>
                <key>spriteSourceSize</key>
                <string>{118,154}</string>
                <key>textureRect</key>
                <string>{{484,2519},{118,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp/camp4/bonfire3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{118,150}</string>
                <key>spriteSourceSize</key>
                <string>{118,154}</string>
                <key>textureRect</key>
                <string>{{793,701},{118,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp/camp4/clothshop_door_open1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,99}</string>
                <key>spriteSourceSize</key>
                <string>{55,99}</string>
                <key>textureRect</key>
                <string>{{963,809},{55,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp/camp4/door1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,126}</string>
                <key>spriteSourceSize</key>
                <string>{94,126}</string>
                <key>textureRect</key>
                <string>{{914,1300},{94,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp/camp4/door2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,83}</string>
                <key>spriteSourceSize</key>
                <string>{128,83}</string>
                <key>textureRect</key>
                <string>{{838,594},{128,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp/camp4/foreground_bonfire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,209}</string>
                <key>spriteSourceSize</key>
                <string>{117,209}</string>
                <key>textureRect</key>
                <string>{{484,2308},{117,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp/camp4/foreground_log.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,105}</string>
                <key>spriteSourceSize</key>
                <string>{352,105}</string>
                <key>textureRect</key>
                <string>{{484,594},{352,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp/camp4/gym_door_open1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,127}</string>
                <key>spriteSourceSize</key>
                <string>{96,127}</string>
                <key>textureRect</key>
                <string>{{843,1430},{96,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp/camp4/gym_door_open2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{76,127}</string>
                <key>spriteSourceSize</key>
                <string>{96,127}</string>
                <key>textureRect</key>
                <string>{{901,1528},{76,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp/camp4/gym_door_open3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,0}</string>
                <key>spriteSize</key>
                <string>{44,127}</string>
                <key>spriteSourceSize</key>
                <string>{96,127}</string>
                <key>textureRect</key>
                <string>{{603,2308},{44,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp/camp4/main_bridge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{670,152}</string>
                <key>spriteSourceSize</key>
                <string>{672,158}</string>
                <key>textureRect</key>
                <string>{{1,2154},{670,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp/camp4/main_bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,73}</string>
                <key>spriteSourceSize</key>
                <string>{117,73}</string>
                <key>textureRect</key>
                <string>{{901,1898},{117,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp/camp4/main_ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{481,373}</string>
                <key>spriteSourceSize</key>
                <string>{481,373}</string>
                <key>textureRect</key>
                <string>{{1,2308},{481,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp/camp4/main_lantern.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,128}</string>
                <key>spriteSourceSize</key>
                <string>{69,128}</string>
                <key>textureRect</key>
                <string>{{945,679},{69,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp/camp4/main_lantern_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,128}</string>
                <key>spriteSourceSize</key>
                <string>{69,128}</string>
                <key>textureRect</key>
                <string>{{843,1300},{69,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp/camp4/main_picnic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,137}</string>
                <key>spriteSourceSize</key>
                <string>{307,137}</string>
                <key>textureRect</key>
                <string>{{484,701},{307,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp/camp4/main_pot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{255,206}</string>
                <key>spriteSourceSize</key>
                <string>{301,212}</string>
                <key>textureRect</key>
                <string>{{586,1300},{255,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp/camp4/main_stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,62}</string>
                <key>spriteSourceSize</key>
                <string>{119,62}</string>
                <key>textureRect</key>
                <string>{{901,1657},{119,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp/camp4/main_tent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-84,0}</string>
                <key>spriteSize</key>
                <string>{548,377}</string>
                <key>spriteSourceSize</key>
                <string>{990,377}</string>
                <key>textureRect</key>
                <string>{{522,1561},{548,377}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp/camp4/main_tree3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,583}</string>
                <key>spriteSourceSize</key>
                <string>{694,583}</string>
                <key>textureRect</key>
                <string>{{1,865},{694,583}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp/camp4/main_treehouse1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-88,0}</string>
                <key>spriteSize</key>
                <string>{591,519}</string>
                <key>spriteSourceSize</key>
                <string>{939,519}</string>
                <key>textureRect</key>
                <string>{{1,1561},{591,519}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp/camp4/main_treehouse2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-119}</string>
                <key>spriteSize</key>
                <string>{375,458}</string>
                <key>spriteSourceSize</key>
                <string>{601,696}</string>
                <key>textureRect</key>
                <string>{{586,840},{375,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp/camp4/main_treehouse3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,0}</string>
                <key>spriteSize</key>
                <string>{591,521}</string>
                <key>spriteSourceSize</key>
                <string>{875,521}</string>
                <key>textureRect</key>
                <string>{{484,1},{591,521}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp/camp4/main_treehouse4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,10}</string>
                <key>spriteSize</key>
                <string>{481,862}</string>
                <key>spriteSourceSize</key>
                <string>{617,882}</string>
                <key>textureRect</key>
                <string>{{1,1},{481,862}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp/camp4/main_treehouse5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,0}</string>
                <key>spriteSize</key>
                <string>{535,343}</string>
                <key>spriteSourceSize</key>
                <string>{615,343}</string>
                <key>textureRect</key>
                <string>{{673,2111},{535,343}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>camp4.png</string>
            <key>size</key>
            <string>{1020,2682}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d9521e47251a38465c81e653304bf33:9d97d9b925d7b3b7dc335db59f16cc05:f36811cdc655eb459fc9a63c914fa9e1$</string>
            <key>textureFileName</key>
            <string>camp4.png</string>
        </dict>
    </dict>
</plist>
