<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alphamole/alphamolelevel/levelscreen_1bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{466,181}</string>
                <key>spriteSourceSize</key>
                <string>{466,181}</string>
                <key>textureRect</key>
                <string>{{1,1},{466,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamole/alphamolelevel/levelscreen_1tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,165}</string>
                <key>spriteSourceSize</key>
                <string>{127,165}</string>
                <key>textureRect</key>
                <string>{{870,1},{127,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamole/alphamolelevel/levelscreen_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,72}</string>
                <key>spriteSourceSize</key>
                <string>{66,72}</string>
                <key>textureRect</key>
                <string>{{721,91},{66,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamole/alphamolelevel/levelscreen_level.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{399,88}</string>
                <key>spriteSourceSize</key>
                <string>{399,88}</string>
                <key>textureRect</key>
                <string>{{469,1},{399,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamole/alphamolelevel/score.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,56}</string>
                <key>spriteSourceSize</key>
                <string>{250,56}</string>
                <key>textureRect</key>
                <string>{{469,91},{250,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>alphamolelevel.png</string>
            <key>size</key>
            <string>{998,183}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fee79e48142cac765a25d29d2848e21:d0f537b3eb1b547cfa8211321a3ba4be:e16474fd016df990e24e3a23b51d0a16$</string>
            <key>textureFileName</key>
            <string>alphamolelevel.png</string>
        </dict>
    </dict>
</plist>
