<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layercandylevel/bg_mountain4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,330}</string>
                <key>spriteSourceSize</key>
                <string>{362,330}</string>
                <key>textureRect</key>
                <string>{{1,2128},{362,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandylevel/candy4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,111}</string>
                <key>spriteSourceSize</key>
                <string>{121,111}</string>
                <key>textureRect</key>
                <string>{{365,2128},{121,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandylevel/candy5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,111}</string>
                <key>spriteSourceSize</key>
                <string>{123,111}</string>
                <key>textureRect</key>
                <string>{{812,1880},{123,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandylevel/candyplant4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,189}</string>
                <key>spriteSourceSize</key>
                <string>{189,189}</string>
                <key>textureRect</key>
                <string>{{812,1689},{189,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandylevel/candyrock1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,245}</string>
                <key>spriteSourceSize</key>
                <string>{288,245}</string>
                <key>textureRect</key>
                <string>{{522,1644},{288,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandylevel/candyrock2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,243}</string>
                <key>spriteSourceSize</key>
                <string>{288,243}</string>
                <key>textureRect</key>
                <string>{{588,1016},{288,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandylevel/cherry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,217}</string>
                <key>spriteSourceSize</key>
                <string>{150,217}</string>
                <key>textureRect</key>
                <string>{{588,1492},{150,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandylevel/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{519,204}</string>
                <key>spriteSourceSize</key>
                <string>{519,204}</string>
                <key>textureRect</key>
                <string>{{1,1584},{519,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandylevel/cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{606,184}</string>
                <key>spriteSourceSize</key>
                <string>{606,184}</string>
                <key>textureRect</key>
                <string>{{647,408},{606,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandylevel/cloud3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{831,405}</string>
                <key>spriteSourceSize</key>
                <string>{831,405}</string>
                <key>textureRect</key>
                <string>{{1,1},{831,405}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandylevel/cracker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-11}</string>
                <key>spriteSize</key>
                <string>{155,478}</string>
                <key>spriteSourceSize</key>
                <string>{193,500}</string>
                <key>textureRect</key>
                <string>{{834,1},{155,478}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandylevel/gingerbread_house.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{644,589}</string>
                <key>spriteSourceSize</key>
                <string>{644,589}</string>
                <key>textureRect</key>
                <string>{{1,408},{644,589}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandylevel/main_mountain4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,585}</string>
                <key>spriteSourceSize</key>
                <string>{583,585}</string>
                <key>textureRect</key>
                <string>{{1,999},{583,585}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandylevel/main_mountain5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,390}</string>
                <key>spriteSourceSize</key>
                <string>{349,390}</string>
                <key>textureRect</key>
                <string>{{503,1993},{349,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandylevel/main_mountain6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1206,172}</string>
                <key>spriteSourceSize</key>
                <string>{1206,172}</string>
                <key>textureRect</key>
                <string>{{833,481},{1206,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandylevel/peppermint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,500}</string>
                <key>spriteSourceSize</key>
                <string>{336,500}</string>
                <key>textureRect</key>
                <string>{{1,1790},{336,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandylevel/plant2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,229}</string>
                <key>spriteSourceSize</key>
                <string>{184,229}</string>
                <key>textureRect</key>
                <string>{{588,1306},{184,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandylevel/shadow2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,109}</string>
                <key>spriteSourceSize</key>
                <string>{379,109}</string>
                <key>textureRect</key>
                <string>{{854,1993},{379,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>layercandylevel.png</string>
            <key>size</key>
            <string>{1006,2459}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea1adb4b46cc50b79d2d56e3b574c56d:f26fc533ccd3bd3d8e8f51922325c2cd:0d53fbdd9d28c00ba20565d303cdafc6$</string>
            <key>textureFileName</key>
            <string>layercandylevel.png</string>
        </dict>
    </dict>
</plist>
