<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>balloonfarm/balloon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{455,568}</string>
                <key>spriteSourceSize</key>
                <string>{455,568}</string>
                <key>textureRect</key>
                <string>{{1528,863},{455,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/ban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1023,702}</string>
                <key>spriteSourceSize</key>
                <string>{1023,702}</string>
                <key>textureRect</key>
                <string>{{1,1},{1023,702}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{885,332}</string>
                <key>spriteSourceSize</key>
                <string>{885,332}</string>
                <key>textureRect</key>
                <string>{{1026,390},{885,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{804,336}</string>
                <key>spriteSourceSize</key>
                <string>{804,336}</string>
                <key>textureRect</key>
                <string>{{722,863},{804,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/hill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1165,137}</string>
                <key>spriteSourceSize</key>
                <string>{1165,137}</string>
                <key>textureRect</key>
                <string>{{722,724},{1165,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/legbone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,86}</string>
                <key>spriteSourceSize</key>
                <string>{32,86}</string>
                <key>textureRect</key>
                <string>{{632,1666},{32,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/lightning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,218}</string>
                <key>spriteSourceSize</key>
                <string>{137,218}</string>
                <key>textureRect</key>
                <string>{{674,1922},{137,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonfarm/pigbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-47}</string>
                <key>spriteSize</key>
                <string>{439,220}</string>
                <key>spriteSourceSize</key>
                <string>{439,314}</string>
                <key>textureRect</key>
                <string>{{1352,1834},{439,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/pighead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,231}</string>
                <key>spriteSourceSize</key>
                <string>{208,231}</string>
                <key>textureRect</key>
                <string>{{1793,1834},{208,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonfarm/pigleg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,128}</string>
                <key>spriteSourceSize</key>
                <string>{65,128}</string>
                <key>textureRect</key>
                <string>{{632,1304},{65,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/pigleg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,128}</string>
                <key>spriteSourceSize</key>
                <string>{65,128}</string>
                <key>textureRect</key>
                <string>{{1943,1},{65,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{793,124}</string>
                <key>spriteSourceSize</key>
                <string>{793,124}</string>
                <key>textureRect</key>
                <string>{{632,1540},{793,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/shock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{629,473}</string>
                <key>spriteSourceSize</key>
                <string>{629,473}</string>
                <key>textureRect</key>
                <string>{{1,1304},{629,473}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/skeleton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{442,166}</string>
                <key>spriteSourceSize</key>
                <string>{442,166}</string>
                <key>textureRect</key>
                <string>{{1520,1433},{442,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/tractor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{719,597}</string>
                <key>spriteSourceSize</key>
                <string>{719,597}</string>
                <key>textureRect</key>
                <string>{{1,705},{719,597}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/wordballoon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{676,254}</string>
                <key>spriteSourceSize</key>
                <string>{676,254}</string>
                <key>textureRect</key>
                <string>{{674,1666},{676,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/wrongballoon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,231}</string>
                <key>spriteSourceSize</key>
                <string>{560,231}</string>
                <key>textureRect</key>
                <string>{{1427,1601},{560,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/wrongballoon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{671,278}</string>
                <key>spriteSourceSize</key>
                <string>{671,278}</string>
                <key>textureRect</key>
                <string>{{1,1779},{671,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/wrongballoon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{796,337}</string>
                <key>spriteSourceSize</key>
                <string>{796,337}</string>
                <key>textureRect</key>
                <string>{{722,1201},{796,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/wrongballoon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{915,387}</string>
                <key>spriteSourceSize</key>
                <string>{915,387}</string>
                <key>textureRect</key>
                <string>{{1026,1},{915,387}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>balloonfarm.png</string>
            <key>size</key>
            <string>{2025,2060}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb837489259c2d48096564cddc335c12:a21608be854a229b1d3db27cae59387d:2e3afb85e463d7d3c3e891dc899c9b3e$</string>
            <key>textureFileName</key>
            <string>balloonfarm.png</string>
        </dict>
    </dict>
</plist>
