<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
	</dict>
	<key>category_names</key>
	<array />
	<key>bodies</key>
	<dict>
		<key>almirah</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.50100 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.2</real>
					<key>friction</key>
					<real>0.7</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 15.75000,60.87500 }</string>
							<string>{ 20.00000,58.62500 }</string>
							<string>{ -19.50000,58.62500 }</string>
							<string>{ -15.75000,60.87500 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>chair</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.50100 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -13.25000,0.87500 }</string>
							<string>{ -2.00000,2.37500 }</string>
							<string>{ 10.50000,1.12500 }</string>
							<string>{ 25.50000,-13.62500 }</string>
							<string>{ -25.75000,-13.62500 }</string>
							<string>{ -25.75000,-3.62500 }</string>
						</array>
						<array>
							<string>{ 25.50000,-13.62500 }</string>
							<string>{ 10.50000,1.12500 }</string>
							<string>{ 26.00000,-4.12500 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>sofa</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50100,0.50000 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -75.87500,-2.00000 }</string>
							<string>{ 75.87500,-1.75000 }</string>
							<string>{ 80.87500,-5.25000 }</string>
							<string>{ -81.37500,-5.75000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>table</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.50000 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 84.00000,33.25000 }</string>
							<string>{ 86.50000,30.25000 }</string>
							<string>{ -86.75000,30.25000 }</string>
							<string>{ -84.75000,33.50000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>almirah-1</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50300,0.50100 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -19.87500,53.62500 }</string>
							<string>{ 21.37500,53.62500 }</string>
							<string>{ 24.37500,51.87500 }</string>
							<string>{ -23.12500,51.87500 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>chair-01</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.49900 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 21.50000,-7.87500 }</string>
							<string>{ -21.75000,-7.87500 }</string>
							<string>{ -21.75000,-4.37500 }</string>
							<string>{ -11.00000,-1.12500 }</string>
							<string>{ 0.25000,-0.12500 }</string>
							<string>{ 12.50000,-1.62500 }</string>
							<string>{ 21.25000,-4.62500 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>chair-02</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50200,0.50100 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 28.12500,-3.87500 }</string>
							<string>{ 28.12500,-11.62500 }</string>
							<string>{ -28.62500,-11.62500 }</string>
							<string>{ -28.62500,-3.87500 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>employee-desk</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50100,0.50100 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 112.87500,57.62500 }</string>
							<string>{ -106.62500,57.37500 }</string>
							<string>{ -106.62500,67.37500 }</string>
							<string>{ 112.87500,67.62500 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>floor-1</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.49900,0.50200 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>3</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>1</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 100.37500,-8.87500 }</string>
							<string>{ 100.37500,-60.37500 }</string>
							<string>{ -94.12500,-60.37500 }</string>
							<string>{ -94.12500,-8.62500 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>floor-2</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.49600,0.50200 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>3</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>1</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 27.12500,-45.12500 }</string>
							<string>{ -27.87500,-44.87500 }</string>
							<string>{ -27.87500,-7.12500 }</string>
							<string>{ 27.62500,-7.12500 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>small-table</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.49800,0.50000 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 27.87500,22.75000 }</string>
							<string>{ -28.87500,22.75000 }</string>
							<string>{ -24.62500,25.00000 }</string>
							<string>{ 24.12500,25.00000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>table-1</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50100,0.49800 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -98.12500,35.12500 }</string>
							<string>{ 101.87500,34.62500 }</string>
							<string>{ 101.87500,30.37500 }</string>
							<string>{ -101.87500,30.37500 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>table-2</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.49900,0.50200 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 72.62500,29.37500 }</string>
							<string>{ -75.12500,29.37500 }</string>
							<string>{ -74.87500,34.87500 }</string>
							<string>{ 72.62500,34.87500 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>table-3</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.49800 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -76.50000,29.87500 }</string>
							<string>{ -76.50000,34.37500 }</string>
							<string>{ 73.75000,34.37500 }</string>
							<string>{ 73.75000,29.62500 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>table-4</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.50200 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 72.75000,34.62500 }</string>
							<string>{ 72.75000,24.62500 }</string>
							<string>{ -75.50000,24.62500 }</string>
							<string>{ -75.50000,34.62500 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>water-tank</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.50100 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -17.75000,48.62500 }</string>
							<string>{ -17.75000,58.62500 }</string>
							<string>{ 16.25000,58.87500 }</string>
							<string>{ 16.50000,48.87500 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>wood-shelf</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.49900,0.51200 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 59.37500,3.37500 }</string>
							<string>{ 63.62500,0.37500 }</string>
							<string>{ -63.87500,0.37500 }</string>
							<string>{ -59.62500,3.37500 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>