<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>balloonpoplevel/balloonpop_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{569,228}</string>
                <key>spriteSourceSize</key>
                <string>{569,228}</string>
                <key>textureRect</key>
                <string>{{198,395},{569,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonpoplevel/balloonpop_grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,296}</string>
                <key>spriteSourceSize</key>
                <string>{203,296}</string>
                <key>textureRect</key>
                <string>{{198,625},{203,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonpoplevel/balloonpop_grass2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,237}</string>
                <key>spriteSourceSize</key>
                <string>{208,237}</string>
                <key>textureRect</key>
                <string>{{496,625},{208,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonpoplevel/balloonpop_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,738}</string>
                <key>spriteSourceSize</key>
                <string>{195,738}</string>
                <key>textureRect</key>
                <string>{{198,198},{195,738}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonpoplevel/balloonpop_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,756}</string>
                <key>spriteSourceSize</key>
                <string>{195,756}</string>
                <key>textureRect</key>
                <string>{{1,1},{195,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonpoplevel/balloonpop_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,752}</string>
                <key>spriteSourceSize</key>
                <string>{195,752}</string>
                <key>textureRect</key>
                <string>{{198,1},{195,752}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>balloonpoplevel.png</string>
            <key>size</key>
            <string>{951,834}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:644926afe155f7276a920912139e5cda:4af9d498b83e87b1a8b1d0a5ef47d502:c59d409ec867a5163e77d4a8f97b035d$</string>
            <key>textureFileName</key>
            <string>balloonpoplevel.png</string>
        </dict>
    </dict>
</plist>
