<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Shape/circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,244}</string>
                <key>spriteSourceSize</key>
                <string>{243,244}</string>
                <key>textureRect</key>
                <string>{{2924,907},{243,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/circle_trans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,409}</string>
                <key>spriteSourceSize</key>
                <string>{394,409}</string>
                <key>textureRect</key>
                <string>{{2751,271},{394,409}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,221}</string>
                <key>spriteSourceSize</key>
                <string>{150,221}</string>
                <key>textureRect</key>
                <string>{{2126,1712},{150,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/diamond_trans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,254}</string>
                <key>spriteSourceSize</key>
                <string>{254,254}</string>
                <key>textureRect</key>
                <string>{{2815,1382},{254,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,463}</string>
                <key>spriteSourceSize</key>
                <string>{268,463}</string>
                <key>textureRect</key>
                <string>{{2751,1},{268,463}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/fish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{138,103}</string>
                <key>spriteSourceSize</key>
                <string>{142,113}</string>
                <key>textureRect</key>
                <string>{{2349,1712},{138,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/fish_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{134,103}</string>
                <key>spriteSourceSize</key>
                <string>{142,113}</string>
                <key>textureRect</key>
                <string>{{2511,1656},{134,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/fish_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{132,101}</string>
                <key>spriteSourceSize</key>
                <string>{142,113}</string>
                <key>textureRect</key>
                <string>{{2647,1656},{132,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/fish_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{130,97}</string>
                <key>spriteSourceSize</key>
                <string>{142,113}</string>
                <key>textureRect</key>
                <string>{{3116,1153},{130,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/fish_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{128,93}</string>
                <key>spriteSourceSize</key>
                <string>{142,113}</string>
                <key>textureRect</key>
                <string>{{3116,1285},{128,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/fish_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{126,91}</string>
                <key>spriteSourceSize</key>
                <string>{142,113}</string>
                <key>textureRect</key>
                <string>{{3071,1415},{126,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/fish_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-3}</string>
                <key>spriteSize</key>
                <string>{124,87}</string>
                <key>spriteSourceSize</key>
                <string>{142,113}</string>
                <key>textureRect</key>
                <string>{{3071,1508},{124,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/fish_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-3}</string>
                <key>spriteSize</key>
                <string>{120,85}</string>
                <key>spriteSourceSize</key>
                <string>{142,113}</string>
                <key>textureRect</key>
                <string>{{3073,1597},{120,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/fish_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-2}</string>
                <key>spriteSize</key>
                <string>{118,81}</string>
                <key>spriteSourceSize</key>
                <string>{142,113}</string>
                <key>textureRect</key>
                <string>{{3073,1684},{118,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/fish_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-1}</string>
                <key>spriteSize</key>
                <string>{116,81}</string>
                <key>spriteSourceSize</key>
                <string>{142,113}</string>
                <key>textureRect</key>
                <string>{{3073,1767},{116,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/fish_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{114,79}</string>
                <key>spriteSourceSize</key>
                <string>{142,113}</string>
                <key>textureRect</key>
                <string>{{3124,785},{114,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/fish_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{116,81}</string>
                <key>spriteSourceSize</key>
                <string>{142,113}</string>
                <key>textureRect</key>
                <string>{{3124,667},{116,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/painting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,238}</string>
                <key>spriteSourceSize</key>
                <string>{513,238}</string>
                <key>textureRect</key>
                <string>{{2609,667},{513,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/pentagon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,227}</string>
                <key>spriteSourceSize</key>
                <string>{262,227}</string>
                <key>textureRect</key>
                <string>{{2852,1153},{262,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/pentagon_trans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,393}</string>
                <key>spriteSourceSize</key>
                <string>{383,393}</string>
                <key>textureRect</key>
                <string>{{2126,1317},{383,393}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,229}</string>
                <key>spriteSourceSize</key>
                <string>{306,229}</string>
                <key>textureRect</key>
                <string>{{2544,1127},{306,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/square_trans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{477,395}</string>
                <key>spriteSourceSize</key>
                <string>{477,395}</string>
                <key>textureRect</key>
                <string>{{2130,606},{477,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/stairs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{619,603}</string>
                <key>spriteSourceSize</key>
                <string>{619,603}</string>
                <key>textureRect</key>
                <string>{{2130,1},{619,603}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,244}</string>
                <key>spriteSourceSize</key>
                <string>{256,244}</string>
                <key>textureRect</key>
                <string>{{2815,1638},{256,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/star_trans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,296}</string>
                <key>spriteSourceSize</key>
                <string>{302,296}</string>
                <key>textureRect</key>
                <string>{{2511,1358},{302,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/tringle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,218}</string>
                <key>spriteSourceSize</key>
                <string>{313,218}</string>
                <key>textureRect</key>
                <string>{{2609,907},{313,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/tringle_trans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{412,312}</string>
                <key>spriteSourceSize</key>
                <string>{412,312}</string>
                <key>textureRect</key>
                <string>{{2130,1003},{412,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/water_level.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2123,770}</string>
                <key>spriteSourceSize</key>
                <string>{2123,770}</string>
                <key>textureRect</key>
                <string>{{1,1120},{2123,770}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/water_tank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2127,1117}</string>
                <key>spriteSourceSize</key>
                <string>{2127,1117}</string>
                <key>textureRect</key>
                <string>{{1,1},{2127,1117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Shape.png</string>
            <key>size</key>
            <string>{3215,1891}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05f345e2598d320fba498d480dfa04af:845d24d8f8b09a7767cf5d10a955e13b:9b948e586ae39f0c1c6e082c72584c4e$</string>
            <key>textureFileName</key>
            <string>Shape.png</string>
        </dict>
    </dict>
</plist>
