<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>faceavatar/eye1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3823,1813},{458,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{458,163}</string>
			</dict>
			<key>faceavatar/eye2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2685,915},{420,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{420,126}</string>
			</dict>
			<key>faceavatar/eye3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1374,2337},{487,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{487,125}</string>
			</dict>
			<key>faceavatar/eye4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3940},{590,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{590,141}</string>
			</dict>
			<key>faceavatar/eye5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1217,1939},{541,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{541,157}</string>
			</dict>
			<key>faceavatar/eye6.png</key>
			<dict>
				<key>frame</key>
				<string>{{3857,1259},{554,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{554,177}</string>
			</dict>
			<key>faceavatar/eyeballs1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2018,1231},{364,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{364,103}</string>
			</dict>
			<key>faceavatar/eyeballs2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2503,3034},{357,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{357,103}</string>
			</dict>
			<key>faceavatar/eyeballs3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3986,2174},{360,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,104}</string>
			</dict>
			<key>faceavatar/eyeballs4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2143,3112},{360,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,103}</string>
			</dict>
			<key>faceavatar/eyeballs5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1783,3112},{360,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,104}</string>
			</dict>
			<key>faceavatar/eyeballs6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2859,2098},{358,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{358,103}</string>
			</dict>
			<key>faceavatar/eyebrow1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,871},{471,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{471,59}</string>
			</dict>
			<key>faceavatar/eyebrow2.png</key>
			<dict>
				<key>frame</key>
				<string>{{4034,1259},{440,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{440,62}</string>
			</dict>
			<key>faceavatar/eyebrow3.png</key>
			<dict>
				<key>frame</key>
				<string>{{4034,1699},{475,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{475,57}</string>
			</dict>
			<key>faceavatar/eyebrow4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1408,1254},{475,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{475,43}</string>
			</dict>
			<key>faceavatar/eyebrow5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2894,915},{471,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{471,42}</string>
			</dict>
			<key>faceavatar/eyebrow6.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,3902},{503,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{503,30}</string>
			</dict>
			<key>faceavatar/faceshape1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1458,0},{871,558}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{871,558}</string>
			</dict>
			<key>faceavatar/faceshape2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3346,2966},{654,561}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{654,561}</string>
			</dict>
			<key>faceavatar/faceshape3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1931,1989},{794,563}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{794,563}</string>
			</dict>
			<key>faceavatar/faceshape4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2639,3137},{707,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{707,566}</string>
			</dict>
			<key>faceavatar/faceshape5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1457,871},{744,502}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{744,502}</string>
			</dict>
			<key>faceavatar/faceshape6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1217,2480},{783,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{783,566}</string>
			</dict>
			<key>faceavatar/mouth1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3785,2271},{378,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{378,89}</string>
			</dict>
			<key>faceavatar/mouth2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2382,1231},{274,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,111}</string>
			</dict>
			<key>faceavatar/mouth3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3217,2098},{351,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,97}</string>
			</dict>
			<key>faceavatar/mouth4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2811,1179},{75,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,122}</string>
			</dict>
			<key>faceavatar/mouth5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1783,2462},{351,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{351,119}</string>
			</dict>
			<key>faceavatar/mouth6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1076,4020},{210,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,73}</string>
			</dict>
			<key>faceavatar/nose1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2811,915},{77,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,137}</string>
			</dict>
			<key>faceavatar/nose2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1374,1939},{95,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,60}</string>
			</dict>
			<key>faceavatar/nose3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3874,2271},{93,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,123}</string>
			</dict>
			<key>faceavatar/nose4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2894,1386},{42,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,107}</string>
			</dict>
			<key>faceavatar/nose5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3857,787},{39,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,102}</string>
			</dict>
			<key>faceavatar/nose6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2811,1052},{77,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,127}</string>
			</dict>
			<key>faceavatar/eyeballsnormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{2019,3877},{217,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,217}</string>
			</dict>
			<key>faceavatar/eyeballspressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{1458,3636},{241,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,241}</string>
			</dict>
			<key>faceavatar/eyebrownormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{3100,2271},{217,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,217}</string>
			</dict>
			<key>faceavatar/eyebrowpressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{1699,3636},{241,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,241}</string>
			</dict>
			<key>faceavatar/eyenormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{3568,2098},{217,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,217}</string>
			</dict>
			<key>faceavatar/eyepressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{1940,3636},{241,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,241}</string>
			</dict>
			<key>faceavatar/faceshapenormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{3874,2534},{217,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,217}</string>
			</dict>
			<key>faceavatar/faceshapepressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{1902,2552},{241,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,241}</string>
			</dict>
			<key>faceavatar/mouthnormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{3317,2195},{217,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,217}</string>
			</dict>
			<key>faceavatar/mouthpressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{2143,2552},{241,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,241}</string>
			</dict>
			<key>faceavatar/nosenormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{3534,2315},{217,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,217}</string>
			</dict>
			<key>faceavatar/nosepressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{2238,2793},{241,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,241}</string>
			</dict>
			<key>faceavatar/bgball1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1217,1217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1217,1217}</string>
			</dict>
			<key>faceavatar/finish.png</key>
			<dict>
				<key>frame</key>
				<string>{{1963,3216},{337,337}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{337,337}</string>
			</dict>
			<key>faceavatar/shuffle.png</key>
			<dict>
				<key>frame</key>
				<string>{{2300,3215},{337,337}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{337,337}</string>
			</dict>
			<key>faceavatar/finishpressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{1217,3263},{373,373}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{373,373}</string>
			</dict>
			<key>faceavatar/shufflepressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{1590,3263},{373,373}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{373,373}</string>
			</dict>
			<key>faceavatar/bgball2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1217},{1217,1217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1217,1217}</string>
			</dict>
			<key>faceavatar/bgball3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2434},{1217,1217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1217,1217}</string>
			</dict>
			<key>faceavatar/hair1back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1451,1615},{722,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{722,480}</string>
			</dict>
			<key>faceavatar/hair1front.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3651},{804,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{804,289}</string>
			</dict>
			<key>faceavatar/hair2back.png</key>
			<dict>
				<key>frame</key>
				<string>{{2938,0},{960,787}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{960,787}</string>
			</dict>
			<key>faceavatar/hair2front.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,3940},{486,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{486,152}</string>
			</dict>
			<key>faceavatar/hair3back.png</key>
			<dict>
				<key>frame</key>
				<string>{{2019,0},{919,915}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{919,915}</string>
			</dict>
			<key>faceavatar/hair3front.png</key>
			<dict>
				<key>frame</key>
				<string>{{1217,674},{580,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{580,240}</string>
			</dict>
			<key>faceavatar/hair4back.png</key>
			<dict>
				<key>frame</key>
				<string>{{2938,787},{919,695}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{919,695}</string>
			</dict>
			<key>faceavatar/hair4front.png</key>
			<dict>
				<key>frame</key>
				<string>{{2725,1989},{538,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{538,134}</string>
			</dict>
			<key>faceavatar/hair5back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,1342},{935,647}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{935,647}</string>
			</dict>
			<key>faceavatar/hair5front.png</key>
			<dict>
				<key>frame</key>
				<string>{{1217,1254},{685,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{685,191}</string>
			</dict>
			<key>faceavatar/hair6back.png</key>
			<dict>
				<key>frame</key>
				<string>{{2936,1482},{887,616}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{887,616}</string>
			</dict>
			<key>faceavatar/hair6front.png</key>
			<dict>
				<key>frame</key>
				<string>{{1307,3902},{712,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{712,185}</string>
			</dict>
			<key>faceavatar/body.png</key>
			<dict>
				<key>frame</key>
				<string>{{1783,2813},{455,299}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{455,299}</string>
			</dict>
			<key>faceavatar/facecolornormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{3317,2412},{217,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,217}</string>
			</dict>
			<key>faceavatar/facecolorpressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{2384,2552},{241,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,241}</string>
			</dict>
			<key>faceavatar/hairnormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{3534,2532},{217,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,217}</string>
			</dict>
			<key>faceavatar/hairpressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{2479,2793},{241,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,241}</string>
			</dict>
			<key>faceavatar/haircolornormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{2236,3794},{217,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,217}</string>
			</dict>
			<key>faceavatar/haircolorpressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{2625,2552},{241,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,241}</string>
			</dict>
			<key>faceavatar/eyewear1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1076,3932},{208,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,88}</string>
			</dict>
			<key>faceavatar/eyewear2.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,3651},{654,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{654,251}</string>
			</dict>
			<key>faceavatar/eyewear3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2018,915},{667,316}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{667,316}</string>
			</dict>
			<key>faceavatar/eyewear4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1217,0},{674,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{674,216}</string>
			</dict>
			<key>faceavatar/eyewear5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3898,0},{627,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{627,178}</string>
			</dict>
			<key>faceavatar/eyewear6.png</key>
			<dict>
				<key>frame</key>
				<string>{{3898,627},{632,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{632,175}</string>
			</dict>
			<key>faceavatar/eyewearnormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{2422,3552},{217,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,217}</string>
			</dict>
			<key>faceavatar/eyewearpressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{2859,2271},{241,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,241}</string>
			</dict>
			<key>faceavatar/facewearnormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{2453,3769},{217,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,217}</string>
			</dict>
			<key>faceavatar/facewearpressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{2181,3553},{241,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,241}</string>
			</dict>
			<key>faceavatar/headwearnormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{3107,2629},{217,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,217}</string>
			</dict>
			<key>faceavatar/headwearpressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{2720,2793},{241,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,241}</string>
			</dict>
			<key>faceavatar/neckwearnormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{3324,2749},{217,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,217}</string>
			</dict>
			<key>faceavatar/neckwearpressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{2866,2512},{241,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,241}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>faceavatar.png</string>
			<key>realTextureFileName</key>
			<string>faceavatar.png</string>
			<key>size</key>
			<string>{4096,4094}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>4094</integer>
		</dict>
	</dict>
</plist>