<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Alpha Kombat/ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{2,1501},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alpha Kombat/bamboo_trees.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,1010}</string>
                <key>spriteSourceSize</key>
                <string>{335,1010}</string>
                <key>textureRect</key>
                <string>{{461,2},{335,1010}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Alpha Kombat/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,900}</string>
                <key>spriteSourceSize</key>
                <string>{1280,900}</string>
                <key>textureRect</key>
                <string>{{461,337},{1280,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Alpha Kombat/dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{2,1659},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alpha Kombat/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1499,197}</string>
                <key>spriteSourceSize</key>
                <string>{1499,197}</string>
                <key>textureRect</key>
                <string>{{2,2},{1499,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Alpha Kombat/ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1485,262}</string>
                <key>spriteSourceSize</key>
                <string>{1485,262}</string>
                <key>textureRect</key>
                <string>{{199,2},{1485,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>-Alphacombat.png</string>
            <key>size</key>
            <string>{1473,1681}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3e8d16c34c9e5f988ace1b752372541:5d1a6ae368f67dd6270be950a93786a6:5ebfaac80561937e3a35bbd9fc93c7d4$</string>
            <key>textureFileName</key>
            <string>-Alphacombat.png</string>
        </dict>
    </dict>
</plist>
