<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_ground/background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1281,461}</string>
                <key>spriteSourceSize</key>
                <string>{1281,461}</string>
                <key>textureRect</key>
                <string>{{1,1},{1281,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_ground/background_extra.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,462}</string>
                <key>spriteSourceSize</key>
                <string>{166,462}</string>
                <key>textureRect</key>
                <string>{{1284,126},{166,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>battle_ground/green_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,24}</string>
                <key>spriteSourceSize</key>
                <string>{370,24}</string>
                <key>textureRect</key>
                <string>{{1793,109},{370,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_ground/red_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,24}</string>
                <key>spriteSourceSize</key>
                <string>{370,24}</string>
                <key>textureRect</key>
                <string>{{1748,135},{370,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_ground/rock_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,106}</string>
                <key>spriteSourceSize</key>
                <string>{511,106}</string>
                <key>textureRect</key>
                <string>{{1793,1},{511,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_ground/rock_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,123}</string>
                <key>spriteSourceSize</key>
                <string>{507,123}</string>
                <key>textureRect</key>
                <string>{{1284,1},{507,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_ground/timer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{1284,346},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_ground/timer_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{1427,346},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_ground/timer_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{1570,346},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_ground/timer_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{2306,1},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_ground/timer_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{1748,187},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_ground/timer_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{1891,187},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_ground/timer_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{1713,330},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_ground/timer_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{1856,330},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_ground/timer_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{2034,187},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_ground/timer_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{1999,330},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_ground/timer_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{2142,330},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_ground/timer_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{2297,144},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_ground/timer_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{2285,287},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_ground/timer_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,45}</string>
                <key>spriteSourceSize</key>
                <string>{47,45}</string>
                <key>textureRect</key>
                <string>{{1657,294},{47,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_ground/upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,107}</string>
                <key>spriteSourceSize</key>
                <string>{118,107}</string>
                <key>textureRect</key>
                <string>{{2177,109},{118,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_ground/white_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,24}</string>
                <key>spriteSourceSize</key>
                <string>{370,24}</string>
                <key>textureRect</key>
                <string>{{1748,161},{370,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_ground/white_bar_verticle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,371}</string>
                <key>spriteSourceSize</key>
                <string>{24,371}</string>
                <key>textureRect</key>
                <string>{{1284,294},{24,371}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>battle_ground/yellow_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,371}</string>
                <key>spriteSourceSize</key>
                <string>{24,371}</string>
                <key>textureRect</key>
                <string>{{1284,320},{24,371}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battle_ground.png</string>
            <key>size</key>
            <string>{2448,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03e5747393bea486be1cc2a782b70501:460c79b26cc2395323ef409e31af7b62:62dff5eafcbdcb64de353fa38f8f9f07$</string>
            <key>textureFileName</key>
            <string>battle_ground.png</string>
        </dict>
    </dict>
</plist>
