<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blast_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{45,51}</string>
                <key>spriteSourceSize</key>
                <string>{275,275}</string>
                <key>textureRect</key>
                <string>{{96,401},{45,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blast_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{91,93}</string>
                <key>spriteSourceSize</key>
                <string>{275,275}</string>
                <key>textureRect</key>
                <string>{{1,401},{91,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blast_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{161,143}</string>
                <key>spriteSourceSize</key>
                <string>{275,275}</string>
                <key>textureRect</key>
                <string>{{198,190},{161,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blast_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{195,197}</string>
                <key>spriteSourceSize</key>
                <string>{275,275}</string>
                <key>textureRect</key>
                <string>{{1,1},{195,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blast_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,2}</string>
                <key>spriteSize</key>
                <string>{195,187}</string>
                <key>spriteSourceSize</key>
                <string>{275,275}</string>
                <key>textureRect</key>
                <string>{{198,1},{195,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blast_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{199,189}</string>
                <key>spriteSourceSize</key>
                <string>{275,275}</string>
                <key>textureRect</key>
                <string>{{1,200},{199,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blast_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{157,151}</string>
                <key>spriteSourceSize</key>
                <string>{275,275}</string>
                <key>textureRect</key>
                <string>{{192,335},{157,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blast_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{155,151}</string>
                <key>spriteSourceSize</key>
                <string>{275,275}</string>
                <key>textureRect</key>
                <string>{{345,335},{155,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>blast.png</string>
            <key>size</key>
            <string>{497,493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f85000d491255286e47ca55036579d9:784a0466d8c0a487fea263f95d950bff:18ced10567bb4050c608da8ea6bd9323$</string>
            <key>textureFileName</key>
            <string>blast.png</string>
        </dict>
    </dict>
</plist>
