<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alphagrid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{475,901}</string>
                <key>spriteSourceSize</key>
                <string>{475,901}</string>
                <key>textureRect</key>
                <string>{{1287,1},{475,901}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_timebar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,52}</string>
                <key>spriteSourceSize</key>
                <string>{503,52}</string>
                <key>textureRect</key>
                <string>{{111,904},{503,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,108}</string>
                <key>spriteSourceSize</key>
                <string>{96,108}</string>
                <key>textureRect</key>
                <string>{{1,904},{96,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>green_timebar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{499,50}</string>
                <key>spriteSourceSize</key>
                <string>{499,60}</string>
                <key>textureRect</key>
                <string>{{616,904},{499,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1284,901}</string>
                <key>spriteSourceSize</key>
                <string>{1284,901}</string>
                <key>textureRect</key>
                <string>{{1,1},{1284,901}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fort_plist.png</string>
            <key>size</key>
            <string>{1763,1001}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3aa9b78d66c98116c6967f4e39c87ed7:3359df043f69d07833a34921534080c3:a86366906121364c233bf5719a71f892$</string>
            <key>textureFileName</key>
            <string>fort_plist.png</string>
        </dict>
    </dict>
</plist>
