<plist version="1.0">
    <dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>category_names</key>
        <array>
        </array>
        <key>bodies</key>
        <dict>

            <key>table</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.49800 }</string>
                <key>is_dynamic</key>
                <false />
                <key>affected_by_gravity</key>
                <false />
                <key>allows_rotation</key>
                <false />
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1000000</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1000000</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.200000003</real>
                        <key>friction</key>
                        <real>0.699999988</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>2</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 353.50000,72.75000 }</string>
                                <string>{ 356.00000,-70.75000 }</string>
                                <string>{ -357.50000,-71.25000 }</string>
                                <string>{ -358.50000,73.25000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>chair</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50100,0.50100 }</string>
                <key>is_dynamic</key>
                <false />
                <key>affected_by_gravity</key>
                <false />
                <key>allows_rotation</key>
                <false />
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1000000</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1000000</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>2</real>
                        <key>restitution</key>
                        <real>0.20000000000000001</real>
                        <key>friction</key>
                        <real>0.69999999999999996</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>2</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ -86.75000,-104.75000 }</string>
                                <string>{ 30.75000,93.75000 }</string>
                                <string>{ 87.75000,103.75000 }</string>
                                <string>{ 86.75000,-105.25000 }</string>
                            </array>
                            <array>
                                <string>{ -31.25000,93.75000 }</string>
                                <string>{ -86.75000,-104.75000 }</string>
                                <string>{ -86.75000,104.25000 }</string>
                            </array>
                            <array>
                                <string>{ 30.75000,93.75000 }</string>
                                <string>{ -86.75000,-104.75000 }</string>
                                <string>{ -31.25000,93.75000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>counter</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50024,0.50000 }</string>
                <key>is_dynamic</key>
                <false />
                <key>affected_by_gravity</key>
                <false />
                <key>allows_rotation</key>
                <false />
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1000000</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1000000</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.200000003</real>
                        <key>friction</key>
                        <real>0.699999988</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>2</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ -530.75000,-156.00000 }</string>
                                <string>{ -530.75000,112.00000 }</string>
                                <string>{ -462.75000,160.50000 }</string>
                                <string>{ 469.25000,154.50000 }</string>
                                <string>{ 531.75000,112.00000 }</string>
                                <string>{ 533.75000,-159.50000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>music</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.49957,0.50000 }</string>
                <key>is_dynamic</key>
                <false />
                <key>affected_by_gravity</key>
                <false />
                <key>allows_rotation</key>
                <false />
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1000000</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1000000</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.200000003</real>
                        <key>friction</key>
                        <real>0.699999988</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>2</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ -196.75000,-11.50000 }</string>
                                <string>{ -151.25000,10.00000 }</string>
                                <string>{ 138.25000,11.00000 }</string>
                                <string>{ 181.75000,-9.50000 }</string>
                                <string>{ 181.25000,-196.50000 }</string>
                                <string>{ -198.25000,-199.50000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>pillar</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.49968 }</string>
                <key>is_dynamic</key>
                <false />
                <key>affected_by_gravity</key>
                <false />
                <key>allows_rotation</key>
                <false />
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1000000</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1000000</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.200000003</real>
                        <key>friction</key>
                        <real>0.699999988</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>2</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 26.00000,-383.25000 }</string>
                                <string>{ -24.00000,-385.25000 }</string>
                                <string>{ -27.50000,384.75000 }</string>
                                <string>{ 24.50000,386.25000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>club_tile</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>is_dynamic</key>
                <false />
                <key>affected_by_gravity</key>
                <false />
                <key>allows_rotation</key>
                <false />
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1000000</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1000000</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.200000003</real>
                        <key>friction</key>
                        <real>0.699999988</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>3</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>1</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ -138.50000,-34.50000 }</string>
                                <string>{ 133.50000,-33.50000 }</string>
                                <string>{ 130.00000,-180.50000 }</string>
                                <string>{ -140.50000,-181.50000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

        </dict>
    </dict>
</plist>