<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crossthebridge/enemy_01/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,135}</string>
                <key>spriteSourceSize</key>
                <string>{120,135}</string>
                <key>textureRect</key>
                <string>{{134,119},{120,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crossthebridge/enemy_01/face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,116}</string>
                <key>spriteSourceSize</key>
                <string>{169,116}</string>
                <key>textureRect</key>
                <string>{{134,1},{169,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/enemy_01/hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,71}</string>
                <key>spriteSourceSize</key>
                <string>{32,71}</string>
                <key>textureRect</key>
                <string>{{305,1},{32,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/enemy_01/leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,50}</string>
                <key>spriteSourceSize</key>
                <string>{37,50}</string>
                <key>textureRect</key>
                <string>{{305,74},{37,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crossthebridge/enemy_02/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,135}</string>
                <key>spriteSourceSize</key>
                <string>{120,135}</string>
                <key>textureRect</key>
                <string>{{271,119},{120,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crossthebridge/enemy_02/face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,162}</string>
                <key>spriteSourceSize</key>
                <string>{131,162}</string>
                <key>textureRect</key>
                <string>{{1,1},{131,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/enemy_02/hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,71}</string>
                <key>spriteSourceSize</key>
                <string>{32,71}</string>
                <key>textureRect</key>
                <string>{{339,1},{32,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/enemy_02/leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,50}</string>
                <key>spriteSourceSize</key>
                <string>{37,50}</string>
                <key>textureRect</key>
                <string>{{357,74},{37,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crossthebridge/enemy_02/wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,99}</string>
                <key>spriteSourceSize</key>
                <string>{49,99}</string>
                <key>textureRect</key>
                <string>{{1,165},{49,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy.png</string>
            <key>size</key>
            <string>{408,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:484f7b9a46d754ac688c1d9d219d32e3:3e367c6a256593f2e30eab4c1013bf50:9c1428353a026bee298574c534d4acae$</string>
            <key>textureFileName</key>
            <string>enemy.png</string>
        </dict>
    </dict>
</plist>
