<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chimpleloading/chimple loading0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{460,134}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{461,3195},{460,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{460,132}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{1,1453},{460,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{460,132}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{463,1453},{460,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{458,130}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{1,1},{458,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{458,130}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{461,1},{458,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{458,130}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{1,133},{458,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{458,130}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{461,133},{458,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{458,130}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{1,265},{458,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{458,130}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{461,265},{458,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{458,130}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{1,397},{458,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{458,132}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{1,1587},{458,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{458,132}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{461,1587},{458,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{458,130}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{461,397},{458,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{458,130}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{1,529},{458,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{458,130}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{461,529},{458,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{458,130}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{1,661},{458,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{458,130}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{461,661},{458,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{460,130}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{1,793},{460,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{460,132}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{1,1721},{460,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{460,132}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{463,1721},{460,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{462,132}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{1,1855},{462,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{460,132}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{1,1989},{460,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{460,132}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{463,1989},{460,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{458,132}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{465,1855},{458,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{458,132}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{1,2123},{458,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{456,132}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{461,2123},{456,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{456,132}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{1,2257},{456,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{458,132}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{459,2257},{458,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{458,132}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{1,2391},{458,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{458,132}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{461,2391},{458,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{460,132}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{1,2525},{460,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{458,132}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{463,2525},{458,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{458,132}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{1,2659},{458,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{456,132}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{461,2659},{456,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{456,132}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{1,2793},{456,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{456,132}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{459,2793},{456,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{458,132}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{1,2927},{458,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{458,132}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{461,2927},{458,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{458,132}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{1,3061},{458,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{460,132}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{461,3061},{460,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{458,132}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{1,3195},{458,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{458,130}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{463,793},{458,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{458,130}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{1,925},{458,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{458,130}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{461,925},{458,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{458,130}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{1,1057},{458,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{458,130}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{461,1057},{458,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{458,130}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{1,1189},{458,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{460,130}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{461,1189},{460,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{460,130}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{1,1321},{460,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading0050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{460,130}</string>
                <key>spriteSourceSize</key>
                <string>{468,138}</string>
                <key>textureRect</key>
                <string>{{463,1321},{460,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chimpleloading.png</string>
            <key>size</key>
            <string>{924,3330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66edbd51cea8cac3598c7bcd1f79958c:992f145746a518fb659563f4e760b720:4905752b3c91e8587e392f281f1a8417$</string>
            <key>textureFileName</key>
            <string>chimpleloading.png</string>
        </dict>
    </dict>
</plist>
