<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>farmhouse/farmhouse1/backgrass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{749,482}</string>
                <key>spriteSourceSize</key>
                <string>{749,482}</string>
                <key>textureRect</key>
                <string>{{3030,1089},{749,482}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/barnhouse_door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1058,756}</string>
                <key>spriteSourceSize</key>
                <string>{1058,756}</string>
                <key>textureRect</key>
                <string>{{1,2950},{1058,756}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/barnhouse_door1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1249,259}</string>
                <key>spriteSourceSize</key>
                <string>{1249,259}</string>
                <key>textureRect</key>
                <string>{{1150,2669},{1249,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/barnhouse_door2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,664}</string>
                <key>spriteSourceSize</key>
                <string>{392,664}</string>
                <key>textureRect</key>
                <string>{{2792,3106},{392,664}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/basket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,162}</string>
                <key>spriteSourceSize</key>
                <string>{127,162}</string>
                <key>textureRect</key>
                <string>{{3345,671},{127,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/big_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1542,1689}</string>
                <key>spriteSourceSize</key>
                <string>{1542,1689}</string>
                <key>textureRect</key>
                <string>{{1,1},{1542,1689}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/bucket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,226}</string>
                <key>spriteSourceSize</key>
                <string>{210,226}</string>
                <key>textureRect</key>
                <string>{{1578,2430},{210,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/cart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{801,389}</string>
                <key>spriteSourceSize</key>
                <string>{801,389}</string>
                <key>textureRect</key>
                <string>{{1411,2669},{801,389}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/cart_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{826,389}</string>
                <key>spriteSourceSize</key>
                <string>{826,389}</string>
                <key>textureRect</key>
                <string>{{759,2950},{826,389}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1086,300}</string>
                <key>spriteSourceSize</key>
                <string>{1086,300}</string>
                <key>textureRect</key>
                <string>{{3043,1},{1086,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{755,285}</string>
                <key>spriteSourceSize</key>
                <string>{755,285}</string>
                <key>textureRect</key>
                <string>{{1841,3224},{755,285}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/colortree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1004,1256}</string>
                <key>spriteSourceSize</key>
                <string>{1004,1256}</string>
                <key>textureRect</key>
                <string>{{1,1692},{1004,1256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/farm_house_door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{381,585}</string>
                <key>spriteSourceSize</key>
                <string>{381,585}</string>
                <key>textureRect</key>
                <string>{{2128,3500},{381,585}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/farm_house_door_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,606}</string>
                <key>spriteSourceSize</key>
                <string>{428,606}</string>
                <key>textureRect</key>
                <string>{{1411,3472},{428,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/frontgrass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,200}</string>
                <key>spriteSourceSize</key>
                <string>{516,200}</string>
                <key>textureRect</key>
                <string>{{3294,3500},{516,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/granary_door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{975,569}</string>
                <key>spriteSourceSize</key>
                <string>{975,569}</string>
                <key>textureRect</key>
                <string>{{1007,1692},{975,569}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/granary_door_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{454,519}</string>
                <key>spriteSourceSize</key>
                <string>{454,519}</string>
                <key>textureRect</key>
                <string>{{2511,3500},{454,519}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/granaryhouse1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,1564}</string>
                <key>spriteSourceSize</key>
                <string>{680,1564}</string>
                <key>textureRect</key>
                <string>{{1545,1},{680,1564}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/green_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{3345,1016},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/hill1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{665,617}</string>
                <key>spriteSourceSize</key>
                <string>{665,617}</string>
                <key>textureRect</key>
                <string>{{2394,1022},{665,617}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/hill2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{748,751}</string>
                <key>spriteSourceSize</key>
                <string>{748,751}</string>
                <key>textureRect</key>
                <string>{{2280,1689},{748,751}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/hut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{647,1019}</string>
                <key>spriteSourceSize</key>
                <string>{647,1019}</string>
                <key>textureRect</key>
                <string>{{2394,1},{647,1019}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/mango.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,99}</string>
                <key>spriteSourceSize</key>
                <string>{58,99}</string>
                <key>textureRect</key>
                <string>{{2227,1505},{58,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/milkbottle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,222}</string>
                <key>spriteSourceSize</key>
                <string>{98,222}</string>
                <key>textureRect</key>
                <string>{{1007,2669},{98,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/power_house_door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,343}</string>
                <key>spriteSourceSize</key>
                <string>{216,343}</string>
                <key>textureRect</key>
                <string>{{759,3778},{216,343}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/red_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{2511,4021},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/sky_pattern2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1502,165}</string>
                <key>spriteSourceSize</key>
                <string>{1502,165}</string>
                <key>textureRect</key>
                <string>{{2227,1},{1502,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/small_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,481}</string>
                <key>spriteSourceSize</key>
                <string>{325,481}</string>
                <key>textureRect</key>
                <string>{{2967,3500},{325,481}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/stone1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,97}</string>
                <key>spriteSourceSize</key>
                <string>{154,97}</string>
                <key>textureRect</key>
                <string>{{3126,3983},{154,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/stone2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,69}</string>
                <key>spriteSourceSize</key>
                <string>{111,69}</string>
                <key>textureRect</key>
                <string>{{251,4010},{111,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/stone3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,93}</string>
                <key>spriteSourceSize</key>
                <string>{179,93}</string>
                <key>textureRect</key>
                <string>{{3345,835},{179,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/tool1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,246}</string>
                <key>spriteSourceSize</key>
                <string>{70,246}</string>
                <key>textureRect</key>
                <string>{{1841,3981},{70,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/tool2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,245}</string>
                <key>spriteSourceSize</key>
                <string>{70,245}</string>
                <key>textureRect</key>
                <string>{{2128,3224},{70,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/tool3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,248}</string>
                <key>spriteSourceSize</key>
                <string>{72,248}</string>
                <key>textureRect</key>
                <string>{{1,4010},{72,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/tool4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,95}</string>
                <key>spriteSourceSize</key>
                <string>{41,95}</string>
                <key>textureRect</key>
                <string>{{1107,2669},{41,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/tool5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,157}</string>
                <key>spriteSourceSize</key>
                <string>{80,157}</string>
                <key>textureRect</key>
                <string>{{2967,3983},{80,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/tractor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{861,700}</string>
                <key>spriteSourceSize</key>
                <string>{861,700}</string>
                <key>textureRect</key>
                <string>{{1578,1567},{861,700}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/tractor1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{792,405}</string>
                <key>spriteSourceSize</key>
                <string>{792,405}</string>
                <key>textureRect</key>
                <string>{{1802,2430},{792,405}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/vegetable_cart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{609,449}</string>
                <key>spriteSourceSize</key>
                <string>{609,449}</string>
                <key>textureRect</key>
                <string>{{3030,1840},{609,449}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/waterbottle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,151}</string>
                <key>spriteSourceSize</key>
                <string>{261,151}</string>
                <key>textureRect</key>
                <string>{{3345,408},{261,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/well.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{581,770}</string>
                <key>spriteSourceSize</key>
                <string>{581,770}</string>
                <key>textureRect</key>
                <string>{{2209,2442},{581,770}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/wind_meal_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{653,653}</string>
                <key>spriteSourceSize</key>
                <string>{653,653}</string>
                <key>textureRect</key>
                <string>{{2792,2451},{653,653}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/wind_meal_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,143}</string>
                <key>spriteSourceSize</key>
                <string>{405,143}</string>
                <key>textureRect</key>
                <string>{{3345,1},{405,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>farmhouse1.png</string>
            <key>size</key>
            <string>{3513,4086}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0d213bc9edc005fc798ed27d7c289d8:811586c56d3d54762ce72f6a2d1b111d:d00a9851a5a9385e19bd7bbd97dda59e$</string>
            <key>textureFileName</key>
            <string>farmhouse1.png</string>
        </dict>
    </dict>
</plist>
