<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fahali_na_Punda/boy_nose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{538,426}</string>
                <key>spriteSourceSize</key>
                <string>{546,426}</string>
                <key>textureRect</key>
                <string>{{2268,2075},{538,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/darkbrown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,101}</string>
                <key>spriteSourceSize</key>
                <string>{43,101}</string>
                <key>textureRect</key>
                <string>{{1025,1987},{43,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fahali_na_Punda/donkey_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{654,404}</string>
                <key>spriteSourceSize</key>
                <string>{654,408}</string>
                <key>textureRect</key>
                <string>{{1025,2075},{654,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/donkey_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,109}</string>
                <key>spriteSourceSize</key>
                <string>{79,109}</string>
                <key>textureRect</key>
                <string>{{3816,1230},{79,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/donkey_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1152,1003}</string>
                <key>spriteSourceSize</key>
                <string>{1152,1003}</string>
                <key>textureRect</key>
                <string>{{1974,1},{1152,1003}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/donkey_lower_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,166}</string>
                <key>spriteSourceSize</key>
                <string>{84,166}</string>
                <key>textureRect</key>
                <string>{{256,2414},{84,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fahali_na_Punda/donkey_lower_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,166}</string>
                <key>spriteSourceSize</key>
                <string>{84,166}</string>
                <key>textureRect</key>
                <string>{{715,2260},{84,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fahali_na_Punda/donkey_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,116}</string>
                <key>spriteSourceSize</key>
                <string>{139,116}</string>
                <key>textureRect</key>
                <string>{{3225,2383},{139,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/donkey_upper_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,163}</string>
                <key>spriteSourceSize</key>
                <string>{70,163}</string>
                <key>textureRect</key>
                <string>{{3945,393},{70,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/donkey_upper_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,163}</string>
                <key>spriteSourceSize</key>
                <string>{70,163}</string>
                <key>textureRect</key>
                <string>{{3365,2075},{70,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/ear_round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,175}</string>
                <key>spriteSourceSize</key>
                <string>{138,175}</string>
                <key>textureRect</key>
                <string>{{3225,2075},{138,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/eyebrow_boy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,64}</string>
                <key>spriteSourceSize</key>
                <string>{110,64}</string>
                <key>textureRect</key>
                <string>{{772,2346},{110,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{815,680}</string>
                <key>spriteSourceSize</key>
                <string>{815,680}</string>
                <key>textureRect</key>
                <string>{{3128,1},{815,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/fahali_bowl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,179}</string>
                <key>spriteSourceSize</key>
                <string>{492,179}</string>
                <key>textureRect</key>
                <string>{{3635,1231},{492,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fahali_na_Punda/fahali_cow_grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,503}</string>
                <key>spriteSourceSize</key>
                <string>{588,503}</string>
                <key>textureRect</key>
                <string>{{3045,1231},{588,503}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/fahali_grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{471,122}</string>
                <key>spriteSourceSize</key>
                <string>{471,122}</string>
                <key>textureRect</key>
                <string>{{3800,683},{471,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fahali_na_Punda/fahali_grass_texture1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{769,46}</string>
                <key>spriteSourceSize</key>
                <string>{769,46}</string>
                <key>textureRect</key>
                <string>{{1,2366},{769,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/fahali_grass_texture2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,50}</string>
                <key>spriteSourceSize</key>
                <string>{130,50}</string>
                <key>textureRect</key>
                <string>{{3924,1025},{130,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fahali_na_Punda/fahali_grass_texture3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,77}</string>
                <key>spriteSourceSize</key>
                <string>{390,77}</string>
                <key>textureRect</key>
                <string>{{3945,1},{390,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fahali_na_Punda/fahali_hill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1499,148}</string>
                <key>spriteSourceSize</key>
                <string>{1499,148}</string>
                <key>textureRect</key>
                <string>{{1948,1925},{1499,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/fahali_house.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1196,811}</string>
                <key>spriteSourceSize</key>
                <string>{1196,811}</string>
                <key>textureRect</key>
                <string>{{1135,877},{1196,811}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fahali_na_Punda/fahali_plough.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2098,165}</string>
                <key>spriteSourceSize</key>
                <string>{2098,165}</string>
                <key>textureRect</key>
                <string>{{1948,1758},{2098,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/fahali_road1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1971,874}</string>
                <key>spriteSourceSize</key>
                <string>{1971,874}</string>
                <key>textureRect</key>
                <string>{{1,1},{1971,874}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/fahali_rock_texture.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{712,167}</string>
                <key>spriteSourceSize</key>
                <string>{712,167}</string>
                <key>textureRect</key>
                <string>{{1,2197},{712,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/farmer_coat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,585}</string>
                <key>spriteSourceSize</key>
                <string>{418,585}</string>
                <key>textureRect</key>
                <string>{{1681,2075},{418,585}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fahali_na_Punda/farmer_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,415}</string>
                <key>spriteSourceSize</key>
                <string>{415,415}</string>
                <key>textureRect</key>
                <string>{{2808,2075},{415,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/farmer_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,107}</string>
                <key>spriteSourceSize</key>
                <string>{30,107}</string>
                <key>textureRect</key>
                <string>{{3854,1341},{30,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/farmer_pant_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,107}</string>
                <key>spriteSourceSize</key>
                <string>{30,107}</string>
                <key>textureRect</key>
                <string>{{3854,1450},{30,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/farmer_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,147}</string>
                <key>spriteSourceSize</key>
                <string>{36,147}</string>
                <key>textureRect</key>
                <string>{{3816,1341},{36,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/farmer_pant_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,147}</string>
                <key>spriteSourceSize</key>
                <string>{36,147}</string>
                <key>textureRect</key>
                <string>{{3816,1490},{36,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/farmer_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,597}</string>
                <key>spriteSourceSize</key>
                <string>{416,597}</string>
                <key>textureRect</key>
                <string>{{3449,1925},{416,597}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fahali_na_Punda/farmer_shirt_sleave_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,117}</string>
                <key>spriteSourceSize</key>
                <string>{72,117}</string>
                <key>textureRect</key>
                <string>{{3800,1156},{72,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fahali_na_Punda/farmer_shirt_sleave_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,273}</string>
                <key>spriteSourceSize</key>
                <string>{61,273}</string>
                <key>textureRect</key>
                <string>{{715,2197},{61,273}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fahali_na_Punda/farmer_shoe_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,33}</string>
                <key>spriteSourceSize</key>
                <string>{160,33}</string>
                <key>textureRect</key>
                <string>{{990,2197},{160,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fahali_na_Punda/farmer_shoe_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,33}</string>
                <key>spriteSourceSize</key>
                <string>{160,33}</string>
                <key>textureRect</key>
                <string>{{990,2197},{160,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fahali_na_Punda/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,76}</string>
                <key>textureRect</key>
                <string>{{883,2260},{50,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,135}</string>
                <key>spriteSourceSize</key>
                <string>{66,135}</string>
                <key>textureRect</key>
                <string>{{3924,888},{66,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/hair_curl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1095,750}</string>
                <key>spriteSourceSize</key>
                <string>{1095,750}</string>
                <key>textureRect</key>
                <string>{{1948,1006},{1095,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/mouth_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,108}</string>
                <key>spriteSourceSize</key>
                <string>{253,108}</string>
                <key>textureRect</key>
                <string>{{1,2414},{253,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/ox_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,546}</string>
                <key>spriteSourceSize</key>
                <string>{670,546}</string>
                <key>textureRect</key>
                <string>{{3128,683},{670,546}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/ox_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,129}</string>
                <key>spriteSourceSize</key>
                <string>{128,129}</string>
                <key>textureRect</key>
                <string>{{3225,2252},{128,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/ox_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1132,1108}</string>
                <key>spriteSourceSize</key>
                <string>{1132,1108}</string>
                <key>textureRect</key>
                <string>{{1,877},{1132,1108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/ox_lower_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,166}</string>
                <key>spriteSourceSize</key>
                <string>{84,166}</string>
                <key>textureRect</key>
                <string>{{424,2414},{84,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fahali_na_Punda/ox_lower_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,166}</string>
                <key>spriteSourceSize</key>
                <string>{84,166}</string>
                <key>textureRect</key>
                <string>{{592,2414},{84,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fahali_na_Punda/ox_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,214}</string>
                <key>spriteSourceSize</key>
                <string>{64,214}</string>
                <key>textureRect</key>
                <string>{{3045,1006},{64,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/ox_upper_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,163}</string>
                <key>spriteSourceSize</key>
                <string>{70,163}</string>
                <key>textureRect</key>
                <string>{{3945,558},{70,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/ox_upper_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,163}</string>
                <key>spriteSourceSize</key>
                <string>{70,163}</string>
                <key>textureRect</key>
                <string>{{3924,723},{70,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/road2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1022,208}</string>
                <key>spriteSourceSize</key>
                <string>{1022,208}</string>
                <key>textureRect</key>
                <string>{{1,1987},{1022,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/touch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-200.5,200.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{404,404}</string>
                <key>textureRect</key>
                <string>{{3919,1156},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Fahali_na_Punda.png</string>
            <key>size</key>
            <string>{4047,2523}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b8326e8df6ce75db9fafefc3a4ea169:5ff490e9bd1758d561053655a726e909:a425f653c875adcb246bbebbc8f9d7ab$</string>
            <key>textureFileName</key>
            <string>Fahali_na_Punda.png</string>
        </dict>
    </dict>
</plist>
