<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Meno_aina_gani/MbwanaMamba_bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,114}</string>
                <key>spriteSourceSize</key>
                <string>{246,114}</string>
                <key>textureRect</key>
                <string>{{1,175},{246,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/MbwanaMamba_lionbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,67}</string>
                <key>spriteSourceSize</key>
                <string>{126,67}</string>
                <key>textureRect</key>
                <string>{{168,375},{126,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/MbwanaMamba_lionhead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,99}</string>
                <key>spriteSourceSize</key>
                <string>{123,99}</string>
                <key>textureRect</key>
                <string>{{140,612},{123,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/MbwanaMamba_lionleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,63}</string>
                <key>spriteSourceSize</key>
                <string>{26,63}</string>
                <key>textureRect</key>
                <string>{{205,1175},{26,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/MbwanaMamba_lionneck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,41}</string>
                <key>spriteSourceSize</key>
                <string>{47,41}</string>
                <key>textureRect</key>
                <string>{{111,1309},{47,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/MbwanaMamba_liontail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,81}</string>
                <key>spriteSourceSize</key>
                <string>{49,81}</string>
                <key>textureRect</key>
                <string>{{138,1101},{49,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/MbwanaMamba_tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,172}</string>
                <key>spriteSourceSize</key>
                <string>{203,172}</string>
                <key>textureRect</key>
                <string>{{1,1},{203,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/Menoainagani_bubble.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{110,1352},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/Menoainagani_grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,221}</string>
                <key>spriteSourceSize</key>
                <string>{31,221}</string>
                <key>textureRect</key>
                <string>{{117,175},{31,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/arm_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,26}</string>
                <key>spriteSourceSize</key>
                <string>{17,26}</string>
                <key>textureRect</key>
                <string>{{215,1374},{17,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/arm_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,55}</string>
                <key>spriteSourceSize</key>
                <string>{12,55}</string>
                <key>textureRect</key>
                <string>{{234,309},{12,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/arm_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,66}</string>
                <key>spriteSourceSize</key>
                <string>{14,66}</string>
                <key>textureRect</key>
                <string>{{94,1321},{14,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/cowbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,52}</string>
                <key>spriteSourceSize</key>
                <string>{90,52}</string>
                <key>textureRect</key>
                <string>{{140,1047},{90,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/cowhead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{138,1184},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/cowleg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,35}</string>
                <key>spriteSourceSize</key>
                <string>{10,35}</string>
                <key>textureRect</key>
                <string>{{184,1393},{10,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/cowleg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,35}</string>
                <key>spriteSourceSize</key>
                <string>{10,35}</string>
                <key>textureRect</key>
                <string>{{237,366},{10,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/cowmouth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,4}</string>
                <key>spriteSourceSize</key>
                <string>{23,4}</string>
                <key>textureRect</key>
                <string>{{236,1139},{23,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/cowmouth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,5}</string>
                <key>spriteSourceSize</key>
                <string>{23,5}</string>
                <key>textureRect</key>
                <string>{{243,905},{23,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/cowmouth3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,6}</string>
                <key>spriteSourceSize</key>
                <string>{23,6}</string>
                <key>textureRect</key>
                <string>{{237,464},{23,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/cowtail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{206,136},{24,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/cranebeak.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,7}</string>
                <key>spriteSourceSize</key>
                <string>{26,7}</string>
                <key>textureRect</key>
                <string>{{107,1242},{26,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/cranebleg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,29}</string>
                <key>spriteSourceSize</key>
                <string>{3,29}</string>
                <key>textureRect</key>
                <string>{{236,577},{3,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/cranebleg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,35}</string>
                <key>spriteSourceSize</key>
                <string>{12,35}</string>
                <key>textureRect</key>
                <string>{{236,1080},{12,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/cranebody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,33}</string>
                <key>spriteSourceSize</key>
                <string>{63,33}</string>
                <key>textureRect</key>
                <string>{{208,1240},{63,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/cranefleg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,29}</string>
                <key>spriteSourceSize</key>
                <string>{5,29}</string>
                <key>textureRect</key>
                <string>{{243,843},{5,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/cranefleg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,36}</string>
                <key>spriteSourceSize</key>
                <string>{12,36}</string>
                <key>textureRect</key>
                <string>{{232,1042},{12,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/cranehead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,64}</string>
                <key>spriteSourceSize</key>
                <string>{40,64}</string>
                <key>textureRect</key>
                <string>{{166,1251},{40,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/cranetail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,15}</string>
                <key>spriteSourceSize</key>
                <string>{14,15}</string>
                <key>textureRect</key>
                <string>{{233,1205},{14,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/crocodilebody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,44}</string>
                <key>spriteSourceSize</key>
                <string>{193,44}</string>
                <key>textureRect</key>
                <string>{{122,398},{193,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/crocodileheadljaw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,19}</string>
                <key>spriteSourceSize</key>
                <string>{112,19}</string>
                <key>textureRect</key>
                <string>{{204,933},{112,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/crocodileheadujaw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,62}</string>
                <key>spriteSourceSize</key>
                <string>{112,62}</string>
                <key>textureRect</key>
                <string>{{140,933},{112,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/crocodilelegs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,33}</string>
                <key>spriteSourceSize</key>
                <string>{18,33}</string>
                <key>textureRect</key>
                <string>{{225,1007},{18,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/crocodilelteeth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,8}</string>
                <key>spriteSourceSize</key>
                <string>{67,8}</string>
                <key>textureRect</key>
                <string>{{1,1392},{67,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/crocodiletail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,29}</string>
                <key>spriteSourceSize</key>
                <string>{140,29}</string>
                <key>textureRect</key>
                <string>{{107,1100},{140,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/crocodileuteeth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,31}</string>
                <key>spriteSourceSize</key>
                <string>{84,31}</string>
                <key>textureRect</key>
                <string>{{206,50},{84,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/face1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,137}</string>
                <key>spriteSourceSize</key>
                <string>{160,137}</string>
                <key>textureRect</key>
                <string>{{1,614},{160,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/face2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,137}</string>
                <key>spriteSourceSize</key>
                <string>{160,137}</string>
                <key>textureRect</key>
                <string>{{1,776},{160,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/face3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,137}</string>
                <key>spriteSourceSize</key>
                <string>{160,137}</string>
                <key>textureRect</key>
                <string>{{1,938},{160,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/farmer_shirt_sleave_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,29}</string>
                <key>spriteSourceSize</key>
                <string>{18,29}</string>
                <key>textureRect</key>
                <string>{{184,1373},{18,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{150,375},{13,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,43}</string>
                <key>spriteSourceSize</key>
                <string>{7,43}</string>
                <key>textureRect</key>
                <string>{{241,577},{7,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/girl_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{241,709},{6,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,34}</string>
                <key>spriteSourceSize</key>
                <string>{17,34}</string>
                <key>textureRect</key>
                <string>{{122,593},{17,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/girl_sleeve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,7}</string>
                <key>spriteSourceSize</key>
                <string>{17,7}</string>
                <key>textureRect</key>
                <string>{{241,622},{17,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,68}</string>
                <key>spriteSourceSize</key>
                <string>{15,68}</string>
                <key>textureRect</key>
                <string>{{94,1251},{15,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/girl_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,22}</string>
                <key>spriteSourceSize</key>
                <string>{5,22}</string>
                <key>textureRect</key>
                <string>{{243,1374},{5,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/lionmouth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,6}</string>
                <key>spriteSourceSize</key>
                <string>{28,6}</string>
                <key>textureRect</key>
                <string>{{237,434},{28,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/lionmouth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,9}</string>
                <key>spriteSourceSize</key>
                <string>{29,9}</string>
                <key>textureRect</key>
                <string>{{239,89},{29,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/lionmouth3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,16}</string>
                <key>spriteSourceSize</key>
                <string>{28,16}</string>
                <key>textureRect</key>
                <string>{{232,136},{28,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/motu_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{140,737},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/motu_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,24}</string>
                <key>spriteSourceSize</key>
                <string>{8,24}</string>
                <key>textureRect</key>
                <string>{{70,1392},{8,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/motu_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,37}</string>
                <key>spriteSourceSize</key>
                <string>{9,37}</string>
                <key>textureRect</key>
                <string>{{239,50},{9,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/motu_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,149}</string>
                <key>spriteSourceSize</key>
                <string>{104,149}</string>
                <key>textureRect</key>
                <string>{{1,1100},{104,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/motu_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,8}</string>
                <key>spriteSourceSize</key>
                <string>{40,8}</string>
                <key>textureRect</key>
                <string>{{225,1101},{40,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/ratbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,91}</string>
                <key>spriteSourceSize</key>
                <string>{139,91}</string>
                <key>textureRect</key>
                <string>{{1,1251},{139,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/ratear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,56}</string>
                <key>spriteSourceSize</key>
                <string>{53,56}</string>
                <key>textureRect</key>
                <string>{{111,1251},{53,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/ratearinside.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,47}</string>
                <key>spriteSourceSize</key>
                <string>{42,47}</string>
                <key>textureRect</key>
                <string>{{206,1},{42,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/rateye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,25}</string>
                <key>spriteSourceSize</key>
                <string>{24,25}</string>
                <key>textureRect</key>
                <string>{{158,1373},{24,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/rateyeball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{242,1139},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/ratface.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,64}</string>
                <key>spriteSourceSize</key>
                <string>{82,64}</string>
                <key>textureRect</key>
                <string>{{150,309},{82,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/rathair1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,4}</string>
                <key>spriteSourceSize</key>
                <string>{32,4}</string>
                <key>textureRect</key>
                <string>{{241,641},{32,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/rathair2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,4}</string>
                <key>spriteSourceSize</key>
                <string>{32,4}</string>
                <key>textureRect</key>
                <string>{{241,675},{32,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/ratlegback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,54}</string>
                <key>spriteSourceSize</key>
                <string>{55,54}</string>
                <key>textureRect</key>
                <string>{{160,1317},{55,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/ratlegfront.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,31}</string>
                <key>spriteSourceSize</key>
                <string>{57,31}</string>
                <key>textureRect</key>
                <string>{{217,1305},{57,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/ratmouth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,9}</string>
                <key>spriteSourceSize</key>
                <string>{29,9}</string>
                <key>textureRect</key>
                <string>{{225,1143},{29,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/ratmouth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,8}</string>
                <key>spriteSourceSize</key>
                <string>{29,8}</string>
                <key>textureRect</key>
                <string>{{217,1364},{29,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/ratmouth3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,13}</string>
                <key>spriteSourceSize</key>
                <string>{20,13}</string>
                <key>textureRect</key>
                <string>{{235,1117},{20,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/ratnose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,12}</string>
                <key>spriteSourceSize</key>
                <string>{10,12}</string>
                <key>textureRect</key>
                <string>{{221,1393},{10,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/rattail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,107}</string>
                <key>spriteSourceSize</key>
                <string>{66,107}</string>
                <key>textureRect</key>
                <string>{{168,503},{66,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/ratteeth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,5}</string>
                <key>spriteSourceSize</key>
                <string>{29,5}</string>
                <key>textureRect</key>
                <string>{{243,874},{29,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/ratteeth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,9}</string>
                <key>spriteSourceSize</key>
                <string>{29,9}</string>
                <key>textureRect</key>
                <string>{{237,403},{29,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/ratteeth3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,15}</string>
                <key>spriteSourceSize</key>
                <string>{29,15}</string>
                <key>textureRect</key>
                <string>{{233,1174},{29,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/sharkbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,119}</string>
                <key>spriteSourceSize</key>
                <string>{189,119}</string>
                <key>textureRect</key>
                <string>{{1,423},{189,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/sharkhead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,88}</string>
                <key>spriteSourceSize</key>
                <string>{101,88}</string>
                <key>textureRect</key>
                <string>{{140,843},{101,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Meno_aina_gani/sharkmouth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,12}</string>
                <key>spriteSourceSize</key>
                <string>{72,12}</string>
                <key>textureRect</key>
                <string>{{236,503},{72,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/sharkmouth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,19}</string>
                <key>spriteSourceSize</key>
                <string>{72,19}</string>
                <key>textureRect</key>
                <string>{{225,933},{72,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/sharkmouth3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,34}</string>
                <key>spriteSourceSize</key>
                <string>{72,34}</string>
                <key>textureRect</key>
                <string>{{189,1101},{72,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Meno_aina_gani/sharktail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,132}</string>
                <key>spriteSourceSize</key>
                <string>{98,132}</string>
                <key>textureRect</key>
                <string>{{150,175},{98,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Meno_aina_gani.png</string>
            <key>size</key>
            <string>{249,1404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0016509afc714d42c929c03e0d28fa58:6bf0510ef7e7ff0f7105fc87615a8016:b0ff3d8cbf93efa58138d4af8da248ea$</string>
            <key>textureFileName</key>
            <string>Meno_aina_gani.png</string>
        </dict>
    </dict>
</plist>
