<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alphamole/alphamole3/Play3_1bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,307}</string>
                <key>spriteSourceSize</key>
                <string>{293,307}</string>
                <key>textureRect</key>
                <string>{{657,1},{293,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamole/alphamole3/Play3_1stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,43}</string>
                <key>spriteSourceSize</key>
                <string>{72,43}</string>
                <key>textureRect</key>
                <string>{{1092,345},{72,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamole/alphamole3/Play3_2bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,190}</string>
                <key>spriteSourceSize</key>
                <string>{224,190}</string>
                <key>textureRect</key>
                <string>{{580,310},{224,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamole/alphamole3/Play3_3bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,294}</string>
                <key>spriteSourceSize</key>
                <string>{142,294}</string>
                <key>textureRect</key>
                <string>{{1092,1},{142,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamole/alphamole3/Play3_4bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,98}</string>
                <key>spriteSourceSize</key>
                <string>{46,98}</string>
                <key>textureRect</key>
                <string>{{1092,297},{46,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>alphamole/alphamole3/Play3_5bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{427,138}</string>
                <key>spriteSourceSize</key>
                <string>{427,138}</string>
                <key>textureRect</key>
                <string>{{952,1},{427,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>alphamole/alphamole3/Play3_6bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{577,89}</string>
                <key>spriteSourceSize</key>
                <string>{577,89}</string>
                <key>textureRect</key>
                <string>{{1,411},{577,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamole/alphamole3/Play3_hole_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,154}</string>
                <key>spriteSourceSize</key>
                <string>{509,154}</string>
                <key>textureRect</key>
                <string>{{1,255},{509,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamole/alphamole3/Play3_hole_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,32}</string>
                <key>spriteSize</key>
                <string>{654,252}</string>
                <key>spriteSourceSize</key>
                <string>{722,316}</string>
                <key>textureRect</key>
                <string>{{1,1},{654,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>alphamole3.png</string>
            <key>size</key>
            <string>{1235,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:159e426d10e60fe486952cf4eb892e94:4217a696aadc1a5e3e6f82376090ad15:9cea165ae4582c18446d31b68baca41f$</string>
            <key>textureFileName</key>
            <string>alphamole3.png</string>
        </dict>
    </dict>
</plist>
