<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/curve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,165}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{1125,1},{165,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{566,273}</string>
                <key>spriteSourceSize</key>
                <string>{566,273}</string>
                <key>textureRect</key>
                <string>{{380,1},{566,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/frogbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,195}</string>
                <key>spriteSourceSize</key>
                <string>{305,195}</string>
                <key>textureRect</key>
                <string>{{786,276},{305,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/frogeye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,77}</string>
                <key>spriteSourceSize</key>
                <string>{76,77}</string>
                <key>textureRect</key>
                <string>{{424,423},{76,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/frogeyeball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,20}</string>
                <key>spriteSourceSize</key>
                <string>{19,20}</string>
                <key>textureRect</key>
                <string>{{1049,254},{19,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/froglegbackdown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,24}</string>
                <key>spriteSourceSize</key>
                <string>{83,24}</string>
                <key>textureRect</key>
                <string>{{502,478},{83,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/froglegbackfeet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,36}</string>
                <key>spriteSourceSize</key>
                <string>{94,36}</string>
                <key>textureRect</key>
                <string>{{679,468},{94,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/froglegbackmid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,34}</string>
                <key>spriteSourceSize</key>
                <string>{131,34}</string>
                <key>textureRect</key>
                <string>{{1125,168},{131,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/froglegbackup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,51}</string>
                <key>spriteSourceSize</key>
                <string>{151,51}</string>
                <key>textureRect</key>
                <string>{{1258,168},{151,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/froglegfrontfeet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,25}</string>
                <key>spriteSourceSize</key>
                <string>{38,25}</string>
                <key>textureRect</key>
                <string>{{1292,137},{38,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/froglegfrontlow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,39}</string>
                <key>spriteSourceSize</key>
                <string>{13,39}</string>
                <key>textureRect</key>
                <string>{{1008,254},{13,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/froglegfrontup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,58}</string>
                <key>spriteSourceSize</key>
                <string>{17,58}</string>
                <key>textureRect</key>
                <string>{{948,254},{17,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/frogmouth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,24}</string>
                <key>spriteSourceSize</key>
                <string>{59,24}</string>
                <key>textureRect</key>
                <string>{{902,473},{59,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/frogmouth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,25}</string>
                <key>spriteSourceSize</key>
                <string>{62,25}</string>
                <key>textureRect</key>
                <string>{{775,473},{62,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/frogmouth3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,19}</string>
                <key>spriteSourceSize</key>
                <string>{61,19}</string>
                <key>textureRect</key>
                <string>{{1012,473},{61,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/frogmouth4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,25}</string>
                <key>spriteSourceSize</key>
                <string>{61,25}</string>
                <key>textureRect</key>
                <string>{{839,473},{61,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/frognose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,11}</string>
                <key>spriteSourceSize</key>
                <string>{21,11}</string>
                <key>textureRect</key>
                <string>{{1241,204},{21,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/frogtail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,21}</string>
                <key>spriteSourceSize</key>
                <string>{80,21}</string>
                <key>textureRect</key>
                <string>{{587,478},{80,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/lizardbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,129}</string>
                <key>spriteSourceSize</key>
                <string>{244,129}</string>
                <key>textureRect</key>
                <string>{{1122,254},{244,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/lizardeye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{1253,420},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/lizardeyeball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{1070,254},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/lizardhead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,94}</string>
                <key>spriteSourceSize</key>
                <string>{163,94}</string>
                <key>textureRect</key>
                <string>{{514,382},{163,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/lizardleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,72}</string>
                <key>spriteSourceSize</key>
                <string>{97,72}</string>
                <key>textureRect</key>
                <string>{{1253,321},{97,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/lizardmouth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,36}</string>
                <key>spriteSourceSize</key>
                <string>{88,36}</string>
                <key>textureRect</key>
                <string>{{1292,1},{88,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/lizardmouth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,25}</string>
                <key>spriteSourceSize</key>
                <string>{44,25}</string>
                <key>textureRect</key>
                <string>{{1292,91},{44,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/lizardmouth3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,25}</string>
                <key>spriteSourceSize</key>
                <string>{45,25}</string>
                <key>textureRect</key>
                <string>{{1075,473},{45,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/lizardmouth4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,29}</string>
                <key>spriteSourceSize</key>
                <string>{47,29}</string>
                <key>textureRect</key>
                <string>{{963,473},{47,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/lizardnose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,13}</string>
                <key>spriteSourceSize</key>
                <string>{19,13}</string>
                <key>textureRect</key>
                <string>{{1091,254},{19,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/lizardtail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,42}</string>
                <key>spriteSourceSize</key>
                <string>{183,42}</string>
                <key>textureRect</key>
                <string>{{948,210},{183,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/starw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,84}</string>
                <key>spriteSourceSize</key>
                <string>{93,84}</string>
                <key>textureRect</key>
                <string>{{679,382},{93,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,175}</string>
                <key>spriteSourceSize</key>
                <string>{207,175}</string>
                <key>textureRect</key>
                <string>{{948,1},{207,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/vesselin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{421,79}</string>
                <key>spriteSourceSize</key>
                <string>{421,79}</string>
                <key>textureRect</key>
                <string>{{1,424},{421,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/vesselout.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{421,377}</string>
                <key>spriteSourceSize</key>
                <string>{421,377}</string>
                <key>textureRect</key>
                <string>{{1,1},{421,377}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,132}</string>
                <key>spriteSourceSize</key>
                <string>{39,132}</string>
                <key>textureRect</key>
                <string>{{380,382},{39,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/waterin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,104}</string>
                <key>spriteSourceSize</key>
                <string>{404,104}</string>
                <key>textureRect</key>
                <string>{{380,276},{404,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/watersplash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,42}</string>
                <key>spriteSourceSize</key>
                <string>{106,42}</string>
                <key>textureRect</key>
                <string>{{1133,204},{106,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Sababu_Chura_kuwa_na_Sura_Mbaya.png</string>
            <key>size</key>
            <string>{1331,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74bdcec51077a92c5a59f3af419bee95:b32947d952ff4a5a4d9ca01f648958ae:bd3723e9dcff3e31c47f7e9ff7b0c512$</string>
            <key>textureFileName</key>
            <string>Sababu_Chura_kuwa_na_Sura_Mbaya.png</string>
        </dict>
    </dict>
</plist>
