<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/Mwanamme_na_Mwanamke_wa_Kwanza02/character0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-58}</string>
                <key>spriteSize</key>
                <string>{103,67}</string>
                <key>spriteSourceSize</key>
                <string>{313,209}</string>
                <key>textureRect</key>
                <string>{{270,156},{103,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/Mwanamme_na_Mwanamke_wa_Kwanza02/character0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-58}</string>
                <key>spriteSize</key>
                <string>{103,67}</string>
                <key>spriteSourceSize</key>
                <string>{313,209}</string>
                <key>textureRect</key>
                <string>{{270,156},{103,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/Mwanamme_na_Mwanamke_wa_Kwanza02/character0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-16}</string>
                <key>spriteSize</key>
                <string>{147,177}</string>
                <key>spriteSourceSize</key>
                <string>{313,209}</string>
                <key>textureRect</key>
                <string>{{212,225},{147,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/Mwanamme_na_Mwanamke_wa_Kwanza02/character0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-16}</string>
                <key>spriteSize</key>
                <string>{147,177}</string>
                <key>spriteSourceSize</key>
                <string>{313,209}</string>
                <key>textureRect</key>
                <string>{{212,225},{147,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/Mwanamme_na_Mwanamke_wa_Kwanza02/character0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,0}</string>
                <key>spriteSize</key>
                <string>{199,209}</string>
                <key>spriteSourceSize</key>
                <string>{313,209}</string>
                <key>textureRect</key>
                <string>{{1,194},{199,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/Mwanamme_na_Mwanamke_wa_Kwanza02/character0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,0}</string>
                <key>spriteSize</key>
                <string>{199,209}</string>
                <key>spriteSourceSize</key>
                <string>{313,209}</string>
                <key>textureRect</key>
                <string>{{1,194},{199,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/Mwanamme_na_Mwanamke_wa_Kwanza02/character0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-5}</string>
                <key>spriteSize</key>
                <string>{267,191}</string>
                <key>spriteSourceSize</key>
                <string>{313,209}</string>
                <key>textureRect</key>
                <string>{{1,1},{267,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/Mwanamme_na_Mwanamke_wa_Kwanza02/character0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-5}</string>
                <key>spriteSize</key>
                <string>{267,191}</string>
                <key>spriteSourceSize</key>
                <string>{313,209}</string>
                <key>textureRect</key>
                <string>{{1,1},{267,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/Mwanamme_na_Mwanamke_wa_Kwanza02/character0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{80,-50}</string>
                <key>spriteSize</key>
                <string>{153,105}</string>
                <key>spriteSourceSize</key>
                <string>{313,209}</string>
                <key>textureRect</key>
                <string>{{270,1},{153,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mwanamme_na_Mwanamke_wa_Kwanza02.png</string>
            <key>size</key>
            <string>{376,403}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:559d5f40efdc678813239aaf5586b07c:99b74c8087f6059bd290a409614fdd95:df091fba1937ad9d1cea115965959598$</string>
            <key>textureFileName</key>
            <string>Mwanamme_na_Mwanamke_wa_Kwanza02.png</string>
        </dict>
    </dict>
</plist>
