<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar/balloons.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,426}</string>
                <key>spriteSourceSize</key>
                <string>{267,426}</string>
                <key>textureRect</key>
                <string>{{153,706},{267,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bar/blast1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{222,213}</string>
                <key>spriteSourceSize</key>
                <string>{302,277}</string>
                <key>textureRect</key>
                <string>{{734,656},{222,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bar/blast2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{246,225}</string>
                <key>spriteSourceSize</key>
                <string>{302,277}</string>
                <key>textureRect</key>
                <string>{{692,429},{246,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bar/blast3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{284,261}</string>
                <key>spriteSourceSize</key>
                <string>{302,277}</string>
                <key>textureRect</key>
                <string>{{674,1366},{284,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bar/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,337}</string>
                <key>spriteSourceSize</key>
                <string>{310,337}</string>
                <key>textureRect</key>
                <string>{{422,706},{310,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bar/button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,151}</string>
                <key>spriteSourceSize</key>
                <string>{151,151}</string>
                <key>textureRect</key>
                <string>{{734,880},{151,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bar/cake.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{537,703}</string>
                <key>spriteSourceSize</key>
                <string>{537,703}</string>
                <key>textureRect</key>
                <string>{{153,1},{537,703}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bar/cake2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,671}</string>
                <key>spriteSourceSize</key>
                <string>{536,671}</string>
                <key>textureRect</key>
                <string>{{1,1136},{536,671}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bar/chocolate_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1133,150}</string>
                <key>spriteSourceSize</key>
                <string>{1133,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{1133,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bar/decor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,91}</string>
                <key>spriteSourceSize</key>
                <string>{319,91}</string>
                <key>textureRect</key>
                <string>{{674,1045},{319,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bar/eyes1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{154,70}</string>
                <key>spriteSourceSize</key>
                <string>{156,78}</string>
                <key>textureRect</key>
                <string>{{422,1045},{154,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bar/eyes2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{154,68}</string>
                <key>spriteSourceSize</key>
                <string>{156,78}</string>
                <key>textureRect</key>
                <string>{{887,880},{154,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bar/eyes3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{154,46}</string>
                <key>spriteSourceSize</key>
                <string>{156,78}</string>
                <key>textureRect</key>
                <string>{{767,1033},{154,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bar/eyes4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{154,34}</string>
                <key>spriteSourceSize</key>
                <string>{156,78}</string>
                <key>textureRect</key>
                <string>{{767,1189},{154,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bar/go.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,426}</string>
                <key>spriteSourceSize</key>
                <string>{267,426}</string>
                <key>textureRect</key>
                <string>{{692,1},{267,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bar/hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,64}</string>
                <key>spriteSourceSize</key>
                <string>{116,64}</string>
                <key>textureRect</key>
                <string>{{815,1033},{116,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bar.png</string>
            <key>size</key>
            <string>{960,1673}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9421216769a2c66f5d0e0507a06c8474:d99a4c5ae82497547b88fc893749a26e:79f53cebe7ac054e802e5e80dc954bbe$</string>
            <key>textureFileName</key>
            <string>bar.png</string>
        </dict>
    </dict>
</plist>
