<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/Grapes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,155}</string>
                <key>spriteSourceSize</key>
                <string>{154,155}</string>
                <key>textureRect</key>
                <string>{{1578,3175},{154,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/bee_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{609,857}</string>
                <key>spriteSourceSize</key>
                <string>{609,857}</string>
                <key>textureRect</key>
                <string>{{647,1096},{609,857}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/bonfire1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-35}</string>
                <key>spriteSize</key>
                <string>{232,230}</string>
                <key>spriteSourceSize</key>
                <string>{236,308}</string>
                <key>textureRect</key>
                <string>{{1812,2886},{232,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/bonfire2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{232,296}</string>
                <key>spriteSourceSize</key>
                <string>{236,308}</string>
                <key>textureRect</key>
                <string>{{1578,2702},{232,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/bonfire3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{232,296}</string>
                <key>spriteSourceSize</key>
                <string>{236,308}</string>
                <key>textureRect</key>
                <string>{{1812,2588},{232,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/calypot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,28}</string>
                <key>spriteSourceSize</key>
                <string>{200,28}</string>
                <key>textureRect</key>
                <string>{{280,3211},{200,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,168}</string>
                <key>spriteSourceSize</key>
                <string>{420,168}</string>
                <key>textureRect</key>
                <string>{{1863,1258},{420,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/crocodile_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1197,175}</string>
                <key>spriteSourceSize</key>
                <string>{1197,175}</string>
                <key>textureRect</key>
                <string>{{1258,1096},{1197,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/crocodile_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,81}</string>
                <key>spriteSourceSize</key>
                <string>{72,81}</string>
                <key>textureRect</key>
                <string>{{1930,592},{72,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/crocodile_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,300}</string>
                <key>spriteSourceSize</key>
                <string>{425,300}</string>
                <key>textureRect</key>
                <string>{{1435,2015},{425,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/crocodile_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,96}</string>
                <key>spriteSourceSize</key>
                <string>{67,96}</string>
                <key>textureRect</key>
                <string>{{1731,3000},{67,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/hole.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1434,1093}</string>
                <key>spriteSourceSize</key>
                <string>{1434,1093}</string>
                <key>textureRect</key>
                <string>{{1,1},{1434,1093}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/jug.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{347,326}</string>
                <key>spriteSourceSize</key>
                <string>{423,326}</string>
                <key>textureRect</key>
                <string>{{315,2369},{347,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/kun_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{648,260}</string>
                <key>spriteSourceSize</key>
                <string>{648,260}</string>
                <key>textureRect</key>
                <string>{{643,2441},{648,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/kun_grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1271,330}</string>
                <key>spriteSourceSize</key>
                <string>{1271,330}</string>
                <key>textureRect</key>
                <string>{{315,1096},{1271,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/kun_grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,336}</string>
                <key>spriteSourceSize</key>
                <string>{390,336}</string>
                <key>textureRect</key>
                <string>{{1435,1677},{390,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/kun_hills.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1616,312}</string>
                <key>spriteSourceSize</key>
                <string>{1616,312}</string>
                <key>textureRect</key>
                <string>{{1,1096},{1616,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/kun_stone1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,107}</string>
                <key>spriteSourceSize</key>
                <string>{456,107}</string>
                <key>textureRect</key>
                <string>{{1930,1},{456,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/kun_sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,269}</string>
                <key>spriteSourceSize</key>
                <string>{269,269}</string>
                <key>textureRect</key>
                <string>{{1775,2317},{269,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/kun_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{491,664}</string>
                <key>spriteSourceSize</key>
                <string>{491,664}</string>
                <key>textureRect</key>
                <string>{{280,2718},{491,664}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/kun_tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,521}</string>
                <key>spriteSourceSize</key>
                <string>{484,521}</string>
                <key>textureRect</key>
                <string>{{647,1955},{484,521}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,173}</string>
                <key>spriteSourceSize</key>
                <string>{151,173}</string>
                <key>textureRect</key>
                <string>{{1578,3000},{151,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,306}</string>
                <key>spriteSourceSize</key>
                <string>{179,306}</string>
                <key>textureRect</key>
                <string>{{1827,1680},{179,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/leg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,480}</string>
                <key>spriteSourceSize</key>
                <string>{237,480}</string>
                <key>textureRect</key>
                <string>{{1293,2317},{237,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,83}</string>
                <key>spriteSourceSize</key>
                <string>{272,83}</string>
                <key>textureRect</key>
                <string>{{1170,1955},{272,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/pigeon_beak_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,131}</string>
                <key>spriteSourceSize</key>
                <string>{105,131}</string>
                <key>textureRect</key>
                <string>{{1930,459},{105,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/pigeon_beak_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,67}</string>
                <key>spriteSourceSize</key>
                <string>{154,67}</string>
                <key>textureRect</key>
                <string>{{1601,2556},{154,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/pigeon_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,0}</string>
                <key>spriteSize</key>
                <string>{998,491}</string>
                <key>spriteSourceSize</key>
                <string>{1032,491}</string>
                <key>textureRect</key>
                <string>{{1437,1},{998,491}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/pigeon_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1170,2229},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/pigeon_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{630,628}</string>
                <key>spriteSourceSize</key>
                <string>{636,628}</string>
                <key>textureRect</key>
                <string>{{946,2703},{630,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/pigeon_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,152}</string>
                <key>spriteSourceSize</key>
                <string>{144,152}</string>
                <key>textureRect</key>
                <string>{{1293,2556},{144,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/pigeon_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,152}</string>
                <key>spriteSourceSize</key>
                <string>{144,152}</string>
                <key>textureRect</key>
                <string>{{1447,2556},{144,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/pigeon_right_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{533,255}</string>
                <key>spriteSourceSize</key>
                <string>{533,255}</string>
                <key>textureRect</key>
                <string>{{1437,1001},{533,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/pigeon_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{426,417}</string>
                <key>spriteSourceSize</key>
                <string>{426,417}</string>
                <key>textureRect</key>
                <string>{{1435,1258},{426,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/pigeon_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,277}</string>
                <key>spriteSourceSize</key>
                <string>{538,277}</string>
                <key>textureRect</key>
                <string>{{1,2714},{538,277}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/sadmouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,60}</string>
                <key>spriteSourceSize</key>
                <string>{269,60}</string>
                <key>textureRect</key>
                <string>{{1,3254},{269,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Anansi_Kunguru_na_Mamba_Anansi_the_crows.png</string>
            <key>size</key>
            <string>{2045,3332}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0560759ab83f4c1821056a539ca6afc4:3d88105ea6d19bd14c2adb95bc958e82:91b3b78ca20285d71ee01afd49a98c50$</string>
            <key>textureFileName</key>
            <string>Anansi_Kunguru_na_Mamba_Anansi_the_crows.png</string>
        </dict>
    </dict>
</plist>
