<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>eyes/eye_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1429,1895},{307,342}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{307,342}</string>
			</dict>
			<key>eyes/eye_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,1802},{484,505}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{484,505}</string>
			</dict>
			<key>eyes/eye_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,617},{556,556}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{556,556}</string>
			</dict>
			<key>eyes/eye_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2770,1351},{683,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{683,321}</string>
			</dict>
			<key>eyes/eye_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2392,664},{484,484}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{484,484}</string>
			</dict>
			<key>eyes/eye_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2371,1730},{510,338}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{510,338}</string>
			</dict>
			<key>eyes/eye_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{3676,2061},{475,408}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{475,408}</string>
			</dict>
			<key>eyes/eye_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1370,1032},{496,496}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{496,496}</string>
			</dict>
			<key>horn/horn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,617},{432,711}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{432,711}</string>
			</dict>
			<key>horn/horn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3112,0},{540,655}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{540,655}</string>
			</dict>
			<key>horn/horn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1267,617},{415,685}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{415,685}</string>
			</dict>
			<key>horn/horn_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,1398},{390,629}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,629}</string>
			</dict>
			<key>horn/horn_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2403,0},{664,709}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{664,709}</string>
			</dict>
			<key>mouth/mouth_a_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3091,1420},{721,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{721,289}</string>
			</dict>
			<key>mouth/mouth_a_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1173},{721,236}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{721,236}</string>
			</dict>
			<key>mouth/mouth_a_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1270,1895},{721,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{721,159}</string>
			</dict>
			<key>mouth/mouth_b_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3760,688},{687,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{687,321}</string>
			</dict>
			<key>mouth/mouth_b_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2876,664},{687,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{687,226}</string>
			</dict>
			<key>mouth/mouth_b_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3194,2141},{687,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{687,168}</string>
			</dict>
			<key>mouth/mouth_c_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1952,617},{582,440}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{582,440}</string>
			</dict>
			<key>mouth/mouth_c_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2392,1148},{582,378}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{582,378}</string>
			</dict>
			<key>mouth/mouth_c_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1789,1566},{582,325}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{582,325}</string>
			</dict>
			<key>mouth/mouth_d_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3494,1238},{697,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{697,266}</string>
			</dict>
			<key>mouth/mouth_d_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3494,540},{698,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{698,266}</string>
			</dict>
			<key>mouth/mouth_d_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3380,1935},{702,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{702,296}</string>
			</dict>
			<key>mouth/mouth_e_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{801,617}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{801,617}</string>
			</dict>
			<key>mouth/mouth_e_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,0},{801,617}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{801,617}</string>
			</dict>
			<key>mouth/mouth_e_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1602,0},{801,617}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{801,617}</string>
			</dict>
			<key>mouth/mouth_f_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3676,2536},{519,367}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{519,367}</string>
			</dict>
			<key>mouth/mouth_f_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1866,1199},{519,367}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{519,367}</string>
			</dict>
			<key>mouth/mouth_f_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1270,1528},{519,367}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{519,367}</string>
			</dict>
			<key>mouth/mouth_g_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3943,3055},{610,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{610,145}</string>
			</dict>
			<key>mouth/mouth_g_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,2027},{578,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{578,167}</string>
			</dict>
			<key>mouth/mouth_g_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1789,1891},{538,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{538,217}</string>
			</dict>
			<key>mouth/mouth_h_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3112,540},{880,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{880,382}</string>
			</dict>
			<key>mouth/mouth_h_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1935},{880,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{880,382}</string>
			</dict>
			<key>mouth/mouth_h_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1420},{880,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{880,382}</string>
			</dict>
			<key>mouth/mouth_i_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3760,1375},{686,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{686,321}</string>
			</dict>
			<key>mouth/mouth_i_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2709,2034},{658,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{658,257}</string>
			</dict>
			<key>mouth/mouth_i_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3362,2637},{644,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{644,202}</string>
			</dict>
			<key>nose/nose_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,1049},{649,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{649,349}</string>
			</dict>
			<key>nose/nose_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3767,0},{688,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{688,326}</string>
			</dict>
			<key>nose/nose_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2966,2141},{626,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{626,228}</string>
			</dict>
			<key>nose/nose_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3564,3055},{379,351}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{379,351}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>baloo_bhai_plist.png</string>
			<key>realTextureFileName</key>
			<string>baloo_bhai_plist.png</string>
			<key>size</key>
			<string>{4093,3665}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4093</integer>
			<key>height</key>
			<integer>3665</integer>
		</dict>
	</dict>
</plist>