<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelstep/disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{1,1},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelstep/done.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1,80},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelstep/mark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,72}</string>
                <key>spriteSourceSize</key>
                <string>{45,72}</string>
                <key>textureRect</key>
                <string>{{78,80},{45,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelstep/present.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1,157},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>levelstep.png</string>
            <key>size</key>
            <string>{124,233}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:544f67818f3dc41f47653a3b9e1243b4:335d13acf010576bfd9c40f9083b4dc7:ef6e82637e1abb9acfb0906cfb894fc1$</string>
            <key>textureFileName</key>
            <string>levelstep.png</string>
        </dict>
    </dict>
</plist>
