<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bunty_and_bubbly/bunty_land.png</key>
			<dict>
				<key>frame</key>
				<string>{{1997,0},{2430,456}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{2430,457}</string>
			</dict>
			<key>bunty_and_bubbly/bunty_paper_boat.png</key>
			<dict>
				<key>frame</key>
				<string>{{2963,3792},{632,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{632,260}</string>
			</dict>
			<key>bunty_and_bubbly/bunty_pattern2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2453,417},{398,397}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{398,397}</string>
			</dict>
			<key>bunty_and_bubbly/bunty_sand1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1549},{2298,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{2298,380}</string>
			</dict>
			<key>bunty_and_bubbly/bunty_wall.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1997,1549}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1997,1549}</string>
			</dict>
			<key>bunty_and_bubbly/butterfly3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3595,1097},{420,261}}</string>
				<key>offset</key>
				<string>{-7,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{462,359}</string>
			</dict>
			<key>bunty_and_bubbly/butterfly4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2453,1230},{423,246}}</string>
				<key>offset</key>
				<string>{-5,-36}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{462,359}</string>
			</dict>
			<key>bunty_and_bubbly/butterfly5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1369,3429},{401,227}}</string>
				<key>offset</key>
				<string>{-15,-53}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{462,359}</string>
			</dict>
			<key>bunty_and_bubbly/butterfly6.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,2229},{401,229}}</string>
				<key>offset</key>
				<string>{-15,-54}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{462,359}</string>
			</dict>
			<key>bunty_and_bubbly/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1639,1549},{1415,328}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1415,328}</string>
			</dict>
			<key>bunty_and_bubbly/bubble1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1712,3933},{68,95}}</string>
				<key>offset</key>
				<string>{25,-66}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,241}</string>
			</dict>
			<key>bunty_and_bubbly/bubble2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1807,3933},{63,95}}</string>
				<key>offset</key>
				<string>{17,-32}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,241}</string>
			</dict>
			<key>bunty_and_bubbly/bubble3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1848,3996},{94,109}}</string>
				<key>offset</key>
				<string>{21,-20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,241}</string>
			</dict>
			<key>bunty_and_bubbly/bubble4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1451,2834},{94,104}}</string>
				<key>offset</key>
				<string>{6,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,241}</string>
			</dict>
			<key>bunty_and_bubbly/bubble5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1725,4001},{93,123}}</string>
				<key>offset</key>
				<string>{-7,24}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,241}</string>
			</dict>
			<key>bunty_and_bubbly/bubble6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2634,3792},{123,137}}</string>
				<key>offset</key>
				<string>{-3,44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,241}</string>
			</dict>
			<key>bunty_and_bubbly/circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{3387,1481},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>bunty_and_bubbly/dove_beak_lower.png</key>
			<dict>
				<key>frame</key>
				<string>{{2757,3792},{105,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,132}</string>
			</dict>
			<key>bunty_and_bubbly/dove_beak_upper.png</key>
			<dict>
				<key>frame</key>
				<string>{{1033,4019},{155,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,67}</string>
			</dict>
			<key>bunty_and_bubbly/dove_eyes.png</key>
			<dict>
				<key>frame</key>
				<string>{{1626,3933},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>bunty_and_bubbly/dove_leg_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{2660,3929},{144,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,152}</string>
			</dict>
			<key>bunty_and_bubbly/dove_leg_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{2804,3924},{144,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,152}</string>
			</dict>
			<key>bunty_and_bubbly/dove_tail.png</key>
			<dict>
				<key>frame</key>
				<string>{{2453,0},{426,417}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{426,417}</string>
			</dict>
			<key>bunty_and_bubbly/dove_wing.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,2644},{532,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{532,255}</string>
			</dict>
			<key>bunty_and_bubbly/eye_girl_outer.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,4060},{115,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,24}</string>
			</dict>
			<key>bunty_and_bubbly/eyebrow_girl.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,4019},{121,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,39}</string>
			</dict>
			<key>bunty_and_bubbly/face.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,1549},{815,680}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{815,680}</string>
			</dict>
			<key>bunty_and_bubbly/girl_face.png</key>
			<dict>
				<key>frame</key>
				<string>{{2851,627},{577,662}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{577,662}</string>
			</dict>
			<key>bunty_and_bubbly/girl_hand.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,2905},{50,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,76}</string>
			</dict>
			<key>bunty_and_bubbly/girl_lower_hand.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,4060},{28,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,172}</string>
			</dict>
			<key>bunty_and_bubbly/girl_lower_leg.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,4060},{22,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,105}</string>
			</dict>
			<key>bunty_and_bubbly/girl_neck.png</key>
			<dict>
				<key>frame</key>
				<string>{{1387,4019},{66,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,135}</string>
			</dict>
			<key>bunty_and_bubbly/girl_shoe.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,4058},{105,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,21}</string>
			</dict>
			<key>bunty_and_bubbly/girl_sleeve.png</key>
			<dict>
				<key>frame</key>
				<string>{{1188,4064},{68,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,26}</string>
			</dict>
			<key>bunty_and_bubbly/girl_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{3387,1204},{203,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,277}</string>
			</dict>
			<key>bunty_and_bubbly/girl_upper_hand.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,4060},{28,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,177}</string>
			</dict>
			<key>bunty_and_bubbly/girl_upper_leg.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,4019},{21,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,89}</string>
			</dict>
			<key>bunty_and_bubbly/hair_bun.png</key>
			<dict>
				<key>frame</key>
				<string>{{1626,2964},{969,783}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{969,783}</string>
			</dict>
			<key>bunty_and_bubbly/lightbrown.png</key>
			<dict>
				<key>frame</key>
				<string>{{2031,3933},{43,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,101}</string>
			</dict>
			<key>bunty_and_bubbly/mouth_smile.png</key>
			<dict>
				<key>frame</key>
				<string>{{1957,3976},{253,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,108}</string>
			</dict>
			<key>bunty_and_bubbly/petal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1522,4019},{68,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,117}</string>
			</dict>
			<key>bunty_and_bubbly/puff1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1298,4064},{27,24}}</string>
				<key>offset</key>
				<string>{-20,15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{371,327}</string>
			</dict>
			<key>bunty_and_bubbly/puff10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2210,3933},{241,159}}</string>
				<key>offset</key>
				<string>{-6,28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,327}</string>
			</dict>
			<key>bunty_and_bubbly/puff11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2409,3792},{225,139}}</string>
				<key>offset</key>
				<string>{-6,25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,327}</string>
			</dict>
			<key>bunty_and_bubbly/puff12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,4088},{1,1}}</string>
				<key>offset</key>
				<string>{185,-163}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,327}</string>
			</dict>
			<key>bunty_and_bubbly/puff2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1639,4019},{86,76}}</string>
				<key>offset</key>
				<string>{-15,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,327}</string>
			</dict>
			<key>bunty_and_bubbly/puff3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3947,783},{152,141}}</string>
				<key>offset</key>
				<string>{-16,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{371,327}</string>
			</dict>
			<key>bunty_and_bubbly/puff4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1451,2644},{190,177}}</string>
				<key>offset</key>
				<string>{-16,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{371,327}</string>
			</dict>
			<key>bunty_and_bubbly/puff8.png</key>
			<dict>
				<key>frame</key>
				<string>{{3053,1204},{334,289}}</string>
				<key>offset</key>
				<string>{5,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,327}</string>
			</dict>
			<key>bunty_and_bubbly/sandcastle1.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,2229},{563,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{563,382}</string>
			</dict>
			<key>bunty_and_bubbly/soap.png</key>
			<dict>
				<key>frame</key>
				<string>{{1902,3933},{129,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,43}</string>
			</dict>
			<key>bunty_and_bubbly/soap_base.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,4060},{160,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,21}</string>
			</dict>
			<key>bunty_and_bubbly/soap_king.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,3489},{352,533}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{352,533}</string>
			</dict>
			<key>bunty_and_bubbly/washbasin.png</key>
			<dict>
				<key>frame</key>
				<string>{{2409,2921},{661,871}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{661,871}</string>
			</dict>
			<key>bunty_and_bubbly/washbasin_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,4019},{640,41}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,42}</string>
			</dict>
			<key>bunty_and_bubbly/washbasin_tap.png</key>
			<dict>
				<key>frame</key>
				<string>{{1256,4064},{42,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,27}</string>
			</dict>
			<key>bunty_and_bubbly/washbasin_tapf.png</key>
			<dict>
				<key>frame</key>
				<string>{{2451,3931},{209,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,132}</string>
			</dict>
			<key>bunty_and_bubbly/water1.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,4040},{45,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,199}</string>
			</dict>
			<key>bunty_and_bubbly/water2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1188,4019},{45,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,199}</string>
			</dict>
			<key>bunty_and_bubbly/yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{2862,3792},{102,101}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,102}</string>
			</dict>
			<key>bunty_and_bubbly/bubble2c.png</key>
			<dict>
				<key>frame</key>
				<string>{{3053,1493},{288,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{288,289}</string>
			</dict>
			<key>bunty_and_bubbly/bunty_pattern1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3595,0},{487,487}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{487,487}</string>
			</dict>
			<key>bunty_and_bubbly/bunty_pattern3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2699,1531},{281,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{281,282}</string>
			</dict>
			<key>bunty_and_bubbly/bunty_sand2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3847},{1626,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1626,172}</string>
			</dict>
			<key>bunty_and_bubbly/bunty_towel.png</key>
			<dict>
				<key>frame</key>
				<string>{{3590,1358},{307,302}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{307,302}</string>
			</dict>
			<key>bunty_and_bubbly/butterfly1.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,3489},{420,320}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{462,359}</string>
			</dict>
			<key>bunty_and_bubbly/butterfly2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2453,814},{416,272}}</string>
				<key>offset</key>
				<string>{-3,-23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{462,359}</string>
			</dict>
			<key>bunty_and_bubbly/dove_face.png</key>
			<dict>
				<key>frame</key>
				<string>{{2964,0},{627,628}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{627,628}</string>
			</dict>
			<key>bunty_and_bubbly/dove_body.png</key>
			<dict>
				<key>frame</key>
				<string>{{1967,2430},{997,491}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{997,491}</string>
			</dict>
			<key>bunty_and_bubbly/germs.png</key>
			<dict>
				<key>frame</key>
				<string>{{2725,1204},{328,327}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{328,327}</string>
			</dict>
			<key>bunty_and_bubbly/puff5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2941,2085},{239,222}}</string>
				<key>offset</key>
				<string>{-6,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{371,327}</string>
			</dict>
			<key>bunty_and_bubbly/puff6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2453,1940},{281,262}}</string>
				<key>offset</key>
				<string>{-6,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{371,327}</string>
			</dict>
			<key>bunty_and_bubbly/puff7.png</key>
			<dict>
				<key>frame</key>
				<string>{{3595,783},{352,314}}</string>
				<key>offset</key>
				<string>{3,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,327}</string>
			</dict>
			<key>bunty_and_bubbly/puff9.png</key>
			<dict>
				<key>frame</key>
				<string>{{2715,2085},{262,226}}</string>
				<key>offset</key>
				<string>{-1,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{371,327}</string>
			</dict>
			<key>bunty_and_bubbly/sandcastle2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1369,2938},{252,491}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,491}</string>
			</dict>
			<key>bunty_and_bubbly/sandcastle3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3592,487},{296,444}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{296,444}</string>
			</dict>
			<key>bunty_and_bubbly/sandcastle4.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,2644},{261,539}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{261,539}</string>
			</dict>
			<key>bunty_and_bubbly/housewife_pelvis_hip.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,2905},{432,521}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{432,521}</string>
			</dict>
			<key>bunty_and_bubbly/housewife_shirt.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,2899},{450,590}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{450,590}</string>
			</dict>
			<key>bunty_and_bubbly/girl_skirt.png</key>
			<dict>
				<key>frame</key>
				<string>{{2715,1812},{273,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{273,248}</string>
			</dict>
			<key>bunty_and_bubbly/flowerstem6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2453,1653},{225,287}}</string>
				<key>offset</key>
				<string>{-22,-38}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,376}</string>
			</dict>
			<key>bunty_and_bubbly/body_female.png</key>
			<dict>
				<key>frame</key>
				<string>{{1195,1549},{432,559}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{436,559}</string>
			</dict>
			<key>bunty_and_bubbly/boy_nose.png</key>
			<dict>
				<key>frame</key>
				<string>{{1195,2108},{536,426}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{546,426}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>bunty_and_bubbly.png</string>
			<key>realTextureFileName</key>
			<string>bunty_and_bubbly.png</string>
			<key>size</key>
			<string>{4088,4095}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4088</integer>
			<key>height</key>
			<integer>4095</integer>
		</dict>
	</dict>
</plist>