<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Aligator.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{142,134}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{147,1063},{142,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{1,433},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Apple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,1}</string>
                <key>spriteSize</key>
                <string>{110,144}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{295,941},{110,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Avacado.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{140,134}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{1,1241},{140,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Banana.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{76,146}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{461,387},{76,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{140,100}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{143,1337},{140,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bee.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{88,146}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{297,739},{88,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Brachiosaurus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{150,104}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{309,387},{150,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Brinjal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{64,142}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{475,173},{64,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Buffalo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{142,108}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{1,1131},{142,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bug.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,5}</string>
                <key>spriteSize</key>
                <string>{140,136}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{145,1199},{140,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Butterfly.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{265,1791},{116,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Camel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{134,126}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{281,1545},{134,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Capsicum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{122,126}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{417,1647},{122,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Carrot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{136,100}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{1,1471},{136,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{138,116}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{285,1427},{138,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cherry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{116,140}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{287,1309},{116,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Chilli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{110,118}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{371,1909},{110,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Deer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{110,122}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{259,1909},{110,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dinosaur.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-4}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{293,1053},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{128,144}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{149,825},{128,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Dolphin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{98,116}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{441,829},{98,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Donkey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{134,114}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{425,1511},{134,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Duck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{124,110}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{133,1875},{124,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Elephant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{158,110}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{161,1},{158,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{158,94}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{321,1},{158,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{130,116}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{269,1673},{130,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Giraffe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{114,130}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{133,1759},{114,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Goat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{144,114}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{1,913},{144,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grapes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{108,124}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{1,1933},{108,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hippo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{140,96}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{441,947},{140,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Horse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{142,112}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{291,1195},{142,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Iguana.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,3}</string>
                <key>spriteSize</key>
                <string>{112,146}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{149,711},{112,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jaguar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{152,108}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{155,361},{152,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kangaroo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{130,120}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{1,1705},{130,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kiwi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{140,104}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{435,1231},{140,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Lemon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{156,112}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{161,113},{156,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{148,110}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{303,627},{148,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mango.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{86,146}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{453,681},{86,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monkey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{144,106}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{147,955},{144,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NehrwalFish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{158,74}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{321,97},{158,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Occtopus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,15}</string>
                <key>spriteSize</key>
                <string>{154,116}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{1,197},{154,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Onion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{132,130}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{1,1573},{132,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{108,132}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{135,1649},{108,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Owl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{84,144}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{455,535},{84,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Peas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{124,122}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{401,1775},{124,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Penguin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{116,152}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{1,315},{116,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Pig.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{148,132}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{305,493},{148,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,7}</string>
                <key>spriteSize</key>
                <string>{80,155}</string>
                <key>spriteSourceSize</key>
                <string>{172,187}</string>
                <key>textureRect</key>
                <string>{{1,115},{80,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Pineple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,7}</string>
                <key>spriteSize</key>
                <string>{80,155}</string>
                <key>spriteSourceSize</key>
                <string>{172,187}</string>
                <key>textureRect</key>
                <string>{{1,115},{80,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>QUail_Bird.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-8}</string>
                <key>spriteSize</key>
                <string>{152,132}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{157,227},{152,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rabbit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,6}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{1,1029},{100,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Raddish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,15}</string>
                <key>spriteSize</key>
                <string>{140,102}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{437,1089},{140,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{148,88}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{1,585},{148,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Scorpion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{92,140}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{1,1377},{92,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Snake.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{100,134}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{139,1547},{100,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Strawberry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{110,152}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{311,275},{110,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Swan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{144,110}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{295,829},{144,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tiger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{136,106}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{143,1439},{136,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tortoise.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{150,104}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{153,471},{150,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unicorn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{146,110}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{1,801},{146,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Valture.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{112,158}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{1,1},{112,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Watermelon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{136,110}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{429,1373},{136,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Wolf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{146,124}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{1,675},{146,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Xray_Fish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,12}</string>
                <key>spriteSize</key>
                <string>{154,100}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{319,173},{154,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Yalk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,4}</string>
                <key>spriteSize</key>
                <string>{130,104}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{1,1827},{130,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zebra.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{148,132}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{153,577},{148,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Category.png</string>
            <key>size</key>
            <string>{540,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:065e17e9c2144326c1d976df8591d8bd:f50eaa7cc40d555fa0e0e8030794ab33:09b05dc592a913daff974e12aac3adec$</string>
            <key>textureFileName</key>
            <string>Category.png</string>
        </dict>
    </dict>
</plist>
