<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mbweha_na_jua/branch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1873,1244}</string>
                <key>spriteSourceSize</key>
                <string>{1873,1244}</string>
                <key>textureRect</key>
                <string>{{1,1},{1873,1244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{985,454}</string>
                <key>spriteSourceSize</key>
                <string>{985,454}</string>
                <key>textureRect</key>
                <string>{{2496,899},{985,454}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{590,355}</string>
                <key>spriteSourceSize</key>
                <string>{590,355}</string>
                <key>textureRect</key>
                <string>{{2013,1907},{590,355}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/jackal1bleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,253}</string>
                <key>spriteSourceSize</key>
                <string>{75,253}</string>
                <key>textureRect</key>
                <string>{{3369,856},{75,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/jackal1body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{505,251}</string>
                <key>spriteSourceSize</key>
                <string>{505,251}</string>
                <key>textureRect</key>
                <string>{{3578,1998},{505,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/jackal1face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,345}</string>
                <key>spriteSourceSize</key>
                <string>{289,345}</string>
                <key>textureRect</key>
                <string>{{849,2310},{289,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/jackal1facesleep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,345}</string>
                <key>spriteSourceSize</key>
                <string>{289,345}</string>
                <key>textureRect</key>
                <string>{{1140,2310},{289,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/jackal1fleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,238}</string>
                <key>spriteSourceSize</key>
                <string>{71,238}</string>
                <key>textureRect</key>
                <string>{{3446,856},{71,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/jackal1neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,162}</string>
                <key>spriteSourceSize</key>
                <string>{171,162}</string>
                <key>textureRect</key>
                <string>{{3369,692},{171,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/jackal1tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{2565,2426},{214,283}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/jackal2bleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,253}</string>
                <key>spriteSourceSize</key>
                <string>{75,253}</string>
                <key>textureRect</key>
                <string>{{3369,1111},{75,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/jackal2body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{505,251}</string>
                <key>spriteSourceSize</key>
                <string>{505,251}</string>
                <key>textureRect</key>
                <string>{{3831,1927},{505,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/jackal2face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,345}</string>
                <key>spriteSourceSize</key>
                <string>{289,345}</string>
                <key>textureRect</key>
                <string>{{1431,2310},{289,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/jackal2fleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,254}</string>
                <key>spriteSourceSize</key>
                <string>{75,254}</string>
                <key>textureRect</key>
                <string>{{1876,899},{75,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/jackal2neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,162}</string>
                <key>spriteSourceSize</key>
                <string>{172,162}</string>
                <key>textureRect</key>
                <string>{{2762,692},{172,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/jackal2tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{2884,2417},{214,283}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/leaf_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,1016}</string>
                <key>spriteSourceSize</key>
                <string>{430,1016}</string>
                <key>textureRect</key>
                <string>{{1581,1247},{430,1016}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/mooncresent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{446,467}</string>
                <key>spriteSourceSize</key>
                <string>{446,467}</string>
                <key>textureRect</key>
                <string>{{3584,1458},{446,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/mound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1006,481}</string>
                <key>spriteSourceSize</key>
                <string>{1006,481}</string>
                <key>textureRect</key>
                <string>{{2013,899},{1006,481}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/mountain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,264}</string>
                <key>spriteSourceSize</key>
                <string>{516,264}</string>
                <key>textureRect</key>
                <string>{{3312,1998},{516,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/palmtree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1061,1578}</string>
                <key>spriteSourceSize</key>
                <string>{1061,1578}</string>
                <key>textureRect</key>
                <string>{{1,1247},{1061,1578}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/pigeon_beak_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,131}</string>
                <key>spriteSourceSize</key>
                <string>{105,131}</string>
                <key>textureRect</key>
                <string>{{3169,2417},{105,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/pigeon_beak_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,67}</string>
                <key>spriteSourceSize</key>
                <string>{154,67}</string>
                <key>textureRect</key>
                <string>{{3584,1927},{154,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/pigeon_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,0}</string>
                <key>spriteSize</key>
                <string>{998,491}</string>
                <key>spriteSourceSize</key>
                <string>{1032,491}</string>
                <key>textureRect</key>
                <string>{{3574,1},{998,491}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/pigeon_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1876,1155},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/pigeon_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{630,628}</string>
                <key>spriteSourceSize</key>
                <string>{636,628}</string>
                <key>textureRect</key>
                <string>{{2952,1368},{630,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/pigeon_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,152}</string>
                <key>spriteSourceSize</key>
                <string>{144,152}</string>
                <key>textureRect</key>
                <string>{{3831,2434},{144,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/pigeon_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,152}</string>
                <key>spriteSourceSize</key>
                <string>{144,152}</string>
                <key>textureRect</key>
                <string>{{3578,2505},{144,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/pigeon_right_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{533,255}</string>
                <key>spriteSourceSize</key>
                <string>{533,255}</string>
                <key>textureRect</key>
                <string>{{2030,2264},{533,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/pigeon_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{426,417}</string>
                <key>spriteSourceSize</key>
                <string>{426,417}</string>
                <key>textureRect</key>
                <string>{{2884,1998},{426,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/pigeon_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,277}</string>
                <key>spriteSourceSize</key>
                <string>{538,277}</string>
                <key>textureRect</key>
                <string>{{2605,1886},{538,277}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/puddle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{846,298}</string>
                <key>spriteSourceSize</key>
                <string>{846,298}</string>
                <key>textureRect</key>
                <string>{{1,2310},{846,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/sheep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{455,504}</string>
                <key>spriteSourceSize</key>
                <string>{455,504}</string>
                <key>textureRect</key>
                <string>{{3584,1001},{455,504}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{884,896}</string>
                <key>spriteSourceSize</key>
                <string>{884,896}</string>
                <key>textureRect</key>
                <string>{{1876,1},{884,896}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/tree_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{810,689}</string>
                <key>spriteSourceSize</key>
                <string>{810,689}</string>
                <key>textureRect</key>
                <string>{{2762,1},{810,689}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/turtlehead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,306}</string>
                <key>spriteSourceSize</key>
                <string>{326,306}</string>
                <key>textureRect</key>
                <string>{{1722,2265},{326,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/turtleleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,138}</string>
                <key>spriteSourceSize</key>
                <string>{86,138}</string>
                <key>textureRect</key>
                <string>{{3985,2434},{86,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/turtleshell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,415}</string>
                <key>spriteSourceSize</key>
                <string>{674,415}</string>
                <key>textureRect</key>
                <string>{{2952,692},{674,415}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/waterdrop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,161}</string>
                <key>spriteSourceSize</key>
                <string>{75,161}</string>
                <key>textureRect</key>
                <string>{{3446,1096},{75,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/z.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,102}</string>
                <key>spriteSourceSize</key>
                <string>{98,102}</string>
                <key>textureRect</key>
                <string>{{3169,2550},{98,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mbweha_na_jua.png</string>
            <key>size</key>
            <string>{4089,2656}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96eed68ebab22062c3bf5b9170bca4da:875997c3ed1d2c7300e225cb6fb1621e:974344f4367e1fd1e9174019fa711be5$</string>
            <key>textureFileName</key>
            <string>Mbweha_na_jua.png</string>
        </dict>
    </dict>
</plist>
