<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cafe/apple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,28}</string>
                <key>spriteSourceSize</key>
                <string>{24,28}</string>
                <key>textureRect</key>
                <string>{{228,153},{24,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cafe/avacado.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,28}</string>
                <key>spriteSourceSize</key>
                <string>{29,28}</string>
                <key>textureRect</key>
                <string>{{226,183},{29,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cafe/bottle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,34}</string>
                <key>spriteSourceSize</key>
                <string>{11,34}</string>
                <key>textureRect</key>
                <string>{{244,520},{11,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cafe/brinjal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,27}</string>
                <key>spriteSourceSize</key>
                <string>{16,27}</string>
                <key>textureRect</key>
                <string>{{228,60},{16,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cafe/capsicum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{226,268},{23,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cafe/cherries.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,35}</string>
                <key>spriteSourceSize</key>
                <string>{33,35}</string>
                <key>textureRect</key>
                <string>{{208,485},{33,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cafe/cooker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,43}</string>
                <key>spriteSourceSize</key>
                <string>{42,43}</string>
                <key>textureRect</key>
                <string>{{212,338},{42,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cafe/counter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,101}</string>
                <key>spriteSourceSize</key>
                <string>{265,101}</string>
                <key>textureRect</key>
                <string>{{140,1197},{265,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cafe/diner_chair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,38}</string>
                <key>spriteSourceSize</key>
                <string>{47,38}</string>
                <key>textureRect</key>
                <string>{{212,436},{47,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cafe/diner_divider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,390}</string>
                <key>spriteSourceSize</key>
                <string>{137,390}</string>
                <key>textureRect</key>
                <string>{{1,1051},{137,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cafe/diner_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{128,182}</string>
                <key>spriteSourceSize</key>
                <string>{138,186}</string>
                <key>textureRect</key>
                <string>{{1,555},{128,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cafe/diner_table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,84}</string>
                <key>spriteSourceSize</key>
                <string>{114,84}</string>
                <key>textureRect</key>
                <string>{{140,1111},{114,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cafe/diner_tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,144}</string>
                <key>spriteSourceSize</key>
                <string>{73,144}</string>
                <key>textureRect</key>
                <string>{{165,853},{73,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cafe/divider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,165}</string>
                <key>spriteSourceSize</key>
                <string>{55,165}</string>
                <key>textureRect</key>
                <string>{{183,686},{55,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cafe/door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,162}</string>
                <key>spriteSourceSize</key>
                <string>{97,162}</string>
                <key>textureRect</key>
                <string>{{1,791},{97,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cafe/flower_pot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,98}</string>
                <key>spriteSourceSize</key>
                <string>{91,98}</string>
                <key>textureRect</key>
                <string>{{102,1464},{91,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cafe/flower_vase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,57}</string>
                <key>spriteSourceSize</key>
                <string>{27,57}</string>
                <key>textureRect</key>
                <string>{{228,1},{27,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cafe/juice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,56}</string>
                <key>spriteSourceSize</key>
                <string>{58,56}</string>
                <key>textureRect</key>
                <string>{{185,628},{58,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cafe/kitchen_tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,144}</string>
                <key>spriteSourceSize</key>
                <string>{73,144}</string>
                <key>textureRect</key>
                <string>{{1,976},{73,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cafe/kitchen_tile2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,24}</string>
                <key>spriteSourceSize</key>
                <string>{73,24}</string>
                <key>textureRect</key>
                <string>{{228,78},{73,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cafe/lights.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,79}</string>
                <key>spriteSourceSize</key>
                <string>{48,79}</string>
                <key>textureRect</key>
                <string>{{202,1464},{48,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cafe/main_counter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,136}</string>
                <key>spriteSourceSize</key>
                <string>{223,136}</string>
                <key>textureRect</key>
                <string>{{1,182},{223,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cafe/pan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,23}</string>
                <key>spriteSourceSize</key>
                <string>{53,23}</string>
                <key>textureRect</key>
                <string>{{226,213},{53,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cafe/photos.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,104}</string>
                <key>spriteSourceSize</key>
                <string>{180,104}</string>
                <key>textureRect</key>
                <string>{{1,685},{180,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cafe/plate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,13}</string>
                <key>spriteSourceSize</key>
                <string>{32,13}</string>
                <key>textureRect</key>
                <string>{{240,826},{32,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cafe/pot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{212,382},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cafe/raddish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,21}</string>
                <key>spriteSourceSize</key>
                <string>{35,21}</string>
                <key>textureRect</key>
                <string>{{226,301},{35,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cafe/refridgerator.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,209}</string>
                <key>spriteSourceSize</key>
                <string>{120,209}</string>
                <key>textureRect</key>
                <string>{{1,320},{120,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cafe/register.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,34}</string>
                <key>spriteSourceSize</key>
                <string>{54,34}</string>
                <key>textureRect</key>
                <string>{{208,520},{54,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cafe/shelf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,13}</string>
                <key>spriteSourceSize</key>
                <string>{138,13}</string>
                <key>textureRect</key>
                <string>{{240,686},{138,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cafe/stand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,205}</string>
                <key>spriteSourceSize</key>
                <string>{111,205}</string>
                <key>textureRect</key>
                <string>{{1,442},{111,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cafe/stove.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,81}</string>
                <key>spriteSourceSize</key>
                <string>{99,81}</string>
                <key>textureRect</key>
                <string>{{1,1443},{99,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cafe/table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,84}</string>
                <key>spriteSourceSize</key>
                <string>{145,84}</string>
                <key>textureRect</key>
                <string>{{1,890},{145,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cafe/tools_stand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,50}</string>
                <key>spriteSourceSize</key>
                <string>{67,50}</string>
                <key>textureRect</key>
                <string>{{185,576},{67,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cafe/welcome_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,110}</string>
                <key>spriteSourceSize</key>
                <string>{108,110}</string>
                <key>textureRect</key>
                <string>{{147,999},{108,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cafe/window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,179}</string>
                <key>spriteSourceSize</key>
                <string>{225,179}</string>
                <key>textureRect</key>
                <string>{{1,1},{225,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cafe.png</string>
            <key>size</key>
            <string>{256,1556}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:288b61083496475d5f6c37a071dac4eb:20cf38f8ebdd5d7d000ca3244e5a31b7:b606cee1c0cc52b845b217be9561f6c8$</string>
            <key>textureFileName</key>
            <string>cafe.png</string>
        </dict>
    </dict>
</plist>
