<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scoreboard/Gift0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-26}</string>
                <key>spriteSize</key>
                <string>{179,169}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{791,427},{179,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-26}</string>
                <key>spriteSize</key>
                <string>{179,169}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{317,687},{179,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-26}</string>
                <key>spriteSize</key>
                <string>{179,169}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{176,920},{179,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-27}</string>
                <key>spriteSize</key>
                <string>{179,167}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{176,1101},{179,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-27}</string>
                <key>spriteSize</key>
                <string>{179,167}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{347,868},{179,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-28}</string>
                <key>spriteSize</key>
                <string>{179,165}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{516,856},{179,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-29}</string>
                <key>spriteSize</key>
                <string>{179,163}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{357,1049},{179,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-30}</string>
                <key>spriteSize</key>
                <string>{179,161}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{522,1037},{179,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-30}</string>
                <key>spriteSize</key>
                <string>{177,159}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{669,677},{177,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-31}</string>
                <key>spriteSize</key>
                <string>{179,157}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{683,856},{179,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-33}</string>
                <key>spriteSize</key>
                <string>{179,153}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{174,1270},{179,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-31}</string>
                <key>spriteSize</key>
                <string>{179,157}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{683,856},{179,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-30}</string>
                <key>spriteSize</key>
                <string>{177,159}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{669,677},{177,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-30}</string>
                <key>spriteSize</key>
                <string>{179,161}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{522,1037},{179,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-29}</string>
                <key>spriteSize</key>
                <string>{179,163}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{357,1049},{179,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-28}</string>
                <key>spriteSize</key>
                <string>{179,165}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{516,856},{179,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-27}</string>
                <key>spriteSize</key>
                <string>{179,167}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{347,868},{179,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-27}</string>
                <key>spriteSize</key>
                <string>{179,167}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{176,1101},{179,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-26}</string>
                <key>spriteSize</key>
                <string>{179,169}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{176,920},{179,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-26}</string>
                <key>spriteSize</key>
                <string>{179,169}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{317,687},{179,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-26}</string>
                <key>spriteSize</key>
                <string>{179,169}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{791,427},{179,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-26}</string>
                <key>spriteSize</key>
                <string>{179,169}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{182,1606},{179,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-26}</string>
                <key>spriteSize</key>
                <string>{179,169}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{685,1037},{179,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-27}</string>
                <key>spriteSize</key>
                <string>{179,167}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{830,598},{179,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-27}</string>
                <key>spriteSize</key>
                <string>{179,167}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{842,779},{179,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-28}</string>
                <key>spriteSize</key>
                <string>{179,165}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{357,1230},{179,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-29}</string>
                <key>spriteSize</key>
                <string>{179,163}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{361,1397},{179,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-30}</string>
                <key>spriteSize</key>
                <string>{179,161}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{538,1385},{179,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-30}</string>
                <key>spriteSize</key>
                <string>{177,159}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{856,1141},{177,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-31}</string>
                <key>spriteSize</key>
                <string>{179,157}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{856,960},{179,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-33}</string>
                <key>spriteSize</key>
                <string>{181,153}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{162,737},{181,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-32}</string>
                <key>spriteSize</key>
                <string>{177,157}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{526,1548},{177,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-31}</string>
                <key>spriteSize</key>
                <string>{177,159}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{705,1548},{177,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-29}</string>
                <key>spriteSize</key>
                <string>{179,163}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{719,1349},{179,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-28}</string>
                <key>spriteSize</key>
                <string>{179,165}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{538,1218},{179,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-22}</string>
                <key>spriteSize</key>
                <string>{179,177}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{488,677},{179,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-22}</string>
                <key>spriteSize</key>
                <string>{179,177}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{182,1425},{179,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-12}</string>
                <key>spriteSize</key>
                <string>{179,197}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{1,1426},{179,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-17}</string>
                <key>spriteSize</key>
                <string>{179,187}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{1,1625},{179,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-2}</string>
                <key>spriteSize</key>
                <string>{173,217}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{1,988},{173,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-2}</string>
                <key>spriteSize</key>
                <string>{171,217}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{1,1207},{171,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{193,225}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{791,1},{193,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{219,221}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{1,514},{219,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-21}</string>
                <key>spriteSize</key>
                <string>{229,179}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{791,196},{229,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-30}</string>
                <key>spriteSize</key>
                <string>{229,161}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{459,514},{229,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-25}</string>
                <key>spriteSize</key>
                <string>{235,171}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{222,514},{235,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-31}</string>
                <key>spriteSize</key>
                <string>{249,159}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{1,737},{249,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/forwardbuttonoff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{567,1707},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/forwardbuttonon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{671,1709},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/gamebuttonoff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{884,1570},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/gamebuttonon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{884,1677},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/homebuttonoff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{361,1578},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/homebuttonon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{353,1685},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/reloadbuttonoff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{105,105}</string>
                <key>textureRect</key>
                <string>{{460,1707},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/reloadbuttonon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{101,101}</string>
                <key>textureRect</key>
                <string>{{775,1709},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/scoreboard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{788,511}</string>
                <key>spriteSourceSize</key>
                <string>{788,511}</string>
                <key>textureRect</key>
                <string>{{1,1},{788,511}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/star1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,129}</string>
                <key>spriteSourceSize</key>
                <string>{123,129}</string>
                <key>textureRect</key>
                <string>{{719,1218},{123,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/star2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,123}</string>
                <key>spriteSourceSize</key>
                <string>{128,123}</string>
                <key>textureRect</key>
                <string>{{884,1320},{128,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/star3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,128}</string>
                <key>spriteSourceSize</key>
                <string>{123,128}</string>
                <key>textureRect</key>
                <string>{{884,1445},{123,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>scoreboard.png</string>
            <key>size</key>
            <string>{1017,1813}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf2fa9adeb763310dc8c284cb861ff5a:10ca1d39924f79ee54093b0c4e867336:ac1866e6d6ad044c687d587f0f490ec9$</string>
            <key>textureFileName</key>
            <string>scoreboard.png</string>
        </dict>
    </dict>
</plist>
