<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smash_de_rock/boundary.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1624,58}</string>
                <key>spriteSourceSize</key>
                <string>{1624,58}</string>
                <key>textureRect</key>
                <string>{{1,1},{1624,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smash_de_rock/boxing_gloves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,237}</string>
                <key>spriteSourceSize</key>
                <string>{230,237}</string>
                <key>textureRect</key>
                <string>{{1035,472},{230,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smash_de_rock/broken_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,45}</string>
                <key>spriteSourceSize</key>
                <string>{107,45}</string>
                <key>textureRect</key>
                <string>{{1630,11},{107,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smash_de_rock/broken_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,45}</string>
                <key>spriteSourceSize</key>
                <string>{127,45}</string>
                <key>textureRect</key>
                <string>{{1035,932},{127,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smash_de_rock/brush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{399,55}</string>
                <key>spriteSourceSize</key>
                <string>{399,55}</string>
                <key>textureRect</key>
                <string>{{1247,859},{399,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smash_de_rock/brushcolor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{399,55}</string>
                <key>spriteSourceSize</key>
                <string>{399,55}</string>
                <key>textureRect</key>
                <string>{{1247,919},{399,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smash_de_rock/cracktexture_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,472},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smash_de_rock/cracktexture_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{518,472},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smash_de_rock/ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{525,75}</string>
                <key>spriteSourceSize</key>
                <string>{525,75}</string>
                <key>textureRect</key>
                <string>{{1955,1},{525,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>smash_de_rock/hit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{677,699}</string>
                <key>spriteSourceSize</key>
                <string>{677,699}</string>
                <key>textureRect</key>
                <string>{{1273,64},{677,699}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smash_de_rock/letter_correct.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,91}</string>
                <key>spriteSourceSize</key>
                <string>{89,91}</string>
                <key>textureRect</key>
                <string>{{1955,531},{89,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smash_de_rock/letter_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,91}</string>
                <key>spriteSourceSize</key>
                <string>{89,91}</string>
                <key>textureRect</key>
                <string>{{1955,627},{89,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smash_de_rock/letter_wrong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,101}</string>
                <key>spriteSourceSize</key>
                <string>{100,101}</string>
                <key>textureRect</key>
                <string>{{1869,768},{100,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smash_de_rock/letterboard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1267,403}</string>
                <key>spriteSourceSize</key>
                <string>{1267,403}</string>
                <key>textureRect</key>
                <string>{{1,64},{1267,403}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smash_de_rock/stone_bace.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,86}</string>
                <key>spriteSourceSize</key>
                <string>{373,86}</string>
                <key>textureRect</key>
                <string>{{1247,768},{373,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smash_de_rock/tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,213}</string>
                <key>spriteSourceSize</key>
                <string>{207,213}</string>
                <key>textureRect</key>
                <string>{{1035,714},{207,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smash_de_rock/treecolor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,213}</string>
                <key>spriteSourceSize</key>
                <string>{207,213}</string>
                <key>textureRect</key>
                <string>{{1651,768},{207,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>smash_de_rock/white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,250}</string>
                <key>spriteSourceSize</key>
                <string>{5,250}</string>
                <key>textureRect</key>
                <string>{{1630,1},{5,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>smashderock_01.png</string>
            <key>size</key>
            <string>{2045,985}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55ddf16c3752f443f66891da3d0e6f2d:55b2739ec2623b94d0cce406ba95d8f0:e76ffe27229e2bee7afbc36b6228d966$</string>
            <key>textureFileName</key>
            <string>smashderock_01.png</string>
        </dict>
    </dict>
</plist>
