<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
	</dict>
	<key>category_names</key>
	<array />
	<key>bodies</key>
	<dict>
		<key>mgbar</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.50028 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.2</real>
					<key>friction</key>
					<real>0.7</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 231.75000,220.12500 }</string>
							<string>{ 231.75000,214.12500 }</string>
							<string>{ 170.75000,214.12500 }</string>
							<string>{ 170.75000,220.12500 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>2</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 136.00000,57.12500 }</string>
							<string>{ 136.00000,48.87500 }</string>
							<string>{ 59.75000,48.87500 }</string>
							<string>{ 59.75000,57.12500 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>2</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -25.75000,16.87500 }</string>
							<string>{ -25.00000,9.37500 }</string>
							<string>{ -101.25000,9.37500 }</string>
							<string>{ -102.00000,16.87500 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>2</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 52.50000,27.37500 }</string>
							<string>{ 52.50000,22.12500 }</string>
							<string>{ -35.50000,22.12500 }</string>
							<string>{ -35.50000,27.37500 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>2</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 229.75000,27.37500 }</string>
							<string>{ 229.75000,22.12500 }</string>
							<string>{ 141.75000,22.12500 }</string>
							<string>{ 141.75000,27.37500 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>2</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 98.50000,161.12500 }</string>
							<string>{ 98.50000,155.87500 }</string>
							<string>{ -91.00000,155.87500 }</string>
							<string>{ -91.00000,161.12500 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>2</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 280.50000,148.12500 }</string>
							<string>{ 107.00000,147.87500 }</string>
							<string>{ 107.00000,154.62500 }</string>
							<string>{ 280.50000,154.87500 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>2</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -89.25000,-19.37500 }</string>
							<string>{ -89.25000,-25.37500 }</string>
							<string>{ -278.75000,-25.37500 }</string>
							<string>{ -278.75000,-19.37500 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>2</integer>
					<key>collision_mask</key>
					<integer>0</integer>
					<key>contact_test_mask</key>
					<integer>0</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -91.75000,-66.87500 }</string>
							<string>{ -91.75000,-73.62500 }</string>
							<string>{ -281.25000,-73.62500 }</string>
							<string>{ -281.25000,-66.87500 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>2</integer>
					<key>collision_mask</key>
					<integer>0</integer>
					<key>contact_test_mask</key>
					<integer>0</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 282.00000,-66.12500 }</string>
							<string>{ 282.00000,-72.87500 }</string>
							<string>{ 92.50000,-72.87500 }</string>
							<string>{ 92.50000,-66.12500 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>2</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 278.25000,114.62500 }</string>
							<string>{ 279.00000,107.87500 }</string>
							<string>{ -93.00000,107.87500 }</string>
							<string>{ -93.75000,114.62500 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>2</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 230.00000,-171.37500 }</string>
							<string>{ 230.00000,-177.37500 }</string>
							<string>{ 142.00000,-177.37500 }</string>
							<string>{ 142.00000,-171.37500 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>2</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -144.25000,-171.37500 }</string>
							<string>{ -144.25000,-178.12500 }</string>
							<string>{ -232.25000,-178.12500 }</string>
							<string>{ -232.25000,-171.37500 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>mgdoor1</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.49900,0.50000 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>0</integer>
					<key>collision_mask</key>
					<integer>0</integer>
					<key>contact_test_mask</key>
					<integer>0</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -53.25000,6.00000 }</string>
							<string>{ -51.25000,17.50000 }</string>
							<string>{ -40.50000,37.25000 }</string>
							<string>{ -1.62500,54.87500 }</string>
							<string>{ -1.37500,54.87500 }</string>
							<string>{ 53.00000,6.25000 }</string>
							<string>{ 53.00000,-54.25000 }</string>
							<string>{ -53.12500,-54.62500 }</string>
						</array>
						<array>
							<string>{ -1.62500,54.87500 }</string>
							<string>{ -40.50000,37.25000 }</string>
							<string>{ -35.62500,42.12500 }</string>
							<string>{ -29.12500,46.87500 }</string>
							<string>{ -16.12500,52.62500 }</string>
						</array>
						<array>
							<string>{ -40.50000,37.25000 }</string>
							<string>{ -51.25000,17.50000 }</string>
							<string>{ -48.25000,25.50000 }</string>
						</array>
						<array>
							<string>{ 17.12500,52.37500 }</string>
							<string>{ 28.87500,46.87500 }</string>
							<string>{ 34.75000,42.25000 }</string>
							<string>{ 41.75000,35.00000 }</string>
							<string>{ 52.00000,13.25000 }</string>
							<string>{ 53.00000,6.25000 }</string>
							<string>{ -1.37500,54.87500 }</string>
							<string>{ 8.12500,54.37500 }</string>
						</array>
						<array>
							<string>{ 28.87500,46.87500 }</string>
							<string>{ 17.12500,52.37500 }</string>
							<string>{ 23.12500,50.12500 }</string>
						</array>
						<array>
							<string>{ 52.00000,13.25000 }</string>
							<string>{ 41.75000,35.00000 }</string>
							<string>{ 45.75000,29.25000 }</string>
							<string>{ 49.25000,22.25000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>mgdoor2</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50100,0.50100 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>0</integer>
					<key>collision_mask</key>
					<integer>0</integer>
					<key>contact_test_mask</key>
					<integer>0</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -64.87500,-51.00000 }</string>
							<string>{ -65.00000,17.62500 }</string>
							<string>{ -63.75000,25.62500 }</string>
							<string>{ -31.62500,51.50000 }</string>
							<string>{ -31.37500,51.50000 }</string>
							<string>{ 59.75000,34.62500 }</string>
							<string>{ 64.75000,19.62500 }</string>
							<string>{ 64.75000,-50.87500 }</string>
						</array>
						<array>
							<string>{ -31.62500,51.50000 }</string>
							<string>{ -63.75000,25.62500 }</string>
							<string>{ -59.00000,35.87500 }</string>
							<string>{ -52.25000,43.37500 }</string>
							<string>{ -42.87500,49.00000 }</string>
						</array>
						<array>
							<string>{ 56.25000,39.37500 }</string>
							<string>{ 59.75000,34.62500 }</string>
							<string>{ -31.37500,51.50000 }</string>
							<string>{ 34.12500,51.25000 }</string>
							<string>{ 42.12500,49.25000 }</string>
							<string>{ 48.62500,46.00000 }</string>
						</array>
						<array>
							<string>{ 64.75000,19.62500 }</string>
							<string>{ 59.75000,34.62500 }</string>
							<string>{ 62.50000,29.12500 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>mgdoor3</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.49900,0.50111 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>0</integer>
					<key>collision_mask</key>
					<integer>0</integer>
					<key>contact_test_mask</key>
					<integer>0</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -49.75000,-55.87500 }</string>
							<string>{ -49.75000,52.62500 }</string>
							<string>{ -47.62500,55.75000 }</string>
							<string>{ -45.62500,56.50000 }</string>
							<string>{ 45.12500,56.50000 }</string>
							<string>{ 49.50000,51.62500 }</string>
							<string>{ 49.12500,-56.25000 }</string>
						</array>
						<array>
							<string>{ 49.50000,51.62500 }</string>
							<string>{ 45.12500,56.50000 }</string>
							<string>{ 48.00000,55.12500 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>mgdoor4</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.50000 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>0</integer>
					<key>collision_mask</key>
					<integer>0</integer>
					<key>contact_test_mask</key>
					<integer>0</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -49.75000,-55.87500 }</string>
							<string>{ -49.75000,52.62500 }</string>
							<string>{ -47.62500,55.75000 }</string>
							<string>{ -45.62500,56.50000 }</string>
							<string>{ 45.12500,56.50000 }</string>
							<string>{ 49.50000,51.62500 }</string>
							<string>{ 49.12500,-56.25000 }</string>
						</array>
						<array>
							<string>{ 49.50000,51.62500 }</string>
							<string>{ 45.12500,56.50000 }</string>
							<string>{ 48.00000,55.12500 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>mgelectricalshop</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.50032 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 180.50000,192.62500 }</string>
							<string>{ 180.50000,186.87500 }</string>
							<string>{ -182.75000,186.87500 }</string>
							<string>{ -182.75000,192.62500 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>2</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 180.50000,6.62500 }</string>
							<string>{ 180.50000,0.62500 }</string>
							<string>{ -182.75000,0.62500 }</string>
							<string>{ -182.75000,6.62500 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>0</integer>
					<key>collision_mask</key>
					<integer>0</integer>
					<key>contact_test_mask</key>
					<integer>0</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -38.00000,52.12500 }</string>
							<string>{ -38.00000,46.87500 }</string>
							<string>{ -126.00000,46.87500 }</string>
							<string>{ -126.00000,52.12500 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>0</integer>
					<key>collision_mask</key>
					<integer>0</integer>
					<key>contact_test_mask</key>
					<integer>0</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 125.75000,52.37500 }</string>
							<string>{ 125.75000,47.12500 }</string>
							<string>{ 37.75000,47.12500 }</string>
							<string>{ 37.75000,52.37500 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>mgground1</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.49980,0.49900 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.2</real>
					<key>friction</key>
					<real>0.7</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>3</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>1</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 320.37500,1.62500 }</string>
							<string>{ 320.62500,-50.12500 }</string>
							<string>{ -320.12500,-49.87500 }</string>
							<string>{ -320.37500,2.12500 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>mgground2</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.50000 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.2</real>
					<key>friction</key>
					<real>0.7</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>3</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>1</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 320.37500,1.62500 }</string>
							<string>{ 320.62500,-50.12500 }</string>
							<string>{ -320.12500,-49.87500 }</string>
							<string>{ -320.37500,2.12500 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>mgminningsupply</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.49968,0.49970 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 187.37500,-9.37500 }</string>
							<string>{ 187.37500,-16.87500 }</string>
							<string>{ -186.62500,-16.87500 }</string>
							<string>{ -186.62500,-9.37500 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>2</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 187.62500,123.87500 }</string>
							<string>{ 187.62500,115.62500 }</string>
							<string>{ -186.37500,115.62500 }</string>
							<string>{ -186.37500,123.87500 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>2</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -55.62500,30.87500 }</string>
							<string>{ -55.62500,24.87500 }</string>
							<string>{ -143.62500,24.87500 }</string>
							<string>{ -143.62500,30.87500 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 143.37500,30.87500 }</string>
							<string>{ 143.37500,24.87500 }</string>
							<string>{ 55.37500,24.87500 }</string>
							<string>{ 55.37500,30.87500 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>2</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 42.37500,66.12500 }</string>
							<string>{ 42.37500,57.87500 }</string>
							<string>{ -34.12500,57.87500 }</string>
							<string>{ -34.12500,66.12500 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -68.62500,-76.37500 }</string>
							<string>{ -68.62500,-83.87500 }</string>
							<string>{ -145.12500,-83.87500 }</string>
							<string>{ -145.12500,-76.37500 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -117.87500,-154.37500 }</string>
							<string>{ -117.87500,-162.62500 }</string>
							<string>{ -194.37500,-162.62500 }</string>
							<string>{ -194.37500,-154.37500 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 193.62500,-124.37500 }</string>
							<string>{ 193.62500,-132.62500 }</string>
							<string>{ 117.12500,-132.62500 }</string>
							<string>{ 117.12500,-124.37500 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>2</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 111.87500,206.62500 }</string>
							<string>{ 111.87500,198.37500 }</string>
							<string>{ -110.37500,198.37500 }</string>
							<string>{ -110.37500,206.62500 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>mgpetrolbunk</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.50000 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 182.50000,91.25000 }</string>
							<string>{ 182.50000,83.00000 }</string>
							<string>{ -182.75000,83.00000 }</string>
							<string>{ -182.75000,91.25000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>mgtrainstation</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.49985,0.50000 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -130.62500,64.25000 }</string>
							<string>{ -353.37500,64.25000 }</string>
							<string>{ -353.37500,71.00000 }</string>
							<string>{ -118.87500,71.00000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -53.37500,105.50000 }</string>
							<string>{ -337.12500,126.75000 }</string>
							<string>{ -335.62500,133.50000 }</string>
							<string>{ -46.87500,112.25000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 56.12500,106.75000 }</string>
							<string>{ 46.62500,114.25000 }</string>
							<string>{ 335.37500,135.50000 }</string>
							<string>{ 337.62500,126.75000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 353.87500,72.25000 }</string>
							<string>{ 354.62500,66.25000 }</string>
							<string>{ 133.37500,66.25000 }</string>
							<string>{ 123.12500,72.25000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 332.37500,-95.50000 }</string>
							<string>{ 333.87500,-89.50000 }</string>
							<string>{ 400.12500,-130.50000 }</string>
							<string>{ 400.12500,-132.75000 }</string>
						</array>
						<array>
							<string>{ -401.87500,-134.50000 }</string>
							<string>{ -334.37500,-89.50000 }</string>
							<string>{ -332.62500,-95.25000 }</string>
							<string>{ -401.87500,-136.75000 }</string>
						</array>
						<array>
							<string>{ -332.62500,-95.25000 }</string>
							<string>{ -334.37500,-89.50000 }</string>
							<string>{ 333.87500,-89.50000 }</string>
							<string>{ 332.37500,-95.50000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>