<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lowercase/arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,343}</string>
                <key>spriteSourceSize</key>
                <string>{77,343}</string>
                <key>textureRect</key>
                <string>{{312,887},{77,343}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lowercase/arrowcurve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,556}</string>
                <key>spriteSourceSize</key>
                <string>{331,556}</string>
                <key>textureRect</key>
                <string>{{1,1},{331,556}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lowercase/arrowcurvea.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,504}</string>
                <key>spriteSourceSize</key>
                <string>{323,504}</string>
                <key>textureRect</key>
                <string>{{334,1},{323,504}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lowercase/arrowcurvec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,405}</string>
                <key>spriteSourceSize</key>
                <string>{309,405}</string>
                <key>textureRect</key>
                <string>{{1,559},{309,405}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lowercase/arrowcurved.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,268}</string>
                <key>spriteSourceSize</key>
                <string>{316,268}</string>
                <key>textureRect</key>
                <string>{{659,1},{316,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lowercase/arrowcurvef.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,448}</string>
                <key>spriteSourceSize</key>
                <string>{316,448}</string>
                <key>textureRect</key>
                <string>{{312,569},{316,448}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lowercase/circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,248}</string>
                <key>spriteSourceSize</key>
                <string>{248,248}</string>
                <key>textureRect</key>
                <string>{{659,319},{248,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lowercase.png</string>
            <key>size</key>
            <string>{928,965}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12308a6410482bb3d1aeb362c69b1ea7:e2eecb3ff8a6965760b979949d9899e5:7f3a6bf98a716831642f363b1c425b3d$</string>
            <key>textureFileName</key>
            <string>lowercase.png</string>
        </dict>
    </dict>
</plist>
