<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/Lion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,225}</string>
                <key>spriteSourceSize</key>
                <string>{261,225}</string>
                <key>textureRect</key>
                <string>{{758,111},{261,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/anannsi_jug.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{125,116}</string>
                <key>spriteSourceSize</key>
                <string>{151,116}</string>
                <key>textureRect</key>
                <string>{{1463,201},{125,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/anansi_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,65}</string>
                <key>spriteSourceSize</key>
                <string>{162,65}</string>
                <key>textureRect</key>
                <string>{{1286,335},{162,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/anansi_coin1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,96}</string>
                <key>spriteSourceSize</key>
                <string>{97,96}</string>
                <key>textureRect</key>
                <string>{{1640,92},{97,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/anansi_coin2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,96}</string>
                <key>spriteSourceSize</key>
                <string>{97,96}</string>
                <key>textureRect</key>
                <string>{{1680,327},{97,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/anansi_coin3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1392,86},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/anansi_grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,83}</string>
                <key>spriteSourceSize</key>
                <string>{318,83}</string>
                <key>textureRect</key>
                <string>{{1176,1},{318,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/anansi_grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,84}</string>
                <key>spriteSourceSize</key>
                <string>{98,84}</string>
                <key>textureRect</key>
                <string>{{1779,341},{98,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/anansi_leaf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,50}</string>
                <key>spriteSourceSize</key>
                <string>{90,50}</string>
                <key>textureRect</key>
                <string>{{304,450},{90,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/anansi_stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,24}</string>
                <key>spriteSourceSize</key>
                <string>{35,24}</string>
                <key>textureRect</key>
                <string>{{1947,438},{35,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/anansi_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,447}</string>
                <key>spriteSourceSize</key>
                <string>{441,447}</string>
                <key>textureRect</key>
                <string>{{1,1},{441,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/anansi_tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,130}</string>
                <key>spriteSourceSize</key>
                <string>{121,130}</string>
                <key>textureRect</key>
                <string>{{1340,201},{121,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/arm_hand_left1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,26}</string>
                <key>spriteSourceSize</key>
                <string>{17,26}</string>
                <key>textureRect</key>
                <string>{{1353,475},{17,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/arm_lower_right2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,55}</string>
                <key>spriteSourceSize</key>
                <string>{12,55}</string>
                <key>textureRect</key>
                <string>{{1982,1},{12,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/arm_upper_left1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,66}</string>
                <key>spriteSourceSize</key>
                <string>{14,66}</string>
                <key>textureRect</key>
                <string>{{1392,185},{14,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/beard_baba1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,113}</string>
                <key>spriteSourceSize</key>
                <string>{214,113}</string>
                <key>textureRect</key>
                <string>{{1176,86},{214,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/bee_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,89}</string>
                <key>spriteSourceSize</key>
                <string>{46,89}</string>
                <key>textureRect</key>
                <string>{{1464,451},{46,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/bee_body1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,214}</string>
                <key>spriteSourceSize</key>
                <string>{152,214}</string>
                <key>textureRect</key>
                <string>{{1021,111},{152,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/bee_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,23}</string>
                <key>spriteSourceSize</key>
                <string>{24,23}</string>
                <key>textureRect</key>
                <string>{{102,472},{24,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/bee_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,32}</string>
                <key>spriteSourceSize</key>
                <string>{17,32}</string>
                <key>textureRect</key>
                <string>{{1240,494},{17,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/bee_wings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,34}</string>
                <key>spriteSourceSize</key>
                <string>{28,34}</string>
                <key>textureRect</key>
                <string>{{66,472},{28,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/body_female.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,140}</string>
                <key>spriteSourceSize</key>
                <string>{109,140}</string>
                <key>textureRect</key>
                <string>{{1353,333},{109,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,89}</string>
                <key>spriteSourceSize</key>
                <string>{241,89}</string>
                <key>textureRect</key>
                <string>{{1496,1},{241,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/box_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,135}</string>
                <key>spriteSourceSize</key>
                <string>{241,135}</string>
                <key>textureRect</key>
                <string>{{1739,1},{241,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/boy_nose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,107}</string>
                <key>spriteSourceSize</key>
                <string>{137,107}</string>
                <key>textureRect</key>
                <string>{{1887,138},{135,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/eye_girl_outer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,6}</string>
                <key>spriteSourceSize</key>
                <string>{29,6}</string>
                <key>textureRect</key>
                <string>{{436,450},{29,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/eyebrow_girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,10}</string>
                <key>spriteSourceSize</key>
                <string>{30,10}</string>
                <key>textureRect</key>
                <string>{{1,501},{30,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/face 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,132}</string>
                <key>spriteSourceSize</key>
                <string>{163,132}</string>
                <key>textureRect</key>
                <string>{{1175,201},{163,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,170}</string>
                <key>spriteSourceSize</key>
                <string>{204,170}</string>
                <key>textureRect</key>
                <string>{{688,338},{204,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_face1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,166}</string>
                <key>spriteSourceSize</key>
                <string>{144,166}</string>
                <key>textureRect</key>
                <string>{{894,338},{144,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{1975,408},{13,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{1975,408},{13,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,43}</string>
                <key>spriteSourceSize</key>
                <string>{7,43}</string>
                <key>textureRect</key>
                <string>{{304,502},{7,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_lower_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,43}</string>
                <key>spriteSourceSize</key>
                <string>{7,43}</string>
                <key>textureRect</key>
                <string>{{304,502},{7,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{436,481},{6,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_lower_leg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{436,481},{6,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,34}</string>
                <key>spriteSourceSize</key>
                <string>{17,34}</string>
                <key>textureRect</key>
                <string>{{1555,451},{17,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_neck1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,34}</string>
                <key>spriteSourceSize</key>
                <string>{17,34}</string>
                <key>textureRect</key>
                <string>{{1555,451},{17,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_shoe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,5}</string>
                <key>spriteSourceSize</key>
                <string>{26,5}</string>
                <key>textureRect</key>
                <string>{{894,506},{26,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_shoe1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,5}</string>
                <key>spriteSourceSize</key>
                <string>{26,5}</string>
                <key>textureRect</key>
                <string>{{894,506},{26,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_skirt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,62}</string>
                <key>spriteSourceSize</key>
                <string>{68,62}</string>
                <key>textureRect</key>
                <string>{{1759,427},{68,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_sleeve1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,7}</string>
                <key>spriteSourceSize</key>
                <string>{17,7}</string>
                <key>textureRect</key>
                <string>{{1021,327},{17,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_top1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,69}</string>
                <key>spriteSourceSize</key>
                <string>{51,69}</string>
                <key>textureRect</key>
                <string>{{1876,438},{51,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,44}</string>
                <key>spriteSourceSize</key>
                <string>{7,44}</string>
                <key>textureRect</key>
                <string>{{1240,485},{7,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_upper_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,44}</string>
                <key>spriteSourceSize</key>
                <string>{7,44}</string>
                <key>textureRect</key>
                <string>{{1240,485},{7,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,22}</string>
                <key>spriteSourceSize</key>
                <string>{5,22}</string>
                <key>textureRect</key>
                <string>{{922,506},{5,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_upper_leg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,22}</string>
                <key>spriteSourceSize</key>
                <string>{5,22}</string>
                <key>textureRect</key>
                <string>{{922,506},{5,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/hair_bun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,196}</string>
                <key>spriteSourceSize</key>
                <string>{242,196}</string>
                <key>textureRect</key>
                <string>{{444,315},{242,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/housewife_pelvis_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,130}</string>
                <key>spriteSourceSize</key>
                <string>{108,130}</string>
                <key>textureRect</key>
                <string>{{1464,319},{108,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/housewife_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,148}</string>
                <key>spriteSourceSize</key>
                <string>{113,148}</string>
                <key>textureRect</key>
                <string>{{1171,335},{113,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/jubba_orange_hip1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,117}</string>
                <key>spriteSourceSize</key>
                <string>{105,117}</string>
                <key>textureRect</key>
                <string>{{1590,201},{105,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/jubba_orange_shirt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,146}</string>
                <key>spriteSourceSize</key>
                <string>{105,146}</string>
                <key>textureRect</key>
                <string>{{1739,138},{105,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/leg_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,43}</string>
                <key>spriteSourceSize</key>
                <string>{38,43}</string>
                <key>textureRect</key>
                <string>{{396,450},{38,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/leg_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,77}</string>
                <key>spriteSourceSize</key>
                <string>{45,77}</string>
                <key>textureRect</key>
                <string>{{1829,427},{45,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/leg_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,120}</string>
                <key>spriteSourceSize</key>
                <string>{59,120}</string>
                <key>textureRect</key>
                <string>{{182,450},{59,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/lightbrown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,25}</string>
                <key>spriteSourceSize</key>
                <string>{11,25}</string>
                <key>textureRect</key>
                <string>{{1779,327},{11,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/motu_pant_hip1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1574,320},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/motu_pant_lower_left1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,24}</string>
                <key>spriteSourceSize</key>
                <string>{8,24}</string>
                <key>textureRect</key>
                <string>{{1082,503},{8,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/motu_pant_upper_left1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,37}</string>
                <key>spriteSourceSize</key>
                <string>{9,37}</string>
                <key>textureRect</key>
                <string>{{1640,190},{9,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/motu_shirt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,147}</string>
                <key>spriteSourceSize</key>
                <string>{107,147}</string>
                <key>textureRect</key>
                <string>{{1491,92},{107,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/motu_shoes_left1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,8}</string>
                <key>spriteSourceSize</key>
                <string>{40,8}</string>
                <key>textureRect</key>
                <string>{{1040,503},{40,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/mouth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,21}</string>
                <key>spriteSourceSize</key>
                <string>{68,21}</string>
                <key>textureRect</key>
                <string>{{688,315},{68,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/mouth_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,27}</string>
                <key>spriteSourceSize</key>
                <string>{63,27}</string>
                <key>textureRect</key>
                <string>{{1,472},{63,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/sadmouth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,15}</string>
                <key>spriteSourceSize</key>
                <string>{67,15}</string>
                <key>textureRect</key>
                <string>{{1171,485},{67,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/snake.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,174}</string>
                <key>spriteSourceSize</key>
                <string>{129,174}</string>
                <key>textureRect</key>
                <string>{{1040,327},{129,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/spider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,416}</string>
                <key>spriteSourceSize</key>
                <string>{108,416}</string>
                <key>textureRect</key>
                <string>{{758,1},{108,416}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,312}</string>
                <key>spriteSourceSize</key>
                <string>{312,312}</string>
                <key>textureRect</key>
                <string>{{444,1},{312,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/woman_armbottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{11,29}</string>
                <key>spriteSourceSize</key>
                <string>{17,29}</string>
                <key>textureRect</key>
                <string>{{1460,185},{11,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/woman_armtop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,48}</string>
                <key>spriteSourceSize</key>
                <string>{22,48}</string>
                <key>textureRect</key>
                <string>{{1975,358},{14,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/woman_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,94}</string>
                <key>spriteSourceSize</key>
                <string>{78,94}</string>
                <key>textureRect</key>
                <string>{{1806,245},{78,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/woman_skirt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,94}</string>
                <key>spriteSourceSize</key>
                <string>{78,94}</string>
                <key>textureRect</key>
                <string>{{1879,358},{78,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/woman_skirt2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{81,94}</string>
                <key>spriteSourceSize</key>
                <string>{87,94}</string>
                <key>textureRect</key>
                <string>{{1574,426},{81,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/woman_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,106}</string>
                <key>spriteSourceSize</key>
                <string>{81,106}</string>
                <key>textureRect</key>
                <string>{{1886,275},{81,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/woman_top1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,107}</string>
                <key>spriteSourceSize</key>
                <string>{80,107}</string>
                <key>textureRect</key>
                <string>{{1697,245},{80,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/woman_top2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,87}</string>
                <key>spriteSourceSize</key>
                <string>{80,87}</string>
                <key>textureRect</key>
                <string>{{1670,426},{80,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,179}</string>
                <key>spriteSourceSize</key>
                <string>{20,179}</string>
                <key>textureRect</key>
                <string>{{1,450},{20,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor.png</string>
            <key>size</key>
            <string>{1995,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9d506155bcacd296e77b2ab846368c2:9afb07c08a53ed769b9084f95ef4a788:93216ff89832cb741597aeea3344904d$</string>
            <key>textureFileName</key>
            <string>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor.png</string>
        </dict>
    </dict>
</plist>
