<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
	</dict>
	<key>category_names</key>
	<array>
		<string>bit_0</string>
		<string>bit_1</string>
		<string>bit_2</string>
		<string>bit_3</string>
		<string>bit_4</string>
		<string>bit_5</string>
		<string>bit_6</string>
		<string>bit_7</string>
		<string>bit_8</string>
		<string>bit_9</string>
		<string>bit_10</string>
		<string>bit_11</string>
		<string>bit_12</string>
		<string>bit_13</string>
		<string>bit_14</string>
		<string>bit_15</string>
		<string>bit_16</string>
		<string>bit_17</string>
		<string>bit_18</string>
		<string>bit_19</string>
		<string>bit_20</string>
		<string>bit_21</string>
		<string>bit_22</string>
		<string>bit_23</string>
		<string>bit_24</string>
		<string>bit_25</string>
		<string>bit_26</string>
		<string>bit_27</string>
		<string>bit_28</string>
		<string>bit_29</string>
		<string>bit_30</string>
		<string>bit_31</string>
	</array>
	<key>bodies</key>
	<dict>
		<key>main_treehouse4</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.49959,0.50000 }</string>
			<key>is_dynamic</key>
			<false/>
			<key>affected_by_gravity</key>
			<false/>
			<key>allows_rotation</key>
			<false/>
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -44.25000,-293.25000 }</string>
							<string>{ -43.75000,-281.75000 }</string>
							<string>{ 37.75000,-287.25000 }</string>
							<string>{ 39.25000,-303.25000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 2.25000,-164.75000 }</string>
							<string>{ 1.25000,-152.25000 }</string>
							<string>{ 83.25000,-151.25000 }</string>
							<string>{ 84.25000,-165.25000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 11.75000,-38.25000 }</string>
							<string>{ 11.25000,-24.25000 }</string>
							<string>{ 92.75000,-24.25000 }</string>
							<string>{ 94.75000,-38.75000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -0.75000,81.25000 }</string>
							<string>{ -1.25000,94.75000 }</string>
							<string>{ 80.25000,95.25000 }</string>
							<string>{ 82.25000,80.75000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -164.25000,206.25000 }</string>
							<string>{ 243.25000,205.25000 }</string>
							<string>{ 240.25000,188.75000 }</string>
							<string>{ -164.25000,188.25000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 248.75000,-84.75000 }</string>
							<string>{ 249.25000,-99.75000 }</string>
							<string>{ 127.25000,-99.75000 }</string>
							<string>{ 126.25000,-84.25000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>3</integer>
					<key>contact_test_mask</key>
					<integer>3</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -157.25000,277.75000 }</string>
							<string>{ -156.75000,205.75000 }</string>
							<string>{ -164.25000,205.75000 }</string>
							<string>{ -165.25000,277.75000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>3</integer>
					<key>contact_test_mask</key>
					<integer>3</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 240.75000,277.75000 }</string>
							<string>{ 241.25000,205.75000 }</string>
							<string>{ 233.75000,205.75000 }</string>
							<string>{ 232.75000,277.75000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>main_treehouse5</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.49900 }</string>
			<key>is_dynamic</key>
			<false/>
			<key>affected_by_gravity</key>
			<false/>
			<key>allows_rotation</key>
			<false/>
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -109.50000,-171.25000 }</string>
							<string>{ -196.50000,-171.25000 }</string>
							<string>{ -196.50000,-151.25000 }</string>
							<string>{ -108.50000,-151.25000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>main_bridge</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.37100,0.36800 }</string>
			<key>is_dynamic</key>
			<false/>
			<key>affected_by_gravity</key>
			<false/>
			<key>allows_rotation</key>
			<false/>
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.2</real>
					<key>friction</key>
					<real>0.7</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -374.75000,-81.25000 }</string>
							<string>{ -375.25000,-48.75000 }</string>
							<string>{ 381.25000,-48.75000 }</string>
							<string>{ 382.25000,-82.25000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>main_tree1</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.50000 }</string>
			<key>is_dynamic</key>
			<false/>
			<key>affected_by_gravity</key>
			<false/>
			<key>allows_rotation</key>
			<false/>
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -257.25000,-348.25000 }</string>
							<string>{ -257.25000,-311.25000 }</string>
							<string>{ 201.75000,-312.25000 }</string>
							<string>{ 201.75000,-351.25000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>main_tree3</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.49957 }</string>
			<key>is_dynamic</key>
			<false/>
			<key>affected_by_gravity</key>
			<false/>
			<key>allows_rotation</key>
			<false/>
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 1.50000,149.75000 }</string>
							<string>{ -49.50000,174.25000 }</string>
							<string>{ 247.50000,174.25000 }</string>
							<string>{ 211.50000,148.75000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -284.00000,109.25000 }</string>
							<string>{ 42.50000,106.75000 }</string>
							<string>{ 18.50000,70.25000 }</string>
							<string>{ -264.00000,70.75000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>5</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 172.00000,-260.75000 }</string>
							<string>{ -60.00000,-221.75000 }</string>
							<string>{ -60.00000,-69.75000 }</string>
							<string>{ 169.00000,-70.75000 }</string>
						</array>
						<array>
							<string>{ -60.00000,-221.75000 }</string>
							<string>{ 172.00000,-260.75000 }</string>
							<string>{ -108.00000,-256.75000 }</string>
							<string>{ -108.00000,-221.75000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>main_treehouse1</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.50000 }</string>
			<key>is_dynamic</key>
			<false/>
			<key>affected_by_gravity</key>
			<false/>
			<key>allows_rotation</key>
			<false/>
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -269.25000,-196.00000 }</string>
							<string>{ -213.75000,-225.00000 }</string>
							<string>{ -236.75000,-254.50000 }</string>
							<string>{ -307.25000,-201.50000 }</string>
						</array>
						<array>
							<string>{ 143.25000,-259.00000 }</string>
							<string>{ -236.75000,-254.50000 }</string>
							<string>{ -213.75000,-225.00000 }</string>
							<string>{ 143.75000,-226.00000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>main_treehouse2</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.49958,0.50000 }</string>
			<key>is_dynamic</key>
			<false/>
			<key>affected_by_gravity</key>
			<false/>
			<key>allows_rotation</key>
			<false/>
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 3.25000,-303.00000 }</string>
							<string>{ -75.75000,-303.00000 }</string>
							<string>{ -75.25000,-284.50000 }</string>
							<string>{ 3.25000,-284.50000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 5.25000,-216.00000 }</string>
							<string>{ 5.25000,-231.00000 }</string>
							<string>{ -75.25000,-231.00000 }</string>
							<string>{ -75.25000,-216.00000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -74.25000,-172.00000 }</string>
							<string>{ -74.25000,-181.50000 }</string>
							<string>{ -179.25000,-181.50000 }</string>
							<string>{ -179.75000,-172.00000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -85.75000,-95.50000 }</string>
							<string>{ -85.75000,-109.50000 }</string>
							<string>{ -154.75000,-109.50000 }</string>
							<string>{ -154.75000,-95.50000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 189.75000,-96.50000 }</string>
							<string>{ 189.75000,-109.50000 }</string>
							<string>{ -13.75000,-109.50000 }</string>
							<string>{ -13.75000,-96.50000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 187.25000,-182.00000 }</string>
							<string>{ 3.75000,-182.00000 }</string>
							<string>{ 4.25000,-173.00000 }</string>
							<string>{ 187.25000,-173.00000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>main_treehouse3</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.49971,0.50000 }</string>
			<key>is_dynamic</key>
			<false/>
			<key>affected_by_gravity</key>
			<false/>
			<key>allows_rotation</key>
			<false/>
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 184.25000,-191.50000 }</string>
							<string>{ 100.25000,-262.00000 }</string>
							<string>{ 105.25000,-230.50000 }</string>
							<string>{ 146.75000,-177.50000 }</string>
						</array>
						<array>
							<string>{ -277.75000,-228.00000 }</string>
							<string>{ 105.25000,-230.50000 }</string>
							<string>{ 100.25000,-262.00000 }</string>
							<string>{ -278.25000,-261.00000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>main_ground</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.49900,0.49900 }</string>
			<key>is_dynamic</key>
			<false/>
			<key>affected_by_gravity</key>
			<false/>
			<key>allows_rotation</key>
			<false/>
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>3</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>1</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 279.75000,-56.25000 }</string>
							<string>{ 280.25000,-187.25000 }</string>
							<string>{ -278.75000,-187.25000 }</string>
							<string>{ -278.75000,-56.25000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
