<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mathlearning/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,249}</string>
                <key>spriteSourceSize</key>
                <string>{124,249}</string>
                <key>textureRect</key>
                <string>{{2014,498},{124,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mathlearning/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,245}</string>
                <key>spriteSourceSize</key>
                <string>{173,245}</string>
                <key>textureRect</key>
                <string>{{1237,685},{173,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mathlearning/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,249}</string>
                <key>spriteSourceSize</key>
                <string>{173,249}</string>
                <key>textureRect</key>
                <string>{{1763,621},{173,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mathlearning/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,251}</string>
                <key>spriteSourceSize</key>
                <string>{193,251}</string>
                <key>textureRect</key>
                <string>{{2036,1},{193,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mathlearning/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,246}</string>
                <key>spriteSourceSize</key>
                <string>{173,246}</string>
                <key>textureRect</key>
                <string>{{1763,796},{173,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mathlearning/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,249}</string>
                <key>spriteSourceSize</key>
                <string>{176,249}</string>
                <key>textureRect</key>
                <string>{{1763,443},{176,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mathlearning/7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,245}</string>
                <key>spriteSourceSize</key>
                <string>{171,245}</string>
                <key>textureRect</key>
                <string>{{1590,674},{171,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mathlearning/8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,248}</string>
                <key>spriteSourceSize</key>
                <string>{175,248}</string>
                <key>textureRect</key>
                <string>{{2014,624},{175,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mathlearning/9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,248}</string>
                <key>spriteSourceSize</key>
                <string>{176,248}</string>
                <key>textureRect</key>
                <string>{{1412,674},{176,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mathlearning/ans2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,217}</string>
                <key>spriteSourceSize</key>
                <string>{376,217}</string>
                <key>textureRect</key>
                <string>{{859,685},{376,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mathlearning/apple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,267}</string>
                <key>spriteSourceSize</key>
                <string>{229,267}</string>
                <key>textureRect</key>
                <string>{{1494,443},{229,267}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mathlearning/board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1126,217}</string>
                <key>spriteSourceSize</key>
                <string>{1126,217}</string>
                <key>textureRect</key>
                <string>{{908,1},{1126,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mathlearning/book.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,284}</string>
                <key>spriteSourceSize</key>
                <string>{380,284}</string>
                <key>textureRect</key>
                <string>{{908,399},{380,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mathlearning/cheese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,202}</string>
                <key>spriteSourceSize</key>
                <string>{237,202}</string>
                <key>textureRect</key>
                <string>{{1290,399},{237,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mathlearning/circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{2225,801},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mathlearning/cup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,362}</string>
                <key>spriteSourceSize</key>
                <string>{344,362}</string>
                <key>textureRect</key>
                <string>{{513,533},{344,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mathlearning/donut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,300}</string>
                <key>spriteSourceSize</key>
                <string>{301,300}</string>
                <key>textureRect</key>
                <string>{{2051,196},{301,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mathlearning/fish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{543,221}</string>
                <key>spriteSourceSize</key>
                <string>{543,221}</string>
                <key>textureRect</key>
                <string>{{1506,220},{543,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mathlearning/options.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{596,177}</string>
                <key>spriteSourceSize</key>
                <string>{596,177}</string>
                <key>textureRect</key>
                <string>{{908,220},{596,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mathlearning/shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,421}</string>
                <key>spriteSourceSize</key>
                <string>{510,421}</string>
                <key>textureRect</key>
                <string>{{1,533},{510,421}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mathlearning/submarine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{905,530}</string>
                <key>spriteSourceSize</key>
                <string>{905,530}</string>
                <key>textureRect</key>
                <string>{{1,1},{905,530}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mathlearning/tooth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,212}</string>
                <key>spriteSourceSize</key>
                <string>{179,212}</string>
                <key>textureRect</key>
                <string>{{2011,801},{179,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mathlearning.png</string>
            <key>size</key>
            <string>{2354,981}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23dd4820f6713799e002d9a795c2f802:6fed5d7515fed02fbb60722ef924fc1c:8fa899492ea092d484783f70f4d972c2$</string>
            <key>textureFileName</key>
            <string>mathlearning.png</string>
        </dict>
    </dict>
</plist>
