<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>club/bottles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,255}</string>
                <key>spriteSourceSize</key>
                <string>{234,255}</string>
                <key>textureRect</key>
                <string>{{1433,1550},{234,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club/cds.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,67}</string>
                <key>spriteSourceSize</key>
                <string>{222,67}</string>
                <key>textureRect</key>
                <string>{{2911,1591},{222,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club/chair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,419}</string>
                <key>spriteSourceSize</key>
                <string>{347,419}</string>
                <key>textureRect</key>
                <string>{{2911,1170},{347,419}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club/club-wall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,151}</string>
                <key>spriteSourceSize</key>
                <string>{158,151}</string>
                <key>textureRect</key>
                <string>{{1670,627},{158,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club/club_tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,722}</string>
                <key>spriteSourceSize</key>
                <string>{294,722}</string>
                <key>textureRect</key>
                <string>{{2061,885},{294,722}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club/counter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2123,624}</string>
                <key>spriteSourceSize</key>
                <string>{2123,624}</string>
                <key>textureRect</key>
                <string>{{1,1},{2123,624}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club/disco-ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,365}</string>
                <key>spriteSourceSize</key>
                <string>{283,365}</string>
                <key>textureRect</key>
                <string>{{2785,885},{283,365}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club/dj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{737,132}</string>
                <key>spriteSourceSize</key>
                <string>{737,132}</string>
                <key>textureRect</key>
                <string>{{2061,1181},{737,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club/door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,648}</string>
                <key>spriteSourceSize</key>
                <string>{389,648}</string>
                <key>textureRect</key>
                <string>{{1670,885},{389,648}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club/glass-five.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,109}</string>
                <key>spriteSourceSize</key>
                <string>{83,109}</string>
                <key>textureRect</key>
                <string>{{2800,1170},{83,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club/glass-four.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,89}</string>
                <key>spriteSourceSize</key>
                <string>{55,89}</string>
                <key>textureRect</key>
                <string>{{2553,1836},{55,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club/glass-one.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,93}</string>
                <key>spriteSourceSize</key>
                <string>{54,93}</string>
                <key>textureRect</key>
                <string>{{1,1837},{54,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club/glass-three.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,84}</string>
                <key>spriteSourceSize</key>
                <string>{70,84}</string>
                <key>textureRect</key>
                <string>{{1433,1807},{70,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club/glass-two.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,59}</string>
                <key>spriteSourceSize</key>
                <string>{53,59}</string>
                <key>textureRect</key>
                <string>{{3213,787},{53,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club/glass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1667,921}</string>
                <key>spriteSourceSize</key>
                <string>{1667,921}</string>
                <key>textureRect</key>
                <string>{{1,627},{1667,921}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club/headphone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,128}</string>
                <key>spriteSourceSize</key>
                <string>{213,128}</string>
                <key>textureRect</key>
                <string>{{2061,1315},{213,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club/light-one.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,35}</string>
                <key>spriteSize</key>
                <string>{360,530}</string>
                <key>spriteSourceSize</key>
                <string>{394,600}</string>
                <key>textureRect</key>
                <string>{{2191,1315},{360,530}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club/light-three.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,41}</string>
                <key>spriteSize</key>
                <string>{356,519}</string>
                <key>spriteSourceSize</key>
                <string>{394,601}</string>
                <key>textureRect</key>
                <string>{{1670,1535},{356,519}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club/light-two.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,41}</string>
                <key>spriteSize</key>
                <string>{356,519}</string>
                <key>spriteSourceSize</key>
                <string>{394,601}</string>
                <key>textureRect</key>
                <string>{{2553,1315},{356,519}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club/music.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1157,784}</string>
                <key>spriteSourceSize</key>
                <string>{1157,784}</string>
                <key>textureRect</key>
                <string>{{2126,1},{1157,784}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club/pillar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,1541}</string>
                <key>spriteSourceSize</key>
                <string>{96,1541}</string>
                <key>textureRect</key>
                <string>{{1670,787},{96,1541}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club/table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1430,285}</string>
                <key>spriteSourceSize</key>
                <string>{1430,285}</string>
                <key>textureRect</key>
                <string>{{1,1550},{1430,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>club.png</string>
            <key>size</key>
            <string>{3284,1892}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4258565df413c3f79345b630557dc289:454a5b391b57f53b36b828e320190f54:bd7ac206bbdf04d0ca6001d6e02d2452$</string>
            <key>textureFileName</key>
            <string>club.png</string>
        </dict>
    </dict>
</plist>
