<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stack/bgreflection.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1241,789}</string>
                <key>spriteSourceSize</key>
                <string>{1241,789}</string>
                <key>textureRect</key>
                <string>{{1,1},{1241,789}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stack/bgseal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{565,325}</string>
                <key>spriteSourceSize</key>
                <string>{565,325}</string>
                <key>textureRect</key>
                <string>{{1407,1},{565,325}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stack/container.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,350}</string>
                <key>spriteSourceSize</key>
                <string>{280,350}</string>
                <key>textureRect</key>
                <string>{{1509,568},{280,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stack/containerbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,222}</string>
                <key>spriteSourceSize</key>
                <string>{263,222}</string>
                <key>textureRect</key>
                <string>{{1244,568},{263,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stack/fillpipe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,518}</string>
                <key>spriteSourceSize</key>
                <string>{73,518}</string>
                <key>textureRect</key>
                <string>{{549,792},{73,518}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stack/fillpipebar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{477,42}</string>
                <key>spriteSourceSize</key>
                <string>{477,42}</string>
                <key>textureRect</key>
                <string>{{1,920},{477,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stack/pipeconnector.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,42}</string>
                <key>spriteSourceSize</key>
                <string>{50,42}</string>
                <key>textureRect</key>
                <string>{{603,867},{50,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stack/suckpipe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,546}</string>
                <key>spriteSourceSize</key>
                <string>{126,546}</string>
                <key>textureRect</key>
                <string>{{1,792},{126,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stack/suckpipebar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,73}</string>
                <key>spriteSourceSize</key>
                <string>{504,73}</string>
                <key>textureRect</key>
                <string>{{592,912},{504,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stack/treadmill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,99}</string>
                <key>spriteSourceSize</key>
                <string>{336,99}</string>
                <key>textureRect</key>
                <string>{{1069,792},{336,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stack/treadmillrun1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,45}</string>
                <key>spriteSourceSize</key>
                <string>{51,45}</string>
                <key>textureRect</key>
                <string>{{545,920},{51,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stack/treadmillrun2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,43}</string>
                <key>spriteSourceSize</key>
                <string>{52,43}</string>
                <key>textureRect</key>
                <string>{{549,867},{52,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stack/treadmillwheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{480,920},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stack.png</string>
            <key>size</key>
            <string>{1790,986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:671a5caff5a13132b2dc4910d94131a2:a30c070d037a26e1c3a19f226a3df6fd:ba815659b7733bf70bca3ab3cf2366e9$</string>
            <key>textureFileName</key>
            <string>stack.png</string>
        </dict>
    </dict>
</plist>
