<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stack/bgreflection.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1241,789}</string>
                <key>spriteSourceSize</key>
                <string>{1241,789}</string>
                <key>textureRect</key>
                <string>{{1,1},{1241,789}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stack/bgseal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{565,325}</string>
                <key>spriteSourceSize</key>
                <string>{565,325}</string>
                <key>textureRect</key>
                <string>{{1244,1},{565,325}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stack/container.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,377}</string>
                <key>spriteSourceSize</key>
                <string>{280,377}</string>
                <key>textureRect</key>
                <string>{{1509,568},{280,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stack/containerbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,222}</string>
                <key>spriteSourceSize</key>
                <string>{263,222}</string>
                <key>textureRect</key>
                <string>{{1244,568},{263,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stack/fillpipe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,518}</string>
                <key>spriteSourceSize</key>
                <string>{73,518}</string>
                <key>textureRect</key>
                <string>{{1,920},{73,518}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stack/fillpipebar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{477,42}</string>
                <key>spriteSourceSize</key>
                <string>{477,42}</string>
                <key>textureRect</key>
                <string>{{887,792},{477,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stack/pipeconnector.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,42}</string>
                <key>spriteSourceSize</key>
                <string>{50,42}</string>
                <key>textureRect</key>
                <string>{{1127,836},{50,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stack/suckpipe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,546}</string>
                <key>spriteSourceSize</key>
                <string>{126,546}</string>
                <key>textureRect</key>
                <string>{{1,792},{126,546}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stack/suckpipebar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,73}</string>
                <key>spriteSourceSize</key>
                <string>{504,73}</string>
                <key>textureRect</key>
                <string>{{521,920},{504,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stack/tray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,96}</string>
                <key>spriteSourceSize</key>
                <string>{160,96}</string>
                <key>textureRect</key>
                <string>{{1027,899},{160,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stack/trayfill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,146}</string>
                <key>spriteSourceSize</key>
                <string>{61,146}</string>
                <key>textureRect</key>
                <string>{{887,836},{61,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stack/treadmill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,99}</string>
                <key>spriteSourceSize</key>
                <string>{336,99}</string>
                <key>textureRect</key>
                <string>{{549,792},{336,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stack/treadmillrun1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,45}</string>
                <key>spriteSourceSize</key>
                <string>{51,45}</string>
                <key>textureRect</key>
                <string>{{1035,836},{51,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stack/treadmillrun2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,43}</string>
                <key>spriteSourceSize</key>
                <string>{52,43}</string>
                <key>textureRect</key>
                <string>{{1082,836},{52,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stack/treadmillwheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{1189,836},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stack.png</string>
            <key>size</key>
            <string>{1790,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91af479acf1287460574b2d06f2a9f9a:d2c03b0504e82910b0dd5351de11753b:ba815659b7733bf70bca3ab3cf2366e9$</string>
            <key>textureFileName</key>
            <string>stack.png</string>
        </dict>
    </dict>
</plist>
