<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
	</dict>
	<key>category_names</key>
	<array />
	<key>bodies</key>
	<dict>
		<key>barrel</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.50100 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.2</real>
					<key>friction</key>
					<real>0.7</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 66.25000,53.25000 }</string>
							<string>{ 69.75000,17.25000 }</string>
							<string>{ 69.75000,-8.75000 }</string>
							<string>{ 66.25000,-50.75000 }</string>
							<string>{ -63.25000,-68.75000 }</string>
							<string>{ -70.25000,13.75000 }</string>
							<string>{ -57.50000,85.25000 }</string>
							<string>{ 57.75000,85.25000 }</string>
						</array>
						<array>
							<string>{ -58.50000,-85.25000 }</string>
							<string>{ -63.25000,-68.75000 }</string>
							<string>{ 66.25000,-50.75000 }</string>
							<string>{ 63.75000,-65.75000 }</string>
							<string>{ 57.75000,-85.25000 }</string>
						</array>
						<array>
							<string>{ -57.50000,85.25000 }</string>
							<string>{ -70.25000,13.75000 }</string>
							<string>{ -67.75000,48.75000 }</string>
							<string>{ -64.75000,66.75000 }</string>
						</array>
						<array>
							<string>{ -67.75000,-50.25000 }</string>
							<string>{ -70.25000,-18.25000 }</string>
							<string>{ -70.25000,13.75000 }</string>
							<string>{ -63.25000,-68.75000 }</string>
							<string>{ -64.50000,-68.50000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>crate</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.49800,0.49800 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 74.00000,-68.75000 }</string>
							<string>{ -74.25000,-69.00000 }</string>
							<string>{ -73.75000,69.50000 }</string>
							<string>{ 73.75000,69.50000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>floortile</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.50100 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>3</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>1</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -64.25000,39.00000 }</string>
							<string>{ 64.25000,39.00000 }</string>
							<string>{ 64.25000,-38.00000 }</string>
							<string>{ -64.25000,-38.25000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>floortile2</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.51000 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>3</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>1</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -64.00000,-12.50000 }</string>
							<string>{ -64.75000,9.25000 }</string>
							<string>{ -61.50000,13.00000 }</string>
							<string>{ 62.00000,13.00000 }</string>
							<string>{ 64.25000,10.75000 }</string>
							<string>{ 64.25000,-12.25000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>foundationtile1</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.49700,0.50300 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>3</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>1</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 42.25000,41.75000 }</string>
							<string>{ 42.25000,-41.25000 }</string>
							<string>{ -41.75000,-41.25000 }</string>
							<string>{ -41.75000,41.75000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>foundationtile2</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.49689,0.50000 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>3</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>1</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 40.00000,-42.50000 }</string>
							<string>{ -40.25000,-42.75000 }</string>
							<string>{ -40.50000,42.50000 }</string>
							<string>{ 40.00000,42.50000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>ladder</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.49700,0.50000 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 33.75000,213.25000 }</string>
							<string>{ 33.75000,202.25000 }</string>
							<string>{ -32.75000,202.25000 }</string>
							<string>{ -32.75000,213.25000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 33.75000,160.25000 }</string>
							<string>{ 33.75000,149.25000 }</string>
							<string>{ -32.75000,149.25000 }</string>
							<string>{ -32.75000,160.25000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 33.75000,108.75000 }</string>
							<string>{ 33.75000,97.75000 }</string>
							<string>{ -32.75000,97.75000 }</string>
							<string>{ -32.75000,108.75000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 33.25000,56.25000 }</string>
							<string>{ 33.25000,45.25000 }</string>
							<string>{ -33.25000,45.25000 }</string>
							<string>{ -33.25000,56.25000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 33.75000,3.75000 }</string>
							<string>{ 33.75000,-7.25000 }</string>
							<string>{ -32.75000,-7.25000 }</string>
							<string>{ -32.75000,3.75000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 33.25000,-48.75000 }</string>
							<string>{ 33.25000,-59.75000 }</string>
							<string>{ -33.25000,-59.75000 }</string>
							<string>{ -33.25000,-48.75000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 33.75000,-101.25000 }</string>
							<string>{ 33.75000,-112.25000 }</string>
							<string>{ -32.75000,-112.25000 }</string>
							<string>{ -32.75000,-101.25000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 33.75000,-153.25000 }</string>
							<string>{ 33.75000,-164.25000 }</string>
							<string>{ -32.75000,-164.25000 }</string>
							<string>{ -32.75000,-153.25000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 33.25000,-206.25000 }</string>
							<string>{ 33.25000,-217.25000 }</string>
							<string>{ -33.25000,-217.25000 }</string>
							<string>{ -33.25000,-206.25000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>ropebottom</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.49100,0.49800 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -6.25000,-55.75000 }</string>
							<string>{ 6.25000,-55.75000 }</string>
							<string>{ 13.25000,-74.75000 }</string>
							<string>{ 10.25000,-76.25000 }</string>
							<string>{ -9.25000,-65.25000 }</string>
							<string>{ -11.75000,-63.25000 }</string>
							<string>{ -11.75000,-58.75000 }</string>
						</array>
						<array>
							<string>{ 12.25000,-62.75000 }</string>
							<string>{ 9.75000,-65.25000 }</string>
							<string>{ 6.25000,-55.75000 }</string>
							<string>{ 11.75000,-58.25000 }</string>
						</array>
						<array>
							<string>{ 13.25000,-74.75000 }</string>
							<string>{ 9.75000,-65.25000 }</string>
							<string>{ 14.25000,-69.75000 }</string>
						</array>
						<array>
							<string>{ -13.25000,-67.75000 }</string>
							<string>{ -9.25000,-65.25000 }</string>
							<string>{ 10.25000,-76.25000 }</string>
							<string>{ -10.75000,-76.25000 }</string>
							<string>{ -14.25000,-71.75000 }</string>
						</array>
						<array>
							<string>{ 6.25000,-55.75000 }</string>
							<string>{ -6.25000,-55.75000 }</string>
							<string>{ -6.25000,75.25000 }</string>
							<string>{ 6.25000,75.25000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>ropemiddle</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.49800 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -6.50000,-75.25000 }</string>
							<string>{ -6.50000,75.25000 }</string>
							<string>{ 6.50000,75.25000 }</string>
							<string>{ 6.50000,-75.25000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>stairs</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.50100 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -272.00000,41.75000 }</string>
							<string>{ -272.00000,30.75000 }</string>
							<string>{ -434.50000,30.75000 }</string>
							<string>{ -434.50000,41.75000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -155.50000,98.25000 }</string>
							<string>{ -155.50000,87.25000 }</string>
							<string>{ -274.50000,87.25000 }</string>
							<string>{ -274.50000,98.25000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -44.00000,155.25000 }</string>
							<string>{ -44.00000,144.25000 }</string>
							<string>{ -163.00000,144.25000 }</string>
							<string>{ -163.00000,155.25000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 67.00000,212.75000 }</string>
							<string>{ 67.00000,201.75000 }</string>
							<string>{ -52.00000,201.75000 }</string>
							<string>{ -52.00000,212.75000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 177.50000,269.25000 }</string>
							<string>{ 177.50000,258.25000 }</string>
							<string>{ 58.50000,258.25000 }</string>
							<string>{ 58.50000,269.25000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 288.00000,326.25000 }</string>
							<string>{ 288.00000,315.25000 }</string>
							<string>{ 169.00000,315.25000 }</string>
							<string>{ 169.00000,326.25000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 448.50000,381.75000 }</string>
							<string>{ 448.50000,370.75000 }</string>
							<string>{ 280.50000,371.25000 }</string>
							<string>{ 280.50000,382.25000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -156.00000,-16.25000 }</string>
							<string>{ -156.00000,-27.25000 }</string>
							<string>{ -275.00000,-27.25000 }</string>
							<string>{ -275.00000,-16.25000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -44.50000,-72.75000 }</string>
							<string>{ -44.50000,-83.75000 }</string>
							<string>{ -163.50000,-83.75000 }</string>
							<string>{ -163.50000,-72.75000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 67.00000,-130.25000 }</string>
							<string>{ 67.00000,-141.25000 }</string>
							<string>{ -52.00000,-141.25000 }</string>
							<string>{ -52.00000,-130.25000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 176.50000,-187.75000 }</string>
							<string>{ 176.50000,-198.75000 }</string>
							<string>{ 57.50000,-198.75000 }</string>
							<string>{ 57.50000,-187.75000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 288.00000,-243.75000 }</string>
							<string>{ 288.00000,-254.75000 }</string>
							<string>{ 169.00000,-254.75000 }</string>
							<string>{ 169.00000,-243.75000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 399.50000,-299.75000 }</string>
							<string>{ 399.50000,-310.75000 }</string>
							<string>{ 280.50000,-310.75000 }</string>
							<string>{ 280.50000,-299.75000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>stairsbroken</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.50100 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -303.25000,-189.25000 }</string>
							<string>{ -303.25000,-200.25000 }</string>
							<string>{ -422.25000,-200.25000 }</string>
							<string>{ -422.25000,-189.25000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -193.25000,-133.75000 }</string>
							<string>{ -193.25000,-144.75000 }</string>
							<string>{ -312.25000,-144.75000 }</string>
							<string>{ -312.25000,-133.75000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -83.25000,-76.25000 }</string>
							<string>{ -83.25000,-87.25000 }</string>
							<string>{ -202.25000,-87.25000 }</string>
							<string>{ -202.25000,-76.25000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 28.75000,-19.75000 }</string>
							<string>{ 28.75000,-30.75000 }</string>
							<string>{ -90.25000,-30.75000 }</string>
							<string>{ -90.25000,-19.75000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 139.75000,36.75000 }</string>
							<string>{ 139.75000,25.75000 }</string>
							<string>{ 20.75000,25.75000 }</string>
							<string>{ 20.75000,36.75000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 249.75000,95.25000 }</string>
							<string>{ 249.75000,84.25000 }</string>
							<string>{ 130.75000,84.25000 }</string>
							<string>{ 130.75000,95.25000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 409.75000,150.75000 }</string>
							<string>{ 409.75000,139.75000 }</string>
							<string>{ 241.75000,140.75000 }</string>
							<string>{ 241.75000,151.75000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 252.25000,208.25000 }</string>
							<string>{ 252.25000,197.25000 }</string>
							<string>{ 133.25000,197.25000 }</string>
							<string>{ 133.25000,208.25000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 140.25000,264.75000 }</string>
							<string>{ 140.25000,253.75000 }</string>
							<string>{ 21.25000,253.75000 }</string>
							<string>{ 21.25000,264.75000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>table</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.00000,0.00000 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 243.75000,73.00000 }</string>
							<string>{ 243.75000,62.00000 }</string>
							<string>{ -248.25000,62.00000 }</string>
							<string>{ -248.25000,73.00000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>