<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>backpack/backpack1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,568},{487,563}}</string>
				<key>offset</key>
				<string>{5,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{537,623}</string>
			</dict>
			<key>backpack/backpack10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1131},{487,563}}</string>
				<key>offset</key>
				<string>{5,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{537,623}</string>
			</dict>
			<key>backpack/backpack2.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,0},{487,563}}</string>
				<key>offset</key>
				<string>{5,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{537,623}</string>
			</dict>
			<key>backpack/backpack3.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,563},{487,563}}</string>
				<key>offset</key>
				<string>{5,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{537,623}</string>
			</dict>
			<key>backpack/backpack4.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,1126},{487,563}}</string>
				<key>offset</key>
				<string>{5,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{537,623}</string>
			</dict>
			<key>backpack/backpack5.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,0},{487,563}}</string>
				<key>offset</key>
				<string>{5,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{537,623}</string>
			</dict>
			<key>backpack/backpack6.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,563},{487,563}}</string>
				<key>offset</key>
				<string>{5,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{537,623}</string>
			</dict>
			<key>backpack/backpack7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{487,568}}</string>
				<key>offset</key>
				<string>{5,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{537,623}</string>
			</dict>
			<key>backpack/backpack8.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,1126},{487,563}}</string>
				<key>offset</key>
				<string>{5,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{537,623}</string>
			</dict>
			<key>backpack/backpack9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1461,0},{487,563}}</string>
				<key>offset</key>
				<string>{5,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{537,623}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>backpack.png</string>
			<key>realTextureFileName</key>
			<string>backpack.png</string>
			<key>size</key>
			<string>{1948,1694}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1948</integer>
			<key>height</key>
			<integer>1694</integer>
		</dict>
	</dict>
</plist>