<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>unit/pizza-07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,239}</string>
                <key>spriteSourceSize</key>
                <string>{144,239}</string>
                <key>textureRect</key>
                <string>{{771,1},{144,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>unit/pizza.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,49}</string>
                <key>spriteSourceSize</key>
                <string>{102,49}</string>
                <key>textureRect</key>
                <string>{{1163,1},{102,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>unit/pizzabox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,149}</string>
                <key>spriteSourceSize</key>
                <string>{150,149}</string>
                <key>textureRect</key>
                <string>{{1012,1},{150,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>unit/pizzaboxf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,13}</string>
                <key>spriteSourceSize</key>
                <string>{151,13}</string>
                <key>textureRect</key>
                <string>{{771,147},{151,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unit/pizzatoppings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,6}</string>
                <key>spriteSourceSize</key>
                <string>{13,6}</string>
                <key>textureRect</key>
                <string>{{924,147},{13,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>unit/roll.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,160}</string>
                <key>spriteSourceSize</key>
                <string>{768,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{768,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>unit.png</string>
            <key>size</key>
            <string>{1213,162}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8905ba73f888a4f20e029ab66b428ad4:9ed82069c593b1e5b87510bd795a62f8:44bea75d342b5ab0391c3272aae7cff9$</string>
            <key>textureFileName</key>
            <string>unit.png</string>
        </dict>
    </dict>
</plist>
