<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/arm_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,26}</string>
                <key>spriteSourceSize</key>
                <string>{17,26}</string>
                <key>textureRect</key>
                <string>{{485,691},{17,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/arm_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,55}</string>
                <key>spriteSourceSize</key>
                <string>{12,55}</string>
                <key>textureRect</key>
                <string>{{113,1000},{12,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/arm_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,66}</string>
                <key>spriteSourceSize</key>
                <string>{14,66}</string>
                <key>textureRect</key>
                <string>{{485,596},{14,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/basi_bed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,143}</string>
                <key>spriteSourceSize</key>
                <string>{322,143}</string>
                <key>textureRect</key>
                <string>{{127,623},{322,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/basi_bus_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,123}</string>
                <key>spriteSourceSize</key>
                <string>{43,123}</string>
                <key>textureRect</key>
                <string>{{1,1378},{43,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/basi_hills.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,78}</string>
                <key>spriteSourceSize</key>
                <string>{404,78}</string>
                <key>textureRect</key>
                <string>{{272,623},{404,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/basi_house.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,74}</string>
                <key>spriteSourceSize</key>
                <string>{78,74}</string>
                <key>textureRect</key>
                <string>{{213,1347},{78,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/basi_house1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,75}</string>
                <key>spriteSourceSize</key>
                <string>{78,75}</string>
                <key>textureRect</key>
                <string>{{289,1345},{78,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/basi_house2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,66}</string>
                <key>spriteSourceSize</key>
                <string>{67,66}</string>
                <key>textureRect</key>
                <string>{{435,1308},{67,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/basi_house3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{59,67}</string>
                <key>spriteSourceSize</key>
                <string>{59,69}</string>
                <key>textureRect</key>
                <string>{{448,1125},{59,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/basi_house4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,305}</string>
                <key>spriteSourceSize</key>
                <string>{341,305}</string>
                <key>textureRect</key>
                <string>{{1,316},{341,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/basi_house5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,0}</string>
                <key>spriteSize</key>
                <string>{425,313}</string>
                <key>spriteSourceSize</key>
                <string>{473,313}</string>
                <key>textureRect</key>
                <string>{{1,1},{425,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/basi_sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{366,1308},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/basi_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,63}</string>
                <key>spriteSourceSize</key>
                <string>{30,63}</string>
                <key>textureRect</key>
                <string>{{448,1194},{30,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/basi_tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,130}</string>
                <key>spriteSourceSize</key>
                <string>{121,130}</string>
                <key>textureRect</key>
                <string>{{127,947},{121,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/basi_window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,167}</string>
                <key>spriteSourceSize</key>
                <string>{211,167}</string>
                <key>textureRect</key>
                <string>{{344,316},{211,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/bird.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,78}</string>
                <key>spriteSourceSize</key>
                <string>{85,78}</string>
                <key>textureRect</key>
                <string>{{126,1347},{85,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/bluebus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,131}</string>
                <key>spriteSourceSize</key>
                <string>{180,131}</string>
                <key>textureRect</key>
                <string>{{352,596},{180,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/boy_pent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{342,1231},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/boy_pent1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{419,1231},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/boy_pent_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,19}</string>
                <key>spriteSourceSize</key>
                <string>{7,19}</string>
                <key>textureRect</key>
                <string>{{259,993},{7,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/boy_pent_lower1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,18}</string>
                <key>spriteSourceSize</key>
                <string>{6,18}</string>
                <key>textureRect</key>
                <string>{{344,596},{6,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/boy_pent_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,28}</string>
                <key>spriteSourceSize</key>
                <string>{7,28}</string>
                <key>textureRect</key>
                <string>{{409,1410},{7,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/boy_pent_upper1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,28}</string>
                <key>spriteSourceSize</key>
                <string>{7,28}</string>
                <key>textureRect</key>
                <string>{{409,1419},{7,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/boy_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,120}</string>
                <key>spriteSourceSize</key>
                <string>{77,120}</string>
                <key>textureRect</key>
                <string>{{428,160},{77,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/boy_shirt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,109}</string>
                <key>spriteSourceSize</key>
                <string>{78,109}</string>
                <key>textureRect</key>
                <string>{{262,1234},{78,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/boy_shoe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,7}</string>
                <key>spriteSourceSize</key>
                <string>{29,7}</string>
                <key>textureRect</key>
                <string>{{113,1347},{29,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/bus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,110}</string>
                <key>spriteSourceSize</key>
                <string>{376,110}</string>
                <key>textureRect</key>
                <string>{{1,1000},{376,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/bus_tyre.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{41,41}</string>
                <key>textureRect</key>
                <string>{{366,1377},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,65}</string>
                <key>spriteSourceSize</key>
                <string>{162,65}</string>
                <key>textureRect</key>
                <string>{{344,529},{162,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/dust1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,8}</string>
                <key>spriteSourceSize</key>
                <string>{7,8}</string>
                <key>textureRect</key>
                <string>{{113,1057},{7,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/dust2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{496,1226},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/dust3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,24}</string>
                <key>spriteSourceSize</key>
                <string>{27,24}</string>
                <key>textureRect</key>
                <string>{{443,1377},{27,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/dust4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{463,282},{32,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/dust5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{32,31}</string>
                <key>textureRect</key>
                <string>{{409,1377},{32,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/dust6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,32}</string>
                <key>spriteSourceSize</key>
                <string>{33,32}</string>
                <key>textureRect</key>
                <string>{{428,282},{33,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/dust7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,25}</string>
                <key>spriteSourceSize</key>
                <string>{26,25}</string>
                <key>textureRect</key>
                <string>{{485,664},{26,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/dust8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{485,710},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/face .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,132}</string>
                <key>spriteSourceSize</key>
                <string>{163,132}</string>
                <key>textureRect</key>
                <string>{{352,960},{163,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/face1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,132}</string>
                <key>spriteSourceSize</key>
                <string>{163,132}</string>
                <key>textureRect</key>
                <string>{{352,960},{163,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/female_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,94}</string>
                <key>spriteSourceSize</key>
                <string>{78,94}</string>
                <key>textureRect</key>
                <string>{{259,1138},{78,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/female_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,107}</string>
                <key>spriteSourceSize</key>
                <string>{81,107}</string>
                <key>textureRect</key>
                <string>{{259,1029},{81,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/female_top1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,157}</string>
                <key>spriteSourceSize</key>
                <string>{82,157}</string>
                <key>textureRect</key>
                <string>{{428,1},{82,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/girl_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,166}</string>
                <key>spriteSourceSize</key>
                <string>{144,166}</string>
                <key>textureRect</key>
                <string>{{113,1070},{144,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{472,1377},{13,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/girl_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{472,1377},{13,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,43}</string>
                <key>spriteSourceSize</key>
                <string>{7,43}</string>
                <key>textureRect</key>
                <string>{{485,737},{7,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/girl_lower_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,43}</string>
                <key>spriteSourceSize</key>
                <string>{7,43}</string>
                <key>textureRect</key>
                <string>{{485,737},{7,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/girl_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{366,1420},{6,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/girl_lower_leg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{366,1420},{6,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,34}</string>
                <key>spriteSourceSize</key>
                <string>{17,34}</string>
                <key>textureRect</key>
                <string>{{342,1308},{17,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/girl_neck2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,34}</string>
                <key>spriteSourceSize</key>
                <string>{17,34}</string>
                <key>textureRect</key>
                <string>{{342,1308},{17,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/girl_shoe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,5}</string>
                <key>spriteSourceSize</key>
                <string>{26,5}</string>
                <key>textureRect</key>
                <string>{{342,1097},{26,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/girl_sleeve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,7}</string>
                <key>spriteSourceSize</key>
                <string>{17,7}</string>
                <key>textureRect</key>
                <string>{{485,782},{17,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,44}</string>
                <key>spriteSourceSize</key>
                <string>{7,44}</string>
                <key>textureRect</key>
                <string>{{259,947},{7,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/girl_upper_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,44}</string>
                <key>spriteSourceSize</key>
                <string>{7,44}</string>
                <key>textureRect</key>
                <string>{{259,947},{7,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/girl_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,22}</string>
                <key>spriteSourceSize</key>
                <string>{5,22}</string>
                <key>textureRect</key>
                <string>{{501,596},{5,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/girl_upper_leg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,22}</string>
                <key>spriteSourceSize</key>
                <string>{5,22}</string>
                <key>textureRect</key>
                <string>{{501,596},{5,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/mango.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,21}</string>
                <key>spriteSourceSize</key>
                <string>{13,21}</string>
                <key>textureRect</key>
                <string>{{498,282},{13,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/motu_pant_hip2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{342,1125},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/motu_pant_lower_left2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,24}</string>
                <key>spriteSourceSize</key>
                <string>{8,24}</string>
                <key>textureRect</key>
                <string>{{342,1071},{8,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/motu_pant_upper_left2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,37}</string>
                <key>spriteSourceSize</key>
                <string>{9,37}</string>
                <key>textureRect</key>
                <string>{{494,737},{9,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/motu_shirt2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,147}</string>
                <key>spriteSourceSize</key>
                <string>{107,147}</string>
                <key>textureRect</key>
                <string>{{113,1238},{107,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/motu_shoes_left2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,8}</string>
                <key>spriteSourceSize</key>
                <string>{40,8}</string>
                <key>textureRect</key>
                <string>{{342,1029},{40,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/redbus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,124}</string>
                <key>spriteSourceSize</key>
                <string>{375,124}</string>
                <key>textureRect</key>
                <string>{{1,623},{375,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/uniform.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,131}</string>
                <key>spriteSourceSize</key>
                <string>{180,131}</string>
                <key>textureRect</key>
                <string>{{352,778},{180,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Basi_kubwa_la_bluu_Big_blue_bus.png</string>
            <key>size</key>
            <string>{512,1427}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5476ade5b0ea99cd22570166779823bc:351695cd9154854e99f89fbe5fd807bf:08572ec8d60e46c4115aac97a591c0f7$</string>
            <key>textureFileName</key>
            <string>Basi_kubwa_la_bluu_Big_blue_bus.png</string>
        </dict>
    </dict>
</plist>
