<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mimi_na_familia_yangu/Miminafamiliayangu_branch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,311}</string>
                <key>spriteSourceSize</key>
                <string>{468,311}</string>
                <key>textureRect</key>
                <string>{{1,1},{468,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/Miminafamiliayangu_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,89}</string>
                <key>spriteSourceSize</key>
                <string>{148,89}</string>
                <key>textureRect</key>
                <string>{{194,722},{148,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/Miminafamiliayangu_grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,30}</string>
                <key>spriteSourceSize</key>
                <string>{85,30}</string>
                <key>textureRect</key>
                <string>{{471,122},{85,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/Miminafamiliayangu_leaf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,49}</string>
                <key>spriteSourceSize</key>
                <string>{20,49}</string>
                <key>textureRect</key>
                <string>{{337,1446},{20,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/Miminafamiliayangu_leaf2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,254}</string>
                <key>spriteSourceSize</key>
                <string>{108,254}</string>
                <key>textureRect</key>
                <string>{{126,991},{108,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/Miminafamiliayangu_mound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,120}</string>
                <key>spriteSourceSize</key>
                <string>{252,120}</string>
                <key>textureRect</key>
                <string>{{307,314},{252,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/Miminafamiliayangu_puddle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,75}</string>
                <key>spriteSourceSize</key>
                <string>{212,75}</string>
                <key>textureRect</key>
                <string>{{429,314},{212,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/Miminafamiliayangu_wave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,14}</string>
                <key>spriteSourceSize</key>
                <string>{97,14}</string>
                <key>textureRect</key>
                <string>{{471,209},{97,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/arm_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,26}</string>
                <key>spriteSourceSize</key>
                <string>{17,26}</string>
                <key>textureRect</key>
                <string>{{487,286},{17,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/arm_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,55}</string>
                <key>spriteSourceSize</key>
                <string>{12,55}</string>
                <key>textureRect</key>
                <string>{{475,1016},{12,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/arm_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,66}</string>
                <key>spriteSourceSize</key>
                <string>{14,66}</string>
                <key>textureRect</key>
                <string>{{442,1315},{14,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,112}</string>
                <key>spriteSourceSize</key>
                <string>{90,112}</string>
                <key>textureRect</key>
                <string>{{383,995},{90,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/dino.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,191}</string>
                <key>spriteSourceSize</key>
                <string>{212,191}</string>
                <key>textureRect</key>
                <string>{{1,777},{212,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/drop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,12}</string>
                <key>spriteSourceSize</key>
                <string>{18,12}</string>
                <key>textureRect</key>
                <string>{{482,1203},{18,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,13}</string>
                <key>spriteSourceSize</key>
                <string>{44,13}</string>
                <key>textureRect</key>
                <string>{{194,976},{44,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,116}</string>
                <key>spriteSourceSize</key>
                <string>{129,116}</string>
                <key>textureRect</key>
                <string>{{236,1101},{129,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/face2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,137}</string>
                <key>spriteSourceSize</key>
                <string>{160,137}</string>
                <key>textureRect</key>
                <string>{{295,568},{160,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/farmer_shirt_sleave_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,29}</string>
                <key>spriteSourceSize</key>
                <string>{18,29}</string>
                <key>textureRect</key>
                <string>{{475,1073},{18,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/giraffe_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,193}</string>
                <key>spriteSourceSize</key>
                <string>{145,193}</string>
                <key>textureRect</key>
                <string>{{94,1247},{145,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/giraffe_body2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,104}</string>
                <key>spriteSourceSize</key>
                <string>{145,104}</string>
                <key>textureRect</key>
                <string>{{236,995},{145,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/giraffe_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{467,1454},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/giraffe_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,235}</string>
                <key>spriteSourceSize</key>
                <string>{304,235}</string>
                <key>textureRect</key>
                <string>{{1,314},{304,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/giraffe_lower_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,42}</string>
                <key>spriteSourceSize</key>
                <string>{21,42}</string>
                <key>textureRect</key>
                <string>{{388,1446},{21,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/giraffe_lower_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,42}</string>
                <key>spriteSourceSize</key>
                <string>{21,42}</string>
                <key>textureRect</key>
                <string>{{458,1361},{21,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/giraffe_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,126}</string>
                <key>spriteSourceSize</key>
                <string>{47,126}</string>
                <key>textureRect</key>
                <string>{{433,1109},{47,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/giraffe_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,31}</string>
                <key>spriteSourceSize</key>
                <string>{35,31}</string>
                <key>textureRect</key>
                <string>{{425,1393},{35,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/giraffe_upper_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,41}</string>
                <key>spriteSourceSize</key>
                <string>{18,41}</string>
                <key>textureRect</key>
                <string>{{482,1117},{18,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/giraffe_upper_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,41}</string>
                <key>spriteSourceSize</key>
                <string>{18,41}</string>
                <key>textureRect</key>
                <string>{{482,1160},{18,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{220,1442},{13,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,43}</string>
                <key>spriteSourceSize</key>
                <string>{7,43}</string>
                <key>textureRect</key>
                <string>{{489,1016},{7,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/girl_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{498,1016},{6,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,34}</string>
                <key>spriteSourceSize</key>
                <string>{17,34}</string>
                <key>textureRect</key>
                <string>{{487,250},{17,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/girl_sleeve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,7}</string>
                <key>spriteSourceSize</key>
                <string>{17,7}</string>
                <key>textureRect</key>
                <string>{{240,986},{17,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,68}</string>
                <key>spriteSourceSize</key>
                <string>{15,68}</string>
                <key>textureRect</key>
                <string>{{425,1323},{15,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/girl_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,22}</string>
                <key>spriteSourceSize</key>
                <string>{5,22}</string>
                <key>textureRect</key>
                <string>{{70,1420},{5,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/gorilla.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,224}</string>
                <key>spriteSourceSize</key>
                <string>{186,224}</string>
                <key>textureRect</key>
                <string>{{1,551},{186,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/gorillahand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,86}</string>
                <key>spriteSourceSize</key>
                <string>{102,86}</string>
                <key>textureRect</key>
                <string>{{194,872},{102,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/left_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,42}</string>
                <key>textureRect</key>
                <string>{{471,78},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/left_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{462,1384},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/lower_left_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,73}</string>
                <key>spriteSourceSize</key>
                <string>{28,73}</string>
                <key>textureRect</key>
                <string>{{70,1442},{28,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/lower_left_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,74}</string>
                <key>spriteSourceSize</key>
                <string>{23,74}</string>
                <key>textureRect</key>
                <string>{{347,1421},{23,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/lower_right_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,73}</string>
                <key>spriteSourceSize</key>
                <string>{28,73}</string>
                <key>textureRect</key>
                <string>{{145,1442},{28,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/lower_right_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,60}</string>
                <key>spriteSourceSize</key>
                <string>{55,60}</string>
                <key>textureRect</key>
                <string>{{446,726},{55,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/motu_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{241,1325},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/motu_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,24}</string>
                <key>spriteSourceSize</key>
                <string>{8,24}</string>
                <key>textureRect</key>
                <string>{{446,871},{8,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/motu_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,37}</string>
                <key>spriteSourceSize</key>
                <string>{9,37}</string>
                <key>textureRect</key>
                <string>{{423,1426},{9,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/motu_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,149}</string>
                <key>spriteSourceSize</key>
                <string>{104,149}</string>
                <key>textureRect</key>
                <string>{{282,889},{104,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/motu_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,8}</string>
                <key>spriteSourceSize</key>
                <string>{40,8}</string>
                <key>textureRect</key>
                <string>{{240,976},{40,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/moutha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{39,19}</string>
                <key>spriteSourceSize</key>
                <string>{47,29}</string>
                <key>textureRect</key>
                <string>{{295,1431},{39,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/mouthae.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,19}</string>
                <key>spriteSourceSize</key>
                <string>{47,29}</string>
                <key>textureRect</key>
                <string>{{316,1431},{39,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/mouthe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{33,13}</string>
                <key>spriteSourceSize</key>
                <string>{47,29}</string>
                <key>textureRect</key>
                <string>{{491,1315},{33,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/moutho.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{21,15}</string>
                <key>spriteSourceSize</key>
                <string>{47,29}</string>
                <key>textureRect</key>
                <string>{{350,1219},{21,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/pigeon_beak_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,33}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{433,967},{26,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/pigeon_beak_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,17}</string>
                <key>spriteSourceSize</key>
                <string>{39,17}</string>
                <key>textureRect</key>
                <string>{{487,209},{39,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/pigeon_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{250,123}</string>
                <key>spriteSourceSize</key>
                <string>{258,123}</string>
                <key>textureRect</key>
                <string>{{1,991},{250,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/pigeon_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{482,1093},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/pigeon_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,157}</string>
                <key>spriteSourceSize</key>
                <string>{159,157}</string>
                <key>textureRect</key>
                <string>{{285,730},{159,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/pigeon_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{468,904},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/pigeon_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{468,944},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/pigeon_right_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,64}</string>
                <key>spriteSourceSize</key>
                <string>{133,64}</string>
                <key>textureRect</key>
                <string>{{367,1109},{133,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/pigeon_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,104}</string>
                <key>spriteSourceSize</key>
                <string>{107,104}</string>
                <key>textureRect</key>
                <string>{{241,1219},{107,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/pigeon_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,69}</string>
                <key>spriteSourceSize</key>
                <string>{135,69}</string>
                <key>textureRect</key>
                <string>{{434,528},{135,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/right_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,44}</string>
                <key>spriteSourceSize</key>
                <string>{31,44}</string>
                <key>textureRect</key>
                <string>{{458,1315},{31,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/right_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{432,1437},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/snake_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,76}</string>
                <key>spriteSourceSize</key>
                <string>{30,76}</string>
                <key>textureRect</key>
                <string>{{434,1237},{30,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/snake_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,76}</string>
                <key>spriteSourceSize</key>
                <string>{30,76}</string>
                <key>textureRect</key>
                <string>{{466,1237},{30,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/snake_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,76}</string>
                <key>spriteSourceSize</key>
                <string>{30,76}</string>
                <key>textureRect</key>
                <string>{{433,889},{30,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/snake_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,91}</string>
                <key>spriteSourceSize</key>
                <string>{175,91}</string>
                <key>textureRect</key>
                <string>{{1,1243},{175,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/snake_eye1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{467,1419},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/snake_eye2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{29,30}</string>
                <key>textureRect</key>
                <string>{{475,984},{29,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/snake_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,76}</string>
                <key>spriteSourceSize</key>
                <string>{94,76}</string>
                <key>textureRect</key>
                <string>{{347,1325},{94,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/snake_mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,33}</string>
                <key>spriteSourceSize</key>
                <string>{75,33}</string>
                <key>textureRect</key>
                <string>{{471,1},{75,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/snake_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,52}</string>
                <key>spriteSourceSize</key>
                <string>{39,52}</string>
                <key>textureRect</key>
                <string>{{241,1431},{39,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/turtlehead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,77}</string>
                <key>spriteSourceSize</key>
                <string>{82,77}</string>
                <key>textureRect</key>
                <string>{{350,1244},{82,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/turtleleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{482,867},{22,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/turtleshell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,104}</string>
                <key>spriteSourceSize</key>
                <string>{169,104}</string>
                <key>textureRect</key>
                <string>{{189,551},{169,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/upper_left_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,49}</string>
                <key>spriteSourceSize</key>
                <string>{67,49}</string>
                <key>textureRect</key>
                <string>{{1,1420},{67,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mimi_na_familia_yangu/upper_left_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,32}</string>
                <key>spriteSourceSize</key>
                <string>{81,32}</string>
                <key>textureRect</key>
                <string>{{446,788},{81,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/upper_right_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,20}</string>
                <key>spriteSourceSize</key>
                <string>{77,20}</string>
                <key>textureRect</key>
                <string>{{480,788},{77,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mimi_na_familia_yangu/upper_right_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{434,665},{68,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mimi_na_familia_yangu.png</string>
            <key>size</key>
            <string>{505,1471}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d55337226c82438f459ece4829518eb:01cab133416352f1074e9c29c3fbf3eb:11e1a6f27bb1db1c74cdcf456c24e7a2$</string>
            <key>textureFileName</key>
            <string>Mimi_na_familia_yangu.png</string>
        </dict>
    </dict>
</plist>
