<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mbweha_na_jua/branch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{937,622}</string>
                <key>spriteSourceSize</key>
                <string>{937,622}</string>
                <key>textureRect</key>
                <string>{{1,1},{937,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{493,227}</string>
                <key>spriteSourceSize</key>
                <string>{493,227}</string>
                <key>textureRect</key>
                <string>{{792,1064},{493,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,178}</string>
                <key>spriteSourceSize</key>
                <string>{295,178}</string>
                <key>textureRect</key>
                <string>{{449,2305},{295,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/jackal1bleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,127}</string>
                <key>spriteSourceSize</key>
                <string>{38,127}</string>
                <key>textureRect</key>
                <string>{{985,552},{38,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/jackal1body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,126}</string>
                <key>spriteSourceSize</key>
                <string>{253,126}</string>
                <key>textureRect</key>
                <string>{{506,1429},{253,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/jackal1face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,173}</string>
                <key>spriteSourceSize</key>
                <string>{145,173}</string>
                <key>textureRect</key>
                <string>{{792,625},{145,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/jackal1facesleep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,173}</string>
                <key>spriteSourceSize</key>
                <string>{145,173}</string>
                <key>textureRect</key>
                <string>{{876,1807},{145,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/jackal1fleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,119}</string>
                <key>spriteSourceSize</key>
                <string>{36,119}</string>
                <key>textureRect</key>
                <string>{{451,1618},{36,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/jackal1neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,81}</string>
                <key>spriteSourceSize</key>
                <string>{86,81}</string>
                <key>textureRect</key>
                <string>{{940,1},{86,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/jackal1tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,142}</string>
                <key>spriteSourceSize</key>
                <string>{107,142}</string>
                <key>textureRect</key>
                <string>{{340,2062},{107,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/jackal2bleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,127}</string>
                <key>spriteSourceSize</key>
                <string>{38,127}</string>
                <key>textureRect</key>
                <string>{{940,597},{38,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/jackal2body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,126}</string>
                <key>spriteSourceSize</key>
                <string>{253,126}</string>
                <key>textureRect</key>
                <string>{{319,2350},{253,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/jackal2face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,173}</string>
                <key>spriteSourceSize</key>
                <string>{145,173}</string>
                <key>textureRect</key>
                <string>{{858,2137},{145,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/jackal2fleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,127}</string>
                <key>spriteSourceSize</key>
                <string>{38,127}</string>
                <key>textureRect</key>
                <string>{{980,681},{38,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/jackal2neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,81}</string>
                <key>spriteSourceSize</key>
                <string>{86,81}</string>
                <key>textureRect</key>
                <string>{{940,89},{86,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/jackal2tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,142}</string>
                <key>spriteSourceSize</key>
                <string>{107,142}</string>
                <key>textureRect</key>
                <string>{{340,2206},{107,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/leaf_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,508}</string>
                <key>spriteSourceSize</key>
                <string>{215,508}</string>
                <key>textureRect</key>
                <string>{{1,1158},{215,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/mooncresent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,234}</string>
                <key>spriteSourceSize</key>
                <string>{223,234}</string>
                <key>textureRect</key>
                <string>{{746,2446},{223,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/mound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,241}</string>
                <key>spriteSourceSize</key>
                <string>{503,241}</string>
                <key>textureRect</key>
                <string>{{1,1375},{503,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/mountain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,132}</string>
                <key>spriteSourceSize</key>
                <string>{258,132}</string>
                <key>textureRect</key>
                <string>{{746,2312},{258,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/palmtree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{531,789}</string>
                <key>spriteSourceSize</key>
                <string>{531,789}</string>
                <key>textureRect</key>
                <string>{{1,625},{531,789}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/pigeon_beak_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,66}</string>
                <key>spriteSourceSize</key>
                <string>{53,66}</string>
                <key>textureRect</key>
                <string>{{940,446},{53,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/pigeon_beak_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,34}</string>
                <key>spriteSourceSize</key>
                <string>{77,34}</string>
                <key>textureRect</key>
                <string>{{940,217},{77,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/pigeon_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{500,246}</string>
                <key>spriteSourceSize</key>
                <string>{516,246}</string>
                <key>textureRect</key>
                <string>{{506,1559},{500,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/pigeon_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{940,552},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/pigeon_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{316,314}</string>
                <key>spriteSourceSize</key>
                <string>{318,314}</string>
                <key>textureRect</key>
                <string>{{1,2272},{316,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/pigeon_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,76}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{940,253},{72,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/pigeon_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,76}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{940,327},{72,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/pigeon_right_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,128}</string>
                <key>spriteSourceSize</key>
                <string>{267,128}</string>
                <key>textureRect</key>
                <string>{{511,1299},{267,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/pigeon_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,209}</string>
                <key>spriteSourceSize</key>
                <string>{213,209}</string>
                <key>textureRect</key>
                <string>{{447,2485},{213,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/pigeon_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,139}</string>
                <key>spriteSourceSize</key>
                <string>{269,139}</string>
                <key>textureRect</key>
                <string>{{511,1158},{269,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/puddle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,149}</string>
                <key>spriteSourceSize</key>
                <string>{423,149}</string>
                <key>textureRect</key>
                <string>{{451,1807},{423,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/sheep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,252}</string>
                <key>spriteSourceSize</key>
                <string>{228,252}</string>
                <key>textureRect</key>
                <string>{{792,810},{228,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{442,448}</string>
                <key>spriteSourceSize</key>
                <string>{442,448}</string>
                <key>textureRect</key>
                <string>{{1,1618},{442,448}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/tree_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,345}</string>
                <key>spriteSourceSize</key>
                <string>{405,345}</string>
                <key>textureRect</key>
                <string>{{451,1958},{405,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/turtlehead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,153}</string>
                <key>spriteSourceSize</key>
                <string>{163,153}</string>
                <key>textureRect</key>
                <string>{{858,1982},{163,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/turtleleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,69}</string>
                <key>spriteSourceSize</key>
                <string>{43,69}</string>
                <key>textureRect</key>
                <string>{{940,401},{43,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/turtleshell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,208}</string>
                <key>spriteSourceSize</key>
                <string>{337,208}</string>
                <key>textureRect</key>
                <string>{{1,2062},{337,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/waterdrop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,81}</string>
                <key>spriteSourceSize</key>
                <string>{38,81}</string>
                <key>textureRect</key>
                <string>{{940,177},{38,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/z.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,51}</string>
                <key>spriteSourceSize</key>
                <string>{49,51}</string>
                <key>textureRect</key>
                <string>{{940,501},{49,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mbweha_na_jua.png</string>
            <key>size</key>
            <string>{1024,2695}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa8806067e463d7e07177b3af4fdb494:875997c3ed1d2c7300e225cb6fb1621e:974344f4367e1fd1e9174019fa711be5$</string>
            <key>textureFileName</key>
            <string>Mbweha_na_jua.png</string>
        </dict>
    </dict>
</plist>
