<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jungle/junglea/bg 2-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{830,303}</string>
                <key>spriteSourceSize</key>
                <string>{834,311}</string>
                <key>textureRect</key>
                <string>{{1,554},{830,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jungle/junglea/bg-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,161}</string>
                <key>spriteSourceSize</key>
                <string>{1024,161}</string>
                <key>textureRect</key>
                <string>{{1,859},{1024,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jungle/junglea/board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,551}</string>
                <key>spriteSourceSize</key>
                <string>{1024,551}</string>
                <key>textureRect</key>
                <string>{{1,1},{1024,551}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>junglea.png</string>
            <key>size</key>
            <string>{1026,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:965de38f37c7735ae4f219866c418b6b:aaab181c3e975ca66d6e3b1141396516:de350b3358dc37244f18615d30e278d0$</string>
            <key>textureFileName</key>
            <string>junglea.png</string>
        </dict>
    </dict>
</plist>
