<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sungura_mjanja_Hare_the_trickster/2-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,265}</string>
                <key>spriteSourceSize</key>
                <string>{37,265}</string>
                <key>textureRect</key>
                <string>{{255,423},{37,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/2-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,251}</string>
                <key>spriteSourceSize</key>
                <string>{37,251}</string>
                <key>textureRect</key>
                <string>{{1328,1},{37,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/2-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,263}</string>
                <key>spriteSourceSize</key>
                <string>{153,263}</string>
                <key>textureRect</key>
                <string>{{1173,1},{153,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/2-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,272}</string>
                <key>spriteSourceSize</key>
                <string>{169,272}</string>
                <key>textureRect</key>
                <string>{{255,252},{169,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/2-06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,102}</string>
                <key>spriteSourceSize</key>
                <string>{124,102}</string>
                <key>textureRect</key>
                <string>{{980,395},{124,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/2-07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,146}</string>
                <key>spriteSourceSize</key>
                <string>{181,146}</string>
                <key>textureRect</key>
                <string>{{529,252},{181,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/2-08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,125}</string>
                <key>spriteSourceSize</key>
                <string>{161,125}</string>
                <key>textureRect</key>
                <string>{{1015,268},{161,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/bird-02-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,20}</string>
                <key>spriteSourceSize</key>
                <string>{29,20}</string>
                <key>textureRect</key>
                <string>{{1154,472},{29,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/bird-02-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,31}</string>
                <key>spriteSourceSize</key>
                <string>{28,31}</string>
                <key>textureRect</key>
                <string>{{491,462},{28,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/bird.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,46}</string>
                <key>spriteSourceSize</key>
                <string>{95,46}</string>
                <key>textureRect</key>
                <string>{{1106,395},{95,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/bufflo-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,252}</string>
                <key>spriteSourceSize</key>
                <string>{232,252}</string>
                <key>textureRect</key>
                <string>{{1,252},{232,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/bufflo-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,117}</string>
                <key>spriteSourceSize</key>
                <string>{93,117}</string>
                <key>textureRect</key>
                <string>{{673,401},{93,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/bufflo-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,265}</string>
                <key>spriteSourceSize</key>
                <string>{352,265}</string>
                <key>textureRect</key>
                <string>{{819,1},{352,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/bufflo-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,128}</string>
                <key>spriteSourceSize</key>
                <string>{84,128}</string>
                <key>textureRect</key>
                <string>{{529,412},{84,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/bufflo-06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,127}</string>
                <key>spriteSourceSize</key>
                <string>{61,127}</string>
                <key>textureRect</key>
                <string>{{1367,132},{61,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/ele-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-9}</string>
                <key>spriteSize</key>
                <string>{120,182}</string>
                <key>spriteSourceSize</key>
                <string>{164,200}</string>
                <key>textureRect</key>
                <string>{{796,380},{120,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/ele-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,150}</string>
                <key>spriteSourceSize</key>
                <string>{173,150}</string>
                <key>textureRect</key>
                <string>{{1178,266},{173,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/ele-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,80}</string>
                <key>spriteSourceSize</key>
                <string>{36,80}</string>
                <key>textureRect</key>
                <string>{{255,462},{36,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/ele-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1154,418},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/ele-06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1208,418},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/ele-07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{36,57}</string>
                <key>spriteSourceSize</key>
                <string>{36,59}</string>
                <key>textureRect</key>
                <string>{{337,462},{36,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/ele-08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{37,57}</string>
                <key>spriteSourceSize</key>
                <string>{37,59}</string>
                <key>textureRect</key>
                <string>{{396,462},{37,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/ele-09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,121}</string>
                <key>spriteSourceSize</key>
                <string>{79,121}</string>
                <key>textureRect</key>
                <string>{{1353,335},{79,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/ele-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,30}</string>
                <key>textureRect</key>
                <string>{{1298,418},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/ele-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,30}</string>
                <key>textureRect</key>
                <string>{{1176,472},{28,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/pot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,80}</string>
                <key>spriteSourceSize</key>
                <string>{72,80}</string>
                <key>textureRect</key>
                <string>{{1353,261},{72,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/rabbit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{82,147}</string>
                <key>spriteSourceSize</key>
                <string>{82,149}</string>
                <key>textureRect</key>
                <string>{{712,252},{82,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/rabit-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,35}</string>
                <key>spriteSourceSize</key>
                <string>{34,35}</string>
                <key>textureRect</key>
                <string>{{1262,418},{34,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/rabit-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,37}</string>
                <key>spriteSourceSize</key>
                <string>{34,37}</string>
                <key>textureRect</key>
                <string>{{455,462},{34,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/rabit-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,129}</string>
                <key>spriteSourceSize</key>
                <string>{65,129}</string>
                <key>textureRect</key>
                <string>{{1367,1},{65,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/river.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{816,249}</string>
                <key>spriteSourceSize</key>
                <string>{816,249}</string>
                <key>textureRect</key>
                <string>{{1,1},{816,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/rope.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,110}</string>
                <key>spriteSourceSize</key>
                <string>{217,110}</string>
                <key>textureRect</key>
                <string>{{796,268},{217,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/rope1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,142}</string>
                <key>spriteSourceSize</key>
                <string>{10,142}</string>
                <key>textureRect</key>
                <string>{{529,400},{10,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Sungura_mjanja_Hare_the_trickster.png</string>
            <key>size</key>
            <string>{1434,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2296229cc4ed686f50b1000e18d84467:3fbb17f2e595bcc2bf0864663dd05df4:5bb8b9128b303a50eb8c3c281890e643$</string>
            <key>textureFileName</key>
            <string>Sungura_mjanja_Hare_the_trickster.png</string>
        </dict>
    </dict>
</plist>
