<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hospital/hospital2/hospitaldoor1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,584}</string>
                <key>spriteSourceSize</key>
                <string>{484,584}</string>
                <key>textureRect</key>
                <string>{{1151,376},{484,584}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hospital/hospital2/hospitaldoor2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{476,573}</string>
                <key>spriteSourceSize</key>
                <string>{476,573}</string>
                <key>textureRect</key>
                <string>{{1,277},{476,573}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hospital/hospital2/hospitaldoor3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{477,573}</string>
                <key>spriteSourceSize</key>
                <string>{477,573}</string>
                <key>textureRect</key>
                <string>{{576,313},{477,573}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hospital/hospital2/pcback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,259}</string>
                <key>spriteSourceSize</key>
                <string>{239,259}</string>
                <key>textureRect</key>
                <string>{{1,1},{239,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hospital/hospital2/table1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{459,373}</string>
                <key>spriteSourceSize</key>
                <string>{459,373}</string>
                <key>textureRect</key>
                <string>{{1296,1},{459,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/hospital2/table2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,310}</string>
                <key>spriteSourceSize</key>
                <string>{344,310}</string>
                <key>textureRect</key>
                <string>{{950,1},{344,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/hospital2/table3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,274}</string>
                <key>spriteSourceSize</key>
                <string>{357,274}</string>
                <key>textureRect</key>
                <string>{{262,1},{357,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/hospital2/whiteboard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,287}</string>
                <key>spriteSourceSize</key>
                <string>{327,287}</string>
                <key>textureRect</key>
                <string>{{621,1},{327,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hospital2.png</string>
            <key>size</key>
            <string>{1756,861}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c35e27b158fe5c3cd428606df7e20ab1:5bd8eee92c2f0ff1f02e53030f859da2:ff009b189d7a446346191f584c7bc837$</string>
            <key>textureFileName</key>
            <string>hospital2.png</string>
        </dict>
    </dict>
</plist>
