<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>writing/blade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,42}</string>
                <key>spriteSourceSize</key>
                <string>{40,42}</string>
                <key>textureRect</key>
                <string>{{578,198},{40,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>writing/hill_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,195}</string>
                <key>spriteSourceSize</key>
                <string>{641,195}</string>
                <key>textureRect</key>
                <string>{{1,1},{641,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>writing/hill_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,83}</string>
                <key>spriteSourceSize</key>
                <string>{234,83}</string>
                <key>textureRect</key>
                <string>{{644,171},{234,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>writing/hill_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,83}</string>
                <key>spriteSourceSize</key>
                <string>{160,83}</string>
                <key>textureRect</key>
                <string>{{880,171},{160,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>writing/hill_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,168}</string>
                <key>spriteSourceSize</key>
                <string>{641,168}</string>
                <key>textureRect</key>
                <string>{{644,1},{641,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>writing/house.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,110}</string>
                <key>spriteSourceSize</key>
                <string>{58,110}</string>
                <key>textureRect</key>
                <string>{{1190,187},{58,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>writing/moon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{1,222},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>writing/star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,184}</string>
                <key>spriteSourceSize</key>
                <string>{370,184}</string>
                <key>textureRect</key>
                <string>{{1287,1},{370,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>writing/tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,450}</string>
                <key>spriteSourceSize</key>
                <string>{22,450}</string>
                <key>textureRect</key>
                <string>{{1,198},{22,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>writing/tree_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,123}</string>
                <key>spriteSourceSize</key>
                <string>{47,123}</string>
                <key>textureRect</key>
                <string>{{453,198},{47,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>writing/zebra.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,81}</string>
                <key>spriteSourceSize</key>
                <string>{146,81}</string>
                <key>textureRect</key>
                <string>{{1042,171},{146,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>writing.png</string>
            <key>size</key>
            <string>{1658,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82b57248bfeb9613e3d504f72e73adef:667f3bd94da5ef1be6af8259814df1cc:adbbe24605d6e485510d22de5643c3b1$</string>
            <key>textureFileName</key>
            <string>writing.png</string>
        </dict>
    </dict>
</plist>
