<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ordercandy/box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,66}</string>
                <key>spriteSourceSize</key>
                <string>{363,66}</string>
                <key>textureRect</key>
                <string>{{419,709},{363,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ordercandy/candy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{1897,1},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ordercandy/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,102}</string>
                <key>spriteSourceSize</key>
                <string>{260,102}</string>
                <key>textureRect</key>
                <string>{{419,777},{260,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ordercandy/cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,92}</string>
                <key>spriteSourceSize</key>
                <string>{303,92}</string>
                <key>textureRect</key>
                <string>{{1600,323},{303,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ordercandy/cloud3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,203}</string>
                <key>spriteSourceSize</key>
                <string>{416,203}</string>
                <key>textureRect</key>
                <string>{{1,709},{416,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ordercandy/fluffy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,272}</string>
                <key>spriteSourceSize</key>
                <string>{311,272}</string>
                <key>textureRect</key>
                <string>{{784,709},{311,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ordercandy/ground1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1579,290}</string>
                <key>spriteSourceSize</key>
                <string>{1579,290}</string>
                <key>textureRect</key>
                <string>{{1,417},{1579,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ordercandy/ground2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1597,414}</string>
                <key>spriteSourceSize</key>
                <string>{1597,414}</string>
                <key>textureRect</key>
                <string>{{1,1},{1597,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ordercandy/hill_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,320}</string>
                <key>spriteSourceSize</key>
                <string>{295,320}</string>
                <key>textureRect</key>
                <string>{{1600,1},{295,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ordercandy/mountain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{491,351}</string>
                <key>spriteSourceSize</key>
                <string>{491,351}</string>
                <key>textureRect</key>
                <string>{{1582,417},{491,351}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ordercandy.png</string>
            <key>size</key>
            <string>{1934,982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4eb976f9fa87d9a156eec514da2e236:cbd0a329e5cdb6e1ad8b33b70fe22127:46fc79660393671ddb2a46499257fff4$</string>
            <key>textureFileName</key>
            <string>ordercandy.png</string>
        </dict>
    </dict>
</plist>
