<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>camp_studio/Cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1193,738}</string>
                <key>spriteSourceSize</key>
                <string>{1193,738}</string>
                <key>textureRect</key>
                <string>{{1,1},{1193,738}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_studio/branch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,72}</string>
                <key>spriteSourceSize</key>
                <string>{249,72}</string>
                <key>textureRect</key>
                <string>{{1793,1869},{249,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_studio/studio_door_close1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,679}</string>
                <key>spriteSourceSize</key>
                <string>{510,679}</string>
                <key>textureRect</key>
                <string>{{1007,785},{510,679}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_studio/studio_door_close2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,0}</string>
                <key>spriteSize</key>
                <string>{378,679}</string>
                <key>spriteSourceSize</key>
                <string>{510,679}</string>
                <key>textureRect</key>
                <string>{{1519,785},{378,679}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_studio/studio_door_close3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{138,0}</string>
                <key>spriteSize</key>
                <string>{234,679}</string>
                <key>spriteSourceSize</key>
                <string>{510,679}</string>
                <key>textureRect</key>
                <string>{{1899,785},{234,679}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_studio/studio_floor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{481,481}</string>
                <key>spriteSourceSize</key>
                <string>{481,481}</string>
                <key>textureRect</key>
                <string>{{649,1485},{481,481}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_studio/studio_obj1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,165}</string>
                <key>spriteSourceSize</key>
                <string>{91,165}</string>
                <key>textureRect</key>
                <string>{{2150,1579},{91,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_studio/studio_obj10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1004,742}</string>
                <key>spriteSourceSize</key>
                <string>{1004,742}</string>
                <key>textureRect</key>
                <string>{{1,741},{1004,742}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_studio/studio_obj2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{2150,1746},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_studio/studio_obj3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,193}</string>
                <key>spriteSourceSize</key>
                <string>{148,193}</string>
                <key>textureRect</key>
                <string>{{2150,1384},{148,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_studio/studio_obj4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,702}</string>
                <key>spriteSourceSize</key>
                <string>{358,702}</string>
                <key>textureRect</key>
                <string>{{1196,425},{358,702}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_studio/studio_obj5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,199}</string>
                <key>spriteSourceSize</key>
                <string>{182,199}</string>
                <key>textureRect</key>
                <string>{{2135,1183},{182,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_studio/studio_obj6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,659}</string>
                <key>spriteSourceSize</key>
                <string>{498,659}</string>
                <key>textureRect</key>
                <string>{{1132,1466},{498,659}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_studio/studio_obj7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,347}</string>
                <key>spriteSourceSize</key>
                <string>{198,347}</string>
                <key>textureRect</key>
                <string>{{1900,567},{198,347}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_studio/studio_obj8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,564}</string>
                <key>spriteSourceSize</key>
                <string>{326,564}</string>
                <key>textureRect</key>
                <string>{{1989,1},{326,564}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_studio/studio_obj9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,791}</string>
                <key>spriteSourceSize</key>
                <string>{422,791}</string>
                <key>textureRect</key>
                <string>{{1196,1},{422,791}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_studio/studio_surface.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,60}</string>
                <key>spriteSourceSize</key>
                <string>{414,60}</string>
                <key>textureRect</key>
                <string>{{2135,767},{414,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_studio/studio_wall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{481,646}</string>
                <key>spriteSourceSize</key>
                <string>{481,648}</string>
                <key>textureRect</key>
                <string>{{1,1485},{481,646}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_studio/studio_window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,0}</string>
                <key>spriteSize</key>
                <string>{401,355}</string>
                <key>spriteSourceSize</key>
                <string>{425,355}</string>
                <key>textureRect</key>
                <string>{{1793,1466},{401,355}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>camp_studio.png</string>
            <key>size</key>
            <string>{2318,1967}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f05f8a997ba0b99ed684d8c21be036f3:db4976bc5967b4387c40e2b835566534:a942dbc49e0b47865ee0f4269de54913$</string>
            <key>textureFileName</key>
            <string>camp_studio.png</string>
        </dict>
    </dict>
</plist>
