<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>popcount/blink1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-67}</string>
                <key>spriteSize</key>
                <string>{395,380}</string>
                <key>spriteSourceSize</key>
                <string>{439,526}</string>
                <key>textureRect</key>
                <string>{{2377,801},{395,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcount/blink2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-67}</string>
                <key>spriteSize</key>
                <string>{395,380}</string>
                <key>spriteSourceSize</key>
                <string>{439,526}</string>
                <key>textureRect</key>
                <string>{{713,875},{395,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcount/board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,211}</string>
                <key>spriteSourceSize</key>
                <string>{612,211}</string>
                <key>textureRect</key>
                <string>{{905,1},{612,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcount/burst1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{51,56}</string>
                <key>spriteSourceSize</key>
                <string>{141,148}</string>
                <key>textureRect</key>
                <string>{{905,214},{51,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcount/burst2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{77,80}</string>
                <key>spriteSourceSize</key>
                <string>{141,148}</string>
                <key>textureRect</key>
                <string>{{2786,1498},{77,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcount/burst3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{103,104}</string>
                <key>spriteSourceSize</key>
                <string>{141,148}</string>
                <key>textureRect</key>
                <string>{{2786,1392},{103,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcount/burst4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,144}</string>
                <key>spriteSourceSize</key>
                <string>{141,148}</string>
                <key>textureRect</key>
                <string>{{2786,1134},{141,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcount/bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{902,301}</string>
                <key>spriteSourceSize</key>
                <string>{902,301}</string>
                <key>textureRect</key>
                <string>{{1,1},{902,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcount/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,145}</string>
                <key>spriteSourceSize</key>
                <string>{431,145}</string>
                <key>textureRect</key>
                <string>{{1041,728},{431,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcount/happy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-31}</string>
                <key>spriteSize</key>
                <string>{395,449}</string>
                <key>spriteSourceSize</key>
                <string>{439,525}</string>
                <key>textureRect</key>
                <string>{{1926,801},{395,449}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popcount/happy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-22}</string>
                <key>spriteSize</key>
                <string>{395,467}</string>
                <key>spriteSourceSize</key>
                <string>{439,525}</string>
                <key>textureRect</key>
                <string>{{2414,404},{395,467}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popcount/happy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-14}</string>
                <key>spriteSize</key>
                <string>{401,483}</string>
                <key>spriteSourceSize</key>
                <string>{439,525}</string>
                <key>textureRect</key>
                <string>{{2491,1},{401,483}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popcount/happy4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{431,513}</string>
                <key>spriteSourceSize</key>
                <string>{439,525}</string>
                <key>textureRect</key>
                <string>{{1,1508},{431,513}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcount/obj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,200}</string>
                <key>spriteSourceSize</key>
                <string>{331,200}</string>
                <key>textureRect</key>
                <string>{{2774,801},{331,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popcount/play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,110}</string>
                <key>spriteSourceSize</key>
                <string>{98,110}</string>
                <key>textureRect</key>
                <string>{{2786,1280},{98,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcount/purple1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-67}</string>
                <key>spriteSize</key>
                <string>{395,380}</string>
                <key>spriteSourceSize</key>
                <string>{439,526}</string>
                <key>textureRect</key>
                <string>{{831,1257},{395,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popcount/purple2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-67}</string>
                <key>spriteSize</key>
                <string>{395,380}</string>
                <key>spriteSourceSize</key>
                <string>{439,526}</string>
                <key>textureRect</key>
                <string>{{831,1654},{395,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcount/purple3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-31}</string>
                <key>spriteSize</key>
                <string>{395,450}</string>
                <key>spriteSourceSize</key>
                <string>{439,526}</string>
                <key>textureRect</key>
                <string>{{434,1508},{395,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcount/purple4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-22}</string>
                <key>spriteSize</key>
                <string>{395,468}</string>
                <key>spriteSourceSize</key>
                <string>{439,526}</string>
                <key>textureRect</key>
                <string>{{1474,404},{395,468}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popcount/purple5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-14}</string>
                <key>spriteSize</key>
                <string>{401,484}</string>
                <key>spriteSourceSize</key>
                <string>{439,526}</string>
                <key>textureRect</key>
                <string>{{1519,1},{401,484}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popcount/purple6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{431,512}</string>
                <key>spriteSourceSize</key>
                <string>{439,526}</string>
                <key>textureRect</key>
                <string>{{608,304},{431,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcount/purple7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-68}</string>
                <key>spriteSize</key>
                <string>{395,380}</string>
                <key>spriteSourceSize</key>
                <string>{439,526}</string>
                <key>textureRect</key>
                <string>{{1213,1198},{395,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcount/purple8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-68}</string>
                <key>spriteSize</key>
                <string>{395,380}</string>
                <key>spriteSourceSize</key>
                <string>{439,526}</string>
                <key>textureRect</key>
                <string>{{1610,1198},{395,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcount/sad1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-68}</string>
                <key>spriteSize</key>
                <string>{395,380}</string>
                <key>spriteSourceSize</key>
                <string>{439,526}</string>
                <key>textureRect</key>
                <string>{{2007,1198},{395,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcount/sad2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-68}</string>
                <key>spriteSize</key>
                <string>{395,380}</string>
                <key>spriteSourceSize</key>
                <string>{439,526}</string>
                <key>textureRect</key>
                <string>{{2404,1183},{395,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popcount/sand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,55}</string>
                <key>spriteSourceSize</key>
                <string>{324,55}</string>
                <key>textureRect</key>
                <string>{{713,818},{324,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcount/umbrella.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{605,566}</string>
                <key>spriteSourceSize</key>
                <string>{605,566}</string>
                <key>textureRect</key>
                <string>{{1,304},{605,566}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcount/watchagain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,181}</string>
                <key>spriteSourceSize</key>
                <string>{282,181}</string>
                <key>textureRect</key>
                <string>{{1110,1015},{282,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcount/water1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,96}</string>
                <key>spriteSourceSize</key>
                <string>{229,96}</string>
                <key>textureRect</key>
                <string>{{515,1342},{229,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcount/water2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,138}</string>
                <key>spriteSourceSize</key>
                <string>{327,138}</string>
                <key>textureRect</key>
                <string>{{1110,875},{327,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcount/water3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,196}</string>
                <key>spriteSourceSize</key>
                <string>{468,196}</string>
                <key>textureRect</key>
                <string>{{515,872},{468,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popcount/wave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,634}</string>
                <key>spriteSourceSize</key>
                <string>{512,634}</string>
                <key>textureRect</key>
                <string>{{1,872},{512,634}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcount/yellow1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-67}</string>
                <key>spriteSize</key>
                <string>{395,380}</string>
                <key>spriteSourceSize</key>
                <string>{439,526}</string>
                <key>textureRect</key>
                <string>{{1228,1580},{395,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcount/yellow2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-67}</string>
                <key>spriteSize</key>
                <string>{395,380}</string>
                <key>spriteSourceSize</key>
                <string>{439,526}</string>
                <key>textureRect</key>
                <string>{{1625,1580},{395,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcount/yellow3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-31}</string>
                <key>spriteSize</key>
                <string>{395,450}</string>
                <key>spriteSourceSize</key>
                <string>{439,526}</string>
                <key>textureRect</key>
                <string>{{1474,801},{395,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popcount/yellow4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-22}</string>
                <key>spriteSize</key>
                <string>{395,468}</string>
                <key>spriteSourceSize</key>
                <string>{439,526}</string>
                <key>textureRect</key>
                <string>{{1944,404},{395,468}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popcount/yellow5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-14}</string>
                <key>spriteSize</key>
                <string>{401,484}</string>
                <key>spriteSourceSize</key>
                <string>{439,526}</string>
                <key>textureRect</key>
                <string>{{2005,1},{401,484}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popcount/yellow6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{431,512}</string>
                <key>spriteSourceSize</key>
                <string>{439,526}</string>
                <key>textureRect</key>
                <string>{{1041,214},{431,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcount/yellow7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-68}</string>
                <key>spriteSize</key>
                <string>{395,380}</string>
                <key>spriteSourceSize</key>
                <string>{439,526}</string>
                <key>textureRect</key>
                <string>{{2022,1580},{395,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcount/yellow8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-68}</string>
                <key>spriteSize</key>
                <string>{395,380}</string>
                <key>spriteSourceSize</key>
                <string>{439,526}</string>
                <key>textureRect</key>
                <string>{{2419,1580},{395,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>popcount.png</string>
            <key>size</key>
            <string>{2975,2035}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:592cd084c782ed3514ba6164ad66c081:52b8981344465db7815437038d434f5b:cfb0da287def246e42fd861374fbd975$</string>
            <key>textureFileName</key>
            <string>popcount.png</string>
        </dict>
    </dict>
</plist>
