<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>alphamole/alphamole1/play1_1hole.png</key>
			<dict>
				<key>frame</key>
				<string>{{2020,262},{76,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,24}</string>
			</dict>
			<key>alphamole/alphamole1/play1_1stick.png</key>
			<dict>
				<key>frame</key>
				<string>{{1975,737},{60,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,128}</string>
			</dict>
			<key>alphamole/alphamole1/play1_2hole.png</key>
			<dict>
				<key>frame</key>
				<string>{{1748,892},{89,97}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,97}</string>
			</dict>
			<key>alphamole/alphamole1/play1_2stick.png</key>
			<dict>
				<key>frame</key>
				<string>{{1938,435},{74,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,163}</string>
			</dict>
			<key>alphamole/alphamole1/play1_3stick.png</key>
			<dict>
				<key>frame</key>
				<string>{{1938,262},{82,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,173}</string>
			</dict>
			<key>alphamole/alphamole1/play1_4stick.png</key>
			<dict>
				<key>frame</key>
				<string>{{1975,598},{65,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,139}</string>
			</dict>
			<key>alphamole/alphamole1/play1_cloud.png</key>
			<dict>
				<key>frame</key>
				<string>{{1938,0},{262,109}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{262,110}</string>
			</dict>
			<key>alphamole/alphamole1/play1_dol.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,945},{429,595}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{429,595}</string>
			</dict>
			<key>alphamole/alphamole1/play1_fence.png</key>
			<dict>
				<key>frame</key>
				<string>{{1938,598},{37,311}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,311}</string>
			</dict>
			<key>alphamole/alphamole1/play1_greenground.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1748,945}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1748,945}</string>
			</dict>
			<key>alphamole/alphamole1/Play1_hole_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1748,0},{892,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{892,190}</string>
			</dict>
			<key>alphamole/alphamole1/Play1_hole_front.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,945},{1181,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1181,350}</string>
			</dict>
			<key>alphamole/alphamole1/play1_tree.png</key>
			<dict>
				<key>frame</key>
				<string>{{1610,981},{397,416}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{397,417}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>alphamole1.png</string>
			<key>realTextureFileName</key>
			<string>alphamole1.png</string>
			<key>size</key>
			<string>{2047,1540}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2047</integer>
			<key>height</key>
			<integer>1540</integer>
		</dict>
	</dict>
</plist>