<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>city/city5/airport.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2507,1203}</string>
                <key>spriteSourceSize</key>
                <string>{2507,1203}</string>
                <key>textureRect</key>
                <string>{{1,1},{2507,1203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city5/airportdoor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{437,565}</string>
                <key>spriteSourceSize</key>
                <string>{437,565}</string>
                <key>textureRect</key>
                <string>{{2479,1687},{437,565}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city5/airportupper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1175,774}</string>
                <key>spriteSourceSize</key>
                <string>{1175,774}</string>
                <key>textureRect</key>
                <string>{{1703,1206},{1175,774}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city5/arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,111}</string>
                <key>spriteSourceSize</key>
                <string>{263,111}</string>
                <key>textureRect</key>
                <string>{{3475,1242},{263,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city5/bench.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{471,235}</string>
                <key>spriteSourceSize</key>
                <string>{471,235}</string>
                <key>textureRect</key>
                <string>{{3238,722},{471,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city5/bencha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{471,235}</string>
                <key>spriteSourceSize</key>
                <string>{471,235}</string>
                <key>textureRect</key>
                <string>{{3238,1195},{471,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city5/dustbin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,280}</string>
                <key>spriteSourceSize</key>
                <string>{165,280}</string>
                <key>textureRect</key>
                <string>{{2918,2032},{165,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city5/floorgrass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{625,122}</string>
                <key>spriteSourceSize</key>
                <string>{625,122}</string>
                <key>textureRect</key>
                <string>{{2479,2254},{625,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city5/floorstone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{625,129}</string>
                <key>spriteSourceSize</key>
                <string>{625,129}</string>
                <key>textureRect</key>
                <string>{{3238,1668},{625,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city5/flower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,343}</string>
                <key>spriteSourceSize</key>
                <string>{201,343}</string>
                <key>textureRect</key>
                <string>{{2918,1687},{201,343}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city5/gym.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1700,1168}</string>
                <key>spriteSourceSize</key>
                <string>{1700,1168}</string>
                <key>textureRect</key>
                <string>{{1,1206},{1700,1168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city5/gymdoor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,719}</string>
                <key>spriteSourceSize</key>
                <string>{341,719}</string>
                <key>textureRect</key>
                <string>{{3238,1},{341,719}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city5/gymupper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1684,726}</string>
                <key>spriteSourceSize</key>
                <string>{1684,726}</string>
                <key>textureRect</key>
                <string>{{2510,1},{1684,726}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city5/roadlightb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,534}</string>
                <key>spriteSourceSize</key>
                <string>{149,534}</string>
                <key>textureRect</key>
                <string>{{3369,1668},{149,534}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city5/trafficlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,518}</string>
                <key>spriteSourceSize</key>
                <string>{106,518}</string>
                <key>textureRect</key>
                <string>{{3475,722},{106,518}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city5/vlc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,188}</string>
                <key>spriteSourceSize</key>
                <string>{153,188}</string>
                <key>textureRect</key>
                <string>{{3369,2204},{153,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>city5.png</string>
            <key>size</key>
            <string>{3587,2382}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f4382c461af33607a7de2963bb25aec:15e579edb56051b07742862e05f843d2:1391fa3d7ed96732ad74fceda535c973$</string>
            <key>textureFileName</key>
            <string>city5.png</string>
        </dict>
    </dict>
</plist>
