<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>decomon/decomon4/decomon_bg1stand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1543,176}</string>
                <key>spriteSourceSize</key>
                <string>{1543,176}</string>
                <key>textureRect</key>
                <string>{{1,1},{1543,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon4/decomon_cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1244,519}</string>
                <key>spriteSourceSize</key>
                <string>{1244,519}</string>
                <key>textureRect</key>
                <string>{{179,289},{1244,519}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon4/decomon_cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{563,286}</string>
                <key>spriteSourceSize</key>
                <string>{563,286}</string>
                <key>textureRect</key>
                <string>{{179,1},{563,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon4/decomon_nail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{41,41}</string>
                <key>textureRect</key>
                <string>{{700,289},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>decomon4.png</string>
            <key>size</key>
            <string>{743,1545}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b83b209fbc77fe4579d6f1e94002e43:63734b7ca0b6c0c66c208dd683e6db7a:8c3c6043c74b97d2fd655001e1f102ae$</string>
            <key>textureFileName</key>
            <string>decomon4.png</string>
        </dict>
    </dict>
</plist>
