<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>basicmultiplication/board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{563,98}</string>
                <key>spriteSourceSize</key>
                <string>{563,98}</string>
                <key>textureRect</key>
                <string>{{1,1},{563,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basicmultiplication/circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{566,1},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>basicmultiplication.png</string>
            <key>size</key>
            <string>{631,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e7208df3ba1d4ae1f35149ef8f743f2:e9a1e8d31a883559ca43186e7945b9f4:be914ce126abacc8556460a09e99b0ea$</string>
            <key>textureFileName</key>
            <string>basicmultiplication.png</string>
        </dict>
    </dict>
</plist>
