<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>talkisland/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1415,328}</string>
                <key>spriteSourceSize</key>
                <string>{1415,328}</string>
                <key>textureRect</key>
                <string>{{1,1},{1415,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/bubble1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-66}</string>
                <key>spriteSize</key>
                <string>{70,97}</string>
                <key>spriteSourceSize</key>
                <string>{152,241}</string>
                <key>textureRect</key>
                <string>{{1316,331},{70,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkisland/bubble2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-32}</string>
                <key>spriteSize</key>
                <string>{66,97}</string>
                <key>spriteSourceSize</key>
                <string>{152,241}</string>
                <key>textureRect</key>
                <string>{{1316,403},{66,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkisland/bubble3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-20}</string>
                <key>spriteSize</key>
                <string>{96,111}</string>
                <key>spriteSourceSize</key>
                <string>{152,241}</string>
                <key>textureRect</key>
                <string>{{707,1559},{96,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/bubble4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,8}</string>
                <key>spriteSize</key>
                <string>{96,107}</string>
                <key>spriteSourceSize</key>
                <string>{152,241}</string>
                <key>textureRect</key>
                <string>{{1482,1727},{96,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/bubble5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,24}</string>
                <key>spriteSize</key>
                <string>{96,125}</string>
                <key>spriteSourceSize</key>
                <string>{152,241}</string>
                <key>textureRect</key>
                <string>{{1316,471},{96,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/bubble6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,44}</string>
                <key>spriteSize</key>
                <string>{126,139}</string>
                <key>spriteSourceSize</key>
                <string>{152,241}</string>
                <key>textureRect</key>
                <string>{{1252,767},{126,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkisland/ehand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,68}</string>
                <key>spriteSourceSize</key>
                <string>{227,68}</string>
                <key>textureRect</key>
                <string>{{1,1647},{227,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/enemy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-10}</string>
                <key>spriteSize</key>
                <string>{224,495}</string>
                <key>spriteSourceSize</key>
                <string>{400,521}</string>
                <key>textureRect</key>
                <string>{{819,331},{224,495}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkisland/enemy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,6}</string>
                <key>spriteSize</key>
                <string>{238,465}</string>
                <key>spriteSourceSize</key>
                <string>{400,521}</string>
                <key>textureRect</key>
                <string>{{731,1061},{238,465}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkisland/enemy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,44}</string>
                <key>spriteSize</key>
                <string>{322,401}</string>
                <key>spriteSourceSize</key>
                <string>{400,521}</string>
                <key>textureRect</key>
                <string>{{1,1721},{322,401}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkisland/enemy4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,21}</string>
                <key>spriteSize</key>
                <string>{386,441}</string>
                <key>spriteSourceSize</key>
                <string>{400,521}</string>
                <key>textureRect</key>
                <string>{{1415,395},{386,441}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkisland/enemy5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,13}</string>
                <key>spriteSize</key>
                <string>{334,457}</string>
                <key>spriteSourceSize</key>
                <string>{400,521}</string>
                <key>textureRect</key>
                <string>{{1033,1559},{334,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/enemydie1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-33}</string>
                <key>spriteSize</key>
                <string>{329,237}</string>
                <key>spriteSourceSize</key>
                <string>{347,327}</string>
                <key>textureRect</key>
                <string>{{468,1390},{329,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkisland/enemydie2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,19}</string>
                <key>spriteSize</key>
                <string>{237,273}</string>
                <key>spriteSourceSize</key>
                <string>{347,327}</string>
                <key>textureRect</key>
                <string>{{486,688},{237,273}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkisland/enemydie3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-4}</string>
                <key>spriteSize</key>
                <string>{181,207}</string>
                <key>spriteSourceSize</key>
                <string>{347,327}</string>
                <key>textureRect</key>
                <string>{{1369,1845},{181,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkisland/enemydie4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,0}</string>
                <key>spriteSize</key>
                <string>{115,111}</string>
                <key>spriteSourceSize</key>
                <string>{347,327}</string>
                <key>textureRect</key>
                <string>{{1198,1198},{115,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/ewrong1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,13}</string>
                <key>spriteSize</key>
                <string>{224,459}</string>
                <key>spriteSourceSize</key>
                <string>{290,509}</string>
                <key>textureRect</key>
                <string>{{807,1559},{224,459}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/ewrong2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,8}</string>
                <key>spriteSize</key>
                <string>{244,469}</string>
                <key>spriteSourceSize</key>
                <string>{290,509}</string>
                <key>textureRect</key>
                <string>{{1,922},{244,469}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkisland/ewrong3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,12}</string>
                <key>spriteSize</key>
                <string>{256,459}</string>
                <key>spriteSourceSize</key>
                <string>{290,509}</string>
                <key>textureRect</key>
                <string>{{731,1301},{256,459}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkisland/ewrong4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,5}</string>
                <key>spriteSize</key>
                <string>{250,465}</string>
                <key>spriteSourceSize</key>
                <string>{290,509}</string>
                <key>textureRect</key>
                <string>{{1,1168},{250,465}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkisland/ewrong5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{248,483}</string>
                <key>spriteSourceSize</key>
                <string>{290,509}</string>
                <key>textureRect</key>
                <string>{{1,672},{248,483}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkisland/fish1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,58}</string>
                <key>spriteSourceSize</key>
                <string>{136,58}</string>
                <key>textureRect</key>
                <string>{{1198,1078},{136,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/fish2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,58}</string>
                <key>spriteSourceSize</key>
                <string>{136,58}</string>
                <key>textureRect</key>
                <string>{{1198,1138},{136,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/fish3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,59}</string>
                <key>spriteSourceSize</key>
                <string>{136,59}</string>
                <key>textureRect</key>
                <string>{{1228,956},{136,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/fish4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,59}</string>
                <key>spriteSourceSize</key>
                <string>{137,59}</string>
                <key>textureRect</key>
                <string>{{1228,895},{137,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/fish5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,59}</string>
                <key>spriteSourceSize</key>
                <string>{136,59}</string>
                <key>textureRect</key>
                <string>{{1228,1017},{136,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/hero1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-8}</string>
                <key>spriteSize</key>
                <string>{222,495}</string>
                <key>spriteSourceSize</key>
                <string>{400,521}</string>
                <key>textureRect</key>
                <string>{{1,448},{222,495}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkisland/hero2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,8}</string>
                <key>spriteSize</key>
                <string>{238,465}</string>
                <key>spriteSourceSize</key>
                <string>{400,521}</string>
                <key>textureRect</key>
                <string>{{1366,1028},{238,465}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkisland/hero3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,46}</string>
                <key>spriteSize</key>
                <string>{322,401}</string>
                <key>spriteSourceSize</key>
                <string>{400,521}</string>
                <key>textureRect</key>
                <string>{{404,1721},{322,401}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkisland/hero4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,22}</string>
                <key>spriteSize</key>
                <string>{392,441}</string>
                <key>spriteSourceSize</key>
                <string>{400,521}</string>
                <key>textureRect</key>
                <string>{{1418,1},{392,441}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkisland/hero5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,15}</string>
                <key>spriteSize</key>
                <string>{334,457}</string>
                <key>spriteSourceSize</key>
                <string>{400,521}</string>
                <key>textureRect</key>
                <string>{{1522,1268},{334,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/herodie1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-39}</string>
                <key>spriteSize</key>
                <string>{328,237}</string>
                <key>spriteSourceSize</key>
                <string>{346,327}</string>
                <key>textureRect</key>
                <string>{{1192,1311},{328,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/herodie2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,12}</string>
                <key>spriteSize</key>
                <string>{238,273}</string>
                <key>spriteSourceSize</key>
                <string>{346,327}</string>
                <key>textureRect</key>
                <string>{{498,448},{238,273}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkisland/herodie3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,-11}</string>
                <key>spriteSize</key>
                <string>{180,207}</string>
                <key>spriteSourceSize</key>
                <string>{346,327}</string>
                <key>textureRect</key>
                <string>{{1578,1836},{180,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/herodie4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-7}</string>
                <key>spriteSize</key>
                <string>{114,111}</string>
                <key>spriteSourceSize</key>
                <string>{346,327}</string>
                <key>textureRect</key>
                <string>{{1369,1550},{114,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/hhand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-2}</string>
                <key>spriteSize</key>
                <string>{222,102}</string>
                <key>spriteSourceSize</key>
                <string>{280,126}</string>
                <key>textureRect</key>
                <string>{{1580,1727},{222,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/hwrong1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,14}</string>
                <key>spriteSize</key>
                <string>{225,459}</string>
                <key>spriteSourceSize</key>
                <string>{289,521}</string>
                <key>textureRect</key>
                <string>{{1,1420},{225,459}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkisland/hwrong2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,10}</string>
                <key>spriteSize</key>
                <string>{243,469}</string>
                <key>spriteSourceSize</key>
                <string>{289,521}</string>
                <key>textureRect</key>
                <string>{{1393,783},{243,469}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkisland/hwrong3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,14}</string>
                <key>spriteSize</key>
                <string>{257,461}</string>
                <key>spriteSourceSize</key>
                <string>{289,521}</string>
                <key>textureRect</key>
                <string>{{472,927},{257,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/hwrong4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,7}</string>
                <key>spriteSize</key>
                <string>{251,465}</string>
                <key>spriteSourceSize</key>
                <string>{289,521}</string>
                <key>textureRect</key>
                <string>{{761,808},{251,465}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkisland/hwrong5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{249,477}</string>
                <key>spriteSourceSize</key>
                <string>{289,521}</string>
                <key>textureRect</key>
                <string>{{773,557},{249,477}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkisland/plant1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,167}</string>
                <key>spriteSourceSize</key>
                <string>{159,167}</string>
                <key>textureRect</key>
                <string>{{1252,598},{159,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/plant2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,180}</string>
                <key>spriteSourceSize</key>
                <string>{111,180}</string>
                <key>textureRect</key>
                <string>{{1369,1663},{111,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/shade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,53}</string>
                <key>spriteSize</key>
                <string>{115,816}</string>
                <key>spriteSourceSize</key>
                <string>{137,972}</string>
                <key>textureRect</key>
                <string>{{1,331},{115,816}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>talkisland.png</string>
            <key>size</key>
            <string>{1863,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42572372a1c1321754bab22a029d0684:6579b91c3e5aedc11a230edf106188cb:9119533fe8859f779c14fce457f48b6e$</string>
            <key>textureFileName</key>
            <string>talkisland.png</string>
        </dict>
    </dict>
</plist>
