<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kisirusiru_mjinga_Kisirusiru/Kisirusiru_bag01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,167}</string>
                <key>spriteSourceSize</key>
                <string>{169,167}</string>
                <key>textureRect</key>
                <string>{{341,786},{169,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/Kisirusiru_bag02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,167}</string>
                <key>spriteSourceSize</key>
                <string>{169,167}</string>
                <key>textureRect</key>
                <string>{{119,1270},{169,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/Kisirusiru_bag1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,113}</string>
                <key>spriteSourceSize</key>
                <string>{126,113}</string>
                <key>textureRect</key>
                <string>{{1,1574},{126,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/Kisirusiru_bag2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,124}</string>
                <key>spriteSourceSize</key>
                <string>{93,124}</string>
                <key>textureRect</key>
                <string>{{415,1355},{93,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/Kisirusiru_grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,125}</string>
                <key>spriteSourceSize</key>
                <string>{86,125}</string>
                <key>textureRect</key>
                <string>{{415,1228},{86,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/Kisirusiru_ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{527,77}</string>
                <key>spriteSourceSize</key>
                <string>{527,77}</string>
                <key>textureRect</key>
                <string>{{1,786},{527,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/Kisirusiru_meat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,228}</string>
                <key>spriteSourceSize</key>
                <string>{380,228}</string>
                <key>textureRect</key>
                <string>{{1,556},{380,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/Kisirusiru_paper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,108}</string>
                <key>spriteSourceSize</key>
                <string>{131,108}</string>
                <key>textureRect</key>
                <string>{{294,1445},{131,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/Kisirusiru_pot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,78}</string>
                <key>spriteSourceSize</key>
                <string>{82,78}</string>
                <key>textureRect</key>
                <string>{{291,1674},{82,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/Kisirusiru_stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,30}</string>
                <key>spriteSourceSize</key>
                <string>{58,30}</string>
                <key>textureRect</key>
                <string>{{450,737},{58,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/Kisirusiru_sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{375,1665},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/Kisirusiru_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{553,504}</string>
                <key>spriteSourceSize</key>
                <string>{553,504}</string>
                <key>textureRect</key>
                <string>{{1,1},{553,504}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/Kuhesabu_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,57}</string>
                <key>spriteSourceSize</key>
                <string>{142,57}</string>
                <key>textureRect</key>
                <string>{{290,1270},{142,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/character1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,257}</string>
                <key>spriteSourceSize</key>
                <string>{116,257}</string>
                <key>textureRect</key>
                <string>{{1,1315},{116,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/character2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,267}</string>
                <key>spriteSourceSize</key>
                <string>{197,267}</string>
                <key>textureRect</key>
                <string>{{80,1071},{197,267}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/character3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,179}</string>
                <key>spriteSourceSize</key>
                <string>{127,179}</string>
                <key>textureRect</key>
                <string>{{383,556},{127,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/character4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,173}</string>
                <key>spriteSourceSize</key>
                <string>{140,173}</string>
                <key>textureRect</key>
                <string>{{119,1439},{140,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/face .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,149}</string>
                <key>spriteSourceSize</key>
                <string>{162,149}</string>
                <key>textureRect</key>
                <string>{{349,1064},{162,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{490,1017},{13,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,43}</string>
                <key>spriteSourceSize</key>
                <string>{7,43}</string>
                <key>textureRect</key>
                <string>{{103,1270},{7,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,34}</string>
                <key>spriteSourceSize</key>
                <string>{17,34}</string>
                <key>textureRect</key>
                <string>{{254,1746},{17,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,44}</string>
                <key>spriteSourceSize</key>
                <string>{7,44}</string>
                <key>textureRect</key>
                <string>{{450,769},{7,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/girl_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,22}</string>
                <key>spriteSourceSize</key>
                <string>{5,22}</string>
                <key>textureRect</key>
                <string>{{78,1702},{5,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/goat_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,126}</string>
                <key>spriteSourceSize</key>
                <string>{173,126}</string>
                <key>textureRect</key>
                <string>{{116,1581},{173,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/goat_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,20}</string>
                <key>spriteSourceSize</key>
                <string>{17,20}</string>
                <key>textureRect</key>
                <string>{{490,998},{17,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/goat_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,283}</string>
                <key>spriteSourceSize</key>
                <string>{259,283}</string>
                <key>textureRect</key>
                <string>{{80,786},{259,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/goat_lower_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,42}</string>
                <key>spriteSourceSize</key>
                <string>{21,42}</string>
                <key>textureRect</key>
                <string>{{80,1270},{21,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/goat_lower_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,42}</string>
                <key>spriteSourceSize</key>
                <string>{21,42}</string>
                <key>textureRect</key>
                <string>{{427,1665},{21,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/goat_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,29}</string>
                <key>spriteSourceSize</key>
                <string>{48,29}</string>
                <key>textureRect</key>
                <string>{{294,1414},{48,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/goat_upper_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,41}</string>
                <key>spriteSourceSize</key>
                <string>{18,41}</string>
                <key>textureRect</key>
                <string>{{490,955},{18,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/goat_upper_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,41}</string>
                <key>spriteSourceSize</key>
                <string>{18,41}</string>
                <key>textureRect</key>
                <string>{{464,1627},{18,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/motu_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{404,1481},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/motu_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,24}</string>
                <key>spriteSourceSize</key>
                <string>{8,24}</string>
                <key>textureRect</key>
                <string>{{490,1038},{8,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/motu_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,37}</string>
                <key>spriteSourceSize</key>
                <string>{9,37}</string>
                <key>textureRect</key>
                <string>{{464,1647},{9,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/motu_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,147}</string>
                <key>spriteSourceSize</key>
                <string>{107,147}</string>
                <key>textureRect</key>
                <string>{{341,955},{107,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/motu_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,8}</string>
                <key>spriteSourceSize</key>
                <string>{40,8}</string>
                <key>textureRect</key>
                <string>{{450,1665},{40,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/object_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{254,1709},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/puff1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{9,10}</string>
                <key>spriteSourceSize</key>
                <string>{93,82}</string>
                <key>textureRect</key>
                <string>{{404,1445},{9,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/puff10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,7}</string>
                <key>spriteSize</key>
                <string>{65,42}</string>
                <key>spriteSourceSize</key>
                <string>{93,82}</string>
                <key>textureRect</key>
                <string>{{383,737},{65,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/puff11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{61,38}</string>
                <key>spriteSourceSize</key>
                <string>{93,82}</string>
                <key>textureRect</key>
                <string>{{78,1709},{61,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/puff12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,39.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{93,82}</string>
                <key>textureRect</key>
                <string>{{507,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/puff2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{25,22}</string>
                <key>spriteSourceSize</key>
                <string>{93,82}</string>
                <key>textureRect</key>
                <string>{{428,1709},{25,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/puff3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{41,38}</string>
                <key>spriteSourceSize</key>
                <string>{93,82}</string>
                <key>textureRect</key>
                <string>{{464,1587},{41,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/puff4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{51,48}</string>
                <key>spriteSourceSize</key>
                <string>{93,82}</string>
                <key>textureRect</key>
                <string>{{375,1717},{51,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/puff5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{93,82}</string>
                <key>textureRect</key>
                <string>{{189,1709},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/puff6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{75,68}</string>
                <key>spriteSourceSize</key>
                <string>{93,82}</string>
                <key>textureRect</key>
                <string>{{1,1702},{75,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/puff7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{91,82}</string>
                <key>spriteSourceSize</key>
                <string>{93,82}</string>
                <key>textureRect</key>
                <string>{{291,1581},{91,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/puff8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{87,76}</string>
                <key>spriteSourceSize</key>
                <string>{93,82}</string>
                <key>textureRect</key>
                <string>{{375,1587},{87,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/puff9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{69,60}</string>
                <key>spriteSourceSize</key>
                <string>{93,82}</string>
                <key>textureRect</key>
                <string>{{118,1709},{69,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,64}</string>
                <key>spriteSourceSize</key>
                <string>{223,70}</string>
                <key>textureRect</key>
                <string>{{349,1228},{215,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Kisirusiru_mjinga_Kisirusiru.png</string>
            <key>size</key>
            <string>{511,1771}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e94faf5754e7ca5e760f0edf94f4706a:010df03317c2883938bb88839867bf4a:0943f4239006a3ffd191c158c38556e9$</string>
            <key>textureFileName</key>
            <string>Kisirusiru_mjinga_Kisirusiru.png</string>
        </dict>
    </dict>
</plist>
