<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Demane_and_Demazane/d2/farmer_boy_nose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{538,426}</string>
                <key>spriteSourceSize</key>
                <string>{546,426}</string>
                <key>textureRect</key>
                <string>{{1516,753},{538,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/farmer_coat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,585}</string>
                <key>spriteSourceSize</key>
                <string>{418,585}</string>
                <key>textureRect</key>
                <string>{{2056,666},{418,585}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Demane_and_Demazane/d2/farmer_darkbrown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,101}</string>
                <key>spriteSourceSize</key>
                <string>{43,101}</string>
                <key>textureRect</key>
                <string>{{1992,1181},{43,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/farmer_ear_round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,175}</string>
                <key>spriteSourceSize</key>
                <string>{138,175}</string>
                <key>textureRect</key>
                <string>{{2918,1434},{138,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/farmer_eyebrow_boy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,64}</string>
                <key>spriteSourceSize</key>
                <string>{110,64}</string>
                <key>textureRect</key>
                <string>{{2259,1879},{110,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/farmer_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{815,680}</string>
                <key>spriteSourceSize</key>
                <string>{815,680}</string>
                <key>textureRect</key>
                <string>{{1,1264},{815,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/farmer_hair_curl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1095,750}</string>
                <key>spriteSourceSize</key>
                <string>{1095,750}</string>
                <key>textureRect</key>
                <string>{{928,1},{1095,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/farmer_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,76}</string>
                <key>textureRect</key>
                <string>{{2387,1805},{50,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/farmer_mouth_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,108}</string>
                <key>spriteSourceSize</key>
                <string>{253,108}</string>
                <key>textureRect</key>
                <string>{{1504,1772},{253,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/farmer_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,135}</string>
                <key>spriteSourceSize</key>
                <string>{66,135}</string>
                <key>textureRect</key>
                <string>{{2131,1770},{66,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Demane_and_Demazane/d2/farmer_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,415}</string>
                <key>spriteSourceSize</key>
                <string>{415,415}</string>
                <key>textureRect</key>
                <string>{{2643,600},{415,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/farmer_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,107}</string>
                <key>spriteSourceSize</key>
                <string>{30,107}</string>
                <key>textureRect</key>
                <string>{{2597,1306},{30,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/farmer_pant_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,107}</string>
                <key>spriteSourceSize</key>
                <string>{30,107}</string>
                <key>textureRect</key>
                <string>{{1992,1887},{30,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Demane_and_Demazane/d2/farmer_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,147}</string>
                <key>spriteSourceSize</key>
                <string>{36,147}</string>
                <key>textureRect</key>
                <string>{{3022,1},{36,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/farmer_pant_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,147}</string>
                <key>spriteSourceSize</key>
                <string>{36,147}</string>
                <key>textureRect</key>
                <string>{{3022,150},{36,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/farmer_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,597}</string>
                <key>spriteSourceSize</key>
                <string>{416,597}</string>
                <key>textureRect</key>
                <string>{{2604,1},{416,597}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/farmer_shirt_sleave_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,117}</string>
                <key>spriteSourceSize</key>
                <string>{72,117}</string>
                <key>textureRect</key>
                <string>{{2268,1805},{72,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Demane_and_Demazane/d2/farmer_shirt_sleave_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,273}</string>
                <key>spriteSourceSize</key>
                <string>{61,273}</string>
                <key>textureRect</key>
                <string>{{1046,1844},{61,273}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Demane_and_Demazane/d2/farmer_shoe_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,33}</string>
                <key>spriteSourceSize</key>
                <string>{160,33}</string>
                <key>textureRect</key>
                <string>{{1957,1733},{160,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Demane_and_Demazane/d2/farmer_shoe_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,33}</string>
                <key>spriteSourceSize</key>
                <string>{160,33}</string>
                <key>textureRect</key>
                <string>{{1957,1733},{160,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Demane_and_Demazane/d2/fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{386,183}</string>
                <key>spriteSourceSize</key>
                <string>{386,183}</string>
                <key>textureRect</key>
                <string>{{2530,1434},{386,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/fire1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-87}</string>
                <key>spriteSize</key>
                <string>{224,536}</string>
                <key>spriteSourceSize</key>
                <string>{318,760}</string>
                <key>textureRect</key>
                <string>{{1992,1544},{224,536}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Demane_and_Demazane/d2/fire2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-6}</string>
                <key>spriteSize</key>
                <string>{226,680}</string>
                <key>spriteSourceSize</key>
                <string>{318,760}</string>
                <key>textureRect</key>
                <string>{{818,1264},{226,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/fire3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,14}</string>
                <key>spriteSize</key>
                <string>{232,658}</string>
                <key>spriteSourceSize</key>
                <string>{318,760}</string>
                <key>textureRect</key>
                <string>{{1046,1184},{232,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/fire4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,14}</string>
                <key>spriteSize</key>
                <string>{222,658}</string>
                <key>spriteSourceSize</key>
                <string>{318,760}</string>
                <key>textureRect</key>
                <string>{{1280,1184},{222,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/fire5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-71}</string>
                <key>spriteSize</key>
                <string>{232,550}</string>
                <key>spriteSourceSize</key>
                <string>{318,760}</string>
                <key>textureRect</key>
                <string>{{1758,1181},{232,550}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/fire6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-53}</string>
                <key>spriteSize</key>
                <string>{218,580}</string>
                <key>spriteSourceSize</key>
                <string>{318,760}</string>
                <key>textureRect</key>
                <string>{{2056,1086},{218,580}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Demane_and_Demazane/d2/fire7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-22}</string>
                <key>spriteSize</key>
                <string>{252,586}</string>
                <key>spriteSourceSize</key>
                <string>{318,760}</string>
                <key>textureRect</key>
                <string>{{1504,1184},{252,586}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/fire8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-46}</string>
                <key>spriteSize</key>
                <string>{236,530}</string>
                <key>spriteSourceSize</key>
                <string>{318,760}</string>
                <key>textureRect</key>
                <string>{{1992,1306},{236,530}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Demane_and_Demazane/d2/girl_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,72}</string>
                <key>spriteSourceSize</key>
                <string>{71,72}</string>
                <key>textureRect</key>
                <string>{{2439,1802},{71,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/girl_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{577,663}</string>
                <key>spriteSourceSize</key>
                <string>{577,663}</string>
                <key>textureRect</key>
                <string>{{2025,1},{577,663}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,76}</string>
                <key>textureRect</key>
                <string>{{2387,1805},{50,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,172}</string>
                <key>spriteSourceSize</key>
                <string>{28,172}</string>
                <key>textureRect</key>
                <string>{{1321,1844},{28,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Demane_and_Demazane/d2/girl_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,105}</string>
                <key>spriteSourceSize</key>
                <string>{22,105}</string>
                <key>textureRect</key>
                <string>{{2757,1824},{22,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,135}</string>
                <key>spriteSourceSize</key>
                <string>{66,135}</string>
                <key>textureRect</key>
                <string>{{2131,1770},{66,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Demane_and_Demazane/d2/girl_shoe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,21}</string>
                <key>spriteSourceSize</key>
                <string>{105,21}</string>
                <key>textureRect</key>
                <string>{{2781,1894},{105,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/girl_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,248}</string>
                <key>spriteSourceSize</key>
                <string>{273,248}</string>
                <key>textureRect</key>
                <string>{{2809,1619},{273,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Demane_and_Demazane/d2/girl_sleeve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,26}</string>
                <key>spriteSourceSize</key>
                <string>{68,26}</string>
                <key>textureRect</key>
                <string>{{2781,1824},{68,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Demane_and_Demazane/d2/girl_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,277}</string>
                <key>spriteSourceSize</key>
                <string>{203,277}</string>
                <key>textureRect</key>
                <string>{{2530,1619},{203,277}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Demane_and_Demazane/d2/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,177}</string>
                <key>spriteSourceSize</key>
                <string>{28,177}</string>
                <key>textureRect</key>
                <string>{{1046,1907},{28,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Demane_and_Demazane/d2/girl_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,89}</string>
                <key>spriteSourceSize</key>
                <string>{21,89}</string>
                <key>textureRect</key>
                <string>{{1225,1907},{21,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Demane_and_Demazane/d2/moon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,137}</string>
                <key>spriteSourceSize</key>
                <string>{115,137}</string>
                <key>textureRect</key>
                <string>{{1992,1770},{115,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Demane_and_Demazane/d2/motu_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,415}</string>
                <key>spriteSourceSize</key>
                <string>{415,415}</string>
                <key>textureRect</key>
                <string>{{2643,1017},{415,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/motu_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,96}</string>
                <key>spriteSourceSize</key>
                <string>{30,96}</string>
                <key>textureRect</key>
                <string>{{2429,1770},{30,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Demane_and_Demazane/d2/motu_pant_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,96}</string>
                <key>spriteSourceSize</key>
                <string>{30,96}</string>
                <key>textureRect</key>
                <string>{{2725,1824},{30,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/motu_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,147}</string>
                <key>spriteSourceSize</key>
                <string>{36,147}</string>
                <key>textureRect</key>
                <string>{{3022,299},{36,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/motu_pant_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,147}</string>
                <key>spriteSourceSize</key>
                <string>{36,147}</string>
                <key>textureRect</key>
                <string>{{3022,448},{36,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/motu_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,586}</string>
                <key>spriteSourceSize</key>
                <string>{429,586}</string>
                <key>textureRect</key>
                <string>{{928,753},{429,586}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Demane_and_Demazane/d2/motu_shirt_sleave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,105}</string>
                <key>spriteSourceSize</key>
                <string>{64,105}</string>
                <key>textureRect</key>
                <string>{{2512,1824},{64,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Demane_and_Demazane/d2/motu_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,33}</string>
                <key>spriteSourceSize</key>
                <string>{159,33}</string>
                <key>textureRect</key>
                <string>{{2268,1770},{159,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/motu_shoes_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,33}</string>
                <key>spriteSourceSize</key>
                <string>{159,33}</string>
                <key>textureRect</key>
                <string>{{1321,1874},{159,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/mouth_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,108}</string>
                <key>spriteSourceSize</key>
                <string>{253,108}</string>
                <key>textureRect</key>
                <string>{{1504,1772},{253,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/rat_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{126,71}</string>
                <key>spriteSourceSize</key>
                <string>{152,115}</string>
                <key>textureRect</key>
                <string>{{2524,1306},{126,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Demane_and_Demazane/d2/rat_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-7}</string>
                <key>spriteSize</key>
                <string>{126,59}</string>
                <key>spriteSourceSize</key>
                <string>{152,115}</string>
                <key>textureRect</key>
                <string>{{2131,1838},{126,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/rat_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{104,93}</string>
                <key>spriteSourceSize</key>
                <string>{152,115}</string>
                <key>textureRect</key>
                <string>{{2619,1824},{104,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/rat_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-11}</string>
                <key>spriteSize</key>
                <string>{116,73}</string>
                <key>spriteSourceSize</key>
                <string>{152,115}</string>
                <key>textureRect</key>
                <string>{{928,1184},{116,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,162}</string>
                <key>spriteSourceSize</key>
                <string>{196,162}</string>
                <key>textureRect</key>
                <string>{{1759,1733},{196,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/stars.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{925,1261}</string>
                <key>spriteSourceSize</key>
                <string>{925,1261}</string>
                <key>textureRect</key>
                <string>{{1,1},{925,1261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/d2/touch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-200.5,200.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{404,404}</string>
                <key>textureRect</key>
                <string>{{2638,1086},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>d2.png</string>
            <key>size</key>
            <string>{3059,1945}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76f3219d1e18c4e5bf2906345d73638e:4e442c16aa1771566472af26cefc6ad5:2f21aaa51f7d28a9e4c302d97476f70f$</string>
            <key>textureFileName</key>
            <string>d2.png</string>
        </dict>
    </dict>
</plist>
