<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dino/a_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,193}</string>
                <key>spriteSourceSize</key>
                <string>{204,193}</string>
                <key>textureRect</key>
                <string>{{1777,1799},{204,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/a_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,220}</string>
                <key>spriteSourceSize</key>
                <string>{210,220}</string>
                <key>textureRect</key>
                <string>{{1417,3444},{210,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/a_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,260}</string>
                <key>spriteSourceSize</key>
                <string>{423,260}</string>
                <key>textureRect</key>
                <string>{{1,3693},{423,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/b_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,114}</string>
                <key>spriteSourceSize</key>
                <string>{124,114}</string>
                <key>textureRect</key>
                <string>{{604,3964},{124,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/b_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,187}</string>
                <key>spriteSourceSize</key>
                <string>{237,187}</string>
                <key>textureRect</key>
                <string>{{1777,1560},{237,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/b_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,126}</string>
                <key>spriteSourceSize</key>
                <string>{112,126}</string>
                <key>textureRect</key>
                <string>{{1771,3813},{112,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/c_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,117}</string>
                <key>spriteSourceSize</key>
                <string>{101,117}</string>
                <key>textureRect</key>
                <string>{{1898,119},{101,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/c_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,274}</string>
                <key>spriteSourceSize</key>
                <string>{270,274}</string>
                <key>textureRect</key>
                <string>{{1639,2990},{270,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/c_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,106}</string>
                <key>spriteSourceSize</key>
                <string>{108,106}</string>
                <key>textureRect</key>
                <string>{{1909,2608},{108,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/d_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,115}</string>
                <key>spriteSourceSize</key>
                <string>{112,115}</string>
                <key>textureRect</key>
                <string>{{1863,3927},{112,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/d_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,189}</string>
                <key>spriteSourceSize</key>
                <string>{169,189}</string>
                <key>textureRect</key>
                <string>{{918,3814},{169,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/d_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,121}</string>
                <key>spriteSourceSize</key>
                <string>{102,121}</string>
                <key>textureRect</key>
                <string>{{1911,2978},{102,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/e_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,135}</string>
                <key>spriteSourceSize</key>
                <string>{116,135}</string>
                <key>textureRect</key>
                <string>{{1496,3804},{116,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/e_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,425}</string>
                <key>spriteSourceSize</key>
                <string>{214,425}</string>
                <key>textureRect</key>
                <string>{{554,3444},{214,425}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/e_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,132}</string>
                <key>spriteSourceSize</key>
                <string>{111,132}</string>
                <key>textureRect</key>
                <string>{{1778,3679},{111,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/f_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,136}</string>
                <key>spriteSourceSize</key>
                <string>{105,136}</string>
                <key>textureRect</key>
                <string>{{1633,3808},{105,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/f_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,434}</string>
                <key>spriteSourceSize</key>
                <string>{205,434}</string>
                <key>textureRect</key>
                <string>{{981,3444},{205,434}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/f_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,62}</string>
                <key>spriteSourceSize</key>
                <string>{104,62}</string>
                <key>textureRect</key>
                <string>{{1911,2354},{104,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/g_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,127}</string>
                <key>spriteSourceSize</key>
                <string>{128,127}</string>
                <key>textureRect</key>
                <string>{{1494,3922},{128,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/g_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,123}</string>
                <key>spriteSourceSize</key>
                <string>{122,123}</string>
                <key>textureRect</key>
                <string>{{1255,3963},{122,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/g_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,81}</string>
                <key>spriteSourceSize</key>
                <string>{80,81}</string>
                <key>textureRect</key>
                <string>{{866,4005},{80,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/h_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,250}</string>
                <key>spriteSourceSize</key>
                <string>{242,250}</string>
                <key>textureRect</key>
                <string>{{1639,3435},{242,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/h_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,223}</string>
                <key>spriteSourceSize</key>
                <string>{161,223}</string>
                <key>textureRect</key>
                <string>{{1777,2005},{161,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/h_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,125}</string>
                <key>spriteSourceSize</key>
                <string>{181,125}</string>
                <key>textureRect</key>
                <string>{{258,3955},{181,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/i_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,255}</string>
                <key>spriteSourceSize</key>
                <string>{129,255}</string>
                <key>textureRect</key>
                <string>{{1,3955},{129,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/i_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,189}</string>
                <key>spriteSourceSize</key>
                <string>{92,189}</string>
                <key>textureRect</key>
                <string>{{1898,618},{92,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/i_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,161}</string>
                <key>spriteSourceSize</key>
                <string>{142,161}</string>
                <key>textureRect</key>
                <string>{{441,3946},{142,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/j_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,206}</string>
                <key>spriteSourceSize</key>
                <string>{152,206}</string>
                <key>textureRect</key>
                <string>{{763,3660},{152,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/j_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,198}</string>
                <key>spriteSourceSize</key>
                <string>{171,198}</string>
                <key>textureRect</key>
                <string>{{1833,2718},{171,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/j_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,149}</string>
                <key>spriteSourceSize</key>
                <string>{172,149}</string>
                <key>textureRect</key>
                <string>{{1164,3651},{172,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/k_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,344}</string>
                <key>spriteSourceSize</key>
                <string>{136,344}</string>
                <key>textureRect</key>
                <string>{{1639,2347},{136,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/k_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{551,247}</string>
                <key>spriteSourceSize</key>
                <string>{551,247}</string>
                <key>textureRect</key>
                <string>{{1,3444},{551,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/k_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,151}</string>
                <key>spriteSourceSize</key>
                <string>{207,151}</string>
                <key>textureRect</key>
                <string>{{554,3660},{207,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/l_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,286}</string>
                <key>spriteSourceSize</key>
                <string>{167,286}</string>
                <key>textureRect</key>
                <string>{{1639,3266},{167,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/l_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,251}</string>
                <key>spriteSourceSize</key>
                <string>{115,251}</string>
                <key>textureRect</key>
                <string>{{426,3693},{115,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/l_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,159}</string>
                <key>spriteSourceSize</key>
                <string>{114,159}</string>
                <key>textureRect</key>
                <string>{{1898,1155},{114,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/level1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1895,1315}</string>
                <key>spriteSourceSize</key>
                <string>{1895,1315}</string>
                <key>textureRect</key>
                <string>{{1,1},{1895,1315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/level2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1774,1027}</string>
                <key>spriteSourceSize</key>
                <string>{1774,1027}</string>
                <key>textureRect</key>
                <string>{{1,1318},{1774,1027}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/level3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1636,1095}</string>
                <key>spriteSourceSize</key>
                <string>{1636,1095}</string>
                <key>textureRect</key>
                <string>{{1,2347},{1636,1095}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/m_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,295}</string>
                <key>spriteSourceSize</key>
                <string>{192,295}</string>
                <key>textureRect</key>
                <string>{{1639,2693},{192,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/m_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,240}</string>
                <key>spriteSourceSize</key>
                <string>{140,240}</string>
                <key>textureRect</key>
                <string>{{1777,1318},{140,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/m_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,122}</string>
                <key>spriteSourceSize</key>
                <string>{104,122}</string>
                <key>textureRect</key>
                <string>{{1911,2230},{104,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/n_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,234}</string>
                <key>spriteSourceSize</key>
                <string>{124,234}</string>
                <key>textureRect</key>
                <string>{{1891,3435},{124,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/n_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,196}</string>
                <key>spriteSourceSize</key>
                <string>{114,196}</string>
                <key>textureRect</key>
                <string>{{1898,420},{114,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/n_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,106}</string>
                <key>spriteSourceSize</key>
                <string>{75,106}</string>
                <key>textureRect</key>
                <string>{{1940,2005},{75,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/o_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,225}</string>
                <key>spriteSourceSize</key>
                <string>{130,225}</string>
                <key>textureRect</key>
                <string>{{1777,2460},{130,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/o_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,181}</string>
                <key>spriteSourceSize</key>
                <string>{100,181}</string>
                <key>textureRect</key>
                <string>{{1898,809},{100,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/o_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,228}</string>
                <key>spriteSourceSize</key>
                <string>{132,228}</string>
                <key>textureRect</key>
                <string>{{1777,2230},{132,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/p_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,159}</string>
                <key>spriteSourceSize</key>
                <string>{146,159}</string>
                <key>textureRect</key>
                <string>{{1245,3802},{146,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/p_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,156}</string>
                <key>spriteSourceSize</key>
                <string>{144,156}</string>
                <key>textureRect</key>
                <string>{{1338,3656},{144,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/p_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,148}</string>
                <key>spriteSourceSize</key>
                <string>{203,148}</string>
                <key>textureRect</key>
                <string>{{713,3814},{203,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/q_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,99}</string>
                <key>spriteSourceSize</key>
                <string>{58,99}</string>
                <key>textureRect</key>
                <string>{{1393,3902},{58,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/q_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,97}</string>
                <key>spriteSourceSize</key>
                <string>{58,97}</string>
                <key>textureRect</key>
                <string>{{1887,2918},{58,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/q_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,117}</string>
                <key>spriteSourceSize</key>
                <string>{98,117}</string>
                <key>textureRect</key>
                <string>{{1898,222},{98,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/r_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,181}</string>
                <key>spriteSourceSize</key>
                <string>{160,181}</string>
                <key>textureRect</key>
                <string>{{981,3651},{160,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/r_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,143}</string>
                <key>spriteSourceSize</key>
                <string>{127,143}</string>
                <key>textureRect</key>
                <string>{{1633,3679},{127,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/r_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,160}</string>
                <key>spriteSourceSize</key>
                <string>{154,160}</string>
                <key>textureRect</key>
                <string>{{1089,3813},{154,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/s_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,161}</string>
                <key>spriteSourceSize</key>
                <string>{103,161}</string>
                <key>textureRect</key>
                <string>{{1898,992},{103,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/s_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,136}</string>
                <key>spriteSourceSize</key>
                <string>{87,136}</string>
                <key>textureRect</key>
                <string>{{1919,1408},{87,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/s_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,58}</string>
                <key>spriteSourceSize</key>
                <string>{108,58}</string>
                <key>textureRect</key>
                <string>{{1940,2113},{108,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/t_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,168}</string>
                <key>spriteSourceSize</key>
                <string>{118,168}</string>
                <key>textureRect</key>
                <string>{{543,3813},{118,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/t_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,146}</string>
                <key>spriteSourceSize</key>
                <string>{106,146}</string>
                <key>textureRect</key>
                <string>{{1909,2460},{106,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/t_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,146}</string>
                <key>spriteSourceSize</key>
                <string>{135,146}</string>
                <key>textureRect</key>
                <string>{{1496,3656},{135,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/u_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,144}</string>
                <key>spriteSourceSize</key>
                <string>{119,144}</string>
                <key>textureRect</key>
                <string>{{720,3964},{119,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/u_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{116,124}</string>
                <key>textureRect</key>
                <string>{{1891,3671},{116,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/u_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,115}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1746,3927},{115,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/v_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,117}</string>
                <key>spriteSourceSize</key>
                <string>{96,117}</string>
                <key>textureRect</key>
                <string>{{1898,322},{96,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/v_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,96}</string>
                <key>textureRect</key>
                <string>{{1919,1316},{90,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/v_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,90}</string>
                <key>spriteSourceSize</key>
                <string>{97,90}</string>
                <key>textureRect</key>
                <string>{{1911,3101},{97,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/w_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,117}</string>
                <key>spriteSourceSize</key>
                <string>{116,117}</string>
                <key>textureRect</key>
                <string>{{1898,1},{116,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/w_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,101}</string>
                <key>spriteSourceSize</key>
                <string>{98,101}</string>
                <key>textureRect</key>
                <string>{{1393,3802},{98,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/w_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,111}</string>
                <key>spriteSourceSize</key>
                <string>{122,111}</string>
                <key>textureRect</key>
                <string>{{1899,3789},{122,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/x_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,120}</string>
                <key>spriteSourceSize</key>
                <string>{121,120}</string>
                <key>textureRect</key>
                <string>{{1624,3922},{121,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/x_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,87}</string>
                <key>spriteSourceSize</key>
                <string>{89,87}</string>
                <key>textureRect</key>
                <string>{{1379,3963},{89,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/x_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,72}</string>
                <key>spriteSourceSize</key>
                <string>{77,72}</string>
                <key>textureRect</key>
                <string>{{949,4005},{77,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/y_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,76}</string>
                <key>spriteSourceSize</key>
                <string>{74,76}</string>
                <key>textureRect</key>
                <string>{{1927,3355},{74,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/y_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,63}</string>
                <key>spriteSourceSize</key>
                <string>{64,63}</string>
                <key>textureRect</key>
                <string>{{1911,3193},{64,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/y_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,52}</string>
                <key>spriteSourceSize</key>
                <string>{70,52}</string>
                <key>textureRect</key>
                <string>{{1833,2918},{70,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/z_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,114}</string>
                <key>spriteSourceSize</key>
                <string>{113,114}</string>
                <key>textureRect</key>
                <string>{{1089,3975},{113,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/z_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,95}</string>
                <key>spriteSourceSize</key>
                <string>{87,95}</string>
                <key>textureRect</key>
                <string>{{1927,3258},{87,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/z_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,48}</string>
                <key>spriteSourceSize</key>
                <string>{113,48}</string>
                <key>textureRect</key>
                <string>{{1205,3975},{113,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dino.png</string>
            <key>size</key>
            <string>{2016,4089}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:378cbf1b625e656482222892110a78d9:21fe70bec47d963bd6df7ead15256b73:2ec318654873fb028491b71cf0e1f30e$</string>
            <key>textureFileName</key>
            <string>dino.png</string>
        </dict>
    </dict>
</plist>
