<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pinata/bg-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,900}</string>
                <key>spriteSourceSize</key>
                <string>{1280,900}</string>
                <key>textureRect</key>
                <string>{{1,907},{1280,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinata/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1593,904}</string>
                <key>spriteSourceSize</key>
                <string>{1593,904}</string>
                <key>textureRect</key>
                <string>{{1,1},{1593,904}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinata/cake1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{163,254}</string>
                <key>spriteSourceSize</key>
                <string>{163,256}</string>
                <key>textureRect</key>
                <string>{{1283,907},{163,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinata/cake2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,221}</string>
                <key>spriteSourceSize</key>
                <string>{168,221}</string>
                <key>textureRect</key>
                <string>{{1283,1243},{168,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinata/cake3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,226}</string>
                <key>spriteSourceSize</key>
                <string>{169,226}</string>
                <key>textureRect</key>
                <string>{{1283,1072},{169,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinata/gunbase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,93}</string>
                <key>spriteSourceSize</key>
                <string>{134,93}</string>
                <key>textureRect</key>
                <string>{{1427,1413},{134,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinata/guntrigger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,142}</string>
                <key>spriteSourceSize</key>
                <string>{117,142}</string>
                <key>textureRect</key>
                <string>{{1283,1413},{117,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinata/player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{1506,1243},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pinata.png</string>
            <key>size</key>
            <string>{1595,1808}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f6f41ba77c514d45eadcbc1f5745193:127b5d5b5d728dec91a68bd4512f2e81:fee3799c6e913d47f911644f80ea7723$</string>
            <key>textureFileName</key>
            <string>pinata.png</string>
        </dict>
    </dict>
</plist>
