<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dino/a_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,48}</string>
                <key>spriteSourceSize</key>
                <string>{51,48}</string>
                <key>textureRect</key>
                <string>{{726,390},{51,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/a_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,55}</string>
                <key>spriteSourceSize</key>
                <string>{53,55}</string>
                <key>textureRect</key>
                <string>{{671,390},{53,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/a_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,65}</string>
                <key>spriteSourceSize</key>
                <string>{106,65}</string>
                <key>textureRect</key>
                <string>{{644,282},{106,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/b_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,29}</string>
                <key>spriteSourceSize</key>
                <string>{31,29}</string>
                <key>textureRect</key>
                <string>{{1002,127},{31,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/b_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,47}</string>
                <key>spriteSourceSize</key>
                <string>{59,47}</string>
                <key>textureRect</key>
                <string>{{663,447},{59,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/b_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{921,356},{28,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/c_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,29}</string>
                <key>spriteSourceSize</key>
                <string>{25,29}</string>
                <key>textureRect</key>
                <string>{{1002,359},{25,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/c_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,69}</string>
                <key>spriteSourceSize</key>
                <string>{68,69}</string>
                <key>textureRect</key>
                <string>{{745,443},{68,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/c_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{903,327},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/d_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,29}</string>
                <key>spriteSourceSize</key>
                <string>{28,29}</string>
                <key>textureRect</key>
                <string>{{1002,222},{28,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/d_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,47}</string>
                <key>spriteSourceSize</key>
                <string>{42,47}</string>
                <key>textureRect</key>
                <string>{{858,442},{42,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/d_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,30}</string>
                <key>textureRect</key>
                <string>{{999,418},{26,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/e_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,34}</string>
                <key>spriteSourceSize</key>
                <string>{29,34}</string>
                <key>textureRect</key>
                <string>{{128,477},{29,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/e_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,106}</string>
                <key>spriteSourceSize</key>
                <string>{54,106}</string>
                <key>textureRect</key>
                <string>{{711,282},{54,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/e_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{328,477},{28,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/f_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{159,477},{26,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/f_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,109}</string>
                <key>spriteSourceSize</key>
                <string>{51,109}</string>
                <key>textureRect</key>
                <string>{{591,282},{51,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/f_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,16}</string>
                <key>spriteSourceSize</key>
                <string>{26,16}</string>
                <key>textureRect</key>
                <string>{{995,299},{26,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/g_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{887,356},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/g_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{951,356},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/g_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{858,491},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/h_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,63}</string>
                <key>spriteSourceSize</key>
                <string>{61,63}</string>
                <key>textureRect</key>
                <string>{{392,447},{61,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/h_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,56}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{816,442},{40,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/h_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,31}</string>
                <key>spriteSourceSize</key>
                <string>{45,31}</string>
                <key>textureRect</key>
                <string>{{902,437},{45,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/i_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{358,447},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/i_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,47}</string>
                <key>spriteSourceSize</key>
                <string>{23,47}</string>
                <key>textureRect</key>
                <string>{{860,390},{23,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/i_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,40}</string>
                <key>spriteSourceSize</key>
                <string>{36,40}</string>
                <key>textureRect</key>
                <string>{{861,318},{36,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/j_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,52}</string>
                <key>spriteSourceSize</key>
                <string>{38,52}</string>
                <key>textureRect</key>
                <string>{{591,393},{38,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/j_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,50}</string>
                <key>spriteSourceSize</key>
                <string>{43,50}</string>
                <key>textureRect</key>
                <string>{{815,390},{43,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/j_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,37}</string>
                <key>spriteSourceSize</key>
                <string>{43,37}</string>
                <key>textureRect</key>
                <string>{{927,390},{43,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/k_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,86}</string>
                <key>spriteSourceSize</key>
                <string>{34,86}</string>
                <key>textureRect</key>
                <string>{{1,477},{34,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/k_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,62}</string>
                <key>spriteSourceSize</key>
                <string>{138,62}</string>
                <key>textureRect</key>
                <string>{{486,447},{138,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/k_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,38}</string>
                <key>spriteSourceSize</key>
                <string>{52,38}</string>
                <key>textureRect</key>
                <string>{{631,393},{52,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/l_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,72}</string>
                <key>spriteSourceSize</key>
                <string>{42,72}</string>
                <key>textureRect</key>
                <string>{{817,282},{42,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/l_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,63}</string>
                <key>spriteSourceSize</key>
                <string>{29,63}</string>
                <key>textureRect</key>
                <string>{{455,447},{29,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/l_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,40}</string>
                <key>spriteSourceSize</key>
                <string>{29,40}</string>
                <key>textureRect</key>
                <string>{{1002,52},{29,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/level1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,329}</string>
                <key>spriteSourceSize</key>
                <string>{474,329}</string>
                <key>textureRect</key>
                <string>{{1,1},{474,329}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/level2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,257}</string>
                <key>spriteSourceSize</key>
                <string>{444,257}</string>
                <key>textureRect</key>
                <string>{{332,1},{444,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/level3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,274}</string>
                <key>spriteSourceSize</key>
                <string>{409,274}</string>
                <key>textureRect</key>
                <string>{{591,1},{409,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/m_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,74}</string>
                <key>spriteSourceSize</key>
                <string>{48,74}</string>
                <key>textureRect</key>
                <string>{{767,282},{48,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/m_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,60}</string>
                <key>spriteSourceSize</key>
                <string>{35,60}</string>
                <key>textureRect</key>
                <string>{{626,447},{35,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/m_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,31}</string>
                <key>spriteSourceSize</key>
                <string>{26,31}</string>
                <key>textureRect</key>
                <string>{{966,415},{26,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/n_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,59}</string>
                <key>spriteSourceSize</key>
                <string>{31,59}</string>
                <key>textureRect</key>
                <string>{{712,447},{31,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/n_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,49}</string>
                <key>spriteSourceSize</key>
                <string>{29,49}</string>
                <key>textureRect</key>
                <string>{{1002,1},{29,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/n_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,27}</string>
                <key>spriteSourceSize</key>
                <string>{19,27}</string>
                <key>textureRect</key>
                <string>{{880,491},{19,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/o_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,56}</string>
                <key>spriteSourceSize</key>
                <string>{33,56}</string>
                <key>textureRect</key>
                <string>{{270,477},{33,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/o_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,45}</string>
                <key>spriteSourceSize</key>
                <string>{25,45}</string>
                <key>textureRect</key>
                <string>{{948,277},{25,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/o_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,57}</string>
                <key>spriteSourceSize</key>
                <string>{33,57}</string>
                <key>textureRect</key>
                <string>{{211,477},{33,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/p_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,40}</string>
                <key>spriteSourceSize</key>
                <string>{37,40}</string>
                <key>textureRect</key>
                <string>{{955,469},{37,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/p_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,39}</string>
                <key>spriteSourceSize</key>
                <string>{36,39}</string>
                <key>textureRect</key>
                <string>{{932,318},{36,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/p_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,37}</string>
                <key>spriteSourceSize</key>
                <string>{51,37}</string>
                <key>textureRect</key>
                <string>{{776,390},{51,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/q_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,25}</string>
                <key>spriteSourceSize</key>
                <string>{15,25}</string>
                <key>textureRect</key>
                <string>{{984,369},{15,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/q_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,24}</string>
                <key>spriteSourceSize</key>
                <string>{15,24}</string>
                <key>textureRect</key>
                <string>{{966,389},{15,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/q_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,29}</string>
                <key>spriteSourceSize</key>
                <string>{25,29}</string>
                <key>textureRect</key>
                <string>{{935,435},{25,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/r_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,45}</string>
                <key>spriteSourceSize</key>
                <string>{40,45}</string>
                <key>textureRect</key>
                <string>{{885,390},{40,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/r_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{849,356},{32,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/r_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{861,277},{39,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/s_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{1003,317},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/s_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,34}</string>
                <key>spriteSourceSize</key>
                <string>{22,34}</string>
                <key>textureRect</key>
                <string>{{187,477},{22,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/s_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,15}</string>
                <key>spriteSourceSize</key>
                <string>{27,15}</string>
                <key>textureRect</key>
                <string>{{1003,282},{27,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/t_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,42}</string>
                <key>spriteSourceSize</key>
                <string>{30,42}</string>
                <key>textureRect</key>
                <string>{{767,358},{30,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/t_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,37}</string>
                <key>spriteSourceSize</key>
                <string>{27,37}</string>
                <key>textureRect</key>
                <string>{{909,484},{27,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/t_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,37}</string>
                <key>spriteSourceSize</key>
                <string>{34,37}</string>
                <key>textureRect</key>
                <string>{{89,477},{34,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/u_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,36}</string>
                <key>spriteSourceSize</key>
                <string>{30,36}</string>
                <key>textureRect</key>
                <string>{{811,358},{30,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/u_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,31}</string>
                <key>spriteSourceSize</key>
                <string>{29,31}</string>
                <key>textureRect</key>
                <string>{{1002,94},{29,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/u_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{1002,160},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/v_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,29}</string>
                <key>spriteSourceSize</key>
                <string>{24,29}</string>
                <key>textureRect</key>
                <string>{{966,443},{24,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/v_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,24}</string>
                <key>spriteSourceSize</key>
                <string>{23,24}</string>
                <key>textureRect</key>
                <string>{{994,473},{23,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/v_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,23}</string>
                <key>spriteSourceSize</key>
                <string>{24,23}</string>
                <key>textureRect</key>
                <string>{{332,447},{24,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/w_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{1002,191},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/w_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{997,446},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/w_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,28}</string>
                <key>spriteSourceSize</key>
                <string>{31,28}</string>
                <key>textureRect</key>
                <string>{{973,318},{31,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/x_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1001,386},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/x_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{903,303},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/x_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{19,18}</string>
                <key>textureRect</key>
                <string>{{927,298},{19,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/y_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{927,277},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/y_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{984,351},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/y_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,13}</string>
                <key>spriteSourceSize</key>
                <string>{18,13}</string>
                <key>textureRect</key>
                <string>{{935,469},{18,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/z_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,29}</string>
                <key>spriteSourceSize</key>
                <string>{28,29}</string>
                <key>textureRect</key>
                <string>{{1002,252},{28,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dino/z_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{22,24}</string>
                <key>textureRect</key>
                <string>{{903,277},{22,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino/z_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,12}</string>
                <key>spriteSourceSize</key>
                <string>{28,12}</string>
                <key>textureRect</key>
                <string>{{948,304},{28,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dino.png</string>
            <key>size</key>
            <string>{1032,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:378cbf1b625e656482222892110a78d9:21fe70bec47d963bd6df7ead15256b73:2ec318654873fb028491b71cf0e1f30e$</string>
            <key>textureFileName</key>
            <string>dino.png</string>
        </dict>
    </dict>
</plist>
