<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>choose/boy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{788,936}</string>
                <key>spriteSourceSize</key>
                <string>{788,936}</string>
                <key>textureRect</key>
                <string>{{954,1},{788,936}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>choose/boyon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{756,908}</string>
                <key>spriteSourceSize</key>
                <string>{756,908}</string>
                <key>textureRect</key>
                <string>{{939,939},{756,908}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>choose/girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{784,936}</string>
                <key>spriteSourceSize</key>
                <string>{784,936}</string>
                <key>textureRect</key>
                <string>{{1,545},{784,936}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>choose/girlon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{756,908}</string>
                <key>spriteSourceSize</key>
                <string>{756,908}</string>
                <key>textureRect</key>
                <string>{{1,1331},{756,908}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>choose/grid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,99}</string>
                <key>spriteSourceSize</key>
                <string>{218,99}</string>
                <key>textureRect</key>
                <string>{{911,1849},{218,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>choose/mapbottomleft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{542,642}</string>
                <key>spriteSourceSize</key>
                <string>{542,642}</string>
                <key>textureRect</key>
                <string>{{644,2089},{542,642}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>choose/mapbottomright.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{542,641}</string>
                <key>spriteSourceSize</key>
                <string>{542,641}</string>
                <key>textureRect</key>
                <string>{{1288,1849},{542,641}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>choose/maptopleft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{542,951}</string>
                <key>spriteSourceSize</key>
                <string>{542,951}</string>
                <key>textureRect</key>
                <string>{{1,1},{542,951}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>choose/maptopright.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{563,641}</string>
                <key>spriteSourceSize</key>
                <string>{563,641}</string>
                <key>textureRect</key>
                <string>{{1,2089},{563,641}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>choose/wave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,42}</string>
                <key>spriteSourceSize</key>
                <string>{204,42}</string>
                <key>textureRect</key>
                <string>{{1744,1},{204,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>choose.png</string>
            <key>size</key>
            <string>{1831,2653}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f04f66c18fe64e6fa1934a2206aa0537:7345563cd6a99706b4871167af399124:76331f2b4bd928007b65d3e3f9671acb$</string>
            <key>textureFileName</key>
            <string>choose.png</string>
        </dict>
    </dict>
</plist>
