<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>balloonhero/balloonhero2/box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-134,269}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{271,541}</string>
                <key>textureRect</key>
                <string>{{1,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/balloonhero2/forcefield0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,15}</string>
                <key>spriteSize</key>
                <string>{311,241}</string>
                <key>spriteSourceSize</key>
                <string>{339,277}</string>
                <key>textureRect</key>
                <string>{{1,399},{311,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/balloonhero2/forcefield0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,15}</string>
                <key>spriteSize</key>
                <string>{311,241}</string>
                <key>spriteSourceSize</key>
                <string>{339,277}</string>
                <key>textureRect</key>
                <string>{{1,399},{311,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/balloonhero2/forcefield0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{311,217}</string>
                <key>spriteSourceSize</key>
                <string>{339,277}</string>
                <key>textureRect</key>
                <string>{{1,180},{311,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/balloonhero2/forcefield0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{311,217}</string>
                <key>spriteSourceSize</key>
                <string>{339,277}</string>
                <key>textureRect</key>
                <string>{{1,180},{311,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/balloonhero2/forcefield0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,277}</string>
                <key>spriteSourceSize</key>
                <string>{339,277}</string>
                <key>textureRect</key>
                <string>{{1,642},{339,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/balloonhero2/forcefield0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,277}</string>
                <key>spriteSourceSize</key>
                <string>{339,277}</string>
                <key>textureRect</key>
                <string>{{1,642},{339,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/balloonhero2/forcefield0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-17}</string>
                <key>spriteSize</key>
                <string>{311,177}</string>
                <key>spriteSourceSize</key>
                <string>{339,277}</string>
                <key>textureRect</key>
                <string>{{6,1},{311,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/balloonhero2/forcefield0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-17}</string>
                <key>spriteSize</key>
                <string>{311,177}</string>
                <key>spriteSourceSize</key>
                <string>{339,277}</string>
                <key>textureRect</key>
                <string>{{6,1},{311,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>balloonhero2.png</string>
            <key>size</key>
            <string>{341,920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a08d2987b38206737f476e4cdee338a4:4ec1ddc51cbd4b8291afb67745ecbc7b:94d2ee9545016670140f88b6f84913a8$</string>
            <key>textureFileName</key>
            <string>balloonhero2.png</string>
        </dict>
    </dict>
</plist>
