<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>category_names</key>
        <array>
        </array>
        <key>bodies</key>
        <dict>

            <key>seata</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>is_dynamic</key>
                <false/>
                <key>affected_by_gravity</key>
                <false/>
                <key>allows_rotation</key>
                <false/>
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1000000</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1000000</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.200000003</real>
                        <key>friction</key>
                        <real>0.699999988</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>2</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 425.00000,96.00000 }</string>
                                <string>{ 427.00000,70.00000 }</string>
                                <string>{ -425.00000,67.00000 }</string>
                                <string>{ -427.00000,95.00000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>water</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50100 }</string>
                <key>is_dynamic</key>
                <false/>
                <key>affected_by_gravity</key>
                <false/>
                <key>allows_rotation</key>
                <false/>
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1000000</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1000000</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.200000003</real>
                        <key>friction</key>
                        <real>0.699999988</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>2</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ -186.00000,381.50000 }</string>
                                <string>{ -188.00000,402.50000 }</string>
                                <string>{ 191.00000,402.50000 }</string>
                                <string>{ 191.00000,380.50000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>floor</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50100 }</string>
                <key>is_dynamic</key>
                <false/>
                <key>affected_by_gravity</key>
                <false/>
                <key>allows_rotation</key>
                <false/>
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1000000</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1000000</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>2</real>
                        <key>restitution</key>
                        <real>0.20000000000000001</real>
                        <key>friction</key>
                        <real>0.69999999999999996</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>3</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>1</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 314.00000,-257.50000 }</string>
                                <string>{ -363.00000,-256.50000 }</string>
                                <string>{ -361.00000,4.50000 }</string>
                                <string>{ 319.00000,3.50000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

        </dict>
    </dict>
</plist>




