<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>popcount/blink1.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,1334},{393,378}}</string>
				<key>offset</key>
				<string>{-15,-67}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{439,526}</string>
			</dict>
			<key>popcount/blink2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1357},{393,378}}</string>
				<key>offset</key>
				<string>{-15,-67}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{439,526}</string>
			</dict>
			<key>popcount/bush.png</key>
			<dict>
				<key>frame</key>
				<string>{{1239,0},{902,301}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{902,301}</string>
			</dict>
			<key>popcount/cloud.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,941},{431,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{431,145}</string>
			</dict>
			<key>popcount/happy1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,964},{393,447}}</string>
				<key>offset</key>
				<string>{-16,-31}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{439,525}</string>
			</dict>
			<key>popcount/happy2.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,941},{393,465}}</string>
				<key>offset</key>
				<string>{-16,-22}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{439,525}</string>
			</dict>
			<key>popcount/happy3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,566},{398,481}}</string>
				<key>offset</key>
				<string>{-13,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{439,525}</string>
			</dict>
			<key>popcount/happy4.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,513},{428,510}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{439,525}</string>
			</dict>
			<key>popcount/obj.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1735},{331,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{331,200}</string>
			</dict>
			<key>popcount/sad1.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,1372},{393,378}}</string>
				<key>offset</key>
				<string>{-14,-68}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{439,526}</string>
			</dict>
			<key>popcount/sad2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1170,902},{393,378}}</string>
				<key>offset</key>
				<string>{-14,-68}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{439,526}</string>
			</dict>
			<key>popcount/sand.png</key>
			<dict>
				<key>frame</key>
				<string>{{1115,742},{324,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{324,55}</string>
			</dict>
			<key>popcount/umbrella.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{605,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{605,566}</string>
			</dict>
			<key>popcount/water1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1115,513},{229,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,96}</string>
			</dict>
			<key>popcount/water2.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,1908},{327,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{327,138}</string>
			</dict>
			<key>popcount/water3.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,1712},{468,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{468,196}</string>
			</dict>
			<key>popcount/wave.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,0},{513,634}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{513,634}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>popcount.png</string>
			<key>realTextureFileName</key>
			<string>popcount.png</string>
			<key>size</key>
			<string>{1548,2046}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1548</integer>
			<key>height</key>
			<integer>2046</integer>
		</dict>
	</dict>
</plist>