<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lowercase/arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,172}</string>
                <key>spriteSourceSize</key>
                <string>{38,172}</string>
                <key>textureRect</key>
                <string>{{157,447},{38,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lowercase/arrowcurve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,278}</string>
                <key>spriteSourceSize</key>
                <string>{165,278}</string>
                <key>textureRect</key>
                <string>{{1,1},{165,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lowercase/arrowcurvea.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,252}</string>
                <key>spriteSourceSize</key>
                <string>{162,252}</string>
                <key>textureRect</key>
                <string>{{168,1},{162,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lowercase/arrowcurvec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,203}</string>
                <key>spriteSourceSize</key>
                <string>{154,203}</string>
                <key>textureRect</key>
                <string>{{1,281},{154,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lowercase/arrowcurved.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,134}</string>
                <key>spriteSourceSize</key>
                <string>{158,134}</string>
                <key>textureRect</key>
                <string>{{332,1},{158,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lowercase/arrowcurvef.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,224}</string>
                <key>spriteSourceSize</key>
                <string>{158,224}</string>
                <key>textureRect</key>
                <string>{{157,287},{158,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lowercase/circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{332,161},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lowercase.png</string>
            <key>size</key>
            <string>{467,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12308a6410482bb3d1aeb362c69b1ea7:e2eecb3ff8a6965760b979949d9899e5:7f3a6bf98a716831642f363b1c425b3d$</string>
            <key>textureFileName</key>
            <string>lowercase.png</string>
        </dict>
    </dict>
</plist>
