<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jasmine/curve border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,61}</string>
                <key>spriteSourceSize</key>
                <string>{75,61}</string>
                <key>textureRect</key>
                <string>{{222,2410},{75,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jasmine/flower1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{160,1373},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jasmine/flower1bud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,119}</string>
                <key>spriteSourceSize</key>
                <string>{118,119}</string>
                <key>textureRect</key>
                <string>{{295,2212},{118,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jasmine/flower1petal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,239}</string>
                <key>spriteSourceSize</key>
                <string>{239,239}</string>
                <key>textureRect</key>
                <string>{{249,1675},{239,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jasmine/flower2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,334}</string>
                <key>spriteSourceSize</key>
                <string>{334,334}</string>
                <key>textureRect</key>
                <string>{{163,455},{334,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jasmine/flower2bud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,76}</string>
                <key>spriteSourceSize</key>
                <string>{73,76}</string>
                <key>textureRect</key>
                <string>{{415,2249},{73,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jasmine/flower2petal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,219}</string>
                <key>spriteSourceSize</key>
                <string>{219,219}</string>
                <key>textureRect</key>
                <string>{{1,2237},{219,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jasmine/flower3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,337}</string>
                <key>spriteSourceSize</key>
                <string>{344,337}</string>
                <key>textureRect</key>
                <string>{{160,1027},{344,337}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jasmine/flower3bud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{459,1},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jasmine/flower3petal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,66}</string>
                <key>spriteSourceSize</key>
                <string>{101,66}</string>
                <key>textureRect</key>
                <string>{{295,2333},{101,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jasmine/flower4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,452}</string>
                <key>spriteSourceSize</key>
                <string>{456,452}</string>
                <key>textureRect</key>
                <string>{{1,1},{456,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jasmine/flower4petal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,220}</string>
                <key>spriteSourceSize</key>
                <string>{222,220}</string>
                <key>textureRect</key>
                <string>{{163,791},{222,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jasmine/grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{196,86}</string>
                <key>spriteSourceSize</key>
                <string>{196,90}</string>
                <key>textureRect</key>
                <string>{{249,1916},{196,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jasmine/grass2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{138,73}</string>
                <key>spriteSourceSize</key>
                <string>{138,77}</string>
                <key>textureRect</key>
                <string>{{1,1598},{138,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jasmine/grass3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{171,71}</string>
                <key>spriteSourceSize</key>
                <string>{171,77}</string>
                <key>textureRect</key>
                <string>{{222,2237},{171,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jasmine/leaf1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,101}</string>
                <key>spriteSourceSize</key>
                <string>{165,101}</string>
                <key>textureRect</key>
                <string>{{248,2004},{165,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jasmine/leaf2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,103}</string>
                <key>spriteSourceSize</key>
                <string>{156,103}</string>
                <key>textureRect</key>
                <string>{{248,2107},{156,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jasmine/plant1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,570}</string>
                <key>spriteSourceSize</key>
                <string>{160,570}</string>
                <key>textureRect</key>
                <string>{{1,455},{160,570}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jasmine/plant2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,569}</string>
                <key>spriteSourceSize</key>
                <string>{157,569}</string>
                <key>textureRect</key>
                <string>{{1,1027},{157,569}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jasmine/seedpouch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,300}</string>
                <key>spriteSourceSize</key>
                <string>{246,300}</string>
                <key>textureRect</key>
                <string>{{1,1675},{246,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jasmine/soil1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,80}</string>
                <key>spriteSourceSize</key>
                <string>{71,80}</string>
                <key>textureRect</key>
                <string>{{415,2091},{71,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jasmine/soil2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,77}</string>
                <key>spriteSourceSize</key>
                <string>{85,77}</string>
                <key>textureRect</key>
                <string>{{415,2004},{85,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jasmine/soil3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,83}</string>
                <key>spriteSourceSize</key>
                <string>{78,83}</string>
                <key>textureRect</key>
                <string>{{415,2164},{78,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jasmine/stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,110}</string>
                <key>spriteSourceSize</key>
                <string>{220,110}</string>
                <key>textureRect</key>
                <string>{{387,791},{220,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jasmine/tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,245}</string>
                <key>spriteSourceSize</key>
                <string>{258,245}</string>
                <key>textureRect</key>
                <string>{{1,1977},{258,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jasmine.png</string>
            <key>size</key>
            <string>{498,2472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e8e68d59f832594772bfb93f54953ee:49e433564290efeb79eca3d457bae3e7:50a3702b4222119f67a0d4e5db4ef2d6$</string>
            <key>textureFileName</key>
            <string>jasmine.png</string>
        </dict>
    </dict>
</plist>
