<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Paul_and_the_sunday_trip/Fence_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,272}</string>
                <key>spriteSourceSize</key>
                <string>{164,272}</string>
                <key>textureRect</key>
                <string>{{1014,723},{164,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paul_and_the_sunday_trip/Fence_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,272}</string>
                <key>spriteSourceSize</key>
                <string>{163,272}</string>
                <key>textureRect</key>
                <string>{{1180,723},{163,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paul_and_the_sunday_trip/balcony.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,542}</string>
                <key>spriteSourceSize</key>
                <string>{468,542}</string>
                <key>textureRect</key>
                <string>{{1,451},{468,542}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paul_and_the_sunday_trip/bed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,199}</string>
                <key>spriteSourceSize</key>
                <string>{275,199}</string>
                <key>textureRect</key>
                <string>{{1576,552},{275,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paul_and_the_sunday_trip/chimni.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,336}</string>
                <key>spriteSourceSize</key>
                <string>{247,336}</string>
                <key>textureRect</key>
                <string>{{1607,214},{247,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paul_and_the_sunday_trip/cloud_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,106}</string>
                <key>spriteSourceSize</key>
                <string>{170,106}</string>
                <key>textureRect</key>
                <string>{{1759,1},{170,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Paul_and_the_sunday_trip/cooker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,48}</string>
                <key>spriteSourceSize</key>
                <string>{55,48}</string>
                <key>textureRect</key>
                <string>{{608,392},{55,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paul_and_the_sunday_trip/cup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,17}</string>
                <key>spriteSourceSize</key>
                <string>{30,17}</string>
                <key>textureRect</key>
                <string>{{1759,173},{30,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paul_and_the_sunday_trip/cupboard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{610,211}</string>
                <key>spriteSourceSize</key>
                <string>{610,211}</string>
                <key>textureRect</key>
                <string>{{1147,1},{610,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paul_and_the_sunday_trip/cupboard_down_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,214}</string>
                <key>spriteSourceSize</key>
                <string>{344,214}</string>
                <key>textureRect</key>
                <string>{{668,677},{344,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paul_and_the_sunday_trip/cupboard_down_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,224}</string>
                <key>spriteSourceSize</key>
                <string>{368,224}</string>
                <key>textureRect</key>
                <string>{{1122,497},{368,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paul_and_the_sunday_trip/flower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,95}</string>
                <key>spriteSourceSize</key>
                <string>{46,95}</string>
                <key>textureRect</key>
                <string>{{1009,587},{46,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Paul_and_the_sunday_trip/flower_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,95}</string>
                <key>spriteSourceSize</key>
                <string>{46,95}</string>
                <key>textureRect</key>
                <string>{{1662,907},{46,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Paul_and_the_sunday_trip/fridge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,382}</string>
                <key>spriteSourceSize</key>
                <string>{195,382}</string>
                <key>textureRect</key>
                <string>{{471,451},{195,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paul_and_the_sunday_trip/frypen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,18}</string>
                <key>spriteSourceSize</key>
                <string>{89,18}</string>
                <key>textureRect</key>
                <string>{{1122,392},{89,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Paul_and_the_sunday_trip/house_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{537,389}</string>
                <key>spriteSourceSize</key>
                <string>{537,389}</string>
                <key>textureRect</key>
                <string>{{608,1},{537,389}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paul_and_the_sunday_trip/house_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{605,448}</string>
                <key>spriteSourceSize</key>
                <string>{605,448}</string>
                <key>textureRect</key>
                <string>{{1,1},{605,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paul_and_the_sunday_trip/light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,185}</string>
                <key>spriteSourceSize</key>
                <string>{82,185}</string>
                <key>textureRect</key>
                <string>{{1492,497},{82,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paul_and_the_sunday_trip/microwave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,86}</string>
                <key>spriteSourceSize</key>
                <string>{138,86}</string>
                <key>textureRect</key>
                <string>{{808,893},{138,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paul_and_the_sunday_trip/painting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,267}</string>
                <key>spriteSourceSize</key>
                <string>{187,267}</string>
                <key>textureRect</key>
                <string>{{1345,723},{187,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paul_and_the_sunday_trip/rake_books.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,114}</string>
                <key>spriteSourceSize</key>
                <string>{193,114}</string>
                <key>textureRect</key>
                <string>{{471,835},{193,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paul_and_the_sunday_trip/rake_camera.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,111}</string>
                <key>spriteSourceSize</key>
                <string>{193,111}</string>
                <key>textureRect</key>
                <string>{{1009,392},{193,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Paul_and_the_sunday_trip/spoon_stand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,65}</string>
                <key>spriteSourceSize</key>
                <string>{113,65}</string>
                <key>textureRect</key>
                <string>{{1668,840},{113,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paul_and_the_sunday_trip/stool.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,126}</string>
                <key>spriteSourceSize</key>
                <string>{98,126}</string>
                <key>textureRect</key>
                <string>{{1534,887},{98,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Paul_and_the_sunday_trip/tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,77}</string>
                <key>spriteSourceSize</key>
                <string>{140,77}</string>
                <key>textureRect</key>
                <string>{{666,893},{140,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paul_and_the_sunday_trip/tile_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,149}</string>
                <key>spriteSourceSize</key>
                <string>{85,149}</string>
                <key>textureRect</key>
                <string>{{1668,753},{85,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Paul_and_the_sunday_trip/watch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{1534,753},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paul_and_the_sunday_trip/window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,283}</string>
                <key>spriteSourceSize</key>
                <string>{339,283}</string>
                <key>textureRect</key>
                <string>{{668,392},{339,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Paul_and_the_sunday_trip/window_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,458}</string>
                <key>spriteSourceSize</key>
                <string>{281,458}</string>
                <key>textureRect</key>
                <string>{{1147,214},{281,458}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Paul_and_the_sunday_trip.png</string>
            <key>size</key>
            <string>{1866,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b86566b219d3c66ecd4459e506049362:1e9364efa563841ec727f481e85b6257:823d3d4b86f84ad674cfffa2cf583707$</string>
            <key>textureFileName</key>
            <string>Paul_and_the_sunday_trip.png</string>
        </dict>
    </dict>
</plist>
