<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hippo/b1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,361}</string>
                <key>spriteSourceSize</key>
                <string>{194,361}</string>
                <key>textureRect</key>
                <string>{{1,889},{194,361}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/b2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,347}</string>
                <key>spriteSourceSize</key>
                <string>{115,347}</string>
                <key>textureRect</key>
                <string>{{1,1208},{115,347}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/b3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,447}</string>
                <key>spriteSourceSize</key>
                <string>{252,447}</string>
                <key>textureRect</key>
                <string>{{1,439},{252,447}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/b4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,451}</string>
                <key>spriteSourceSize</key>
                <string>{157,451}</string>
                <key>textureRect</key>
                <string>{{1,280},{157,451}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/b5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,453}</string>
                <key>spriteSourceSize</key>
                <string>{277,453}</string>
                <key>textureRect</key>
                <string>{{1,1},{277,453}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/bgg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,194}</string>
                <key>spriteSourceSize</key>
                <string>{405,194}</string>
                <key>textureRect</key>
                <string>{{1,693},{405,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/bgh1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,357}</string>
                <key>spriteSourceSize</key>
                <string>{121,357}</string>
                <key>textureRect</key>
                <string>{{1,1085},{121,357}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/bgh2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,300}</string>
                <key>spriteSourceSize</key>
                <string>{133,300}</string>
                <key>textureRect</key>
                <string>{{1,1325},{133,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/bgh3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,282}</string>
                <key>spriteSourceSize</key>
                <string>{140,282}</string>
                <key>textureRect</key>
                <string>{{364,1015},{140,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/block.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{408,693},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,57}</string>
                <key>spriteSourceSize</key>
                <string>{140,57}</string>
                <key>textureRect</key>
                <string>{{408,873},{140,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,12}</string>
                <key>spriteSourceSize</key>
                <string>{13,12}</string>
                <key>textureRect</key>
                <string>{{456,235},{13,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,56}</string>
                <key>spriteSourceSize</key>
                <string>{57,56}</string>
                <key>textureRect</key>
                <string>{{361,1299},{57,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/button_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{420,1299},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/cat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{114,56}</string>
                <key>spriteSourceSize</key>
                <string>{126,60}</string>
                <key>textureRect</key>
                <string>{{303,1325},{114,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/cat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{118,58}</string>
                <key>spriteSourceSize</key>
                <string>{126,60}</string>
                <key>textureRect</key>
                <string>{{408,753},{118,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/cat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{124,54}</string>
                <key>spriteSourceSize</key>
                <string>{126,60}</string>
                <key>textureRect</key>
                <string>{{450,439},{124,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/cat4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,4}</string>
                <key>spriteSize</key>
                <string>{112,46}</string>
                <key>spriteSourceSize</key>
                <string>{130,60}</string>
                <key>textureRect</key>
                <string>{{456,121},{112,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/cat5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,4}</string>
                <key>spriteSize</key>
                <string>{118,46}</string>
                <key>spriteSourceSize</key>
                <string>{130,60}</string>
                <key>textureRect</key>
                <string>{{456,1},{118,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/cat6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,4}</string>
                <key>spriteSize</key>
                <string>{104,52}</string>
                <key>spriteSourceSize</key>
                <string>{126,60}</string>
                <key>textureRect</key>
                <string>{{450,565},{104,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/cat7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{114,56}</string>
                <key>spriteSourceSize</key>
                <string>{126,60}</string>
                <key>textureRect</key>
                <string>{{303,1325},{114,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hippo.png</string>
            <key>size</key>
            <string>{505,1459}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aaa6bbdaea3442f312f0f1187654943e:eeb94634d2331be9e9d5e068c9d106fe:67ecf1bf2a68d4eb9cd3671675aee35e$</string>
            <key>textureFileName</key>
            <string>hippo.png</string>
        </dict>
    </dict>
</plist>
