<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar/cake.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,352}</string>
                <key>spriteSourceSize</key>
                <string>{269,352}</string>
                <key>textureRect</key>
                <string>{{78,1},{269,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bar/chocolate_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{567,75}</string>
                <key>spriteSourceSize</key>
                <string>{567,75}</string>
                <key>textureRect</key>
                <string>{{1,1},{567,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bar/decor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,46}</string>
                <key>spriteSourceSize</key>
                <string>{160,46}</string>
                <key>textureRect</key>
                <string>{{78,355},{160,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bar.png</string>
            <key>size</key>
            <string>{348,569}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f78cff1409bd7d3cf0589c63eec4fae:9f5889804afd7978ef7e8ae6fe043e30:79f53cebe7ac054e802e5e80dc954bbe$</string>
            <key>textureFileName</key>
            <string>bar.png</string>
        </dict>
    </dict>
</plist>
