<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>patchthewall/alphagrid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{596,934},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>patchthewall/black_timebar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,52}</string>
                <key>spriteSourceSize</key>
                <string>{503,52}</string>
                <key>textureRect</key>
                <string>{{935,1},{503,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>patchthewall/blast_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{45,51}</string>
                <key>spriteSourceSize</key>
                <string>{275,275}</string>
                <key>textureRect</key>
                <string>{{1,1007},{45,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>patchthewall/blast_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{91,93}</string>
                <key>spriteSourceSize</key>
                <string>{275,275}</string>
                <key>textureRect</key>
                <string>{{368,966},{91,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>patchthewall/blast_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{161,143}</string>
                <key>spriteSourceSize</key>
                <string>{275,275}</string>
                <key>textureRect</key>
                <string>{{749,928},{161,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>patchthewall/blast_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{195,197}</string>
                <key>spriteSourceSize</key>
                <string>{275,275}</string>
                <key>textureRect</key>
                <string>{{1,775},{195,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>patchthewall/blast_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,2}</string>
                <key>spriteSize</key>
                <string>{195,187}</string>
                <key>spriteSourceSize</key>
                <string>{275,275}</string>
                <key>textureRect</key>
                <string>{{399,775},{195,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>patchthewall/blast_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{199,189}</string>
                <key>spriteSourceSize</key>
                <string>{275,275}</string>
                <key>textureRect</key>
                <string>{{198,775},{199,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>patchthewall/blast_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{157,151}</string>
                <key>spriteSourceSize</key>
                <string>{275,275}</string>
                <key>textureRect</key>
                <string>{{596,775},{157,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>patchthewall/blast_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{155,151}</string>
                <key>spriteSourceSize</key>
                <string>{275,275}</string>
                <key>textureRect</key>
                <string>{{749,775},{155,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>patchthewall/brick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,90}</string>
                <key>spriteSourceSize</key>
                <string>{207,90}</string>
                <key>textureRect</key>
                <string>{{48,974},{207,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>patchthewall/crack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,109}</string>
                <key>spriteSourceSize</key>
                <string>{96,109}</string>
                <key>textureRect</key>
                <string>{{257,966},{96,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>patchthewall/fort.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{932,772}</string>
                <key>spriteSourceSize</key>
                <string>{932,772}</string>
                <key>textureRect</key>
                <string>{{1,1},{932,772}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>patchthewall/green_timebar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{499,50}</string>
                <key>spriteSourceSize</key>
                <string>{499,60}</string>
                <key>textureRect</key>
                <string>{{935,506},{499,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>patchthewall.png</string>
            <key>size</key>
            <string>{988,1072}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:300776cf5830df1cc681ca32f5fe1620:13e89cd73d1b3cff0972ac648a18c986:07259591ccff73e5e2902eddabe13a54$</string>
            <key>textureFileName</key>
            <string>patchthewall.png</string>
        </dict>
    </dict>
</plist>
