<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Play5_BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{2567,1808}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2567,1808}</string>
			</dict>
			<key>Play5_Hole_Back.png</key>
			<dict>
				<key>frame</key>
				<string>{{3125,0},{371,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,147}</string>
			</dict>
			<key>Play5_Hole_Front.png</key>
			<dict>
				<key>frame</key>
				<string>{{2567,0},{558,228}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{559,228}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>play5.png</string>
			<key>realTextureFileName</key>
			<string>play5.png</string>
			<key>size</key>
			<string>{3496,1808}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>3496</integer>
			<key>height</key>
			<integer>1808</integer>
		</dict>
	</dict>
</plist>