<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pinatacity/Shoot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,21}</string>
                <key>spriteSourceSize</key>
                <string>{41,21}</string>
                <key>textureRect</key>
                <string>{{403,944},{41,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacity/board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{771,134}</string>
                <key>spriteSourceSize</key>
                <string>{771,134}</string>
                <key>textureRect</key>
                <string>{{1,808},{771,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacity/buildingdown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{483,654}</string>
                <key>spriteSourceSize</key>
                <string>{483,654}</string>
                <key>textureRect</key>
                <string>{{587,1},{483,654}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacity/buildingup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{805,584}</string>
                <key>spriteSourceSize</key>
                <string>{805,584}</string>
                <key>textureRect</key>
                <string>{{1,1},{805,584}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacity/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,68}</string>
                <key>spriteSourceSize</key>
                <string>{400,68}</string>
                <key>textureRect</key>
                <string>{{1,944},{400,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacity/crack1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,145}</string>
                <key>spriteSourceSize</key>
                <string>{168,145}</string>
                <key>textureRect</key>
                <string>{{587,657},{168,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacity/crack2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,203}</string>
                <key>spriteSourceSize</key>
                <string>{222,203}</string>
                <key>textureRect</key>
                <string>{{1331,429},{222,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacity/crack3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,223}</string>
                <key>spriteSourceSize</key>
                <string>{257,223}</string>
                <key>textureRect</key>
                <string>{{1072,429},{257,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacity/crack4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,235}</string>
                <key>spriteSourceSize</key>
                <string>{261,235}</string>
                <key>textureRect</key>
                <string>{{1536,408},{261,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacity/crack5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,346}</string>
                <key>spriteSourceSize</key>
                <string>{307,346}</string>
                <key>textureRect</key>
                <string>{{1841,408},{307,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacity/crack6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,426}</string>
                <key>spriteSourceSize</key>
                <string>{387,426}</string>
                <key>textureRect</key>
                <string>{{1072,1},{387,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacity/player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,177}</string>
                <key>spriteSourceSize</key>
                <string>{177,177}</string>
                <key>textureRect</key>
                <string>{{1841,756},{177,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacity/slingshot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,405}</string>
                <key>spriteSourceSize</key>
                <string>{403,405}</string>
                <key>textureRect</key>
                <string>{{1461,1},{403,405}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacity/target1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,355}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{774,657},{355,355}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacity/target2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,351}</string>
                <key>spriteSourceSize</key>
                <string>{351,351}</string>
                <key>textureRect</key>
                <string>{{1488,653},{351,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacity/target3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,355}</string>
                <key>spriteSourceSize</key>
                <string>{355,355}</string>
                <key>textureRect</key>
                <string>{{1131,654},{355,355}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pinatacity.png</string>
            <key>size</key>
            <string>{2149,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5cca983006724cb63aeb964b841a730:672adcab67f69e2ff65eb4637004cb87:88f2b03ab7da66ad0e07f8dfd65817ed$</string>
            <key>textureFileName</key>
            <string>pinatacity.png</string>
        </dict>
    </dict>
</plist>
