<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>faceavatar/faceavatar2/facewear1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1472,870},{51,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,49}</string>
			</dict>
			<key>faceavatar/faceavatar2/facewear2.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,900},{28,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,164}</string>
			</dict>
			<key>faceavatar/faceavatar2/facewear3.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,469},{431,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{431,57}</string>
			</dict>
			<key>faceavatar/faceavatar2/facewear4.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,935},{113,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,251}</string>
			</dict>
			<key>faceavatar/faceavatar2/facewear5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1738,368},{604,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{604,251}</string>
			</dict>
			<key>faceavatar/faceavatar2/facewear6.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,1048},{121,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,188}</string>
			</dict>
			<key>faceavatar/faceavatar2/facewear7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1109,911},{186,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,156}</string>
			</dict>
			<key>faceavatar/faceavatar2/headwear1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1998,0},{894,422}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{894,422}</string>
			</dict>
			<key>faceavatar/faceavatar2/headwear2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,469},{811,318}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{811,318}</string>
			</dict>
			<key>faceavatar/faceavatar2/headwear3.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,368},{846,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{846,326}</string>
			</dict>
			<key>faceavatar/faceavatar2/headwear4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{892,469}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{892,469}</string>
			</dict>
			<key>faceavatar/faceavatar2/headwear5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,787},{569,366}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{569,366}</string>
			</dict>
			<key>faceavatar/faceavatar2/headwear6.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,0},{1106,368}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1106,368}</string>
			</dict>
			<key>faceavatar/faceavatar2/neckwear1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1326,870},{146,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,222}</string>
			</dict>
			<key>faceavatar/faceavatar2/neckwear2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1535,694},{159,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,205}</string>
			</dict>
			<key>faceavatar/faceavatar2/neckwear3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,1048},{159,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,79}</string>
			</dict>
			<key>faceavatar/faceavatar2/neckwear4.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,787},{319,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{319,231}</string>
			</dict>
			<key>faceavatar/faceavatar2/neckwear5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1523,899},{183,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,176}</string>
			</dict>
			<key>faceavatar/faceavatar2/neckwear6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1326,694},{209,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,176}</string>
			</dict>
			<key>faceavatar/faceavatar2/bgballnormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1109,694},{217,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,217}</string>
			</dict>
			<key>faceavatar/faceavatar2/bgballpressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,694},{241,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,241}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>faceavatar2.png</string>
			<key>realTextureFileName</key>
			<string>faceavatar2.png</string>
			<key>size</key>
			<string>{2892,1207}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2892</integer>
			<key>height</key>
			<integer>1207</integer>
		</dict>
	</dict>
</plist>