<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mtende/MbwanaMamba_bag1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,89}</string>
                <key>spriteSourceSize</key>
                <string>{79,89}</string>
                <key>textureRect</key>
                <string>{{1469,883},{79,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/MbwanaMamba_bag2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,174}</string>
                <key>spriteSourceSize</key>
                <string>{366,174}</string>
                <key>textureRect</key>
                <string>{{1,763},{366,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/MbwanaMamba_bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{493,227}</string>
                <key>spriteSourceSize</key>
                <string>{493,227}</string>
                <key>textureRect</key>
                <string>{{1,534},{493,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/MbwanaMamba_hut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{730,777}</string>
                <key>spriteSourceSize</key>
                <string>{730,777}</string>
                <key>textureRect</key>
                <string>{{792,1},{730,777}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/MbwanaMamba_mat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{475,271}</string>
                <key>spriteSourceSize</key>
                <string>{475,271}</string>
                <key>textureRect</key>
                <string>{{496,534},{475,271}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/Menoainagani_grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,442}</string>
                <key>spriteSourceSize</key>
                <string>{62,442}</string>
                <key>textureRect</key>
                <string>{{1,939},{62,442}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/Mtende_broom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,528}</string>
                <key>spriteSourceSize</key>
                <string>{80,528}</string>
                <key>textureRect</key>
                <string>{{2021,1},{80,528}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/Mtende_mountain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,132}</string>
                <key>spriteSourceSize</key>
                <string>{258,132}</string>
                <key>textureRect</key>
                <string>{{1882,445},{258,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/Mtende_palmtree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{531,789}</string>
                <key>spriteSourceSize</key>
                <string>{531,789}</string>
                <key>textureRect</key>
                <string>{{1,1},{531,789}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/Mtende_palmtreefruit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,107}</string>
                <key>spriteSourceSize</key>
                <string>{41,107}</string>
                <key>textureRect</key>
                <string>{{1685,933},{41,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/arm_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,53}</string>
                <key>spriteSourceSize</key>
                <string>{34,53}</string>
                <key>textureRect</key>
                <string>{{2629,694},{34,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/arm_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,110}</string>
                <key>spriteSourceSize</key>
                <string>{24,110}</string>
                <key>textureRect</key>
                <string>{{2634,134},{24,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/arm_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,131}</string>
                <key>spriteSourceSize</key>
                <string>{28,131}</string>
                <key>textureRect</key>
                <string>{{2634,1},{28,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/blaze0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{94,138}</string>
                <key>spriteSourceSize</key>
                <string>{94,148}</string>
                <key>textureRect</key>
                <string>{{1715,793},{94,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/blaze0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{94,138}</string>
                <key>spriteSourceSize</key>
                <string>{94,148}</string>
                <key>textureRect</key>
                <string>{{1715,793},{94,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/blaze0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{94,138}</string>
                <key>spriteSourceSize</key>
                <string>{94,148}</string>
                <key>textureRect</key>
                <string>{{1715,793},{94,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/blaze0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,148}</string>
                <key>spriteSourceSize</key>
                <string>{94,148}</string>
                <key>textureRect</key>
                <string>{{1469,733},{94,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/blaze0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,148}</string>
                <key>spriteSourceSize</key>
                <string>{94,148}</string>
                <key>textureRect</key>
                <string>{{1469,733},{94,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/blaze0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,148}</string>
                <key>spriteSourceSize</key>
                <string>{94,148}</string>
                <key>textureRect</key>
                <string>{{1469,733},{94,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/blaze0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,148}</string>
                <key>spriteSourceSize</key>
                <string>{94,148}</string>
                <key>textureRect</key>
                <string>{{1565,793},{94,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/blaze0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,148}</string>
                <key>spriteSourceSize</key>
                <string>{94,148}</string>
                <key>textureRect</key>
                <string>{{1565,793},{94,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/blaze0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,148}</string>
                <key>spriteSourceSize</key>
                <string>{94,148}</string>
                <key>textureRect</key>
                <string>{{1565,793},{94,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/chulaback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,286}</string>
                <key>spriteSourceSize</key>
                <string>{259,286}</string>
                <key>textureRect</key>
                <string>{{769,733},{259,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/chulafront.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,263}</string>
                <key>spriteSourceSize</key>
                <string>{259,263}</string>
                <key>textureRect</key>
                <string>{{1057,733},{259,263}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,178}</string>
                <key>spriteSourceSize</key>
                <string>{295,178}</string>
                <key>textureRect</key>
                <string>{{2364,841},{295,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/face .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,263}</string>
                <key>spriteSourceSize</key>
                <string>{326,263}</string>
                <key>textureRect</key>
                <string>{{2364,513},{326,263}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/faceold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,300}</string>
                <key>spriteSourceSize</key>
                <string>{319,300}</string>
                <key>textureRect</key>
                <string>{{2103,1},{319,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/farmer_shirt_sleave_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,59}</string>
                <key>spriteSourceSize</key>
                <string>{36,59}</string>
                <key>textureRect</key>
                <string>{{2629,633},{36,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/gface1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,309}</string>
                <key>spriteSourceSize</key>
                <string>{346,309}</string>
                <key>textureRect</key>
                <string>{{1571,445},{346,309}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/gface3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,309}</string>
                <key>spriteSourceSize</key>
                <string>{346,309}</string>
                <key>textureRect</key>
                <string>{{2016,531},{346,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,38}</string>
                <key>spriteSourceSize</key>
                <string>{25,38}</string>
                <key>textureRect</key>
                <string>{{2634,246},{25,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,86}</string>
                <key>spriteSourceSize</key>
                <string>{14,86}</string>
                <key>textureRect</key>
                <string>{{1,1003},{14,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/girl_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,53}</string>
                <key>spriteSourceSize</key>
                <string>{11,53}</string>
                <key>textureRect</key>
                <string>{{89,1003},{11,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,68}</string>
                <key>spriteSourceSize</key>
                <string>{33,68}</string>
                <key>textureRect</key>
                <string>{{369,902},{33,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/girl_sleeve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,13}</string>
                <key>spriteSourceSize</key>
                <string>{34,13}</string>
                <key>textureRect</key>
                <string>{{241,1003},{34,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,137}</string>
                <key>spriteSourceSize</key>
                <string>{31,137}</string>
                <key>textureRect</key>
                <string>{{369,763},{31,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/girl_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,45}</string>
                <key>spriteSourceSize</key>
                <string>{11,45}</string>
                <key>textureRect</key>
                <string>{{194,1003},{11,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/goofball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,128}</string>
                <key>spriteSourceSize</key>
                <string>{133,128}</string>
                <key>textureRect</key>
                <string>{{1550,889},{133,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/grill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,45}</string>
                <key>spriteSourceSize</key>
                <string>{243,45}</string>
                <key>textureRect</key>
                <string>{{445,763},{243,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/jackal1bleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,127}</string>
                <key>spriteSourceSize</key>
                <string>{38,127}</string>
                <key>textureRect</key>
                <string>{{402,763},{38,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/jackal1body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,126}</string>
                <key>spriteSourceSize</key>
                <string>{253,126}</string>
                <key>textureRect</key>
                <string>{{1882,705},{253,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/jackal1face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,173}</string>
                <key>spriteSourceSize</key>
                <string>{145,173}</string>
                <key>textureRect</key>
                <string>{{2010,842},{145,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/jackal1facesleep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,173}</string>
                <key>spriteSourceSize</key>
                <string>{145,173}</string>
                <key>textureRect</key>
                <string>{{1322,733},{145,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/jackal1fleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,119}</string>
                <key>spriteSourceSize</key>
                <string>{36,119}</string>
                <key>textureRect</key>
                <string>{{2629,512},{36,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/jackal1neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,81}</string>
                <key>spriteSourceSize</key>
                <string>{86,81}</string>
                <key>textureRect</key>
                <string>{{1794,933},{86,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/jackal1tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,142}</string>
                <key>spriteSourceSize</key>
                <string>{107,142}</string>
                <key>textureRect</key>
                <string>{{1322,908},{107,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/motu_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{2442,302},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/motu_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,48}</string>
                <key>spriteSourceSize</key>
                <string>{15,48}</string>
                <key>textureRect</key>
                <string>{{144,1003},{15,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/motu_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,74}</string>
                <key>spriteSourceSize</key>
                <string>{18,74}</string>
                <key>textureRect</key>
                <string>{{769,616},{18,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/motu_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,299}</string>
                <key>spriteSourceSize</key>
                <string>{208,299}</string>
                <key>textureRect</key>
                <string>{{2424,1},{208,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/motu_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,17}</string>
                <key>spriteSourceSize</key>
                <string>{80,17}</string>
                <key>textureRect</key>
                <string>{{769,534},{80,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{442,448}</string>
                <key>spriteSourceSize</key>
                <string>{442,448}</string>
                <key>textureRect</key>
                <string>{{1571,1},{442,448}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/turtlehead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,153}</string>
                <key>spriteSourceSize</key>
                <string>{163,153}</string>
                <key>textureRect</key>
                <string>{{2185,842},{163,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/turtleleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,69}</string>
                <key>spriteSourceSize</key>
                <string>{43,69}</string>
                <key>textureRect</key>
                <string>{{1685,976},{43,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/turtleshell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,208}</string>
                <key>spriteSourceSize</key>
                <string>{337,208}</string>
                <key>textureRect</key>
                <string>{{2103,303},{337,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/waterdrop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,81}</string>
                <key>spriteSourceSize</key>
                <string>{38,81}</string>
                <key>textureRect</key>
                <string>{{1466,974},{38,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mtende.png</string>
            <key>size</key>
            <string>{2666,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55c48653f762689411a27ec8537e219a:9ad95013436de7eed0b04a7f21a76df4:c0c5257d180d04b720c3ae9d399ab5d7$</string>
            <key>textureFileName</key>
            <string>Mtende.png</string>
        </dict>
    </dict>
</plist>
