<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gamemap/gamemap/Patch The Wall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-10}</string>
                <key>spriteSize</key>
                <string>{452,451}</string>
                <key>spriteSourceSize</key>
                <string>{512,513}</string>
                <key>textureRect</key>
                <string>{{481,1},{452,451}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/Smash The Rock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-10}</string>
                <key>spriteSize</key>
                <string>{452,451}</string>
                <key>spriteSourceSize</key>
                <string>{512,513}</string>
                <key>textureRect</key>
                <string>{{1,959},{452,451}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/memory.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-6}</string>
                <key>spriteSize</key>
                <string>{448,448}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{455,1354},{448,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/order.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-6}</string>
                <key>spriteSize</key>
                <string>{448,448}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{905,1354},{448,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/owl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-6}</string>
                <key>spriteSize</key>
                <string>{448,448}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{931,904},{448,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/pop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-12}</string>
                <key>spriteSize</key>
                <string>{448,449}</string>
                <key>spriteSourceSize</key>
                <string>{512,513}</string>
                <key>textureRect</key>
                <string>{{935,1},{448,449}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{477,477}</string>
                <key>spriteSourceSize</key>
                <string>{491,491}</string>
                <key>textureRect</key>
                <string>{{1,480},{477,477}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/runningcat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-7}</string>
                <key>spriteSize</key>
                <string>{448,448}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{932,454},{448,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/shoot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-6}</string>
                <key>spriteSize</key>
                <string>{448,448}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1382,452},{448,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/sortit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-12}</string>
                <key>spriteSize</key>
                <string>{448,449}</string>
                <key>spriteSourceSize</key>
                <string>{512,513}</string>
                <key>textureRect</key>
                <string>{{1385,1},{448,449}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/stack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-6}</string>
                <key>spriteSize</key>
                <string>{448,448}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1355,1354},{448,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/talk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-6}</string>
                <key>spriteSize</key>
                <string>{448,448}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1381,904},{448,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/train.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-12}</string>
                <key>spriteSize</key>
                <string>{448,449}</string>
                <key>spriteSourceSize</key>
                <string>{512,513}</string>
                <key>textureRect</key>
                <string>{{481,454},{448,449}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamemap/gamemap/tri1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{195,187}</string>
                <key>spriteSourceSize</key>
                <string>{225,211}</string>
                <key>textureRect</key>
                <string>{{1,1412},{195,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/tri2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{195,187}</string>
                <key>spriteSourceSize</key>
                <string>{225,211}</string>
                <key>textureRect</key>
                <string>{{1,1601},{195,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/tri3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{195,187}</string>
                <key>spriteSourceSize</key>
                <string>{225,211}</string>
                <key>textureRect</key>
                <string>{{198,1412},{195,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/tri4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{195,187}</string>
                <key>spriteSourceSize</key>
                <string>{225,211}</string>
                <key>textureRect</key>
                <string>{{198,1601},{195,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/wembley.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-12}</string>
                <key>spriteSize</key>
                <string>{448,449}</string>
                <key>spriteSourceSize</key>
                <string>{512,513}</string>
                <key>textureRect</key>
                <string>{{480,904},{448,449}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamemap/gamemap/yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,477}</string>
                <key>spriteSourceSize</key>
                <string>{492,491}</string>
                <key>textureRect</key>
                <string>{{1,1},{478,477}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gamemap.png</string>
            <key>size</key>
            <string>{1834,1803}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43eec3b257ddb70332aea0e7af5dd6f4:e023f5eab044cad04da5f6d9ba6f6f09:8e6144685d05ab27c2cddc39fe1ff60f$</string>
            <key>textureFileName</key>
            <string>gamemap.png</string>
        </dict>
    </dict>
</plist>
