<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cardraw_level/building01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,103}</string>
                <key>spriteSourceSize</key>
                <string>{164,103}</string>
                <key>textureRect</key>
                <string>{{139,477},{164,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cardraw_level/building02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,94}</string>
                <key>spriteSourceSize</key>
                <string>{131,94}</string>
                <key>textureRect</key>
                <string>{{1,376},{131,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardraw_level/building03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,91}</string>
                <key>spriteSourceSize</key>
                <string>{153,91}</string>
                <key>textureRect</key>
                <string>{{1,283},{153,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardraw_level/building04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,63}</string>
                <key>spriteSourceSize</key>
                <string>{75,63}</string>
                <key>textureRect</key>
                <string>{{139,643},{75,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cardraw_level/building12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,121}</string>
                <key>spriteSourceSize</key>
                <string>{215,121}</string>
                <key>textureRect</key>
                <string>{{1,50},{215,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardraw_level/building13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,108}</string>
                <key>spriteSourceSize</key>
                <string>{173,108}</string>
                <key>textureRect</key>
                <string>{{1,173},{173,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardraw_level/car.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,136}</string>
                <key>spriteSourceSize</key>
                <string>{255,136}</string>
                <key>textureRect</key>
                <string>{{1,477},{255,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cardraw_level/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,22}</string>
                <key>spriteSourceSize</key>
                <string>{144,22}</string>
                <key>textureRect</key>
                <string>{{218,50},{144,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cardraw_level/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,47}</string>
                <key>spriteSourceSize</key>
                <string>{243,47}</string>
                <key>textureRect</key>
                <string>{{1,1},{243,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardraw_level/grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,66}</string>
                <key>spriteSourceSize</key>
                <string>{279,66}</string>
                <key>textureRect</key>
                <string>{{176,196},{279,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cardraw_level/roadbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,2}</string>
                <key>spriteSourceSize</key>
                <string>{369,2}</string>
                <key>textureRect</key>
                <string>{{246,1},{369,2}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cardraw_level/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{204,643},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cardraw_level.png</string>
            <key>size</key>
            <string>{249,733}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c84861a56e4e70234cc31b1327d76b7d:cbeaf7715a4748d2c93183ec82f2de30:6c0a586d4eba09f56f6a61642c39a7dc$</string>
            <key>textureFileName</key>
            <string>cardraw_level.png</string>
        </dict>
    </dict>
</plist>
