<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>basicmultiplication/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,62}</string>
                <key>spriteSourceSize</key>
                <string>{31,62}</string>
                <key>textureRect</key>
                <string>{{666,164},{31,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basicmultiplication/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,61}</string>
                <key>spriteSourceSize</key>
                <string>{43,61}</string>
                <key>textureRect</key>
                <string>{{843,129},{43,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basicmultiplication/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,62}</string>
                <key>spriteSourceSize</key>
                <string>{43,62}</string>
                <key>textureRect</key>
                <string>{{843,1},{43,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basicmultiplication/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,63}</string>
                <key>spriteSourceSize</key>
                <string>{48,63}</string>
                <key>textureRect</key>
                <string>{{367,176},{48,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basicmultiplication/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,62}</string>
                <key>spriteSourceSize</key>
                <string>{43,62}</string>
                <key>textureRect</key>
                <string>{{843,65},{43,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basicmultiplication/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,62}</string>
                <key>spriteSourceSize</key>
                <string>{44,62}</string>
                <key>textureRect</key>
                <string>{{620,164},{44,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basicmultiplication/7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,61}</string>
                <key>spriteSourceSize</key>
                <string>{43,61}</string>
                <key>textureRect</key>
                <string>{{478,176},{43,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basicmultiplication/8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,62}</string>
                <key>spriteSourceSize</key>
                <string>{44,62}</string>
                <key>textureRect</key>
                <string>{{699,150},{44,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basicmultiplication/9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,62}</string>
                <key>spriteSourceSize</key>
                <string>{44,62}</string>
                <key>textureRect</key>
                <string>{{745,154},{44,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>basicmultiplication/apple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,67}</string>
                <key>spriteSourceSize</key>
                <string>{57,67}</string>
                <key>textureRect</key>
                <string>{{484,105},{57,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basicmultiplication/board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,54}</string>
                <key>spriteSourceSize</key>
                <string>{282,54}</string>
                <key>textureRect</key>
                <string>{{552,1},{282,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basicmultiplication/book.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,71}</string>
                <key>spriteSourceSize</key>
                <string>{95,71}</string>
                <key>textureRect</key>
                <string>{{770,57},{95,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>basicmultiplication/button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,69}</string>
                <key>spriteSourceSize</key>
                <string>{253,69}</string>
                <key>textureRect</key>
                <string>{{229,105},{253,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basicmultiplication/cheese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,51}</string>
                <key>spriteSourceSize</key>
                <string>{59,51}</string>
                <key>textureRect</key>
                <string>{{417,176},{59,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basicmultiplication/circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{809,154},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basicmultiplication/cup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,91}</string>
                <key>spriteSourceSize</key>
                <string>{86,91}</string>
                <key>textureRect</key>
                <string>{{682,57},{86,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basicmultiplication/donut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{543,164},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basicmultiplication/fish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,55}</string>
                <key>spriteSourceSize</key>
                <string>{136,55}</string>
                <key>textureRect</key>
                <string>{{229,176},{136,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basicmultiplication/quiz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{549,102}</string>
                <key>spriteSourceSize</key>
                <string>{549,102}</string>
                <key>textureRect</key>
                <string>{{1,1},{549,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basicmultiplication/shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{552,57},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basicmultiplication/submarine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,133}</string>
                <key>spriteSourceSize</key>
                <string>{226,133}</string>
                <key>textureRect</key>
                <string>{{1,105},{226,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basicmultiplication/tooth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,53}</string>
                <key>spriteSourceSize</key>
                <string>{45,53}</string>
                <key>textureRect</key>
                <string>{{809,192},{45,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>basicmultiplication.png</string>
            <key>size</key>
            <string>{887,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be5a78518d1f77bbe7892895a20cc76b:dcd85aa281baf8e1b0e97344623b53ff:be914ce126abacc8556460a09e99b0ea$</string>
            <key>textureFileName</key>
            <string>basicmultiplication.png</string>
        </dict>
    </dict>
</plist>
