<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>circlecandy/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,206}</string>
                <key>spriteSourceSize</key>
                <string>{206,206}</string>
                <key>textureRect</key>
                <string>{{292,1206},{206,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circlecandy/board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,80}</string>
                <key>spriteSourceSize</key>
                <string>{318,80}</string>
                <key>textureRect</key>
                <string>{{1,996},{318,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circlecandy/cake1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-44}</string>
                <key>spriteSize</key>
                <string>{335,188}</string>
                <key>spriteSourceSize</key>
                <string>{335,276}</string>
                <key>textureRect</key>
                <string>{{1,806},{335,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circlecandy/cake2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,276}</string>
                <key>spriteSourceSize</key>
                <string>{335,276}</string>
                <key>textureRect</key>
                <string>{{1,528},{335,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circlecandy/candy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,151}</string>
                <key>spriteSourceSize</key>
                <string>{149,151}</string>
                <key>textureRect</key>
                <string>{{338,905},{149,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>circlecandy/cherry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,162}</string>
                <key>spriteSourceSize</key>
                <string>{184,162}</string>
                <key>textureRect</key>
                <string>{{292,1581},{184,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circlecandy/chocolate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,147}</string>
                <key>spriteSourceSize</key>
                <string>{145,147}</string>
                <key>textureRect</key>
                <string>{{292,1833},{145,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circlecandy/cookie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,86}</string>
                <key>spriteSourceSize</key>
                <string>{184,86}</string>
                <key>textureRect</key>
                <string>{{292,1745},{184,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circlecandy/dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,13}</string>
                <key>spriteSourceSize</key>
                <string>{13,13}</string>
                <key>textureRect</key>
                <string>{{482,483},{13,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circlecandy/lollipop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,180}</string>
                <key>spriteSourceSize</key>
                <string>{157,180}</string>
                <key>textureRect</key>
                <string>{{338,723},{157,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circlecandy/puff1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,8}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{186,164}</string>
                <key>textureRect</key>
                <string>{{482,465},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circlecandy/puff10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,14}</string>
                <key>spriteSize</key>
                <string>{124,82}</string>
                <key>spriteSourceSize</key>
                <string>{186,164}</string>
                <key>textureRect</key>
                <string>{{364,265},{124,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circlecandy/puff11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,13}</string>
                <key>spriteSize</key>
                <string>{116,74}</string>
                <key>spriteSourceSize</key>
                <string>{186,164}</string>
                <key>textureRect</key>
                <string>{{364,465},{116,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circlecandy/puff12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-91.5,80.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{186,164}</string>
                <key>textureRect</key>
                <string>{{490,265},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circlecandy/puff2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,6}</string>
                <key>spriteSize</key>
                <string>{46,42}</string>
                <key>spriteSourceSize</key>
                <string>{186,164}</string>
                <key>textureRect</key>
                <string>{{439,1833},{46,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circlecandy/puff3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,6}</string>
                <key>spriteSize</key>
                <string>{80,74}</string>
                <key>spriteSourceSize</key>
                <string>{186,164}</string>
                <key>textureRect</key>
                <string>{{198,1924},{80,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circlecandy/puff4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,6}</string>
                <key>spriteSize</key>
                <string>{98,92}</string>
                <key>spriteSourceSize</key>
                <string>{186,164}</string>
                <key>textureRect</key>
                <string>{{198,1078},{98,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circlecandy/puff5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{122,114}</string>
                <key>spriteSourceSize</key>
                <string>{186,164}</string>
                <key>textureRect</key>
                <string>{{364,349},{122,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circlecandy/puff6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{144,134}</string>
                <key>spriteSourceSize</key>
                <string>{186,164}</string>
                <key>textureRect</key>
                <string>{{364,1},{144,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>circlecandy/puff7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{180,160}</string>
                <key>spriteSourceSize</key>
                <string>{186,164}</string>
                <key>textureRect</key>
                <string>{{338,541},{180,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>circlecandy/puff8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{170,148}</string>
                <key>spriteSourceSize</key>
                <string>{186,164}</string>
                <key>textureRect</key>
                <string>{{321,1056},{170,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circlecandy/puff9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{134,116}</string>
                <key>spriteSourceSize</key>
                <string>{186,164}</string>
                <key>textureRect</key>
                <string>{{364,147},{134,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circlecandy/stand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{525,361}</string>
                <key>spriteSourceSize</key>
                <string>{525,361}</string>
                <key>textureRect</key>
                <string>{{1,1},{525,361}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>circlecandy/strawberry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,186}</string>
                <key>spriteSourceSize</key>
                <string>{165,186}</string>
                <key>textureRect</key>
                <string>{{292,1414},{165,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>circlecandy/wood1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{884,195}</string>
                <key>spriteSourceSize</key>
                <string>{884,195}</string>
                <key>textureRect</key>
                <string>{{1,1078},{884,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>circlecandy/wood2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,92}</string>
                <key>spriteSourceSize</key>
                <string>{750,92}</string>
                <key>textureRect</key>
                <string>{{198,1172},{750,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>circlecandy.png</string>
            <key>size</key>
            <string>{499,1999}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e74f13f1ca14630baf52067bd3a23f06:28f3b5b8536e0644e41455024f2ea0aa:78a4633967bf5535c6e3cfb06145a93a$</string>
            <key>textureFileName</key>
            <string>circlecandy.png</string>
        </dict>
    </dict>
</plist>
