<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelscreen/boat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{479,597}</string>
                <key>spriteSourceSize</key>
                <string>{479,597}</string>
                <key>textureRect</key>
                <string>{{1013,1305},{479,597}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelscreen/boat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{479,597}</string>
                <key>spriteSourceSize</key>
                <string>{479,597}</string>
                <key>textureRect</key>
                <string>{{2211,1305},{479,597}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelscreen/boat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{837,597}</string>
                <key>spriteSourceSize</key>
                <string>{837,597}</string>
                <key>textureRect</key>
                <string>{{1612,1077},{837,597}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelscreen/cat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,506}</string>
                <key>spriteSourceSize</key>
                <string>{291,506}</string>
                <key>textureRect</key>
                <string>{{1013,617},{291,506}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelscreen/cat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,503}</string>
                <key>spriteSourceSize</key>
                <string>{290,503}</string>
                <key>textureRect</key>
                <string>{{2394,1013},{290,503}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelscreen/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,229}</string>
                <key>spriteSourceSize</key>
                <string>{232,229}</string>
                <key>textureRect</key>
                <string>{{1340,1786},{232,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelscreen/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,54}</string>
                <key>spriteSourceSize</key>
                <string>{188,54}</string>
                <key>textureRect</key>
                <string>{{1527,1077},{188,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelscreen/fronthill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,149}</string>
                <key>spriteSourceSize</key>
                <string>{273,149}</string>
                <key>textureRect</key>
                <string>{{1013,1125},{273,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelscreen/fronthill1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,246}</string>
                <key>spriteSourceSize</key>
                <string>{274,246}</string>
                <key>textureRect</key>
                <string>{{2692,1305},{274,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelscreen/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1337,217}</string>
                <key>spriteSourceSize</key>
                <string>{1337,217}</string>
                <key>textureRect</key>
                <string>{{1,1804},{1337,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelscreen/hill1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1053,338}</string>
                <key>spriteSourceSize</key>
                <string>{1053,338}</string>
                <key>textureRect</key>
                <string>{{1340,1},{1053,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelscreen/hills.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1052,734}</string>
                <key>spriteSourceSize</key>
                <string>{1052,734}</string>
                <key>textureRect</key>
                <string>{{1340,341},{1052,734}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelscreen/lasthill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1010,538}</string>
                <key>spriteSourceSize</key>
                <string>{1010,538}</string>
                <key>textureRect</key>
                <string>{{2395,1},{1010,538}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelscreen/lasthill1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1010,1801}</string>
                <key>spriteSourceSize</key>
                <string>{1010,1801}</string>
                <key>textureRect</key>
                <string>{{1,1},{1010,1801}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelscreen/shade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,306}</string>
                <key>spriteSourceSize</key>
                <string>{313,306}</string>
                <key>textureRect</key>
                <string>{{1013,1},{313,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelscreen/shade1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,306}</string>
                <key>spriteSourceSize</key>
                <string>{313,306}</string>
                <key>textureRect</key>
                <string>{{1013,309},{313,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelscreen/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,219}</string>
                <key>spriteSourceSize</key>
                <string>{219,219}</string>
                <key>textureRect</key>
                <string>{{1306,1077},{219,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>levelscreen.png</string>
            <key>size</key>
            <string>{2939,2022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:576612b9502503fac0eeb45908c75a85:108b27b1b3cabb276732a4082e370bc8:842fc2a36fa5562c6f5989cadeb69f96$</string>
            <key>textureFileName</key>
            <string>levelscreen.png</string>
        </dict>
    </dict>
</plist>
