<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelscreen/boat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,149}</string>
                <key>spriteSourceSize</key>
                <string>{120,149}</string>
                <key>textureRect</key>
                <string>{{467,266},{120,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelscreen/boat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,149}</string>
                <key>spriteSourceSize</key>
                <string>{120,149}</string>
                <key>textureRect</key>
                <string>{{589,256},{120,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelscreen/boat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,149}</string>
                <key>spriteSourceSize</key>
                <string>{209,149}</string>
                <key>textureRect</key>
                <string>{{256,266},{209,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelscreen/cat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,127}</string>
                <key>spriteSourceSize</key>
                <string>{73,127}</string>
                <key>textureRect</key>
                <string>{{611,407},{73,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelscreen/cat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,126}</string>
                <key>spriteSourceSize</key>
                <string>{73,126}</string>
                <key>textureRect</key>
                <string>{{666,1},{73,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelscreen/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,57}</string>
                <key>spriteSourceSize</key>
                <string>{58,57}</string>
                <key>textureRect</key>
                <string>{{1,453},{58,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelscreen/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,14}</string>
                <key>spriteSourceSize</key>
                <string>{47,14}</string>
                <key>textureRect</key>
                <string>{{453,497},{47,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelscreen/fronthill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,37}</string>
                <key>spriteSourceSize</key>
                <string>{68,37}</string>
                <key>textureRect</key>
                <string>{{666,200},{68,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelscreen/fronthill1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,62}</string>
                <key>spriteSourceSize</key>
                <string>{69,62}</string>
                <key>textureRect</key>
                <string>{{666,129},{69,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelscreen/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,54}</string>
                <key>spriteSourceSize</key>
                <string>{334,54}</string>
                <key>textureRect</key>
                <string>{{117,453},{334,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelscreen/hill1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,85}</string>
                <key>spriteSourceSize</key>
                <string>{263,85}</string>
                <key>textureRect</key>
                <string>{{442,1},{263,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelscreen/hills.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,184}</string>
                <key>spriteSourceSize</key>
                <string>{263,184}</string>
                <key>textureRect</key>
                <string>{{256,1},{263,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelscreen/lasthill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,135}</string>
                <key>spriteSourceSize</key>
                <string>{253,135}</string>
                <key>textureRect</key>
                <string>{{529,1},{253,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelscreen/lasthill1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,450}</string>
                <key>spriteSourceSize</key>
                <string>{253,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{253,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelscreen/shade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,77}</string>
                <key>spriteSourceSize</key>
                <string>{78,77}</string>
                <key>textureRect</key>
                <string>{{453,417},{78,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelscreen/shade1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,77}</string>
                <key>spriteSourceSize</key>
                <string>{78,77}</string>
                <key>textureRect</key>
                <string>{{532,417},{78,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelscreen/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{60,453},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>levelscreen.png</string>
            <key>size</key>
            <string>{740,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:576612b9502503fac0eeb45908c75a85:108b27b1b3cabb276732a4082e370bc8:842fc2a36fa5562c6f5989cadeb69f96$</string>
            <key>textureFileName</key>
            <string>levelscreen.png</string>
        </dict>
    </dict>
</plist>
