<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelscreen/boat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,149}</string>
                <key>spriteSourceSize</key>
                <string>{120,149}</string>
                <key>textureRect</key>
                <string>{{929,1},{120,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelscreen/boat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,149}</string>
                <key>spriteSourceSize</key>
                <string>{120,149}</string>
                <key>textureRect</key>
                <string>{{1051,1},{120,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelscreen/boat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,149}</string>
                <key>spriteSourceSize</key>
                <string>{209,149}</string>
                <key>textureRect</key>
                <string>{{718,1},{209,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelscreen/cat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,127}</string>
                <key>spriteSourceSize</key>
                <string>{73,127}</string>
                <key>textureRect</key>
                <string>{{1054,152},{73,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelscreen/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,57}</string>
                <key>spriteSourceSize</key>
                <string>{58,57}</string>
                <key>textureRect</key>
                <string>{{1237,81},{58,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelscreen/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,14}</string>
                <key>spriteSourceSize</key>
                <string>{47,14}</string>
                <key>textureRect</key>
                <string>{{718,152},{47,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelscreen/fronthill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,37}</string>
                <key>spriteSourceSize</key>
                <string>{68,37}</string>
                <key>textureRect</key>
                <string>{{1262,141},{68,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelscreen/fronthill1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,62}</string>
                <key>spriteSourceSize</key>
                <string>{69,62}</string>
                <key>textureRect</key>
                <string>{{1173,81},{69,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelscreen/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,54}</string>
                <key>spriteSourceSize</key>
                <string>{334,54}</string>
                <key>textureRect</key>
                <string>{{453,187},{334,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelscreen/hill1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,85}</string>
                <key>spriteSourceSize</key>
                <string>{263,85}</string>
                <key>textureRect</key>
                <string>{{789,152},{263,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelscreen/hills.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,184}</string>
                <key>spriteSourceSize</key>
                <string>{263,184}</string>
                <key>textureRect</key>
                <string>{{453,1},{263,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelscreen/lasthill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,450}</string>
                <key>spriteSourceSize</key>
                <string>{253,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{253,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelscreen/shade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,77}</string>
                <key>spriteSourceSize</key>
                <string>{78,77}</string>
                <key>textureRect</key>
                <string>{{1173,1},{78,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelscreen/shade1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,77}</string>
                <key>spriteSourceSize</key>
                <string>{78,77}</string>
                <key>textureRect</key>
                <string>{{1183,152},{78,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelscreen/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{1252,1},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>levelscreen.png</string>
            <key>size</key>
            <string>{1308,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78103266aedb0f68afa7379847aba7d2:c33e51c3f3fe24902fcb11a7e1100b8e:842fc2a36fa5562c6f5989cadeb69f96$</string>
            <key>textureFileName</key>
            <string>levelscreen.png</string>
        </dict>
    </dict>
</plist>
