<plist version="1.0">
    <dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>category_names</key>
        <array>
        </array>
        <key>bodies</key>
        <dict>

            <key>floor</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.49900,0.50200 }</string>
                <key>is_dynamic</key>
                <false />
                <key>affected_by_gravity</key>
                <false />
                <key>allows_rotation</key>
                <false />
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1000000</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1000000</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>2</real>
                        <key>restitution</key>
                        <real>0.20000000000000001</real>
                        <key>friction</key>
                        <real>0.69999999999999996</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>3</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>1</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 94.87500,-58.37500 }</string>
                                <string>{ -90.62500,-58.62500 }</string>
                                <string>{ -90.37500,-2.12500 }</string>
                                <string>{ 94.62500,-1.87500 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>football_net</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>is_dynamic</key>
                <false />
                <key>affected_by_gravity</key>
                <false />
                <key>allows_rotation</key>
                <false />
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1000000</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1000000</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.200000003</real>
                        <key>friction</key>
                        <real>0.699999988</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>2</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ -141.75000,61.25000 }</string>
                                <string>{ -141.75000,71.75000 }</string>
                                <string>{ 141.75000,71.75000 }</string>
                                <string>{ 142.00000,61.25000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>see_show</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50100,0.50000 }</string>
                <key>is_dynamic</key>
                <false />
                <key>affected_by_gravity</key>
                <false />
                <key>allows_rotation</key>
                <false />
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1000000</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1000000</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.200000003</real>
                        <key>friction</key>
                        <real>0.699999988</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>2</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ -66.87500,-21.50000 }</string>
                                <string>{ -64.87500,-24.00000 }</string>
                                <string>{ -104.62500,-40.75000 }</string>
                                <string>{ -105.62500,-36.00000 }</string>
                            </array>
                            <array>
                                <string>{ 105.12500,36.25000 }</string>
                                <string>{ 64.37500,23.00000 }</string>
                                <string>{ 64.87500,25.75000 }</string>
                                <string>{ 103.62500,39.75000 }</string>
                            </array>
                            <array>
                                <string>{ 105.12500,36.25000 }</string>
                                <string>{ -104.62500,-40.75000 }</string>
                                <string>{ -64.87500,-24.00000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>slide</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>is_dynamic</key>
                <false />
                <key>affected_by_gravity</key>
                <false />
                <key>allows_rotation</key>
                <false />
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1000000</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1000000</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.200000003</real>
                        <key>friction</key>
                        <real>0.699999988</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>2</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ -144.00000,-118.25000 }</string>
                                <string>{ -137.75000,-134.75000 }</string>
                                <string>{ -177.75000,-141.25000 }</string>
                                <string>{ -177.75000,-119.75000 }</string>
                            </array>
                            <array>
                                <string>{ -34.50000,-70.25000 }</string>
                                <string>{ -137.75000,-134.75000 }</string>
                                <string>{ -144.00000,-118.25000 }</string>
                                <string>{ -34.00000,-47.75000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.200000003</real>
                        <key>friction</key>
                        <real>0.699999988</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>2</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ -25.25000,-58.25000 }</string>
                                <string>{ -25.25000,-48.25000 }</string>
                                <string>{ 77.50000,-48.25000 }</string>
                                <string>{ 77.50000,-58.75000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.200000003</real>
                        <key>friction</key>
                        <real>0.699999988</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>2</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 143.25000,-106.50000 }</string>
                                <string>{ 125.00000,-89.25000 }</string>
                                <string>{ 143.25000,-89.25000 }</string>
                            </array>
                            <array>
                                <string>{ 161.00000,-122.00000 }</string>
                                <string>{ 143.25000,-106.50000 }</string>
                                <string>{ 161.25000,-106.50000 }</string>
                            </array>
                            <array>
                                <string>{ 104.00000,-48.50000 }</string>
                                <string>{ 104.00000,-71.50000 }</string>
                                <string>{ 86.75000,-62.00000 }</string>
                                <string>{ 87.25000,-48.25000 }</string>
                            </array>
                            <array>
                                <string>{ 125.00000,-89.25000 }</string>
                                <string>{ 104.00000,-71.50000 }</string>
                                <string>{ 124.50000,-72.00000 }</string>
                            </array>
                            <array>
                                <string>{ 172.25000,-138.00000 }</string>
                                <string>{ 161.00000,-122.00000 }</string>
                                <string>{ 173.25000,-122.25000 }</string>
                            </array>
                            <array>
                                <string>{ 172.25000,-138.00000 }</string>
                                <string>{ 143.25000,-106.50000 }</string>
                                <string>{ 161.00000,-122.00000 }</string>
                            </array>
                            <array>
                                <string>{ 125.00000,-89.25000 }</string>
                                <string>{ 143.25000,-106.50000 }</string>
                                <string>{ 172.25000,-138.00000 }</string>
                                <string>{ 86.75000,-62.00000 }</string>
                                <string>{ 104.00000,-71.50000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.200000003</real>
                        <key>friction</key>
                        <real>0.699999988</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>2</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 33.00000,138.50000 }</string>
                                <string>{ 86.25000,58.75000 }</string>
                                <string>{ 86.75000,49.25000 }</string>
                                <string>{ -35.25000,48.75000 }</string>
                                <string>{ -34.75000,59.25000 }</string>
                                <string>{ 20.25000,138.75000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>swing</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>is_dynamic</key>
                <false />
                <key>affected_by_gravity</key>
                <false />
                <key>allows_rotation</key>
                <false />
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1000000</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1000000</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.200000003</real>
                        <key>friction</key>
                        <real>0.699999988</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>2</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ -19.50000,-61.25000 }</string>
                                <string>{ -74.25000,-61.25000 }</string>
                                <string>{ -74.25000,-51.25000 }</string>
                                <string>{ -19.25000,-51.25000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.200000003</real>
                        <key>friction</key>
                        <real>0.699999988</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>2</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 16.75000,-50.75000 }</string>
                                <string>{ 70.00000,-50.75000 }</string>
                                <string>{ 70.00000,-60.50000 }</string>
                                <string>{ 16.75000,-60.75000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.200000003</real>
                        <key>friction</key>
                        <real>0.699999988</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>2</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 88.00000,88.50000 }</string>
                                <string>{ 88.25000,79.00000 }</string>
                                <string>{ -88.75000,79.00000 }</string>
                                <string>{ -88.75000,89.00000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

        </dict>
    </dict>
</plist>