<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>candy_jumping_numbers/cookie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,57}</string>
                <key>spriteSourceSize</key>
                <string>{121,57}</string>
                <key>textureRect</key>
                <string>{{1,1},{121,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy_jumping_numbers/gingerbreadman1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-5}</string>
                <key>spriteSize</key>
                <string>{65,111}</string>
                <key>spriteSourceSize</key>
                <string>{105,129}</string>
                <key>textureRect</key>
                <string>{{1,60},{65,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>candy_jumping_numbers/gingerbreadman2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-4}</string>
                <key>spriteSize</key>
                <string>{65,115}</string>
                <key>spriteSourceSize</key>
                <string>{105,129}</string>
                <key>textureRect</key>
                <string>{{1,127},{65,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>candy_jumping_numbers/gingerbreadman3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-7}</string>
                <key>spriteSize</key>
                <string>{65,109}</string>
                <key>spriteSourceSize</key>
                <string>{105,129}</string>
                <key>textureRect</key>
                <string>{{1,194},{65,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>candy_jumping_numbers/gingerbreadman4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,6}</string>
                <key>spriteSize</key>
                <string>{67,113}</string>
                <key>spriteSourceSize</key>
                <string>{105,129}</string>
                <key>textureRect</key>
                <string>{{1,261},{67,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>candy_jumping_numbers/land.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,511}</string>
                <key>spriteSourceSize</key>
                <string>{100,511}</string>
                <key>textureRect</key>
                <string>{{1,489},{100,511}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy_jumping_numbers/wave1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,85}</string>
                <key>spriteSourceSize</key>
                <string>{119,85}</string>
                <key>textureRect</key>
                <string>{{1,402},{119,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy_jumping_numbers/wave2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,70}</string>
                <key>spriteSourceSize</key>
                <string>{73,70}</string>
                <key>textureRect</key>
                <string>{{1,330},{73,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>candy_jumping_numbers.png</string>
            <key>size</key>
            <string>{123,1001}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4c9c9e30944e8a2cf4c704af773bfaf:7640e5040188bc4d100eb945879bb954:f5cb9db8ae0d1b6d22c8a26893ad3237$</string>
            <key>textureFileName</key>
            <string>candy_jumping_numbers.png</string>
        </dict>
    </dict>
</plist>
