<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>layer_1_mountain_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,1609},{1373,1126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1373,1126}</string>
			</dict>
			<key>layer_1_mountain_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2091,1373},{985,1126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{985,1126}</string>
			</dict>
			<key>layer_1_mountain_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2236,0},{985,1126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{985,1126}</string>
			</dict>
			<key>layer_2_mountain_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1110,0},{1373,1126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1373,1126}</string>
			</dict>
			<key>layer_2_mountain_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3076,1126},{985,1126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{985,1126}</string>
			</dict>
			<key>layer_6_tree_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1110,1609}}</string>
				<key>offset</key>
				<string>{13,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1136,1609}</string>
			</dict>
			<key>layer_6_tree_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1609},{965,1609}}</string>
				<key>offset</key>
				<string>{-7,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{979,1609}</string>
			</dict>
			<key>layer_6_tree_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1609,2982},{880,1591}}</string>
				<key>offset</key>
				<string>{9,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{898,1609}</string>
			</dict>
			<key>layer_6_tree_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3218},{241,1609}}</string>
				<key>offset</key>
				<string>{7,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{270,1609}</string>
			</dict>
			<key>ground.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3459},{519,506}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{519,506}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{4061,3978}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4061</integer>
			<key>height</key>
			<integer>3978</integer>
		</dict>
	</dict>
</plist>