<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ATM/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,85}</string>
                <key>spriteSourceSize</key>
                <string>{210,85}</string>
                <key>textureRect</key>
                <string>{{868,1534},{210,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ATM/10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,85}</string>
                <key>spriteSourceSize</key>
                <string>{210,85}</string>
                <key>textureRect</key>
                <string>{{617,1833},{210,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATM/100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,85}</string>
                <key>spriteSourceSize</key>
                <string>{210,85}</string>
                <key>textureRect</key>
                <string>{{868,1746},{210,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ATM/atm_machine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{586,792}</string>
                <key>spriteSourceSize</key>
                <string>{586,792}</string>
                <key>textureRect</key>
                <string>{{1,1},{586,792}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATM/board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,110}</string>
                <key>spriteSourceSize</key>
                <string>{345,110}</string>
                <key>textureRect</key>
                <string>{{849,617},{345,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ATM/correct_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,94}</string>
                <key>spriteSourceSize</key>
                <string>{280,94}</string>
                <key>textureRect</key>
                <string>{{772,1534},{280,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ATM/notemachine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,21}</string>
                <key>spriteSourceSize</key>
                <string>{238,21}</string>
                <key>textureRect</key>
                <string>{{961,617},{238,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ATM/popup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,158}</string>
                <key>spriteSourceSize</key>
                <string>{299,158}</string>
                <key>textureRect</key>
                <string>{{772,1233},{299,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ATM/star1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{598,153}</string>
                <key>spriteSourceSize</key>
                <string>{598,153}</string>
                <key>textureRect</key>
                <string>{{617,1233},{598,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ATM/star2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{614,230}</string>
                <key>spriteSourceSize</key>
                <string>{614,230}</string>
                <key>textureRect</key>
                <string>{{617,617},{614,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ATM/star3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{614,393}</string>
                <key>spriteSourceSize</key>
                <string>{614,393}</string>
                <key>textureRect</key>
                <string>{{589,1},{614,393}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ATM/star4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{614,509}</string>
                <key>spriteSourceSize</key>
                <string>{614,509}</string>
                <key>textureRect</key>
                <string>{{1,1431},{614,509}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATM/star5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{614,634}</string>
                <key>spriteSourceSize</key>
                <string>{614,634}</string>
                <key>textureRect</key>
                <string>{{1,795},{614,634}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATM/tiles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,74}</string>
                <key>spriteSourceSize</key>
                <string>{222,74}</string>
                <key>textureRect</key>
                <string>{{849,964},{222,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ATM.png</string>
            <key>size</key>
            <string>{983,1957}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63bb03a6bdde7f3220c5a03f48324c37:d662096d3fe411b803c39c262124c271:7118a57dbe210a38cdb3016bad02b831$</string>
            <key>textureFileName</key>
            <string>ATM.png</string>
        </dict>
    </dict>
</plist>
