<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>school/school_foreground/dustbin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,129}</string>
                <key>spriteSourceSize</key>
                <string>{91,129}</string>
                <key>textureRect</key>
                <string>{{730,806},{91,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>school/school_mainground/bell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,145}</string>
                <key>spriteSourceSize</key>
                <string>{157,145}</string>
                <key>textureRect</key>
                <string>{{730,1062},{157,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>school/school_mainground/book_desk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{483,632}</string>
                <key>spriteSourceSize</key>
                <string>{483,632}</string>
                <key>textureRect</key>
                <string>{{1,1737},{483,632}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>school/school_mainground/book_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,123}</string>
                <key>spriteSourceSize</key>
                <string>{34,123}</string>
                <key>textureRect</key>
                <string>{{965,2081},{34,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>school/school_mainground/book_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,123}</string>
                <key>spriteSourceSize</key>
                <string>{35,123}</string>
                <key>textureRect</key>
                <string>{{730,937},{35,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>school/school_mainground/book_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,123}</string>
                <key>spriteSourceSize</key>
                <string>{35,123}</string>
                <key>textureRect</key>
                <string>{{767,937},{35,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>school/school_mainground/book_shell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{690,94}</string>
                <key>spriteSourceSize</key>
                <string>{690,94}</string>
                <key>textureRect</key>
                <string>{{911,143},{690,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>school/school_mainground/book_stand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,328}</string>
                <key>spriteSourceSize</key>
                <string>{322,328}</string>
                <key>textureRect</key>
                <string>{{635,2081},{322,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>school/school_mainground/chair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,400}</string>
                <key>spriteSourceSize</key>
                <string>{267,400}</string>
                <key>textureRect</key>
                <string>{{585,2405},{267,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>school/school_mainground/computer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,130}</string>
                <key>spriteSourceSize</key>
                <string>{144,130}</string>
                <key>textureRect</key>
                <string>{{880,1290},{144,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>school/school_mainground/door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{527,702}</string>
                <key>spriteSourceSize</key>
                <string>{527,702}</string>
                <key>textureRect</key>
                <string>{{1,1162},{527,702}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>school/school_mainground/earth_globe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,109}</string>
                <key>spriteSourceSize</key>
                <string>{95,109}</string>
                <key>textureRect</key>
                <string>{{911,1},{95,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>school/school_mainground/floor_tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,181}</string>
                <key>spriteSourceSize</key>
                <string>{184,181}</string>
                <key>textureRect</key>
                <string>{{1,2489},{184,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>school/school_mainground/floor_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,44}</string>
                <key>spriteSourceSize</key>
                <string>{641,44}</string>
                <key>textureRect</key>
                <string>{{1,1691},{641,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>school/school_mainground/ink_pen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,8}</string>
                <key>spriteSourceSize</key>
                <string>{66,8}</string>
                <key>textureRect</key>
                <string>{{1007,275},{66,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>school/school_mainground/kid_big_chair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{453,133}</string>
                <key>spriteSourceSize</key>
                <string>{453,133}</string>
                <key>textureRect</key>
                <string>{{886,835},{453,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>school/school_mainground/kid_big_table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{454,190}</string>
                <key>spriteSourceSize</key>
                <string>{456,208}</string>
                <key>textureRect</key>
                <string>{{504,2682},{454,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>school/school_mainground/kid_chair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,114}</string>
                <key>spriteSourceSize</key>
                <string>{126,114}</string>
                <key>textureRect</key>
                <string>{{880,1436},{126,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>school/school_mainground/kid_table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,194}</string>
                <key>spriteSourceSize</key>
                <string>{378,194}</string>
                <key>textureRect</key>
                <string>{{635,1885},{378,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>school/school_mainground/kid_table_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,196}</string>
                <key>spriteSourceSize</key>
                <string>{294,196}</string>
                <key>textureRect</key>
                <string>{{306,2682},{294,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>school/school_mainground/kid_table_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,191}</string>
                <key>spriteSourceSize</key>
                <string>{270,191}</string>
                <key>textureRect</key>
                <string>{{306,2489},{270,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>school/school_mainground/lamp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,223}</string>
                <key>spriteSourceSize</key>
                <string>{206,223}</string>
                <key>textureRect</key>
                <string>{{504,2874},{206,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>school/school_mainground/pen_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,9}</string>
                <key>spriteSourceSize</key>
                <string>{102,9}</string>
                <key>textureRect</key>
                <string>{{911,110},{102,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>school/school_mainground/pen_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,9}</string>
                <key>spriteSourceSize</key>
                <string>{102,9}</string>
                <key>textureRect</key>
                <string>{{911,121},{102,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>school/school_mainground/pen_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,9}</string>
                <key>spriteSourceSize</key>
                <string>{102,9}</string>
                <key>textureRect</key>
                <string>{{911,132},{102,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>school/school_mainground/pen_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,10}</string>
                <key>spriteSourceSize</key>
                <string>{102,10}</string>
                <key>textureRect</key>
                <string>{{911,98},{102,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>school/school_mainground/pencil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,13}</string>
                <key>spriteSourceSize</key>
                <string>{130,13}</string>
                <key>textureRect</key>
                <string>{{1007,143},{130,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>school/school_mainground/poster.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,303}</string>
                <key>spriteSourceSize</key>
                <string>{321,303}</string>
                <key>textureRect</key>
                <string>{{1,2674},{321,303}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>school/school_mainground/poster_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,308}</string>
                <key>spriteSourceSize</key>
                <string>{329,308}</string>
                <key>textureRect</key>
                <string>{{705,1554},{329,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>school/school_mainground/small_chair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,331}</string>
                <key>spriteSourceSize</key>
                <string>{173,331}</string>
                <key>textureRect</key>
                <string>{{705,1221},{173,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>school/school_mainground/stand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{717,53}</string>
                <key>spriteSourceSize</key>
                <string>{717,53}</string>
                <key>textureRect</key>
                <string>{{831,343},{717,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>school/school_mainground/study_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{727,354}</string>
                <key>spriteSourceSize</key>
                <string>{727,354}</string>
                <key>textureRect</key>
                <string>{{1,806},{727,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>school/school_mainground/table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{582,265}</string>
                <key>spriteSourceSize</key>
                <string>{582,265}</string>
                <key>textureRect</key>
                <string>{{1,2222},{582,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>school/school_mainground/tool_glass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,83}</string>
                <key>spriteSourceSize</key>
                <string>{40,83}</string>
                <key>textureRect</key>
                <string>{{635,1774},{40,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>school/school_mainground/watch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{206,207}</string>
                <key>spriteSourceSize</key>
                <string>{206,217}</string>
                <key>textureRect</key>
                <string>{{729,2874},{206,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>school/school_mainground/water_glass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,45}</string>
                <key>spriteSourceSize</key>
                <string>{40,45}</string>
                <key>textureRect</key>
                <string>{{644,1691},{40,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>school/school_mainground/water_glass_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,44}</string>
                <key>spriteSourceSize</key>
                <string>{39,44}</string>
                <key>textureRect</key>
                <string>{{644,1733},{39,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>school/school_mainground/window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{908,340}</string>
                <key>spriteSourceSize</key>
                <string>{908,340}</string>
                <key>textureRect</key>
                <string>{{1,1},{908,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>school/school_mainground/wood_steps.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{461,828}</string>
                <key>spriteSourceSize</key>
                <string>{461,828}</string>
                <key>textureRect</key>
                <string>{{1,343},{461,828}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>school.png</string>
            <key>size</key>
            <string>{1021,3081}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce5c5af6770e5a378d6fc2e3e8281441:c106524d937183d81f326eb6d28e7134:903742f80a0f132cfcf8a2adb07a3bc4$</string>
            <key>textureFileName</key>
            <string>school.png</string>
        </dict>
    </dict>
</plist>
