<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wembley/ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1,86},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wembley/balldash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{79,86},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wembley/ballshade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{157,86},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wembley/body_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,44}</string>
                <key>spriteSourceSize</key>
                <string>{30,44}</string>
                <key>textureRect</key>
                <string>{{147,164},{30,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wembley/body_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,46}</string>
                <key>spriteSourceSize</key>
                <string>{31,46}</string>
                <key>textureRect</key>
                <string>{{114,164},{31,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wembley/char-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,25}</string>
                <key>spriteSourceSize</key>
                <string>{19,25}</string>
                <key>textureRect</key>
                <string>{{212,163},{19,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wembley/char-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,23}</string>
                <key>spriteSourceSize</key>
                <string>{19,23}</string>
                <key>textureRect</key>
                <string>{{179,190},{19,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wembley/foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,7}</string>
                <key>spriteSourceSize</key>
                <string>{14,7}</string>
                <key>textureRect</key>
                <string>{{114,212},{14,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wembley/head_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,59}</string>
                <key>spriteSourceSize</key>
                <string>{54,59}</string>
                <key>textureRect</key>
                <string>{{1,164},{54,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wembley/head_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,54}</string>
                <key>textureRect</key>
                <string>{{62,164},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wembley/left_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,20}</string>
                <key>spriteSourceSize</key>
                <string>{13,20}</string>
                <key>textureRect</key>
                <string>{{219,1},{13,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wembley/lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,10}</string>
                <key>spriteSourceSize</key>
                <string>{20,10}</string>
                <key>textureRect</key>
                <string>{{219,45},{20,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wembley/lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,22}</string>
                <key>spriteSourceSize</key>
                <string>{10,22}</string>
                <key>textureRect</key>
                <string>{{147,210},{10,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wembley/net.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{216,83}</string>
                <key>spriteSourceSize</key>
                <string>{216,91}</string>
                <key>textureRect</key>
                <string>{{1,1},{216,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wembley/pant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,25}</string>
                <key>spriteSourceSize</key>
                <string>{31,25}</string>
                <key>textureRect</key>
                <string>{{179,163},{31,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wembley/right_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,20}</string>
                <key>spriteSourceSize</key>
                <string>{13,20}</string>
                <key>textureRect</key>
                <string>{{219,23},{13,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wembley/upper_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,16}</string>
                <key>spriteSourceSize</key>
                <string>{11,16}</string>
                <key>textureRect</key>
                <string>{{219,67},{11,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wembley/upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,22}</string>
                <key>spriteSourceSize</key>
                <string>{15,22}</string>
                <key>textureRect</key>
                <string>{{204,190},{15,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wembley.png</string>
            <key>size</key>
            <string>{233,221}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a14c40408901e1b6909b5d1f8118b0f2:b2111bf8c027bf7d653c43af4f84e996:cfce23dd01c0bbbbc6990219af36ea7c$</string>
            <key>textureFileName</key>
            <string>wembley.png</string>
        </dict>
    </dict>
</plist>
