<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Unafanya_nini_What_are_you_doing/Unafanya_nini_What_are_you_doing_b/designer_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{210,292}</string>
                <key>spriteSourceSize</key>
                <string>{210,296}</string>
                <key>textureRect</key>
                <string>{{1,296},{210,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unafanya_nini_What_are_you_doing/Unafanya_nini_What_are_you_doing_b/hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,205}</string>
                <key>spriteSourceSize</key>
                <string>{205,205}</string>
                <key>textureRect</key>
                <string>{{1,590},{205,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Unafanya_nini_What_are_you_doing/Unafanya_nini_What_are_you_doing_b/jubba_purple_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,293}</string>
                <key>spriteSourceSize</key>
                <string>{210,293}</string>
                <key>textureRect</key>
                <string>{{1,1},{210,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Unafanya_nini_What_are_you_doing_b.png</string>
            <key>size</key>
            <string>{212,796}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bad6ca9a0363f5e8f8597484b42dec95:bb9c0771ba9ea1041fb01da8a1549dad:70eb744c3d8a72c00791c046670ab105$</string>
            <key>textureFileName</key>
            <string>Unafanya_nini_What_are_you_doing_b.png</string>
        </dict>
    </dict>
</plist>
