<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jungle/junglec/branch-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{2040,99}</string>
                <key>spriteSourceSize</key>
                <string>{2048,107}</string>
                <key>textureRect</key>
                <string>{{1104,1},{2040,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jungle/junglec/chimp-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{379,369}</string>
                <key>spriteSourceSize</key>
                <string>{379,381}</string>
                <key>textureRect</key>
                <string>{{1104,102},{379,369}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jungle/junglec/chimp-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,59}</string>
                <key>spriteSourceSize</key>
                <string>{78,59}</string>
                <key>textureRect</key>
                <string>{{1036,415},{78,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jungle/junglec/chimp-12a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{78,49}</string>
                <key>spriteSourceSize</key>
                <string>{78,59}</string>
                <key>textureRect</key>
                <string>{{795,458},{78,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jungle/junglec/cimp-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,250}</string>
                <key>spriteSourceSize</key>
                <string>{282,250}</string>
                <key>textureRect</key>
                <string>{{2381,102},{282,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jungle/junglec/cimp-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,245}</string>
                <key>spriteSourceSize</key>
                <string>{46,245}</string>
                <key>textureRect</key>
                <string>{{536,415},{46,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jungle/junglec/cimp-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,137}</string>
                <key>spriteSourceSize</key>
                <string>{46,137}</string>
                <key>textureRect</key>
                <string>{{566,463},{46,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jungle/junglec/giraffe-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,369}</string>
                <key>spriteSourceSize</key>
                <string>{328,369}</string>
                <key>textureRect</key>
                <string>{{1475,102},{328,369}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jungle/junglec/leave-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,167}</string>
                <key>spriteSourceSize</key>
                <string>{398,167}</string>
                <key>textureRect</key>
                <string>{{3583,1},{398,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jungle/junglec/leave-w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,167}</string>
                <key>spriteSourceSize</key>
                <string>{398,167}</string>
                <key>textureRect</key>
                <string>{{2633,102},{398,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jungle/junglec/leopard-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,294}</string>
                <key>spriteSourceSize</key>
                <string>{382,294}</string>
                <key>textureRect</key>
                <string>{{1805,102},{382,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jungle/junglec/leopard-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,32}</string>
                <key>spriteSourceSize</key>
                <string>{88,32}</string>
                <key>textureRect</key>
                <string>{{705,463},{88,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jungle/junglec/leopard-15sd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{88,18}</string>
                <key>spriteSourceSize</key>
                <string>{88,32}</string>
                <key>textureRect</key>
                <string>{{783,438},{88,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jungle/junglec/lion-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{470,533}</string>
                <key>spriteSourceSize</key>
                <string>{488,545}</string>
                <key>textureRect</key>
                <string>{{1,1},{470,533}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jungle/junglec/lion-06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,62}</string>
                <key>spriteSourceSize</key>
                <string>{159,62}</string>
                <key>textureRect</key>
                <string>{{875,438},{159,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jungle/junglec/lion-07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,25}</string>
                <key>spriteSourceSize</key>
                <string>{167,25}</string>
                <key>textureRect</key>
                <string>{{143,473},{167,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jungle/junglec/lion-08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,34}</string>
                <key>spriteSourceSize</key>
                <string>{140,34}</string>
                <key>textureRect</key>
                <string>{{1,473},{140,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jungle/junglec/lion-08d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{140,24}</string>
                <key>spriteSourceSize</key>
                <string>{140,34}</string>
                <key>textureRect</key>
                <string>{{424,473},{140,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jungle/junglec/player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,185}</string>
                <key>spriteSourceSize</key>
                <string>{186,185}</string>
                <key>textureRect</key>
                <string>{{2802,307},{186,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jungle/junglec/star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,435}</string>
                <key>spriteSourceSize</key>
                <string>{473,473}</string>
                <key>textureRect</key>
                <string>{{3146,1},{435,435}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jungle/junglec/traget.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{310,203}</string>
                <key>spriteSourceSize</key>
                <string>{310,219}</string>
                <key>textureRect</key>
                <string>{{2802,102},{310,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jungle/junglec/wildebeest-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{566,412}</string>
                <key>spriteSourceSize</key>
                <string>{566,412}</string>
                <key>textureRect</key>
                <string>{{536,1},{566,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jungle/junglec/zebra-09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{278,370}</string>
                <key>spriteSourceSize</key>
                <string>{282,374}</string>
                <key>textureRect</key>
                <string>{{2101,102},{278,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jungle/junglec/zebra-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,33}</string>
                <key>spriteSourceSize</key>
                <string>{110,33}</string>
                <key>textureRect</key>
                <string>{{312,473},{110,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jungle/junglec/zebra-10d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{110,21}</string>
                <key>spriteSourceSize</key>
                <string>{110,33}</string>
                <key>textureRect</key>
                <string>{{783,415},{110,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>junglec.png</string>
            <key>size</key>
            <string>{3751,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d48d703eb1cda3086218d6cece8f8dfc:63668f1bed8b39a5a83bffa4e37307d2:c317e0306373b68cec4ea2e0ba4393c4$</string>
            <key>textureFileName</key>
            <string>junglec.png</string>
        </dict>
    </dict>
</plist>
