<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>endlessrunner/barrier.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,1800}</string>
                <key>spriteSourceSize</key>
                <string>{2,1800}</string>
                <key>textureRect</key>
                <string>{{1378,3853},{2,1800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/bgTouchImage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1055,1749},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,127}</string>
                <key>spriteSourceSize</key>
                <string>{300,127}</string>
                <key>textureRect</key>
                <string>{{2756,3611},{300,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/catch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,458}</string>
                <key>spriteSourceSize</key>
                <string>{50,458}</string>
                <key>textureRect</key>
                <string>{{3950,0},{50,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/gapw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,20}</string>
                <key>spriteSourceSize</key>
                <string>{400,20}</string>
                <key>textureRect</key>
                <string>{{3908,2755},{400,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/glass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,458}</string>
                <key>spriteSourceSize</key>
                <string>{50,458}</string>
                <key>textureRect</key>
                <string>{{2704,884},{50,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,500}</string>
                <key>spriteSourceSize</key>
                <string>{1,500}</string>
                <key>textureRect</key>
                <string>{{1378,3858},{1,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/happy_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,69}</string>
                <key>spriteSourceSize</key>
                <string>{104,69}</string>
                <key>textureRect</key>
                <string>{{3379,3014},{104,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/happy_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,340}</string>
                <key>spriteSourceSize</key>
                <string>{166,340}</string>
                <key>textureRect</key>
                <string>{{2704,1636},{166,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/happy_mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,61}</string>
                <key>spriteSourceSize</key>
                <string>{198,61}</string>
                <key>textureRect</key>
                <string>{{2757,884},{198,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/layer_1_mountain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1374,1126}</string>
                <key>spriteSourceSize</key>
                <string>{1374,1126}</string>
                <key>textureRect</key>
                <string>{{2001,1830},{1374,1126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/layer_2_mountain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1374,1126}</string>
                <key>spriteSourceSize</key>
                <string>{1374,1126}</string>
                <key>textureRect</key>
                <string>{{2821,0},{1374,1126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/layer_3_bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1375,381}</string>
                <key>spriteSourceSize</key>
                <string>{1375,381}</string>
                <key>textureRect</key>
                <string>{{0,3480},{1375,381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/layer_4_tree_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{943,1636}</string>
                <key>spriteSourceSize</key>
                <string>{943,1636}</string>
                <key>textureRect</key>
                <string>{{1065,884},{943,1636}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/layer_4_tree_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,1634}</string>
                <key>spriteSourceSize</key>
                <string>{267,1634}</string>
                <key>textureRect</key>
                <string>{{3379,1377},{267,1634}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/layer_4_tree_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{943,1636}</string>
                <key>spriteSourceSize</key>
                <string>{943,1636}</string>
                <key>textureRect</key>
                <string>{{1055,1830},{943,1636}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/layer_5_bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1375,381}</string>
                <key>spriteSourceSize</key>
                <string>{1375,381}</string>
                <key>textureRect</key>
                <string>{{3649,1377},{1375,381}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/layer_6_tree_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1052,1728}</string>
                <key>spriteSourceSize</key>
                <string>{1052,1728}</string>
                <key>textureRect</key>
                <string>{{0,1749},{1052,1728}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/layer_6_tree_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,1868}</string>
                <key>spriteSourceSize</key>
                <string>{246,1868}</string>
                <key>textureRect</key>
                <string>{{3130,1377},{246,1868}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/layer_6_tree_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{881,1753}</string>
                <key>spriteSourceSize</key>
                <string>{881,1753}</string>
                <key>textureRect</key>
                <string>{{1065,0},{881,1753}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/layer_6_tree_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1062,1746}</string>
                <key>spriteSourceSize</key>
                <string>{1062,1746}</string>
                <key>textureRect</key>
                <string>{{0,0},{1062,1746}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/layer_7_bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1375,381}</string>
                <key>spriteSourceSize</key>
                <string>{1375,381}</string>
                <key>textureRect</key>
                <string>{{1378,3469},{1375,381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/path_left_lands.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,256}</string>
                <key>spriteSourceSize</key>
                <string>{401,256}</string>
                <key>textureRect</key>
                <string>{{2001,3207},{401,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/path_right_lands.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,256}</string>
                <key>spriteSourceSize</key>
                <string>{401,256}</string>
                <key>textureRect</key>
                <string>{{2405,3207},{401,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/pathmid_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,256}</string>
                <key>spriteSourceSize</key>
                <string>{401,256}</string>
                <key>textureRect</key>
                <string>{{2704,1377},{401,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/pathmid_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,256}</string>
                <key>spriteSourceSize</key>
                <string>{401,256}</string>
                <key>textureRect</key>
                <string>{{3649,2755},{401,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/pathmid_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,256}</string>
                <key>spriteSourceSize</key>
                <string>{401,256}</string>
                <key>textureRect</key>
                <string>{{2809,3207},{401,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/pathmid_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,256}</string>
                <key>spriteSourceSize</key>
                <string>{401,256}</string>
                <key>textureRect</key>
                <string>{{3068,3248},{401,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>endlessrunner_01.png</string>
            <key>size</key>
            <string>{4030,3861}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1172d20e678c866d100a1025c2291bab:b922db2cc3f0916a7c07fa1a79c111c9:616bbfc4152373ef6c9c8316027dcae3$</string>
            <key>textureFileName</key>
            <string>endlessrunner_01.png</string>
        </dict>
    </dict>
</plist>
