<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crossthebridge/base_path_extra.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,234}</string>
                <key>spriteSourceSize</key>
                <string>{327,234}</string>
                <key>textureRect</key>
                <string>{{772,116},{327,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/base_path_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,235}</string>
                <key>spriteSourceSize</key>
                <string>{258,235}</string>
                <key>textureRect</key>
                <string>{{1101,116},{258,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/base_path_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{769,235}</string>
                <key>spriteSourceSize</key>
                <string>{769,235}</string>
                <key>textureRect</key>
                <string>{{1,1},{769,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/blast.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,82}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{119,167}</string>
                <key>textureRect</key>
                <string>{{767,238},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/blast_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,167}</string>
                <key>spriteSourceSize</key>
                <string>{119,167}</string>
                <key>textureRect</key>
                <string>{{1421,22},{119,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/blast_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,151}</string>
                <key>spriteSourceSize</key>
                <string>{131,151}</string>
                <key>textureRect</key>
                <string>{{639,284},{131,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/blast_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,167}</string>
                <key>spriteSourceSize</key>
                <string>{119,167}</string>
                <key>textureRect</key>
                <string>{{1421,191},{119,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/blast_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,170}</string>
                <key>spriteSourceSize</key>
                <string>{63,170}</string>
                <key>textureRect</key>
                <string>{{1728,69},{63,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/bottom_path.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,137}</string>
                <key>spriteSourceSize</key>
                <string>{184,137}</string>
                <key>textureRect</key>
                <string>{{1542,69},{184,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/bridge_extra.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,223}</string>
                <key>spriteSourceSize</key>
                <string>{251,223}</string>
                <key>textureRect</key>
                <string>{{386,284},{251,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,55}</string>
                <key>spriteSourceSize</key>
                <string>{179,55}</string>
                <key>textureRect</key>
                <string>{{1542,208},{179,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,246}</string>
                <key>spriteSourceSize</key>
                <string>{66,246}</string>
                <key>textureRect</key>
                <string>{{1047,439},{66,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crossthebridge/door_extra.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,246}</string>
                <key>spriteSourceSize</key>
                <string>{66,246}</string>
                <key>textureRect</key>
                <string>{{1542,1},{66,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crossthebridge/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{764,44}</string>
                <key>spriteSourceSize</key>
                <string>{764,44}</string>
                <key>textureRect</key>
                <string>{{1,238},{764,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/grass_extra.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,63}</string>
                <key>spriteSourceSize</key>
                <string>{352,63}</string>
                <key>textureRect</key>
                <string>{{1047,353},{352,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/house.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,383}</string>
                <key>spriteSourceSize</key>
                <string>{224,383}</string>
                <key>textureRect</key>
                <string>{{1,284},{224,383}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crossthebridge/house_Wall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,273}</string>
                <key>spriteSourceSize</key>
                <string>{151,273}</string>
                <key>textureRect</key>
                <string>{{772,352},{151,273}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crossthebridge/house_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,273}</string>
                <key>spriteSourceSize</key>
                <string>{8,273}</string>
                <key>textureRect</key>
                <string>{{1411,69},{8,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/path_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,140}</string>
                <key>spriteSourceSize</key>
                <string>{54,140}</string>
                <key>textureRect</key>
                <string>{{1401,417},{54,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crossthebridge/path_extra.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,19}</string>
                <key>spriteSourceSize</key>
                <string>{327,19}</string>
                <key>textureRect</key>
                <string>{{1047,418},{327,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/path_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,19}</string>
                <key>spriteSourceSize</key>
                <string>{258,19}</string>
                <key>textureRect</key>
                <string>{{1295,473},{258,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/path_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,19}</string>
                <key>spriteSourceSize</key>
                <string>{768,19}</string>
                <key>textureRect</key>
                <string>{{772,1},{768,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/path_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,55}</string>
                <key>spriteSourceSize</key>
                <string>{140,55}</string>
                <key>textureRect</key>
                <string>{{1401,360},{140,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/punch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,81}</string>
                <key>spriteSourceSize</key>
                <string>{126,81}</string>
                <key>textureRect</key>
                <string>{{1543,332},{126,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,10.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{33,24}</string>
                <key>textureRect</key>
                <string>{{767,238},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/star_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,24}</string>
                <key>spriteSourceSize</key>
                <string>{33,24}</string>
                <key>textureRect</key>
                <string>{{1697,265},{33,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crossthebridge/star_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,36}</string>
                <key>spriteSourceSize</key>
                <string>{51,36}</string>
                <key>textureRect</key>
                <string>{{1671,332},{51,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crossthebridge/star_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,52}</string>
                <key>spriteSourceSize</key>
                <string>{71,52}</string>
                <key>textureRect</key>
                <string>{{639,437},{71,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crossthebridge/star_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,74}</string>
                <key>spriteSourceSize</key>
                <string>{85,74}</string>
                <key>textureRect</key>
                <string>{{1709,377},{85,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crossthebridge/water_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,48}</string>
                <key>spriteSourceSize</key>
                <string>{121,48}</string>
                <key>textureRect</key>
                <string>{{1543,415},{121,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/water_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,35}</string>
                <key>spriteSourceSize</key>
                <string>{73,35}</string>
                <key>textureRect</key>
                <string>{{693,437},{73,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/water_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,68}</string>
                <key>spriteSourceSize</key>
                <string>{134,68}</string>
                <key>textureRect</key>
                <string>{{1723,241},{134,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crossthebridge/water_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,65}</string>
                <key>spriteSourceSize</key>
                <string>{153,65}</string>
                <key>textureRect</key>
                <string>{{1542,265},{153,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/water_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,48}</string>
                <key>spriteSourceSize</key>
                <string>{234,48}</string>
                <key>textureRect</key>
                <string>{{1361,116},{234,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crossthebridge/water_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{617,92}</string>
                <key>spriteSourceSize</key>
                <string>{617,92}</string>
                <key>textureRect</key>
                <string>{{772,22},{617,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>crossthebridge.png</string>
            <key>size</key>
            <string>{1792,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:beb26764aa3283a47af340926e4b3083:76cbc003c9f428aa49d1363bfee44e63:e267eb256da7605b9a0d83ea16d5a81c$</string>
            <key>textureFileName</key>
            <string>crossthebridge.png</string>
        </dict>
    </dict>
</plist>
