<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crossthebridge/base_path_extra.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,234}</string>
                <key>spriteSourceSize</key>
                <string>{164,234}</string>
                <key>textureRect</key>
                <string>{{259,1},{164,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/base_path_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,235}</string>
                <key>spriteSourceSize</key>
                <string>{258,235}</string>
                <key>textureRect</key>
                <string>{{141,1157},{258,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/base_path_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{769,235}</string>
                <key>spriteSourceSize</key>
                <string>{769,235}</string>
                <key>textureRect</key>
                <string>{{1,1},{769,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crossthebridge/bottom_path.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,137}</string>
                <key>spriteSourceSize</key>
                <string>{184,137}</string>
                <key>textureRect</key>
                <string>{{259,512},{184,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crossthebridge/bridge_extra.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,223}</string>
                <key>spriteSourceSize</key>
                <string>{251,223}</string>
                <key>textureRect</key>
                <string>{{1,1538},{251,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crossthebridge/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,75}</string>
                <key>spriteSourceSize</key>
                <string>{185,75}</string>
                <key>textureRect</key>
                <string>{{226,1533},{185,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crossthebridge/door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,246}</string>
                <key>spriteSourceSize</key>
                <string>{66,246}</string>
                <key>textureRect</key>
                <string>{{47,1394},{66,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crossthebridge/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{764,44}</string>
                <key>spriteSourceSize</key>
                <string>{764,44}</string>
                <key>textureRect</key>
                <string>{{1,772},{764,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crossthebridge/grass_extra.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,63}</string>
                <key>spriteSourceSize</key>
                <string>{188,63}</string>
                <key>textureRect</key>
                <string>{{303,1533},{188,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crossthebridge/house.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,383}</string>
                <key>spriteSourceSize</key>
                <string>{224,383}</string>
                <key>textureRect</key>
                <string>{{141,772},{224,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/house_Wall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,273}</string>
                <key>spriteSourceSize</key>
                <string>{151,273}</string>
                <key>textureRect</key>
                <string>{{259,237},{151,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/house_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,273}</string>
                <key>spriteSourceSize</key>
                <string>{8,273}</string>
                <key>textureRect</key>
                <string>{{412,237},{8,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/path_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,140}</string>
                <key>spriteSourceSize</key>
                <string>{54,140}</string>
                <key>textureRect</key>
                <string>{{368,1536},{54,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/path_extra.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,19}</string>
                <key>spriteSourceSize</key>
                <string>{164,19}</string>
                <key>textureRect</key>
                <string>{{398,512},{164,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crossthebridge/path_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,19}</string>
                <key>spriteSourceSize</key>
                <string>{258,19}</string>
                <key>textureRect</key>
                <string>{{47,1512},{258,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/path_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,19}</string>
                <key>spriteSourceSize</key>
                <string>{768,19}</string>
                <key>textureRect</key>
                <string>{{238,1},{768,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crossthebridge/path_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,55}</string>
                <key>spriteSourceSize</key>
                <string>{140,55}</string>
                <key>textureRect</key>
                <string>{{368,1394},{140,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crossthebridge/water_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,48}</string>
                <key>spriteSourceSize</key>
                <string>{121,48}</string>
                <key>textureRect</key>
                <string>{{367,768},{121,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crossthebridge/water_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,35}</string>
                <key>spriteSourceSize</key>
                <string>{73,35}</string>
                <key>textureRect</key>
                <string>{{367,891},{73,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crossthebridge/water_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,68}</string>
                <key>spriteSourceSize</key>
                <string>{134,68}</string>
                <key>textureRect</key>
                <string>{{259,698},{134,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/water_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,65}</string>
                <key>spriteSourceSize</key>
                <string>{153,65}</string>
                <key>textureRect</key>
                <string>{{226,1723},{153,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/water_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,48}</string>
                <key>spriteSourceSize</key>
                <string>{234,48}</string>
                <key>textureRect</key>
                <string>{{47,1462},{234,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridge/water_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{617,92}</string>
                <key>spriteSourceSize</key>
                <string>{617,92}</string>
                <key>textureRect</key>
                <string>{{47,772},{617,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>crossthebridge.png</string>
            <key>size</key>
            <string>{424,1790}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c12dd16af97f2125f76f06750390c7e:2f0400ee6a0fe4d0031a67149ea52d84:e267eb256da7605b9a0d83ea16d5a81c$</string>
            <key>textureFileName</key>
            <string>crossthebridge.png</string>
        </dict>
    </dict>
</plist>
