<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zebra_animation/zebra_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,37}</string>
                <key>spriteSourceSize</key>
                <string>{28,37}</string>
                <key>textureRect</key>
                <string>{{97,1},{28,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zebra_animation/zebra_eye_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,10}</string>
                <key>spriteSourceSize</key>
                <string>{21,10}</string>
                <key>textureRect</key>
                <string>{{97,77},{21,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zebra_animation/zebra_eye_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,16}</string>
                <key>spriteSourceSize</key>
                <string>{22,16}</string>
                <key>textureRect</key>
                <string>{{97,59},{22,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zebra_animation/zebra_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,122}</string>
                <key>spriteSourceSize</key>
                <string>{94,122}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zebra_animation/zebra_nostril.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,10}</string>
                <key>spriteSourceSize</key>
                <string>{9,10}</string>
                <key>textureRect</key>
                <string>{{97,89},{9,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zebra_animation/zebra_tongue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,28}</string>
                <key>spriteSourceSize</key>
                <string>{17,28}</string>
                <key>textureRect</key>
                <string>{{97,40},{17,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zebra_animation.png</string>
            <key>size</key>
            <string>{126,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff388fe789a9b1a0b3825538e331c477:f342fcd4f4733761d9d840fc220521c9:c3a7ba090904e66e34d87cc51b9663b7$</string>
            <key>textureFileName</key>
            <string>zebra_animation.png</string>
        </dict>
    </dict>
</plist>
