<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dashisland/answer_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,72}</string>
                <key>spriteSourceSize</key>
                <string>{385,72}</string>
                <key>textureRect</key>
                <string>{{1,75},{385,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,106}</string>
                <key>spriteSourceSize</key>
                <string>{125,106}</string>
                <key>textureRect</key>
                <string>{{1,149},{125,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashisland/big_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,72}</string>
                <key>spriteSourceSize</key>
                <string>{432,72}</string>
                <key>textureRect</key>
                <string>{{1,1},{432,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,105}</string>
                <key>spriteSourceSize</key>
                <string>{211,105}</string>
                <key>textureRect</key>
                <string>{{388,97},{211,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashisland/hint_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,72}</string>
                <key>spriteSourceSize</key>
                <string>{103,72}</string>
                <key>textureRect</key>
                <string>{{187,267},{103,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/otterenemy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{94,45}</string>
                <key>spriteSourceSize</key>
                <string>{94,53}</string>
                <key>textureRect</key>
                <string>{{292,227},{94,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/otterenemy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{88,53}</string>
                <key>spriteSourceSize</key>
                <string>{94,53}</string>
                <key>textureRect</key>
                <string>{{97,276},{88,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/otterenemy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,53}</string>
                <key>spriteSourceSize</key>
                <string>{94,53}</string>
                <key>textureRect</key>
                <string>{{435,1},{94,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashisland/otterhero1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{94,45}</string>
                <key>spriteSourceSize</key>
                <string>{94,53}</string>
                <key>textureRect</key>
                <string>{{292,274},{94,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/otterhero2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{88,53}</string>
                <key>spriteSourceSize</key>
                <string>{94,53}</string>
                <key>textureRect</key>
                <string>{{223,149},{88,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashisland/otterhero3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,53}</string>
                <key>spriteSourceSize</key>
                <string>{94,53}</string>
                <key>textureRect</key>
                <string>{{1,276},{94,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/step.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{76,89}</string>
                <key>spriteSourceSize</key>
                <string>{76,91}</string>
                <key>textureRect</key>
                <string>{{292,149},{76,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashisland/step_winning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,116}</string>
                <key>spriteSourceSize</key>
                <string>{112,116}</string>
                <key>textureRect</key>
                <string>{{109,149},{112,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dashisland.png</string>
            <key>size</key>
            <string>{494,340}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb6d65ee9f5e3437cde8bfe9ed55b5b7:6f08dae56f9f9aa0e53a8a78defa1f42:675b437d44d34ce9baecb36232a17695$</string>
            <key>textureFileName</key>
            <string>dashisland.png</string>
        </dict>
    </dict>
</plist>
