<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dashisland/answer_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,57}</string>
                <key>spriteSourceSize</key>
                <string>{281,57}</string>
                <key>textureRect</key>
                <string>{{214,60},{281,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,106}</string>
                <key>spriteSourceSize</key>
                <string>{125,106}</string>
                <key>textureRect</key>
                <string>{{995,1},{125,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashisland/big_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,57}</string>
                <key>spriteSourceSize</key>
                <string>{336,57}</string>
                <key>textureRect</key>
                <string>{{214,1},{336,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/burst1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{15,17}</string>
                <key>spriteSourceSize</key>
                <string>{35,37}</string>
                <key>textureRect</key>
                <string>{{1,108},{15,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/burst2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{35,37}</string>
                <key>textureRect</key>
                <string>{{941,103},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/burst3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{35,37}</string>
                <key>textureRect</key>
                <string>{{941,72},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/burst4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,37}</string>
                <key>spriteSourceSize</key>
                <string>{35,37}</string>
                <key>textureRect</key>
                <string>{{941,33},{35,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,105}</string>
                <key>spriteSourceSize</key>
                <string>{211,105}</string>
                <key>textureRect</key>
                <string>{{1,1},{211,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/flag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,63}</string>
                <key>spriteSourceSize</key>
                <string>{30,63}</string>
                <key>textureRect</key>
                <string>{{930,1},{30,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashisland/hint_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,57}</string>
                <key>spriteSourceSize</key>
                <string>{72,57}</string>
                <key>textureRect</key>
                <string>{{882,48},{72,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashisland/otterenemy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{94,45}</string>
                <key>spriteSourceSize</key>
                <string>{94,53}</string>
                <key>textureRect</key>
                <string>{{738,1},{94,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/otterenemy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{88,53}</string>
                <key>spriteSourceSize</key>
                <string>{94,53}</string>
                <key>textureRect</key>
                <string>{{648,1},{88,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/otterenemy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,53}</string>
                <key>spriteSourceSize</key>
                <string>{94,53}</string>
                <key>textureRect</key>
                <string>{{552,1},{94,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/otterhero1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{94,45}</string>
                <key>spriteSourceSize</key>
                <string>{94,53}</string>
                <key>textureRect</key>
                <string>{{834,1},{94,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/otterhero2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{88,53}</string>
                <key>spriteSourceSize</key>
                <string>{94,53}</string>
                <key>textureRect</key>
                <string>{{701,56},{88,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/otterhero3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,53}</string>
                <key>spriteSourceSize</key>
                <string>{94,53}</string>
                <key>textureRect</key>
                <string>{{605,56},{94,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/step.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{76,89}</string>
                <key>spriteSourceSize</key>
                <string>{76,91}</string>
                <key>textureRect</key>
                <string>{{791,48},{76,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashisland/step_winning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,57}</string>
                <key>spriteSourceSize</key>
                <string>{106,57}</string>
                <key>textureRect</key>
                <string>{{497,60},{106,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dashisland.png</string>
            <key>size</key>
            <string>{1102,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e3dcd65150e8e611213f71854bbf5b4:83a79368fc06945a08f61dae2b0260be:675b437d44d34ce9baecb36232a17695$</string>
            <key>textureFileName</key>
            <string>dashisland.png</string>
        </dict>
    </dict>
</plist>
