<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>template/background_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2562,1802}</string>
                <key>spriteSourceSize</key>
                <string>{2562,1802}</string>
                <key>textureRect</key>
                <string>{{1,1},{2562,1802}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>template/hint_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1173,459}</string>
                <key>spriteSourceSize</key>
                <string>{1179,465}</string>
                <key>textureRect</key>
                <string>{{1805,1},{1173,459}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>template/hint_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1173,459}</string>
                <key>spriteSourceSize</key>
                <string>{1179,465}</string>
                <key>textureRect</key>
                <string>{{2458,462},{1173,459}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>template/hint_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1173,459}</string>
                <key>spriteSourceSize</key>
                <string>{1179,465}</string>
                <key>textureRect</key>
                <string>{{2458,1637},{1173,459}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>template/que_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2400,651}</string>
                <key>spriteSourceSize</key>
                <string>{2406,657}</string>
                <key>textureRect</key>
                <string>{{1805,462},{2400,651}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>template.png</string>
            <key>size</key>
            <string>{2979,2863}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4242e4a7af70d0b9aa0873a05456aea6:97f8136c45eb5834853bcc7f97476c6b:17517f7c2bf80e0af3cdd4c7637fa865$</string>
            <key>textureFileName</key>
            <string>template.png</string>
        </dict>
    </dict>
</plist>
