<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>template/background_image1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3498,675}</string>
                <key>spriteSourceSize</key>
                <string>{3500,675}</string>
                <key>textureRect</key>
                <string>{{1,1},{3498,675}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>template/bbutton_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1786,417}</string>
                <key>spriteSourceSize</key>
                <string>{1792,423}</string>
                <key>textureRect</key>
                <string>{{2721,1},{1786,417}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>template/bbutton_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1786,417}</string>
                <key>spriteSourceSize</key>
                <string>{1792,423}</string>
                <key>textureRect</key>
                <string>{{1331,1447},{1786,417}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>template/bbutton_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1786,417}</string>
                <key>spriteSourceSize</key>
                <string>{1792,423}</string>
                <key>textureRect</key>
                <string>{{1750,1447},{1786,417}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>template/book.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{360,413}</string>
                <key>spriteSourceSize</key>
                <string>{362,415}</string>
                <key>textureRect</key>
                <string>{{1,3501},{360,413}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>template/book_inside.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,48}</string>
                <key>spriteSourceSize</key>
                <string>{362,50}</string>
                <key>textureRect</key>
                <string>{{416,3501},{354,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>template/bubble_tem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2041,1444}</string>
                <key>spriteSourceSize</key>
                <string>{2043,1446}</string>
                <key>textureRect</key>
                <string>{{678,1},{2041,1444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>template/hint_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1173,459}</string>
                <key>spriteSourceSize</key>
                <string>{1179,465}</string>
                <key>textureRect</key>
                <string>{{2169,1447},{1173,459}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>template/hint_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1173,459}</string>
                <key>spriteSourceSize</key>
                <string>{1179,465}</string>
                <key>textureRect</key>
                <string>{{1331,3235},{1173,459}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>template/hint_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1173,459}</string>
                <key>spriteSourceSize</key>
                <string>{1179,465}</string>
                <key>textureRect</key>
                <string>{{2630,1789},{1173,459}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>template/que_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2400,651}</string>
                <key>spriteSourceSize</key>
                <string>{2406,657}</string>
                <key>textureRect</key>
                <string>{{678,1447},{2400,651}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>template/sbutton_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,417}</string>
                <key>spriteSourceSize</key>
                <string>{423,423}</string>
                <key>textureRect</key>
                <string>{{2169,2622},{417,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>template/sbutton_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,417}</string>
                <key>spriteSourceSize</key>
                <string>{423,423}</string>
                <key>textureRect</key>
                <string>{{2588,2964},{417,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>template/sbutton_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,417}</string>
                <key>spriteSourceSize</key>
                <string>{423,423}</string>
                <key>textureRect</key>
                <string>{{2506,3383},{417,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>template.png</string>
            <key>size</key>
            <string>{3139,3862}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3353f5f4385a0e06045d1587a652138:2af8d5d0afa35692989f9c3a428fefc1:17517f7c2bf80e0af3cdd4c7637fa865$</string>
            <key>textureFileName</key>
            <string>template.png</string>
        </dict>
    </dict>
</plist>
