<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>template/background_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2562,1802}</string>
                <key>spriteSourceSize</key>
                <string>{2562,1802}</string>
                <key>textureRect</key>
                <string>{{1,1},{2562,1802}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>template/bbutton_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1786,417}</string>
                <key>spriteSourceSize</key>
                <string>{1792,423}</string>
                <key>textureRect</key>
                <string>{{1,2458},{1786,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>template/bbutton_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1786,417}</string>
                <key>spriteSourceSize</key>
                <string>{1792,423}</string>
                <key>textureRect</key>
                <string>{{1,2877},{1786,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>template/bbutton_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1786,417}</string>
                <key>spriteSourceSize</key>
                <string>{1792,423}</string>
                <key>textureRect</key>
                <string>{{1,3296},{1786,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>template/hint_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1173,459}</string>
                <key>spriteSourceSize</key>
                <string>{1179,465}</string>
                <key>textureRect</key>
                <string>{{2565,1},{1173,459}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>template/hint_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1173,459}</string>
                <key>spriteSourceSize</key>
                <string>{1179,465}</string>
                <key>textureRect</key>
                <string>{{2565,1176},{1173,459}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>template/hint_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1173,459}</string>
                <key>spriteSourceSize</key>
                <string>{1179,465}</string>
                <key>textureRect</key>
                <string>{{2403,2351},{1173,459}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>template/que_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2400,651}</string>
                <key>spriteSourceSize</key>
                <string>{2406,657}</string>
                <key>textureRect</key>
                <string>{{1,1805},{2400,651}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>template/sbutton_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,417}</string>
                <key>spriteSourceSize</key>
                <string>{423,423}</string>
                <key>textureRect</key>
                <string>{{1789,2458},{417,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>template/sbutton_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,417}</string>
                <key>spriteSourceSize</key>
                <string>{423,423}</string>
                <key>textureRect</key>
                <string>{{1789,2877},{417,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>template/sbutton_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,417}</string>
                <key>spriteSourceSize</key>
                <string>{423,423}</string>
                <key>textureRect</key>
                <string>{{1789,3296},{417,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>template.png</string>
            <key>size</key>
            <string>{3025,3714}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50af63065d8f81804e53f32a9d471f02:99a191acc59ca93fe414726440f72700:17517f7c2bf80e0af3cdd4c7637fa865$</string>
            <key>textureFileName</key>
            <string>template.png</string>
        </dict>
    </dict>
</plist>
