<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>basiclettercase/cone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,117}</string>
                <key>spriteSourceSize</key>
                <string>{89,117}</string>
                <key>textureRect</key>
                <string>{{1,1},{89,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basiclettercase/icecream.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,82}</string>
                <key>spriteSourceSize</key>
                <string>{109,82}</string>
                <key>textureRect</key>
                <string>{{92,1},{109,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>basiclettercase/icecreamshade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,42}</string>
                <key>spriteSourceSize</key>
                <string>{94,42}</string>
                <key>textureRect</key>
                <string>{{272,1},{94,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>basiclettercase/roof.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,96}</string>
                <key>spriteSourceSize</key>
                <string>{94,96}</string>
                <key>textureRect</key>
                <string>{{176,1},{94,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>basiclettercase.png</string>
            <key>size</key>
            <string>{315,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef248003c84f6c4c26d0d20abce0388a:11bb07659ee800e005df4c58cdf603cd:7c5513dbdb4f7807108f851891763af5$</string>
            <key>textureFileName</key>
            <string>basiclettercase.png</string>
        </dict>
    </dict>
</plist>
