<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{643,234},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bamboo_trees.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,505}</string>
                <key>spriteSourceSize</key>
                <string>{167,505}</string>
                <key>textureRect</key>
                <string>{{1,686},{167,505}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,450}</string>
                <key>spriteSourceSize</key>
                <string>{640,450}</string>
                <key>textureRect</key>
                <string>{{1,234},{640,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{724,234},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,98}</string>
                <key>spriteSourceSize</key>
                <string>{750,98}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{743,131}</string>
                <key>spriteSourceSize</key>
                <string>{743,131}</string>
                <key>textureRect</key>
                <string>{{1,101},{743,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Alphacombat.png</string>
            <key>size</key>
            <string>{752,854}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a8eb08bb89481e403e238888d161f76:5d1a6ae368f67dd6270be950a93786a6:b8424dbc0d3b26146d2aabf2cda2ffe5$</string>
            <key>textureFileName</key>
            <string>Alphacombat.png</string>
        </dict>
    </dict>
</plist>
