<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Gift0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-13}</string>
                <key>spriteSize</key>
                <string>{91,87}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{477,355},{91,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-13}</string>
                <key>spriteSize</key>
                <string>{91,87}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{566,355},{91,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-13}</string>
                <key>spriteSize</key>
                <string>{91,87}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{539,177},{91,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-13}</string>
                <key>spriteSize</key>
                <string>{91,87}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{655,355},{91,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-14}</string>
                <key>spriteSize</key>
                <string>{91,85}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{643,84},{91,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-14}</string>
                <key>spriteSize</key>
                <string>{91,85}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{717,177},{91,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-14}</string>
                <key>spriteSize</key>
                <string>{91,85}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{833,355},{91,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-15}</string>
                <key>spriteSize</key>
                <string>{91,83}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{599,270},{91,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-15}</string>
                <key>spriteSize</key>
                <string>{91,81}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{469,1},{91,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-16}</string>
                <key>spriteSize</key>
                <string>{91,79}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{748,1},{91,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-16}</string>
                <key>spriteSize</key>
                <string>{91,79}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{841,1},{91,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-16}</string>
                <key>spriteSize</key>
                <string>{91,79}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{748,1},{91,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-15}</string>
                <key>spriteSize</key>
                <string>{91,81}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{469,1},{91,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-15}</string>
                <key>spriteSize</key>
                <string>{91,83}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{599,270},{91,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-14}</string>
                <key>spriteSize</key>
                <string>{91,85}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{833,355},{91,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-14}</string>
                <key>spriteSize</key>
                <string>{91,85}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{717,177},{91,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-14}</string>
                <key>spriteSize</key>
                <string>{91,85}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{643,84},{91,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-13}</string>
                <key>spriteSize</key>
                <string>{91,87}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{655,355},{91,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-13}</string>
                <key>spriteSize</key>
                <string>{91,87}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{539,177},{91,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-13}</string>
                <key>spriteSize</key>
                <string>{91,87}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{566,355},{91,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-13}</string>
                <key>spriteSize</key>
                <string>{91,87}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{477,355},{91,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-13}</string>
                <key>spriteSize</key>
                <string>{91,87}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{554,84},{91,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-13}</string>
                <key>spriteSize</key>
                <string>{91,87}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{628,177},{91,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-13}</string>
                <key>spriteSize</key>
                <string>{91,87}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{744,355},{91,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-14}</string>
                <key>spriteSize</key>
                <string>{91,85}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{730,84},{91,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-14}</string>
                <key>spriteSize</key>
                <string>{91,85}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{804,177},{91,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-14}</string>
                <key>spriteSize</key>
                <string>{91,85}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{817,82},{91,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-15}</string>
                <key>spriteSize</key>
                <string>{91,83}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{692,270},{91,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-15}</string>
                <key>spriteSize</key>
                <string>{91,81}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{562,1},{91,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-16}</string>
                <key>spriteSize</key>
                <string>{91,79}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{904,82},{91,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-16}</string>
                <key>spriteSize</key>
                <string>{93,79}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{504,274},{93,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-16}</string>
                <key>spriteSize</key>
                <string>{91,81}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{655,1},{91,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-15}</string>
                <key>spriteSize</key>
                <string>{91,83}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{785,270},{91,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-15}</string>
                <key>spriteSize</key>
                <string>{91,83}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{878,270},{91,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-14}</string>
                <key>spriteSize</key>
                <string>{91,85}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{891,175},{91,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-11}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{461,84},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-11}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{384,355},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-6}</string>
                <key>spriteSize</key>
                <string>{91,101}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{353,177},{91,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-9}</string>
                <key>spriteSize</key>
                <string>{91,95}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{446,177},{91,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{89,111}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{235,1},{89,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{89,111}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{262,179},{89,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{99,115}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{1,116},{99,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{111,113}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{1,1},{111,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-10}</string>
                <key>spriteSize</key>
                <string>{117,93}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{102,116},{117,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-15}</string>
                <key>spriteSize</key>
                <string>{117,83}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{342,92},{117,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-12}</string>
                <key>spriteSize</key>
                <string>{119,89}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{114,1},{119,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-16}</string>
                <key>spriteSize</key>
                <string>{127,81}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{1,370},{127,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-15}</string>
                <key>spriteSize</key>
                <string>{133,83}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{86,233},{133,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-15}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{130,368},{131,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-15}</string>
                <key>spriteSize</key>
                <string>{135,83}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{1,233},{135,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-16}</string>
                <key>spriteSize</key>
                <string>{119,81}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{348,1},{119,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-14}</string>
                <key>spriteSize</key>
                <string>{119,85}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{221,92},{119,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-12}</string>
                <key>spriteSize</key>
                <string>{119,89}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{171,211},{119,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-20}</string>
                <key>spriteSize</key>
                <string>{119,73}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{262,292},{119,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-20}</string>
                <key>spriteSize</key>
                <string>{119,73}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{263,367},{119,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-20}</string>
                <key>spriteSize</key>
                <string>{119,73}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{383,280},{119,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-20}</string>
                <key>spriteSize</key>
                <string>{119,73}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{383,280},{119,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-20}</string>
                <key>spriteSize</key>
                <string>{119,73}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{383,280},{119,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-20}</string>
                <key>spriteSize</key>
                <string>{119,73}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{383,280},{119,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-20}</string>
                <key>spriteSize</key>
                <string>{119,73}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{383,280},{119,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gift.png</string>
            <key>size</key>
            <string>{984,452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6150e991f1e403e75bbe4e5a485cfcc6:544adb180bb00bad4cbb7319f35b78c8:fc5031df12f9c0ace40e949b1e8ebcf7$</string>
            <key>textureFileName</key>
            <string>gift.png</string>
        </dict>
    </dict>
</plist>
