<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>unit/cal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,123}</string>
                <key>spriteSourceSize</key>
                <string>{79,123}</string>
                <key>textureRect</key>
                <string>{{2351,827},{79,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unit/click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,101}</string>
                <key>spriteSourceSize</key>
                <string>{218,101}</string>
                <key>textureRect</key>
                <string>{{2154,1053},{218,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>unit/pizza-08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1074,677}</string>
                <key>spriteSourceSize</key>
                <string>{1074,677}</string>
                <key>textureRect</key>
                <string>{{1,643},{1074,677}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unit/pizza-09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1074,42}</string>
                <key>spriteSourceSize</key>
                <string>{1074,42}</string>
                <key>textureRect</key>
                <string>{{1077,1278},{1074,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unit/pizza-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1075,633}</string>
                <key>spriteSourceSize</key>
                <string>{1075,633}</string>
                <key>textureRect</key>
                <string>{{1077,643},{1075,633}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unit/pizza-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,182}</string>
                <key>spriteSourceSize</key>
                <string>{152,182}</string>
                <key>textureRect</key>
                <string>{{2351,643},{152,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unit/pizza-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,261}</string>
                <key>spriteSourceSize</key>
                <string>{104,261}</string>
                <key>textureRect</key>
                <string>{{2257,1053},{104,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unit/pizza.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,195}</string>
                <key>spriteSourceSize</key>
                <string>{408,195}</string>
                <key>textureRect</key>
                <string>{{2154,643},{408,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>unit/pizzatoppings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,23}</string>
                <key>spriteSourceSize</key>
                <string>{50,23}</string>
                <key>textureRect</key>
                <string>{{2153,1278},{50,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unit/roll.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3073,640}</string>
                <key>spriteSourceSize</key>
                <string>{3073,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{3073,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>unit.png</string>
            <key>size</key>
            <string>{3075,1321}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a2d3b3841a83e102609371534b1d881:4f7a0dd643c32973d927fcb84d243118:44bea75d342b5ab0391c3272aae7cff9$</string>
            <key>textureFileName</key>
            <string>unit.png</string>
        </dict>
    </dict>
</plist>
