<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Teksi_ya_Nanu_Nanu_s_taxi/Teksi_ya_Nanu_Nanu_s_taxia/stall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,281}</string>
                <key>spriteSourceSize</key>
                <string>{434,281}</string>
                <key>textureRect</key>
                <string>{{335,1},{434,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Teksi_ya_Nanu_Nanu_s_taxi/Teksi_ya_Nanu_Nanu_s_taxia/stallhat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,215}</string>
                <key>spriteSourceSize</key>
                <string>{332,215}</string>
                <key>textureRect</key>
                <string>{{1,1},{332,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Teksi_ya_Nanu_Nanu_s_taxi/Teksi_ya_Nanu_Nanu_s_taxia/stallshirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{719,303}</string>
                <key>spriteSourceSize</key>
                <string>{719,313}</string>
                <key>textureRect</key>
                <string>{{1,284},{719,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Teksi_ya_Nanu_Nanu_s_taxia.png</string>
            <key>size</key>
            <string>{770,588}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4665830baac449435996b5b8da0cbae:a81c2f6e84a7483e969ce8c82c6805d6:79f18309cc81830e8a976a9dc2af3b47$</string>
            <key>textureFileName</key>
            <string>Teksi_ya_Nanu_Nanu_s_taxia.png</string>
        </dict>
    </dict>
</plist>
