<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>city/city1/bench.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,118}</string>
                <key>spriteSourceSize</key>
                <string>{236,118}</string>
                <key>textureRect</key>
                <string>{{869,86},{236,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city1/bencha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,118}</string>
                <key>spriteSourceSize</key>
                <string>{236,118}</string>
                <key>textureRect</key>
                <string>{{869,324},{236,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city1/dustbin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,140}</string>
                <key>spriteSourceSize</key>
                <string>{83,140}</string>
                <key>textureRect</key>
                <string>{{869,1},{83,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city1/firestation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1347,504}</string>
                <key>spriteSourceSize</key>
                <string>{1347,504}</string>
                <key>textureRect</key>
                <string>{{1,2187},{1347,504}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city1/firestationdoor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{443,304}</string>
                <key>spriteSourceSize</key>
                <string>{443,304}</string>
                <key>textureRect</key>
                <string>{{607,1896},{443,304}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city1/firestationup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,604}</string>
                <key>spriteSourceSize</key>
                <string>{364,604}</string>
                <key>textureRect</key>
                <string>{{1,1821},{364,604}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city1/floorgrass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,61}</string>
                <key>spriteSourceSize</key>
                <string>{313,61}</string>
                <key>textureRect</key>
                <string>{{955,1351},{313,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city1/floorstone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,65}</string>
                <key>spriteSourceSize</key>
                <string>{313,65}</string>
                <key>textureRect</key>
                <string>{{955,1036},{313,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city1/flower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,172}</string>
                <key>spriteSourceSize</key>
                <string>{101,172}</string>
                <key>textureRect</key>
                <string>{{869,562},{101,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city1/petrolpump.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{758,472}</string>
                <key>spriteSourceSize</key>
                <string>{758,472}</string>
                <key>textureRect</key>
                <string>{{1,1347},{758,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city1/postoffice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{856,504}</string>
                <key>spriteSourceSize</key>
                <string>{856,504}</string>
                <key>textureRect</key>
                <string>{{1,841},{856,504}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city1/postofficedoor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,267}</string>
                <key>spriteSourceSize</key>
                <string>{188,267}</string>
                <key>textureRect</key>
                <string>{{761,1358},{188,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city1/restaurant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{838,866}</string>
                <key>spriteSourceSize</key>
                <string>{838,866}</string>
                <key>textureRect</key>
                <string>{{1,1},{838,866}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city1/restaurantdoor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,262}</string>
                <key>spriteSourceSize</key>
                <string>{99,262}</string>
                <key>textureRect</key>
                <string>{{869,736},{99,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city1/restaurantside.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{483,1065}</string>
                <key>spriteSourceSize</key>
                <string>{483,1065}</string>
                <key>textureRect</key>
                <string>{{507,2341},{483,1065}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city1/roadlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,277}</string>
                <key>spriteSourceSize</key>
                <string>{94,277}</string>
                <key>textureRect</key>
                <string>{{859,1000},{94,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city1/roadlighta.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,281}</string>
                <key>spriteSourceSize</key>
                <string>{56,281}</string>
                <key>textureRect</key>
                <string>{{924,1666},{56,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city1/roadlightb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,267}</string>
                <key>spriteSourceSize</key>
                <string>{75,267}</string>
                <key>textureRect</key>
                <string>{{847,1627},{75,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city1/roadlightc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,267}</string>
                <key>spriteSourceSize</key>
                <string>{84,267}</string>
                <key>textureRect</key>
                <string>{{761,1627},{84,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city1/roadlightd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,211}</string>
                <key>spriteSourceSize</key>
                <string>{48,211}</string>
                <key>textureRect</key>
                <string>{{972,562},{48,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city1/trafficlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,259}</string>
                <key>spriteSourceSize</key>
                <string>{53,259}</string>
                <key>textureRect</key>
                <string>{{970,775},{53,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city1/vlc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,94}</string>
                <key>spriteSourceSize</key>
                <string>{77,94}</string>
                <key>textureRect</key>
                <string>{{859,1279},{77,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>city1.png</string>
            <key>size</key>
            <string>{1024,3535}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69b58ff2fcf6ee682f5832c540a5920c:ec2ae93b26d3f97a474a57aadd30d175:018f4d5a67f0bf474f75939991adac59$</string>
            <key>textureFileName</key>
            <string>city1.png</string>
        </dict>
    </dict>
</plist>
