<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>unitslevel/City-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,252}</string>
                <key>spriteSourceSize</key>
                <string>{428,252}</string>
                <key>textureRect</key>
                <string>{{677,249},{428,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unitslevel/City-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,500}</string>
                <key>spriteSourceSize</key>
                <string>{674,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{674,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unitslevel/car-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{465,246}</string>
                <key>spriteSourceSize</key>
                <string>{465,246}</string>
                <key>textureRect</key>
                <string>{{677,1},{465,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unitslevel/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,26}</string>
                <key>spriteSourceSize</key>
                <string>{85,26}</string>
                <key>textureRect</key>
                <string>{{1107,249},{85,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>unitslevel/cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,15}</string>
                <key>spriteSourceSize</key>
                <string>{44,15}</string>
                <key>textureRect</key>
                <string>{{1107,336},{44,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>unitslevel.png</string>
            <key>size</key>
            <string>{1143,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:922d59ae00d51a889c2e4ff0734e944c:c252f2c31357e7b16d74d4e981b7cc46:f083fbb660b861243df1b73f018d7540$</string>
            <key>textureFileName</key>
            <string>unitslevel.png</string>
        </dict>
    </dict>
</plist>
