<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/buffalo_body.png</key>
			<dict>
				<key>frame</key>
				<string>{{1630,2366},{670,471}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{670,471}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/buffalo_eye.png</key>
			<dict>
				<key>frame</key>
				<string>{{2023,277},{128,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,129}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/buffalo_face.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1147,1201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1147,1201}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/buffalo_lower_left_leg_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1630,3036},{84,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,166}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/buffalo_lower_right_leg_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1796,3036},{84,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,166}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/buffalo_tail.png</key>
			<dict>
				<key>frame</key>
				<string>{{1483,4029},{64,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,214}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/buffalo_upper_left_leg_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1147,1080},{70,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,163}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/buffalo_upper_right_leg_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1310,1080},{70,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,163}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/deer_body.png</key>
			<dict>
				<key>frame</key>
				<string>{{1147,0},{642,461}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{642,461}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/deer_eye.png</key>
			<dict>
				<key>frame</key>
				<string>{{2023,406},{78,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,79}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/deer_face.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2417},{1065,1045}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1065,1045}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/deer_lower_left_leg_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,2366},{47,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,149}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/deer_lower_right_leg_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1090,2366},{47,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,149}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/deer_tail.png</key>
			<dict>
				<key>frame</key>
				<string>{{2693,3860},{179,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,207}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/deer_upper_left_leg_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1834,4029},{54,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,136}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/deer_upper_right_leg_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1697,4029},{54,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,137}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/ele1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1147,642},{605,438}}</string>
				<key>offset</key>
				<string>{-19,-208}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{901,901}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/ele2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2190,3422},{691,438}}</string>
				<key>offset</key>
				<string>{21,-207}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{901,901}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/ele3.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,1910},{746,456}}</string>
				<key>offset</key>
				<string>{50,-199}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{901,901}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/ele4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1483,3478},{707,551}}</string>
				<key>offset</key>
				<string>{32,-151}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{901,901}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/ele5.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,1201},{709,637}}</string>
				<key>offset</key>
				<string>{33,-108}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{901,901}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/ele6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1045,2413},{707,585}}</string>
				<key>offset</key>
				<string>{34,-134}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{901,901}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/ele7.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,3482},{711,608}}</string>
				<key>offset</key>
				<string>{32,-123}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{901,901}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/fish1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1578,1150},{815,280}}</string>
				<key>offset</key>
				<string>{-9,-92}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{850,553}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/fish2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2023,0},{791,277}}</string>
				<key>offset</key>
				<string>{-21,-85}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{850,553}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/fish3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1752,579},{809,278}}</string>
				<key>offset</key>
				<string>{-12,-91}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{850,553}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/fish4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1798,857},{791,282}}</string>
				<key>offset</key>
				<string>{-21,-84}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{850,553}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/fish5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1841,3120},{786,302}}</string>
				<key>offset</key>
				<string>{-23,-83}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{850,553}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/fish6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1045,3120},{796,358}}</string>
				<key>offset</key>
				<string>{-18,-42}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{850,553}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/giraffe_body.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3482},{579,772}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{579,772}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/giraffe_body2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1608,0},{579,415}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{579,415}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/giraffe_eye.png</key>
			<dict>
				<key>frame</key>
				<string>{{1970,4029},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/giraffe_head.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1201},{1216,941}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1216,941}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/giraffe_lower_left_leg_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{2872,3999},{85,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,166}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/giraffe_lower_right_leg_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1962,3036},{84,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,166}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/giraffe_neck.png</key>
			<dict>
				<key>frame</key>
				<string>{{2190,3860},{188,503}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,503}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/giraffe_tail.png</key>
			<dict>
				<key>frame</key>
				<string>{{2872,3860},{139,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{139,123}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/giraffe_upper_left_leg_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1636,1080},{70,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,162}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_1/giraffe_upper_right_leg_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1473,1080},{70,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,163}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Kuhesabu_wanyama_Counting_1.png</string>
			<key>realTextureFileName</key>
			<string>Kuhesabu_wanyama_Counting_1.png</string>
			<key>size</key>
			<string>{3038,4093}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>3038</integer>
			<key>height</key>
			<integer>4093</integer>
		</dict>
	</dict>
</plist>