<md-dialog flex="85" aria-label="Text" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit Attributes - CONFIG</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="./assets/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="min-height: 100px; margin: 20px;">
          <h3>Edit<h3>
          <div ng-repeat="item in ctrl.content track by $index">            
            <div layout ng-show="item.eType === 'slider'">
               <div flex="10" layout layout-align="center center">
                  <span class="md-body-1">{{item.name}}</span>
               </div>
               <md-slider flex min="0" max="100" ng-model="item.value" aria-label="volumn" id="volumn-slider" class>
               </md-slider>
            </div>
            <div layout ng-show="item.eType === 'switch'">
               <div flex="10" layout layout-align="center center">
                  <span class="md-body-1">{{item.name}}</span>
               </div>
                <md-switch ng-model="item.value" aria-label="Switch 1">
                </md-switch>
            </div>

          </div>
        </md-dialog-content>
    </form>
</md-dialog>