<md-bottom-sheet class="md-list" layout="column" style="background-color: #e57d47" ng-cloak>
    <div layout="row" layout-align="center center">
        <h2>{{ctrl.parentTheme}}</h2>
    </div>
    <div layout="row">
        <md-virtual-repeat-container
                md-orient-horizontal
                id="horizontalRuler"
                class="horizontal-child-axis">
            <div md-virtual-repeat="child in ctrl.themes"
                 md-on-demand
                 class="horizontal-child-item"
                 ng-style="{'background-image': 'url('+ child.displayThumbNail+')'}"
                 ng-click="childSelected($index, child)">
                <h3>{{child.name}}</h3>

            </div>
        </md-virtual-repeat-container>
    </div>
</md-bottom-sheet>