<div flex layout-fill ng-controller="CreateStoryCtrl" ng-cloak>
      <md-toolbar id="createToolBar" layout="row" ng-class="__layout.screen" layout-align="space-between center">
            <!--The left side-->
            <span>
                  <h2 class="md-toolbar-tools"> Add/Edit Page to Story</h2>
            </span>
            <!--The right side-->
            <span>
                  <md-button aria-label="Add Pages" class="md-fab md-mini" ng-click="addNewPage()">
                        <img src="./assets/images/icons/plus_button.png" style="my-img-button" alt="Add New Page">
                  </md-button>
                  <md-button aria-label="Add Title" class="md-fab md-mini" ng-click="addTitle($event)">
                        <img src="./assets/images/icons/prop_button.png" style="my-img-button" alt="Add Title">
                  </md-button>
                  <md-button aria-label="Library" class="md-fab md-mini" ng-click="goToLibrary($event)">
                        <img src="./assets/images/icons/home_button.png" style="my-img-button" alt="Library">
                  </md-button>

            </span>
      </md-toolbar>
      <md-content flex>
            <div layout="row" class="md-padding" layout-wrap layout-xs="column">
                  <div layout-align="center" flex-xs="auto" flex-sm="50" flex-md="33" ng-repeat="obj in draggableObjects track by $index" ng-drop="true" ng-drop-success="onDropComplete($index, $data,$event)">
                        <md-card class="frame" ng-drag="true" ng-drag-data="obj">
                              <md-card-content>
                                    <img class="md-card-image" alt="{{obj.title}}" ng-src="{{card.backgroundImage || './assets/images/new_blank_page.png'}}">
                              </md-card-content>
                              <!--<md-card-title>
                         <md-card-title-text>                             
                            <span class="md-headline">{{obj.title || 'My Story'}}</span>
                         </md-card-title-text>
                     </md-card-title>-->
                              <md-card-actions layout="row" layout-align="end">
                                    <md-button ng-click="duplicatePage($index, obj);$event.stopPropagation()" aria-label="duplicate" class="md-fab md-mini">
                                          <md-icon md-svg-icon="assets/images/icons/ic_content_copy_white_18px.svg"></md-icon>
                                    </md-button>
                                    <md-button ng-click="editPage($index, obj);$event.stopPropagation()" aria-label="create" class="md-fab md-mini">
                                          <md-icon md-svg-icon="assets/images/icons/ic_create_white_18px.svg"></md-icon>
                                    </md-button>
                                    <md-button ng-click="deletePage($index, obj);$event.stopPropagation()" aria-label="delete" class="md-fab md-mini">
                                          <md-icon md-svg-icon="assets/images/icons/ic_delete_white_18px.svg"></md-icon>
                                    </md-button>
                              </md-card-actions>
                        </md-card>
                  </div>
            </div>
      </md-content>
</div>
