<div flex layout-fill ng-controller="EditPageCtrl" ng-cloak>
      <md-toolbar id="toolbar" class="transparent" layout="row" ng-class="__layout.screen" layout-align="space-between center">
            <span>
                  <h2 class="md-toolbar-tools"> Build Story:{{title}} </h2>
            </span>
            <span flex></span>
            <!--hide and show if select anything else -->
            <div ng-repeat="item in criteria.items | filterToolBar">
                  <md-button aria-label="{{item.name}}" class="md-icon-button" class="ng-style: {{item.disabled}} && {.md-inactive};" ng-disabled="{{item.disabled}}" ng-click="invoke(item, $event)">
                        <md-tooltip md-direction="{{item.direction}}" md-visible="tooltipVisible" md-autohide="false">
                              {{item.name}}
                        </md-tooltip>
                        <img src="{{item.icon}}" style="my-img-button" alt="{{item.name}}">
                  </md-button>
            </div>
      </md-toolbar>
      <md-content flex layout="column" layout-fill class="md-whiteframe-z1" ng-cloak>
            <div flex layout-fill ng-show="showCategory == true">
                  <md-tabs flex layout-fill md-border-bottom md-dynamic-height md-align-tabs="top" md-selected="selectedHeaderCategoryIndex">
                        <md-tab layout-fill ng-repeat="headerCategory in categoryTabs track by $index" md-on-select="onSelectCategoryTab(headerCategory)" md-on-deselect="onDeSelectCategoryTab(headerCategory)">
                              <md-tab-label>
                                    <md-icon md-svg-icon="./assets/images/icons/ic_book_white_18px.svg"></md-icon>
                                    {{headerCategory.name}}
                              </md-tab-label>
                              <md-tab-body layout-fill class="md-padding">
                                    <div layout="row">
                                          <md-virtual-repeat-container layout-fill md-orient-horizontal id="horizontalRuler" class="horizontal-axis">
                                                <div md-virtual-repeat="item in selectedChildThemes" md-on-demand class="horizontal-item">
                                                      <!--ng-click="onSelectCategoryItem(item, headerCategory)">            
               <div style="width: 100%; height: 100%; background-repeat: no-repeat; background-size: 100%;
                  background-position: center;" ng-style="{'background-image': 'url(' + item.displayThumbNail +')'}">                  
               </div> -->

                                                      <div class="img" ng-click="onSelectCategoryItem(item[0], headerCategory)">
                                                            <img src="{{item[0].displayThumbNail}}" alt="">
                                                      </div>

                                                      <div class="img" ng-click="onSelectCategoryItem(item[1], headerCategory)">
                                                            <img src="{{item[1].displayThumbNail}}" alt="">
                                                      </div>

                                                </div>
                                          </md-virtual-repeat-container>
                                    </div>
                              </md-tab-body>
                        </md-tab>
                  </md-tabs>
            </div>
            <div style="height:100%;" ng-show="showTab == true">
                  <md-tabs md-border-bottom md-dynamic-height md-selected="curTabIndex">
                        <md-tab ng-repeat="header in tabs track by $index" md-on-select="onSelectTab(header)" md-on-deselect="onDeSelectTab(header)">
                              <md-tab-label>
                                    {{header.displayName}}
                              </md-tab-label>
                              <md-tab-body class="md-padding">
                                    <md-content class="md-padding">
                                          <md-virtual-repeat-container md-orient-horizontal id="horizontalRuler" class="horizontal-axis">
                                                <div md-virtual-repeat="item in childTabs" md-on-demand class="horizontal-item" ng-click="onSelectItem(item, header)">
                                                      <img src="./assets/images/backgrounds/{{item.image}}" alt="">
                                                      <!--<div style="width: 100%; height: 100%; background-repeat: no-repeat; background-position: center;" ng-style="{'background-image': 'url(' + './assets/images/backgrounds/'
               + item.image +')'}">

                                                      </div>-->
                                                      <div style="width: 100%; height: 70%; margin-top: 20px; text-align: center;">
                                                            <md-button ng-click="openAttributeEditorDialog($event, item, item.editData);$event.stopPropagation();" ng-show="item.editAllowed" class="md-button" aria-label="Edit">
                                                                  <img src="./assets/images/icons/edit_button.png">
                                                            </md-button>
                                                            <span class="md-body-1"></span>
                                                            <md-icon md-svg-src="./assets/images/icons/ic_done_white_18px.svg" aria-label="done" ng-if="curItemIndex === item.itemIndex && curTabIndex === header.tabIndex">
                                                            </md-icon>
                                                            <span class="md-body-1"></span>
                                                            <md-button class="md-button" aria-label="Play">
                                                                  <img src="./assets/images/icons/play_button.png">
                                                            </md-button>
                                                      </div>
                                                </div>
                                          </md-virtual-repeat-container>
                                    </md-content>
                              </md-tab-body>
                        </md-tab>
                  </md-tabs>
            </div>
            <div style="height:100%;" ng-show="showSettings == true" flex layout="row" layout-xs="row">
                  <div flex layout-xs="column" layout="column">
                        <div flex="grow">
                              <div layout="column" flex="10" layout-align="right">
                                    <md-button class="md-icon-button" ng-click="closeEditor()">
                                          <img src="./assets/images/icons/cross_button.png" alt="Close">
                                    </md-button>
                              </div>

                        </div>
                        <div flex="grow" layout-xs="column" layout="row">
                              <div flex-xs="100" flex="40" layout-align="center center">
                                    <md-grid-list md-cols="3" md-cols-md="3" md-cols-sm="3" md-row-height="1:1" md-row-height-sm="1:1" md-gutter="20px" md-gutter-md="15px" md-gutter-sm="15px">
                                          <md-grid-tile md-rowspan="{{item.rowSpan}}" md-colspan="{{item.colSpan}}" ng-repeat="item in spriteAttributes" ng-click="changeAttribute(item, $event, $index)">
                                                <div style="width: 100%; height: 100%; background-size: calc(100%) calc(100%)" ng-style="{'background-image': 'url(' + './assets/images/icons/'
               + item.src +')'}">
                                                </div>
                                          </md-grid-tile>
                                    </md-grid-list>
                              </div>
                              <div flex-xs="100" flex="60" layout-align="center center">
                                    <md-grid-list md-cols="2" md-cols-md="2" md-cols-xs="1" md-row-height="1:1" md-row-height-sm="1:1" md-gutter="20px" md-gutter-md="15px" md-gutter-sm="15px">
                                          <md-grid-tile md-rowspan="{{text.rowSpan}}" md-colspan="{{text.colSpan}}" ng-repeat="text in texts track by $index" ng-click="changeText(text, $event, $index)">
                                                <div style="width: 100%; height: 100%;">
                                                      <div style="background-color:rgb({{text.bgColor.red}},{{text.bgColor.green}},{{text.bgColor.blue}});   color:rgb({{text.tColor.red}},{{text.tColor.green}},{{text.tColor.blue}});" class="inner-text-div">
                                                            {{text.displayText}}
                                                      </div>
                                                </div>
                                          </md-grid-tile>
                                    </md-grid-list>
                              </div>
                        </div>

                  </div>
            </div>
            <div style="height:100%;" ng-show="showTextEditor == true" flex layout="row" layout-xs="column">
                  <div flex-gt-xs="30">
                        <section layout="row" layout-align="center center" layout-wrap>
                              <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
                                    <md-toolbar class="md-theme-indigo">
                                          <h1 class="md-toolbar-tools">Sidenav Left</h1>
                                    </md-toolbar>
                                    <md-content layout-padding>
                                          <md-button ng-click="close()" class="md-primary" hide-gt-md>
                                                Close Sidenav Left
                                          </md-button>
                                          <div layout ng-if="whichColorChanged === 'backGroundColor'">
                                                <div flex="10" layout layout-align="center center">
                                                      <span class="md-body-1">R</span>
                                                </div>
                                                <md-slider flex min="0" max="255" ng-model="bColor.red" aria-label="red" id="red-slider" class>
                                                </md-slider>
                                          </div>
                                          <div layout ng-if="whichColorChanged === 'backGroundColor'">
                                                <div flex="10" layout layout-align="center center">
                                                      <span class="md-body-1">G</span>
                                                </div>
                                                <md-slider flex min="0" max="255" ng-model="bColor.green" aria-label="green" id="green-slider" class>
                                                </md-slider>
                                          </div>
                                          <div layout ng-if="whichColorChanged === 'backGroundColor'">
                                                <div flex="10" layout layout-align="center center">
                                                      <span class="md-body-1">B</span>
                                                </div>
                                                <md-slider flex min="0" max="255" ng-model="bColor.blue" aria-label="blue" id="blue-slider" class>
                                                </md-slider>
                                          </div>
                                          <div layout ng-if="whichColorChanged === 'textColor'">
                                                <div flex="10" layout layout-align="center center">
                                                      <span class="md-body-1">R</span>
                                                </div>
                                                <md-slider flex min="0" max="255" ng-model="tColor.red" aria-label="red" id="red-slider" class>
                                                </md-slider>
                                          </div>
                                          <div layout ng-if="whichColorChanged === 'textColor'">
                                                <div flex="10" layout layout-align="center center">
                                                      <span class="md-body-1">G</span>
                                                </div>
                                                <md-slider flex min="0" max="255" ng-model="tColor.green" aria-label="green" id="green-slider" class>
                                                </md-slider>
                                          </div>
                                          <div layout ng-if="whichColorChanged === 'textColor'">
                                                <div flex="10" layout layout-align="center center">
                                                      <span class="md-body-1">B</span>
                                                </div>
                                                <md-slider flex min="0" max="255" ng-model="tColor.blue" aria-label="blue" id="blue-slider" class>
                                                </md-slider>
                                          </div>
                                    </md-content>
                              </md-sidenav>
                              <md-button aria-label="changeBackGroundColor" ng-click="changeBackGroundColor()">
                                    <md-icon md-svg-src="assets/images/icons/ic_cloud_upload_white_18px.svg"></md-icon>
                              </md-button>
                              <md-button aria-label="changeTextColor" ng-click="changeTextColor()">
                                    <md-icon md-svg-src="assets/images/icons/ic_delete_white_18px.svg"></md-icon>
                              </md-button>
                              <md-button aria-label="changeFont" ng-click="changeTextColor()">
                                    <md-icon md-svg-src="assets/images/icons/ic_mood_white_18px.svg"></md-icon>
                              </md-button>
                        </section>
                  </div>
                  <div flex style="border:1px solid white;margin: 5px; padding:5px">
                        <form flex name="simple" novalidate layout-margin>
                              <md-input-container flex>
                                    <label>Change me</label>
                                    <textarea ng-attr-style="border: 1px solid #333; background-color: rgb({{bColor.red}},{{bColor.green}},{{bColor.blue}});color: rgb({{tColor.red}},{{tColor.green}},{{tColor.blue}});" md-no-autogrow class="md-block" ng-model="spriteText" columns="6" rows="4" md-maxlength="1024" placeholder="">
                                    </textarea>
                              </md-input-container>
                              <md-button class="md-raised md-primary label-align" ng-click="updateSpriteText(spriteText)">
                                    Done
                              </md-button>
                              <md-button class="md-raised md-primary label-align" ng-click="deleteSpriteText(spriteText)">
                                    Delete
                              </md-button>
                        </form>
                  </div>
            </div>
            <div phaser-story ng-hide="hidePhaser === true" flex></div>
      </md-content>
</div>
