<md-bottom-sheet class="md-list" layout="column" style="background-color: #e57d47" ng-cloak>
    <div layout="row" layout-align="center center">
        <h2>Master - Themes</h2>
    </div>
    <div layout="row">
        <md-virtual-repeat-container
                md-orient-horizontal
                id="horizontalRuler"
                class="horizontal-axis">
            <div md-virtual-repeat="item in ctrl.themes"
                 md-on-demand
                 class="horizontal-item"
                 ng-style="{'background-image': 'url('+ item.thumbnail+')'}"
                 ng-click="selectedMasterItem($index, item, $event)">
                <h3>{{item.name}}</h3>
            </div>
        </md-virtual-repeat-container>
    </div>
</md-bottom-sheet>