<div flex layout-fill ng-controller="NarrateStoryCtrl" ng-cloak>
      <md-toolbar class="transparent" layout="row" ng-class="__layout.screen" layout-align="space-between center">
            <span>
                  <h2 class="md-toolbar-tools"> Story: {{title}} </h2>
            </span>
            <span flex></span>
            <!--hide and show if select anything else -->
            <div ng-repeat="item in criteria.items | filterToolBar">
                  <md-button aria-label="{{item.name}}" class="md-icon-button" class="ng-style: {{item.disabled}} && {.md-inactive};" ng-disabled="{{item.disabled}}" ng-click="invoke(item, $event)">
                        <md-tooltip md-direction="{{item.direction}}" md-visible="tooltipVisible" md-autohide="false">
                              {{item.name}}
                        </md-tooltip>
                        <img src="{{item.icon}}" alt="{{item.name}}">
                  </md-button>
            </div>
      </md-toolbar>
      <md-content flex layout="column" layout-fill class="md-whiteframe-z1" ng-cloak>
            <phaser-narrate-story flex></phaser-narrate-story>
      </md-content>
</div>
