<md-dialog flex="85" aria-label="Text" ng-cloak>
      <form>
            <md-toolbar>
                  <div class="md-toolbar-tools">
                        <h2>Text</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="cancel()">
                              <md-icon md-svg-src="./assets/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                        </md-button>
                  </div>
            </md-toolbar>
            <md-dialog-content style="min-height: 100px; margin: 20px;">
                  <!--<span ng-click="speakWord(item)" ng-dblclick="explainWord(item)" ng-repeat="item in ctrl.contentsArr track by $index">
                        {{item}}
                  </span>-->
                  <!--<span pop-over items="['car']" , title="Mode of transport" ng-click="speakWord(item)" ng-dblclick="explainWord(item)" ng-repeat="item in ctrl.contentsArr track by $index">
                        {{item}}
                  </span>-->
                  <span ng-click="speakWord($event, item);" ng-repeat="item in ctrl.contentsArr track by $index">
                        {{item}}
                  </span>
                  <md-button class="md-icon-button" ng-click="speakFullContent()">
                        <img src="./assets/images/icons/sound_button.png" alt="Speak">
                  </md-button>
            </md-dialog-content>
      </form>
</md-dialog>
