<md-dialog aria-label="Mango (Fruit)" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add/Edit Title for Story</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="./assets/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <form name="userForm">
                    <div layout layout-sm="column">
                        <md-input-container flex><label>Title</label>
                            <input ng-model="title" placeholder="Placeholder text">
                        </md-input-container>
                    </div>
                </form>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="answer(title)" style="margin-right:20px;">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>