<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>popcountlevel/blink1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-33}</string>
                <key>spriteSize</key>
                <string>{200,193}</string>
                <key>spriteSourceSize</key>
                <string>{220,263}</string>
                <key>textureRect</key>
                <string>{{306,154},{200,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popcountlevel/bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{451,151}</string>
                <key>spriteSourceSize</key>
                <string>{451,151}</string>
                <key>textureRect</key>
                <string>{{1,1},{451,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcountlevel/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,73}</string>
                <key>spriteSourceSize</key>
                <string>{216,73}</string>
                <key>textureRect</key>
                <string>{{320,356},{216,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popcountlevel/obj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,100}</string>
                <key>spriteSourceSize</key>
                <string>{166,100}</string>
                <key>textureRect</key>
                <string>{{395,356},{166,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popcountlevel/sand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,28}</string>
                <key>spriteSourceSize</key>
                <string>{162,28}</string>
                <key>textureRect</key>
                <string>{{320,574},{162,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcountlevel/umbrella.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,283}</string>
                <key>spriteSourceSize</key>
                <string>{303,283}</string>
                <key>textureRect</key>
                <string>{{1,154},{303,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popcountlevel/wave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,317}</string>
                <key>spriteSourceSize</key>
                <string>{256,317}</string>
                <key>textureRect</key>
                <string>{{1,439},{256,317}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>popcountlevel.png</string>
            <key>size</key>
            <string>{500,696}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9207a6dad1029ebb6f4af9aafdc3714e:d3ea88f1ae8bfc6fe909800970f268a7:ed0647047c6c39fdd5c83770e96ae573$</string>
            <key>textureFileName</key>
            <string>popcountlevel.png</string>
        </dict>
    </dict>
</plist>
