<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grocery/groceryb/cartback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,137}</string>
                <key>spriteSourceSize</key>
                <string>{144,137}</string>
                <key>textureRect</key>
                <string>{{263,396},{144,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grocery/groceryb/cartbacka.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,79}</string>
                <key>spriteSourceSize</key>
                <string>{83,79}</string>
                <key>textureRect</key>
                <string>{{109,787},{83,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>grocery/groceryb/door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,188}</string>
                <key>spriteSourceSize</key>
                <string>{107,188}</string>
                <key>textureRect</key>
                <string>{{230,657},{107,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>grocery/groceryb/doorouter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,194}</string>
                <key>spriteSourceSize</key>
                <string>{120,194}</string>
                <key>textureRect</key>
                <string>{{230,535},{120,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>grocery/groceryb/doorright.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,188}</string>
                <key>spriteSourceSize</key>
                <string>{107,188}</string>
                <key>textureRect</key>
                <string>{{223,766},{107,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>grocery/groceryb/floor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,226}</string>
                <key>spriteSourceSize</key>
                <string>{227,226}</string>
                <key>textureRect</key>
                <string>{{1,520},{227,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grocery/groceryb/fridge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,260}</string>
                <key>spriteSourceSize</key>
                <string>{122,260}</string>
                <key>textureRect</key>
                <string>{{1,396},{122,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>grocery/groceryb/fridgedoor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,197}</string>
                <key>spriteSourceSize</key>
                <string>{106,197}</string>
                <key>textureRect</key>
                <string>{{1,748},{106,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grocery/groceryb/grocerycomp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,77}</string>
                <key>spriteSourceSize</key>
                <string>{90,77}</string>
                <key>textureRect</key>
                <string>{{109,875},{90,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grocery/groceryb/paper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,70}</string>
                <key>spriteSourceSize</key>
                <string>{56,70}</string>
                <key>textureRect</key>
                <string>{{269,875},{56,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grocery/groceryb/stepsa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,393}</string>
                <key>spriteSourceSize</key>
                <string>{424,393}</string>
                <key>textureRect</key>
                <string>{{1,1},{424,393}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grocery/groceryb/watermelon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,74}</string>
                <key>spriteSourceSize</key>
                <string>{66,74}</string>
                <key>textureRect</key>
                <string>{{201,875},{66,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grocery/groceryb/weightmech.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-30}</string>
                <key>spriteSize</key>
                <string>{112,37}</string>
                <key>spriteSourceSize</key>
                <string>{112,97}</string>
                <key>textureRect</key>
                <string>{{109,748},{112,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>groceryb.png</string>
            <key>size</key>
            <string>{426,953}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c12cb93f584b18fd18f10d8e7b219944:f4dfd546fd8250b798d874cd9f8899e0:a25acce6e93d44cc0b911ef3ece3027a$</string>
            <key>textureFileName</key>
            <string>groceryb.png</string>
        </dict>
    </dict>
</plist>
