<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sortit/sortittwo/a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,616}</string>
                <key>spriteSourceSize</key>
                <string>{348,616}</string>
                <key>textureRect</key>
                <string>{{1119,2763},{348,616}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/sortittwo/at.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,617}</string>
                <key>spriteSourceSize</key>
                <string>{348,617}</string>
                <key>textureRect</key>
                <string>{{1679,2169},{348,617}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/sortittwo/b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{458,726}</string>
                <key>spriteSourceSize</key>
                <string>{458,726}</string>
                <key>textureRect</key>
                <string>{{1,2169},{458,726}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/sortittwo/bowl1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{792,276}</string>
                <key>spriteSourceSize</key>
                <string>{792,276}</string>
                <key>textureRect</key>
                <string>{{1767,1},{792,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/sortittwo/bowl1t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{792,276}</string>
                <key>spriteSourceSize</key>
                <string>{792,276}</string>
                <key>textureRect</key>
                <string>{{1767,795},{792,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/sortittwo/bowl2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,254}</string>
                <key>spriteSourceSize</key>
                <string>{578,254}</string>
                <key>textureRect</key>
                <string>{{1767,1589},{578,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/sortittwo/bowl2t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,254}</string>
                <key>spriteSourceSize</key>
                <string>{578,254}</string>
                <key>textureRect</key>
                <string>{{1167,1670},{578,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/sortittwo/bowl3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,217}</string>
                <key>spriteSourceSize</key>
                <string>{494,217}</string>
                <key>textureRect</key>
                <string>{{1,1670},{494,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/sortittwo/bowl3t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,217}</string>
                <key>spriteSourceSize</key>
                <string>{494,217}</string>
                <key>textureRect</key>
                <string>{{220,1670},{494,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/sortittwo/bowl4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,177}</string>
                <key>spriteSourceSize</key>
                <string>{404,177}</string>
                <key>textureRect</key>
                <string>{{1,2897},{404,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/sortittwo/bowl4t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,177}</string>
                <key>spriteSourceSize</key>
                <string>{404,177}</string>
                <key>textureRect</key>
                <string>{{1,3076},{404,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/sortittwo/bowl5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,153}</string>
                <key>spriteSourceSize</key>
                <string>{348,153}</string>
                <key>textureRect</key>
                <string>{{1469,2763},{348,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/sortittwo/bowl5t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,153}</string>
                <key>spriteSourceSize</key>
                <string>{348,153}</string>
                <key>textureRect</key>
                <string>{{1624,2788},{348,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/sortittwo/bt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{458,726}</string>
                <key>spriteSourceSize</key>
                <string>{458,726}</string>
                <key>textureRect</key>
                <string>{{439,1670},{458,726}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/sortittwo/c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,656}</string>
                <key>spriteSourceSize</key>
                <string>{383,656}</string>
                <key>textureRect</key>
                <string>{{1,3255},{383,656}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/sortittwo/ct.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,656}</string>
                <key>spriteSourceSize</key>
                <string>{384,656}</string>
                <key>textureRect</key>
                <string>{{461,2737},{384,656}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/sortittwo/d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,508}</string>
                <key>spriteSourceSize</key>
                <string>{414,508}</string>
                <key>textureRect</key>
                <string>{{1152,2347},{414,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/sortittwo/dt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,510}</string>
                <key>spriteSourceSize</key>
                <string>{419,510}</string>
                <key>textureRect</key>
                <string>{{1167,1926},{419,510}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/sortittwo/e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,688}</string>
                <key>spriteSourceSize</key>
                <string>{301,688}</string>
                <key>textureRect</key>
                <string>{{461,2434},{301,688}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/sortittwo/et.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,689}</string>
                <key>spriteSourceSize</key>
                <string>{302,689}</string>
                <key>textureRect</key>
                <string>{{461,2130},{302,689}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/sortittwo/num1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{220,222}</string>
                <key>spriteSourceSize</key>
                <string>{220,244}</string>
                <key>textureRect</key>
                <string>{{659,3381},{220,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/sortittwo/num1t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{220,222}</string>
                <key>spriteSourceSize</key>
                <string>{220,244}</string>
                <key>textureRect</key>
                <string>{{881,3123},{220,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/sortittwo/num2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{220,222}</string>
                <key>spriteSourceSize</key>
                <string>{220,244}</string>
                <key>textureRect</key>
                <string>{{659,3123},{220,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/sortittwo/num2t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{220,222}</string>
                <key>spriteSourceSize</key>
                <string>{220,244}</string>
                <key>textureRect</key>
                <string>{{881,3345},{220,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/sortittwo/num3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{219,222}</string>
                <key>spriteSourceSize</key>
                <string>{219,244}</string>
                <key>textureRect</key>
                <string>{{1469,3113},{219,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/sortittwo/num3t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{219,222}</string>
                <key>spriteSourceSize</key>
                <string>{219,244}</string>
                <key>textureRect</key>
                <string>{{1549,3337},{219,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/sortittwo/num4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{220,222}</string>
                <key>spriteSourceSize</key>
                <string>{220,244}</string>
                <key>textureRect</key>
                <string>{{1105,3381},{220,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/sortittwo/num4t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{220,222}</string>
                <key>spriteSourceSize</key>
                <string>{220,244}</string>
                <key>textureRect</key>
                <string>{{1327,3381},{220,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/sortittwo/num5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{219,222}</string>
                <key>spriteSourceSize</key>
                <string>{219,244}</string>
                <key>textureRect</key>
                <string>{{1770,2943},{219,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/sortittwo/num5t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{219,222}</string>
                <key>spriteSourceSize</key>
                <string>{219,244}</string>
                <key>textureRect</key>
                <string>{{1770,3164},{219,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/sortittwo/table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1764,1667}</string>
                <key>spriteSourceSize</key>
                <string>{1764,1667}</string>
                <key>textureRect</key>
                <string>{{1,1},{1764,1667}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sortittwo.png</string>
            <key>size</key>
            <string>{2044,3639}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c8e81b0f123ae4ebfc1dc60e4c14973:58afd7086b134a8c7cd7258025551368:87fd9c952c1c56f273d23f4a0af745da$</string>
            <key>textureFileName</key>
            <string>sortittwo.png</string>
        </dict>
    </dict>
</plist>
