<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>owlcity/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,115}</string>
                <key>spriteSourceSize</key>
                <string>{98,115}</string>
                <key>textureRect</key>
                <string>{{909,72},{98,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/body_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,115}</string>
                <key>spriteSourceSize</key>
                <string>{98,115}</string>
                <key>textureRect</key>
                <string>{{776,143},{98,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/closeeye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,26}</string>
                <key>spriteSourceSize</key>
                <string>{31,26}</string>
                <key>textureRect</key>
                <string>{{1026,72},{31,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/closeeye_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,26}</string>
                <key>spriteSourceSize</key>
                <string>{31,26}</string>
                <key>textureRect</key>
                <string>{{190,221},{31,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/dash_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,67}</string>
                <key>spriteSourceSize</key>
                <string>{77,67}</string>
                <key>textureRect</key>
                <string>{{1568,1},{77,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/dash_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,67}</string>
                <key>spriteSourceSize</key>
                <string>{77,67}</string>
                <key>textureRect</key>
                <string>{{1515,72},{77,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/dash_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,67}</string>
                <key>spriteSourceSize</key>
                <string>{77,67}</string>
                <key>textureRect</key>
                <string>{{1501,151},{77,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/downbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,242}</string>
                <key>spriteSourceSize</key>
                <string>{260,242}</string>
                <key>textureRect</key>
                <string>{{1068,1},{260,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/greenbase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{774,96}</string>
                <key>spriteSourceSize</key>
                <string>{774,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{774,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/openeye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,26}</string>
                <key>spriteSourceSize</key>
                <string>{31,26}</string>
                <key>textureRect</key>
                <string>{{1026,100},{31,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/openeye_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,26}</string>
                <key>spriteSourceSize</key>
                <string>{31,26}</string>
                <key>textureRect</key>
                <string>{{1026,128},{31,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/orangebase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{773,96}</string>
                <key>spriteSourceSize</key>
                <string>{773,96}</string>
                <key>textureRect</key>
                <string>{{1,99},{773,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/smallbar_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,66}</string>
                <key>spriteSourceSize</key>
                <string>{77,66}</string>
                <key>textureRect</key>
                <string>{{1584,70},{77,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/smallbar_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,67}</string>
                <key>spriteSourceSize</key>
                <string>{77,67}</string>
                <key>textureRect</key>
                <string>{{984,172},{77,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/smallbar_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,66}</string>
                <key>spriteSourceSize</key>
                <string>{77,66}</string>
                <key>textureRect</key>
                <string>{{1584,149},{77,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/tringle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,64}</string>
                <key>spriteSourceSize</key>
                <string>{169,64}</string>
                <key>textureRect</key>
                <string>{{1330,143},{169,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/wings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,58}</string>
                <key>spriteSourceSize</key>
                <string>{22,58}</string>
                <key>textureRect</key>
                <string>{{190,197},{22,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/wings_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,58}</string>
                <key>spriteSourceSize</key>
                <string>{22,58}</string>
                <key>textureRect</key>
                <string>{{1330,209},{22,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/zebracross1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,15}</string>
                <key>spriteSourceSize</key>
                <string>{63,15}</string>
                <key>textureRect</key>
                <string>{{1330,233},{63,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/zebracross2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,51}</string>
                <key>spriteSourceSize</key>
                <string>{187,51}</string>
                <key>textureRect</key>
                <string>{{1,197},{187,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/zebracross3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,69}</string>
                <key>spriteSourceSize</key>
                <string>{289,69}</string>
                <key>textureRect</key>
                <string>{{777,1},{289,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/zebracross4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,69}</string>
                <key>spriteSourceSize</key>
                <string>{236,69}</string>
                <key>textureRect</key>
                <string>{{1330,1},{236,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/zebracross5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,69}</string>
                <key>spriteSourceSize</key>
                <string>{183,69}</string>
                <key>textureRect</key>
                <string>{{1330,72},{183,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/zebracross6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,69}</string>
                <key>spriteSourceSize</key>
                <string>{130,69}</string>
                <key>textureRect</key>
                <string>{{777,72},{130,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/zebracross7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,69}</string>
                <key>spriteSourceSize</key>
                <string>{89,69}</string>
                <key>textureRect</key>
                <string>{{893,172},{89,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>owlcity.png</string>
            <key>size</key>
            <string>{1651,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36fd576fb7dab92c6fa3e8e82b14f76d:d384d338af51d46d02b36f005bbe8860:a5e1564aa53673af59cb33f47f0bac03$</string>
            <key>textureFileName</key>
            <string>owlcity.png</string>
        </dict>
    </dict>
</plist>
