<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Alpha Kombat/ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,156}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{1520,1},{156,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alpha Kombat/bamboo_trees.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,993}</string>
                <key>spriteSourceSize</key>
                <string>{322,993}</string>
                <key>textureRect</key>
                <string>{{1,1052},{322,993}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Alpha Kombat/clouds.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1517,592}</string>
                <key>spriteSourceSize</key>
                <string>{1517,592}</string>
                <key>textureRect</key>
                <string>{{1,1},{1517,592}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alpha Kombat/dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{1520,159},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alpha Kombat/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1637,191}</string>
                <key>spriteSourceSize</key>
                <string>{1637,191}</string>
                <key>textureRect</key>
                <string>{{1,859},{1637,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Alpha Kombat/ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1749,262}</string>
                <key>spriteSourceSize</key>
                <string>{1749,262}</string>
                <key>textureRect</key>
                <string>{{1,595},{1749,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>-Alphacombat.png</string>
            <key>size</key>
            <string>{1751,1375}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61c8d30b23d04ace8edf205f41a606dd:5b3248f3727882ca2e234478101ee427:5ebfaac80561937e3a35bbd9fc93c7d4$</string>
            <key>textureFileName</key>
            <string>-Alphacombat.png</string>
        </dict>
    </dict>
</plist>
