<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alphagrid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{534,533}</string>
                <key>spriteSourceSize</key>
                <string>{534,533}</string>
                <key>textureRect</key>
                <string>{{775,1},{534,533}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>black_timebar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,52}</string>
                <key>spriteSourceSize</key>
                <string>{503,52}</string>
                <key>textureRect</key>
                <string>{{775,537},{503,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,90}</string>
                <key>spriteSourceSize</key>
                <string>{207,90}</string>
                <key>textureRect</key>
                <string>{{775,643},{207,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,109}</string>
                <key>spriteSourceSize</key>
                <string>{96,109}</string>
                <key>textureRect</key>
                <string>{{867,643},{96,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fort.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{932,772}</string>
                <key>spriteSourceSize</key>
                <string>{932,772}</string>
                <key>textureRect</key>
                <string>{{1,1},{932,772}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>green_timebar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{499,50}</string>
                <key>spriteSourceSize</key>
                <string>{499,60}</string>
                <key>textureRect</key>
                <string>{{775,591},{499,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fort_plist.png</string>
            <key>size</key>
            <string>{1309,934}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e840d7cce8a0f9bfaf085488d9eb058:13863cac2732f48a87bfd22c6ae77e87:a86366906121364c233bf5719a71f892$</string>
            <key>textureFileName</key>
            <string>fort_plist.png</string>
        </dict>
    </dict>
</plist>
