<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fruits/fruit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,25}</string>
                <key>spriteSourceSize</key>
                <string>{23,25}</string>
                <key>textureRect</key>
                <string>{{134,95},{23,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fruits/fruit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,39}</string>
                <key>spriteSourceSize</key>
                <string>{52,39}</string>
                <key>textureRect</key>
                <string>{{76,1},{52,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruits/fruit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,26}</string>
                <key>spriteSourceSize</key>
                <string>{39,26}</string>
                <key>textureRect</key>
                <string>{{130,1},{39,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fruits/fruit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,70}</string>
                <key>spriteSourceSize</key>
                <string>{73,70}</string>
                <key>textureRect</key>
                <string>{{1,1},{73,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruits/fruit_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,39}</string>
                <key>spriteSourceSize</key>
                <string>{73,39}</string>
                <key>textureRect</key>
                <string>{{1,73},{73,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruits/fruit_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,27}</string>
                <key>spriteSourceSize</key>
                <string>{20,27}</string>
                <key>textureRect</key>
                <string>{{76,95},{20,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fruits/fruit_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,51}</string>
                <key>spriteSourceSize</key>
                <string>{36,51}</string>
                <key>textureRect</key>
                <string>{{76,42},{36,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruits/fruit_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,51}</string>
                <key>spriteSourceSize</key>
                <string>{36,51}</string>
                <key>textureRect</key>
                <string>{{114,42},{36,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruits/fruit_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,27}</string>
                <key>spriteSourceSize</key>
                <string>{20,27}</string>
                <key>textureRect</key>
                <string>{{105,95},{20,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fruit.png</string>
            <key>size</key>
            <string>{160,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bea6f92f1760405f8c144a5026cc673:03dcb296e909026f618f6a445a5dd832:e590363f35e6546998539c8e2d07c8e4$</string>
            <key>textureFileName</key>
            <string>fruit.png</string>
        </dict>
    </dict>
</plist>
