<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mwezi_na_Kofia/MbwanaMamba_tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{810,689}</string>
                <key>spriteSourceSize</key>
                <string>{810,689}</string>
                <key>textureRect</key>
                <string>{{2065,1},{810,689}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/arm_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,105}</string>
                <key>spriteSourceSize</key>
                <string>{68,105}</string>
                <key>textureRect</key>
                <string>{{2976,3441},{68,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/arm_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,220}</string>
                <key>spriteSourceSize</key>
                <string>{48,220}</string>
                <key>textureRect</key>
                <string>{{2467,3590},{48,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/arm_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,262}</string>
                <key>spriteSourceSize</key>
                <string>{55,262}</string>
                <key>textureRect</key>
                <string>{{2702,692},{55,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/bed1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1352,616}</string>
                <key>spriteSourceSize</key>
                <string>{1352,616}</string>
                <key>textureRect</key>
                <string>{{1,1047},{1352,616}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/bluecap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{606,258}</string>
                <key>spriteSourceSize</key>
                <string>{606,258}</string>
                <key>textureRect</key>
                <string>{{2877,1},{606,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{590,355}</string>
                <key>spriteSourceSize</key>
                <string>{590,355}</string>
                <key>textureRect</key>
                <string>{{2508,1280},{590,355}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/drop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,48}</string>
                <key>spriteSourceSize</key>
                <string>{72,48}</string>
                <key>textureRect</key>
                <string>{{432,3401},{72,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/face2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{638,549}</string>
                <key>spriteSourceSize</key>
                <string>{638,549}</string>
                <key>textureRect</key>
                <string>{{494,3098},{638,549}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/face4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,586}</string>
                <key>spriteSourceSize</key>
                <string>{635,586}</string>
                <key>textureRect</key>
                <string>{{1239,2169},{635,586}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/face5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,586}</string>
                <key>spriteSourceSize</key>
                <string>{635,586}</string>
                <key>textureRect</key>
                <string>{{2065,692},{635,586}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/face6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,588}</string>
                <key>spriteSourceSize</key>
                <string>{635,588}</string>
                <key>textureRect</key>
                <string>{{1871,1280},{635,588}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/face7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{638,551}</string>
                <key>spriteSourceSize</key>
                <string>{638,551}</string>
                <key>textureRect</key>
                <string>{{1157,2757},{638,551}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/faceold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{638,599}</string>
                <key>spriteSourceSize</key>
                <string>{638,599}</string>
                <key>textureRect</key>
                <string>{{1239,1529},{638,599}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/farmer_shirt_sleave_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,117}</string>
                <key>spriteSourceSize</key>
                <string>{72,117}</string>
                <key>textureRect</key>
                <string>{{2902,3441},{72,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/gface1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{692,618}</string>
                <key>spriteSourceSize</key>
                <string>{692,618}</string>
                <key>textureRect</key>
                <string>{{619,1047},{692,618}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/gface3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{692,618}</string>
                <key>spriteSourceSize</key>
                <string>{692,618}</string>
                <key>textureRect</key>
                <string>{{619,1741},{692,618}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,76}</string>
                <key>textureRect</key>
                <string>{{1987,1063},{50,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,172}</string>
                <key>spriteSourceSize</key>
                <string>{28,172}</string>
                <key>textureRect</key>
                <string>{{1840,1529},{28,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/girl_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,105}</string>
                <key>spriteSourceSize</key>
                <string>{22,105}</string>
                <key>textureRect</key>
                <string>{{2187,2748},{22,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,135}</string>
                <key>spriteSourceSize</key>
                <string>{66,135}</string>
                <key>textureRect</key>
                <string>{{2050,2748},{66,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/girl_sleeve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,26}</string>
                <key>spriteSourceSize</key>
                <string>{68,26}</string>
                <key>textureRect</key>
                <string>{{2882,2339},{68,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,273}</string>
                <key>spriteSourceSize</key>
                <string>{61,273}</string>
                <key>textureRect</key>
                <string>{{1157,2435},{61,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/girl_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,89}</string>
                <key>spriteSourceSize</key>
                <string>{21,89}</string>
                <key>textureRect</key>
                <string>{{1134,3098},{21,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/girlshirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,433}</string>
                <key>spriteSourceSize</key>
                <string>{301,433}</string>
                <key>textureRect</key>
                <string>{{2478,2816},{301,433}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/glass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,235}</string>
                <key>spriteSourceSize</key>
                <string>{508,235}</string>
                <key>textureRect</key>
                <string>{{2882,1752},{508,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/hipsgirl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,319}</string>
                <key>spriteSourceSize</key>
                <string>{482,319}</string>
                <key>textureRect</key>
                <string>{{2781,2803},{482,319}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/jackal1bleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,253}</string>
                <key>spriteSourceSize</key>
                <string>{75,253}</string>
                <key>textureRect</key>
                <string>{{2882,2262},{75,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/jackal1body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{505,251}</string>
                <key>spriteSourceSize</key>
                <string>{505,251}</string>
                <key>textureRect</key>
                <string>{{1797,2757},{505,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/jackal1face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,345}</string>
                <key>spriteSourceSize</key>
                <string>{289,345}</string>
                <key>textureRect</key>
                <string>{{1134,3310},{289,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/jackal1facesleep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,345}</string>
                <key>spriteSourceSize</key>
                <string>{289,345}</string>
                <key>textureRect</key>
                <string>{{1425,3310},{289,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/jackal1fleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,238}</string>
                <key>spriteSourceSize</key>
                <string>{71,238}</string>
                <key>textureRect</key>
                <string>{{1716,3310},{71,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/jackal1neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,162}</string>
                <key>spriteSourceSize</key>
                <string>{171,162}</string>
                <key>textureRect</key>
                <string>{{1871,899},{171,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/jackal1tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1,3401},{214,283}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/lowersleeve1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,86}</string>
                <key>spriteSourceSize</key>
                <string>{54,86}</string>
                <key>textureRect</key>
                <string>{{1179,899},{54,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/lowersleeve2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,86}</string>
                <key>spriteSourceSize</key>
                <string>{54,86}</string>
                <key>textureRect</key>
                <string>{{286,3555},{54,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/moon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{661,661}</string>
                <key>spriteSourceSize</key>
                <string>{661,661}</string>
                <key>textureRect</key>
                <string>{{494,2435},{661,661}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/mooncresent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{446,467}</string>
                <key>spriteSourceSize</key>
                <string>{446,467}</string>
                <key>textureRect</key>
                <string>{{2294,2368},{446,467}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/motu_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,415}</string>
                <key>spriteSourceSize</key>
                <string>{415,415}</string>
                <key>textureRect</key>
                <string>{{2050,3235},{415,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/motu_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,96}</string>
                <key>spriteSourceSize</key>
                <string>{30,96}</string>
                <key>textureRect</key>
                <string>{{494,2401},{30,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/motu_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,147}</string>
                <key>spriteSourceSize</key>
                <string>{36,147}</string>
                <key>textureRect</key>
                <string>{{2702,956},{36,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/motu_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,597}</string>
                <key>spriteSourceSize</key>
                <string>{416,597}</string>
                <key>textureRect</key>
                <string>{{1876,2149},{416,597}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/motu_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,33}</string>
                <key>spriteSourceSize</key>
                <string>{159,33}</string>
                <key>textureRect</key>
                <string>{{1,3617},{159,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/pigeon_beak_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,131}</string>
                <key>spriteSourceSize</key>
                <string>{105,131}</string>
                <key>textureRect</key>
                <string>{{1716,3550},{105,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/pigeon_beak_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,67}</string>
                <key>spriteSourceSize</key>
                <string>{154,67}</string>
                <key>textureRect</key>
                <string>{{1918,1063},{154,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/pigeon_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,0}</string>
                <key>spriteSize</key>
                <string>{998,491}</string>
                <key>spriteSourceSize</key>
                <string>{1032,491}</string>
                <key>textureRect</key>
                <string>{{1,2401},{998,491}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/pigeon_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{2759,855},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/pigeon_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{630,628}</string>
                <key>spriteSourceSize</key>
                <string>{636,628}</string>
                <key>textureRect</key>
                <string>{{1239,899},{630,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/pigeon_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,152}</string>
                <key>spriteSourceSize</key>
                <string>{144,152}</string>
                <key>textureRect</key>
                <string>{{286,3401},{144,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/pigeon_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,152}</string>
                <key>spriteSourceSize</key>
                <string>{144,152}</string>
                <key>textureRect</key>
                <string>{{2902,3287},{144,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/pigeon_right_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{533,255}</string>
                <key>spriteSourceSize</key>
                <string>{533,255}</string>
                <key>textureRect</key>
                <string>{{2865,1217},{533,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/pigeon_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{426,417}</string>
                <key>spriteSourceSize</key>
                <string>{426,417}</string>
                <key>textureRect</key>
                <string>{{2050,2816},{426,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/pigeon_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,277}</string>
                <key>spriteSourceSize</key>
                <string>{538,277}</string>
                <key>textureRect</key>
                <string>{{1840,1870},{538,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/redcap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{606,258}</string>
                <key>spriteSourceSize</key>
                <string>{606,258}</string>
                <key>textureRect</key>
                <string>{{2877,609},{606,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/shirt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,433}</string>
                <key>spriteSourceSize</key>
                <string>{301,433}</string>
                <key>textureRect</key>
                <string>{{2763,2368},{301,433}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/shirt2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,433}</string>
                <key>spriteSourceSize</key>
                <string>{301,433}</string>
                <key>textureRect</key>
                <string>{{2467,3287},{301,433}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/shop1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,494}</string>
                <key>spriteSourceSize</key>
                <string>{500,494}</string>
                <key>textureRect</key>
                <string>{{2380,1872},{500,494}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/shop2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1176,1044}</string>
                <key>spriteSourceSize</key>
                <string>{1176,1044}</string>
                <key>textureRect</key>
                <string>{{1,1},{1176,1044}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{884,896}</string>
                <key>spriteSourceSize</key>
                <string>{884,896}</string>
                <key>textureRect</key>
                <string>{{1179,1},{884,896}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/uppersleeve1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,198}</string>
                <key>spriteSourceSize</key>
                <string>{45,198}</string>
                <key>textureRect</key>
                <string>{{2294,2149},{45,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/uppersleeve2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,198}</string>
                <key>spriteSourceSize</key>
                <string>{45,198}</string>
                <key>textureRect</key>
                <string>{{1871,1063},{45,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/waterdrop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,161}</string>
                <key>spriteSourceSize</key>
                <string>{75,161}</string>
                <key>textureRect</key>
                <string>{{2759,692},{75,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mwezi_na_Kofia.png</string>
            <key>size</key>
            <string>{3136,3656}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:196c8012533ff9b2f5aa44abf0a17f1a:4ac67b7a50f37a0fa1af5572a2f8a145:cb90c6f265e1015bd7b96169541b8ecf$</string>
            <key>textureFileName</key>
            <string>Mwezi_na_Kofia.png</string>
        </dict>
    </dict>
</plist>
