<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>stackisland/fillpipe.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,428},{147,1035}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,1035}</string>
			</dict>
			<key>stackisland/fillpipebar.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,575},{923,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{923,73}</string>
			</dict>
			<key>stackisland/pipeconnector.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,341},{100,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,83}</string>
			</dict>
			<key>stackisland/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,341},{67,95}}</string>
				<key>offset</key>
				<string>{10,-65}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,225}</string>
			</dict>
			<key>stackisland/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,341},{63,94}}</string>
				<key>offset</key>
				<string>{2,-32}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,225}</string>
			</dict>
			<key>stackisland/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1800,464},{94,109}}</string>
				<key>offset</key>
				<string>{6,-20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,225}</string>
			</dict>
			<key>stackisland/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1909,464},{94,105}}</string>
				<key>offset</key>
				<string>{-9,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,225}</string>
			</dict>
			<key>stackisland/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1441,552},{93,122}}</string>
				<key>offset</key>
				<string>{-22,24}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,225}</string>
			</dict>
			<key>stackisland/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1441,428},{124,136}}</string>
				<key>offset</key>
				<string>{-17,44}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,225}</string>
			</dict>
			<key>stackisland/container.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{406,657}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{406,657}</string>
			</dict>
			<key>stackisland/containerbar.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,0},{479,341}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{479,341}</string>
			</dict>
			<key>stackisland/plant.png</key>
			<dict>
				<key>frame</key>
				<string>{{1577,464},{223,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{223,166}</string>
			</dict>
			<key>stackisland/sparkle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1105,341},{81,76}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,76}</string>
			</dict>
			<key>stackisland/sparkle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1329,575},{105,106}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>stackisland/sparkle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,341},{94,82}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,82}</string>
			</dict>
			<key>stackisland/tray1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,657},{428,410}}</string>
				<key>offset</key>
				<string>{1,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{447,422}</string>
			</dict>
			<key>stackisland/tray1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,0},{428,410}}</string>
				<key>offset</key>
				<string>{1,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{447,422}</string>
			</dict>
			<key>stackisland/tray2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1295,0},{428,301}}</string>
				<key>offset</key>
				<string>{0,-59}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{447,422}</string>
			</dict>
			<key>stackisland/tray2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1596,0},{428,301}}</string>
				<key>offset</key>
				<string>{0,-59}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{447,422}</string>
			</dict>
			<key>stackisland/tray3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1596,301},{428,163}}</string>
				<key>offset</key>
				<string>{2,-127}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{447,422}</string>
			</dict>
			<key>stackisland/tryfill.png</key>
			<dict>
				<key>frame</key>
				<string>{{1800,558},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>stackisland.png</string>
			<key>realTextureFileName</key>
			<string>stackisland.png</string>
			<key>size</key>
			<string>{2024,1085}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2024</integer>
			<key>height</key>
			<integer>1085</integer>
		</dict>
	</dict>
</plist>