<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sayari_Jua_ya_Saba/arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,19}</string>
                <key>spriteSourceSize</key>
                <string>{162,19}</string>
                <key>textureRect</key>
                <string>{{2936,1},{162,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/beard_french.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,117}</string>
                <key>spriteSourceSize</key>
                <string>{192,117}</string>
                <key>textureRect</key>
                <string>{{1744,711},{192,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/beard_motu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,183}</string>
                <key>spriteSourceSize</key>
                <string>{394,183}</string>
                <key>textureRect</key>
                <string>{{1348,724},{394,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/body_male.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,280}</string>
                <key>spriteSourceSize</key>
                <string>{205,280}</string>
                <key>textureRect</key>
                <string>{{1137,171},{205,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/bow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,210}</string>
                <key>spriteSourceSize</key>
                <string>{63,210}</string>
                <key>textureRect</key>
                <string>{{2349,813},{63,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_arm_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,53}</string>
                <key>spriteSourceSize</key>
                <string>{34,53}</string>
                <key>textureRect</key>
                <string>{{2675,610},{34,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_ear_round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,88}</string>
                <key>spriteSourceSize</key>
                <string>{69,88}</string>
                <key>textureRect</key>
                <string>{{977,887},{69,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_eyebrow_boy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,32}</string>
                <key>spriteSourceSize</key>
                <string>{55,32}</string>
                <key>textureRect</key>
                <string>{{2433,909},{55,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,340}</string>
                <key>spriteSourceSize</key>
                <string>{408,340}</string>
                <key>textureRect</key>
                <string>{{2429,1},{408,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_hair_Burr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,239}</string>
                <key>spriteSourceSize</key>
                <string>{374,239}</string>
                <key>textureRect</key>
                <string>{{1344,167},{374,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,38}</string>
                <key>spriteSourceSize</key>
                <string>{25,38}</string>
                <key>textureRect</key>
                <string>{{2711,610},{25,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_lightbrown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,51}</string>
                <key>spriteSourceSize</key>
                <string>{22,51}</string>
                <key>textureRect</key>
                <string>{{2325,608},{22,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,86}</string>
                <key>spriteSourceSize</key>
                <string>{14,86}</string>
                <key>textureRect</key>
                <string>{{1863,802},{14,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,76}</string>
                <key>spriteSourceSize</key>
                <string>{39,76}</string>
                <key>textureRect</key>
                <string>{{417,903},{39,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_nose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,213}</string>
                <key>spriteSourceSize</key>
                <string>{273,213}</string>
                <key>textureRect</key>
                <string>{{2675,666},{271,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,17}</string>
                <key>spriteSourceSize</key>
                <string>{80,17}</string>
                <key>textureRect</key>
                <string>{{2936,165},{80,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_shoes_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,17}</string>
                <key>spriteSourceSize</key>
                <string>{80,17}</string>
                <key>textureRect</key>
                <string>{{2955,165},{80,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,54}</string>
                <key>spriteSourceSize</key>
                <string>{127,54}</string>
                <key>textureRect</key>
                <string>{{1,903},{127,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,89}</string>
                <key>spriteSourceSize</key>
                <string>{14,89}</string>
                <key>textureRect</key>
                <string>{{1863,711},{14,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/clouds1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,71}</string>
                <key>spriteSourceSize</key>
                <string>{250,71}</string>
                <key>textureRect</key>
                <string>{{551,872},{250,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/clouds2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,95}</string>
                <key>spriteSourceSize</key>
                <string>{340,95}</string>
                <key>textureRect</key>
                <string>{{2839,1},{340,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/cock_beak_low.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-1}</string>
                <key>spriteSize</key>
                <string>{54,67}</string>
                <key>spriteSourceSize</key>
                <string>{92,69}</string>
                <key>textureRect</key>
                <string>{{1664,408},{54,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/cock_beak_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,66}</string>
                <key>spriteSourceSize</key>
                <string>{92,66}</string>
                <key>textureRect</key>
                <string>{{803,872},{92,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/cock_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,201}</string>
                <key>spriteSourceSize</key>
                <string>{324,201}</string>
                <key>textureRect</key>
                <string>{{2349,610},{324,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/cock_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{2493,878},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/cock_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,358}</string>
                <key>spriteSourceSize</key>
                <string>{224,358}</string>
                <key>textureRect</key>
                <string>{{1122,453},{224,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/cock_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,72}</string>
                <key>spriteSourceSize</key>
                <string>{65,72}</string>
                <key>textureRect</key>
                <string>{{2740,881},{65,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/cock_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,316}</string>
                <key>spriteSourceSize</key>
                <string>{265,316}</string>
                <key>textureRect</key>
                <string>{{2423,343},{265,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/cock_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,136}</string>
                <key>spriteSourceSize</key>
                <string>{209,136}</string>
                <key>textureRect</key>
                <string>{{1122,813},{209,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/deer_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,231}</string>
                <key>spriteSourceSize</key>
                <string>{321,231}</string>
                <key>textureRect</key>
                <string>{{2741,343},{321,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/deer_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{1474,909},{39,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/deer_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{533,523}</string>
                <key>spriteSourceSize</key>
                <string>{533,523}</string>
                <key>textureRect</key>
                <string>{{1,1},{533,523}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/deer_lower_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,75}</string>
                <key>spriteSourceSize</key>
                <string>{24,75}</string>
                <key>textureRect</key>
                <string>{{2948,666},{24,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/deer_lower_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,75}</string>
                <key>spriteSourceSize</key>
                <string>{24,75}</string>
                <key>textureRect</key>
                <string>{{2948,743},{24,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/deer_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,104}</string>
                <key>spriteSourceSize</key>
                <string>{90,104}</string>
                <key>textureRect</key>
                <string>{{871,872},{90,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/deer_upper_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,68}</string>
                <key>spriteSourceSize</key>
                <string>{27,68}</string>
                <key>textureRect</key>
                <string>{{1404,909},{27,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/deer_upper_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,69}</string>
                <key>spriteSourceSize</key>
                <string>{27,69}</string>
                <key>textureRect</key>
                <string>{{1333,909},{27,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/dove_beak_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,66}</string>
                <key>spriteSourceSize</key>
                <string>{53,66}</string>
                <key>textureRect</key>
                <string>{{1067,887},{53,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/dove_beak_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,34}</string>
                <key>spriteSourceSize</key>
                <string>{78,34}</string>
                <key>textureRect</key>
                <string>{{2874,918},{78,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/dove_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{499,246}</string>
                <key>spriteSourceSize</key>
                <string>{499,246}</string>
                <key>textureRect</key>
                <string>{{1928,1},{499,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/dove_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{495,903},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/dove_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,314}</string>
                <key>spriteSourceSize</key>
                <string>{314,314}</string>
                <key>textureRect</key>
                <string>{{1348,408},{314,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/dove_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,76}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{2251,608},{72,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/dove_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,76}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{2662,881},{72,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/dove_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,209}</string>
                <key>spriteSourceSize</key>
                <string>{213,209}</string>
                <key>textureRect</key>
                <string>{{1664,500},{213,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/dove_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,128}</string>
                <key>spriteSourceSize</key>
                <string>{266,128}</string>
                <key>textureRect</key>
                <string>{{2219,696},{266,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,206}</string>
                <key>spriteSourceSize</key>
                <string>{331,206}</string>
                <key>textureRect</key>
                <string>{{1720,167},{331,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_ear_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,357}</string>
                <key>spriteSourceSize</key>
                <string>{155,357}</string>
                <key>textureRect</key>
                <string>{{2266,249},{155,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_ear_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,338}</string>
                <key>spriteSourceSize</key>
                <string>{227,338}</string>
                <key>textureRect</key>
                <string>{{1879,696},{227,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_eyes_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,8}</string>
                <key>spriteSourceSize</key>
                <string>{65,8}</string>
                <key>textureRect</key>
                <string>{{2251,686},{65,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_eyes_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{2807,881},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{433,419}</string>
                <key>spriteSourceSize</key>
                <string>{433,419}</string>
                <key>textureRect</key>
                <string>{{551,451},{433,419}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_lower_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,82}</string>
                <key>spriteSourceSize</key>
                <string>{40,82}</string>
                <key>textureRect</key>
                <string>{{2349,909},{40,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_lower_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,83}</string>
                <key>spriteSourceSize</key>
                <string>{40,83}</string>
                <key>textureRect</key>
                <string>{{249,903},{40,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,29}</string>
                <key>spriteSourceSize</key>
                <string>{142,29}</string>
                <key>textureRect</key>
                <string>{{2349,878},{142,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,117}</string>
                <key>spriteSourceSize</key>
                <string>{45,117}</string>
                <key>textureRect</key>
                <string>{{130,903},{45,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_trunk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,336}</string>
                <key>spriteSourceSize</key>
                <string>{250,336}</string>
                <key>textureRect</key>
                <string>{{1928,249},{250,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_upper_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,77}</string>
                <key>spriteSourceSize</key>
                <string>{35,77}</string>
                <key>textureRect</key>
                <string>{{2874,881},{35,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_upper_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,76}</string>
                <key>spriteSourceSize</key>
                <string>{35,76}</string>
                <key>textureRect</key>
                <string>{{2936,247},{35,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{596,164}</string>
                <key>spriteSourceSize</key>
                <string>{596,164}</string>
                <key>textureRect</key>
                <string>{{1330,1},{596,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/hair_curl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,375}</string>
                <key>spriteSourceSize</key>
                <string>{548,375}</string>
                <key>textureRect</key>
                <string>{{1,526},{548,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/hair_high_and_tight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,193}</string>
                <key>spriteSourceSize</key>
                <string>{370,193}</string>
                <key>textureRect</key>
                <string>{{1879,501},{370,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/hair_high_and_tight_two.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,134}</string>
                <key>spriteSourceSize</key>
                <string>{434,134}</string>
                <key>textureRect</key>
                <string>{{986,451},{434,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/hill1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{599,278}</string>
                <key>spriteSourceSize</key>
                <string>{599,278}</string>
                <key>textureRect</key>
                <string>{{536,171},{599,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/hill2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{792,168}</string>
                <key>spriteSourceSize</key>
                <string>{792,168}</string>
                <key>textureRect</key>
                <string>{{536,1},{792,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/sheephead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,99}</string>
                <key>spriteSourceSize</key>
                <string>{116,99}</string>
                <key>textureRect</key>
                <string>{{2561,813},{116,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/waterdrop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,81}</string>
                <key>spriteSourceSize</key>
                <string>{38,81}</string>
                <key>textureRect</key>
                <string>{{334,903},{38,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Sayari_Jua_ya_Saba.png</string>
            <key>size</key>
            <string>{2973,965}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43197fe37a6cfd7ad4b68eaf876864d3:c6457e89d3c198268205c0f3880afc9b:858e979d01b1b54f4f2e3d2e5f575e58$</string>
            <key>textureFileName</key>
            <string>Sayari_Jua_ya_Saba.png</string>
        </dict>
    </dict>
</plist>
