<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alphamolelevel/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{569,228}</string>
                <key>spriteSourceSize</key>
                <string>{569,228}</string>
                <key>textureRect</key>
                <string>{{1375,2691},{569,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>alphamolelevel/hill1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1393,482}</string>
                <key>spriteSourceSize</key>
                <string>{1393,482}</string>
                <key>textureRect</key>
                <string>{{1,2207},{1393,482}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamolelevel/hill2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1033,362}</string>
                <key>spriteSourceSize</key>
                <string>{1033,362}</string>
                <key>textureRect</key>
                <string>{{1,2691},{1033,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamolelevel/hole.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,123}</string>
                <key>spriteSourceSize</key>
                <string>{348,123}</string>
                <key>textureRect</key>
                <string>{{734,3160},{348,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamolelevel/obj1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,139}</string>
                <key>spriteSourceSize</key>
                <string>{64,139}</string>
                <key>textureRect</key>
                <string>{{1396,2598},{64,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>alphamolelevel/obj2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,467}</string>
                <key>spriteSourceSize</key>
                <string>{337,467}</string>
                <key>textureRect</key>
                <string>{{1036,2691},{337,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamolelevel/stone1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-9}</string>
                <key>spriteSize</key>
                <string>{372,199}</string>
                <key>spriteSourceSize</key>
                <string>{396,217}</string>
                <key>textureRect</key>
                <string>{{1,3055},{372,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamolelevel/stone2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-14}</string>
                <key>spriteSize</key>
                <string>{389,200}</string>
                <key>spriteSourceSize</key>
                <string>{435,228}</string>
                <key>textureRect</key>
                <string>{{1396,2207},{389,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>alphamolelevel/stone3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-6}</string>
                <key>spriteSize</key>
                <string>{357,172}</string>
                <key>spriteSourceSize</key>
                <string>{395,190}</string>
                <key>textureRect</key>
                <string>{{375,3055},{357,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamolelevel/tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1604,2204}</string>
                <key>spriteSourceSize</key>
                <string>{1604,2204}</string>
                <key>textureRect</key>
                <string>{{1,1},{1604,2204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>alphamolelevel.png</string>
            <key>size</key>
            <string>{1606,3284}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a00a31eb1ee3265ad985d1e67a8006d8:f5a8d52ec14fb3dd478bf7ca15e67324:e16474fd016df990e24e3a23b51d0a16$</string>
            <key>textureFileName</key>
            <string>alphamolelevel.png</string>
        </dict>
    </dict>
</plist>
