<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pinatacandylevel/balloon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{341,222}</string>
                <key>spriteSourceSize</key>
                <string>{341,234}</string>
                <key>textureRect</key>
                <string>{{911,627},{341,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacandylevel/bg_mountain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{644,358}</string>
                <key>spriteSourceSize</key>
                <string>{644,358}</string>
                <key>textureRect</key>
                <string>{{1,1},{644,358}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacandylevel/candy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,110}</string>
                <key>spriteSourceSize</key>
                <string>{139,110}</string>
                <key>textureRect</key>
                <string>{{690,494},{139,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacandylevel/candy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,131}</string>
                <key>spriteSourceSize</key>
                <string>{146,131}</string>
                <key>textureRect</key>
                <string>{{802,494},{146,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacandylevel/candy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,114}</string>
                <key>spriteSourceSize</key>
                <string>{149,114}</string>
                <key>textureRect</key>
                <string>{{449,521},{149,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacandylevel/candyplant1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,82}</string>
                <key>spriteSourceSize</key>
                <string>{81,82}</string>
                <key>textureRect</key>
                <string>{{1044,468},{81,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacandylevel/candyplant2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{950,494},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacandylevel/candyplant3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1368,492},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacandylevel/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,102}</string>
                <key>spriteSourceSize</key>
                <string>{260,102}</string>
                <key>textureRect</key>
                <string>{{1026,206},{260,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacandylevel/cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,92}</string>
                <key>spriteSourceSize</key>
                <string>{303,92}</string>
                <key>textureRect</key>
                <string>{{1135,206},{303,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacandylevel/cloud3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,203}</string>
                <key>spriteSourceSize</key>
                <string>{416,203}</string>
                <key>textureRect</key>
                <string>{{1026,1},{416,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacandylevel/gingerbread_house.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,295}</string>
                <key>spriteSourceSize</key>
                <string>{322,295}</string>
                <key>textureRect</key>
                <string>{{1,647},{322,295}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacandylevel/lolli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,246}</string>
                <key>spriteSourceSize</key>
                <string>{167,246}</string>
                <key>textureRect</key>
                <string>{{1135,300},{167,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacandylevel/main_mountain1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,222}</string>
                <key>spriteSourceSize</key>
                <string>{518,222}</string>
                <key>textureRect</key>
                <string>{{449,1},{518,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacandylevel/main_mountain3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{603,86}</string>
                <key>spriteSourceSize</key>
                <string>{603,86}</string>
                <key>textureRect</key>
                <string>{{361,1},{603,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacandylevel/mountain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{491,351}</string>
                <key>spriteSourceSize</key>
                <string>{491,351}</string>
                <key>textureRect</key>
                <string>{{673,1},{491,351}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacandylevel/plant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,112}</string>
                <key>spriteSourceSize</key>
                <string>{88,112}</string>
                <key>textureRect</key>
                <string>{{600,521},{88,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacandylevel/rock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,5}</string>
                <key>spriteSize</key>
                <string>{317,362}</string>
                <key>spriteSourceSize</key>
                <string>{363,384}</string>
                <key>textureRect</key>
                <string>{{298,647},{317,362}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacandylevel/shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,55}</string>
                <key>spriteSourceSize</key>
                <string>{190,55}</string>
                <key>textureRect</key>
                <string>{{1383,300},{190,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacandylevel/tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{231,487}</string>
                <key>spriteSourceSize</key>
                <string>{235,491}</string>
                <key>textureRect</key>
                <string>{{1135,469},{231,487}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacandylevel/tree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{247,310}</string>
                <key>spriteSourceSize</key>
                <string>{247,324}</string>
                <key>textureRect</key>
                <string>{{662,635},{247,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pinatacandylevel.png</string>
            <key>size</key>
            <string>{1444,970}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5702d0c12bad8b6202bbfa4d6e905106:058f411cea6059d08899ac527c66767a:c892cac5be3187bf4189e94297eacf5d$</string>
            <key>textureFileName</key>
            <string>pinatacandylevel.png</string>
        </dict>
    </dict>
</plist>
