<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dashisland/answer_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1123,228}</string>
                <key>spriteSourceSize</key>
                <string>{1123,228}</string>
                <key>textureRect</key>
                <string>{{231,1},{1123,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashisland/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{499,423}</string>
                <key>spriteSourceSize</key>
                <string>{499,423}</string>
                <key>textureRect</key>
                <string>{{461,845},{499,423}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/big_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1344,228}</string>
                <key>spriteSourceSize</key>
                <string>{1344,228}</string>
                <key>textureRect</key>
                <string>{{1,1},{1344,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashisland/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{842,419}</string>
                <key>spriteSourceSize</key>
                <string>{842,419}</string>
                <key>textureRect</key>
                <string>{{461,1},{842,419}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashisland/flag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,249}</string>
                <key>spriteSourceSize</key>
                <string>{119,251}</string>
                <key>textureRect</key>
                <string>{{623,1622},{119,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashisland/hint_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,228}</string>
                <key>spriteSourceSize</key>
                <string>{289,228}</string>
                <key>textureRect</key>
                <string>{{231,1126},{289,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashisland/otterenemy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-18}</string>
                <key>spriteSize</key>
                <string>{365,176}</string>
                <key>spriteSourceSize</key>
                <string>{377,212}</string>
                <key>textureRect</key>
                <string>{{962,803},{365,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashisland/otterenemy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-4}</string>
                <key>spriteSize</key>
                <string>{345,202}</string>
                <key>spriteSourceSize</key>
                <string>{377,212}</string>
                <key>textureRect</key>
                <string>{{215,1417},{345,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashisland/otterenemy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{373,212}</string>
                <key>spriteSourceSize</key>
                <string>{377,212}</string>
                <key>textureRect</key>
                <string>{{882,428},{373,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashisland/otterhero1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-18}</string>
                <key>spriteSize</key>
                <string>{365,176}</string>
                <key>spriteSourceSize</key>
                <string>{377,212}</string>
                <key>textureRect</key>
                <string>{{929,1270},{365,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashisland/otterhero2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-4}</string>
                <key>spriteSize</key>
                <string>{345,202}</string>
                <key>spriteSourceSize</key>
                <string>{377,212}</string>
                <key>textureRect</key>
                <string>{{419,1417},{345,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashisland/otterhero3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{373,212}</string>
                <key>spriteSourceSize</key>
                <string>{377,212}</string>
                <key>textureRect</key>
                <string>{{1,1347},{373,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashisland/step.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{304,350}</string>
                <key>spriteSourceSize</key>
                <string>{304,364}</string>
                <key>textureRect</key>
                <string>{{623,1270},{304,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/step_winning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,226}</string>
                <key>spriteSourceSize</key>
                <string>{425,226}</string>
                <key>textureRect</key>
                <string>{{882,1},{425,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dashisland.png</string>
            <key>size</key>
            <string>{1139,1763}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac4276b04ca55ad7cab558e3bf8f7230:846a14c3edf5e85f141f63914ec2f9b5:675b437d44d34ce9baecb36232a17695$</string>
            <key>textureFileName</key>
            <string>dashisland.png</string>
        </dict>
    </dict>
</plist>
