<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{786,276}</string>
                <key>spriteSourceSize</key>
                <string>{786,276}</string>
                <key>textureRect</key>
                <string>{{1116,1844},{786,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/cloud0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{875,365}</string>
                <key>spriteSourceSize</key>
                <string>{875,365}</string>
                <key>textureRect</key>
                <string>{{1116,1477},{875,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/cloud11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,163}</string>
                <key>spriteSourceSize</key>
                <string>{408,163}</string>
                <key>textureRect</key>
                <string>{{1548,2576},{408,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/cloud22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,203}</string>
                <key>spriteSourceSize</key>
                <string>{489,203}</string>
                <key>textureRect</key>
                <string>{{1,3173},{489,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/cloud3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{579,245}</string>
                <key>spriteSourceSize</key>
                <string>{579,245}</string>
                <key>textureRect</key>
                <string>{{1,2592},{579,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/cloud4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{665,283}</string>
                <key>spriteSourceSize</key>
                <string>{665,283}</string>
                <key>textureRect</key>
                <string>{{1,2307},{665,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/dummy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,110}</string>
                <key>spriteSourceSize</key>
                <string>{104,110}</string>
                <key>textureRect</key>
                <string>{{1924,1150},{104,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,242}</string>
                <key>spriteSourceSize</key>
                <string>{242,242}</string>
                <key>textureRect</key>
                <string>{{1713,2801},{242,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/eyelid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,242}</string>
                <key>spriteSourceSize</key>
                <string>{242,242}</string>
                <key>textureRect</key>
                <string>{{1558,3045},{242,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/fish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,254}</string>
                <key>spriteSourceSize</key>
                <string>{316,254}</string>
                <key>textureRect</key>
                <string>{{1411,1150},{316,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/flower11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,337}</string>
                <key>spriteSourceSize</key>
                <string>{344,337}</string>
                <key>textureRect</key>
                <string>{{1219,3004},{344,337}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/flower22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,452}</string>
                <key>spriteSourceSize</key>
                <string>{456,452}</string>
                <key>textureRect</key>
                <string>{{1424,2122},{456,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/pighead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,220}</string>
                <key>spriteSourceSize</key>
                <string>{199,220}</string>
                <key>textureRect</key>
                <string>{{868,2359},{199,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/sheephead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,198}</string>
                <key>spriteSourceSize</key>
                <string>{231,198}</string>
                <key>textureRect</key>
                <string>{{668,2359},{231,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/slingshots.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,479}</string>
                <key>spriteSourceSize</key>
                <string>{371,479}</string>
                <key>textureRect</key>
                <string>{{769,2592},{371,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/squirrel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,293}</string>
                <key>spriteSourceSize</key>
                <string>{366,293}</string>
                <key>textureRect</key>
                <string>{{1116,1109},{366,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/squirrelbacklegleft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,415}</string>
                <key>spriteSourceSize</key>
                <string>{312,415}</string>
                <key>textureRect</key>
                <string>{{1110,2175},{312,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/squirrelbacklegright.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,326}</string>
                <key>spriteSourceSize</key>
                <string>{255,326}</string>
                <key>textureRect</key>
                <string>{{492,3117},{255,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/squirrelbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{591,463}</string>
                <key>spriteSourceSize</key>
                <string>{591,463}</string>
                <key>textureRect</key>
                <string>{{1411,685},{591,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/squirrelface.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,404}</string>
                <key>spriteSourceSize</key>
                <string>{410,404}</string>
                <key>textureRect</key>
                <string>{{1142,2592},{410,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/squirrelfrontlegleft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,311}</string>
                <key>spriteSourceSize</key>
                <string>{255,311}</string>
                <key>textureRect</key>
                <string>{{1667,1150},{255,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/squirrelfrontlegright.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,308}</string>
                <key>spriteSourceSize</key>
                <string>{223,308}</string>
                <key>textureRect</key>
                <string>{{1713,2576},{223,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/squirrelmouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,90}</string>
                <key>spriteSourceSize</key>
                <string>{166,90}</string>
                <key>textureRect</key>
                <string>{{1904,1844},{166,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/squirreltail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{452,775}</string>
                <key>spriteSourceSize</key>
                <string>{452,775}</string>
                <key>textureRect</key>
                <string>{{1,1853},{452,775}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,287}</string>
                <key>spriteSourceSize</key>
                <string>{397,287}</string>
                <key>textureRect</key>
                <string>{{820,3073},{397,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/stone1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,330}</string>
                <key>spriteSourceSize</key>
                <string>{504,330}</string>
                <key>textureRect</key>
                <string>{{778,1853},{504,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{523,519}</string>
                <key>spriteSourceSize</key>
                <string>{523,519}</string>
                <key>textureRect</key>
                <string>{{248,2592},{523,519}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/thinking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1408,1106}</string>
                <key>spriteSourceSize</key>
                <string>{1408,1106}</string>
                <key>textureRect</key>
                <string>{{1,1},{1408,1106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1113,742}</string>
                <key>spriteSourceSize</key>
                <string>{1113,742}</string>
                <key>textureRect</key>
                <string>{{1,1109},{1113,742}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/waterdrop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,161}</string>
                <key>spriteSourceSize</key>
                <string>{75,161}</string>
                <key>textureRect</key>
                <string>{{1904,2012},{75,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/watersplash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,83}</string>
                <key>spriteSourceSize</key>
                <string>{212,83}</string>
                <key>textureRect</key>
                <string>{{1924,1256},{212,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/wave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{631,682}</string>
                <key>spriteSourceSize</key>
                <string>{631,682}</string>
                <key>textureRect</key>
                <string>{{1411,1},{631,682}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Siafu.png</string>
            <key>size</key>
            <string>{2043,3377}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55e8eb6f9f0aed57dc396bd089495550:60987c898a8175e15e68a74429acbaed:683614ab3e979a0a651219ea9f4a40b4$</string>
            <key>textureFileName</key>
            <string>Siafu.png</string>
        </dict>
    </dict>
</plist>
