<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alpha_feed/alpha_feed_bg_cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{618,269}</string>
                <key>spriteSourceSize</key>
                <string>{618,269}</string>
                <key>textureRect</key>
                <string>{{3332,1},{618,269}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>alpha_feed/alpha_feed_bg_cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{875,365}</string>
                <key>spriteSourceSize</key>
                <string>{875,365}</string>
                <key>textureRect</key>
                <string>{{2658,1756},{875,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alpha_feed/alpha_feed_bg_ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3329,590}</string>
                <key>spriteSourceSize</key>
                <string>{3329,590}</string>
                <key>textureRect</key>
                <string>{{1,1},{3329,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alpha_feed/alpha_feed_bg_sky-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,11}</string>
                <key>spriteSourceSize</key>
                <string>{10,11}</string>
                <key>textureRect</key>
                <string>{{3101,593},{10,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alpha_feed/alpha_feed_bg_tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1373,1694}</string>
                <key>spriteSourceSize</key>
                <string>{1373,1694}</string>
                <key>textureRect</key>
                <string>{{1,593},{1373,1694}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alpha_feed/alpha_feed_bg_tree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{982,1723}</string>
                <key>spriteSourceSize</key>
                <string>{982,1723}</string>
                <key>textureRect</key>
                <string>{{1376,593},{982,1723}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>alpha_feed/alpha_feed_leaves1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1070,637}</string>
                <key>spriteSourceSize</key>
                <string>{1070,637}</string>
                <key>textureRect</key>
                <string>{{1586,1577},{1070,637}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alpha_feed/alpha_feed_leaves2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1133,491}</string>
                <key>spriteSourceSize</key>
                <string>{1133,491}</string>
                <key>textureRect</key>
                <string>{{3101,621},{1133,491}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>alpha_feed/angry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,132}</string>
                <key>spriteSourceSize</key>
                <string>{133,132}</string>
                <key>textureRect</key>
                <string>{{2658,2123},{133,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>alpha_feed/laughing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,132}</string>
                <key>spriteSourceSize</key>
                <string>{133,132}</string>
                <key>textureRect</key>
                <string>{{2792,2123},{133,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>alpha_feed/progress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,103}</string>
                <key>spriteSourceSize</key>
                <string>{667,103}</string>
                <key>textureRect</key>
                <string>{{1376,1577},{667,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>alpha_feed/progress_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,103}</string>
                <key>spriteSourceSize</key>
                <string>{667,103}</string>
                <key>textureRect</key>
                <string>{{1481,1577},{667,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>alpha_feed/progress_emotion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,173}</string>
                <key>spriteSourceSize</key>
                <string>{172,173}</string>
                <key>textureRect</key>
                <string>{{2658,1577},{172,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alpha_feed/sad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,132}</string>
                <key>spriteSourceSize</key>
                <string>{133,132}</string>
                <key>textureRect</key>
                <string>{{2926,2123},{133,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>alpha_feed/smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,132}</string>
                <key>spriteSourceSize</key>
                <string>{133,132}</string>
                <key>textureRect</key>
                <string>{{3060,2123},{133,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>alpha_feed.png</string>
            <key>size</key>
            <string>{3602,2288}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8cda5c53e2427ddc274e9c1b08fd11c:55a5c1f291b56053a2285eefcdc4755c:7e380df387312518631afe4d106fc04f$</string>
            <key>textureFileName</key>
            <string>alpha_feed.png</string>
        </dict>
    </dict>
</plist>
