<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>superheroes/lever.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,259}</string>
                <key>spriteSourceSize</key>
                <string>{34,259}</string>
                <key>textureRect</key>
                <string>{{475,1},{34,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superheroes/leverbase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,163}</string>
                <key>spriteSourceSize</key>
                <string>{163,163}</string>
                <key>textureRect</key>
                <string>{{337,966},{163,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superheroes/smbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,343}</string>
                <key>spriteSourceSize</key>
                <string>{274,343}</string>
                <key>textureRect</key>
                <string>{{1,522},{274,343}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>superheroes/smeyeball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,63}</string>
                <key>spriteSourceSize</key>
                <string>{69,63}</string>
                <key>textureRect</key>
                <string>{{418,1408},{69,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superheroes/smface.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,401}</string>
                <key>spriteSourceSize</key>
                <string>{472,401}</string>
                <key>textureRect</key>
                <string>{{1,1},{472,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superheroes/smlefteye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,73}</string>
                <key>spriteSourceSize</key>
                <string>{121,73}</string>
                <key>textureRect</key>
                <string>{{77,1280},{121,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>superheroes/smlefteyebrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,97}</string>
                <key>spriteSourceSize</key>
                <string>{139,97}</string>
                <key>textureRect</key>
                <string>{{277,1408},{139,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superheroes/smleftfoot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,116}</string>
                <key>spriteSourceSize</key>
                <string>{171,116}</string>
                <key>textureRect</key>
                <string>{{337,848},{171,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superheroes/smleftlarm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,136}</string>
                <key>spriteSourceSize</key>
                <string>{115,136}</string>
                <key>textureRect</key>
                <string>{{1,1408},{115,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>superheroes/smleftpalm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,128}</string>
                <key>spriteSourceSize</key>
                <string>{75,128}</string>
                <key>textureRect</key>
                <string>{{77,1203},{75,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>superheroes/smleftshin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,183}</string>
                <key>spriteSourceSize</key>
                <string>{138,183}</string>
                <key>textureRect</key>
                <string>{{325,1131},{138,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>superheroes/smleftthigh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,239}</string>
                <key>spriteSourceSize</key>
                <string>{187,239}</string>
                <key>textureRect</key>
                <string>{{1,939},{187,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>superheroes/smleftuarm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,185}</string>
                <key>spriteSourceSize</key>
                <string>{81,185}</string>
                <key>textureRect</key>
                <string>{{242,995},{81,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superheroes/smmask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,116}</string>
                <key>spriteSourceSize</key>
                <string>{350,116}</string>
                <key>textureRect</key>
                <string>{{1,404},{350,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superheroes/smmouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,73}</string>
                <key>spriteSourceSize</key>
                <string>{210,73}</string>
                <key>textureRect</key>
                <string>{{1,1128},{210,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superheroes/smnose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{1,1336},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superheroes/smpelvis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,163}</string>
                <key>spriteSourceSize</key>
                <string>{232,163}</string>
                <key>textureRect</key>
                <string>{{346,614},{232,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>superheroes/smrighteye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,74}</string>
                <key>spriteSourceSize</key>
                <string>{131,74}</string>
                <key>textureRect</key>
                <string>{{1,1203},{131,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>superheroes/smrighteyebrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,84}</string>
                <key>spriteSourceSize</key>
                <string>{153,84}</string>
                <key>textureRect</key>
                <string>{{353,404},{153,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>superheroes/smrightfoot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,109}</string>
                <key>spriteSourceSize</key>
                <string>{161,109}</string>
                <key>textureRect</key>
                <string>{{213,1182},{161,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>superheroes/smrightlarm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,143}</string>
                <key>spriteSourceSize</key>
                <string>{122,143}</string>
                <key>textureRect</key>
                <string>{{353,490},{122,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>superheroes/smrightpalm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,136}</string>
                <key>spriteSourceSize</key>
                <string>{112,136}</string>
                <key>textureRect</key>
                <string>{{139,1408},{112,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>superheroes/smrightshin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,179}</string>
                <key>spriteSourceSize</key>
                <string>{135,179}</string>
                <key>textureRect</key>
                <string>{{324,1271},{135,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>superheroes/smrightthigh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,247}</string>
                <key>spriteSourceSize</key>
                <string>{139,247}</string>
                <key>textureRect</key>
                <string>{{1,798},{139,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>superheroes/smrightuarm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,195}</string>
                <key>spriteSourceSize</key>
                <string>{85,195}</string>
                <key>textureRect</key>
                <string>{{250,798},{85,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>superheroes.png</string>
            <key>size</key>
            <string>{510,1524}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b902cf8c78350240cc5fb30e5c9105a6:d14974cfa876560133a03e69378281f4:d3acec4e778afca3ab05507d5b3b61b0$</string>
            <key>textureFileName</key>
            <string>superheroes.png</string>
        </dict>
    </dict>
</plist>
