<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_blue_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,467}</string>
                <key>spriteSourceSize</key>
                <string>{420,467}</string>
                <key>textureRect</key>
                <string>{{794,2098},{420,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_blue_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,582}</string>
                <key>spriteSourceSize</key>
                <string>{420,582}</string>
                <key>textureRect</key>
                <string>{{1684,943},{420,582}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_blue_sleave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,102}</string>
                <key>spriteSourceSize</key>
                <string>{60,102}</string>
                <key>textureRect</key>
                <string>{{2619,2035},{60,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_orange_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,467}</string>
                <key>spriteSourceSize</key>
                <string>{420,467}</string>
                <key>textureRect</key>
                <string>{{2694,1034},{420,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_orange_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,582}</string>
                <key>spriteSourceSize</key>
                <string>{420,582}</string>
                <key>textureRect</key>
                <string>{{2694,1503},{420,582}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_purple_2_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,415}</string>
                <key>spriteSourceSize</key>
                <string>{415,415}</string>
                <key>textureRect</key>
                <string>{{2060,2154},{415,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_purple_2_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,96}</string>
                <key>spriteSourceSize</key>
                <string>{30,96}</string>
                <key>textureRect</key>
                <string>{{3454,1775},{30,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_purple_2_pant_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,96}</string>
                <key>spriteSourceSize</key>
                <string>{30,96}</string>
                <key>textureRect</key>
                <string>{{2161,914},{30,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_purple_2_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,147}</string>
                <key>spriteSourceSize</key>
                <string>{36,147}</string>
                <key>textureRect</key>
                <string>{{3088,2389},{36,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_purple_2_pant_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,147}</string>
                <key>spriteSourceSize</key>
                <string>{36,147}</string>
                <key>textureRect</key>
                <string>{{3088,2427},{36,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_purple_2_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{433,725}</string>
                <key>spriteSourceSize</key>
                <string>{433,725}</string>
                <key>textureRect</key>
                <string>{{1220,1356},{433,725}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_purple_2_sleave_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,162}</string>
                <key>spriteSourceSize</key>
                <string>{54,162}</string>
                <key>textureRect</key>
                <string>{{3364,2119},{54,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_purple_2_sleave_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,267}</string>
                <key>spriteSourceSize</key>
                <string>{63,267}</string>
                <key>textureRect</key>
                <string>{{3392,1345},{63,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_purple_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,467}</string>
                <key>spriteSourceSize</key>
                <string>{420,467}</string>
                <key>textureRect</key>
                <string>{{1216,2098},{420,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_purple_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,586}</string>
                <key>spriteSourceSize</key>
                <string>{420,586}</string>
                <key>textureRect</key>
                <string>{{2106,1034},{420,586}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_purple_sleave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,102}</string>
                <key>spriteSourceSize</key>
                <string>{60,102}</string>
                <key>textureRect</key>
                <string>{{3392,1778},{60,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_red_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,467}</string>
                <key>spriteSourceSize</key>
                <string>{420,467}</string>
                <key>textureRect</key>
                <string>{{1638,2114},{420,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_red_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,586}</string>
                <key>spriteSourceSize</key>
                <string>{420,586}</string>
                <key>textureRect</key>
                <string>{{2106,1456},{420,586}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_red_sleave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,102}</string>
                <key>spriteSourceSize</key>
                <string>{60,102}</string>
                <key>textureRect</key>
                <string>{{2681,2087},{60,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_skyblue_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{421,469}</string>
                <key>spriteSourceSize</key>
                <string>{421,469}</string>
                <key>textureRect</key>
                <string>{{371,2107},{421,469}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_skyblue_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,585}</string>
                <key>spriteSourceSize</key>
                <string>{422,585}</string>
                <key>textureRect</key>
                <string>{{1655,1527},{422,585}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_skyblue_sleave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,118}</string>
                <key>spriteSourceSize</key>
                <string>{60,118}</string>
                <key>textureRect</key>
                <string>{{785,1264},{60,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/lion_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{654,403}</string>
                <key>spriteSourceSize</key>
                <string>{654,403}</string>
                <key>textureRect</key>
                <string>{{3117,689},{654,403}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/lion_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,129}</string>
                <key>spriteSourceSize</key>
                <string>{129,129}</string>
                <key>textureRect</key>
                <string>{{2306,760},{129,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/lion_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1022,940}</string>
                <key>spriteSourceSize</key>
                <string>{1022,940}</string>
                <key>textureRect</key>
                <string>{{928,1},{1022,940}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/lion_lower_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,125}</string>
                <key>spriteSourceSize</key>
                <string>{40,125}</string>
                <key>textureRect</key>
                <string>{{2437,760},{40,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/lion_lower_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,125}</string>
                <key>spriteSourceSize</key>
                <string>{40,125}</string>
                <key>textureRect</key>
                <string>{{3088,2465},{40,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/lion_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,179}</string>
                <key>spriteSourceSize</key>
                <string>{207,179}</string>
                <key>textureRect</key>
                <string>{{1952,760},{207,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/lion_upper_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,159}</string>
                <key>spriteSourceSize</key>
                <string>{46,159}</string>
                <key>textureRect</key>
                <string>{{3448,1614},{46,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/lion_upper_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,159}</string>
                <key>spriteSourceSize</key>
                <string>{46,159}</string>
                <key>textureRect</key>
                <string>{{3040,2345},{46,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/peacock_beak_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,132}</string>
                <key>spriteSourceSize</key>
                <string>{105,132}</string>
                <key>textureRect</key>
                <string>{{2894,2499},{105,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/peacock_beak_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,67}</string>
                <key>spriteSourceSize</key>
                <string>{155,67}</string>
                <key>textureRect</key>
                <string>{{2619,1878},{155,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/peacock_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{632,389}</string>
                <key>spriteSourceSize</key>
                <string>{632,389}</string>
                <key>textureRect</key>
                <string>{{2483,643},{632,389}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/peacock_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,94}</string>
                <key>spriteSourceSize</key>
                <string>{69,94}</string>
                <key>textureRect</key>
                <string>{{3245,2351},{69,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/peacock_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{412,841}</string>
                <key>spriteSourceSize</key>
                <string>{412,841}</string>
                <key>textureRect</key>
                <string>{{371,1264},{412,841}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/peacock_left_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,274}</string>
                <key>spriteSourceSize</key>
                <string>{538,274}</string>
                <key>textureRect</key>
                <string>{{3116,1345},{538,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/peacock_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,152}</string>
                <key>spriteSourceSize</key>
                <string>{143,152}</string>
                <key>textureRect</key>
                <string>{{2161,760},{143,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/peacock_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,152}</string>
                <key>spriteSourceSize</key>
                <string>{144,152}</string>
                <key>textureRect</key>
                <string>{{2894,2345},{144,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/peacock_right_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,274}</string>
                <key>spriteSourceSize</key>
                <string>{538,274}</string>
                <key>textureRect</key>
                <string>{{2079,1878},{538,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/peacock_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{529,757}</string>
                <key>spriteSourceSize</key>
                <string>{529,757}</string>
                <key>textureRect</key>
                <string>{{1952,1},{529,757}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/rabbit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{256,206}</string>
                <key>spriteSourceSize</key>
                <string>{326,232}</string>
                <key>textureRect</key>
                <string>{{2894,2087},{256,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/rabbit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{260,230}</string>
                <key>spriteSourceSize</key>
                <string>{326,232}</string>
                <key>textureRect</key>
                <string>{{3102,2119},{260,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/rabbit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,232}</string>
                <key>spriteSourceSize</key>
                <string>{326,232}</string>
                <key>textureRect</key>
                <string>{{3116,1885},{326,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/red_jubba_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,415}</string>
                <key>spriteSourceSize</key>
                <string>{415,415}</string>
                <key>textureRect</key>
                <string>{{2477,2154},{415,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/red_jubba_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,100}</string>
                <key>spriteSourceSize</key>
                <string>{30,100}</string>
                <key>textureRect</key>
                <string>{{2785,2087},{30,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/red_jubba_pant_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,100}</string>
                <key>spriteSourceSize</key>
                <string>{30,100}</string>
                <key>textureRect</key>
                <string>{{2785,2119},{30,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/red_jubba_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,155}</string>
                <key>spriteSourceSize</key>
                <string>{36,155}</string>
                <key>textureRect</key>
                <string>{{3420,2119},{36,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/red_jubba_pant_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,155}</string>
                <key>spriteSourceSize</key>
                <string>{36,155}</string>
                <key>textureRect</key>
                <string>{{3088,2351},{36,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/red_jubba_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{433,740}</string>
                <key>spriteSourceSize</key>
                <string>{433,740}</string>
                <key>textureRect</key>
                <string>{{785,1356},{433,740}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/red_jubba_sleave_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,162}</string>
                <key>spriteSourceSize</key>
                <string>{54,162}</string>
                <key>textureRect</key>
                <string>{{3392,1614},{54,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/red_jubba_sleave_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,267}</string>
                <key>spriteSourceSize</key>
                <string>{63,267}</string>
                <key>textureRect</key>
                <string>{{3457,1345},{63,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/stars.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{925,1261}</string>
                <key>spriteSourceSize</key>
                <string>{925,1261}</string>
                <key>textureRect</key>
                <string>{{1,1},{925,1261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,640}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{2483,1},{640,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/tree_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,686}</string>
                <key>spriteSourceSize</key>
                <string>{391,686}</string>
                <key>textureRect</key>
                <string>{{3125,1},{391,686}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/tree_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{411,754}</string>
                <key>spriteSourceSize</key>
                <string>{411,754}</string>
                <key>textureRect</key>
                <string>{{928,943},{411,754}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/water1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1339,368}</string>
                <key>spriteSourceSize</key>
                <string>{1339,368}</string>
                <key>textureRect</key>
                <string>{{1,1264},{1339,368}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Sayari2.png</string>
            <key>size</key>
            <string>{3521,2605}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0218cab79031a34f75a7b115a93870fa:68c057d8d8f529c14cb7f1646837d9d9:83c58f3b80a99bcaefc1522f58e7665d$</string>
            <key>textureFileName</key>
            <string>Sayari2.png</string>
        </dict>
    </dict>
</plist>
