<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>movietheater/door1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,125}</string>
                <key>spriteSourceSize</key>
                <string>{70,125}</string>
                <key>textureRect</key>
                <string>{{493,1},{70,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>movietheater/door2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{54,125}</string>
                <key>spriteSourceSize</key>
                <string>{70,125}</string>
                <key>textureRect</key>
                <string>{{565,1},{54,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>movietheater/door3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,0}</string>
                <key>spriteSize</key>
                <string>{34,125}</string>
                <key>spriteSourceSize</key>
                <string>{70,125}</string>
                <key>textureRect</key>
                <string>{{621,1},{34,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>movietheater/obj1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,42}</string>
                <key>spriteSourceSize</key>
                <string>{46,42}</string>
                <key>textureRect</key>
                <string>{{800,69},{46,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>movietheater/obj10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,66}</string>
                <key>spriteSourceSize</key>
                <string>{73,66}</string>
                <key>textureRect</key>
                <string>{{736,1},{73,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>movietheater/obj11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,131}</string>
                <key>spriteSourceSize</key>
                <string>{103,131}</string>
                <key>textureRect</key>
                <string>{{266,150},{103,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>movietheater/obj12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,105}</string>
                <key>spriteSourceSize</key>
                <string>{84,105}</string>
                <key>textureRect</key>
                <string>{{180,150},{84,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>movietheater/obj13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,172}</string>
                <key>spriteSourceSize</key>
                <string>{109,172}</string>
                <key>textureRect</key>
                <string>{{1,1},{109,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>movietheater/obj14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,24}</string>
                <key>textureRect</key>
                <string>{{694,110},{40,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>movietheater/obj15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,40}</string>
                <key>spriteSourceSize</key>
                <string>{24,40}</string>
                <key>textureRect</key>
                <string>{{811,1},{24,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>movietheater/obj2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,21}</string>
                <key>spriteSourceSize</key>
                <string>{42,21}</string>
                <key>textureRect</key>
                <string>{{112,150},{42,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>movietheater/obj3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,147}</string>
                <key>spriteSourceSize</key>
                <string>{379,147}</string>
                <key>textureRect</key>
                <string>{{112,1},{379,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>movietheater/obj4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,107}</string>
                <key>spriteSourceSize</key>
                <string>{76,107}</string>
                <key>textureRect</key>
                <string>{{657,1},{76,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>movietheater/obj5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,58}</string>
                <key>spriteSourceSize</key>
                <string>{15,58}</string>
                <key>textureRect</key>
                <string>{{607,128},{15,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>movietheater/obj6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,25}</string>
                <key>spriteSourceSize</key>
                <string>{32,25}</string>
                <key>textureRect</key>
                <string>{{667,110},{32,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>movietheater/obj7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,78}</string>
                <key>spriteSourceSize</key>
                <string>{93,78}</string>
                <key>textureRect</key>
                <string>{{85,175},{93,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>movietheater/obj8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{736,69},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>movietheater/obj9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,17}</string>
                <key>spriteSourceSize</key>
                <string>{27,17}</string>
                <key>textureRect</key>
                <string>{{578,128},{27,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>movietheater/pillar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,418}</string>
                <key>spriteSourceSize</key>
                <string>{96,418}</string>
                <key>textureRect</key>
                <string>{{421,150},{96,418}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>movietheater/slab.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,20}</string>
                <key>spriteSourceSize</key>
                <string>{102,20}</string>
                <key>textureRect</key>
                <string>{{399,150},{102,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>movietheater/theaterfloor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,40}</string>
                <key>spriteSourceSize</key>
                <string>{80,40}</string>
                <key>textureRect</key>
                <string>{{1,175},{80,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>movietheater/theaterfloor1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,40}</string>
                <key>spriteSourceSize</key>
                <string>{80,40}</string>
                <key>textureRect</key>
                <string>{{43,175},{80,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>movietheater/theaterwall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,19}</string>
                <key>spriteSourceSize</key>
                <string>{83,19}</string>
                <key>textureRect</key>
                <string>{{493,128},{83,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>movietheater.png</string>
            <key>size</key>
            <string>{843,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:025843b1c31f5defc66fc8a1c9193b05:398eb56861ffde7d0c81f988bb5a514b:2439f02720dfdbec90395158d8497dd5$</string>
            <key>textureFileName</key>
            <string>movietheater.png</string>
        </dict>
    </dict>
</plist>
