<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>camp_gym/Cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1193,738}</string>
                <key>spriteSourceSize</key>
                <string>{1193,738}</string>
                <key>textureRect</key>
                <string>{{1,1205},{1193,738}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_gym/branch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,72}</string>
                <key>spriteSourceSize</key>
                <string>{249,72}</string>
                <key>textureRect</key>
                <string>{{653,1116},{249,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_gym/door1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,473}</string>
                <key>spriteSourceSize</key>
                <string>{401,473}</string>
                <key>textureRect</key>
                <string>{{54,644},{401,473}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_gym/gym_door_open1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,254}</string>
                <key>spriteSourceSize</key>
                <string>{187,254}</string>
                <key>textureRect</key>
                <string>{{741,2206},{187,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_gym/gym_door_open2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,0}</string>
                <key>spriteSize</key>
                <string>{145,254}</string>
                <key>spriteSourceSize</key>
                <string>{187,254}</string>
                <key>textureRect</key>
                <string>{{830,594},{145,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_gym/gym_door_open3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,0}</string>
                <key>spriteSize</key>
                <string>{83,254}</string>
                <key>spriteSourceSize</key>
                <string>{187,254}</string>
                <key>textureRect</key>
                <string>{{397,1116},{83,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_gym/gym_floor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,301}</string>
                <key>spriteSourceSize</key>
                <string>{641,301}</string>
                <key>textureRect</key>
                <string>{{1,2400},{641,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_gym/gym_obj1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,228}</string>
                <key>spriteSourceSize</key>
                <string>{229,228}</string>
                <key>textureRect</key>
                <string>{{745,363},{229,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_gym/gym_obj10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,140}</string>
                <key>spriteSourceSize</key>
                <string>{230,140}</string>
                <key>textureRect</key>
                <string>{{794,1444},{230,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_gym/gym_obj11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,438}</string>
                <key>spriteSourceSize</key>
                <string>{109,438}</string>
                <key>textureRect</key>
                <string>{{1,2852},{109,438}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_gym/gym_obj12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,252}</string>
                <key>spriteSourceSize</key>
                <string>{191,252}</string>
                <key>textureRect</key>
                <string>{{794,1190},{179,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_gym/gym_obj13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,121}</string>
                <key>spriteSourceSize</key>
                <string>{364,121}</string>
                <key>textureRect</key>
                <string>{{529,993},{364,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_gym/gym_obj2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,116}</string>
                <key>spriteSourceSize</key>
                <string>{341,116}</string>
                <key>textureRect</key>
                <string>{{54,1047},{341,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_gym/gym_obj3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,266}</string>
                <key>spriteSourceSize</key>
                <string>{366,266}</string>
                <key>textureRect</key>
                <string>{{741,1838},{366,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_gym/gym_obj4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,502}</string>
                <key>spriteSourceSize</key>
                <string>{147,502}</string>
                <key>textureRect</key>
                <string>{{1,2703},{147,502}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_gym/gym_obj5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,160}</string>
                <key>spriteSourceSize</key>
                <string>{168,160}</string>
                <key>textureRect</key>
                <string>{{794,1676},{168,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_gym/gym_obj6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,360}</string>
                <key>spriteSourceSize</key>
                <string>{272,360}</string>
                <key>textureRect</key>
                <string>{{745,1},{254,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_gym/gym_obj7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{411,352}</string>
                <key>spriteSourceSize</key>
                <string>{411,352}</string>
                <key>textureRect</key>
                <string>{{644,2400},{411,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_gym/gym_obj8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,347}</string>
                <key>spriteSourceSize</key>
                <string>{299,347}</string>
                <key>textureRect</key>
                <string>{{529,644},{299,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_gym/gym_obj9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{471,121}</string>
                <key>spriteSourceSize</key>
                <string>{471,121}</string>
                <key>textureRect</key>
                <string>{{505,2813},{471,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_gym/gym_surface1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,51}</string>
                <key>spriteSourceSize</key>
                <string>{640,51}</string>
                <key>textureRect</key>
                <string>{{692,1},{640,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_gym/gym_surface2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{646,51}</string>
                <key>spriteSourceSize</key>
                <string>{646,51}</string>
                <key>textureRect</key>
                <string>{{741,1190},{646,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_gym/gym_surface3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1202,51}</string>
                <key>spriteSourceSize</key>
                <string>{1202,51}</string>
                <key>textureRect</key>
                <string>{{1,1},{1202,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_gym/gym_wall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{641,636}</string>
                <key>spriteSourceSize</key>
                <string>{641,652}</string>
                <key>textureRect</key>
                <string>{{54,1},{641,636}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>camp_gym.png</string>
            <key>size</key>
            <string>{1008,2962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:684984e268e1e7a84d5cb9c6cb049e26:4c074ef0174b8d4e969d855ce615309e:9d074a897ab97fc7009d6561fae1886b$</string>
            <key>textureFileName</key>
            <string>camp_gym.png</string>
        </dict>
    </dict>
</plist>
