<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chimpleloading/chimple loading20001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{915,261}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{1,2591},{915,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{913,259}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{1,1545},{913,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{913,259}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{916,1547},{913,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{913,257}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{1831,772},{913,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{913,255}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{1833,1},{913,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{913,253}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{1,1},{913,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{913,255}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{2748,1},{913,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{913,255}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{1,256},{913,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{913,257}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{2746,772},{913,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{913,257}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{1,1027},{913,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{913,257}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{916,1027},{913,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{913,259}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{1831,1549},{913,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{913,257}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{1831,1031},{913,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{913,257}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{2746,1031},{913,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{913,255}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{916,256},{913,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{913,255}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{1831,258},{913,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{913,255}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{2746,258},{913,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{915,257}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{1,1286},{915,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{917,259}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{2746,1549},{917,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{917,259}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{1831,1810},{917,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{919,259}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{1831,2071},{919,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{917,259}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{2752,2071},{917,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{915,261}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{1829,2593},{915,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{913,261}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{2746,2593},{913,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{911,261}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{1,2328},{911,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-4}</string>
                <key>spriteSize</key>
                <string>{909,261}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{3663,1},{909,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chimpleloading/chimple loading20027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-4}</string>
                <key>spriteSize</key>
                <string>{909,261}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{918,2591},{909,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{911,261}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{1,2854},{911,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{911,261}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{914,2854},{911,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{913,259}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{1,1806},{913,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{915,259}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{914,2069},{915,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{913,259}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{916,1808},{913,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{911,259}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{918,1286},{911,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{909,259}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{3665,912},{909,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chimpleloading/chimple loading20035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-4}</string>
                <key>spriteSize</key>
                <string>{909,261}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{1827,2856},{909,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-4}</string>
                <key>spriteSize</key>
                <string>{909,261}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{2738,2856},{909,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{911,259}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{2750,1810},{911,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{911,259}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{1,2067},{911,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{913,259}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{914,2330},{913,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{915,259}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{1829,2332},{915,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{915,259}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{2746,2332},{915,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{913,257}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{1831,1290},{913,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{913,257}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{2746,1290},{913,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{913,255}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{1,513},{913,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{913,255}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{916,513},{913,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{913,255}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{1831,515},{913,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{913,255}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{2746,515},{913,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{913,255}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{1,770},{913,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{913,255}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{916,770},{913,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{915,253}</string>
                <key>spriteSourceSize</key>
                <string>{935,275}</string>
                <key>textureRect</key>
                <string>{{916,1},{915,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chimpleloading.png</string>
            <key>size</key>
            <string>{3925,3118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9218e84064bb94e06d21b5864a265eb9:bdb256c9b8ace754db23ce28551d924a:4905752b3c91e8587e392f281f1a8417$</string>
            <key>textureFileName</key>
            <string>chimpleloading.png</string>
        </dict>
    </dict>
</plist>
