<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Caterpillar/caterpillar_body1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1171},{266,276}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,276}</string>
			</dict>
			<key>Caterpillar/caterpillar_body2.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,1723},{245,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{245,246}</string>
			</dict>
			<key>Caterpillar/caterpillar_body3.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,1407},{234,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,234}</string>
			</dict>
			<key>Caterpillar/caterpillar_body4.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,1641},{210,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,211}</string>
			</dict>
			<key>Caterpillar/caterpillar_body5.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,1617},{197,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,198}</string>
			</dict>
			<key>Caterpillar/caterpillar_body6.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,1815},{179,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,179}</string>
			</dict>
			<key>Caterpillar/caterpillar_body7.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,939},{148,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,152}</string>
			</dict>
			<key>Caterpillar/caterpillar_body8.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,1091},{119,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,120}</string>
			</dict>
			<key>Caterpillar/caterpillar_eye.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1973},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>Caterpillar/caterpillar_face.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{611,537}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{611,537}</string>
			</dict>
			<key>Centipede/centipede_body1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1447},{266,276}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,276}</string>
			</dict>
			<key>Centipede/centipede_body2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1723},{250,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,248}</string>
			</dict>
			<key>Centipede/centipede_body3.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,1171},{236,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{236,235}</string>
			</dict>
			<key>Centipede/centipede_body4.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,1407},{210,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,208}</string>
			</dict>
			<key>Centipede/centipede_body5.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,1852},{192,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,191}</string>
			</dict>
			<key>Centipede/centipede_body6.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,611},{176,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,175}</string>
			</dict>
			<key>Centipede/centipede_body7.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,787},{152,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,151}</string>
			</dict>
			<key>Centipede/centipede_body8.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,1852},{176,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,183}</string>
			</dict>
			<key>Centipede/centipede_eye.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,1973},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>Centipede/centipede_face.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,611},{399,560}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{399,560}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Insects2.png</string>
			<key>realTextureFileName</key>
			<string>Insects2.png</string>
			<key>size</key>
			<string>{1039,2044}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1039</integer>
			<key>height</key>
			<integer>2044</integer>
		</dict>
	</dict>
</plist>