<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>chicken/chicken_beak_lower.png</key>
			<dict>
				<key>frame</key>
				<string>{{3464,653},{106,132}}</string>
				<key>offset</key>
				<string>{39,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,138}</string>
			</dict>
			<key>chicken/chicken_beak_upper.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,1108},{182,129}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,132}</string>
			</dict>
			<key>chicken/chicken_body.png</key>
			<dict>
				<key>frame</key>
				<string>{{3365,2245},{682,437}}</string>
				<key>offset</key>
				<string>{13,38}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{767,512}</string>
			</dict>
			<key>chicken/chicken_eyes.png</key>
			<dict>
				<key>frame</key>
				<string>{{3971,1285},{79,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,79}</string>
			</dict>
			<key>chicken/chicken_face.png</key>
			<dict>
				<key>frame</key>
				<string>{{3570,841},{401,688}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{401,688}</string>
			</dict>
			<key>chicken/chicken_leg_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{1599,1759},{148,131}}</string>
				<key>offset</key>
				<string>{-5,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,138}</string>
			</dict>
			<key>chicken/chicken_leg_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{1599,1890},{147,131}}</string>
				<key>offset</key>
				<string>{-6,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,138}</string>
			</dict>
			<key>chicken/chicken_tail.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2927},{385,645}}</string>
				<key>offset</key>
				<string>{-17,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{423,662}</string>
			</dict>
			<key>chicken/chicken_wing.png</key>
			<dict>
				<key>frame</key>
				<string>{{2613,491},{357,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{357,223}</string>
			</dict>
			<key>cock/cock_beak_low.png</key>
			<dict>
				<key>frame</key>
				<string>{{3464,785},{106,132}}</string>
				<key>offset</key>
				<string>{39,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,138}</string>
			</dict>
			<key>cock/cock_beak_upper.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,1290},{182,129}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,132}</string>
			</dict>
			<key>cock/cock_body.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3395},{648,401}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{648,401}</string>
			</dict>
			<key>cock/cock_eyes.png</key>
			<dict>
				<key>frame</key>
				<string>{{3971,1364},{79,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,79}</string>
			</dict>
			<key>cock/cock_face.png</key>
			<dict>
				<key>frame</key>
				<string>{{3453,1529},{448,716}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{448,716}</string>
			</dict>
			<key>cock/cock_leg_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{2353,1856},{130,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,144}</string>
			</dict>
			<key>cock/cock_tail.png</key>
			<dict>
				<key>frame</key>
				<string>{{2835,1917},{530,631}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{530,631}</string>
			</dict>
			<key>cock/cock_wing.png</key>
			<dict>
				<key>frame</key>
				<string>{{1741,2403},{417,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{417,272}</string>
			</dict>
			<key>crow/crow_beak_lower.png</key>
			<dict>
				<key>frame</key>
				<string>{{3991,264},{105,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,131}</string>
			</dict>
			<key>crow/crow_beak_upper.png</key>
			<dict>
				<key>frame</key>
				<string>{{3464,1203},{154,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,66}</string>
			</dict>
			<key>crow/crow_body.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{997,581}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{997,581}</string>
			</dict>
			<key>crow/crow_eyes.png</key>
			<dict>
				<key>frame</key>
				<string>{{3971,958},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>crow/crow_face.png</key>
			<dict>
				<key>frame</key>
				<string>{{2836,653},{628,628}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{628,628}</string>
			</dict>
			<key>crow/crow_leg_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{2428,1149},{144,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,152}</string>
			</dict>
			<key>crow/crow_leg_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{2428,1293},{144,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,152}</string>
			</dict>
			<key>crow/crow_tail.png</key>
			<dict>
				<key>frame</key>
				<string>{{1324,2315},{426,417}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{426,417}</string>
			</dict>
			<key>crow/crow_wing.png</key>
			<dict>
				<key>frame</key>
				<string>{{2580,1685},{532,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{532,255}</string>
			</dict>
			<key>dove/dove_beak_lower.png</key>
			<dict>
				<key>frame</key>
				<string>{{3991,0},{105,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,132}</string>
			</dict>
			<key>dove/dove_beak_upper.png</key>
			<dict>
				<key>frame</key>
				<string>{{3991,526},{155,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,67}</string>
			</dict>
			<key>dove/dove_body.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,581},{997,491}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{997,491}</string>
			</dict>
			<key>dove/dove_eyes.png</key>
			<dict>
				<key>frame</key>
				<string>{{3971,1044},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>dove/dove_face.png</key>
			<dict>
				<key>frame</key>
				<string>{{1800,1020},{627,628}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{627,628}</string>
			</dict>
			<key>dove/dove_leg_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{2428,1437},{144,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,152}</string>
			</dict>
			<key>dove/dove_leg_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{2428,1581},{144,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,152}</string>
			</dict>
			<key>dove/dove_tail.png</key>
			<dict>
				<key>frame</key>
				<string>{{2828,2548},{426,417}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{426,417}</string>
			</dict>
			<key>dove/dove_wing.png</key>
			<dict>
				<key>frame</key>
				<string>{{2573,2217},{532,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{532,255}</string>
			</dict>
			<key>eagle/eagle_beak_lower.png</key>
			<dict>
				<key>frame</key>
				<string>{{1357,2070},{245,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{245,235}</string>
			</dict>
			<key>eagle/eagle_beak_upper.png</key>
			<dict>
				<key>frame</key>
				<string>{{2466,2749},{303,261}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{303,261}</string>
			</dict>
			<key>eagle/eagle_body.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1072},{633,389}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{633,389}</string>
			</dict>
			<key>eagle/eagle_eyes.png</key>
			<dict>
				<key>frame</key>
				<string>{{3971,1522},{77,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,80}</string>
			</dict>
			<key>eagle/eagle_face.png</key>
			<dict>
				<key>frame</key>
				<string>{{2835,1281},{618,636}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{618,636}</string>
			</dict>
			<key>eagle/eagle_left_wing.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2217},{662,322}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{662,322}</string>
			</dict>
			<key>eagle/eagle_leg_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{3901,1599},{144,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,152}</string>
			</dict>
			<key>eagle/eagle_leg_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{1599,1616},{143,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,152}</string>
			</dict>
			<key>eagle/eagle_right_wing.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,2217},{662,322}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{662,322}</string>
			</dict>
			<key>eagle/eagle_tail.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,664},{303,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{303,202}</string>
			</dict>
			<key>hen/hen_beak_lower.png</key>
			<dict>
				<key>frame</key>
				<string>{{3464,917},{106,132}}</string>
				<key>offset</key>
				<string>{39,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,138}</string>
			</dict>
			<key>hen/hen_beak_upper.png</key>
			<dict>
				<key>frame</key>
				<string>{{2428,1020},{182,129}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,132}</string>
			</dict>
			<key>hen/hen_body.png</key>
			<dict>
				<key>frame</key>
				<string>{{1751,1647},{602,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{602,388}</string>
			</dict>
			<key>hen/hen_eyes.png</key>
			<dict>
				<key>frame</key>
				<string>{{3971,1443},{79,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,79}</string>
			</dict>
			<key>hen/hen_face.png</key>
			<dict>
				<key>frame</key>
				<string>{{1746,2035},{368,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{368,554}</string>
			</dict>
			<key>hen/hen_leg_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{1599,2021},{147,131}}</string>
				<key>offset</key>
				<string>{-6,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,138}</string>
			</dict>
			<key>hen/hen_leg_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{2353,1725},{147,131}}</string>
				<key>offset</key>
				<string>{-6,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,138}</string>
			</dict>
			<key>hen/hen_tail.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,1735},{269,461}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,461}</string>
			</dict>
			<key>owl/owl_beak_lower.png</key>
			<dict>
				<key>frame</key>
				<string>{{3991,836},{122,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,85}</string>
			</dict>
			<key>owl/owl_beak_upper.png</key>
			<dict>
				<key>frame</key>
				<string>{{2353,1986},{127,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,145}</string>
			</dict>
			<key>owl/owl_body.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1461},{632,389}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{632,389}</string>
			</dict>
			<key>owl/owl_eyes.png</key>
			<dict>
				<key>frame</key>
				<string>{{2158,2651},{308,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,308}</string>
			</dict>
			<key>owl/owl_face.png</key>
			<dict>
				<key>frame</key>
				<string>{{2852,0},{653,727}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{653,727}</string>
			</dict>
			<key>owl/owl_left_wing.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,1072},{663,322}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{663,322}</string>
			</dict>
			<key>owl/owl_leg_leg.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,2070},{143,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,152}</string>
			</dict>
			<key>owl/owl_leg_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{3901,2175},{144,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,151}</string>
			</dict>
			<key>owl/owl_right_wing.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2548},{663,322}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{663,322}</string>
			</dict>
			<key>owl/owl_tail.png</key>
			<dict>
				<key>frame</key>
				<string>{{2613,848},{304,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{304,203}</string>
			</dict>
			<key>peacock/peacock_beak_lower.png</key>
			<dict>
				<key>frame</key>
				<string>{{3991,132},{105,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,132}</string>
			</dict>
			<key>peacock/peacock_beak_upper.png</key>
			<dict>
				<key>frame</key>
				<string>{{3991,681},{155,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,67}</string>
			</dict>
			<key>peacock/peacock_body.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,1292},{632,389}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{632,389}</string>
			</dict>
			<key>peacock/peacock_eyes.png</key>
			<dict>
				<key>frame</key>
				<string>{{3971,1216},{69,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,94}</string>
			</dict>
			<key>peacock/peacock_face.png</key>
			<dict>
				<key>frame</key>
				<string>{{3579,0},{412,841}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{412,841}</string>
			</dict>
			<key>peacock/peacock_left_wing.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1850},{538,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{538,274}</string>
			</dict>
			<key>peacock/peacock_leg_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,2070},{143,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,152}</string>
			</dict>
			<key>peacock/peacock_leg_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{3901,1743},{144,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,152}</string>
			</dict>
			<key>peacock/peacock_right_wing.png</key>
			<dict>
				<key>frame</key>
				<string>{{2299,2113},{538,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{538,274}</string>
			</dict>
			<key>peacock/peacock_tail.png</key>
			<dict>
				<key>frame</key>
				<string>{{1856,491},{529,757}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{529,757}</string>
			</dict>
			<key>pigeon/pigeon_beak_lower.png</key>
			<dict>
				<key>frame</key>
				<string>{{3991,395},{105,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,131}</string>
			</dict>
			<key>pigeon/pigeon_beak_upper.png</key>
			<dict>
				<key>frame</key>
				<string>{{3464,1049},{154,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,67}</string>
			</dict>
			<key>pigeon/pigeon_body.png</key>
			<dict>
				<key>frame</key>
				<string>{{1856,0},{996,491}}</string>
				<key>offset</key>
				<string>{18,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1032,491}</string>
			</dict>
			<key>pigeon/pigeon_eyes.png</key>
			<dict>
				<key>frame</key>
				<string>{{3971,1130},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>pigeon/pigeon_face.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,664},{628,628}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{636,628}</string>
			</dict>
			<key>pigeon/pigeon_leg_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{3901,1887},{144,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,152}</string>
			</dict>
			<key>pigeon/pigeon_leg_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{3901,2031},{144,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,152}</string>
			</dict>
			<key>pigeon/pigeon_right_wing.png</key>
			<dict>
				<key>frame</key>
				<string>{{2580,1152},{533,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{533,255}</string>
			</dict>
			<key>pigeon/pigeon_tail.png</key>
			<dict>
				<key>frame</key>
				<string>{{3254,2927},{426,417}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{426,417}</string>
			</dict>
			<key>pigeon/pigeon_wing.png</key>
			<dict>
				<key>frame</key>
				<string>{{3802,2319},{538,275}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{538,277}</string>
			</dict>
			<key>vulture/vulture_body.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,1681},{632,389}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{632,389}</string>
			</dict>
			<key>vulture/vulture_face.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,0},{664,859}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{664,859}</string>
			</dict>
			<key>vulture/vulture_leg_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{1205,2070},{143,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{143,152}</string>
			</dict>
			<key>vulture/vulture_leg_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{1599,1472},{144,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,151}</string>
			</dict>
			<key>vulture/vulture_tail.png</key>
			<dict>
				<key>frame</key>
				<string>{{1625,967},{175,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,141}</string>
			</dict>
			<key>vulture/vulture_wing.png</key>
			<dict>
				<key>frame</key>
				<string>{{3802,2857},{538,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{538,275}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist1.png</string>
			<key>realTextureFileName</key>
			<string>Plist1.png</string>
			<key>size</key>
			<string>{4096,4043}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>4043</integer>
		</dict>
	</dict>
</plist>