<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ah_Mpira_Ah_Football/adie_grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,336}</string>
                <key>spriteSourceSize</key>
                <string>{390,336}</string>
                <key>textureRect</key>
                <string>{{2718,949},{390,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ah_Mpira_Ah_Football/adun_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{648,260}</string>
                <key>spriteSourceSize</key>
                <string>{648,260}</string>
                <key>textureRect</key>
                <string>{{529,1687},{648,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ah_Mpira_Ah_Football/ah_desk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,799}</string>
                <key>spriteSourceSize</key>
                <string>{269,799}</string>
                <key>textureRect</key>
                <string>{{1734,1365},{269,799}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ah_Mpira_Ah_Football/ah_grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,37}</string>
                <key>spriteSourceSize</key>
                <string>{414,37}</string>
                <key>textureRect</key>
                <string>{{1097,2327},{414,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ah_Mpira_Ah_Football/ah_hills.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1616,312}</string>
                <key>spriteSourceSize</key>
                <string>{1616,312}</string>
                <key>textureRect</key>
                <string>{{481,1},{1616,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ah_Mpira_Ah_Football/ah_house.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,297}</string>
                <key>spriteSourceSize</key>
                <string>{313,297}</string>
                <key>textureRect</key>
                <string>{{1419,1365},{313,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ah_Mpira_Ah_Football/ah_house1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,298}</string>
                <key>spriteSourceSize</key>
                <string>{313,298}</string>
                <key>textureRect</key>
                <string>{{1104,1365},{313,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ah_Mpira_Ah_Football/ah_house2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,265}</string>
                <key>spriteSourceSize</key>
                <string>{266,265}</string>
                <key>textureRect</key>
                <string>{{2806,1341},{266,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ah_Mpira_Ah_Football/ah_house3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{234,264}</string>
                <key>spriteSourceSize</key>
                <string>{234,274}</string>
                <key>textureRect</key>
                <string>{{3073,1339},{234,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ah_Mpira_Ah_Football/ah_house4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1362,1220}</string>
                <key>spriteSourceSize</key>
                <string>{1362,1220}</string>
                <key>textureRect</key>
                <string>{{795,1},{1362,1220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ah_Mpira_Ah_Football/ah_stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,134}</string>
                <key>spriteSourceSize</key>
                <string>{240,134}</string>
                <key>textureRect</key>
                <string>{{3030,786},{240,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ah_Mpira_Ah_Football/ah_stone1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,107}</string>
                <key>spriteSourceSize</key>
                <string>{456,107}</string>
                <key>textureRect</key>
                <string>{{2017,903},{456,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ah_Mpira_Ah_Football/ah_stone2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,504}</string>
                <key>spriteSourceSize</key>
                <string>{900,504}</string>
                <key>textureRect</key>
                <string>{{2017,1},{900,504}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ah_Mpira_Ah_Football/ah_sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,269}</string>
                <key>spriteSourceSize</key>
                <string>{269,269}</string>
                <key>textureRect</key>
                <string>{{2535,1355},{269,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ah_Mpira_Ah_Football/ah_table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1693,478}</string>
                <key>spriteSourceSize</key>
                <string>{1693,478}</string>
                <key>textureRect</key>
                <string>{{1,1},{1693,478}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ah_Mpira_Ah_Football/ah_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,521}</string>
                <key>spriteSourceSize</key>
                <string>{484,521}</string>
                <key>textureRect</key>
                <string>{{2535,1},{484,521}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ah_Mpira_Ah_Football/ah_tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,253}</string>
                <key>spriteSourceSize</key>
                <string>{121,253}</string>
                <key>textureRect</key>
                <string>{{3272,786},{121,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ah_Mpira_Ah_Football/body_female.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{434,559}</string>
                <key>spriteSourceSize</key>
                <string>{436,559}</string>
                <key>textureRect</key>
                <string>{{3473,1220},{434,559}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ah_Mpira_Ah_Football/boy_lower_pent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{25,48}</string>
                <key>spriteSourceSize</key>
                <string>{29,48}</string>
                <key>textureRect</key>
                <string>{{696,1619},{25,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ah_Mpira_Ah_Football/boy_nose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{538,426}</string>
                <key>spriteSourceSize</key>
                <string>{546,426}</string>
                <key>textureRect</key>
                <string>{{3468,1656},{538,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ah_Mpira_Ah_Football/boy_pent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{802,1365},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ah_Mpira_Ah_Football/boy_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{310,423}</string>
                <key>spriteSourceSize</key>
                <string>{310,451}</string>
                <key>textureRect</key>
                <string>{{2718,524},{310,423}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ah_Mpira_Ah_Football/boy_shoe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,28}</string>
                <key>spriteSourceSize</key>
                <string>{114,28}</string>
                <key>textureRect</key>
                <string>{{882,2336},{114,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ah_Mpira_Ah_Football/boy_sleve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,77}</string>
                <key>spriteSourceSize</key>
                <string>{46,77}</string>
                <key>textureRect</key>
                <string>{{723,1619},{46,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ah_Mpira_Ah_Football/boy_upper_pent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,97}</string>
                <key>spriteSourceSize</key>
                <string>{27,97}</string>
                <key>textureRect</key>
                <string>{{998,2333},{27,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ah_Mpira_Ah_Football/duck_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,241}</string>
                <key>spriteSourceSize</key>
                <string>{194,241}</string>
                <key>textureRect</key>
                <string>{{3712,2084},{194,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ah_Mpira_Ah_Football/duck_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,172}</string>
                <key>spriteSourceSize</key>
                <string>{203,172}</string>
                <key>textureRect</key>
                <string>{{2523,524},{203,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ah_Mpira_Ah_Football/duck_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,41}</string>
                <key>spriteSourceSize</key>
                <string>{33,41}</string>
                <key>textureRect</key>
                <string>{{952,2301},{33,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ah_Mpira_Ah_Football/duck_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,77}</string>
                <key>spriteSourceSize</key>
                <string>{37,77}</string>
                <key>textureRect</key>
                <string>{{1739,2301},{37,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ah_Mpira_Ah_Football/eye_girl_outer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,24}</string>
                <key>spriteSourceSize</key>
                <string>{115,24}</string>
                <key>textureRect</key>
                <string>{{1093,2301},{115,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ah_Mpira_Ah_Football/eyebrow_girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,39}</string>
                <key>spriteSourceSize</key>
                <string>{121,39}</string>
                <key>textureRect</key>
                <string>{{1513,2324},{121,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ah_Mpira_Ah_Football/face 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{652,526}</string>
                <key>spriteSourceSize</key>
                <string>{652,526}</string>
                <key>textureRect</key>
                <string>{{1,1696},{652,526}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ah_Mpira_Ah_Football/face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{815,680}</string>
                <key>spriteSourceSize</key>
                <string>{815,680}</string>
                <key>textureRect</key>
                <string>{{2220,1636},{815,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ah_Mpira_Ah_Football/football.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,242}</string>
                <key>spriteSourceSize</key>
                <string>{242,242}</string>
                <key>textureRect</key>
                <string>{{3468,2084},{242,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ah_Mpira_Ah_Football/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,76}</string>
                <key>textureRect</key>
                <string>{{618,1619},{50,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ah_Mpira_Ah_Football/girl_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,76}</string>
                <key>textureRect</key>
                <string>{{618,1619},{50,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ah_Mpira_Ah_Football/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,172}</string>
                <key>spriteSourceSize</key>
                <string>{28,172}</string>
                <key>textureRect</key>
                <string>{{708,2337},{28,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ah_Mpira_Ah_Football/girl_lower_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,172}</string>
                <key>spriteSourceSize</key>
                <string>{28,172}</string>
                <key>textureRect</key>
                <string>{{708,2337},{28,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ah_Mpira_Ah_Football/girl_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,105}</string>
                <key>spriteSourceSize</key>
                <string>{22,105}</string>
                <key>textureRect</key>
                <string>{{1210,2301},{22,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ah_Mpira_Ah_Football/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,135}</string>
                <key>spriteSourceSize</key>
                <string>{66,135}</string>
                <key>textureRect</key>
                <string>{{481,1619},{66,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ah_Mpira_Ah_Football/girl_neck1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,135}</string>
                <key>spriteSourceSize</key>
                <string>{66,135}</string>
                <key>textureRect</key>
                <string>{{481,1619},{66,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ah_Mpira_Ah_Football/girl_shoe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,21}</string>
                <key>spriteSourceSize</key>
                <string>{105,21}</string>
                <key>textureRect</key>
                <string>{{1317,2301},{105,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ah_Mpira_Ah_Football/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,177}</string>
                <key>spriteSourceSize</key>
                <string>{28,177}</string>
                <key>textureRect</key>
                <string>{{529,2337},{28,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ah_Mpira_Ah_Football/girl_upper_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,177}</string>
                <key>spriteSourceSize</key>
                <string>{28,177}</string>
                <key>textureRect</key>
                <string>{{529,2337},{28,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ah_Mpira_Ah_Football/girl_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,89}</string>
                <key>spriteSourceSize</key>
                <string>{21,89}</string>
                <key>textureRect</key>
                <string>{{1424,2301},{21,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ah_Mpira_Ah_Football/hair_bun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{969,783}</string>
                <key>spriteSourceSize</key>
                <string>{969,783}</string>
                <key>textureRect</key>
                <string>{{3037,1},{969,783}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ah_Mpira_Ah_Football/housewife_pelvis_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,521}</string>
                <key>spriteSourceSize</key>
                <string>{432,521}</string>
                <key>textureRect</key>
                <string>{{3527,786},{432,521}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ah_Mpira_Ah_Football/housewife_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,590}</string>
                <key>spriteSourceSize</key>
                <string>{450,590}</string>
                <key>textureRect</key>
                <string>{{2126,903},{450,590}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ah_Mpira_Ah_Football/lightbrown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,101}</string>
                <key>spriteSourceSize</key>
                <string>{43,101}</string>
                <key>textureRect</key>
                <string>{{1636,2301},{43,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ah_Mpira_Ah_Football/motu_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,415}</string>
                <key>spriteSourceSize</key>
                <string>{415,415}</string>
                <key>textureRect</key>
                <string>{{3056,922},{415,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ah_Mpira_Ah_Football/motu_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,96}</string>
                <key>spriteSourceSize</key>
                <string>{30,96}</string>
                <key>textureRect</key>
                <string>{{995,2301},{30,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ah_Mpira_Ah_Football/motu_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,147}</string>
                <key>spriteSourceSize</key>
                <string>{36,147}</string>
                <key>textureRect</key>
                <string>{{1818,2301},{36,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ah_Mpira_Ah_Football/motu_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,586}</string>
                <key>spriteSourceSize</key>
                <string>{429,586}</string>
                <key>textureRect</key>
                <string>{{3037,1609},{429,586}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ah_Mpira_Ah_Football/motu_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,33}</string>
                <key>spriteSourceSize</key>
                <string>{159,33}</string>
                <key>textureRect</key>
                <string>{{791,2301},{159,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ah_Mpira_Ah_Football/mouth_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,108}</string>
                <key>spriteSourceSize</key>
                <string>{253,108}</string>
                <key>textureRect</key>
                <string>{{3309,1339},{253,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ah_Mpira_Ah_Football/sand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1427,632}</string>
                <key>spriteSourceSize</key>
                <string>{1427,632}</string>
                <key>textureRect</key>
                <string>{{791,1667},{1427,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Ah_Mpira_Ah_Football.png</string>
            <key>size</key>
            <string>{4049,2366}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b069a93266127d0f0637f1ef22ac69d8:bac2f7fd5481b3e851a6ac08528aff12:afa0c4505be7c810d5b9bc8be99df0c5$</string>
            <key>textureFileName</key>
            <string>Ah_Mpira_Ah_Football.png</string>
        </dict>
    </dict>
</plist>
