<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Magozwe/Kato_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1302,954},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Magozwe/Kuhesabu_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,114}</string>
                <key>spriteSourceSize</key>
                <string>{285,114}</string>
                <key>textureRect</key>
                <string>{{2613,531},{285,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Magozwe/Kuhesabu_hill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{591,183}</string>
                <key>spriteSourceSize</key>
                <string>{591,183}</string>
                <key>textureRect</key>
                <string>{{593,789},{591,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Magozwe/Kuhesabu_hill1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{591,78}</string>
                <key>spriteSourceSize</key>
                <string>{591,78}</string>
                <key>textureRect</key>
                <string>{{1744,1},{591,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Magozwe/Kuhesabu_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,44}</string>
                <key>spriteSourceSize</key>
                <string>{35,44}</string>
                <key>textureRect</key>
                <string>{{1186,954},{35,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Magozwe/Kuku_grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{442,163}</string>
                <key>spriteSourceSize</key>
                <string>{442,163}</string>
                <key>textureRect</key>
                <string>{{1186,789},{442,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Magozwe/Kwa_door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,369}</string>
                <key>spriteSourceSize</key>
                <string>{278,369}</string>
                <key>textureRect</key>
                <string>{{2900,275},{278,369}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Magozwe/Kwa_window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,369}</string>
                <key>spriteSourceSize</key>
                <string>{323,369}</string>
                <key>textureRect</key>
                <string>{{1931,660},{323,369}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Magozwe/Magozwe_bench.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{543,272}</string>
                <key>spriteSourceSize</key>
                <string>{543,272}</string>
                <key>textureRect</key>
                <string>{{1824,1},{543,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Magozwe/Magozwe_book.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,63}</string>
                <key>spriteSourceSize</key>
                <string>{14,63}</string>
                <key>textureRect</key>
                <string>{{454,976},{14,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Magozwe/Magozwe_bottle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,218}</string>
                <key>spriteSourceSize</key>
                <string>{64,218}</string>
                <key>textureRect</key>
                <string>{{1744,594},{64,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Magozwe/Magozwe_bottle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,218}</string>
                <key>spriteSourceSize</key>
                <string>{80,218}</string>
                <key>textureRect</key>
                <string>{{3450,275},{80,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Magozwe/Magozwe_brick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,91}</string>
                <key>spriteSourceSize</key>
                <string>{207,91}</string>
                <key>textureRect</key>
                <string>{{3450,567},{207,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Magozwe/Magozwe_building1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,365}</string>
                <key>spriteSourceSize</key>
                <string>{240,365}</string>
                <key>textureRect</key>
                <string>{{3180,275},{240,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Magozwe/Magozwe_building2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,322}</string>
                <key>spriteSourceSize</key>
                <string>{204,322}</string>
                <key>textureRect</key>
                <string>{{2302,657},{204,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Magozwe/Magozwe_car.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,118}</string>
                <key>spriteSourceSize</key>
                <string>{221,118}</string>
                <key>textureRect</key>
                <string>{{1247,660},{221,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Magozwe/Magozwe_chair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,142}</string>
                <key>spriteSourceSize</key>
                <string>{156,142}</string>
                <key>textureRect</key>
                <string>{{2754,275},{156,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Magozwe/Magozwe_character.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,534}</string>
                <key>spriteSourceSize</key>
                <string>{293,534}</string>
                <key>textureRect</key>
                <string>{{2098,1},{293,534}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Magozwe/Magozwe_characterhand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,93}</string>
                <key>spriteSourceSize</key>
                <string>{158,93}</string>
                <key>textureRect</key>
                <string>{{1470,660},{158,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Magozwe/Magozwe_container.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{3450,819},{106,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Magozwe/Magozwe_dinning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,340}</string>
                <key>spriteSourceSize</key>
                <string>{355,340}</string>
                <key>textureRect</key>
                <string>{{2725,647},{355,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Magozwe/Magozwe_dream.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{786,757}</string>
                <key>spriteSourceSize</key>
                <string>{786,759}</string>
                <key>textureRect</key>
                <string>{{488,1},{786,757}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Magozwe/Magozwe_dustbin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,289}</string>
                <key>spriteSourceSize</key>
                <string>{366,289}</string>
                <key>textureRect</key>
                <string>{{3082,646},{366,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Magozwe/Magozwe_ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1281,272}</string>
                <key>spriteSourceSize</key>
                <string>{1281,272}</string>
                <key>textureRect</key>
                <string>{{2393,1},{1281,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Magozwe/Magozwe_helicopter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,112}</string>
                <key>spriteSourceSize</key>
                <string>{223,112}</string>
                <key>textureRect</key>
                <string>{{1964,546},{223,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Magozwe/Magozwe_house.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,164}</string>
                <key>spriteSourceSize</key>
                <string>{316,164}</string>
                <key>textureRect</key>
                <string>{{275,810},{316,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Magozwe/Magozwe_table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{657,495}</string>
                <key>spriteSourceSize</key>
                <string>{745,495}</string>
                <key>textureRect</key>
                <string>{{1247,1},{657,495}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Magozwe/Magozwe_table2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{807,485}</string>
                <key>spriteSourceSize</key>
                <string>{807,485}</string>
                <key>textureRect</key>
                <string>{{1,1},{807,485}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Magozwe/Magozwe_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,157}</string>
                <key>spriteSourceSize</key>
                <string>{202,157}</string>
                <key>textureRect</key>
                <string>{{3450,660},{202,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Magozwe/Mama_tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,272}</string>
                <key>spriteSourceSize</key>
                <string>{177,272}</string>
                <key>textureRect</key>
                <string>{{1,810},{177,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Magozwe/bonfire1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,154}</string>
                <key>textureRect</key>
                <string>{{2493,531},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Magozwe/bonfire2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{118,150}</string>
                <key>spriteSourceSize</key>
                <string>{118,154}</string>
                <key>textureRect</key>
                <string>{{2189,537},{118,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Magozwe/bonfire3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{118,150}</string>
                <key>spriteSourceSize</key>
                <string>{118,154}</string>
                <key>textureRect</key>
                <string>{{2341,537},{118,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Magozwe/character3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,359}</string>
                <key>spriteSourceSize</key>
                <string>{254,359}</string>
                <key>textureRect</key>
                <string>{{2393,275},{254,359}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Magozwe/eye_inner_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{1374,954},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Magozwe/eye_outer_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,53}</string>
                <key>spriteSourceSize</key>
                <string>{47,53}</string>
                <key>textureRect</key>
                <string>{{2754,433},{47,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Magozwe/face .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,299}</string>
                <key>spriteSourceSize</key>
                <string>{324,299}</string>
                <key>textureRect</key>
                <string>{{1630,660},{324,299}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Magozwe/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,38}</string>
                <key>spriteSourceSize</key>
                <string>{25,38}</string>
                <key>textureRect</key>
                <string>{{1334,954},{25,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Magozwe/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,86}</string>
                <key>spriteSourceSize</key>
                <string>{14,86}</string>
                <key>textureRect</key>
                <string>{{366,976},{14,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Magozwe/girl_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,53}</string>
                <key>spriteSourceSize</key>
                <string>{11,53}</string>
                <key>textureRect</key>
                <string>{{519,976},{11,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Magozwe/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,68}</string>
                <key>spriteSourceSize</key>
                <string>{33,68}</string>
                <key>textureRect</key>
                <string>{{1232,954},{33,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Magozwe/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,89}</string>
                <key>spriteSourceSize</key>
                <string>{14,89}</string>
                <key>textureRect</key>
                <string>{{275,976},{14,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Magozwe/girl_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,45}</string>
                <key>spriteSourceSize</key>
                <string>{11,45}</string>
                <key>textureRect</key>
                <string>{{574,976},{11,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Magozwe/motu_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{3450,357},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Magozwe/motu_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,48}</string>
                <key>spriteSourceSize</key>
                <string>{15,48}</string>
                <key>textureRect</key>
                <string>{{621,974},{15,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Magozwe/motu_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,74}</string>
                <key>spriteSourceSize</key>
                <string>{18,74}</string>
                <key>textureRect</key>
                <string>{{488,789},{18,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Magozwe/motu_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,293}</string>
                <key>spriteSourceSize</key>
                <string>{215,293}</string>
                <key>textureRect</key>
                <string>{{2508,651},{215,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Magozwe/motu_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,17}</string>
                <key>spriteSourceSize</key>
                <string>{80,17}</string>
                <key>textureRect</key>
                <string>{{1397,954},{80,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Magozwe.png</string>
            <key>size</key>
            <string>{3675,991}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d8a6e4836506ca6079ce68629309e26:51eceabe1145ee1e4f9e335d6f970d3c:6a2fddc3813215b187bceb2576af7d0c$</string>
            <key>textureFileName</key>
            <string>Magozwe.png</string>
        </dict>
    </dict>
</plist>
