<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>calculator/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,148}</string>
                <key>spriteSourceSize</key>
                <string>{212,148}</string>
                <key>textureRect</key>
                <string>{{215,1386},{212,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>calculator/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,149}</string>
                <key>spriteSourceSize</key>
                <string>{212,149}</string>
                <key>textureRect</key>
                <string>{{1,1235},{212,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>calculator/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,149}</string>
                <key>spriteSourceSize</key>
                <string>{212,149}</string>
                <key>textureRect</key>
                <string>{{215,1235},{212,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>calculator/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,149}</string>
                <key>spriteSourceSize</key>
                <string>{212,149}</string>
                <key>textureRect</key>
                <string>{{429,1235},{212,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>calculator/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,148}</string>
                <key>spriteSourceSize</key>
                <string>{212,148}</string>
                <key>textureRect</key>
                <string>{{429,1386},{212,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>calculator/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,148}</string>
                <key>spriteSourceSize</key>
                <string>{212,148}</string>
                <key>textureRect</key>
                <string>{{643,1449},{212,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>calculator/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,148}</string>
                <key>spriteSourceSize</key>
                <string>{212,148}</string>
                <key>textureRect</key>
                <string>{{793,1567},{212,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>calculator/7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,149}</string>
                <key>spriteSourceSize</key>
                <string>{212,149}</string>
                <key>textureRect</key>
                <string>{{643,1235},{212,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>calculator/8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,149}</string>
                <key>spriteSourceSize</key>
                <string>{212,149}</string>
                <key>textureRect</key>
                <string>{{794,1416},{212,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>calculator/9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,149}</string>
                <key>spriteSourceSize</key>
                <string>{212,149}</string>
                <key>textureRect</key>
                <string>{{1,1386},{212,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>calculator/back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{793,1232}</string>
                <key>spriteSourceSize</key>
                <string>{793,1232}</string>
                <key>textureRect</key>
                <string>{{1,1},{793,1232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>calculator/backspace.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,148}</string>
                <key>spriteSourceSize</key>
                <string>{212,148}</string>
                <key>textureRect</key>
                <string>{{215,1536},{212,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>calculator/enter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{705,149}</string>
                <key>spriteSourceSize</key>
                <string>{705,149}</string>
                <key>textureRect</key>
                <string>{{796,709},{705,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>calculator/reset.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,148}</string>
                <key>spriteSourceSize</key>
                <string>{212,148}</string>
                <key>textureRect</key>
                <string>{{1,1537},{212,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>calculator/screen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{706,190}</string>
                <key>spriteSourceSize</key>
                <string>{706,190}</string>
                <key>textureRect</key>
                <string>{{796,1},{706,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>calculator.png</string>
            <key>size</key>
            <string>{1007,1716}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78d83495f0ec6684191ed5224d115e7f:0e42410eb00357e224a5344a0afae10d:d2cd0d95a1fe4df7112cfffb434c05da$</string>
            <key>textureFileName</key>
            <string>calculator.png</string>
        </dict>
    </dict>
</plist>
