<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dash/answer_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,57}</string>
                <key>spriteSourceSize</key>
                <string>{336,57}</string>
                <key>textureRect</key>
                <string>{{1,1},{336,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/big_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,57}</string>
                <key>spriteSourceSize</key>
                <string>{281,57}</string>
                <key>textureRect</key>
                <string>{{1,60},{281,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,36}</string>
                <key>spriteSourceSize</key>
                <string>{23,36}</string>
                <key>textureRect</key>
                <string>{{322,102},{23,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dash/body_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,36}</string>
                <key>spriteSourceSize</key>
                <string>{23,36}</string>
                <key>textureRect</key>
                <string>{{412,79},{23,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dash/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,57}</string>
                <key>spriteSourceSize</key>
                <string>{58,57}</string>
                <key>textureRect</key>
                <string>{{413,1},{58,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dash/cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,16}</string>
                <key>spriteSourceSize</key>
                <string>{56,16}</string>
                <key>textureRect</key>
                <string>{{412,61},{56,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,5}</string>
                <key>spriteSourceSize</key>
                <string>{5,5}</string>
                <key>textureRect</key>
                <string>{{392,108},{5,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,40}</string>
                <key>spriteSourceSize</key>
                <string>{46,40}</string>
                <key>textureRect</key>
                <string>{{322,60},{46,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/face_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,40}</string>
                <key>spriteSourceSize</key>
                <string>{46,40}</string>
                <key>textureRect</key>
                <string>{{370,60},{46,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dash/hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,15}</string>
                <key>spriteSourceSize</key>
                <string>{11,15}</string>
                <key>textureRect</key>
                <string>{{440,107},{11,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dash/hand_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,14}</string>
                <key>spriteSourceSize</key>
                <string>{11,14}</string>
                <key>textureRect</key>
                <string>{{457,107},{11,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/hint_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,57}</string>
                <key>spriteSourceSize</key>
                <string>{72,57}</string>
                <key>textureRect</key>
                <string>{{339,1},{72,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,14}</string>
                <key>spriteSourceSize</key>
                <string>{6,14}</string>
                <key>textureRect</key>
                <string>{{360,108},{6,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dash/leg_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,14}</string>
                <key>spriteSourceSize</key>
                <string>{6,14}</string>
                <key>textureRect</key>
                <string>{{376,108},{6,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dash/mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,10}</string>
                <key>spriteSourceSize</key>
                <string>{26,10}</string>
                <key>textureRect</key>
                <string>{{450,79},{26,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dash/mouth_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,10}</string>
                <key>spriteSourceSize</key>
                <string>{26,10}</string>
                <key>textureRect</key>
                <string>{{412,104},{26,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/mouth_sad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,10}</string>
                <key>spriteSourceSize</key>
                <string>{21,10}</string>
                <key>textureRect</key>
                <string>{{360,116},{21,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/mouth_sad_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,10}</string>
                <key>spriteSourceSize</key>
                <string>{21,10}</string>
                <key>textureRect</key>
                <string>{{383,116},{21,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/step.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,36}</string>
                <key>spriteSourceSize</key>
                <string>{66,36}</string>
                <key>textureRect</key>
                <string>{{284,60},{66,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dash/tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,4}</string>
                <key>spriteSourceSize</key>
                <string>{9,4}</string>
                <key>textureRect</key>
                <string>{{1,119},{9,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/tail_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,4}</string>
                <key>spriteSourceSize</key>
                <string>{9,4}</string>
                <key>textureRect</key>
                <string>{{462,79},{9,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dash.png</string>
            <key>size</key>
            <string>{471,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae73359013d3818adcb7a3cbae62ab07:6dfef042bc766af59be2d3bc095403b0:1378694c875d5feb26ad4e92202f0353$</string>
            <key>textureFileName</key>
            <string>dash.png</string>
        </dict>
    </dict>
</plist>
