<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sortit/cake1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{437,157}</string>
                <key>spriteSourceSize</key>
                <string>{437,157}</string>
                <key>textureRect</key>
                <string>{{1384,359},{437,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/cake1t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{437,156}</string>
                <key>spriteSourceSize</key>
                <string>{437,156}</string>
                <key>textureRect</key>
                <string>{{804,554},{437,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/cake2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,133}</string>
                <key>spriteSourceSize</key>
                <string>{372,133}</string>
                <key>textureRect</key>
                <string>{{804,712},{372,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/cake2t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,133}</string>
                <key>spriteSourceSize</key>
                <string>{372,133}</string>
                <key>textureRect</key>
                <string>{{1873,1},{372,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/cake3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,111}</string>
                <key>spriteSourceSize</key>
                <string>{309,111}</string>
                <key>textureRect</key>
                <string>{{1243,555},{309,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/cake3t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,111}</string>
                <key>spriteSourceSize</key>
                <string>{309,111}</string>
                <key>textureRect</key>
                <string>{{1243,668},{309,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/cake4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,86}</string>
                <key>spriteSourceSize</key>
                <string>{241,86}</string>
                <key>textureRect</key>
                <string>{{1747,555},{241,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/cake4t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,86}</string>
                <key>spriteSourceSize</key>
                <string>{241,86}</string>
                <key>textureRect</key>
                <string>{{1835,467},{241,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/cake5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,137}</string>
                <key>spriteSourceSize</key>
                <string>{126,137}</string>
                <key>textureRect</key>
                <string>{{1330,837},{126,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/cake5t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,136}</string>
                <key>spriteSourceSize</key>
                <string>{126,136}</string>
                <key>textureRect</key>
                <string>{{1202,837},{126,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/character1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,477}</string>
                <key>spriteSourceSize</key>
                <string>{335,477}</string>
                <key>textureRect</key>
                <string>{{1,611},{335,477}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/character2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,470}</string>
                <key>spriteSourceSize</key>
                <string>{396,470}</string>
                <key>textureRect</key>
                <string>{{471,1},{396,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/character3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,457}</string>
                <key>spriteSourceSize</key>
                <string>{322,457}</string>
                <key>textureRect</key>
                <string>{{480,473},{322,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/character4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,608}</string>
                <key>spriteSourceSize</key>
                <string>{468,608}</string>
                <key>textureRect</key>
                <string>{{1,1},{468,608}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/clock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,191}</string>
                <key>spriteSourceSize</key>
                <string>{191,191}</string>
                <key>textureRect</key>
                <string>{{1554,555},{191,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/eyes_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{208,51}</string>
                <key>spriteSourceSize</key>
                <string>{214,55}</string>
                <key>textureRect</key>
                <string>{{1750,802},{208,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/eyes_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{210,27}</string>
                <key>spriteSourceSize</key>
                <string>{214,55}</string>
                <key>textureRect</key>
                <string>{{1785,855},{210,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/eyes_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{254,47}</string>
                <key>spriteSourceSize</key>
                <string>{272,61}</string>
                <key>textureRect</key>
                <string>{{1494,824},{254,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/eyes_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{244,29}</string>
                <key>spriteSourceSize</key>
                <string>{272,61}</string>
                <key>textureRect</key>
                <string>{{1469,929},{244,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/fridge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,502}</string>
                <key>spriteSourceSize</key>
                <string>{356,502}</string>
                <key>textureRect</key>
                <string>{{1369,1},{356,502}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/harpPlay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,498}</string>
                <key>spriteSourceSize</key>
                <string>{368,498}</string>
                <key>textureRect</key>
                <string>{{869,1},{368,498}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/stand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,181}</string>
                <key>spriteSourceSize</key>
                <string>{513,181}</string>
                <key>textureRect</key>
                <string>{{869,371},{513,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/string1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,431}</string>
                <key>spriteSourceSize</key>
                <string>{17,431}</string>
                <key>textureRect</key>
                <string>{{1,948},{17,431}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/string1t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,431}</string>
                <key>spriteSourceSize</key>
                <string>{17,431}</string>
                <key>textureRect</key>
                <string>{{1384,518},{17,431}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/string2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,405}</string>
                <key>spriteSourceSize</key>
                <string>{16,405}</string>
                <key>textureRect</key>
                <string>{{1384,537},{16,405}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/string2t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,405}</string>
                <key>spriteSourceSize</key>
                <string>{16,405}</string>
                <key>textureRect</key>
                <string>{{2008,1},{16,405}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/string3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,314}</string>
                <key>spriteSourceSize</key>
                <string>{19,314}</string>
                <key>textureRect</key>
                <string>{{480,932},{19,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/string3t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,314}</string>
                <key>spriteSourceSize</key>
                <string>{19,314}</string>
                <key>textureRect</key>
                <string>{{434,953},{19,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/string4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,225}</string>
                <key>spriteSourceSize</key>
                <string>{14,225}</string>
                <key>textureRect</key>
                <string>{{1923,467},{14,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/string4t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,225}</string>
                <key>spriteSourceSize</key>
                <string>{14,225}</string>
                <key>textureRect</key>
                <string>{{1939,467},{14,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/string5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,166}</string>
                <key>spriteSourceSize</key>
                <string>{13,166}</string>
                <key>textureRect</key>
                <string>{{1469,960},{13,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/string5t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,166}</string>
                <key>spriteSourceSize</key>
                <string>{13,166}</string>
                <key>textureRect</key>
                <string>{{1637,960},{13,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/string6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,123}</string>
                <key>spriteSourceSize</key>
                <string>{14,123}</string>
                <key>textureRect</key>
                <string>{{1974,699},{14,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/string6t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,123}</string>
                <key>spriteSourceSize</key>
                <string>{14,123}</string>
                <key>textureRect</key>
                <string>{{1990,699},{14,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/toy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,57}</string>
                <key>spriteSourceSize</key>
                <string>{396,57}</string>
                <key>textureRect</key>
                <string>{{804,847},{396,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/toy1t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,57}</string>
                <key>spriteSourceSize</key>
                <string>{396,57}</string>
                <key>textureRect</key>
                <string>{{804,906},{396,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/toy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,54}</string>
                <key>spriteSourceSize</key>
                <string>{314,54}</string>
                <key>textureRect</key>
                <string>{{1178,781},{314,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/toy2t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,54}</string>
                <key>spriteSourceSize</key>
                <string>{314,54}</string>
                <key>textureRect</key>
                <string>{{1469,873},{314,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/toy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,74}</string>
                <key>spriteSourceSize</key>
                <string>{189,74}</string>
                <key>textureRect</key>
                <string>{{1554,748},{189,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/toy3t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,74}</string>
                <key>spriteSourceSize</key>
                <string>{189,74}</string>
                <key>textureRect</key>
                <string>{{1962,408},{189,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/toy4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,90}</string>
                <key>spriteSourceSize</key>
                <string>{137,90}</string>
                <key>textureRect</key>
                <string>{{1823,375},{137,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/toy4t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,90}</string>
                <key>spriteSourceSize</key>
                <string>{137,90}</string>
                <key>textureRect</key>
                <string>{{1835,710},{137,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/toy5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,70}</string>
                <key>spriteSourceSize</key>
                <string>{98,70}</string>
                <key>textureRect</key>
                <string>{{1955,599},{98,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/toy5t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,70}</string>
                <key>spriteSourceSize</key>
                <string>{98,70}</string>
                <key>textureRect</key>
                <string>{{1785,884},{98,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/toy6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,58}</string>
                <key>spriteSourceSize</key>
                <string>{68,58}</string>
                <key>textureRect</key>
                <string>{{804,473},{68,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/toy6t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,58}</string>
                <key>spriteSourceSize</key>
                <string>{68,58}</string>
                <key>textureRect</key>
                <string>{{1885,884},{68,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sortit.png</string>
            <key>size</key>
            <string>{2037,974}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce372d0fbfebd8e27ae910412b459cd5:dbefdad6607935101ed470f7f1217869:adbb19eafc5ddac1579395ed2d404c0b$</string>
            <key>textureFileName</key>
            <string>sortit.png</string>
        </dict>
    </dict>
</plist>
