<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mke_Mti/apple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,81}</string>
                <key>spriteSourceSize</key>
                <string>{62,81}</string>
                <key>textureRect</key>
                <string>{{296,829},{62,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/apron.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,150}</string>
                <key>spriteSourceSize</key>
                <string>{107,150}</string>
                <key>textureRect</key>
                <string>{{254,902},{107,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/beadchain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,41}</string>
                <key>spriteSourceSize</key>
                <string>{59,41}</string>
                <key>textureRect</key>
                <string>{{363,999},{59,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/bulb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,114}</string>
                <key>spriteSourceSize</key>
                <string>{69,114}</string>
                <key>textureRect</key>
                <string>{{380,498},{69,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,114}</string>
                <key>spriteSourceSize</key>
                <string>{246,114}</string>
                <key>textureRect</key>
                <string>{{1,401},{246,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/chair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,229}</string>
                <key>spriteSourceSize</key>
                <string>{90,229}</string>
                <key>textureRect</key>
                <string>{{224,126},{90,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/cloudp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,31}</string>
                <key>spriteSourceSize</key>
                <string>{49,31}</string>
                <key>textureRect</key>
                <string>{{274,531},{49,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,221}</string>
                <key>spriteSourceSize</key>
                <string>{129,221}</string>
                <key>textureRect</key>
                <string>{{1,649},{129,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/drop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,12}</string>
                <key>spriteSourceSize</key>
                <string>{18,12}</string>
                <key>textureRect</key>
                <string>{{144,1061},{18,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/facebad1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,149}</string>
                <key>spriteSourceSize</key>
                <string>{162,149}</string>
                <key>textureRect</key>
                <string>{{132,751},{162,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/facebad2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,149}</string>
                <key>spriteSourceSize</key>
                <string>{162,149}</string>
                <key>textureRect</key>
                <string>{{158,1061},{162,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/faceold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,150}</string>
                <key>spriteSourceSize</key>
                <string>{160,150}</string>
                <key>textureRect</key>
                <string>{{309,1054},{160,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/faceold2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,150}</string>
                <key>spriteSourceSize</key>
                <string>{160,150}</string>
                <key>textureRect</key>
                <string>{{158,1225},{160,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/faceold4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,150}</string>
                <key>spriteSourceSize</key>
                <string>{160,150}</string>
                <key>textureRect</key>
                <string>{{320,1216},{160,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/facewood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,155}</string>
                <key>spriteSourceSize</key>
                <string>{173,155}</string>
                <key>textureRect</key>
                <string>{{1,1090},{173,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/facewood1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,155}</string>
                <key>spriteSourceSize</key>
                <string>{173,155}</string>
                <key>textureRect</key>
                <string>{{117,401},{173,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/facewood2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,155}</string>
                <key>spriteSourceSize</key>
                <string>{173,155}</string>
                <key>textureRect</key>
                <string>{{132,576},{173,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/farmer_shirt_sleave_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,29}</string>
                <key>spriteSourceSize</key>
                <string>{18,29}</string>
                <key>textureRect</key>
                <string>{{476,100},{18,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,7}</string>
                <key>spriteSourceSize</key>
                <string>{29,7}</string>
                <key>textureRect</key>
                <string>{{312,370},{29,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{418,355},{13,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,43}</string>
                <key>spriteSourceSize</key>
                <string>{7,43}</string>
                <key>textureRect</key>
                <string>{{224,218},{7,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/girl_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{93,872},{6,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,34}</string>
                <key>spriteSourceSize</key>
                <string>{17,34}</string>
                <key>textureRect</key>
                <string>{{424,1018},{17,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,68}</string>
                <key>spriteSourceSize</key>
                <string>{15,68}</string>
                <key>textureRect</key>
                <string>{{455,126},{15,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/girl_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,22}</string>
                <key>spriteSourceSize</key>
                <string>{5,22}</string>
                <key>textureRect</key>
                <string>{{254,1054},{5,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/hammer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,96}</string>
                <key>spriteSourceSize</key>
                <string>{47,96}</string>
                <key>textureRect</key>
                <string>{{402,704},{47,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/headring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,30}</string>
                <key>spriteSourceSize</key>
                <string>{115,30}</string>
                <key>textureRect</key>
                <string>{{461,569},{115,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/leaf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,49}</string>
                <key>spriteSourceSize</key>
                <string>{20,49}</string>
                <key>textureRect</key>
                <string>{{206,379},{20,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/log.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,216}</string>
                <key>spriteSourceSize</key>
                <string>{90,216}</string>
                <key>textureRect</key>
                <string>{{1,872},{90,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/mooncresent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,117}</string>
                <key>spriteSourceSize</key>
                <string>{112,117}</string>
                <key>textureRect</key>
                <string>{{1,1265},{112,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/motu_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{363,893},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/motu_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,36}</string>
                <key>spriteSourceSize</key>
                <string>{6,36}</string>
                <key>textureRect</key>
                <string>{{120,1345},{6,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/motu_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,41}</string>
                <key>spriteSourceSize</key>
                <string>{7,41}</string>
                <key>textureRect</key>
                <string>{{269,218},{7,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/motu_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,149}</string>
                <key>spriteSourceSize</key>
                <string>{104,149}</string>
                <key>textureRect</key>
                <string>{{289,569},{104,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/motu_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,8}</string>
                <key>spriteSourceSize</key>
                <string>{40,8}</string>
                <key>textureRect</key>
                <string>{{451,704},{40,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/pigeon_beak_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,33}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{461,686},{26,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/pigeon_beak_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,17}</string>
                <key>spriteSourceSize</key>
                <string>{39,17}</string>
                <key>textureRect</key>
                <string>{{424,999},{39,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/pigeon_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{250,123}</string>
                <key>spriteSourceSize</key>
                <string>{258,123}</string>
                <key>textureRect</key>
                <string>{{224,1},{250,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/pigeon_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{472,131},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/pigeon_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,157}</string>
                <key>spriteSourceSize</key>
                <string>{159,157}</string>
                <key>textureRect</key>
                <string>{{93,902},{159,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/pigeon_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{120,1265},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/pigeon_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{120,1305},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/pigeon_right_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,64}</string>
                <key>spriteSourceSize</key>
                <string>{133,64}</string>
                <key>textureRect</key>
                <string>{{395,569},{133,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/pigeon_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,104}</string>
                <key>spriteSourceSize</key>
                <string>{107,104}</string>
                <key>textureRect</key>
                <string>{{296,720},{107,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/pigeon_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,69}</string>
                <key>spriteSourceSize</key>
                <string>{135,69}</string>
                <key>textureRect</key>
                <string>{{418,218},{135,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/sheep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,126}</string>
                <key>spriteSourceSize</key>
                <string>{114,126}</string>
                <key>textureRect</key>
                <string>{{380,370},{114,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/shirt2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,150}</string>
                <key>spriteSourceSize</key>
                <string>{104,150}</string>
                <key>textureRect</key>
                <string>{{206,227},{104,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/shirt3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,150}</string>
                <key>spriteSourceSize</key>
                <string>{104,150}</string>
                <key>textureRect</key>
                <string>{{312,218},{104,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/stick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,40}</string>
                <key>spriteSourceSize</key>
                <string>{13,40}</string>
                <key>textureRect</key>
                <string>{{117,576},{13,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,224}</string>
                <key>spriteSourceSize</key>
                <string>{221,224}</string>
                <key>textureRect</key>
                <string>{{1,1},{221,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/tree_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,172}</string>
                <key>spriteSourceSize</key>
                <string>{203,172}</string>
                <key>textureRect</key>
                <string>{{1,227},{203,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/tribalhips1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{80,82}</string>
                <key>textureRect</key>
                <string>{{402,802},{80,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/upperhand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,49}</string>
                <key>spriteSourceSize</key>
                <string>{11,49}</string>
                <key>textureRect</key>
                <string>{{93,1061},{11,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/wave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,14}</string>
                <key>spriteSourceSize</key>
                <string>{97,14}</string>
                <key>textureRect</key>
                <string>{{476,1},{97,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/womanshirt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,150}</string>
                <key>spriteSourceSize</key>
                <string>{104,150}</string>
                <key>textureRect</key>
                <string>{{274,379},{104,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/z.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,26}</string>
                <key>spriteSourceSize</key>
                <string>{25,26}</string>
                <key>textureRect</key>
                <string>{{469,886},{25,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mke_Mti.png</string>
            <key>size</key>
            <string>{495,1378}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b5017f48d48b2de3109c208c8a54b71:9ae6f691113f06d63128c99691d3c809:d29e218dd5f6fe100871b75fbd79d910$</string>
            <key>textureFileName</key>
            <string>Mke_Mti.png</string>
        </dict>
    </dict>
</plist>
