<plist version="1.0">
    <dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>category_names</key>
        <array>
        </array>
        <key>bodies</key>
        <dict>

            <key>grass_desk</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50026,0.50000 }</string>
                <key>is_dynamic</key>
                <false />
                <key>affected_by_gravity</key>
                <false />
                <key>allows_rotation</key>
                <false />
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1000000</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1000000</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>2</real>
                        <key>restitution</key>
                        <real>0.20000000000000001</real>
                        <key>friction</key>
                        <real>0.69999999999999996</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>2</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 477.25000,64.50000 }</string>
                                <string>{ 477.25000,30.00000 }</string>
                                <string>{ -477.75000,30.00000 }</string>
                                <string>{ -477.75000,64.50000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>doghouse</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50073,0.49941 }</string>
                <key>is_dynamic</key>
                <false />
                <key>affected_by_gravity</key>
                <false />
                <key>allows_rotation</key>
                <false />
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1000000</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1000000</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.200000003</real>
                        <key>friction</key>
                        <real>0.699999988</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>2</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ -2.75000,188.25000 }</string>
                                <string>{ -3.25000,211.25000 }</string>
                                <string>{ 170.75000,104.25000 }</string>
                                <string>{ 158.75000,88.75000 }</string>
                            </array>
                            <array>
                                <string>{ -2.75000,188.25000 }</string>
                                <string>{ -159.75000,92.25000 }</string>
                                <string>{ -169.25000,105.75000 }</string>
                                <string>{ -3.25000,211.25000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>grass_square</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.49800 }</string>
                <key>is_dynamic</key>
                <false />
                <key>affected_by_gravity</key>
                <false />
                <key>allows_rotation</key>
                <false />
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1000000</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1000000</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.200000003</real>
                        <key>friction</key>
                        <real>0.699999988</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>2</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ -82.00000,51.25000 }</string>
                                <string>{ 107.00000,51.25000 }</string>
                                <string>{ 85.50000,31.75000 }</string>
                                <string>{ -116.50000,31.25000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>waterdesk</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>is_dynamic</key>
                <false />
                <key>affected_by_gravity</key>
                <false />
                <key>allows_rotation</key>
                <false />
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1000000</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1000000</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.200000003</real>
                        <key>friction</key>
                        <real>0.699999988</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>2</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 154.00000,89.50000 }</string>
                                <string>{ 154.00000,61.00000 }</string>
                                <string>{ -155.00000,61.00000 }</string>
                                <string>{ -155.00000,89.50000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>cart</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50100,0.50000 }</string>
                <key>is_dynamic</key>
                <false />
                <key>affected_by_gravity</key>
                <false />
                <key>allows_rotation</key>
                <false />
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1000000</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1000000</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.200000003</real>
                        <key>friction</key>
                        <real>0.699999988</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>2</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 53.25000,48.50000 }</string>
                                <string>{ -122.25000,48.50000 }</string>
                                <string>{ -122.25000,56.00000 }</string>
                                <string>{ 54.25000,56.00000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>cart1</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50062,0.49900 }</string>
                <key>is_dynamic</key>
                <false />
                <key>affected_by_gravity</key>
                <false />
                <key>allows_rotation</key>
                <false />
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1000000</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1000000</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.200000003</real>
                        <key>friction</key>
                        <real>0.699999988</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>2</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 201.75000,42.25000 }</string>
                                <string>{ -136.75000,42.75000 }</string>
                                <string>{ -136.75000,62.75000 }</string>
                                <string>{ 201.75000,63.25000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>cabin_animal</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.49962,0.50000 }</string>
                <key>is_dynamic</key>
                <false />
                <key>affected_by_gravity</key>
                <false />
                <key>allows_rotation</key>
                <false />
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1000000</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1000000</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.20000000000000001</real>
                        <key>friction</key>
                        <real>0.69999999999999996</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>2</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ -259.25000,-85.50000 }</string>
                                <string>{ -19.75000,-85.00000 }</string>
                                <string>{ -20.75000,-105.00000 }</string>
                                <string>{ -259.25000,-105.50000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>floor</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.49892 }</string>
                <key>is_dynamic</key>
                <false />
                <key>affected_by_gravity</key>
                <false />
                <key>allows_rotation</key>
                <false />
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1000000</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1000000</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.200000003</real>
                        <key>friction</key>
                        <real>0.699999988</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>3</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>1</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 639.25000,-16.75000 }</string>
                                <string>{ 639.25000,-115.75000 }</string>
                                <string>{ -640.25000,-117.25000 }</string>
                                <string>{ -641.25000,-16.25000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

        </dict>
    </dict>
</plist>