<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>farmhouse/farmhouse1/backgrass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,241}</string>
                <key>spriteSourceSize</key>
                <string>{375,241}</string>
                <key>textureRect</key>
                <string>{{3178,1},{375,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/barnhouse_door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{529,378}</string>
                <key>spriteSourceSize</key>
                <string>{529,378}</string>
                <key>textureRect</key>
                <string>{{1358,631},{529,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/barnhouse_door1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{625,130}</string>
                <key>spriteSourceSize</key>
                <string>{625,130}</string>
                <key>textureRect</key>
                <string>{{1705,1},{625,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/barnhouse_door2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,332}</string>
                <key>spriteSourceSize</key>
                <string>{196,332}</string>
                <key>textureRect</key>
                <string>{{3255,555},{196,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/basket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,81}</string>
                <key>spriteSourceSize</key>
                <string>{64,81}</string>
                <key>textureRect</key>
                <string>{{2541,483},{64,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/big_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{771,845}</string>
                <key>spriteSourceSize</key>
                <string>{771,845}</string>
                <key>textureRect</key>
                <string>{{1,1},{771,845}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/bucket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,113}</string>
                <key>spriteSourceSize</key>
                <string>{105,113}</string>
                <key>textureRect</key>
                <string>{{1837,513},{105,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/cart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,195}</string>
                <key>spriteSourceSize</key>
                <string>{401,195}</string>
                <key>textureRect</key>
                <string>{{2524,593},{401,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/cart_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,195}</string>
                <key>spriteSourceSize</key>
                <string>{413,195}</string>
                <key>textureRect</key>
                <string>{{2327,593},{413,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{543,150}</string>
                <key>spriteSourceSize</key>
                <string>{543,150}</string>
                <key>textureRect</key>
                <string>{{244,848},{543,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,143}</string>
                <key>spriteSourceSize</key>
                <string>{378,143}</string>
                <key>textureRect</key>
                <string>{{1889,628},{378,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/colortree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{502,628}</string>
                <key>spriteSourceSize</key>
                <string>{502,628}</string>
                <key>textureRect</key>
                <string>{{1201,1},{502,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/farm_house_door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,293}</string>
                <key>spriteSourceSize</key>
                <string>{191,293}</string>
                <key>textureRect</key>
                <string>{{3255,753},{191,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/farm_house_door_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,303}</string>
                <key>spriteSourceSize</key>
                <string>{214,303}</string>
                <key>textureRect</key>
                <string>{{2926,379},{214,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/frontgrass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,100}</string>
                <key>spriteSourceSize</key>
                <string>{258,100}</string>
                <key>textureRect</key>
                <string>{{2281,491},{258,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/granary_door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,285}</string>
                <key>spriteSourceSize</key>
                <string>{488,285}</string>
                <key>textureRect</key>
                <string>{{2163,1},{488,285}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/granary_door_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,260}</string>
                <key>spriteSourceSize</key>
                <string>{227,260}</string>
                <key>textureRect</key>
                <string>{{789,785},{227,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/granaryhouse1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,782}</string>
                <key>spriteSourceSize</key>
                <string>{340,782}</string>
                <key>textureRect</key>
                <string>{{774,1},{340,782}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/green_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1218,751},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/hill1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,309}</string>
                <key>spriteSourceSize</key>
                <string>{333,309}</string>
                <key>textureRect</key>
                <string>{{3178,244},{333,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/hill2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,376}</string>
                <key>spriteSourceSize</key>
                <string>{374,376}</string>
                <key>textureRect</key>
                <string>{{2802,1},{374,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/hut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,510}</string>
                <key>spriteSourceSize</key>
                <string>{324,510}</string>
                <key>textureRect</key>
                <string>{{1837,1},{324,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/mango.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,50}</string>
                <key>spriteSourceSize</key>
                <string>{29,50}</string>
                <key>textureRect</key>
                <string>{{1116,754},{29,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/milkbottle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,111}</string>
                <key>spriteSourceSize</key>
                <string>{49,111}</string>
                <key>textureRect</key>
                <string>{{1944,513},{49,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/power_house_door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,172}</string>
                <key>spriteSourceSize</key>
                <string>{108,172}</string>
                <key>textureRect</key>
                <string>{{1995,513},{108,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/red_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1252,751},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/sky_pattern2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{751,83}</string>
                <key>spriteSourceSize</key>
                <string>{751,83}</string>
                <key>textureRect</key>
                <string>{{1116,1},{751,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/small_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,241}</string>
                <key>spriteSourceSize</key>
                <string>{163,241}</string>
                <key>textureRect</key>
                <string>{{1,848},{163,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/stone1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,49}</string>
                <key>spriteSourceSize</key>
                <string>{77,49}</string>
                <key>textureRect</key>
                <string>{{2450,434},{77,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/stone2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,35}</string>
                <key>spriteSourceSize</key>
                <string>{56,35}</string>
                <key>textureRect</key>
                <string>{{1282,709},{56,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/stone3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,47}</string>
                <key>spriteSourceSize</key>
                <string>{90,47}</string>
                <key>textureRect</key>
                <string>{{2529,434},{90,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/tool1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,123}</string>
                <key>spriteSourceSize</key>
                <string>{35,123}</string>
                <key>textureRect</key>
                <string>{{2207,491},{35,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/tool2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,123}</string>
                <key>spriteSourceSize</key>
                <string>{35,123}</string>
                <key>textureRect</key>
                <string>{{2244,491},{35,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/tool3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,124}</string>
                <key>spriteSourceSize</key>
                <string>{36,124}</string>
                <key>textureRect</key>
                <string>{{2169,491},{36,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/tool4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,48}</string>
                <key>spriteSourceSize</key>
                <string>{21,48}</string>
                <key>textureRect</key>
                <string>{{1168,754},{21,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/tool5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,79}</string>
                <key>spriteSourceSize</key>
                <string>{40,79}</string>
                <key>textureRect</key>
                <string>{{1201,709},{40,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/tractor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,350}</string>
                <key>spriteSourceSize</key>
                <string>{431,350}</string>
                <key>textureRect</key>
                <string>{{2450,1},{431,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/tractor1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,203}</string>
                <key>spriteSourceSize</key>
                <string>{396,203}</string>
                <key>textureRect</key>
                <string>{{2721,557},{396,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse1/vegetable_cart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,225}</string>
                <key>spriteSourceSize</key>
                <string>{305,225}</string>
                <key>textureRect</key>
                <string>{{1051,785},{305,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/waterbottle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,76}</string>
                <key>spriteSourceSize</key>
                <string>{131,76}</string>
                <key>textureRect</key>
                <string>{{1218,631},{131,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/well.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,385}</string>
                <key>spriteSourceSize</key>
                <string>{291,385}</string>
                <key>textureRect</key>
                <string>{{2034,623},{291,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/wind_meal_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,327}</string>
                <key>spriteSourceSize</key>
                <string>{327,327}</string>
                <key>textureRect</key>
                <string>{{2926,684},{327,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse1/wind_meal_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,72}</string>
                <key>spriteSourceSize</key>
                <string>{203,72}</string>
                <key>textureRect</key>
                <string>{{2607,483},{203,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>farmhouse1.png</string>
            <key>size</key>
            <string>{3588,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0d213bc9edc005fc798ed27d7c289d8:811586c56d3d54762ce72f6a2d1b111d:d00a9851a5a9385e19bd7bbd97dda59e$</string>
            <key>textureFileName</key>
            <string>farmhouse1.png</string>
        </dict>
    </dict>
</plist>
