<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>city1_bagpack/bag_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{638,258}</string>
                <key>spriteSourceSize</key>
                <string>{638,258}</string>
                <key>textureRect</key>
                <string>{{1,151},{638,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city1_bagpack/bag_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{590,200}</string>
                <key>spriteSourceSize</key>
                <string>{590,200}</string>
                <key>textureRect</key>
                <string>{{261,151},{590,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city1_bagpack/box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{99,857},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city1_bagpack/box_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{165,857},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city1_bagpack/click_cross.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{297,857},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city1_bagpack/cross.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{327,743},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city1_bagpack/extinguisher.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{408,743},{36,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city1_bagpack/extinguisher_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{408,781},{36,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city1_bagpack/headphone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,42}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{325,791},{64,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city1_bagpack/headphone_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,42}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{342,857},{64,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city1_bagpack/medicalbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{99,791},{58,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city1_bagpack/medicalbox_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{159,791},{58,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city1_bagpack/mike.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{219,791},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city1_bagpack/mike_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{231,857},{56,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city1_bagpack/note.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,28}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{408,883},{64,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city1_bagpack/note_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,28}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{369,788},{64,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city1_bagpack/paper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{471,148}</string>
                <key>spriteSourceSize</key>
                <string>{471,148}</string>
                <key>textureRect</key>
                <string>{{1,1},{471,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city1_bagpack/phone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{261,743},{64,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city1_bagpack/phone_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{277,791},{64,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city1_bagpack/post.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,30}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{408,819},{64,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city1_bagpack/post_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,30}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{408,851},{64,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city1_bagpack/pouch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,96}</string>
                <key>spriteSourceSize</key>
                <string>{113,96}</string>
                <key>textureRect</key>
                <string>{{1,791},{113,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>city1_bagpack.png</string>
            <key>size</key>
            <string>{473,916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c849d318c4a709cc6ac1104eba940ea:102a3b140489ac45cae292f4490cf307:df5e70f4e655bba5f568d0fd91e3da02$</string>
            <key>textureFileName</key>
            <string>city1_bagpack.png</string>
        </dict>
    </dict>
</plist>
