<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>faceavatar/bgball1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,304}</string>
                <key>spriteSourceSize</key>
                <string>{304,304}</string>
                <key>textureRect</key>
                <string>{{1,1},{304,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/bgball2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,304}</string>
                <key>spriteSourceSize</key>
                <string>{304,304}</string>
                <key>textureRect</key>
                <string>{{307,1},{304,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/bgball3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,304}</string>
                <key>spriteSourceSize</key>
                <string>{304,304}</string>
                <key>textureRect</key>
                <string>{{613,1},{304,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,75}</string>
                <key>spriteSourceSize</key>
                <string>{114,75}</string>
                <key>textureRect</key>
                <string>{{1663,348},{114,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/eye1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,41}</string>
                <key>spriteSourceSize</key>
                <string>{115,41}</string>
                <key>textureRect</key>
                <string>{{1651,231},{115,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/eye2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,32}</string>
                <key>spriteSourceSize</key>
                <string>{105,32}</string>
                <key>textureRect</key>
                <string>{{1663,464},{105,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eye3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,31}</string>
                <key>spriteSourceSize</key>
                <string>{122,31}</string>
                <key>textureRect</key>
                <string>{{1614,368},{122,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/eye4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,35}</string>
                <key>spriteSourceSize</key>
                <string>{148,35}</string>
                <key>textureRect</key>
                <string>{{1655,1},{148,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/eye5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,39}</string>
                <key>spriteSourceSize</key>
                <string>{135,39}</string>
                <key>textureRect</key>
                <string>{{1574,231},{135,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/eye6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,44}</string>
                <key>spriteSourceSize</key>
                <string>{139,44}</string>
                <key>textureRect</key>
                <string>{{1692,1},{139,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/eyeballs1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,26}</string>
                <key>spriteSourceSize</key>
                <string>{91,26}</string>
                <key>textureRect</key>
                <string>{{960,473},{91,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyeballs2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,26}</string>
                <key>spriteSourceSize</key>
                <string>{89,26}</string>
                <key>textureRect</key>
                <string>{{1779,113},{89,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/eyeballs3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,26}</string>
                <key>spriteSourceSize</key>
                <string>{90,26}</string>
                <key>textureRect</key>
                <string>{{1805,299},{90,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyeballs4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,26}</string>
                <key>spriteSourceSize</key>
                <string>{90,26}</string>
                <key>textureRect</key>
                <string>{{1835,327},{90,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/eyeballs5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,26}</string>
                <key>spriteSourceSize</key>
                <string>{90,26}</string>
                <key>textureRect</key>
                <string>{{1863,327},{90,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/eyeballs6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,26}</string>
                <key>spriteSourceSize</key>
                <string>{90,26}</string>
                <key>textureRect</key>
                <string>{{1891,327},{90,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/eyeballsnormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{1980,1},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyeballspressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1066,243},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyebrow1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,15}</string>
                <key>spriteSourceSize</key>
                <string>{118,15}</string>
                <key>textureRect</key>
                <string>{{370,486},{118,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyebrow2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,16}</string>
                <key>spriteSourceSize</key>
                <string>{110,16}</string>
                <key>textureRect</key>
                <string>{{545,483},{110,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyebrow3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,14}</string>
                <key>spriteSourceSize</key>
                <string>{119,14}</string>
                <key>textureRect</key>
                <string>{{1647,368},{119,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/eyebrow4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,11}</string>
                <key>spriteSourceSize</key>
                <string>{119,11}</string>
                <key>textureRect</key>
                <string>{{129,490},{119,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyebrow5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,11}</string>
                <key>spriteSourceSize</key>
                <string>{118,11}</string>
                <key>textureRect</key>
                <string>{{250,490},{118,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyebrow6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,8}</string>
                <key>spriteSourceSize</key>
                <string>{126,8}</string>
                <key>textureRect</key>
                <string>{{1541,221},{126,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyebrownormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{1919,1},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyebrowpressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1294,233},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyenormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{1980,57},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyepressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1356,233},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyewear1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,22}</string>
                <key>spriteSourceSize</key>
                <string>{52,22}</string>
                <key>textureRect</key>
                <string>{{1740,437},{52,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyewear2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,63}</string>
                <key>spriteSourceSize</key>
                <string>{164,63}</string>
                <key>textureRect</key>
                <string>{{1128,237},{164,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyewear3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,79}</string>
                <key>spriteSourceSize</key>
                <string>{167,79}</string>
                <key>textureRect</key>
                <string>{{781,307},{167,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/eyewear4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,54}</string>
                <key>spriteSourceSize</key>
                <string>{169,54}</string>
                <key>textureRect</key>
                <string>{{725,307},{169,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/eyewear5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,45}</string>
                <key>spriteSourceSize</key>
                <string>{157,45}</string>
                <key>textureRect</key>
                <string>{{1004,305},{157,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/eyewear6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,44}</string>
                <key>spriteSourceSize</key>
                <string>{158,44}</string>
                <key>textureRect</key>
                <string>{{1414,457},{158,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyewearnormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{1738,57},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyewearpressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1655,151},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/facecolornormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{1738,1},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/facecolorpressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1717,142},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/faceshape1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,140}</string>
                <key>spriteSourceSize</key>
                <string>{218,140}</string>
                <key>textureRect</key>
                <string>{{1513,1},{218,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/faceshape2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,140}</string>
                <key>spriteSourceSize</key>
                <string>{164,140}</string>
                <key>textureRect</key>
                <string>{{862,307},{164,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/faceshape3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,141}</string>
                <key>spriteSourceSize</key>
                <string>{199,141}</string>
                <key>textureRect</key>
                <string>{{1197,302},{199,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/faceshape4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,142}</string>
                <key>spriteSourceSize</key>
                <string>{177,142}</string>
                <key>textureRect</key>
                <string>{{299,307},{177,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/faceshape5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,126}</string>
                <key>spriteSourceSize</key>
                <string>{186,126}</string>
                <key>textureRect</key>
                <string>{{1,307},{186,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/faceshape6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,142}</string>
                <key>spriteSourceSize</key>
                <string>{196,142}</string>
                <key>textureRect</key>
                <string>{{1053,305},{196,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/faceshapenormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{1794,57},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/faceshapepressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1794,437},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/facewearnormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{1794,1},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/facewearpressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1856,419},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/finish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{1807,113},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/finishpressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,93}</string>
                <key>spriteSourceSize</key>
                <string>{93,93}</string>
                <key>textureRect</key>
                <string>{{1718,204},{93,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/hair1back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,120}</string>
                <key>spriteSourceSize</key>
                <string>{181,120}</string>
                <key>textureRect</key>
                <string>{{129,307},{181,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/hair1front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,72}</string>
                <key>spriteSourceSize</key>
                <string>{201,72}</string>
                <key>textureRect</key>
                <string>{{1340,295},{201,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/hair2back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,197}</string>
                <key>spriteSourceSize</key>
                <string>{240,197}</string>
                <key>textureRect</key>
                <string>{{919,1},{240,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/hair2front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,38}</string>
                <key>spriteSourceSize</key>
                <string>{122,38}</string>
                <key>textureRect</key>
                <string>{{1574,368},{122,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/hair3back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,229}</string>
                <key>spriteSourceSize</key>
                <string>{230,229}</string>
                <key>textureRect</key>
                <string>{{1282,1},{230,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/hair3front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,60}</string>
                <key>spriteSourceSize</key>
                <string>{145,60}</string>
                <key>textureRect</key>
                <string>{{919,243},{145,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/hair4back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,174}</string>
                <key>spriteSourceSize</key>
                <string>{230,174}</string>
                <key>textureRect</key>
                <string>{{443,307},{230,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/hair4front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,34}</string>
                <key>spriteSourceSize</key>
                <string>{135,34}</string>
                <key>textureRect</key>
                <string>{{1615,231},{135,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/hair5back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,162}</string>
                <key>spriteSourceSize</key>
                <string>{234,162}</string>
                <key>textureRect</key>
                <string>{{1118,1},{234,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/hair5front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,48}</string>
                <key>spriteSourceSize</key>
                <string>{171,48}</string>
                <key>textureRect</key>
                <string>{{675,307},{171,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/hair6back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,154}</string>
                <key>spriteSourceSize</key>
                <string>{222,154}</string>
                <key>textureRect</key>
                <string>{{1418,233},{222,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/hair6front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,46}</string>
                <key>spriteSourceSize</key>
                <string>{178,46}</string>
                <key>textureRect</key>
                <string>{{251,307},{178,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/haircolornormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{1850,57},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/haircolorpressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1918,419},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/hairnormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{1850,1},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/hairpressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1979,169},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/headwearnormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{1919,57},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/headwearpressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1975,231},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/mouth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,22}</string>
                <key>spriteSourceSize</key>
                <string>{95,22}</string>
                <key>textureRect</key>
                <string>{{1694,213},{95,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/mouth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,28}</string>
                <key>spriteSourceSize</key>
                <string>{69,28}</string>
                <key>textureRect</key>
                <string>{{876,473},{69,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/mouth3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,24}</string>
                <key>spriteSourceSize</key>
                <string>{88,24}</string>
                <key>textureRect</key>
                <string>{{786,476},{88,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/mouth4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,31}</string>
                <key>spriteSourceSize</key>
                <string>{19,31}</string>
                <key>textureRect</key>
                <string>{{1694,310},{19,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/mouth5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,30}</string>
                <key>spriteSourceSize</key>
                <string>{88,30}</string>
                <key>textureRect</key>
                <string>{{1715,310},{88,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/mouth6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,18}</string>
                <key>spriteSourceSize</key>
                <string>{53,18}</string>
                <key>textureRect</key>
                <string>{{490,483},{53,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/mouthnormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{1980,113},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/mouthpressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1975,293},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/neckwearnormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{1919,199},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/neckwearpressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1919,355},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/nose1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,34}</string>
                <key>spriteSourceSize</key>
                <string>{19,34}</string>
                <key>textureRect</key>
                <string>{{683,480},{19,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/nose2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,15}</string>
                <key>spriteSourceSize</key>
                <string>{24,15}</string>
                <key>textureRect</key>
                <string>{{657,483},{24,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/nose3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{753,478},{23,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/nose4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,27}</string>
                <key>spriteSourceSize</key>
                <string>{11,27}</string>
                <key>textureRect</key>
                <string>{{947,473},{11,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/nose5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,26}</string>
                <key>spriteSourceSize</key>
                <string>{10,26}</string>
                <key>textureRect</key>
                <string>{{1513,221},{10,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/nose6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,32}</string>
                <key>spriteSourceSize</key>
                <string>{19,32}</string>
                <key>textureRect</key>
                <string>{{719,480},{19,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/nosenormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{1919,255},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/nosepressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1813,199},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/shuffle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{1893,113},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/shufflepressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,93}</string>
                <key>spriteSourceSize</key>
                <string>{93,93}</string>
                <key>textureRect</key>
                <string>{{1740,342},{93,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>faceavatar.png</string>
            <key>size</key>
            <string>{2040,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eceb27c1dd52c21de0d62eceeec73b66:153bf558623455f3cbe6f402d2e3f3ea:d0e37c5d72e1b320a6b3c587a5a8550d$</string>
            <key>textureFileName</key>
            <string>faceavatar.png</string>
        </dict>
    </dict>
</plist>
