<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>parlour/brushes1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,208}</string>
                <key>spriteSourceSize</key>
                <string>{136,208}</string>
                <key>textureRect</key>
                <string>{{3761,745},{136,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/brushes2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,229}</string>
                <key>spriteSourceSize</key>
                <string>{127,229}</string>
                <key>textureRect</key>
                <string>{{757,719},{127,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/chair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,678}</string>
                <key>spriteSourceSize</key>
                <string>{498,678}</string>
                <key>textureRect</key>
                <string>{{2741,1},{498,678}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/combs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,190}</string>
                <key>spriteSourceSize</key>
                <string>{160,190}</string>
                <key>textureRect</key>
                <string>{{2438,431},{160,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/compact1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,105}</string>
                <key>spriteSourceSize</key>
                <string>{91,105}</string>
                <key>textureRect</key>
                <string>{{2910,825},{91,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/compact2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{116,166}</string>
                <key>spriteSourceSize</key>
                <string>{124,168}</string>
                <key>textureRect</key>
                <string>{{2455,825},{116,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/compact3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,93}</string>
                <key>spriteSourceSize</key>
                <string>{87,93}</string>
                <key>textureRect</key>
                <string>{{3162,866},{87,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/cream.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,82}</string>
                <key>spriteSourceSize</key>
                <string>{153,82}</string>
                <key>textureRect</key>
                <string>{{2623,825},{153,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,648}</string>
                <key>spriteSourceSize</key>
                <string>{389,648}</string>
                <key>textureRect</key>
                <string>{{3421,1},{389,648}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/flower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,130}</string>
                <key>spriteSourceSize</key>
                <string>{80,130}</string>
                <key>textureRect</key>
                <string>{{2778,825},{80,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/flower_pot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,392}</string>
                <key>spriteSourceSize</key>
                <string>{363,392}</string>
                <key>textureRect</key>
                <string>{{3024,501},{363,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/flower_table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,245}</string>
                <key>spriteSourceSize</key>
                <string>{341,245}</string>
                <key>textureRect</key>
                <string>{{3418,745},{341,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/foundations.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,143}</string>
                <key>spriteSourceSize</key>
                <string>{200,143}</string>
                <key>textureRect</key>
                <string>{{2455,623},{200,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/heater.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,986}</string>
                <key>spriteSourceSize</key>
                <string>{384,986}</string>
                <key>textureRect</key>
                <string>{{905,1},{384,986}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/light1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,754}</string>
                <key>spriteSourceSize</key>
                <string>{276,754}</string>
                <key>textureRect</key>
                <string>{{1,719},{276,754}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/light2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,591}</string>
                <key>spriteSourceSize</key>
                <string>{222,591}</string>
                <key>textureRect</key>
                <string>{{1862,725},{222,591}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/lip_gloss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,143}</string>
                <key>spriteSourceSize</key>
                <string>{59,143}</string>
                <key>textureRect</key>
                <string>{{3017,866},{59,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/mascara.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,140}</string>
                <key>spriteSourceSize</key>
                <string>{49,140}</string>
                <key>textureRect</key>
                <string>{{1862,949},{49,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/mirror.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,422}</string>
                <key>spriteSourceSize</key>
                <string>{322,422}</string>
                <key>textureRect</key>
                <string>{{2600,501},{322,422}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/pencils.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,90}</string>
                <key>spriteSourceSize</key>
                <string>{37,90}</string>
                <key>textureRect</key>
                <string>{{4032,392},{37,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/shelf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{467,58}</string>
                <key>spriteSourceSize</key>
                <string>{467,58}</string>
                <key>textureRect</key>
                <string>{{3418,685},{467,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/sink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,612}</string>
                <key>spriteSourceSize</key>
                <string>{316,612}</string>
                <key>textureRect</key>
                <string>{{1544,387},{316,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/sofa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,570}</string>
                <key>spriteSourceSize</key>
                <string>{637,570}</string>
                <key>textureRect</key>
                <string>{{905,387},{637,570}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/straightener.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,32}</string>
                <key>spriteSourceSize</key>
                <string>{197,32}</string>
                <key>textureRect</key>
                <string>{{3998,392},{197,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{846,428}</string>
                <key>spriteSourceSize</key>
                <string>{846,428}</string>
                <key>textureRect</key>
                <string>{{1893,1},{846,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/tile1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,574}</string>
                <key>spriteSourceSize</key>
                <string>{292,574}</string>
                <key>textureRect</key>
                <string>{{1862,431},{292,574}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/tile2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,575}</string>
                <key>spriteSourceSize</key>
                <string>{291,575}</string>
                <key>textureRect</key>
                <string>{{3421,392},{291,575}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{902,716}</string>
                <key>spriteSourceSize</key>
                <string>{902,716}</string>
                <key>textureRect</key>
                <string>{{1,1},{902,716}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>parlour.png</string>
            <key>size</key>
            <string>{4070,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f908f6a207a1c3152e4ce6d74c3e1fff:eea2ca314670dde7801a77d3f89cba89:0932a032998bdca5e0ae1bbb3c08167b$</string>
            <key>textureFileName</key>
            <string>parlour.png</string>
        </dict>
    </dict>
</plist>
