<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>owlcity/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{193,229}</string>
                <key>spriteSourceSize</key>
                <string>{195,229}</string>
                <key>textureRect</key>
                <string>{{1,1371},{193,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/body_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{194,229}</string>
                <key>spriteSourceSize</key>
                <string>{196,229}</string>
                <key>textureRect</key>
                <string>{{1,1175},{194,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/closeeye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,52}</string>
                <key>spriteSourceSize</key>
                <string>{61,52}</string>
                <key>textureRect</key>
                <string>{{262,1035},{61,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/closeeye_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,51}</string>
                <key>spriteSourceSize</key>
                <string>{61,51}</string>
                <key>textureRect</key>
                <string>{{262,1143},{61,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/downbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{519,484}</string>
                <key>spriteSourceSize</key>
                <string>{519,484}</string>
                <key>textureRect</key>
                <string>{{1,1},{519,484}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/greenbase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1119,192}</string>
                <key>spriteSourceSize</key>
                <string>{1119,192}</string>
                <key>textureRect</key>
                <string>{{1,1566},{1119,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/openeye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,52}</string>
                <key>spriteSourceSize</key>
                <string>{61,52}</string>
                <key>textureRect</key>
                <string>{{262,1089},{61,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/openeye_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,51}</string>
                <key>spriteSourceSize</key>
                <string>{61,51}</string>
                <key>textureRect</key>
                <string>{{426,1398},{61,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/orangebase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1120,192}</string>
                <key>spriteSourceSize</key>
                <string>{1120,192}</string>
                <key>textureRect</key>
                <string>{{232,1398},{1120,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/smallbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,133}</string>
                <key>spriteSourceSize</key>
                <string>{154,133}</string>
                <key>textureRect</key>
                <string>{{232,1196},{154,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/smallbar_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,132}</string>
                <key>spriteSourceSize</key>
                <string>{154,132}</string>
                <key>textureRect</key>
                <string>{{377,662},{154,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/tringle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,127}</string>
                <key>spriteSourceSize</key>
                <string>{337,127}</string>
                <key>textureRect</key>
                <string>{{1,906},{337,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/wings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,116}</string>
                <key>spriteSourceSize</key>
                <string>{44,116}</string>
                <key>textureRect</key>
                <string>{{232,1352},{44,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/wings_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,116}</string>
                <key>spriteSourceSize</key>
                <string>{43,116}</string>
                <key>textureRect</key>
                <string>{{375,2520},{43,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/zebracross1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,29}</string>
                <key>spriteSourceSize</key>
                <string>{126,29}</string>
                <key>textureRect</key>
                <string>{{474,522},{126,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/zebracross2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,102}</string>
                <key>spriteSourceSize</key>
                <string>{374,102}</string>
                <key>textureRect</key>
                <string>{{1,662},{374,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/zebracross3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,138}</string>
                <key>spriteSourceSize</key>
                <string>{578,138}</string>
                <key>textureRect</key>
                <string>{{368,818},{578,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/zebracross4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{471,138}</string>
                <key>spriteSourceSize</key>
                <string>{471,138}</string>
                <key>textureRect</key>
                <string>{{1,522},{471,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/zebracross5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,138}</string>
                <key>spriteSourceSize</key>
                <string>{365,138}</string>
                <key>textureRect</key>
                <string>{{1,766},{365,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/zebracross6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,138}</string>
                <key>spriteSourceSize</key>
                <string>{259,138}</string>
                <key>textureRect</key>
                <string>{{1,1035},{259,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/zebracross7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,138}</string>
                <key>spriteSourceSize</key>
                <string>{178,138}</string>
                <key>textureRect</key>
                <string>{{195,2520},{178,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>owlcity.png</string>
            <key>size</key>
            <string>{510,2686}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:420336f7dc208db0c4ee2142569459d7:e243b0e93b73005617e90cdc80c005b9:a5e1564aa53673af59cb33f47f0bac03$</string>
            <key>textureFileName</key>
            <string>owlcity.png</string>
        </dict>
    </dict>
</plist>
