<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animation/animationb/Priest_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,599}</string>
                <key>spriteSourceSize</key>
                <string>{429,599}</string>
                <key>textureRect</key>
                <string>{{1343,1055},{429,599}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/astronaut_glove_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,137}</string>
                <key>spriteSourceSize</key>
                <string>{77,137}</string>
                <key>textureRect</key>
                <string>{{723,3732},{77,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/animationb/astronaut_glove_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,137}</string>
                <key>spriteSourceSize</key>
                <string>{77,137}</string>
                <key>textureRect</key>
                <string>{{723,3732},{77,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/animationb/astronaut_shirt_sleave_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,169}</string>
                <key>spriteSourceSize</key>
                <string>{60,169}</string>
                <key>textureRect</key>
                <string>{{130,3620},{60,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/astronaut_shirt_sleave_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,268}</string>
                <key>spriteSourceSize</key>
                <string>{63,268}</string>
                <key>textureRect</key>
                <string>{{436,3463},{63,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/astronaut_shoe_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,44}</string>
                <key>spriteSourceSize</key>
                <string>{157,44}</string>
                <key>textureRect</key>
                <string>{{390,3620},{157,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/animationb/astronaut_shoe_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,44}</string>
                <key>spriteSourceSize</key>
                <string>{157,44}</string>
                <key>textureRect</key>
                <string>{{436,3733},{157,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/barber_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,96}</string>
                <key>spriteSourceSize</key>
                <string>{30,96}</string>
                <key>textureRect</key>
                <string>{{595,3732},{30,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/barber_pant_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,96}</string>
                <key>spriteSourceSize</key>
                <string>{30,96}</string>
                <key>textureRect</key>
                <string>{{627,3732},{30,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/barber_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,147}</string>
                <key>spriteSourceSize</key>
                <string>{36,147}</string>
                <key>textureRect</key>
                <string>{{880,3687},{36,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/animationb/barber_pant_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,147}</string>
                <key>spriteSourceSize</key>
                <string>{36,147}</string>
                <key>textureRect</key>
                <string>{{898,3463},{36,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/barber_shirt_sleave_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,119}</string>
                <key>spriteSourceSize</key>
                <string>{63,119}</string>
                <key>textureRect</key>
                <string>{{880,3622},{63,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/animationb/barber_shirt_sleave_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,265}</string>
                <key>spriteSourceSize</key>
                <string>{59,265}</string>
                <key>textureRect</key>
                <string>{{757,3463},{59,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/barber_shoe_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,44}</string>
                <key>spriteSourceSize</key>
                <string>{159,44}</string>
                <key>textureRect</key>
                <string>{{344,3620},{159,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/animationb/barber_shoe_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,44}</string>
                <key>spriteSourceSize</key>
                <string>{159,44}</string>
                <key>textureRect</key>
                <string>{{381,3781},{159,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/bluelemon_sleave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,97}</string>
                <key>spriteSourceSize</key>
                <string>{68,97}</string>
                <key>textureRect</key>
                <string>{{862,3726},{68,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/bluered_sleave_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,162}</string>
                <key>spriteSourceSize</key>
                <string>{54,162}</string>
                <key>textureRect</key>
                <string>{{232,3620},{54,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/bluered_sleave_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,267}</string>
                <key>spriteSourceSize</key>
                <string>{63,267}</string>
                <key>textureRect</key>
                <string>{{562,3463},{63,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/bluespots_sleave_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,162}</string>
                <key>spriteSourceSize</key>
                <string>{54,162}</string>
                <key>textureRect</key>
                <string>{{288,3620},{54,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/bluespots_sleave_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,267}</string>
                <key>spriteSourceSize</key>
                <string>{63,267}</string>
                <key>textureRect</key>
                <string>{{627,3463},{63,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/boss_coat_sleave_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,175}</string>
                <key>spriteSourceSize</key>
                <string>{53,175}</string>
                <key>textureRect</key>
                <string>{{1,3620},{53,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/boss_coat_sleave_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,268}</string>
                <key>spriteSourceSize</key>
                <string>{59,268}</string>
                <key>textureRect</key>
                <string>{{501,3463},{59,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/boss_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,105}</string>
                <key>spriteSourceSize</key>
                <string>{30,105}</string>
                <key>textureRect</key>
                <string>{{110,3796},{30,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/animationb/boss_pant_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,107}</string>
                <key>spriteSourceSize</key>
                <string>{30,107}</string>
                <key>textureRect</key>
                <string>{{1,3797},{30,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/animationb/boss_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,147}</string>
                <key>spriteSourceSize</key>
                <string>{36,147}</string>
                <key>textureRect</key>
                <string>{{936,3463},{36,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/boss_pant_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,147}</string>
                <key>spriteSourceSize</key>
                <string>{36,147}</string>
                <key>textureRect</key>
                <string>{{974,3463},{36,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/boss_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,594}</string>
                <key>spriteSourceSize</key>
                <string>{429,594}</string>
                <key>textureRect</key>
                <string>{{2155,1},{429,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/boss_shoe_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,38}</string>
                <key>spriteSourceSize</key>
                <string>{157,38}</string>
                <key>textureRect</key>
                <string>{{818,3463},{157,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/animationb/boss_shoe_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,38}</string>
                <key>spriteSourceSize</key>
                <string>{157,38}</string>
                <key>textureRect</key>
                <string>{{858,3463},{157,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/animationb/browntribal_ shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{443,592}</string>
                <key>spriteSourceSize</key>
                <string>{443,592}</string>
                <key>textureRect</key>
                <string>{{2645,597},{443,592}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/animationb/captain_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,96}</string>
                <key>spriteSourceSize</key>
                <string>{30,96}</string>
                <key>textureRect</key>
                <string>{{659,3732},{30,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/captain_pant_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,96}</string>
                <key>spriteSourceSize</key>
                <string>{30,96}</string>
                <key>textureRect</key>
                <string>{{691,3732},{30,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/captain_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,147}</string>
                <key>spriteSourceSize</key>
                <string>{36,147}</string>
                <key>textureRect</key>
                <string>{{1001,3612},{36,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/animationb/captain_pant_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,147}</string>
                <key>spriteSourceSize</key>
                <string>{36,147}</string>
                <key>textureRect</key>
                <string>{{1012,3463},{36,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/captain_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,591}</string>
                <key>spriteSourceSize</key>
                <string>{417,591}</string>
                <key>textureRect</key>
                <string>{{2605,2096},{417,591}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/captain_shirt_sleave_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,174}</string>
                <key>spriteSourceSize</key>
                <string>{72,174}</string>
                <key>textureRect</key>
                <string>{{56,3620},{72,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/captain_shirt_sleave_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,267}</string>
                <key>spriteSourceSize</key>
                <string>{63,267}</string>
                <key>textureRect</key>
                <string>{{692,3463},{63,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/captain_shoe_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,38}</string>
                <key>spriteSourceSize</key>
                <string>{162,38}</string>
                <key>textureRect</key>
                <string>{{217,3786},{162,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/captain_shoe_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,38}</string>
                <key>spriteSourceSize</key>
                <string>{164,38}</string>
                <key>textureRect</key>
                <string>{{192,3620},{164,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/animationb/chef_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,594}</string>
                <key>spriteSourceSize</key>
                <string>{417,594}</string>
                <key>textureRect</key>
                <string>{{2169,2700},{417,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/conductor_coat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,592}</string>
                <key>spriteSourceSize</key>
                <string>{418,592}</string>
                <key>textureRect</key>
                <string>{{2588,2691},{418,592}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/conductor_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,586}</string>
                <key>spriteSourceSize</key>
                <string>{418,586}</string>
                <key>textureRect</key>
                <string>{{3515,1028},{418,586}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/cowboy_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{426,653}</string>
                <key>spriteSourceSize</key>
                <string>{426,653}</string>
                <key>textureRect</key>
                <string>{{867,2808},{426,653}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/cricketer_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,594}</string>
                <key>spriteSourceSize</key>
                <string>{429,594}</string>
                <key>textureRect</key>
                <string>{{2586,1},{429,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/designer_coat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,600}</string>
                <key>spriteSourceSize</key>
                <string>{422,600}</string>
                <key>textureRect</key>
                <string>{{1300,1},{422,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/designer_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{420,580}</string>
                <key>spriteSourceSize</key>
                <string>{420,592}</string>
                <key>textureRect</key>
                <string>{{3430,3238},{420,580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/doctor_coat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,655}</string>
                <key>spriteSourceSize</key>
                <string>{436,655}</string>
                <key>textureRect</key>
                <string>{{436,2151},{436,655}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/doctor_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,603}</string>
                <key>spriteSourceSize</key>
                <string>{429,603}</string>
                <key>textureRect</key>
                <string>{{1321,2139},{429,603}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/employe_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,594}</string>
                <key>spriteSourceSize</key>
                <string>{418,594}</string>
                <key>textureRect</key>
                <string>{{3017,1},{418,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/engineer_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,594}</string>
                <key>spriteSourceSize</key>
                <string>{429,594}</string>
                <key>textureRect</key>
                <string>{{1752,2104},{429,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/farmer_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,597}</string>
                <key>spriteSourceSize</key>
                <string>{416,597}</string>
                <key>textureRect</key>
                <string>{{1295,3412},{416,597}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/animationb/female_lawyer_coat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{461,609}</string>
                <key>spriteSourceSize</key>
                <string>{461,609}</string>
                <key>textureRect</key>
                <string>{{880,1076},{461,609}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/fireman_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,601}</string>
                <key>spriteSourceSize</key>
                <string>{417,601}</string>
                <key>textureRect</key>
                <string>{{881,1},{417,601}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/florallady_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{442,590}</string>
                <key>spriteSourceSize</key>
                <string>{442,590}</string>
                <key>textureRect</key>
                <string>{{3071,1042},{442,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/florallady_turban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1073,878}</string>
                <key>spriteSourceSize</key>
                <string>{1073,878}</string>
                <key>textureRect</key>
                <string>{{1,1},{1073,878}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/animationb/footballer_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,584}</string>
                <key>spriteSourceSize</key>
                <string>{429,584}</string>
                <key>textureRect</key>
                <string>{{3242,1634},{429,584}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/animationb/greencollar_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,637}</string>
                <key>spriteSourceSize</key>
                <string>{445,637}</string>
                <key>textureRect</key>
                <string>{{874,2151},{445,637}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/greenfourstrap_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{449,584}</string>
                <key>spriteSourceSize</key>
                <string>{449,584}</string>
                <key>textureRect</key>
                <string>{{881,604},{449,584}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/animationb/housewife_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,590}</string>
                <key>spriteSourceSize</key>
                <string>{450,590}</string>
                <key>textureRect</key>
                <string>{{880,1687},{450,590}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/animationb/jubba_purple_2_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{433,725}</string>
                <key>spriteSourceSize</key>
                <string>{433,725}</string>
                <key>textureRect</key>
                <string>{{1,2893},{433,725}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/jubba_purple_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,586}</string>
                <key>spriteSourceSize</key>
                <string>{420,586}</string>
                <key>textureRect</key>
                <string>{{3008,2689},{420,586}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/jubba_purple_sleave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,102}</string>
                <key>spriteSourceSize</key>
                <string>{60,102}</string>
                <key>textureRect</key>
                <string>{{818,3622},{60,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/jubba_red_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,586}</string>
                <key>spriteSourceSize</key>
                <string>{420,586}</string>
                <key>textureRect</key>
                <string>{{3024,2089},{420,586}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/jubba_skyblue_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,585}</string>
                <key>spriteSourceSize</key>
                <string>{422,585}</string>
                <key>textureRect</key>
                <string>{{3446,2651},{422,585}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/lawyer_coat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{433,596}</string>
                <key>spriteSourceSize</key>
                <string>{433,596}</string>
                <key>textureRect</key>
                <string>{{1774,1051},{433,596}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/lawyer_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,594}</string>
                <key>spriteSourceSize</key>
                <string>{429,594}</string>
                <key>textureRect</key>
                <string>{{2209,1048},{429,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/lightpink_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{446,587}</string>
                <key>spriteSourceSize</key>
                <string>{446,587}</string>
                <key>textureRect</key>
                <string>{{1467,603},{446,587}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/animationb/motu_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,586}</string>
                <key>spriteSourceSize</key>
                <string>{429,586}</string>
                <key>textureRect</key>
                <string>{{3437,1},{429,586}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/orange_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,587}</string>
                <key>spriteSourceSize</key>
                <string>{445,587}</string>
                <key>textureRect</key>
                <string>{{2061,1649},{445,587}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/animationb/orangepattern_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{443,590}</string>
                <key>spriteSourceSize</key>
                <string>{443,590}</string>
                <key>textureRect</key>
                <string>{{2650,1644},{443,590}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/animationb/photographer_coat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{449,597}</string>
                <key>spriteSourceSize</key>
                <string>{449,597}</string>
                <key>textureRect</key>
                <string>{{1894,3349},{449,597}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/animationb/photographer_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{429,597}</string>
                <key>spriteSourceSize</key>
                <string>{429,609}</string>
                <key>textureRect</key>
                <string>{{1724,1},{429,597}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/pinkblue_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,620}</string>
                <key>spriteSourceSize</key>
                <string>{441,620}</string>
                <key>textureRect</key>
                <string>{{1295,2790},{441,620}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/pinkpurple_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{446,587}</string>
                <key>spriteSourceSize</key>
                <string>{446,587}</string>
                <key>textureRect</key>
                <string>{{1472,1656},{446,587}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/animationb/pinkpurple_turban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1073,877}</string>
                <key>spriteSourceSize</key>
                <string>{1073,877}</string>
                <key>textureRect</key>
                <string>{{1,1076},{1073,877}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/animationb/police_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,653}</string>
                <key>spriteSourceSize</key>
                <string>{429,653}</string>
                <key>textureRect</key>
                <string>{{436,2808},{429,653}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/purplepink_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{446,587}</string>
                <key>spriteSourceSize</key>
                <string>{446,587}</string>
                <key>textureRect</key>
                <string>{{2056,600},{446,587}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/animationb/red_jubba_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{433,740}</string>
                <key>spriteSourceSize</key>
                <string>{433,740}</string>
                <key>textureRect</key>
                <string>{{1,2151},{433,740}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/redtribal_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{443,592}</string>
                <key>spriteSourceSize</key>
                <string>{443,592}</string>
                <key>textureRect</key>
                <string>{{2493,3296},{443,592}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/animationb/scientist_coat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,655}</string>
                <key>spriteSourceSize</key>
                <string>{436,655}</string>
                <key>textureRect</key>
                <string>{{436,2151},{436,655}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/scientist_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,603}</string>
                <key>spriteSourceSize</key>
                <string>{429,603}</string>
                <key>textureRect</key>
                <string>{{1738,2744},{429,603}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/singer_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,593}</string>
                <key>spriteSourceSize</key>
                <string>{420,593}</string>
                <key>textureRect</key>
                <string>{{2183,2096},{420,593}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/soccer_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{429,588}</string>
                <key>spriteSourceSize</key>
                <string>{429,626}</string>
                <key>textureRect</key>
                <string>{{3239,597},{429,588}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animation/animationb/soldier_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,584}</string>
                <key>spriteSourceSize</key>
                <string>{429,584}</string>
                <key>textureRect</key>
                <string>{{3446,2065},{429,584}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animation/animationb/teacher_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,594}</string>
                <key>spriteSourceSize</key>
                <string>{429,594}</string>
                <key>textureRect</key>
                <string>{{2640,1048},{429,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>animationb.png</string>
            <key>size</key>
            <string>{3934,3829}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d9cf746ff1beabfb3d7ba82bdb899a7:600ec0e658ebaa4a668a0626bd1dce7a:1bec93995447f6f68555597f22a6c5ec$</string>
            <key>textureFileName</key>
            <string>animationb.png</string>
        </dict>
    </dict>
</plist>
