<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mtu_na_Simba/MbwanaMamba_bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{493,227}</string>
                <key>spriteSourceSize</key>
                <string>{493,227}</string>
                <key>textureRect</key>
                <string>{{244,2376},{493,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtu_na_Simba/MbwanaMamba_lionbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,135}</string>
                <key>spriteSourceSize</key>
                <string>{252,135}</string>
                <key>textureRect</key>
                <string>{{768,1686},{252,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtu_na_Simba/MbwanaMamba_lionhead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,197}</string>
                <key>spriteSourceSize</key>
                <string>{246,197}</string>
                <key>textureRect</key>
                <string>{{768,2059},{246,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtu_na_Simba/MbwanaMamba_lionhead1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,197}</string>
                <key>spriteSourceSize</key>
                <string>{246,197}</string>
                <key>textureRect</key>
                <string>{{789,2258},{246,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtu_na_Simba/MbwanaMamba_lionhead2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,197}</string>
                <key>spriteSourceSize</key>
                <string>{246,197}</string>
                <key>textureRect</key>
                <string>{{789,2506},{246,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtu_na_Simba/MbwanaMamba_lionleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,127}</string>
                <key>spriteSourceSize</key>
                <string>{53,127}</string>
                <key>textureRect</key>
                <string>{{967,1197},{53,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtu_na_Simba/MbwanaMamba_lionneck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,82}</string>
                <key>spriteSourceSize</key>
                <string>{94,82}</string>
                <key>textureRect</key>
                <string>{{881,896},{94,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtu_na_Simba/MbwanaMamba_liontail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,162}</string>
                <key>spriteSourceSize</key>
                <string>{98,162}</string>
                <key>textureRect</key>
                <string>{{867,1197},{98,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtu_na_Simba/MbwanaMamba_tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,345}</string>
                <key>spriteSourceSize</key>
                <string>{405,345}</string>
                <key>textureRect</key>
                <string>{{534,625},{405,345}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtu_na_Simba/Miminafamiliayangu_branch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{937,622}</string>
                <key>spriteSourceSize</key>
                <string>{937,622}</string>
                <key>textureRect</key>
                <string>{{1,1},{937,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtu_na_Simba/Miminafamiliayangu_leaf2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,508}</string>
                <key>spriteSourceSize</key>
                <string>{215,508}</string>
                <key>textureRect</key>
                <string>{{249,1866},{215,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtu_na_Simba/Miminafamiliayangu_mound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,241}</string>
                <key>spriteSourceSize</key>
                <string>{503,241}</string>
                <key>textureRect</key>
                <string>{{1,2368},{503,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtu_na_Simba/arm_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,53}</string>
                <key>spriteSourceSize</key>
                <string>{34,53}</string>
                <key>textureRect</key>
                <string>{{643,3131},{34,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtu_na_Simba/arm_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,110}</string>
                <key>spriteSourceSize</key>
                <string>{24,110}</string>
                <key>textureRect</key>
                <string>{{655,1686},{24,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtu_na_Simba/arm_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,131}</string>
                <key>spriteSourceSize</key>
                <string>{28,131}</string>
                <key>textureRect</key>
                <string>{{473,2784},{28,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtu_na_Simba/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,178}</string>
                <key>spriteSourceSize</key>
                <string>{295,178}</string>
                <key>textureRect</key>
                <string>{{473,2604},{295,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtu_na_Simba/faceold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,300}</string>
                <key>spriteSourceSize</key>
                <string>{319,300}</string>
                <key>textureRect</key>
                <string>{{1,2873},{319,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtu_na_Simba/faceold2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,300}</string>
                <key>spriteSourceSize</key>
                <string>{319,300}</string>
                <key>textureRect</key>
                <string>{{322,2871},{319,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtu_na_Simba/faceold3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,300}</string>
                <key>spriteSourceSize</key>
                <string>{319,300}</string>
                <key>textureRect</key>
                <string>{{655,1365},{319,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtu_na_Simba/faceold4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,300}</string>
                <key>spriteSourceSize</key>
                <string>{319,300}</string>
                <key>textureRect</key>
                <string>{{466,1755},{319,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtu_na_Simba/farmer_shirt_sleave_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,59}</string>
                <key>spriteSourceSize</key>
                <string>{36,59}</string>
                <key>textureRect</key>
                <string>{{587,1365},{36,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtu_na_Simba/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,38}</string>
                <key>spriteSourceSize</key>
                <string>{25,38}</string>
                <key>textureRect</key>
                <string>{{993,1913},{25,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtu_na_Simba/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,86}</string>
                <key>spriteSourceSize</key>
                <string>{14,86}</string>
                <key>textureRect</key>
                <string>{{445,1755},{14,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtu_na_Simba/girl_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,53}</string>
                <key>spriteSourceSize</key>
                <string>{11,53}</string>
                <key>textureRect</key>
                <string>{{1009,1},{11,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtu_na_Simba/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,68}</string>
                <key>spriteSourceSize</key>
                <string>{33,68}</string>
                <key>textureRect</key>
                <string>{{473,2814},{33,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtu_na_Simba/girl_sleeve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,13}</string>
                <key>spriteSourceSize</key>
                <string>{34,13}</string>
                <key>textureRect</key>
                <string>{{606,2784},{34,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtu_na_Simba/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,137}</string>
                <key>spriteSourceSize</key>
                <string>{31,137}</string>
                <key>textureRect</key>
                <string>{{940,1},{31,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtu_na_Simba/girl_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,45}</string>
                <key>spriteSourceSize</key>
                <string>{11,45}</string>
                <key>textureRect</key>
                <string>{{587,1403},{11,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtu_na_Simba/lionmouth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,13}</string>
                <key>spriteSourceSize</key>
                <string>{57,13}</string>
                <key>textureRect</key>
                <string>{{770,2686},{57,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtu_na_Simba/lionmouth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,18}</string>
                <key>spriteSourceSize</key>
                <string>{57,18}</string>
                <key>textureRect</key>
                <string>{{655,1712},{57,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtu_na_Simba/lionmouth3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,31}</string>
                <key>spriteSourceSize</key>
                <string>{56,31}</string>
                <key>textureRect</key>
                <string>{{717,3053},{56,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtu_na_Simba/lowersleeve1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,43}</string>
                <key>spriteSourceSize</key>
                <string>{27,43}</string>
                <key>textureRect</key>
                <string>{{993,1823},{27,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtu_na_Simba/lowersleeve2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,43}</string>
                <key>spriteSourceSize</key>
                <string>{27,43}</string>
                <key>textureRect</key>
                <string>{{993,1868},{27,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtu_na_Simba/moon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,331}</string>
                <key>spriteSourceSize</key>
                <string>{331,331}</string>
                <key>textureRect</key>
                <string>{{534,1032},{331,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtu_na_Simba/mooncresent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,234}</string>
                <key>spriteSourceSize</key>
                <string>{223,234}</string>
                <key>textureRect</key>
                <string>{{768,1823},{223,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtu_na_Simba/motu_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{773,2965},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtu_na_Simba/motu_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,48}</string>
                <key>spriteSourceSize</key>
                <string>{15,48}</string>
                <key>textureRect</key>
                <string>{{940,218},{15,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtu_na_Simba/motu_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,74}</string>
                <key>spriteSourceSize</key>
                <string>{18,74}</string>
                <key>textureRect</key>
                <string>{{988,2258},{18,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtu_na_Simba/motu_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,299}</string>
                <key>spriteSourceSize</key>
                <string>{208,299}</string>
                <key>textureRect</key>
                <string>{{466,2076},{208,299}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtu_na_Simba/motu_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,17}</string>
                <key>spriteSourceSize</key>
                <string>{80,17}</string>
                <key>textureRect</key>
                <string>{{770,2604},{80,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtu_na_Simba/palmtree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{531,789}</string>
                <key>spriteSourceSize</key>
                <string>{531,789}</string>
                <key>textureRect</key>
                <string>{{1,625},{531,789}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtu_na_Simba/pigeon_beak_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,66}</string>
                <key>spriteSourceSize</key>
                <string>{53,66}</string>
                <key>textureRect</key>
                <string>{{967,1326},{53,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtu_na_Simba/pigeon_beak_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,34}</string>
                <key>spriteSourceSize</key>
                <string>{77,34}</string>
                <key>textureRect</key>
                <string>{{973,1},{77,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtu_na_Simba/pigeon_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{500,246}</string>
                <key>spriteSourceSize</key>
                <string>{516,246}</string>
                <key>textureRect</key>
                <string>{{1,1866},{500,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtu_na_Simba/pigeon_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{977,967},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtu_na_Simba/pigeon_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{316,314}</string>
                <key>spriteSourceSize</key>
                <string>{318,314}</string>
                <key>textureRect</key>
                <string>{{473,2286},{316,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtu_na_Simba/pigeon_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,76}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{643,3053},{72,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtu_na_Simba/pigeon_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,76}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{940,140},{72,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtu_na_Simba/pigeon_right_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,128}</string>
                <key>spriteSourceSize</key>
                <string>{267,128}</string>
                <key>textureRect</key>
                <string>{{643,2784},{267,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtu_na_Simba/pigeon_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,209}</string>
                <key>spriteSourceSize</key>
                <string>{213,209}</string>
                <key>textureRect</key>
                <string>{{773,2754},{213,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtu_na_Simba/pigeon_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,139}</string>
                <key>spriteSourceSize</key>
                <string>{269,139}</string>
                <key>textureRect</key>
                <string>{{881,625},{269,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtu_na_Simba/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{442,448}</string>
                <key>spriteSourceSize</key>
                <string>{442,448}</string>
                <key>textureRect</key>
                <string>{{1,1416},{442,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtu_na_Simba/turtlehead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,153}</string>
                <key>spriteSourceSize</key>
                <string>{163,153}</string>
                <key>textureRect</key>
                <string>{{867,1032},{163,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtu_na_Simba/turtleleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,69}</string>
                <key>spriteSourceSize</key>
                <string>{43,69}</string>
                <key>textureRect</key>
                <string>{{977,896},{43,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtu_na_Simba/turtleshell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,208}</string>
                <key>spriteSourceSize</key>
                <string>{337,208}</string>
                <key>textureRect</key>
                <string>{{445,1416},{337,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtu_na_Simba/waterdrop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,81}</string>
                <key>spriteSourceSize</key>
                <string>{38,81}</string>
                <key>textureRect</key>
                <string>{{881,980},{38,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtu_na_Simba/z.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,51}</string>
                <key>spriteSourceSize</key>
                <string>{49,51}</string>
                <key>textureRect</key>
                <string>{{534,1365},{49,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mtu_na_Simba.png</string>
            <key>size</key>
            <string>{1021,3174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6ccc481e89f92cf8861e03e32d8be6d:06fa4136bb8ba17a215fb4619018b89b:17b4b446b497b4a87a7f78b0c0d1d5f1$</string>
            <key>textureFileName</key>
            <string>Mtu_na_Simba.png</string>
        </dict>
    </dict>
</plist>
