<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bingo/bingob/bg 2-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,0}</string>
                <key>spriteSize</key>
                <string>{920,1927}</string>
                <key>spriteSourceSize</key>
                <string>{1026,1927}</string>
                <key>textureRect</key>
                <string>{{2051,1},{920,1927}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bingo/bingob/bg 2-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{589,273}</string>
                <key>spriteSourceSize</key>
                <string>{589,273}</string>
                <key>textureRect</key>
                <string>{{1,537},{589,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingo/bingob/bg 2-06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{589,273}</string>
                <key>spriteSourceSize</key>
                <string>{589,273}</string>
                <key>textureRect</key>
                <string>{{592,537},{589,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingo/bingob/bg 2-09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,176}</string>
                <key>spriteSourceSize</key>
                <string>{552,176}</string>
                <key>textureRect</key>
                <string>{{1183,537},{552,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingo/bingob/bg-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2048,306}</string>
                <key>spriteSourceSize</key>
                <string>{2048,306}</string>
                <key>textureRect</key>
                <string>{{1,1},{2048,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingo/bingob/bg-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2048,226}</string>
                <key>spriteSourceSize</key>
                <string>{2048,226}</string>
                <key>textureRect</key>
                <string>{{1,309},{2048,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bingob.png</string>
            <key>size</key>
            <string>{3979,922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ed4f5fbd17f68fa55b567dcb321ef7c:268c860bba7b5f1e323b3484322dd648:02b985a0269ecea13e9fb596ccc1108d$</string>
            <key>textureFileName</key>
            <string>bingob.png</string>
        </dict>
    </dict>
</plist>
