<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cityscreen/auto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,252}</string>
                <key>spriteSourceSize</key>
                <string>{405,252}</string>
                <key>textureRect</key>
                <string>{{1023,1},{405,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,133}</string>
                <key>spriteSourceSize</key>
                <string>{322,133}</string>
                <key>textureRect</key>
                <string>{{1653,378},{322,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/bench.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,151}</string>
                <key>spriteSourceSize</key>
                <string>{302,151}</string>
                <key>textureRect</key>
                <string>{{2456,358},{302,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/bench1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,151}</string>
                <key>spriteSourceSize</key>
                <string>{302,151}</string>
                <key>textureRect</key>
                <string>{{2760,331},{302,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/bgbuilding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,377}</string>
                <key>spriteSourceSize</key>
                <string>{133,377}</string>
                <key>textureRect</key>
                <string>{{1515,1},{133,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/building01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,207}</string>
                <key>spriteSourceSize</key>
                <string>{328,207}</string>
                <key>textureRect</key>
                <string>{{2756,1},{328,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/building02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,188}</string>
                <key>spriteSourceSize</key>
                <string>{262,188}</string>
                <key>textureRect</key>
                <string>{{3194,1},{262,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/building03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,181}</string>
                <key>spriteSourceSize</key>
                <string>{306,181}</string>
                <key>textureRect</key>
                <string>{{2965,1},{306,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/building04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,125}</string>
                <key>spriteSourceSize</key>
                <string>{151,125}</string>
                <key>textureRect</key>
                <string>{{1977,378},{151,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/building05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,179}</string>
                <key>spriteSourceSize</key>
                <string>{99,179}</string>
                <key>textureRect</key>
                <string>{{1199,408},{99,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/building06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,355}</string>
                <key>spriteSourceSize</key>
                <string>{209,355}</string>
                <key>textureRect</key>
                <string>{{2327,1},{209,355}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/building07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,91}</string>
                <key>spriteSourceSize</key>
                <string>{97,91}</string>
                <key>textureRect</key>
                <string>{{3591,214},{97,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/building08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,243}</string>
                <key>spriteSourceSize</key>
                <string>{91,243}</string>
                <key>textureRect</key>
                <string>{{3384,1},{91,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/building09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,159}</string>
                <key>spriteSourceSize</key>
                <string>{124,159}</string>
                <key>textureRect</key>
                <string>{{2130,378},{124,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/building10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,271}</string>
                <key>spriteSourceSize</key>
                <string>{132,271}</string>
                <key>textureRect</key>
                <string>{{1380,382},{128,271}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/building11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,163}</string>
                <key>spriteSourceSize</key>
                <string>{117,163}</string>
                <key>textureRect</key>
                <string>{{2291,378},{117,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/building12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,242}</string>
                <key>spriteSourceSize</key>
                <string>{430,242}</string>
                <key>textureRect</key>
                <string>{{779,1},{430,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/building13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,216}</string>
                <key>spriteSourceSize</key>
                <string>{347,216}</string>
                <key>textureRect</key>
                <string>{{2538,1},{347,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/bus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{577,191}</string>
                <key>spriteSourceSize</key>
                <string>{577,191}</string>
                <key>textureRect</key>
                <string>{{3064,309},{577,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/busstop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,236}</string>
                <key>spriteSourceSize</key>
                <string>{379,236}</string>
                <key>textureRect</key>
                <string>{{1277,1},{379,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/car.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,271}</string>
                <key>spriteSourceSize</key>
                <string>{510,271}</string>
                <key>textureRect</key>
                <string>{{1,1},{510,271}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,44}</string>
                <key>spriteSourceSize</key>
                <string>{287,44}</string>
                <key>textureRect</key>
                <string>{{3148,1},{287,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/garden.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{675,375}</string>
                <key>spriteSourceSize</key>
                <string>{675,375}</string>
                <key>textureRect</key>
                <string>{{1650,1},{675,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/helicopter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,106}</string>
                <key>spriteSourceSize</key>
                <string>{211,106}</string>
                <key>textureRect</key>
                <string>{{3591,1},{211,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,484}</string>
                <key>spriteSourceSize</key>
                <string>{163,484}</string>
                <key>textureRect</key>
                <string>{{274,1},{163,484}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/light1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,461}</string>
                <key>spriteSourceSize</key>
                <string>{92,461}</string>
                <key>textureRect</key>
                <string>{{439,1},{92,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/mgbuilding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,241}</string>
                <key>spriteSourceSize</key>
                <string>{112,241}</string>
                <key>textureRect</key>
                <string>{{3477,1},{112,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/plane.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,75}</string>
                <key>spriteSourceSize</key>
                <string>{182,75}</string>
                <key>textureRect</key>
                <string>{{1015,433},{182,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/roadbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{739,5}</string>
                <key>spriteSourceSize</key>
                <string>{739,5}</string>
                <key>textureRect</key>
                <string>{{274,487},{739,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{3643,307},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,73}</string>
                <key>spriteSourceSize</key>
                <string>{35,73}</string>
                <key>textureRect</key>
                <string>{{628,443},{35,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/tree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,93}</string>
                <key>spriteSourceSize</key>
                <string>{35,93}</string>
                <key>textureRect</key>
                <string>{{533,443},{35,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/tree3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,440}</string>
                <key>spriteSourceSize</key>
                <string>{244,440}</string>
                <key>textureRect</key>
                <string>{{533,1},{244,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cityscreen.png</string>
            <key>size</key>
            <string>{3716,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce1f0414d0cc999e890338f1bebb2e47:31ef8139a14fafa02e40bdcfd20f56e4:4661ab4f5c9e7e7a6a56f33a57c4aeea$</string>
            <key>textureFileName</key>
            <string>cityscreen.png</string>
        </dict>
    </dict>
</plist>
