<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mbweha_na_jua/branch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,311}</string>
                <key>spriteSourceSize</key>
                <string>{468,311}</string>
                <key>textureRect</key>
                <string>{{1,1},{468,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,114}</string>
                <key>spriteSourceSize</key>
                <string>{246,114}</string>
                <key>textureRect</key>
                <string>{{253,745},{246,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,89}</string>
                <key>spriteSourceSize</key>
                <string>{148,89}</string>
                <key>textureRect</key>
                <string>{{266,1200},{148,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/jackal1bleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,63}</string>
                <key>spriteSourceSize</key>
                <string>{19,63}</string>
                <key>textureRect</key>
                <string>{{492,220},{19,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/jackal1body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,63}</string>
                <key>spriteSourceSize</key>
                <string>{126,63}</string>
                <key>textureRect</key>
                <string>{{223,1112},{126,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/jackal1face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,86}</string>
                <key>spriteSourceSize</key>
                <string>{72,86}</string>
                <key>textureRect</key>
                <string>{{432,1076},{72,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/jackal1facesleep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,86}</string>
                <key>spriteSourceSize</key>
                <string>{72,86}</string>
                <key>textureRect</key>
                <string>{{351,1112},{72,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/jackal1fleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,60}</string>
                <key>spriteSourceSize</key>
                <string>{18,60}</string>
                <key>textureRect</key>
                <string>{{471,286},{18,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/jackal1neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,41}</string>
                <key>spriteSourceSize</key>
                <string>{43,41}</string>
                <key>textureRect</key>
                <string>{{422,1294},{43,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/jackal1tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,71}</string>
                <key>spriteSourceSize</key>
                <string>{54,71}</string>
                <key>textureRect</key>
                <string>{{398,314},{54,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/jackal2bleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,63}</string>
                <key>spriteSourceSize</key>
                <string>{19,63}</string>
                <key>textureRect</key>
                <string>{{492,285},{19,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/jackal2body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,63}</string>
                <key>spriteSourceSize</key>
                <string>{126,63}</string>
                <key>textureRect</key>
                <string>{{357,1200},{126,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/jackal2face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,86}</string>
                <key>spriteSourceSize</key>
                <string>{72,86}</string>
                <key>textureRect</key>
                <string>{{425,1164},{72,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/jackal2fleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,64}</string>
                <key>spriteSourceSize</key>
                <string>{19,64}</string>
                <key>textureRect</key>
                <string>{{471,220},{19,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/jackal2neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,41}</string>
                <key>spriteSourceSize</key>
                <string>{43,41}</string>
                <key>textureRect</key>
                <string>{{465,1294},{43,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/jackal2tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,71}</string>
                <key>spriteSourceSize</key>
                <string>{54,71}</string>
                <key>textureRect</key>
                <string>{{422,1238},{54,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/leaf_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,254}</string>
                <key>spriteSourceSize</key>
                <string>{108,254}</string>
                <key>textureRect</key>
                <string>{{398,489},{108,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/mooncresent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,117}</string>
                <key>spriteSourceSize</key>
                <string>{112,117}</string>
                <key>textureRect</key>
                <string>{{398,370},{112,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/mound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,120}</string>
                <key>spriteSourceSize</key>
                <string>{252,120}</string>
                <key>textureRect</key>
                <string>{{1,581},{252,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/mountain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,66}</string>
                <key>spriteSourceSize</key>
                <string>{129,66}</string>
                <key>textureRect</key>
                <string>{{441,861},{129,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/palmtree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,395}</string>
                <key>spriteSourceSize</key>
                <string>{265,395}</string>
                <key>textureRect</key>
                <string>{{1,314},{265,395}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/pigeon_beak_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,33}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{471,141},{26,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/pigeon_beak_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,17}</string>
                <key>spriteSourceSize</key>
                <string>{39,17}</string>
                <key>textureRect</key>
                <string>{{471,22},{39,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/pigeon_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{250,123}</string>
                <key>spriteSourceSize</key>
                <string>{258,123}</string>
                <key>textureRect</key>
                <string>{{1,703},{250,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/pigeon_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{471,196},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/pigeon_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,157}</string>
                <key>spriteSourceSize</key>
                <string>{159,157}</string>
                <key>textureRect</key>
                <string>{{107,1179},{159,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/pigeon_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{471,41},{36,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/pigeon_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{471,79},{36,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/pigeon_right_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,64}</string>
                <key>spriteSourceSize</key>
                <string>{133,64}</string>
                <key>textureRect</key>
                <string>{{255,652},{133,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/pigeon_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,104}</string>
                <key>spriteSourceSize</key>
                <string>{107,104}</string>
                <key>textureRect</key>
                <string>{{1,1051},{107,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/pigeon_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,69}</string>
                <key>spriteSourceSize</key>
                <string>{135,69}</string>
                <key>textureRect</key>
                <string>{{255,581},{135,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/puddle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,75}</string>
                <key>spriteSourceSize</key>
                <string>{212,75}</string>
                <key>textureRect</key>
                <string>{{227,861},{212,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/sheep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,126}</string>
                <key>spriteSourceSize</key>
                <string>{114,126}</string>
                <key>textureRect</key>
                <string>{{107,1051},{114,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,224}</string>
                <key>spriteSourceSize</key>
                <string>{221,224}</string>
                <key>textureRect</key>
                <string>{{1,828},{221,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/tree_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,172}</string>
                <key>spriteSourceSize</key>
                <string>{203,172}</string>
                <key>textureRect</key>
                <string>{{227,938},{203,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/turtlehead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,77}</string>
                <key>spriteSourceSize</key>
                <string>{82,77}</string>
                <key>textureRect</key>
                <string>{{432,992},{82,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/turtleleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{471,117},{22,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/turtleshell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,104}</string>
                <key>spriteSourceSize</key>
                <string>{169,104}</string>
                <key>textureRect</key>
                <string>{{1,1164},{169,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/waterdrop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,40}</string>
                <key>spriteSourceSize</key>
                <string>{19,40}</string>
                <key>textureRect</key>
                <string>{{471,1},{19,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/z.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,26}</string>
                <key>spriteSourceSize</key>
                <string>{25,26}</string>
                <key>textureRect</key>
                <string>{{471,169},{25,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mbweha_na_jua.png</string>
            <key>size</key>
            <string>{512,1349}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96eed68ebab22062c3bf5b9170bca4da:875997c3ed1d2c7300e225cb6fb1621e:974344f4367e1fd1e9174019fa711be5$</string>
            <key>textureFileName</key>
            <string>Mbweha_na_jua.png</string>
        </dict>
    </dict>
</plist>
