<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero/beard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,25}</string>
                <key>spriteSourceSize</key>
                <string>{49,25}</string>
                <key>textureRect</key>
                <string>{{145,73},{49,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,38}</string>
                <key>spriteSourceSize</key>
                <string>{33,38}</string>
                <key>textureRect</key>
                <string>{{133,33},{33,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/eye_inner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{216,115},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/eye_outer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,16}</string>
                <key>spriteSourceSize</key>
                <string>{17,16}</string>
                <key>textureRect</key>
                <string>{{231,89},{17,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/eye_outer_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{24,22}</string>
                <key>textureRect</key>
                <string>{{207,71},{24,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/eye_outer_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,17}</string>
                <key>spriteSourceSize</key>
                <string>{19,17}</string>
                <key>textureRect</key>
                <string>{{231,70},{19,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/foot_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,3}</string>
                <key>spriteSourceSize</key>
                <string>{12,3}</string>
                <key>textureRect</key>
                <string>{{108,121},{12,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/foot_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,3}</string>
                <key>spriteSourceSize</key>
                <string>{12,3}</string>
                <key>textureRect</key>
                <string>{{122,121},{12,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,58}</string>
                <key>spriteSourceSize</key>
                <string>{74,58}</string>
                <key>textureRect</key>
                <string>{{1,1},{74,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/hair2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{54,41}</string>
                <key>spriteSourceSize</key>
                <string>{60,43}</string>
                <key>textureRect</key>
                <string>{{77,33},{54,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,9}</string>
                <key>spriteSourceSize</key>
                <string>{6,9}</string>
                <key>textureRect</key>
                <string>{{252,70},{6,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/hat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,30}</string>
                <key>spriteSourceSize</key>
                <string>{80,30}</string>
                <key>textureRect</key>
                <string>{{77,1},{80,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,66}</string>
                <key>spriteSourceSize</key>
                <string>{63,66}</string>
                <key>textureRect</key>
                <string>{{1,61},{63,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{226,1},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/lower_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,18}</string>
                <key>spriteSourceSize</key>
                <string>{5,18}</string>
                <key>textureRect</key>
                <string>{{195,113},{5,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/lower_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,10}</string>
                <key>spriteSourceSize</key>
                <string>{3,10}</string>
                <key>textureRect</key>
                <string>{{232,114},{3,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/lower_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,10}</string>
                <key>spriteSourceSize</key>
                <string>{3,10}</string>
                <key>textureRect</key>
                <string>{{237,114},{3,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/mustache.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,5}</string>
                <key>spriteSourceSize</key>
                <string>{31,5}</string>
                <key>textureRect</key>
                <string>{{172,106},{31,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,6}</string>
                <key>spriteSourceSize</key>
                <string>{12,6}</string>
                <key>textureRect</key>
                <string>{{69,61},{12,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/pant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{172,71},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,9}</string>
                <key>spriteSourceSize</key>
                <string>{3,9}</string>
                <key>textureRect</key>
                <string>{{227,115},{3,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/pant_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,9}</string>
                <key>spriteSourceSize</key>
                <string>{3,9}</string>
                <key>textureRect</key>
                <string>{{242,115},{3,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,12}</string>
                <key>spriteSourceSize</key>
                <string>{3,12}</string>
                <key>textureRect</key>
                <string>{{217,110},{3,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/pant_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,12}</string>
                <key>spriteSourceSize</key>
                <string>{4,12}</string>
                <key>textureRect</key>
                <string>{{217,104},{4,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/police_hat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{65,29}</string>
                <key>spriteSourceSize</key>
                <string>{81,31}</string>
                <key>textureRect</key>
                <string>{{159,1},{65,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/police_pant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{223,35},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/police_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,9}</string>
                <key>spriteSourceSize</key>
                <string>{3,9}</string>
                <key>textureRect</key>
                <string>{{247,115},{3,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/police_pant_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,9}</string>
                <key>spriteSourceSize</key>
                <string>{3,9}</string>
                <key>textureRect</key>
                <string>{{252,115},{3,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/police_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,12}</string>
                <key>spriteSourceSize</key>
                <string>{3,12}</string>
                <key>textureRect</key>
                <string>{{250,89},{3,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/police_pant_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,12}</string>
                <key>spriteSourceSize</key>
                <string>{4,12}</string>
                <key>textureRect</key>
                <string>{{246,109},{4,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/police_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{37,48}</string>
                <key>spriteSourceSize</key>
                <string>{37,54}</string>
                <key>textureRect</key>
                <string>{{69,76},{37,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/police_shoe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,4}</string>
                <key>spriteSourceSize</key>
                <string>{13,4}</string>
                <key>textureRect</key>
                <string>{{172,120},{13,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/police_upper_sleave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{5,10}</string>
                <key>spriteSourceSize</key>
                <string>{5,22}</string>
                <key>textureRect</key>
                <string>{{205,106},{5,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/shirt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{37,53}</string>
                <key>spriteSourceSize</key>
                <string>{37,55}</string>
                <key>textureRect</key>
                <string>{{168,32},{37,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/shirt_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,13}</string>
                <key>spriteSourceSize</key>
                <string>{5,13}</string>
                <key>textureRect</key>
                <string>{{231,107},{5,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/shirt_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,22}</string>
                <key>spriteSourceSize</key>
                <string>{5,22}</string>
                <key>textureRect</key>
                <string>{{207,97},{5,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/shoe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,4}</string>
                <key>spriteSourceSize</key>
                <string>{13,4}</string>
                <key>textureRect</key>
                <string>{{187,120},{13,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/shoe_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,4}</string>
                <key>spriteSourceSize</key>
                <string>{12,4}</string>
                <key>textureRect</key>
                <string>{{202,120},{12,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/tribalred.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{35,43}</string>
                <key>spriteSourceSize</key>
                <string>{35,45}</string>
                <key>textureRect</key>
                <string>{{108,76},{35,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/upper_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,21}</string>
                <key>spriteSourceSize</key>
                <string>{5,21}</string>
                <key>textureRect</key>
                <string>{{172,113},{5,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/upper_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,12}</string>
                <key>spriteSourceSize</key>
                <string>{3,12}</string>
                <key>textureRect</key>
                <string>{{255,81},{3,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/upper_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,12}</string>
                <key>spriteSourceSize</key>
                <string>{3,12}</string>
                <key>textureRect</key>
                <string>{{255,95},{3,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero.png</string>
            <key>size</key>
            <string>{259,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8e1a7047dbf48ab77088074c7558e18:7704ae52432f767a520007bf4870396b:24811c9fe845da5822501508d7996631$</string>
            <key>textureFileName</key>
            <string>hero.png</string>
        </dict>
    </dict>
</plist>
