<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>basiclettercase/cherry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,172}</string>
                <key>spriteSourceSize</key>
                <string>{148,172}</string>
                <key>textureRect</key>
                <string>{{1268,1},{148,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basiclettercase/cone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,468}</string>
                <key>spriteSourceSize</key>
                <string>{355,468}</string>
                <key>textureRect</key>
                <string>{{363,1},{355,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basiclettercase/icecream.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{469,360}</string>
                <key>spriteSourceSize</key>
                <string>{469,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{469,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>basiclettercase/icecreamshade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,168}</string>
                <key>spriteSourceSize</key>
                <string>{377,168}</string>
                <key>textureRect</key>
                <string>{{1098,1},{377,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>basiclettercase/roof.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,385}</string>
                <key>spriteSourceSize</key>
                <string>{376,385}</string>
                <key>textureRect</key>
                <string>{{720,1},{376,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>basiclettercase.png</string>
            <key>size</key>
            <string>{1417,471}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4119efabb61598b0c7523ffbc74c469:45bda2730c81d26f8000af6b19c9bd0e:7c5513dbdb4f7807108f851891763af5$</string>
            <key>textureFileName</key>
            <string>basiclettercase.png</string>
        </dict>
    </dict>
</plist>
