<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hippo/b1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,722}</string>
                <key>spriteSourceSize</key>
                <string>{389,722}</string>
                <key>textureRect</key>
                <string>{{909,317},{389,722}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/b2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,694}</string>
                <key>spriteSourceSize</key>
                <string>{229,694}</string>
                <key>textureRect</key>
                <string>{{2711,1},{229,694}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/b3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,895}</string>
                <key>spriteSourceSize</key>
                <string>{503,895}</string>
                <key>textureRect</key>
                <string>{{1814,1},{503,895}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/b4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,903}</string>
                <key>spriteSourceSize</key>
                <string>{314,903}</string>
                <key>textureRect</key>
                <string>{{909,1},{314,903}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/b5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{554,906}</string>
                <key>spriteSourceSize</key>
                <string>{554,906}</string>
                <key>textureRect</key>
                <string>{{1,1},{554,906}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/bgg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{811,388}</string>
                <key>spriteSourceSize</key>
                <string>{811,388}</string>
                <key>textureRect</key>
                <string>{{1,557},{811,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/bgh1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,713}</string>
                <key>spriteSourceSize</key>
                <string>{242,713}</string>
                <key>textureRect</key>
                <string>{{1633,506},{242,713}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/bgh2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,601}</string>
                <key>spriteSourceSize</key>
                <string>{266,601}</string>
                <key>textureRect</key>
                <string>{{905,708},{266,601}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/bgh3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,564}</string>
                <key>spriteSourceSize</key>
                <string>{280,564}</string>
                <key>textureRect</key>
                <string>{{2348,697},{280,564}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/block.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,116}</string>
                <key>spriteSourceSize</key>
                <string>{120,116}</string>
                <key>textureRect</key>
                <string>{{1633,317},{120,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,115}</string>
                <key>spriteSourceSize</key>
                <string>{279,115}</string>
                <key>textureRect</key>
                <string>{{2348,506},{279,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{26,24}</string>
                <key>textureRect</key>
                <string>{{1633,439},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,112}</string>
                <key>spriteSourceSize</key>
                <string>{115,112}</string>
                <key>textureRect</key>
                <string>{{1851,857},{115,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/button_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1615,863},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/cat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,5}</string>
                <key>spriteSize</key>
                <string>{224,105}</string>
                <key>spriteSourceSize</key>
                <string>{252,119}</string>
                <key>textureRect</key>
                <string>{{1851,750},{224,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/cat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,4}</string>
                <key>spriteSize</key>
                <string>{234,111}</string>
                <key>spriteSourceSize</key>
                <string>{252,119}</string>
                <key>textureRect</key>
                <string>{{1615,750},{234,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/cat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,7}</string>
                <key>spriteSize</key>
                <string>{248,105}</string>
                <key>spriteSourceSize</key>
                <string>{252,119}</string>
                <key>textureRect</key>
                <string>{{1508,708},{248,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/cat4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,9}</string>
                <key>spriteSize</key>
                <string>{221,89}</string>
                <key>spriteSourceSize</key>
                <string>{259,119}</string>
                <key>textureRect</key>
                <string>{{2077,855},{221,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/cat5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,9}</string>
                <key>spriteSize</key>
                <string>{233,89}</string>
                <key>spriteSourceSize</key>
                <string>{259,119}</string>
                <key>textureRect</key>
                <string>{{814,557},{233,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/cat6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,8}</string>
                <key>spriteSize</key>
                <string>{208,103}</string>
                <key>spriteSourceSize</key>
                <string>{252,119}</string>
                <key>textureRect</key>
                <string>{{2077,750},{208,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/cat7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,5}</string>
                <key>spriteSize</key>
                <string>{224,105}</string>
                <key>spriteSourceSize</key>
                <string>{252,119}</string>
                <key>textureRect</key>
                <string>{{1851,750},{224,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hippo.png</string>
            <key>size</key>
            <string>{2941,978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aaa6bbdaea3442f312f0f1187654943e:eeb94634d2331be9e9d5e068c9d106fe:67ecf1bf2a68d4eb9cd3671675aee35e$</string>
            <key>textureFileName</key>
            <string>hippo.png</string>
        </dict>
    </dict>
</plist>
