<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chain/block.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,300}</string>
                <key>spriteSourceSize</key>
                <string>{283,300}</string>
                <key>textureRect</key>
                <string>{{2424,721},{283,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/box1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-103}</string>
                <key>spriteSize</key>
                <string>{291,309}</string>
                <key>spriteSourceSize</key>
                <string>{403,549}</string>
                <key>textureRect</key>
                <string>{{113,2232},{291,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/box2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-67}</string>
                <key>spriteSize</key>
                <string>{297,381}</string>
                <key>spriteSourceSize</key>
                <string>{403,549}</string>
                <key>textureRect</key>
                <string>{{3099,1},{297,381}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/box3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-10}</string>
                <key>spriteSize</key>
                <string>{297,495}</string>
                <key>spriteSourceSize</key>
                <string>{403,549}</string>
                <key>textureRect</key>
                <string>{{3002,2227},{297,495}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/box4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,3}</string>
                <key>spriteSize</key>
                <string>{369,521}</string>
                <key>spriteSourceSize</key>
                <string>{403,549}</string>
                <key>textureRect</key>
                <string>{{3099,300},{369,521}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/layer1treetrunk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,1269}</string>
                <key>spriteSourceSize</key>
                <string>{514,1269}</string>
                <key>textureRect</key>
                <string>{{1214,1},{514,1269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/layer2treetrunk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,1381}</string>
                <key>spriteSourceSize</key>
                <string>{334,1381}</string>
                <key>textureRect</key>
                <string>{{113,1},{334,1381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/letterpanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,300}</string>
                <key>spriteSourceSize</key>
                <string>{283,300}</string>
                <key>textureRect</key>
                <string>{{2709,721},{283,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/maintree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{763,1363}</string>
                <key>spriteSourceSize</key>
                <string>{763,1363}</string>
                <key>textureRect</key>
                <string>{{449,1},{763,1363}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/monkey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{529,689}</string>
                <key>spriteSourceSize</key>
                <string>{529,689}</string>
                <key>textureRect</key>
                <string>{{2311,2001},{529,689}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/monkeyeat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-71}</string>
                <key>spriteSize</key>
                <string>{501,700}</string>
                <key>spriteSourceSize</key>
                <string>{727,918}</string>
                <key>textureRect</key>
                <string>{{1609,2060},{501,700}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/monkeyeat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-71}</string>
                <key>spriteSize</key>
                <string>{505,700}</string>
                <key>spriteSourceSize</key>
                <string>{727,918}</string>
                <key>textureRect</key>
                <string>{{3002,823},{505,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/monkeyeat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-71}</string>
                <key>spriteSize</key>
                <string>{503,700}</string>
                <key>spriteSourceSize</key>
                <string>{727,918}</string>
                <key>textureRect</key>
                <string>{{3002,1525},{503,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/monkeyeat4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-71}</string>
                <key>spriteSize</key>
                <string>{513,700}</string>
                <key>spriteSourceSize</key>
                <string>{727,918}</string>
                <key>textureRect</key>
                <string>{{1730,1},{513,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/monkeyflip1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-67}</string>
                <key>spriteSize</key>
                <string>{532,692}</string>
                <key>spriteSourceSize</key>
                <string>{838,918}</string>
                <key>textureRect</key>
                <string>{{1730,721},{532,692}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/monkeyflip2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,9}</string>
                <key>spriteSize</key>
                <string>{736,844}</string>
                <key>spriteSourceSize</key>
                <string>{838,918}</string>
                <key>textureRect</key>
                <string>{{851,1366},{736,844}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/monkeyflip3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-57}</string>
                <key>spriteSize</key>
                <string>{786,718}</string>
                <key>spriteSourceSize</key>
                <string>{838,918}</string>
                <key>textureRect</key>
                <string>{{1589,1272},{786,718}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/monkeyflip4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-42}</string>
                <key>spriteSize</key>
                <string>{600,744}</string>
                <key>spriteSourceSize</key>
                <string>{838,918}</string>
                <key>textureRect</key>
                <string>{{2309,1255},{600,744}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/monkeyflip5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-56}</string>
                <key>spriteSize</key>
                <string>{786,718}</string>
                <key>spriteSourceSize</key>
                <string>{838,918}</string>
                <key>textureRect</key>
                <string>{{2311,1},{786,718}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/monkeyflip6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,8}</string>
                <key>spriteSize</key>
                <string>{736,846}</string>
                <key>spriteSourceSize</key>
                <string>{838,918}</string>
                <key>textureRect</key>
                <string>{{113,1384},{736,846}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/toprope.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2461,110}</string>
                <key>spriteSourceSize</key>
                <string>{2461,110}</string>
                <key>textureRect</key>
                <string>{{1,1},{2461,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/wordpanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1201,300}</string>
                <key>spriteSourceSize</key>
                <string>{1201,300}</string>
                <key>textureRect</key>
                <string>{{406,2232},{1201,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chain.png</string>
            <key>size</key>
            <string>{3508,2562}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efaf7819a467a8c3642f4cb143c597f5:69baf886eec569a18d5fdc797f344f89:bdabef210107175500f8ed0bb9b37f53$</string>
            <key>textureFileName</key>
            <string>chain.png</string>
        </dict>
    </dict>
</plist>
