<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cricket/Stadiumbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{573,804}</string>
                <key>spriteSourceSize</key>
                <string>{573,812}</string>
                <key>textureRect</key>
                <string>{{1,1},{573,804}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cricket/arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,219}</string>
                <key>spriteSourceSize</key>
                <string>{258,219}</string>
                <key>textureRect</key>
                <string>{{899,1},{258,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cricket/stadiumfloor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,858}</string>
                <key>spriteSourceSize</key>
                <string>{321,858}</string>
                <key>textureRect</key>
                <string>{{576,1},{321,858}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cricket/wicket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,407}</string>
                <key>spriteSourceSize</key>
                <string>{47,407}</string>
                <key>textureRect</key>
                <string>{{1,807},{47,407}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cricket.png</string>
            <key>size</key>
            <string>{1119,860}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd715e9c48b342d0e2b38ff01c509e3d:129b410d6f0805633d227e86b92c5b8c:25fd80f5cf6e3c662e82b1c0bcca7282$</string>
            <key>textureFileName</key>
            <string>cricket.png</string>
        </dict>
    </dict>
</plist>
