<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kutekwa_nyara/Khalai_building.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,144}</string>
                <key>spriteSourceSize</key>
                <string>{232,144}</string>
                <key>textureRect</key>
                <string>{{1,471},{232,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kutekwa_nyara/Khalai_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,104}</string>
                <key>spriteSourceSize</key>
                <string>{84,104}</string>
                <key>textureRect</key>
                <string>{{296,691},{84,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/Kuhesabu_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,57}</string>
                <key>spriteSourceSize</key>
                <string>{142,57}</string>
                <key>textureRect</key>
                <string>{{197,396},{142,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/Kuhesabu_hill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,91}</string>
                <key>spriteSourceSize</key>
                <string>{295,91}</string>
                <key>textureRect</key>
                <string>{{200,1},{295,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/Kuhesabu_hill1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,39}</string>
                <key>spriteSourceSize</key>
                <string>{296,39}</string>
                <key>textureRect</key>
                <string>{{1,705},{296,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kutekwa_nyara/Kutekwa_carpet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,31}</string>
                <key>spriteSourceSize</key>
                <string>{256,31}</string>
                <key>textureRect</key>
                <string>{{200,212},{256,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/Kutekwa_chair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,161}</string>
                <key>spriteSourceSize</key>
                <string>{191,161}</string>
                <key>textureRect</key>
                <string>{{42,705},{191,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kutekwa_nyara/Kutekwa_character1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,113}</string>
                <key>spriteSourceSize</key>
                <string>{41,113}</string>
                <key>textureRect</key>
                <string>{{266,1056},{41,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/Kutekwa_character2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,178}</string>
                <key>spriteSourceSize</key>
                <string>{156,178}</string>
                <key>textureRect</key>
                <string>{{42,898},{156,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kutekwa_nyara/Kutekwa_character3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,110}</string>
                <key>spriteSourceSize</key>
                <string>{42,110}</string>
                <key>textureRect</key>
                <string>{{305,987},{42,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kutekwa_nyara/Kutekwa_cloth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,36}</string>
                <key>spriteSourceSize</key>
                <string>{153,36}</string>
                <key>textureRect</key>
                <string>{{147,652},{153,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/Kutekwa_lamp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,156}</string>
                <key>spriteSourceSize</key>
                <string>{114,156}</string>
                <key>textureRect</key>
                <string>{{276,455},{114,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/Kutekwa_tent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,81}</string>
                <key>spriteSourceSize</key>
                <string>{116,81}</string>
                <key>textureRect</key>
                <string>{{222,898},{116,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kutekwa_nyara/Kutekwa_track.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,43}</string>
                <key>spriteSourceSize</key>
                <string>{37,43}</string>
                <key>textureRect</key>
                <string>{{1,1003},{37,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/Kutekwa_tv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,199}</string>
                <key>spriteSourceSize</key>
                <string>{194,199}</string>
                <key>textureRect</key>
                <string>{{1,270},{194,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/Kutekwa_wallplate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,7}</string>
                <key>spriteSize</key>
                <string>{138,100}</string>
                <key>spriteSourceSize</key>
                <string>{180,114}</string>
                <key>textureRect</key>
                <string>{{392,493},{138,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kutekwa_nyara/Kutekwa_wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,40}</string>
                <key>spriteSourceSize</key>
                <string>{118,40}</string>
                <key>textureRect</key>
                <string>{{459,94},{118,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kutekwa_nyara/Kwa_door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,185}</string>
                <key>spriteSourceSize</key>
                <string>{139,185}</string>
                <key>textureRect</key>
                <string>{{1,1056},{139,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kutekwa_nyara/Kwa_table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,97}</string>
                <key>spriteSourceSize</key>
                <string>{135,97}</string>
                <key>textureRect</key>
                <string>{{364,245},{135,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/Mama_tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,136}</string>
                <key>spriteSourceSize</key>
                <string>{89,136}</string>
                <key>textureRect</key>
                <string>{{205,690},{89,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/Mbuzi_van.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,76}</string>
                <key>spriteSourceSize</key>
                <string>{146,76}</string>
                <key>textureRect</key>
                <string>{{188,1056},{146,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kutekwa_nyara/butterfly1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{108,84}</string>
                <key>spriteSourceSize</key>
                <string>{116,90}</string>
                <key>textureRect</key>
                <string>{{391,633},{108,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/butterfly2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{108,72}</string>
                <key>spriteSourceSize</key>
                <string>{116,90}</string>
                <key>textureRect</key>
                <string>{{382,719},{108,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/butterfly3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{108,68}</string>
                <key>spriteSourceSize</key>
                <string>{116,90}</string>
                <key>textureRect</key>
                <string>{{205,828},{108,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/butterfly4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-9}</string>
                <key>spriteSize</key>
                <string>{110,64}</string>
                <key>spriteSourceSize</key>
                <string>{116,90}</string>
                <key>textureRect</key>
                <string>{{421,793},{110,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kutekwa_nyara/butterfly5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-13}</string>
                <key>spriteSize</key>
                <string>{104,60}</string>
                <key>spriteSourceSize</key>
                <string>{116,90}</string>
                <key>textureRect</key>
                <string>{{309,1095},{104,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/butterfly6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-13}</string>
                <key>spriteSize</key>
                <string>{104,62}</string>
                <key>spriteSourceSize</key>
                <string>{116,90}</string>
                <key>textureRect</key>
                <string>{{309,1031},{104,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/character1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,257}</string>
                <key>spriteSourceSize</key>
                <string>{116,257}</string>
                <key>textureRect</key>
                <string>{{200,94},{116,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kutekwa_nyara/character2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,267}</string>
                <key>spriteSourceSize</key>
                <string>{197,267}</string>
                <key>textureRect</key>
                <string>{{1,1},{197,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/character3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,179}</string>
                <key>spriteSourceSize</key>
                <string>{127,179}</string>
                <key>textureRect</key>
                <string>{{147,471},{127,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/eye_inner_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{296,797},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/eye_outer_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,27}</string>
                <key>spriteSourceSize</key>
                <string>{24,27}</string>
                <key>textureRect</key>
                <string>{{276,613},{24,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/face .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,149}</string>
                <key>spriteSourceSize</key>
                <string>{162,149}</string>
                <key>textureRect</key>
                <string>{{200,245},{162,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{147,690},{13,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kutekwa_nyara/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,43}</string>
                <key>spriteSourceSize</key>
                <string>{7,43}</string>
                <key>textureRect</key>
                <string>{{492,765},{7,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/girl_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{1,1048},{6,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kutekwa_nyara/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,34}</string>
                <key>spriteSourceSize</key>
                <string>{17,34}</string>
                <key>textureRect</key>
                <string>{{285,1016},{17,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,44}</string>
                <key>spriteSourceSize</key>
                <string>{7,44}</string>
                <key>textureRect</key>
                <string>{{492,719},{7,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/girl_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,22}</string>
                <key>spriteSourceSize</key>
                <string>{5,22}</string>
                <key>textureRect</key>
                <string>{{494,493},{5,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/motu_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{315,797},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/motu_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,24}</string>
                <key>spriteSourceSize</key>
                <string>{8,24}</string>
                <key>textureRect</key>
                <string>{{276,642},{8,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kutekwa_nyara/motu_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,37}</string>
                <key>spriteSourceSize</key>
                <string>{9,37}</string>
                <key>textureRect</key>
                <string>{{1,1197},{9,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kutekwa_nyara/motu_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,147}</string>
                <key>spriteSourceSize</key>
                <string>{107,147}</string>
                <key>textureRect</key>
                <string>{{392,344},{107,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/motu_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,8}</string>
                <key>spriteSourceSize</key>
                <string>{40,8}</string>
                <key>textureRect</key>
                <string>{{197,455},{40,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/puff1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{9,10}</string>
                <key>spriteSourceSize</key>
                <string>{93,82}</string>
                <key>textureRect</key>
                <string>{{398,975},{9,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/puff10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,7}</string>
                <key>spriteSize</key>
                <string>{65,42}</string>
                <key>spriteSourceSize</key>
                <string>{93,82}</string>
                <key>textureRect</key>
                <string>{{415,1108},{65,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/puff11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{61,38}</string>
                <key>spriteSourceSize</key>
                <string>{93,82}</string>
                <key>textureRect</key>
                <string>{{222,1016},{61,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/puff12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,39.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{93,82}</string>
                <key>textureRect</key>
                <string>{{305,898},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/puff2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{25,22}</string>
                <key>spriteSourceSize</key>
                <string>{93,82}</string>
                <key>textureRect</key>
                <string>{{477,1037},{25,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kutekwa_nyara/puff3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{41,38}</string>
                <key>spriteSourceSize</key>
                <string>{93,82}</string>
                <key>textureRect</key>
                <string>{{309,1157},{41,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/puff4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{51,48}</string>
                <key>spriteSourceSize</key>
                <string>{93,82}</string>
                <key>textureRect</key>
                <string>{{341,396},{51,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kutekwa_nyara/puff5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{93,82}</string>
                <key>textureRect</key>
                <string>{{417,975},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/puff6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{75,68}</string>
                <key>spriteSourceSize</key>
                <string>{93,82}</string>
                <key>textureRect</key>
                <string>{{398,905},{75,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/puff7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{91,82}</string>
                <key>spriteSourceSize</key>
                <string>{93,82}</string>
                <key>textureRect</key>
                <string>{{305,903},{91,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/puff8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{87,76}</string>
                <key>spriteSourceSize</key>
                <string>{93,82}</string>
                <key>textureRect</key>
                <string>{{302,613},{87,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kutekwa_nyara/puff9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{69,60}</string>
                <key>spriteSourceSize</key>
                <string>{93,82}</string>
                <key>textureRect</key>
                <string>{{415,1037},{69,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Kutekwa_nyara.png</string>
            <key>size</key>
            <string>{500,1207}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b63030ad939da69861fef4c478c0d80:9b0df8e77bd2a66e32a7b18a16b82fbc:8515a1d5a3818be623f6c39fef1e1c79$</string>
            <key>textureFileName</key>
            <string>Kutekwa_nyara.png</string>
        </dict>
    </dict>
</plist>
