<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pop/bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1167,277}</string>
                <key>spriteSourceSize</key>
                <string>{1167,277}</string>
                <key>textureRect</key>
                <string>{{1547,1},{1167,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,211}</string>
                <key>spriteSourceSize</key>
                <string>{430,211}</string>
                <key>textureRect</key>
                <string>{{1547,280},{430,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop/fan1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,167}</string>
                <key>spriteSourceSize</key>
                <string>{130,167}</string>
                <key>textureRect</key>
                <string>{{1979,280},{130,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop/fan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,167}</string>
                <key>spriteSourceSize</key>
                <string>{130,167}</string>
                <key>textureRect</key>
                <string>{{2111,280},{130,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop/fan3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,167}</string>
                <key>spriteSourceSize</key>
                <string>{130,167}</string>
                <key>textureRect</key>
                <string>{{2243,280},{130,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop/mountain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,771}</string>
                <key>spriteSourceSize</key>
                <string>{450,771}</string>
                <key>textureRect</key>
                <string>{{1,1},{450,771}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pop/mountain1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,771}</string>
                <key>spriteSourceSize</key>
                <string>{450,771}</string>
                <key>textureRect</key>
                <string>{{774,1},{450,771}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pop/plane.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,240}</string>
                <key>spriteSourceSize</key>
                <string>{400,240}</string>
                <key>textureRect</key>
                <string>{{2716,1},{400,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pop/puff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,34}</string>
                <key>spriteSourceSize</key>
                <string>{39,34}</string>
                <key>textureRect</key>
                <string>{{1,453},{39,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pop.png</string>
            <key>size</key>
            <string>{2957,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bf6aa251a9f3033aba4fff9202b1025:f142547820d034fad180e71fd276bbd0:406781c4b8269e9fbc9dbbe92d42060a$</string>
            <key>textureFileName</key>
            <string>pop.png</string>
        </dict>
    </dict>
</plist>
