<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>line/bean_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,68}</string>
                <key>spriteSourceSize</key>
                <string>{102,68}</string>
                <key>textureRect</key>
                <string>{{613,363},{102,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line/bean_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,68}</string>
                <key>spriteSourceSize</key>
                <string>{100,68}</string>
                <key>textureRect</key>
                <string>{{800,254},{100,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line/bean_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,68}</string>
                <key>spriteSourceSize</key>
                <string>{101,68}</string>
                <key>textureRect</key>
                <string>{{800,184},{101,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line/candy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{297,302}</string>
                <key>spriteSourceSize</key>
                <string>{297,302}</string>
                <key>textureRect</key>
                <string>{{1,1},{297,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line/candy10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,181}</string>
                <key>spriteSourceSize</key>
                <string>{193,181}</string>
                <key>textureRect</key>
                <string>{{697,1},{193,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line/candy11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,181}</string>
                <key>spriteSourceSize</key>
                <string>{193,181}</string>
                <key>textureRect</key>
                <string>{{464,180},{193,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line/candy12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,139}</string>
                <key>spriteSourceSize</key>
                <string>{163,139}</string>
                <key>textureRect</key>
                <string>{{659,184},{163,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line/candy13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,156}</string>
                <key>spriteSourceSize</key>
                <string>{151,156}</string>
                <key>textureRect</key>
                <string>{{204,305},{151,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line/candy18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{801,324},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line/candy19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{852,324},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line/candy20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{801,375},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line/candy21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{852,375},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line/candy8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,111}</string>
                <key>spriteSourceSize</key>
                <string>{163,111}</string>
                <key>textureRect</key>
                <string>{{448,363},{163,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line/candy9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,112}</string>
                <key>spriteSourceSize</key>
                <string>{162,112}</string>
                <key>textureRect</key>
                <string>{{300,180},{162,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line/candy_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,395}</string>
                <key>spriteSourceSize</key>
                <string>{177,395}</string>
                <key>textureRect</key>
                <string>{{300,1},{177,395}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line/candy_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,201}</string>
                <key>spriteSourceSize</key>
                <string>{149,201}</string>
                <key>textureRect</key>
                <string>{{1,305},{149,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line/star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,116}</string>
                <key>spriteSourceSize</key>
                <string>{122,116}</string>
                <key>textureRect</key>
                <string>{{683,349},{122,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line/tie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,89}</string>
                <key>spriteSourceSize</key>
                <string>{176,89}</string>
                <key>textureRect</key>
                <string>{{357,294},{176,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>line.png</string>
            <key>size</key>
            <string>{902,475}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f4b1a7ffe6865b896d1f5c4080799ee:2bafc43f1f333f950d97b9305495ecd2:45e563efd0356655604a66e9a4f28ca4$</string>
            <key>textureFileName</key>
            <string>line.png</string>
        </dict>
    </dict>
</plist>
