<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layercandy/base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{597,186}</string>
                <key>spriteSourceSize</key>
                <string>{597,186}</string>
                <key>textureRect</key>
                <string>{{2067,1210},{597,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{636,160}</string>
                <key>spriteSourceSize</key>
                <string>{636,160}</string>
                <key>textureRect</key>
                <string>{{2609,437},{636,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,290}</string>
                <key>spriteSourceSize</key>
                <string>{202,290}</string>
                <key>textureRect</key>
                <string>{{1,1210},{202,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/cake1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,157}</string>
                <key>spriteSourceSize</key>
                <string>{478,157}</string>
                <key>textureRect</key>
                <string>{{2773,437},{478,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/f1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{164,104}</string>
                <key>spriteSourceSize</key>
                <string>{190,208}</string>
                <key>textureRect</key>
                <string>{{2666,1191},{164,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/f2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-18}</string>
                <key>spriteSize</key>
                <string>{162,104}</string>
                <key>spriteSourceSize</key>
                <string>{190,208}</string>
                <key>textureRect</key>
                <string>{{3005,1326},{162,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/f3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-18}</string>
                <key>spriteSize</key>
                <string>{162,104}</string>
                <key>spriteSourceSize</key>
                <string>{190,208}</string>
                <key>textureRect</key>
                <string>{{3111,1326},{162,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/f4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{164,104}</string>
                <key>spriteSourceSize</key>
                <string>{190,208}</string>
                <key>textureRect</key>
                <string>{{2772,1191},{164,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/f5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-19}</string>
                <key>spriteSize</key>
                <string>{162,112}</string>
                <key>spriteSourceSize</key>
                <string>{190,208}</string>
                <key>textureRect</key>
                <string>{{2677,1357},{162,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/f6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-19}</string>
                <key>spriteSize</key>
                <string>{162,112}</string>
                <key>spriteSourceSize</key>
                <string>{190,208}</string>
                <key>textureRect</key>
                <string>{{2841,1357},{162,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/f7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-21}</string>
                <key>spriteSize</key>
                <string>{162,114}</string>
                <key>spriteSourceSize</key>
                <string>{190,208}</string>
                <key>textureRect</key>
                <string>{{2609,1075},{162,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/f8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-18}</string>
                <key>spriteSize</key>
                <string>{162,104}</string>
                <key>spriteSourceSize</key>
                <string>{190,208}</string>
                <key>textureRect</key>
                <string>{{3217,1326},{162,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{270,308}</string>
                <key>spriteSourceSize</key>
                <string>{286,312}</string>
                <key>textureRect</key>
                <string>{{1757,1210},{270,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3507,434}</string>
                <key>spriteSourceSize</key>
                <string>{3507,434}</string>
                <key>textureRect</key>
                <string>{{1,1},{3507,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,54}</string>
                <key>spriteSourceSize</key>
                <string>{35,54}</string>
                <key>textureRect</key>
                <string>{{2225,1398},{35,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,39}</string>
                <key>spriteSourceSize</key>
                <string>{71,39}</string>
                <key>textureRect</key>
                <string>{{2184,1398},{71,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/hands.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,54}</string>
                <key>spriteSourceSize</key>
                <string>{35,54}</string>
                <key>textureRect</key>
                <string>{{2225,1398},{35,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/ladder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,1118}</string>
                <key>spriteSourceSize</key>
                <string>{277,1118}</string>
                <key>textureRect</key>
                <string>{{637,1210},{277,1118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,35}</string>
                <key>spriteSourceSize</key>
                <string>{92,35}</string>
                <key>textureRect</key>
                <string>{{2640,1398},{92,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/mountain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,20}</string>
                <key>spriteSize</key>
                <string>{483,542}</string>
                <key>spriteSourceSize</key>
                <string>{555,584}</string>
                <key>textureRect</key>
                <string>{{3005,782},{483,542}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/ref.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{2262,1398},{39,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/ref2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2001,11}</string>
                <key>spriteSourceSize</key>
                <string>{2001,11}</string>
                <key>textureRect</key>
                <string>{{637,1489},{2001,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/sky.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2287,771}</string>
                <key>spriteSourceSize</key>
                <string>{2287,771}</string>
                <key>textureRect</key>
                <string>{{1,437},{2287,771}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{279,430}</string>
                <key>spriteSourceSize</key>
                <string>{279,448}</string>
                <key>textureRect</key>
                <string>{{205,1210},{279,430}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/tree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{343,494}</string>
                <key>spriteSourceSize</key>
                <string>{343,514}</string>
                <key>textureRect</key>
                <string>{{3005,437},{343,494}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/tree3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,669}</string>
                <key>spriteSourceSize</key>
                <string>{317,669}</string>
                <key>textureRect</key>
                <string>{{2290,437},{317,669}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,115}</string>
                <key>spriteSourceSize</key>
                <string>{86,115}</string>
                <key>textureRect</key>
                <string>{{2067,1398},{86,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>layercandy.png</string>
            <key>size</key>
            <string>{3509,1501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92709b1f73396f669c8a439377f91fdd:bfdced2de00f4984ddece3a6d668d9ae:9090c2acdba05a01cf61de06513036fd$</string>
            <key>textureFileName</key>
            <string>layercandy.png</string>
        </dict>
    </dict>
</plist>
