<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layercandy/base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{949,186}</string>
                <key>spriteSourceSize</key>
                <string>{949,186}</string>
                <key>textureRect</key>
                <string>{{2290,716},{949,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{636,160}</string>
                <key>spriteSourceSize</key>
                <string>{636,160}</string>
                <key>textureRect</key>
                <string>{{1,1223},{636,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,290}</string>
                <key>spriteSourceSize</key>
                <string>{202,290}</string>
                <key>textureRect</key>
                <string>{{3552,1041},{202,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/cake1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,157}</string>
                <key>spriteSourceSize</key>
                <string>{478,157}</string>
                <key>textureRect</key>
                <string>{{639,1223},{478,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/f1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{164,104}</string>
                <key>spriteSourceSize</key>
                <string>{190,208}</string>
                <key>textureRect</key>
                <string>{{1447,1223},{164,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/f2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-18}</string>
                <key>spriteSize</key>
                <string>{162,104}</string>
                <key>spriteSourceSize</key>
                <string>{190,208}</string>
                <key>textureRect</key>
                <string>{{1779,1223},{162,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/f3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-18}</string>
                <key>spriteSize</key>
                <string>{162,104}</string>
                <key>spriteSourceSize</key>
                <string>{190,208}</string>
                <key>textureRect</key>
                <string>{{3552,1245},{162,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/f4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{164,104}</string>
                <key>spriteSourceSize</key>
                <string>{190,208}</string>
                <key>textureRect</key>
                <string>{{1613,1223},{164,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/f5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-19}</string>
                <key>spriteSize</key>
                <string>{162,112}</string>
                <key>spriteSourceSize</key>
                <string>{190,208}</string>
                <key>textureRect</key>
                <string>{{3241,716},{162,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/f6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-19}</string>
                <key>spriteSize</key>
                <string>{162,112}</string>
                <key>spriteSourceSize</key>
                <string>{190,208}</string>
                <key>textureRect</key>
                <string>{{1283,1223},{162,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/f7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-21}</string>
                <key>spriteSize</key>
                <string>{162,114}</string>
                <key>spriteSourceSize</key>
                <string>{190,208}</string>
                <key>textureRect</key>
                <string>{{1119,1223},{162,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/f8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-18}</string>
                <key>spriteSize</key>
                <string>{162,104}</string>
                <key>spriteSourceSize</key>
                <string>{190,208}</string>
                <key>textureRect</key>
                <string>{{3716,1245},{162,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{270,308}</string>
                <key>spriteSourceSize</key>
                <string>{286,312}</string>
                <key>textureRect</key>
                <string>{{3242,1041},{270,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3507,434}</string>
                <key>spriteSourceSize</key>
                <string>{3507,434}</string>
                <key>textureRect</key>
                <string>{{1,1},{3507,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,54}</string>
                <key>spriteSourceSize</key>
                <string>{35,54}</string>
                <key>textureRect</key>
                <string>{{3241,830},{35,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,39}</string>
                <key>spriteSourceSize</key>
                <string>{71,39}</string>
                <key>textureRect</key>
                <string>{{3410,437},{71,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/hands.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,54}</string>
                <key>spriteSourceSize</key>
                <string>{35,54}</string>
                <key>textureRect</key>
                <string>{{3241,830},{35,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/ladder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,1118}</string>
                <key>spriteSourceSize</key>
                <string>{277,1118}</string>
                <key>textureRect</key>
                <string>{{2290,437},{277,1118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,35}</string>
                <key>spriteSourceSize</key>
                <string>{92,35}</string>
                <key>textureRect</key>
                <string>{{3855,1},{92,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/mountain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,20}</string>
                <key>spriteSize</key>
                <string>{483,542}</string>
                <key>spriteSourceSize</key>
                <string>{555,584}</string>
                <key>textureRect</key>
                <string>{{3410,497},{483,542}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/ref.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{3844,1041},{39,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/ref2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2001,11}</string>
                <key>spriteSourceSize</key>
                <string>{2001,11}</string>
                <key>textureRect</key>
                <string>{{1,1210},{2001,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/sky.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2287,771}</string>
                <key>spriteSourceSize</key>
                <string>{2287,771}</string>
                <key>textureRect</key>
                <string>{{1,437},{2287,771}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{279,430}</string>
                <key>spriteSourceSize</key>
                <string>{279,448}</string>
                <key>textureRect</key>
                <string>{{2961,904},{279,430}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/tree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{343,494}</string>
                <key>spriteSourceSize</key>
                <string>{343,514}</string>
                <key>textureRect</key>
                <string>{{3510,1},{343,494}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/tree3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,669}</string>
                <key>spriteSourceSize</key>
                <string>{317,669}</string>
                <key>textureRect</key>
                <string>{{2290,904},{317,669}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,115}</string>
                <key>spriteSourceSize</key>
                <string>{86,115}</string>
                <key>textureRect</key>
                <string>{{1943,1223},{86,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>layercandy.png</string>
            <key>size</key>
            <string>{3894,1384}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe803bd89f57f7068d2e9f9020f7c290:855530acb66bee6120d07ad849dc753e:9090c2acdba05a01cf61de06513036fd$</string>
            <key>textureFileName</key>
            <string>layercandy.png</string>
        </dict>
    </dict>
</plist>
