<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>miningbar/miningbar2/barrel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,343}</string>
                <key>spriteSourceSize</key>
                <string>{280,343}</string>
                <key>textureRect</key>
                <string>{{471,1},{280,343}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>miningbar/miningbar2/crate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{297,277}</string>
                <key>spriteSourceSize</key>
                <string>{297,277}</string>
                <key>textureRect</key>
                <string>{{172,1},{297,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miningbar/miningbar2/dooranimation1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{628,641}</string>
                <key>spriteSourceSize</key>
                <string>{628,641}</string>
                <key>textureRect</key>
                <string>{{1,283},{628,641}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>miningbar/miningbar2/dooranimation2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{628,685}</string>
                <key>spriteSourceSize</key>
                <string>{628,685}</string>
                <key>textureRect</key>
                <string>{{644,297},{628,685}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>miningbar/miningbar2/dooranimation3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{628,691}</string>
                <key>spriteSourceSize</key>
                <string>{628,691}</string>
                <key>textureRect</key>
                <string>{{1331,297},{628,691}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>miningbar/miningbar2/foundationtile1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,167}</string>
                <key>spriteSourceSize</key>
                <string>{169,167}</string>
                <key>textureRect</key>
                <string>{{1,1},{169,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miningbar/miningbar2/rack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,983}</string>
                <key>spriteSourceSize</key>
                <string>{1920,983}</string>
                <key>textureRect</key>
                <string>{{1,927},{1920,983}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miningbar/miningbar2/table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{993,294}</string>
                <key>spriteSourceSize</key>
                <string>{993,294}</string>
                <key>textureRect</key>
                <string>{{816,1},{993,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>miningbar2.png</string>
            <key>size</key>
            <string>{2023,1911}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b92b7f59b48e84918e0dabbad3c81274:e5f399df48ef9f66aea53be41279a07d:41b88442097d4fbd5cdf8647497d6f29$</string>
            <key>textureFileName</key>
            <string>miningbar2.png</string>
        </dict>
    </dict>
</plist>
