<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>circle/dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,26}</string>
                <key>spriteSourceSize</key>
                <string>{25,26}</string>
                <key>textureRect</key>
                <string>{{1,1295},{25,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle/fish1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,216}</string>
                <key>spriteSourceSize</key>
                <string>{323,216}</string>
                <key>textureRect</key>
                <string>{{325,939},{323,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>circle/fish2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{354,169}</string>
                <key>spriteSourceSize</key>
                <string>{354,173}</string>
                <key>textureRect</key>
                <string>{{1,939},{354,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>circle/fish3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,8}</string>
                <key>spriteSize</key>
                <string>{217,244}</string>
                <key>spriteSourceSize</key>
                <string>{225,260}</string>
                <key>textureRect</key>
                <string>{{764,939},{217,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle/fish4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{247,219}</string>
                <key>spriteSourceSize</key>
                <string>{257,219}</string>
                <key>textureRect</key>
                <string>{{543,939},{247,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>circle/fish5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,142}</string>
                <key>spriteSourceSize</key>
                <string>{190,142}</string>
                <key>textureRect</key>
                <string>{{764,1185},{190,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle/fish6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{352,151}</string>
                <key>spriteSourceSize</key>
                <string>{354,151}</string>
                <key>textureRect</key>
                <string>{{172,939},{352,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>circle/octopus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,0}</string>
                <key>spriteSize</key>
                <string>{936,995}</string>
                <key>spriteSourceSize</key>
                <string>{1510,995}</string>
                <key>textureRect</key>
                <string>{{1,1},{936,995}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>circle.png</string>
            <key>size</key>
            <string>{997,1328}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b48ff33c2cc48bdd97e33ab812839705:4d5f4997952a4db966d11769d1dadbeb:8a354d177361771365c56e38022dff23$</string>
            <key>textureFileName</key>
            <string>circle.png</string>
        </dict>
    </dict>
</plist>
