<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boxlevel/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1414,328}</string>
                <key>spriteSourceSize</key>
                <string>{1414,328}</string>
                <key>textureRect</key>
                <string>{{1,1},{1414,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boxlevel/box1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-53}</string>
                <key>spriteSize</key>
                <string>{436,259}</string>
                <key>spriteSourceSize</key>
                <string>{436,365}</string>
                <key>textureRect</key>
                <string>{{1136,331},{436,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boxlevel/box4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,365}</string>
                <key>spriteSourceSize</key>
                <string>{436,365}</string>
                <key>textureRect</key>
                <string>{{1,331},{436,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boxlevel/box7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,365}</string>
                <key>spriteSourceSize</key>
                <string>{436,365}</string>
                <key>textureRect</key>
                <string>{{439,331},{436,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boxlevel/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,250}</string>
                <key>spriteSourceSize</key>
                <string>{234,250}</string>
                <key>textureRect</key>
                <string>{{1417,1},{234,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boxlevel/pant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,290}</string>
                <key>spriteSourceSize</key>
                <string>{257,290}</string>
                <key>textureRect</key>
                <string>{{877,331},{257,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boxlevel.png</string>
            <key>size</key>
            <string>{1652,697}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d27f9d117c1ec349f0b0093961cf197:80f01f6a83d081d6c7c3175c765398d4:cb2cb79b8057284e0ea6d00d58161e04$</string>
            <key>textureFileName</key>
            <string>boxlevel.png</string>
        </dict>
    </dict>
</plist>
