<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pinatacandylevel/balloon.png</key>
			<dict>
				<key>frame</key>
				<string>{{3176,1216},{682,440}}</string>
				<key>offset</key>
				<string>{0,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{682,467}</string>
			</dict>
			<key>pinatacandylevel/bg_mountain.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1287,716}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1287,716}</string>
			</dict>
			<key>pinatacandylevel/candy1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3026,1860},{277,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{277,220}</string>
			</dict>
			<key>pinatacandylevel/candy2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3545,1656},{291,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{291,262}</string>
			</dict>
			<key>pinatacandylevel/candy3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3836,1833},{297,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{297,228}</string>
			</dict>
			<key>pinatacandylevel/candyplant1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3303,2035},{161,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,163}</string>
			</dict>
			<key>pinatacandylevel/candyplant2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3527,1918},{183,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,184}</string>
			</dict>
			<key>pinatacandylevel/candyplant3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3026,1391},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>pinatacandylevel/cloud1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3026,1656},{519,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{519,204}</string>
			</dict>
			<key>pinatacandylevel/cloud2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2842,1391},{606,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{606,184}</string>
			</dict>
			<key>pinatacandylevel/cloud3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1287,702},{831,405}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{831,405}</string>
			</dict>
			<key>pinatacandylevel/gingerbread_house.png</key>
			<dict>
				<key>frame</key>
				<string>{{3238,627},{644,589}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{644,589}</string>
			</dict>
			<key>pinatacandylevel/lolli.png</key>
			<dict>
				<key>frame</key>
				<string>{{2842,900},{334,491}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{334,491}</string>
			</dict>
			<key>pinatacandylevel/main_mountain1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2268,0},{1036,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1036,443}</string>
			</dict>
			<key>pinatacandylevel/main_mountain3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3882,627},{1206,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1206,172}</string>
			</dict>
			<key>pinatacandylevel/mountain.png</key>
			<dict>
				<key>frame</key>
				<string>{{1287,0},{981,702}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{981,702}</string>
			</dict>
			<key>pinatacandylevel/plant.png</key>
			<dict>
				<key>frame</key>
				<string>{{3303,1860},{175,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,224}</string>
			</dict>
			<key>pinatacandylevel/rock.png</key>
			<dict>
				<key>frame</key>
				<string>{{3304,0},{627,717}}</string>
				<key>offset</key>
				<string>{18,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{726,767}</string>
			</dict>
			<key>pinatacandylevel/shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{2118,702},{379,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{379,109}</string>
			</dict>
			<key>pinatacandylevel/tree1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2268,443},{457,970}}</string>
				<key>offset</key>
				<string>{-6,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{469,981}</string>
			</dict>
			<key>pinatacandylevel/tree2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2227,900},{493,615}}</string>
				<key>offset</key>
				<string>{0,17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{493,648}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>pinatacandylevel.png</string>
			<key>realTextureFileName</key>
			<string>pinatacandylevel.png</string>
			<key>size</key>
			<string>{4064,2196}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4064</integer>
			<key>height</key>
			<integer>2196</integer>
		</dict>
	</dict>
</plist>