<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/antbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,54}</string>
                <key>spriteSourceSize</key>
                <string>{57,54}</string>
                <key>textureRect</key>
                <string>{{457,499},{57,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/anteyeball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{326,1148},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/anteyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,36}</string>
                <key>spriteSourceSize</key>
                <string>{61,36}</string>
                <key>textureRect</key>
                <string>{{471,979},{61,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/anthead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,94}</string>
                <key>spriteSourceSize</key>
                <string>{112,94}</string>
                <key>textureRect</key>
                <string>{{343,499},{112,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/antleg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,48}</string>
                <key>spriteSourceSize</key>
                <string>{44,48}</string>
                <key>textureRect</key>
                <string>{{462,933},{44,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/antleg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,47}</string>
                <key>spriteSourceSize</key>
                <string>{23,47}</string>
                <key>textureRect</key>
                <string>{{413,971},{23,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/antleg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,49}</string>
                <key>spriteSourceSize</key>
                <string>{48,49}</string>
                <key>textureRect</key>
                <string>{{443,743},{48,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/antmouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,13}</string>
                <key>spriteSourceSize</key>
                <string>{30,13}</string>
                <key>textureRect</key>
                <string>{{498,274},{30,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/anttail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,73}</string>
                <key>spriteSourceSize</key>
                <string>{116,73}</string>
                <key>textureRect</key>
                <string>{{201,924},{116,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/blaze0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{47,70}</string>
                <key>spriteSourceSize</key>
                <string>{47,74}</string>
                <key>textureRect</key>
                <string>{{422,996},{47,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/blaze0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{47,70}</string>
                <key>spriteSourceSize</key>
                <string>{47,74}</string>
                <key>textureRect</key>
                <string>{{422,996},{47,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/blaze0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{47,70}</string>
                <key>spriteSourceSize</key>
                <string>{47,74}</string>
                <key>textureRect</key>
                <string>{{422,996},{47,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/blaze0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,74}</string>
                <key>spriteSourceSize</key>
                <string>{47,74}</string>
                <key>textureRect</key>
                <string>{{397,1084},{47,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/blaze0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,74}</string>
                <key>spriteSourceSize</key>
                <string>{47,74}</string>
                <key>textureRect</key>
                <string>{{397,1084},{47,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/blaze0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,74}</string>
                <key>spriteSourceSize</key>
                <string>{47,74}</string>
                <key>textureRect</key>
                <string>{{397,1084},{47,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/blaze0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,74}</string>
                <key>spriteSourceSize</key>
                <string>{47,74}</string>
                <key>textureRect</key>
                <string>{{413,895},{47,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/blaze0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,74}</string>
                <key>spriteSourceSize</key>
                <string>{47,74}</string>
                <key>textureRect</key>
                <string>{{413,895},{47,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/blaze0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,74}</string>
                <key>spriteSourceSize</key>
                <string>{47,74}</string>
                <key>textureRect</key>
                <string>{{413,895},{47,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,69}</string>
                <key>spriteSourceSize</key>
                <string>{197,69}</string>
                <key>textureRect</key>
                <string>{{89,792},{197,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/city.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,120}</string>
                <key>spriteSourceSize</key>
                <string>{158,120}</string>
                <key>textureRect</key>
                <string>{{1,995},{158,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,41}</string>
                <key>spriteSourceSize</key>
                <string>{102,41}</string>
                <key>textureRect</key>
                <string>{{222,1115},{102,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,51}</string>
                <key>spriteSourceSize</key>
                <string>{122,51}</string>
                <key>textureRect</key>
                <string>{{354,446},{122,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/cloud3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,61}</string>
                <key>spriteSourceSize</key>
                <string>{145,61}</string>
                <key>textureRect</key>
                <string>{{450,1},{145,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/cloud4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,71}</string>
                <key>spriteSourceSize</key>
                <string>{166,71}</string>
                <key>textureRect</key>
                <string>{{281,294},{166,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/curve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{83,83}</string>
                <key>textureRect</key>
                <string>{{337,999},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/dialogbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,120}</string>
                <key>spriteSourceSize</key>
                <string>{158,120}</string>
                <key>textureRect</key>
                <string>{{354,286},{158,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/dovebeakdown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,12}</string>
                <key>spriteSourceSize</key>
                <string>{24,12}</string>
                <key>textureRect</key>
                <string>{{399,895},{24,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/dovebeakup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,9}</string>
                <key>spriteSourceSize</key>
                <string>{31,9}</string>
                <key>textureRect</key>
                <string>{{326,1115},{31,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/dovebody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,86}</string>
                <key>spriteSourceSize</key>
                <string>{201,86}</string>
                <key>textureRect</key>
                <string>{{1,792},{201,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/dovehead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,84}</string>
                <key>spriteSourceSize</key>
                <string>{111,84}</string>
                <key>textureRect</key>
                <string>{{355,595},{111,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/doveleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,27}</string>
                <key>spriteSourceSize</key>
                <string>{25,27}</string>
                <key>textureRect</key>
                <string>{{476,409},{25,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/dovetail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,38}</string>
                <key>spriteSourceSize</key>
                <string>{100,38}</string>
                <key>textureRect</key>
                <string>{{473,558},{100,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/dovewing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,74}</string>
                <key>spriteSourceSize</key>
                <string>{152,74}</string>
                <key>textureRect</key>
                <string>{{267,482},{152,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/drytree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,291}</string>
                <key>spriteSourceSize</key>
                <string>{308,291}</string>
                <key>textureRect</key>
                <string>{{1,1},{308,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/dummy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,28}</string>
                <key>spriteSourceSize</key>
                <string>{26,28}</string>
                <key>textureRect</key>
                <string>{{485,1126},{26,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{450,148},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/eyeball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{326,1148},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/eyelid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{450,211},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,137}</string>
                <key>spriteSourceSize</key>
                <string>{283,137}</string>
                <key>textureRect</key>
                <string>{{311,1},{283,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/flower3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,84}</string>
                <key>spriteSourceSize</key>
                <string>{86,84}</string>
                <key>textureRect</key>
                <string>{{355,708},{86,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/flower4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,113}</string>
                <key>spriteSourceSize</key>
                <string>{114,113}</string>
                <key>textureRect</key>
                <string>{{222,999},{114,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/frogbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,97}</string>
                <key>spriteSourceSize</key>
                <string>{152,97}</string>
                <key>textureRect</key>
                <string>{{123,1004},{152,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/frogeye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{471,1042},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/frogeyeball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{343,595},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/froglegbackdown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,12}</string>
                <key>spriteSourceSize</key>
                <string>{42,12}</string>
                <key>textureRect</key>
                <string>{{422,1068},{42,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/froglegbackfeet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,18}</string>
                <key>spriteSourceSize</key>
                <string>{47,18}</string>
                <key>textureRect</key>
                <string>{{281,462},{47,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/froglegbackmid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,17}</string>
                <key>spriteSourceSize</key>
                <string>{65,17}</string>
                <key>textureRect</key>
                <string>{{476,342},{65,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/froglegbackup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,25}</string>
                <key>spriteSourceSize</key>
                <string>{75,25}</string>
                <key>textureRect</key>
                <string>{{270,764},{75,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/froglegfrontfeet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,13}</string>
                <key>spriteSourceSize</key>
                <string>{19,13}</string>
                <key>textureRect</key>
                <string>{{498,338},{19,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/froglegfrontlow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,20}</string>
                <key>spriteSourceSize</key>
                <string>{7,20}</string>
                <key>textureRect</key>
                <string>{{464,584},{7,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/froglegfrontup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,29}</string>
                <key>spriteSourceSize</key>
                <string>{9,29}</string>
                <key>textureRect</key>
                <string>{{181,673},{9,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/frogmouth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,12}</string>
                <key>spriteSourceSize</key>
                <string>{29,12}</string>
                <key>textureRect</key>
                <string>{{496,822},{29,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/frogmouth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,12}</string>
                <key>spriteSourceSize</key>
                <string>{31,12}</string>
                <key>textureRect</key>
                <string>{{496,789},{31,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/frogmouth3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,10}</string>
                <key>spriteSourceSize</key>
                <string>{31,10}</string>
                <key>textureRect</key>
                <string>{{1,1155},{31,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/frogmouth4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,13}</string>
                <key>spriteSourceSize</key>
                <string>{30,13}</string>
                <key>textureRect</key>
                <string>{{498,306},{30,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/frognose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,5}</string>
                <key>spriteSourceSize</key>
                <string>{10,5}</string>
                <key>textureRect</key>
                <string>{{397,1160},{10,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/frogtail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,11}</string>
                <key>spriteSourceSize</key>
                <string>{40,11}</string>
                <key>textureRect</key>
                <string>{{494,1082},{40,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/idea.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,84}</string>
                <key>spriteSourceSize</key>
                <string>{21,84}</string>
                <key>textureRect</key>
                <string>{{473,794},{21,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/lizardbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,64}</string>
                <key>spriteSourceSize</key>
                <string>{122,64}</string>
                <key>textureRect</key>
                <string>{{333,794},{122,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/lizardeye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{446,1126},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/lizardeyeball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,9}</string>
                <key>spriteSourceSize</key>
                <string>{10,9}</string>
                <key>textureRect</key>
                <string>{{34,1155},{10,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/lizardhead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,47}</string>
                <key>spriteSourceSize</key>
                <string>{81,47}</string>
                <key>textureRect</key>
                <string>{{464,660},{81,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/lizardleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,36}</string>
                <key>spriteSourceSize</key>
                <string>{49,36}</string>
                <key>textureRect</key>
                <string>{{462,895},{49,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/lizardmouth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,18}</string>
                <key>spriteSourceSize</key>
                <string>{44,18}</string>
                <key>textureRect</key>
                <string>{{493,743},{44,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/lizardmouth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,13}</string>
                <key>spriteSourceSize</key>
                <string>{22,13}</string>
                <key>textureRect</key>
                <string>{{330,462},{22,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/lizardmouth3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,13}</string>
                <key>spriteSourceSize</key>
                <string>{23,13}</string>
                <key>textureRect</key>
                <string>{{473,880},{23,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/lizardmouth4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,14}</string>
                <key>spriteSourceSize</key>
                <string>{24,14}</string>
                <key>textureRect</key>
                <string>{{457,558},{24,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/lizardnose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,7}</string>
                <key>spriteSourceSize</key>
                <string>{9,7}</string>
                <key>textureRect</key>
                <string>{{462,979},{9,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/lizardtail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,21}</string>
                <key>spriteSourceSize</key>
                <string>{92,21}</string>
                <key>textureRect</key>
                <string>{{441,595},{92,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/questionmark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,81}</string>
                <key>spriteSourceSize</key>
                <string>{58,81}</string>
                <key>textureRect</key>
                <string>{{337,1084},{58,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/squirrel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,73}</string>
                <key>spriteSourceSize</key>
                <string>{92,73}</string>
                <key>textureRect</key>
                <string>{{319,924},{92,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,42}</string>
                <key>spriteSourceSize</key>
                <string>{46,42}</string>
                <key>textureRect</key>
                <string>{{446,1082},{46,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,72}</string>
                <key>spriteSourceSize</key>
                <string>{99,72}</string>
                <key>textureRect</key>
                <string>{{399,794},{99,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/stone1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,83}</string>
                <key>spriteSourceSize</key>
                <string>{126,83}</string>
                <key>textureRect</key>
                <string>{{270,636},{126,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,130}</string>
                <key>spriteSourceSize</key>
                <string>{131,130}</string>
                <key>textureRect</key>
                <string>{{201,791},{131,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,87}</string>
                <key>spriteSourceSize</key>
                <string>{103,87}</string>
                <key>textureRect</key>
                <string>{{181,686},{103,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,186}</string>
                <key>spriteSourceSize</key>
                <string>{278,186}</string>
                <key>textureRect</key>
                <string>{{1,294},{278,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/vesselin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,39}</string>
                <key>spriteSourceSize</key>
                <string>{210,39}</string>
                <key>textureRect</key>
                <string>{{160,792},{210,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/vesselout.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,189}</string>
                <key>spriteSourceSize</key>
                <string>{210,189}</string>
                <key>textureRect</key>
                <string>{{1,482},{210,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/wallpainting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,117}</string>
                <key>spriteSourceSize</key>
                <string>{178,117}</string>
                <key>textureRect</key>
                <string>{{1,673},{178,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,66}</string>
                <key>spriteSourceSize</key>
                <string>{20,66}</string>
                <key>textureRect</key>
                <string>{{476,274},{20,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/waterin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,52}</string>
                <key>spriteSourceSize</key>
                <string>{202,52}</string>
                <key>textureRect</key>
                <string>{{213,482},{202,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/watersplash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,21}</string>
                <key>spriteSourceSize</key>
                <string>{53,21}</string>
                <key>textureRect</key>
                <string>{{478,438},{53,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sababu_Chura_kuwa_na_Sura_Mbaya/watersplash1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,21}</string>
                <key>spriteSourceSize</key>
                <string>{53,21}</string>
                <key>textureRect</key>
                <string>{{478,438},{53,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Sababu_Chura_kuwa_na_Sura_Mbaya.png</string>
            <key>size</key>
            <string>{512,1166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fe233b34693402459fafa712b41a54b:0a82270eca883df5c361eb2e3a4a5376:bd3723e9dcff3e31c47f7e9ff7b0c512$</string>
            <key>textureFileName</key>
            <string>Sababu_Chura_kuwa_na_Sura_Mbaya.png</string>
        </dict>
    </dict>
</plist>
