<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_chair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,221}</string>
                <key>spriteSourceSize</key>
                <string>{176,221}</string>
                <key>textureRect</key>
                <string>{{829,644},{176,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,43}</string>
                <key>spriteSourceSize</key>
                <string>{94,43}</string>
                <key>textureRect</key>
                <string>{{781,95},{94,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_fruit_basket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,46}</string>
                <key>spriteSourceSize</key>
                <string>{92,46}</string>
                <key>textureRect</key>
                <string>{{781,1},{92,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_island.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,15}</string>
                <key>spriteSourceSize</key>
                <string>{130,15}</string>
                <key>textureRect</key>
                <string>{{279,998},{130,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_pillar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,276}</string>
                <key>spriteSourceSize</key>
                <string>{70,276}</string>
                <key>textureRect</key>
                <string>{{1,941},{70,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_rays.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{479,479}</string>
                <key>spriteSourceSize</key>
                <string>{483,483}</string>
                <key>textureRect</key>
                <string>{{1,1},{479,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_seabed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,174}</string>
                <key>spriteSourceSize</key>
                <string>{641,174}</string>
                <key>textureRect</key>
                <string>{{829,1},{641,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_steps.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,98}</string>
                <key>spriteSourceSize</key>
                <string>{406,98}</string>
                <key>textureRect</key>
                <string>{{420,908},{406,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_stool1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,71}</string>
                <key>spriteSourceSize</key>
                <string>{101,71}</string>
                <key>textureRect</key>
                <string>{{828,908},{101,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_stool2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,68}</string>
                <key>spriteSourceSize</key>
                <string>{100,68}</string>
                <key>textureRect</key>
                <string>{{901,867},{100,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_treasure_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,157}</string>
                <key>spriteSourceSize</key>
                <string>{304,157}</string>
                <key>textureRect</key>
                <string>{{482,293},{304,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,424}</string>
                <key>spriteSourceSize</key>
                <string>{415,424}</string>
                <key>textureRect</key>
                <string>{{412,482},{415,424}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_tree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,457}</string>
                <key>spriteSourceSize</key>
                <string>{409,457}</string>
                <key>textureRect</key>
                <string>{{1,482},{409,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_tree3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,297}</string>
                <key>spriteSourceSize</key>
                <string>{290,297}</string>
                <key>textureRect</key>
                <string>{{482,1},{290,297}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_tree4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,76}</string>
                <key>spriteSourceSize</key>
                <string>{69,76}</string>
                <key>textureRect</key>
                <string>{{901,937},{69,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_vase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,139}</string>
                <key>spriteSourceSize</key>
                <string>{55,139}</string>
                <key>textureRect</key>
                <string>{{279,941},{55,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Binti2.png</string>
            <key>size</key>
            <string>{1006,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85ad0945879134ab390a38defd69df57:08db5e079e92113c3c0566fb50a3f265:4af589d8859169ed0b6e854e916ba6b8$</string>
            <key>textureFileName</key>
            <string>Binti2.png</string>
        </dict>
    </dict>
</plist>
