<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>endlessrunner/life_catch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,923}</string>
                <key>spriteSourceSize</key>
                <string>{430,923}</string>
                <key>textureRect</key>
                <string>{{0,0},{430,923}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/life_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,127}</string>
                <key>spriteSourceSize</key>
                <string>{139,127}</string>
                <key>textureRect</key>
                <string>{{840,1171},{139,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/life_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,127}</string>
                <key>spriteSourceSize</key>
                <string>{139,127}</string>
                <key>textureRect</key>
                <string>{{824,1301},{139,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/mad_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,97}</string>
                <key>spriteSourceSize</key>
                <string>{88,97}</string>
                <key>textureRect</key>
                <string>{{837,937},{88,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/mad_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,340}</string>
                <key>spriteSourceSize</key>
                <string>{166,340}</string>
                <key>textureRect</key>
                <string>{{0,1185},{166,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/mad_mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,42}</string>
                <key>spriteSourceSize</key>
                <string>{187,42}</string>
                <key>textureRect</key>
                <string>{{0,1354},{187,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/main_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,79}</string>
                <key>spriteSourceSize</key>
                <string>{61,79}</string>
                <key>textureRect</key>
                <string>{{937,937},{61,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/main_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,140}</string>
                <key>spriteSourceSize</key>
                <string>{132,140}</string>
                <key>textureRect</key>
                <string>{{840,1028},{132,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/main_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,30}</string>
                <key>spriteSourceSize</key>
                <string>{72,30}</string>
                <key>textureRect</key>
                <string>{{258,1354},{72,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/main_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,30}</string>
                <key>spriteSourceSize</key>
                <string>{72,30}</string>
                <key>textureRect</key>
                <string>{{258,1387},{72,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/main_net_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,257}</string>
                <key>spriteSourceSize</key>
                <string>{174,257}</string>
                <key>textureRect</key>
                <string>{{663,1036},{174,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/monster_red_egg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,157}</string>
                <key>spriteSourceSize</key>
                <string>{127,157}</string>
                <key>textureRect</key>
                <string>{{879,164},{127,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/monster_red_egg_crack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,158}</string>
                <key>spriteSourceSize</key>
                <string>{127,158}</string>
                <key>textureRect</key>
                <string>{{663,1296},{127,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/monster_red_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{333,1363},{38,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/monster_red_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,183}</string>
                <key>spriteSourceSize</key>
                <string>{170,183}</string>
                <key>textureRect</key>
                <string>{{837,570},{170,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/monster_red_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,58}</string>
                <key>spriteSourceSize</key>
                <string>{44,58}</string>
                <key>textureRect</key>
                <string>{{343,1276},{44,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/monster_red_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,55}</string>
                <key>spriteSourceSize</key>
                <string>{38,55}</string>
                <key>textureRect</key>
                <string>{{120,1399},{38,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/monster_red_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,58}</string>
                <key>spriteSourceSize</key>
                <string>{88,58}</string>
                <key>textureRect</key>
                <string>{{343,1185},{88,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/monster_yellow_egg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,161}</string>
                <key>spriteSourceSize</key>
                <string>{128,161}</string>
                <key>textureRect</key>
                <string>{{879,0},{128,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/monster_yellow_egg_crack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,157}</string>
                <key>spriteSourceSize</key>
                <string>{125,157}</string>
                <key>textureRect</key>
                <string>{{879,324},{125,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/monster_yellow_eye_left_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,43}</string>
                <key>spriteSourceSize</key>
                <string>{37,43}</string>
                <key>textureRect</key>
                <string>{{343,1323},{37,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/monster_yellow_eye_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,65}</string>
                <key>spriteSourceSize</key>
                <string>{55,65}</string>
                <key>textureRect</key>
                <string>{{190,1354},{55,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/monster_yellow_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,178}</string>
                <key>spriteSourceSize</key>
                <string>{155,178}</string>
                <key>textureRect</key>
                <string>{{837,756},{155,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/monster_yellow_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,58}</string>
                <key>spriteSourceSize</key>
                <string>{38,58}</string>
                <key>textureRect</key>
                <string>{{0,1399},{38,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/monster_yellow_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,56}</string>
                <key>spriteSourceSize</key>
                <string>{38,56}</string>
                <key>textureRect</key>
                <string>{{61,1399},{38,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/monster_yellow_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,71}</string>
                <key>spriteSourceSize</key>
                <string>{97,71}</string>
                <key>textureRect</key>
                <string>{{879,484},{97,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/path_left_lands.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,256}</string>
                <key>spriteSourceSize</key>
                <string>{401,256}</string>
                <key>textureRect</key>
                <string>{{0,926},{401,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/path_right_lands.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,256}</string>
                <key>spriteSourceSize</key>
                <string>{401,256}</string>
                <key>textureRect</key>
                <string>{{433,0},{401,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/pathmid_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,256}</string>
                <key>spriteSourceSize</key>
                <string>{401,256}</string>
                <key>textureRect</key>
                <string>{{433,259},{401,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/pathmid_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,256}</string>
                <key>spriteSourceSize</key>
                <string>{401,256}</string>
                <key>textureRect</key>
                <string>{{433,518},{401,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/pathmid_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,256}</string>
                <key>spriteSourceSize</key>
                <string>{401,256}</string>
                <key>textureRect</key>
                <string>{{433,777},{401,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/pathmid_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,256}</string>
                <key>spriteSourceSize</key>
                <string>{401,256}</string>
                <key>textureRect</key>
                <string>{{404,1036},{401,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/rope.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,567}</string>
                <key>spriteSourceSize</key>
                <string>{39,567}</string>
                <key>textureRect</key>
                <string>{{837,0},{39,567}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{404,926},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>endlessrunner_02.png</string>
            <key>size</key>
            <string>{1007,1437}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80b8b250e879145e576690e122240062:b5890284d60cf1a20becf582b1f9f638:493c9bbcbf17bc263554cfec40bfb55c$</string>
            <key>textureFileName</key>
            <string>endlessrunner_02.png</string>
        </dict>
    </dict>
</plist>
