@font-face {
	font-family: 'eldorado';
	src:url('fonts/eldorado.eot?5sahyl');
	src:url('fonts/eldorado.eot?5sahyl#iefix') format('embedded-opentype'),
		url('fonts/eldorado.ttf?5sahyl') format('truetype'),
		url('fonts/eldorado.woff?5sahyl') format('woff'),
		url('fonts/eldorado.svg?5sahyl#eldorado') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="eldorado_"], [class*=" eldorado_"] {
	font-family: 'eldorado';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.eldorado_apple_2:before {
	content: "\e900";
}
.eldorado_asparagus:before {
	content: "\e901";
}
.eldorado_beer:before {
	content: "\e902";
}
.eldorado_blender:before {
	content: "\e903";
}
.eldorado_bottle_2:before {
	content: "\e904";
}
.eldorado_bread_1:before {
	content: "\e905";
}
.eldorado_burger_2:before {
	content: "\e906";
}
.eldorado_cabbage:before {
	content: "\e907";
}
.eldorado_cake_2:before {
	content: "\e908";
}
.eldorado_cheese_2:before {
	content: "\e909";
}
.eldorado_chicken_leg:before {
	content: "\e90a";
}
.eldorado_croissant:before {
	content: "\e90b";
}
.eldorado_cup_3:before {
	content: "\e90c";
}
.eldorado_exit_1:before {
	content: "\e90d";
}
.eldorado_fish:before {
	content: "\e90e";
}
.eldorado_fork_2:before {
	content: "\e90f";
}
.eldorado_glass_water:before {
	content: "\e910";
}
.eldorado_goblet_2:before {
	content: "\e911";
}
.eldorado_goblet_5:before {
	content: "\e912";
}
.eldorado_goblet_7:before {
	content: "\e913";
}
.eldorado_ham:before {
	content: "\e914";
}
.eldorado_heart:before {
	content: "\e915";
}
.eldorado_ice_cream_2:before {
	content: "\e916";
}
.eldorado_jam_1:before {
	content: "\e917";
}
.eldorado_mushroom_2:before {
	content: "\e918";
}
.eldorado_omelette:before {
	content: "\e919";
}
.eldorado_peas_1:before {
	content: "\e91a";
}
.eldorado_pepper_chili:before {
	content: "\e91b";
}
.eldorado_pizza:before {
	content: "\e91c";
}
.eldorado_plate_1:before {
	content: "\e91d";
}
.eldorado_potato_slices:before {
	content: "\e91e";
}
.eldorado_print:before {
	content: "\e91f";
}
.eldorado_smile_3:before {
	content: "\e920";
}
.eldorado_sushi_1:before {
	content: "\e921";
}
.eldorado_wheat:before {
	content: "\e922";
}

