<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alphabet/branch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{625,189}</string>
                <key>spriteSourceSize</key>
                <string>{625,189}</string>
                <key>textureRect</key>
                <string>{{785,1},{625,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>alphabet/circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{517,517}</string>
                <key>spriteSourceSize</key>
                <string>{517,517}</string>
                <key>textureRect</key>
                <string>{{1,1},{517,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphabet/leaves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,240}</string>
                <key>spriteSourceSize</key>
                <string>{568,240}</string>
                <key>textureRect</key>
                <string>{{520,674},{568,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphabet/mountain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{671,263}</string>
                <key>spriteSourceSize</key>
                <string>{671,263}</string>
                <key>textureRect</key>
                <string>{{520,1},{671,263}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>alphabet/owl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,177}</string>
                <key>spriteSourceSize</key>
                <string>{107,177}</string>
                <key>textureRect</key>
                <string>{{1,781},{107,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>alphabet/semicircle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{517,259}</string>
                <key>spriteSourceSize</key>
                <string>{517,259}</string>
                <key>textureRect</key>
                <string>{{1,520},{517,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphabet/tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,775}</string>
                <key>spriteSourceSize</key>
                <string>{100,775}</string>
                <key>textureRect</key>
                <string>{{1,916},{100,775}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>alphabet.png</string>
            <key>size</key>
            <string>{1089,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be34ed0d15449a5b1214b16cec92d0bc:5d37e43407ecfa16c8981bb5d901a972:9d43d6fe5f34c65b9e4476c72ff13423$</string>
            <key>textureFileName</key>
            <string>alphabet.png</string>
        </dict>
    </dict>
</plist>
