<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/arm_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,105}</string>
                <key>spriteSourceSize</key>
                <string>{68,105}</string>
                <key>textureRect</key>
                <string>{{3064,825},{68,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/arm_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,220}</string>
                <key>spriteSourceSize</key>
                <string>{48,220}</string>
                <key>textureRect</key>
                <string>{{1506,1569},{48,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/arm_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,262}</string>
                <key>spriteSourceSize</key>
                <string>{55,262}</string>
                <key>textureRect</key>
                <string>{{1619,1453},{55,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/basi_bed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1287,570}</string>
                <key>spriteSourceSize</key>
                <string>{1287,570}</string>
                <key>textureRect</key>
                <string>{{1700,1223},{1287,570}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/basi_bus_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,490}</string>
                <key>spriteSourceSize</key>
                <string>{171,490}</string>
                <key>textureRect</key>
                <string>{{2989,1288},{171,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/basi_hills.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1616,312}</string>
                <key>spriteSourceSize</key>
                <string>{1616,312}</string>
                <key>textureRect</key>
                <string>{{1,1255},{1616,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/basi_house.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,297}</string>
                <key>spriteSourceSize</key>
                <string>{313,297}</string>
                <key>textureRect</key>
                <string>{{499,2010},{313,297}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/basi_house1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,298}</string>
                <key>spriteSourceSize</key>
                <string>{313,298}</string>
                <key>textureRect</key>
                <string>{{499,2325},{313,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/basi_house2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,265}</string>
                <key>spriteSourceSize</key>
                <string>{266,265}</string>
                <key>textureRect</key>
                <string>{{770,3372},{266,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/basi_house3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{234,264}</string>
                <key>spriteSourceSize</key>
                <string>{234,274}</string>
                <key>textureRect</key>
                <string>{{799,2010},{234,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/basi_house4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1362,1220}</string>
                <key>spriteSourceSize</key>
                <string>{1362,1220}</string>
                <key>textureRect</key>
                <string>{{1700,1},{1362,1220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/basi_house5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-98,0}</string>
                <key>spriteSize</key>
                <string>{1697,1252}</string>
                <key>spriteSourceSize</key>
                <string>{1893,1252}</string>
                <key>textureRect</key>
                <string>{{1,1},{1697,1252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/basi_sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,269}</string>
                <key>spriteSourceSize</key>
                <string>{269,269}</string>
                <key>textureRect</key>
                <string>{{499,3372},{269,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/basi_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,253}</string>
                <key>spriteSourceSize</key>
                <string>{121,253}</string>
                <key>textureRect</key>
                <string>{{3064,385},{121,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/basi_tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,521}</string>
                <key>spriteSourceSize</key>
                <string>{484,521}</string>
                <key>textureRect</key>
                <string>{{2683,2650},{484,521}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/basi_window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{842,667}</string>
                <key>spriteSourceSize</key>
                <string>{842,667}</string>
                <key>textureRect</key>
                <string>{{1506,1795},{842,667}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/bird.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{340,301}</string>
                <key>spriteSourceSize</key>
                <string>{340,311}</string>
                <key>textureRect</key>
                <string>{{1519,3332},{340,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/bluebus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,524}</string>
                <key>spriteSourceSize</key>
                <string>{720,524}</string>
                <key>textureRect</key>
                <string>{{2350,2124},{720,524}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/boy_pent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1861,3332},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/boy_pent1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{2163,3304},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/boy_pent_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,74}</string>
                <key>spriteSourceSize</key>
                <string>{26,74}</string>
                <key>textureRect</key>
                <string>{{3170,1002},{26,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/boy_pent_lower1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,73}</string>
                <key>spriteSourceSize</key>
                <string>{23,73}</string>
                <key>textureRect</key>
                <string>{{3173,729},{23,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/boy_pent_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,113}</string>
                <key>spriteSourceSize</key>
                <string>{27,113}</string>
                <key>textureRect</key>
                <string>{{3064,671},{27,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/boy_pent_upper1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,113}</string>
                <key>spriteSourceSize</key>
                <string>{27,113}</string>
                <key>textureRect</key>
                <string>{{3064,700},{27,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/boy_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,480}</string>
                <key>spriteSourceSize</key>
                <string>{308,480}</string>
                <key>textureRect</key>
                <string>{{1037,3341},{308,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/boy_shirt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,435}</string>
                <key>spriteSourceSize</key>
                <string>{313,435}</string>
                <key>textureRect</key>
                <string>{{1037,2010},{313,435}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/boy_shoe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,29}</string>
                <key>spriteSourceSize</key>
                <string>{114,29}</string>
                <key>textureRect</key>
                <string>{{3064,640},{114,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/bus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1503,439}</string>
                <key>spriteSourceSize</key>
                <string>{1503,439}</string>
                <key>textureRect</key>
                <string>{{1,1569},{1503,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/bus_tyre.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,162}</string>
                <key>spriteSourceSize</key>
                <string>{163,162}</string>
                <key>textureRect</key>
                <string>{{2989,1780},{163,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{648,260}</string>
                <key>spriteSourceSize</key>
                <string>{648,260}</string>
                <key>textureRect</key>
                <string>{{1505,2464},{648,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/dust1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,33}</string>
                <key>spriteSourceSize</key>
                <string>{29,33}</string>
                <key>textureRect</key>
                <string>{{3167,1078},{29,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/dust2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,61}</string>
                <key>spriteSourceSize</key>
                <string>{59,61}</string>
                <key>textureRect</key>
                <string>{{1619,1392},{59,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/dust3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,94}</string>
                <key>spriteSourceSize</key>
                <string>{107,94}</string>
                <key>textureRect</key>
                <string>{{3064,729},{107,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/dust4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,130}</string>
                <key>spriteSourceSize</key>
                <string>{128,130}</string>
                <key>textureRect</key>
                <string>{{3064,129},{128,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/dust5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,124}</string>
                <key>spriteSourceSize</key>
                <string>{129,124}</string>
                <key>textureRect</key>
                <string>{{3064,259},{129,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/dust6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,126}</string>
                <key>spriteSourceSize</key>
                <string>{132,126}</string>
                <key>textureRect</key>
                <string>{{3064,1},{132,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/dust7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,100}</string>
                <key>spriteSourceSize</key>
                <string>{104,100}</string>
                <key>textureRect</key>
                <string>{{3064,918},{104,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/dust8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,100}</string>
                <key>spriteSourceSize</key>
                <string>{101,100}</string>
                <key>textureRect</key>
                <string>{{3064,1020},{101,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/face .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{652,526}</string>
                <key>spriteSourceSize</key>
                <string>{652,526}</string>
                <key>textureRect</key>
                <string>{{2155,2650},{652,526}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/face1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{652,526}</string>
                <key>spriteSourceSize</key>
                <string>{652,526}</string>
                <key>textureRect</key>
                <string>{{2155,2650},{652,526}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/female_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,377}</string>
                <key>spriteSourceSize</key>
                <string>{312,377}</string>
                <key>textureRect</key>
                <string>{{799,2325},{312,377}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/female_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,426}</string>
                <key>spriteSourceSize</key>
                <string>{325,426}</string>
                <key>textureRect</key>
                <string>{{1178,2325},{325,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/female_top1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,628}</string>
                <key>spriteSourceSize</key>
                <string>{327,628}</string>
                <key>textureRect</key>
                <string>{{2350,1795},{327,628}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/girl_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{577,662}</string>
                <key>spriteSourceSize</key>
                <string>{577,662}</string>
                <key>textureRect</key>
                <string>{{1456,2753},{577,662}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,76}</string>
                <key>textureRect</key>
                <string>{{3064,1206},{50,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/girl_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,76}</string>
                <key>textureRect</key>
                <string>{{3064,1206},{50,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,172}</string>
                <key>spriteSourceSize</key>
                <string>{28,172}</string>
                <key>textureRect</key>
                <string>{{2989,1258},{28,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/girl_lower_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,172}</string>
                <key>spriteSourceSize</key>
                <string>{28,172}</string>
                <key>textureRect</key>
                <string>{{2989,1258},{28,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/girl_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,105}</string>
                <key>spriteSourceSize</key>
                <string>{22,105}</string>
                <key>textureRect</key>
                <string>{{3173,804},{22,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/girl_lower_leg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,105}</string>
                <key>spriteSourceSize</key>
                <string>{22,105}</string>
                <key>textureRect</key>
                <string>{{3173,804},{22,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,135}</string>
                <key>spriteSourceSize</key>
                <string>{66,135}</string>
                <key>textureRect</key>
                <string>{{1619,1255},{66,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/girl_neck2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,135}</string>
                <key>spriteSourceSize</key>
                <string>{66,135}</string>
                <key>textureRect</key>
                <string>{{1619,1255},{66,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/girl_shoe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,21}</string>
                <key>spriteSourceSize</key>
                <string>{105,21}</string>
                <key>textureRect</key>
                <string>{{3064,895},{105,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/girl_sleeve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,26}</string>
                <key>spriteSourceSize</key>
                <string>{68,26}</string>
                <key>textureRect</key>
                <string>{{2989,1223},{68,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,177}</string>
                <key>spriteSourceSize</key>
                <string>{28,177}</string>
                <key>textureRect</key>
                <string>{{3167,1113},{28,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/girl_upper_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,177}</string>
                <key>spriteSourceSize</key>
                <string>{28,177}</string>
                <key>textureRect</key>
                <string>{{3167,1113},{28,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/girl_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,89}</string>
                <key>spriteSourceSize</key>
                <string>{21,89}</string>
                <key>textureRect</key>
                <string>{{3171,911},{21,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/girl_upper_leg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,89}</string>
                <key>spriteSourceSize</key>
                <string>{21,89}</string>
                <key>textureRect</key>
                <string>{{3171,911},{21,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/mango.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,83}</string>
                <key>spriteSourceSize</key>
                <string>{50,83}</string>
                <key>textureRect</key>
                <string>{{3064,1154},{50,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/motu_pant_hip2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,415}</string>
                <key>spriteSourceSize</key>
                <string>{415,415}</string>
                <key>textureRect</key>
                <string>{{2683,3173},{415,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/motu_pant_lower_left2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,96}</string>
                <key>spriteSourceSize</key>
                <string>{30,96}</string>
                <key>textureRect</key>
                <string>{{3064,1122},{30,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/motu_pant_upper_left2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,147}</string>
                <key>spriteSourceSize</key>
                <string>{36,147}</string>
                <key>textureRect</key>
                <string>{{3154,1780},{36,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/motu_shirt2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,586}</string>
                <key>spriteSourceSize</key>
                <string>{429,586}</string>
                <key>textureRect</key>
                <string>{{1025,2753},{429,586}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/motu_shoes_left2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,33}</string>
                <key>spriteSourceSize</key>
                <string>{159,33}</string>
                <key>textureRect</key>
                <string>{{3162,1292},{159,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/redbus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1498,496}</string>
                <key>spriteSourceSize</key>
                <string>{1498,496}</string>
                <key>textureRect</key>
                <string>{{1,2010},{1498,496}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Basi_kubwa_la_bluu_Big_blue_bus/uniform.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,524}</string>
                <key>spriteSourceSize</key>
                <string>{720,524}</string>
                <key>textureRect</key>
                <string>{{499,2650},{720,524}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Basi_kubwa_la_bluu_Big_blue_bus.png</string>
            <key>size</key>
            <string>{3197,3650}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5476ade5b0ea99cd22570166779823bc:351695cd9154854e99f89fbe5fd807bf:08572ec8d60e46c4115aac97a591c0f7$</string>
            <key>textureFileName</key>
            <string>Basi_kubwa_la_bluu_Big_blue_bus.png</string>
        </dict>
    </dict>
</plist>
