<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dash/answer_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1344,228}</string>
                <key>spriteSourceSize</key>
                <string>{1344,228}</string>
                <key>textureRect</key>
                <string>{{1,231},{1344,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,67}</string>
                <key>spriteSourceSize</key>
                <string>{95,67}</string>
                <key>textureRect</key>
                <string>{{3256,231},{95,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/big_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1123,228}</string>
                <key>spriteSourceSize</key>
                <string>{1123,228}</string>
                <key>textureRect</key>
                <string>{{2281,1},{1123,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,144}</string>
                <key>spriteSourceSize</key>
                <string>{90,144}</string>
                <key>textureRect</key>
                <string>{{3630,313},{90,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/body_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,144}</string>
                <key>spriteSourceSize</key>
                <string>{90,144}</string>
                <key>textureRect</key>
                <string>{{3722,313},{90,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2278,228}</string>
                <key>spriteSourceSize</key>
                <string>{2278,228}</string>
                <key>textureRect</key>
                <string>{{1,1},{2278,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,229}</string>
                <key>spriteSourceSize</key>
                <string>{232,229}</string>
                <key>textureRect</key>
                <string>{{2770,231},{232,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,64}</string>
                <key>spriteSourceSize</key>
                <string>{222,64}</string>
                <key>textureRect</key>
                <string>{{3004,352},{222,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,18}</string>
                <key>spriteSourceSize</key>
                <string>{19,18}</string>
                <key>textureRect</key>
                <string>{{3353,293},{19,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,161}</string>
                <key>spriteSourceSize</key>
                <string>{185,161}</string>
                <key>textureRect</key>
                <string>{{3256,313},{185,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/face_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,161}</string>
                <key>spriteSourceSize</key>
                <string>{185,161}</string>
                <key>textureRect</key>
                <string>{{3443,313},{185,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/flag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,250}</string>
                <key>spriteSourceSize</key>
                <string>{119,250}</string>
                <key>textureRect</key>
                <string>{{3004,231},{119,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dash/hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,60}</string>
                <key>spriteSourceSize</key>
                <string>{42,60}</string>
                <key>textureRect</key>
                <string>{{3353,231},{42,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/hand_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,57}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{3110,418},{44,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dash/hint_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,228}</string>
                <key>spriteSourceSize</key>
                <string>{289,228}</string>
                <key>textureRect</key>
                <string>{{2479,231},{289,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,57}</string>
                <key>spriteSourceSize</key>
                <string>{23,57}</string>
                <key>textureRect</key>
                <string>{{3228,352},{23,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/leg_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,57}</string>
                <key>spriteSourceSize</key>
                <string>{23,57}</string>
                <key>textureRect</key>
                <string>{{3169,418},{23,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dash/mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,38}</string>
                <key>spriteSourceSize</key>
                <string>{104,38}</string>
                <key>textureRect</key>
                <string>{{3004,418},{104,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/mouth_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,38}</string>
                <key>spriteSourceSize</key>
                <string>{104,38}</string>
                <key>textureRect</key>
                <string>{{3753,265},{104,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/small_button_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{564,228}</string>
                <key>spriteSourceSize</key>
                <string>{564,228}</string>
                <key>textureRect</key>
                <string>{{1347,231},{564,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/small_button_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{564,228}</string>
                <key>spriteSourceSize</key>
                <string>{564,228}</string>
                <key>textureRect</key>
                <string>{{1913,231},{564,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/step.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,143}</string>
                <key>spriteSourceSize</key>
                <string>{262,143}</string>
                <key>textureRect</key>
                <string>{{3753,1},{262,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dash/step_winning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,310}</string>
                <key>spriteSourceSize</key>
                <string>{345,310}</string>
                <key>textureRect</key>
                <string>{{3406,1},{345,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,14}</string>
                <key>spriteSourceSize</key>
                <string>{36,14}</string>
                <key>textureRect</key>
                <string>{{3630,459},{36,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/tail_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,14}</string>
                <key>spriteSourceSize</key>
                <string>{37,14}</string>
                <key>textureRect</key>
                <string>{{3859,265},{37,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dash.png</string>
            <key>size</key>
            <string>{3897,475}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e707b1c6bb72ffe717219d94cade518b:c78a466b4e5b9ffe8424b010838bc589:1378694c875d5feb26ad4e92202f0353$</string>
            <key>textureFileName</key>
            <string>dash.png</string>
        </dict>
    </dict>
</plist>
