<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/bubble.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{966,392},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,114}</string>
                <key>spriteSourceSize</key>
                <string>{246,114}</string>
                <key>textureRect</key>
                <string>{{368,1},{246,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/cloudp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,31}</string>
                <key>spriteSourceSize</key>
                <string>{49,31}</string>
                <key>textureRect</key>
                <string>{{966,440},{49,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/faceold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,150}</string>
                <key>spriteSourceSize</key>
                <string>{160,150}</string>
                <key>textureRect</key>
                <string>{{814,325},{160,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,7}</string>
                <key>spriteSourceSize</key>
                <string>{29,7}</string>
                <key>textureRect</key>
                <string>{{389,475},{29,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/gface1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,155}</string>
                <key>spriteSourceSize</key>
                <string>{173,155}</string>
                <key>textureRect</key>
                <string>{{658,1},{173,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/gface3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,155}</string>
                <key>spriteSourceSize</key>
                <string>{173,155}</string>
                <key>textureRect</key>
                <string>{{815,1},{173,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{272,475},{13,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,43}</string>
                <key>spriteSourceSize</key>
                <string>{7,43}</string>
                <key>textureRect</key>
                <string>{{344,475},{7,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/girl_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{368,380},{6,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,34}</string>
                <key>spriteSourceSize</key>
                <string>{17,34}</string>
                <key>textureRect</key>
                <string>{{538,206},{17,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/girl_sleeve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,7}</string>
                <key>spriteSourceSize</key>
                <string>{17,7}</string>
                <key>textureRect</key>
                <string>{{420,475},{17,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,68}</string>
                <key>spriteSourceSize</key>
                <string>{15,68}</string>
                <key>textureRect</key>
                <string>{{658,176},{15,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/girl_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,22}</string>
                <key>spriteSourceSize</key>
                <string>{5,22}</string>
                <key>textureRect</key>
                <string>{{95,484},{5,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/hut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,388}</string>
                <key>spriteSourceSize</key>
                <string>{365,388}</string>
                <key>textureRect</key>
                <string>{{1,1},{365,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/lightning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,155}</string>
                <key>spriteSourceSize</key>
                <string>{144,155}</string>
                <key>textureRect</key>
                <string>{{668,193},{144,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/manshirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,108}</string>
                <key>spriteSourceSize</key>
                <string>{75,108}</string>
                <key>textureRect</key>
                <string>{{659,350},{75,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/moon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,165}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{815,158},{165,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/mountain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,66}</string>
                <key>spriteSourceSize</key>
                <string>{129,66}</string>
                <key>textureRect</key>
                <string>{{368,249},{129,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/snake_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,76}</string>
                <key>spriteSourceSize</key>
                <string>{30,76}</string>
                <key>textureRect</key>
                <string>{{982,158},{30,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/snake_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,76}</string>
                <key>spriteSourceSize</key>
                <string>{30,76}</string>
                <key>textureRect</key>
                <string>{{982,236},{30,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/snake_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,76}</string>
                <key>spriteSourceSize</key>
                <string>{30,76}</string>
                <key>textureRect</key>
                <string>{{982,314},{30,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/snake_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,91}</string>
                <key>spriteSourceSize</key>
                <string>{175,91}</string>
                <key>textureRect</key>
                <string>{{95,391},{175,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/snake_eye1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{634,206},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/snake_eye2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{29,30}</string>
                <key>textureRect</key>
                <string>{{659,460},{29,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/snake_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,76}</string>
                <key>spriteSourceSize</key>
                <string>{94,76}</string>
                <key>textureRect</key>
                <string>{{17,391},{94,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/snake_mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,33}</string>
                <key>spriteSourceSize</key>
                <string>{75,33}</string>
                <key>textureRect</key>
                <string>{{557,206},{75,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/snake_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,52}</string>
                <key>spriteSourceSize</key>
                <string>{39,52}</string>
                <key>textureRect</key>
                <string>{{484,206},{39,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,224}</string>
                <key>spriteSourceSize</key>
                <string>{221,224}</string>
                <key>textureRect</key>
                <string>{{436,249},{221,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/tree_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,172}</string>
                <key>spriteSourceSize</key>
                <string>{203,172}</string>
                <key>textureRect</key>
                <string>{{484,1},{203,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/tribalhips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{80,82}</string>
                <key>textureRect</key>
                <string>{{272,391},{80,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/tribalhips1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{80,82}</string>
                <key>textureRect</key>
                <string>{{354,391},{80,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/upperhand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,49}</string>
                <key>spriteSourceSize</key>
                <string>{11,49}</string>
                <key>textureRect</key>
                <string>{{293,475},{11,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/wave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,14}</string>
                <key>spriteSourceSize</key>
                <string>{97,14}</string>
                <key>textureRect</key>
                <string>{{1,391},{97,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwanamme_na_Mwanamke_wa_Kwanza/womanshirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,108}</string>
                <key>spriteSourceSize</key>
                <string>{75,108}</string>
                <key>textureRect</key>
                <string>{{736,350},{75,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mwanamme_na_Mwanamke_wa_Kwanza.png</string>
            <key>size</key>
            <string>{1013,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:371a6ba61ed6097292ec51fc047c3bc1:0ae969e0c3fbea00ffb182d7a5ff97db:516d85ace0d2404c2c097a36d6774994$</string>
            <key>textureFileName</key>
            <string>Mwanamme_na_Mwanamke_wa_Kwanza.png</string>
        </dict>
    </dict>
</plist>
