<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>parlour/brushes1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,104}</string>
                <key>spriteSourceSize</key>
                <string>{68,104}</string>
                <key>textureRect</key>
                <string>{{1875,377},{68,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/brushes2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,115}</string>
                <key>spriteSourceSize</key>
                <string>{64,115}</string>
                <key>textureRect</key>
                <string>{{1225,217},{64,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/chair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,339}</string>
                <key>spriteSourceSize</key>
                <string>{249,339}</string>
                <key>textureRect</key>
                <string>{{1374,1},{249,339}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/combs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,95}</string>
                <key>textureRect</key>
                <string>{{1945,346},{80,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/compact1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,53}</string>
                <key>spriteSourceSize</key>
                <string>{46,53}</string>
                <key>textureRect</key>
                <string>{{1386,415},{46,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/compact2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{60,84}</string>
                <key>spriteSourceSize</key>
                <string>{62,84}</string>
                <key>textureRect</key>
                <string>{{1233,415},{60,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/compact3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,47}</string>
                <key>spriteSourceSize</key>
                <string>{44,47}</string>
                <key>textureRect</key>
                <string>{{1319,457},{44,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/cream.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,41}</string>
                <key>spriteSourceSize</key>
                <string>{77,41}</string>
                <key>textureRect</key>
                <string>{{1945,443},{77,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,324}</string>
                <key>spriteSourceSize</key>
                <string>{195,324}</string>
                <key>textureRect</key>
                <string>{{1715,1},{195,324}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/flower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,65}</string>
                <key>spriteSourceSize</key>
                <string>{40,65}</string>
                <key>textureRect</key>
                <string>{{1319,415},{40,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/flower_pot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,196}</string>
                <key>spriteSourceSize</key>
                <string>{182,196}</string>
                <key>textureRect</key>
                <string>{{1504,252},{182,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/flower_table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,123}</string>
                <key>spriteSourceSize</key>
                <string>{171,123}</string>
                <key>textureRect</key>
                <string>{{1702,377},{171,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/foundations.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,72}</string>
                <key>spriteSourceSize</key>
                <string>{100,72}</string>
                <key>textureRect</key>
                <string>{{380,361},{100,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/heater.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,493}</string>
                <key>spriteSourceSize</key>
                <string>{192,493}</string>
                <key>textureRect</key>
                <string>{{454,1},{192,493}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/light1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,377}</string>
                <key>spriteSourceSize</key>
                <string>{138,377}</string>
                <key>textureRect</key>
                <string>{{1,361},{138,377}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/light2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,296}</string>
                <key>spriteSourceSize</key>
                <string>{111,296}</string>
                <key>textureRect</key>
                <string>{{935,365},{111,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/lip_gloss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,72}</string>
                <key>spriteSourceSize</key>
                <string>{30,72}</string>
                <key>textureRect</key>
                <string>{{380,463},{30,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/mascara.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,70}</string>
                <key>spriteSourceSize</key>
                <string>{25,70}</string>
                <key>textureRect</key>
                <string>{{1291,217},{25,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/mirror.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,211}</string>
                <key>spriteSourceSize</key>
                <string>{161,211}</string>
                <key>textureRect</key>
                <string>{{1291,252},{161,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/pencils.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,45}</string>
                <key>spriteSourceSize</key>
                <string>{19,45}</string>
                <key>textureRect</key>
                <string>{{454,482},{19,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/shelf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,29}</string>
                <key>spriteSourceSize</key>
                <string>{234,29}</string>
                <key>textureRect</key>
                <string>{{1702,346},{234,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/sink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,306}</string>
                <key>spriteSourceSize</key>
                <string>{158,306}</string>
                <key>textureRect</key>
                <string>{{775,195},{158,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/sofa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,285}</string>
                <key>spriteSourceSize</key>
                <string>{319,285}</string>
                <key>textureRect</key>
                <string>{{454,195},{319,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/straightener.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,16}</string>
                <key>spriteSourceSize</key>
                <string>{99,16}</string>
                <key>textureRect</key>
                <string>{{935,478},{99,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,214}</string>
                <key>spriteSourceSize</key>
                <string>{423,214}</string>
                <key>textureRect</key>
                <string>{{949,1},{423,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/tile1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,287}</string>
                <key>spriteSourceSize</key>
                <string>{146,287}</string>
                <key>textureRect</key>
                <string>{{1715,198},{146,287}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/tile2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,288}</string>
                <key>spriteSourceSize</key>
                <string>{146,288}</string>
                <key>textureRect</key>
                <string>{{935,217},{146,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{451,358}</string>
                <key>spriteSourceSize</key>
                <string>{451,358}</string>
                <key>textureRect</key>
                <string>{{1,1},{451,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>parlour.png</string>
            <key>size</key>
            <string>{2040,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f908f6a207a1c3152e4ce6d74c3e1fff:eea2ca314670dde7801a77d3f89cba89:0932a032998bdca5e0ae1bbb3c08167b$</string>
            <key>textureFileName</key>
            <string>parlour.png</string>
        </dict>
    </dict>
</plist>
