<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>decomon/decomon3/decomon_backgroundicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,88}</string>
                <key>spriteSourceSize</key>
                <string>{123,88}</string>
                <key>textureRect</key>
                <string>{{208,1006},{123,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_edge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,83}</string>
                <key>spriteSourceSize</key>
                <string>{169,83}</string>
                <key>textureRect</key>
                <string>{{135,694},{169,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,68}</string>
                <key>spriteSourceSize</key>
                <string>{158,68}</string>
                <key>textureRect</key>
                <string>{{339,135},{158,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,106}</string>
                <key>spriteSourceSize</key>
                <string>{188,106}</string>
                <key>textureRect</key>
                <string>{{1,1},{188,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_hair_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,122}</string>
                <key>spriteSourceSize</key>
                <string>{101,122}</string>
                <key>textureRect</key>
                <string>{{402,294},{101,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_hair_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,56}</string>
                <key>spriteSourceSize</key>
                <string>{53,56}</string>
                <key>textureRect</key>
                <string>{{435,1040},{53,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_hair_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,100}</string>
                <key>spriteSourceSize</key>
                <string>{52,100}</string>
                <key>textureRect</key>
                <string>{{333,1040},{52,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_hair_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,110}</string>
                <key>spriteSourceSize</key>
                <string>{176,110}</string>
                <key>textureRect</key>
                <string>{{1,109},{176,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_hair_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,48}</string>
                <key>spriteSourceSize</key>
                <string>{152,48}</string>
                <key>textureRect</key>
                <string>{{269,630},{152,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_hair_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,55}</string>
                <key>spriteSourceSize</key>
                <string>{173,55}</string>
                <key>textureRect</key>
                <string>{{220,694},{173,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_hair_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,59}</string>
                <key>spriteSourceSize</key>
                <string>{166,59}</string>
                <key>textureRect</key>
                <string>{{341,205},{166,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_icon_camera.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,112}</string>
                <key>spriteSourceSize</key>
                <string>{158,112}</string>
                <key>textureRect</key>
                <string>{{191,1},{158,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_icon_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,93}</string>
                <key>spriteSourceSize</key>
                <string>{93,93}</string>
                <key>textureRect</key>
                <string>{{345,535},{93,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_icon_gallery.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,112}</string>
                <key>spriteSourceSize</key>
                <string>{158,112}</string>
                <key>textureRect</key>
                <string>{{179,115},{158,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_icon_gear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,63}</string>
                <key>spriteSourceSize</key>
                <string>{135,63}</string>
                <key>textureRect</key>
                <string>{{212,869},{135,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_icon_headgear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,113}</string>
                <key>spriteSourceSize</key>
                <string>{69,113}</string>
                <key>textureRect</key>
                <string>{{277,877},{69,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_icon_mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,75}</string>
                <key>spriteSourceSize</key>
                <string>{134,75}</string>
                <key>textureRect</key>
                <string>{{135,865},{134,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_icon_mustache.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,44}</string>
                <key>spriteSourceSize</key>
                <string>{140,44}</string>
                <key>textureRect</key>
                <string>{{333,994},{140,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_icon_nose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,50}</string>
                <key>spriteSourceSize</key>
                <string>{137,50}</string>
                <key>textureRect</key>
                <string>{{359,755},{137,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_icon_paintbrush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,118}</string>
                <key>spriteSourceSize</key>
                <string>{107,118}</string>
                <key>textureRect</key>
                <string>{{1,996},{107,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_icon_skate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,53}</string>
                <key>spriteSourceSize</key>
                <string>{160,53}</string>
                <key>textureRect</key>
                <string>{{345,373},{160,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_nose_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,73}</string>
                <key>spriteSourceSize</key>
                <string>{136,73}</string>
                <key>textureRect</key>
                <string>{{277,680},{136,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_nose_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,59}</string>
                <key>spriteSourceSize</key>
                <string>{124,59}</string>
                <key>textureRect</key>
                <string>{{440,532},{124,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_nose_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{348,894},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_nose_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,50}</string>
                <key>spriteSourceSize</key>
                <string>{137,50}</string>
                <key>textureRect</key>
                <string>{{411,755},{137,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_nose_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,79}</string>
                <key>spriteSourceSize</key>
                <string>{85,79}</string>
                <key>textureRect</key>
                <string>{{121,1001},{85,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_nose_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,87}</string>
                <key>spriteSourceSize</key>
                <string>{104,87}</string>
                <key>textureRect</key>
                <string>{{402,205},{104,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_nose_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,120}</string>
                <key>spriteSourceSize</key>
                <string>{80,120}</string>
                <key>textureRect</key>
                <string>{{277,755},{80,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_nose_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,14}</string>
                <key>spriteSourceSize</key>
                <string>{80,14}</string>
                <key>textureRect</key>
                <string>{{121,1082},{80,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_nose_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,112}</string>
                <key>spriteSourceSize</key>
                <string>{106,112}</string>
                <key>textureRect</key>
                <string>{{400,418},{106,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_paintbucket_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,153}</string>
                <key>spriteSourceSize</key>
                <string>{132,153}</string>
                <key>textureRect</key>
                <string>{{1,221},{132,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_paintbucket_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,153}</string>
                <key>spriteSourceSize</key>
                <string>{132,153}</string>
                <key>textureRect</key>
                <string>{{1,376},{132,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_paintbucket_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,153}</string>
                <key>spriteSourceSize</key>
                <string>{132,153}</string>
                <key>textureRect</key>
                <string>{{1,531},{132,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_paintbucket_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,153}</string>
                <key>spriteSourceSize</key>
                <string>{132,153}</string>
                <key>textureRect</key>
                <string>{{1,686},{132,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_paintbucket_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,153}</string>
                <key>spriteSourceSize</key>
                <string>{132,153}</string>
                <key>textureRect</key>
                <string>{{1,841},{132,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_paintbucket_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,153}</string>
                <key>spriteSourceSize</key>
                <string>{132,153}</string>
                <key>textureRect</key>
                <string>{{351,1},{132,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_paintbucket_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,153}</string>
                <key>spriteSourceSize</key>
                <string>{132,153}</string>
                <key>textureRect</key>
                <string>{{135,229},{132,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_paintbucket_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,153}</string>
                <key>spriteSourceSize</key>
                <string>{132,153}</string>
                <key>textureRect</key>
                <string>{{135,384},{132,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_paintbucket_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,153}</string>
                <key>spriteSourceSize</key>
                <string>{132,153}</string>
                <key>textureRect</key>
                <string>{{135,539},{132,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_skate_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,30}</string>
                <key>spriteSourceSize</key>
                <string>{188,30}</string>
                <key>textureRect</key>
                <string>{{309,229},{188,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_skate_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,32}</string>
                <key>spriteSourceSize</key>
                <string>{15,32}</string>
                <key>textureRect</key>
                <string>{{269,613},{15,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_skate_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,38}</string>
                <key>spriteSourceSize</key>
                <string>{192,38}</string>
                <key>textureRect</key>
                <string>{{269,229},{192,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_skate_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,30}</string>
                <key>spriteSourceSize</key>
                <string>{188,30}</string>
                <key>textureRect</key>
                <string>{{313,419},{188,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_skate_e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,42}</string>
                <key>spriteSourceSize</key>
                <string>{188,42}</string>
                <key>textureRect</key>
                <string>{{269,423},{188,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_skate_f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{448,972},{16,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_skate_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{415,719},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_skate_h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,31}</string>
                <key>spriteSourceSize</key>
                <string>{7,31}</string>
                <key>textureRect</key>
                <string>{{499,135},{7,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_skatetyre_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{448,894},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_skatetyre_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{448,933},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_skatetyre_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{415,680},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_skatetyre_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{454,658},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_skatetyre_e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{454,697},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_skatetyre_f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{463,736},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_skatetyre_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{463,775},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_skatetyre_h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{463,814},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>decomon3.png</string>
            <key>size</key>
            <string>{507,1104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:154dc107fa9d2839eae64980e6971937:15b3a47d043b0d4239caa73a59f29dda:274a4228b1ee610dde62a78c6b5e5855$</string>
            <key>textureFileName</key>
            <string>decomon3.png</string>
        </dict>
    </dict>
</plist>
