<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scoreboard/scoreboard2/Gift0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-15}</string>
                <key>spriteSize</key>
                <string>{133,83}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{138,131},{133,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/scoreboard2/Gift0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-15}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{1,216},{131,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/scoreboard2/Gift0050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-15}</string>
                <key>spriteSize</key>
                <string>{135,83}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{1,131},{135,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/scoreboard2/Gift0051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-16}</string>
                <key>spriteSize</key>
                <string>{119,81}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{122,357},{119,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/scoreboard2/Gift0052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-14}</string>
                <key>spriteSize</key>
                <string>{119,85}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{1,301},{119,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/scoreboard2/Gift0053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-12}</string>
                <key>spriteSize</key>
                <string>{119,89}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{134,266},{119,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/scoreboard2/Gift0054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-20}</string>
                <key>spriteSize</key>
                <string>{119,73}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{1,388},{119,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/scoreboard2/Gift0055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-20}</string>
                <key>spriteSize</key>
                <string>{119,73}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{122,440},{119,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/scoreboard2/Gift0056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-20}</string>
                <key>spriteSize</key>
                <string>{119,73}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{1,463},{119,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/scoreboard2/Gift0057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-20}</string>
                <key>spriteSize</key>
                <string>{119,73}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{1,463},{119,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/scoreboard2/Gift0058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-20}</string>
                <key>spriteSize</key>
                <string>{119,73}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{1,463},{119,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/scoreboard2/Gift0059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-20}</string>
                <key>spriteSize</key>
                <string>{119,73}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{1,463},{119,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/scoreboard2/Gift0060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-20}</string>
                <key>spriteSize</key>
                <string>{119,73}</string>
                <key>spriteSourceSize</key>
                <string>{145,119}</string>
                <key>textureRect</key>
                <string>{{1,463},{119,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/scoreboard2/rewardcard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,128}</string>
                <key>spriteSourceSize</key>
                <string>{201,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{201,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>scoreboard2.png</string>
            <key>size</key>
            <string>{254,537}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a93eea29c3aebccf5f6a1f41a07ad7ca:363f139c5909f4c7847a971581fccf4f:b4a41075017e809d3e12c55730085a53$</string>
            <key>textureFileName</key>
            <string>scoreboard2.png</string>
        </dict>
    </dict>
</plist>
