<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>city5_bagpack/apple_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{174,244}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1418,2958},{174,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city5_bagpack/apple_20_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{164,232}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1418,3134},{164,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city5_bagpack/bag_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2551,1031}</string>
                <key>spriteSourceSize</key>
                <string>{2551,1031}</string>
                <key>textureRect</key>
                <string>{{1,595},{2551,1031}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city5_bagpack/bag_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2361,800}</string>
                <key>spriteSourceSize</key>
                <string>{2361,800}</string>
                <key>textureRect</key>
                <string>{{1034,595},{2361,800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city5_bagpack/ballone_93.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-4}</string>
                <key>spriteSize</key>
                <string>{88,248}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,3402},{88,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city5_bagpack/ballone_93_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-4}</string>
                <key>spriteSize</key>
                <string>{88,248}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{251,3402},{88,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city5_bagpack/click_cross.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,169}</string>
                <key>spriteSourceSize</key>
                <string>{171,171}</string>
                <key>textureRect</key>
                <string>{{1418,3300},{169,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city5_bagpack/cross.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,169}</string>
                <key>spriteSourceSize</key>
                <string>{171,171}</string>
                <key>textureRect</key>
                <string>{{1589,3300},{169,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city5_bagpack/drink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{94,236}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{501,3398},{94,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city5_bagpack/drink_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{94,236}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{739,3396},{94,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city5_bagpack/dumbleyellow_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{248,152}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{265,3148},{248,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city5_bagpack/dumbleyellow_11_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{248,152}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{419,3148},{248,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city5_bagpack/icecream_94_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-16}</string>
                <key>spriteSize</key>
                <string>{134,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{893,3148},{134,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city5_bagpack/icecream_94_4_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-16}</string>
                <key>spriteSize</key>
                <string>{134,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1760,3242},{134,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city5_bagpack/obj9_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{140,238}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1664,2958},{140,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city5_bagpack/obj9_31_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{140,238}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1664,3100},{140,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city5_bagpack/paper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1885,592}</string>
                <key>spriteSourceSize</key>
                <string>{1885,592}</string>
                <key>textureRect</key>
                <string>{{1,1},{1885,592}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city5_bagpack/pouch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{451,382}</string>
                <key>spriteSourceSize</key>
                <string>{451,382}</string>
                <key>textureRect</key>
                <string>{{1034,2958},{451,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city5_bagpack/ticket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{252,130}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,3148},{252,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city5_bagpack/ticket_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{252,130}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{133,3148},{252,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city5_bagpack/whistle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-10}</string>
                <key>spriteSize</key>
                <string>{246,158}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{573,3148},{246,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city5_bagpack/whistle_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-10}</string>
                <key>spriteSize</key>
                <string>{246,158}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{733,3148},{246,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>city5_bagpack.png</string>
            <key>size</key>
            <string>{1903,3493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d7943867f4c364c1f7fdd3739eb3cd3:ed01b380d278315fbd6f799ef9a7994a:061c404f4e4650de01c4432f11066fa5$</string>
            <key>textureFileName</key>
            <string>city5_bagpack.png</string>
        </dict>
    </dict>
</plist>
