<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>doors/boxbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,482}</string>
                <key>spriteSourceSize</key>
                <string>{482,482}</string>
                <key>textureRect</key>
                <string>{{1513,1},{482,482}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doors/boxdoor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{754,755}</string>
                <key>spriteSourceSize</key>
                <string>{754,755}</string>
                <key>textureRect</key>
                <string>{{1,406},{754,755}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doors/boxdooropen1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1252,403}</string>
                <key>spriteSourceSize</key>
                <string>{1252,403}</string>
                <key>textureRect</key>
                <string>{{1,1},{1252,403}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doors/boxdooropen2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1348,209}</string>
                <key>spriteSourceSize</key>
                <string>{1348,209}</string>
                <key>textureRect</key>
                <string>{{1,1163},{1348,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doors/boxinside.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{754,755}</string>
                <key>spriteSourceSize</key>
                <string>{754,755}</string>
                <key>textureRect</key>
                <string>{{757,406},{754,755}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doors/cowbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,209}</string>
                <key>spriteSourceSize</key>
                <string>{360,209}</string>
                <key>textureRect</key>
                <string>{{1351,1163},{360,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doors/cowhead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,259}</string>
                <key>spriteSourceSize</key>
                <string>{260,259}</string>
                <key>textureRect</key>
                <string>{{1513,709},{260,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doors/cowleg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,141}</string>
                <key>spriteSourceSize</key>
                <string>{39,141}</string>
                <key>textureRect</key>
                <string>{{1255,352},{39,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doors/cowleg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,141}</string>
                <key>spriteSourceSize</key>
                <string>{39,141}</string>
                <key>textureRect</key>
                <string>{{1467,1},{39,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doors/cowtail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,143}</string>
                <key>spriteSourceSize</key>
                <string>{95,143}</string>
                <key>textureRect</key>
                <string>{{1513,970},{95,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doors/pigbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-44}</string>
                <key>spriteSize</key>
                <string>{349,210}</string>
                <key>spriteSourceSize</key>
                <string>{349,298}</string>
                <key>textureRect</key>
                <string>{{1255,1},{349,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doors/pighead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,220}</string>
                <key>spriteSourceSize</key>
                <string>{199,220}</string>
                <key>textureRect</key>
                <string>{{1775,942},{199,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doors/pigleg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,122}</string>
                <key>spriteSourceSize</key>
                <string>{62,122}</string>
                <key>textureRect</key>
                <string>{{1848,485},{62,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doors/pigleg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,122}</string>
                <key>spriteSourceSize</key>
                <string>{62,122}</string>
                <key>textureRect</key>
                <string>{{1610,970},{62,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doors/pigtail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,59}</string>
                <key>spriteSourceSize</key>
                <string>{89,59}</string>
                <key>textureRect</key>
                <string>{{1848,609},{89,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doors/sheepbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,222}</string>
                <key>spriteSourceSize</key>
                <string>{333,222}</string>
                <key>textureRect</key>
                <string>{{1513,485},{333,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doors/sheephead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,198}</string>
                <key>spriteSourceSize</key>
                <string>{231,198}</string>
                <key>textureRect</key>
                <string>{{1775,709},{231,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doors/sheepleg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,121}</string>
                <key>spriteSourceSize</key>
                <string>{37,121}</string>
                <key>textureRect</key>
                <string>{{1674,970},{37,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doors/sheepleg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,121}</string>
                <key>spriteSourceSize</key>
                <string>{36,121}</string>
                <key>textureRect</key>
                <string>{{1713,970},{36,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doors/sheeptail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,75}</string>
                <key>spriteSourceSize</key>
                <string>{91,75}</string>
                <key>textureRect</key>
                <string>{{1912,485},{91,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>doors.png</string>
            <key>size</key>
            <string>{1996,1373}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91de8c01d3ba8dfc3f9e6ae07e9de1ca:5e1f5ea4aa97b3d2340222721c08e63a:416a23881b2fb2e11f06e976c0d2ddb3$</string>
            <key>textureFileName</key>
            <string>doors.png</string>
        </dict>
    </dict>
</plist>
