<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cityscreen/base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,133}</string>
                <key>spriteSourceSize</key>
                <string>{322,133}</string>
                <key>textureRect</key>
                <string>{{358,1608},{322,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/bgbuilding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,377}</string>
                <key>spriteSourceSize</key>
                <string>{133,377}</string>
                <key>textureRect</key>
                <string>{{1,648},{133,377}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/building01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,207}</string>
                <key>spriteSourceSize</key>
                <string>{328,207}</string>
                <key>textureRect</key>
                <string>{{1,1671},{328,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/building02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,188}</string>
                <key>spriteSourceSize</key>
                <string>{262,188}</string>
                <key>textureRect</key>
                <string>{{303,2169},{262,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/building03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,181}</string>
                <key>spriteSourceSize</key>
                <string>{306,181}</string>
                <key>textureRect</key>
                <string>{{1,1880},{306,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/building04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,125}</string>
                <key>spriteSourceSize</key>
                <string>{151,125}</string>
                <key>textureRect</key>
                <string>{{173,2336},{151,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/building05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,179}</string>
                <key>spriteSourceSize</key>
                <string>{99,179}</string>
                <key>textureRect</key>
                <string>{{382,412},{99,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/building06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,355}</string>
                <key>spriteSourceSize</key>
                <string>{209,355}</string>
                <key>textureRect</key>
                <string>{{1,1460},{209,355}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/building07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,91}</string>
                <key>spriteSourceSize</key>
                <string>{97,91}</string>
                <key>textureRect</key>
                <string>{{382,593},{97,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/building08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,243}</string>
                <key>spriteSourceSize</key>
                <string>{91,243}</string>
                <key>textureRect</key>
                <string>{{378,1363},{91,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/building09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,159}</string>
                <key>spriteSourceSize</key>
                <string>{124,159}</string>
                <key>textureRect</key>
                <string>{{355,1932},{124,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/building10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,271}</string>
                <key>spriteSourceSize</key>
                <string>{132,271}</string>
                <key>textureRect</key>
                <string>{{173,2063},{128,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/building11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,163}</string>
                <key>spriteSourceSize</key>
                <string>{117,163}</string>
                <key>textureRect</key>
                <string>{{378,985},{117,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/bus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,170}</string>
                <key>spriteSourceSize</key>
                <string>{511,170}</string>
                <key>textureRect</key>
                <string>{{1,2063},{511,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/busstop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,234}</string>
                <key>spriteSourceSize</key>
                <string>{379,234}</string>
                <key>textureRect</key>
                <string>{{1,412},{379,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,44}</string>
                <key>spriteSourceSize</key>
                <string>{287,44}</string>
                <key>textureRect</key>
                <string>{{309,1880},{287,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/garden.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{675,375}</string>
                <key>spriteSourceSize</key>
                <string>{675,375}</string>
                <key>textureRect</key>
                <string>{{1,783},{675,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/helicopter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,106}</string>
                <key>spriteSourceSize</key>
                <string>{211,106}</string>
                <key>textureRect</key>
                <string>{{378,1150},{211,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,484}</string>
                <key>spriteSourceSize</key>
                <string>{163,484}</string>
                <key>textureRect</key>
                <string>{{1,1},{163,484}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/mgbuilding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,241}</string>
                <key>spriteSourceSize</key>
                <string>{112,241}</string>
                <key>textureRect</key>
                <string>{{380,742},{112,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/plane.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,75}</string>
                <key>spriteSourceSize</key>
                <string>{182,75}</string>
                <key>textureRect</key>
                <string>{{173,2489},{182,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/roadbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{739,5}</string>
                <key>spriteSourceSize</key>
                <string>{739,5}</string>
                <key>textureRect</key>
                <string>{{487,1},{739,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{355,2093},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,73}</string>
                <key>spriteSourceSize</key>
                <string>{35,73}</string>
                <key>textureRect</key>
                <string>{{443,261},{35,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/tree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,93}</string>
                <key>spriteSourceSize</key>
                <string>{35,93}</string>
                <key>textureRect</key>
                <string>{{443,166},{35,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/tree3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,440}</string>
                <key>spriteSourceSize</key>
                <string>{244,440}</string>
                <key>textureRect</key>
                <string>{{1,166},{244,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cityscreen.png</string>
            <key>size</key>
            <string>{496,2575}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eff553e43991455aa137471ed9938cbd:6f3f5ec9bec162671be0a45ee1adc148:4661ab4f5c9e7e7a6a56f33a57c4aeea$</string>
            <key>textureFileName</key>
            <string>cityscreen.png</string>
        </dict>
    </dict>
</plist>
