<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lion_animation/blink1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,5}</string>
                <key>spriteSourceSize</key>
                <string>{8,5}</string>
                <key>textureRect</key>
                <string>{{58,79},{8,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lion_animation/blink2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,7}</string>
                <key>spriteSourceSize</key>
                <string>{8,7}</string>
                <key>textureRect</key>
                <string>{{55,89},{8,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lion_animation/blink3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{48,78},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lion_animation/ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,10}</string>
                <key>spriteSourceSize</key>
                <string>{9,10}</string>
                <key>textureRect</key>
                <string>{{48,66},{9,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lion_animation/face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,41}</string>
                <key>spriteSourceSize</key>
                <string>{45,41}</string>
                <key>textureRect</key>
                <string>{{1,66},{45,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lion_animation/hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{1,1},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lion_animation/whiskers 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,4}</string>
                <key>spriteSourceSize</key>
                <string>{6,4}</string>
                <key>textureRect</key>
                <string>{{48,101},{6,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lion_animation/whiskers 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,4}</string>
                <key>spriteSourceSize</key>
                <string>{8,4}</string>
                <key>textureRect</key>
                <string>{{55,98},{8,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lion_animation/whiskers 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,5}</string>
                <key>spriteSourceSize</key>
                <string>{11,5}</string>
                <key>textureRect</key>
                <string>{{59,66},{11,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lion_animation/whiskers 4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,5}</string>
                <key>spriteSourceSize</key>
                <string>{11,5}</string>
                <key>textureRect</key>
                <string>{{48,88},{11,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lion_animation.png</string>
            <key>size</key>
            <string>{65,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca0a1b7611c88e4dbe6ef2249f4a368a:f8ebcd8623c6d8bd49570ad0c58478b8:ea33e0504d1249cd0ecee7597dc3fb4a$</string>
            <key>textureFileName</key>
            <string>lion_animation.png</string>
        </dict>
    </dict>
</plist>
