<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>owlisland/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{708,164}</string>
                <key>spriteSourceSize</key>
                <string>{708,164}</string>
                <key>textureRect</key>
                <string>{{1,1},{708,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/bigbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,85}</string>
                <key>spriteSourceSize</key>
                <string>{298,85}</string>
                <key>textureRect</key>
                <string>{{1,711},{298,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/bigbar_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,85}</string>
                <key>spriteSourceSize</key>
                <string>{298,85}</string>
                <key>textureRect</key>
                <string>{{88,711},{298,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/bubble1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-33}</string>
                <key>spriteSize</key>
                <string>{38,51}</string>
                <key>spriteSourceSize</key>
                <string>{76,121}</string>
                <key>textureRect</key>
                <string>{{175,975},{38,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/bubble2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-16}</string>
                <key>spriteSize</key>
                <string>{34,51}</string>
                <key>spriteSourceSize</key>
                <string>{76,121}</string>
                <key>textureRect</key>
                <string>{{228,975},{34,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/bubble3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-10}</string>
                <key>spriteSize</key>
                <string>{50,57}</string>
                <key>spriteSourceSize</key>
                <string>{76,121}</string>
                <key>textureRect</key>
                <string>{{615,965},{50,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/bubble4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,4}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{76,121}</string>
                <key>textureRect</key>
                <string>{{334,967},{50,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/bubble5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,12}</string>
                <key>spriteSize</key>
                <string>{50,65}</string>
                <key>spriteSourceSize</key>
                <string>{76,121}</string>
                <key>textureRect</key>
                <string>{{714,747},{50,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/bubble6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,22}</string>
                <key>spriteSize</key>
                <string>{64,71}</string>
                <key>spriteSourceSize</key>
                <string>{76,121}</string>
                <key>textureRect</key>
                <string>{{1009,764},{64,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/dash_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,67}</string>
                <key>spriteSourceSize</key>
                <string>{77,67}</string>
                <key>textureRect</key>
                <string>{{1160,872},{77,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/dash_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,67}</string>
                <key>spriteSourceSize</key>
                <string>{77,67}</string>
                <key>textureRect</key>
                <string>{{1160,941},{77,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/downbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,243}</string>
                <key>spriteSourceSize</key>
                <string>{260,243}</string>
                <key>textureRect</key>
                <string>{{334,705},{260,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/ehand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{113,53}</string>
                <key>spriteSourceSize</key>
                <string>{141,63}</string>
                <key>textureRect</key>
                <string>{{386,967},{113,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/enemy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{114,232}</string>
                <key>spriteSourceSize</key>
                <string>{140,246}</string>
                <key>textureRect</key>
                <string>{{615,560},{114,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/enemy10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{169,230}</string>
                <key>spriteSourceSize</key>
                <string>{199,254}</string>
                <key>textureRect</key>
                <string>{{1085,569},{169,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/enemy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,2}</string>
                <key>spriteSize</key>
                <string>{124,236}</string>
                <key>spriteSourceSize</key>
                <string>{140,246}</string>
                <key>textureRect</key>
                <string>{{857,130},{124,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/enemy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{130,232}</string>
                <key>spriteSourceSize</key>
                <string>{140,246}</string>
                <key>textureRect</key>
                <string>{{851,515},{130,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/enemy4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{128,234}</string>
                <key>spriteSourceSize</key>
                <string>{140,246}</string>
                <key>textureRect</key>
                <string>{{852,385},{128,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/enemy5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{126,240}</string>
                <key>spriteSourceSize</key>
                <string>{140,246}</string>
                <key>textureRect</key>
                <string>{{615,116},{126,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/enemy6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{113,250}</string>
                <key>spriteSourceSize</key>
                <string>{199,254}</string>
                <key>textureRect</key>
                <string>{{615,1},{113,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/enemy7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,6}</string>
                <key>spriteSize</key>
                <string>{121,234}</string>
                <key>spriteSourceSize</key>
                <string>{199,254}</string>
                <key>textureRect</key>
                <string>{{615,437},{121,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/enemy8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,25}</string>
                <key>spriteSize</key>
                <string>{163,202}</string>
                <key>spriteSourceSize</key>
                <string>{199,254}</string>
                <key>textureRect</key>
                <string>{{1095,132},{163,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/enemy9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,13}</string>
                <key>spriteSize</key>
                <string>{197,222}</string>
                <key>spriteSourceSize</key>
                <string>{199,254}</string>
                <key>textureRect</key>
                <string>{{363,244},{197,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,114}</string>
                <key>spriteSourceSize</key>
                <string>{117,114}</string>
                <key>textureRect</key>
                <string>{{598,676},{117,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/greenbase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{702,96}</string>
                <key>spriteSourceSize</key>
                <string>{702,96}</string>
                <key>textureRect</key>
                <string>{{167,1},{702,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/hero1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-4}</string>
                <key>spriteSize</key>
                <string>{114,249}</string>
                <key>spriteSourceSize</key>
                <string>{200,261}</string>
                <key>textureRect</key>
                <string>{{363,1},{114,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/hero2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{120,235}</string>
                <key>spriteSourceSize</key>
                <string>{200,261}</string>
                <key>textureRect</key>
                <string>{{615,315},{120,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/hero3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,23}</string>
                <key>spriteSize</key>
                <string>{162,203}</string>
                <key>spriteSourceSize</key>
                <string>{200,261}</string>
                <key>textureRect</key>
                <string>{{579,801},{162,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/hero4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{198,223}</string>
                <key>spriteSourceSize</key>
                <string>{200,261}</string>
                <key>textureRect</key>
                <string>{{784,764},{198,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/hero5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,8}</string>
                <key>spriteSize</key>
                <string>{170,231}</string>
                <key>spriteSourceSize</key>
                <string>{200,261}</string>
                <key>textureRect</key>
                <string>{{1090,336},{170,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/hhand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{112,53}</string>
                <key>spriteSourceSize</key>
                <string>{140,63}</string>
                <key>textureRect</key>
                <string>{{501,967},{112,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/hwrong1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,7}</string>
                <key>spriteSize</key>
                <string>{115,231}</string>
                <key>spriteSourceSize</key>
                <string>{145,261}</string>
                <key>textureRect</key>
                <string>{{849,647},{115,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/hwrong2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,5}</string>
                <key>spriteSize</key>
                <string>{125,237}</string>
                <key>spriteSourceSize</key>
                <string>{145,261}</string>
                <key>textureRect</key>
                <string>{{363,117},{125,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/hwrong3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,7}</string>
                <key>spriteSize</key>
                <string>{131,233}</string>
                <key>spriteSourceSize</key>
                <string>{145,261}</string>
                <key>textureRect</key>
                <string>{{363,569},{131,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/hwrong4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{127,235}</string>
                <key>spriteSourceSize</key>
                <string>{145,261}</string>
                <key>textureRect</key>
                <string>{{853,256},{127,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/hwrong5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{127,241}</string>
                <key>spriteSourceSize</key>
                <string>{145,261}</string>
                <key>textureRect</key>
                <string>{{867,1},{127,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/orangebase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{702,96}</string>
                <key>spriteSourceSize</key>
                <string>{702,96}</string>
                <key>textureRect</key>
                <string>{{265,1},{702,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/plant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,145}</string>
                <key>spriteSourceSize</key>
                <string>{129,145}</string>
                <key>textureRect</key>
                <string>{{1110,1},{129,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/plant2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,90}</string>
                <key>spriteSourceSize</key>
                <string>{56,90}</string>
                <key>textureRect</key>
                <string>{{667,965},{56,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/plant3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,213}</string>
                <key>spriteSourceSize</key>
                <string>{76,213}</string>
                <key>textureRect</key>
                <string>{{1082,801},{76,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/plant4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,268}</string>
                <key>spriteSourceSize</key>
                <string>{157,268}</string>
                <key>textureRect</key>
                <string>{{175,705},{157,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/smallbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,67}</string>
                <key>spriteSourceSize</key>
                <string>{77,67}</string>
                <key>textureRect</key>
                <string>{{363,443},{77,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/smallbar_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,67}</string>
                <key>spriteSourceSize</key>
                <string>{77,67}</string>
                <key>textureRect</key>
                <string>{{432,443},{77,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,67}</string>
                <key>spriteSourceSize</key>
                <string>{77,67}</string>
                <key>textureRect</key>
                <string>{{501,443},{77,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/zebracross1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,51}</string>
                <key>spriteSourceSize</key>
                <string>{187,51}</string>
                <key>textureRect</key>
                <string>{{759,965},{187,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/zebracross2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,51}</string>
                <key>spriteSourceSize</key>
                <string>{187,51}</string>
                <key>textureRect</key>
                <string>{{759,965},{187,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/zebracross3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,69}</string>
                <key>spriteSourceSize</key>
                <string>{236,69}</string>
                <key>textureRect</key>
                <string>{{615,244},{236,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/zebracross4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,69}</string>
                <key>spriteSourceSize</key>
                <string>{182,69}</string>
                <key>textureRect</key>
                <string>{{1009,830},{182,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/zebracross5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,69}</string>
                <key>spriteSourceSize</key>
                <string>{129,69}</string>
                <key>textureRect</key>
                <string>{{714,676},{129,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/zebracross6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,69}</string>
                <key>spriteSourceSize</key>
                <string>{90,69}</string>
                <key>textureRect</key>
                <string>{{1160,801},{90,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>owlisland.png</string>
            <key>size</key>
            <string>{1261,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:354ffc8dc92dcd99282f89fbc5922c8f:781604167b8c3570e6e9327949156637:8df3ed958f7bebef111981d2e54f26c8$</string>
            <key>textureFileName</key>
            <string>owlisland.png</string>
        </dict>
    </dict>
</plist>
