<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backgoundmap/bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1082,1573}</string>
                <key>spriteSourceSize</key>
                <string>{1082,1573}</string>
                <key>textureRect</key>
                <string>{{1,1455},{1082,1573}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>backgoundmap/bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1281,351}</string>
                <key>spriteSourceSize</key>
                <string>{1281,351}</string>
                <key>textureRect</key>
                <string>{{3206,1},{1281,351}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>backgoundmap/hill_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2561,779}</string>
                <key>spriteSourceSize</key>
                <string>{2561,779}</string>
                <key>textureRect</key>
                <string>{{1,1},{2561,779}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>backgoundmap/hill_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2563,671}</string>
                <key>spriteSourceSize</key>
                <string>{2563,671}</string>
                <key>textureRect</key>
                <string>{{1,782},{2563,671}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>backgoundmap/hill_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{776,348}</string>
                <key>spriteSourceSize</key>
                <string>{776,348}</string>
                <key>textureRect</key>
                <string>{{2564,1},{776,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>backgoundmap/hill_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{936,333}</string>
                <key>spriteSourceSize</key>
                <string>{936,333}</string>
                <key>textureRect</key>
                <string>{{3206,1284},{936,333}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>backgoundmap/hill_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{639,259}</string>
                <key>spriteSourceSize</key>
                <string>{639,259}</string>
                <key>textureRect</key>
                <string>{{2914,1},{639,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>backgoundmap/obj_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,310}</string>
                <key>spriteSourceSize</key>
                <string>{240,310}</string>
                <key>textureRect</key>
                <string>{{2566,779},{240,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>backgoundmap/obj_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,150}</string>
                <key>spriteSourceSize</key>
                <string>{119,150}</string>
                <key>textureRect</key>
                <string>{{2914,642},{119,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>backgoundmap/star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1479,735}</string>
                <key>spriteSourceSize</key>
                <string>{1479,735}</string>
                <key>textureRect</key>
                <string>{{1576,1455},{1479,735}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>backgoundmap/tree_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,1797}</string>
                <key>spriteSourceSize</key>
                <string>{163,1797}</string>
                <key>textureRect</key>
                <string>{{1,2539},{163,1797}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>backgoundmap/tree_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,1644}</string>
                <key>spriteSourceSize</key>
                <string>{216,1644}</string>
                <key>textureRect</key>
                <string>{{1800,2443},{216,1644}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>backgoundmap/tree_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,1628}</string>
                <key>spriteSourceSize</key>
                <string>{249,1628}</string>
                <key>textureRect</key>
                <string>{{1576,2192},{249,1628}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>backgoundmap.png</string>
            <key>size</key>
            <string>{3558,2703}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6887754236c2a4957869a6e12cef0811:26e3724da83757555e571fd3c652ac38:cc56156a3c56d8fcdff5f8edb7f304e5$</string>
            <key>textureFileName</key>
            <string>backgoundmap.png</string>
        </dict>
    </dict>
</plist>
