<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bi_Simu/Bi_Simu2/bed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{476,316}</string>
                <key>spriteSourceSize</key>
                <string>{476,316}</string>
                <key>textureRect</key>
                <string>{{1,1},{476,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/Bi_Simu2/boy_hair_curtained_hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{453,301}</string>
                <key>spriteSourceSize</key>
                <string>{453,301}</string>
                <key>textureRect</key>
                <string>{{1,319},{453,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/Bi_Simu2/flower_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,32}</string>
                <key>spriteSourceSize</key>
                <string>{31,32}</string>
                <key>textureRect</key>
                <string>{{456,558},{31,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/Bi_Simu2/flower_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,33}</string>
                <key>spriteSourceSize</key>
                <string>{27,33}</string>
                <key>textureRect</key>
                <string>{{479,1},{27,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/Bi_Simu2/flower_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,25}</string>
                <key>spriteSourceSize</key>
                <string>{26,25}</string>
                <key>textureRect</key>
                <string>{{479,36},{26,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/Bi_Simu2/lamp_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,582}</string>
                <key>spriteSourceSize</key>
                <string>{183,582}</string>
                <key>textureRect</key>
                <string>{{326,622},{183,582}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/Bi_Simu2/lamp_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,113}</string>
                <key>spriteSourceSize</key>
                <string>{80,113}</string>
                <key>textureRect</key>
                <string>{{1,1836},{80,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/Bi_Simu2/lamp_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,66}</string>
                <key>spriteSourceSize</key>
                <string>{57,66}</string>
                <key>textureRect</key>
                <string>{{116,1836},{57,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/Bi_Simu2/lamp_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{394,1516},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/Bi_Simu2/msphone_table_page1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{628,323}</string>
                <key>spriteSourceSize</key>
                <string>{628,323}</string>
                <key>textureRect</key>
                <string>{{1,622},{628,323}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/Bi_Simu2/plate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,59}</string>
                <key>spriteSourceSize</key>
                <string>{143,59}</string>
                <key>textureRect</key>
                <string>{{326,1206},{143,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/Bi_Simu2/shelf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,82}</string>
                <key>spriteSourceSize</key>
                <string>{245,82}</string>
                <key>textureRect</key>
                <string>{{394,1626},{245,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/Bi_Simu2/table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{582,279}</string>
                <key>spriteSourceSize</key>
                <string>{582,279}</string>
                <key>textureRect</key>
                <string>{{1,1252},{582,279}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/Bi_Simu2/tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,55}</string>
                <key>spriteSourceSize</key>
                <string>{34,55}</string>
                <key>textureRect</key>
                <string>{{456,501},{34,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/Bi_Simu2/touch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-99.5,99.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{202,202}</string>
                <key>textureRect</key>
                <string>{{504,63},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/Bi_Simu2/vase_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,269}</string>
                <key>spriteSourceSize</key>
                <string>{110,269}</string>
                <key>textureRect</key>
                <string>{{282,1516},{110,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/Bi_Simu2/vase_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,116}</string>
                <key>spriteSourceSize</key>
                <string>{53,116}</string>
                <key>textureRect</key>
                <string>{{456,319},{53,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/Bi_Simu2/vase_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,62}</string>
                <key>spriteSourceSize</key>
                <string>{42,62}</string>
                <key>textureRect</key>
                <string>{{456,437},{42,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/Bi_Simu2/water1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,100}</string>
                <key>spriteSourceSize</key>
                <string>{23,100}</string>
                <key>textureRect</key>
                <string>{{479,63},{23,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/Bi_Simu2/water2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,100}</string>
                <key>spriteSourceSize</key>
                <string>{23,100}</string>
                <key>textureRect</key>
                <string>{{479,165},{23,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/Bi_Simu2/window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,227}</string>
                <key>spriteSourceSize</key>
                <string>{247,227}</string>
                <key>textureRect</key>
                <string>{{282,1267},{247,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bi_Simu2.png</string>
            <key>size</key>
            <string>{510,1917}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59e7e214a51374cb291812db4af72b8b:57019205d5010d7624c14bd0763c5f04:b8c0cd02b37c80a65c34223c09fc0f2e$</string>
            <key>textureFileName</key>
            <string>Bi_Simu2.png</string>
        </dict>
    </dict>
</plist>
