<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chain/block.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,150}</string>
                <key>spriteSourceSize</key>
                <string>{142,150}</string>
                <key>textureRect</key>
                <string>{{2716,485},{142,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/box1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-51}</string>
                <key>spriteSize</key>
                <string>{148,157}</string>
                <key>spriteSourceSize</key>
                <string>{202,275}</string>
                <key>textureRect</key>
                <string>{{3271,474},{148,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/box2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-33}</string>
                <key>spriteSize</key>
                <string>{150,193}</string>
                <key>spriteSourceSize</key>
                <string>{202,275}</string>
                <key>textureRect</key>
                <string>{{2284,219},{150,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/box3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-5}</string>
                <key>spriteSize</key>
                <string>{150,249}</string>
                <key>spriteSourceSize</key>
                <string>{202,275}</string>
                <key>textureRect</key>
                <string>{{3020,474},{150,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/box4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{186,263}</string>
                <key>spriteSourceSize</key>
                <string>{202,275}</string>
                <key>textureRect</key>
                <string>{{2775,219},{186,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/ele.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-103}</string>
                <key>spriteSize</key>
                <string>{307,223}</string>
                <key>spriteSourceSize</key>
                <string>{451,451}</string>
                <key>textureRect</key>
                <string>{{3651,757},{307,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/ele2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-103}</string>
                <key>spriteSize</key>
                <string>{349,223}</string>
                <key>spriteSourceSize</key>
                <string>{451,451}</string>
                <key>textureRect</key>
                <string>{{2890,628},{349,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/ele3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-99}</string>
                <key>spriteSize</key>
                <string>{377,231}</string>
                <key>spriteSourceSize</key>
                <string>{451,451}</string>
                <key>textureRect</key>
                <string>{{3316,219},{377,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/ele4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-75}</string>
                <key>spriteSize</key>
                <string>{357,279}</string>
                <key>spriteSourceSize</key>
                <string>{451,451}</string>
                <key>textureRect</key>
                <string>{{2099,632},{357,279}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/ele5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-54}</string>
                <key>spriteSize</key>
                <string>{359,321}</string>
                <key>spriteSourceSize</key>
                <string>{451,451}</string>
                <key>textureRect</key>
                <string>{{1776,632},{359,321}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/ele6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-67}</string>
                <key>spriteSize</key>
                <string>{357,295}</string>
                <key>spriteSourceSize</key>
                <string>{451,451}</string>
                <key>textureRect</key>
                <string>{{1,694},{357,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/ele7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-61}</string>
                <key>spriteSize</key>
                <string>{359,307}</string>
                <key>spriteSourceSize</key>
                <string>{451,451}</string>
                <key>textureRect</key>
                <string>{{360,685},{359,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/flemingo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{227,315}</string>
                <key>spriteSourceSize</key>
                <string>{593,459}</string>
                <key>textureRect</key>
                <string>{{3695,219},{227,315}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/fly1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,67}</string>
                <key>spriteSize</key>
                <string>{533,181}</string>
                <key>spriteSourceSize</key>
                <string>{593,459}</string>
                <key>textureRect</key>
                <string>{{965,1},{533,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/fly2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-9}</string>
                <key>spriteSize</key>
                <string>{523,227}</string>
                <key>spriteSourceSize</key>
                <string>{593,459}</string>
                <key>textureRect</key>
                <string>{{1148,1},{523,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/fly3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-22}</string>
                <key>spriteSize</key>
                <string>{505,163}</string>
                <key>spriteSourceSize</key>
                <string>{593,459}</string>
                <key>textureRect</key>
                <string>{{1377,1},{505,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/layer1treetrunk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,635}</string>
                <key>spriteSourceSize</key>
                <string>{257,635}</string>
                <key>textureRect</key>
                <string>{{554,1},{257,635}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/layer2treetrunk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,691}</string>
                <key>spriteSourceSize</key>
                <string>{167,691}</string>
                <key>textureRect</key>
                <string>{{1,1},{167,691}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/letterpanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,150}</string>
                <key>spriteSourceSize</key>
                <string>{142,150}</string>
                <key>textureRect</key>
                <string>{{2868,484},{142,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/maintree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,682}</string>
                <key>spriteSourceSize</key>
                <string>{382,682}</string>
                <key>textureRect</key>
                <string>{{170,1},{382,682}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/monkey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,345}</string>
                <key>spriteSourceSize</key>
                <string>{265,345}</string>
                <key>textureRect</key>
                <string>{{3384,624},{265,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/monkeyeat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-32}</string>
                <key>spriteSize</key>
                <string>{253,351}</string>
                <key>spriteSourceSize</key>
                <string>{419,459}</string>
                <key>textureRect</key>
                <string>{{2380,632},{253,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/monkeyeat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-32}</string>
                <key>spriteSize</key>
                <string>{253,351}</string>
                <key>spriteSourceSize</key>
                <string>{419,459}</string>
                <key>textureRect</key>
                <string>{{2635,632},{253,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/monkeyeat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-36}</string>
                <key>spriteSize</key>
                <string>{253,351}</string>
                <key>spriteSourceSize</key>
                <string>{419,459}</string>
                <key>textureRect</key>
                <string>{{2963,219},{253,351}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/monkeyeat4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-32}</string>
                <key>spriteSize</key>
                <string>{259,351}</string>
                <key>spriteSourceSize</key>
                <string>{419,459}</string>
                <key>textureRect</key>
                <string>{{721,638},{259,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/monkeyflip1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-34}</string>
                <key>spriteSize</key>
                <string>{267,347}</string>
                <key>spriteSourceSize</key>
                <string>{419,459}</string>
                <key>textureRect</key>
                <string>{{3115,626},{267,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/monkeyflip2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,5}</string>
                <key>spriteSize</key>
                <string>{369,425}</string>
                <key>spriteSourceSize</key>
                <string>{419,459}</string>
                <key>textureRect</key>
                <string>{{1542,1},{369,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/monkeyflip3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-28}</string>
                <key>spriteSize</key>
                <string>{395,361}</string>
                <key>spriteSourceSize</key>
                <string>{419,459}</string>
                <key>textureRect</key>
                <string>{{982,632},{395,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/monkeyflip4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-21}</string>
                <key>spriteSize</key>
                <string>{303,373}</string>
                <key>spriteSourceSize</key>
                <string>{419,459}</string>
                <key>textureRect</key>
                <string>{{3651,452},{303,373}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/monkeyflip5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-28}</string>
                <key>spriteSize</key>
                <string>{395,361}</string>
                <key>spriteSourceSize</key>
                <string>{419,459}</string>
                <key>textureRect</key>
                <string>{{1379,632},{395,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/monkeyflip6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,4}</string>
                <key>spriteSize</key>
                <string>{369,425}</string>
                <key>spriteSourceSize</key>
                <string>{419,459}</string>
                <key>textureRect</key>
                <string>{{1913,1},{369,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/scene2bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{1760,216}</string>
                <key>spriteSourceSize</key>
                <string>{1768,216}</string>
                <key>textureRect</key>
                <string>{{2284,1},{1760,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/scene3bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1749,94}</string>
                <key>spriteSourceSize</key>
                <string>{1749,94}</string>
                <key>textureRect</key>
                <string>{{965,536},{1749,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/toprope.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1231,55}</string>
                <key>spriteSourceSize</key>
                <string>{1231,55}</string>
                <key>textureRect</key>
                <string>{{1542,428},{1231,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/wordpanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{601,150}</string>
                <key>spriteSourceSize</key>
                <string>{601,150}</string>
                <key>textureRect</key>
                <string>{{813,1},{601,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chain.png</string>
            <key>size</key>
            <string>{4045,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f51e5409dd84f3ee8129f4e39a1e383:f4a18920b65d4893bfd6074ca85a126e:bdabef210107175500f8ed0bb9b37f53$</string>
            <key>textureFileName</key>
            <string>chain.png</string>
        </dict>
    </dict>
</plist>
