<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>granary/granay_mainground/bag_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{160,496},{38,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/bag_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,45}</string>
                <key>spriteSourceSize</key>
                <string>{38,45}</string>
                <key>textureRect</key>
                <string>{{52,496},{38,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/bag_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,45}</string>
                <key>spriteSourceSize</key>
                <string>{38,45}</string>
                <key>textureRect</key>
                <string>{{92,496},{38,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/banana.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,20}</string>
                <key>spriteSourceSize</key>
                <string>{17,20}</string>
                <key>textureRect</key>
                <string>{{303,142},{17,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/basket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,32}</string>
                <key>spriteSourceSize</key>
                <string>{25,32}</string>
                <key>textureRect</key>
                <string>{{200,496},{25,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>granary/granay_mainground/box_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,36}</string>
                <key>spriteSourceSize</key>
                <string>{53,36}</string>
                <key>textureRect</key>
                <string>{{247,179},{53,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/box_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,42}</string>
                <key>spriteSourceSize</key>
                <string>{54,42}</string>
                <key>textureRect</key>
                <string>{{247,109},{54,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/brinjal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,21}</string>
                <key>spriteSourceSize</key>
                <string>{11,21}</string>
                <key>textureRect</key>
                <string>{{309,72},{11,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/cabbage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,17}</string>
                <key>spriteSourceSize</key>
                <string>{18,17}</string>
                <key>textureRect</key>
                <string>{{303,123},{18,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/capcicum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,13}</string>
                <key>spriteSourceSize</key>
                <string>{13,13}</string>
                <key>textureRect</key>
                <string>{{37,549},{13,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/carrot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,34}</string>
                <key>spriteSourceSize</key>
                <string>{13,34}</string>
                <key>textureRect</key>
                <string>{{1,549},{13,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>granary/granay_mainground/chilli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,15}</string>
                <key>spriteSourceSize</key>
                <string>{9,15}</string>
                <key>textureRect</key>
                <string>{{302,179},{9,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>granary/granay_mainground/corn_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,49}</string>
                <key>spriteSourceSize</key>
                <string>{51,49}</string>
                <key>textureRect</key>
                <string>{{1,496},{51,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>granary/granay_mainground/door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,143}</string>
                <key>spriteSourceSize</key>
                <string>{244,143}</string>
                <key>textureRect</key>
                <string>{{1,61},{244,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/floor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,58}</string>
                <key>spriteSourceSize</key>
                <string>{320,58}</string>
                <key>textureRect</key>
                <string>{{1,1},{320,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/fruit_table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,170}</string>
                <key>spriteSourceSize</key>
                <string>{218,170}</string>
                <key>textureRect</key>
                <string>{{323,1},{218,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>granary/granay_mainground/granary_inside_door_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,143}</string>
                <key>spriteSourceSize</key>
                <string>{244,143}</string>
                <key>textureRect</key>
                <string>{{1,206},{244,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/granary_inside_door_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,143}</string>
                <key>spriteSourceSize</key>
                <string>{244,143}</string>
                <key>textureRect</key>
                <string>{{247,221},{244,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/granary_inside_door_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,143}</string>
                <key>spriteSourceSize</key>
                <string>{244,143}</string>
                <key>textureRect</key>
                <string>{{1,351},{244,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/grapes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,27}</string>
                <key>spriteSourceSize</key>
                <string>{24,27}</string>
                <key>textureRect</key>
                <string>{{160,540},{24,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>granary/granay_mainground/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,36}</string>
                <key>spriteSourceSize</key>
                <string>{75,36}</string>
                <key>textureRect</key>
                <string>{{452,486},{75,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>granary/granay_mainground/mango.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,21}</string>
                <key>spriteSourceSize</key>
                <string>{13,21}</string>
                <key>textureRect</key>
                <string>{{302,190},{13,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/milk_bottle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,54}</string>
                <key>spriteSourceSize</key>
                <string>{24,54}</string>
                <key>textureRect</key>
                <string>{{247,153},{24,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>granary/granay_mainground/onion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{309,95},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,16}</string>
                <key>spriteSourceSize</key>
                <string>{13,16}</string>
                <key>textureRect</key>
                <string>{{303,164},{13,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>granary/granay_mainground/pumpkin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{200,523},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/step.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,9}</string>
                <key>spriteSourceSize</key>
                <string>{74,9}</string>
                <key>textureRect</key>
                <string>{{247,61},{74,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/step_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,9}</string>
                <key>spriteSourceSize</key>
                <string>{232,9}</string>
                <key>textureRect</key>
                <string>{{247,366},{232,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,35}</string>
                <key>spriteSourceSize</key>
                <string>{60,35}</string>
                <key>textureRect</key>
                <string>{{247,72},{60,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/tomato.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,10}</string>
                <key>spriteSourceSize</key>
                <string>{13,10}</string>
                <key>textureRect</key>
                <string>{{309,108},{13,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>granary/granay_mainground/vegatable_table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,107}</string>
                <key>spriteSourceSize</key>
                <string>{225,107}</string>
                <key>textureRect</key>
                <string>{{247,377},{225,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/watercane.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,26}</string>
                <key>spriteSourceSize</key>
                <string>{44,26}</string>
                <key>textureRect</key>
                <string>{{132,496},{44,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>granary/granay_mainground/window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,76}</string>
                <key>spriteSourceSize</key>
                <string>{203,76}</string>
                <key>textureRect</key>
                <string>{{247,486},{203,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>granay_mainground.png</string>
            <key>size</key>
            <string>{494,565}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa157d577b30f524bcdbee75d1be69d5:2e4a8836e4ed9863174c3312792e22a8:40cc44fcc0e5615a59e2cf3c699d5dcb$</string>
            <key>textureFileName</key>
            <string>granay_mainground.png</string>
        </dict>
    </dict>
</plist>
