<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hippolevel/bgbuilding1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,564}</string>
                <key>spriteSourceSize</key>
                <string>{280,564}</string>
                <key>textureRect</key>
                <string>{{632,1562},{280,564}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippolevel/bgbuilding2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,491}</string>
                <key>spriteSourceSize</key>
                <string>{242,491}</string>
                <key>textureRect</key>
                <string>{{1,2775},{242,491}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippolevel/bgbuilding3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,367}</string>
                <key>spriteSourceSize</key>
                <string>{266,367}</string>
                <key>textureRect</key>
                <string>{{494,2712},{266,367}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippolevel/bgbuilding4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,205}</string>
                <key>spriteSourceSize</key>
                <string>{238,205}</string>
                <key>textureRect</key>
                <string>{{736,904},{238,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippolevel/building1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,851}</string>
                <key>spriteSourceSize</key>
                <string>{321,851}</string>
                <key>textureRect</key>
                <string>{{309,1806},{321,851}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippolevel/building2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,895}</string>
                <key>spriteSourceSize</key>
                <string>{489,895}</string>
                <key>textureRect</key>
                <string>{{1,909},{489,895}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippolevel/building3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,901}</string>
                <key>spriteSourceSize</key>
                <string>{289,901}</string>
                <key>textureRect</key>
                <string>{{548,1},{289,901}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippolevel/building4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{545,906}</string>
                <key>spriteSourceSize</key>
                <string>{545,906}</string>
                <key>textureRect</key>
                <string>{{1,1},{545,906}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippolevel/building5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,967}</string>
                <key>spriteSourceSize</key>
                <string>{306,967}</string>
                <key>textureRect</key>
                <string>{{1,1806},{306,967}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippolevel/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,102}</string>
                <key>spriteSourceSize</key>
                <string>{260,102}</string>
                <key>textureRect</key>
                <string>{{839,587},{260,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippolevel/cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,92}</string>
                <key>spriteSourceSize</key>
                <string>{303,92}</string>
                <key>textureRect</key>
                <string>{{492,1496},{303,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippolevel/cloud3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,203}</string>
                <key>spriteSourceSize</key>
                <string>{416,203}</string>
                <key>textureRect</key>
                <string>{{736,1144},{416,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippolevel/lamp1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,582}</string>
                <key>spriteSourceSize</key>
                <string>{253,582}</string>
                <key>textureRect</key>
                <string>{{632,2128},{253,582}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippolevel/lamp2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,584}</string>
                <key>spriteSourceSize</key>
                <string>{81,584}</string>
                <key>textureRect</key>
                <string>{{839,1},{81,584}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippolevel/lamp3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,585}</string>
                <key>spriteSourceSize</key>
                <string>{242,585}</string>
                <key>textureRect</key>
                <string>{{492,909},{242,585}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hippolevel.png</string>
            <key>size</key>
            <string>{942,3018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31528745bb3d4c3127594e63ff30f880:a9087d8d95ea8557374a6e827b0c2e3f:63e2625c920b764e95f6982579eaeeb0$</string>
            <key>textureFileName</key>
            <string>hippolevel.png</string>
        </dict>
    </dict>
</plist>
