<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>talkjungle/bg 2-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,89}</string>
                <key>spriteSourceSize</key>
                <string>{229,89}</string>
                <key>textureRect</key>
                <string>{{515,93},{229,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/bg 2-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,12}</string>
                <key>spriteSourceSize</key>
                <string>{229,12}</string>
                <key>textureRect</key>
                <string>{{279,162},{229,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/bg-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,80}</string>
                <key>spriteSourceSize</key>
                <string>{512,80}</string>
                <key>textureRect</key>
                <string>{{1,1},{512,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/bg-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,77}</string>
                <key>spriteSourceSize</key>
                <string>{512,77}</string>
                <key>textureRect</key>
                <string>{{1,83},{512,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,28}</string>
                <key>spriteSourceSize</key>
                <string>{256,28}</string>
                <key>textureRect</key>
                <string>{{392,184},{256,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/lion-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{120,136}</string>
                <key>spriteSourceSize</key>
                <string>{122,136}</string>
                <key>textureRect</key>
                <string>{{746,93},{120,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/lion-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,43}</string>
                <key>spriteSourceSize</key>
                <string>{111,43}</string>
                <key>textureRect</key>
                <string>{{279,176},{111,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/lion-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,36}</string>
                <key>spriteSourceSize</key>
                <string>{12,36}</string>
                <key>textureRect</key>
                <string>{{447,214},{12,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/lion-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{650,184},{38,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkjungle/lion-06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,16}</string>
                <key>spriteSourceSize</key>
                <string>{40,16}</string>
                <key>textureRect</key>
                <string>{{694,205},{40,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/lion-07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,6}</string>
                <key>spriteSourceSize</key>
                <string>{42,6}</string>
                <key>textureRect</key>
                <string>{{392,176},{42,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/lion-08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,9}</string>
                <key>spriteSourceSize</key>
                <string>{35,9}</string>
                <key>textureRect</key>
                <string>{{461,214},{35,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/lion-08d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,9}</string>
                <key>spriteSourceSize</key>
                <string>{35,9}</string>
                <key>textureRect</key>
                <string>{{498,214},{35,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/meat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,19}</string>
                <key>spriteSourceSize</key>
                <string>{40,19}</string>
                <key>textureRect</key>
                <string>{{279,231},{40,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/meat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,19}</string>
                <key>spriteSourceSize</key>
                <string>{40,19}</string>
                <key>textureRect</key>
                <string>{{694,184},{40,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/meat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,19}</string>
                <key>spriteSourceSize</key>
                <string>{40,19}</string>
                <key>textureRect</key>
                <string>{{321,231},{40,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/meat4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,19}</string>
                <key>spriteSourceSize</key>
                <string>{40,19}</string>
                <key>textureRect</key>
                <string>{{363,231},{40,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/meat5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,19}</string>
                <key>spriteSourceSize</key>
                <string>{40,19}</string>
                <key>textureRect</key>
                <string>{{405,231},{40,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/patch_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,88}</string>
                <key>spriteSourceSize</key>
                <string>{276,88}</string>
                <key>textureRect</key>
                <string>{{1,162},{276,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{90,343}</string>
                <key>spriteSourceSize</key>
                <string>{106,343}</string>
                <key>textureRect</key>
                <string>{{515,1},{90,343}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>talkjungle.png</string>
            <key>size</key>
            <string>{867,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e2525a7c6d0a5ccfb744615e705b52a:a05040bb7ed6b9929a770d12e8c96907:838b158f382b9cdebba2331b2b6bee3d$</string>
            <key>textureFileName</key>
            <string>talkjungle.png</string>
        </dict>
    </dict>
</plist>
