<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cannonball/cannonball_blazeanimation/blaze0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{70,47}</string>
                <key>spriteSourceSize</key>
                <string>{74,47}</string>
                <key>textureRect</key>
                <string>{{178,1},{70,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball/cannonball_blazeanimation/blaze0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{70,47}</string>
                <key>spriteSourceSize</key>
                <string>{74,47}</string>
                <key>textureRect</key>
                <string>{{178,1},{70,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball/cannonball_blazeanimation/blaze0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{70,47}</string>
                <key>spriteSourceSize</key>
                <string>{74,47}</string>
                <key>textureRect</key>
                <string>{{178,1},{70,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball/cannonball_blazeanimation/blaze0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,47}</string>
                <key>spriteSourceSize</key>
                <string>{74,47}</string>
                <key>textureRect</key>
                <string>{{173,140},{74,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball/cannonball_blazeanimation/blaze0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,47}</string>
                <key>spriteSourceSize</key>
                <string>{74,47}</string>
                <key>textureRect</key>
                <string>{{173,140},{74,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball/cannonball_blazeanimation/blaze0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,47}</string>
                <key>spriteSourceSize</key>
                <string>{74,47}</string>
                <key>textureRect</key>
                <string>{{173,140},{74,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball/cannonball_blazeanimation/blaze0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,47}</string>
                <key>spriteSourceSize</key>
                <string>{74,47}</string>
                <key>textureRect</key>
                <string>{{173,189},{74,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball/cannonball_blazeanimation/blaze0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,47}</string>
                <key>spriteSourceSize</key>
                <string>{74,47}</string>
                <key>textureRect</key>
                <string>{{173,189},{74,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball/cannonball_blazeanimation/blaze0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,47}</string>
                <key>spriteSourceSize</key>
                <string>{74,47}</string>
                <key>textureRect</key>
                <string>{{173,189},{74,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball/cannonball_forcefieldanimation/forcefield0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{158,122}</string>
                <key>spriteSourceSize</key>
                <string>{170,138}</string>
                <key>textureRect</key>
                <string>{{1,267},{158,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball/cannonball_forcefieldanimation/forcefield0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{158,122}</string>
                <key>spriteSourceSize</key>
                <string>{170,138}</string>
                <key>textureRect</key>
                <string>{{1,267},{158,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball/cannonball_forcefieldanimation/forcefield0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{158,110}</string>
                <key>spriteSourceSize</key>
                <string>{170,138}</string>
                <key>textureRect</key>
                <string>{{1,391},{158,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball/cannonball_forcefieldanimation/forcefield0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{158,110}</string>
                <key>spriteSourceSize</key>
                <string>{170,138}</string>
                <key>textureRect</key>
                <string>{{1,391},{158,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball/cannonball_forcefieldanimation/forcefield0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,138}</string>
                <key>spriteSourceSize</key>
                <string>{170,138}</string>
                <key>textureRect</key>
                <string>{{1,127},{170,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball/cannonball_forcefieldanimation/forcefield0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,138}</string>
                <key>spriteSourceSize</key>
                <string>{170,138}</string>
                <key>textureRect</key>
                <string>{{1,127},{170,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball/cannonball_forcefieldanimation/forcefield0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{158,90}</string>
                <key>spriteSourceSize</key>
                <string>{170,138}</string>
                <key>textureRect</key>
                <string>{{1,503},{158,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball/cannonball_forcefieldanimation/forcefield0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{158,90}</string>
                <key>spriteSourceSize</key>
                <string>{170,138}</string>
                <key>textureRect</key>
                <string>{{1,503},{158,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball/cannonball_forcefieldanimation/forcefield0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-83.5,67.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{170,138}</string>
                <key>textureRect</key>
                <string>{{173,127},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball/cannonball_meteorblastanimatiion/meteor_blast0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{97,88}</string>
                <key>spriteSourceSize</key>
                <string>{175,128}</string>
                <key>textureRect</key>
                <string>{{161,273},{97,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cannonball/cannonball_meteorblastanimatiion/meteor_blast0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{97,88}</string>
                <key>spriteSourceSize</key>
                <string>{175,128}</string>
                <key>textureRect</key>
                <string>{{161,273},{97,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cannonball/cannonball_meteorblastanimatiion/meteor_blast0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{97,88}</string>
                <key>spriteSourceSize</key>
                <string>{175,128}</string>
                <key>textureRect</key>
                <string>{{161,273},{97,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cannonball/cannonball_meteorblastanimatiion/meteor_blast0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{95,84}</string>
                <key>spriteSourceSize</key>
                <string>{175,128}</string>
                <key>textureRect</key>
                <string>{{161,372},{95,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cannonball/cannonball_meteorblastanimatiion/meteor_blast0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{95,84}</string>
                <key>spriteSourceSize</key>
                <string>{175,128}</string>
                <key>textureRect</key>
                <string>{{161,372},{95,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cannonball/cannonball_meteorblastanimatiion/meteor_blast0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,11}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{175,128}</string>
                <key>textureRect</key>
                <string>{{155,595},{95,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cannonball/cannonball_meteorblastanimatiion/meteor_blast0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,11}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{175,128}</string>
                <key>textureRect</key>
                <string>{{155,595},{95,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cannonball/cannonball_meteorblastanimatiion/meteor_blast0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,17}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{175,128}</string>
                <key>textureRect</key>
                <string>{{155,692},{95,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cannonball/cannonball_meteorblastanimatiion/meteor_blast0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,17}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{175,128}</string>
                <key>textureRect</key>
                <string>{{155,692},{95,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cannonball/cannonball_meteorblastanimatiion/meteor_blast0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{141,120}</string>
                <key>spriteSourceSize</key>
                <string>{175,128}</string>
                <key>textureRect</key>
                <string>{{1,795},{141,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball/cannonball_meteorblastanimatiion/meteor_blast0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{175,124}</string>
                <key>spriteSourceSize</key>
                <string>{175,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{175,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball/cannonball_meteorblastanimatiion/meteor_blast0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{175,124}</string>
                <key>spriteSourceSize</key>
                <string>{175,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{175,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball/cannonball_meteorblastanimatiion/meteor_blast0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-86,62.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{175,128}</string>
                <key>textureRect</key>
                <string>{{173,127},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball/cannonball_meteorstrikeanimation/meteorstrike0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,5}</string>
                <key>spriteSize</key>
                <string>{33,36}</string>
                <key>spriteSourceSize</key>
                <string>{83,102}</string>
                <key>textureRect</key>
                <string>{{173,238},{33,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cannonball/cannonball_meteorstrikeanimation/meteorstrike0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,5}</string>
                <key>spriteSize</key>
                <string>{33,36}</string>
                <key>spriteSourceSize</key>
                <string>{83,102}</string>
                <key>textureRect</key>
                <string>{{173,238},{33,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cannonball/cannonball_meteorstrikeanimation/meteorstrike0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-1}</string>
                <key>spriteSize</key>
                <string>{47,88}</string>
                <key>spriteSourceSize</key>
                <string>{83,102}</string>
                <key>textureRect</key>
                <string>{{178,50},{47,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball/cannonball_meteorstrikeanimation/meteorstrike0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-1}</string>
                <key>spriteSize</key>
                <string>{47,88}</string>
                <key>spriteSourceSize</key>
                <string>{83,102}</string>
                <key>textureRect</key>
                <string>{{178,50},{47,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball/cannonball_meteorstrikeanimation/meteorstrike0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,102}</string>
                <key>spriteSourceSize</key>
                <string>{83,102}</string>
                <key>textureRect</key>
                <string>{{161,469},{83,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball/cannonball_meteorstrikeanimation/meteorstrike0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,102}</string>
                <key>spriteSourceSize</key>
                <string>{83,102}</string>
                <key>textureRect</key>
                <string>{{161,469},{83,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball/cannonball_meteorstrikeanimation/meteorstrike0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,49.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{83,102}</string>
                <key>textureRect</key>
                <string>{{173,127},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball/cannonball_shootanimation/cannon_shoot0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,98}</string>
                <key>spriteSourceSize</key>
                <string>{152,98}</string>
                <key>textureRect</key>
                <string>{{1,595},{152,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball/cannonball_shootanimation/cannon_shoot0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{144,98}</string>
                <key>spriteSourceSize</key>
                <string>{152,98}</string>
                <key>textureRect</key>
                <string>{{1,695},{144,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball/cannonball_shootanimation/cannon_shoot0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{132,98}</string>
                <key>spriteSourceSize</key>
                <string>{152,98}</string>
                <key>textureRect</key>
                <string>{{147,789},{132,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cannonball/cannonball_shootanimation/cannon_shoot0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{122,98}</string>
                <key>spriteSourceSize</key>
                <string>{152,98}</string>
                <key>textureRect</key>
                <string>{{1,917},{122,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball/cannonball_shootanimation/cannon_shoot0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{122,98}</string>
                <key>spriteSourceSize</key>
                <string>{152,98}</string>
                <key>textureRect</key>
                <string>{{1,917},{122,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball/cannonball_shootanimation/cannon_shoot0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{122,98}</string>
                <key>spriteSourceSize</key>
                <string>{152,98}</string>
                <key>textureRect</key>
                <string>{{1,917},{122,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball/cannonball_shootanimation/cannon_shoot0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{132,98}</string>
                <key>spriteSourceSize</key>
                <string>{152,98}</string>
                <key>textureRect</key>
                <string>{{147,789},{132,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cannonball/cannonball_shootanimation/cannon_shoot0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{144,98}</string>
                <key>spriteSourceSize</key>
                <string>{152,98}</string>
                <key>textureRect</key>
                <string>{{1,695},{144,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball/cannonball_shootanimation/cannon_shoot0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,98}</string>
                <key>spriteSourceSize</key>
                <string>{152,98}</string>
                <key>textureRect</key>
                <string>{{1,595},{152,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cannonball_animationPlist.png</string>
            <key>size</key>
            <string>{250,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4317c41f65c55a952b32e0d1dbe2aee:83cbbaacbbda607f013dd51fbfd897b2:1a4f88fbf2295c31bf432e2319829c8c$</string>
            <key>textureFileName</key>
            <string>cannonball_animationPlist.png</string>
        </dict>
    </dict>
</plist>
