<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dash/answer_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1344,228}</string>
                <key>spriteSourceSize</key>
                <string>{1344,228}</string>
                <key>textureRect</key>
                <string>{{1,1},{1344,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,229}</string>
                <key>spriteSourceSize</key>
                <string>{232,229}</string>
                <key>textureRect</key>
                <string>{{1902,1},{232,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,64}</string>
                <key>spriteSourceSize</key>
                <string>{222,64}</string>
                <key>textureRect</key>
                <string>{{1638,146},{222,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/hint_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,228}</string>
                <key>spriteSourceSize</key>
                <string>{289,228}</string>
                <key>textureRect</key>
                <string>{{1347,1},{289,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/step.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,143}</string>
                <key>spriteSourceSize</key>
                <string>{262,143}</string>
                <key>textureRect</key>
                <string>{{1638,1},{262,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dash.png</string>
            <key>size</key>
            <string>{2135,231}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:841193b7a6f8b771b4508e233fb0af51:ca50d261855d5c798fb28ba4554d3cb1:1378694c875d5feb26ad4e92202f0353$</string>
            <key>textureFileName</key>
            <string>dash.png</string>
        </dict>
    </dict>
</plist>
