<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dropjungle/basketinter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,3}</string>
                <key>spriteSourceSize</key>
                <string>{57,3}</string>
                <key>textureRect</key>
                <string>{{242,106},{57,3}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dropjungle/basketouter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,22}</string>
                <key>spriteSourceSize</key>
                <string>{57,22}</string>
                <key>textureRect</key>
                <string>{{205,451},{57,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dropjungle/boardhelp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,44}</string>
                <key>spriteSourceSize</key>
                <string>{138,44}</string>
                <key>textureRect</key>
                <string>{{1,135},{138,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dropjungle/bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,57}</string>
                <key>spriteSourceSize</key>
                <string>{512,57}</string>
                <key>textureRect</key>
                <string>{{1,181},{512,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dropjungle/leafbal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,67}</string>
                <key>spriteSourceSize</key>
                <string>{73,71}</string>
                <key>textureRect</key>
                <string>{{134,451},{69,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dropjungle/leafball01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,96}</string>
                <key>spriteSourceSize</key>
                <string>{147,132}</string>
                <key>textureRect</key>
                <string>{{150,1},{103,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dropjungle/leafball02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,114}</string>
                <key>spriteSourceSize</key>
                <string>{147,132}</string>
                <key>textureRect</key>
                <string>{{117,521},{127,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dropjungle/leafball03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,132}</string>
                <key>spriteSourceSize</key>
                <string>{147,132}</string>
                <key>textureRect</key>
                <string>{{1,1},{147,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dropjungle/leave-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,55}</string>
                <key>spriteSourceSize</key>
                <string>{132,55}</string>
                <key>textureRect</key>
                <string>{{60,521},{132,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dropjungle/tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{90,343}</string>
                <key>spriteSourceSize</key>
                <string>{106,343}</string>
                <key>textureRect</key>
                <string>{{150,106},{90,343}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dropjungle/tree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{72,338}</string>
                <key>spriteSourceSize</key>
                <string>{106,338}</string>
                <key>textureRect</key>
                <string>{{60,181},{72,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dropjungle.png</string>
            <key>size</key>
            <string>{247,694}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:303606bb45cfe8262b4faacbfd28ea5d:f0c1df26af04373a67c60cbb106a73a8:8064fd4a8e33d4a193caee92d4cbfedc$</string>
            <key>textureFileName</key>
            <string>dropjungle.png</string>
        </dict>
    </dict>
</plist>
