<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>unitslevel/City-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{856,503}</string>
                <key>spriteSourceSize</key>
                <string>{856,503}</string>
                <key>textureRect</key>
                <string>{{1351,495},{856,503}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unitslevel/City-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1348,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1348,1000}</string>
                <key>textureRect</key>
                <string>{{1,1},{1348,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unitslevel/car-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{929,492}</string>
                <key>spriteSourceSize</key>
                <string>{929,492}</string>
                <key>textureRect</key>
                <string>{{1351,1},{929,492}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unitslevel/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,51}</string>
                <key>spriteSourceSize</key>
                <string>{170,51}</string>
                <key>textureRect</key>
                <string>{{2209,495},{170,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>unitslevel/cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,29}</string>
                <key>spriteSourceSize</key>
                <string>{88,29}</string>
                <key>textureRect</key>
                <string>{{2209,667},{88,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>unitslevel.png</string>
            <key>size</key>
            <string>{2281,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:922d59ae00d51a889c2e4ff0734e944c:c252f2c31357e7b16d74d4e981b7cc46:f083fbb660b861243df1b73f018d7540$</string>
            <key>textureFileName</key>
            <string>unitslevel.png</string>
        </dict>
    </dict>
</plist>
