<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Adun_the_beautiful/adie_grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,168}</string>
                <key>spriteSourceSize</key>
                <string>{195,168}</string>
                <key>textureRect</key>
                <string>{{292,2055},{195,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/adun_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,130}</string>
                <key>spriteSourceSize</key>
                <string>{324,130}</string>
                <key>textureRect</key>
                <string>{{232,1137},{324,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/adun_flower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,327}</string>
                <key>spriteSourceSize</key>
                <string>{251,327}</string>
                <key>textureRect</key>
                <string>{{387,979},{251,327}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/adun_grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,229}</string>
                <key>spriteSourceSize</key>
                <string>{641,229}</string>
                <key>textureRect</key>
                <string>{{1,1137},{641,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/adun_grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{643,384}</string>
                <key>spriteSourceSize</key>
                <string>{643,384}</string>
                <key>textureRect</key>
                <string>{{1,492},{643,384}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/adun_grass2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,489}</string>
                <key>spriteSourceSize</key>
                <string>{640,489}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,489}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/adun_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,102}</string>
                <key>spriteSourceSize</key>
                <string>{122,102}</string>
                <key>textureRect</key>
                <string>{{142,2113},{122,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/adun_horn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,233}</string>
                <key>spriteSourceSize</key>
                <string>{273,233}</string>
                <key>textureRect</key>
                <string>{{452,1498},{273,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/adun_house.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,0}</string>
                <key>spriteSize</key>
                <string>{355,260}</string>
                <key>spriteSourceSize</key>
                <string>{393,260}</string>
                <key>textureRect</key>
                <string>{{643,1},{355,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/adun_tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,49}</string>
                <key>spriteSourceSize</key>
                <string>{149,49}</string>
                <key>textureRect</key>
                <string>{{940,339},{149,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/adun_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,261}</string>
                <key>spriteSourceSize</key>
                <string>{242,261}</string>
                <key>textureRect</key>
                <string>{{716,1048},{242,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/arm_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,53}</string>
                <key>spriteSourceSize</key>
                <string>{34,53}</string>
                <key>textureRect</key>
                <string>{{716,979},{34,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/arm_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,110}</string>
                <key>spriteSourceSize</key>
                <string>{24,110}</string>
                <key>textureRect</key>
                <string>{{266,2113},{24,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/arm_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,131}</string>
                <key>spriteSourceSize</key>
                <string>{28,131}</string>
                <key>textureRect</key>
                <string>{{489,2194},{28,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/back_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,72}</string>
                <key>spriteSourceSize</key>
                <string>{56,72}</string>
                <key>textureRect</key>
                <string>{{615,2040},{56,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/back_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,74}</string>
                <key>spriteSourceSize</key>
                <string>{58,74}</string>
                <key>textureRect</key>
                <string>{{940,263},{58,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/biscuit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,108}</string>
                <key>spriteSourceSize</key>
                <string>{104,108}</string>
                <key>textureRect</key>
                <string>{{673,2100},{104,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,160}</string>
                <key>spriteSourceSize</key>
                <string>{265,160}</string>
                <key>textureRect</key>
                <string>{{527,1773},{265,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/body_female1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,280}</string>
                <key>spriteSourceSize</key>
                <string>{218,280}</string>
                <key>textureRect</key>
                <string>{{232,1498},{218,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/eye_girl_outer1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,12}</string>
                <key>spriteSourceSize</key>
                <string>{58,12}</string>
                <key>textureRect</key>
                <string>{{716,1034},{58,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,20}</string>
                <key>spriteSourceSize</key>
                <string>{46,20}</string>
                <key>textureRect</key>
                <string>{{978,1292},{46,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/face .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,264}</string>
                <key>spriteSourceSize</key>
                <string>{327,264}</string>
                <key>textureRect</key>
                <string>{{364,1232},{327,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/front_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,73}</string>
                <key>spriteSourceSize</key>
                <string>{56,73}</string>
                <key>textureRect</key>
                <string>{{615,2098},{56,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/front_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,83}</string>
                <key>spriteSourceSize</key>
                <string>{42,83}</string>
                <key>textureRect</key>
                <string>{{783,2100},{42,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/girl_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,331}</string>
                <key>spriteSourceSize</key>
                <string>{289,331}</string>
                <key>textureRect</key>
                <string>{{1,1780},{289,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/girl_face1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,331}</string>
                <key>spriteSourceSize</key>
                <string>{289,331}</string>
                <key>textureRect</key>
                <string>{{1,1780},{289,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,38}</string>
                <key>spriteSourceSize</key>
                <string>{25,38}</string>
                <key>textureRect</key>
                <string>{{923,1421},{25,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/girl_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,38}</string>
                <key>spriteSourceSize</key>
                <string>{25,38}</string>
                <key>textureRect</key>
                <string>{{923,1421},{25,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/girl_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,38}</string>
                <key>spriteSourceSize</key>
                <string>{25,38}</string>
                <key>textureRect</key>
                <string>{{923,1421},{25,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,86}</string>
                <key>spriteSourceSize</key>
                <string>{14,86}</string>
                <key>textureRect</key>
                <string>{{979,1048},{14,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/girl_lower_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,86}</string>
                <key>spriteSourceSize</key>
                <string>{14,86}</string>
                <key>textureRect</key>
                <string>{{979,1048},{14,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/girl_lower_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,86}</string>
                <key>spriteSourceSize</key>
                <string>{14,86}</string>
                <key>textureRect</key>
                <string>{{979,1048},{14,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/girl_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,53}</string>
                <key>spriteSourceSize</key>
                <string>{11,53}</string>
                <key>textureRect</key>
                <string>{{752,979},{11,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/girl_lower_leg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,53}</string>
                <key>spriteSourceSize</key>
                <string>{11,53}</string>
                <key>textureRect</key>
                <string>{{752,979},{11,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,68}</string>
                <key>spriteSourceSize</key>
                <string>{33,68}</string>
                <key>textureRect</key>
                <string>{{232,1463},{33,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/girl_neck1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,68}</string>
                <key>spriteSourceSize</key>
                <string>{33,68}</string>
                <key>textureRect</key>
                <string>{{232,1463},{33,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/girl_neck2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,68}</string>
                <key>spriteSourceSize</key>
                <string>{33,68}</string>
                <key>textureRect</key>
                <string>{{232,1463},{33,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/girl_shoe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,11}</string>
                <key>spriteSourceSize</key>
                <string>{53,11}</string>
                <key>textureRect</key>
                <string>{{765,979},{53,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/girl_shoe1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,11}</string>
                <key>spriteSourceSize</key>
                <string>{53,11}</string>
                <key>textureRect</key>
                <string>{{765,979},{53,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/girl_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,124}</string>
                <key>spriteSourceSize</key>
                <string>{137,124}</string>
                <key>textureRect</key>
                <string>{{489,2055},{137,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/girl_sleeve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,13}</string>
                <key>spriteSourceSize</key>
                <string>{34,13}</string>
                <key>textureRect</key>
                <string>{{527,2040},{34,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/girl_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,139}</string>
                <key>spriteSourceSize</key>
                <string>{102,139}</string>
                <key>textureRect</key>
                <string>{{1,2113},{102,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,89}</string>
                <key>spriteSourceSize</key>
                <string>{14,89}</string>
                <key>textureRect</key>
                <string>{{364,1137},{14,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/girl_upper_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,89}</string>
                <key>spriteSourceSize</key>
                <string>{14,89}</string>
                <key>textureRect</key>
                <string>{{364,1137},{14,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/girl_upper_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,89}</string>
                <key>spriteSourceSize</key>
                <string>{14,89}</string>
                <key>textureRect</key>
                <string>{{364,1137},{14,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/girl_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,45}</string>
                <key>spriteSourceSize</key>
                <string>{11,45}</string>
                <key>textureRect</key>
                <string>{{827,2100},{11,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/girl_upper_leg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,45}</string>
                <key>spriteSourceSize</key>
                <string>{11,45}</string>
                <key>textureRect</key>
                <string>{{827,2100},{11,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/hair_bun1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,392}</string>
                <key>spriteSourceSize</key>
                <string>{485,392}</string>
                <key>textureRect</key>
                <string>{{387,492},{485,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/horn_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,233}</string>
                <key>spriteSourceSize</key>
                <string>{273,233}</string>
                <key>textureRect</key>
                <string>{{292,1780},{273,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/housewife_pelvis_hip1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,261}</string>
                <key>spriteSourceSize</key>
                <string>{216,261}</string>
                <key>textureRect</key>
                <string>{{781,785},{216,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/housewife_shirt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,295}</string>
                <key>spriteSourceSize</key>
                <string>{225,295}</string>
                <key>textureRect</key>
                <string>{{643,263},{225,295}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/lightbrown1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,51}</string>
                <key>spriteSourceSize</key>
                <string>{22,51}</string>
                <key>textureRect</key>
                <string>{{302,1463},{22,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/motu_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{693,1292},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/motu_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,48}</string>
                <key>spriteSourceSize</key>
                <string>{15,48}</string>
                <key>textureRect</key>
                <string>{{615,2173},{15,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/motu_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,74}</string>
                <key>spriteSourceSize</key>
                <string>{18,74}</string>
                <key>textureRect</key>
                <string>{{903,1421},{18,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/motu_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,293}</string>
                <key>spriteSourceSize</key>
                <string>{215,293}</string>
                <key>textureRect</key>
                <string>{{781,490},{215,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/motu_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,17}</string>
                <key>spriteSourceSize</key>
                <string>{80,17}</string>
                <key>textureRect</key>
                <string>{{959,1292},{80,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/mouth_smile1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,54}</string>
                <key>spriteSourceSize</key>
                <string>{127,54}</string>
                <key>textureRect</key>
                <string>{{903,1292},{127,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,156}</string>
                <key>spriteSourceSize</key>
                <string>{113,156}</string>
                <key>textureRect</key>
                <string>{{689,1985},{113,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/pent3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{847,1939},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/pent_lower3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,39}</string>
                <key>spriteSourceSize</key>
                <string>{12,39}</string>
                <key>textureRect</key>
                <string>{{923,1461},{12,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/pent_upper3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,54}</string>
                <key>spriteSourceSize</key>
                <string>{14,54}</string>
                <key>textureRect</key>
                <string>{{693,1232},{14,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/shell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,145}</string>
                <key>spriteSourceSize</key>
                <string>{239,145}</string>
                <key>textureRect</key>
                <string>{{689,1744},{239,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/shirt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,215}</string>
                <key>spriteSourceSize</key>
                <string>{155,215}</string>
                <key>textureRect</key>
                <string>{{843,1722},{155,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/shirt2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,240}</string>
                <key>spriteSourceSize</key>
                <string>{154,240}</string>
                <key>textureRect</key>
                <string>{{687,1502},{154,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/shirt3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{155,218}</string>
                <key>spriteSourceSize</key>
                <string>{155,220}</string>
                <key>textureRect</key>
                <string>{{843,1502},{155,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/touch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48.5,48.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{903,1497},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Adun_the_beautiful.png</string>
            <key>size</key>
            <string>{999,2224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8a7af86b61641b703b539f3aa71214c:70c07ab1cf9bf6b67da76843462456de:6bfb982620f7ded5c4973c092bae3d8a$</string>
            <key>textureFileName</key>
            <string>Adun_the_beautiful.png</string>
        </dict>
    </dict>
</plist>
