<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinsi_anansi_alivyopata/demane_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{386,183}</string>
                <key>spriteSourceSize</key>
                <string>{386,183}</string>
                <key>textureRect</key>
                <string>{{1564,2654},{386,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/fire1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-87}</string>
                <key>spriteSize</key>
                <string>{224,536}</string>
                <key>spriteSourceSize</key>
                <string>{318,760}</string>
                <key>textureRect</key>
                <string>{{1,3498},{224,536}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/fire2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-6}</string>
                <key>spriteSize</key>
                <string>{226,680}</string>
                <key>spriteSourceSize</key>
                <string>{318,760}</string>
                <key>textureRect</key>
                <string>{{1020,1744},{226,680}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/fire3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,14}</string>
                <key>spriteSize</key>
                <string>{232,658}</string>
                <key>spriteSourceSize</key>
                <string>{318,760}</string>
                <key>textureRect</key>
                <string>{{947,1972},{232,658}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/fire4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,14}</string>
                <key>spriteSize</key>
                <string>{222,658}</string>
                <key>spriteSourceSize</key>
                <string>{318,760}</string>
                <key>textureRect</key>
                <string>{{947,2206},{222,658}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/fire5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-71}</string>
                <key>spriteSize</key>
                <string>{232,550}</string>
                <key>spriteSourceSize</key>
                <string>{318,760}</string>
                <key>textureRect</key>
                <string>{{854,3541},{232,550}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/fire6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-53}</string>
                <key>spriteSize</key>
                <string>{218,580}</string>
                <key>spriteSourceSize</key>
                <string>{318,760}</string>
                <key>textureRect</key>
                <string>{{1816,966},{218,580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/fire7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-22}</string>
                <key>spriteSize</key>
                <string>{252,586}</string>
                <key>spriteSourceSize</key>
                <string>{318,760}</string>
                <key>textureRect</key>
                <string>{{1173,3775},{252,586}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/fire8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-46}</string>
                <key>spriteSize</key>
                <string>{236,530}</string>
                <key>spriteSourceSize</key>
                <string>{318,760}</string>
                <key>textureRect</key>
                <string>{{1501,2839},{236,530}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/fisi_bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1018,596}</string>
                <key>spriteSourceSize</key>
                <string>{1018,596}</string>
                <key>textureRect</key>
                <string>{{1,716},{1018,596}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/grass5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{793,122}</string>
                <key>spriteSourceSize</key>
                <string>{793,122}</string>
                <key>textureRect</key>
                <string>{{1021,892},{793,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/jinsi_bush_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,174}</string>
                <key>spriteSourceSize</key>
                <string>{800,174}</string>
                <key>textureRect</key>
                <string>{{1021,716},{800,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/jinsi_bushes_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1017,597}</string>
                <key>spriteSourceSize</key>
                <string>{1017,597}</string>
                <key>textureRect</key>
                <string>{{1,1314},{1017,597}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/jinsi_grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{411,308}</string>
                <key>spriteSourceSize</key>
                <string>{411,308}</string>
                <key>textureRect</key>
                <string>{{1607,1995},{411,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/jinsi_grass2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,158}</string>
                <key>spriteSourceSize</key>
                <string>{302,158}</string>
                <key>textureRect</key>
                <string>{{1876,179},{302,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/jinsi_grass3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1852,169}</string>
                <key>spriteSourceSize</key>
                <string>{1852,169}</string>
                <key>textureRect</key>
                <string>{{1,545},{1852,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/jinsi_grass4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1873,542}</string>
                <key>spriteSourceSize</key>
                <string>{1873,542}</string>
                <key>textureRect</key>
                <string>{{1,1},{1873,542}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/jinsi_grass6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,286}</string>
                <key>spriteSourceSize</key>
                <string>{369,286}</string>
                <key>textureRect</key>
                <string>{{483,3498},{369,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/jinsi_grass7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{473,221}</string>
                <key>spriteSourceSize</key>
                <string>{473,221}</string>
                <key>textureRect</key>
                <string>{{1761,3359},{473,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/jinsi_ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{905,125}</string>
                <key>spriteSourceSize</key>
                <string>{905,125}</string>
                <key>textureRect</key>
                <string>{{1,2341},{905,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/jinsi_rock1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{861,290}</string>
                <key>spriteSourceSize</key>
                <string>{861,290}</string>
                <key>textureRect</key>
                <string>{{1,2595},{861,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/jinsi_rock2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,254}</string>
                <key>spriteSourceSize</key>
                <string>{485,254}</string>
                <key>textureRect</key>
                <string>{{227,3541},{485,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/jinsi_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{635,189}</string>
                <key>spriteSourceSize</key>
                <string>{635,189}</string>
                <key>textureRect</key>
                <string>{{864,2835},{635,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/jinsi_tree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{426,944}</string>
                <key>spriteSourceSize</key>
                <string>{426,944}</string>
                <key>textureRect</key>
                <string>{{1,1913},{426,944}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/jinsi_water1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{905,125}</string>
                <key>spriteSourceSize</key>
                <string>{905,125}</string>
                <key>textureRect</key>
                <string>{{1,2468},{905,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/jinsi_water3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{632,513}</string>
                <key>spriteSourceSize</key>
                <string>{632,513}</string>
                <key>textureRect</key>
                <string>{{860,3026},{632,513}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/pig_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{654,403}</string>
                <key>spriteSourceSize</key>
                <string>{654,403}</string>
                <key>textureRect</key>
                <string>{{908,2430},{654,403}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/pig_close_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,7}</string>
                <key>spriteSourceSize</key>
                <string>{42,7}</string>
                <key>textureRect</key>
                <string>{{2029,483},{42,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/pig_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{739,726}</string>
                <key>spriteSourceSize</key>
                <string>{739,726}</string>
                <key>textureRect</key>
                <string>{{1021,1016},{739,726}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/pig_left_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,139}</string>
                <key>spriteSourceSize</key>
                <string>{298,139}</string>
                <key>textureRect</key>
                <string>{{1734,3077},{298,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/pig_lower_back_left_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,160}</string>
                <key>spriteSourceSize</key>
                <string>{39,160}</string>
                <key>textureRect</key>
                <string>{{1876,43},{39,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/pig_lower_back_right_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,160}</string>
                <key>spriteSourceSize</key>
                <string>{40,160}</string>
                <key>textureRect</key>
                <string>{{1876,1},{40,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/pig_lower_front_left_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,125}</string>
                <key>spriteSourceSize</key>
                <string>{40,125}</string>
                <key>textureRect</key>
                <string>{{1762,1176},{40,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/pig_lower_front_right_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,125}</string>
                <key>spriteSourceSize</key>
                <string>{40,125}</string>
                <key>textureRect</key>
                <string>{{1762,1176},{40,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/pig_open_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{1762,1132},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/pig_right_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,139}</string>
                <key>spriteSourceSize</key>
                <string>{298,139}</string>
                <key>textureRect</key>
                <string>{{1734,3218},{298,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/pig_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,231}</string>
                <key>spriteSourceSize</key>
                <string>{104,231}</string>
                <key>textureRect</key>
                <string>{{1494,3077},{104,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/pig_upper_back_left_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,159}</string>
                <key>spriteSourceSize</key>
                <string>{46,159}</string>
                <key>textureRect</key>
                <string>{{1876,84},{46,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/pig_upper_back_right_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,159}</string>
                <key>spriteSourceSize</key>
                <string>{45,159}</string>
                <key>textureRect</key>
                <string>{{1876,132},{45,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/pig_upper_front_left_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,114}</string>
                <key>spriteSourceSize</key>
                <string>{45,114}</string>
                <key>textureRect</key>
                <string>{{1762,1016},{45,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/pig_upper_front_right_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,114}</string>
                <key>spriteSourceSize</key>
                <string>{45,114}</string>
                <key>textureRect</key>
                <string>{{1762,1016},{45,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/pot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,347}</string>
                <key>spriteSourceSize</key>
                <string>{406,347}</string>
                <key>textureRect</key>
                <string>{{1607,2305},{406,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/pot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,132}</string>
                <key>spriteSourceSize</key>
                <string>{309,132}</string>
                <key>textureRect</key>
                <string>{{1494,3183},{309,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/pot2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,66}</string>
                <key>spriteSourceSize</key>
                <string>{328,66}</string>
                <key>textureRect</key>
                <string>{{1702,1927},{328,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/rabbit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{256,206}</string>
                <key>spriteSourceSize</key>
                <string>{326,232}</string>
                <key>textureRect</key>
                <string>{{965,3775},{256,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/rabbit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{260,230}</string>
                <key>spriteSourceSize</key>
                <string>{326,232}</string>
                <key>textureRect</key>
                <string>{{1762,1695},{260,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/rabbit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,232}</string>
                <key>spriteSourceSize</key>
                <string>{326,232}</string>
                <key>textureRect</key>
                <string>{{1406,3541},{326,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/spider_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{609,857}</string>
                <key>spriteSourceSize</key>
                <string>{609,857}</string>
                <key>textureRect</key>
                <string>{{1,2887},{609,857}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/spider_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,173}</string>
                <key>spriteSourceSize</key>
                <string>{151,173}</string>
                <key>textureRect</key>
                <string>{{1876,483},{151,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/spider_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,306}</string>
                <key>spriteSourceSize</key>
                <string>{179,306}</string>
                <key>textureRect</key>
                <string>{{1855,658},{179,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/spider_leg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,480}</string>
                <key>spriteSourceSize</key>
                <string>{237,480}</string>
                <key>textureRect</key>
                <string>{{483,3786},{237,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/spider_mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,83}</string>
                <key>spriteSourceSize</key>
                <string>{272,83}</string>
                <key>textureRect</key>
                <string>{{1762,1548},{272,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/spider_sadmouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,60}</string>
                <key>spriteSourceSize</key>
                <string>{269,60}</string>
                <key>textureRect</key>
                <string>{{1762,1633},{269,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/touch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-200.5,200.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{404,404}</string>
                <key>textureRect</key>
                <string>{{2029,527},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jinsi_anansi_alivyopata.png</string>
            <key>size</key>
            <string>{2037,4035}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aaf0cd364f4b74fb04151b1f1dfcb409:eb6adf508f157f0dbdd6e6056df3b447:391fd745a60c42740464b7519db0a099$</string>
            <key>textureFileName</key>
            <string>jinsi_anansi_alivyopata.png</string>
        </dict>
    </dict>
</plist>
