<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>camp_bagpack/bag_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1276,516}</string>
                <key>spriteSourceSize</key>
                <string>{1276,516}</string>
                <key>textureRect</key>
                <string>{{1,299},{1276,516}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_bagpack/bag_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1181,400}</string>
                <key>spriteSourceSize</key>
                <string>{1181,400}</string>
                <key>textureRect</key>
                <string>{{519,299},{1181,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_bagpack/camera.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{98,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{391,1577},{98,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_bagpack/camera_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{98,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{391,1577},{98,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_bagpack/click_cross.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{391,1677},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_bagpack/cross.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{842,1482},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_bagpack/gloves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,80}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{213,1577},{128,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_bagpack/gloves_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,80}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{295,1577},{128,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_bagpack/green_dress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{712,1560},{72,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_bagpack/green_dress_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{712,1634},{72,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_bagpack/ladder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{76,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{712,1482},{76,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_bagpack/ladder_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{76,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{712,1482},{76,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_bagpack/latern.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{786,1634},{72,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_bagpack/latern_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{860,1568},{72,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_bagpack/paper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{943,296}</string>
                <key>spriteSourceSize</key>
                <string>{943,296}</string>
                <key>textureRect</key>
                <string>{{1,1},{943,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_bagpack/picnic_hamper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{128,58}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{131,1707},{128,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_bagpack/picnic_hamper_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{128,58}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{261,1707},{128,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_bagpack/pouch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,191}</string>
                <key>spriteSourceSize</key>
                <string>{226,191}</string>
                <key>textureRect</key>
                <string>{{519,1482},{226,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_bagpack/rope.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1710},{34,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_bagpack/rope_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{477,1710},{34,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_bagpack/shop_bag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{128,104}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1577},{128,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_bagpack/shop_bag_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{128,104}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{107,1577},{128,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>camp_bagpack.png</string>
            <key>size</key>
            <string>{945,1766}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa3d89a20f9d8ed08c1cbe5b71bc0f71:d1e5c22bcdb2daa82144b0ae049108d6:5e26ce4eea5e817f59d202cca67bc794$</string>
            <key>textureFileName</key>
            <string>camp_bagpack.png</string>
        </dict>
    </dict>
</plist>
