<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>phonicsfree/Big box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{671,198}</string>
                <key>spriteSourceSize</key>
                <string>{671,198}</string>
                <key>textureRect</key>
                <string>{{1,161},{671,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phonicsfree/bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1304,62}</string>
                <key>spriteSourceSize</key>
                <string>{1306,64}</string>
                <key>textureRect</key>
                <string>{{1,97},{1304,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phonicsfree/box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,146}</string>
                <key>spriteSourceSize</key>
                <string>{141,146}</string>
                <key>textureRect</key>
                <string>{{1726,1},{141,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>phonicsfree/cubes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,92}</string>
                <key>spriteSourceSize</key>
                <string>{155,92}</string>
                <key>textureRect</key>
                <string>{{1740,144},{155,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>phonicsfree/floor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1709,94}</string>
                <key>spriteSourceSize</key>
                <string>{1709,94}</string>
                <key>textureRect</key>
                <string>{{1,1},{1709,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phonicsfree/name bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,117}</string>
                <key>spriteSourceSize</key>
                <string>{417,117}</string>
                <key>textureRect</key>
                <string>{{1307,97},{417,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phonicsfree/ref button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,169}</string>
                <key>spriteSourceSize</key>
                <string>{169,169}</string>
                <key>textureRect</key>
                <string>{{1398,216},{169,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phonicsfree/small box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,162}</string>
                <key>spriteSourceSize</key>
                <string>{170,162}</string>
                <key>textureRect</key>
                <string>{{1226,216},{170,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phonicsfree/tick mark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,169}</string>
                <key>spriteSourceSize</key>
                <string>{169,169}</string>
                <key>textureRect</key>
                <string>{{1569,216},{169,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phonicsfree/trans bar_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,550}</string>
                <key>spriteSourceSize</key>
                <string>{180,550}</string>
                <key>textureRect</key>
                <string>{{674,161},{180,550}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>phonicsfree.png</string>
            <key>size</key>
            <string>{1873,386}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d29e57fc823dfcd23052058e0cbf8f3:c1da24c7668768236af82e24bb7bf1fb:c75a598cb7473236c7ff89a85ab06c74$</string>
            <key>textureFileName</key>
            <string>phonicsfree.png</string>
        </dict>
    </dict>
</plist>
