<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>city/Gate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,317}</string>
                <key>spriteSourceSize</key>
                <string>{213,317}</string>
                <key>textureRect</key>
                <string>{{390,275},{213,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/gardenfront.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,272}</string>
                <key>spriteSourceSize</key>
                <string>{680,272}</string>
                <key>textureRect</key>
                <string>{{1,1},{680,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/gardenside.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,387}</string>
                <key>spriteSourceSize</key>
                <string>{345,387}</string>
                <key>textureRect</key>
                <string>{{1,275},{345,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>city.png</string>
            <key>size</key>
            <string>{682,621}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc0bdd23925411df0895a77ce2b42521:5ad20b38d2c3d2031b778f6db70ddb5f:abd89451402643b44abbe8d00eadb022$</string>
            <key>textureFileName</key>
            <string>city.png</string>
        </dict>
    </dict>
</plist>
