<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Gift0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-26}</string>
                <key>spriteSize</key>
                <string>{179,169}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{518,357},{179,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-26}</string>
                <key>spriteSize</key>
                <string>{179,169}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{524,538},{179,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-26}</string>
                <key>spriteSize</key>
                <string>{179,169}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{695,504},{179,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-27}</string>
                <key>spriteSize</key>
                <string>{179,167}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{315,749},{179,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-27}</string>
                <key>spriteSize</key>
                <string>{179,167}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{319,930},{179,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-28}</string>
                <key>spriteSize</key>
                <string>{179,165}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{323,1111},{179,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-29}</string>
                <key>spriteSize</key>
                <string>{179,163}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{323,1292},{179,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-30}</string>
                <key>spriteSize</key>
                <string>{179,161}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{504,1250},{179,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-30}</string>
                <key>spriteSize</key>
                <string>{177,159}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{357,1457},{177,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-31}</string>
                <key>spriteSize</key>
                <string>{179,157}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{518,1431},{179,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-33}</string>
                <key>spriteSize</key>
                <string>{179,153}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{866,687},{179,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-31}</string>
                <key>spriteSize</key>
                <string>{179,157}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{518,1431},{179,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-30}</string>
                <key>spriteSize</key>
                <string>{177,159}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{357,1457},{177,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-30}</string>
                <key>spriteSize</key>
                <string>{179,161}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{504,1250},{179,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-29}</string>
                <key>spriteSize</key>
                <string>{179,163}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{323,1292},{179,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-28}</string>
                <key>spriteSize</key>
                <string>{179,165}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{323,1111},{179,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-27}</string>
                <key>spriteSize</key>
                <string>{179,167}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{319,930},{179,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-27}</string>
                <key>spriteSize</key>
                <string>{179,167}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{315,749},{179,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-26}</string>
                <key>spriteSize</key>
                <string>{179,169}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{695,504},{179,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-26}</string>
                <key>spriteSize</key>
                <string>{179,169}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{524,538},{179,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-26}</string>
                <key>spriteSize</key>
                <string>{179,169}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{518,357},{179,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-26}</string>
                <key>spriteSize</key>
                <string>{179,169}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{695,685},{179,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-26}</string>
                <key>spriteSize</key>
                <string>{179,169}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{524,719},{179,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-27}</string>
                <key>spriteSize</key>
                <string>{179,167}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{488,900},{179,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-27}</string>
                <key>spriteSize</key>
                <string>{179,167}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{490,1069},{179,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-28}</string>
                <key>spriteSize</key>
                <string>{179,165}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{176,1457},{179,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-29}</string>
                <key>spriteSize</key>
                <string>{179,163}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{659,1069},{179,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-30}</string>
                <key>spriteSize</key>
                <string>{179,161}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{667,1250},{179,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-30}</string>
                <key>spriteSize</key>
                <string>{177,159}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{842,1049},{177,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-31}</string>
                <key>spriteSize</key>
                <string>{179,157}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{862,868},{179,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-33}</string>
                <key>spriteSize</key>
                <string>{181,153}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{866,504},{181,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-32}</string>
                <key>spriteSize</key>
                <string>{177,157}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{842,1371},{177,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-31}</string>
                <key>spriteSize</key>
                <string>{177,159}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{842,1210},{177,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-29}</string>
                <key>spriteSize</key>
                <string>{179,163}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{677,1431},{179,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-28}</string>
                <key>spriteSize</key>
                <string>{179,165}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{695,866},{179,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-22}</string>
                <key>spriteSize</key>
                <string>{179,177}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{345,546},{179,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-22}</string>
                <key>spriteSize</key>
                <string>{179,177}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{689,325},{179,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-12}</string>
                <key>spriteSize</key>
                <string>{179,197}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{164,550},{179,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-17}</string>
                <key>spriteSize</key>
                <string>{179,187}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{337,357},{179,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-2}</string>
                <key>spriteSize</key>
                <string>{173,217}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{1,1455},{173,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-2}</string>
                <key>spriteSize</key>
                <string>{171,217}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{164,331},{171,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{193,225}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{457,162},{193,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{219,221}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{1,1},{219,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-21}</string>
                <key>spriteSize</key>
                <string>{229,179}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{1,1224},{229,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-30}</string>
                <key>spriteSize</key>
                <string>{229,161}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{684,162},{229,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-25}</string>
                <key>spriteSize</key>
                <string>{235,171}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{1,752},{235,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-31}</string>
                <key>spriteSize</key>
                <string>{249,159}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{485,1},{249,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-31}</string>
                <key>spriteSize</key>
                <string>{261,159}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{222,1},{261,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-30}</string>
                <key>spriteSize</key>
                <string>{259,161}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{1,491},{259,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-30}</string>
                <key>spriteSize</key>
                <string>{265,161}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{1,224},{265,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-31}</string>
                <key>spriteSize</key>
                <string>{233,159}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{736,1},{233,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-27}</string>
                <key>spriteSize</key>
                <string>{233,167}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{222,162},{233,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gift0053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-23}</string>
                <key>spriteSize</key>
                <string>{233,175}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{1,989},{233,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-41}</string>
                <key>spriteSize</key>
                <string>{233,139}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{174,749},{233,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-41}</string>
                <key>spriteSize</key>
                <string>{233,139}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{178,984},{233,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-41}</string>
                <key>spriteSize</key>
                <string>{233,139}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{182,1219},{233,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-41}</string>
                <key>spriteSize</key>
                <string>{233,139}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{182,1219},{233,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-41}</string>
                <key>spriteSize</key>
                <string>{233,139}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{182,1219},{233,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-41}</string>
                <key>spriteSize</key>
                <string>{233,139}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{182,1219},{233,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Gift0060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-41}</string>
                <key>spriteSize</key>
                <string>{233,139}</string>
                <key>spriteSourceSize</key>
                <string>{291,237}</string>
                <key>textureRect</key>
                <string>{{182,1219},{233,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gift.png</string>
            <key>size</key>
            <string>{1020,1673}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6150e991f1e403e75bbe4e5a485cfcc6:544adb180bb00bad4cbb7319f35b78c8:fc5031df12f9c0ace40e949b1e8ebcf7$</string>
            <key>textureFileName</key>
            <string>gift.png</string>
        </dict>
    </dict>
</plist>
