<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero/base/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,38}</string>
                <key>spriteSourceSize</key>
                <string>{33,38}</string>
                <key>textureRect</key>
                <string>{{71,201},{33,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/base/foot_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,3}</string>
                <key>spriteSourceSize</key>
                <string>{12,3}</string>
                <key>textureRect</key>
                <string>{{1,301},{12,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/base/foot_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,3}</string>
                <key>spriteSourceSize</key>
                <string>{12,3}</string>
                <key>textureRect</key>
                <string>{{15,301},{12,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/base/hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,9}</string>
                <key>spriteSourceSize</key>
                <string>{6,9}</string>
                <key>textureRect</key>
                <string>{{111,228},{6,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/base/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,66}</string>
                <key>spriteSourceSize</key>
                <string>{63,66}</string>
                <key>textureRect</key>
                <string>{{1,61},{63,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/base/hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{95,236},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/base/lower_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,18}</string>
                <key>spriteSourceSize</key>
                <string>{5,18}</string>
                <key>textureRect</key>
                <string>{{1,294},{5,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/base/lower_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,10}</string>
                <key>spriteSourceSize</key>
                <string>{3,10}</string>
                <key>textureRect</key>
                <string>{{48,284},{3,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/base/lower_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,10}</string>
                <key>spriteSourceSize</key>
                <string>{3,10}</string>
                <key>textureRect</key>
                <string>{{48,289},{3,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/base/upper_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,21}</string>
                <key>spriteSourceSize</key>
                <string>{5,21}</string>
                <key>textureRect</key>
                <string>{{95,270},{5,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/base/upper_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,12}</string>
                <key>spriteSourceSize</key>
                <string>{3,12}</string>
                <key>textureRect</key>
                <string>{{29,301},{3,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/base/upper_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,12}</string>
                <key>spriteSourceSize</key>
                <string>{3,12}</string>
                <key>textureRect</key>
                <string>{{113,276},{3,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/beard/beard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,25}</string>
                <key>spriteSourceSize</key>
                <string>{49,25}</string>
                <key>textureRect</key>
                <string>{{33,233},{49,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/beard/neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,6}</string>
                <key>spriteSourceSize</key>
                <string>{12,6}</string>
                <key>textureRect</key>
                <string>{{111,220},{12,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/eye/eye_inner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{102,270},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/eye/eye_outer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,16}</string>
                <key>spriteSourceSize</key>
                <string>{17,16}</string>
                <key>textureRect</key>
                <string>{{111,201},{17,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/eye/eye_outer_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{24,22}</string>
                <key>textureRect</key>
                <string>{{105,63},{24,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/eye/eye_outer_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,17}</string>
                <key>spriteSourceSize</key>
                <string>{19,17}</string>
                <key>textureRect</key>
                <string>{{105,89},{19,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/hair/hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,58}</string>
                <key>spriteSourceSize</key>
                <string>{74,58}</string>
                <key>textureRect</key>
                <string>{{1,1},{74,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/hair/hair2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,43}</string>
                <key>spriteSourceSize</key>
                <string>{60,43}</string>
                <key>textureRect</key>
                <string>{{77,1},{60,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/hat/hat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,30}</string>
                <key>spriteSourceSize</key>
                <string>{80,30}</string>
                <key>textureRect</key>
                <string>{{1,212},{80,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/hat/police_hat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,31}</string>
                <key>spriteSourceSize</key>
                <string>{81,31}</string>
                <key>textureRect</key>
                <string>{{1,129},{81,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/mouth/happy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,26}</string>
                <key>spriteSourceSize</key>
                <string>{52,26}</string>
                <key>textureRect</key>
                <string>{{73,119},{52,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/mouth/normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,26}</string>
                <key>spriteSourceSize</key>
                <string>{52,26}</string>
                <key>textureRect</key>
                <string>{{101,119},{52,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/mouth/o.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,26}</string>
                <key>spriteSourceSize</key>
                <string>{52,26}</string>
                <key>textureRect</key>
                <string>{{73,173},{52,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/mustache/mustache.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,5}</string>
                <key>spriteSourceSize</key>
                <string>{31,5}</string>
                <key>textureRect</key>
                <string>{{122,1},{31,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/pant/pant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{60,236},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/pant/pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,9}</string>
                <key>spriteSourceSize</key>
                <string>{3,9}</string>
                <key>textureRect</key>
                <string>{{36,290},{3,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/pant/pant_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,9}</string>
                <key>spriteSourceSize</key>
                <string>{3,9}</string>
                <key>textureRect</key>
                <string>{{41,290},{3,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/pant/pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,12}</string>
                <key>spriteSourceSize</key>
                <string>{3,12}</string>
                <key>textureRect</key>
                <string>{{95,299},{3,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/pant/pant_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,12}</string>
                <key>spriteSourceSize</key>
                <string>{4,12}</string>
                <key>textureRect</key>
                <string>{{102,287},{4,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/pant/police_pant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{60,271},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/pant/police_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,9}</string>
                <key>spriteSourceSize</key>
                <string>{3,9}</string>
                <key>textureRect</key>
                <string>{{116,281},{3,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/pant/police_pant_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,9}</string>
                <key>spriteSourceSize</key>
                <string>{3,9}</string>
                <key>textureRect</key>
                <string>{{109,293},{3,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/pant/police_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,12}</string>
                <key>spriteSourceSize</key>
                <string>{3,12}</string>
                <key>textureRect</key>
                <string>{{43,301},{3,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/pant/police_pant_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,12}</string>
                <key>spriteSourceSize</key>
                <string>{4,12}</string>
                <key>textureRect</key>
                <string>{{95,293},{4,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/shirt/police_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,54}</string>
                <key>spriteSourceSize</key>
                <string>{37,54}</string>
                <key>textureRect</key>
                <string>{{66,63},{37,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/shirt/police_upper_sleave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,22}</string>
                <key>spriteSourceSize</key>
                <string>{5,22}</string>
                <key>textureRect</key>
                <string>{{122,34},{5,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/shirt/shirt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,55}</string>
                <key>spriteSourceSize</key>
                <string>{37,55}</string>
                <key>textureRect</key>
                <string>{{34,129},{37,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/shirt/shirt_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,13}</string>
                <key>spriteSourceSize</key>
                <string>{5,13}</string>
                <key>textureRect</key>
                <string>{{21,294},{5,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/shirt/shirt_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,22}</string>
                <key>spriteSourceSize</key>
                <string>{5,22}</string>
                <key>textureRect</key>
                <string>{{105,108},{5,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/shirt/tribalred.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,45}</string>
                <key>spriteSourceSize</key>
                <string>{35,45}</string>
                <key>textureRect</key>
                <string>{{34,186},{35,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/shoe/police_shoe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,4}</string>
                <key>spriteSourceSize</key>
                <string>{13,4}</string>
                <key>textureRect</key>
                <string>{{33,284},{13,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/shoe/shoe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,4}</string>
                <key>spriteSourceSize</key>
                <string>{13,4}</string>
                <key>textureRect</key>
                <string>{{113,270},{13,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/shoe/shoe_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,4}</string>
                <key>spriteSourceSize</key>
                <string>{12,4}</string>
                <key>textureRect</key>
                <string>{{102,281},{12,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero.png</string>
            <key>size</key>
            <string>{128,305}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a4baa9be690765d6e9e4edd9248edae:e109cb474fee51b1676ec70750ebcd12:24811c9fe845da5822501508d7996631$</string>
            <key>textureFileName</key>
            <string>hero.png</string>
        </dict>
    </dict>
</plist>
