<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mtoto_wa_Tembo_Mdadisi/Miminafamiliayangu_branch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1873,1244}</string>
                <key>spriteSourceSize</key>
                <string>{1873,1244}</string>
                <key>textureRect</key>
                <string>{{1,1},{1873,1244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/Miminafamiliayangu_leaf2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,1016}</string>
                <key>spriteSourceSize</key>
                <string>{430,1016}</string>
                <key>textureRect</key>
                <string>{{1876,899},{430,1016}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/Miminafamiliayangu_mound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1006,481}</string>
                <key>spriteSourceSize</key>
                <string>{1006,481}</string>
                <key>textureRect</key>
                <string>{{1192,1247},{1006,481}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/apple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,324}</string>
                <key>spriteSourceSize</key>
                <string>{247,324}</string>
                <key>textureRect</key>
                <string>{{2182,3678},{247,324}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{590,355}</string>
                <key>spriteSourceSize</key>
                <string>{590,355}</string>
                <key>textureRect</key>
                <string>{{1290,2928},{590,355}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/crocodilebody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1241,175}</string>
                <key>spriteSourceSize</key>
                <string>{1241,175}</string>
                <key>textureRect</key>
                <string>{{1675,1331},{1241,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/crocodileeye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{3325,2257},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/crocodilehead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,300}</string>
                <key>spriteSourceSize</key>
                <string>{434,300}</string>
                <key>textureRect</key>
                <string>{{584,3756},{434,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/crocodilelegs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,130}</string>
                <key>spriteSourceSize</key>
                <string>{72,130}</string>
                <key>textureRect</key>
                <string>{{2718,3927},{72,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/crocodilemouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,80}</string>
                <key>spriteSourceSize</key>
                <string>{212,80}</string>
                <key>textureRect</key>
                <string>{{3274,1384},{212,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/crocodileteeth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,47}</string>
                <key>spriteSourceSize</key>
                <string>{351,47}</string>
                <key>textureRect</key>
                <string>{{3287,3082},{351,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/crow_beak_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,131}</string>
                <key>spriteSourceSize</key>
                <string>{105,131}</string>
                <key>textureRect</key>
                <string>{{3237,2124},{105,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/crow_beak_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,66}</string>
                <key>spriteSourceSize</key>
                <string>{154,66}</string>
                <key>textureRect</key>
                <string>{{3288,3435},{154,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/crow_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{997,581}</string>
                <key>spriteSourceSize</key>
                <string>{997,581}</string>
                <key>textureRect</key>
                <string>{{1,3056},{997,581}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/crow_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{2209,3484},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/crow_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{628,628}</string>
                <key>spriteSourceSize</key>
                <string>{628,628}</string>
                <key>textureRect</key>
                <string>{{2353,1508},{628,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/crow_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,152}</string>
                <key>spriteSourceSize</key>
                <string>{144,152}</string>
                <key>textureRect</key>
                <string>{{2991,2428},{144,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/crow_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,152}</string>
                <key>spriteSourceSize</key>
                <string>{144,152}</string>
                <key>textureRect</key>
                <string>{{3209,2397},{144,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/crow_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{426,417}</string>
                <key>spriteSourceSize</key>
                <string>{426,417}</string>
                <key>textureRect</key>
                <string>{{1426,3592},{426,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/crow_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{532,255}</string>
                <key>spriteSourceSize</key>
                <string>{532,255}</string>
                <key>textureRect</key>
                <string>{{2840,3089},{532,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/drop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,48}</string>
                <key>spriteSourceSize</key>
                <string>{72,48}</string>
                <key>textureRect</key>
                <string>{{2918,1384},{72,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/elephant_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,411}</string>
                <key>spriteSourceSize</key>
                <string>{662,411}</string>
                <key>textureRect</key>
                <string>{{1682,2666},{662,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/elephant_ear_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,713}</string>
                <key>spriteSourceSize</key>
                <string>{310,713}</string>
                <key>textureRect</key>
                <string>{{869,2216},{310,713}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/elephant_ear_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{454,675}</string>
                <key>spriteSourceSize</key>
                <string>{454,675}</string>
                <key>textureRect</key>
                <string>{{2314,2138},{454,675}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/elephant_eyes_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,16}</string>
                <key>spriteSourceSize</key>
                <string>{129,16}</string>
                <key>textureRect</key>
                <string>{{1426,4041},{129,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/elephant_eyes_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,129}</string>
                <key>spriteSourceSize</key>
                <string>{129,129}</string>
                <key>textureRect</key>
                <string>{{873,3607},{129,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/elephant_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{866,838}</string>
                <key>spriteSourceSize</key>
                <string>{866,838}</string>
                <key>textureRect</key>
                <string>{{1,2216},{866,838}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/elephant_leg_back_front_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,225}</string>
                <key>spriteSourceSize</key>
                <string>{97,225}</string>
                <key>textureRect</key>
                <string>{{3005,3623},{97,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/elephant_leg_back_front_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,226}</string>
                <key>spriteSourceSize</key>
                <string>{97,226}</string>
                <key>textureRect</key>
                <string>{{2154,3927},{97,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/elephant_lower_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,164}</string>
                <key>spriteSourceSize</key>
                <string>{80,164}</string>
                <key>textureRect</key>
                <string>{{3274,1765},{80,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/elephant_lower_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,165}</string>
                <key>spriteSourceSize</key>
                <string>{80,165}</string>
                <key>textureRect</key>
                <string>{{3274,1598},{80,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/elephant_mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,57}</string>
                <key>spriteSourceSize</key>
                <string>{284,57}</string>
                <key>textureRect</key>
                <string>{{1290,3520},{284,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/elephant_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,233}</string>
                <key>spriteSourceSize</key>
                <string>{89,233}</string>
                <key>textureRect</key>
                <string>{{3197,3586},{89,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/elephant_trunk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{499,671}</string>
                <key>spriteSourceSize</key>
                <string>{499,671}</string>
                <key>textureRect</key>
                <string>{{1181,2255},{499,671}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/elephant_upper_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,153}</string>
                <key>spriteSourceSize</key>
                <string>{70,153}</string>
                <key>textureRect</key>
                <string>{{3033,3916},{70,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/elephant_upper_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,152}</string>
                <key>spriteSourceSize</key>
                <string>{70,152}</string>
                <key>textureRect</key>
                <string>{{3197,3821},{70,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/elephantbackleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,161}</string>
                <key>spriteSourceSize</key>
                <string>{64,161}</string>
                <key>textureRect</key>
                <string>{{3288,3591},{64,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/elephantbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{594,493}</string>
                <key>spriteSourceSize</key>
                <string>{594,493}</string>
                <key>textureRect</key>
                <string>{{2346,2594},{594,493}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/elephantfrontleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,161}</string>
                <key>spriteSourceSize</key>
                <string>{64,161}</string>
                <key>textureRect</key>
                <string>{{2995,3850},{64,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/elephanthead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,436}</string>
                <key>spriteSourceSize</key>
                <string>{486,436}</string>
                <key>textureRect</key>
                <string>{{2918,896},{486,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/elephanthead1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,412}</string>
                <key>spriteSourceSize</key>
                <string>{486,412}</string>
                <key>textureRect</key>
                <string>{{2942,2594},{486,412}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/elephantleftear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,223}</string>
                <key>spriteSourceSize</key>
                <string>{173,223}</string>
                <key>textureRect</key>
                <string>{{2830,3623},{173,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/elephantrightear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,211}</string>
                <key>spriteSourceSize</key>
                <string>{198,211}</string>
                <key>textureRect</key>
                <string>{{2983,1928},{198,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/elephanttail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,264}</string>
                <key>spriteSourceSize</key>
                <string>{137,264}</string>
                <key>textureRect</key>
                <string>{{3098,2128},{137,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/elephanttrunk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{134,201}</string>
                <key>textureRect</key>
                <string>{{2830,3920},{134,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/elephanttrunk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,502}</string>
                <key>spriteSourceSize</key>
                <string>{188,502}</string>
                <key>textureRect</key>
                <string>{{3097,3082},{188,502}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/elephanttrunklift2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,439}</string>
                <key>spriteSourceSize</key>
                <string>{404,439}</string>
                <key>textureRect</key>
                <string>{{1020,3607},{404,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/elephanttrunklift3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{542,289}</string>
                <key>spriteSourceSize</key>
                <string>{542,289}</string>
                <key>textureRect</key>
                <string>{{2983,1384},{542,289}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/elephanttrunklift4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,535}</string>
                <key>spriteSourceSize</key>
                <string>{485,535}</string>
                <key>textureRect</key>
                <string>{{2303,3089},{485,535}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/elephanttrunkline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,366}</string>
                <key>spriteSourceSize</key>
                <string>{28,366}</string>
                <key>textureRect</key>
                <string>{{1426,4011},{28,366}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/giraffebackleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,560}</string>
                <key>spriteSourceSize</key>
                <string>{106,560}</string>
                <key>textureRect</key>
                <string>{{1647,3484},{106,560}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/giraffebody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{630,535}</string>
                <key>spriteSourceSize</key>
                <string>{630,535}</string>
                <key>textureRect</key>
                <string>{{1682,2129},{630,535}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/giraffefrontleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,535}</string>
                <key>spriteSourceSize</key>
                <string>{100,535}</string>
                <key>textureRect</key>
                <string>{{2209,3576},{100,535}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/giraffehead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,247}</string>
                <key>spriteSourceSize</key>
                <string>{320,247}</string>
                <key>textureRect</key>
                <string>{{2508,3678},{320,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/giraffeneck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,698}</string>
                <key>spriteSourceSize</key>
                <string>{287,698}</string>
                <key>textureRect</key>
                <string>{{584,3056},{287,698}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/giraffetail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,258}</string>
                <key>spriteSourceSize</key>
                <string>{91,258}</string>
                <key>textureRect</key>
                <string>{{3104,3586},{91,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/hippobackleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,298}</string>
                <key>spriteSourceSize</key>
                <string>{106,298}</string>
                <key>textureRect</key>
                <string>{{1854,3900},{106,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/hippobody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{893,592}</string>
                <key>spriteSourceSize</key>
                <string>{893,592}</string>
                <key>textureRect</key>
                <string>{{2762,1},{893,592}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/hippofrontleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,298}</string>
                <key>spriteSourceSize</key>
                <string>{105,298}</string>
                <key>textureRect</key>
                <string>{{2991,2128},{105,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/hippohead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{676,619}</string>
                <key>spriteSourceSize</key>
                <string>{676,619}</string>
                <key>textureRect</key>
                <string>{{1675,1508},{676,619}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/rhino_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{654,403}</string>
                <key>spriteSourceSize</key>
                <string>{654,403}</string>
                <key>textureRect</key>
                <string>{{1647,3079},{654,403}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/rhino_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{2746,3576},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/rhino_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1189,967}</string>
                <key>spriteSourceSize</key>
                <string>{1189,967}</string>
                <key>textureRect</key>
                <string>{{1,1247},{1189,967}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/rhino_lower_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,166}</string>
                <key>spriteSourceSize</key>
                <string>{84,166}</string>
                <key>textureRect</key>
                <string>{{2550,3927},{84,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/rhino_lower_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,166}</string>
                <key>spriteSourceSize</key>
                <string>{85,166}</string>
                <key>textureRect</key>
                <string>{{2382,3927},{85,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/rhino_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,191}</string>
                <key>spriteSourceSize</key>
                <string>{152,191}</string>
                <key>textureRect</key>
                <string>{{3196,1931},{152,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/rhino_upper_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,163}</string>
                <key>spriteSourceSize</key>
                <string>{70,163}</string>
                <key>textureRect</key>
                <string>{{2830,3848},{70,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/rhino_upper_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,163}</string>
                <key>spriteSourceSize</key>
                <string>{70,163}</string>
                <key>textureRect</key>
                <string>{{3137,2394},{70,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{884,896}</string>
                <key>spriteSourceSize</key>
                <string>{884,896}</string>
                <key>textureRect</key>
                <string>{{1876,1},{884,896}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/turtlehead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,306}</string>
                <key>spriteSourceSize</key>
                <string>{326,306}</string>
                <key>textureRect</key>
                <string>{{1854,3592},{326,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/turtleleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,138}</string>
                <key>spriteSourceSize</key>
                <string>{86,138}</string>
                <key>textureRect</key>
                <string>{{3237,2257},{86,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/turtleshell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,415}</string>
                <key>spriteSourceSize</key>
                <string>{674,415}</string>
                <key>textureRect</key>
                <string>{{873,2931},{674,415}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtoto_wa_Tembo_Mdadisi/waterdrop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,161}</string>
                <key>spriteSourceSize</key>
                <string>{75,161}</string>
                <key>textureRect</key>
                <string>{{1675,1247},{75,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mtoto_wa_Tembo_Mdadisi.png</string>
            <key>size</key>
            <string>{3355,4058}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21d9a2ff08e8d63044d7a3cb6042f173:17476ecfdfa08946417b8994715e512a:f9fe182bbf8b24ecd20a0f9137ba4395$</string>
            <key>textureFileName</key>
            <string>Mtoto_wa_Tembo_Mdadisi.png</string>
        </dict>
    </dict>
</plist>
