<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>patchthewall/alphagrid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,245}</string>
                <key>spriteSourceSize</key>
                <string>{247,247}</string>
                <key>textureRect</key>
                <string>{{1,1962},{245,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>patchthewall/black_timebar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1005,104}</string>
                <key>spriteSourceSize</key>
                <string>{1005,104}</string>
                <key>textureRect</key>
                <string>{{620,1939},{1005,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>patchthewall/blast_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{550,550}</string>
                <key>textureRect</key>
                <string>{{442,2131},{86,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>patchthewall/blast_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,9}</string>
                <key>spriteSize</key>
                <string>{176,184}</string>
                <key>spriteSourceSize</key>
                <string>{550,550}</string>
                <key>textureRect</key>
                <string>{{442,1945},{176,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>patchthewall/blast_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,5}</string>
                <key>spriteSize</key>
                <string>{320,282}</string>
                <key>spriteSourceSize</key>
                <string>{550,550}</string>
                <key>textureRect</key>
                <string>{{1627,1849},{320,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>patchthewall/blast_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,3}</string>
                <key>spriteSize</key>
                <string>{386,390}</string>
                <key>spriteSourceSize</key>
                <string>{550,550}</string>
                <key>textureRect</key>
                <string>{{561,1547},{386,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>patchthewall/blast_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,3}</string>
                <key>spriteSize</key>
                <string>{386,370}</string>
                <key>spriteSourceSize</key>
                <string>{550,550}</string>
                <key>textureRect</key>
                <string>{{949,1547},{386,370}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>patchthewall/blast_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{396,376}</string>
                <key>spriteSourceSize</key>
                <string>{550,550}</string>
                <key>textureRect</key>
                <string>{{183,1547},{396,376}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>patchthewall/blast_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{310,300}</string>
                <key>spriteSourceSize</key>
                <string>{550,550}</string>
                <key>textureRect</key>
                <string>{{1627,1547},{310,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>patchthewall/blast_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{306,300}</string>
                <key>spriteSourceSize</key>
                <string>{550,550}</string>
                <key>textureRect</key>
                <string>{{1321,1547},{306,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>patchthewall/brick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,180}</string>
                <key>spriteSourceSize</key>
                <string>{413,180}</string>
                <key>textureRect</key>
                <string>{{1,1547},{413,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>patchthewall/crack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,217}</string>
                <key>spriteSourceSize</key>
                <string>{192,217}</string>
                <key>textureRect</key>
                <string>{{248,1945},{192,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>patchthewall/fort.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1863,1544}</string>
                <key>spriteSourceSize</key>
                <string>{1863,1544}</string>
                <key>textureRect</key>
                <string>{{1,1},{1863,1544}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>patchthewall/green_timebar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{997,96}</string>
                <key>spriteSourceSize</key>
                <string>{997,120}</string>
                <key>textureRect</key>
                <string>{{620,2045},{997,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>patchthewall.png</string>
            <key>size</key>
            <string>{1938,2218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:300776cf5830df1cc681ca32f5fe1620:13e89cd73d1b3cff0972ac648a18c986:07259591ccff73e5e2902eddabe13a54$</string>
            <key>textureFileName</key>
            <string>patchthewall.png</string>
        </dict>
    </dict>
</plist>
