<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alphamole/alphamole3/Play3_1bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,153}</string>
                <key>spriteSourceSize</key>
                <string>{147,153}</string>
                <key>textureRect</key>
                <string>{{330,1},{147,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamole/alphamole3/Play3_1stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,21}</string>
                <key>spriteSourceSize</key>
                <string>{36,21}</string>
                <key>textureRect</key>
                <string>{{257,156},{36,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>alphamole/alphamole3/Play3_2bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,95}</string>
                <key>spriteSourceSize</key>
                <string>{112,95}</string>
                <key>textureRect</key>
                <string>{{479,1},{112,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamole/alphamole3/Play3_3bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,147}</string>
                <key>spriteSourceSize</key>
                <string>{71,147}</string>
                <key>textureRect</key>
                <string>{{507,98},{71,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamole/alphamole3/Play3_4bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,49}</string>
                <key>spriteSourceSize</key>
                <string>{23,49}</string>
                <key>textureRect</key>
                <string>{{257,131},{23,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>alphamole/alphamole3/Play3_5bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,69}</string>
                <key>spriteSourceSize</key>
                <string>{213,69}</string>
                <key>textureRect</key>
                <string>{{292,156},{213,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamole/alphamole3/Play3_6bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,44}</string>
                <key>spriteSourceSize</key>
                <string>{289,44}</string>
                <key>textureRect</key>
                <string>{{1,210},{289,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamole/alphamole3/Play3_hole_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,77}</string>
                <key>spriteSourceSize</key>
                <string>{254,77}</string>
                <key>textureRect</key>
                <string>{{1,131},{254,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamole/alphamole3/Play3_hole_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,15}</string>
                <key>spriteSize</key>
                <string>{327,128}</string>
                <key>spriteSourceSize</key>
                <string>{361,158}</string>
                <key>textureRect</key>
                <string>{{1,1},{327,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>alphamole3.png</string>
            <key>size</key>
            <string>{592,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:159e426d10e60fe486952cf4eb892e94:4217a696aadc1a5e3e6f82376090ad15:9cea165ae4582c18446d31b68baca41f$</string>
            <key>textureFileName</key>
            <string>alphamole3.png</string>
        </dict>
    </dict>
</plist>
