<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,24}</string>
                <key>spriteSize</key>
                <string>{329,359}</string>
                <key>spriteSourceSize</key>
                <string>{351,579}</string>
                <key>textureRect</key>
                <string>{{2563,733},{329,359}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A_Ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,328}</string>
                <key>spriteSourceSize</key>
                <string>{336,328}</string>
                <key>textureRect</key>
                <string>{{2178,2234},{336,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A_Ping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,248}</string>
                <key>spriteSourceSize</key>
                <string>{122,248}</string>
                <key>textureRect</key>
                <string>{{282,3954},{122,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,21}</string>
                <key>spriteSize</key>
                <string>{263,356}</string>
                <key>spriteSourceSize</key>
                <string>{315,564}</string>
                <key>textureRect</key>
                <string>{{2559,2144},{263,356}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>B_Ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,328}</string>
                <key>spriteSourceSize</key>
                <string>{336,328}</string>
                <key>textureRect</key>
                <string>{{2563,1468},{336,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>B_Ping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,248}</string>
                <key>spriteSourceSize</key>
                <string>{122,248}</string>
                <key>textureRect</key>
                <string>{{532,3954},{122,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Background_level_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2560,1800}</string>
                <key>spriteSourceSize</key>
                <string>{2560,1800}</string>
                <key>textureRect</key>
                <string>{{1,1},{2560,1800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2556,429}</string>
                <key>spriteSourceSize</key>
                <string>{2560,429}</string>
                <key>textureRect</key>
                <string>{{1,1803},{2556,429}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,21}</string>
                <key>spriteSize</key>
                <string>{270,350}</string>
                <key>spriteSourceSize</key>
                <string>{300,546}</string>
                <key>textureRect</key>
                <string>{{852,2535},{270,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C_Ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,328}</string>
                <key>spriteSourceSize</key>
                <string>{336,328}</string>
                <key>textureRect</key>
                <string>{{2559,1806},{336,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>C_Ping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,248}</string>
                <key>spriteSourceSize</key>
                <string>{122,248}</string>
                <key>textureRect</key>
                <string>{{782,3954},{122,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,21}</string>
                <key>spriteSize</key>
                <string>{303,347}</string>
                <key>spriteSourceSize</key>
                <string>{351,549}</string>
                <key>textureRect</key>
                <string>{{1477,2234},{303,347}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>D_Ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,328}</string>
                <key>spriteSourceSize</key>
                <string>{336,328}</string>
                <key>textureRect</key>
                <string>{{314,2948},{336,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>D_Ping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,248}</string>
                <key>spriteSourceSize</key>
                <string>{122,248}</string>
                <key>textureRect</key>
                <string>{{2112,2894},{122,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>E.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,23}</string>
                <key>spriteSize</key>
                <string>{224,348}</string>
                <key>spriteSourceSize</key>
                <string>{276,558}</string>
                <key>textureRect</key>
                <string>{{644,2927},{224,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>E_Ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,328}</string>
                <key>spriteSourceSize</key>
                <string>{336,328}</string>
                <key>textureRect</key>
                <string>{{1124,2538},{336,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>E_Ping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,248}</string>
                <key>spriteSourceSize</key>
                <string>{122,248}</string>
                <key>textureRect</key>
                <string>{{2236,2894},{122,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>F.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,23}</string>
                <key>spriteSize</key>
                <string>{212,345}</string>
                <key>spriteSourceSize</key>
                <string>{270,555}</string>
                <key>textureRect</key>
                <string>{{2861,1094},{212,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>F_Ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,328}</string>
                <key>spriteSourceSize</key>
                <string>{336,328}</string>
                <key>textureRect</key>
                <string>{{1462,2539},{336,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>F_Ping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,248}</string>
                <key>spriteSourceSize</key>
                <string>{122,248}</string>
                <key>textureRect</key>
                <string>{{2814,2672},{122,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,21}</string>
                <key>spriteSize</key>
                <string>{302,350}</string>
                <key>spriteSourceSize</key>
                <string>{348,552}</string>
                <key>textureRect</key>
                <string>{{1125,2234},{302,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>G_Ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,328}</string>
                <key>spriteSourceSize</key>
                <string>{336,328}</string>
                <key>textureRect</key>
                <string>{{1436,2869},{336,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>G_Ping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,248}</string>
                <key>spriteSourceSize</key>
                <string>{122,248}</string>
                <key>textureRect</key>
                <string>{{1180,3884},{122,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{281,338}</string>
                <key>spriteSourceSize</key>
                <string>{345,546}</string>
                <key>textureRect</key>
                <string>{{1153,2868},{281,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H_Ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,328}</string>
                <key>spriteSourceSize</key>
                <string>{336,328}</string>
                <key>textureRect</key>
                <string>{{512,3286},{336,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>H_Ping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,248}</string>
                <key>spriteSourceSize</key>
                <string>{122,248}</string>
                <key>textureRect</key>
                <string>{{2170,3820},{122,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>I.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,21}</string>
                <key>spriteSize</key>
                <string>{81,338}</string>
                <key>spriteSourceSize</key>
                <string>{147,546}</string>
                <key>textureRect</key>
                <string>{{2893,1441},{81,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>I_Ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,328}</string>
                <key>spriteSourceSize</key>
                <string>{336,328}</string>
                <key>textureRect</key>
                <string>{{512,3624},{336,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>I_Ping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,248}</string>
                <key>spriteSourceSize</key>
                <string>{122,248}</string>
                <key>textureRect</key>
                <string>{{2822,2922},{122,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,17}</string>
                <key>spriteSize</key>
                <string>{172,339}</string>
                <key>spriteSourceSize</key>
                <string>{204,537}</string>
                <key>textureRect</key>
                <string>{{2900,368},{172,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>J_Ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,328}</string>
                <key>spriteSourceSize</key>
                <string>{336,328}</string>
                <key>textureRect</key>
                <string>{{842,3277},{336,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>J_Ping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,248}</string>
                <key>spriteSourceSize</key>
                <string>{122,248}</string>
                <key>textureRect</key>
                <string>{{2883,2409},{122,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,21}</string>
                <key>spriteSize</key>
                <string>{281,344}</string>
                <key>spriteSourceSize</key>
                <string>{315,552}</string>
                <key>textureRect</key>
                <string>{{870,2887},{281,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>K_Ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,328}</string>
                <key>spriteSourceSize</key>
                <string>{336,328}</string>
                <key>textureRect</key>
                <string>{{850,3615},{336,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>K_Ping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,248}</string>
                <key>spriteSourceSize</key>
                <string>{122,248}</string>
                <key>textureRect</key>
                <string>{{2938,2659},{122,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,23}</string>
                <key>spriteSize</key>
                <string>{219,345}</string>
                <key>spriteSourceSize</key>
                <string>{261,555}</string>
                <key>textureRect</key>
                <string>{{291,3311},{219,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_Ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,328}</string>
                <key>spriteSourceSize</key>
                <string>{336,328}</string>
                <key>textureRect</key>
                <string>{{1172,3208},{336,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>L_Ping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,248}</string>
                <key>spriteSourceSize</key>
                <string>{122,248}</string>
                <key>textureRect</key>
                <string>{{2946,2909},{122,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,24}</string>
                <key>spriteSize</key>
                <string>{383,350}</string>
                <key>spriteSourceSize</key>
                <string>{435,558}</string>
                <key>textureRect</key>
                <string>{{1,2234},{383,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M_Ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,328}</string>
                <key>spriteSourceSize</key>
                <string>{336,328}</string>
                <key>textureRect</key>
                <string>{{1502,3199},{336,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>M_Ping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,248}</string>
                <key>spriteSourceSize</key>
                <string>{122,248}</string>
                <key>textureRect</key>
                <string>{{282,3684},{122,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,21}</string>
                <key>spriteSize</key>
                <string>{294,350}</string>
                <key>spriteSourceSize</key>
                <string>{360,564}</string>
                <key>textureRect</key>
                <string>{{1826,2234},{294,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>N_Ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,328}</string>
                <key>spriteSourceSize</key>
                <string>{336,328}</string>
                <key>textureRect</key>
                <string>{{1180,3546},{336,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>N_Ping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,248}</string>
                <key>spriteSourceSize</key>
                <string>{122,248}</string>
                <key>textureRect</key>
                <string>{{1510,3875},{122,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>O.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,24}</string>
                <key>spriteSize</key>
                <string>{336,359}</string>
                <key>spriteSourceSize</key>
                <string>{372,561}</string>
                <key>textureRect</key>
                <string>{{1,2586},{336,359}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>O_Ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,328}</string>
                <key>spriteSourceSize</key>
                <string>{336,328}</string>
                <key>textureRect</key>
                <string>{{1510,3537},{336,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>O_Ping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,248}</string>
                <key>spriteSourceSize</key>
                <string>{122,248}</string>
                <key>textureRect</key>
                <string>{{1760,3875},{122,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,24}</string>
                <key>spriteSize</key>
                <string>{261,365}</string>
                <key>spriteSourceSize</key>
                <string>{315,585}</string>
                <key>textureRect</key>
                <string>{{2516,2409},{261,365}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>P_Ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,328}</string>
                <key>spriteSourceSize</key>
                <string>{336,328}</string>
                <key>textureRect</key>
                <string>{{1774,2869},{336,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>P_Ping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,248}</string>
                <key>spriteSourceSize</key>
                <string>{122,248}</string>
                <key>textureRect</key>
                <string>{{2894,733},{122,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-7}</string>
                <key>spriteSize</key>
                <string>{299,369}</string>
                <key>spriteSourceSize</key>
                <string>{327,495}</string>
                <key>textureRect</key>
                <string>{{754,2234},{299,369}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Q_Ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,328}</string>
                <key>spriteSourceSize</key>
                <string>{336,328}</string>
                <key>textureRect</key>
                <string>{{1800,2539},{336,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Q_Ping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,248}</string>
                <key>spriteSourceSize</key>
                <string>{122,248}</string>
                <key>textureRect</key>
                <string>{{2889,1806},{122,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,26}</string>
                <key>spriteSize</key>
                <string>{270,360}</string>
                <key>spriteSourceSize</key>
                <string>{312,570}</string>
                <key>textureRect</key>
                <string>{{339,2586},{270,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>R_Ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,328}</string>
                <key>spriteSourceSize</key>
                <string>{336,328}</string>
                <key>textureRect</key>
                <string>{{1832,3199},{336,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>R_Ping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,248}</string>
                <key>spriteSourceSize</key>
                <string>{122,248}</string>
                <key>textureRect</key>
                <string>{{2917,2056},{122,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{239,365}</string>
                <key>spriteSourceSize</key>
                <string>{279,561}</string>
                <key>textureRect</key>
                <string>{{611,2560},{239,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S_Ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,328}</string>
                <key>spriteSourceSize</key>
                <string>{336,328}</string>
                <key>textureRect</key>
                <string>{{1840,3537},{336,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>S_Ping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,248}</string>
                <key>spriteSourceSize</key>
                <string>{122,248}</string>
                <key>textureRect</key>
                <string>{{2822,3172},{122,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>T.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,24}</string>
                <key>spriteSize</key>
                <string>{279,359}</string>
                <key>spriteSourceSize</key>
                <string>{291,573}</string>
                <key>textureRect</key>
                <string>{{1,3684},{279,359}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_Ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,328}</string>
                <key>spriteSourceSize</key>
                <string>{336,328}</string>
                <key>textureRect</key>
                <string>{{2138,2564},{336,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T_Ping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,248}</string>
                <key>spriteSourceSize</key>
                <string>{122,248}</string>
                <key>textureRect</key>
                <string>{{2838,3296},{122,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>U.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,20}</string>
                <key>spriteSize</key>
                <string>{296,372}</string>
                <key>spriteSourceSize</key>
                <string>{366,582}</string>
                <key>textureRect</key>
                <string>{{2563,1094},{296,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>U_Ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{336,326}</string>
                <key>spriteSourceSize</key>
                <string>{336,328}</string>
                <key>textureRect</key>
                <string>{{2476,2672},{336,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>U_Ping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,248}</string>
                <key>spriteSourceSize</key>
                <string>{122,248}</string>
                <key>textureRect</key>
                <string>{{2838,3420},{122,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>V.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,23}</string>
                <key>spriteSize</key>
                <string>{335,363}</string>
                <key>spriteSourceSize</key>
                <string>{345,585}</string>
                <key>textureRect</key>
                <string>{{2563,368},{335,363}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>V_Ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,328}</string>
                <key>spriteSourceSize</key>
                <string>{336,328}</string>
                <key>textureRect</key>
                <string>{{2162,3144},{336,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>V_Ping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,248}</string>
                <key>spriteSourceSize</key>
                <string>{122,248}</string>
                <key>textureRect</key>
                <string>{{2838,3544},{122,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>W.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,21}</string>
                <key>spriteSize</key>
                <string>{461,365}</string>
                <key>spriteSourceSize</key>
                <string>{477,585}</string>
                <key>textureRect</key>
                <string>{{2563,1},{461,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>W_Ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,328}</string>
                <key>spriteSourceSize</key>
                <string>{336,328}</string>
                <key>textureRect</key>
                <string>{{2170,3482},{336,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>W_Ping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,248}</string>
                <key>spriteSourceSize</key>
                <string>{122,248}</string>
                <key>textureRect</key>
                <string>{{2838,3668},{122,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>X.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,24}</string>
                <key>spriteSize</key>
                <string>{311,362}</string>
                <key>spriteSourceSize</key>
                <string>{327,582}</string>
                <key>textureRect</key>
                <string>{{1,2947},{311,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>X_Ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,328}</string>
                <key>spriteSourceSize</key>
                <string>{336,328}</string>
                <key>textureRect</key>
                <string>{{2492,3000},{336,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>X_Ping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,248}</string>
                <key>spriteSourceSize</key>
                <string>{122,248}</string>
                <key>textureRect</key>
                <string>{{2838,3792},{122,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,23}</string>
                <key>spriteSize</key>
                <string>{324,366}</string>
                <key>spriteSourceSize</key>
                <string>{330,588}</string>
                <key>textureRect</key>
                <string>{{386,2234},{324,366}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Y_Ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,328}</string>
                <key>spriteSourceSize</key>
                <string>{336,328}</string>
                <key>textureRect</key>
                <string>{{2500,3338},{336,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Y_Ping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,248}</string>
                <key>spriteSourceSize</key>
                <string>{122,248}</string>
                <key>textureRect</key>
                <string>{{2838,3916},{122,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Z.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,24}</string>
                <key>spriteSize</key>
                <string>{288,371}</string>
                <key>spriteSourceSize</key>
                <string>{312,591}</string>
                <key>textureRect</key>
                <string>{{1,3311},{288,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Z_Ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,328}</string>
                <key>spriteSourceSize</key>
                <string>{336,328}</string>
                <key>textureRect</key>
                <string>{{2500,3676},{336,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Z_Ping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,248}</string>
                <key>spriteSourceSize</key>
                <string>{122,248}</string>
                <key>textureRect</key>
                <string>{{2010,3944},{122,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Game_screen.png</string>
            <key>size</key>
            <string>{3087,4077}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72f3792bc6b01158ef90ce68a18d59b3:e0249d41830fee29065a7d25c7a8d030:83d0fb964a4494655c4bc9607a0bfd53$</string>
            <key>textureFileName</key>
            <string>Game_screen.png</string>
        </dict>
    </dict>
</plist>
