<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>miningbar/miningbar3/bottle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,45}</string>
                <key>spriteSourceSize</key>
                <string>{17,45}</string>
                <key>textureRect</key>
                <string>{{161,337},{17,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miningbar/miningbar3/cookies.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,40}</string>
                <key>spriteSourceSize</key>
                <string>{61,40}</string>
                <key>textureRect</key>
                <string>{{161,274},{61,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>miningbar/miningbar3/foundationtile2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,43}</string>
                <key>spriteSourceSize</key>
                <string>{40,43}</string>
                <key>textureRect</key>
                <string>{{180,337},{40,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miningbar/miningbar3/stairsbroken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,271}</string>
                <key>spriteSourceSize</key>
                <string>{423,271}</string>
                <key>textureRect</key>
                <string>{{1,1},{423,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miningbar/miningbar3/window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,117}</string>
                <key>spriteSourceSize</key>
                <string>{158,117}</string>
                <key>textureRect</key>
                <string>{{1,274},{158,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>miningbar3.png</string>
            <key>size</key>
            <string>{425,392}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06d14c1f7fa03073553e99afeeae282a:cfb1a86858077293887f83650ae1c3ee:4dd46393e122d3238cccd757e54ba0c7$</string>
            <key>textureFileName</key>
            <string>miningbar3.png</string>
        </dict>
    </dict>
</plist>
