<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shopinglevel/Brinjal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,83}</string>
                <key>spriteSourceSize</key>
                <string>{44,83}</string>
                <key>textureRect</key>
                <string>{{601,3496},{44,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/Pineapple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{62,122}</string>
                <key>spriteSourceSize</key>
                <string>{64,122}</string>
                <key>textureRect</key>
                <string>{{850,1236},{62,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopinglevel/Strawberry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,42}</string>
                <key>spriteSourceSize</key>
                <string>{30,42}</string>
                <key>textureRect</key>
                <string>{{977,1193},{30,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/ac.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{802,234}</string>
                <key>spriteSourceSize</key>
                <string>{802,234}</string>
                <key>textureRect</key>
                <string>{{1,1573},{802,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/apple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,108}</string>
                <key>spriteSourceSize</key>
                <string>{51,108}</string>
                <key>textureRect</key>
                <string>{{957,223},{51,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/applefruit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{952,621},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/banana.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,104}</string>
                <key>spriteSourceSize</key>
                <string>{88,104}</string>
                <key>textureRect</key>
                <string>{{642,1911},{88,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopinglevel/bottle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,101}</string>
                <key>spriteSourceSize</key>
                <string>{44,101}</string>
                <key>textureRect</key>
                <string>{{642,2001},{42,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopinglevel/bottlea.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,86}</string>
                <key>spriteSourceSize</key>
                <string>{38,86}</string>
                <key>textureRect</key>
                <string>{{865,2281},{38,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/bottleb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{39,81}</string>
                <key>spriteSourceSize</key>
                <string>{51,81}</string>
                <key>textureRect</key>
                <string>{{647,3496},{39,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/bottlec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,86}</string>
                <key>spriteSourceSize</key>
                <string>{38,86}</string>
                <key>textureRect</key>
                <string>{{905,2281},{38,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/bottled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,86}</string>
                <key>spriteSourceSize</key>
                <string>{38,86}</string>
                <key>textureRect</key>
                <string>{{521,3496},{38,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/bottlee.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,86}</string>
                <key>spriteSourceSize</key>
                <string>{38,86}</string>
                <key>textureRect</key>
                <string>{{561,3496},{38,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,87}</string>
                <key>spriteSourceSize</key>
                <string>{75,87}</string>
                <key>textureRect</key>
                <string>{{776,2292},{75,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopinglevel/boxa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,69}</string>
                <key>spriteSourceSize</key>
                <string>{59,69}</string>
                <key>textureRect</key>
                <string>{{945,2281},{59,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/boxb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,94}</string>
                <key>spriteSourceSize</key>
                <string>{79,94}</string>
                <key>textureRect</key>
                <string>{{560,2076},{79,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/boxc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,95}</string>
                <key>spriteSourceSize</key>
                <string>{79,95}</string>
                <key>textureRect</key>
                <string>{{642,2045},{79,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopinglevel/broccoli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,69}</string>
                <key>spriteSourceSize</key>
                <string>{65,69}</string>
                <key>textureRect</key>
                <string>{{688,3496},{65,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/cabbage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{69,69}</string>
                <key>textureRect</key>
                <string>{{730,2221},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/cabblue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,48}</string>
                <key>spriteSourceSize</key>
                <string>{23,48}</string>
                <key>textureRect</key>
                <string>{{973,1569},{23,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/cangreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,48}</string>
                <key>spriteSourceSize</key>
                <string>{23,48}</string>
                <key>textureRect</key>
                <string>{{973,1619},{23,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/canorange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,48}</string>
                <key>spriteSourceSize</key>
                <string>{24,48}</string>
                <key>textureRect</key>
                <string>{{973,1519},{24,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/canred.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,48}</string>
                <key>spriteSourceSize</key>
                <string>{23,48}</string>
                <key>textureRect</key>
                <string>{{805,1618},{23,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/capsico.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,51}</string>
                <key>spriteSourceSize</key>
                <string>{49,51}</string>
                <key>textureRect</key>
                <string>{{752,1809},{49,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopinglevel/carb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,60}</string>
                <key>spriteSourceSize</key>
                <string>{86,60}</string>
                <key>textureRect</key>
                <string>{{739,2058},{86,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopinglevel/carrot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,125}</string>
                <key>spriteSourceSize</key>
                <string>{41,125}</string>
                <key>textureRect</key>
                <string>{{850,1193},{41,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopinglevel/cartfront.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,314}</string>
                <key>spriteSourceSize</key>
                <string>{308,314}</string>
                <key>textureRect</key>
                <string>{{1,3608},{308,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopinglevel/cartfronta.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,163}</string>
                <key>spriteSourceSize</key>
                <string>{172,163}</string>
                <key>textureRect</key>
                <string>{{835,3496},{172,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/chicken.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,60}</string>
                <key>spriteSourceSize</key>
                <string>{106,60}</string>
                <key>textureRect</key>
                <string>{{642,1849},{106,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/clill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,61}</string>
                <key>spriteSourceSize</key>
                <string>{35,61}</string>
                <key>textureRect</key>
                <string>{{973,1390},{35,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/corn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,93}</string>
                <key>spriteSourceSize</key>
                <string>{49,93}</string>
                <key>textureRect</key>
                <string>{{748,1963},{49,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/creame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,94}</string>
                <key>spriteSourceSize</key>
                <string>{40,94}</string>
                <key>textureRect</key>
                <string>{{951,787},{40,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/fan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,164}</string>
                <key>spriteSourceSize</key>
                <string>{168,164}</string>
                <key>textureRect</key>
                <string>{{560,2207},{168,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/fish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-2}</string>
                <key>spriteSize</key>
                <string>{82,152}</string>
                <key>spriteSourceSize</key>
                <string>{100,156}</string>
                <key>textureRect</key>
                <string>{{850,889},{82,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopinglevel/floorup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,121}</string>
                <key>spriteSourceSize</key>
                <string>{365,121}</string>
                <key>textureRect</key>
                <string>{{850,1300},{365,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopinglevel/garlic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,43}</string>
                <key>spriteSourceSize</key>
                <string>{34,43}</string>
                <key>textureRect</key>
                <string>{{974,1237},{34,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/grape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,109}</string>
                <key>spriteSourceSize</key>
                <string>{51,109}</string>
                <key>textureRect</key>
                <string>{{957,1},{51,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/grapef.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,90}</string>
                <key>spriteSourceSize</key>
                <string>{79,90}</string>
                <key>textureRect</key>
                <string>{{641,2126},{79,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopinglevel/handwashgreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,87}</string>
                <key>spriteSourceSize</key>
                <string>{56,87}</string>
                <key>textureRect</key>
                <string>{{952,443},{56,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/handwashred.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,87}</string>
                <key>spriteSourceSize</key>
                <string>{56,87}</string>
                <key>textureRect</key>
                <string>{{952,532},{56,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/lime.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,30}</string>
                <key>textureRect</key>
                <string>{{973,1453},{40,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopinglevel/manga.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,76}</string>
                <key>spriteSourceSize</key>
                <string>{44,76}</string>
                <key>textureRect</key>
                <string>{{730,2292},{44,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/meat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,51}</string>
                <key>spriteSourceSize</key>
                <string>{106,51}</string>
                <key>textureRect</key>
                <string>{{952,679},{106,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopinglevel/meata.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,32}</string>
                <key>spriteSourceSize</key>
                <string>{106,32}</string>
                <key>textureRect</key>
                <string>{{974,1282},{106,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopinglevel/meatfridge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{297,516}</string>
                <key>spriteSourceSize</key>
                <string>{297,516}</string>
                <key>textureRect</key>
                <string>{{317,3608},{297,516}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopinglevel/meatstand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{1121,438}</string>
                <key>spriteSourceSize</key>
                <string>{1121,472}</string>
                <key>textureRect</key>
                <string>{{560,2373},{1121,438}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopinglevel/milk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,109}</string>
                <key>spriteSourceSize</key>
                <string>{51,109}</string>
                <key>textureRect</key>
                <string>{{957,112},{51,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/onion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{805,1573},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,108}</string>
                <key>spriteSourceSize</key>
                <string>{51,108}</string>
                <key>textureRect</key>
                <string>{{957,333},{51,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/orangefruit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,61}</string>
                <key>spriteSourceSize</key>
                <string>{50,61}</string>
                <key>textureRect</key>
                <string>{{750,1860},{50,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/paperbag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,198}</string>
                <key>spriteSourceSize</key>
                <string>{145,198}</string>
                <key>textureRect</key>
                <string>{{850,973},{145,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/paperbaginsde.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,18}</string>
                <key>spriteSourceSize</key>
                <string>{144,18}</string>
                <key>textureRect</key>
                <string>{{850,1173},{144,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/potato.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,47}</string>
                <key>spriteSourceSize</key>
                <string>{68,47}</string>
                <key>textureRect</key>
                <string>{{885,2232},{68,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/prawn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,22}</string>
                <key>spriteSourceSize</key>
                <string>{30,22}</string>
                <key>textureRect</key>
                <string>{{973,1495},{30,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/pumpkin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,101}</string>
                <key>spriteSourceSize</key>
                <string>{99,101}</string>
                <key>textureRect</key>
                <string>{{850,786},{99,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/radish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,108}</string>
                <key>spriteSourceSize</key>
                <string>{38,108}</string>
                <key>textureRect</key>
                <string>{{642,1809},{38,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopinglevel/spinach.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,73}</string>
                <key>spriteSourceSize</key>
                <string>{69,73}</string>
                <key>textureRect</key>
                <string>{{733,2146},{69,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/stand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1283,557}</string>
                <key>spriteSourceSize</key>
                <string>{1283,557}</string>
                <key>textureRect</key>
                <string>{{1,2076},{1283,557}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopinglevel/standfuritback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{954,430}</string>
                <key>spriteSourceSize</key>
                <string>{954,430}</string>
                <key>textureRect</key>
                <string>{{1,1},{954,430}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/standfuritfront.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{949,351}</string>
                <key>spriteSourceSize</key>
                <string>{949,351}</string>
                <key>textureRect</key>
                <string>{{1,433},{949,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/stantback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,518}</string>
                <key>spriteSourceSize</key>
                <string>{245,518}</string>
                <key>textureRect</key>
                <string>{{1,3361},{245,518}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shopinglevel/stantfront.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,561}</string>
                <key>spriteSourceSize</key>
                <string>{203,561}</string>
                <key>textureRect</key>
                <string>{{805,1669},{203,561}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/steps.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{847,785}</string>
                <key>spriteSourceSize</key>
                <string>{847,785}</string>
                <key>textureRect</key>
                <string>{{1,786},{847,785}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{639,265}</string>
                <key>spriteSourceSize</key>
                <string>{639,265}</string>
                <key>textureRect</key>
                <string>{{1,1809},{639,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/toiletpaper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{38,45}</string>
                <key>spriteSourceSize</key>
                <string>{42,45}</string>
                <key>textureRect</key>
                <string>{{955,2232},{38,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/tomato.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,38}</string>
                <key>spriteSourceSize</key>
                <string>{50,38}</string>
                <key>textureRect</key>
                <string>{{748,1923},{50,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/wax.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,47}</string>
                <key>spriteSourceSize</key>
                <string>{82,47}</string>
                <key>textureRect</key>
                <string>{{801,2232},{82,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopinglevel/weightshow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,168}</string>
                <key>spriteSourceSize</key>
                <string>{82,168}</string>
                <key>textureRect</key>
                <string>{{835,3661},{82,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shopinglevel.png</string>
            <key>size</key>
            <string>{1009,3917}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e32a0273f0ca61ca10a41421f689daff:721cbfd0c52b64cd33dc697e780a6142:a3eb6809f7289718d8bedc90f3d81e37$</string>
            <key>textureFileName</key>
            <string>shopinglevel.png</string>
        </dict>
    </dict>
</plist>
