<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Safari_chimpanzee/backpack/backpack1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{124,144}</string>
                <key>spriteSourceSize</key>
                <string>{134,156}</string>
                <key>textureRect</key>
                <string>{{1,149},{124,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Safari_chimpanzee/backpack/backpack10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{124,144}</string>
                <key>spriteSourceSize</key>
                <string>{134,156}</string>
                <key>textureRect</key>
                <string>{{1,295},{124,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Safari_chimpanzee/backpack/backpack2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{124,144}</string>
                <key>spriteSourceSize</key>
                <string>{134,156}</string>
                <key>textureRect</key>
                <string>{{1,441},{124,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Safari_chimpanzee/backpack/backpack3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{124,144}</string>
                <key>spriteSourceSize</key>
                <string>{134,156}</string>
                <key>textureRect</key>
                <string>{{1,587},{124,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Safari_chimpanzee/backpack/backpack4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{124,144}</string>
                <key>spriteSourceSize</key>
                <string>{134,156}</string>
                <key>textureRect</key>
                <string>{{1,733},{124,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Safari_chimpanzee/backpack/backpack5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{124,144}</string>
                <key>spriteSourceSize</key>
                <string>{134,156}</string>
                <key>textureRect</key>
                <string>{{1,879},{124,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Safari_chimpanzee/backpack/backpack6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{124,144}</string>
                <key>spriteSourceSize</key>
                <string>{134,156}</string>
                <key>textureRect</key>
                <string>{{1,1025},{124,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Safari_chimpanzee/backpack/backpack7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{124,146}</string>
                <key>spriteSourceSize</key>
                <string>{134,156}</string>
                <key>textureRect</key>
                <string>{{1,1},{124,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Safari_chimpanzee/backpack/backpack8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{124,144}</string>
                <key>spriteSourceSize</key>
                <string>{134,156}</string>
                <key>textureRect</key>
                <string>{{1,1171},{124,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Safari_chimpanzee/backpack/backpack9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{124,144}</string>
                <key>spriteSourceSize</key>
                <string>{134,156}</string>
                <key>textureRect</key>
                <string>{{1,1317},{124,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>backpack.png</string>
            <key>size</key>
            <string>{126,1462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f74b161b87fb9f1d26976297371641ca:7f29743bd1515d24b5dbd4c1acc9d0b8:fce8f79788b55de655d2cc837c9930a4$</string>
            <key>textureFileName</key>
            <string>backpack.png</string>
        </dict>
    </dict>
</plist>
