<plist version="1.0">
    <dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>category_names</key>
        <array>
        </array>
        <key>bodies</key>
        <dict>

            <key>stadiumfloor</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.49800,0.50000 }</string>
                <key>is_dynamic</key>
                <false />
                <key>affected_by_gravity</key>
                <false />
                <key>allows_rotation</key>
                <false />
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1000000</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1000000</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>2</real>
                        <key>restitution</key>
                        <real>0.20000000000000001</real>
                        <key>friction</key>
                        <real>0.69999999999999996</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>3</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>1</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 101.25000,-224.00000 }</string>
                                <string>{ -100.75000,-224.00000 }</string>
                                <string>{ -99.75000,6.50000 }</string>
                                <string>{ 102.25000,6.50000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>wicket</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.51100,0.50100 }</string>
                <key>is_dynamic</key>
                <false />
                <key>affected_by_gravity</key>
                <false />
                <key>allows_rotation</key>
                <false />
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1000000</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1000000</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.200000003</real>
                        <key>friction</key>
                        <real>0.699999988</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>1</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ -11.75000,-102.25000 }</string>
                                <string>{ -12.25000,101.25000 }</string>
                                <string>{ 11.75000,100.75000 }</string>
                                <string>{ 12.25000,-102.25000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

        </dict>
    </dict>
</plist>