<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mtende/MbwanaMamba_bag1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{389,1099},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/MbwanaMamba_bag2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,87}</string>
                <key>spriteSourceSize</key>
                <string>{183,87}</string>
                <key>textureRect</key>
                <string>{{1,1083},{183,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/MbwanaMamba_bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,114}</string>
                <key>spriteSourceSize</key>
                <string>{246,114}</string>
                <key>textureRect</key>
                <string>{{368,1},{246,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/MbwanaMamba_hut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,388}</string>
                <key>spriteSourceSize</key>
                <string>{365,388}</string>
                <key>textureRect</key>
                <string>{{1,1},{365,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/MbwanaMamba_mat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,136}</string>
                <key>spriteSourceSize</key>
                <string>{237,136}</string>
                <key>textureRect</key>
                <string>{{1,788},{237,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/Menoainagani_grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,221}</string>
                <key>spriteSourceSize</key>
                <string>{31,221}</string>
                <key>textureRect</key>
                <string>{{310,391},{31,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/Mtende_broom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,264}</string>
                <key>spriteSourceSize</key>
                <string>{40,264}</string>
                <key>textureRect</key>
                <string>{{268,391},{40,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/Mtende_mountain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,66}</string>
                <key>spriteSourceSize</key>
                <string>{129,66}</string>
                <key>textureRect</key>
                <string>{{186,1083},{129,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/Mtende_palmtree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,395}</string>
                <key>spriteSourceSize</key>
                <string>{265,395}</string>
                <key>textureRect</key>
                <string>{{1,391},{265,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/Mtende_palmtreefruit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,54}</string>
                <key>spriteSourceSize</key>
                <string>{20,54}</string>
                <key>textureRect</key>
                <string>{{431,1099},{20,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/arm_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,26}</string>
                <key>spriteSourceSize</key>
                <string>{17,26}</string>
                <key>textureRect</key>
                <string>{{287,657},{17,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/arm_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,55}</string>
                <key>spriteSourceSize</key>
                <string>{12,55}</string>
                <key>textureRect</key>
                <string>{{333,848},{12,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/arm_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,66}</string>
                <key>spriteSourceSize</key>
                <string>{14,66}</string>
                <key>textureRect</key>
                <string>{{457,993},{14,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/blaze0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{47,70}</string>
                <key>spriteSourceSize</key>
                <string>{47,74}</string>
                <key>textureRect</key>
                <string>{{317,1099},{47,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/blaze0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{47,70}</string>
                <key>spriteSourceSize</key>
                <string>{47,74}</string>
                <key>textureRect</key>
                <string>{{317,1099},{47,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/blaze0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{47,70}</string>
                <key>spriteSourceSize</key>
                <string>{47,74}</string>
                <key>textureRect</key>
                <string>{{317,1099},{47,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/blaze0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,74}</string>
                <key>spriteSourceSize</key>
                <string>{47,74}</string>
                <key>textureRect</key>
                <string>{{430,696},{47,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/blaze0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,74}</string>
                <key>spriteSourceSize</key>
                <string>{47,74}</string>
                <key>textureRect</key>
                <string>{{430,696},{47,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/blaze0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,74}</string>
                <key>spriteSourceSize</key>
                <string>{47,74}</string>
                <key>textureRect</key>
                <string>{{430,696},{47,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/blaze0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,74}</string>
                <key>spriteSourceSize</key>
                <string>{47,74}</string>
                <key>textureRect</key>
                <string>{{430,772},{47,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/blaze0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,74}</string>
                <key>spriteSourceSize</key>
                <string>{47,74}</string>
                <key>textureRect</key>
                <string>{{430,772},{47,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/blaze0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,74}</string>
                <key>spriteSourceSize</key>
                <string>{47,74}</string>
                <key>textureRect</key>
                <string>{{430,772},{47,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/chulaback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,143}</string>
                <key>spriteSourceSize</key>
                <string>{129,143}</string>
                <key>textureRect</key>
                <string>{{351,848},{129,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/chulafront.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,132}</string>
                <key>spriteSourceSize</key>
                <string>{129,132}</string>
                <key>textureRect</key>
                <string>{{343,565},{129,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/face .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,132}</string>
                <key>spriteSourceSize</key>
                <string>{163,132}</string>
                <key>textureRect</key>
                <string>{{343,400},{163,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/faceold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,150}</string>
                <key>spriteSourceSize</key>
                <string>{160,150}</string>
                <key>textureRect</key>
                <string>{{268,696},{160,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/farmer_shirt_sleave_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,29}</string>
                <key>spriteSourceSize</key>
                <string>{18,29}</string>
                <key>textureRect</key>
                <string>{{310,614},{18,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/gface1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,155}</string>
                <key>spriteSourceSize</key>
                <string>{173,155}</string>
                <key>textureRect</key>
                <string>{{1,926},{173,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/gface3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,155}</string>
                <key>spriteSourceSize</key>
                <string>{173,155}</string>
                <key>textureRect</key>
                <string>{{176,926},{173,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{240,911},{13,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,43}</string>
                <key>spriteSourceSize</key>
                <string>{7,43}</string>
                <key>textureRect</key>
                <string>{{256,1151},{7,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/girl_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{317,1083},{6,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,34}</string>
                <key>spriteSourceSize</key>
                <string>{17,34}</string>
                <key>textureRect</key>
                <string>{{268,657},{17,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/girl_sleeve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,7}</string>
                <key>spriteSourceSize</key>
                <string>{17,7}</string>
                <key>textureRect</key>
                <string>{{343,391},{17,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,68}</string>
                <key>spriteSourceSize</key>
                <string>{15,68}</string>
                <key>textureRect</key>
                <string>{{186,1151},{15,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/girl_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,22}</string>
                <key>spriteSourceSize</key>
                <string>{5,22}</string>
                <key>textureRect</key>
                <string>{{457,1061},{5,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/goofball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,64}</string>
                <key>spriteSourceSize</key>
                <string>{67,64}</string>
                <key>textureRect</key>
                <string>{{264,848},{67,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/grill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,22}</string>
                <key>spriteSourceSize</key>
                <string>{121,22}</string>
                <key>textureRect</key>
                <string>{{240,788},{121,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mtende/motu_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{351,993},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/motu_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,24}</string>
                <key>spriteSourceSize</key>
                <string>{8,24}</string>
                <key>textureRect</key>
                <string>{{474,291},{8,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/motu_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,37}</string>
                <key>spriteSourceSize</key>
                <string>{9,37}</string>
                <key>textureRect</key>
                <string>{{473,993},{9,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/motu_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,149}</string>
                <key>spriteSourceSize</key>
                <string>{104,149}</string>
                <key>textureRect</key>
                <string>{{368,249},{104,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mtende/motu_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,8}</string>
                <key>spriteSourceSize</key>
                <string>{40,8}</string>
                <key>textureRect</key>
                <string>{{474,249},{40,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mtende.png</string>
            <key>size</key>
            <string>{483,1171}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a7b712338bacd058319a632ed8b5870:90736e17eeac761b19415e96fc6e0f90:c0c5257d180d04b720c3ae9d399ab5d7$</string>
            <key>textureFileName</key>
            <string>Mtende.png</string>
        </dict>
    </dict>
</plist>
