<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sortit/sortittwo/table.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1764,1667}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1764,1667}</string>
			</dict>
			<key>sortit/sortittwo/a.png</key>
			<dict>
				<key>frame</key>
				<string>{{3447,0},{348,615}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{348,616}</string>
			</dict>
			<key>sortit/sortittwo/at.png</key>
			<dict>
				<key>frame</key>
				<string>{{3447,615},{348,615}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{348,617}</string>
			</dict>
			<key>sortit/sortittwo/b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1764,0},{458,726}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{458,726}</string>
			</dict>
			<key>sortit/sortittwo/bowl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1764,726},{792,276}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{792,276}</string>
			</dict>
			<key>sortit/sortittwo/bowl1t.png</key>
			<dict>
				<key>frame</key>
				<string>{{1764,1002},{792,276}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{792,276}</string>
			</dict>
			<key>sortit/sortittwo/bowl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1764,1278},{578,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{578,254}</string>
			</dict>
			<key>sortit/sortittwo/bowl2t.png</key>
			<dict>
				<key>frame</key>
				<string>{{1764,1532},{578,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{578,254}</string>
			</dict>
			<key>sortit/sortittwo/bowl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3594,1568},{494,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{494,217}</string>
			</dict>
			<key>sortit/sortittwo/bowl3t.png</key>
			<dict>
				<key>frame</key>
				<string>{{2342,1674},{494,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{494,217}</string>
			</dict>
			<key>sortit/sortittwo/bowl4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2970,1345},{404,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{404,177}</string>
			</dict>
			<key>sortit/sortittwo/bowl4t.png</key>
			<dict>
				<key>frame</key>
				<string>{{2970,1522},{404,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{404,177}</string>
			</dict>
			<key>sortit/sortittwo/bowl5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3401,1230},{348,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{348,153}</string>
			</dict>
			<key>sortit/sortittwo/bowl5t.png</key>
			<dict>
				<key>frame</key>
				<string>{{3374,1383},{348,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{348,153}</string>
			</dict>
			<key>sortit/sortittwo/bt.png</key>
			<dict>
				<key>frame</key>
				<string>{{2222,0},{458,726}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{458,726}</string>
			</dict>
			<key>sortit/sortittwo/c.png</key>
			<dict>
				<key>frame</key>
				<string>{{3064,0},{383,656}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{383,656}</string>
			</dict>
			<key>sortit/sortittwo/ct.png</key>
			<dict>
				<key>frame</key>
				<string>{{2680,0},{384,656}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,656}</string>
			</dict>
			<key>sortit/sortittwo/d.png</key>
			<dict>
				<key>frame</key>
				<string>{{2556,1166},{414,508}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{414,508}</string>
			</dict>
			<key>sortit/sortittwo/dt.png</key>
			<dict>
				<key>frame</key>
				<string>{{2680,656},{419,510}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{419,510}</string>
			</dict>
			<key>sortit/sortittwo/e.png</key>
			<dict>
				<key>frame</key>
				<string>{{3795,0},{301,688}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{301,688}</string>
			</dict>
			<key>sortit/sortittwo/et.png</key>
			<dict>
				<key>frame</key>
				<string>{{3099,656},{302,689}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,689}</string>
			</dict>
			<key>sortit/sortittwo/num1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3795,688},{220,220}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,244}</string>
			</dict>
			<key>sortit/sortittwo/num1t.png</key>
			<dict>
				<key>frame</key>
				<string>{{3795,908},{220,220}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,244}</string>
			</dict>
			<key>sortit/sortittwo/num2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3374,1536},{220,219}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,244}</string>
			</dict>
			<key>sortit/sortittwo/num2t.png</key>
			<dict>
				<key>frame</key>
				<string>{{2836,1699},{220,219}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,244}</string>
			</dict>
			<key>sortit/sortittwo/num3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3494,1785},{219,219}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,244}</string>
			</dict>
			<key>sortit/sortittwo/num3t.png</key>
			<dict>
				<key>frame</key>
				<string>{{3713,1785},{219,219}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,244}</string>
			</dict>
			<key>sortit/sortittwo/num4.png</key>
			<dict>
				<key>frame</key>
				<string>{{3795,1128},{220,220}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,244}</string>
			</dict>
			<key>sortit/sortittwo/num4t.png</key>
			<dict>
				<key>frame</key>
				<string>{{3749,1348},{220,220}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,244}</string>
			</dict>
			<key>sortit/sortittwo/num5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3056,1699},{219,220}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,244}</string>
			</dict>
			<key>sortit/sortittwo/num5t.png</key>
			<dict>
				<key>frame</key>
				<string>{{3275,1755},{219,220}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,244}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>sortittwo.png</string>
			<key>realTextureFileName</key>
			<string>sortittwo.png</string>
			<key>size</key>
			<string>{4096,2004}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>2004</integer>
		</dict>
	</dict>
</plist>