<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>words/bird-07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,21}</string>
                <key>spriteSourceSize</key>
                <string>{64,21}</string>
                <key>textureRect</key>
                <string>{{1665,47},{64,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>words/montain-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,139}</string>
                <key>spriteSourceSize</key>
                <string>{391,139}</string>
                <key>textureRect</key>
                <string>{{1,1},{391,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>words/montain-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,139}</string>
                <key>spriteSourceSize</key>
                <string>{391,139}</string>
                <key>textureRect</key>
                <string>{{394,1},{391,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>words/montainf1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,139}</string>
                <key>spriteSourceSize</key>
                <string>{391,139}</string>
                <key>textureRect</key>
                <string>{{787,1},{391,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>words/sun-06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{1665,1},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>words/toucharcade_art-08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,128}</string>
                <key>spriteSourceSize</key>
                <string>{197,128}</string>
                <key>textureRect</key>
                <string>{{1466,1},{197,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>words/tree-09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,136}</string>
                <key>spriteSourceSize</key>
                <string>{284,136}</string>
                <key>textureRect</key>
                <string>{{1180,1},{284,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>words.png</string>
            <key>size</key>
            <string>{1710,141}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4827527049346309df72da23447ee8b0:3cb8dbf85074f6a68f7ebd625ad3bc59:cb21eff3faf3db2ccbed989559a48156$</string>
            <key>textureFileName</key>
            <string>words.png</string>
        </dict>
    </dict>
</plist>
