<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sayari_Jua_ya_Saba/arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,37}</string>
                <key>spriteSourceSize</key>
                <string>{324,37}</string>
                <key>textureRect</key>
                <string>{{1786,2065},{324,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/beard_french.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,234}</string>
                <key>spriteSourceSize</key>
                <string>{384,234}</string>
                <key>textureRect</key>
                <string>{{2791,841},{384,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/beard_motu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{788,365}</string>
                <key>spriteSourceSize</key>
                <string>{788,365}</string>
                <key>textureRect</key>
                <string>{{2042,1321},{788,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/body_male.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,559}</string>
                <key>spriteSourceSize</key>
                <string>{410,559}</string>
                <key>textureRect</key>
                <string>{{1225,2065},{410,559}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/bow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,420}</string>
                <key>spriteSourceSize</key>
                <string>{125,420}</string>
                <key>textureRect</key>
                <string>{{2518,3547},{125,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_arm_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,105}</string>
                <key>spriteSourceSize</key>
                <string>{68,105}</string>
                <key>textureRect</key>
                <string>{{2937,3436},{68,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_ear_round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,175}</string>
                <key>spriteSourceSize</key>
                <string>{138,175}</string>
                <key>textureRect</key>
                <string>{{2832,1318},{138,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_eyebrow_boy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,64}</string>
                <key>spriteSourceSize</key>
                <string>{110,64}</string>
                <key>textureRect</key>
                <string>{{1836,3633},{110,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{815,680}</string>
                <key>spriteSourceSize</key>
                <string>{815,680}</string>
                <key>textureRect</key>
                <string>{{1225,753},{815,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_hair_Burr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{747,478}</string>
                <key>spriteSourceSize</key>
                <string>{747,478}</string>
                <key>textureRect</key>
                <string>{{2042,841},{747,478}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,76}</string>
                <key>textureRect</key>
                <string>{{2940,3624},{50,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_lightbrown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,101}</string>
                <key>spriteSourceSize</key>
                <string>{43,101}</string>
                <key>textureRect</key>
                <string>{{1039,3619},{43,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,172}</string>
                <key>spriteSourceSize</key>
                <string>{28,172}</string>
                <key>textureRect</key>
                <string>{{1178,753},{28,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,151}</string>
                <key>spriteSourceSize</key>
                <string>{78,151}</string>
                <key>textureRect</key>
                <string>{{494,3619},{78,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_nose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{538,426}</string>
                <key>spriteSourceSize</key>
                <string>{546,426}</string>
                <key>textureRect</key>
                <string>{{1408,3154},{538,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,33}</string>
                <key>spriteSourceSize</key>
                <string>{159,33}</string>
                <key>textureRect</key>
                <string>{{2724,1921},{159,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_shoes_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,33}</string>
                <key>spriteSourceSize</key>
                <string>{159,33}</string>
                <key>textureRect</key>
                <string>{{1948,3633},{159,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,108}</string>
                <key>spriteSourceSize</key>
                <string>{253,108}</string>
                <key>textureRect</key>
                <string>{{1068,753},{253,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,177}</string>
                <key>spriteSourceSize</key>
                <string>{28,177}</string>
                <key>textureRect</key>
                <string>{{1854,1644},{28,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/clouds1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,142}</string>
                <key>spriteSourceSize</key>
                <string>{500,142}</string>
                <key>textureRect</key>
                <string>{{1864,3040},{500,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/clouds2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,190}</string>
                <key>spriteSourceSize</key>
                <string>{680,190}</string>
                <key>textureRect</key>
                <string>{{1836,3441},{680,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/cock_beak_low.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-2}</string>
                <key>spriteSize</key>
                <string>{108,134}</string>
                <key>spriteSourceSize</key>
                <string>{184,138}</string>
                <key>textureRect</key>
                <string>{{2370,3273},{108,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/cock_beak_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{183,130}</string>
                <key>spriteSourceSize</key>
                <string>{183,132}</string>
                <key>textureRect</key>
                <string>{{2832,1495},{183,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/cock_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{648,401}</string>
                <key>spriteSourceSize</key>
                <string>{648,401}</string>
                <key>textureRect</key>
                <string>{{2396,2407},{648,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/cock_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{2940,3543},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/cock_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,716}</string>
                <key>spriteSourceSize</key>
                <string>{448,716}</string>
                <key>textureRect</key>
                <string>{{1854,1957},{448,716}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/cock_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,144}</string>
                <key>spriteSourceSize</key>
                <string>{130,144}</string>
                <key>textureRect</key>
                <string>{{1209,3298},{130,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/cock_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,631}</string>
                <key>spriteSourceSize</key>
                <string>{530,631}</string>
                <key>textureRect</key>
                <string>{{1864,2407},{530,631}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/cock_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,272}</string>
                <key>spriteSourceSize</key>
                <string>{417,272}</string>
                <key>textureRect</key>
                <string>{{2518,3273},{417,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/deer_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{642,461}</string>
                <key>spriteSourceSize</key>
                <string>{642,461}</string>
                <key>textureRect</key>
                <string>{{2396,2810},{642,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/deer_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,79}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{647,3619},{78,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/deer_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1065,1045}</string>
                <key>spriteSourceSize</key>
                <string>{1065,1045}</string>
                <key>textureRect</key>
                <string>{{1,1},{1065,1045}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/deer_lower_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,149}</string>
                <key>spriteSourceSize</key>
                <string>{47,149}</string>
                <key>textureRect</key>
                <string>{{287,3633},{47,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/deer_lower_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,149}</string>
                <key>spriteSourceSize</key>
                <string>{47,149}</string>
                <key>textureRect</key>
                <string>{{2972,1318},{47,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/deer_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,207}</string>
                <key>spriteSourceSize</key>
                <string>{179,207}</string>
                <key>textureRect</key>
                <string>{{1854,1435},{179,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/deer_upper_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,136}</string>
                <key>spriteSourceSize</key>
                <string>{54,136}</string>
                <key>textureRect</key>
                <string>{{1341,3298},{54,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/deer_upper_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,137}</string>
                <key>spriteSourceSize</key>
                <string>{54,137}</string>
                <key>textureRect</key>
                <string>{{1079,2550},{54,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/dove_beak_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,132}</string>
                <key>spriteSourceSize</key>
                <string>{105,132}</string>
                <key>textureRect</key>
                <string>{{1209,3575},{105,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/dove_beak_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,67}</string>
                <key>spriteSourceSize</key>
                <string>{155,67}</string>
                <key>textureRect</key>
                <string>{{728,3619},{155,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/dove_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{997,491}</string>
                <key>spriteSourceSize</key>
                <string>{997,491}</string>
                <key>textureRect</key>
                <string>{{1,2634},{997,491}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/dove_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{2042,753},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/dove_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{627,628}</string>
                <key>spriteSourceSize</key>
                <string>{627,628}</string>
                <key>textureRect</key>
                <string>{{1225,1435},{627,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/dove_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,152}</string>
                <key>spriteSourceSize</key>
                <string>{144,152}</string>
                <key>textureRect</key>
                <string>{{1079,2242},{144,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/dove_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,152}</string>
                <key>spriteSourceSize</key>
                <string>{144,152}</string>
                <key>textureRect</key>
                <string>{{1079,2396},{144,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/dove_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{426,417}</string>
                <key>spriteSourceSize</key>
                <string>{426,417}</string>
                <key>textureRect</key>
                <string>{{2572,1957},{426,417}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/dove_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{532,255}</string>
                <key>spriteSourceSize</key>
                <string>{532,255}</string>
                <key>textureRect</key>
                <string>{{1836,3184},{532,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,411}</string>
                <key>spriteSourceSize</key>
                <string>{662,411}</string>
                <key>textureRect</key>
                <string>{{995,2634},{662,411}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_ear_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,713}</string>
                <key>spriteSourceSize</key>
                <string>{310,713}</string>
                <key>textureRect</key>
                <string>{{494,3307},{310,713}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_ear_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{454,675}</string>
                <key>spriteSourceSize</key>
                <string>{454,675}</string>
                <key>textureRect</key>
                <string>{{1408,2477},{454,675}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_eyes_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,16}</string>
                <key>spriteSourceSize</key>
                <string>{129,16}</string>
                <key>textureRect</key>
                <string>{{2572,2385},{129,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_eyes_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,129}</string>
                <key>spriteSourceSize</key>
                <string>{129,129}</string>
                <key>textureRect</key>
                <string>{{1209,3444},{129,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{866,838}</string>
                <key>spriteSourceSize</key>
                <string>{866,838}</string>
                <key>textureRect</key>
                <string>{{2165,1},{866,838}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_lower_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,164}</string>
                <key>spriteSourceSize</key>
                <string>{80,164}</string>
                <key>textureRect</key>
                <string>{{2964,1662},{80,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_lower_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,165}</string>
                <key>spriteSourceSize</key>
                <string>{80,165}</string>
                <key>textureRect</key>
                <string>{{2964,1495},{80,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,57}</string>
                <key>spriteSourceSize</key>
                <string>{284,57}</string>
                <key>textureRect</key>
                <string>{{1,3633},{284,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,233}</string>
                <key>spriteSourceSize</key>
                <string>{89,233}</string>
                <key>textureRect</key>
                <string>{{2791,1227},{89,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_trunk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{499,671}</string>
                <key>spriteSourceSize</key>
                <string>{499,671}</string>
                <key>textureRect</key>
                <string>{{494,2634},{499,671}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_upper_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,153}</string>
                <key>spriteSourceSize</key>
                <string>{70,153}</string>
                <key>textureRect</key>
                <string>{{1225,2477},{70,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_upper_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,152}</string>
                <key>spriteSourceSize</key>
                <string>{70,152}</string>
                <key>textureRect</key>
                <string>{{885,3619},{70,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1192,328}</string>
                <key>spriteSourceSize</key>
                <string>{1192,328}</string>
                <key>textureRect</key>
                <string>{{895,1048},{1192,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/hair_curl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1095,750}</string>
                <key>spriteSourceSize</key>
                <string>{1095,750}</string>
                <key>textureRect</key>
                <string>{{1068,1},{1095,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/hair_high_and_tight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{739,385}</string>
                <key>spriteSourceSize</key>
                <string>{739,385}</string>
                <key>textureRect</key>
                <string>{{338,2247},{739,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/hair_high_and_tight_two.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{868,267}</string>
                <key>spriteSourceSize</key>
                <string>{868,267}</string>
                <key>textureRect</key>
                <string>{{1854,1688},{868,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/hill1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1197,555}</string>
                <key>spriteSourceSize</key>
                <string>{1197,555}</string>
                <key>textureRect</key>
                <string>{{338,1048},{1197,555}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/hill2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1584,335}</string>
                <key>spriteSourceSize</key>
                <string>{1584,335}</string>
                <key>textureRect</key>
                <string>{{1,1048},{1584,335}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/sheephead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,198}</string>
                <key>spriteSourceSize</key>
                <string>{231,198}</string>
                <key>textureRect</key>
                <string>{{2724,1688},{231,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/waterdrop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,161}</string>
                <key>spriteSourceSize</key>
                <string>{75,161}</string>
                <key>textureRect</key>
                <string>{{2937,3273},{75,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Sayari_Jua_ya_Saba.png</string>
            <key>size</key>
            <string>{3045,3698}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43197fe37a6cfd7ad4b68eaf876864d3:c6457e89d3c198268205c0f3880afc9b:858e979d01b1b54f4f2e3d2e5f575e58$</string>
            <key>textureFileName</key>
            <string>Sayari_Jua_ya_Saba.png</string>
        </dict>
    </dict>
</plist>
