<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alphaphonics/board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,114}</string>
                <key>spriteSourceSize</key>
                <string>{314,114}</string>
                <key>textureRect</key>
                <string>{{265,1},{314,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>alphaphonics/elevatordoor1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,386}</string>
                <key>spriteSourceSize</key>
                <string>{128,386}</string>
                <key>textureRect</key>
                <string>{{135,1},{128,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphaphonics/elevatordoor2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,386}</string>
                <key>spriteSourceSize</key>
                <string>{132,386}</string>
                <key>textureRect</key>
                <string>{{1,1},{132,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphaphonics/option.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{265,317},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>alphaphonics.png</string>
            <key>size</key>
            <string>{424,476}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a59d7ef9bce70d8104066c302f652334:4ab43201d7fe306dd83ebb4ef34b6712:29091a72bc3d6a6db1350f66674928c8$</string>
            <key>textureFileName</key>
            <string>alphaphonics.png</string>
        </dict>
    </dict>
</plist>
