<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alphamole/alphamole4/Play4_1bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{755,195}</string>
                <key>spriteSourceSize</key>
                <string>{755,195}</string>
                <key>textureRect</key>
                <string>{{280,1},{755,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamole/alphamole4/Play4_2bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,217}</string>
                <key>spriteSourceSize</key>
                <string>{163,217}</string>
                <key>textureRect</key>
                <string>{{61,1},{163,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>alphamole/alphamole4/Play4_3bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamole/alphamole4/Play4_hole_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1277,336}</string>
                <key>spriteSourceSize</key>
                <string>{1277,336}</string>
                <key>textureRect</key>
                <string>{{1,198},{1277,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamole/alphamole4/Play4_hole_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1327,464}</string>
                <key>spriteSourceSize</key>
                <string>{1327,464}</string>
                <key>textureRect</key>
                <string>{{1,536},{1327,464}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>alphamole4.png</string>
            <key>size</key>
            <string>{1329,1001}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd051b827c6209b84e199e224113e797:e1a339789b516edc3ff0ffdc7c83f4b4:778da9fd4057b5004ef61caad2d99c5d$</string>
            <key>textureFileName</key>
            <string>alphamole4.png</string>
        </dict>
    </dict>
</plist>
