<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stackisland/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-32}</string>
                <key>spriteSize</key>
                <string>{36,49}</string>
                <key>spriteSourceSize</key>
                <string>{96,113}</string>
                <key>textureRect</key>
                <string>{{1645,171},{36,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stackisland/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-15}</string>
                <key>spriteSize</key>
                <string>{34,51}</string>
                <key>spriteSourceSize</key>
                <string>{96,113}</string>
                <key>textureRect</key>
                <string>{{1696,202},{34,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stackisland/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-10}</string>
                <key>spriteSize</key>
                <string>{50,57}</string>
                <key>spriteSourceSize</key>
                <string>{96,113}</string>
                <key>textureRect</key>
                <string>{{861,120},{50,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stackisland/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{96,113}</string>
                <key>textureRect</key>
                <string>{{920,120},{50,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stackisland/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,13}</string>
                <key>spriteSize</key>
                <string>{50,65}</string>
                <key>spriteSourceSize</key>
                <string>{96,113}</string>
                <key>textureRect</key>
                <string>{{794,120},{50,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stackisland/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,21}</string>
                <key>spriteSize</key>
                <string>{66,71}</string>
                <key>spriteSourceSize</key>
                <string>{96,113}</string>
                <key>textureRect</key>
                <string>{{910,1},{66,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stackisland/container.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,329}</string>
                <key>spriteSourceSize</key>
                <string>{203,329}</string>
                <key>textureRect</key>
                <string>{{1,1},{203,329}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stackisland/containerbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,171}</string>
                <key>spriteSourceSize</key>
                <string>{240,171}</string>
                <key>textureRect</key>
                <string>{{332,1},{240,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stackisland/fillpipe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,518}</string>
                <key>spriteSourceSize</key>
                <string>{74,518}</string>
                <key>textureRect</key>
                <string>{{465,174},{74,518}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stackisland/fillpipebar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{462,37}</string>
                <key>spriteSourceSize</key>
                <string>{462,37}</string>
                <key>textureRect</key>
                <string>{{1,206},{462,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stackisland/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,114}</string>
                <key>spriteSourceSize</key>
                <string>{117,114}</string>
                <key>textureRect</key>
                <string>{{794,1},{117,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stackisland/pipeconnector.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,42}</string>
                <key>spriteSourceSize</key>
                <string>{50,42}</string>
                <key>textureRect</key>
                <string>{{1701,115},{50,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stackisland/plant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,83}</string>
                <key>spriteSourceSize</key>
                <string>{112,83}</string>
                <key>textureRect</key>
                <string>{{1645,1},{112,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stackisland/sparkle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,38}</string>
                <key>spriteSourceSize</key>
                <string>{45,38}</string>
                <key>textureRect</key>
                <string>{{1645,209},{43,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stackisland/sparkle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{1645,115},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stackisland/sparkle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{50,41}</string>
                <key>spriteSourceSize</key>
                <string>{62,41}</string>
                <key>textureRect</key>
                <string>{{1701,159},{50,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stackisland/tray1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{218,207}</string>
                <key>spriteSourceSize</key>
                <string>{224,211}</string>
                <key>textureRect</key>
                <string>{{985,1},{218,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stackisland/tray1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{218,207}</string>
                <key>spriteSourceSize</key>
                <string>{224,211}</string>
                <key>textureRect</key>
                <string>{{1194,1},{218,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stackisland/tray2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-29}</string>
                <key>spriteSize</key>
                <string>{218,153}</string>
                <key>spriteSourceSize</key>
                <string>{224,211}</string>
                <key>textureRect</key>
                <string>{{574,1},{218,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stackisland/tray2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-29}</string>
                <key>spriteSize</key>
                <string>{218,153}</string>
                <key>spriteSourceSize</key>
                <string>{224,211}</string>
                <key>textureRect</key>
                <string>{{1403,1},{218,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stackisland/tray3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-63}</string>
                <key>spriteSize</key>
                <string>{218,85}</string>
                <key>spriteSourceSize</key>
                <string>{224,211}</string>
                <key>textureRect</key>
                <string>{{1558,1},{218,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stackisland/tryfill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{910,69},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stackisland.png</string>
            <key>size</key>
            <string>{1752,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f96fe945274131ca810c82444b85edbe:fd13f62071ba6fa9daf096b18f06464a:ea7c01017104d325809b0582bf9692d0$</string>
            <key>textureFileName</key>
            <string>stackisland.png</string>
        </dict>
    </dict>
</plist>
