<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gamemap/gamemap_disabled1/Alphamon Feed_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,447}</string>
                <key>spriteSourceSize</key>
                <string>{449,449}</string>
                <key>textureRect</key>
                <string>{{447,447},{447,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled1/Cannon Ball_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,447}</string>
                <key>spriteSourceSize</key>
                <string>{449,449}</string>
                <key>textureRect</key>
                <string>{{896,447},{447,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled1/Cross The Bridge_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,447}</string>
                <key>spriteSourceSize</key>
                <string>{449,449}</string>
                <key>textureRect</key>
                <string>{{1345,447},{447,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled1/EndlessRunner_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,447}</string>
                <key>spriteSourceSize</key>
                <string>{449,449}</string>
                <key>textureRect</key>
                <string>{{1,896},{447,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled1/alphamole_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-12}</string>
                <key>spriteSize</key>
                <string>{448,449}</string>
                <key>spriteSourceSize</key>
                <string>{512,513}</string>
                <key>textureRect</key>
                <string>{{1,1345},{448,449}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamemap/gamemap_disabled1/baja_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,451}</string>
                <key>spriteSourceSize</key>
                <string>{446,453}</string>
                <key>textureRect</key>
                <string>{{1,1},{444,451}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamemap/gamemap_disabled1/balloon_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-6}</string>
                <key>spriteSize</key>
                <string>{448,448}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1348,896},{448,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled1/bingo_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-6}</string>
                <key>spriteSize</key>
                <string>{448,448}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{452,1345},{448,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled1/book_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,444}</string>
                <key>spriteSourceSize</key>
                <string>{446,446}</string>
                <key>textureRect</key>
                <string>{{454,1},{444,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled1/bubble_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,447}</string>
                <key>spriteSourceSize</key>
                <string>{447,447}</string>
                <key>textureRect</key>
                <string>{{450,896},{447,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled1/chain_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,444}</string>
                <key>spriteSourceSize</key>
                <string>{446,446}</string>
                <key>textureRect</key>
                <string>{{900,1},{444,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled1/dash_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-6}</string>
                <key>spriteSize</key>
                <string>{448,448}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{902,1346},{448,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled1/decomone_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,447}</string>
                <key>spriteSourceSize</key>
                <string>{447,447}</string>
                <key>textureRect</key>
                <string>{{899,896},{447,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled1/jasmine_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,444}</string>
                <key>spriteSourceSize</key>
                <string>{446,446}</string>
                <key>textureRect</key>
                <string>{{1346,1},{444,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled1/jazz_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,444}</string>
                <key>spriteSourceSize</key>
                <string>{446,446}</string>
                <key>textureRect</key>
                <string>{{1,447},{444,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gamemap_disabled1.png</string>
            <key>size</key>
            <string>{1797,1795}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c12528ddff128e25571473ac4905f9c:2b11e3347f91121d4bb2ce6a1ba63b40:1b20fd3965af8f43a69d02f874ff5c6e$</string>
            <key>textureFileName</key>
            <string>gamemap_disabled1.png</string>
        </dict>
    </dict>
</plist>
