<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kalabushe_chiriku/Kalabushe2/bird1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{18,15}</string>
                <key>spriteSourceSize</key>
                <string>{20,31}</string>
                <key>textureRect</key>
                <string>{{155,51},{18,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/Kalabushe2/bird2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{18,23}</string>
                <key>spriteSourceSize</key>
                <string>{20,31}</string>
                <key>textureRect</key>
                <string>{{268,91},{18,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/Kalabushe2/bird3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{16,17}</string>
                <key>spriteSourceSize</key>
                <string>{20,31}</string>
                <key>textureRect</key>
                <string>{{291,58},{16,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/Kalabushe2/clouds1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,36}</string>
                <key>spriteSourceSize</key>
                <string>{125,36}</string>
                <key>textureRect</key>
                <string>{{352,1},{125,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/Kalabushe2/clouds2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,48}</string>
                <key>spriteSourceSize</key>
                <string>{170,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{170,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/Kalabushe2/flower_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,16}</string>
                <key>spriteSourceSize</key>
                <string>{15,16}</string>
                <key>textureRect</key>
                <string>{{155,90},{15,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/Kalabushe2/flower_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,17}</string>
                <key>spriteSourceSize</key>
                <string>{14,17}</string>
                <key>textureRect</key>
                <string>{{155,71},{14,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/Kalabushe2/flower_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,12}</string>
                <key>spriteSourceSize</key>
                <string>{13,12}</string>
                <key>textureRect</key>
                <string>{{155,108},{13,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/Kalabushe2/rabbit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{66,54}</string>
                <key>spriteSourceSize</key>
                <string>{82,58}</string>
                <key>textureRect</key>
                <string>{{172,58},{66,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/Kalabushe2/rabbit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,58}</string>
                <key>spriteSourceSize</key>
                <string>{82,58}</string>
                <key>textureRect</key>
                <string>{{85,51},{68,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/Kalabushe2/rabbit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,58}</string>
                <key>spriteSourceSize</key>
                <string>{82,58}</string>
                <key>textureRect</key>
                <string>{{1,51},{82,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/Kalabushe2/shelf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,41}</string>
                <key>spriteSourceSize</key>
                <string>{123,41}</string>
                <key>textureRect</key>
                <string>{{309,1},{123,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/Kalabushe2/vase_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,134}</string>
                <key>spriteSourceSize</key>
                <string>{55,134}</string>
                <key>textureRect</key>
                <string>{{173,1},{55,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/Kalabushe2/vase_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{240,58},{26,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/Kalabushe2/vase_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,31}</string>
                <key>spriteSourceSize</key>
                <string>{21,31}</string>
                <key>textureRect</key>
                <string>{{268,58},{21,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Kalabushe2.png</string>
            <key>size</key>
            <string>{389,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8c1a5000d47efbd593023883f63f72d:4cf37ac2c419c0fdf8dbe1781bad2d9a:02de3e4bcd273ff39f9eacdf2ace8e7a$</string>
            <key>textureFileName</key>
            <string>Kalabushe2.png</string>
        </dict>
    </dict>
</plist>
