<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dashcandy/answer_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,107}</string>
                <key>spriteSourceSize</key>
                <string>{612,107}</string>
                <key>textureRect</key>
                <string>{{298,219},{612,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashcandy/bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1288,269}</string>
                <key>spriteSourceSize</key>
                <string>{1288,269}</string>
                <key>textureRect</key>
                <string>{{633,328},{1288,269}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashcandy/bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1358,333}</string>
                <key>spriteSourceSize</key>
                <string>{1358,333}</string>
                <key>textureRect</key>
                <string>{{298,340},{1358,333}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashcandy/bg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{834,212}</string>
                <key>spriteSourceSize</key>
                <string>{834,212}</string>
                <key>textureRect</key>
                <string>{{1,1},{834,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashcandy/candy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,34}</string>
                <key>spriteSourceSize</key>
                <string>{33,34}</string>
                <key>textureRect</key>
                <string>{{956,560},{33,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashcandy/chocolate1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,82}</string>
                <key>spriteSourceSize</key>
                <string>{81,82}</string>
                <key>textureRect</key>
                <string>{{904,340},{81,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashcandy/chocolate2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{887,1752},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashcandy/chocolate3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{904,423},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashcandy/choky.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,36}</string>
                <key>spriteSourceSize</key>
                <string>{50,36}</string>
                <key>textureRect</key>
                <string>{{904,560},{50,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashcandy/flag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{79,119}</string>
                <key>spriteSourceSize</key>
                <string>{107,133}</string>
                <key>textureRect</key>
                <string>{{912,219},{79,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashcandy/gingerbreadman1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-7}</string>
                <key>spriteSize</key>
                <string>{108,186}</string>
                <key>spriteSourceSize</key>
                <string>{178,220}</string>
                <key>textureRect</key>
                <string>{{699,1618},{108,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashcandy/gingerbreadman2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-7}</string>
                <key>spriteSize</key>
                <string>{106,190}</string>
                <key>spriteSourceSize</key>
                <string>{178,220}</string>
                <key>textureRect</key>
                <string>{{479,1700},{106,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashcandy/gingerbreadman3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-12}</string>
                <key>spriteSize</key>
                <string>{108,182}</string>
                <key>spriteSourceSize</key>
                <string>{178,220}</string>
                <key>textureRect</key>
                <string>{{699,1838},{108,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashcandy/gingerbreadman4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,10}</string>
                <key>spriteSize</key>
                <string>{110,186}</string>
                <key>spriteSourceSize</key>
                <string>{178,220}</string>
                <key>textureRect</key>
                <string>{{587,1700},{110,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashcandy/gingerbreadman5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-7}</string>
                <key>spriteSize</key>
                <string>{108,186}</string>
                <key>spriteSourceSize</key>
                <string>{178,220}</string>
                <key>textureRect</key>
                <string>{{699,1728},{108,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashcandy/ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1751,295}</string>
                <key>spriteSourceSize</key>
                <string>{1751,295}</string>
                <key>textureRect</key>
                <string>{{1,215},{1751,295}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashcandy/lolli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,42}</string>
                <key>spriteSourceSize</key>
                <string>{43,42}</string>
                <key>textureRect</key>
                <string>{{904,598},{43,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashcandy/peppermint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{36,90}</string>
                <key>spriteSourceSize</key>
                <string>{40,92}</string>
                <key>textureRect</key>
                <string>{{949,598},{36,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashcandy/small_button1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,107}</string>
                <key>spriteSourceSize</key>
                <string>{148,107}</string>
                <key>textureRect</key>
                <string>{{837,1},{148,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashcandy/small_button2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,107}</string>
                <key>spriteSourceSize</key>
                <string>{148,107}</string>
                <key>textureRect</key>
                <string>{{837,110},{148,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashcandy/star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,58}</string>
                <key>spriteSourceSize</key>
                <string>{61,58}</string>
                <key>textureRect</key>
                <string>{{904,500},{61,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashcandy/step.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,97}</string>
                <key>spriteSourceSize</key>
                <string>{132,97}</string>
                <key>textureRect</key>
                <string>{{887,1618},{132,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashcandy/step_winning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,179}</string>
                <key>spriteSourceSize</key>
                <string>{246,179}</string>
                <key>textureRect</key>
                <string>{{298,1700},{246,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dashcandy.png</string>
            <key>size</key>
            <string>{992,1967}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7824d8c580500dabc82ab1d5fd2d68c4:b39415bfec811bf66770b0fcfb956404:889687f104fd72ed40259bf6efa9eed4$</string>
            <key>textureFileName</key>
            <string>dashcandy.png</string>
        </dict>
    </dict>
</plist>
