<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mathlearning/circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1,1},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mathlearning.png</string>
            <key>size</key>
            <string>{34,34}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab0346d46ca75a4372666de0dee436a9:1b7993f25cbfdb92922e23e8bc839e41:8fa899492ea092d484783f70f4d972c2$</string>
            <key>textureFileName</key>
            <string>mathlearning.png</string>
        </dict>
    </dict>
</plist>
