<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baja/bajabluecar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{487,468}</string>
                <key>spriteSourceSize</key>
                <string>{487,468}</string>
                <key>textureRect</key>
                <string>{{2563,305},{487,468}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baja/bajabluecar2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{487,468}</string>
                <key>spriteSourceSize</key>
                <string>{487,468}</string>
                <key>textureRect</key>
                <string>{{2563,794},{487,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baja/bajagreencar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{487,468}</string>
                <key>spriteSourceSize</key>
                <string>{487,468}</string>
                <key>textureRect</key>
                <string>{{3033,1},{487,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baja/bajagreencar2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{487,468}</string>
                <key>spriteSourceSize</key>
                <string>{487,468}</string>
                <key>textureRect</key>
                <string>{{2563,1264},{487,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baja/bajapath1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2560,301}</string>
                <key>spriteSourceSize</key>
                <string>{2560,301}</string>
                <key>textureRect</key>
                <string>{{1,913},{2560,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baja/bajapath2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2560,302}</string>
                <key>spriteSourceSize</key>
                <string>{2560,302}</string>
                <key>textureRect</key>
                <string>{{1,305},{2560,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baja/bajapath3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2560,302}</string>
                <key>spriteSourceSize</key>
                <string>{2560,302}</string>
                <key>textureRect</key>
                <string>{{1,609},{2560,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baja/bajapath4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2561,302}</string>
                <key>spriteSourceSize</key>
                <string>{2561,302}</string>
                <key>textureRect</key>
                <string>{{1,1},{2561,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baja/bajapath5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2560,301}</string>
                <key>spriteSourceSize</key>
                <string>{2560,301}</string>
                <key>textureRect</key>
                <string>{{1,1216},{2560,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baja/bajapath6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2560,301}</string>
                <key>spriteSourceSize</key>
                <string>{2560,301}</string>
                <key>textureRect</key>
                <string>{{1,1519},{2560,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baja/bajaredcar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,468}</string>
                <key>spriteSourceSize</key>
                <string>{486,468}</string>
                <key>textureRect</key>
                <string>{{3052,471},{486,468}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baja/bajaredcar2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,468}</string>
                <key>spriteSourceSize</key>
                <string>{486,468}</string>
                <key>textureRect</key>
                <string>{{3052,959},{486,468}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>baja.png</string>
            <key>size</key>
            <string>{3521,1821}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ada82bf30ec0767df87bc9e838aa3b00:fe8e6c9dbedbb33c828e2a15987c9cbf:34de676cd16a0fc45644292207984957$</string>
            <key>textureFileName</key>
            <string>baja.png</string>
        </dict>
    </dict>
</plist>
