<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>talkjungle/bg 2-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{916,356}</string>
                <key>spriteSourceSize</key>
                <string>{916,356}</string>
                <key>textureRect</key>
                <string>{{2051,354},{916,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/bg 2-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{916,48}</string>
                <key>spriteSourceSize</key>
                <string>{916,48}</string>
                <key>textureRect</key>
                <string>{{1373,827},{916,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/bg-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2048,321}</string>
                <key>spriteSourceSize</key>
                <string>{2048,321}</string>
                <key>textureRect</key>
                <string>{{1,1},{2048,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/bg-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2048,306}</string>
                <key>spriteSourceSize</key>
                <string>{2048,306}</string>
                <key>textureRect</key>
                <string>{{1,324},{2048,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,113}</string>
                <key>spriteSourceSize</key>
                <string>{1024,113}</string>
                <key>textureRect</key>
                <string>{{1820,712},{1024,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/lion-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{470,533}</string>
                <key>spriteSourceSize</key>
                <string>{488,545}</string>
                <key>textureRect</key>
                <string>{{2969,354},{470,533}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/lion-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,172}</string>
                <key>spriteSourceSize</key>
                <string>{445,172}</string>
                <key>textureRect</key>
                <string>{{1373,632},{445,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/lion-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{46,138}</string>
                <key>spriteSourceSize</key>
                <string>{46,142}</string>
                <key>textureRect</key>
                <string>{{3387,1},{46,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/lion-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{150,165}</string>
                <key>spriteSourceSize</key>
                <string>{150,167}</string>
                <key>textureRect</key>
                <string>{{3156,1},{150,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/lion-06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,62}</string>
                <key>spriteSourceSize</key>
                <string>{159,62}</string>
                <key>textureRect</key>
                <string>{{3235,168},{159,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkjungle/lion-07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,25}</string>
                <key>spriteSourceSize</key>
                <string>{167,25}</string>
                <key>textureRect</key>
                <string>{{2291,827},{167,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/lion-08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{140,26}</string>
                <key>spriteSourceSize</key>
                <string>{140,34}</string>
                <key>textureRect</key>
                <string>{{1373,956},{140,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/lion-08d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{140,24}</string>
                <key>spriteSourceSize</key>
                <string>{140,34}</string>
                <key>textureRect</key>
                <string>{{1515,956},{140,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/meat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,77}</string>
                <key>spriteSourceSize</key>
                <string>{159,77}</string>
                <key>textureRect</key>
                <string>{{1820,632},{159,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/meat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,77}</string>
                <key>spriteSourceSize</key>
                <string>{159,77}</string>
                <key>textureRect</key>
                <string>{{1373,877},{159,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/meat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,77}</string>
                <key>spriteSourceSize</key>
                <string>{159,77}</string>
                <key>textureRect</key>
                <string>{{3156,168},{159,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkjungle/meat4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,77}</string>
                <key>spriteSourceSize</key>
                <string>{159,77}</string>
                <key>textureRect</key>
                <string>{{3308,1},{159,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkjungle/meat5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,77}</string>
                <key>spriteSourceSize</key>
                <string>{159,77}</string>
                <key>textureRect</key>
                <string>{{1534,877},{159,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/patch_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1103,351}</string>
                <key>spriteSourceSize</key>
                <string>{1103,351}</string>
                <key>textureRect</key>
                <string>{{2051,1},{1103,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,0}</string>
                <key>spriteSize</key>
                <string>{350,1370}</string>
                <key>spriteSourceSize</key>
                <string>{424,1370}</string>
                <key>textureRect</key>
                <string>{{1,632},{350,1370}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>talkjungle.png</string>
            <key>size</key>
            <string>{3440,983}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e2525a7c6d0a5ccfb744615e705b52a:a05040bb7ed6b9929a770d12e8c96907:838b158f382b9cdebba2331b2b6bee3d$</string>
            <key>textureFileName</key>
            <string>talkjungle.png</string>
        </dict>
    </dict>
</plist>
