<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>talkislandlevel/boat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,199}</string>
                <key>spriteSourceSize</key>
                <string>{95,199}</string>
                <key>textureRect</key>
                <string>{{633,964},{95,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkislandlevel/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,114}</string>
                <key>spriteSourceSize</key>
                <string>{285,114}</string>
                <key>textureRect</key>
                <string>{{346,964},{285,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkislandlevel/ground1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{437,235}</string>
                <key>spriteSourceSize</key>
                <string>{437,235}</string>
                <key>textureRect</key>
                <string>{{789,805},{437,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkislandlevel/ground2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{547,173}</string>
                <key>spriteSourceSize</key>
                <string>{547,173}</string>
                <key>textureRect</key>
                <string>{{1026,1069},{547,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkislandlevel/ground3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,158}</string>
                <key>spriteSourceSize</key>
                <string>{343,158}</string>
                <key>textureRect</key>
                <string>{{1,964},{343,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkislandlevel/ground4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,189}</string>
                <key>spriteSourceSize</key>
                <string>{436,189}</string>
                <key>textureRect</key>
                <string>{{1607,816},{436,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkislandlevel/hill1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{944,66}</string>
                <key>spriteSourceSize</key>
                <string>{944,66}</string>
                <key>textureRect</key>
                <string>{{1918,1},{944,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkislandlevel/hill2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1258,87}</string>
                <key>spriteSourceSize</key>
                <string>{1258,87}</string>
                <key>textureRect</key>
                <string>{{1829,1},{1258,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkislandlevel/lighthouse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,153}</string>
                <key>spriteSourceSize</key>
                <string>{37,153}</string>
                <key>textureRect</key>
                <string>{{1918,947},{37,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkislandlevel/rock1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{160,86}</string>
                <key>spriteSourceSize</key>
                <string>{168,92}</string>
                <key>textureRect</key>
                <string>{{544,1080},{160,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkislandlevel/rock2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{196,102}</string>
                <key>spriteSourceSize</key>
                <string>{218,114}</string>
                <key>textureRect</key>
                <string>{{346,1080},{196,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkislandlevel/rock3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{182,87}</string>
                <key>spriteSourceSize</key>
                <string>{198,95}</string>
                <key>textureRect</key>
                <string>{{1,1124},{182,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkislandlevel/side1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,37}</string>
                <key>spriteSourceSize</key>
                <string>{142,37}</string>
                <key>textureRect</key>
                <string>{{1918,1102},{142,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkislandlevel/side2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,76}</string>
                <key>spriteSourceSize</key>
                <string>{229,76}</string>
                <key>textureRect</key>
                <string>{{1026,805},{229,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkislandlevel/side3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,30}</string>
                <key>spriteSourceSize</key>
                <string>{56,30}</string>
                <key>textureRect</key>
                <string>{{1026,1036},{56,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkislandlevel/sun1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,117}</string>
                <key>spriteSourceSize</key>
                <string>{117,117}</string>
                <key>textureRect</key>
                <string>{{185,1124},{117,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkislandlevel/sun2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,251}</string>
                <key>spriteSourceSize</key>
                <string>{501,251}</string>
                <key>textureRect</key>
                <string>{{1104,816},{501,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkislandlevel/tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{802,1102}</string>
                <key>spriteSourceSize</key>
                <string>{802,1102}</string>
                <key>textureRect</key>
                <string>{{1,1},{802,1102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkislandlevel/tree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{722,813}</string>
                <key>spriteSourceSize</key>
                <string>{722,813}</string>
                <key>textureRect</key>
                <string>{{1105,1},{722,813}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkislandlevel/water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{786,157}</string>
                <key>spriteSourceSize</key>
                <string>{786,157}</string>
                <key>textureRect</key>
                <string>{{1,805},{786,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkislandlevel/water1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,24}</string>
                <key>spriteSourceSize</key>
                <string>{55,24}</string>
                <key>textureRect</key>
                <string>{{1957,1092},{55,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkislandlevel/water2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,5}</string>
                <key>spriteSourceSize</key>
                <string>{143,5}</string>
                <key>textureRect</key>
                <string>{{1957,947},{143,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>talkislandlevel.png</string>
            <key>size</key>
            <string>{1985,1260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdc37bcaa067b187bf40cf3cdfbee7d0:b4e9c49a828e4bc946d4d49e14abda61:4def90e8a13ef7b5fc0151facaf903ab$</string>
            <key>textureFileName</key>
            <string>talkislandlevel.png</string>
        </dict>
    </dict>
</plist>
