<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hand/one.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{230,330}</string>
                <key>spriteSourceSize</key>
                <string>{229,330}</string>
                <key>textureRect</key>
                <string>{{556,328},{230,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand/seven.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{556,336}</string>
                <key>spriteSourceSize</key>
                <string>{555,335}</string>
                <key>textureRect</key>
                <string>{{0,0},{556,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand/six.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{556,336}</string>
                <key>spriteSourceSize</key>
                <string>{555,335}</string>
                <key>textureRect</key>
                <string>{{0,336},{556,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand/two.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{242,328}</string>
                <key>spriteSourceSize</key>
                <string>{242,327}</string>
                <key>textureRect</key>
                <string>{{556,0},{242,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hand-1.png</string>
            <key>size</key>
            <string>{798,672}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed37aafcdcf405b88df75b1587144110:a3e804436a5bc1c2f7f3247e3b4d0128:5e8f7bdb30532251fd9982d0cbf3ee09$</string>
            <key>textureFileName</key>
            <string>hand-1.png</string>
        </dict>
    </dict>
</plist>
