<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hand/dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{0,0},{450,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand/five.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,306}</string>
                <key>spriteSourceSize</key>
                <string>{230,306}</string>
                <key>textureRect</key>
                <string>{{0,450},{230,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand/four.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,306}</string>
                <key>spriteSourceSize</key>
                <string>{220,306}</string>
                <key>textureRect</key>
                <string>{{230,450},{220,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand/one.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,306}</string>
                <key>spriteSourceSize</key>
                <string>{220,306}</string>
                <key>textureRect</key>
                <string>{{0,756},{220,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand/three.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,306}</string>
                <key>spriteSourceSize</key>
                <string>{220,306}</string>
                <key>textureRect</key>
                <string>{{220,756},{220,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand/two.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,306}</string>
                <key>spriteSourceSize</key>
                <string>{220,306}</string>
                <key>textureRect</key>
                <string>{{0,1062},{220,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hand.png</string>
            <key>size</key>
            <string>{450,1368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f16c4dc3528d0767ac35a974531be61:67fcb1f77cdbabddd7adf25dbc779a20:aa97a32786b3b529dc29f088121ccc4d$</string>
            <key>textureFileName</key>
            <string>hand.png</string>
        </dict>
    </dict>
</plist>
