<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layerfarm/ban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{725,497}</string>
                <key>spriteSourceSize</key>
                <string>{725,497}</string>
                <key>textureRect</key>
                <string>{{1487,1},{725,497}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layerfarm/cake1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,196}</string>
                <key>spriteSourceSize</key>
                <string>{480,196}</string>
                <key>textureRect</key>
                <string>{{933,1},{480,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerfarm/chimney.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,124}</string>
                <key>spriteSourceSize</key>
                <string>{84,124}</string>
                <key>textureRect</key>
                <string>{{619,888},{84,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerfarm/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{885,332}</string>
                <key>spriteSourceSize</key>
                <string>{885,332}</string>
                <key>textureRect</key>
                <string>{{599,1},{885,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layerfarm/cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{804,336}</string>
                <key>spriteSourceSize</key>
                <string>{804,336}</string>
                <key>textureRect</key>
                <string>{{1487,728},{804,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layerfarm/crane.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{426,307}</string>
                <key>spriteSourceSize</key>
                <string>{426,307}</string>
                <key>textureRect</key>
                <string>{{933,199},{426,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerfarm/ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1432,200}</string>
                <key>spriteSourceSize</key>
                <string>{1432,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{1432,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layerfarm/hands.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,54}</string>
                <key>spriteSourceSize</key>
                <string>{35,54}</string>
                <key>textureRect</key>
                <string>{{705,978},{35,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerfarm/holder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{748,88}</string>
                <key>spriteSourceSize</key>
                <string>{748,88}</string>
                <key>textureRect</key>
                <string>{{705,888},{748,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerfarm/hook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,168}</string>
                <key>spriteSourceSize</key>
                <string>{64,168}</string>
                <key>textureRect</key>
                <string>{{1825,728},{64,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layerfarm/ladder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,1031}</string>
                <key>spriteSourceSize</key>
                <string>{278,1031}</string>
                <key>textureRect</key>
                <string>{{203,1},{278,1031}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerfarm/lever.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,137}</string>
                <key>spriteSourceSize</key>
                <string>{45,137}</string>
                <key>textureRect</key>
                <string>{{1,1435},{45,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerfarm/ref.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{1471,1534},{39,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerfarm/shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{888,114}</string>
                <key>spriteSourceSize</key>
                <string>{888,114}</string>
                <key>textureRect</key>
                <string>{{483,1},{888,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layerfarm/sheepblink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,48}</string>
                <key>textureRect</key>
                <string>{{1354,978},{66,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerfarm/sheephappy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,41}</string>
                <key>spriteSourceSize</key>
                <string>{63,41}</string>
                <key>textureRect</key>
                <string>{{1422,978},{63,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerfarm/sheephead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,136}</string>
                <key>spriteSourceSize</key>
                <string>{174,136}</string>
                <key>textureRect</key>
                <string>{{48,1435},{174,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerfarm/sheepleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,134}</string>
                <key>spriteSourceSize</key>
                <string>{135,134}</string>
                <key>textureRect</key>
                <string>{{483,891},{135,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layerfarm/sheepmouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,15}</string>
                <key>spriteSourceSize</key>
                <string>{73,15}</string>
                <key>textureRect</key>
                <string>{{203,1034},{73,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layerfarm/sheepsad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,32}</string>
                <key>spriteSourceSize</key>
                <string>{65,32}</string>
                <key>textureRect</key>
                <string>{{1512,1534},{65,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerfarm/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,375}</string>
                <key>spriteSourceSize</key>
                <string>{379,375}</string>
                <key>textureRect</key>
                <string>{{933,508},{379,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerfarm/tractor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,538}</string>
                <key>spriteSourceSize</key>
                <string>{650,538}</string>
                <key>textureRect</key>
                <string>{{224,1034},{650,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerfarm/windmillfan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{593,545}</string>
                <key>spriteSourceSize</key>
                <string>{593,545}</string>
                <key>textureRect</key>
                <string>{{876,1031},{593,545}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerfarm/windmillpole.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,610}</string>
                <key>spriteSourceSize</key>
                <string>{51,610}</string>
                <key>textureRect</key>
                <string>{{742,978},{51,610}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>layerfarm.png</string>
            <key>size</key>
            <string>{1994,1577}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf6deda861f6f073cc0ac6549d8ad8a9:25c99a2ebbc82e17b8a899636f1d4024:cb6b43cfd729c4064fd7b55a73af71f7$</string>
            <key>textureFileName</key>
            <string>layerfarm.png</string>
        </dict>
    </dict>
</plist>
