<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blastletter/blast_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{550,550}</string>
                <key>textureRect</key>
                <string>{{1877,534},{86,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blastletter/blast_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,9}</string>
                <key>spriteSize</key>
                <string>{176,184}</string>
                <key>spriteSourceSize</key>
                <string>{550,550}</string>
                <key>textureRect</key>
                <string>{{1843,979},{176,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blastletter/blast_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,5}</string>
                <key>spriteSize</key>
                <string>{320,282}</string>
                <key>spriteSourceSize</key>
                <string>{550,550}</string>
                <key>textureRect</key>
                <string>{{1171,605},{320,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blastletter/blast_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,3}</string>
                <key>spriteSize</key>
                <string>{386,390}</string>
                <key>spriteSourceSize</key>
                <string>{550,550}</string>
                <key>textureRect</key>
                <string>{{1630,1},{386,390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blastletter/blast_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,3}</string>
                <key>spriteSize</key>
                <string>{386,370}</string>
                <key>spriteSourceSize</key>
                <string>{550,550}</string>
                <key>textureRect</key>
                <string>{{1455,798},{386,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blastletter/blast_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{396,376}</string>
                <key>spriteSourceSize</key>
                <string>{550,550}</string>
                <key>textureRect</key>
                <string>{{1479,420},{396,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blastletter/blast_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{310,300}</string>
                <key>spriteSourceSize</key>
                <string>{550,550}</string>
                <key>textureRect</key>
                <string>{{1171,1},{310,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blastletter/blast_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{306,300}</string>
                <key>spriteSourceSize</key>
                <string>{550,550}</string>
                <key>textureRect</key>
                <string>{{1171,303},{306,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blastletter/bomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{327,798}</string>
                <key>spriteSourceSize</key>
                <string>{467,798}</string>
                <key>textureRect</key>
                <string>{{1,1171},{327,798}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blastletter/bomb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,129}</string>
                <key>spriteSourceSize</key>
                <string>{263,129}</string>
                <key>textureRect</key>
                <string>{{1497,1},{263,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blastletter/bomb3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,193}</string>
                <key>spriteSourceSize</key>
                <string>{223,193}</string>
                <key>textureRect</key>
                <string>{{1405,1464},{223,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blastletter/bomb4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,128}</string>
                <key>spriteSourceSize</key>
                <string>{152,128}</string>
                <key>textureRect</key>
                <string>{{1497,266},{152,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blastletter/gradient_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1168,1168}</string>
                <key>spriteSourceSize</key>
                <string>{1168,1168}</string>
                <key>textureRect</key>
                <string>{{1,1},{1168,1168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blastletter/puff1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,16}</string>
                <key>spriteSize</key>
                <string>{29,27}</string>
                <key>spriteSourceSize</key>
                <string>{371,327}</string>
                <key>textureRect</key>
                <string>{{1,1617},{29,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blastletter/puff10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,28}</string>
                <key>spriteSize</key>
                <string>{243,161}</string>
                <key>spriteSourceSize</key>
                <string>{371,327}</string>
                <key>textureRect</key>
                <string>{{1630,1455},{243,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blastletter/puff11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,25}</string>
                <key>spriteSize</key>
                <string>{227,141}</string>
                <key>spriteSourceSize</key>
                <string>{371,327}</string>
                <key>textureRect</key>
                <string>{{1875,1397},{227,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blastletter/puff12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-184,162}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{371,327}</string>
                <key>textureRect</key>
                <string>{{1,1648},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blastletter/puff2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,12}</string>
                <key>spriteSize</key>
                <string>{89,79}</string>
                <key>spriteSourceSize</key>
                <string>{371,327}</string>
                <key>textureRect</key>
                <string>{{1877,622},{89,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blastletter/puff3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,11}</string>
                <key>spriteSize</key>
                <string>{155,143}</string>
                <key>spriteSourceSize</key>
                <string>{371,327}</string>
                <key>textureRect</key>
                <string>{{1877,389},{155,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blastletter/puff4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,11}</string>
                <key>spriteSize</key>
                <string>{193,179}</string>
                <key>spriteSourceSize</key>
                <string>{371,327}</string>
                <key>textureRect</key>
                <string>{{1843,798},{193,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blastletter/puff5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,7}</string>
                <key>spriteSize</key>
                <string>{241,225}</string>
                <key>spriteSourceSize</key>
                <string>{371,327}</string>
                <key>textureRect</key>
                <string>{{1764,1170},{241,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blastletter/puff6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,8}</string>
                <key>spriteSize</key>
                <string>{283,265}</string>
                <key>spriteSourceSize</key>
                <string>{371,327}</string>
                <key>textureRect</key>
                <string>{{1497,1170},{283,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blastletter/puff7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{355,317}</string>
                <key>spriteSourceSize</key>
                <string>{371,327}</string>
                <key>textureRect</key>
                <string>{{801,1171},{355,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blastletter/puff8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,9}</string>
                <key>spriteSize</key>
                <string>{337,291}</string>
                <key>spriteSourceSize</key>
                <string>{371,327}</string>
                <key>textureRect</key>
                <string>{{1158,1171},{337,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blastletter/puff9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{265,229}</string>
                <key>spriteSourceSize</key>
                <string>{371,327}</string>
                <key>textureRect</key>
                <string>{{1171,927},{265,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blastletter/thread.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1402,115}</string>
                <key>spriteSourceSize</key>
                <string>{1402,115}</string>
                <key>textureRect</key>
                <string>{{1,1500},{1402,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>blastletter.png</string>
            <key>size</key>
            <string>{2037,1658}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5b7f7205b54939ea1ed7a112d67a385:51cc4b5b539de1a2b87377987b3677be:64e0cd246c2edb8ce58c71b6a18bfdd3$</string>
            <key>textureFileName</key>
            <string>blastletter.png</string>
        </dict>
    </dict>
</plist>
