<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jump_on_words_level/character.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,159}</string>
                <key>spriteSourceSize</key>
                <string>{173,159}</string>
                <key>textureRect</key>
                <string>{{861,750},{173,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words_level/character1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,159}</string>
                <key>spriteSourceSize</key>
                <string>{173,159}</string>
                <key>textureRect</key>
                <string>{{1,779},{173,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words_level/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1650,576}</string>
                <key>spriteSourceSize</key>
                <string>{1650,576}</string>
                <key>textureRect</key>
                <string>{{1,1},{1650,576}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words_level/dowlbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,198}</string>
                <key>spriteSourceSize</key>
                <string>{576,198}</string>
                <key>textureRect</key>
                <string>{{1,579},{576,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words_level/hill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{527,169}</string>
                <key>spriteSourceSize</key>
                <string>{527,169}</string>
                <key>textureRect</key>
                <string>{{579,579},{527,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words_level/hills1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,367}</string>
                <key>spriteSourceSize</key>
                <string>{526,367}</string>
                <key>textureRect</key>
                <string>{{1108,579},{526,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words_level/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{176,779},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words_level/upperbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,37}</string>
                <key>spriteSourceSize</key>
                <string>{280,37}</string>
                <key>textureRect</key>
                <string>{{579,750},{280,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jump_on_words_level.png</string>
            <key>size</key>
            <string>{1652,947}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:738334df436209852c01540d24743046:755d9552a691ec9da8a1189151b0815a:de320393e3391657035e890738e70cd9$</string>
            <key>textureFileName</key>
            <string>jump_on_words_level.png</string>
        </dict>
    </dict>
</plist>
