<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>talkjungle/bg 2-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{458,178}</string>
                <key>spriteSourceSize</key>
                <string>{458,178}</string>
                <key>textureRect</key>
                <string>{{319,555},{458,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkjungle/bg 2-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{458,24}</string>
                <key>spriteSourceSize</key>
                <string>{458,24}</string>
                <key>textureRect</key>
                <string>{{1,1714},{458,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/bg-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,161}</string>
                <key>spriteSourceSize</key>
                <string>{1024,161}</string>
                <key>textureRect</key>
                <string>{{1,1},{1024,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkjungle/bg-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,153}</string>
                <key>spriteSourceSize</key>
                <string>{1024,153}</string>
                <key>textureRect</key>
                <string>{{164,1},{1024,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkjungle/bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,57}</string>
                <key>spriteSourceSize</key>
                <string>{512,57}</string>
                <key>textureRect</key>
                <string>{{179,1027},{512,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkjungle/lion-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{236,269}</string>
                <key>spriteSourceSize</key>
                <string>{244,273}</string>
                <key>textureRect</key>
                <string>{{238,1027},{236,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/lion-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,86}</string>
                <key>spriteSourceSize</key>
                <string>{223,86}</string>
                <key>textureRect</key>
                <string>{{238,1298},{223,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/lion-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,71}</string>
                <key>spriteSourceSize</key>
                <string>{23,71}</string>
                <key>textureRect</key>
                <string>{{438,1386},{23,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/lion-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,84}</string>
                <key>spriteSourceSize</key>
                <string>{75,84}</string>
                <key>textureRect</key>
                <string>{{238,1386},{75,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/lion-06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,31}</string>
                <key>spriteSourceSize</key>
                <string>{80,31}</string>
                <key>textureRect</key>
                <string>{{238,1472},{80,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/lion-07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,13}</string>
                <key>spriteSourceSize</key>
                <string>{84,13}</string>
                <key>textureRect</key>
                <string>{{220,1541},{84,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkjungle/lion-08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{70,15}</string>
                <key>spriteSourceSize</key>
                <string>{70,17}</string>
                <key>textureRect</key>
                <string>{{238,1505},{70,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/lion-08d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{70,13}</string>
                <key>spriteSourceSize</key>
                <string>{70,17}</string>
                <key>textureRect</key>
                <string>{{220,1627},{70,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkjungle/meat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,39}</string>
                <key>spriteSourceSize</key>
                <string>{80,39}</string>
                <key>textureRect</key>
                <string>{{179,1541},{80,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkjungle/meat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,39}</string>
                <key>spriteSourceSize</key>
                <string>{80,39}</string>
                <key>textureRect</key>
                <string>{{315,1386},{80,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/meat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,39}</string>
                <key>spriteSourceSize</key>
                <string>{80,39}</string>
                <key>textureRect</key>
                <string>{{179,1623},{80,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkjungle/meat4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,39}</string>
                <key>spriteSourceSize</key>
                <string>{80,39}</string>
                <key>textureRect</key>
                <string>{{315,1427},{80,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkjungle/meat5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,39}</string>
                <key>spriteSourceSize</key>
                <string>{80,39}</string>
                <key>textureRect</key>
                <string>{{397,1386},{80,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkjungle/patch_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,176}</string>
                <key>spriteSourceSize</key>
                <string>{552,176}</string>
                <key>textureRect</key>
                <string>{{319,1},{552,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkjungle/tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,0}</string>
                <key>spriteSize</key>
                <string>{176,685}</string>
                <key>spriteSourceSize</key>
                <string>{212,685}</string>
                <key>textureRect</key>
                <string>{{1,1027},{176,685}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>talkjungle.png</string>
            <key>size</key>
            <string>{498,1739}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e2525a7c6d0a5ccfb744615e705b52a:a05040bb7ed6b9929a770d12e8c96907:838b158f382b9cdebba2331b2b6bee3d$</string>
            <key>textureFileName</key>
            <string>talkjungle.png</string>
        </dict>
    </dict>
</plist>
