<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alphamole/Play1_hole_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{892,190}</string>
                <key>spriteSourceSize</key>
                <string>{892,190}</string>
                <key>textureRect</key>
                <string>{{1257,948},{892,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>alphamole/Play1_hole_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1181,350}</string>
                <key>spriteSourceSize</key>
                <string>{1181,350}</string>
                <key>textureRect</key>
                <string>{{1,948},{1181,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamole/Play2_1eg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{82,61}</string>
                <key>spriteSourceSize</key>
                <string>{82,71}</string>
                <key>textureRect</key>
                <string>{{1739,1944},{82,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamole/Play2_1star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,172}</string>
                <key>spriteSourceSize</key>
                <string>{171,172}</string>
                <key>textureRect</key>
                <string>{{1259,1842},{171,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>alphamole/Play2_2eg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{82,61}</string>
                <key>spriteSourceSize</key>
                <string>{82,71}</string>
                <key>textureRect</key>
                <string>{{1880,1160},{82,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>alphamole/Play2_2star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,133}</string>
                <key>spriteSourceSize</key>
                <string>{132,133}</string>
                <key>textureRect</key>
                <string>{{1880,895},{132,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamole/Play2_Hole_Close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{817,88}</string>
                <key>spriteSourceSize</key>
                <string>{817,88}</string>
                <key>textureRect</key>
                <string>{{1,1944},{817,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamole/Play2_Hole_Open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{803,642}</string>
                <key>spriteSourceSize</key>
                <string>{803,642}</string>
                <key>textureRect</key>
                <string>{{1,1300},{803,642}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamole/Play2_Hole_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{892,284}</string>
                <key>spriteSourceSize</key>
                <string>{892,284}</string>
                <key>textureRect</key>
                <string>{{1751,1},{892,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>alphamole/Play2_leaf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{614,449}</string>
                <key>spriteSourceSize</key>
                <string>{614,449}</string>
                <key>textureRect</key>
                <string>{{806,1300},{614,449}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>alphamole/play1_1hole.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,24}</string>
                <key>spriteSourceSize</key>
                <string>{76,24}</string>
                <key>textureRect</key>
                <string>{{1223,948},{76,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>alphamole/play1_1stick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,128}</string>
                <key>spriteSourceSize</key>
                <string>{60,128}</string>
                <key>textureRect</key>
                <string>{{1880,1030},{60,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamole/play1_2hole.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,97}</string>
                <key>spriteSourceSize</key>
                <string>{90,97}</string>
                <key>textureRect</key>
                <string>{{1942,1030},{90,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamole/play1_2stick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,163}</string>
                <key>spriteSourceSize</key>
                <string>{74,163}</string>
                <key>textureRect</key>
                <string>{{1433,1944},{74,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>alphamole/play1_3stick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,173}</string>
                <key>spriteSourceSize</key>
                <string>{82,173}</string>
                <key>textureRect</key>
                <string>{{1084,1916},{82,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>alphamole/play1_4stick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,139}</string>
                <key>spriteSourceSize</key>
                <string>{65,139}</string>
                <key>textureRect</key>
                <string>{{1598,1944},{65,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>alphamole/play1_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,110}</string>
                <key>spriteSourceSize</key>
                <string>{262,110}</string>
                <key>textureRect</key>
                <string>{{820,1916},{262,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamole/play1_dol.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,595}</string>
                <key>spriteSourceSize</key>
                <string>{429,595}</string>
                <key>textureRect</key>
                <string>{{1449,948},{429,595}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamole/play1_fence.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,311}</string>
                <key>spriteSourceSize</key>
                <string>{37,311}</string>
                <key>textureRect</key>
                <string>{{1184,948},{37,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamole/play1_greenground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1748,945}</string>
                <key>spriteSourceSize</key>
                <string>{1748,945}</string>
                <key>textureRect</key>
                <string>{{1,1},{1748,945}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alphamole/play1_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,417}</string>
                <key>spriteSourceSize</key>
                <string>{397,417}</string>
                <key>textureRect</key>
                <string>{{1449,1545},{397,417}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>alphamole.png</string>
            <key>size</key>
            <string>{2036,2033}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:204da5b3566a526adbf88fb8bc5460a9:7d94162f4a47d2a81d4d71f10dd96bc4:e61976aeaeb6f7891f4c7794daecbd06$</string>
            <key>textureFileName</key>
            <string>alphamole.png</string>
        </dict>
    </dict>
</plist>
