<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chainlevel/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,96}</string>
                <key>spriteSourceSize</key>
                <string>{112,96}</string>
                <key>textureRect</key>
                <string>{{352,34},{112,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chainlevel/hill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,71}</string>
                <key>spriteSourceSize</key>
                <string>{135,71}</string>
                <key>textureRect</key>
                <string>{{215,34},{135,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chainlevel/tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,427}</string>
                <key>spriteSourceSize</key>
                <string>{31,427}</string>
                <key>textureRect</key>
                <string>{{1,1},{31,427}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chainlevel/tree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,397}</string>
                <key>spriteSourceSize</key>
                <string>{86,397}</string>
                <key>textureRect</key>
                <string>{{1,194},{86,397}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chainlevel/tree3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,429}</string>
                <key>spriteSourceSize</key>
                <string>{60,429}</string>
                <key>textureRect</key>
                <string>{{1,132},{60,429}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chainlevel/tree5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{475,538}</string>
                <key>spriteSourceSize</key>
                <string>{475,538}</string>
                <key>textureRect</key>
                <string>{{1,282},{475,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chainlevel/water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,32}</string>
                <key>spriteSourceSize</key>
                <string>{212,32}</string>
                <key>textureRect</key>
                <string>{{1,34},{212,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chainlevel.png</string>
            <key>size</key>
            <string>{477,821}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f561ef6e9fd76b4474f995e87f7e45c:54dfb9a5ff49782f61edba0f4162cedc:9aaaedb9c1bed961791c47855d9420ac$</string>
            <key>textureFileName</key>
            <string>chainlevel.png</string>
        </dict>
    </dict>
</plist>
