<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ATM_level/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,169}</string>
                <key>spriteSourceSize</key>
                <string>{419,169}</string>
                <key>textureRect</key>
                <string>{{1706,1563},{419,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ATM_level/10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,169}</string>
                <key>spriteSourceSize</key>
                <string>{419,169}</string>
                <key>textureRect</key>
                <string>{{1284,1734},{419,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATM_level/100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,169}</string>
                <key>spriteSourceSize</key>
                <string>{420,169}</string>
                <key>textureRect</key>
                <string>{{1284,1563},{420,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATM_level/ATM.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1171,1583}</string>
                <key>spriteSourceSize</key>
                <string>{1171,1583}</string>
                <key>textureRect</key>
                <string>{{1,1},{1171,1583}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATM_level/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1342,661}</string>
                <key>spriteSourceSize</key>
                <string>{1342,661}</string>
                <key>textureRect</key>
                <string>{{1174,1},{1342,661}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ATM_level/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1281,457}</string>
                <key>spriteSourceSize</key>
                <string>{1281,457}</string>
                <key>textureRect</key>
                <string>{{1,1586},{1281,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATM_level/cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{537,216}</string>
                <key>spriteSourceSize</key>
                <string>{537,216}</string>
                <key>textureRect</key>
                <string>{{1174,1345},{537,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ATM_level.png</string>
            <key>size</key>
            <string>{1876,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bfc64985c8c45ced2881555d9fb603e:ab7154679483c32da4d0d9466ab27854:1e5cc9de5467fc39525a075523d6dbf9$</string>
            <key>textureFileName</key>
            <string>ATM_level.png</string>
        </dict>
    </dict>
</plist>
