<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>policestation/policestation2/door1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,561}</string>
                <key>spriteSourceSize</key>
                <string>{394,561}</string>
                <key>textureRect</key>
                <string>{{788,1},{394,561}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>policestation/policestation2/door2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,561}</string>
                <key>spriteSourceSize</key>
                <string>{394,561}</string>
                <key>textureRect</key>
                <string>{{788,564},{394,561}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>policestation/policestation2/door3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,561}</string>
                <key>spriteSourceSize</key>
                <string>{394,561}</string>
                <key>textureRect</key>
                <string>{{1184,1},{394,561}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>policestation/policestation2/steps.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{847,785}</string>
                <key>spriteSourceSize</key>
                <string>{847,785}</string>
                <key>textureRect</key>
                <string>{{1,1},{847,785}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>policestation2.png</string>
            <key>size</key>
            <string>{1579,959}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14274b7fa49b6f53a8d6e14598d3e5d2:9996bfe073a7cd1f6f6b90e3ab3f2d36:2c4cc4e9f064dfa99fb6381b3c1c42f8$</string>
            <key>textureFileName</key>
            <string>policestation2.png</string>
        </dict>
    </dict>
</plist>
