<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ndovu_na_vyura/bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,138}</string>
                <key>spriteSourceSize</key>
                <string>{393,138}</string>
                <key>textureRect</key>
                <string>{{818,984},{393,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ndovu_na_vyura/cagetruck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1057,451}</string>
                <key>spriteSourceSize</key>
                <string>{1057,451}</string>
                <key>textureRect</key>
                <string>{{1,1},{1057,451}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ndovu_na_vyura/cat_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{330,205}</string>
                <key>spriteSourceSize</key>
                <string>{394,389}</string>
                <key>textureRect</key>
                <string>{{785,1923},{330,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ndovu_na_vyura/cat_close_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,7}</string>
                <key>spriteSourceSize</key>
                <string>{24,7}</string>
                <key>textureRect</key>
                <string>{{873,3273},{24,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/cat_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{541,425}</string>
                <key>spriteSourceSize</key>
                <string>{541,425}</string>
                <key>textureRect</key>
                <string>{{1,2067},{541,425}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ndovu_na_vyura/cat_lower_back_left_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,65}</string>
                <key>spriteSourceSize</key>
                <string>{20,65}</string>
                <key>textureRect</key>
                <string>{{942,3043},{20,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ndovu_na_vyura/cat_lower_back_right_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,65}</string>
                <key>spriteSourceSize</key>
                <string>{20,65}</string>
                <key>textureRect</key>
                <string>{{920,3142},{20,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/cat_lower_front_left_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,63}</string>
                <key>spriteSourceSize</key>
                <string>{20,63}</string>
                <key>textureRect</key>
                <string>{{949,1382},{20,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/cat_lower_front_right_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,63}</string>
                <key>spriteSourceSize</key>
                <string>{20,63}</string>
                <key>textureRect</key>
                <string>{{949,1447},{20,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/cat_open_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,41}</string>
                <key>spriteSourceSize</key>
                <string>{26,41}</string>
                <key>textureRect</key>
                <string>{{993,1443},{26,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/cat_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,160}</string>
                <key>spriteSourceSize</key>
                <string>{83,160}</string>
                <key>textureRect</key>
                <string>{{911,1667},{83,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/cat_upper_back_left_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,83}</string>
                <key>spriteSourceSize</key>
                <string>{23,83}</string>
                <key>textureRect</key>
                <string>{{996,1667},{23,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/cat_upper_back_right_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,83}</string>
                <key>spriteSourceSize</key>
                <string>{23,83}</string>
                <key>textureRect</key>
                <string>{{996,1752},{23,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/cat_upper_front_left_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,58}</string>
                <key>spriteSourceSize</key>
                <string>{23,58}</string>
                <key>textureRect</key>
                <string>{{716,3076},{23,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/cat_upper_front_right_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,58}</string>
                <key>spriteSourceSize</key>
                <string>{23,58}</string>
                <key>textureRect</key>
                <string>{{964,3129},{23,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/deer_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,231}</string>
                <key>spriteSourceSize</key>
                <string>{321,231}</string>
                <key>textureRect</key>
                <string>{{422,2758},{321,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/deer_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{873,3231},{39,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/deer_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{533,523}</string>
                <key>spriteSourceSize</key>
                <string>{533,523}</string>
                <key>textureRect</key>
                <string>{{1,1060},{533,523}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ndovu_na_vyura/deer_lower_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,75}</string>
                <key>spriteSourceSize</key>
                <string>{24,75}</string>
                <key>textureRect</key>
                <string>{{992,2146},{24,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/deer_lower_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,75}</string>
                <key>spriteSourceSize</key>
                <string>{24,75}</string>
                <key>textureRect</key>
                <string>{{920,3065},{24,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/deer_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,104}</string>
                <key>spriteSourceSize</key>
                <string>{90,104}</string>
                <key>textureRect</key>
                <string>{{927,465},{90,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/deer_upper_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,68}</string>
                <key>spriteSourceSize</key>
                <string>{27,68}</string>
                <key>textureRect</key>
                <string>{{992,1994},{27,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/deer_upper_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,69}</string>
                <key>spriteSourceSize</key>
                <string>{27,69}</string>
                <key>textureRect</key>
                <string>{{992,1923},{27,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/elephant_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{324,215}</string>
                <key>spriteSourceSize</key>
                <string>{324,217}</string>
                <key>textureRect</key>
                <string>{{797,2255},{324,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ndovu_na_vyura/elephant_ear_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,357}</string>
                <key>spriteSourceSize</key>
                <string>{155,357}</string>
                <key>textureRect</key>
                <string>{{514,1595},{155,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/elephant_ear_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,339}</string>
                <key>spriteSourceSize</key>
                <string>{238,339}</string>
                <key>textureRect</key>
                <string>{{671,1582},{238,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/elephant_eyes_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,8}</string>
                <key>spriteSourceSize</key>
                <string>{65,8}</string>
                <key>textureRect</key>
                <string>{{1011,984},{65,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ndovu_na_vyura/elephant_eyes_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,109}</string>
                <key>spriteSourceSize</key>
                <string>{108,109}</string>
                <key>textureRect</key>
                <string>{{911,1556},{108,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/elephant_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{541,419}</string>
                <key>spriteSourceSize</key>
                <string>{541,419}</string>
                <key>textureRect</key>
                <string>{{1,2610},{541,419}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ndovu_na_vyura/elephant_lower_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,87}</string>
                <key>spriteSourceSize</key>
                <string>{46,87}</string>
                <key>textureRect</key>
                <string>{{1,3234},{46,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ndovu_na_vyura/elephant_lower_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,87}</string>
                <key>spriteSourceSize</key>
                <string>{46,87}</string>
                <key>textureRect</key>
                <string>{{90,3234},{46,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ndovu_na_vyura/elephant_mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,83}</string>
                <key>spriteSourceSize</key>
                <string>{222,83}</string>
                <key>textureRect</key>
                <string>{{424,3190},{222,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/elephant_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,117}</string>
                <key>spriteSourceSize</key>
                <string>{45,117}</string>
                <key>textureRect</key>
                <string>{{754,3231},{45,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ndovu_na_vyura/elephant_trunk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,336}</string>
                <key>spriteSourceSize</key>
                <string>{250,336}</string>
                <key>textureRect</key>
                <string>{{533,1954},{250,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/elephant_upper_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,78}</string>
                <key>spriteSourceSize</key>
                <string>{41,78}</string>
                <key>textureRect</key>
                <string>{{958,1222},{41,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/elephant_upper_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,78}</string>
                <key>spriteSourceSize</key>
                <string>{41,78}</string>
                <key>textureRect</key>
                <string>{{958,1302},{41,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/flybody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,162}</string>
                <key>spriteSourceSize</key>
                <string>{253,162}</string>
                <key>textureRect</key>
                <string>{{757,2581},{253,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/flywing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,129}</string>
                <key>spriteSourceSize</key>
                <string>{175,129}</string>
                <key>textureRect</key>
                <string>{{818,1379},{175,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ndovu_na_vyura/frogbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,195}</string>
                <key>spriteSourceSize</key>
                <string>{305,195}</string>
                <key>textureRect</key>
                <string>{{745,2758},{305,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ndovu_na_vyura/frogeye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,77}</string>
                <key>spriteSourceSize</key>
                <string>{76,77}</string>
                <key>textureRect</key>
                <string>{{942,2745},{76,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ndovu_na_vyura/frogeyeball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,20}</string>
                <key>spriteSourceSize</key>
                <string>{19,20}</string>
                <key>textureRect</key>
                <string>{{395,3234},{19,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/froglegbackdown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,24}</string>
                <key>spriteSourceSize</key>
                <string>{83,24}</string>
                <key>textureRect</key>
                <string>{{818,1556},{83,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/froglegbackfeet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,36}</string>
                <key>spriteSourceSize</key>
                <string>{94,36}</string>
                <key>textureRect</key>
                <string>{{678,3094},{94,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ndovu_na_vyura/froglegbackmid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,34}</string>
                <key>spriteSourceSize</key>
                <string>{131,34}</string>
                <key>textureRect</key>
                <string>{{179,3234},{131,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/froglegbackup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,51}</string>
                <key>spriteSourceSize</key>
                <string>{151,51}</string>
                <key>textureRect</key>
                <string>{{958,984},{151,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ndovu_na_vyura/froglegfrontfeet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,25}</string>
                <key>spriteSourceSize</key>
                <string>{38,25}</string>
                <key>textureRect</key>
                <string>{{757,2554},{38,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/froglegfrontlow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,39}</string>
                <key>spriteSourceSize</key>
                <string>{13,39}</string>
                <key>textureRect</key>
                <string>{{1006,1837},{13,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/froglegfrontup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,58}</string>
                <key>spriteSourceSize</key>
                <string>{17,58}</string>
                <key>textureRect</key>
                <string>{{514,1954},{17,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/frogmouth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,24}</string>
                <key>spriteSourceSize</key>
                <string>{59,24}</string>
                <key>textureRect</key>
                <string>{{971,1382},{59,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ndovu_na_vyura/frogmouth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,25}</string>
                <key>spriteSourceSize</key>
                <string>{62,25}</string>
                <key>textureRect</key>
                <string>{{946,3065},{62,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ndovu_na_vyura/frogmouth3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,19}</string>
                <key>spriteSourceSize</key>
                <string>{61,19}</string>
                <key>textureRect</key>
                <string>{{1000,3065},{61,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ndovu_na_vyura/frogmouth4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,25}</string>
                <key>spriteSourceSize</key>
                <string>{61,25}</string>
                <key>textureRect</key>
                <string>{{973,3065},{61,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ndovu_na_vyura/frognose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,11}</string>
                <key>spriteSourceSize</key>
                <string>{21,11}</string>
                <key>textureRect</key>
                <string>{{526,1582},{21,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/giraffe_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,386}</string>
                <key>spriteSourceSize</key>
                <string>{290,386}</string>
                <key>textureRect</key>
                <string>{{526,984},{290,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/giraffe_body2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,208}</string>
                <key>spriteSourceSize</key>
                <string>{290,208}</string>
                <key>textureRect</key>
                <string>{{526,1372},{290,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/giraffe_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{753,1923},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/giraffe_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{608,471}</string>
                <key>spriteSourceSize</key>
                <string>{608,471}</string>
                <key>textureRect</key>
                <string>{{454,1},{608,471}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ndovu_na_vyura/giraffe_lower_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,83}</string>
                <key>spriteSourceSize</key>
                <string>{43,83}</string>
                <key>textureRect</key>
                <string>{{958,1137},{43,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/giraffe_lower_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,83}</string>
                <key>spriteSourceSize</key>
                <string>{42,83}</string>
                <key>textureRect</key>
                <string>{{687,2991},{42,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/giraffe_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,252}</string>
                <key>spriteSourceSize</key>
                <string>{94,252}</string>
                <key>textureRect</key>
                <string>{{424,3094},{94,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ndovu_na_vyura/giraffe_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,62}</string>
                <key>spriteSourceSize</key>
                <string>{70,62}</string>
                <key>textureRect</key>
                <string>{{454,984},{70,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/giraffe_upper_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,81}</string>
                <key>spriteSourceSize</key>
                <string>{35,81}</string>
                <key>textureRect</key>
                <string>{{312,3234},{35,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ndovu_na_vyura/giraffe_upper_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,82}</string>
                <key>spriteSourceSize</key>
                <string>{35,82}</string>
                <key>textureRect</key>
                <string>{{927,571},{35,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ndovu_na_vyura/lion_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,202}</string>
                <key>spriteSourceSize</key>
                <string>{327,202}</string>
                <key>textureRect</key>
                <string>{{428,2554},{327,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/lion_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{942,2976},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/lion_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,470}</string>
                <key>spriteSourceSize</key>
                <string>{511,470}</string>
                <key>textureRect</key>
                <string>{{1,1595},{511,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/lion_lower_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,63}</string>
                <key>spriteSourceSize</key>
                <string>{20,63}</string>
                <key>textureRect</key>
                <string>{{971,1443},{20,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/lion_lower_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,63}</string>
                <key>spriteSourceSize</key>
                <string>{20,63}</string>
                <key>textureRect</key>
                <string>{{942,3142},{20,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/lion_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,90}</string>
                <key>spriteSourceSize</key>
                <string>{104,90}</string>
                <key>textureRect</key>
                <string>{{648,3190},{104,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/lion_upper_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,80}</string>
                <key>spriteSourceSize</key>
                <string>{23,80}</string>
                <key>textureRect</key>
                <string>{{671,1923},{23,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ndovu_na_vyura/lion_upper_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,80}</string>
                <key>spriteSourceSize</key>
                <string>{23,80}</string>
                <key>textureRect</key>
                <string>{{992,2064},{23,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/log.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,103}</string>
                <key>spriteSourceSize</key>
                <string>{485,103}</string>
                <key>textureRect</key>
                <string>{{428,2067},{485,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ndovu_na_vyura/moon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{754,3065},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/plant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,263}</string>
                <key>spriteSourceSize</key>
                <string>{101,263}</string>
                <key>textureRect</key>
                <string>{{422,2991},{101,263}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ndovu_na_vyura/river.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{462,75}</string>
                <key>spriteSourceSize</key>
                <string>{462,75}</string>
                <key>textureRect</key>
                <string>{{927,1},{462,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ndovu_na_vyura/star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,84}</string>
                <key>spriteSourceSize</key>
                <string>{93,84}</string>
                <key>textureRect</key>
                <string>{{911,1837},{93,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,260}</string>
                <key>spriteSourceSize</key>
                <string>{262,260}</string>
                <key>textureRect</key>
                <string>{{533,2292},{262,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{557,371}</string>
                <key>spriteSourceSize</key>
                <string>{557,371}</string>
                <key>textureRect</key>
                <string>{{454,611},{557,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/vesselin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{421,79}</string>
                <key>spriteSourceSize</key>
                <string>{421,79}</string>
                <key>textureRect</key>
                <string>{{1,3153},{421,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ndovu_na_vyura/waterleaf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,65}</string>
                <key>spriteSourceSize</key>
                <string>{151,65}</string>
                <key>textureRect</key>
                <string>{{942,2823},{151,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Ndovu_na_vyura.png</string>
            <key>size</key>
            <string>{1020,3281}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19c8cfe466311959969e4ad406d6a396:4d0d6ef487ee49f0fc57338525e856c6:c2166bc306004e207c0b78e8dd93a626$</string>
            <key>textureFileName</key>
            <string>Ndovu_na_vyura.png</string>
        </dict>
    </dict>
</plist>
