<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
	</dict>
	<key>category_names</key>
	<array />
	<key>bodies</key>
	<dict>
		<key>mgbar</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.50028 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.2</real>
					<key>friction</key>
					<real>0.7</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 463.50000,440.25000 }</string>
							<string>{ 463.50000,381.25000 }</string>
							<string>{ 341.50000,381.25000 }</string>
							<string>{ 341.50000,440.25000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 272.00000,114.25000 }</string>
							<string>{ 273.00000,52.75000 }</string>
							<string>{ 119.50000,52.75000 }</string>
							<string>{ 119.50000,114.25000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -52.00000,-28.25000 }</string>
							<string>{ -204.50000,-28.25000 }</string>
							<string>{ -204.00000,33.75000 }</string>
							<string>{ -51.50000,33.75000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 106.00000,54.75000 }</string>
							<string>{ 106.00000,-4.75000 }</string>
							<string>{ -70.00000,-4.75000 }</string>
							<string>{ -70.00000,54.75000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 459.50000,54.75000 }</string>
							<string>{ 460.50000,-8.75000 }</string>
							<string>{ 284.50000,-8.75000 }</string>
							<string>{ 283.50000,54.75000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 196.00000,265.75000 }</string>
							<string>{ -183.00000,265.75000 }</string>
							<string>{ -182.00000,322.25000 }</string>
							<string>{ 197.00000,322.25000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 561.00000,262.75000 }</string>
							<string>{ 214.00000,262.25000 }</string>
							<string>{ 214.00000,309.25000 }</string>
							<string>{ 561.00000,309.75000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -178.50000,-38.75000 }</string>
							<string>{ -178.50000,-98.75000 }</string>
							<string>{ -557.50000,-98.75000 }</string>
							<string>{ -557.50000,-38.75000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -183.50000,-133.75000 }</string>
							<string>{ -183.50000,-187.25000 }</string>
							<string>{ -562.50000,-187.25000 }</string>
							<string>{ -562.50000,-133.75000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 564.00000,-132.25000 }</string>
							<string>{ 564.00000,-189.25000 }</string>
							<string>{ 185.00000,-189.25000 }</string>
							<string>{ 185.00000,-132.25000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 556.50000,229.25000 }</string>
							<string>{ 558.00000,215.75000 }</string>
							<string>{ -186.00000,215.75000 }</string>
							<string>{ -187.50000,229.25000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 460.00000,-342.75000 }</string>
							<string>{ 460.00000,-393.25000 }</string>
							<string>{ 284.00000,-393.25000 }</string>
							<string>{ 284.00000,-342.75000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -288.50000,-342.75000 }</string>
							<string>{ -288.50000,-400.25000 }</string>
							<string>{ -464.50000,-400.25000 }</string>
							<string>{ -464.50000,-342.75000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>mgelectricalshop</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.50000 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 361.00000,385.25000 }</string>
							<string>{ 361.00000,311.25000 }</string>
							<string>{ -365.50000,311.25000 }</string>
							<string>{ -365.50000,385.25000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 361.00000,13.25000 }</string>
							<string>{ 361.00000,-64.25000 }</string>
							<string>{ -365.50000,-64.25000 }</string>
							<string>{ -365.50000,13.25000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -76.00000,104.25000 }</string>
							<string>{ -76.00000,49.75000 }</string>
							<string>{ -252.00000,49.75000 }</string>
							<string>{ -252.00000,104.25000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 251.50000,104.75000 }</string>
							<string>{ 251.50000,51.75000 }</string>
							<string>{ 75.50000,51.75000 }</string>
							<string>{ 75.50000,104.75000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 293.00000,-183.25000 }</string>
							<string>{ 293.00000,-261.75000 }</string>
							<string>{ 214.00000,-261.75000 }</string>
							<string>{ 214.00000,-183.25000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -198.50000,-180.25000 }</string>
							<string>{ -198.50000,-258.75000 }</string>
							<string>{ -277.50000,-258.75000 }</string>
							<string>{ -277.50000,-180.25000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>mgground1</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.49980,0.49900 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.2</real>
					<key>friction</key>
					<real>0.7</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>3</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>1</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 805.75000,3.25000 }</string>
							<string>{ 806.25000,-213.75000 }</string>
							<string>{ -799.75000,-213.25000 }</string>
							<string>{ -800.25000,4.25000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>mgground2</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.49980,0.49900 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.2</real>
					<key>friction</key>
					<real>0.7</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>3</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>1</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 805.75000,3.25000 }</string>
							<string>{ 806.25000,-213.75000 }</string>
							<string>{ -799.75000,-213.25000 }</string>
							<string>{ -800.25000,4.25000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>mgminningsupply</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.49968,0.49970 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 374.75000,-18.75000 }</string>
							<string>{ 376.25000,-91.25000 }</string>
							<string>{ -371.75000,-91.25000 }</string>
							<string>{ -373.25000,-18.75000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 375.25000,247.75000 }</string>
							<string>{ 375.25000,173.75000 }</string>
							<string>{ -372.75000,173.75000 }</string>
							<string>{ -372.75000,247.75000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -111.25000,61.75000 }</string>
							<string>{ -111.25000,-7.75000 }</string>
							<string>{ -285.75000,-7.75000 }</string>
							<string>{ -287.25000,61.75000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 286.75000,61.75000 }</string>
							<string>{ 286.75000,-3.25000 }</string>
							<string>{ 110.75000,-3.25000 }</string>
							<string>{ 110.75000,61.75000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 84.75000,132.25000 }</string>
							<string>{ 84.75000,56.75000 }</string>
							<string>{ -68.25000,56.75000 }</string>
							<string>{ -68.25000,132.25000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 223.75000,413.25000 }</string>
							<string>{ 223.75000,342.25000 }</string>
							<string>{ -220.75000,342.25000 }</string>
							<string>{ -220.75000,413.25000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -131.75000,-148.75000 }</string>
							<string>{ -131.75000,-218.25000 }</string>
							<string>{ -295.75000,-218.25000 }</string>
							<string>{ -297.25000,-148.75000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -227.25000,-303.25000 }</string>
							<string>{ -227.25000,-372.75000 }</string>
							<string>{ -391.25000,-372.75000 }</string>
							<string>{ -392.75000,-303.25000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 393.25000,-247.25000 }</string>
							<string>{ 393.25000,-316.75000 }</string>
							<string>{ 229.25000,-316.75000 }</string>
							<string>{ 227.75000,-247.25000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>mgpetrolbunk</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.50000 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 365.00000,182.50000 }</string>
							<string>{ 365.00000,104.00000 }</string>
							<string>{ -365.50000,104.00000 }</string>
							<string>{ -365.50000,182.50000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -204.00000,-11.50000 }</string>
							<string>{ -204.00000,-90.00000 }</string>
							<string>{ -283.00000,-90.00000 }</string>
							<string>{ -283.00000,-11.50000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 284.00000,-13.00000 }</string>
							<string>{ 284.00000,-91.50000 }</string>
							<string>{ 205.00000,-91.50000 }</string>
							<string>{ 205.00000,-13.00000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>mgtrainstation</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.49985,0.50000 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -239.25000,64.00000 }</string>
							<string>{ -706.75000,64.00000 }</string>
							<string>{ -706.75000,142.00000 }</string>
							<string>{ -237.75000,142.00000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -671.25000,267.00000 }</string>
							<string>{ -93.75000,224.50000 }</string>
							<string>{ -94.75000,174.00000 }</string>
							<string>{ -677.25000,174.00000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 670.75000,165.50000 }</string>
							<string>{ 94.75000,163.50000 }</string>
							<string>{ 93.25000,228.50000 }</string>
							<string>{ 670.75000,271.00000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 673.75000,-273.00000 }</string>
							<string>{ 667.75000,-179.00000 }</string>
							<string>{ 800.25000,-261.00000 }</string>
							<string>{ 802.25000,-274.50000 }</string>
						</array>
						<array>
							<string>{ -803.75000,-269.00000 }</string>
							<string>{ -668.75000,-179.00000 }</string>
							<string>{ 667.75000,-179.00000 }</string>
							<string>{ 673.75000,-273.00000 }</string>
						</array>
						<array>
							<string>{ -803.75000,-273.50000 }</string>
							<string>{ -803.75000,-269.00000 }</string>
							<string>{ -661.75000,-272.50000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 707.75000,65.50000 }</string>
							<string>{ 240.25000,65.50000 }</string>
							<string>{ 240.25000,143.50000 }</string>
							<string>{ 709.25000,143.50000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>