<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Shati_la_kijani_kibichi/Shati_la_kijani_kibichi_1/stall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{868,561}</string>
                <key>spriteSourceSize</key>
                <string>{868,561}</string>
                <key>textureRect</key>
                <string>{{606,1},{868,561}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shati_la_kijani_kibichi/Shati_la_kijani_kibichi_1/stallhat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{663,430}</string>
                <key>spriteSourceSize</key>
                <string>{663,430}</string>
                <key>textureRect</key>
                <string>{{606,564},{663,430}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shati_la_kijani_kibichi/Shati_la_kijani_kibichi_1/stallshirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{1438,603}</string>
                <key>spriteSourceSize</key>
                <string>{1438,627}</string>
                <key>textureRect</key>
                <string>{{1,1},{1438,603}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shati_la_kijani_kibichi/Shati_la_kijani_kibichi_1/tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{557,371}</string>
                <key>spriteSourceSize</key>
                <string>{557,371}</string>
                <key>textureRect</key>
                <string>{{1038,564},{557,371}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shati_la_kijani_kibichi/Shati_la_kijani_kibichi_1/uniform1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,334}</string>
                <key>spriteSourceSize</key>
                <string>{164,334}</string>
                <key>textureRect</key>
                <string>{{879,1229},{164,334}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shati_la_kijani_kibichi/Shati_la_kijani_kibichi_1/uniform2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,334}</string>
                <key>spriteSourceSize</key>
                <string>{164,334}</string>
                <key>textureRect</key>
                <string>{{1215,1123},{164,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shati_la_kijani_kibichi/Shati_la_kijani_kibichi_1/window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,257}</string>
                <key>spriteSourceSize</key>
                <string>{271,257}</string>
                <key>textureRect</key>
                <string>{{606,1229},{271,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Shati_la_kijani_kibichi_1.png</string>
            <key>size</key>
            <string>{1475,1487}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f63ad084221eb60da69d789c8eedb479:3f7c25ba23deb2be1caf9214cdb9ea35:1b5ab76be2474de3c717ddef16c316c3$</string>
            <key>textureFileName</key>
            <string>Shati_la_kijani_kibichi_1.png</string>
        </dict>
    </dict>
</plist>
