<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chain/block.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,75}</string>
                <key>spriteSourceSize</key>
                <string>{71,75}</string>
                <key>textureRect</key>
                <string>{{917,658},{71,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/box1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-26}</string>
                <key>spriteSize</key>
                <string>{75,79}</string>
                <key>spriteSourceSize</key>
                <string>{101,137}</string>
                <key>textureRect</key>
                <string>{{917,577},{75,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/box2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-17}</string>
                <key>spriteSize</key>
                <string>{77,97}</string>
                <key>spriteSourceSize</key>
                <string>{101,137}</string>
                <key>textureRect</key>
                <string>{{876,337},{77,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/box3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-2}</string>
                <key>spriteSize</key>
                <string>{77,127}</string>
                <key>spriteSourceSize</key>
                <string>{101,137}</string>
                <key>textureRect</key>
                <string>{{708,944},{77,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/box4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{95,133}</string>
                <key>spriteSourceSize</key>
                <string>{101,137}</string>
                <key>textureRect</key>
                <string>{{376,919},{95,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/ele.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-52}</string>
                <key>spriteSize</key>
                <string>{155,113}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{876,180},{155,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/ele2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-51}</string>
                <key>spriteSize</key>
                <string>{177,113}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{885,1},{177,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/ele3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-50}</string>
                <key>spriteSize</key>
                <string>{191,117}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{757,246},{191,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/ele4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-38}</string>
                <key>spriteSize</key>
                <string>{179,141}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{623,583},{179,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/ele5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-27}</string>
                <key>spriteSize</key>
                <string>{181,163}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{1,852},{181,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/ele6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-34}</string>
                <key>spriteSize</key>
                <string>{181,149}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{766,577},{181,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/ele7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-31}</string>
                <key>spriteSize</key>
                <string>{181,155}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{574,246},{181,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/flemingo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,160}</string>
                <key>spriteSourceSize</key>
                <string>{297,230}</string>
                <key>textureRect</key>
                <string>{{411,757},{115,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/fly1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,33}</string>
                <key>spriteSize</key>
                <string>{269,92}</string>
                <key>spriteSourceSize</key>
                <string>{297,230}</string>
                <key>textureRect</key>
                <string>{{529,492},{269,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/fly2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{263,116}</string>
                <key>spriteSourceSize</key>
                <string>{297,230}</string>
                <key>textureRect</key>
                <string>{{411,492},{263,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/fly3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-11}</string>
                <key>spriteSize</key>
                <string>{255,84}</string>
                <key>spriteSourceSize</key>
                <string>{297,230}</string>
                <key>textureRect</key>
                <string>{{618,160},{255,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/layer1treetrunk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,317}</string>
                <key>spriteSourceSize</key>
                <string>{129,317}</string>
                <key>textureRect</key>
                <string>{{1,533},{129,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/layer2treetrunk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,345}</string>
                <key>spriteSourceSize</key>
                <string>{84,345}</string>
                <key>textureRect</key>
                <string>{{194,190},{84,345}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/letterpanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,75}</string>
                <key>spriteSourceSize</key>
                <string>{71,75}</string>
                <key>textureRect</key>
                <string>{{838,934},{71,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/maintree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,341}</string>
                <key>spriteSourceSize</key>
                <string>{191,341}</string>
                <key>textureRect</key>
                <string>{{1,190},{191,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/monkey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,172}</string>
                <key>spriteSourceSize</key>
                <string>{132,172}</string>
                <key>textureRect</key>
                <string>{{838,760},{132,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/monkeyeat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-16}</string>
                <key>spriteSize</key>
                <string>{128,178}</string>
                <key>spriteSourceSize</key>
                <string>{210,230}</string>
                <key>textureRect</key>
                <string>{{528,764},{128,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/monkeyeat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-16}</string>
                <key>spriteSize</key>
                <string>{128,178}</string>
                <key>spriteSourceSize</key>
                <string>{210,230}</string>
                <key>textureRect</key>
                <string>{{528,894},{128,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/monkeyeat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-18}</string>
                <key>spriteSize</key>
                <string>{128,178}</string>
                <key>spriteSourceSize</key>
                <string>{210,230}</string>
                <key>textureRect</key>
                <string>{{708,764},{128,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/monkeyeat4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-16}</string>
                <key>spriteSize</key>
                <string>{132,178}</string>
                <key>spriteSourceSize</key>
                <string>{210,230}</string>
                <key>textureRect</key>
                <string>{{623,403},{132,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/monkeyflip1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-17}</string>
                <key>spriteSize</key>
                <string>{136,176}</string>
                <key>spriteSourceSize</key>
                <string>{210,230}</string>
                <key>textureRect</key>
                <string>{{757,439},{136,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/monkeyflip2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{188,214}</string>
                <key>spriteSourceSize</key>
                <string>{210,230}</string>
                <key>textureRect</key>
                <string>{{194,276},{188,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/monkeyflip3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-14}</string>
                <key>spriteSize</key>
                <string>{200,182}</string>
                <key>spriteSourceSize</key>
                <string>{210,230}</string>
                <key>textureRect</key>
                <string>{{209,492},{200,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/monkeyflip4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-10}</string>
                <key>spriteSize</key>
                <string>{154,190}</string>
                <key>spriteSourceSize</key>
                <string>{210,230}</string>
                <key>textureRect</key>
                <string>{{184,860},{154,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/monkeyflip5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-14}</string>
                <key>spriteSize</key>
                <string>{200,182}</string>
                <key>spriteSourceSize</key>
                <string>{210,230}</string>
                <key>textureRect</key>
                <string>{{209,676},{200,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/monkeyflip6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{188,214}</string>
                <key>spriteSourceSize</key>
                <string>{210,230}</string>
                <key>textureRect</key>
                <string>{{384,276},{188,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/scene2bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{882,108}</string>
                <key>spriteSourceSize</key>
                <string>{884,108}</string>
                <key>textureRect</key>
                <string>{{1,1},{882,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/scene3bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{874,47}</string>
                <key>spriteSourceSize</key>
                <string>{874,47}</string>
                <key>textureRect</key>
                <string>{{1,111},{874,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/toprope.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{615,28}</string>
                <key>spriteSourceSize</key>
                <string>{615,28}</string>
                <key>textureRect</key>
                <string>{{1,160},{615,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/wordpanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,75}</string>
                <key>spriteSourceSize</key>
                <string>{300,75}</string>
                <key>textureRect</key>
                <string>{{132,533},{300,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chain.png</string>
            <key>size</key>
            <string>{999,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f51e5409dd84f3ee8129f4e39a1e383:f4a18920b65d4893bfd6074ca85a126e:bdabef210107175500f8ed0bb9b37f53$</string>
            <key>textureFileName</key>
            <string>chain.png</string>
        </dict>
    </dict>
</plist>
