<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kalabushe_chiriku/basket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{408,176}</string>
                <key>spriteSourceSize</key>
                <string>{448,190}</string>
                <key>textureRect</key>
                <string>{{3161,2406},{408,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/bedsheet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1340,395}</string>
                <key>spriteSourceSize</key>
                <string>{1340,395}</string>
                <key>textureRect</key>
                <string>{{2563,1},{1340,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/boy_arm_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,105}</string>
                <key>spriteSourceSize</key>
                <string>{68,105}</string>
                <key>textureRect</key>
                <string>{{3905,256},{68,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/boy_ear_round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,175}</string>
                <key>spriteSourceSize</key>
                <string>{138,175}</string>
                <key>textureRect</key>
                <string>{{667,2077},{138,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/boy_eyebrow_boy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,64}</string>
                <key>spriteSourceSize</key>
                <string>{110,64}</string>
                <key>textureRect</key>
                <string>{{2455,1292},{110,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/boy_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{815,680}</string>
                <key>spriteSourceSize</key>
                <string>{815,680}</string>
                <key>textureRect</key>
                <string>{{1638,1292},{815,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/boy_hair_curtained_hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{905,601}</string>
                <key>spriteSourceSize</key>
                <string>{905,601}</string>
                <key>textureRect</key>
                <string>{{1,2231},{905,601}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/boy_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,76}</string>
                <key>textureRect</key>
                <string>{{2250,2111},{50,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/boy_lightbrown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,101}</string>
                <key>spriteSourceSize</key>
                <string>{43,101}</string>
                <key>textureRect</key>
                <string>{{844,2077},{43,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/boy_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,172}</string>
                <key>spriteSourceSize</key>
                <string>{28,172}</string>
                <key>textureRect</key>
                <string>{{1609,2789},{28,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/boy_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,151}</string>
                <key>spriteSourceSize</key>
                <string>{78,151}</string>
                <key>textureRect</key>
                <string>{{2404,724},{78,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/boy_nose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{538,426}</string>
                <key>spriteSourceSize</key>
                <string>{546,426}</string>
                <key>textureRect</key>
                <string>{{3270,997},{538,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/boy_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,177}</string>
                <key>spriteSourceSize</key>
                <string>{28,177}</string>
                <key>textureRect</key>
                <string>{{1,2834},{28,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/butterfly1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{422,323}</string>
                <key>spriteSourceSize</key>
                <string>{462,359}</string>
                <key>textureRect</key>
                <string>{{3698,986},{422,323}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/butterfly2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-22}</string>
                <key>spriteSize</key>
                <string>{418,275}</string>
                <key>spriteSourceSize</key>
                <string>{462,359}</string>
                <key>textureRect</key>
                <string>{{3712,1410},{418,275}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/butterfly3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-28}</string>
                <key>spriteSize</key>
                <string>{422,263}</string>
                <key>spriteSourceSize</key>
                <string>{462,359}</string>
                <key>textureRect</key>
                <string>{{2476,2579},{422,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/butterfly4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-35}</string>
                <key>spriteSize</key>
                <string>{426,249}</string>
                <key>spriteSourceSize</key>
                <string>{462,359}</string>
                <key>textureRect</key>
                <string>{{2910,2056},{426,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/butterfly5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-53}</string>
                <key>spriteSize</key>
                <string>{404,229}</string>
                <key>spriteSourceSize</key>
                <string>{462,359}</string>
                <key>textureRect</key>
                <string>{{3571,2406},{404,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/butterfly6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-54}</string>
                <key>spriteSize</key>
                <string>{404,231}</string>
                <key>spriteSourceSize</key>
                <string>{462,359}</string>
                <key>textureRect</key>
                <string>{{2900,2584},{404,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/girl_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,72}</string>
                <key>spriteSourceSize</key>
                <string>{71,72}</string>
                <key>textureRect</key>
                <string>{{3712,1865},{71,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/girl_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{577,663}</string>
                <key>spriteSourceSize</key>
                <string>{577,663}</string>
                <key>textureRect</key>
                <string>{{2455,1477},{577,663}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,76}</string>
                <key>textureRect</key>
                <string>{{2250,2111},{50,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,172}</string>
                <key>spriteSourceSize</key>
                <string>{28,172}</string>
                <key>textureRect</key>
                <string>{{1609,2789},{28,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/girl_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,105}</string>
                <key>spriteSourceSize</key>
                <string>{22,105}</string>
                <key>textureRect</key>
                <string>{{2040,2764},{22,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,135}</string>
                <key>spriteSourceSize</key>
                <string>{66,135}</string>
                <key>textureRect</key>
                <string>{{2250,1974},{66,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/girl_shoe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,21}</string>
                <key>spriteSourceSize</key>
                <string>{105,21}</string>
                <key>textureRect</key>
                <string>{{3989,1410},{105,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/girl_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,248}</string>
                <key>spriteSourceSize</key>
                <string>{273,248}</string>
                <key>textureRect</key>
                <string>{{3306,2584},{273,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/girl_sleeve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,26}</string>
                <key>spriteSourceSize</key>
                <string>{68,26}</string>
                <key>textureRect</key>
                <string>{{2455,1404},{68,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/girl_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,277}</string>
                <key>spriteSourceSize</key>
                <string>{203,277}</string>
                <key>textureRect</key>
                <string>{{3556,2637},{203,277}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,177}</string>
                <key>spriteSourceSize</key>
                <string>{28,177}</string>
                <key>textureRect</key>
                <string>{{1,2834},{28,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/girl_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,89}</string>
                <key>spriteSourceSize</key>
                <string>{21,89}</string>
                <key>textureRect</key>
                <string>{{2900,2817},{21,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/housewife_pelvis_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,521}</string>
                <key>spriteSourceSize</key>
                <string>{432,521}</string>
                <key>textureRect</key>
                <string>{{2476,2056},{432,521}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/housewife_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,590}</string>
                <key>spriteSourceSize</key>
                <string>{450,590}</string>
                <key>textureRect</key>
                <string>{{3120,1537},{450,590}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/jinsi_bushes_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1017,597}</string>
                <key>spriteSourceSize</key>
                <string>{1017,597}</string>
                <key>textureRect</key>
                <string>{{2563,398},{1017,597}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/jinsi_grass3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1852,169}</string>
                <key>spriteSourceSize</key>
                <string>{1852,169}</string>
                <key>textureRect</key>
                <string>{{667,1121},{1852,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/kalabushe_bed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1735,395}</string>
                <key>spriteSourceSize</key>
                <string>{1735,395}</string>
                <key>textureRect</key>
                <string>{{667,724},{1735,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/kalabushe_house.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{664,1505}</string>
                <key>spriteSourceSize</key>
                <string>{664,1505}</string>
                <key>textureRect</key>
                <string>{{1,724},{664,1505}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/kalabushe_road.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2560,721}</string>
                <key>spriteSourceSize</key>
                <string>{2560,721}</string>
                <key>textureRect</key>
                <string>{{1,1},{2560,721}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/kalabushe_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,699}</string>
                <key>spriteSourceSize</key>
                <string>{768,699}</string>
                <key>textureRect</key>
                <string>{{908,2077},{768,699}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/man_arm_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,105}</string>
                <key>spriteSourceSize</key>
                <string>{68,105}</string>
                <key>textureRect</key>
                <string>{{3905,256},{68,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/man_ear_round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,175}</string>
                <key>spriteSourceSize</key>
                <string>{138,175}</string>
                <key>textureRect</key>
                <string>{{667,2077},{138,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/man_eyebrow_boy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,64}</string>
                <key>spriteSourceSize</key>
                <string>{110,64}</string>
                <key>textureRect</key>
                <string>{{2455,1292},{110,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/man_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{815,680}</string>
                <key>spriteSourceSize</key>
                <string>{815,680}</string>
                <key>textureRect</key>
                <string>{{1638,1292},{815,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/man_hair_Burr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{747,478}</string>
                <key>spriteSourceSize</key>
                <string>{747,478}</string>
                <key>textureRect</key>
                <string>{{2521,997},{747,478}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/man_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,76}</string>
                <key>textureRect</key>
                <string>{{2250,2111},{50,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/man_lightbrown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,101}</string>
                <key>spriteSourceSize</key>
                <string>{43,101}</string>
                <key>textureRect</key>
                <string>{{844,2077},{43,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/man_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,172}</string>
                <key>spriteSourceSize</key>
                <string>{28,172}</string>
                <key>textureRect</key>
                <string>{{1609,2789},{28,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/man_mouth_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,108}</string>
                <key>spriteSourceSize</key>
                <string>{253,108}</string>
                <key>textureRect</key>
                <string>{{3905,1},{253,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/man_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,151}</string>
                <key>spriteSourceSize</key>
                <string>{78,151}</string>
                <key>textureRect</key>
                <string>{{2404,724},{78,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/man_nose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{538,426}</string>
                <key>spriteSourceSize</key>
                <string>{546,426}</string>
                <key>textureRect</key>
                <string>{{3270,997},{538,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/man_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,415}</string>
                <key>spriteSourceSize</key>
                <string>{415,415}</string>
                <key>textureRect</key>
                <string>{{3161,1989},{415,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/man_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,96}</string>
                <key>spriteSourceSize</key>
                <string>{30,96}</string>
                <key>textureRect</key>
                <string>{{3873,1830},{30,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/man_pant_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,96}</string>
                <key>spriteSourceSize</key>
                <string>{30,96}</string>
                <key>textureRect</key>
                <string>{{3873,2637},{30,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/man_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,147}</string>
                <key>spriteSourceSize</key>
                <string>{36,147}</string>
                <key>textureRect</key>
                <string>{{3120,1477},{36,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/man_pant_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,147}</string>
                <key>spriteSourceSize</key>
                <string>{36,147}</string>
                <key>textureRect</key>
                <string>{{3835,2637},{36,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/man_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,584}</string>
                <key>spriteSourceSize</key>
                <string>{429,584}</string>
                <key>textureRect</key>
                <string>{{1609,2203},{429,584}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/man_shirt_sleave_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,119}</string>
                <key>spriteSourceSize</key>
                <string>{63,119}</string>
                <key>textureRect</key>
                <string>{{2910,2519},{63,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/man_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,33}</string>
                <key>spriteSourceSize</key>
                <string>{159,33}</string>
                <key>textureRect</key>
                <string>{{3712,1830},{159,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/man_shoes_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,33}</string>
                <key>spriteSourceSize</key>
                <string>{159,33}</string>
                <key>textureRect</key>
                <string>{{2910,2484},{159,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/man_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,177}</string>
                <key>spriteSourceSize</key>
                <string>{28,177}</string>
                <key>textureRect</key>
                <string>{{1,2834},{28,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/motu_mouth_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,108}</string>
                <key>spriteSourceSize</key>
                <string>{253,108}</string>
                <key>textureRect</key>
                <string>{{3905,1},{253,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/motu_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,415}</string>
                <key>spriteSourceSize</key>
                <string>{415,415}</string>
                <key>textureRect</key>
                <string>{{3578,1989},{415,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/motu_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,96}</string>
                <key>spriteSourceSize</key>
                <string>{30,96}</string>
                <key>textureRect</key>
                <string>{{2442,877},{30,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/motu_pant_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,96}</string>
                <key>spriteSourceSize</key>
                <string>{30,96}</string>
                <key>textureRect</key>
                <string>{{3975,256},{30,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/motu_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,147}</string>
                <key>spriteSourceSize</key>
                <string>{36,147}</string>
                <key>textureRect</key>
                <string>{{2484,724},{36,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/motu_pant_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,147}</string>
                <key>spriteSourceSize</key>
                <string>{36,147}</string>
                <key>textureRect</key>
                <string>{{2404,877},{36,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/motu_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,586}</string>
                <key>spriteSourceSize</key>
                <string>{429,586}</string>
                <key>textureRect</key>
                <string>{{3582,398},{429,586}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/motu_shirt_sleave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,105}</string>
                <key>spriteSourceSize</key>
                <string>{64,105}</string>
                <key>textureRect</key>
                <string>{{2318,1974},{64,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/motu_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,33}</string>
                <key>spriteSourceSize</key>
                <string>{159,33}</string>
                <key>textureRect</key>
                <string>{{3712,1830},{159,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/motu_shoes_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,33}</string>
                <key>spriteSourceSize</key>
                <string>{159,33}</string>
                <key>textureRect</key>
                <string>{{2910,2484},{159,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/pillow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{610,227}</string>
                <key>spriteSourceSize</key>
                <string>{610,227}</string>
                <key>textureRect</key>
                <string>{{1638,1974},{610,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/wife_body_female.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{434,559}</string>
                <key>spriteSourceSize</key>
                <string>{436,559}</string>
                <key>textureRect</key>
                <string>{{2040,2203},{434,559}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/wife_eye_outer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,24}</string>
                <key>spriteSourceSize</key>
                <string>{115,24}</string>
                <key>textureRect</key>
                <string>{{1609,2077},{115,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/wife_eyebrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,39}</string>
                <key>spriteSourceSize</key>
                <string>{121,39}</string>
                <key>textureRect</key>
                <string>{{2522,724},{121,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/wife_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{815,680}</string>
                <key>spriteSourceSize</key>
                <string>{815,680}</string>
                <key>textureRect</key>
                <string>{{1638,1292},{815,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/wife_hair_bun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{969,783}</string>
                <key>spriteSourceSize</key>
                <string>{969,783}</string>
                <key>textureRect</key>
                <string>{{667,1292},{969,783}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/wife_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,76}</string>
                <key>textureRect</key>
                <string>{{2250,2111},{50,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/wife_lightbrown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,101}</string>
                <key>spriteSourceSize</key>
                <string>{43,101}</string>
                <key>textureRect</key>
                <string>{{844,2077},{43,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/wife_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,172}</string>
                <key>spriteSourceSize</key>
                <string>{28,172}</string>
                <key>textureRect</key>
                <string>{{1609,2789},{28,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/wife_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,105}</string>
                <key>spriteSourceSize</key>
                <string>{22,105}</string>
                <key>textureRect</key>
                <string>{{2040,2764},{22,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/wife_mouth_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,108}</string>
                <key>spriteSourceSize</key>
                <string>{253,108}</string>
                <key>textureRect</key>
                <string>{{3905,1},{253,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/wife_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,135}</string>
                <key>spriteSourceSize</key>
                <string>{66,135}</string>
                <key>textureRect</key>
                <string>{{2250,1974},{66,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/wife_nose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{538,426}</string>
                <key>spriteSourceSize</key>
                <string>{546,426}</string>
                <key>textureRect</key>
                <string>{{3270,997},{538,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/wife_shoe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,21}</string>
                <key>spriteSourceSize</key>
                <string>{105,21}</string>
                <key>textureRect</key>
                <string>{{3989,1410},{105,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/wife_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,177}</string>
                <key>spriteSourceSize</key>
                <string>{28,177}</string>
                <key>textureRect</key>
                <string>{{1,2834},{28,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/wife_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,89}</string>
                <key>spriteSourceSize</key>
                <string>{21,89}</string>
                <key>textureRect</key>
                <string>{{2900,2817},{21,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Kalabushe_chiriku.png</string>
            <key>size</key>
            <string>{4022,2863}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b2fd171952be9078f9a3880dedcaf2c:a74b295875d61422fe00ebd616d2c106:60de121bef40904f1573b5d0f3456831$</string>
            <key>textureFileName</key>
            <string>Kalabushe_chiriku.png</string>
        </dict>
    </dict>
</plist>
