<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Upepo_Wind/02-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,113}</string>
                <key>spriteSourceSize</key>
                <string>{105,113}</string>
                <key>textureRect</key>
                <string>{{1064,227},{105,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Upepo_Wind/02-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,80}</string>
                <key>spriteSourceSize</key>
                <string>{160,80}</string>
                <key>textureRect</key>
                <string>{{1,426},{160,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Upepo_Wind/02-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,61}</string>
                <key>spriteSourceSize</key>
                <string>{159,61}</string>
                <key>textureRect</key>
                <string>{{163,426},{159,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Upepo_Wind/02-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,20}</string>
                <key>spriteSourceSize</key>
                <string>{14,20}</string>
                <key>textureRect</key>
                <string>{{471,466},{14,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Upepo_Wind/02-30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,145}</string>
                <key>spriteSourceSize</key>
                <string>{53,145}</string>
                <key>textureRect</key>
                <string>{{324,426},{53,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Upepo_Wind/arm_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,26}</string>
                <key>spriteSourceSize</key>
                <string>{17,26}</string>
                <key>textureRect</key>
                <string>{{1094,352},{17,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Upepo_Wind/arm_hand_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,26}</string>
                <key>spriteSourceSize</key>
                <string>{17,26}</string>
                <key>textureRect</key>
                <string>{{1122,352},{17,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Upepo_Wind/arm_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,55}</string>
                <key>spriteSourceSize</key>
                <string>{12,55}</string>
                <key>textureRect</key>
                <string>{{954,482},{12,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Upepo_Wind/arm_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,55}</string>
                <key>spriteSourceSize</key>
                <string>{12,55}</string>
                <key>textureRect</key>
                <string>{{221,489},{12,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Upepo_Wind/arm_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,66}</string>
                <key>spriteSourceSize</key>
                <string>{14,66}</string>
                <key>textureRect</key>
                <string>{{886,482},{14,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Upepo_Wind/arm_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,66}</string>
                <key>spriteSourceSize</key>
                <string>{14,66}</string>
                <key>textureRect</key>
                <string>{{1040,363},{14,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Upepo_Wind/body_male.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,140}</string>
                <key>spriteSourceSize</key>
                <string>{103,140}</string>
                <key>textureRect</key>
                <string>{{502,408},{103,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Upepo_Wind/boy_nose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,107}</string>
                <key>spriteSourceSize</key>
                <string>{137,107}</string>
                <key>textureRect</key>
                <string>{{749,397},{135,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Upepo_Wind/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,13}</string>
                <key>spriteSourceSize</key>
                <string>{43,13}</string>
                <key>textureRect</key>
                <string>{{886,498},{43,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Upepo_Wind/cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,7}</string>
                <key>spriteSourceSize</key>
                <string>{22,7}</string>
                <key>textureRect</key>
                <string>{{1011,482},{22,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Upepo_Wind/ear_round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,44}</string>
                <key>spriteSourceSize</key>
                <string>{35,44}</string>
                <key>textureRect</key>
                <string>{{1040,431},{35,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Upepo_Wind/eye_boy_outer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,6}</string>
                <key>spriteSourceSize</key>
                <string>{24,6}</string>
                <key>textureRect</key>
                <string>{{1056,363},{24,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Upepo_Wind/eye_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,8}</string>
                <key>spriteSourceSize</key>
                <string>{25,8}</string>
                <key>textureRect</key>
                <string>{{712,397},{25,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Upepo_Wind/eye_girl_outer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,6}</string>
                <key>spriteSourceSize</key>
                <string>{29,6}</string>
                <key>textureRect</key>
                <string>{{840,183},{29,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Upepo_Wind/eye_inner_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,25}</string>
                <key>spriteSourceSize</key>
                <string>{11,25}</string>
                <key>textureRect</key>
                <string>{{1051,108},{11,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Upepo_Wind/eyebrow_boy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,16}</string>
                <key>spriteSourceSize</key>
                <string>{28,16}</string>
                <key>textureRect</key>
                <string>{{1064,352},{28,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Upepo_Wind/eyebrow_girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,10}</string>
                <key>spriteSourceSize</key>
                <string>{30,10}</string>
                <key>textureRect</key>
                <string>{{278,489},{30,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Upepo_Wind/face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,170}</string>
                <key>spriteSourceSize</key>
                <string>{204,170}</string>
                <key>textureRect</key>
                <string>{{712,191},{204,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Upepo_Wind/ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{954,496},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Upepo_Wind/hair_curl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,188}</string>
                <key>spriteSourceSize</key>
                <string>{274,188}</string>
                <key>textureRect</key>
                <string>{{502,1},{274,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Upepo_Wind/hair_female_back_long.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,215}</string>
                <key>spriteSourceSize</key>
                <string>{208,215}</string>
                <key>textureRect</key>
                <string>{{502,191},{208,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Upepo_Wind/hair_female_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,180}</string>
                <key>spriteSourceSize</key>
                <string>{242,180}</string>
                <key>textureRect</key>
                <string>{{778,1},{242,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Upepo_Wind/hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,103}</string>
                <key>spriteSourceSize</key>
                <string>{103,103}</string>
                <key>textureRect</key>
                <string>{{644,408},{103,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Upepo_Wind/house02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,152}</string>
                <key>spriteSourceSize</key>
                <string>{117,152}</string>
                <key>textureRect</key>
                <string>{{886,363},{117,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Upepo_Wind/jubba_purple_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,117}</string>
                <key>spriteSourceSize</key>
                <string>{105,117}</string>
                <key>textureRect</key>
                <string>{{1064,108},{105,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Upepo_Wind/jubba_purple_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,147}</string>
                <key>spriteSourceSize</key>
                <string>{105,147}</string>
                <key>textureRect</key>
                <string>{{1022,1},{105,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Upepo_Wind/jubba_purple_sleave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,26}</string>
                <key>spriteSourceSize</key>
                <string>{15,26}</string>
                <key>textureRect</key>
                <string>{{1064,370},{15,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Upepo_Wind/kite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,56}</string>
                <key>spriteSourceSize</key>
                <string>{19,56}</string>
                <key>textureRect</key>
                <string>{{163,489},{19,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Upepo_Wind/leg_foot_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,8}</string>
                <key>spriteSourceSize</key>
                <string>{36,8}</string>
                <key>textureRect</key>
                <string>{{260,503},{36,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Upepo_Wind/leg_foot_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,8}</string>
                <key>spriteSourceSize</key>
                <string>{36,8}</string>
                <key>textureRect</key>
                <string>{{1051,135},{36,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Upepo_Wind/leg_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,31}</string>
                <key>spriteSourceSize</key>
                <string>{7,31}</string>
                <key>textureRect</key>
                <string>{{493,426},{7,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Upepo_Wind/leg_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,31}</string>
                <key>spriteSourceSize</key>
                <string>{7,31}</string>
                <key>textureRect</key>
                <string>{{493,459},{7,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Upepo_Wind/leg_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,37}</string>
                <key>spriteSourceSize</key>
                <string>{8,37}</string>
                <key>textureRect</key>
                <string>{{1022,173},{8,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Upepo_Wind/leg_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,37}</string>
                <key>spriteSourceSize</key>
                <string>{8,37}</string>
                <key>textureRect</key>
                <string>{{221,503},{8,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Upepo_Wind/line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,8}</string>
                <key>spriteSourceSize</key>
                <string>{98,8}</string>
                <key>textureRect</key>
                <string>{{1064,342},{98,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Upepo_Wind/mouth_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,6}</string>
                <key>spriteSourceSize</key>
                <string>{60,6}</string>
                <key>textureRect</key>
                <string>{{778,183},{60,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Upepo_Wind/mouth_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,15}</string>
                <key>spriteSourceSize</key>
                <string>{36,15}</string>
                <key>textureRect</key>
                <string>{{1007,496},{36,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Upepo_Wind/mouth_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,27}</string>
                <key>spriteSourceSize</key>
                <string>{63,27}</string>
                <key>textureRect</key>
                <string>{{1022,108},{63,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Upepo_Wind/neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,38}</string>
                <key>spriteSourceSize</key>
                <string>{20,38}</string>
                <key>textureRect</key>
                <string>{{471,426},{20,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Upepo_Wind/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,178}</string>
                <key>spriteSourceSize</key>
                <string>{178,178}</string>
                <key>textureRect</key>
                <string>{{884,183},{178,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Upepo_Wind/tornado-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{499,423}</string>
                <key>spriteSourceSize</key>
                <string>{499,423}</string>
                <key>textureRect</key>
                <string>{{1,1},{499,423}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Upepo_Wind.png</string>
            <key>size</key>
            <string>{1170,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ee69eec7c57c72da86390c181dca565:b320167f9c16c0524969e991caafd9e1:d6630bff807c978f602cd42cbfae3740$</string>
            <key>textureFileName</key>
            <string>Upepo_Wind.png</string>
        </dict>
    </dict>
</plist>
