<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pinatacream/pinatacreamb/cupcake10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-32}</string>
                <key>spriteSize</key>
                <string>{110,86}</string>
                <key>spriteSourceSize</key>
                <string>{146,156}</string>
                <key>textureRect</key>
                <string>{{1,1},{110,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pinatacreamb.png</string>
            <key>size</key>
            <string>{112,88}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89f6ae5bfe4eea9f49a17fa6eae57166:964df4bc26ced6be41a7228fac22b689:7985a6664e14f97ed51b8aa9ea8a5d8b$</string>
            <key>textureFileName</key>
            <string>pinatacreamb.png</string>
        </dict>
    </dict>
</plist>
