<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backgoundmap/bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{541,787}</string>
                <key>spriteSourceSize</key>
                <string>{541,787}</string>
                <key>textureRect</key>
                <string>{{1,883},{541,787}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>backgoundmap/bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,176}</string>
                <key>spriteSourceSize</key>
                <string>{641,176}</string>
                <key>textureRect</key>
                <string>{{790,883},{641,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>backgoundmap/car_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,61}</string>
                <key>spriteSourceSize</key>
                <string>{104,61}</string>
                <key>textureRect</key>
                <string>{{904,514},{104,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>backgoundmap/dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{701,716}</string>
                <key>spriteSourceSize</key>
                <string>{701,716}</string>
                <key>textureRect</key>
                <string>{{1,1796},{701,716}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>backgoundmap/hill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{541,400}</string>
                <key>spriteSourceSize</key>
                <string>{541,400}</string>
                <key>textureRect</key>
                <string>{{1,2499},{541,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>backgoundmap/hill_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,164}</string>
                <key>spriteSourceSize</key>
                <string>{80,164}</string>
                <key>textureRect</key>
                <string>{{743,1526},{80,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>backgoundmap/hill_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,164}</string>
                <key>spriteSourceSize</key>
                <string>{80,164}</string>
                <key>textureRect</key>
                <string>{{743,1608},{80,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>backgoundmap/house_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,294}</string>
                <key>spriteSourceSize</key>
                <string>{293,294}</string>
                <key>textureRect</key>
                <string>{{544,2499},{293,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>backgoundmap/house_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,405}</string>
                <key>spriteSourceSize</key>
                <string>{247,405}</string>
                <key>textureRect</key>
                <string>{{719,1826},{247,405}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>backgoundmap/star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,368}</string>
                <key>spriteSourceSize</key>
                <string>{740,368}</string>
                <key>textureRect</key>
                <string>{{1,1426},{740,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>backgoundmap/tree_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,134}</string>
                <key>spriteSourceSize</key>
                <string>{63,134}</string>
                <key>textureRect</key>
                <string>{{886,1690},{63,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>backgoundmap/tree_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,141}</string>
                <key>spriteSourceSize</key>
                <string>{79,141}</string>
                <key>textureRect</key>
                <string>{{743,1690},{79,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>backgoundmap/tree_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{367,901}</string>
                <key>spriteSourceSize</key>
                <string>{367,901}</string>
                <key>textureRect</key>
                <string>{{1,514},{367,901}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>backgoundmap/tree_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,920}</string>
                <key>spriteSourceSize</key>
                <string>{511,920}</string>
                <key>textureRect</key>
                <string>{{1,1},{511,920}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>backgoundmap.png</string>
            <key>size</key>
            <string>{967,2900}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c1f053bae7f6c7b97ee835a4b9bb7d2:f807cec16b769a43745807c45dd0deca:cc56156a3c56d8fcdff5f8edb7f304e5$</string>
            <key>textureFileName</key>
            <string>backgoundmap.png</string>
        </dict>
    </dict>
</plist>
