<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>city/city3/arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,28}</string>
                <key>spriteSourceSize</key>
                <string>{66,28}</string>
                <key>textureRect</key>
                <string>{{711,872},{66,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city3/beautyparlour.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,261}</string>
                <key>spriteSourceSize</key>
                <string>{416,261}</string>
                <key>textureRect</key>
                <string>{{1,593},{416,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city3/beautyparlourdoor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,127}</string>
                <key>spriteSourceSize</key>
                <string>{62,127}</string>
                <key>textureRect</key>
                <string>{{419,709},{62,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city3/dustbin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,70}</string>
                <key>spriteSourceSize</key>
                <string>{41,70}</string>
                <key>textureRect</key>
                <string>{{428,838},{41,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city3/floorgrass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,31}</string>
                <key>spriteSourceSize</key>
                <string>{156,31}</string>
                <key>textureRect</key>
                <string>{{334,535},{156,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city3/floorstone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,32}</string>
                <key>spriteSourceSize</key>
                <string>{156,32}</string>
                <key>textureRect</key>
                <string>{{270,856},{156,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city3/flower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,86}</string>
                <key>spriteSourceSize</key>
                <string>{50,86}</string>
                <key>textureRect</key>
                <string>{{817,419},{50,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city3/hospital.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,532}</string>
                <key>spriteSourceSize</key>
                <string>{346,532}</string>
                <key>textureRect</key>
                <string>{{334,1},{346,532}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city3/hospitaldoor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,133}</string>
                <key>spriteSourceSize</key>
                <string>{85,133}</string>
                <key>textureRect</key>
                <string>{{682,419},{85,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city3/hospitalside.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,416}</string>
                <key>spriteSourceSize</key>
                <string>{163,416}</string>
                <key>textureRect</key>
                <string>{{682,1},{163,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city3/movietheatre.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{590,331}</string>
                <key>spriteSourceSize</key>
                <string>{590,331}</string>
                <key>textureRect</key>
                <string>{{1,1},{590,331}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city3/movietheatredoor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,139}</string>
                <key>spriteSourceSize</key>
                <string>{71,139}</string>
                <key>textureRect</key>
                <string>{{419,568},{71,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city3/policestation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,471}</string>
                <key>spriteSourceSize</key>
                <string>{335,471}</string>
                <key>textureRect</key>
                <string>{{492,535},{335,471}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city3/policestationdoor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,126}</string>
                <key>spriteSourceSize</key>
                <string>{50,126}</string>
                <key>textureRect</key>
                <string>{{142,856},{50,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city3/policestationside.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,347}</string>
                <key>spriteSourceSize</key>
                <string>{152,347}</string>
                <key>textureRect</key>
                <string>{{847,1},{152,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city3/roadlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,139}</string>
                <key>spriteSourceSize</key>
                <string>{47,139}</string>
                <key>textureRect</key>
                <string>{{1,856},{47,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city3/roadlightd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,106}</string>
                <key>spriteSourceSize</key>
                <string>{24,106}</string>
                <key>textureRect</key>
                <string>{{603,872},{24,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city3/trafficlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,130}</string>
                <key>spriteSourceSize</key>
                <string>{27,130}</string>
                <key>textureRect</key>
                <string>{{471,872},{27,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city3/vlc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,47}</string>
                <key>spriteSourceSize</key>
                <string>{38,47}</string>
                <key>textureRect</key>
                <string>{{847,350},{38,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>city3.png</string>
            <key>size</key>
            <string>{1000,909}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34619e8f0985adab92b809f3f68af01f:440244d6885dd0a10001bf72a844cd4f:3be3347e3f89a779f15ea4330193c233$</string>
            <key>textureFileName</key>
            <string>city3.png</string>
        </dict>
    </dict>
</plist>
