<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Background_menu/alphabet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{531,531}</string>
                <key>spriteSourceSize</key>
                <string>{539,539}</string>
                <key>textureRect</key>
                <string>{{1782,2311},{531,531}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/alphabet_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{531,531}</string>
                <key>spriteSourceSize</key>
                <string>{539,539}</string>
                <key>textureRect</key>
                <string>{{3296,798},{531,531}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/birds.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,247}</string>
                <key>spriteSourceSize</key>
                <string>{365,247}</string>
                <key>textureRect</key>
                <string>{{1619,2847},{365,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Background_menu/birds_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,282}</string>
                <key>spriteSourceSize</key>
                <string>{351,282}</string>
                <key>textureRect</key>
                <string>{{3413,1331},{351,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/grammar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{532,531}</string>
                <key>spriteSourceSize</key>
                <string>{540,539}</string>
                <key>textureRect</key>
                <string>{{1782,1778},{532,531}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/grammar_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{532,531}</string>
                <key>spriteSourceSize</key>
                <string>{540,539}</string>
                <key>textureRect</key>
                <string>{{2762,798},{532,531}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{649,346}</string>
                <key>spriteSourceSize</key>
                <string>{649,346}</string>
                <key>textureRect</key>
                <string>{{2762,1331},{649,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/hill_01_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2561,683}</string>
                <key>spriteSourceSize</key>
                <string>{2561,683}</string>
                <key>textureRect</key>
                <string>{{1,782},{2561,683}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Background_menu/hill_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2560,582}</string>
                <key>spriteSourceSize</key>
                <string>{2560,582}</string>
                <key>textureRect</key>
                <string>{{686,782},{2560,582}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Background_menu/hill_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2560,779}</string>
                <key>spriteSourceSize</key>
                <string>{2560,779}</string>
                <key>textureRect</key>
                <string>{{1,1},{2560,779}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/library.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{2063,254}</string>
                <key>spriteSourceSize</key>
                <string>{2075,266}</string>
                <key>textureRect</key>
                <string>{{1270,782},{2063,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Background_menu/library_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{2063,254}</string>
                <key>spriteSourceSize</key>
                <string>{2075,266}</string>
                <key>textureRect</key>
                <string>{{1526,782},{2063,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Background_menu/maths.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,532}</string>
                <key>spriteSourceSize</key>
                <string>{540,540}</string>
                <key>textureRect</key>
                <string>{{2316,1778},{530,532}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/maths_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,532}</string>
                <key>spriteSourceSize</key>
                <string>{540,540}</string>
                <key>textureRect</key>
                <string>{{2315,2312},{530,532}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Background_menu/shapes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,531}</string>
                <key>spriteSourceSize</key>
                <string>{540,539}</string>
                <key>textureRect</key>
                <string>{{2849,2746},{530,531}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/shapes_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,531}</string>
                <key>spriteSourceSize</key>
                <string>{540,539}</string>
                <key>textureRect</key>
                <string>{{3381,2213},{530,531}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{978,978}</string>
                <key>spriteSourceSize</key>
                <string>{978,978}</string>
                <key>textureRect</key>
                <string>{{1782,798},{978,978}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{795,1378}</string>
                <key>spriteSourceSize</key>
                <string>{795,1378}</string>
                <key>textureRect</key>
                <string>{{2563,1},{795,1378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Background_menu/tree_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,477}</string>
                <key>spriteSourceSize</key>
                <string>{347,477}</string>
                <key>textureRect</key>
                <string>{{1270,2847},{347,477}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/words.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{531,531}</string>
                <key>spriteSourceSize</key>
                <string>{539,539}</string>
                <key>textureRect</key>
                <string>{{2848,1679},{531,531}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/words_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{531,531}</string>
                <key>spriteSourceSize</key>
                <string>{539,539}</string>
                <key>textureRect</key>
                <string>{{3381,2746},{531,531}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/writing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,532}</string>
                <key>spriteSourceSize</key>
                <string>{540,540}</string>
                <key>textureRect</key>
                <string>{{2849,2212},{530,532}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/writing_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,532}</string>
                <key>spriteSourceSize</key>
                <string>{540,540}</string>
                <key>textureRect</key>
                <string>{{3381,1679},{530,532}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Background_menu.png</string>
            <key>size</key>
            <string>{3942,3344}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:142e12319137a7b4be6c60dedd14fefe:a37e611e1047a5c7666ef029454e155c:08c2845c00bcde27686b9d33958ad7b6$</string>
            <key>textureFileName</key>
            <string>Background_menu.png</string>
        </dict>
    </dict>
</plist>
