<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>train/final_tunnel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,217}</string>
                <key>spriteSourceSize</key>
                <string>{104,217}</string>
                <key>textureRect</key>
                <string>{{260,609},{104,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>train/papertexture.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,800}</string>
                <key>spriteSourceSize</key>
                <string>{257,800}</string>
                <key>textureRect</key>
                <string>{{1,1},{257,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>train/railwaytrack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,16}</string>
                <key>spriteSourceSize</key>
                <string>{221,16}</string>
                <key>textureRect</key>
                <string>{{366,609},{221,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>train/train.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,99}</string>
                <key>spriteSourceSize</key>
                <string>{205,99}</string>
                <key>textureRect</key>
                <string>{{1,803},{205,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>train/tunnel_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,157}</string>
                <key>spriteSourceSize</key>
                <string>{88,157}</string>
                <key>textureRect</key>
                <string>{{260,519},{88,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>train/tunnel_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,157}</string>
                <key>spriteSourceSize</key>
                <string>{516,157}</string>
                <key>textureRect</key>
                <string>{{260,1},{516,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>train.png</string>
            <key>size</key>
            <string>{418,903}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4e1392b26fbc85ec6025e226f90290b:1f85c3112cbe4d34f37be848dc3111c3:f9d712b5562c0f694596c09480e10407$</string>
            <key>textureFileName</key>
            <string>train.png</string>
        </dict>
    </dict>
</plist>
