<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hippo/b1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,895}</string>
                <key>spriteSourceSize</key>
                <string>{489,895}</string>
                <key>textureRect</key>
                <string>{{1,1},{489,895}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/b2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,895}</string>
                <key>spriteSourceSize</key>
                <string>{489,895}</string>
                <key>textureRect</key>
                <string>{{1,898},{489,895}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/b3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,895}</string>
                <key>spriteSourceSize</key>
                <string>{489,895}</string>
                <key>textureRect</key>
                <string>{{492,1},{489,895}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/b4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,895}</string>
                <key>spriteSourceSize</key>
                <string>{489,895}</string>
                <key>textureRect</key>
                <string>{{1,1795},{489,895}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/b5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,895}</string>
                <key>spriteSourceSize</key>
                <string>{489,895}</string>
                <key>textureRect</key>
                <string>{{492,898},{489,895}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/bgg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{811,388}</string>
                <key>spriteSourceSize</key>
                <string>{811,388}</string>
                <key>textureRect</key>
                <string>{{1,2692},{811,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/bgh1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,713}</string>
                <key>spriteSourceSize</key>
                <string>{242,713}</string>
                <key>textureRect</key>
                <string>{{492,1795},{242,713}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/bgh2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,601}</string>
                <key>spriteSourceSize</key>
                <string>{266,601}</string>
                <key>textureRect</key>
                <string>{{391,2692},{266,601}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/bgh3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,564}</string>
                <key>spriteSourceSize</key>
                <string>{280,564}</string>
                <key>textureRect</key>
                <string>{{391,3295},{280,564}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/block.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,116}</string>
                <key>spriteSourceSize</key>
                <string>{120,116}</string>
                <key>textureRect</key>
                <string>{{792,2928},{120,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/blockslide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,116}</string>
                <key>spriteSourceSize</key>
                <string>{120,116}</string>
                <key>textureRect</key>
                <string>{{818,3158},{120,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,114}</string>
                <key>spriteSourceSize</key>
                <string>{588,114}</string>
                <key>textureRect</key>
                <string>{{736,1795},{588,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{26,24}</string>
                <key>textureRect</key>
                <string>{{250,3505},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,112}</string>
                <key>spriteSourceSize</key>
                <string>{115,112}</string>
                <key>textureRect</key>
                <string>{{736,2385},{115,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/button_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{792,3046},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/cat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,4}</string>
                <key>spriteSize</key>
                <string>{223,105}</string>
                <key>spriteSourceSize</key>
                <string>{267,141}</string>
                <key>textureRect</key>
                <string>{{852,2179},{223,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/cat10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,0}</string>
                <key>spriteSize</key>
                <string>{157,129}</string>
                <key>spriteSourceSize</key>
                <string>{267,141}</string>
                <key>textureRect</key>
                <string>{{659,3158},{157,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/cat11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,0}</string>
                <key>spriteSize</key>
                <string>{167,129}</string>
                <key>spriteSourceSize</key>
                <string>{267,141}</string>
                <key>textureRect</key>
                <string>{{659,2820},{167,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/cat12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,0}</string>
                <key>spriteSize</key>
                <string>{149,129}</string>
                <key>spriteSourceSize</key>
                <string>{267,141}</string>
                <key>textureRect</key>
                <string>{{850,2404},{149,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/cat13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,0}</string>
                <key>spriteSize</key>
                <string>{137,129}</string>
                <key>spriteSourceSize</key>
                <string>{267,141}</string>
                <key>textureRect</key>
                <string>{{790,2797},{137,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/cat14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,0}</string>
                <key>spriteSize</key>
                <string>{147,129}</string>
                <key>spriteSourceSize</key>
                <string>{267,141}</string>
                <key>textureRect</key>
                <string>{{852,1795},{147,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/cat15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,0}</string>
                <key>spriteSize</key>
                <string>{157,129}</string>
                <key>spriteSourceSize</key>
                <string>{267,141}</string>
                <key>textureRect</key>
                <string>{{786,2535},{157,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/cat16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,0}</string>
                <key>spriteSize</key>
                <string>{151,129}</string>
                <key>spriteSourceSize</key>
                <string>{267,141}</string>
                <key>textureRect</key>
                <string>{{786,2666},{151,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/cat17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,0}</string>
                <key>spriteSize</key>
                <string>{157,129}</string>
                <key>spriteSourceSize</key>
                <string>{267,141}</string>
                <key>textureRect</key>
                <string>{{659,3158},{157,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/cat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{233,113}</string>
                <key>spriteSourceSize</key>
                <string>{267,141}</string>
                <key>textureRect</key>
                <string>{{492,2510},{233,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/cat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{247,107}</string>
                <key>spriteSourceSize</key>
                <string>{267,141}</string>
                <key>textureRect</key>
                <string>{{1,3505},{247,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/cat3j.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,6}</string>
                <key>spriteSize</key>
                <string>{251,103}</string>
                <key>spriteSourceSize</key>
                <string>{267,141}</string>
                <key>textureRect</key>
                <string>{{852,1926},{251,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/cat4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,4}</string>
                <key>spriteSize</key>
                <string>{223,89}</string>
                <key>spriteSourceSize</key>
                <string>{267,141}</string>
                <key>textureRect</key>
                <string>{{238,3614},{223,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/cat4j.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,10}</string>
                <key>spriteSize</key>
                <string>{243,93}</string>
                <key>spriteSourceSize</key>
                <string>{267,141}</string>
                <key>textureRect</key>
                <string>{{463,3577},{243,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/cat5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,4}</string>
                <key>spriteSize</key>
                <string>{235,89}</string>
                <key>spriteSourceSize</key>
                <string>{267,141}</string>
                <key>textureRect</key>
                <string>{{1,3614},{235,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/cat6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,5}</string>
                <key>spriteSize</key>
                <string>{207,105}</string>
                <key>spriteSourceSize</key>
                <string>{267,141}</string>
                <key>textureRect</key>
                <string>{{708,3577},{207,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/cat7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,4}</string>
                <key>spriteSize</key>
                <string>{223,105}</string>
                <key>spriteSourceSize</key>
                <string>{267,141}</string>
                <key>textureRect</key>
                <string>{{852,2179},{223,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/cat8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-1}</string>
                <key>spriteSize</key>
                <string>{193,125}</string>
                <key>spriteSourceSize</key>
                <string>{267,141}</string>
                <key>textureRect</key>
                <string>{{659,2625},{193,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/cat9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-1}</string>
                <key>spriteSize</key>
                <string>{167,131}</string>
                <key>spriteSourceSize</key>
                <string>{267,141}</string>
                <key>textureRect</key>
                <string>{{659,2989},{167,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hippo.png</string>
            <key>size</key>
            <string>{1000,3704}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53fe0a35998821d78a5edd587061c174:35db3f44c50bd0c963d3b55c5db5f9b1:67ecf1bf2a68d4eb9cd3671675aee35e$</string>
            <key>textureFileName</key>
            <string>hippo.png</string>
        </dict>
    </dict>
</plist>
