<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>memoryhero/block.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,36}</string>
                <key>spriteSourceSize</key>
                <string>{436,36}</string>
                <key>textureRect</key>
                <string>{{1,475},{436,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memoryhero/dummy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,740}</string>
                <key>spriteSourceSize</key>
                <string>{472,740}</string>
                <key>textureRect</key>
                <string>{{1,1},{472,740}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>memoryhero/wall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,391}</string>
                <key>spriteSourceSize</key>
                <string>{363,391}</string>
                <key>textureRect</key>
                <string>{{743,1},{363,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memoryhero/wallblack1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,141}</string>
                <key>spriteSourceSize</key>
                <string>{181,141}</string>
                <key>textureRect</key>
                <string>{{1108,330},{181,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>memoryhero/wallblack2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,193}</string>
                <key>spriteSourceSize</key>
                <string>{187,193}</string>
                <key>textureRect</key>
                <string>{{1536,1},{187,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memoryhero/wallblack3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,101}</string>
                <key>spriteSourceSize</key>
                <string>{183,101}</string>
                <key>textureRect</key>
                <string>{{1436,401},{183,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memoryhero/wallblack4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,203}</string>
                <key>spriteSourceSize</key>
                <string>{184,203}</string>
                <key>textureRect</key>
                <string>{{1536,196},{184,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memoryhero/wallblack5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,157}</string>
                <key>spriteSourceSize</key>
                <string>{183,157}</string>
                <key>textureRect</key>
                <string>{{1251,330},{183,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memoryhero/windowback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,327}</string>
                <key>spriteSourceSize</key>
                <string>{212,327}</string>
                <key>textureRect</key>
                <string>{{1108,1},{212,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memoryhero/windowborder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,327}</string>
                <key>spriteSourceSize</key>
                <string>{212,327}</string>
                <key>textureRect</key>
                <string>{{1322,1},{212,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>memoryhero/windowdoor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,293}</string>
                <key>spriteSourceSize</key>
                <string>{93,293}</string>
                <key>textureRect</key>
                <string>{{743,394},{93,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>memoryhero.png</string>
            <key>size</key>
            <string>{1724,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86ba1cfe7fe590758936c1b6aafdb5e2:26ee23ee54c9cbba9437d83ce9974f2c:b3c013ca1f8321bc0f222b89d68456ee$</string>
            <key>textureFileName</key>
            <string>memoryhero.png</string>
        </dict>
    </dict>
</plist>
