<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chain/block.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,300}</string>
                <key>spriteSourceSize</key>
                <string>{283,300}</string>
                <key>textureRect</key>
                <string>{{2952,3673},{283,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/box1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-103}</string>
                <key>spriteSize</key>
                <string>{291,309}</string>
                <key>spriteSourceSize</key>
                <string>{403,549}</string>
                <key>textureRect</key>
                <string>{{3638,3127},{291,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/box2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-67}</string>
                <key>spriteSize</key>
                <string>{297,381}</string>
                <key>spriteSourceSize</key>
                <string>{403,549}</string>
                <key>textureRect</key>
                <string>{{3255,3127},{297,381}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/box3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-10}</string>
                <key>spriteSize</key>
                <string>{297,495}</string>
                <key>spriteSourceSize</key>
                <string>{403,549}</string>
                <key>textureRect</key>
                <string>{{2952,3176},{297,495}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/box4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,3}</string>
                <key>spriteSize</key>
                <string>{369,521}</string>
                <key>spriteSourceSize</key>
                <string>{403,549}</string>
                <key>textureRect</key>
                <string>{{2138,3347},{369,521}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/ele.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-207}</string>
                <key>spriteSize</key>
                <string>{607,441}</string>
                <key>spriteSourceSize</key>
                <string>{901,901}</string>
                <key>textureRect</key>
                <string>{{2936,1310},{607,441}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/ele2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-206}</string>
                <key>spriteSize</key>
                <string>{693,441}</string>
                <key>spriteSourceSize</key>
                <string>{901,901}</string>
                <key>textureRect</key>
                <string>{{2509,3237},{693,441}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/ele3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,-198}</string>
                <key>spriteSize</key>
                <string>{749,459}</string>
                <key>spriteSourceSize</key>
                <string>{901,901}</string>
                <key>textureRect</key>
                <string>{{2794,2425},{749,459}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/ele4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-151}</string>
                <key>spriteSize</key>
                <string>{709,553}</string>
                <key>spriteSourceSize</key>
                <string>{901,901}</string>
                <key>textureRect</key>
                <string>{{1427,3347},{709,553}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/ele5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-108}</string>
                <key>spriteSize</key>
                <string>{711,639}</string>
                <key>spriteSourceSize</key>
                <string>{901,901}</string>
                <key>textureRect</key>
                <string>{{1565,2706},{711,639}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/ele6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-134}</string>
                <key>spriteSize</key>
                <string>{709,587}</string>
                <key>spriteSourceSize</key>
                <string>{901,901}</string>
                <key>textureRect</key>
                <string>{{1,3372},{709,587}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/ele7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-122}</string>
                <key>spriteSize</key>
                <string>{713,611}</string>
                <key>spriteSourceSize</key>
                <string>{901,901}</string>
                <key>textureRect</key>
                <string>{{712,3310},{713,611}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/flemingo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{450,626}</string>
                <key>spriteSourceSize</key>
                <string>{1186,918}</string>
                <key>textureRect</key>
                <string>{{3492,1747},{450,626}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/fly1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,133}</string>
                <key>spriteSize</key>
                <string>{1062,358}</string>
                <key>spriteSourceSize</key>
                <string>{1186,918}</string>
                <key>textureRect</key>
                <string>{{2242,950},{1062,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/fly2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-18}</string>
                <key>spriteSize</key>
                <string>{1042,450}</string>
                <key>spriteSourceSize</key>
                <string>{1186,918}</string>
                <key>textureRect</key>
                <string>{{3521,1},{1042,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/fly3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-44}</string>
                <key>spriteSize</key>
                <string>{1006,324}</string>
                <key>spriteSourceSize</key>
                <string>{1186,918}</string>
                <key>textureRect</key>
                <string>{{2464,624},{1006,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/layer1treetrunk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,1269}</string>
                <key>spriteSourceSize</key>
                <string>{514,1269}</string>
                <key>textureRect</key>
                <string>{{1,2101},{514,1269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/layer2treetrunk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,1381}</string>
                <key>spriteSourceSize</key>
                <string>{334,1381}</string>
                <key>textureRect</key>
                <string>{{766,736},{334,1381}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/letterpanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,300}</string>
                <key>spriteSourceSize</key>
                <string>{283,300}</string>
                <key>textureRect</key>
                <string>{{3254,3426},{283,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/maintree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{763,1363}</string>
                <key>spriteSourceSize</key>
                <string>{763,1363}</string>
                <key>textureRect</key>
                <string>{{1,736},{763,1363}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/monkey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{529,689}</string>
                <key>spriteSourceSize</key>
                <string>{529,689}</string>
                <key>textureRect</key>
                <string>{{2259,1844},{529,689}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/monkeyeat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-64}</string>
                <key>spriteSize</key>
                <string>{502,700}</string>
                <key>spriteSourceSize</key>
                <string>{838,918}</string>
                <key>textureRect</key>
                <string>{{3255,2425},{502,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/monkeyeat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-63}</string>
                <key>spriteSize</key>
                <string>{504,700}</string>
                <key>spriteSourceSize</key>
                <string>{838,918}</string>
                <key>textureRect</key>
                <string>{{2790,1919},{504,700}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/monkeyeat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-71}</string>
                <key>spriteSize</key>
                <string>{502,700}</string>
                <key>spriteSourceSize</key>
                <string>{838,918}</string>
                <key>textureRect</key>
                <string>{{3379,1045},{502,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/monkeyeat4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-63}</string>
                <key>spriteSize</key>
                <string>{514,700}</string>
                <key>spriteSourceSize</key>
                <string>{838,918}</string>
                <key>textureRect</key>
                <string>{{2278,2535},{514,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/monkeyflip1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-67}</string>
                <key>spriteSize</key>
                <string>{532,692}</string>
                <key>spriteSourceSize</key>
                <string>{838,918}</string>
                <key>textureRect</key>
                <string>{{2242,1310},{532,692}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/monkeyflip2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,9}</string>
                <key>spriteSize</key>
                <string>{736,844}</string>
                <key>spriteSourceSize</key>
                <string>{838,918}</string>
                <key>textureRect</key>
                <string>{{1504,1072},{736,844}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/monkeyflip3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-57}</string>
                <key>spriteSize</key>
                <string>{786,718}</string>
                <key>spriteSourceSize</key>
                <string>{838,918}</string>
                <key>textureRect</key>
                <string>{{819,1920},{786,718}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/monkeyflip4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-42}</string>
                <key>spriteSize</key>
                <string>{600,744}</string>
                <key>spriteSourceSize</key>
                <string>{838,918}</string>
                <key>textureRect</key>
                <string>{{819,2708},{600,744}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/monkeyflip5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-56}</string>
                <key>spriteSize</key>
                <string>{786,718}</string>
                <key>spriteSourceSize</key>
                <string>{838,918}</string>
                <key>textureRect</key>
                <string>{{1539,1918},{786,718}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chain/monkeyflip6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,8}</string>
                <key>spriteSize</key>
                <string>{736,846}</string>
                <key>spriteSourceSize</key>
                <string>{838,918}</string>
                <key>textureRect</key>
                <string>{{766,1072},{736,846}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/scene2bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{3518,432}</string>
                <key>spriteSourceSize</key>
                <string>{3536,432}</string>
                <key>textureRect</key>
                <string>{{1,1},{3518,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/scene3bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3497,187}</string>
                <key>spriteSourceSize</key>
                <string>{3497,187}</string>
                <key>textureRect</key>
                <string>{{1,435},{3497,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/toprope.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2461,110}</string>
                <key>spriteSourceSize</key>
                <string>{2461,110}</string>
                <key>textureRect</key>
                <string>{{1,624},{2461,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chain/wordpanel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1201,300}</string>
                <key>spriteSourceSize</key>
                <string>{1201,300}</string>
                <key>textureRect</key>
                <string>{{517,2101},{1201,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chain.png</string>
            <key>size</key>
            <string>{3972,3960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f51e5409dd84f3ee8129f4e39a1e383:f4a18920b65d4893bfd6074ca85a126e:bdabef210107175500f8ed0bb9b37f53$</string>
            <key>textureFileName</key>
            <string>chain.png</string>
        </dict>
    </dict>
</plist>
