<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
	</dict>
	<key>category_names</key>
	<array />
	<key>bodies</key>
	<dict>
		<key>sink</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.49900 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 88.00000,79.75000 }</string>
							<string>{ 88.00000,60.25000 }</string>
							<string>{ -88.00000,60.25000 }</string>
							<string>{ -88.00000,80.25000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>washingmachine</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.50000 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 85.50000,119.50000 }</string>
							<string>{ 85.50000,-119.50000 }</string>
							<string>{ -83.50000,-119.50000 }</string>
							<string>{ -84.50000,119.50000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>bathroomfloor</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.50000 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.2</real>
					<key>friction</key>
					<real>0.7</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>3</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>1</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 101.50000,-49.50000 }</string>
							<string>{ -100.50000,-49.50000 }</string>
							<string>{ -100.00000,-1.50000 }</string>
							<string>{ 102.00000,-1.50000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>bathtub</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.50000 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -169.50000,0.50000 }</string>
							<string>{ 170.50000,0.50000 }</string>
							<string>{ 170.50000,-141.00000 }</string>
							<string>{ -169.50000,-141.50000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>obj27</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50100,0.50000 }</string>
			<key>is_dynamic</key>
			<true />
			<key>affected_by_gravity</key>
			<true />
			<key>allows_rotation</key>
			<true />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 95.25000,-12.50000 }</string>
							<string>{ 95.25000,-32.50000 }</string>
							<string>{ -95.75000,-32.50000 }</string>
							<string>{ -95.75000,-12.50000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>slab1</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.50000 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.2</real>
					<key>friction</key>
					<real>0.7</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 168.00000,50.00000 }</string>
							<string>{ -167.00000,49.50000 }</string>
							<string>{ -167.00000,77.50000 }</string>
							<string>{ 168.00000,78.00000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>slab2</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50052,0.50100 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.2</real>
					<key>friction</key>
					<real>0.7</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 242.75000,78.25000 }</string>
							<string>{ 242.75000,50.25000 }</string>
							<string>{ -241.25000,50.75000 }</string>
							<string>{ -241.25000,78.75000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>dinning</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.50000 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -83.50000,-56.00000 }</string>
							<string>{ -83.50000,33.50000 }</string>
							<string>{ -71.50000,55.00000 }</string>
							<string>{ 68.50000,55.00000 }</string>
							<string>{ 81.00000,33.50000 }</string>
							<string>{ 81.00000,-56.50000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>fridge</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50200,0.50000 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 78.75000,144.50000 }</string>
							<string>{ 78.75000,124.50000 }</string>
							<string>{ -70.75000,124.50000 }</string>
							<string>{ -70.75000,144.50000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>kitchenfloor</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.50000 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.2</real>
					<key>friction</key>
					<real>0.7</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>3</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>1</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 101.50000,-52.00000 }</string>
							<string>{ -100.50000,-52.00000 }</string>
							<string>{ -100.00000,-1.50000 }</string>
							<string>{ 102.00000,-1.50000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>shelf</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.49900,0.50000 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.2</real>
					<key>friction</key>
					<real>0.7</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 171.75000,-15.50000 }</string>
							<string>{ -171.75000,-15.50000 }</string>
							<string>{ -171.25000,0.50000 }</string>
							<string>{ 172.25000,0.50000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>table</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50100,0.50000 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -113.25000,-104.50000 }</string>
							<string>{ -113.75000,50.50000 }</string>
							<string>{ 113.25000,51.00000 }</string>
							<string>{ 113.75000,-104.50000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>bench</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.49800,0.50000 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 75.25000,42.50000 }</string>
							<string>{ 75.25000,-43.00000 }</string>
							<string>{ -75.25000,-43.00000 }</string>
							<string>{ -75.25000,43.00000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>livingroomfloor</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.50000 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>restitution</key>
					<real>0.2</real>
					<key>friction</key>
					<real>0.7</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>3</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>1</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 102.00000,-1.50000 }</string>
							<string>{ 102.00000,-49.00000 }</string>
							<string>{ -100.00000,-49.00000 }</string>
							<string>{ -100.00000,-1.50000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>