<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pop/bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,69}</string>
                <key>spriteSourceSize</key>
                <string>{292,69}</string>
                <key>textureRect</key>
                <string>{{1,521},{292,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pop/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,66}</string>
                <key>spriteSourceSize</key>
                <string>{117,66}</string>
                <key>textureRect</key>
                <string>{{1,1},{117,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop/fan1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,42}</string>
                <key>textureRect</key>
                <string>{{72,521},{33,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pop/fan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,42}</string>
                <key>textureRect</key>
                <string>{{72,556},{33,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pop/fan3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,42}</string>
                <key>textureRect</key>
                <string>{{72,591},{33,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pop/mountain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,193}</string>
                <key>spriteSourceSize</key>
                <string>{113,193}</string>
                <key>textureRect</key>
                <string>{{1,69},{113,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop/mountain1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,193}</string>
                <key>spriteSourceSize</key>
                <string>{113,193}</string>
                <key>textureRect</key>
                <string>{{1,264},{113,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop/plane.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,60}</string>
                <key>spriteSourceSize</key>
                <string>{100,60}</string>
                <key>textureRect</key>
                <string>{{1,459},{100,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop/puff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,9}</string>
                <key>spriteSourceSize</key>
                <string>{10,9}</string>
                <key>textureRect</key>
                <string>{{103,459},{10,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pop.png</string>
            <key>size</key>
            <string>{119,814}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c7a3fea82cd926d089f8c5d7aae4fa2:2341ab55c4795823362d1cd9b65c0a44:406781c4b8269e9fbc9dbbe92d42060a$</string>
            <key>textureFileName</key>
            <string>pop.png</string>
        </dict>
    </dict>
</plist>
