<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>book1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,93}</string>
                <key>spriteSourceSize</key>
                <string>{41,93}</string>
                <key>textureRect</key>
                <string>{{1700,1617},{41,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>book2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,117}</string>
                <key>spriteSourceSize</key>
                <string>{41,117}</string>
                <key>textureRect</key>
                <string>{{1504,379},{41,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>book3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,77}</string>
                <key>spriteSourceSize</key>
                <string>{41,77}</string>
                <key>textureRect</key>
                <string>{{1440,1857},{41,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>book4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,109}</string>
                <key>spriteSourceSize</key>
                <string>{41,109}</string>
                <key>textureRect</key>
                <string>{{1623,379},{41,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>book5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,103}</string>
                <key>spriteSourceSize</key>
                <string>{41,103}</string>
                <key>textureRect</key>
                <string>{{1700,1512},{41,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bookstand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,504}</string>
                <key>spriteSourceSize</key>
                <string>{358,504}</string>
                <key>textureRect</key>
                <string>{{899,1156},{358,504}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,137}</string>
                <key>spriteSourceSize</key>
                <string>{160,137}</string>
                <key>textureRect</key>
                <string>{{1539,1733},{160,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>certificate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,159}</string>
                <key>spriteSourceSize</key>
                <string>{219,159}</string>
                <key>textureRect</key>
                <string>{{1539,1512},{219,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chair1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,359}</string>
                <key>spriteSourceSize</key>
                <string>{227,359}</string>
                <key>textureRect</key>
                <string>{{532,1494},{227,359}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chair2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,376}</string>
                <key>spriteSourceSize</key>
                <string>{249,376}</string>
                <key>textureRect</key>
                <string>{{1504,1},{249,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chair3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{704,365}</string>
                <key>spriteSourceSize</key>
                <string>{704,365}</string>
                <key>textureRect</key>
                <string>{{532,788},{704,365}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dripstand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,628}</string>
                <key>spriteSourceSize</key>
                <string>{356,628}</string>
                <key>textureRect</key>
                <string>{{850,422},{356,628}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>emergency.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,78}</string>
                <key>spriteSourceSize</key>
                <string>{343,78}</string>
                <key>textureRect</key>
                <string>{{1459,1512},{343,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heartratemonitor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,117}</string>
                <key>spriteSourceSize</key>
                <string>{196,117}</string>
                <key>textureRect</key>
                <string>{{879,1800},{196,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospitalbed1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{652,419}</string>
                <key>spriteSourceSize</key>
                <string>{652,419}</string>
                <key>textureRect</key>
                <string>{{850,1},{652,419}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospitalbed2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,292}</string>
                <key>spriteSourceSize</key>
                <string>{641,292}</string>
                <key>textureRect</key>
                <string>{{1480,422},{641,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hospitalfloor1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,134}</string>
                <key>spriteSourceSize</key>
                <string>{334,134}</string>
                <key>textureRect</key>
                <string>{{1323,1516},{334,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hospitalfloor3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,95}</string>
                <key>spriteSourceSize</key>
                <string>{212,95}</string>
                <key>textureRect</key>
                <string>{{782,1723},{212,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hospitallights.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,312}</string>
                <key>spriteSourceSize</key>
                <string>{354,312}</string>
                <key>textureRect</key>
                <string>{{1405,1156},{354,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>injection.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,28}</string>
                <key>spriteSourceSize</key>
                <string>{131,28}</string>
                <key>textureRect</key>
                <string>{{1455,1115},{131,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,323}</string>
                <key>spriteSourceSize</key>
                <string>{95,323}</string>
                <key>textureRect</key>
                <string>{{431,1632},{95,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piller.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{529,842}</string>
                <key>spriteSourceSize</key>
                <string>{529,842}</string>
                <key>textureRect</key>
                <string>{{1,788},{529,842}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>steps.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{847,785}</string>
                <key>spriteSourceSize</key>
                <string>{847,785}</string>
                <key>textureRect</key>
                <string>{{1,1},{847,785}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stethoscope.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,114}</string>
                <key>spriteSourceSize</key>
                <string>{182,114}</string>
                <key>textureRect</key>
                <string>{{1077,1800},{182,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>syrup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,177}</string>
                <key>spriteSourceSize</key>
                <string>{87,177}</string>
                <key>textureRect</key>
                <string>{{1261,1852},{87,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>table4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{554,374}</string>
                <key>spriteSourceSize</key>
                <string>{554,374}</string>
                <key>textureRect</key>
                <string>{{899,780},{554,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,298}</string>
                <key>spriteSourceSize</key>
                <string>{48,298}</string>
                <key>textureRect</key>
                <string>{{1455,1065},{48,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wall2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{47,47}</string>
                <key>textureRect</key>
                <string>{{1261,1800},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wallclock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,247}</string>
                <key>spriteSourceSize</key>
                <string>{252,247}</string>
                <key>textureRect</key>
                <string>{{528,1723},{252,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weighingmachine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,84}</string>
                <key>spriteSourceSize</key>
                <string>{127,84}</string>
                <key>textureRect</key>
                <string>{{1483,1872},{127,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheelchair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,428}</string>
                <key>spriteSourceSize</key>
                <string>{332,428}</string>
                <key>textureRect</key>
                <string>{{1,1632},{332,428}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,282}</string>
                <key>spriteSourceSize</key>
                <string>{428,282}</string>
                <key>textureRect</key>
                <string>{{893,1516},{428,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hospital.png</string>
            <key>size</key>
            <string>{1773,1971}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f2669094ff57dbc7aade7762bf01c67:67b73c2f2b184041671699ad35a0bc05:af25e981db9cd6765691747bbcc9249e$</string>
            <key>textureFileName</key>
            <string>hospital.png</string>
        </dict>
    </dict>
</plist>
