<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bgmap/bird_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1488,812},{153,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,116}</string>
			</dict>
			<key>bgmap/bird_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1397,2287},{52,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,41}</string>
			</dict>
			<key>bgmap/bird_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1401,1026},{144,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,124}</string>
			</dict>
			<key>bgmap/bird_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1539,674},{134,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,74}</string>
			</dict>
			<key>bgmap/bird_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1401,231},{233,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{233,215}</string>
			</dict>
			<key>bgmap/bird_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1614,2034},{204,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,250}</string>
			</dict>
			<key>bgmap/bird_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1437,1789},{245,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{245,211}</string>
			</dict>
			<key>bgmap/bird_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,1431},{291,621}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{549,621}</string>
			</dict>
			<key>bgmap/dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1401,1431}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1401,1431}</string>
			</dict>
			<key>bgmap/flower_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1401,464},{210,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,203}</string>
			</dict>
			<key>bgmap/flower_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1188,1789},{252,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,249}</string>
			</dict>
			<key>bgmap/flower_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1397,2041},{217,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,246}</string>
			</dict>
			<key>bgmap/flower_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1401,0},{218,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,231}</string>
			</dict>
			<key>bgmap/flower_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,2052},{292,278}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,279}</string>
			</dict>
			<key>bgmap/flower_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1401,674},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>bgmap/flower_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1604,464},{84,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,87}</string>
			</dict>
			<key>bgmap/flower_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1604,551},{89,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,81}</string>
			</dict>
			<key>bgmap/heart.png</key>
			<dict>
				<key>frame</key>
				<string>{{1488,965},{53,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,52}</string>
			</dict>
			<key>bgmap/leaf_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1401,812},{214,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{214,87}</string>
			</dict>
			<key>bgmap/leaf_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1189,2041},{208,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,285}</string>
			</dict>
			<key>bgmap/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1431},{902,897}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{902,897}</string>
			</dict>
			<key>bgmap/sun.png</key>
			<dict>
				<key>frame</key>
				<string>{{1188,1431},{358,357}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{358,357}</string>
			</dict>
			<key>bgmap/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2333},{1950,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1950,350}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>bgmap.png</string>
			<key>realTextureFileName</key>
			<string>bgmap.png</string>
			<key>size</key>
			<string>{1950,2683}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1950</integer>
			<key>height</key>
			<integer>2683</integer>
		</dict>
	</dict>
</plist>