<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>miningsupply/miningsupply2/brush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,79}</string>
                <key>spriteSourceSize</key>
                <string>{36,79}</string>
                <key>textureRect</key>
                <string>{{1,1},{36,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>miningsupply/miningsupply2/cartonbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,104}</string>
                <key>spriteSourceSize</key>
                <string>{134,104}</string>
                <key>textureRect</key>
                <string>{{348,1},{134,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miningsupply/miningsupply2/crate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,138}</string>
                <key>spriteSourceSize</key>
                <string>{149,138}</string>
                <key>textureRect</key>
                <string>{{484,1},{149,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miningsupply/miningsupply2/dooranimation1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,321}</string>
                <key>spriteSourceSize</key>
                <string>{314,321}</string>
                <key>textureRect</key>
                <string>{{1,324},{314,321}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>miningsupply/miningsupply2/dooranimation2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,343}</string>
                <key>spriteSourceSize</key>
                <string>{314,343}</string>
                <key>textureRect</key>
                <string>{{324,337},{314,343}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>miningsupply/miningsupply2/dooranimation3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,346}</string>
                <key>spriteSourceSize</key>
                <string>{314,346}</string>
                <key>textureRect</key>
                <string>{{669,337},{314,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>miningsupply/miningsupply2/foundationtile1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,84}</string>
                <key>spriteSourceSize</key>
                <string>{85,84}</string>
                <key>textureRect</key>
                <string>{{261,1},{85,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miningsupply/miningsupply2/foundationtile2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,86}</string>
                <key>spriteSourceSize</key>
                <string>{81,86}</string>
                <key>textureRect</key>
                <string>{{173,1},{81,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>miningsupply/miningsupply2/hammer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,89}</string>
                <key>spriteSourceSize</key>
                <string>{67,89}</string>
                <key>textureRect</key>
                <string>{{82,1},{67,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>miningsupply/miningsupply2/picksaw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,151}</string>
                <key>spriteSourceSize</key>
                <string>{165,151}</string>
                <key>textureRect</key>
                <string>{{635,1},{165,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miningsupply/miningsupply2/rooftile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,181}</string>
                <key>spriteSourceSize</key>
                <string>{257,181}</string>
                <key>textureRect</key>
                <string>{{802,1},{257,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>miningsupply/miningsupply2/walltile1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,181}</string>
                <key>spriteSourceSize</key>
                <string>{257,181}</string>
                <key>textureRect</key>
                <string>{{1,84},{257,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miningsupply/miningsupply2/walltile2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,181}</string>
                <key>spriteSourceSize</key>
                <string>{257,181}</string>
                <key>textureRect</key>
                <string>{{260,141},{257,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miningsupply/miningsupply2/walltile3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,181}</string>
                <key>spriteSourceSize</key>
                <string>{257,181}</string>
                <key>textureRect</key>
                <string>{{519,154},{257,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>miningsupply2.png</string>
            <key>size</key>
            <string>{1016,652}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47bccfd851452979e203df4ed0d15f87:14bdfa1ab41ebb1eecd0aaa6ca8c2594:115bc501906d8b60f9f486389a741bb8$</string>
            <key>textureFileName</key>
            <string>miningsupply2.png</string>
        </dict>
    </dict>
</plist>
