<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mathlearninglevel/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,62}</string>
                <key>spriteSourceSize</key>
                <string>{31,62}</string>
                <key>textureRect</key>
                <string>{{379,223},{31,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mathlearninglevel/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,61}</string>
                <key>spriteSourceSize</key>
                <string>{43,61}</string>
                <key>textureRect</key>
                <string>{{677,46},{43,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mathlearninglevel/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,62}</string>
                <key>spriteSourceSize</key>
                <string>{43,62}</string>
                <key>textureRect</key>
                <string>{{632,47},{43,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mathlearninglevel/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,63}</string>
                <key>spriteSourceSize</key>
                <string>{48,63}</string>
                <key>textureRect</key>
                <string>{{532,1},{48,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mathlearninglevel/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,62}</string>
                <key>spriteSourceSize</key>
                <string>{43,62}</string>
                <key>textureRect</key>
                <string>{{661,1},{43,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mathlearninglevel/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,62}</string>
                <key>spriteSourceSize</key>
                <string>{44,62}</string>
                <key>textureRect</key>
                <string>{{597,1},{44,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mathlearninglevel/7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,61}</string>
                <key>spriteSourceSize</key>
                <string>{43,61}</string>
                <key>textureRect</key>
                <string>{{677,109},{43,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mathlearninglevel/8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,62}</string>
                <key>spriteSourceSize</key>
                <string>{44,62}</string>
                <key>textureRect</key>
                <string>{{615,201},{44,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mathlearninglevel/9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,62}</string>
                <key>spriteSourceSize</key>
                <string>{44,62}</string>
                <key>textureRect</key>
                <string>{{631,124},{44,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mathlearninglevel/apple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,67}</string>
                <key>spriteSourceSize</key>
                <string>{57,67}</string>
                <key>textureRect</key>
                <string>{{476,58},{57,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mathlearninglevel/book.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,71}</string>
                <key>spriteSourceSize</key>
                <string>{95,71}</string>
                <key>textureRect</key>
                <string>{{535,51},{95,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mathlearninglevel/cheese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,51}</string>
                <key>spriteSourceSize</key>
                <string>{59,51}</string>
                <key>textureRect</key>
                <string>{{554,201},{59,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mathlearninglevel/circle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,69}</string>
                <key>spriteSourceSize</key>
                <string>{80,69}</string>
                <key>textureRect</key>
                <string>{{394,58},{80,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mathlearninglevel/circle4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,127}</string>
                <key>spriteSourceSize</key>
                <string>{127,127}</string>
                <key>textureRect</key>
                <string>{{136,1},{127,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mathlearninglevel/circle5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,111}</string>
                <key>spriteSourceSize</key>
                <string>{111,111}</string>
                <key>textureRect</key>
                <string>{{266,130},{111,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mathlearninglevel/circle6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{467,129},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mathlearninglevel/circle7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,127}</string>
                <key>spriteSourceSize</key>
                <string>{127,127}</string>
                <key>textureRect</key>
                <string>{{265,1},{127,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mathlearninglevel/cup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,91}</string>
                <key>spriteSourceSize</key>
                <string>{86,91}</string>
                <key>textureRect</key>
                <string>{{379,130},{86,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mathlearninglevel/donut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{554,124},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mathlearninglevel/fish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,55}</string>
                <key>spriteSourceSize</key>
                <string>{136,55}</string>
                <key>textureRect</key>
                <string>{{394,1},{136,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mathlearninglevel/shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{136,130},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mathlearninglevel/submarine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,133}</string>
                <key>spriteSourceSize</key>
                <string>{226,133}</string>
                <key>textureRect</key>
                <string>{{1,1},{226,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mathlearninglevel/tooth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,53}</string>
                <key>spriteSourceSize</key>
                <string>{45,53}</string>
                <key>textureRect</key>
                <string>{{679,172},{45,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mathlearninglevel.png</string>
            <key>size</key>
            <string>{725,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8069b9925dfca362e6ff48c7760db1d5:b0715d358a04d490ff32ef63ead28b16:20b4c81f73b759c45d8f68d253acea15$</string>
            <key>textureFileName</key>
            <string>mathlearninglevel.png</string>
        </dict>
    </dict>
</plist>
