<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scoreboard/Gift0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-52}</string>
                <key>spriteSize</key>
                <string>{351,334}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1,2778},{351,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-52}</string>
                <key>spriteSize</key>
                <string>{351,334}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1,3114},{351,334}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-52}</string>
                <key>spriteSize</key>
                <string>{351,334}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{337,3114},{351,334}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-53}</string>
                <key>spriteSize</key>
                <string>{351,332}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{711,2695},{351,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-54}</string>
                <key>spriteSize</key>
                <string>{353,330}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1602,1490},{353,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-55}</string>
                <key>spriteSize</key>
                <string>{353,328}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1157,1773},{353,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-57}</string>
                <key>spriteSize</key>
                <string>{353,324}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1,2130},{353,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-59}</string>
                <key>spriteSize</key>
                <string>{353,320}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1,2456},{353,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-61}</string>
                <key>spriteSize</key>
                <string>{351,314}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{673,3029},{351,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-63}</string>
                <key>spriteSize</key>
                <string>{353,310}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1066,2103},{353,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-66}</string>
                <key>spriteSize</key>
                <string>{353,304}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{356,2668},{353,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-63}</string>
                <key>spriteSize</key>
                <string>{353,310}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1066,2103},{353,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-61}</string>
                <key>spriteSize</key>
                <string>{351,314}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{673,3029},{351,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-59}</string>
                <key>spriteSize</key>
                <string>{353,320}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1,2456},{353,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-57}</string>
                <key>spriteSize</key>
                <string>{353,324}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1,2130},{353,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-55}</string>
                <key>spriteSize</key>
                <string>{353,328}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1157,1773},{353,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-54}</string>
                <key>spriteSize</key>
                <string>{353,330}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1602,1490},{353,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-53}</string>
                <key>spriteSize</key>
                <string>{351,332}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{711,2695},{351,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-52}</string>
                <key>spriteSize</key>
                <string>{351,334}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{337,3114},{351,334}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-52}</string>
                <key>spriteSize</key>
                <string>{351,334}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1,3114},{351,334}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-52}</string>
                <key>spriteSize</key>
                <string>{351,334}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1,2778},{351,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-52}</string>
                <key>spriteSize</key>
                <string>{351,334}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1421,2144},{351,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-52}</string>
                <key>spriteSize</key>
                <string>{351,334}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1066,2415},{351,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-53}</string>
                <key>spriteSize</key>
                <string>{351,332}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1419,2480},{351,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-54}</string>
                <key>spriteSize</key>
                <string>{353,330}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{802,1725},{353,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-55}</string>
                <key>spriteSize</key>
                <string>{353,328}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{356,2014},{353,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-57}</string>
                <key>spriteSize</key>
                <string>{353,324}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{711,2057},{353,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-59}</string>
                <key>spriteSize</key>
                <string>{353,320}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1512,1822},{353,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-61}</string>
                <key>spriteSize</key>
                <string>{351,314}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1026,3081},{351,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-63}</string>
                <key>spriteSize</key>
                <string>{353,310}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{711,2383},{353,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-66}</string>
                <key>spriteSize</key>
                <string>{357,304}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{443,1708},{357,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-64}</string>
                <key>spriteSize</key>
                <string>{351,310}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1584,3294},{351,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-61}</string>
                <key>spriteSize</key>
                <string>{351,316}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1417,2814},{351,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-58}</string>
                <key>spriteSize</key>
                <string>{353,322}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{356,2344},{353,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-55}</string>
                <key>spriteSize</key>
                <string>{351,328}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1064,2751},{351,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-45}</string>
                <key>spriteSize</key>
                <string>{353,348}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1247,1423},{353,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-43}</string>
                <key>spriteSize</key>
                <string>{353,352}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1,1776},{353,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-23}</string>
                <key>spriteSize</key>
                <string>{355,392}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1399,1066},{355,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-35}</string>
                <key>spriteSize</key>
                <string>{353,368}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{877,1370},{353,368}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-3}</string>
                <key>spriteSize</key>
                <string>{343,432}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{965,1025},{343,432}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-3}</string>
                <key>spriteSize</key>
                <string>{339,432}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{443,1367},{339,432}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{383,446}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1579,681},{383,446}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,1}</string>
                <key>spriteSize</key>
                <string>{435,440}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1,1339},{435,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/Gift0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-41}</string>
                <key>spriteSize</key>
                <string>{453,356}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1579,1},{453,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-59}</string>
                <key>spriteSize</key>
                <string>{453,320}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1579,359},{453,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-49}</string>
                <key>spriteSize</key>
                <string>{465,340}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{498,1025},{465,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/Gift0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-63}</string>
                <key>spriteSize</key>
                <string>{495,312}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1,1025},{495,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/forwardbuttondisabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,203}</string>
                <key>spriteSourceSize</key>
                <string>{203,203}</string>
                <key>textureRect</key>
                <string>{{1309,3397},{203,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/forwardbuttonoff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,203}</string>
                <key>spriteSourceSize</key>
                <string>{203,203}</string>
                <key>textureRect</key>
                <string>{{1379,3132},{203,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/forwardbuttonon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,203}</string>
                <key>spriteSourceSize</key>
                <string>{203,203}</string>
                <key>textureRect</key>
                <string>{{1770,2886},{203,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/gamebuttonoff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,210}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{1793,1066},{210,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/gamebuttonon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,210}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{1793,1278},{210,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/homebuttonoff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,210}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{673,3397},{210,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/homebuttonon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,210}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{885,3397},{210,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/reloadbuttonoff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,210}</string>
                <key>spriteSourceSize</key>
                <string>{210,210}</string>
                <key>textureRect</key>
                <string>{{1097,3397},{210,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/reloadbuttonon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,201}</string>
                <key>spriteSourceSize</key>
                <string>{201,201}</string>
                <key>textureRect</key>
                <string>{{1770,3091},{201,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/scoreboard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1576,1022}</string>
                <key>spriteSourceSize</key>
                <string>{1576,1022}</string>
                <key>textureRect</key>
                <string>{{1,1},{1576,1022}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/star1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,257}</string>
                <key>spriteSourceSize</key>
                <string>{246,257}</string>
                <key>textureRect</key>
                <string>{{1774,2144},{246,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/star2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,245}</string>
                <key>spriteSourceSize</key>
                <string>{256,245}</string>
                <key>textureRect</key>
                <string>{{1774,2392},{256,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/star3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,256}</string>
                <key>spriteSourceSize</key>
                <string>{245,256}</string>
                <key>textureRect</key>
                <string>{{1772,2639},{245,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>scoreboard.png</string>
            <key>size</key>
            <string>{2033,3608}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33fade1e35926407f9a0c9af89291765:267fa062278b8842f838c93c8c40c096:ac1866e6d6ad044c687d587f0f490ec9$</string>
            <key>textureFileName</key>
            <string>scoreboard.png</string>
        </dict>
    </dict>
</plist>
