<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mke_Mti/apple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,324}</string>
                <key>spriteSourceSize</key>
                <string>{247,324}</string>
                <key>textureRect</key>
                <string>{{3746,954},{247,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/apron.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{426,598}</string>
                <key>spriteSourceSize</key>
                <string>{426,598}</string>
                <key>textureRect</key>
                <string>{{1678,1767},{426,598}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/beadchain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,165}</string>
                <key>spriteSourceSize</key>
                <string>{235,165}</string>
                <key>textureRect</key>
                <string>{{3716,787},{235,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/bulb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,454}</string>
                <key>spriteSourceSize</key>
                <string>{275,454}</string>
                <key>textureRect</key>
                <string>{{3716,331},{275,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{985,454}</string>
                <key>spriteSourceSize</key>
                <string>{985,454}</string>
                <key>textureRect</key>
                <string>{{1,1590},{985,454}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/chair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{359,916}</string>
                <key>spriteSourceSize</key>
                <string>{359,916}</string>
                <key>textureRect</key>
                <string>{{887,494},{359,916}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/cloudp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,123}</string>
                <key>spriteSourceSize</key>
                <string>{196,123}</string>
                <key>textureRect</key>
                <string>{{1671,855},{196,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,885}</string>
                <key>spriteSourceSize</key>
                <string>{514,885}</string>
                <key>textureRect</key>
                <string>{{1887,1},{514,885}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/drop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,48}</string>
                <key>spriteSourceSize</key>
                <string>{72,48}</string>
                <key>textureRect</key>
                <string>{{1671,1053},{72,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/facebad1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{648,595}</string>
                <key>spriteSourceSize</key>
                <string>{648,595}</string>
                <key>textureRect</key>
                <string>{{2499,517},{648,595}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/facebad2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{648,595}</string>
                <key>spriteSourceSize</key>
                <string>{648,595}</string>
                <key>textureRect</key>
                <string>{{3096,1055},{648,595}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/faceold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{638,599}</string>
                <key>spriteSourceSize</key>
                <string>{638,599}</string>
                <key>textureRect</key>
                <string>{{813,899},{638,599}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/faceold2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{638,599}</string>
                <key>spriteSourceSize</key>
                <string>{638,599}</string>
                <key>textureRect</key>
                <string>{{1077,1539},{638,599}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/faceold4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{638,599}</string>
                <key>spriteSourceSize</key>
                <string>{638,599}</string>
                <key>textureRect</key>
                <string>{{2310,1167},{638,599}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/facewood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{692,618}</string>
                <key>spriteSourceSize</key>
                <string>{692,618}</string>
                <key>textureRect</key>
                <string>{{457,1590},{692,618}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/facewood1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{692,618}</string>
                <key>spriteSourceSize</key>
                <string>{692,618}</string>
                <key>textureRect</key>
                <string>{{1805,517},{692,618}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/facewood2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{692,618}</string>
                <key>spriteSourceSize</key>
                <string>{692,618}</string>
                <key>textureRect</key>
                <string>{{3096,361},{692,618}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/farmer_shirt_sleave_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,117}</string>
                <key>spriteSourceSize</key>
                <string>{72,117}</string>
                <key>textureRect</key>
                <string>{{2774,424},{72,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,28}</string>
                <key>spriteSourceSize</key>
                <string>{114,28}</string>
                <key>textureRect</key>
                <string>{{3743,2544},{114,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,76}</string>
                <key>textureRect</key>
                <string>{{2438,2605},{50,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,172}</string>
                <key>spriteSourceSize</key>
                <string>{28,172}</string>
                <key>textureRect</key>
                <string>{{2310,1137},{28,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/girl_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,105}</string>
                <key>spriteSourceSize</key>
                <string>{22,105}</string>
                <key>textureRect</key>
                <string>{{1,2633},{22,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,135}</string>
                <key>spriteSourceSize</key>
                <string>{66,135}</string>
                <key>textureRect</key>
                <string>{{3504,2575},{66,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,273}</string>
                <key>spriteSourceSize</key>
                <string>{61,273}</string>
                <key>textureRect</key>
                <string>{{2774,361},{61,273}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/girl_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,89}</string>
                <key>spriteSourceSize</key>
                <string>{21,89}</string>
                <key>textureRect</key>
                <string>{{3070,1167},{21,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/hammer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,384}</string>
                <key>spriteSourceSize</key>
                <string>{186,384}</string>
                <key>textureRect</key>
                <string>{{3743,2158},{186,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/headring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{461,118}</string>
                <key>spriteSourceSize</key>
                <string>{461,118}</string>
                <key>textureRect</key>
                <string>{{2950,1167},{461,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/leaf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,197}</string>
                <key>spriteSourceSize</key>
                <string>{80,197}</string>
                <key>textureRect</key>
                <string>{{3305,2575},{80,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/log.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,863}</string>
                <key>spriteSourceSize</key>
                <string>{358,863}</string>
                <key>textureRect</key>
                <string>{{2774,1},{358,863}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/mooncresent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{446,467}</string>
                <key>spriteSourceSize</key>
                <string>{446,467}</string>
                <key>textureRect</key>
                <string>{{2878,1768},{446,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/motu_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,415}</string>
                <key>spriteSourceSize</key>
                <string>{415,415}</string>
                <key>textureRect</key>
                <string>{{3326,2158},{415,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/motu_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,145}</string>
                <key>spriteSourceSize</key>
                <string>{23,145}</string>
                <key>textureRect</key>
                <string>{{3960,1},{23,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/motu_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,165}</string>
                <key>spriteSourceSize</key>
                <string>{27,165}</string>
                <key>textureRect</key>
                <string>{{3953,787},{27,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/motu_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,597}</string>
                <key>spriteSourceSize</key>
                <string>{416,597}</string>
                <key>textureRect</key>
                <string>{{2278,2187},{416,597}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/motu_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,33}</string>
                <key>spriteSourceSize</key>
                <string>{159,33}</string>
                <key>textureRect</key>
                <string>{{887,855},{159,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/pigeon_beak_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,131}</string>
                <key>spriteSourceSize</key>
                <string>{105,131}</string>
                <key>textureRect</key>
                <string>{{2950,1630},{105,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/pigeon_beak_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,67}</string>
                <key>spriteSourceSize</key>
                <string>{154,67}</string>
                <key>textureRect</key>
                <string>{{997,2284},{154,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/pigeon_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,0}</string>
                <key>spriteSize</key>
                <string>{998,491}</string>
                <key>spriteSourceSize</key>
                <string>{1032,491}</string>
                <key>textureRect</key>
                <string>{{887,1},{998,491}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/pigeon_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1568,1390},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/pigeon_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{630,628}</string>
                <key>spriteSourceSize</key>
                <string>{636,628}</string>
                <key>textureRect</key>
                <string>{{1678,1137},{630,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/pigeon_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,152}</string>
                <key>spriteSourceSize</key>
                <string>{144,152}</string>
                <key>textureRect</key>
                <string>{{1414,1390},{144,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/pigeon_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,152}</string>
                <key>spriteSourceSize</key>
                <string>{144,152}</string>
                <key>textureRect</key>
                <string>{{3746,1280},{144,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/pigeon_right_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{533,255}</string>
                <key>spriteSourceSize</key>
                <string>{533,255}</string>
                <key>textureRect</key>
                <string>{{1414,855},{533,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/pigeon_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{426,417}</string>
                <key>spriteSourceSize</key>
                <string>{426,417}</string>
                <key>textureRect</key>
                <string>{{2877,2237},{426,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/pigeon_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,277}</string>
                <key>spriteSourceSize</key>
                <string>{538,277}</string>
                <key>textureRect</key>
                <string>{{457,2284},{538,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/sheep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{455,504}</string>
                <key>spriteSourceSize</key>
                <string>{455,504}</string>
                <key>textureRect</key>
                <string>{{3326,1652},{455,504}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/shirt2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,598}</string>
                <key>spriteSourceSize</key>
                <string>{417,598}</string>
                <key>textureRect</key>
                <string>{{2278,1768},{417,598}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/shirt3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,598}</string>
                <key>spriteSourceSize</key>
                <string>{417,598}</string>
                <key>textureRect</key>
                <string>{{1077,2179},{417,598}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/stick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,159}</string>
                <key>spriteSourceSize</key>
                <string>{50,159}</string>
                <key>textureRect</key>
                <string>{{2277,2605},{50,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{884,896}</string>
                <key>spriteSourceSize</key>
                <string>{884,896}</string>
                <key>textureRect</key>
                <string>{{1,1},{884,896}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/tree_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{810,689}</string>
                <key>spriteSourceSize</key>
                <string>{810,689}</string>
                <key>textureRect</key>
                <string>{{1,899},{810,689}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/tribalhips1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,328}</string>
                <key>spriteSourceSize</key>
                <string>{319,328}</string>
                <key>textureRect</key>
                <string>{{3639,1},{319,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/upperhand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,196}</string>
                <key>spriteSourceSize</key>
                <string>{44,196}</string>
                <key>textureRect</key>
                <string>{{813,1539},{44,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/wave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,54}</string>
                <key>spriteSourceSize</key>
                <string>{389,54}</string>
                <key>textureRect</key>
                <string>{{1,2577},{389,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mke_Mti/womanshirt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,598}</string>
                <key>spriteSourceSize</key>
                <string>{417,598}</string>
                <key>textureRect</key>
                <string>{{1677,2195},{417,598}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mke_Mti/z.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,102}</string>
                <key>spriteSourceSize</key>
                <string>{98,102}</string>
                <key>textureRect</key>
                <string>{{3892,1280},{98,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mke_Mti.png</string>
            <key>size</key>
            <string>{3995,2656}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b5017f48d48b2de3109c208c8a54b71:9ae6f691113f06d63128c99691d3c809:d29e218dd5f6fe100871b75fbd79d910$</string>
            <key>textureFileName</key>
            <string>Mke_Mti.png</string>
        </dict>
    </dict>
</plist>
