<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Watoto_wa_Nta_Children_of_wax/03-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,40}</string>
                <key>spriteSourceSize</key>
                <string>{48,40}</string>
                <key>textureRect</key>
                <string>{{393,1082},{48,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/03-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,96}</string>
                <key>spriteSourceSize</key>
                <string>{6,96}</string>
                <key>textureRect</key>
                <string>{{377,1071},{6,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/03-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,75}</string>
                <key>spriteSourceSize</key>
                <string>{18,75}</string>
                <key>textureRect</key>
                <string>{{430,123},{18,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/03-06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,91}</string>
                <key>spriteSourceSize</key>
                <string>{16,91}</string>
                <key>textureRect</key>
                <string>{{486,1353},{16,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/03-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{248,925},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/03-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,245}</string>
                <key>spriteSourceSize</key>
                <string>{233,245}</string>
                <key>textureRect</key>
                <string>{{1,729},{233,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/03-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{236,427}</string>
                <key>spriteSourceSize</key>
                <string>{240,429}</string>
                <key>textureRect</key>
                <string>{{1,1},{236,427}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/03-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,58}</string>
                <key>spriteSourceSize</key>
                <string>{66,58}</string>
                <key>textureRect</key>
                <string>{{430,160},{66,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/03-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,36}</string>
                <key>spriteSourceSize</key>
                <string>{83,36}</string>
                <key>textureRect</key>
                <string>{{277,1409},{83,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/arm_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,26}</string>
                <key>spriteSourceSize</key>
                <string>{17,26}</string>
                <key>textureRect</key>
                <string>{{207,1380},{17,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/arm_hand_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,26}</string>
                <key>spriteSourceSize</key>
                <string>{17,26}</string>
                <key>textureRect</key>
                <string>{{207,1408},{17,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/arm_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,55}</string>
                <key>spriteSourceSize</key>
                <string>{12,55}</string>
                <key>textureRect</key>
                <string>{{386,567},{12,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/arm_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,55}</string>
                <key>spriteSourceSize</key>
                <string>{12,55}</string>
                <key>textureRect</key>
                <string>{{386,624},{12,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/arm_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,66}</string>
                <key>spriteSourceSize</key>
                <string>{14,66}</string>
                <key>textureRect</key>
                <string>{{430,220},{14,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/arm_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,66}</string>
                <key>spriteSourceSize</key>
                <string>{14,66}</string>
                <key>textureRect</key>
                <string>{{430,236},{14,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/body_female.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,140}</string>
                <key>spriteSourceSize</key>
                <string>{109,140}</string>
                <key>textureRect</key>
                <string>{{396,790},{109,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/body_male.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,140}</string>
                <key>spriteSourceSize</key>
                <string>{103,140}</string>
                <key>textureRect</key>
                <string>{{403,511},{103,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/bonfire1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{59,61}</string>
                <key>spriteSourceSize</key>
                <string>{59,77}</string>
                <key>textureRect</key>
                <string>{{387,1487},{59,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/bonfire2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,77}</string>
                <key>spriteSourceSize</key>
                <string>{59,77}</string>
                <key>textureRect</key>
                <string>{{430,1},{59,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/bonfire3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,77}</string>
                <key>spriteSourceSize</key>
                <string>{59,77}</string>
                <key>textureRect</key>
                <string>{{430,62},{59,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/boy_nose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,107}</string>
                <key>spriteSourceSize</key>
                <string>{137,107}</string>
                <key>textureRect</key>
                <string>{{400,653},{135,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{472,1082},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/ear_round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,44}</string>
                <key>spriteSourceSize</key>
                <string>{35,44}</string>
                <key>textureRect</key>
                <string>{{435,1082},{35,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/eye_boy_outer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,6}</string>
                <key>spriteSourceSize</key>
                <string>{24,6}</string>
                <key>textureRect</key>
                <string>{{333,810},{24,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/eye_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,8}</string>
                <key>spriteSourceSize</key>
                <string>{25,8}</string>
                <key>textureRect</key>
                <string>{{306,801},{25,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/eyebrow_boy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,16}</string>
                <key>spriteSourceSize</key>
                <string>{28,16}</string>
                <key>textureRect</key>
                <string>{{207,1436},{28,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/eyebrow_girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,10}</string>
                <key>spriteSourceSize</key>
                <string>{30,10}</string>
                <key>textureRect</key>
                <string>{{386,708},{30,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,170}</string>
                <key>spriteSourceSize</key>
                <string>{204,170}</string>
                <key>textureRect</key>
                <string>{{1,1309},{204,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/farmer_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{403,405},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/farmer_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,27}</string>
                <key>spriteSourceSize</key>
                <string>{8,27}</string>
                <key>textureRect</key>
                <string>{{248,805},{8,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/farmer_pant_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,27}</string>
                <key>spriteSourceSize</key>
                <string>{8,27}</string>
                <key>textureRect</key>
                <string>{{277,801},{8,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/farmer_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,37}</string>
                <key>spriteSourceSize</key>
                <string>{9,37}</string>
                <key>textureRect</key>
                <string>{{498,176},{9,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/farmer_pant_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,37}</string>
                <key>spriteSourceSize</key>
                <string>{9,37}</string>
                <key>textureRect</key>
                <string>{{498,215},{9,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/farmer_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,149}</string>
                <key>spriteSourceSize</key>
                <string>{104,149}</string>
                <key>textureRect</key>
                <string>{{403,254},{104,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/farmer_shirt_sleave_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,29}</string>
                <key>spriteSourceSize</key>
                <string>{18,29}</string>
                <key>textureRect</key>
                <string>{{207,1349},{18,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/farmer_shirt_sleave_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,68}</string>
                <key>spriteSourceSize</key>
                <string>{15,68}</string>
                <key>textureRect</key>
                <string>{{430,143},{15,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/hair_Business_man_cut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,161}</string>
                <key>spriteSourceSize</key>
                <string>{226,161}</string>
                <key>textureRect</key>
                <string>{{1,1146},{226,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/hair_curtained_hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,150}</string>
                <key>spriteSourceSize</key>
                <string>{226,150}</string>
                <key>textureRect</key>
                <string>{{229,1181},{226,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/hair_female_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,180}</string>
                <key>spriteSourceSize</key>
                <string>{242,180}</string>
                <key>textureRect</key>
                <string>{{1,964},{242,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,103}</string>
                <key>spriteSourceSize</key>
                <string>{103,103}</string>
                <key>textureRect</key>
                <string>{{381,1353},{103,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/house.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,400}</string>
                <key>spriteSourceSize</key>
                <string>{326,400}</string>
                <key>textureRect</key>
                <string>{{1,239},{326,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/housewife_pelvis_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,130}</string>
                <key>spriteSourceSize</key>
                <string>{108,130}</string>
                <key>textureRect</key>
                <string>{{245,1071},{108,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/housewife_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,148}</string>
                <key>spriteSourceSize</key>
                <string>{113,148}</string>
                <key>textureRect</key>
                <string>{{394,932},{113,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/housewife_turban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,116}</string>
                <key>spriteSourceSize</key>
                <string>{218,116}</string>
                <key>textureRect</key>
                <string>{{385,1133},{218,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/leaf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,102}</string>
                <key>spriteSourceSize</key>
                <string>{125,102}</string>
                <key>textureRect</key>
                <string>{{259,697},{125,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/leg_foot_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,8}</string>
                <key>spriteSourceSize</key>
                <string>{36,8}</string>
                <key>textureRect</key>
                <string>{{248,729},{36,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/leg_foot_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,8}</string>
                <key>spriteSourceSize</key>
                <string>{36,8}</string>
                <key>textureRect</key>
                <string>{{248,767},{36,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/leg_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,31}</string>
                <key>spriteSourceSize</key>
                <string>{7,31}</string>
                <key>textureRect</key>
                <string>{{500,143},{7,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/leg_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,31}</string>
                <key>spriteSourceSize</key>
                <string>{7,31}</string>
                <key>textureRect</key>
                <string>{{333,801},{7,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/leg_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,37}</string>
                <key>spriteSourceSize</key>
                <string>{8,37}</string>
                <key>textureRect</key>
                <string>{{386,740},{8,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/leg_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,37}</string>
                <key>spriteSourceSize</key>
                <string>{8,37}</string>
                <key>textureRect</key>
                <string>{{386,779},{8,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/lightbrown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,25}</string>
                <key>spriteSourceSize</key>
                <string>{11,25}</string>
                <key>textureRect</key>
                <string>{{403,239},{11,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/moon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,198}</string>
                <key>spriteSourceSize</key>
                <string>{172,198}</string>
                <key>textureRect</key>
                <string>{{1,1481},{172,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/mountain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,30}</string>
                <key>spriteSourceSize</key>
                <string>{256,30}</string>
                <key>textureRect</key>
                <string>{{1,697},{256,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/mouth_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,6}</string>
                <key>spriteSourceSize</key>
                <string>{60,6}</string>
                <key>textureRect</key>
                <string>{{385,1071},{60,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/mouth_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,27}</string>
                <key>spriteSourceSize</key>
                <string>{63,27}</string>
                <key>textureRect</key>
                <string>{{387,1458},{63,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/mud-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,128}</string>
                <key>spriteSourceSize</key>
                <string>{383,128}</string>
                <key>textureRect</key>
                <string>{{1,567},{383,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/navyblue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,25}</string>
                <key>spriteSourceSize</key>
                <string>{11,25}</string>
                <key>textureRect</key>
                <string>{{386,681},{11,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,38}</string>
                <key>spriteSourceSize</key>
                <string>{20,38}</string>
                <key>textureRect</key>
                <string>{{207,1309},{20,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/painter_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,145}</string>
                <key>spriteSourceSize</key>
                <string>{105,145}</string>
                <key>textureRect</key>
                <string>{{248,818},{105,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/painter_shirt_sleave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,30}</string>
                <key>spriteSourceSize</key>
                <string>{16,30}</string>
                <key>textureRect</key>
                <string>{{486,1446},{16,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,40}</string>
                <key>textureRect</key>
                <string>{{237,1409},{38,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Watoto_wa_Nta_Children_of_wax/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,178}</string>
                <key>spriteSourceSize</key>
                <string>{178,178}</string>
                <key>textureRect</key>
                <string>{{207,1458},{178,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Watoto_wa_Nta_Children_of_wax.png</string>
            <key>size</key>
            <string>{508,1654}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57bbea58544f0c9279a04139d8700720:299b8d95822846d9ed29f936da0bcace:2966cf2d5d05e685d92751306b806fc7$</string>
            <key>textureFileName</key>
            <string>Watoto_wa_Nta_Children_of_wax.png</string>
        </dict>
    </dict>
</plist>
