<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shapelevel/Hexagon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,99}</string>
                <key>spriteSourceSize</key>
                <string>{114,99}</string>
                <key>textureRect</key>
                <string>{{2337,1},{114,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shapelevel/Hexagon_trans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,162}</string>
                <key>spriteSourceSize</key>
                <string>{159,162}</string>
                <key>textureRect</key>
                <string>{{1340,96},{159,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shapelevel/Octagon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{2579,103},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shapelevel/Octagon_trans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,169}</string>
                <key>spriteSourceSize</key>
                <string>{166,169}</string>
                <key>textureRect</key>
                <string>{{1903,42},{166,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shapelevel/Rectangle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,100}</string>
                <key>spriteSourceSize</key>
                <string>{133,100}</string>
                <key>textureRect</key>
                <string>{{2235,139},{133,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shapelevel/Rectangle_trans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,163}</string>
                <key>spriteSourceSize</key>
                <string>{209,163}</string>
                <key>textureRect</key>
                <string>{{1504,79},{209,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shapelevel/circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,100}</string>
                <key>spriteSourceSize</key>
                <string>{99,100}</string>
                <key>textureRect</key>
                <string>{{2539,1},{99,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shapelevel/circle_trans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,150}</string>
                <key>spriteSourceSize</key>
                <string>{168,150}</string>
                <key>textureRect</key>
                <string>{{431,97},{168,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shapelevel/cross.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{2640,1},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shapelevel/cross_trans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,144}</string>
                <key>spriteSourceSize</key>
                <string>{129,144}</string>
                <key>textureRect</key>
                <string>{{1078,97},{129,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shapelevel/diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,96}</string>
                <key>spriteSourceSize</key>
                <string>{65,96}</string>
                <key>textureRect</key>
                <string>{{1595,1},{65,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shapelevel/diamond_trans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,106}</string>
                <key>spriteSourceSize</key>
                <string>{105,106}</string>
                <key>textureRect</key>
                <string>{{2370,117},{105,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shapelevel/fish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{71,53}</string>
                <key>spriteSourceSize</key>
                <string>{71,57}</string>
                <key>textureRect</key>
                <string>{{2071,176},{71,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shapelevel/fish2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,39}</string>
                <key>spriteSourceSize</key>
                <string>{68,39}</string>
                <key>textureRect</key>
                <string>{{1858,1},{68,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shapelevel/fish3_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,45}</string>
                <key>spriteSourceSize</key>
                <string>{71,45}</string>
                <key>textureRect</key>
                <string>{{1785,1},{71,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shapelevel/heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,99}</string>
                <key>spriteSourceSize</key>
                <string>{110,99}</string>
                <key>textureRect</key>
                <string>{{2438,1},{110,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shapelevel/heart_trans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,139}</string>
                <key>spriteSourceSize</key>
                <string>{187,139}</string>
                <key>textureRect</key>
                <string>{{242,97},{187,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shapelevel/oval.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,100}</string>
                <key>spriteSourceSize</key>
                <string>{76,100}</string>
                <key>textureRect</key>
                <string>{{1493,1},{76,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shapelevel/oval_trans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,162}</string>
                <key>spriteSourceSize</key>
                <string>{151,162}</string>
                <key>textureRect</key>
                <string>{{601,97},{151,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shapelevel/pant3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,239}</string>
                <key>spriteSourceSize</key>
                <string>{157,239}</string>
                <key>textureRect</key>
                <string>{{1,97},{157,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shapelevel/pant6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,186}</string>
                <key>spriteSourceSize</key>
                <string>{189,186}</string>
                <key>textureRect</key>
                <string>{{1715,53},{189,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shapelevel/pentagon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,99}</string>
                <key>spriteSourceSize</key>
                <string>{93,99}</string>
                <key>textureRect</key>
                <string>{{1288,1},{93,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shapelevel/pentagon_trans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,135}</string>
                <key>spriteSourceSize</key>
                <string>{144,135}</string>
                <key>textureRect</key>
                <string>{{941,97},{144,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shapelevel/shell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,50}</string>
                <key>spriteSourceSize</key>
                <string>{90,50}</string>
                <key>textureRect</key>
                <string>{{1693,1},{90,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shapelevel/square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{2680,102},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shapelevel/square_trans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,162}</string>
                <key>spriteSourceSize</key>
                <string>{173,162}</string>
                <key>textureRect</key>
                <string>{{2071,1},{173,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shapelevel/star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,100}</string>
                <key>spriteSourceSize</key>
                <string>{105,100}</string>
                <key>textureRect</key>
                <string>{{2477,113},{105,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shapelevel/star_trans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,129}</string>
                <key>spriteSourceSize</key>
                <string>{129,129}</string>
                <key>textureRect</key>
                <string>{{1209,97},{129,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shapelevel/starfish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,81}</string>
                <key>spriteSourceSize</key>
                <string>{102,81}</string>
                <key>textureRect</key>
                <string>{{1389,1},{102,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shapelevel/triangle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,100}</string>
                <key>spriteSourceSize</key>
                <string>{136,100}</string>
                <key>textureRect</key>
                <string>{{2235,1},{136,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shapelevel/triangle_trans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,138}</string>
                <key>spriteSourceSize</key>
                <string>{174,138}</string>
                <key>textureRect</key>
                <string>{{765,97},{174,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shapelevel/water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1285,94}</string>
                <key>spriteSourceSize</key>
                <string>{1285,94}</string>
                <key>textureRect</key>
                <string>{{1,1},{1285,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shapelevel.png</string>
            <key>size</key>
            <string>{2780,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:759009a7e0d923e166f30bcca0e7c199:65fec5e3e51be84e2eb2d8242b71ba14:92cf1e7a4c8a132dd2301d05b1c1afc3$</string>
            <key>textureFileName</key>
            <string>shapelevel.png</string>
        </dict>
    </dict>
</plist>
