<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>spot/bush.png</key>
			<dict>
				<key>frame</key>
				<string>{{1637,3341},{786,276}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{786,276}</string>
			</dict>
			<key>spot/cake1.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,1961},{480,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,225}</string>
			</dict>
			<key>spot/drytree.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,2224},{694,634}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{694,634}</string>
			</dict>
			<key>spot/fence.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3360},{912,662}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{912,662}</string>
			</dict>
			<key>spot/grass.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2224},{1136,532}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1136,532}</string>
			</dict>
			<key>spot/tree.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1111},{1113,742}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1113,742}</string>
			</dict>
			<key>spot/windmill.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{850,1111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{850,1111}</string>
			</dict>
			<key>spot/ban.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,3345},{725,497}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{725,497}</string>
			</dict>
			<key>spot/chimney.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,3250},{84,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,124}</string>
			</dict>
			<key>spot/cloud1.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,2918},{885,332}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{885,332}</string>
			</dict>
			<key>spot/cloud2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,2779},{804,336}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{804,336}</string>
			</dict>
			<key>spot/ground.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,1761},{1432,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1432,200}</string>
			</dict>
			<key>spot/shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,3842},{888,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{888,114}</string>
			</dict>
			<key>spot/sun.png</key>
			<dict>
				<key>frame</key>
				<string>{{2554,3615},{379,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{379,375}</string>
			</dict>
			<key>spot/tractor.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,1111},{650,538}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{650,538}</string>
			</dict>
			<key>spot/windmillfan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1166,2186},{593,545}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{593,545}</string>
			</dict>
			<key>spot/windmillpole.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,4022},{51,610}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,610}</string>
			</dict>
			<key>spot/buffalobody.png</key>
			<dict>
				<key>frame</key>
				<string>{{2373,3101},{268,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,233}</string>
			</dict>
			<key>spot/buffaloeye.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,3250},{126,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,95}</string>
			</dict>
			<key>spot/buffalohead.png</key>
			<dict>
				<key>frame</key>
				<string>{{1711,2173},{380,399}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,399}</string>
			</dict>
			<key>spot/buffaloicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{2060,2572},{179,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,178}</string>
			</dict>
			<key>spot/buffalomouth.png</key>
			<dict>
				<key>frame</key>
				<string>{{1277,3250},{94,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,59}</string>
			</dict>
			<key>spot/cal.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,3250},{92,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,143}</string>
			</dict>
			<key>spot/cowbody.png</key>
			<dict>
				<key>frame</key>
				<string>{{1971,3115},{229,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,204}</string>
			</dict>
			<key>spot/coweyes.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,3956},{162,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,121}</string>
			</dict>
			<key>spot/cowhead.png</key>
			<dict>
				<key>frame</key>
				<string>{{2167,3617},{430,387}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{430,387}</string>
			</dict>
			<key>spot/cowicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1802,1961},{211,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{211,170}</string>
			</dict>
			<key>spot/cowmouth.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,4022},{126,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,67}</string>
			</dict>
			<key>spot/goatbody.png</key>
			<dict>
				<key>frame</key>
				<string>{{1637,3617},{233,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,157}</string>
			</dict>
			<key>spot/goateyes.png</key>
			<dict>
				<key>frame</key>
				<string>{{1051,3250},{113,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,83}</string>
			</dict>
			<key>spot/goathead.png</key>
			<dict>
				<key>frame</key>
				<string>{{2423,3334},{281,307}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{281,307}</string>
			</dict>
			<key>spot/goaticon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1885,2572},{185,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,175}</string>
			</dict>
			<key>spot/goatmouth.png</key>
			<dict>
				<key>frame</key>
				<string>{{1384,3250},{31,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,66}</string>
			</dict>
			<key>spot/horsebody.png</key>
			<dict>
				<key>frame</key>
				<string>{{1222,1961},{341,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{341,204}</string>
			</dict>
			<key>spot/horseeyes.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,3250},{126,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,95}</string>
			</dict>
			<key>spot/horsehead.png</key>
			<dict>
				<key>frame</key>
				<string>{{2221,2751},{350,378}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,378}</string>
			</dict>
			<key>spot/horseicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1972,1961},{186,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,178}</string>
			</dict>
			<key>spot/horsemouth.png</key>
			<dict>
				<key>frame</key>
				<string>{{1336,3250},{73,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,48}</string>
			</dict>
			<key>spot/pigbody.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,3115},{320,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,226}</string>
			</dict>
			<key>spot/pigeyes.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,4022},{116,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,72}</string>
			</dict>
			<key>spot/pighead.png</key>
			<dict>
				<key>frame</key>
				<string>{{1563,1961},{212,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{212,239}</string>
			</dict>
			<key>spot/pigicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{2200,3115},{215,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,173}</string>
			</dict>
			<key>spot/pigmouth.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,4073},{66,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,23}</string>
			</dict>
			<key>spot/sheepbody.png</key>
			<dict>
				<key>frame</key>
				<string>{{1737,3115},{234,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,212}</string>
			</dict>
			<key>spot/sheepeyes.png</key>
			<dict>
				<key>frame</key>
				<string>{{1164,3250},{113,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,83}</string>
			</dict>
			<key>spot/sheephead.png</key>
			<dict>
				<key>frame</key>
				<string>{{1800,3774},{316,367}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{316,367}</string>
			</dict>
			<key>spot/sheepicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1711,2572},{189,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{189,174}</string>
			</dict>
			<key>spot/sheepmouth.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,4022},{98,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,67}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>spot.png</string>
			<key>realTextureFileName</key>
			<string>spot.png</string>
			<key>size</key>
			<string>{2929,4096}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2929</integer>
			<key>height</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>