<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Background_menu/alphabet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,258}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{262,737},{258,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/birds.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,124}</string>
                <key>spriteSourceSize</key>
                <string>{183,124}</string>
                <key>textureRect</key>
                <string>{{1826,851},{183,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/grammar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,258}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{522,737},{258,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,155}</string>
                <key>spriteSourceSize</key>
                <string>{320,155}</string>
                <key>textureRect</key>
                <string>{{1562,694},{320,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/hill_01_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1281,342}</string>
                <key>spriteSourceSize</key>
                <string>{1281,342}</string>
                <key>textureRect</key>
                <string>{{1,393},{1281,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/hill_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,291}</string>
                <key>spriteSourceSize</key>
                <string>{1280,291}</string>
                <key>textureRect</key>
                <string>{{1283,1},{1280,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/hill_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,390}</string>
                <key>spriteSourceSize</key>
                <string>{1280,390}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/maths.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,258}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{782,737},{258,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/shapes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,259}</string>
                <key>spriteSourceSize</key>
                <string>{262,263}</string>
                <key>textureRect</key>
                <string>{{1,737},{258,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Background_menu/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,489}</string>
                <key>spriteSourceSize</key>
                <string>{489,489}</string>
                <key>textureRect</key>
                <string>{{1975,294},{489,489}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,689}</string>
                <key>spriteSourceSize</key>
                <string>{398,689}</string>
                <key>textureRect</key>
                <string>{{1284,294},{398,689}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Background_menu/tree_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,262}</string>
                <key>spriteSourceSize</key>
                <string>{139,262}</string>
                <key>textureRect</key>
                <string>{{1562,851},{139,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Background_menu/words.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,258}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{1042,737},{258,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/writing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,258}</string>
                <key>spriteSourceSize</key>
                <string>{262,262}</string>
                <key>textureRect</key>
                <string>{{1302,694},{258,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Background_menu.png</string>
            <key>size</key>
            <string>{2564,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98b066c75743f7c82771461c46d2ffc1:1ad654e253c3ce0508e45562369a7666:08c2845c00bcde27686b9d33958ad7b6$</string>
            <key>textureFileName</key>
            <string>Background_menu.png</string>
        </dict>
    </dict>
</plist>
