<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Background_menu/alphabet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,266}</string>
                <key>spriteSourceSize</key>
                <string>{270,270}</string>
                <key>textureRect</key>
                <string>{{896,892},{266,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/alphabet_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,266}</string>
                <key>spriteSourceSize</key>
                <string>{270,270}</string>
                <key>textureRect</key>
                <string>{{1387,401},{266,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/birds.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,124}</string>
                <key>spriteSourceSize</key>
                <string>{183,124}</string>
                <key>textureRect</key>
                <string>{{1260,1487},{183,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/birds_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,141}</string>
                <key>spriteSourceSize</key>
                <string>{176,141}</string>
                <key>textureRect</key>
                <string>{{1082,1487},{176,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/grammar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,266}</string>
                <key>spriteSourceSize</key>
                <string>{270,270}</string>
                <key>textureRect</key>
                <string>{{1655,401},{266,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/grammar_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,266}</string>
                <key>spriteSourceSize</key>
                <string>{270,270}</string>
                <key>textureRect</key>
                <string>{{896,1160},{266,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,173}</string>
                <key>spriteSourceSize</key>
                <string>{325,173}</string>
                <key>textureRect</key>
                <string>{{1164,892},{325,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Background_menu/hill_01_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1281,342}</string>
                <key>spriteSourceSize</key>
                <string>{1281,342}</string>
                <key>textureRect</key>
                <string>{{1,393},{1281,342}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Background_menu/hill_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,291}</string>
                <key>spriteSourceSize</key>
                <string>{1280,291}</string>
                <key>textureRect</key>
                <string>{{345,393},{1280,291}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Background_menu/hill_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,390}</string>
                <key>spriteSourceSize</key>
                <string>{1280,390}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/library.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,127}</string>
                <key>spriteSourceSize</key>
                <string>{1038,133}</string>
                <key>textureRect</key>
                <string>{{638,393},{1032,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Background_menu/library_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1032,127}</string>
                <key>spriteSourceSize</key>
                <string>{1038,133}</string>
                <key>textureRect</key>
                <string>{{767,393},{1032,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Background_menu/maths.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,266}</string>
                <key>spriteSourceSize</key>
                <string>{270,270}</string>
                <key>textureRect</key>
                <string>{{1387,669},{266,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/maths_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,266}</string>
                <key>spriteSourceSize</key>
                <string>{270,270}</string>
                <key>textureRect</key>
                <string>{{1655,669},{266,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/shapes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,266}</string>
                <key>spriteSourceSize</key>
                <string>{270,270}</string>
                <key>textureRect</key>
                <string>{{1339,937},{266,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/shapes_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,266}</string>
                <key>spriteSourceSize</key>
                <string>{270,270}</string>
                <key>textureRect</key>
                <string>{{1607,937},{266,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,489}</string>
                <key>spriteSourceSize</key>
                <string>{489,489}</string>
                <key>textureRect</key>
                <string>{{896,401},{489,489}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,689}</string>
                <key>spriteSourceSize</key>
                <string>{398,689}</string>
                <key>textureRect</key>
                <string>{{1283,1},{398,689}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Background_menu/tree_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,239}</string>
                <key>spriteSourceSize</key>
                <string>{174,239}</string>
                <key>textureRect</key>
                <string>{{638,1427},{174,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/words.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,266}</string>
                <key>spriteSourceSize</key>
                <string>{270,270}</string>
                <key>textureRect</key>
                <string>{{814,1428},{266,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/words_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,266}</string>
                <key>spriteSourceSize</key>
                <string>{270,270}</string>
                <key>textureRect</key>
                <string>{{1164,1219},{266,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/writing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,266}</string>
                <key>spriteSourceSize</key>
                <string>{270,270}</string>
                <key>textureRect</key>
                <string>{{1432,1205},{266,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/writing_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,266}</string>
                <key>spriteSourceSize</key>
                <string>{270,270}</string>
                <key>textureRect</key>
                <string>{{1700,1205},{266,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Background_menu.png</string>
            <key>size</key>
            <string>{1973,1695}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8b8b5fa18f94f111a2acaad7e481aba:a37e611e1047a5c7666ef029454e155c:08c2845c00bcde27686b9d33958ad7b6$</string>
            <key>textureFileName</key>
            <string>Background_menu.png</string>
        </dict>
    </dict>
</plist>
