<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>owlcity/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,57}</string>
                <key>spriteSourceSize</key>
                <string>{49,57}</string>
                <key>textureRect</key>
                <string>{{508,75},{49,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/body_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,57}</string>
                <key>spriteSourceSize</key>
                <string>{49,57}</string>
                <key>textureRect</key>
                <string>{{567,72},{49,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/closeeye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,13}</string>
                <key>spriteSourceSize</key>
                <string>{15,13}</string>
                <key>textureRect</key>
                <string>{{260,110},{15,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/closeeye_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,13}</string>
                <key>spriteSourceSize</key>
                <string>{15,13}</string>
                <key>textureRect</key>
                <string>{{275,110},{15,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/downbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,121}</string>
                <key>spriteSourceSize</key>
                <string>{130,121}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/greenbase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,48}</string>
                <key>spriteSourceSize</key>
                <string>{280,48}</string>
                <key>textureRect</key>
                <string>{{133,1},{280,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/openeye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,13}</string>
                <key>spriteSourceSize</key>
                <string>{15,13}</string>
                <key>textureRect</key>
                <string>{{290,110},{15,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/openeye_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,13}</string>
                <key>spriteSourceSize</key>
                <string>{15,13}</string>
                <key>textureRect</key>
                <string>{{305,101},{15,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/orangebase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,48}</string>
                <key>spriteSourceSize</key>
                <string>{280,48}</string>
                <key>textureRect</key>
                <string>{{133,51},{280,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/smallbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,33}</string>
                <key>textureRect</key>
                <string>{{629,1},{39,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/smallbar_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,33}</string>
                <key>textureRect</key>
                <string>{{626,85},{39,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/tringle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,32}</string>
                <key>spriteSourceSize</key>
                <string>{84,32}</string>
                <key>textureRect</key>
                <string>{{535,38},{84,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/wings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,29}</string>
                <key>spriteSourceSize</key>
                <string>{11,29}</string>
                <key>textureRect</key>
                <string>{{229,101},{11,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/wings_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,29}</string>
                <key>spriteSourceSize</key>
                <string>{11,29}</string>
                <key>textureRect</key>
                <string>{{229,114},{11,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/zebracross1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,7}</string>
                <key>spriteSourceSize</key>
                <string>{32,7}</string>
                <key>textureRect</key>
                <string>{{260,101},{32,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/zebracross2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,26}</string>
                <key>spriteSourceSize</key>
                <string>{94,26}</string>
                <key>textureRect</key>
                <string>{{133,101},{94,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/zebracross3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,35}</string>
                <key>spriteSourceSize</key>
                <string>{145,35}</string>
                <key>textureRect</key>
                <string>{{415,1},{145,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/zebracross4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,35}</string>
                <key>spriteSourceSize</key>
                <string>{118,35}</string>
                <key>textureRect</key>
                <string>{{415,38},{118,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/zebracross5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,35}</string>
                <key>spriteSourceSize</key>
                <string>{91,35}</string>
                <key>textureRect</key>
                <string>{{415,75},{91,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/zebracross6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,35}</string>
                <key>spriteSourceSize</key>
                <string>{65,35}</string>
                <key>textureRect</key>
                <string>{{562,1},{65,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/zebracross7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,35}</string>
                <key>spriteSourceSize</key>
                <string>{45,35}</string>
                <key>textureRect</key>
                <string>{{626,38},{45,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>owlcity.png</string>
            <key>size</key>
            <string>{669,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:420336f7dc208db0c4ee2142569459d7:e243b0e93b73005617e90cdc80c005b9:a5e1564aa53673af59cb33f47f0bac03$</string>
            <key>textureFileName</key>
            <string>owlcity.png</string>
        </dict>
    </dict>
</plist>
