<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinsi_usiku_ulivyoingia/bed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{792,214}</string>
                <key>spriteSourceSize</key>
                <string>{792,214}</string>
                <key>textureRect</key>
                <string>{{3223,928},{792,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/boy_arm_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,105}</string>
                <key>spriteSourceSize</key>
                <string>{68,105}</string>
                <key>textureRect</key>
                <string>{{3328,2586},{68,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/boy_curtained_hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{905,601}</string>
                <key>spriteSourceSize</key>
                <string>{905,601}</string>
                <key>textureRect</key>
                <string>{{1026,2315},{905,601}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/boy_ear_round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,175}</string>
                <key>spriteSourceSize</key>
                <string>{138,175}</string>
                <key>textureRect</key>
                <string>{{2040,3607},{138,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/boy_eyebrow_boy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,64}</string>
                <key>spriteSourceSize</key>
                <string>{110,64}</string>
                <key>textureRect</key>
                <string>{{1165,3222},{110,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/boy_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{815,680}</string>
                <key>spriteSourceSize</key>
                <string>{815,680}</string>
                <key>textureRect</key>
                <string>{{1629,2070},{815,680}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/boy_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,76}</string>
                <key>textureRect</key>
                <string>{{3440,1},{50,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/boy_lightbrown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,101}</string>
                <key>spriteSourceSize</key>
                <string>{43,101}</string>
                <key>textureRect</key>
                <string>{{3328,2800},{43,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/boy_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,172}</string>
                <key>spriteSourceSize</key>
                <string>{28,172}</string>
                <key>textureRect</key>
                <string>{{2258,3176},{28,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/boy_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,151}</string>
                <key>spriteSourceSize</key>
                <string>{78,151}</string>
                <key>textureRect</key>
                <string>{{3316,3265},{78,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/boy_nose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{538,426}</string>
                <key>spriteSourceSize</key>
                <string>{546,426}</string>
                <key>textureRect</key>
                <string>{{1242,3222},{538,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/boy_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,177}</string>
                <key>spriteSourceSize</key>
                <string>{28,177}</string>
                <key>textureRect</key>
                <string>{{1,3739},{28,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/clouds1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,142}</string>
                <key>spriteSourceSize</key>
                <string>{500,142}</string>
                <key>textureRect</key>
                <string>{{2914,1992},{500,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/clouds2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,190}</string>
                <key>spriteSourceSize</key>
                <string>{680,190}</string>
                <key>textureRect</key>
                <string>{{3223,1722},{680,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_coat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,585}</string>
                <key>spriteSourceSize</key>
                <string>{418,585}</string>
                <key>textureRect</key>
                <string>{{2312,3011},{418,585}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_darkbrown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,101}</string>
                <key>spriteSourceSize</key>
                <string>{43,101}</string>
                <key>textureRect</key>
                <string>{{3328,2903},{43,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_ear_round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,175}</string>
                <key>spriteSourceSize</key>
                <string>{138,175}</string>
                <key>textureRect</key>
                <string>{{2040,3607},{138,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_eyebrow_boy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,64}</string>
                <key>spriteSourceSize</key>
                <string>{110,64}</string>
                <key>textureRect</key>
                <string>{{1165,3222},{110,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{815,680}</string>
                <key>spriteSourceSize</key>
                <string>{815,680}</string>
                <key>textureRect</key>
                <string>{{1629,2070},{815,680}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_hair_curl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1095,750}</string>
                <key>spriteSourceSize</key>
                <string>{1095,750}</string>
                <key>textureRect</key>
                <string>{{1401,973},{1095,750}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,76}</string>
                <key>textureRect</key>
                <string>{{3440,1},{50,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_mouth_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,108}</string>
                <key>spriteSourceSize</key>
                <string>{253,108}</string>
                <key>textureRect</key>
                <string>{{3316,3010},{253,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,135}</string>
                <key>spriteSourceSize</key>
                <string>{66,135}</string>
                <key>textureRect</key>
                <string>{{2153,1992},{66,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_nose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{538,426}</string>
                <key>spriteSourceSize</key>
                <string>{546,426}</string>
                <key>textureRect</key>
                <string>{{1242,3222},{538,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,415}</string>
                <key>spriteSourceSize</key>
                <string>{415,415}</string>
                <key>textureRect</key>
                <string>{{2899,3011},{415,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,107}</string>
                <key>spriteSourceSize</key>
                <string>{30,107}</string>
                <key>textureRect</key>
                <string>{{2683,3743},{30,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_pant_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,107}</string>
                <key>spriteSourceSize</key>
                <string>{30,107}</string>
                <key>textureRect</key>
                <string>{{2217,3607},{30,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,147}</string>
                <key>spriteSourceSize</key>
                <string>{36,147}</string>
                <key>textureRect</key>
                <string>{{3440,79},{36,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_pant_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,147}</string>
                <key>spriteSourceSize</key>
                <string>{36,147}</string>
                <key>textureRect</key>
                <string>{{3440,228},{36,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,597}</string>
                <key>spriteSourceSize</key>
                <string>{416,597}</string>
                <key>textureRect</key>
                <string>{{2312,2593},{416,597}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_shirt_sleave_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,117}</string>
                <key>spriteSourceSize</key>
                <string>{72,117}</string>
                <key>textureRect</key>
                <string>{{2914,2494},{72,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_shirt_sleave_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,273}</string>
                <key>spriteSourceSize</key>
                <string>{61,273}</string>
                <key>textureRect</key>
                <string>{{3415,1722},{61,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_shoe_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,33}</string>
                <key>spriteSourceSize</key>
                <string>{160,33}</string>
                <key>textureRect</key>
                <string>{{3284,3688},{160,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_shoe_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,33}</string>
                <key>spriteSourceSize</key>
                <string>{160,33}</string>
                <key>textureRect</key>
                <string>{{3284,3688},{160,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/flower1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{601,599}</string>
                <key>spriteSourceSize</key>
                <string>{601,599}</string>
                <key>textureRect</key>
                <string>{{2311,1992},{601,599}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/flower2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,323}</string>
                <key>spriteSourceSize</key>
                <string>{195,323}</string>
                <key>textureRect</key>
                <string>{{3087,3428},{195,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,343}</string>
                <key>spriteSourceSize</key>
                <string>{423,343}</string>
                <key>textureRect</key>
                <string>{{2258,3431},{423,343}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/hill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1499,148}</string>
                <key>spriteSourceSize</key>
                <string>{1499,148}</string>
                <key>textureRect</key>
                <string>{{3073,928},{1499,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/house.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{918,1062}</string>
                <key>spriteSourceSize</key>
                <string>{918,1062}</string>
                <key>textureRect</key>
                <string>{{2153,928},{918,1062}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/moon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,137}</string>
                <key>spriteSourceSize</key>
                <string>{115,137}</string>
                <key>textureRect</key>
                <string>{{1026,3222},{115,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/motu_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,415}</string>
                <key>spriteSourceSize</key>
                <string>{415,415}</string>
                <key>textureRect</key>
                <string>{{2911,2593},{415,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/motu_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,96}</string>
                <key>spriteSourceSize</key>
                <string>{30,96}</string>
                <key>textureRect</key>
                <string>{{3440,526},{30,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/motu_pant_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,96}</string>
                <key>spriteSourceSize</key>
                <string>{30,96}</string>
                <key>textureRect</key>
                <string>{{2792,3743},{30,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/motu_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,147}</string>
                <key>spriteSourceSize</key>
                <string>{36,147}</string>
                <key>textureRect</key>
                <string>{{3440,377},{36,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/motu_pant_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,147}</string>
                <key>spriteSourceSize</key>
                <string>{36,147}</string>
                <key>textureRect</key>
                <string>{{3415,2158},{36,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/motu_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,586}</string>
                <key>spriteSourceSize</key>
                <string>{429,586}</string>
                <key>textureRect</key>
                <string>{{1670,3176},{429,586}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/motu_shirt_sleave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,105}</string>
                <key>spriteSourceSize</key>
                <string>{64,105}</string>
                <key>textureRect</key>
                <string>{{3328,2693},{64,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/motu_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,33}</string>
                <key>spriteSourceSize</key>
                <string>{159,33}</string>
                <key>textureRect</key>
                <string>{{1588,2070},{159,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/motu_shoes_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,33}</string>
                <key>spriteSourceSize</key>
                <string>{159,33}</string>
                <key>textureRect</key>
                <string>{{3415,1997},{159,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/mouth_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,108}</string>
                <key>spriteSourceSize</key>
                <string>{253,108}</string>
                <key>textureRect</key>
                <string>{{3316,3010},{253,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/night.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1398,1340}</string>
                <key>spriteSourceSize</key>
                <string>{1398,1340}</string>
                <key>textureRect</key>
                <string>{{1,973},{1398,1340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/pillow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,134}</string>
                <key>spriteSourceSize</key>
                <string>{368,134}</string>
                <key>textureRect</key>
                <string>{{1670,3607},{368,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/plant1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,237}</string>
                <key>spriteSourceSize</key>
                <string>{185,237}</string>
                <key>textureRect</key>
                <string>{{1401,2070},{185,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/plant2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,180}</string>
                <key>spriteSourceSize</key>
                <string>{185,180}</string>
                <key>textureRect</key>
                <string>{{3223,2404},{185,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/pot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,310}</string>
                <key>spriteSourceSize</key>
                <string>{402,310}</string>
                <key>textureRect</key>
                <string>{{2683,3431},{402,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/road.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2092,970}</string>
                <key>spriteSourceSize</key>
                <string>{2092,970}</string>
                <key>textureRect</key>
                <string>{{1,1},{2092,970}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/rock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{681,287}</string>
                <key>spriteSourceSize</key>
                <string>{681,287}</string>
                <key>textureRect</key>
                <string>{{1629,2887},{681,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/sheet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{1239,397}</string>
                <key>spriteSourceSize</key>
                <string>{1251,397}</string>
                <key>textureRect</key>
                <string>{{1,3340},{1239,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/soil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{703,24}</string>
                <key>spriteSourceSize</key>
                <string>{703,24}</string>
                <key>textureRect</key>
                <string>{{3358,1},{703,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/stars.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{925,1261}</string>
                <key>spriteSourceSize</key>
                <string>{925,1261}</string>
                <key>textureRect</key>
                <string>{{2095,1},{925,1261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/stick1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,663}</string>
                <key>spriteSourceSize</key>
                <string>{54,663}</string>
                <key>textureRect</key>
                <string>{{3384,1},{54,663}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/stick2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,663}</string>
                <key>spriteSourceSize</key>
                <string>{54,663}</string>
                <key>textureRect</key>
                <string>{{3384,1},{54,663}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1023,1023}</string>
                <key>spriteSourceSize</key>
                <string>{1027,1027}</string>
                <key>textureRect</key>
                <string>{{1,2315},{1023,1023}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/touch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-200.5,200.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{404,404}</string>
                <key>textureRect</key>
                <string>{{2095,928},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/water_pot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,206}</string>
                <key>spriteSourceSize</key>
                <string>{258,206}</string>
                <key>textureRect</key>
                <string>{{3284,3428},{258,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jinsi_usiku_ulivyoingia.png</string>
            <key>size</key>
            <string>{3491,3775}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1328c34b6e92880c8a286928f41b1657:81abd9d269521ea824b30ab0a77deb50:cd57f19b4af47eae919372c4499d7d3f$</string>
            <key>textureFileName</key>
            <string>jinsi_usiku_ulivyoingia.png</string>
        </dict>
    </dict>
</plist>
