<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>linecandylevel/balloon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{682,441}</string>
                <key>spriteSourceSize</key>
                <string>{682,467}</string>
                <key>textureRect</key>
                <string>{{408,974},{682,441}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>linecandylevel/bg_mountain4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,330}</string>
                <key>spriteSourceSize</key>
                <string>{362,330}</string>
                <key>textureRect</key>
                <string>{{1243,1594},{362,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>linecandylevel/candy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,220}</string>
                <key>spriteSourceSize</key>
                <string>{277,220}</string>
                <key>textureRect</key>
                <string>{{522,1769},{277,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>linecandylevel/candy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,262}</string>
                <key>spriteSourceSize</key>
                <string>{291,262}</string>
                <key>textureRect</key>
                <string>{{1685,494},{291,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>linecandylevel/candy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{297,228}</string>
                <key>spriteSourceSize</key>
                <string>{297,228}</string>
                <key>textureRect</key>
                <string>{{1607,1594},{297,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>linecandylevel/candyplant1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,163}</string>
                <key>spriteSourceSize</key>
                <string>{161,163}</string>
                <key>textureRect</key>
                <string>{{1833,1824},{161,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>linecandylevel/candyplant3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{801,1865},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>linecandylevel/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{519,204}</string>
                <key>spriteSourceSize</key>
                <string>{519,204}</string>
                <key>textureRect</key>
                <string>{{1,1807},{519,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>linecandylevel/cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{606,184}</string>
                <key>spriteSourceSize</key>
                <string>{606,184}</string>
                <key>textureRect</key>
                <string>{{1346,1408},{606,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>linecandylevel/cloud3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{831,405}</string>
                <key>spriteSourceSize</key>
                <string>{831,405}</string>
                <key>textureRect</key>
                <string>{{1,974},{831,405}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>linecandylevel/gingerbread_house.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{644,589}</string>
                <key>spriteSourceSize</key>
                <string>{644,589}</string>
                <key>textureRect</key>
                <string>{{1094,175},{644,589}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>linecandylevel/lolli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,491}</string>
                <key>spriteSourceSize</key>
                <string>{334,491}</string>
                <key>textureRect</key>
                <string>{{1685,1},{334,491}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>linecandylevel/main_mountain4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,585}</string>
                <key>spriteSourceSize</key>
                <string>{583,585}</string>
                <key>textureRect</key>
                <string>{{1346,821},{583,585}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>linecandylevel/main_mountain5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,390}</string>
                <key>spriteSourceSize</key>
                <string>{349,390}</string>
                <key>textureRect</key>
                <string>{{851,1514},{349,390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>linecandylevel/main_mountain6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1206,172}</string>
                <key>spriteSourceSize</key>
                <string>{1206,172}</string>
                <key>textureRect</key>
                <string>{{462,1},{1206,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>linecandylevel/plant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,224}</string>
                <key>spriteSourceSize</key>
                <string>{175,224}</string>
                <key>textureRect</key>
                <string>{{1607,1824},{175,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>linecandylevel/rock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,10}</string>
                <key>spriteSize</key>
                <string>{630,719}</string>
                <key>spriteSourceSize</key>
                <string>{726,767}</string>
                <key>textureRect</key>
                <string>{{462,175},{630,719}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>linecandylevel/shadow2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,109}</string>
                <key>spriteSourceSize</key>
                <string>{379,109}</string>
                <key>textureRect</key>
                <string>{{408,1658},{379,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>linecandylevel/tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,5}</string>
                <key>spriteSize</key>
                <string>{459,971}</string>
                <key>spriteSourceSize</key>
                <string>{469,981}</string>
                <key>textureRect</key>
                <string>{{1,1},{459,971}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>linecandylevel/tree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{493,616}</string>
                <key>spriteSourceSize</key>
                <string>{493,648}</string>
                <key>textureRect</key>
                <string>{{851,896},{493,616}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>linecandylevel.png</string>
            <key>size</key>
            <string>{2020,2016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1b5f55991c78c36aaa0bc079dfdff13:67c2628ad5ab29e8247323b84ccb21c9:b644e34187d741bae82871c54410e8a9$</string>
            <key>textureFileName</key>
            <string>linecandylevel.png</string>
        </dict>
    </dict>
</plist>
