<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>granary/granay_mainground/bag_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,85}</string>
                <key>spriteSourceSize</key>
                <string>{76,85}</string>
                <key>textureRect</key>
                <string>{{706,829},{76,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>granary/granay_mainground/bag_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,90}</string>
                <key>spriteSourceSize</key>
                <string>{76,90}</string>
                <key>textureRect</key>
                <string>{{914,867},{76,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/bag_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,90}</string>
                <key>spriteSourceSize</key>
                <string>{76,90}</string>
                <key>textureRect</key>
                <string>{{898,959},{76,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/banana.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,41}</string>
                <key>spriteSourceSize</key>
                <string>{35,41}</string>
                <key>textureRect</key>
                <string>{{529,290},{35,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/basket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,81}</string>
                <key>spriteSourceSize</key>
                <string>{64,81}</string>
                <key>textureRect</key>
                <string>{{898,1051},{64,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>granary/granay_mainground/box_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,71}</string>
                <key>spriteSourceSize</key>
                <string>{107,71}</string>
                <key>textureRect</key>
                <string>{{930,123},{107,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>granary/granay_mainground/box_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,83}</string>
                <key>spriteSourceSize</key>
                <string>{108,83}</string>
                <key>textureRect</key>
                <string>{{596,816},{108,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/brinjal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,42}</string>
                <key>spriteSourceSize</key>
                <string>{23,42}</string>
                <key>textureRect</key>
                <string>{{933,377},{23,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/cabbage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{933,340},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/capcicum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,26}</string>
                <key>spriteSourceSize</key>
                <string>{25,26}</string>
                <key>textureRect</key>
                <string>{{674,901},{25,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/carrot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,68}</string>
                <key>spriteSourceSize</key>
                <string>{25,68}</string>
                <key>textureRect</key>
                <string>{{976,959},{25,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/chilli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,31}</string>
                <key>spriteSourceSize</key>
                <string>{18,31}</string>
                <key>textureRect</key>
                <string>{{970,340},{18,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>granary/granay_mainground/corn_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,98}</string>
                <key>spriteSourceSize</key>
                <string>{103,98}</string>
                <key>textureRect</key>
                <string>{{491,833},{103,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,287}</string>
                <key>spriteSourceSize</key>
                <string>{488,287}</string>
                <key>textureRect</key>
                <string>{{1,343},{488,287}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>granary/granay_mainground/floor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,116}</string>
                <key>spriteSourceSize</key>
                <string>{641,116}</string>
                <key>textureRect</key>
                <string>{{796,290},{641,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>granary/granay_mainground/fruit_table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{437,340}</string>
                <key>spriteSourceSize</key>
                <string>{437,340}</string>
                <key>textureRect</key>
                <string>{{1,1},{437,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/granary_inside_door_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,287}</string>
                <key>spriteSourceSize</key>
                <string>{488,287}</string>
                <key>textureRect</key>
                <string>{{440,1},{488,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/granary_inside_door_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,287}</string>
                <key>spriteSourceSize</key>
                <string>{488,287}</string>
                <key>textureRect</key>
                <string>{{290,343},{488,287}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>granary/granay_mainground/granary_inside_door_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,287}</string>
                <key>spriteSourceSize</key>
                <string>{488,287}</string>
                <key>textureRect</key>
                <string>{{1,833},{488,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/grapes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,54}</string>
                <key>spriteSourceSize</key>
                <string>{47,54}</string>
                <key>textureRect</key>
                <string>{{930,232},{47,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,72}</string>
                <key>spriteSourceSize</key>
                <string>{151,72}</string>
                <key>textureRect</key>
                <string>{{579,742},{151,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/mango.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,42}</string>
                <key>spriteSourceSize</key>
                <string>{25,42}</string>
                <key>textureRect</key>
                <string>{{596,901},{25,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>granary/granay_mainground/milk_bottle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,109}</string>
                <key>spriteSourceSize</key>
                <string>{48,109}</string>
                <key>textureRect</key>
                <string>{{914,756},{48,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/onion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{979,232},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{640,901},{27,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>granary/granay_mainground/painting_small_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,85}</string>
                <key>spriteSourceSize</key>
                <string>{52,85}</string>
                <key>textureRect</key>
                <string>{{732,742},{52,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/pumpkin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{933,288},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/step.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,18}</string>
                <key>spriteSourceSize</key>
                <string>{148,18}</string>
                <key>textureRect</key>
                <string>{{491,1087},{148,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/step_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,17}</string>
                <key>spriteSourceSize</key>
                <string>{464,17}</string>
                <key>textureRect</key>
                <string>{{914,290},{464,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>granary/granay_mainground/tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,71}</string>
                <key>spriteSourceSize</key>
                <string>{120,71}</string>
                <key>textureRect</key>
                <string>{{930,1},{120,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>granary/granay_mainground/tomato.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,20}</string>
                <key>spriteSourceSize</key>
                <string>{26,20}</string>
                <key>textureRect</key>
                <string>{{981,1029},{26,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>granary/granay_mainground/vegatable_table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,215}</string>
                <key>spriteSourceSize</key>
                <string>{450,215}</string>
                <key>textureRect</key>
                <string>{{579,290},{450,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>granary/granay_mainground/watercane.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,51}</string>
                <key>spriteSourceSize</key>
                <string>{87,51}</string>
                <key>textureRect</key>
                <string>{{440,290},{87,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>granary/granay_mainground/window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,152}</string>
                <key>spriteSourceSize</key>
                <string>{405,152}</string>
                <key>textureRect</key>
                <string>{{491,933},{405,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>granay_mainground.png</string>
            <key>size</key>
            <string>{1002,1121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00a34e6dbbc7ba6a7a310193db3b9609:6340a4d8578536f66e02b49be13f7825:40cc44fcc0e5615a59e2cf3c699d5dcb$</string>
            <key>textureFileName</key>
            <string>granay_mainground.png</string>
        </dict>
    </dict>
</plist>
