<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>orderfarm/box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,66}</string>
                <key>spriteSourceSize</key>
                <string>{362,66}</string>
                <key>textureRect</key>
                <string>{{1,1},{362,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderfarm/boxbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,241}</string>
                <key>spriteSourceSize</key>
                <string>{241,241}</string>
                <key>textureRect</key>
                <string>{{199,699},{241,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderfarm/cart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,281}</string>
                <key>spriteSourceSize</key>
                <string>{329,281}</string>
                <key>textureRect</key>
                <string>{{1,365},{329,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderfarm/egg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,51}</string>
                <key>spriteSourceSize</key>
                <string>{36,51}</string>
                <key>textureRect</key>
                <string>{{332,593},{36,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderfarm/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,135}</string>
                <key>spriteSourceSize</key>
                <string>{354,135}</string>
                <key>textureRect</key>
                <string>{{1,69},{354,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderfarm/grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,135}</string>
                <key>spriteSourceSize</key>
                <string>{354,135}</string>
                <key>textureRect</key>
                <string>{{1,206},{354,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderfarm/knotback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,34}</string>
                <key>spriteSourceSize</key>
                <string>{46,34}</string>
                <key>textureRect</key>
                <string>{{370,593},{46,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orderfarm/knotfront.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,74}</string>
                <key>spriteSourceSize</key>
                <string>{20,74}</string>
                <key>textureRect</key>
                <string>{{332,365},{20,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderfarm/pigbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-31}</string>
                <key>spriteSize</key>
                <string>{292,149}</string>
                <key>spriteSourceSize</key>
                <string>{292,211}</string>
                <key>textureRect</key>
                <string>{{357,159},{292,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orderfarm/pighead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,156}</string>
                <key>spriteSourceSize</key>
                <string>{138,156}</string>
                <key>textureRect</key>
                <string>{{332,453},{138,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orderfarm/pigheadeat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,156}</string>
                <key>spriteSourceSize</key>
                <string>{140,156}</string>
                <key>textureRect</key>
                <string>{{365,1},{140,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderfarm/pigleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,86}</string>
                <key>spriteSourceSize</key>
                <string>{43,86}</string>
                <key>textureRect</key>
                <string>{{451,639},{43,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderfarm/pigleg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,86}</string>
                <key>spriteSourceSize</key>
                <string>{44,86}</string>
                <key>textureRect</key>
                <string>{{406,593},{44,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orderfarm/rope.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,354}</string>
                <key>spriteSourceSize</key>
                <string>{20,354}</string>
                <key>textureRect</key>
                <string>{{1,343},{20,354}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orderfarm/ropehanging.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,196}</string>
                <key>spriteSourceSize</key>
                <string>{324,196}</string>
                <key>textureRect</key>
                <string>{{1,648},{324,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orderfarm/woodblock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,49}</string>
                <key>spriteSourceSize</key>
                <string>{250,49}</string>
                <key>textureRect</key>
                <string>{{199,648},{250,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>orderfarm.png</string>
            <key>size</key>
            <string>{507,973}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74ae180ee643adc9bf6ab643ae5f3e5a:747c7abd11356d4161adb9e2b1c85f6e:1d3d65b9f068fdaada8f88723621f7f9$</string>
            <key>textureFileName</key>
            <string>orderfarm.png</string>
        </dict>
    </dict>
</plist>
