<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/Kato_grass0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{765,316}</string>
                <key>spriteSourceSize</key>
                <string>{765,316}</string>
                <key>textureRect</key>
                <string>{{676,1109},{765,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/Kato_moon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{106,114}</string>
                <key>spriteSourceSize</key>
                <string>{108,116}</string>
                <key>textureRect</key>
                <string>{{885,2394},{106,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/Kato_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{630,1892},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/Kato_step.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,356}</string>
                <key>spriteSourceSize</key>
                <string>{379,356}</string>
                <key>textureRect</key>
                <string>{{1,1686},{379,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/Kato_steps.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,356}</string>
                <key>spriteSourceSize</key>
                <string>{379,356}</string>
                <key>textureRect</key>
                <string>{{1,2044},{379,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/Kato_train.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,179}</string>
                <key>spriteSourceSize</key>
                <string>{141,179}</string>
                <key>textureRect</key>
                <string>{{1,2613},{141,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/Kato_train1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,93}</string>
                <key>spriteSourceSize</key>
                <string>{105,93}</string>
                <key>textureRect</key>
                <string>{{788,2569},{105,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/Kato_train2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,92}</string>
                <key>spriteSourceSize</key>
                <string>{97,92}</string>
                <key>textureRect</key>
                <string>{{788,2676},{97,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/Kato_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1106,1008}</string>
                <key>spriteSourceSize</key>
                <string>{1106,1008}</string>
                <key>textureRect</key>
                <string>{{1,1},{1106,1008}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/Kato_tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{673,575}</string>
                <key>spriteSourceSize</key>
                <string>{679,581}</string>
                <key>textureRect</key>
                <string>{{1,1109},{673,575}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/caterpillar_body1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,138}</string>
                <key>spriteSourceSize</key>
                <string>{133,138}</string>
                <key>textureRect</key>
                <string>{{599,2243},{133,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/caterpillar_body2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{752,2325},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/caterpillar_body3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,117}</string>
                <key>spriteSourceSize</key>
                <string>{117,117}</string>
                <key>textureRect</key>
                <string>{{766,2450},{117,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/caterpillar_body4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,106}</string>
                <key>spriteSourceSize</key>
                <string>{105,106}</string>
                <key>textureRect</key>
                <string>{{885,2502},{105,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/caterpillar_body5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{883,2609},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/motu_hat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,113}</string>
                <key>spriteSourceSize</key>
                <string>{232,113}</string>
                <key>textureRect</key>
                <string>{{357,2483},{232,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/motu_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{578,2598},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/motu_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,48}</string>
                <key>spriteSourceSize</key>
                <string>{15,48}</string>
                <key>textureRect</key>
                <string>{{994,1109},{15,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/motu_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,74}</string>
                <key>spriteSourceSize</key>
                <string>{18,74}</string>
                <key>textureRect</key>
                <string>{{649,1810},{18,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/motu_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,293}</string>
                <key>spriteSourceSize</key>
                <string>{215,293}</string>
                <key>textureRect</key>
                <string>{{382,2188},{215,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/motu_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,17}</string>
                <key>spriteSourceSize</key>
                <string>{80,17}</string>
                <key>textureRect</key>
                <string>{{630,1810},{80,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/pigeon_beak_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,66}</string>
                <key>spriteSourceSize</key>
                <string>{53,66}</string>
                <key>textureRect</key>
                <string>{{599,2188},{53,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/pigeon_beak_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,34}</string>
                <key>spriteSourceSize</key>
                <string>{77,34}</string>
                <key>textureRect</key>
                <string>{{630,1686},{77,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/pigeon_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{500,246}</string>
                <key>spriteSourceSize</key>
                <string>{516,246}</string>
                <key>textureRect</key>
                <string>{{382,1686},{500,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/pigeon_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{630,1765},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/pigeon_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{316,314}</string>
                <key>spriteSourceSize</key>
                <string>{318,314}</string>
                <key>textureRect</key>
                <string>{{669,1876},{316,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/pigeon_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,76}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{357,2598},{72,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/pigeon_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,76}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{435,2598},{72,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/pigeon_right_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,128}</string>
                <key>spriteSourceSize</key>
                <string>{267,128}</string>
                <key>textureRect</key>
                <string>{{144,2673},{267,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/pigeon_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,209}</string>
                <key>spriteSourceSize</key>
                <string>{213,209}</string>
                <key>textureRect</key>
                <string>{{1,2402},{213,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/pigeon_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,139}</string>
                <key>spriteSourceSize</key>
                <string>{269,139}</string>
                <key>textureRect</key>
                <string>{{216,2402},{269,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/rabbit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{129,104}</string>
                <key>spriteSourceSize</key>
                <string>{163,116}</string>
                <key>textureRect</key>
                <string>{{877,2288},{129,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/rabbit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{131,116}</string>
                <key>spriteSourceSize</key>
                <string>{163,116}</string>
                <key>textureRect</key>
                <string>{{734,2192},{131,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/rabbit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,116}</string>
                <key>spriteSourceSize</key>
                <string>{163,116}</string>
                <key>textureRect</key>
                <string>{{413,2672},{163,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/squirrel_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{153,94}</string>
                <key>spriteSourceSize</key>
                <string>{173,96}</string>
                <key>textureRect</key>
                <string>{{852,2192},{153,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/squirrel_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{151,96}</string>
                <key>spriteSourceSize</key>
                <string>{173,96}</string>
                <key>textureRect</key>
                <string>{{599,2383},{151,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_1/squirrel_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{173,90}</string>
                <key>spriteSourceSize</key>
                <string>{173,96}</string>
                <key>textureRect</key>
                <string>{{591,2483},{173,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Kato_Mwakili_na_Shida_Kubwa_1.png</string>
            <key>size</key>
            <string>{1010,2807}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cf6fe72b0c45d9db1862683b0c53148:2dd062aebe1dd0d1cffddf0e706cee0d:2c5502f8e7f39620922e784e69430208$</string>
            <key>textureFileName</key>
            <string>Kato_Mwakili_na_Shida_Kubwa_1.png</string>
        </dict>
    </dict>
</plist>
