<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_screen/alphabet_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,199}</string>
                <key>spriteSourceSize</key>
                <string>{568,199}</string>
                <key>textureRect</key>
                <string>{{1,1},{568,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_screen/letter_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,143}</string>
                <key>spriteSourceSize</key>
                <string>{148,143}</string>
                <key>textureRect</key>
                <string>{{571,1},{148,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_screen/letter_hole.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,89}</string>
                <key>spriteSourceSize</key>
                <string>{254,89}</string>
                <key>textureRect</key>
                <string>{{716,1},{254,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_screen/sand_particle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,23}</string>
                <key>spriteSourceSize</key>
                <string>{43,23}</string>
                <key>textureRect</key>
                <string>{{728,92},{43,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_screen/sand_particle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,14}</string>
                <key>spriteSourceSize</key>
                <string>{41,14}</string>
                <key>textureRect</key>
                <string>{{753,92},{41,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_screen/sand_particle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,10}</string>
                <key>spriteSourceSize</key>
                <string>{57,10}</string>
                <key>textureRect</key>
                <string>{{716,92},{57,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_screen/water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,44}</string>
                <key>spriteSourceSize</key>
                <string>{302,44}</string>
                <key>textureRect</key>
                <string>{{571,151},{302,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common_screen.png</string>
            <key>size</key>
            <string>{971,201}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2261bc793a883017b754ebf1f0f1cc2:52ea8eda527e069221be6b27aee56fe3:8c060770db5b8bd1a6d5229fb43ad238$</string>
            <key>textureFileName</key>
            <string>common_screen.png</string>
        </dict>
    </dict>
</plist>
