<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dropcity/ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{329,163},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dropcity/balloon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,278}</string>
                <key>spriteSourceSize</key>
                <string>{125,278}</string>
                <key>textureRect</key>
                <string>{{440,112},{125,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dropcity/bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{515,109}</string>
                <key>spriteSourceSize</key>
                <string>{515,109}</string>
                <key>textureRect</key>
                <string>{{440,1},{515,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dropcity/blast.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30.5,26}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{64,55}</string>
                <key>textureRect</key>
                <string>{{1,200},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dropcity/blast1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,55}</string>
                <key>spriteSourceSize</key>
                <string>{64,55}</string>
                <key>textureRect</key>
                <string>{{180,174},{64,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dropcity/blast2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,117}</string>
                <key>spriteSourceSize</key>
                <string>{119,117}</string>
                <key>textureRect</key>
                <string>{{957,1},{119,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dropcity/blast3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,147}</string>
                <key>spriteSourceSize</key>
                <string>{171,147}</string>
                <key>textureRect</key>
                <string>{{180,1},{171,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dropcity/closebox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,197}</string>
                <key>spriteSourceSize</key>
                <string>{177,197}</string>
                <key>textureRect</key>
                <string>{{1,1},{177,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dropcity/openbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,109}</string>
                <key>spriteSourceSize</key>
                <string>{160,109}</string>
                <key>textureRect</key>
                <string>{{329,1},{160,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dropcity/stones.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,88}</string>
                <key>spriteSourceSize</key>
                <string>{272,88}</string>
                <key>textureRect</key>
                <string>{{720,122},{272,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dropcity.png</string>
            <key>size</key>
            <string>{1075,239}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:082c674161b1444ddc7d49833013bbc4:e96a872d5761a05f9acb30fea35ef051:d3f162ee53a6e0468d3d7bebb28f5001$</string>
            <key>textureFileName</key>
            <string>dropcity.png</string>
        </dict>
    </dict>
</plist>
