<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hippo/jump/j1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{214,112}</string>
                <key>spriteSourceSize</key>
                <string>{274,150}</string>
                <key>textureRect</key>
                <string>{{1,109},{214,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/jump/j2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{216,136}</string>
                <key>spriteSourceSize</key>
                <string>{274,150}</string>
                <key>textureRect</key>
                <string>{{251,1},{216,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/jump/j3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,2}</string>
                <key>spriteSize</key>
                <string>{248,106}</string>
                <key>spriteSourceSize</key>
                <string>{274,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{248,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/jump/j4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-5}</string>
                <key>spriteSize</key>
                <string>{228,90}</string>
                <key>spriteSourceSize</key>
                <string>{274,150}</string>
                <key>textureRect</key>
                <string>{{221,227},{228,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/jump/j5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-2}</string>
                <key>spriteSize</key>
                <string>{238,86}</string>
                <key>spriteSourceSize</key>
                <string>{274,150}</string>
                <key>textureRect</key>
                <string>{{221,139},{238,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/jump/j6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,3}</string>
                <key>spriteSize</key>
                <string>{208,104}</string>
                <key>spriteSourceSize</key>
                <string>{274,150}</string>
                <key>textureRect</key>
                <string>{{115,109},{208,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jump.png</string>
            <key>size</key>
            <string>{468,324}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd9e6c7938add5faef9e4f8056744b1e:e47460fdfbb9969da45614a27912aa11:ed1291da20e6b20bef66ae0f4142d6a3$</string>
            <key>textureFileName</key>
            <string>jump.png</string>
        </dict>
    </dict>
</plist>
