<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layercandy/base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,93}</string>
                <key>spriteSourceSize</key>
                <string>{299,93}</string>
                <key>textureRect</key>
                <string>{{361,1245},{299,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,80}</string>
                <key>spriteSourceSize</key>
                <string>{318,80}</string>
                <key>textureRect</key>
                <string>{{361,1546},{318,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,145}</string>
                <key>spriteSourceSize</key>
                <string>{101,145}</string>
                <key>textureRect</key>
                <string>{{220,1864},{101,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/cake1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,79}</string>
                <key>spriteSourceSize</key>
                <string>{239,79}</string>
                <key>textureRect</key>
                <string>{{389,1},{239,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/f1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{83,54}</string>
                <key>spriteSourceSize</key>
                <string>{95,104}</string>
                <key>textureRect</key>
                <string>{{397,497},{83,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/f2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{83,54}</string>
                <key>spriteSourceSize</key>
                <string>{95,104}</string>
                <key>textureRect</key>
                <string>{{397,582},{83,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/f3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{83,54}</string>
                <key>spriteSourceSize</key>
                <string>{95,104}</string>
                <key>textureRect</key>
                <string>{{397,667},{83,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/f4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{83,54}</string>
                <key>spriteSourceSize</key>
                <string>{95,104}</string>
                <key>textureRect</key>
                <string>{{397,752},{83,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/f5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{83,58}</string>
                <key>spriteSourceSize</key>
                <string>{95,104}</string>
                <key>textureRect</key>
                <string>{{397,327},{83,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/f6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{83,58}</string>
                <key>spriteSourceSize</key>
                <string>{95,104}</string>
                <key>textureRect</key>
                <string>{{397,412},{83,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/f7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{83,60}</string>
                <key>spriteSourceSize</key>
                <string>{95,104}</string>
                <key>textureRect</key>
                <string>{{397,242},{83,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/f8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{83,54}</string>
                <key>spriteSourceSize</key>
                <string>{95,104}</string>
                <key>textureRect</key>
                <string>{{397,837},{83,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{137,154}</string>
                <key>spriteSourceSize</key>
                <string>{143,156}</string>
                <key>textureRect</key>
                <string>{{220,1708},{137,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1754,217}</string>
                <key>spriteSourceSize</key>
                <string>{1754,217}</string>
                <key>textureRect</key>
                <string>{{1,1147},{1754,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,27}</string>
                <key>spriteSourceSize</key>
                <string>{18,27}</string>
                <key>textureRect</key>
                <string>{{397,987},{18,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,20}</string>
                <key>spriteSourceSize</key>
                <string>{36,20}</string>
                <key>textureRect</key>
                <string>{{445,967},{36,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/hands.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,27}</string>
                <key>spriteSourceSize</key>
                <string>{18,27}</string>
                <key>textureRect</key>
                <string>{{397,987},{18,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/ladder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,559}</string>
                <key>spriteSourceSize</key>
                <string>{139,559}</string>
                <key>textureRect</key>
                <string>{{220,1147},{139,559}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,18}</string>
                <key>spriteSourceSize</key>
                <string>{46,18}</string>
                <key>textureRect</key>
                <string>{{397,967},{46,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/mountain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,10}</string>
                <key>spriteSize</key>
                <string>{244,272}</string>
                <key>spriteSourceSize</key>
                <string>{278,292}</string>
                <key>textureRect</key>
                <string>{{220,2084},{244,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/ref.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{426,1005},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/ref2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1001,6}</string>
                <key>spriteSourceSize</key>
                <string>{1001,6}</string>
                <key>textureRect</key>
                <string>{{389,242},{1001,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/sky.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1144,386}</string>
                <key>spriteSourceSize</key>
                <string>{1144,386}</string>
                <key>textureRect</key>
                <string>{{1,1},{1144,386}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{140,216}</string>
                <key>spriteSourceSize</key>
                <string>{140,224}</string>
                <key>textureRect</key>
                <string>{{323,1866},{140,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/tree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{172,247}</string>
                <key>spriteSourceSize</key>
                <string>{172,257}</string>
                <key>textureRect</key>
                <string>{{220,2695},{172,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layercandy/tree3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,335}</string>
                <key>spriteSourceSize</key>
                <string>{159,335}</string>
                <key>textureRect</key>
                <string>{{220,2358},{159,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layercandy/upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{397,922},{43,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>layercandy.png</string>
            <key>size</key>
            <string>{469,2902}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92709b1f73396f669c8a439377f91fdd:bfdced2de00f4984ddece3a6d668d9ae:9090c2acdba05a01cf61de06513036fd$</string>
            <key>textureFileName</key>
            <string>layercandy.png</string>
        </dict>
    </dict>
</plist>
