<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Siafu_amwokoa_Njiwa/antbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,54}</string>
                <key>spriteSourceSize</key>
                <string>{57,54}</string>
                <key>textureRect</key>
                <string>{{1445,343},{57,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/anthead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,94}</string>
                <key>spriteSourceSize</key>
                <string>{112,94}</string>
                <key>textureRect</key>
                <string>{{411,374},{112,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/antleg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,48}</string>
                <key>spriteSourceSize</key>
                <string>{44,48}</string>
                <key>textureRect</key>
                <string>{{1388,423},{44,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/antleg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,47}</string>
                <key>spriteSourceSize</key>
                <string>{23,47}</string>
                <key>textureRect</key>
                <string>{{1364,368},{23,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/antleg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,49}</string>
                <key>spriteSourceSize</key>
                <string>{48,49}</string>
                <key>textureRect</key>
                <string>{{1389,373},{48,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/antmouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,13}</string>
                <key>spriteSourceSize</key>
                <string>{30,13}</string>
                <key>textureRect</key>
                <string>{{1292,460},{30,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/anttail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,73}</string>
                <key>spriteSourceSize</key>
                <string>{116,73}</string>
                <key>textureRect</key>
                <string>{{630,398},{116,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/arm_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,26}</string>
                <key>spriteSourceSize</key>
                <string>{17,26}</string>
                <key>textureRect</key>
                <string>{{898,421},{17,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/arm_hand_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,26}</string>
                <key>spriteSourceSize</key>
                <string>{17,26}</string>
                <key>textureRect</key>
                <string>{{1063,440},{17,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/arm_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,55}</string>
                <key>spriteSourceSize</key>
                <string>{12,55}</string>
                <key>textureRect</key>
                <string>{{133,457},{12,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/arm_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,55}</string>
                <key>spriteSourceSize</key>
                <string>{12,55}</string>
                <key>textureRect</key>
                <string>{{1350,409},{12,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/arm_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,66}</string>
                <key>spriteSourceSize</key>
                <string>{14,66}</string>
                <key>textureRect</key>
                <string>{{1,457},{14,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/arm_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,66}</string>
                <key>spriteSourceSize</key>
                <string>{14,66}</string>
                <key>textureRect</key>
                <string>{{1152,459},{14,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/body_male.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,140}</string>
                <key>spriteSourceSize</key>
                <string>{103,140}</string>
                <key>textureRect</key>
                <string>{{756,375},{103,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/boy_nose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,107}</string>
                <key>spriteSourceSize</key>
                <string>{137,107}</string>
                <key>textureRect</key>
                <string>{{1285,173},{135,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,69}</string>
                <key>spriteSourceSize</key>
                <string>{197,69}</string>
                <key>textureRect</key>
                <string>{{1082,241},{197,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1440,399},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/dovebeakdown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,12}</string>
                <key>spriteSourceSize</key>
                <string>{24,12}</string>
                <key>textureRect</key>
                <string>{{1324,460},{24,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/dovebeakup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,9}</string>
                <key>spriteSourceSize</key>
                <string>{31,9}</string>
                <key>textureRect</key>
                <string>{{1259,460},{31,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/dovebody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,86}</string>
                <key>spriteSourceSize</key>
                <string>{201,86}</string>
                <key>textureRect</key>
                <string>{{1082,153},{201,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/dovehead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,84}</string>
                <key>spriteSourceSize</key>
                <string>{111,84}</string>
                <key>textureRect</key>
                <string>{{1281,282},{111,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/doveleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,27}</string>
                <key>spriteSourceSize</key>
                <string>{25,27}</string>
                <key>textureRect</key>
                <string>{{1438,435},{25,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/dovetail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,38}</string>
                <key>spriteSourceSize</key>
                <string>{100,38}</string>
                <key>textureRect</key>
                <string>{{898,440},{100,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/dovewing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,74}</string>
                <key>spriteSourceSize</key>
                <string>{152,74}</string>
                <key>textureRect</key>
                <string>{{229,294},{152,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/drybranch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,117}</string>
                <key>spriteSourceSize</key>
                <string>{252,117}</string>
                <key>textureRect</key>
                <string>{{637,144},{252,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/dryleaf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,49}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{1259,409},{89,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/drypond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,92}</string>
                <key>spriteSourceSize</key>
                <string>{237,92}</string>
                <key>textureRect</key>
                <string>{{935,196},{237,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/drytree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,291}</string>
                <key>spriteSourceSize</key>
                <string>{308,291}</string>
                <key>textureRect</key>
                <string>{{1,1},{308,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/ear_round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,44}</string>
                <key>spriteSourceSize</key>
                <string>{35,44}</string>
                <key>textureRect</key>
                <string>{{898,375},{35,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/eye_boy_outer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,6}</string>
                <key>spriteSourceSize</key>
                <string>{24,6}</string>
                <key>textureRect</key>
                <string>{{1498,264},{24,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/eye_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,8}</string>
                <key>spriteSourceSize</key>
                <string>{25,8}</string>
                <key>textureRect</key>
                <string>{{1438,464},{25,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/eyeball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{1495,430},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/eyeball1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,9}</string>
                <key>spriteSourceSize</key>
                <string>{9,9}</string>
                <key>textureRect</key>
                <string>{{1495,430},{9,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/eyebrow_boy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,16}</string>
                <key>spriteSourceSize</key>
                <string>{28,16}</string>
                <key>textureRect</key>
                <string>{{1476,399},{28,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/eyebrow_girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,10}</string>
                <key>spriteSourceSize</key>
                <string>{30,10}</string>
                <key>textureRect</key>
                <string>{{1465,435},{30,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,36}</string>
                <key>spriteSourceSize</key>
                <string>{61,36}</string>
                <key>textureRect</key>
                <string>{{1000,440},{61,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/eyes1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,36}</string>
                <key>spriteSourceSize</key>
                <string>{61,36}</string>
                <key>textureRect</key>
                <string>{{1000,440},{61,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,170}</string>
                <key>spriteSourceSize</key>
                <string>{204,170}</string>
                <key>textureRect</key>
                <string>{{1300,1},{204,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/farmer_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{305,374},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/farmer_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,27}</string>
                <key>spriteSourceSize</key>
                <string>{8,27}</string>
                <key>textureRect</key>
                <string>{{488,470},{8,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/farmer_pant_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,27}</string>
                <key>spriteSourceSize</key>
                <string>{8,27}</string>
                <key>textureRect</key>
                <string>{{294,448},{8,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/farmer_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,37}</string>
                <key>spriteSourceSize</key>
                <string>{9,37}</string>
                <key>textureRect</key>
                <string>{{190,457},{9,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/farmer_pant_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,37}</string>
                <key>spriteSourceSize</key>
                <string>{9,37}</string>
                <key>textureRect</key>
                <string>{{1220,459},{9,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/food.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,68}</string>
                <key>spriteSourceSize</key>
                <string>{166,68}</string>
                <key>textureRect</key>
                <string>{{1082,312},{166,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,62}</string>
                <key>spriteSourceSize</key>
                <string>{13,62}</string>
                <key>textureRect</key>
                <string>{{69,457},{13,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/grasssingle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,103}</string>
                <key>spriteSourceSize</key>
                <string>{39,103}</string>
                <key>textureRect</key>
                <string>{{1259,368},{39,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/grassweed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,81}</string>
                <key>spriteSourceSize</key>
                <string>{89,81}</string>
                <key>textureRect</key>
                <string>{{1422,173},{89,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/hair_Business_man_cut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,161}</string>
                <key>spriteSourceSize</key>
                <string>{226,161}</string>
                <key>textureRect</key>
                <string>{{1,294},{226,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/hair_curtained_hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,150}</string>
                <key>spriteSourceSize</key>
                <string>{226,150}</string>
                <key>textureRect</key>
                <string>{{1072,1},{226,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,103}</string>
                <key>spriteSourceSize</key>
                <string>{103,103}</string>
                <key>textureRect</key>
                <string>{{525,374},{103,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/idea.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,77}</string>
                <key>spriteSourceSize</key>
                <string>{51,77}</string>
                <key>textureRect</key>
                <string>{{1445,264},{51,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/leaf1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,49}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{1394,282},{89,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/leaf3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,49}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{1394,282},{89,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,177}</string>
                <key>spriteSourceSize</key>
                <string>{177,177}</string>
                <key>textureRect</key>
                <string>{{756,196},{177,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/leg_foot_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,8}</string>
                <key>spriteSourceSize</key>
                <string>{36,8}</string>
                <key>textureRect</key>
                <string>{{450,470},{36,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/leg_foot_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,8}</string>
                <key>spriteSourceSize</key>
                <string>{36,8}</string>
                <key>textureRect</key>
                <string>{{1220,470},{36,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/leg_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,31}</string>
                <key>spriteSourceSize</key>
                <string>{7,31}</string>
                <key>textureRect</key>
                <string>{{133,471},{7,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/leg_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,31}</string>
                <key>spriteSourceSize</key>
                <string>{7,31}</string>
                <key>textureRect</key>
                <string>{{166,471},{7,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/leg_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,37}</string>
                <key>spriteSourceSize</key>
                <string>{8,37}</string>
                <key>textureRect</key>
                <string>{{1072,153},{8,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/leg_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,37}</string>
                <key>spriteSourceSize</key>
                <string>{8,37}</string>
                <key>textureRect</key>
                <string>{{411,470},{8,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/lightbrown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,25}</string>
                <key>spriteSourceSize</key>
                <string>{11,25}</string>
                <key>textureRect</key>
                <string>{{756,144},{11,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/log.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,51}</string>
                <key>spriteSourceSize</key>
                <string>{242,51}</string>
                <key>textureRect</key>
                <string>{{1029,196},{242,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/map.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,228}</string>
                <key>spriteSourceSize</key>
                <string>{324,228}</string>
                <key>textureRect</key>
                <string>{{311,144},{324,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/mouth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,22}</string>
                <key>spriteSourceSize</key>
                <string>{45,22}</string>
                <key>textureRect</key>
                <string>{{1364,417},{45,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/mouth_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,6}</string>
                <key>spriteSourceSize</key>
                <string>{60,6}</string>
                <key>textureRect</key>
                <string>{{748,398},{60,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/mouth_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,27}</string>
                <key>spriteSourceSize</key>
                <string>{63,27}</string>
                <key>textureRect</key>
                <string>{{229,448},{63,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/navyblue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,25}</string>
                <key>spriteSourceSize</key>
                <string>{11,25}</string>
                <key>textureRect</key>
                <string>{{1476,417},{11,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,38}</string>
                <key>spriteSourceSize</key>
                <string>{20,38}</string>
                <key>textureRect</key>
                <string>{{1259,312},{20,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/painter_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,145}</string>
                <key>spriteSourceSize</key>
                <string>{105,145}</string>
                <key>textureRect</key>
                <string>{{1152,312},{105,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/painter_shirt_sleave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,30}</string>
                <key>spriteSourceSize</key>
                <string>{16,30}</string>
                <key>textureRect</key>
                <string>{{1477,430},{16,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/river.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,193}</string>
                <key>spriteSourceSize</key>
                <string>{301,193}</string>
                <key>textureRect</key>
                <string>{{769,1},{301,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/river1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,141}</string>
                <key>spriteSourceSize</key>
                <string>{456,141}</string>
                <key>textureRect</key>
                <string>{{311,1},{456,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Siafu_amwokoa_Njiwa.png</string>
            <key>size</key>
            <string>{1505,479}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93fa7537fedd91e533414a83e8ea0947:1a5f5d4eafa94b59ffd94481d13c3083:4c81b963350380bbfac53db8c9b608da$</string>
            <key>textureFileName</key>
            <string>Siafu_amwokoa_Njiwa.png</string>
        </dict>
    </dict>
</plist>
