<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gamemap/gamemap_disabled/JumpOnWords_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{226,225}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{1,229},{226,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled/Kung Fu Alpha_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,225}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{229,229},{225,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled/Patch The Wall_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,225}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{229,456},{225,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled/Smash The Rock_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,225}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{456,1},{225,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled/layer_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,683},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled/memory_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{227,683},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled/order_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{453,683},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled/owl_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{456,228},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled/pop_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{224,224}</string>
                <key>textureRect</key>
                <string>{{456,454},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled/runningcat_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{226,226}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{226,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled/shoot_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{679,680},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled/sortit_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{226,225}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{1,456},{226,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled/stack_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{682,228},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled/talk_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{682,454},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled/train_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{226,225}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{229,1},{226,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamemap/gamemap_disabled/wembley_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,223}</string>
                <key>spriteSourceSize</key>
                <string>{223,223}</string>
                <key>textureRect</key>
                <string>{{683,1},{223,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gamemap_disabled.png</string>
            <key>size</key>
            <string>{907,908}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d1c34668ba24eb9ed66b09d345cfb9c:adb59e409a8a0e48e56132da913634f6:04cb3715df2401de575ce26f47f3b8f0$</string>
            <key>textureFileName</key>
            <string>gamemap_disabled.png</string>
        </dict>
    </dict>
</plist>
