<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/Kuhesabu_cloud.png</key>
			<dict>
				<key>frame</key>
				<string>{{3682,1809},{569,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{569,228}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/Kuhesabu_grass.png</key>
			<dict>
				<key>frame</key>
				<string>{{3682,1308},{342,501}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{342,501}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/Kuhesabu_grass1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3031,3855},{651,215}}</string>
				<key>offset</key>
				<string>{-8,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{666,237}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/Kuhesabu_grass2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2042,3855},{989,160}}</string>
				<key>offset</key>
				<string>{-2,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{993,201}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/Kuhesabu_grass3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,3699},{861,378}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{861,378}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/Kuhesabu_grass4.png</key>
			<dict>
				<key>frame</key>
				<string>{{3224,3204},{522,527}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{522,527}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/Kuhesabu_ground.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3393},{2109,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2109,306}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/Kuhesabu_hill.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3699},{1181,365}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1181,365}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/Kuhesabu_hill1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2042,3699},{1182,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1182,156}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/Kuhesabu_tree.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1241,1338}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1241,1338}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/Kuhesabu_water.png</key>
			<dict>
				<key>frame</key>
				<string>{{3910,2343},{340,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{340,101}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/lion_body.png</key>
			<dict>
				<key>frame</key>
				<string>{{3682,0},{654,403}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{654,403}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/lion_eye.png</key>
			<dict>
				<key>frame</key>
				<string>{{3682,3075},{129,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,129}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/lion_eyes.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2371},{1022,940}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1022,940}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/lion_face.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,2371},{1022,940}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1022,940}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/lion_lower_left_leg_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{2685,4015},{40,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,125}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/lion_lower_right_leg_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{2685,4055},{40,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,125}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/lion_tail.png</key>
			<dict>
				<key>frame</key>
				<string>{{3910,2136},{207,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{207,179}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/lion_upper_left_leg_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{2367,4015},{46,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,159}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/lion_upper_right_leg_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{2526,4015},{46,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,159}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/Mamba_frog1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3872,2976},{215,217}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{293,236}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/Mamba_frog2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3811,3191},{292,225}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{293,236}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/Mamba_frog3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3878,2683},{293,201}}</string>
				<key>offset</key>
				<string>{0,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{293,236}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/water1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3682,2846},{229,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,96}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/water2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3910,1809},{327,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{327,138}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/water3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3682,2378},{468,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{468,196}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/zebra_body.png</key>
			<dict>
				<key>frame</key>
				<string>{{3682,654},{654,403}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{654,403}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/zebra_eye.png</key>
			<dict>
				<key>frame</key>
				<string>{{2810,4015},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/zebra_face.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1338},{944,1033}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{944,1033}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/zebra_lower_left_leg_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{4011,2343},{84,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,166}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/zebra_lower_right_leg_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{4011,2509},{84,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,166}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/zebra_tail.png</key>
			<dict>
				<key>frame</key>
				<string>{{3778,2846},{94,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,226}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/zebra_upper_left_leg_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{2205,4015},{70,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,162}</string>
			</dict>
			<key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/zebra_upper_right_leg_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{2042,4015},{70,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,163}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Kuhesabu_wanyama_Counting_2.png</string>
			<key>realTextureFileName</key>
			<string>Kuhesabu_wanyama_Counting_2.png</string>
			<key>size</key>
			<string>{4095,4095}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4095</integer>
			<key>height</key>
			<integer>4095</integer>
		</dict>
	</dict>
</plist>