<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>city/city4/cafe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,348}</string>
                <key>spriteSourceSize</key>
                <string>{485,348}</string>
                <key>textureRect</key>
                <string>{{595,1},{485,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city4/cafedoor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,127}</string>
                <key>spriteSourceSize</key>
                <string>{75,127}</string>
                <key>textureRect</key>
                <string>{{518,299},{75,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city4/gardenfront.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,136}</string>
                <key>spriteSourceSize</key>
                <string>{340,136}</string>
                <key>textureRect</key>
                <string>{{1,299},{340,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city4/gardenside.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,194}</string>
                <key>spriteSourceSize</key>
                <string>{173,194}</string>
                <key>textureRect</key>
                <string>{{343,299},{173,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city4/school.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,580}</string>
                <key>spriteSourceSize</key>
                <string>{296,580}</string>
                <key>textureRect</key>
                <string>{{1,1},{296,580}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city4/schooldoor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,116}</string>
                <key>spriteSourceSize</key>
                <string>{53,116}</string>
                <key>textureRect</key>
                <string>{{113,437},{53,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city4/stadium.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,440}</string>
                <key>spriteSourceSize</key>
                <string>{311,440}</string>
                <key>textureRect</key>
                <string>{{945,1},{311,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city4/stadiumdoor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,110}</string>
                <key>spriteSourceSize</key>
                <string>{73,110}</string>
                <key>textureRect</key>
                <string>{{1,437},{73,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>city4.png</string>
            <key>size</key>
            <string>{1257,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a6f1f8e63528bba915dc90c719480b0:39791c748a9670af29887ad18819061e:4fae55a5f27e5c6e1cc87aace209635c$</string>
            <key>textureFileName</key>
            <string>city4.png</string>
        </dict>
    </dict>
</plist>
