<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kima_apoteza_mkia_wakeMonkey/Kato_leaf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{68,56}</string>
                <key>spriteSourceSize</key>
                <string>{84,64}</string>
                <key>textureRect</key>
                <string>{{989,250},{68,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/Kima_axe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,441}</string>
                <key>spriteSourceSize</key>
                <string>{245,441}</string>
                <key>textureRect</key>
                <string>{{1599,1461},{245,441}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/Kima_drop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,112}</string>
                <key>spriteSourceSize</key>
                <string>{68,112}</string>
                <key>textureRect</key>
                <string>{{989,136},{68,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/Kima_fence.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{958,359}</string>
                <key>spriteSourceSize</key>
                <string>{958,359}</string>
                <key>textureRect</key>
                <string>{{1059,1},{958,359}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/Kima_grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{884,326}</string>
                <key>spriteSourceSize</key>
                <string>{884,326}</string>
                <key>textureRect</key>
                <string>{{1057,362},{884,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/Kima_hill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1056,133}</string>
                <key>spriteSourceSize</key>
                <string>{1056,133}</string>
                <key>textureRect</key>
                <string>{{1,1},{1056,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/Kima_path.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{986,511}</string>
                <key>spriteSourceSize</key>
                <string>{986,511}</string>
                <key>textureRect</key>
                <string>{{1,136},{986,511}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/Kima_pot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{258,242}</string>
                <key>spriteSourceSize</key>
                <string>{354,242}</string>
                <key>textureRect</key>
                <string>{{467,2252},{258,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/Kima_potstand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,213}</string>
                <key>spriteSourceSize</key>
                <string>{70,213}</string>
                <key>textureRect</key>
                <string>{{1943,394},{70,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/Kima_table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{657,139}</string>
                <key>spriteSourceSize</key>
                <string>{745,139}</string>
                <key>textureRect</key>
                <string>{{1,1166},{657,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/Kima_tablestand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,205}</string>
                <key>spriteSourceSize</key>
                <string>{38,205}</string>
                <key>textureRect</key>
                <string>{{1943,609},{38,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/Kima_tablestand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,326}</string>
                <key>spriteSourceSize</key>
                <string>{45,326}</string>
                <key>textureRect</key>
                <string>{{989,523},{45,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/Kima_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{515,688}</string>
                <key>spriteSourceSize</key>
                <string>{515,688}</string>
                <key>textureRect</key>
                <string>{{1,649},{515,688}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/Kima_wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,508}</string>
                <key>spriteSourceSize</key>
                <string>{584,508}</string>
                <key>textureRect</key>
                <string>{{1013,1332},{584,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/Kima_wood1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{703,209}</string>
                <key>spriteSourceSize</key>
                <string>{703,209}</string>
                <key>textureRect</key>
                <string>{{1036,690},{703,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/Kuhesabu_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{569,228}</string>
                <key>spriteSourceSize</key>
                <string>{569,228}</string>
                <key>textureRect</key>
                <string>{{1004,1842},{569,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/bonfire1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-35}</string>
                <key>spriteSize</key>
                <string>{232,230}</string>
                <key>spriteSourceSize</key>
                <string>{236,308}</string>
                <key>textureRect</key>
                <string>{{1,1835},{232,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/bonfire2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{232,296}</string>
                <key>spriteSourceSize</key>
                <string>{236,308}</string>
                <key>textureRect</key>
                <string>{{691,649},{232,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/bonfire3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{232,296}</string>
                <key>spriteSourceSize</key>
                <string>{236,308}</string>
                <key>textureRect</key>
                <string>{{1,2182},{232,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/face .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{652,526}</string>
                <key>spriteSourceSize</key>
                <string>{652,526}</string>
                <key>textureRect</key>
                <string>{{1,1307},{652,526}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,76}</string>
                <key>textureRect</key>
                <string>{{989,445},{50,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,172}</string>
                <key>spriteSourceSize</key>
                <string>{28,172}</string>
                <key>textureRect</key>
                <string>{{1741,720},{28,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,135}</string>
                <key>spriteSourceSize</key>
                <string>{66,135}</string>
                <key>textureRect</key>
                <string>{{989,308},{66,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,177}</string>
                <key>spriteSourceSize</key>
                <string>{28,177}</string>
                <key>textureRect</key>
                <string>{{1741,690},{28,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/monkey1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-2}</string>
                <key>spriteSize</key>
                <string>{482,360}</string>
                <key>spriteSourceSize</key>
                <string>{504,364}</string>
                <key>textureRect</key>
                <string>{{1366,2072},{482,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/monkey2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{484,360}</string>
                <key>spriteSourceSize</key>
                <string>{504,364}</string>
                <key>textureRect</key>
                <string>{{1004,2072},{484,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/monkey3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-3}</string>
                <key>spriteSize</key>
                <string>{450,356}</string>
                <key>spriteSourceSize</key>
                <string>{504,364}</string>
                <key>textureRect</key>
                <string>{{655,1322},{450,356}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/monkey4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{313,437}</string>
                <key>spriteSourceSize</key>
                <string>{327,437}</string>
                <key>textureRect</key>
                <string>{{1728,2025},{313,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/monkey5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{315,437}</string>
                <key>spriteSourceSize</key>
                <string>{327,437}</string>
                <key>textureRect</key>
                <string>{{1602,1144},{315,437}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/monkey6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{315,437}</string>
                <key>spriteSourceSize</key>
                <string>{327,437}</string>
                <key>textureRect</key>
                <string>{{1599,1708},{315,437}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/monkey7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{321,437}</string>
                <key>spriteSourceSize</key>
                <string>{327,437}</string>
                <key>textureRect</key>
                <string>{{691,883},{321,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/monkey8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,347}</string>
                <key>spriteSourceSize</key>
                <string>{406,347}</string>
                <key>textureRect</key>
                <string>{{655,1774},{406,347}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/motu_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,415}</string>
                <key>spriteSourceSize</key>
                <string>{415,415}</string>
                <key>textureRect</key>
                <string>{{235,1835},{415,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/motu_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,96}</string>
                <key>spriteSourceSize</key>
                <string>{30,96}</string>
                <key>textureRect</key>
                <string>{{1943,362},{30,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/motu_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,147}</string>
                <key>spriteSourceSize</key>
                <string>{36,147}</string>
                <key>textureRect</key>
                <string>{{1983,609},{36,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/motu_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,586}</string>
                <key>spriteSourceSize</key>
                <string>{429,586}</string>
                <key>textureRect</key>
                <string>{{1014,901},{429,586}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/motu_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,33}</string>
                <key>spriteSourceSize</key>
                <string>{159,33}</string>
                <key>textureRect</key>
                <string>{{1983,758},{159,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/rabbit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{256,206}</string>
                <key>spriteSourceSize</key>
                <string>{326,232}</string>
                <key>textureRect</key>
                <string>{{711,2182},{256,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/rabbit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{260,230}</string>
                <key>spriteSourceSize</key>
                <string>{326,232}</string>
                <key>textureRect</key>
                <string>{{235,2252},{260,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kima_apoteza_mkia_wakeMonkey/rabbit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,232}</string>
                <key>spriteSourceSize</key>
                <string>{326,232}</string>
                <key>textureRect</key>
                <string>{{1741,816},{326,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Kima_apoteza_mkia_wakeMonkey.png</string>
            <key>size</key>
            <string>{2042,2557}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0db71f21d4d838a74a6473d1883cc26:c0efd753596e7dfed9314516fee3c640:8c230283d08c4c6b6a43de455128de07$</string>
            <key>textureFileName</key>
            <string>Kima_apoteza_mkia_wakeMonkey.png</string>
        </dict>
    </dict>
</plist>
