<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trainstationinside/drink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{43,106}</string>
                <key>spriteSourceSize</key>
                <string>{47,106}</string>
                <key>textureRect</key>
                <string>{{690,384},{43,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>trainstationinside/exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,283}</string>
                <key>spriteSourceSize</key>
                <string>{273,283}</string>
                <key>textureRect</key>
                <string>{{1,1},{273,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trainstationinside/floor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,226}</string>
                <key>spriteSourceSize</key>
                <string>{227,226}</string>
                <key>textureRect</key>
                <string>{{551,1},{227,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>trainstationinside/object_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,36}</string>
                <key>spriteSourceSize</key>
                <string>{57,36}</string>
                <key>textureRect</key>
                <string>{{690,429},{57,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>trainstationinside/paper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,70}</string>
                <key>spriteSourceSize</key>
                <string>{56,70}</string>
                <key>textureRect</key>
                <string>{{798,384},{56,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trainstationinside/seata.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{426,96}</string>
                <key>spriteSourceSize</key>
                <string>{426,96}</string>
                <key>textureRect</key>
                <string>{{407,286},{426,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trainstationinside/sign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,283}</string>
                <key>spriteSourceSize</key>
                <string>{273,283}</string>
                <key>textureRect</key>
                <string>{{276,1},{273,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trainstationinside/stantback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,259}</string>
                <key>spriteSourceSize</key>
                <string>{123,259}</string>
                <key>textureRect</key>
                <string>{{779,1},{123,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trainstationinside/stantfront.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,281}</string>
                <key>spriteSourceSize</key>
                <string>{102,281}</string>
                <key>textureRect</key>
                <string>{{407,384},{102,281}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>trainstationinside/water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,404}</string>
                <key>spriteSourceSize</key>
                <string>{190,404}</string>
                <key>textureRect</key>
                <string>{{1,286},{190,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>trainstationinside.png</string>
            <key>size</key>
            <string>{903,487}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbf4d8fc2de0a2623d86aaf1e26e5921:6cff608bf10e89daa1a4715eeb74dfb4:508d8a1a409e1b71aca0543b0e8ee96e$</string>
            <key>textureFileName</key>
            <string>trainstationinside.png</string>
        </dict>
    </dict>
</plist>
