<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sortit/cake1.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,1578},{874,313}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{874,313}</string>
			</dict>
			<key>sortit/cake1t.png</key>
			<dict>
				<key>frame</key>
				<string>{{1406,2156},{873,312}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{874,312}</string>
			</dict>
			<key>sortit/cake2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1812,3820},{744,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{744,266}</string>
			</dict>
			<key>sortit/cake2t.png</key>
			<dict>
				<key>frame</key>
				<string>{{2556,3818},{744,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{744,266}</string>
			</dict>
			<key>sortit/cake3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3864},{618,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{618,221}</string>
			</dict>
			<key>sortit/cake3t.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,3864},{618,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{618,221}</string>
			</dict>
			<key>sortit/cake4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1236,3851},{481,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{481,172}</string>
			</dict>
			<key>sortit/cake4t.png</key>
			<dict>
				<key>frame</key>
				<string>{{1584,1891},{480,171}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{481,172}</string>
			</dict>
			<key>sortit/cake5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1666,1578},{252,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,273}</string>
			</dict>
			<key>sortit/cake5t.png</key>
			<dict>
				<key>frame</key>
				<string>{{1916,3513},{251,272}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,272}</string>
			</dict>
			<key>sortit/clock.png</key>
			<dict>
				<key>frame</key>
				<string>{{1916,3131},{382,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{382,382}</string>
			</dict>
			<key>sortit/fridge.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3152},{712,1003}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{712,1003}</string>
			</dict>
			<key>sortit/harpPlay.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2156},{736,996}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{736,996}</string>
			</dict>
			<key>sortit/stand.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,1216},{1025,362}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1025,362}</string>
			</dict>
			<key>sortit/string1.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,3110},{33,862}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,862}</string>
			</dict>
			<key>sortit/string1t.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,3787},{33,862}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,862}</string>
			</dict>
			<key>sortit/string2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,3820},{31,809}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,809}</string>
			</dict>
			<key>sortit/string2t.png</key>
			<dict>
				<key>frame</key>
				<string>{{1865,3787},{31,809}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,809}</string>
			</dict>
			<key>sortit/string3.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,2119},{37,628}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,628}</string>
			</dict>
			<key>sortit/string3t.png</key>
			<dict>
				<key>frame</key>
				<string>{{1420,2119},{37,628}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,628}</string>
			</dict>
			<key>sortit/string4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1406,3075},{28,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,450}</string>
			</dict>
			<key>sortit/string4t.png</key>
			<dict>
				<key>frame</key>
				<string>{{1598,3103},{28,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,450}</string>
			</dict>
			<key>sortit/string5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1584,2062},{26,332}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,332}</string>
			</dict>
			<key>sortit/string5t.png</key>
			<dict>
				<key>frame</key>
				<string>{{1584,2088},{26,332}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,332}</string>
			</dict>
			<key>sortit/string6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1916,2062},{28,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,246}</string>
			</dict>
			<key>sortit/string6t.png</key>
			<dict>
				<key>frame</key>
				<string>{{1916,2090},{28,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,246}</string>
			</dict>
			<key>sortit/toy1.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,1891},{792,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{792,114}</string>
			</dict>
			<key>sortit/toy1t.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,2005},{792,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{792,114}</string>
			</dict>
			<key>sortit/toy2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2167,3513},{628,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{628,108}</string>
			</dict>
			<key>sortit/toy2t.png</key>
			<dict>
				<key>frame</key>
				<string>{{2674,3621},{628,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{628,108}</string>
			</dict>
			<key>sortit/toy3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2167,3621},{378,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{378,147}</string>
			</dict>
			<key>sortit/toy3t.png</key>
			<dict>
				<key>frame</key>
				<string>{{3300,3729},{378,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{378,147}</string>
			</dict>
			<key>sortit/toy4.png</key>
			<dict>
				<key>frame</key>
				<string>{{3300,3876},{274,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,180}</string>
			</dict>
			<key>sortit/toy4t.png</key>
			<dict>
				<key>frame</key>
				<string>{{3574,3876},{274,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,180}</string>
			</dict>
			<key>sortit/toy5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3944,0},{196,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,139}</string>
			</dict>
			<key>sortit/toy5t.png</key>
			<dict>
				<key>frame</key>
				<string>{{3944,196},{196,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,139}</string>
			</dict>
			<key>sortit/toy6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2545,3621},{136,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,115}</string>
			</dict>
			<key>sortit/toy6t.png</key>
			<dict>
				<key>frame</key>
				<string>{{3944,392},{136,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,115}</string>
			</dict>
			<key>sortit/eyes_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3848,0},{410,96}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{428,109}</string>
			</dict>
			<key>sortit/eyes_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1406,3029},{414,46}}</string>
				<key>offset</key>
				<string>{2,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{428,109}</string>
			</dict>
			<key>sortit/eyes_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2674,3729},{504,88}}</string>
				<key>offset</key>
				<string>{-4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{544,122}</string>
			</dict>
			<key>sortit/eyes_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1236,4023},{481,53}}</string>
				<key>offset</key>
				<string>{3,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{544,122}</string>
			</dict>
			<key>sortit/character1.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,2156},{670,954}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{670,954}</string>
			</dict>
			<key>sortit/character2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1216},{792,940}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{792,940}</string>
			</dict>
			<key>sortit/character3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,3143},{644,913}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{644,913}</string>
			</dict>
			<key>sortit/character4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{935,1216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{935,1216}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>sortit.png</string>
			<key>realTextureFileName</key>
			<string>sortit.png</string>
			<key>size</key>
			<string>{4083,4086}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4083</integer>
			<key>height</key>
			<integer>4086</integer>
		</dict>
	</dict>
</plist>