<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Medicine_for_Topi/bgwave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1665,246}</string>
                <key>spriteSourceSize</key>
                <string>{1665,246}</string>
                <key>textureRect</key>
                <string>{{1,1},{1665,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Medicine_for_Topi/boatlower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{729,217}</string>
                <key>spriteSourceSize</key>
                <string>{729,217}</string>
                <key>textureRect</key>
                <string>{{249,1},{729,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Medicine_for_Topi/boatupper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{543,456}</string>
                <key>spriteSourceSize</key>
                <string>{555,456}</string>
                <key>textureRect</key>
                <string>{{1,2301},{543,456}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Medicine_for_Topi/land.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,357}</string>
                <key>spriteSourceSize</key>
                <string>{584,357}</string>
                <key>textureRect</key>
                <string>{{149,1715},{584,357}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Medicine_for_Topi/lighting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,434}</string>
                <key>spriteSourceSize</key>
                <string>{138,434}</string>
                <key>textureRect</key>
                <string>{{249,732},{138,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medicine_for_Topi/medicine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,125}</string>
                <key>spriteSourceSize</key>
                <string>{89,125}</string>
                <key>textureRect</key>
                <string>{{389,732},{89,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medicine_for_Topi/tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,335}</string>
                <key>spriteSourceSize</key>
                <string>{174,335}</string>
                <key>textureRect</key>
                <string>{{249,1168},{174,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medicine_for_Topi/water1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{249,1505},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medicine_for_Topi/water2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,124}</string>
                <key>spriteSourceSize</key>
                <string>{137,124}</string>
                <key>textureRect</key>
                <string>{{1,1806},{137,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medicine_for_Topi/water3a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,136}</string>
                <key>spriteSourceSize</key>
                <string>{146,136}</string>
                <key>textureRect</key>
                <string>{{1,1668},{146,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medicine_for_Topi/water3b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,86}</string>
                <key>spriteSourceSize</key>
                <string>{87,86}</string>
                <key>textureRect</key>
                <string>{{389,859},{87,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medicine_for_Topi/water3c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,35}</string>
                <key>spriteSourceSize</key>
                <string>{39,35}</string>
                <key>textureRect</key>
                <string>{{468,1},{39,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Medicine_for_Topi/window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{550,444}</string>
                <key>spriteSourceSize</key>
                <string>{570,444}</string>
                <key>textureRect</key>
                <string>{{1,2846},{550,444}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Medicine_for_Topi.png</string>
            <key>size</key>
            <string>{508,3397}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccb3d373f3093ebc6b45b5b57722237e:d124a7bf428d6fe6ca8968e6246a2f4e:b39b0ac64447be0beac6c43a39e480b8$</string>
            <key>textureFileName</key>
            <string>Medicine_for_Topi.png</string>
        </dict>
    </dict>
</plist>
