<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hippo/jump/j1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,9}</string>
                <key>spriteSize</key>
                <string>{424,221}</string>
                <key>spriteSourceSize</key>
                <string>{548,299}</string>
                <key>textureRect</key>
                <string>{{455,208},{424,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/jump/j2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-5}</string>
                <key>spriteSize</key>
                <string>{430,267}</string>
                <key>spriteSourceSize</key>
                <string>{548,299}</string>
                <key>textureRect</key>
                <string>{{1,347},{430,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/jump/j3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,3}</string>
                <key>spriteSize</key>
                <string>{492,205}</string>
                <key>spriteSourceSize</key>
                <string>{548,299}</string>
                <key>textureRect</key>
                <string>{{433,431},{492,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/jump/j4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-11}</string>
                <key>spriteSize</key>
                <string>{452,175}</string>
                <key>spriteSourceSize</key>
                <string>{548,299}</string>
                <key>textureRect</key>
                <string>{{1,170},{452,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/jump/j5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-5}</string>
                <key>spriteSize</key>
                <string>{472,167}</string>
                <key>spriteSourceSize</key>
                <string>{548,299}</string>
                <key>textureRect</key>
                <string>{{1,1},{472,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/jump/j6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,7}</string>
                <key>spriteSize</key>
                <string>{410,205}</string>
                <key>spriteSourceSize</key>
                <string>{548,299}</string>
                <key>textureRect</key>
                <string>{{475,1},{410,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jump.png</string>
            <key>size</key>
            <string>{926,637}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd9e6c7938add5faef9e4f8056744b1e:e47460fdfbb9969da45614a27912aa11:ed1291da20e6b20bef66ae0f4142d6a3$</string>
            <key>textureFileName</key>
            <string>jump.png</string>
        </dict>
    </dict>
</plist>
