<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hospital/book1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,23}</string>
                <key>spriteSourceSize</key>
                <string>{10,23}</string>
                <key>textureRect</key>
                <string>{{215,192},{10,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/book2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,29}</string>
                <key>spriteSourceSize</key>
                <string>{10,29}</string>
                <key>textureRect</key>
                <string>{{215,104},{10,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/book3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,19}</string>
                <key>spriteSourceSize</key>
                <string>{10,19}</string>
                <key>textureRect</key>
                <string>{{215,1},{10,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hospital/book4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,27}</string>
                <key>spriteSourceSize</key>
                <string>{10,27}</string>
                <key>textureRect</key>
                <string>{{215,135},{10,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/book5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,26}</string>
                <key>spriteSourceSize</key>
                <string>{10,26}</string>
                <key>textureRect</key>
                <string>{{215,164},{10,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/bookstand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,126}</string>
                <key>spriteSourceSize</key>
                <string>{90,126}</string>
                <key>textureRect</key>
                <string>{{142,701},{90,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{86,795},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/certificate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,40}</string>
                <key>spriteSourceSize</key>
                <string>{55,40}</string>
                <key>textureRect</key>
                <string>{{179,333},{55,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/chair1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,90}</string>
                <key>spriteSourceSize</key>
                <string>{57,90}</string>
                <key>textureRect</key>
                <string>{{130,829},{57,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hospital/chair2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,94}</string>
                <key>spriteSourceSize</key>
                <string>{62,94}</string>
                <key>textureRect</key>
                <string>{{166,496},{62,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/chair3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,91}</string>
                <key>spriteSourceSize</key>
                <string>{176,91}</string>
                <key>textureRect</key>
                <string>{{1,333},{176,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/dripstand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,157}</string>
                <key>spriteSourceSize</key>
                <string>{89,157}</string>
                <key>textureRect</key>
                <string>{{1,608},{89,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hospital/emergency.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,20}</string>
                <key>spriteSourceSize</key>
                <string>{86,20}</string>
                <key>textureRect</key>
                <string>{{214,217},{86,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hospital/heartratemonitor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,29}</string>
                <key>spriteSourceSize</key>
                <string>{49,29}</string>
                <key>textureRect</key>
                <string>{{179,401},{49,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/hospitalbed1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,105}</string>
                <key>spriteSourceSize</key>
                <string>{163,105}</string>
                <key>textureRect</key>
                <string>{{1,426},{163,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/hospitalbed2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,73}</string>
                <key>spriteSourceSize</key>
                <string>{160,73}</string>
                <key>textureRect</key>
                <string>{{1,533},{160,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/hospitalfloor1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,34}</string>
                <key>spriteSourceSize</key>
                <string>{84,34}</string>
                <key>textureRect</key>
                <string>{{86,831},{84,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hospital/hospitalfloor3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,24}</string>
                <key>spriteSourceSize</key>
                <string>{53,24}</string>
                <key>textureRect</key>
                <string>{{179,375},{53,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/hospitallights.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,78}</string>
                <key>spriteSourceSize</key>
                <string>{89,78}</string>
                <key>textureRect</key>
                <string>{{130,888},{89,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/injection.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,7}</string>
                <key>spriteSourceSize</key>
                <string>{33,7}</string>
                <key>textureRect</key>
                <string>{{227,104},{33,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hospital/pc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,81}</string>
                <key>spriteSourceSize</key>
                <string>{24,81}</string>
                <key>textureRect</key>
                <string>{{1,938},{24,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hospital/piller.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,211}</string>
                <key>spriteSourceSize</key>
                <string>{132,211}</string>
                <key>textureRect</key>
                <string>{{1,199},{132,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hospital/steps.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,196}</string>
                <key>spriteSourceSize</key>
                <string>{212,196}</string>
                <key>textureRect</key>
                <string>{{1,1},{212,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/stethoscope.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,29}</string>
                <key>spriteSourceSize</key>
                <string>{46,29}</string>
                <key>textureRect</key>
                <string>{{24,795},{46,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/syrup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,44}</string>
                <key>spriteSourceSize</key>
                <string>{22,44}</string>
                <key>textureRect</key>
                <string>{{84,938},{22,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hospital/table4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,94}</string>
                <key>spriteSourceSize</key>
                <string>{139,94}</string>
                <key>textureRect</key>
                <string>{{1,699},{139,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/wall1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,75}</string>
                <key>spriteSourceSize</key>
                <string>{12,75}</string>
                <key>textureRect</key>
                <string>{{215,13},{12,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/wall2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{215,90},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/wallclock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{63,62}</string>
                <key>textureRect</key>
                <string>{{166,432},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/weighingmachine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{1,795},{32,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hospital/wheelchair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,107}</string>
                <key>spriteSourceSize</key>
                <string>{83,107}</string>
                <key>textureRect</key>
                <string>{{1,829},{83,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/xray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,71}</string>
                <key>spriteSourceSize</key>
                <string>{107,71}</string>
                <key>textureRect</key>
                <string>{{163,592},{107,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hospital.png</string>
            <key>size</key>
            <string>{235,967}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55dbda8f6285aedcc7c018fd0b77e3ec:67b73c2f2b184041671699ad35a0bc05:af25e981db9cd6765691747bbcc9249e$</string>
            <key>textureFileName</key>
            <string>hospital.png</string>
        </dict>
    </dict>
</plist>
