<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bi_Simu/Priest_shoe_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,10}</string>
                <key>spriteSourceSize</key>
                <string>{39,10}</string>
                <key>textureRect</key>
                <string>{{495,1078},{39,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/astronaut_shoe_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,11}</string>
                <key>spriteSourceSize</key>
                <string>{39,11}</string>
                <key>textureRect</key>
                <string>{{294,971},{39,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/barber_arm_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,26}</string>
                <key>spriteSourceSize</key>
                <string>{17,26}</string>
                <key>textureRect</key>
                <string>{{393,394},{17,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/barber_ear_round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,44}</string>
                <key>spriteSourceSize</key>
                <string>{35,44}</string>
                <key>textureRect</key>
                <string>{{260,1048},{35,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/barber_eyebrow_boy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,16}</string>
                <key>spriteSourceSize</key>
                <string>{28,16}</string>
                <key>textureRect</key>
                <string>{{393,311},{28,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/barber_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,170}</string>
                <key>spriteSourceSize</key>
                <string>{204,170}</string>
                <key>textureRect</key>
                <string>{{302,1201},{204,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/barber_hair_Burr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,120}</string>
                <key>spriteSourceSize</key>
                <string>{187,120}</string>
                <key>textureRect</key>
                <string>{{306,1078},{187,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/barber_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{294,860},{13,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/barber_lightbrown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,25}</string>
                <key>spriteSourceSize</key>
                <string>{11,25}</string>
                <key>textureRect</key>
                <string>{{260,1018},{11,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/barber_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,43}</string>
                <key>spriteSourceSize</key>
                <string>{7,43}</string>
                <key>textureRect</key>
                <string>{{260,1094},{7,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/barber_mouth_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,27}</string>
                <key>spriteSourceSize</key>
                <string>{63,27}</string>
                <key>textureRect</key>
                <string>{{393,329},{63,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/barber_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,38}</string>
                <key>spriteSourceSize</key>
                <string>{20,38}</string>
                <key>textureRect</key>
                <string>{{259,1287},{20,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/barber_nose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,107}</string>
                <key>spriteSourceSize</key>
                <string>{137,107}</string>
                <key>textureRect</key>
                <string>{{150,1373},{135,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/barber_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{297,1373},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/barber_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,24}</string>
                <key>spriteSourceSize</key>
                <string>{8,24}</string>
                <key>textureRect</key>
                <string>{{287,1331},{8,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/barber_pant_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,24}</string>
                <key>spriteSourceSize</key>
                <string>{8,24}</string>
                <key>textureRect</key>
                <string>{{287,1357},{8,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/barber_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,37}</string>
                <key>spriteSourceSize</key>
                <string>{9,37}</string>
                <key>textureRect</key>
                <string>{{259,1309},{9,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/barber_pant_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,37}</string>
                <key>spriteSourceSize</key>
                <string>{9,37}</string>
                <key>textureRect</key>
                <string>{{259,1320},{9,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/barber_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,146}</string>
                <key>spriteSourceSize</key>
                <string>{107,146}</string>
                <key>textureRect</key>
                <string>{{150,1194},{107,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/barber_shirt_sleave_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,30}</string>
                <key>spriteSourceSize</key>
                <string>{16,30}</string>
                <key>textureRect</key>
                <string>{{260,988},{16,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/barber_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,8}</string>
                <key>spriteSourceSize</key>
                <string>{40,8}</string>
                <key>textureRect</key>
                <string>{{259,1244},{40,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/barber_shoes_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,8}</string>
                <key>spriteSourceSize</key>
                <string>{40,8}</string>
                <key>textureRect</key>
                <string>{{259,1254},{40,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/barber_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,44}</string>
                <key>spriteSourceSize</key>
                <string>{7,44}</string>
                <key>textureRect</key>
                <string>{{260,1085},{7,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/boss_shoe_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,10}</string>
                <key>spriteSourceSize</key>
                <string>{39,10}</string>
                <key>textureRect</key>
                <string>{{495,1119},{39,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/boy_arm_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,26}</string>
                <key>spriteSourceSize</key>
                <string>{17,26}</string>
                <key>textureRect</key>
                <string>{{393,394},{17,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/boy_ear_round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,44}</string>
                <key>spriteSourceSize</key>
                <string>{35,44}</string>
                <key>textureRect</key>
                <string>{{260,1048},{35,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/boy_eyebrow_boy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,16}</string>
                <key>spriteSourceSize</key>
                <string>{28,16}</string>
                <key>textureRect</key>
                <string>{{393,311},{28,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/boy_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,170}</string>
                <key>spriteSourceSize</key>
                <string>{204,170}</string>
                <key>textureRect</key>
                <string>{{302,1201},{204,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/boy_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{294,860},{13,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/boy_lightbrown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,25}</string>
                <key>spriteSourceSize</key>
                <string>{11,25}</string>
                <key>textureRect</key>
                <string>{{260,1018},{11,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/boy_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,43}</string>
                <key>spriteSourceSize</key>
                <string>{7,43}</string>
                <key>textureRect</key>
                <string>{{260,1094},{7,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/boy_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,38}</string>
                <key>spriteSourceSize</key>
                <string>{20,38}</string>
                <key>textureRect</key>
                <string>{{259,1287},{20,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/boy_nose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,107}</string>
                <key>spriteSourceSize</key>
                <string>{137,107}</string>
                <key>textureRect</key>
                <string>{{150,1373},{135,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/boy_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,44}</string>
                <key>spriteSourceSize</key>
                <string>{7,44}</string>
                <key>textureRect</key>
                <string>{{260,1085},{7,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/cowboy_shoe_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,11}</string>
                <key>spriteSourceSize</key>
                <string>{46,11}</string>
                <key>textureRect</key>
                <string>{{294,881},{46,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/cricketer_shoe_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,9}</string>
                <key>spriteSourceSize</key>
                <string>{39,9}</string>
                <key>textureRect</key>
                <string>{{259,1276},{39,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,170}</string>
                <key>spriteSourceSize</key>
                <string>{117,170}</string>
                <key>textureRect</key>
                <string>{{21,1194},{117,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/engineer_shoe_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,9}</string>
                <key>spriteSourceSize</key>
                <string>{40,9}</string>
                <key>textureRect</key>
                <string>{{259,1233},{40,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/footballer_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,10}</string>
                <key>spriteSourceSize</key>
                <string>{39,10}</string>
                <key>textureRect</key>
                <string>{{495,1160},{39,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/lamp1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,291}</string>
                <key>spriteSourceSize</key>
                <string>{126,291}</string>
                <key>textureRect</key>
                <string>{{1,860},{126,291}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/lawyer_shoe_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,10}</string>
                <key>spriteSourceSize</key>
                <string>{39,10}</string>
                <key>textureRect</key>
                <string>{{259,1264},{39,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/motu_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{403,1373},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/motu_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,24}</string>
                <key>spriteSourceSize</key>
                <string>{8,24}</string>
                <key>textureRect</key>
                <string>{{1,1342},{8,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/motu_pant_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,24}</string>
                <key>spriteSourceSize</key>
                <string>{8,24}</string>
                <key>textureRect</key>
                <string>{{11,1342},{8,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/motu_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,37}</string>
                <key>spriteSourceSize</key>
                <string>{9,37}</string>
                <key>textureRect</key>
                <string>{{259,1331},{9,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/motu_pant_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,37}</string>
                <key>spriteSourceSize</key>
                <string>{9,37}</string>
                <key>textureRect</key>
                <string>{{270,1331},{9,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/motu_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,147}</string>
                <key>spriteSourceSize</key>
                <string>{107,147}</string>
                <key>textureRect</key>
                <string>{{1,1373},{107,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/motu_shirt_sleave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{393,413},{16,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/motu_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,8}</string>
                <key>spriteSourceSize</key>
                <string>{40,8}</string>
                <key>textureRect</key>
                <string>{{259,1244},{40,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/motu_shoes_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,8}</string>
                <key>spriteSourceSize</key>
                <string>{40,8}</string>
                <key>textureRect</key>
                <string>{{259,1254},{40,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/mouth_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,27}</string>
                <key>spriteSourceSize</key>
                <string>{63,27}</string>
                <key>textureRect</key>
                <string>{{393,329},{63,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/msphone_floor_page1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,79}</string>
                <key>spriteSourceSize</key>
                <string>{420,79}</string>
                <key>textureRect</key>
                <string>{{423,1},{420,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/msphone_floor_page2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,141}</string>
                <key>spriteSourceSize</key>
                <string>{390,141}</string>
                <key>textureRect</key>
                <string>{{1,581},{390,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/msphone_showcase_page1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,308}</string>
                <key>spriteSourceSize</key>
                <string>{420,308}</string>
                <key>textureRect</key>
                <string>{{1,1},{420,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/msphone_table_page2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,134}</string>
                <key>spriteSourceSize</key>
                <string>{308,134}</string>
                <key>textureRect</key>
                <string>{{1,724},{308,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/msphone_wall_page2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,268}</string>
                <key>spriteSourceSize</key>
                <string>{390,268}</string>
                <key>textureRect</key>
                <string>{{1,311},{390,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/pinkphone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,40}</string>
                <key>spriteSourceSize</key>
                <string>{24,40}</string>
                <key>textureRect</key>
                <string>{{260,1181},{24,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/purplephone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,41}</string>
                <key>spriteSourceSize</key>
                <string>{24,41}</string>
                <key>textureRect</key>
                <string>{{260,1103},{24,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/purplepink_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,147}</string>
                <key>spriteSourceSize</key>
                <string>{112,147}</string>
                <key>textureRect</key>
                <string>{{393,431},{112,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/purplepink_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,110}</string>
                <key>spriteSourceSize</key>
                <string>{112,110}</string>
                <key>textureRect</key>
                <string>{{393,580},{112,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/purplepink_sleave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,24}</string>
                <key>spriteSourceSize</key>
                <string>{17,24}</string>
                <key>textureRect</key>
                <string>{{273,1018},{17,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/redphone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,41}</string>
                <key>spriteSourceSize</key>
                <string>{24,41}</string>
                <key>textureRect</key>
                <string>{{260,1129},{24,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,204}</string>
                <key>spriteSourceSize</key>
                <string>{257,204}</string>
                <key>textureRect</key>
                <string>{{1,988},{257,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/teacher_shoe_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,11}</string>
                <key>spriteSourceSize</key>
                <string>{40,11}</string>
                <key>textureRect</key>
                <string>{{294,929},{40,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/whitephone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,40}</string>
                <key>spriteSourceSize</key>
                <string>{24,40}</string>
                <key>textureRect</key>
                <string>{{259,1207},{24,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/wife_body_female.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,140}</string>
                <key>spriteSourceSize</key>
                <string>{109,140}</string>
                <key>textureRect</key>
                <string>{{393,692},{109,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/wife_eye_outer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,6}</string>
                <key>spriteSourceSize</key>
                <string>{29,6}</string>
                <key>textureRect</key>
                <string>{{421,423},{29,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/wife_eyebrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,10}</string>
                <key>spriteSourceSize</key>
                <string>{30,10}</string>
                <key>textureRect</key>
                <string>{{260,1006},{30,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/wife_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,170}</string>
                <key>spriteSourceSize</key>
                <string>{204,170}</string>
                <key>textureRect</key>
                <string>{{302,1201},{204,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/wife_hair_bun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,196}</string>
                <key>spriteSourceSize</key>
                <string>{242,196}</string>
                <key>textureRect</key>
                <string>{{311,834},{242,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/wife_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{294,860},{13,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/wife_lightbrown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,25}</string>
                <key>spriteSourceSize</key>
                <string>{11,25}</string>
                <key>textureRect</key>
                <string>{{260,1018},{11,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/wife_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,43}</string>
                <key>spriteSourceSize</key>
                <string>{7,43}</string>
                <key>textureRect</key>
                <string>{{260,1094},{7,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/wife_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{452,423},{6,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/wife_mouth_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,27}</string>
                <key>spriteSourceSize</key>
                <string>{63,27}</string>
                <key>textureRect</key>
                <string>{{393,329},{63,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/wife_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,34}</string>
                <key>spriteSourceSize</key>
                <string>{17,34}</string>
                <key>textureRect</key>
                <string>{{292,1012},{17,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/wife_nose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,107}</string>
                <key>spriteSourceSize</key>
                <string>{137,107}</string>
                <key>textureRect</key>
                <string>{{150,1373},{135,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/wife_shoe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,5}</string>
                <key>spriteSourceSize</key>
                <string>{26,5}</string>
                <key>textureRect</key>
                <string>{{480,423},{26,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/wife_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,44}</string>
                <key>spriteSourceSize</key>
                <string>{7,44}</string>
                <key>textureRect</key>
                <string>{{260,1085},{7,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bi_Simu/wife_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,22}</string>
                <key>spriteSourceSize</key>
                <string>{5,22}</string>
                <key>textureRect</key>
                <string>{{287,1383},{5,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bi_Simu/yellowphone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,41}</string>
                <key>spriteSourceSize</key>
                <string>{24,41}</string>
                <key>textureRect</key>
                <string>{{260,1155},{24,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bi_Simu.png</string>
            <key>size</key>
            <string>{508,1481}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9e982e1c7a8ca592ea122091095e0f3:20a9c5a6c705e5893fe9747f2aaa8e82:c81c21923bbbe208cd11bbc342a71bdf$</string>
            <key>textureFileName</key>
            <string>Bi_Simu.png</string>
        </dict>
    </dict>
</plist>
