<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>balloonhero/balloonhero2/box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-66,133.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{135,270}</string>
                <key>textureRect</key>
                <string>{{1,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/balloonhero2/forcefield0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{158,122}</string>
                <key>spriteSourceSize</key>
                <string>{170,138}</string>
                <key>textureRect</key>
                <string>{{1,205},{158,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/balloonhero2/forcefield0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{158,122}</string>
                <key>spriteSourceSize</key>
                <string>{170,138}</string>
                <key>textureRect</key>
                <string>{{1,205},{158,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/balloonhero2/forcefield0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{158,110}</string>
                <key>spriteSourceSize</key>
                <string>{170,138}</string>
                <key>textureRect</key>
                <string>{{1,93},{158,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/balloonhero2/forcefield0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{158,110}</string>
                <key>spriteSourceSize</key>
                <string>{170,138}</string>
                <key>textureRect</key>
                <string>{{1,93},{158,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/balloonhero2/forcefield0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,138}</string>
                <key>spriteSourceSize</key>
                <string>{170,138}</string>
                <key>textureRect</key>
                <string>{{1,329},{170,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/balloonhero2/forcefield0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,138}</string>
                <key>spriteSourceSize</key>
                <string>{170,138}</string>
                <key>textureRect</key>
                <string>{{1,329},{170,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/balloonhero2/forcefield0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{158,90}</string>
                <key>spriteSourceSize</key>
                <string>{170,138}</string>
                <key>textureRect</key>
                <string>{{6,1},{158,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/balloonhero2/forcefield0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{158,90}</string>
                <key>spriteSourceSize</key>
                <string>{170,138}</string>
                <key>textureRect</key>
                <string>{{6,1},{158,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>balloonhero2.png</string>
            <key>size</key>
            <string>{172,468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a08d2987b38206737f476e4cdee338a4:4ec1ddc51cbd4b8291afb67745ecbc7b:94d2ee9545016670140f88b6f84913a8$</string>
            <key>textureFileName</key>
            <string>balloonhero2.png</string>
        </dict>
    </dict>
</plist>
