<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>faceavatar/bgball1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1217,1217}</string>
                <key>spriteSourceSize</key>
                <string>{1217,1217}</string>
                <key>textureRect</key>
                <string>{{1,1},{1217,1217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/bgball2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1217,1217}</string>
                <key>spriteSourceSize</key>
                <string>{1217,1217}</string>
                <key>textureRect</key>
                <string>{{1220,1},{1217,1217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/bgball3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1217,1217}</string>
                <key>spriteSourceSize</key>
                <string>{1217,1217}</string>
                <key>textureRect</key>
                <string>{{2439,1},{1217,1217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{455,299}</string>
                <key>spriteSourceSize</key>
                <string>{455,299}</string>
                <key>textureRect</key>
                <string>{{2525,1862},{455,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eye1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{458,163}</string>
                <key>spriteSourceSize</key>
                <string>{458,163}</string>
                <key>textureRect</key>
                <string>{{2525,1697},{458,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eye2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,126}</string>
                <key>spriteSourceSize</key>
                <string>{420,126}</string>
                <key>textureRect</key>
                <string>{{2784,3194},{420,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/eye3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{487,125}</string>
                <key>spriteSourceSize</key>
                <string>{487,125}</string>
                <key>textureRect</key>
                <string>{{2986,2981},{487,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eye4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{590,141}</string>
                <key>spriteSourceSize</key>
                <string>{590,141}</string>
                <key>textureRect</key>
                <string>{{3011,2281},{590,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eye5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{541,157}</string>
                <key>spriteSourceSize</key>
                <string>{541,157}</string>
                <key>textureRect</key>
                <string>{{2105,1538},{541,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eye6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{554,177}</string>
                <key>spriteSourceSize</key>
                <string>{554,177}</string>
                <key>textureRect</key>
                <string>{{2986,2666},{554,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyeballs1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,103}</string>
                <key>spriteSourceSize</key>
                <string>{364,103}</string>
                <key>textureRect</key>
                <string>{{3159,3262},{364,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyeballs2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,103}</string>
                <key>spriteSourceSize</key>
                <string>{357,103}</string>
                <key>textureRect</key>
                <string>{{3155,3367},{357,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyeballs3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,104}</string>
                <key>spriteSourceSize</key>
                <string>{360,104}</string>
                <key>textureRect</key>
                <string>{{3542,2714},{360,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyeballs4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,103}</string>
                <key>spriteSourceSize</key>
                <string>{360,103}</string>
                <key>textureRect</key>
                <string>{{2912,3505},{360,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyeballs5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,104}</string>
                <key>spriteSourceSize</key>
                <string>{360,104}</string>
                <key>textureRect</key>
                <string>{{3542,2820},{360,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyeballs6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,103}</string>
                <key>spriteSourceSize</key>
                <string>{358,103}</string>
                <key>textureRect</key>
                <string>{{3525,3301},{358,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyeballsnormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,217}</string>
                <key>spriteSourceSize</key>
                <string>{217,217}</string>
                <key>textureRect</key>
                <string>{{1,1220},{217,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyeballspressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,241}</string>
                <key>spriteSourceSize</key>
                <string>{241,241}</string>
                <key>textureRect</key>
                <string>{{3658,1},{241,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyebrow1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{471,59}</string>
                <key>spriteSourceSize</key>
                <string>{471,59}</string>
                <key>textureRect</key>
                <string>{{2026,2348},{471,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyebrow2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,62}</string>
                <key>spriteSourceSize</key>
                <string>{440,62}</string>
                <key>textureRect</key>
                <string>{{1487,2348},{440,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyebrow3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{475,57}</string>
                <key>spriteSourceSize</key>
                <string>{475,57}</string>
                <key>textureRect</key>
                <string>{{1649,3285},{475,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/eyebrow4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{475,43}</string>
                <key>spriteSourceSize</key>
                <string>{475,43}</string>
                <key>textureRect</key>
                <string>{{1238,4029},{475,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyebrow5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{471,42}</string>
                <key>spriteSourceSize</key>
                <string>{471,42}</string>
                <key>textureRect</key>
                <string>{{2127,3215},{471,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyebrow6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,30}</string>
                <key>spriteSourceSize</key>
                <string>{503,30}</string>
                <key>textureRect</key>
                <string>{{894,2380},{503,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyebrownormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,217}</string>
                <key>spriteSourceSize</key>
                <string>{217,217}</string>
                <key>textureRect</key>
                <string>{{220,1220},{217,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyebrowpressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,241}</string>
                <key>spriteSourceSize</key>
                <string>{241,241}</string>
                <key>textureRect</key>
                <string>{{3658,244},{241,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyenormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,217}</string>
                <key>spriteSourceSize</key>
                <string>{217,217}</string>
                <key>textureRect</key>
                <string>{{439,1220},{217,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyepressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,241}</string>
                <key>spriteSourceSize</key>
                <string>{241,241}</string>
                <key>textureRect</key>
                <string>{{3658,487},{241,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyewear1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,88}</string>
                <key>spriteSourceSize</key>
                <string>{208,88}</string>
                <key>textureRect</key>
                <string>{{2629,1341},{208,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyewear2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{654,251}</string>
                <key>spriteSourceSize</key>
                <string>{654,251}</string>
                <key>textureRect</key>
                <string>{{3642,1702},{654,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/eyewear3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{667,316}</string>
                <key>spriteSourceSize</key>
                <string>{667,316}</string>
                <key>textureRect</key>
                <string>{{2986,1220},{667,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyewear4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,216}</string>
                <key>spriteSourceSize</key>
                <string>{674,216}</string>
                <key>textureRect</key>
                <string>{{1431,3342},{674,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/eyewear5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{627,178}</string>
                <key>spriteSourceSize</key>
                <string>{627,178}</string>
                <key>textureRect</key>
                <string>{{3011,2101},{627,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyewear6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{632,175}</string>
                <key>spriteSourceSize</key>
                <string>{632,175}</string>
                <key>textureRect</key>
                <string>{{2105,1702},{632,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/eyewearnormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,217}</string>
                <key>spriteSourceSize</key>
                <string>{217,217}</string>
                <key>textureRect</key>
                <string>{{658,1220},{217,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/eyewearpressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,241}</string>
                <key>spriteSourceSize</key>
                <string>{241,241}</string>
                <key>textureRect</key>
                <string>{{3658,730},{241,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/facecolornormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,217}</string>
                <key>spriteSourceSize</key>
                <string>{217,217}</string>
                <key>textureRect</key>
                <string>{{877,1220},{217,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/facecolorpressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,241}</string>
                <key>spriteSourceSize</key>
                <string>{241,241}</string>
                <key>textureRect</key>
                <string>{{3658,973},{241,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/faceshape1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{871,558}</string>
                <key>spriteSourceSize</key>
                <string>{871,558}</string>
                <key>textureRect</key>
                <string>{{1567,2412},{871,558}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/faceshape2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{654,561}</string>
                <key>spriteSourceSize</key>
                <string>{654,561}</string>
                <key>textureRect</key>
                <string>{{2986,1538},{654,561}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/faceshape3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{794,563}</string>
                <key>spriteSourceSize</key>
                <string>{794,563}</string>
                <key>textureRect</key>
                <string>{{1715,3285},{794,563}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/faceshape4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{707,566}</string>
                <key>spriteSourceSize</key>
                <string>{707,566}</string>
                <key>textureRect</key>
                <string>{{188,3358},{707,566}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/faceshape5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{744,502}</string>
                <key>spriteSourceSize</key>
                <string>{744,502}</string>
                <key>textureRect</key>
                <string>{{2280,3259},{744,502}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/faceshape6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{783,566}</string>
                <key>spriteSourceSize</key>
                <string>{783,566}</string>
                <key>textureRect</key>
                <string>{{2418,2409},{783,566}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/faceshapenormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,217}</string>
                <key>spriteSourceSize</key>
                <string>{217,217}</string>
                <key>textureRect</key>
                <string>{{1096,1220},{217,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/faceshapepressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,241}</string>
                <key>spriteSourceSize</key>
                <string>{241,241}</string>
                <key>textureRect</key>
                <string>{{3658,1216},{241,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/facewearnormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,217}</string>
                <key>spriteSourceSize</key>
                <string>{217,217}</string>
                <key>textureRect</key>
                <string>{{1315,1220},{217,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/facewearpressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,241}</string>
                <key>spriteSourceSize</key>
                <string>{241,241}</string>
                <key>textureRect</key>
                <string>{{3655,1459},{241,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/finish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,337}</string>
                <key>spriteSourceSize</key>
                <string>{337,337}</string>
                <key>textureRect</key>
                <string>{{3514,3406},{337,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/finishpressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,373}</string>
                <key>spriteSourceSize</key>
                <string>{373,373}</string>
                <key>textureRect</key>
                <string>{{3526,2926},{373,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/hair1back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{722,480}</string>
                <key>spriteSourceSize</key>
                <string>{722,480}</string>
                <key>textureRect</key>
                <string>{{756,3342},{722,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/hair1front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{804,289}</string>
                <key>spriteSourceSize</key>
                <string>{804,289}</string>
                <key>textureRect</key>
                <string>{{2127,2409},{804,289}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/hair2back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,787}</string>
                <key>spriteSourceSize</key>
                <string>{960,787}</string>
                <key>textureRect</key>
                <string>{{1,1459},{960,787}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/hair2front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,152}</string>
                <key>spriteSourceSize</key>
                <string>{486,152}</string>
                <key>textureRect</key>
                <string>{{2986,3108},{486,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/hair3back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{919,915}</string>
                <key>spriteSourceSize</key>
                <string>{919,915}</string>
                <key>textureRect</key>
                <string>{{650,2421},{919,915}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/hair3front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,240}</string>
                <key>spriteSourceSize</key>
                <string>{580,240}</string>
                <key>textureRect</key>
                <string>{{2986,2424},{580,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/hair4back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{919,695}</string>
                <key>spriteSourceSize</key>
                <string>{919,695}</string>
                <key>textureRect</key>
                <string>{{790,1459},{919,695}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/hair4front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,134}</string>
                <key>spriteSourceSize</key>
                <string>{538,134}</string>
                <key>textureRect</key>
                <string>{{2986,2845},{538,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/hair5back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{935,647}</string>
                <key>spriteSourceSize</key>
                <string>{935,647}</string>
                <key>textureRect</key>
                <string>{{1,2421},{935,647}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/hair5front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{685,191}</string>
                <key>spriteSourceSize</key>
                <string>{685,191}</string>
                <key>textureRect</key>
                <string>{{1238,3342},{685,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/hair6back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{887,616}</string>
                <key>spriteSourceSize</key>
                <string>{887,616}</string>
                <key>textureRect</key>
                <string>{{1487,1459},{887,616}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/hair6front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{712,185}</string>
                <key>spriteSourceSize</key>
                <string>{712,185}</string>
                <key>textureRect</key>
                <string>{{1,3358},{712,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/haircolornormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,217}</string>
                <key>spriteSourceSize</key>
                <string>{217,217}</string>
                <key>textureRect</key>
                <string>{{1534,1220},{217,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/haircolorpressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,241}</string>
                <key>spriteSourceSize</key>
                <string>{241,241}</string>
                <key>textureRect</key>
                <string>{{2282,2101},{241,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/hairnormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,217}</string>
                <key>spriteSourceSize</key>
                <string>{217,217}</string>
                <key>textureRect</key>
                <string>{{1753,1220},{217,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/hairpressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,241}</string>
                <key>spriteSourceSize</key>
                <string>{241,241}</string>
                <key>textureRect</key>
                <string>{{2282,1697},{241,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/headwearnormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,217}</string>
                <key>spriteSourceSize</key>
                <string>{217,217}</string>
                <key>textureRect</key>
                <string>{{1972,1220},{217,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/headwearpressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,241}</string>
                <key>spriteSourceSize</key>
                <string>{241,241}</string>
                <key>textureRect</key>
                <string>{{2525,2163},{241,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/mouth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,89}</string>
                <key>spriteSourceSize</key>
                <string>{378,89}</string>
                <key>textureRect</key>
                <string>{{2583,1439},{378,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/mouth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,111}</string>
                <key>spriteSourceSize</key>
                <string>{274,111}</string>
                <key>textureRect</key>
                <string>{{3603,2358},{274,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/mouth3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,97}</string>
                <key>spriteSourceSize</key>
                <string>{351,97}</string>
                <key>textureRect</key>
                <string>{{2105,1439},{351,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/mouth4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,122}</string>
                <key>spriteSourceSize</key>
                <string>{75,122}</string>
                <key>textureRect</key>
                <string>{{2648,1530},{75,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/mouth5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,119}</string>
                <key>spriteSourceSize</key>
                <string>{351,119}</string>
                <key>textureRect</key>
                <string>{{2629,1220},{351,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/mouth6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,73}</string>
                <key>spriteSourceSize</key>
                <string>{210,73}</string>
                <key>textureRect</key>
                <string>{{2282,1940},{210,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/mouthnormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,217}</string>
                <key>spriteSourceSize</key>
                <string>{217,217}</string>
                <key>textureRect</key>
                <string>{{2191,1220},{217,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/mouthpressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,241}</string>
                <key>spriteSourceSize</key>
                <string>{241,241}</string>
                <key>textureRect</key>
                <string>{{2768,2163},{241,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/neckwearnormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,217}</string>
                <key>spriteSourceSize</key>
                <string>{217,217}</string>
                <key>textureRect</key>
                <string>{{2410,1220},{217,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/neckwearpressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,241}</string>
                <key>spriteSourceSize</key>
                <string>{241,241}</string>
                <key>textureRect</key>
                <string>{{3568,2471},{241,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/nose1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,137}</string>
                <key>spriteSourceSize</key>
                <string>{77,137}</string>
                <key>textureRect</key>
                <string>{{2839,1341},{77,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/nose2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,60}</string>
                <key>spriteSourceSize</key>
                <string>{95,60}</string>
                <key>textureRect</key>
                <string>{{1929,2348},{95,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/nose3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,123}</string>
                <key>spriteSourceSize</key>
                <string>{93,123}</string>
                <key>textureRect</key>
                <string>{{2458,1439},{93,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/nose4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,107}</string>
                <key>spriteSourceSize</key>
                <string>{42,107}</string>
                <key>textureRect</key>
                <string>{{1649,3762},{42,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/nose5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,102}</string>
                <key>spriteSourceSize</key>
                <string>{39,102}</string>
                <key>textureRect</key>
                <string>{{790,2380},{39,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/nose6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,127}</string>
                <key>spriteSourceSize</key>
                <string>{77,127}</string>
                <key>textureRect</key>
                <string>{{2282,2015},{77,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>faceavatar/nosenormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,217}</string>
                <key>spriteSourceSize</key>
                <string>{217,217}</string>
                <key>textureRect</key>
                <string>{{3498,3745},{217,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/nosepressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,241}</string>
                <key>spriteSourceSize</key>
                <string>{241,241}</string>
                <key>textureRect</key>
                <string>{{2912,3262},{241,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/shuffle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,337}</string>
                <key>spriteSourceSize</key>
                <string>{337,337}</string>
                <key>textureRect</key>
                <string>{{3159,3610},{337,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faceavatar/shufflepressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,373}</string>
                <key>spriteSourceSize</key>
                <string>{373,373}</string>
                <key>textureRect</key>
                <string>{{2784,3616},{373,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>faceavatar.png</string>
            <key>size</key>
            <string>{3903,4080}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eceb27c1dd52c21de0d62eceeec73b66:153bf558623455f3cbe6f402d2e3f3ea:d0e37c5d72e1b320a6b3c587a5a8550d$</string>
            <key>textureFileName</key>
            <string>faceavatar.png</string>
        </dict>
    </dict>
</plist>
