<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pinatacity/Shoot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,5}</string>
                <key>spriteSourceSize</key>
                <string>{10,5}</string>
                <key>textureRect</key>
                <string>{{1,248},{10,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacity/board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,42}</string>
                <key>spriteSourceSize</key>
                <string>{193,42}</string>
                <key>textureRect</key>
                <string>{{1,204},{193,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacity/buildingdown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,164}</string>
                <key>spriteSourceSize</key>
                <string>{121,164}</string>
                <key>textureRect</key>
                <string>{{149,1},{121,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacity/buildingup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,146}</string>
                <key>spriteSourceSize</key>
                <string>{201,146}</string>
                <key>textureRect</key>
                <string>{{1,1},{201,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacity/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,17}</string>
                <key>spriteSourceSize</key>
                <string>{100,17}</string>
                <key>textureRect</key>
                <string>{{149,167},{100,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacity/crack1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,36}</string>
                <key>spriteSourceSize</key>
                <string>{42,36}</string>
                <key>textureRect</key>
                <string>{{376,104},{42,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacity/crack2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,51}</string>
                <key>spriteSourceSize</key>
                <string>{56,51}</string>
                <key>textureRect</key>
                <string>{{272,110},{56,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacity/crack3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,56}</string>
                <key>textureRect</key>
                <string>{{438,195},{64,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacity/crack4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,59}</string>
                <key>spriteSourceSize</key>
                <string>{65,59}</string>
                <key>textureRect</key>
                <string>{{196,186},{65,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacity/crack5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,87}</string>
                <key>spriteSourceSize</key>
                <string>{77,87}</string>
                <key>textureRect</key>
                <string>{{474,1},{77,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacity/crack6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,107}</string>
                <key>spriteSourceSize</key>
                <string>{97,107}</string>
                <key>textureRect</key>
                <string>{{272,1},{97,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacity/player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{330,110},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacity/slingshot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{101,101}</string>
                <key>textureRect</key>
                <string>{{371,1},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacity/target1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,89}</string>
                <key>spriteSourceSize</key>
                <string>{89,89}</string>
                <key>textureRect</key>
                <string>{{347,156},{89,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacity/target2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{257,167},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacity/target3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,89}</string>
                <key>spriteSourceSize</key>
                <string>{89,89}</string>
                <key>textureRect</key>
                <string>{{438,104},{89,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pinatacity.png</string>
            <key>size</key>
            <string>{552,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:133df344c20afc8f7d2e9617b1fdbd62:4157cb404f5e58da5e8d06c14ef4b526:88f2b03ab7da66ad0e07f8dfd65817ed$</string>
            <key>textureFileName</key>
            <string>pinatacity.png</string>
        </dict>
    </dict>
</plist>
