<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinsi_usiku_ulivyoingia/bed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{792,214}</string>
                <key>spriteSourceSize</key>
                <string>{792,214}</string>
                <key>textureRect</key>
                <string>{{1401,2070},{792,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/boy_arm_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,105}</string>
                <key>spriteSourceSize</key>
                <string>{68,105}</string>
                <key>textureRect</key>
                <string>{{2429,3062},{68,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/boy_curtained_hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{905,601}</string>
                <key>spriteSourceSize</key>
                <string>{905,601}</string>
                <key>textureRect</key>
                <string>{{3358,1},{905,601}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/boy_ear_round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,175}</string>
                <key>spriteSourceSize</key>
                <string>{138,175}</string>
                <key>textureRect</key>
                <string>{{3383,3113},{138,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/boy_eyebrow_boy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,64}</string>
                <key>spriteSourceSize</key>
                <string>{110,64}</string>
                <key>textureRect</key>
                <string>{{3928,2322},{110,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/boy_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{815,680}</string>
                <key>spriteSourceSize</key>
                <string>{815,680}</string>
                <key>textureRect</key>
                <string>{{1065,2315},{815,680}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/boy_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,76}</string>
                <key>textureRect</key>
                <string>{{2348,2830},{50,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/boy_lightbrown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,101}</string>
                <key>spriteSourceSize</key>
                <string>{43,101}</string>
                <key>textureRect</key>
                <string>{{3196,3238},{43,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/boy_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,172}</string>
                <key>spriteSourceSize</key>
                <string>{28,172}</string>
                <key>textureRect</key>
                <string>{{3299,3253},{28,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/boy_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,151}</string>
                <key>spriteSourceSize</key>
                <string>{78,151}</string>
                <key>textureRect</key>
                <string>{{2878,2161},{78,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/boy_nose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{538,426}</string>
                <key>spriteSourceSize</key>
                <string>{546,426}</string>
                <key>textureRect</key>
                <string>{{3577,908},{538,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/boy_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,177}</string>
                <key>spriteSourceSize</key>
                <string>{28,177}</string>
                <key>textureRect</key>
                <string>{{1,3235},{28,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/clouds1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,142}</string>
                <key>spriteSourceSize</key>
                <string>{500,142}</string>
                <key>textureRect</key>
                <string>{{3624,2451},{500,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/clouds2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,190}</string>
                <key>spriteSourceSize</key>
                <string>{680,190}</string>
                <key>textureRect</key>
                <string>{{1747,2889},{680,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_coat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,585}</string>
                <key>spriteSourceSize</key>
                <string>{418,585}</string>
                <key>textureRect</key>
                <string>{{2779,2242},{418,585}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_darkbrown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,101}</string>
                <key>spriteSourceSize</key>
                <string>{43,101}</string>
                <key>textureRect</key>
                <string>{{3960,2434},{43,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_ear_round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,175}</string>
                <key>spriteSourceSize</key>
                <string>{138,175}</string>
                <key>textureRect</key>
                <string>{{3383,3113},{138,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_eyebrow_boy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,64}</string>
                <key>spriteSourceSize</key>
                <string>{110,64}</string>
                <key>textureRect</key>
                <string>{{3928,2322},{110,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{815,680}</string>
                <key>spriteSourceSize</key>
                <string>{815,680}</string>
                <key>textureRect</key>
                <string>{{1065,2315},{815,680}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_hair_curl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1095,750}</string>
                <key>spriteSourceSize</key>
                <string>{1095,750}</string>
                <key>textureRect</key>
                <string>{{1401,973},{1095,750}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,76}</string>
                <key>textureRect</key>
                <string>{{2348,2830},{50,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_mouth_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,108}</string>
                <key>spriteSourceSize</key>
                <string>{253,108}</string>
                <key>textureRect</key>
                <string>{{3824,2821},{253,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,135}</string>
                <key>spriteSourceSize</key>
                <string>{66,135}</string>
                <key>textureRect</key>
                <string>{{3196,3170},{66,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_nose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{538,426}</string>
                <key>spriteSourceSize</key>
                <string>{546,426}</string>
                <key>textureRect</key>
                <string>{{3577,908},{538,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,415}</string>
                <key>spriteSourceSize</key>
                <string>{415,415}</string>
                <key>textureRect</key>
                <string>{{3199,2169},{415,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,107}</string>
                <key>spriteSourceSize</key>
                <string>{30,107}</string>
                <key>textureRect</key>
                <string>{{2153,1953},{30,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_pant_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,107}</string>
                <key>spriteSourceSize</key>
                <string>{30,107}</string>
                <key>textureRect</key>
                <string>{{3577,2047},{30,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,147}</string>
                <key>spriteSourceSize</key>
                <string>{36,147}</string>
                <key>textureRect</key>
                <string>{{2195,2242},{36,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_pant_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,147}</string>
                <key>spriteSourceSize</key>
                <string>{36,147}</string>
                <key>textureRect</key>
                <string>{{2590,3027},{36,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,597}</string>
                <key>spriteSourceSize</key>
                <string>{416,597}</string>
                <key>textureRect</key>
                <string>{{3577,1448},{416,597}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_shirt_sleave_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,117}</string>
                <key>spriteSourceSize</key>
                <string>{72,117}</string>
                <key>textureRect</key>
                <string>{{3699,3117},{72,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_shirt_sleave_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,273}</string>
                <key>spriteSourceSize</key>
                <string>{61,273}</string>
                <key>textureRect</key>
                <string>{{3928,2047},{61,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_shoe_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,33}</string>
                <key>spriteSourceSize</key>
                <string>{160,33}</string>
                <key>textureRect</key>
                <string>{{3138,1953},{160,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/farmer_shoe_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,33}</string>
                <key>spriteSourceSize</key>
                <string>{160,33}</string>
                <key>textureRect</key>
                <string>{{3138,1953},{160,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/flower1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{601,599}</string>
                <key>spriteSourceSize</key>
                <string>{601,599}</string>
                <key>textureRect</key>
                <string>{{1747,2286},{601,599}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/flower2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,323}</string>
                <key>spriteSourceSize</key>
                <string>{195,323}</string>
                <key>textureRect</key>
                <string>{{2429,2830},{195,323}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,343}</string>
                <key>spriteSourceSize</key>
                <string>{423,343}</string>
                <key>textureRect</key>
                <string>{{3199,2586},{423,343}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/hill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1499,148}</string>
                <key>spriteSourceSize</key>
                <string>{1499,148}</string>
                <key>textureRect</key>
                <string>{{1065,3132},{1499,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/house.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{918,1062}</string>
                <key>spriteSourceSize</key>
                <string>{918,1062}</string>
                <key>textureRect</key>
                <string>{{1,2315},{918,1062}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/moon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,137}</string>
                <key>spriteSourceSize</key>
                <string>{115,137}</string>
                <key>textureRect</key>
                <string>{{3560,3117},{115,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/motu_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,415}</string>
                <key>spriteSourceSize</key>
                <string>{415,415}</string>
                <key>textureRect</key>
                <string>{{2779,2829},{415,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/motu_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,96}</string>
                <key>spriteSourceSize</key>
                <string>{30,96}</string>
                <key>textureRect</key>
                <string>{{3824,3076},{30,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/motu_pant_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,96}</string>
                <key>spriteSourceSize</key>
                <string>{30,96}</string>
                <key>textureRect</key>
                <string>{{3138,2115},{30,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/motu_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,147}</string>
                <key>spriteSourceSize</key>
                <string>{36,147}</string>
                <key>textureRect</key>
                <string>{{1908,3081},{36,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/motu_pant_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,147}</string>
                <key>spriteSourceSize</key>
                <string>{36,147}</string>
                <key>textureRect</key>
                <string>{{2057,3081},{36,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/motu_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,586}</string>
                <key>spriteSourceSize</key>
                <string>{429,586}</string>
                <key>textureRect</key>
                <string>{{2348,2242},{429,586}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/motu_shirt_sleave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,105}</string>
                <key>spriteSourceSize</key>
                <string>{64,105}</string>
                <key>textureRect</key>
                <string>{{3031,2161},{64,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/motu_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,33}</string>
                <key>spriteSourceSize</key>
                <string>{159,33}</string>
                <key>textureRect</key>
                <string>{{1747,3081},{159,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/motu_shoes_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,33}</string>
                <key>spriteSourceSize</key>
                <string>{159,33}</string>
                <key>textureRect</key>
                <string>{{2429,3027},{159,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/mouth_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,108}</string>
                <key>spriteSourceSize</key>
                <string>{253,108}</string>
                <key>textureRect</key>
                <string>{{3824,2821},{253,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/night.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1398,1340}</string>
                <key>spriteSourceSize</key>
                <string>{1398,1340}</string>
                <key>textureRect</key>
                <string>{{1,973},{1398,1340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/pillow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,134}</string>
                <key>spriteSourceSize</key>
                <string>{368,134}</string>
                <key>textureRect</key>
                <string>{{3824,2451},{368,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/plant1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,237}</string>
                <key>spriteSourceSize</key>
                <string>{185,237}</string>
                <key>textureRect</key>
                <string>{{3196,2931},{185,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/plant2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,180}</string>
                <key>spriteSourceSize</key>
                <string>{185,180}</string>
                <key>textureRect</key>
                <string>{{3383,2931},{185,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/pot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,310}</string>
                <key>spriteSourceSize</key>
                <string>{402,310}</string>
                <key>textureRect</key>
                <string>{{3616,2047},{402,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/road.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2092,970}</string>
                <key>spriteSourceSize</key>
                <string>{2092,970}</string>
                <key>textureRect</key>
                <string>{{1,1},{2092,970}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/rock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{681,287}</string>
                <key>spriteSourceSize</key>
                <string>{681,287}</string>
                <key>textureRect</key>
                <string>{{2195,1953},{681,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/sheet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{1239,397}</string>
                <key>spriteSourceSize</key>
                <string>{1251,397}</string>
                <key>textureRect</key>
                <string>{{3178,928},{1239,397}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/soil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{703,24}</string>
                <key>spriteSourceSize</key>
                <string>{703,24}</string>
                <key>textureRect</key>
                <string>{{3961,1},{703,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,162}</string>
                <key>spriteSourceSize</key>
                <string>{196,162}</string>
                <key>textureRect</key>
                <string>{{3570,2953},{196,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/stars.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{925,1261}</string>
                <key>spriteSourceSize</key>
                <string>{925,1261}</string>
                <key>textureRect</key>
                <string>{{2095,1},{925,1261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/stick1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,663}</string>
                <key>spriteSourceSize</key>
                <string>{54,663}</string>
                <key>textureRect</key>
                <string>{{3768,2451},{54,663}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/stick2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,663}</string>
                <key>spriteSourceSize</key>
                <string>{54,663}</string>
                <key>textureRect</key>
                <string>{{3768,2451},{54,663}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1023,1023}</string>
                <key>spriteSourceSize</key>
                <string>{1027,1027}</string>
                <key>textureRect</key>
                <string>{{2153,928},{1023,1023}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/touch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-200.5,200.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{404,404}</string>
                <key>textureRect</key>
                <string>{{3173,1953},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_usiku_ulivyoingia/water_pot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,206}</string>
                <key>spriteSourceSize</key>
                <string>{258,206}</string>
                <key>textureRect</key>
                <string>{{2878,1953},{258,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jinsi_usiku_ulivyoingia.png</string>
            <key>size</key>
            <string>{4004,3282}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9adf34a4e73a21542efb777d83e71413:8a97ac3df614217655a65a7afb6a6dfe:cd57f19b4af47eae919372c4499d7d3f$</string>
            <key>textureFileName</key>
            <string>jinsi_usiku_ulivyoingia.png</string>
        </dict>
    </dict>
</plist>
