<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Background_menu/alphabet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,131}</string>
                <key>spriteSourceSize</key>
                <string>{131,131}</string>
                <key>textureRect</key>
                <string>{{643,371},{131,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/birds.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,62}</string>
                <key>spriteSourceSize</key>
                <string>{91,62}</string>
                <key>textureRect</key>
                <string>{{202,248},{91,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Background_menu/grammar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,131}</string>
                <key>spriteSourceSize</key>
                <string>{131,131}</string>
                <key>textureRect</key>
                <string>{{776,371},{131,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,78}</string>
                <key>spriteSourceSize</key>
                <string>{160,78}</string>
                <key>textureRect</key>
                <string>{{266,248},{160,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/hill_01_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,171}</string>
                <key>spriteSourceSize</key>
                <string>{640,171}</string>
                <key>textureRect</key>
                <string>{{643,198},{640,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/hill_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,146}</string>
                <key>spriteSourceSize</key>
                <string>{640,146}</string>
                <key>textureRect</key>
                <string>{{1,348},{640,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/hill_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,195}</string>
                <key>spriteSourceSize</key>
                <string>{640,195}</string>
                <key>textureRect</key>
                <string>{{643,1},{640,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/maths.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,131}</string>
                <key>spriteSourceSize</key>
                <string>{131,131}</string>
                <key>textureRect</key>
                <string>{{909,371},{131,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/shapes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,131}</string>
                <key>spriteSourceSize</key>
                <string>{131,131}</string>
                <key>textureRect</key>
                <string>{{1042,371},{131,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,245}</string>
                <key>spriteSourceSize</key>
                <string>{245,245}</string>
                <key>textureRect</key>
                <string>{{202,1},{245,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,345}</string>
                <key>spriteSourceSize</key>
                <string>{199,345}</string>
                <key>textureRect</key>
                <string>{{1,1},{199,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/tree_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,131}</string>
                <key>spriteSourceSize</key>
                <string>{70,131}</string>
                <key>textureRect</key>
                <string>{{1175,371},{70,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/words.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,131}</string>
                <key>spriteSourceSize</key>
                <string>{131,131}</string>
                <key>textureRect</key>
                <string>{{449,1},{131,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/writing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,131}</string>
                <key>spriteSourceSize</key>
                <string>{131,131}</string>
                <key>textureRect</key>
                <string>{{449,134},{131,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Background_menu.png</string>
            <key>size</key>
            <string>{1284,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98b066c75743f7c82771461c46d2ffc1:1ad654e253c3ce0508e45562369a7666:08c2845c00bcde27686b9d33958ad7b6$</string>
            <key>textureFileName</key>
            <string>Background_menu.png</string>
        </dict>
    </dict>
</plist>
