<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Background_menu/alphabet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,133}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{815,595},{133,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/alphabet_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,133}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{545,732},{133,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/birds.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,62}</string>
                <key>spriteSourceSize</key>
                <string>{91,62}</string>
                <key>textureRect</key>
                <string>{{520,519},{91,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/birds_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,71}</string>
                <key>spriteSourceSize</key>
                <string>{88,71}</string>
                <key>textureRect</key>
                <string>{{1,790},{88,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/grammar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,135}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{1,653},{135,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/grammar_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,135}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{138,653},{135,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,87}</string>
                <key>spriteSourceSize</key>
                <string>{162,87}</string>
                <key>textureRect</key>
                <string>{{890,275},{162,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Background_menu/hill_01_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,171}</string>
                <key>spriteSourceSize</key>
                <string>{640,171}</string>
                <key>textureRect</key>
                <string>{{1,198},{640,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/hill_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,146}</string>
                <key>spriteSourceSize</key>
                <string>{640,146}</string>
                <key>textureRect</key>
                <string>{{1,371},{640,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/hill_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,195}</string>
                <key>spriteSourceSize</key>
                <string>{640,195}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/library.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{517,65}</string>
                <key>spriteSourceSize</key>
                <string>{519,67}</string>
                <key>textureRect</key>
                <string>{{1,519},{517,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/library_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{517,65}</string>
                <key>spriteSourceSize</key>
                <string>{519,67}</string>
                <key>textureRect</key>
                <string>{{1,586},{517,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/maths.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,135}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{844,1},{133,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/maths_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,135}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{844,138},{133,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/shapes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,133}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{680,732},{133,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/shapes_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,133}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{815,730},{133,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,245}</string>
                <key>spriteSourceSize</key>
                <string>{245,245}</string>
                <key>textureRect</key>
                <string>{{643,348},{245,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,345}</string>
                <key>spriteSourceSize</key>
                <string>{199,345}</string>
                <key>textureRect</key>
                <string>{{643,1},{199,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/tree_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,119}</string>
                <key>spriteSourceSize</key>
                <string>{87,119}</string>
                <key>textureRect</key>
                <string>{{890,439},{87,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/words.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,135}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{275,653},{133,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/words_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,135}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{410,653},{133,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/writing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,135}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{545,595},{133,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background_menu/writing_clicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,135}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{680,595},{133,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Background_menu.png</string>
            <key>size</key>
            <string>{978,866}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8b8b5fa18f94f111a2acaad7e481aba:a37e611e1047a5c7666ef029454e155c:08c2845c00bcde27686b9d33958ad7b6$</string>
            <key>textureFileName</key>
            <string>Background_menu.png</string>
        </dict>
    </dict>
</plist>
