<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jump_on_words/ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{378,137},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words/box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{83,83}</string>
                <key>textureRect</key>
                <string>{{392,382},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words/character1_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,107}</string>
                <key>spriteSourceSize</key>
                <string>{86,107}</string>
                <key>textureRect</key>
                <string>{{131,313},{86,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words/character1_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,29}</string>
                <key>spriteSourceSize</key>
                <string>{32,29}</string>
                <key>textureRect</key>
                <string>{{184,422},{32,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words/character1_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,14}</string>
                <key>spriteSourceSize</key>
                <string>{22,14}</string>
                <key>textureRect</key>
                <string>{{350,137},{22,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words/character2_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,125}</string>
                <key>spriteSourceSize</key>
                <string>{89,125}</string>
                <key>textureRect</key>
                <string>{{40,295},{89,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words/character2_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,30}</string>
                <key>spriteSourceSize</key>
                <string>{33,30}</string>
                <key>textureRect</key>
                <string>{{114,422},{33,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words/character2_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,14}</string>
                <key>spriteSourceSize</key>
                <string>{22,14}</string>
                <key>textureRect</key>
                <string>{{1,451},{22,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words/character3_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,124}</string>
                <key>spriteSourceSize</key>
                <string>{88,124}</string>
                <key>textureRect</key>
                <string>{{260,30},{88,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words/character3_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,30}</string>
                <key>spriteSourceSize</key>
                <string>{33,30}</string>
                <key>textureRect</key>
                <string>{{149,422},{33,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words/character3_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,14}</string>
                <key>spriteSourceSize</key>
                <string>{22,14}</string>
                <key>textureRect</key>
                <string>{{408,1},{22,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words/character4_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,117}</string>
                <key>spriteSourceSize</key>
                <string>{89,117}</string>
                <key>textureRect</key>
                <string>{{196,157},{89,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words/character4_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,29}</string>
                <key>spriteSourceSize</key>
                <string>{32,29}</string>
                <key>textureRect</key>
                <string>{{414,255},{32,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words/character4_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,14}</string>
                <key>spriteSourceSize</key>
                <string>{22,14}</string>
                <key>textureRect</key>
                <string>{{378,255},{22,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words/character5_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,116}</string>
                <key>spriteSourceSize</key>
                <string>{89,116}</string>
                <key>textureRect</key>
                <string>{{287,156},{89,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words/character5_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,32}</string>
                <key>spriteSourceSize</key>
                <string>{35,32}</string>
                <key>textureRect</key>
                <string>{{378,221},{35,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words/character5_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,14}</string>
                <key>spriteSourceSize</key>
                <string>{22,14}</string>
                <key>textureRect</key>
                <string>{{414,286},{22,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words/character6_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,105}</string>
                <key>spriteSourceSize</key>
                <string>{89,105}</string>
                <key>textureRect</key>
                <string>{{350,30},{89,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words/character6_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,32}</string>
                <key>spriteSourceSize</key>
                <string>{35,32}</string>
                <key>textureRect</key>
                <string>{{415,221},{35,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words/character6_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,14}</string>
                <key>spriteSourceSize</key>
                <string>{22,14}</string>
                <key>textureRect</key>
                <string>{{452,237},{22,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words/character7_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,124}</string>
                <key>spriteSourceSize</key>
                <string>{91,124}</string>
                <key>textureRect</key>
                <string>{{40,169},{91,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words/character7_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,32}</string>
                <key>spriteSourceSize</key>
                <string>{35,32}</string>
                <key>textureRect</key>
                <string>{{40,422},{35,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words/character7_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,14}</string>
                <key>spriteSourceSize</key>
                <string>{22,14}</string>
                <key>textureRect</key>
                <string>{{432,1},{22,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words/character8_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,125}</string>
                <key>spriteSourceSize</key>
                <string>{90,125}</string>
                <key>textureRect</key>
                <string>{{168,30},{90,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words/character8_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,32}</string>
                <key>spriteSourceSize</key>
                <string>{35,32}</string>
                <key>textureRect</key>
                <string>{{77,422},{35,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words/character8_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,14}</string>
                <key>spriteSourceSize</key>
                <string>{23,14}</string>
                <key>textureRect</key>
                <string>{{452,221},{23,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words/character_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,106}</string>
                <key>spriteSourceSize</key>
                <string>{85,106}</string>
                <key>textureRect</key>
                <string>{{219,276},{85,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words/character_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{306,274},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words/character_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,26}</string>
                <key>textureRect</key>
                <string>{{378,1},{28,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words/character_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,14}</string>
                <key>spriteSourceSize</key>
                <string>{21,14}</string>
                <key>textureRect</key>
                <string>{{196,276},{21,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,61}</string>
                <key>spriteSourceSize</key>
                <string>{142,61}</string>
                <key>textureRect</key>
                <string>{{133,169},{142,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jump_on_words/cross_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,83}</string>
                <key>spriteSourceSize</key>
                <string>{82,83}</string>
                <key>textureRect</key>
                <string>{{219,384},{82,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jump_on_words/hint_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{306,382},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words/step.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,37}</string>
                <key>spriteSourceSize</key>
                <string>{280,37}</string>
                <key>textureRect</key>
                <string>{{1,169},{280,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jump_on_words/tick_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,166}</string>
                <key>spriteSourceSize</key>
                <string>{165,166}</string>
                <key>textureRect</key>
                <string>{{1,1},{165,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump_on_words/tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,27}</string>
                <key>spriteSourceSize</key>
                <string>{208,27}</string>
                <key>textureRect</key>
                <string>{{168,1},{208,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jump_on_words.png</string>
            <key>size</key>
            <string>{476,467}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3876d747a1094321298c3ec380768fdf:09d97c254b20919a74babfd9ecc7cce0:15a1d6190c68400b4030a49ef1f107e9$</string>
            <key>textureFileName</key>
            <string>jump_on_words.png</string>
        </dict>
    </dict>
</plist>
