<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Shape/Hexagon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,197}</string>
                <key>spriteSourceSize</key>
                <string>{228,197}</string>
                <key>textureRect</key>
                <string>{{694,3316},{228,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/Hexagon_trans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,323}</string>
                <key>spriteSourceSize</key>
                <string>{317,323}</string>
                <key>textureRect</key>
                <string>{{1376,2126},{317,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/Octagon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,198}</string>
                <key>spriteSourceSize</key>
                <string>{197,198}</string>
                <key>textureRect</key>
                <string>{{1548,3006},{197,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/Octagon_trans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,338}</string>
                <key>spriteSourceSize</key>
                <string>{332,338}</string>
                <key>textureRect</key>
                <string>{{1042,2130},{332,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/Rectangle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,199}</string>
                <key>spriteSourceSize</key>
                <string>{265,199}</string>
                <key>textureRect</key>
                <string>{{1135,2973},{265,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/Rectangle_trans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,325}</string>
                <key>spriteSourceSize</key>
                <string>{418,325}</string>
                <key>textureRect</key>
                <string>{{622,2130},{418,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/alphabet_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,196}</string>
                <key>spriteSourceSize</key>
                <string>{345,196}</string>
                <key>textureRect</key>
                <string>{{516,2771},{345,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,199}</string>
                <key>spriteSourceSize</key>
                <string>{198,199}</string>
                <key>textureRect</key>
                <string>{{493,3351},{198,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/circle_trans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,300}</string>
                <key>spriteSourceSize</key>
                <string>{335,300}</string>
                <key>textureRect</key>
                <string>{{1036,2470},{335,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/cross.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,198}</string>
                <key>spriteSourceSize</key>
                <string>{197,198}</string>
                <key>textureRect</key>
                <string>{{1747,3006},{197,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/cross_trans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,287}</string>
                <key>spriteSourceSize</key>
                <string>{258,287}</string>
                <key>textureRect</key>
                <string>{{1691,2475},{258,287}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,192}</string>
                <key>spriteSourceSize</key>
                <string>{130,192}</string>
                <key>textureRect</key>
                <string>{{863,2771},{130,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/diamond_trans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,212}</string>
                <key>spriteSourceSize</key>
                <string>{210,212}</string>
                <key>textureRect</key>
                <string>{{1336,2996},{210,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,463}</string>
                <key>spriteSourceSize</key>
                <string>{268,463}</string>
                <key>textureRect</key>
                <string>{{1,2975},{268,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/fish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{138,103}</string>
                <key>spriteSourceSize</key>
                <string>{142,113}</string>
                <key>textureRect</key>
                <string>{{1,3440},{138,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/fish2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,75}</string>
                <key>spriteSourceSize</key>
                <string>{136,77}</string>
                <key>textureRect</key>
                <string>{{1892,1689},{136,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/fish2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,73}</string>
                <key>spriteSourceSize</key>
                <string>{136,77}</string>
                <key>textureRect</key>
                <string>{{1892,1827},{134,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/fish2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{132,71}</string>
                <key>spriteSourceSize</key>
                <string>{136,77}</string>
                <key>textureRect</key>
                <string>{{1892,1963},{132,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/fish2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{130,69}</string>
                <key>spriteSourceSize</key>
                <string>{136,77}</string>
                <key>textureRect</key>
                <string>{{1504,3363},{130,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/fish2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{128,67}</string>
                <key>spriteSourceSize</key>
                <string>{136,77}</string>
                <key>textureRect</key>
                <string>{{1575,3342},{128,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/fish2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{126,65}</string>
                <key>spriteSourceSize</key>
                <string>{136,77}</string>
                <key>textureRect</key>
                <string>{{1731,3332},{126,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/fish2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{124,63}</string>
                <key>spriteSourceSize</key>
                <string>{136,77}</string>
                <key>textureRect</key>
                <string>{{1725,3206},{124,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/fish2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{122,61}</string>
                <key>spriteSourceSize</key>
                <string>{136,77}</string>
                <key>textureRect</key>
                <string>{{1879,3288},{122,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/fish2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{120,61}</string>
                <key>spriteSourceSize</key>
                <string>{136,77}</string>
                <key>textureRect</key>
                <string>{{1798,3404},{120,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/fish2_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{118,61}</string>
                <key>spriteSourceSize</key>
                <string>{136,77}</string>
                <key>textureRect</key>
                <string>{{1861,3412},{118,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/fish2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{120,61}</string>
                <key>spriteSourceSize</key>
                <string>{136,77}</string>
                <key>textureRect</key>
                <string>{{1924,3412},{120,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/fish2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{122,61}</string>
                <key>spriteSourceSize</key>
                <string>{136,77}</string>
                <key>textureRect</key>
                <string>{{1575,3472},{122,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/fish3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{140,90}</string>
                <key>spriteSourceSize</key>
                <string>{142,90}</string>
                <key>textureRect</key>
                <string>{{1892,145},{140,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/fish3_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{140,90}</string>
                <key>spriteSourceSize</key>
                <string>{142,90}</string>
                <key>textureRect</key>
                <string>{{1892,287},{140,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/fish3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,90}</string>
                <key>spriteSourceSize</key>
                <string>{142,90}</string>
                <key>textureRect</key>
                <string>{{1892,429},{140,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/fish3_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,90}</string>
                <key>spriteSourceSize</key>
                <string>{142,90}</string>
                <key>textureRect</key>
                <string>{{1892,1},{142,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/fish3_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,90}</string>
                <key>spriteSourceSize</key>
                <string>{142,90}</string>
                <key>textureRect</key>
                <string>{{1892,571},{140,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/fish3_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,90}</string>
                <key>spriteSourceSize</key>
                <string>{142,90}</string>
                <key>textureRect</key>
                <string>{{1892,713},{140,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/fish3_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{140,90}</string>
                <key>spriteSourceSize</key>
                <string>{142,90}</string>
                <key>textureRect</key>
                <string>{{1892,855},{140,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/fish3_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{140,90}</string>
                <key>spriteSourceSize</key>
                <string>{142,90}</string>
                <key>textureRect</key>
                <string>{{1892,997},{140,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/fish3_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{138,90}</string>
                <key>spriteSourceSize</key>
                <string>{142,90}</string>
                <key>textureRect</key>
                <string>{{1892,1281},{138,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/fish3_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{138,90}</string>
                <key>spriteSourceSize</key>
                <string>{142,90}</string>
                <key>textureRect</key>
                <string>{{1892,1421},{138,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/fish3_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{140,90}</string>
                <key>spriteSourceSize</key>
                <string>{142,90}</string>
                <key>textureRect</key>
                <string>{{1892,1139},{140,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/fish_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{134,103}</string>
                <key>spriteSourceSize</key>
                <string>{142,113}</string>
                <key>textureRect</key>
                <string>{{1059,3439},{134,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/fish_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{132,101}</string>
                <key>spriteSourceSize</key>
                <string>{142,113}</string>
                <key>textureRect</key>
                <string>{{1269,2772},{132,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/fish_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{130,97}</string>
                <key>spriteSourceSize</key>
                <string>{142,113}</string>
                <key>textureRect</key>
                <string>{{1537,3210},{130,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/fish_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{128,93}</string>
                <key>spriteSourceSize</key>
                <string>{142,113}</string>
                <key>textureRect</key>
                <string>{{141,3440},{128,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/fish_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{126,91}</string>
                <key>spriteSourceSize</key>
                <string>{142,113}</string>
                <key>textureRect</key>
                <string>{{1892,1561},{126,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/fish_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-3}</string>
                <key>spriteSize</key>
                <string>{124,87}</string>
                <key>spriteSourceSize</key>
                <string>{142,113}</string>
                <key>textureRect</key>
                <string>{{1636,3206},{124,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/fish_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-3}</string>
                <key>spriteSize</key>
                <string>{120,85}</string>
                <key>spriteSourceSize</key>
                <string>{142,113}</string>
                <key>textureRect</key>
                <string>{{1644,3332},{120,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/fish_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-2}</string>
                <key>spriteSize</key>
                <string>{118,81}</string>
                <key>spriteSourceSize</key>
                <string>{142,113}</string>
                <key>textureRect</key>
                <string>{{1790,3205},{118,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/fish_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-1}</string>
                <key>spriteSize</key>
                <string>{116,81}</string>
                <key>spriteSourceSize</key>
                <string>{142,113}</string>
                <key>textureRect</key>
                <string>{{893,3433},{116,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/fish_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{114,79}</string>
                <key>spriteSourceSize</key>
                <string>{142,113}</string>
                <key>textureRect</key>
                <string>{{1798,3288},{114,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/fish_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{116,81}</string>
                <key>spriteSourceSize</key>
                <string>{142,113}</string>
                <key>textureRect</key>
                <string>{{976,3433},{116,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,198}</string>
                <key>spriteSourceSize</key>
                <string>{220,198}</string>
                <key>textureRect</key>
                <string>{{271,3351},{220,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/heart_trans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,278}</string>
                <key>spriteSourceSize</key>
                <string>{374,278}</string>
                <key>textureRect</key>
                <string>{{271,2975},{374,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/oval.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,199}</string>
                <key>spriteSourceSize</key>
                <string>{151,199}</string>
                <key>textureRect</key>
                <string>{{1336,3210},{151,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/oval_trans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,323}</string>
                <key>spriteSourceSize</key>
                <string>{302,323}</string>
                <key>textureRect</key>
                <string>{{1373,2671},{302,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/painting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,238}</string>
                <key>spriteSourceSize</key>
                <string>{513,238}</string>
                <key>textureRect</key>
                <string>{{1,2735},{513,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/pentagon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,198}</string>
                <key>spriteSourceSize</key>
                <string>{185,198}</string>
                <key>textureRect</key>
                <string>{{1304,3363},{185,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/pentagon_trans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,269}</string>
                <key>spriteSourceSize</key>
                <string>{288,269}</string>
                <key>textureRect</key>
                <string>{{1677,2735},{288,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,197}</string>
                <key>spriteSourceSize</key>
                <string>{198,197}</string>
                <key>textureRect</key>
                <string>{{1104,3240},{198,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/square_trans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,323}</string>
                <key>spriteSourceSize</key>
                <string>{345,323}</string>
                <key>textureRect</key>
                <string>{{551,2969},{345,323}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/stairs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{619,603}</string>
                <key>spriteSourceSize</key>
                <string>{619,603}</string>
                <key>textureRect</key>
                <string>{{1,2130},{619,603}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,199}</string>
                <key>spriteSourceSize</key>
                <string>{209,199}</string>
                <key>textureRect</key>
                <string>{{893,3232},{209,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/star_trans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,257}</string>
                <key>spriteSourceSize</key>
                <string>{257,257}</string>
                <key>textureRect</key>
                <string>{{876,2973},{257,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/triangle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,199}</string>
                <key>spriteSourceSize</key>
                <string>{272,199}</string>
                <key>textureRect</key>
                <string>{{995,2772},{272,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/triangle_trans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,276}</string>
                <key>spriteSourceSize</key>
                <string>{347,276}</string>
                <key>textureRect</key>
                <string>{{1695,2126},{347,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/tringle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,218}</string>
                <key>spriteSourceSize</key>
                <string>{313,218}</string>
                <key>textureRect</key>
                <string>{{1376,2451},{313,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/tringle_trans.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{412,312}</string>
                <key>spriteSourceSize</key>
                <string>{412,312}</string>
                <key>textureRect</key>
                <string>{{622,2457},{412,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shape/water_level.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2123,770}</string>
                <key>spriteSourceSize</key>
                <string>{2123,770}</string>
                <key>textureRect</key>
                <string>{{1120,1},{2123,770}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shape/water_tank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2127,1117}</string>
                <key>spriteSourceSize</key>
                <string>{2127,1117}</string>
                <key>textureRect</key>
                <string>{{1,1},{2127,1117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shape.png</string>
            <key>size</key>
            <string>{1986,3550}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfb91e4f863b0e1594b378f7e3055f0d:69255625947d7e2ea8a7bc4a6dab3a90:9b948e586ae39f0c1c6e082c72584c4e$</string>
            <key>textureFileName</key>
            <string>shape.png</string>
        </dict>
    </dict>
</plist>
