<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>linecandylevel/balloon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{341,222}</string>
                <key>spriteSourceSize</key>
                <string>{341,234}</string>
                <key>textureRect</key>
                <string>{{206,490},{341,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>linecandylevel/bg_mountain4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,165}</string>
                <key>spriteSourceSize</key>
                <string>{181,165}</string>
                <key>textureRect</key>
                <string>{{460,765},{181,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>linecandylevel/candy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,110}</string>
                <key>spriteSourceSize</key>
                <string>{139,110}</string>
                <key>textureRect</key>
                <string>{{794,802},{139,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>linecandylevel/candy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,131}</string>
                <key>spriteSourceSize</key>
                <string>{146,131}</string>
                <key>textureRect</key>
                <string>{{850,249},{146,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>linecandylevel/candy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,114}</string>
                <key>spriteSourceSize</key>
                <string>{149,114}</string>
                <key>textureRect</key>
                <string>{{643,802},{149,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>linecandylevel/candyplant1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,82}</string>
                <key>spriteSourceSize</key>
                <string>{81,82}</string>
                <key>textureRect</key>
                <string>{{935,802},{81,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>linecandylevel/candyplant3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{935,885},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>linecandylevel/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,102}</string>
                <key>spriteSourceSize</key>
                <string>{260,102}</string>
                <key>textureRect</key>
                <string>{{1,908},{260,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>linecandylevel/cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,92}</string>
                <key>spriteSourceSize</key>
                <string>{303,92}</string>
                <key>textureRect</key>
                <string>{{679,708},{303,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>linecandylevel/cloud3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,203}</string>
                <key>spriteSourceSize</key>
                <string>{416,203}</string>
                <key>textureRect</key>
                <string>{{1,490},{416,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>linecandylevel/gingerbread_house.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,295}</string>
                <key>spriteSourceSize</key>
                <string>{322,295}</string>
                <key>textureRect</key>
                <string>{{553,89},{322,295}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>linecandylevel/lolli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,246}</string>
                <key>spriteSourceSize</key>
                <string>{167,246}</string>
                <key>textureRect</key>
                <string>{{850,1},{167,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>linecandylevel/main_mountain4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,293}</string>
                <key>spriteSourceSize</key>
                <string>{292,293}</string>
                <key>textureRect</key>
                <string>{{679,413},{292,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>linecandylevel/main_mountain5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,195}</string>
                <key>spriteSourceSize</key>
                <string>{175,195}</string>
                <key>textureRect</key>
                <string>{{263,833},{175,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>linecandylevel/main_mountain6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{603,86}</string>
                <key>spriteSourceSize</key>
                <string>{603,86}</string>
                <key>textureRect</key>
                <string>{{234,1},{603,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>linecandylevel/plant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,112}</string>
                <key>spriteSourceSize</key>
                <string>{88,112}</string>
                <key>textureRect</key>
                <string>{{652,918},{88,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>linecandylevel/rock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,5}</string>
                <key>spriteSize</key>
                <string>{317,362}</string>
                <key>spriteSourceSize</key>
                <string>{363,384}</string>
                <key>textureRect</key>
                <string>{{234,89},{317,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>linecandylevel/shadow2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,55}</string>
                <key>spriteSourceSize</key>
                <string>{190,55}</string>
                <key>textureRect</key>
                <string>{{460,932},{190,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>linecandylevel/tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{231,487}</string>
                <key>spriteSourceSize</key>
                <string>{235,491}</string>
                <key>textureRect</key>
                <string>{{1,1},{231,487}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>linecandylevel/tree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{247,310}</string>
                <key>spriteSourceSize</key>
                <string>{247,324}</string>
                <key>textureRect</key>
                <string>{{430,453},{247,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>linecandylevel.png</string>
            <key>size</key>
            <string>{1018,1011}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1b5f55991c78c36aaa0bc079dfdff13:67c2628ad5ab29e8247323b84ccb21c9:b644e34187d741bae82871c54410e8a9$</string>
            <key>textureFileName</key>
            <string>linecandylevel.png</string>
        </dict>
    </dict>
</plist>
