<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jazzlevel/accordion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,43}</string>
                <key>spriteSourceSize</key>
                <string>{83,43}</string>
                <key>textureRect</key>
                <string>{{643,1},{83,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jazzlevel/chairs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,176}</string>
                <key>spriteSourceSize</key>
                <string>{66,176}</string>
                <key>textureRect</key>
                <string>{{71,39},{66,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jazzlevel/cuttons.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{545,81}</string>
                <key>spriteSourceSize</key>
                <string>{545,81}</string>
                <key>textureRect</key>
                <string>{{432,46},{545,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jazzlevel/cuttons1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,269}</string>
                <key>spriteSourceSize</key>
                <string>{36,269}</string>
                <key>textureRect</key>
                <string>{{1,1},{36,269}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jazzlevel/drum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,91}</string>
                <key>spriteSourceSize</key>
                <string>{72,91}</string>
                <key>textureRect</key>
                <string>{{249,39},{72,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jazzlevel/drum1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,81}</string>
                <key>spriteSourceSize</key>
                <string>{88,81}</string>
                <key>textureRect</key>
                <string>{{342,42},{88,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jazzlevel/drum2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,61}</string>
                <key>spriteSourceSize</key>
                <string>{68,61}</string>
                <key>textureRect</key>
                <string>{{1,39},{68,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jazzlevel/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,43}</string>
                <key>spriteSourceSize</key>
                <string>{258,43}</string>
                <key>textureRect</key>
                <string>{{728,1},{258,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jazzlevel/grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,39}</string>
                <key>spriteSourceSize</key>
                <string>{254,39}</string>
                <key>textureRect</key>
                <string>{{387,1},{254,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jazzlevel/guitar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,113}</string>
                <key>spriteSourceSize</key>
                <string>{36,113}</string>
                <key>textureRect</key>
                <string>{{272,1},{36,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jazzlevel.png</string>
            <key>size</key>
            <string>{987,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c11a739e3ce297ae9886b43997a091e:a41d7717651ca7bc79501d3403df892c:cb2ea9d11bf8790039765bc3eeac6c0a$</string>
            <key>textureFileName</key>
            <string>jazzlevel.png</string>
        </dict>
    </dict>
</plist>
