<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>talkcity/basket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,106}</string>
                <key>spriteSourceSize</key>
                <string>{254,106}</string>
                <key>textureRect</key>
                <string>{{828,797},{254,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,217}</string>
                <key>spriteSourceSize</key>
                <string>{254,217}</string>
                <key>textureRect</key>
                <string>{{258,797},{254,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/building01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1429,794}</string>
                <key>spriteSourceSize</key>
                <string>{1429,794}</string>
                <key>textureRect</key>
                <string>{{1,1},{1429,794}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/building02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1010,794}</string>
                <key>spriteSourceSize</key>
                <string>{1010,794}</string>
                <key>textureRect</key>
                <string>{{1432,1},{1010,794}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkcity/enemy_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,217}</string>
                <key>spriteSourceSize</key>
                <string>{255,217}</string>
                <key>textureRect</key>
                <string>{{1,797},{255,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/enemy_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,310}</string>
                <key>spriteSourceSize</key>
                <string>{373,310}</string>
                <key>textureRect</key>
                <string>{{2228,1},{373,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/enemy_lefthand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,93}</string>
                <key>spriteSourceSize</key>
                <string>{86,93}</string>
                <key>textureRect</key>
                <string>{{2420,916},{86,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/enemy_lefthand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,156}</string>
                <key>spriteSourceSize</key>
                <string>{163,156}</string>
                <key>textureRect</key>
                <string>{{1247,797},{163,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/enemy_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,72}</string>
                <key>spriteSourceSize</key>
                <string>{48,72}</string>
                <key>textureRect</key>
                <string>{{696,966},{48,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkcity/enemy_righthand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,76}</string>
                <key>spriteSourceSize</key>
                <string>{192,76}</string>
                <key>textureRect</key>
                <string>{{859,905},{192,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/enemy_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,48}</string>
                <key>spriteSourceSize</key>
                <string>{89,48}</string>
                <key>textureRect</key>
                <string>{{514,966},{89,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,34}</string>
                <key>spriteSourceSize</key>
                <string>{29,34}</string>
                <key>textureRect</key>
                <string>{{828,905},{29,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,310}</string>
                <key>spriteSourceSize</key>
                <string>{373,310}</string>
                <key>textureRect</key>
                <string>{{2228,313},{373,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/fish1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,124}</string>
                <key>spriteSourceSize</key>
                <string>{123,124}</string>
                <key>textureRect</key>
                <string>{{2478,752},{123,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkcity/fish2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,124}</string>
                <key>spriteSourceSize</key>
                <string>{123,124}</string>
                <key>textureRect</key>
                <string>{{2511,625},{123,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/fish3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,125}</string>
                <key>spriteSourceSize</key>
                <string>{123,125}</string>
                <key>textureRect</key>
                <string>{{2228,789},{123,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/fish4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,124}</string>
                <key>spriteSourceSize</key>
                <string>{123,124}</string>
                <key>textureRect</key>
                <string>{{2508,877},{123,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkcity/fish5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,125}</string>
                <key>spriteSourceSize</key>
                <string>{123,125}</string>
                <key>textureRect</key>
                <string>{{2353,789},{123,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/fish6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,125}</string>
                <key>spriteSourceSize</key>
                <string>{123,125}</string>
                <key>textureRect</key>
                <string>{{2386,625},{123,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/happymouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,101}</string>
                <key>spriteSourceSize</key>
                <string>{99,101}</string>
                <key>textureRect</key>
                <string>{{2228,916},{99,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkcity/lefthand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,93}</string>
                <key>spriteSourceSize</key>
                <string>{87,93}</string>
                <key>textureRect</key>
                <string>{{2331,916},{87,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/lefthand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,156}</string>
                <key>spriteSourceSize</key>
                <string>{162,156}</string>
                <key>textureRect</key>
                <string>{{2228,625},{162,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkcity/leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,72}</string>
                <key>spriteSourceSize</key>
                <string>{48,72}</string>
                <key>textureRect</key>
                <string>{{770,966},{48,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkcity/optionbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,167}</string>
                <key>spriteSourceSize</key>
                <string>{312,167}</string>
                <key>textureRect</key>
                <string>{{514,797},{312,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/righthand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,76}</string>
                <key>spriteSourceSize</key>
                <string>{192,76}</string>
                <key>textureRect</key>
                <string>{{1053,905},{192,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/sadmouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,110}</string>
                <key>spriteSourceSize</key>
                <string>{99,110}</string>
                <key>textureRect</key>
                <string>{{1084,797},{99,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkcity/tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,48}</string>
                <key>spriteSourceSize</key>
                <string>{89,48}</string>
                <key>textureRect</key>
                <string>{{605,966},{89,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>talkcity.png</string>
            <key>size</key>
            <string>{2635,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3e4ab13d3da94f4ebd4bbe2a271306b:b437a926e38b105d1280e54e9473ab14:9a797519b3debaa36a527bcd373dafa1$</string>
            <key>textureFileName</key>
            <string>talkcity.png</string>
        </dict>
    </dict>
</plist>
