<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_blue_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,117}</string>
                <key>spriteSourceSize</key>
                <string>{105,117}</string>
                <key>textureRect</key>
                <string>{{1926,1},{105,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_blue_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,146}</string>
                <key>spriteSourceSize</key>
                <string>{105,146}</string>
                <key>textureRect</key>
                <string>{{1819,1},{105,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_blue_sleave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,26}</string>
                <key>spriteSourceSize</key>
                <string>{15,26}</string>
                <key>textureRect</key>
                <string>{{238,238},{15,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_orange_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,117}</string>
                <key>spriteSourceSize</key>
                <string>{105,117}</string>
                <key>textureRect</key>
                <string>{{1977,120},{105,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_orange_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,146}</string>
                <key>spriteSourceSize</key>
                <string>{105,146}</string>
                <key>textureRect</key>
                <string>{{1829,149},{105,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_purple_2_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{2191,120},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_purple_2_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,24}</string>
                <key>spriteSourceSize</key>
                <string>{8,24}</string>
                <key>textureRect</key>
                <string>{{938,246},{8,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_purple_2_pant_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,24}</string>
                <key>spriteSourceSize</key>
                <string>{8,24}</string>
                <key>textureRect</key>
                <string>{{986,188},{8,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_purple_2_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,37}</string>
                <key>spriteSourceSize</key>
                <string>{9,37}</string>
                <key>textureRect</key>
                <string>{{558,234},{9,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_purple_2_pant_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,37}</string>
                <key>spriteSourceSize</key>
                <string>{9,37}</string>
                <key>textureRect</key>
                <string>{{574,245},{9,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_purple_2_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,181}</string>
                <key>spriteSourceSize</key>
                <string>{108,181}</string>
                <key>textureRect</key>
                <string>{{1030,1},{108,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_purple_2_sleave_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,41}</string>
                <key>spriteSourceSize</key>
                <string>{14,41}</string>
                <key>textureRect</key>
                <string>{{322,234},{14,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_purple_2_sleave_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,67}</string>
                <key>spriteSourceSize</key>
                <string>{16,67}</string>
                <key>textureRect</key>
                <string>{{68,238},{16,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_purple_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,117}</string>
                <key>spriteSourceSize</key>
                <string>{105,117}</string>
                <key>textureRect</key>
                <string>{{2033,1},{105,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_purple_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,147}</string>
                <key>spriteSourceSize</key>
                <string>{105,147}</string>
                <key>textureRect</key>
                <string>{{1604,1},{105,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_purple_sleave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,26}</string>
                <key>spriteSourceSize</key>
                <string>{15,26}</string>
                <key>textureRect</key>
                <string>{{266,234},{15,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_red_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,117}</string>
                <key>spriteSourceSize</key>
                <string>{105,117}</string>
                <key>textureRect</key>
                <string>{{2084,120},{105,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_red_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,147}</string>
                <key>spriteSourceSize</key>
                <string>{105,147}</string>
                <key>textureRect</key>
                <string>{{1680,150},{105,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_red_sleave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,26}</string>
                <key>spriteSourceSize</key>
                <string>{15,26}</string>
                <key>textureRect</key>
                <string>{{294,234},{15,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_skyblue_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,117}</string>
                <key>spriteSourceSize</key>
                <string>{105,117}</string>
                <key>textureRect</key>
                <string>{{2140,1},{105,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_skyblue_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,146}</string>
                <key>spriteSourceSize</key>
                <string>{106,146}</string>
                <key>textureRect</key>
                <string>{{1711,1},{106,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/jubba_skyblue_sleave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,30}</string>
                <key>spriteSourceSize</key>
                <string>{15,30}</string>
                <key>textureRect</key>
                <string>{{206,238},{15,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/lion_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,101}</string>
                <key>spriteSourceSize</key>
                <string>{164,101}</string>
                <key>textureRect</key>
                <string>{{1240,1},{164,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/lion_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{964,223},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/lion_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,235}</string>
                <key>spriteSourceSize</key>
                <string>{256,235}</string>
                <key>textureRect</key>
                <string>{{1,1},{256,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/lion_lower_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,31}</string>
                <key>spriteSourceSize</key>
                <string>{10,31}</string>
                <key>textureRect</key>
                <string>{{492,234},{10,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/lion_lower_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,31}</string>
                <key>spriteSourceSize</key>
                <string>{10,31}</string>
                <key>textureRect</key>
                <string>{{525,234},{10,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/lion_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,45}</string>
                <key>spriteSourceSize</key>
                <string>{52,45}</string>
                <key>textureRect</key>
                <string>{{911,192},{52,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/lion_upper_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,40}</string>
                <key>spriteSourceSize</key>
                <string>{12,40}</string>
                <key>textureRect</key>
                <string>{{408,234},{12,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/lion_upper_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,40}</string>
                <key>spriteSourceSize</key>
                <string>{12,40}</string>
                <key>textureRect</key>
                <string>{{450,234},{12,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/peacock_beak_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,33}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{958,188},{26,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/peacock_beak_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,17}</string>
                <key>spriteSourceSize</key>
                <string>{39,17}</string>
                <key>textureRect</key>
                <string>{{1,238},{39,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/peacock_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,97}</string>
                <key>spriteSourceSize</key>
                <string>{158,97}</string>
                <key>textureRect</key>
                <string>{{1505,1},{158,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/peacock_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,24}</string>
                <key>spriteSourceSize</key>
                <string>{17,24}</string>
                <key>textureRect</key>
                <string>{{42,238},{17,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/peacock_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,210}</string>
                <key>spriteSourceSize</key>
                <string>{103,210}</string>
                <key>textureRect</key>
                <string>{{576,1},{103,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/peacock_left_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,69}</string>
                <key>spriteSourceSize</key>
                <string>{135,69}</string>
                <key>textureRect</key>
                <string>{{1030,184},{135,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/peacock_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{613,213},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/peacock_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{651,213},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/peacock_right_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,69}</string>
                <key>spriteSourceSize</key>
                <string>{135,69}</string>
                <key>textureRect</key>
                <string>{{1167,175},{135,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/peacock_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,189}</string>
                <key>spriteSourceSize</key>
                <string>{132,189}</string>
                <key>textureRect</key>
                <string>{{681,1},{132,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/rabbit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{66,54}</string>
                <key>spriteSourceSize</key>
                <string>{82,58}</string>
                <key>textureRect</key>
                <string>{{843,192},{66,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/rabbit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,58}</string>
                <key>spriteSourceSize</key>
                <string>{82,58}</string>
                <key>textureRect</key>
                <string>{{773,192},{68,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/rabbit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,58}</string>
                <key>spriteSourceSize</key>
                <string>{82,58}</string>
                <key>textureRect</key>
                <string>{{689,192},{82,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/red_jubba_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{2247,1},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/red_jubba_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,25}</string>
                <key>spriteSourceSize</key>
                <string>{8,25}</string>
                <key>textureRect</key>
                <string>{{597,213},{8,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/red_jubba_pant_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,25}</string>
                <key>spriteSourceSize</key>
                <string>{8,25}</string>
                <key>textureRect</key>
                <string>{{911,246},{8,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/red_jubba_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,39}</string>
                <key>spriteSourceSize</key>
                <string>{9,39}</string>
                <key>textureRect</key>
                <string>{{492,246},{9,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/red_jubba_pant_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,39}</string>
                <key>spriteSourceSize</key>
                <string>{9,39}</string>
                <key>textureRect</key>
                <string>{{533,246},{9,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/red_jubba_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,185}</string>
                <key>spriteSourceSize</key>
                <string>{108,185}</string>
                <key>textureRect</key>
                <string>{{920,1},{108,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/red_jubba_sleave_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,41}</string>
                <key>spriteSourceSize</key>
                <string>{14,41}</string>
                <key>textureRect</key>
                <string>{{365,234},{14,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/red_jubba_sleave_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,67}</string>
                <key>spriteSourceSize</key>
                <string>{16,67}</string>
                <key>textureRect</key>
                <string>{{137,238},{16,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/stars.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,315}</string>
                <key>spriteSourceSize</key>
                <string>{231,315}</string>
                <key>textureRect</key>
                <string>{{259,1},{231,315}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1343,1},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/tree_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,172}</string>
                <key>spriteSourceSize</key>
                <string>{98,172}</string>
                <key>textureRect</key>
                <string>{{1140,1},{98,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/tree_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,189}</string>
                <key>spriteSourceSize</key>
                <string>{103,189}</string>
                <key>textureRect</key>
                <string>{{815,1},{103,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/Sayari2/water1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,92}</string>
                <key>spriteSourceSize</key>
                <string>{335,92}</string>
                <key>textureRect</key>
                <string>{{1343,163},{335,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Sayari2.png</string>
            <key>size</key>
            <string>{2352,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0218cab79031a34f75a7b115a93870fa:68c057d8d8f529c14cb7f1646837d9d9:83c58f3b80a99bcaefc1522f58e7665d$</string>
            <key>textureFileName</key>
            <string>Sayari2.png</string>
        </dict>
    </dict>
</plist>
