<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/slingshots.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,120}</string>
                <key>spriteSourceSize</key>
                <string>{93,120}</string>
                <key>textureRect</key>
                <string>{{281,381},{93,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/squirrelbacklegleft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,104}</string>
                <key>spriteSourceSize</key>
                <string>{78,104}</string>
                <key>textureRect</key>
                <string>{{403,377},{78,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/squirrelbacklegright.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,82}</string>
                <key>spriteSourceSize</key>
                <string>{64,82}</string>
                <key>textureRect</key>
                <string>{{483,432},{64,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/squirrelbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,116}</string>
                <key>spriteSourceSize</key>
                <string>{148,116}</string>
                <key>textureRect</key>
                <string>{{355,174},{148,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/squirrelface.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,101}</string>
                <key>spriteSourceSize</key>
                <string>{103,101}</string>
                <key>textureRect</key>
                <string>{{483,329},{103,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/squirrelfrontlegleft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,78}</string>
                <key>spriteSourceSize</key>
                <string>{64,78}</string>
                <key>textureRect</key>
                <string>{{567,432},{64,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/squirrelfrontlegright.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,77}</string>
                <key>spriteSourceSize</key>
                <string>{56,77}</string>
                <key>textureRect</key>
                <string>{{588,329},{56,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/squirrelmouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,23}</string>
                <key>spriteSourceSize</key>
                <string>{42,23}</string>
                <key>textureRect</key>
                <string>{{56,468},{42,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/squirreltail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,194}</string>
                <key>spriteSourceSize</key>
                <string>{113,194}</string>
                <key>textureRect</key>
                <string>{{515,1},{113,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,72}</string>
                <key>spriteSourceSize</key>
                <string>{99,72}</string>
                <key>textureRect</key>
                <string>{{281,280},{99,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/stone1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,83}</string>
                <key>spriteSourceSize</key>
                <string>{126,83}</string>
                <key>textureRect</key>
                <string>{{355,292},{126,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,130}</string>
                <key>spriteSourceSize</key>
                <string>{131,130}</string>
                <key>textureRect</key>
                <string>{{505,197},{131,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/thinking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,277}</string>
                <key>spriteSourceSize</key>
                <string>{352,277}</string>
                <key>textureRect</key>
                <string>{{1,1},{352,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,186}</string>
                <key>spriteSourceSize</key>
                <string>{278,186}</string>
                <key>textureRect</key>
                <string>{{1,280},{278,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/waterdrop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,40}</string>
                <key>spriteSourceSize</key>
                <string>{19,40}</string>
                <key>textureRect</key>
                <string>{{588,408},{19,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/watersplash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,21}</string>
                <key>spriteSourceSize</key>
                <string>{53,21}</string>
                <key>textureRect</key>
                <string>{{1,468},{53,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Siafu_amwokoa_Njiwa/Siafu/wave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,171}</string>
                <key>spriteSourceSize</key>
                <string>{158,171}</string>
                <key>textureRect</key>
                <string>{{355,1},{158,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Siafu.png</string>
            <key>size</key>
            <string>{646,497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a137449816a6125fbdb1e9faa7347c4d:e513060d4cf08b07b610cf61d845440b:683614ab3e979a0a651219ea9f4a40b4$</string>
            <key>textureFileName</key>
            <string>Siafu.png</string>
        </dict>
    </dict>
</plist>
