<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>park/parka/arcladder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,519}</string>
                <key>spriteSourceSize</key>
                <string>{607,519}</string>
                <key>textureRect</key>
                <string>{{902,1371},{607,519}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>park/parka/backetfront.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,316}</string>
                <key>spriteSourceSize</key>
                <string>{280,316}</string>
                <key>textureRect</key>
                <string>{{1743,381},{280,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>park/parka/icecreamst.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{781,894}</string>
                <key>spriteSourceSize</key>
                <string>{781,894}</string>
                <key>textureRect</key>
                <string>{{847,1},{781,894}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>park/parka/jam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,152}</string>
                <key>spriteSourceSize</key>
                <string>{119,152}</string>
                <key>textureRect</key>
                <string>{{1423,1371},{103,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>park/parka/kite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,260}</string>
                <key>spriteSourceSize</key>
                <string>{378,260}</string>
                <key>textureRect</key>
                <string>{{1743,1},{378,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>park/parka/picnic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1167,336}</string>
                <key>spriteSourceSize</key>
                <string>{1167,336}</string>
                <key>textureRect</key>
                <string>{{1621,784},{1167,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>park/parka/swing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{899,621}</string>
                <key>spriteSourceSize</key>
                <string>{899,621}</string>
                <key>textureRect</key>
                <string>{{1,1378},{899,621}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>park/parka/treea.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{844,1375}</string>
                <key>spriteSourceSize</key>
                <string>{844,1375}</string>
                <key>textureRect</key>
                <string>{{1,1},{844,1375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>park/parka/treec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{585,772}</string>
                <key>spriteSourceSize</key>
                <string>{585,772}</string>
                <key>textureRect</key>
                <string>{{847,784},{585,772}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>parka.png</string>
            <key>size</key>
            <string>{2024,2000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83be75f177fa461d962953d6e23ecedd:37e2d71e63bbc70032986942594b454d:d35a0e267a73c67f834ee1c27308c58e$</string>
            <key>textureFileName</key>
            <string>parka.png</string>
        </dict>
    </dict>
</plist>
