<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layerisland/base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{491,149}</string>
                <key>spriteSourceSize</key>
                <string>{491,149}</string>
                <key>textureRect</key>
                <string>{{319,44},{491,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layerisland/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1414,328}</string>
                <key>spriteSourceSize</key>
                <string>{1414,328}</string>
                <key>textureRect</key>
                <string>{{470,44},{1414,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerisland/blink1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-67}</string>
                <key>spriteSize</key>
                <string>{395,380}</string>
                <key>spriteSourceSize</key>
                <string>{439,526}</string>
                <key>textureRect</key>
                <string>{{921,965},{395,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layerisland/blink2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-67}</string>
                <key>spriteSize</key>
                <string>{395,380}</string>
                <key>spriteSourceSize</key>
                <string>{439,526}</string>
                <key>textureRect</key>
                <string>{{1237,501},{395,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layerisland/bubble1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-66}</string>
                <key>spriteSize</key>
                <string>{70,97}</string>
                <key>spriteSourceSize</key>
                <string>{152,241}</string>
                <key>textureRect</key>
                <string>{{470,374},{70,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layerisland/bubble2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-32}</string>
                <key>spriteSize</key>
                <string>{66,97}</string>
                <key>spriteSourceSize</key>
                <string>{152,241}</string>
                <key>textureRect</key>
                <string>{{470,468},{66,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layerisland/bubble3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-20}</string>
                <key>spriteSize</key>
                <string>{96,111}</string>
                <key>spriteSourceSize</key>
                <string>{152,241}</string>
                <key>textureRect</key>
                <string>{{1886,214},{96,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layerisland/bubble4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,8}</string>
                <key>spriteSize</key>
                <string>{96,107}</string>
                <key>spriteSourceSize</key>
                <string>{152,241}</string>
                <key>textureRect</key>
                <string>{{1273,374},{96,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerisland/bubble5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,24}</string>
                <key>spriteSize</key>
                <string>{96,125}</string>
                <key>spriteSourceSize</key>
                <string>{152,241}</string>
                <key>textureRect</key>
                <string>{{1175,374},{96,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerisland/bubble6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,44}</string>
                <key>spriteSize</key>
                <string>{126,139}</string>
                <key>spriteSourceSize</key>
                <string>{152,241}</string>
                <key>textureRect</key>
                <string>{{1047,374},{126,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerisland/cake1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{476,156}</string>
                <key>spriteSourceSize</key>
                <string>{476,156}</string>
                <key>textureRect</key>
                <string>{{569,374},{476,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerisland/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,250}</string>
                <key>spriteSourceSize</key>
                <string>{234,250}</string>
                <key>textureRect</key>
                <string>{{1303,1157},{234,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerisland/hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,168}</string>
                <key>spriteSourceSize</key>
                <string>{112,168}</string>
                <key>textureRect</key>
                <string>{{1886,44},{112,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerisland/hands.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,54}</string>
                <key>spriteSourceSize</key>
                <string>{35,54}</string>
                <key>textureRect</key>
                <string>{{722,965},{35,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerisland/happy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-31}</string>
                <key>spriteSize</key>
                <string>{395,449}</string>
                <key>spriteSourceSize</key>
                <string>{439,525}</string>
                <key>textureRect</key>
                <string>{{470,1022},{395,449}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layerisland/happy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-22}</string>
                <key>spriteSize</key>
                <string>{395,467}</string>
                <key>spriteSourceSize</key>
                <string>{439,525}</string>
                <key>textureRect</key>
                <string>{{1,1047},{395,467}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layerisland/happy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-14}</string>
                <key>spriteSize</key>
                <string>{401,483}</string>
                <key>spriteSourceSize</key>
                <string>{439,525}</string>
                <key>textureRect</key>
                <string>{{319,537},{401,483}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerisland/happy4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{431,513}</string>
                <key>spriteSourceSize</key>
                <string>{439,525}</string>
                <key>textureRect</key>
                <string>{{722,532},{431,513}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layerisland/ladder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,1001}</string>
                <key>spriteSourceSize</key>
                <string>{316,1001}</string>
                <key>textureRect</key>
                <string>{{1,44},{316,1001}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerisland/pant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,290}</string>
                <key>spriteSourceSize</key>
                <string>{257,290}</string>
                <key>textureRect</key>
                <string>{{1303,898},{257,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layerisland/ref.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2001,41}</string>
                <key>spriteSourceSize</key>
                <string>{2001,41}</string>
                <key>textureRect</key>
                <string>{{1,1},{2001,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerisland/sad1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-68}</string>
                <key>spriteSize</key>
                <string>{395,380}</string>
                <key>spriteSourceSize</key>
                <string>{439,526}</string>
                <key>textureRect</key>
                <string>{{1619,468},{395,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layerisland/sad2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-68}</string>
                <key>spriteSize</key>
                <string>{395,380}</string>
                <key>spriteSourceSize</key>
                <string>{439,526}</string>
                <key>textureRect</key>
                <string>{{1619,865},{395,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layerisland/stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,108}</string>
                <key>spriteSourceSize</key>
                <string>{154,108}</string>
                <key>textureRect</key>
                <string>{{1886,312},{154,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>layerisland.png</string>
            <key>size</key>
            <string>{2003,1443}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e88ea553a1b3e0ddaad8208a352af938:9efaa3715ca282ad29e80997b13b6d08:88e7c78b3aaf3e9bf61736f7dbec9a32$</string>
            <key>textureFileName</key>
            <string>layerisland.png</string>
        </dict>
    </dict>
</plist>
