<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spotlevel/ban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,249}</string>
                <key>spriteSourceSize</key>
                <string>{363,249}</string>
                <key>textureRect</key>
                <string>{{1,1171},{363,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spotlevel/buffalobody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,117}</string>
                <key>spriteSourceSize</key>
                <string>{134,117}</string>
                <key>textureRect</key>
                <string>{{252,1413},{134,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spotlevel/buffalohead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,200}</string>
                <key>spriteSourceSize</key>
                <string>{190,200}</string>
                <key>textureRect</key>
                <string>{{563,1170},{190,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spotlevel/bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,138}</string>
                <key>spriteSourceSize</key>
                <string>{393,138}</string>
                <key>textureRect</key>
                <string>{{571,259},{393,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spotlevel/cake1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,113}</string>
                <key>spriteSourceSize</key>
                <string>{240,113}</string>
                <key>textureRect</key>
                <string>{{252,1171},{240,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spotlevel/chimney.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,62}</string>
                <key>spriteSourceSize</key>
                <string>{42,62}</string>
                <key>textureRect</key>
                <string>{{963,881},{42,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spotlevel/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{443,166}</string>
                <key>spriteSourceSize</key>
                <string>{443,166}</string>
                <key>textureRect</key>
                <string>{{560,713},{443,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spotlevel/cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,168}</string>
                <key>spriteSourceSize</key>
                <string>{402,168}</string>
                <key>textureRect</key>
                <string>{{559,881},{402,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spotlevel/cowbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{115,96}</string>
                <key>spriteSourceSize</key>
                <string>{115,102}</string>
                <key>textureRect</key>
                <string>{{748,1051},{115,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spotlevel/cowhead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,194}</string>
                <key>spriteSourceSize</key>
                <string>{215,194}</string>
                <key>textureRect</key>
                <string>{{367,1171},{215,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spotlevel/goatbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,79}</string>
                <key>spriteSourceSize</key>
                <string>{117,79}</string>
                <key>textureRect</key>
                <string>{{559,1051},{117,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spotlevel/goathead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,154}</string>
                <key>spriteSourceSize</key>
                <string>{141,154}</string>
                <key>textureRect</key>
                <string>{{571,103},{141,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spotlevel/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,266}</string>
                <key>spriteSourceSize</key>
                <string>{568,266}</string>
                <key>textureRect</key>
                <string>{{1,103},{568,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spotlevel/ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{716,100}</string>
                <key>spriteSourceSize</key>
                <string>{716,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{716,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spotlevel/horsebody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,102}</string>
                <key>spriteSourceSize</key>
                <string>{171,102}</string>
                <key>textureRect</key>
                <string>{{857,1360},{171,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spotlevel/horsehead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,189}</string>
                <key>spriteSourceSize</key>
                <string>{175,189}</string>
                <key>textureRect</key>
                <string>{{666,1372},{175,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spotlevel/pigbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,113}</string>
                <key>spriteSourceSize</key>
                <string>{160,113}</string>
                <key>textureRect</key>
                <string>{{371,1388},{160,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spotlevel/pighead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,120}</string>
                <key>spriteSourceSize</key>
                <string>{106,120}</string>
                <key>textureRect</key>
                <string>{{846,1051},{106,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spotlevel/shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,57}</string>
                <key>spriteSourceSize</key>
                <string>{444,57}</string>
                <key>textureRect</key>
                <string>{{560,654},{444,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spotlevel/sheepbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{115,106}</string>
                <key>spriteSourceSize</key>
                <string>{117,106}</string>
                <key>textureRect</key>
                <string>{{640,1051},{115,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spotlevel/sheephead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{150,178}</string>
                <key>spriteSourceSize</key>
                <string>{158,184}</string>
                <key>textureRect</key>
                <string>{{486,1388},{150,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spotlevel/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,188}</string>
                <key>spriteSourceSize</key>
                <string>{190,188}</string>
                <key>textureRect</key>
                <string>{{755,1168},{190,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spotlevel/tractor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,269}</string>
                <key>spriteSourceSize</key>
                <string>{325,269}</string>
                <key>textureRect</key>
                <string>{{711,300},{325,269}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spotlevel/tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{557,371}</string>
                <key>spriteSourceSize</key>
                <string>{557,371}</string>
                <key>textureRect</key>
                <string>{{1,371},{557,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spotlevel/windmill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,556}</string>
                <key>spriteSourceSize</key>
                <string>{425,556}</string>
                <key>textureRect</key>
                <string>{{1,744},{425,556}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spotlevel/windmillfan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{297,273}</string>
                <key>spriteSourceSize</key>
                <string>{297,273}</string>
                <key>textureRect</key>
                <string>{{719,1},{297,273}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spotlevel/windmillpole.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,305}</string>
                <key>spriteSourceSize</key>
                <string>{26,305}</string>
                <key>textureRect</key>
                <string>{{982,300},{26,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spotlevel.png</string>
            <key>size</key>
            <string>{1009,1549}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80f0a1b704248836223d7655f7dad6ca:47bc9ba595151b9af78a55c1f218a313:ead694b65fda7836b012cf243fc59200$</string>
            <key>textureFileName</key>
            <string>spotlevel.png</string>
        </dict>
    </dict>
</plist>
