<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hand/dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-1}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{91,90}</string>
                <key>textureRect</key>
                <string>{{1648,1348},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand/eight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1.5,-1}</string>
                <key>spriteSize</key>
                <string>{1112,672}</string>
                <key>spriteSourceSize</key>
                <string>{1109,670}</string>
                <key>textureRect</key>
                <string>{{0,1348},{1112,672}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand/five.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-1}</string>
                <key>spriteSize</key>
                <string>{620,672}</string>
                <key>spriteSourceSize</key>
                <string>{619,670}</string>
                <key>textureRect</key>
                <string>{{1160,676},{620,672}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand/four.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{536,672}</string>
                <key>spriteSourceSize</key>
                <string>{536,670}</string>
                <key>textureRect</key>
                <string>{{1112,1348},{536,672}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand/nine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-1}</string>
                <key>spriteSize</key>
                <string>{1160,672}</string>
                <key>spriteSourceSize</key>
                <string>{1159,670}</string>
                <key>textureRect</key>
                <string>{{0,672},{1160,672}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand/ten.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1.5,-1}</string>
                <key>spriteSize</key>
                <string>{1248,672}</string>
                <key>spriteSourceSize</key>
                <string>{1245,670}</string>
                <key>textureRect</key>
                <string>{{0,0},{1248,672}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand/three.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{500,676}</string>
                <key>spriteSourceSize</key>
                <string>{498,674}</string>
                <key>textureRect</key>
                <string>{{1248,0},{500,676}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hand-0.png</string>
            <key>size</key>
            <string>{1780,2020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed37aafcdcf405b88df75b1587144110:a3e804436a5bc1c2f7f3247e3b4d0128:5e8f7bdb30532251fd9982d0cbf3ee09$</string>
            <key>textureFileName</key>
            <string>hand-0.png</string>
        </dict>
    </dict>
</plist>
