<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bingo/lion-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{236,269}</string>
                <key>spriteSourceSize</key>
                <string>{244,273}</string>
                <key>textureRect</key>
                <string>{{1,1},{236,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bingo.png</string>
            <key>size</key>
            <string>{238,271}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:597ae23b9f00072f701bc20b9978c6a7:e0ae5e6d6816f5695809e12ea5416f43:b96c20bfe4ee589dadf6cd91dd5c656b$</string>
            <key>textureFileName</key>
            <string>bingo.png</string>
        </dict>
    </dict>
</plist>
