<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hospital/book1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,47}</string>
                <key>spriteSourceSize</key>
                <string>{21,47}</string>
                <key>textureRect</key>
                <string>{{631,478},{21,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hospital/book2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,59}</string>
                <key>spriteSourceSize</key>
                <string>{21,59}</string>
                <key>textureRect</key>
                <string>{{497,424},{21,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/book3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,39}</string>
                <key>spriteSourceSize</key>
                <string>{21,39}</string>
                <key>textureRect</key>
                <string>{{680,474},{21,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hospital/book4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,55}</string>
                <key>spriteSourceSize</key>
                <string>{21,55}</string>
                <key>textureRect</key>
                <string>{{574,483},{21,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hospital/book5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,52}</string>
                <key>spriteSourceSize</key>
                <string>{21,52}</string>
                <key>textureRect</key>
                <string>{{613,424},{21,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/bookstand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,252}</string>
                <key>spriteSourceSize</key>
                <string>{179,252}</string>
                <key>textureRect</key>
                <string>{{1501,1},{179,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hospital/box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,69}</string>
                <key>spriteSourceSize</key>
                <string>{80,69}</string>
                <key>textureRect</key>
                <string>{{113,427},{80,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hospital/certificate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,80}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{1,427},{110,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/chair1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,180}</string>
                <key>spriteSourceSize</key>
                <string>{114,180}</string>
                <key>textureRect</key>
                <string>{{979,329},{114,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/chair2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,188}</string>
                <key>spriteSourceSize</key>
                <string>{125,188}</string>
                <key>textureRect</key>
                <string>{{1374,317},{125,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/chair3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,183}</string>
                <key>spriteSourceSize</key>
                <string>{352,183}</string>
                <key>textureRect</key>
                <string>{{663,1},{352,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hospital/dripstand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,314}</string>
                <key>spriteSourceSize</key>
                <string>{178,314}</string>
                <key>textureRect</key>
                <string>{{1208,1},{178,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/emergency.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,39}</string>
                <key>spriteSourceSize</key>
                <string>{172,39}</string>
                <key>textureRect</key>
                <string>{{1388,1},{172,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hospital/heartratemonitor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,59}</string>
                <key>spriteSourceSize</key>
                <string>{98,59}</string>
                <key>textureRect</key>
                <string>{{397,424},{98,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/hospitalbed1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,210}</string>
                <key>spriteSourceSize</key>
                <string>{326,210}</string>
                <key>textureRect</key>
                <string>{{848,1},{326,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hospital/hospitalbed2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,146}</string>
                <key>spriteSourceSize</key>
                <string>{321,146}</string>
                <key>textureRect</key>
                <string>{{1060,1},{321,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hospital/hospitalfloor1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,67}</string>
                <key>spriteSourceSize</key>
                <string>{167,67}</string>
                <key>textureRect</key>
                <string>{{184,427},{167,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/hospitalfloor3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,48}</string>
                <key>spriteSourceSize</key>
                <string>{106,48}</string>
                <key>textureRect</key>
                <string>{{663,355},{106,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/hospitallights.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,156}</string>
                <key>spriteSourceSize</key>
                <string>{177,156}</string>
                <key>textureRect</key>
                <string>{{800,355},{177,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/injection.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,14}</string>
                <key>spriteSourceSize</key>
                <string>{66,14}</string>
                <key>textureRect</key>
                <string>{{184,496},{66,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/pc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,162}</string>
                <key>spriteSourceSize</key>
                <string>{48,162}</string>
                <key>textureRect</key>
                <string>{{636,424},{48,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hospital/piller.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,421}</string>
                <key>spriteSourceSize</key>
                <string>{265,421}</string>
                <key>textureRect</key>
                <string>{{396,1},{265,421}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/steps.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,393}</string>
                <key>spriteSourceSize</key>
                <string>{424,393}</string>
                <key>textureRect</key>
                <string>{{1,1},{424,393}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hospital/stethoscope.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,57}</string>
                <key>spriteSourceSize</key>
                <string>{91,57}</string>
                <key>textureRect</key>
                <string>{{520,424},{91,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/syrup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,89}</string>
                <key>spriteSourceSize</key>
                <string>{44,89}</string>
                <key>textureRect</key>
                <string>{{1429,1},{44,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/table4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,187}</string>
                <key>spriteSourceSize</key>
                <string>{277,187}</string>
                <key>textureRect</key>
                <string>{{1095,324},{277,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/wall1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,149}</string>
                <key>spriteSourceSize</key>
                <string>{24,149}</string>
                <key>textureRect</key>
                <string>{{397,485},{24,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hospital/wall2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{548,483},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hospital/wallclock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{126,124}</string>
                <key>textureRect</key>
                <string>{{1388,182},{126,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hospital/weighingmachine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,42}</string>
                <key>spriteSourceSize</key>
                <string>{64,42}</string>
                <key>textureRect</key>
                <string>{{353,427},{64,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hospital/wheelchair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,214}</string>
                <key>spriteSourceSize</key>
                <string>{166,214}</string>
                <key>textureRect</key>
                <string>{{1514,182},{166,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hospital/xray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,141}</string>
                <key>spriteSourceSize</key>
                <string>{214,141}</string>
                <key>textureRect</key>
                <string>{{1501,350},{214,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hospital.png</string>
            <key>size</key>
            <string>{1754,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55dbda8f6285aedcc7c018fd0b77e3ec:67b73c2f2b184041671699ad35a0bc05:af25e981db9cd6765691747bbcc9249e$</string>
            <key>textureFileName</key>
            <string>hospital.png</string>
        </dict>
    </dict>
</plist>
