<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kisirusiru_mjinga_Kisirusiru/Kisirusiru_bag01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,333}</string>
                <key>spriteSourceSize</key>
                <string>{337,333}</string>
                <key>textureRect</key>
                <string>{{285,3103},{337,333}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/Kisirusiru_bag02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,334}</string>
                <key>spriteSourceSize</key>
                <string>{337,334}</string>
                <key>textureRect</key>
                <string>{{156,2767},{337,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/Kisirusiru_bag1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,227}</string>
                <key>spriteSourceSize</key>
                <string>{251,227}</string>
                <key>textureRect</key>
                <string>{{620,3237},{251,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/Kisirusiru_bag2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,249}</string>
                <key>spriteSourceSize</key>
                <string>{186,249}</string>
                <key>textureRect</key>
                <string>{{569,1567},{186,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/Kisirusiru_grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,251}</string>
                <key>spriteSourceSize</key>
                <string>{171,251}</string>
                <key>textureRect</key>
                <string>{{569,1980},{171,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/Kisirusiru_ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1055,153}</string>
                <key>spriteSourceSize</key>
                <string>{1055,153}</string>
                <key>textureRect</key>
                <string>{{1,2485},{1055,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/Kisirusiru_meat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{761,456}</string>
                <key>spriteSourceSize</key>
                <string>{761,456}</string>
                <key>textureRect</key>
                <string>{{1,1109},{761,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/Kisirusiru_paper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,217}</string>
                <key>spriteSourceSize</key>
                <string>{261,217}</string>
                <key>textureRect</key>
                <string>{{747,2335},{261,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/Kisirusiru_pot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,156}</string>
                <key>spriteSourceSize</key>
                <string>{165,156}</string>
                <key>textureRect</key>
                <string>{{537,2593},{165,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/Kisirusiru_stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,59}</string>
                <key>spriteSourceSize</key>
                <string>{116,59}</string>
                <key>textureRect</key>
                <string>{{631,2893},{116,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/Kisirusiru_sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,100}</string>
                <key>spriteSourceSize</key>
                <string>{101,100}</string>
                <key>textureRect</key>
                <string>{{849,3329},{101,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/Kisirusiru_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1106,1008}</string>
                <key>spriteSourceSize</key>
                <string>{1106,1008}</string>
                <key>textureRect</key>
                <string>{{1,1},{1106,1008}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/Kuhesabu_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,114}</string>
                <key>spriteSourceSize</key>
                <string>{285,114}</string>
                <key>textureRect</key>
                <string>{{697,3097},{285,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/character1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,515}</string>
                <key>spriteSourceSize</key>
                <string>{233,515}</string>
                <key>textureRect</key>
                <string>{{764,1109},{233,515}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/character2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,534}</string>
                <key>spriteSourceSize</key>
                <string>{395,534}</string>
                <key>textureRect</key>
                <string>{{1,2088},{395,534}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/character3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,359}</string>
                <key>spriteSourceSize</key>
                <string>{254,359}</string>
                <key>textureRect</key>
                <string>{{751,1974},{254,359}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/character4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,346}</string>
                <key>spriteSourceSize</key>
                <string>{280,346}</string>
                <key>textureRect</key>
                <string>{{156,2485},{280,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/face .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,299}</string>
                <key>spriteSourceSize</key>
                <string>{324,299}</string>
                <key>textureRect</key>
                <string>{{709,2554},{324,299}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,38}</string>
                <key>spriteSourceSize</key>
                <string>{25,38}</string>
                <key>textureRect</key>
                <string>{{537,2088},{25,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,86}</string>
                <key>spriteSourceSize</key>
                <string>{14,86}</string>
                <key>textureRect</key>
                <string>{{504,2617},{14,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,68}</string>
                <key>spriteSourceSize</key>
                <string>{33,68}</string>
                <key>textureRect</key>
                <string>{{620,3202},{33,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,89}</string>
                <key>spriteSourceSize</key>
                <string>{14,89}</string>
                <key>textureRect</key>
                <string>{{521,2567},{14,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/girl_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,45}</string>
                <key>spriteSourceSize</key>
                <string>{11,45}</string>
                <key>textureRect</key>
                <string>{{523,2485},{11,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/goat_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,252}</string>
                <key>spriteSourceSize</key>
                <string>{346,252}</string>
                <key>textureRect</key>
                <string>{{757,1626},{346,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/goat_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,40}</string>
                <key>spriteSourceSize</key>
                <string>{34,40}</string>
                <key>textureRect</key>
                <string>{{580,3442},{34,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/goat_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{519,566}</string>
                <key>spriteSourceSize</key>
                <string>{519,566}</string>
                <key>textureRect</key>
                <string>{{1,1567},{519,566}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/goat_lower_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,83}</string>
                <key>spriteSourceSize</key>
                <string>{42,83}</string>
                <key>textureRect</key>
                <string>{{379,3442},{42,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/goat_lower_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,83}</string>
                <key>spriteSourceSize</key>
                <string>{42,83}</string>
                <key>textureRect</key>
                <string>{{423,3442},{42,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/goat_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,57}</string>
                <key>spriteSourceSize</key>
                <string>{96,57}</string>
                <key>textureRect</key>
                <string>{{650,2751},{96,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/goat_upper_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,82}</string>
                <key>spriteSourceSize</key>
                <string>{35,82}</string>
                <key>textureRect</key>
                <string>{{709,2443},{35,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/goat_upper_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,82}</string>
                <key>spriteSourceSize</key>
                <string>{35,82}</string>
                <key>textureRect</key>
                <string>{{467,3442},{35,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/motu_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{537,2233},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/motu_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,48}</string>
                <key>spriteSourceSize</key>
                <string>{15,48}</string>
                <key>textureRect</key>
                <string>{{504,2567},{15,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/motu_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,74}</string>
                <key>spriteSourceSize</key>
                <string>{18,74}</string>
                <key>textureRect</key>
                <string>{{537,2128},{18,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/motu_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,293}</string>
                <key>spriteSourceSize</key>
                <string>{215,293}</string>
                <key>textureRect</key>
                <string>{{698,2880},{215,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/motu_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,17}</string>
                <key>spriteSourceSize</key>
                <string>{80,17}</string>
                <key>textureRect</key>
                <string>{{504,2485},{80,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/object_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,71}</string>
                <key>spriteSourceSize</key>
                <string>{71,71}</string>
                <key>textureRect</key>
                <string>{{620,3129},{71,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/puff1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,8}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{186,164}</string>
                <key>textureRect</key>
                <string>{{537,2204},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/puff10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,14}</string>
                <key>spriteSize</key>
                <string>{124,82}</string>
                <key>spriteSourceSize</key>
                <string>{186,164}</string>
                <key>textureRect</key>
                <string>{{495,3005},{124,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/puff11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,13}</string>
                <key>spriteSize</key>
                <string>{116,74}</string>
                <key>spriteSourceSize</key>
                <string>{186,164}</string>
                <key>textureRect</key>
                <string>{{621,3011},{116,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/puff12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-91.5,80.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{186,164}</string>
                <key>textureRect</key>
                <string>{{999,1109},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/puff2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,6}</string>
                <key>spriteSize</key>
                <string>{46,42}</string>
                <key>spriteSourceSize</key>
                <string>{186,164}</string>
                <key>textureRect</key>
                <string>{{650,2849},{46,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/puff3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,6}</string>
                <key>spriteSize</key>
                <string>{80,74}</string>
                <key>spriteSourceSize</key>
                <string>{186,164}</string>
                <key>textureRect</key>
                <string>{{504,3442},{80,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/puff4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,6}</string>
                <key>spriteSize</key>
                <string>{98,92}</string>
                <key>spriteSourceSize</key>
                <string>{186,164}</string>
                <key>textureRect</key>
                <string>{{285,3442},{98,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/puff5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{122,114}</string>
                <key>spriteSourceSize</key>
                <string>{186,164}</string>
                <key>textureRect</key>
                <string>{{849,3213},{122,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/puff6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{144,134}</string>
                <key>spriteSourceSize</key>
                <string>{186,164}</string>
                <key>textureRect</key>
                <string>{{504,2751},{144,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/puff7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{180,160}</string>
                <key>spriteSourceSize</key>
                <string>{186,164}</string>
                <key>textureRect</key>
                <string>{{569,1818},{180,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/puff8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{170,148}</string>
                <key>spriteSourceSize</key>
                <string>{186,164}</string>
                <key>textureRect</key>
                <string>{{537,2443},{170,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/puff9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{134,116}</string>
                <key>spriteSourceSize</key>
                <string>{186,164}</string>
                <key>textureRect</key>
                <string>{{495,2887},{134,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kisirusiru_mjinga_Kisirusiru/shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,127}</string>
                <key>spriteSourceSize</key>
                <string>{447,139}</string>
                <key>textureRect</key>
                <string>{{156,3103},{429,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Kisirusiru_mjinga_Kisirusiru.png</string>
            <key>size</key>
            <string>{1010,3541}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e94faf5754e7ca5e760f0edf94f4706a:010df03317c2883938bb88839867bf4a:0943f4239006a3ffd191c158c38556e9$</string>
            <key>textureFileName</key>
            <string>Kisirusiru_mjinga_Kisirusiru.png</string>
        </dict>
    </dict>
</plist>
