<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>owl/circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{1,1},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owl/ears.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,70}</string>
                <key>spriteSourceSize</key>
                <string>{106,70}</string>
                <key>textureRect</key>
                <string>{{1,119},{106,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owl/eyebrows.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,15}</string>
                <key>spriteSourceSize</key>
                <string>{32,15}</string>
                <key>textureRect</key>
                <string>{{73,222},{32,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owl/eyeinner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{73,185},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owl/eyeouter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,64}</string>
                <key>spriteSourceSize</key>
                <string>{53,64}</string>
                <key>textureRect</key>
                <string>{{73,119},{53,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owl/feathers.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,33}</string>
                <key>spriteSourceSize</key>
                <string>{70,33}</string>
                <key>textureRect</key>
                <string>{{1,227},{70,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owl/lowerbeak.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{73,239},{13,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owl/upperbeak.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,28}</string>
                <key>spriteSourceSize</key>
                <string>{15,28}</string>
                <key>textureRect</key>
                <string>{{107,222},{15,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>owl.png</string>
            <key>size</key>
            <string>{127,261}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b73a642fd092383b735c98aba1e651ea:c8c3d19a1ae17fff3e02ed995d0eca32:08aa6881590fcf33961ae550b81e7f1c$</string>
            <key>textureFileName</key>
            <string>owl.png</string>
        </dict>
    </dict>
</plist>
