<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>camp/camp4/bonfire1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{59,61}</string>
                <key>spriteSourceSize</key>
                <string>{59,77}</string>
                <key>textureRect</key>
                <string>{{409,1232},{59,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp/camp4/bonfire2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,77}</string>
                <key>spriteSourceSize</key>
                <string>{59,77}</string>
                <key>textureRect</key>
                <string>{{339,1272},{59,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp/camp4/bonfire3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,77}</string>
                <key>spriteSourceSize</key>
                <string>{59,77}</string>
                <key>textureRect</key>
                <string>{{409,1046},{59,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp/camp4/clothshop_door_open1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,50}</string>
                <key>spriteSourceSize</key>
                <string>{28,50}</string>
                <key>textureRect</key>
                <string>{{456,992},{28,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp/camp4/door1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,63}</string>
                <key>spriteSourceSize</key>
                <string>{47,63}</string>
                <key>textureRect</key>
                <string>{{245,300},{47,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp/camp4/door2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,41}</string>
                <key>spriteSourceSize</key>
                <string>{64,41}</string>
                <key>textureRect</key>
                <string>{{467,300},{64,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp/camp4/foreground_bonfire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,105}</string>
                <key>spriteSourceSize</key>
                <string>{59,105}</string>
                <key>textureRect</key>
                <string>{{434,1125},{59,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp/camp4/foreground_log.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,52}</string>
                <key>spriteSourceSize</key>
                <string>{176,52}</string>
                <key>textureRect</key>
                <string>{{456,814},{176,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp/camp4/gym_door_open1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,63}</string>
                <key>spriteSourceSize</key>
                <string>{48,63}</string>
                <key>textureRect</key>
                <string>{{278,1222},{48,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp/camp4/gym_door_open2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{40,63}</string>
                <key>spriteSourceSize</key>
                <string>{48,63}</string>
                <key>textureRect</key>
                <string>{{245,365},{40,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp/camp4/gym_door_open3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{24,63}</string>
                <key>spriteSourceSize</key>
                <string>{48,63}</string>
                <key>textureRect</key>
                <string>{{470,1044},{24,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp/camp4/main_bridge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{336,77}</string>
                <key>spriteSourceSize</key>
                <string>{336,79}</string>
                <key>textureRect</key>
                <string>{{1,1272},{336,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp/camp4/main_bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,36}</string>
                <key>spriteSourceSize</key>
                <string>{59,36}</string>
                <key>textureRect</key>
                <string>{{467,432},{59,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp/camp4/main_ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,186}</string>
                <key>spriteSourceSize</key>
                <string>{240,186}</string>
                <key>textureRect</key>
                <string>{{294,572},{240,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp/camp4/main_lantern.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,64}</string>
                <key>spriteSourceSize</key>
                <string>{35,64}</string>
                <key>textureRect</key>
                <string>{{467,366},{35,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp/camp4/main_lantern_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,64}</string>
                <key>spriteSourceSize</key>
                <string>{35,64}</string>
                <key>textureRect</key>
                <string>{{343,1222},{35,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp/camp4/main_picnic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,68}</string>
                <key>spriteSourceSize</key>
                <string>{154,68}</string>
                <key>textureRect</key>
                <string>{{278,1152},{154,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp/camp4/main_pot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{129,104}</string>
                <key>spriteSourceSize</key>
                <string>{151,106}</string>
                <key>textureRect</key>
                <string>{{278,1046},{129,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp/camp4/main_stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,31}</string>
                <key>spriteSourceSize</key>
                <string>{60,31}</string>
                <key>textureRect</key>
                <string>{{467,493},{60,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp/camp4/main_tent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,0}</string>
                <key>spriteSize</key>
                <string>{275,188}</string>
                <key>spriteSourceSize</key>
                <string>{495,188}</string>
                <key>textureRect</key>
                <string>{{1,1082},{275,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp/camp4/main_tree3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,291}</string>
                <key>spriteSourceSize</key>
                <string>{347,291}</string>
                <key>textureRect</key>
                <string>{{1,434},{347,291}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp/camp4/main_treehouse1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,0}</string>
                <key>spriteSize</key>
                <string>{297,260}</string>
                <key>spriteSourceSize</key>
                <string>{469,260}</string>
                <key>textureRect</key>
                <string>{{245,1},{297,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp/camp4/main_treehouse2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-59}</string>
                <key>spriteSize</key>
                <string>{190,230}</string>
                <key>spriteSourceSize</key>
                <string>{300,348}</string>
                <key>textureRect</key>
                <string>{{264,814},{190,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp/camp4/main_treehouse3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{297,261}</string>
                <key>spriteSourceSize</key>
                <string>{437,261}</string>
                <key>textureRect</key>
                <string>{{1,783},{297,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp/camp4/main_treehouse4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,5}</string>
                <key>spriteSize</key>
                <string>{242,431}</string>
                <key>spriteSourceSize</key>
                <string>{308,441}</string>
                <key>textureRect</key>
                <string>{{1,1},{242,431}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp/camp4/main_treehouse5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{270,171}</string>
                <key>spriteSourceSize</key>
                <string>{308,171}</string>
                <key>textureRect</key>
                <string>{{294,300},{270,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>camp4.png</string>
            <key>size</key>
            <string>{509,1350}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d9521e47251a38465c81e653304bf33:9d97d9b925d7b3b7dc335db59f16cc05:f36811cdc655eb459fc9a63c914fa9e1$</string>
            <key>textureFileName</key>
            <string>camp4.png</string>
        </dict>
    </dict>
</plist>
