<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_2/Khalai_fence.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,89}</string>
                <key>spriteSourceSize</key>
                <string>{263,89}</string>
                <key>textureRect</key>
                <string>{{418,224},{263,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_2/Kima_fence.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,90}</string>
                <key>spriteSourceSize</key>
                <string>{240,90}</string>
                <key>textureRect</key>
                <string>{{632,131},{240,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_2/Kima_grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,82}</string>
                <key>spriteSourceSize</key>
                <string>{221,82}</string>
                <key>textureRect</key>
                <string>{{683,223},{221,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_2/Kima_path.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,128}</string>
                <key>spriteSourceSize</key>
                <string>{247,128}</string>
                <key>textureRect</key>
                <string>{{632,1},{247,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_2/Kwa_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,221}</string>
                <key>spriteSourceSize</key>
                <string>{212,221}</string>
                <key>textureRect</key>
                <string>{{418,1},{212,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_2/Kwa_chair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,187}</string>
                <key>spriteSourceSize</key>
                <string>{132,187}</string>
                <key>textureRect</key>
                <string>{{1043,131},{132,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_2/Kwa_door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,261}</string>
                <key>spriteSourceSize</key>
                <string>{147,261}</string>
                <key>textureRect</key>
                <string>{{400,322},{147,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_2/Kwa_hut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,179}</string>
                <key>spriteSourceSize</key>
                <string>{261,179}</string>
                <key>textureRect</key>
                <string>{{663,315},{261,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_2/Kwa_table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,97}</string>
                <key>spriteSourceSize</key>
                <string>{135,97}</string>
                <key>textureRect</key>
                <string>{{906,216},{135,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_2/Kwa_window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,184}</string>
                <key>spriteSourceSize</key>
                <string>{162,184}</string>
                <key>textureRect</key>
                <string>{{926,315},{162,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_2/Rafiki_cup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,23}</string>
                <key>spriteSourceSize</key>
                <string>{48,23}</string>
                <key>textureRect</key>
                <string>{{400,471},{48,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_2/Rafiki_food.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,83}</string>
                <key>spriteSourceSize</key>
                <string>{100,83}</string>
                <key>textureRect</key>
                <string>{{874,131},{100,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_2/Rafiki_sofa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,171}</string>
                <key>spriteSourceSize</key>
                <string>{397,171}</string>
                <key>textureRect</key>
                <string>{{1,325},{397,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_2/Rafiki_table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{192,128}</string>
                <key>spriteSourceSize</key>
                <string>{216,128}</string>
                <key>textureRect</key>
                <string>{{881,1},{192,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_2/Rafiki_window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,194}</string>
                <key>spriteSourceSize</key>
                <string>{319,194}</string>
                <key>textureRect</key>
                <string>{{222,1},{319,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_2/lightpink_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,147}</string>
                <key>spriteSourceSize</key>
                <string>{112,147}</string>
                <key>textureRect</key>
                <string>{{1075,1},{112,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_2/motu_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1232,245},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_2/motu_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,24}</string>
                <key>spriteSourceSize</key>
                <string>{8,24}</string>
                <key>textureRect</key>
                <string>{{480,482},{8,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_2/motu_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,37}</string>
                <key>spriteSourceSize</key>
                <string>{9,37}</string>
                <key>textureRect</key>
                <string>{{480,471},{9,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_2/orangepattern_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,131}</string>
                <key>spriteSourceSize</key>
                <string>{110,131}</string>
                <key>textureRect</key>
                <string>{{1226,351},{110,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_2/pinkblue_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,130}</string>
                <key>spriteSourceSize</key>
                <string>{108,130}</string>
                <key>textureRect</key>
                <string>{{1232,113},{108,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_2/pinkpurple_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,147}</string>
                <key>spriteSourceSize</key>
                <string>{112,147}</string>
                <key>textureRect</key>
                <string>{{1112,265},{112,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_2/purplepink_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,110}</string>
                <key>spriteSourceSize</key>
                <string>{112,110}</string>
                <key>textureRect</key>
                <string>{{1224,1},{112,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_2/wind-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,13}</string>
                <key>spriteSourceSize</key>
                <string>{10,13}</string>
                <key>textureRect</key>
                <string>{{506,482},{10,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_2/wind-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-2}</string>
                <key>spriteSize</key>
                <string>{322,219}</string>
                <key>spriteSourceSize</key>
                <string>{338,229}</string>
                <key>textureRect</key>
                <string>{{1,1},{322,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_2/wind-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,10}</string>
                <key>spriteSourceSize</key>
                <string>{13,10}</string>
                <key>textureRect</key>
                <string>{{518,482},{13,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_2/wind-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,9}</string>
                <key>spriteSourceSize</key>
                <string>{11,9}</string>
                <key>textureRect</key>
                <string>{{519,471},{11,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_2/wind-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{28,22}</string>
                <key>textureRect</key>
                <string>{{450,471},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_2/wind-06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{530,482},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_2/wind-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,21}</string>
                <key>spriteSourceSize</key>
                <string>{15,21}</string>
                <key>textureRect</key>
                <string>{{542,471},{15,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Rafiki_ninayemkosa_2.png</string>
            <key>size</key>
            <string>{1341,497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7540d4faf2572a96f15bab7925b49f89:b722cd780072a68b5f28a85e0de33b77:e663d6780c7f7f6050993a816e78610b$</string>
            <key>textureFileName</key>
            <string>Rafiki_ninayemkosa_2.png</string>
        </dict>
    </dict>
</plist>
