<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item/item_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{330,1360},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/item_bubble.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{245,1989},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/item_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,114}</string>
                <key>spriteSourceSize</key>
                <string>{284,114}</string>
                <key>textureRect</key>
                <string>{{217,1653},{284,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item/item_done.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,107}</string>
                <key>textureRect</key>
                <string>{{330,1494},{126,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/item_equal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,53}</string>
                <key>spriteSourceSize</key>
                <string>{80,55}</string>
                <key>textureRect</key>
                <string>{{402,2171},{78,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item/item_fish1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{301,105}</string>
                <key>spriteSourceSize</key>
                <string>{307,143}</string>
                <key>textureRect</key>
                <string>{{1,1360},{301,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item/item_fish10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-17}</string>
                <key>spriteSize</key>
                <string>{293,105}</string>
                <key>spriteSourceSize</key>
                <string>{307,143}</string>
                <key>textureRect</key>
                <string>{{255,950},{293,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item/item_fish11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-15}</string>
                <key>spriteSize</key>
                <string>{289,113}</string>
                <key>spriteSourceSize</key>
                <string>{307,143}</string>
                <key>textureRect</key>
                <string>{{120,1245},{289,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/item_fish12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{293,133}</string>
                <key>spriteSourceSize</key>
                <string>{307,143}</string>
                <key>textureRect</key>
                <string>{{120,651},{293,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item/item_fish2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-17}</string>
                <key>spriteSize</key>
                <string>{293,105}</string>
                <key>spriteSourceSize</key>
                <string>{307,143}</string>
                <key>textureRect</key>
                <string>{{108,1360},{293,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item/item_fish3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{299,105}</string>
                <key>spriteSourceSize</key>
                <string>{307,143}</string>
                <key>textureRect</key>
                <string>{{1,1663},{299,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item/item_fish4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-16}</string>
                <key>spriteSize</key>
                <string>{293,107}</string>
                <key>spriteSourceSize</key>
                <string>{307,143}</string>
                <key>textureRect</key>
                <string>{{108,1655},{293,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item/item_fish5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-15}</string>
                <key>spriteSize</key>
                <string>{291,113}</string>
                <key>spriteSourceSize</key>
                <string>{307,143}</string>
                <key>textureRect</key>
                <string>{{215,1360},{291,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item/item_fish6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{293,133}</string>
                <key>spriteSourceSize</key>
                <string>{307,143}</string>
                <key>textureRect</key>
                <string>{{120,946},{293,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item/item_fish7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{301,103}</string>
                <key>spriteSourceSize</key>
                <string>{307,143}</string>
                <key>textureRect</key>
                <string>{{1,1964},{301,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item/item_fish8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-19}</string>
                <key>spriteSize</key>
                <string>{291,101}</string>
                <key>spriteSourceSize</key>
                <string>{307,143}</string>
                <key>textureRect</key>
                <string>{{360,590},{291,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item/item_fish9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{297,103}</string>
                <key>spriteSourceSize</key>
                <string>{307,143}</string>
                <key>textureRect</key>
                <string>{{255,651},{297,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item/item_frog1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,148}</string>
                <key>spriteSourceSize</key>
                <string>{147,148}</string>
                <key>textureRect</key>
                <string>{{252,2171},{147,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item/item_frog2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,147}</string>
                <key>spriteSourceSize</key>
                <string>{145,147}</string>
                <key>textureRect</key>
                <string>{{317,441},{145,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/item_ground1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{707,117}</string>
                <key>spriteSourceSize</key>
                <string>{707,117}</string>
                <key>textureRect</key>
                <string>{{1,651},{707,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item/item_plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,80}</string>
                <key>spriteSourceSize</key>
                <string>{79,82}</string>
                <key>textureRect</key>
                <string>{{362,1111},{79,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/item_questionmark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,85}</string>
                <key>spriteSourceSize</key>
                <string>{47,85}</string>
                <key>textureRect</key>
                <string>{{1,2267},{47,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item/item_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{438,138}</string>
                <key>spriteSourceSize</key>
                <string>{438,138}</string>
                <key>textureRect</key>
                <string>{{317,1},{438,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item/item_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{648,314}</string>
                <key>spriteSourceSize</key>
                <string>{648,314}</string>
                <key>textureRect</key>
                <string>{{1,1},{648,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item/splash1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-26}</string>
                <key>spriteSize</key>
                <string>{144,75}</string>
                <key>spriteSourceSize</key>
                <string>{274,137}</string>
                <key>textureRect</key>
                <string>{{106,2184},{144,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item/splash2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-8}</string>
                <key>spriteSize</key>
                <string>{186,107}</string>
                <key>spriteSourceSize</key>
                <string>{274,137}</string>
                <key>textureRect</key>
                <string>{{333,1801},{186,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item/splash3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{218,137}</string>
                <key>spriteSourceSize</key>
                <string>{274,137}</string>
                <key>textureRect</key>
                <string>{{106,1964},{218,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item/splash4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-20}</string>
                <key>spriteSize</key>
                <string>{198,97}</string>
                <key>spriteSourceSize</key>
                <string>{274,137}</string>
                <key>textureRect</key>
                <string>{{333,1601},{198,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>item/splash5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-31}</string>
                <key>spriteSize</key>
                <string>{226,73}</string>
                <key>spriteSourceSize</key>
                <string>{274,137}</string>
                <key>textureRect</key>
                <string>{{362,883},{226,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>item.png</string>
            <key>size</key>
            <string>{463,2319}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11a434e37bc385cea945235fcaa8d8be:ab206622e4ef1b2c6b0a304e3a54e929:70e3e61986ddcca6f02c0883f93c83fd$</string>
            <key>textureFileName</key>
            <string>item.png</string>
        </dict>
    </dict>
</plist>
