<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>balloonfarm/balloon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,284}</string>
                <key>spriteSourceSize</key>
                <string>{228,284}</string>
                <key>textureRect</key>
                <string>{{2075,283},{228,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonfarm/ban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,351}</string>
                <key>spriteSourceSize</key>
                <string>{512,351}</string>
                <key>textureRect</key>
                <string>{{1,1},{512,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{443,166}</string>
                <key>spriteSourceSize</key>
                <string>{443,166}</string>
                <key>textureRect</key>
                <string>{{947,336},{443,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,168}</string>
                <key>spriteSourceSize</key>
                <string>{402,168}</string>
                <key>textureRect</key>
                <string>{{1392,302},{402,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/hill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,69}</string>
                <key>spriteSourceSize</key>
                <string>{583,69}</string>
                <key>textureRect</key>
                <string>{{1,354},{583,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/lightning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,109}</string>
                <key>spriteSourceSize</key>
                <string>{69,109}</string>
                <key>textureRect</key>
                <string>{{579,425},{69,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonfarm/pigbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-23}</string>
                <key>spriteSize</key>
                <string>{220,111}</string>
                <key>spriteSourceSize</key>
                <string>{220,157}</string>
                <key>textureRect</key>
                <string>{{725,336},{220,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/pigeonbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,59}</string>
                <key>spriteSourceSize</key>
                <string>{177,59}</string>
                <key>textureRect</key>
                <string>{{400,425},{177,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/pigeonhead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,51}</string>
                <key>spriteSourceSize</key>
                <string>{74,51}</string>
                <key>textureRect</key>
                <string>{{649,336},{74,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonfarm/pigeonwing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,61}</string>
                <key>spriteSourceSize</key>
                <string>{72,61}</string>
                <key>textureRect</key>
                <string>{{586,336},{72,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonfarm/pighead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,116}</string>
                <key>spriteSourceSize</key>
                <string>{104,116}</string>
                <key>textureRect</key>
                <string>{{2321,1},{104,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/pigleg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,64}</string>
                <key>spriteSourceSize</key>
                <string>{33,64}</string>
                <key>textureRect</key>
                <string>{{690,412},{33,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/pigleg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,64}</string>
                <key>spriteSourceSize</key>
                <string>{33,64}</string>
                <key>textureRect</key>
                <string>{{690,478},{33,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonfarm/shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,62}</string>
                <key>spriteSourceSize</key>
                <string>{397,62}</string>
                <key>textureRect</key>
                <string>{{1,425},{397,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/tractor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,299}</string>
                <key>spriteSourceSize</key>
                <string>{360,299}</string>
                <key>textureRect</key>
                <string>{{1375,1},{360,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/wordballoon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,248}</string>
                <key>spriteSourceSize</key>
                <string>{277,248}</string>
                <key>textureRect</key>
                <string>{{1796,244},{277,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/wrongballoon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,244}</string>
                <key>spriteSourceSize</key>
                <string>{280,244}</string>
                <key>textureRect</key>
                <string>{{2075,1},{280,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonfarm/wrongballoon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,241}</string>
                <key>spriteSourceSize</key>
                <string>{336,241}</string>
                <key>textureRect</key>
                <string>{{1737,1},{336,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/wrongballoon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,282}</string>
                <key>spriteSourceSize</key>
                <string>{398,282}</string>
                <key>textureRect</key>
                <string>{{975,1},{398,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/wrongballoon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{458,333}</string>
                <key>spriteSourceSize</key>
                <string>{458,333}</string>
                <key>textureRect</key>
                <string>{{515,1},{458,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>balloonfarm.png</string>
            <key>size</key>
            <string>{2426,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f457dd3bd8d3ce8642f261ae4cd042b2:6d49bcd2a490f4b62a35ba2c814f416f:2e3afb85e463d7d3c3e891dc899c9b3e$</string>
            <key>textureFileName</key>
            <string>balloonfarm.png</string>
        </dict>
    </dict>
</plist>
