<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>balloonfarm/balloon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,284}</string>
                <key>spriteSourceSize</key>
                <string>{228,284}</string>
                <key>textureRect</key>
                <string>{{877,72},{228,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonfarm/ban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,351}</string>
                <key>spriteSourceSize</key>
                <string>{512,351}</string>
                <key>textureRect</key>
                <string>{{1,1},{512,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{443,166}</string>
                <key>spriteSourceSize</key>
                <string>{443,166}</string>
                <key>textureRect</key>
                <string>{{1480,1},{443,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,168}</string>
                <key>spriteSourceSize</key>
                <string>{402,168}</string>
                <key>textureRect</key>
                <string>{{1480,169},{402,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/hill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,69}</string>
                <key>spriteSourceSize</key>
                <string>{583,69}</string>
                <key>textureRect</key>
                <string>{{877,1},{583,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/legbone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,43}</string>
                <key>spriteSourceSize</key>
                <string>{16,43}</string>
                <key>textureRect</key>
                <string>{{1462,1},{16,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/lightning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,109}</string>
                <key>spriteSourceSize</key>
                <string>{69,109}</string>
                <key>textureRect</key>
                <string>{{1598,403},{69,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonfarm/pigbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-23}</string>
                <key>spriteSize</key>
                <string>{220,111}</string>
                <key>spriteSourceSize</key>
                <string>{220,157}</string>
                <key>textureRect</key>
                <string>{{1774,369},{220,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/pighead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,116}</string>
                <key>spriteSourceSize</key>
                <string>{104,116}</string>
                <key>textureRect</key>
                <string>{{339,354},{104,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/pigleg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,64}</string>
                <key>spriteSourceSize</key>
                <string>{33,64}</string>
                <key>textureRect</key>
                <string>{{2166,251},{33,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/pigleg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,64}</string>
                <key>spriteSourceSize</key>
                <string>{33,64}</string>
                <key>textureRect</key>
                <string>{{1884,169},{33,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,62}</string>
                <key>spriteSourceSize</key>
                <string>{397,62}</string>
                <key>textureRect</key>
                <string>{{1375,339},{397,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/shock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,237}</string>
                <key>spriteSourceSize</key>
                <string>{315,237}</string>
                <key>textureRect</key>
                <string>{{1163,72},{315,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/skeleton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,83}</string>
                <key>spriteSourceSize</key>
                <string>{221,83}</string>
                <key>textureRect</key>
                <string>{{1375,403},{221,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/tractor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,299}</string>
                <key>spriteSourceSize</key>
                <string>{360,299}</string>
                <key>textureRect</key>
                <string>{{515,1},{360,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/wordballoon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,248}</string>
                <key>spriteSourceSize</key>
                <string>{277,248}</string>
                <key>textureRect</key>
                <string>{{1925,1},{277,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/wrongballoon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,116}</string>
                <key>spriteSourceSize</key>
                <string>{280,116}</string>
                <key>textureRect</key>
                <string>{{1884,251},{280,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/wrongballoon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,139}</string>
                <key>spriteSourceSize</key>
                <string>{336,139}</string>
                <key>textureRect</key>
                <string>{{1,354},{336,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/wrongballoon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,169}</string>
                <key>spriteSourceSize</key>
                <string>{398,169}</string>
                <key>textureRect</key>
                <string>{{975,311},{398,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/wrongballoon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{458,194}</string>
                <key>spriteSourceSize</key>
                <string>{458,194}</string>
                <key>textureRect</key>
                <string>{{515,302},{458,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>balloonfarm.png</string>
            <key>size</key>
            <string>{2203,497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16af863c1a246770833dcf09807b4690:567c0645172fa740ead21386860698ac:2e3afb85e463d7d3c3e891dc899c9b3e$</string>
            <key>textureFileName</key>
            <string>balloonfarm.png</string>
        </dict>
    </dict>
</plist>
