<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fisi_na_Kobe/back_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,72}</string>
                <key>spriteSourceSize</key>
                <string>{56,72}</string>
                <key>textureRect</key>
                <string>{{941,2859},{56,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_na_Kobe/back_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,74}</string>
                <key>spriteSourceSize</key>
                <string>{58,74}</string>
                <key>textureRect</key>
                <string>{{423,2636},{58,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fisi_na_Kobe/bird1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{33,27}</string>
                <key>spriteSourceSize</key>
                <string>{41,63}</string>
                <key>textureRect</key>
                <string>{{940,2151},{33,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_na_Kobe/bird2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{31,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,63}</string>
                <key>textureRect</key>
                <string>{{907,2151},{31,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_na_Kobe/bird3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{29,31}</string>
                <key>spriteSourceSize</key>
                <string>{41,63}</string>
                <key>textureRect</key>
                <string>{{941,2955},{29,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_na_Kobe/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,160}</string>
                <key>spriteSourceSize</key>
                <string>{265,160}</string>
                <key>textureRect</key>
                <string>{{460,3133},{265,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_na_Kobe/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,20}</string>
                <key>spriteSourceSize</key>
                <string>{46,20}</string>
                <key>textureRect</key>
                <string>{{941,2933},{46,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_na_Kobe/fahali_hill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,74}</string>
                <key>spriteSourceSize</key>
                <string>{750,74}</string>
                <key>textureRect</key>
                <string>{{423,1603},{750,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fisi_na_Kobe/fahali_house.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{598,406}</string>
                <key>spriteSourceSize</key>
                <string>{598,406}</string>
                <key>textureRect</key>
                <string>{{499,1602},{598,406}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fisi_na_Kobe/fisi_grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,134}</string>
                <key>spriteSourceSize</key>
                <string>{377,134}</string>
                <key>textureRect</key>
                <string>{{460,2997},{377,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_na_Kobe/fisi_grass2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,56}</string>
                <key>spriteSourceSize</key>
                <string>{227,56}</string>
                <key>textureRect</key>
                <string>{{883,2774},{227,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fisi_na_Kobe/fisi_grass3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,51}</string>
                <key>spriteSourceSize</key>
                <string>{279,51}</string>
                <key>textureRect</key>
                <string>{{423,2355},{279,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fisi_na_Kobe/fisi_hill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{982,552}</string>
                <key>spriteSourceSize</key>
                <string>{982,552}</string>
                <key>textureRect</key>
                <string>{{1,1},{982,552}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_na_Kobe/fisi_honeycomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,81}</string>
                <key>spriteSourceSize</key>
                <string>{67,81}</string>
                <key>textureRect</key>
                <string>{{907,2068},{67,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_na_Kobe/fisi_river.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1106,420}</string>
                <key>spriteSourceSize</key>
                <string>{1106,420}</string>
                <key>textureRect</key>
                <string>{{1,1603},{1106,420}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fisi_na_Kobe/fisi_road1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{531,496}</string>
                <key>spriteSourceSize</key>
                <string>{531,496}</string>
                <key>textureRect</key>
                <string>{{488,555},{531,496}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fisi_na_Kobe/fisi_road2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1046,485}</string>
                <key>spriteSourceSize</key>
                <string>{1046,485}</string>
                <key>textureRect</key>
                <string>{{1,555},{1046,485}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fisi_na_Kobe/fisi_road3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,77}</string>
                <key>spriteSourceSize</key>
                <string>{464,77}</string>
                <key>textureRect</key>
                <string>{{907,1602},{464,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fisi_na_Kobe/fisi_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,108}</string>
                <key>spriteSourceSize</key>
                <string>{570,108}</string>
                <key>textureRect</key>
                <string>{{878,2202},{570,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fisi_na_Kobe/fisi_sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{514,514}</string>
                <key>textureRect</key>
                <string>{{488,1088},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_na_Kobe/fisi_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{457,568}</string>
                <key>spriteSourceSize</key>
                <string>{457,568}</string>
                <key>textureRect</key>
                <string>{{1,2711},{457,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_na_Kobe/fisi_tree_trunk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,56}</string>
                <key>spriteSourceSize</key>
                <string>{18,56}</string>
                <key>textureRect</key>
                <string>{{847,2909},{18,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_na_Kobe/front_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,73}</string>
                <key>spriteSourceSize</key>
                <string>{56,73}</string>
                <key>textureRect</key>
                <string>{{789,2909},{56,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_na_Kobe/front_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,83}</string>
                <key>spriteSourceSize</key>
                <string>{42,83}</string>
                <key>textureRect</key>
                <string>{{941,2774},{42,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_na_Kobe/hyena_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,206}</string>
                <key>spriteSourceSize</key>
                <string>{327,206}</string>
                <key>textureRect</key>
                <string>{{460,2789},{327,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_na_Kobe/hyena_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{585,377}</string>
                <key>spriteSourceSize</key>
                <string>{585,377}</string>
                <key>textureRect</key>
                <string>{{499,2202},{585,377}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fisi_na_Kobe/hyena_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,80}</string>
                <key>spriteSourceSize</key>
                <string>{20,80}</string>
                <key>textureRect</key>
                <string>{{476,2355},{20,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_na_Kobe/hyena_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,118}</string>
                <key>spriteSourceSize</key>
                <string>{92,118}</string>
                <key>textureRect</key>
                <string>{{789,2789},{92,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_na_Kobe/hyena_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,80}</string>
                <key>spriteSourceSize</key>
                <string>{23,80}</string>
                <key>textureRect</key>
                <string>{{842,3244},{23,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fisi_na_Kobe/neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,156}</string>
                <key>spriteSourceSize</key>
                <string>{113,156}</string>
                <key>textureRect</key>
                <string>{{727,3133},{113,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_na_Kobe/shell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,145}</string>
                <key>spriteSourceSize</key>
                <string>{239,145}</string>
                <key>textureRect</key>
                <string>{{842,3003},{239,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fisi_na_Kobe/touch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-99.5,99.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{202,202}</string>
                <key>textureRect</key>
                <string>{{878,2774},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Fisi_na_Kobe.png</string>
            <key>size</key>
            <string>{1001,3294}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bd6b9d623d2128d5140223a370ea046:ce08fd81c93161323842f3ae051b0872:8c3215d05bc5541997fefdb0efc5cb50$</string>
            <key>textureFileName</key>
            <string>Fisi_na_Kobe.png</string>
        </dict>
    </dict>
</plist>
