<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>orderhero/box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,64}</string>
                <key>spriteSourceSize</key>
                <string>{320,64}</string>
                <key>textureRect</key>
                <string>{{444,968},{320,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orderhero/city.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{796,489}</string>
                <key>spriteSourceSize</key>
                <string>{796,489}</string>
                <key>textureRect</key>
                <string>{{1,170},{796,489}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orderhero/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,133}</string>
                <key>spriteSourceSize</key>
                <string>{253,133}</string>
                <key>textureRect</key>
                <string>{{147,1621},{253,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderhero/cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,155}</string>
                <key>spriteSourceSize</key>
                <string>{320,155}</string>
                <key>textureRect</key>
                <string>{{1,1311},{320,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderhero/cloud3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,194}</string>
                <key>spriteSourceSize</key>
                <string>{401,194}</string>
                <key>textureRect</key>
                <string>{{1,1115},{401,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderhero/cloud4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,151}</string>
                <key>spriteSourceSize</key>
                <string>{288,151}</string>
                <key>textureRect</key>
                <string>{{1,1468},{288,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderhero/fg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,167}</string>
                <key>spriteSourceSize</key>
                <string>{508,167}</string>
                <key>textureRect</key>
                <string>{{1,1},{508,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderhero/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1281,144}</string>
                <key>spriteSourceSize</key>
                <string>{1281,144}</string>
                <key>textureRect</key>
                <string>{{1,1621},{1281,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orderhero/paintbucket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,131}</string>
                <key>spriteSourceSize</key>
                <string>{128,131}</string>
                <key>textureRect</key>
                <string>{{147,2842},{128,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orderhero/paintbucket2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,131}</string>
                <key>spriteSourceSize</key>
                <string>{128,131}</string>
                <key>textureRect</key>
                <string>{{280,2842},{128,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orderhero/platform.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,145}</string>
                <key>spriteSourceSize</key>
                <string>{441,145}</string>
                <key>textureRect</key>
                <string>{{1,968},{441,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderhero/ramp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,1084}</string>
                <key>spriteSourceSize</key>
                <string>{284,1084}</string>
                <key>textureRect</key>
                <string>{{147,1756},{284,1084}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderhero/treadmill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,99}</string>
                <key>spriteSourceSize</key>
                <string>{398,99}</string>
                <key>textureRect</key>
                <string>{{404,1290},{398,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orderhero/treadmillrun1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,45}</string>
                <key>spriteSourceSize</key>
                <string>{51,45}</string>
                <key>textureRect</key>
                <string>{{323,1421},{51,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderhero/treadmillrun2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,43}</string>
                <key>spriteSourceSize</key>
                <string>{52,43}</string>
                <key>textureRect</key>
                <string>{{323,1376},{52,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderhero/treadmillwheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{323,1311},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>orderhero.png</string>
            <key>size</key>
            <string>{510,2971}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:007a5d596dbc34db2c603ae87e2881d6:72540a6e05b8ba0f18430ad80c2079b2:b34e39571672fea2ada0f52afff045ae$</string>
            <key>textureFileName</key>
            <string>orderhero.png</string>
        </dict>
    </dict>
</plist>
