<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>orderhero/box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,64}</string>
                <key>spriteSourceSize</key>
                <string>{404,64}</string>
                <key>textureRect</key>
                <string>{{2592,148},{404,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderhero/city.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{796,489}</string>
                <key>spriteSourceSize</key>
                <string>{796,489}</string>
                <key>textureRect</key>
                <string>{{1284,1},{796,489}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderhero/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,133}</string>
                <key>spriteSourceSize</key>
                <string>{253,133}</string>
                <key>textureRect</key>
                <string>{{2775,214},{253,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderhero/cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,155}</string>
                <key>spriteSourceSize</key>
                <string>{320,155}</string>
                <key>textureRect</key>
                <string>{{1087,147},{320,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orderhero/cloud3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,194}</string>
                <key>spriteSourceSize</key>
                <string>{401,194}</string>
                <key>textureRect</key>
                <string>{{2082,170},{401,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderhero/cloud4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,151}</string>
                <key>spriteSourceSize</key>
                <string>{288,151}</string>
                <key>textureRect</key>
                <string>{{2485,214},{288,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderhero/fg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,167}</string>
                <key>spriteSourceSize</key>
                <string>{508,167}</string>
                <key>textureRect</key>
                <string>{{2082,1},{508,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderhero/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1281,144}</string>
                <key>spriteSourceSize</key>
                <string>{1281,144}</string>
                <key>textureRect</key>
                <string>{{1,1},{1281,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderhero/orb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,47}</string>
                <key>spriteSourceSize</key>
                <string>{46,47}</string>
                <key>textureRect</key>
                <string>{{54,433},{46,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orderhero/paintbucket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,131}</string>
                <key>spriteSourceSize</key>
                <string>{128,131}</string>
                <key>textureRect</key>
                <string>{{2775,349},{128,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orderhero/paintbucket2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,131}</string>
                <key>spriteSourceSize</key>
                <string>{128,131}</string>
                <key>textureRect</key>
                <string>{{2908,349},{128,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderhero/platform.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,145}</string>
                <key>spriteSourceSize</key>
                <string>{441,145}</string>
                <key>textureRect</key>
                <string>{{2592,1},{441,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderhero/ramp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,1084}</string>
                <key>spriteSourceSize</key>
                <string>{284,1084}</string>
                <key>textureRect</key>
                <string>{{1,147},{284,1084}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orderhero/treadmill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,99}</string>
                <key>spriteSourceSize</key>
                <string>{398,99}</string>
                <key>textureRect</key>
                <string>{{2082,366},{398,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderhero/treadmillrun1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,45}</string>
                <key>spriteSourceSize</key>
                <string>{51,45}</string>
                <key>textureRect</key>
                <string>{{1,433},{51,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderhero/treadmillrun2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,43}</string>
                <key>spriteSourceSize</key>
                <string>{52,43}</string>
                <key>textureRect</key>
                <string>{{2547,367},{52,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderhero/treadmillwheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{2482,367},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>orderhero.png</string>
            <key>size</key>
            <string>{3037,491}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf07d37a6ab4615e18fc77dbe62877d9:79aa9ecb12d94f6de0afc6ec6ba3b82f:b34e39571672fea2ada0f52afff045ae$</string>
            <key>textureFileName</key>
            <string>orderhero.png</string>
        </dict>
    </dict>
</plist>
