<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bubble_shooter/background_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{427,518}</string>
                <key>spriteSourceSize</key>
                <string>{427,518}</string>
                <key>textureRect</key>
                <string>{{1283,430},{427,518}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubble_shooter/background_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{427,556}</string>
                <key>spriteSourceSize</key>
                <string>{427,556}</string>
                <key>textureRect</key>
                <string>{{1283,1},{427,556}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bubble_shooter/background_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{427,510}</string>
                <key>spriteSourceSize</key>
                <string>{427,510}</string>
                <key>textureRect</key>
                <string>{{1712,430},{427,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubble_shooter/blue_ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{1841,329},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubble_shooter/grass_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,111}</string>
                <key>spriteSourceSize</key>
                <string>{326,111}</string>
                <key>textureRect</key>
                <string>{{1841,1},{326,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bubble_shooter/green_ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{1931,329},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubble_shooter/gun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,140}</string>
                <key>spriteSourceSize</key>
                <string>{135,140}</string>
                <key>textureRect</key>
                <string>{{1954,1},{135,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bubble_shooter/gun_tricker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,62}</string>
                <key>spriteSize</key>
                <string>{88,62}</string>
                <key>spriteSourceSize</key>
                <string>{88,186}</string>
                <key>textureRect</key>
                <string>{{1954,138},{88,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bubble_shooter/orange_ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{2021,138},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubble_shooter/pixel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,900}</string>
                <key>spriteSourceSize</key>
                <string>{1280,900}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubble_shooter/purple_ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{1954,228},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubble_shooter/red_ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{2021,318},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubble_shooter/yellow_ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{2044,228},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bubble_shooter.png</string>
            <key>size</key>
            <string>{2140,949}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f083bc1fbb3cdb79dad98d2eab3f3ae6:e323ffb4a35caebc8d21977e2357a88c:e5db4e2fd28ad128dbd369d5dae1b8fb$</string>
            <key>textureFileName</key>
            <string>bubble_shooter.png</string>
        </dict>
    </dict>
</plist>
