<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mamba_mwenye_njaa_The_hungry_crocodile/Kato_flower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,218}</string>
                <key>spriteSourceSize</key>
                <string>{144,218}</string>
                <key>textureRect</key>
                <string>{{101,1162},{144,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mamba_mwenye_njaa_The_hungry_crocodile/Mamba_frog1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{111,110}</string>
                <key>spriteSourceSize</key>
                <string>{147,118}</string>
                <key>textureRect</key>
                <string>{{247,1162},{111,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mamba_mwenye_njaa_The_hungry_crocodile/Mamba_frog2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{147,116}</string>
                <key>spriteSourceSize</key>
                <string>{147,118}</string>
                <key>textureRect</key>
                <string>{{381,424},{147,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mamba_mwenye_njaa_The_hungry_crocodile/Mamba_frog3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{147,104}</string>
                <key>spriteSourceSize</key>
                <string>{147,118}</string>
                <key>textureRect</key>
                <string>{{267,899},{147,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mamba_mwenye_njaa_The_hungry_crocodile/Mamba_grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{327,109}</string>
                <key>spriteSourceSize</key>
                <string>{333,119}</string>
                <key>textureRect</key>
                <string>{{1,788},{327,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mamba_mwenye_njaa_The_hungry_crocodile/Mamba_grass2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{497,83}</string>
                <key>spriteSourceSize</key>
                <string>{497,101}</string>
                <key>textureRect</key>
                <string>{{1,1},{497,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mamba_mwenye_njaa_The_hungry_crocodile/Mamba_grass3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,189}</string>
                <key>spriteSourceSize</key>
                <string>{431,189}</string>
                <key>textureRect</key>
                <string>{{1,86},{431,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mamba_mwenye_njaa_The_hungry_crocodile/Mamba_grass4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,264}</string>
                <key>spriteSourceSize</key>
                <string>{261,264}</string>
                <key>textureRect</key>
                <string>{{1,899},{261,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mamba_mwenye_njaa_The_hungry_crocodile/Mamba_lid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,114}</string>
                <key>spriteSourceSize</key>
                <string>{173,114}</string>
                <key>textureRect</key>
                <string>{{373,941},{173,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mamba_mwenye_njaa_The_hungry_crocodile/Mamba_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,51}</string>
                <key>spriteSourceSize</key>
                <string>{170,51}</string>
                <key>textureRect</key>
                <string>{{434,252},{170,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mamba_mwenye_njaa_The_hungry_crocodile/Mamba_water1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,48}</string>
                <key>spriteSourceSize</key>
                <string>{115,48}</string>
                <key>textureRect</key>
                <string>{{381,277},{115,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mamba_mwenye_njaa_The_hungry_crocodile/Mamba_water2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,69}</string>
                <key>spriteSourceSize</key>
                <string>{164,69}</string>
                <key>textureRect</key>
                <string>{{434,86},{164,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mamba_mwenye_njaa_The_hungry_crocodile/Mamba_water3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,98}</string>
                <key>spriteSourceSize</key>
                <string>{234,98}</string>
                <key>textureRect</key>
                <string>{{1,1162},{234,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mamba_mwenye_njaa_The_hungry_crocodile/Mamba_waterpatch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,283}</string>
                <key>spriteSourceSize</key>
                <string>{378,283}</string>
                <key>textureRect</key>
                <string>{{1,277},{378,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mamba_mwenye_njaa_The_hungry_crocodile/crocodile_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,370}</string>
                <key>spriteSourceSize</key>
                <string>{224,370}</string>
                <key>textureRect</key>
                <string>{{1,562},{224,370}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mamba_mwenye_njaa_The_hungry_crocodile/crocodile_close_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{330,788},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mamba_mwenye_njaa_The_hungry_crocodile/crocodile_left_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{487,252},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mamba_mwenye_njaa_The_hungry_crocodile/crocodile_left_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,125}</string>
                <key>spriteSourceSize</key>
                <string>{109,125}</string>
                <key>textureRect</key>
                <string>{{373,672},{109,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mamba_mwenye_njaa_The_hungry_crocodile/crocodile_left_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,113}</string>
                <key>spriteSourceSize</key>
                <string>{164,113}</string>
                <key>textureRect</key>
                <string>{{359,1116},{164,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mamba_mwenye_njaa_The_hungry_crocodile/crocodile_mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,73}</string>
                <key>spriteSourceSize</key>
                <string>{90,73}</string>
                <key>textureRect</key>
                <string>{{267,1048},{90,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mamba_mwenye_njaa_The_hungry_crocodile/crocodile_open_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{330,826},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mamba_mwenye_njaa_The_hungry_crocodile/crocodile_right_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,27}</string>
                <key>spriteSourceSize</key>
                <string>{13,27}</string>
                <key>textureRect</key>
                <string>{{487,286},{13,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mamba_mwenye_njaa_The_hungry_crocodile/crocodile_right_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,97}</string>
                <key>spriteSourceSize</key>
                <string>{128,97}</string>
                <key>textureRect</key>
                <string>{{373,573},{128,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mamba_mwenye_njaa_The_hungry_crocodile/crocodile_right_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,113}</string>
                <key>spriteSourceSize</key>
                <string>{164,113}</string>
                <key>textureRect</key>
                <string>{{247,1282},{164,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mamba_mwenye_njaa_The_hungry_crocodile/crocodile_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,115}</string>
                <key>spriteSourceSize</key>
                <string>{156,115}</string>
                <key>textureRect</key>
                <string>{{373,783},{156,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mamba_mwenye_njaa_The_hungry_crocodile.png</string>
            <key>size</key>
            <string>{504,1397}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8749f38a8144536352fdc19d539a589e:78f2cfe850fe9d0cf2eda6f310016c85:2a2c135a499da9229fa6dd37181fcdbe$</string>
            <key>textureFileName</key>
            <string>Mamba_mwenye_njaa_The_hungry_crocodile.png</string>
        </dict>
    </dict>
</plist>
