<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>city/city2/arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,28}</string>
                <key>spriteSourceSize</key>
                <string>{66,28}</string>
                <key>textureRect</key>
                <string>{{391,487},{66,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city2/bench.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,59}</string>
                <key>spriteSourceSize</key>
                <string>{118,59}</string>
                <key>textureRect</key>
                <string>{{398,1},{118,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city2/bencha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,59}</string>
                <key>spriteSourceSize</key>
                <string>{118,59}</string>
                <key>textureRect</key>
                <string>{{398,121},{118,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city2/floorgrass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,31}</string>
                <key>spriteSourceSize</key>
                <string>{156,31}</string>
                <key>textureRect</key>
                <string>{{328,364},{156,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city2/floorstone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,32}</string>
                <key>spriteSourceSize</key>
                <string>{156,32}</string>
                <key>textureRect</key>
                <string>{{398,241},{156,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city2/flower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,86}</string>
                <key>spriteSourceSize</key>
                <string>{50,86}</string>
                <key>textureRect</key>
                <string>{{391,399},{50,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city2/house.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,427}</string>
                <key>spriteSourceSize</key>
                <string>{325,427}</string>
                <key>textureRect</key>
                <string>{{1,364},{325,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city2/housedoor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,115}</string>
                <key>spriteSourceSize</key>
                <string>{69,115}</string>
                <key>textureRect</key>
                <string>{{239,793},{69,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city2/houseside.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,412}</string>
                <key>spriteSourceSize</key>
                <string>{190,412}</string>
                <key>textureRect</key>
                <string>{{239,910},{190,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city2/office.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,395}</string>
                <key>spriteSourceSize</key>
                <string>{361,395}</string>
                <key>textureRect</key>
                <string>{{1,1},{361,395}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city2/officedoor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,146}</string>
                <key>spriteSourceSize</key>
                <string>{80,146}</string>
                <key>textureRect</key>
                <string>{{361,517},{80,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city2/officeside.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,529}</string>
                <key>spriteSourceSize</key>
                <string>{236,529}</string>
                <key>textureRect</key>
                <string>{{1,793},{236,529}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city2/roadlighta.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,141}</string>
                <key>spriteSourceSize</key>
                <string>{28,141}</string>
                <key>textureRect</key>
                <string>{{361,364},{28,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city2/shopping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,341}</string>
                <key>spriteSourceSize</key>
                <string>{303,341}</string>
                <key>textureRect</key>
                <string>{{1,1324},{303,341}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city2/shoppingdoor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,185}</string>
                <key>spriteSourceSize</key>
                <string>{106,185}</string>
                <key>textureRect</key>
                <string>{{328,665},{106,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city2/shoppingside.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,305}</string>
                <key>spriteSourceSize</key>
                <string>{327,305}</string>
                <key>textureRect</key>
                <string>{{1,1629},{327,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city2/trafficlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,130}</string>
                <key>spriteSourceSize</key>
                <string>{27,130}</string>
                <key>textureRect</key>
                <string>{{432,241},{27,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>city2.png</string>
            <key>size</key>
            <string>{460,1935}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3bddb40ab585653b049130860ece37c:19c604977139e43c1c2ca6fdbbecdd03:17c6c0c7d60651e8ae55eb3650248610$</string>
            <key>textureFileName</key>
            <string>city2.png</string>
        </dict>
    </dict>
</plist>
