<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trainstationinside/exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,283}</string>
                <key>spriteSourceSize</key>
                <string>{273,283}</string>
                <key>textureRect</key>
                <string>{{193,1},{273,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trainstationinside/floor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,226}</string>
                <key>spriteSourceSize</key>
                <string>{227,226}</string>
                <key>textureRect</key>
                <string>{{99,571},{227,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trainstationinside/paper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,70}</string>
                <key>spriteSourceSize</key>
                <string>{56,70}</string>
                <key>textureRect</key>
                <string>{{1,835},{56,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trainstationinside/seata.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{426,96}</string>
                <key>spriteSourceSize</key>
                <string>{426,96}</string>
                <key>textureRect</key>
                <string>{{1,407},{426,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>trainstationinside/sign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,283}</string>
                <key>spriteSourceSize</key>
                <string>{273,283}</string>
                <key>textureRect</key>
                <string>{{193,286},{273,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trainstationinside/stantback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,259}</string>
                <key>spriteSourceSize</key>
                <string>{123,259}</string>
                <key>textureRect</key>
                <string>{{328,571},{123,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trainstationinside/stantfront.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,281}</string>
                <key>spriteSourceSize</key>
                <string>{102,281}</string>
                <key>textureRect</key>
                <string>{{99,832},{102,281}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>trainstationinside/water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,404}</string>
                <key>spriteSourceSize</key>
                <string>{190,404}</string>
                <key>textureRect</key>
                <string>{{1,1},{190,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>trainstationinside.png</string>
            <key>size</key>
            <string>{467,935}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:388d84458247235a256111f7d0416cc4:244fbf90c6ac9729f5c213ea37c68978:508d8a1a409e1b71aca0543b0e8ee96e$</string>
            <key>textureFileName</key>
            <string>trainstationinside.png</string>
        </dict>
    </dict>
</plist>
