<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>parlour/brushes1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,104}</string>
                <key>spriteSourceSize</key>
                <string>{68,104}</string>
                <key>textureRect</key>
                <string>{{357,361},{68,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/brushes2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,115}</string>
                <key>spriteSourceSize</key>
                <string>{64,115}</string>
                <key>textureRect</key>
                <string>{{811,695},{64,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/chair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,339}</string>
                <key>spriteSourceSize</key>
                <string>{249,339}</string>
                <key>textureRect</key>
                <string>{{357,496},{249,339}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/combs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,95}</string>
                <key>spriteSourceSize</key>
                <string>{80,95}</string>
                <key>textureRect</key>
                <string>{{444,895},{80,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/compact1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,53}</string>
                <key>spriteSourceSize</key>
                <string>{46,53}</string>
                <key>textureRect</key>
                <string>{{928,695},{46,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/compact2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{60,84}</string>
                <key>spriteSourceSize</key>
                <string>{62,84}</string>
                <key>textureRect</key>
                <string>{{199,913},{60,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/compact3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,47}</string>
                <key>spriteSourceSize</key>
                <string>{44,47}</string>
                <key>textureRect</key>
                <string>{{921,907},{44,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/cream.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,41}</string>
                <key>spriteSourceSize</key>
                <string>{77,41}</string>
                <key>textureRect</key>
                <string>{{921,761},{77,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/flower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,65}</string>
                <key>spriteSourceSize</key>
                <string>{40,65}</string>
                <key>textureRect</key>
                <string>{{921,840},{40,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/flower_pot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,196}</string>
                <key>spriteSourceSize</key>
                <string>{182,196}</string>
                <key>textureRect</key>
                <string>{{1,786},{182,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/flower_table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,123}</string>
                <key>spriteSourceSize</key>
                <string>{171,123}</string>
                <key>textureRect</key>
                <string>{{217,740},{171,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/foundations.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,72}</string>
                <key>spriteSourceSize</key>
                <string>{100,72}</string>
                <key>textureRect</key>
                <string>{{342,895},{100,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/heater.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,493}</string>
                <key>spriteSourceSize</key>
                <string>{192,493}</string>
                <key>textureRect</key>
                <string>{{454,1},{192,493}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/light1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,377}</string>
                <key>spriteSourceSize</key>
                <string>{138,377}</string>
                <key>textureRect</key>
                <string>{{217,361},{138,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/light2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,296}</string>
                <key>spriteSourceSize</key>
                <string>{111,296}</string>
                <key>textureRect</key>
                <string>{{698,482},{111,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/lip_gloss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,72}</string>
                <key>spriteSourceSize</key>
                <string>{30,72}</string>
                <key>textureRect</key>
                <string>{{935,237},{30,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/mascara.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,70}</string>
                <key>spriteSourceSize</key>
                <string>{25,70}</string>
                <key>textureRect</key>
                <string>{{357,467},{25,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/mirror.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,211}</string>
                <key>spriteSourceSize</key>
                <string>{161,211}</string>
                <key>textureRect</key>
                <string>{{811,482},{161,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/pencils.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,45}</string>
                <key>spriteSourceSize</key>
                <string>{19,45}</string>
                <key>textureRect</key>
                <string>{{632,747},{19,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/shelf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,29}</string>
                <key>spriteSourceSize</key>
                <string>{234,29}</string>
                <key>textureRect</key>
                <string>{{935,1},{234,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/sink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,306}</string>
                <key>spriteSourceSize</key>
                <string>{158,306}</string>
                <key>textureRect</key>
                <string>{{648,322},{158,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/sofa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,285}</string>
                <key>spriteSourceSize</key>
                <string>{319,285}</string>
                <key>textureRect</key>
                <string>{{648,1},{319,285}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/straightener.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,16}</string>
                <key>spriteSourceSize</key>
                <string>{99,16}</string>
                <key>textureRect</key>
                <string>{{427,361},{99,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,214}</string>
                <key>spriteSourceSize</key>
                <string>{423,214}</string>
                <key>textureRect</key>
                <string>{{1,361},{423,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/tile1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,287}</string>
                <key>spriteSourceSize</key>
                <string>{146,287}</string>
                <key>textureRect</key>
                <string>{{632,780},{146,287}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/tile2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,288}</string>
                <key>spriteSourceSize</key>
                <string>{146,288}</string>
                <key>textureRect</key>
                <string>{{342,747},{146,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{451,358}</string>
                <key>spriteSourceSize</key>
                <string>{451,358}</string>
                <key>textureRect</key>
                <string>{{1,1},{451,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>parlour.png</string>
            <key>size</key>
            <string>{975,976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ab4c57f0ff523d60addee162e921010:3bb8f18a9f03a6f6700bcac25885b5ce:0932a032998bdca5e0ae1bbb3c08167b$</string>
            <key>textureFileName</key>
            <string>parlour.png</string>
        </dict>
    </dict>
</plist>
