<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Demane_and_Demazane/bag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{497,163}</string>
                <key>spriteSourceSize</key>
                <string>{497,163}</string>
                <key>textureRect</key>
                <string>{{1789,3763},{497,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/boy_arm_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,105}</string>
                <key>spriteSourceSize</key>
                <string>{68,105}</string>
                <key>textureRect</key>
                <string>{{3628,3239},{68,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/boy_ear_round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,175}</string>
                <key>spriteSourceSize</key>
                <string>{138,175}</string>
                <key>textureRect</key>
                <string>{{1459,2855},{138,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/boy_eyebrow_boy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,64}</string>
                <key>spriteSourceSize</key>
                <string>{110,64}</string>
                <key>textureRect</key>
                <string>{{3200,3658},{110,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/boy_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{815,680}</string>
                <key>spriteSourceSize</key>
                <string>{815,680}</string>
                <key>textureRect</key>
                <string>{{2742,1531},{815,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/boy_hair_curtained_hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{905,601}</string>
                <key>spriteSourceSize</key>
                <string>{905,601}</string>
                <key>textureRect</key>
                <string>{{2742,928},{905,601}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/boy_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,76}</string>
                <key>textureRect</key>
                <string>{{3649,1085},{50,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/boy_lightbrown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,101}</string>
                <key>spriteSourceSize</key>
                <string>{43,101}</string>
                <key>textureRect</key>
                <string>{{3651,1},{43,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/boy_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,172}</string>
                <key>spriteSourceSize</key>
                <string>{28,172}</string>
                <key>textureRect</key>
                <string>{{2742,3212},{28,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Demane_and_Demazane/boy_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,151}</string>
                <key>spriteSourceSize</key>
                <string>{78,151}</string>
                <key>textureRect</key>
                <string>{{3559,1531},{78,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/boy_nose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{538,426}</string>
                <key>spriteSourceSize</key>
                <string>{546,426}</string>
                <key>textureRect</key>
                <string>{{2515,3321},{538,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Demane_and_Demazane/boy_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,177}</string>
                <key>spriteSourceSize</key>
                <string>{28,177}</string>
                <key>textureRect</key>
                <string>{{2563,928},{28,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Demane_and_Demazane/demane_brick1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,298}</string>
                <key>spriteSourceSize</key>
                <string>{464,298}</string>
                <key>textureRect</key>
                <string>{{1159,2855},{464,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Demane_and_Demazane/demane_brick2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{724,440}</string>
                <key>spriteSourceSize</key>
                <string>{724,440}</string>
                <key>textureRect</key>
                <string>{{1789,3321},{724,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/demane_brick3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,298}</string>
                <key>spriteSourceSize</key>
                <string>{464,298}</string>
                <key>textureRect</key>
                <string>{{3235,2939},{464,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/demane_brick4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{724,440}</string>
                <key>spriteSourceSize</key>
                <string>{724,440}</string>
                <key>textureRect</key>
                <string>{{3235,2213},{724,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Demane_and_Demazane/demane_door1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{925,1086}</string>
                <key>spriteSourceSize</key>
                <string>{925,1086}</string>
                <key>textureRect</key>
                <string>{{2563,1},{925,1086}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Demane_and_Demazane/demane_door2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1090,1156}</string>
                <key>spriteSourceSize</key>
                <string>{1090,1156}</string>
                <key>textureRect</key>
                <string>{{1,2855},{1090,1156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Demane_and_Demazane/demane_land.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2560,1023}</string>
                <key>spriteSourceSize</key>
                <string>{2560,1023}</string>
                <key>textureRect</key>
                <string>{{1,1},{2560,1023}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/demane_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2293,1100}</string>
                <key>spriteSourceSize</key>
                <string>{2293,1100}</string>
                <key>textureRect</key>
                <string>{{1640,1026},{2293,1100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Demane_and_Demazane/demane_tree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1637,1827}</string>
                <key>spriteSourceSize</key>
                <string>{1637,1827}</string>
                <key>textureRect</key>
                <string>{{1,1026},{1637,1827}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/dove_beak_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,132}</string>
                <key>spriteSourceSize</key>
                <string>{105,132}</string>
                <key>textureRect</key>
                <string>{{2943,3746},{105,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Demane_and_Demazane/dove_beak_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,67}</string>
                <key>spriteSourceSize</key>
                <string>{155,67}</string>
                <key>textureRect</key>
                <string>{{3649,928},{155,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Demane_and_Demazane/dove_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{997,491}</string>
                <key>spriteSourceSize</key>
                <string>{997,491}</string>
                <key>textureRect</key>
                <string>{{2742,2213},{997,491}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Demane_and_Demazane/dove_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1459,3186},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/dove_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{627,628}</string>
                <key>spriteSourceSize</key>
                <string>{627,628}</string>
                <key>textureRect</key>
                <string>{{1159,3321},{627,628}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Demane_and_Demazane/dove_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,152}</string>
                <key>spriteSourceSize</key>
                <string>{144,152}</string>
                <key>textureRect</key>
                <string>{{2288,3763},{144,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/dove_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,152}</string>
                <key>spriteSourceSize</key>
                <string>{144,152}</string>
                <key>textureRect</key>
                <string>{{1459,3032},{144,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/dove_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{426,417}</string>
                <key>spriteSourceSize</key>
                <string>{426,417}</string>
                <key>textureRect</key>
                <string>{{3200,3239},{426,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Demane_and_Demazane/dove_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{532,255}</string>
                <key>spriteSourceSize</key>
                <string>{532,255}</string>
                <key>textureRect</key>
                <string>{{2943,3212},{532,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Demane_and_Demazane.png</string>
            <key>size</key>
            <string>{3717,3949}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13a52781895c66f3053b57819199e2d7:49c8efc3382c756709a78861ac5e0774:341cb0c6009cc7c5f9e65e139103b02d$</string>
            <key>textureFileName</key>
            <string>Demane_and_Demazane.png</string>
        </dict>
    </dict>
</plist>
