<plist version="1.0">
    <dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>category_names</key>
        <array>
            <string>bit_0</string>
            <string>bit_1</string>
            <string>bit_2</string>
            <string>bit_3</string>
            <string>bit_4</string>
            <string>bit_5</string>
            <string>bit_6</string>
            <string>bit_7</string>
            <string>bit_8</string>
            <string>bit_9</string>
            <string>bit_10</string>
            <string>bit_11</string>
            <string>bit_12</string>
            <string>bit_13</string>
            <string>bit_14</string>
            <string>bit_15</string>
            <string>bit_16</string>
            <string>bit_17</string>
            <string>bit_18</string>
            <string>bit_19</string>
            <string>bit_20</string>
            <string>bit_21</string>
            <string>bit_22</string>
            <string>bit_23</string>
            <string>bit_24</string>
            <string>bit_25</string>
            <string>bit_26</string>
            <string>bit_27</string>
            <string>bit_28</string>
            <string>bit_29</string>
            <string>bit_30</string>
            <string>bit_31</string>
        </array>
        <key>bodies</key>
        <dict>

            <key>sesaw</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50100 }</string>
                <key>is_dynamic</key>
                <false />
                <key>affected_by_gravity</key>
                <false />
                <key>allows_rotation</key>
                <false />
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1000000</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1000000</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.200000003</real>
                        <key>friction</key>
                        <real>0.699999988</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>2</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 135.37500,5.12500 }</string>
                                <string>{ 137.37500,-3.12500 }</string>
                                <string>{ -138.37500,-3.12500 }</string>
                                <string>{ -138.37500,6.87500 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>icecreamst</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.49900,0.50000 }</string>
                <key>is_dynamic</key>
                <false />
                <key>affected_by_gravity</key>
                <false />
                <key>allows_rotation</key>
                <false />
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1000000</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1000000</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.200000003</real>
                        <key>friction</key>
                        <real>0.699999988</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>2</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ -58.12500,88.25000 }</string>
                                <string>{ 47.87500,112.50000 }</string>
                                <string>{ 49.37500,108.75000 }</string>
                                <string>{ -62.87500,78.25000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>swing</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50100,0.49900 }</string>
                <key>is_dynamic</key>
                <false />
                <key>affected_by_gravity</key>
                <false />
                <key>allows_rotation</key>
                <false />
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1000000</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1000000</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.200000003</real>
                        <key>friction</key>
                        <real>0.699999988</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>2</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ -18.12500,-41.37500 }</string>
                                <string>{ -16.12500,-45.62500 }</string>
                                <string>{ -65.12500,-46.12500 }</string>
                                <string>{ -63.87500,-41.62500 }</string>
                            </array>
                        </array>
                        
                    </dict>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.200000003</real>
                        <key>friction</key>
                        <real>0.699999988</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>2</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 66.37500,-40.87500 }</string>
                                <string>{ 68.37500,-45.12500 }</string>
                                <string>{ 19.37500,-45.62500 }</string>
                                <string>{ 20.62500,-41.12500 }</string>
                            </array>
                        </array>
                        
                    </dict>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.200000003</real>
                        <key>friction</key>
                        <real>0.699999988</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>2</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 93.12500,75.62500 }</string>
                                <string>{ 95.12500,71.37500 }</string>
                                <string>{ -94.62500,71.37500 }</string>
                                <string>{ -93.37500,75.87500 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>arcladder</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50100,0.50100 }</string>
                <key>is_dynamic</key>
                <false />
                <key>affected_by_gravity</key>
                <false />
                <key>allows_rotation</key>
                <false />
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1000000</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1000000</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.20000000000000001</real>
                        <key>friction</key>
                        <real>0.69999999999999996</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>2</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 6.87500,65.12500 }</string>
                                <string>{ 11.62500,62.62500 }</string>
                                <string>{ -27.87500,57.62500 }</string>
                                <string>{ -28.37500,61.62500 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>trachcantop</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50500 }</string>
                <key>is_dynamic</key>
                <false />
                <key>affected_by_gravity</key>
                <false />
                <key>allows_rotation</key>
                <false />
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1000000</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1000000</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>1</real>
                        <key>restitution</key>
                        <real>0.200000003</real>
                        <key>friction</key>
                        <real>0.699999988</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>1</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>2</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ 26.25000,5.12500 }</string>
                                <string>{ 27.25000,-1.62500 }</string>
                                <string>{ -27.25000,-3.37500 }</string>
                                <string>{ -27.25000,6.62500 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

            <key>ground</key>
            <dict>
                <key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>is_dynamic</key>
                <false />
                <key>affected_by_gravity</key>
                <false />
                <key>allows_rotation</key>
                <false />
                <key>linear_damping</key>
                <real>0</real>
                <key>velocity_limit</key>
                <real>1000000</real>
                <key>angular_damping</key>
                <real>0</real>
                <key>angular_velocity_limit</key>
                <real>1000000</real>
                <key>fixtures</key>
                <array>

                    <dict>
                        <key>density</key>
                        <real>2</real>
                        <key>restitution</key>
                        <real>0.20000000000000001</real>
                        <key>friction</key>
                        <real>0.69999999999999996</real>
                        <key>tag</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>category_mask</key>
                        <integer>3</integer>
                        <key>collision_mask</key>
                        <integer>2</integer>
                        <key>contact_test_mask</key>
                        <integer>1</integer>
                        <key>fixture_type</key>
                        <string>POLYGON</string>
                        
                        <key>polygons</key>
                        <array>
                            <array>
                                <string>{ -98.25000,-1.50000 }</string>
                                <string>{ 103.25000,-0.50000 }</string>
                                <string>{ 103.75000,-59.50000 }</string>
                                <string>{ -98.25000,-61.25000 }</string>
                            </array>
                        </array>
                        
                    </dict>

                </array>
            </dict>

        </dict>
    </dict>
</plist>