<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stack/bgreflection.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{620,394}</string>
                <key>spriteSourceSize</key>
                <string>{620,394}</string>
                <key>textureRect</key>
                <string>{{1,1},{620,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stack/bgseal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,163}</string>
                <key>spriteSourceSize</key>
                <string>{283,163}</string>
                <key>textureRect</key>
                <string>{{623,1},{283,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stack/container.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,188}</string>
                <key>spriteSourceSize</key>
                <string>{140,188}</string>
                <key>textureRect</key>
                <string>{{623,270},{140,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stack/containerbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,111}</string>
                <key>spriteSourceSize</key>
                <string>{131,111}</string>
                <key>textureRect</key>
                <string>{{765,270},{131,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stack/fillpipe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,259}</string>
                <key>spriteSourceSize</key>
                <string>{37,259}</string>
                <key>textureRect</key>
                <string>{{623,231},{37,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stack/fillpipebar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,21}</string>
                <key>spriteSourceSize</key>
                <string>{238,21}</string>
                <key>textureRect</key>
                <string>{{253,435},{238,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stack/pipeconnector.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,21}</string>
                <key>spriteSourceSize</key>
                <string>{25,21}</string>
                <key>textureRect</key>
                <string>{{884,259},{25,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stack/suckpipe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,273}</string>
                <key>spriteSourceSize</key>
                <string>{63,273}</string>
                <key>textureRect</key>
                <string>{{623,166},{63,273}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stack/suckpipebar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,36}</string>
                <key>spriteSourceSize</key>
                <string>{252,36}</string>
                <key>textureRect</key>
                <string>{{253,397},{252,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stack/tray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,48}</string>
                <key>spriteSourceSize</key>
                <string>{80,48}</string>
                <key>textureRect</key>
                <string>{{171,397},{80,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stack/trayfill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,73}</string>
                <key>spriteSourceSize</key>
                <string>{30,73}</string>
                <key>textureRect</key>
                <string>{{799,403},{30,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stack/treadmill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,49}</string>
                <key>spriteSourceSize</key>
                <string>{168,49}</string>
                <key>textureRect</key>
                <string>{{1,397},{168,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stack/treadmillrun1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,23}</string>
                <key>spriteSourceSize</key>
                <string>{26,23}</string>
                <key>textureRect</key>
                <string>{{878,286},{26,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stack/treadmillrun2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,21}</string>
                <key>spriteSourceSize</key>
                <string>{26,21}</string>
                <key>textureRect</key>
                <string>{{884,231},{26,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stack/treadmillwheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{765,403},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stack.png</string>
            <key>size</key>
            <string>{907,459}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91af479acf1287460574b2d06f2a9f9a:d2c03b0504e82910b0dd5351de11753b:ba815659b7733bf70bca3ab3cf2366e9$</string>
            <key>textureFileName</key>
            <string>stack.png</string>
        </dict>
    </dict>
</plist>
