<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>postoffice/box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,62}</string>
                <key>spriteSourceSize</key>
                <string>{71,62}</string>
                <key>textureRect</key>
                <string>{{180,346},{71,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>postoffice/counter1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,14}</string>
                <key>spriteSourceSize</key>
                <string>{61,14}</string>
                <key>textureRect</key>
                <string>{{465,259},{61,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>postoffice/counter2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,14}</string>
                <key>spriteSourceSize</key>
                <string>{61,14}</string>
                <key>textureRect</key>
                <string>{{465,322},{61,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>postoffice/desk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,119}</string>
                <key>spriteSourceSize</key>
                <string>{177,119}</string>
                <key>textureRect</key>
                <string>{{344,259},{177,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>postoffice/desk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,76}</string>
                <key>spriteSourceSize</key>
                <string>{177,76}</string>
                <key>textureRect</key>
                <string>{{1,346},{177,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>postoffice/floortile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,13}</string>
                <key>spriteSourceSize</key>
                <string>{65,13}</string>
                <key>textureRect</key>
                <string>{{465,385},{65,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>postoffice/foundationtile1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{244,406},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>postoffice/foundationtile2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,43}</string>
                <key>spriteSourceSize</key>
                <string>{40,43}</string>
                <key>textureRect</key>
                <string>{{288,406},{40,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>postoffice/pillar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,341}</string>
                <key>spriteSourceSize</key>
                <string>{343,341}</string>
                <key>textureRect</key>
                <string>{{1,1},{343,341}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>postoffice/pole.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,51}</string>
                <key>spriteSourceSize</key>
                <string>{8,51}</string>
                <key>textureRect</key>
                <string>{{481,259},{8,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>postoffice/post.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,11}</string>
                <key>spriteSourceSize</key>
                <string>{25,11}</string>
                <key>textureRect</key>
                <string>{{1,438},{25,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>postoffice/rack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,145}</string>
                <key>spriteSourceSize</key>
                <string>{256,145}</string>
                <key>textureRect</key>
                <string>{{344,1},{256,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>postoffice/rooftile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{244,346},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>postoffice/storage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,32}</string>
                <key>spriteSourceSize</key>
                <string>{137,32}</string>
                <key>textureRect</key>
                <string>{{28,424},{137,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>postoffice.png</string>
            <key>size</key>
            <string>{490,457}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8a7bd4cf11ef5a13221110fbdcdd53c:524548e19fa5666a58461c49f15f123f:feb08ddd1c0755319183b2c3a65af203$</string>
            <key>textureFileName</key>
            <string>postoffice.png</string>
        </dict>
    </dict>
</plist>
