<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>city3_bagpack/bag_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1276,516}</string>
                <key>spriteSourceSize</key>
                <string>{1276,516}</string>
                <key>textureRect</key>
                <string>{{1,299},{1276,516}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city3_bagpack/bag_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1181,400}</string>
                <key>spriteSourceSize</key>
                <string>{1181,400}</string>
                <key>textureRect</key>
                <string>{{519,299},{1181,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city3_bagpack/click_cross.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{454,1707},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city3_bagpack/comb_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{194,1577},{108,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city3_bagpack/combs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{304,1577},{108,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city3_bagpack/cream.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,70}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{735,1482},{126,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city3_bagpack/cream_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,70}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{870,1482},{126,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city3_bagpack/cross.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{519,1482},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city3_bagpack/obj1_266.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{670,1690},{126,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city3_bagpack/obj1_266_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{754,1554},{126,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city3_bagpack/obj6_311.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,100}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{414,1577},{128,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city3_bagpack/obj6_311_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,100}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{516,1577},{128,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city3_bagpack/paper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{943,296}</string>
                <key>spriteSourceSize</key>
                <string>{943,296}</string>
                <key>textureRect</key>
                <string>{{1,1},{943,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city3_bagpack/policeshield_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{605,1482},{76,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city3_bagpack/policeshield_52_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{540,1707},{76,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city3_bagpack/pouch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,191}</string>
                <key>spriteSourceSize</key>
                <string>{226,191}</string>
                <key>textureRect</key>
                <string>{{1,1577},{226,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city3_bagpack/syrup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{618,1560},{66,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city3_bagpack/syrup_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{686,1560},{66,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city3_bagpack/walkietalkie_85.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{870,1610},{58,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city3_bagpack/walkietalkie_85_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{798,1738},{58,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city3_bagpack/weighingmachine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,86}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{194,1707},{128,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city3_bagpack/weighingmachine_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,86}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{324,1707},{128,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>city3_bagpack.png</string>
            <key>size</key>
            <string>{945,1805}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df312377b6058c6e5f3a2d45e506e942:b929589a72df7bd8d24c699458bef030:2a3ce4cadaec5f6d613052c509fb1d00$</string>
            <key>textureFileName</key>
            <string>city3_bagpack.png</string>
        </dict>
    </dict>
</plist>
