<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Khalai_azungumzia_mimea_Khalai_talks/Khalai_azungumzia_mimea_Khalai_talks_1/Kato_gate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{106,154}</string>
                <key>spriteSourceSize</key>
                <string>{106,156}</string>
                <key>textureRect</key>
                <string>{{1278,613},{106,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Khalai_azungumzia_mimea_Khalai_talks/Khalai_azungumzia_mimea_Khalai_talks_1/Kato_leaf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{36,28}</string>
                <key>spriteSourceSize</key>
                <string>{42,32}</string>
                <key>textureRect</key>
                <string>{{1675,982},{36,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Khalai_azungumzia_mimea_Khalai_talks/Khalai_azungumzia_mimea_Khalai_talks_1/Kato_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{673,575}</string>
                <key>spriteSourceSize</key>
                <string>{679,581}</string>
                <key>textureRect</key>
                <string>{{1109,1},{673,575}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Khalai_azungumzia_mimea_Khalai_talks/Khalai_azungumzia_mimea_Khalai_talks_1/Kato_tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1106,1008}</string>
                <key>spriteSourceSize</key>
                <string>{1106,1008}</string>
                <key>textureRect</key>
                <string>{{1,1},{1106,1008}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Khalai_azungumzia_mimea_Khalai_talks/Khalai_azungumzia_mimea_Khalai_talks_1/Kato_tree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,207}</string>
                <key>spriteSourceSize</key>
                <string>{167,207}</string>
                <key>textureRect</key>
                <string>{{1109,578},{167,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Khalai_azungumzia_mimea_Khalai_talks/Khalai_azungumzia_mimea_Khalai_talks_1/Kato_treebase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,33}</string>
                <key>spriteSourceSize</key>
                <string>{111,33}</string>
                <key>textureRect</key>
                <string>{{1278,578},{111,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Khalai_azungumzia_mimea_Khalai_talks/Khalai_azungumzia_mimea_Khalai_talks_1/Kisirusiru_sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,100}</string>
                <key>spriteSourceSize</key>
                <string>{101,100}</string>
                <key>textureRect</key>
                <string>{{1573,909},{101,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Khalai_azungumzia_mimea_Khalai_talks/Khalai_azungumzia_mimea_Khalai_talks_1/butterfly1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{213,164}</string>
                <key>spriteSourceSize</key>
                <string>{231,180}</string>
                <key>textureRect</key>
                <string>{{1109,787},{213,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Khalai_azungumzia_mimea_Khalai_talks/Khalai_azungumzia_mimea_Khalai_talks_1/butterfly2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{211,140}</string>
                <key>spriteSourceSize</key>
                <string>{231,180}</string>
                <key>textureRect</key>
                <string>{{1275,787},{211,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Khalai_azungumzia_mimea_Khalai_talks/Khalai_azungumzia_mimea_Khalai_talks_1/butterfly3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-14}</string>
                <key>spriteSize</key>
                <string>{213,134}</string>
                <key>spriteSourceSize</key>
                <string>{231,180}</string>
                <key>textureRect</key>
                <string>{{1784,1},{213,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Khalai_azungumzia_mimea_Khalai_talks/Khalai_azungumzia_mimea_Khalai_talks_1/butterfly4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-18}</string>
                <key>spriteSize</key>
                <string>{215,126}</string>
                <key>spriteSourceSize</key>
                <string>{231,180}</string>
                <key>textureRect</key>
                <string>{{1784,216},{215,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Khalai_azungumzia_mimea_Khalai_talks/Khalai_azungumzia_mimea_Khalai_talks_1/butterfly5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-26}</string>
                <key>spriteSize</key>
                <string>{203,118}</string>
                <key>spriteSourceSize</key>
                <string>{231,180}</string>
                <key>textureRect</key>
                <string>{{1784,572},{203,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Khalai_azungumzia_mimea_Khalai_talks/Khalai_azungumzia_mimea_Khalai_talks_1/butterfly6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-27}</string>
                <key>spriteSize</key>
                <string>{203,118}</string>
                <key>spriteSourceSize</key>
                <string>{231,180}</string>
                <key>textureRect</key>
                <string>{{1781,777},{203,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Khalai_azungumzia_mimea_Khalai_talks/Khalai_azungumzia_mimea_Khalai_talks_1/girl_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1710,909},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Khalai_azungumzia_mimea_Khalai_talks/Khalai_azungumzia_mimea_Khalai_talks_1/girl_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,329}</string>
                <key>spriteSourceSize</key>
                <string>{347,329}</string>
                <key>textureRect</key>
                <string>{{1432,578},{347,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Khalai_azungumzia_mimea_Khalai_talks/Khalai_azungumzia_mimea_Khalai_talks_1/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,38}</string>
                <key>spriteSourceSize</key>
                <string>{25,38}</string>
                <key>textureRect</key>
                <string>{{1713,982},{25,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Khalai_azungumzia_mimea_Khalai_talks/Khalai_azungumzia_mimea_Khalai_talks_1/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,86}</string>
                <key>spriteSourceSize</key>
                <string>{14,86}</string>
                <key>textureRect</key>
                <string>{{1904,663},{14,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Khalai_azungumzia_mimea_Khalai_talks/Khalai_azungumzia_mimea_Khalai_talks_1/girl_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,53}</string>
                <key>spriteSourceSize</key>
                <string>{11,53}</string>
                <key>textureRect</key>
                <string>{{1330,1000},{11,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Khalai_azungumzia_mimea_Khalai_talks/Khalai_azungumzia_mimea_Khalai_talks_1/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,68}</string>
                <key>spriteSourceSize</key>
                <string>{33,68}</string>
                <key>textureRect</key>
                <string>{{1675,909},{33,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Khalai_azungumzia_mimea_Khalai_talks/Khalai_azungumzia_mimea_Khalai_talks_1/girl_shoe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,11}</string>
                <key>spriteSourceSize</key>
                <string>{53,11}</string>
                <key>textureRect</key>
                <string>{{1275,1000},{53,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Khalai_azungumzia_mimea_Khalai_talks/Khalai_azungumzia_mimea_Khalai_talks_1/girl_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,124}</string>
                <key>spriteSourceSize</key>
                <string>{137,124}</string>
                <key>textureRect</key>
                <string>{{1784,433},{137,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Khalai_azungumzia_mimea_Khalai_talks/Khalai_azungumzia_mimea_Khalai_talks_1/girl_sleeve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,13}</string>
                <key>spriteSourceSize</key>
                <string>{34,13}</string>
                <key>textureRect</key>
                <string>{{1904,751},{34,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Khalai_azungumzia_mimea_Khalai_talks/Khalai_azungumzia_mimea_Khalai_talks_1/girl_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,139}</string>
                <key>spriteSourceSize</key>
                <string>{102,139}</string>
                <key>textureRect</key>
                <string>{{1432,909},{102,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Khalai_azungumzia_mimea_Khalai_talks/Khalai_azungumzia_mimea_Khalai_talks_1/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,89}</string>
                <key>spriteSourceSize</key>
                <string>{14,89}</string>
                <key>textureRect</key>
                <string>{{1904,572},{14,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Khalai_azungumzia_mimea_Khalai_talks/Khalai_azungumzia_mimea_Khalai_talks_1/girl_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,45}</string>
                <key>spriteSourceSize</key>
                <string>{11,45}</string>
                <key>textureRect</key>
                <string>{{1385,1000},{11,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Khalai_azungumzia_mimea_Khalai_talks_1.png</string>
            <key>size</key>
            <string>{1919,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f82a3b0e22aade2cf123403f062e17ee:cf0c1885653342cee15feab86036ded2:b0e447560a348ef1efd170a3121da82a$</string>
            <key>textureFileName</key>
            <string>Khalai_azungumzia_mimea_Khalai_talks_1.png</string>
        </dict>
    </dict>
</plist>
