<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>alphamole/alphamole2/Play2_1eg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1871,132},{82,58}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,71}</string>
			</dict>
			<key>alphamole/alphamole2/Play2_1star.png</key>
			<dict>
				<key>frame</key>
				<string>{{1701,817},{171,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,172}</string>
			</dict>
			<key>alphamole/alphamole2/Play2_2eg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1789,132},{82,59}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,71}</string>
			</dict>
			<key>alphamole/alphamole2/Play2_2star.png</key>
			<dict>
				<key>frame</key>
				<string>{{1789,0},{132,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,133}</string>
			</dict>
			<key>alphamole/alphamole2/Play2_Hole_base.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,0},{892,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{892,284}</string>
			</dict>
			<key>alphamole/alphamole2/Play2_Hole_Close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1701,0},{817,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{817,88}</string>
			</dict>
			<key>alphamole/alphamole2/Play2_Hole_Open.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{803,641}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{803,642}</string>
			</dict>
			<key>alphamole/alphamole2/Play2_leaf.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,0},{614,448}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{614,449}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>alphamole2.png</string>
			<key>realTextureFileName</key>
			<string>alphamole2.png</string>
			<key>size</key>
			<string>{1953,988}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1953</integer>
			<key>height</key>
			<integer>988</integer>
		</dict>
	</dict>
</plist>