<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>park/ant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,31}</string>
                <key>spriteSourceSize</key>
                <string>{46,31}</string>
                <key>textureRect</key>
                <string>{{884,970},{46,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>park/ballone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,351}</string>
                <key>spriteSourceSize</key>
                <string>{123,351}</string>
                <key>textureRect</key>
                <string>{{831,1},{123,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>park/ballonea.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,351}</string>
                <key>spriteSourceSize</key>
                <string>{123,351}</string>
                <key>textureRect</key>
                <string>{{831,354},{123,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>park/baseball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{868,747},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>park/baseballbat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{27,210}</string>
                <key>spriteSourceSize</key>
                <string>{29,210}</string>
                <key>textureRect</key>
                <string>{{1,969},{27,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>park/bat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,211}</string>
                <key>spriteSourceSize</key>
                <string>{31,211}</string>
                <key>textureRect</key>
                <string>{{1,936},{31,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>park/bushb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,168}</string>
                <key>spriteSourceSize</key>
                <string>{392,168}</string>
                <key>textureRect</key>
                <string>{{1,766},{392,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>park/car.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,63}</string>
                <key>spriteSourceSize</key>
                <string>{119,63}</string>
                <key>textureRect</key>
                <string>{{358,939},{119,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>park/flower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,109}</string>
                <key>spriteSourceSize</key>
                <string>{60,109}</string>
                <key>textureRect</key>
                <string>{{595,939},{60,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>park/icecream.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,61}</string>
                <key>spriteSourceSize</key>
                <string>{36,61}</string>
                <key>textureRect</key>
                <string>{{821,970},{36,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>park/ladybug.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,49}</string>
                <key>spriteSourceSize</key>
                <string>{48,49}</string>
                <key>textureRect</key>
                <string>{{817,747},{48,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>park/lolipop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,99}</string>
                <key>spriteSourceSize</key>
                <string>{38,99}</string>
                <key>textureRect</key>
                <string>{{831,707},{38,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>park/pinaple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,114}</string>
                <key>spriteSourceSize</key>
                <string>{57,114}</string>
                <key>textureRect</key>
                <string>{{479,939},{57,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>park/rabit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,119}</string>
                <key>spriteSourceSize</key>
                <string>{65,119}</string>
                <key>textureRect</key>
                <string>{{696,714},{65,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>park/sanda.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{802,269}</string>
                <key>spriteSourceSize</key>
                <string>{802,269}</string>
                <key>textureRect</key>
                <string>{{425,1},{802,269}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>park/sandb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{711,133}</string>
                <key>spriteSourceSize</key>
                <string>{725,133}</string>
                <key>textureRect</key>
                <string>{{696,1},{711,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>park/sesaw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-27}</string>
                <key>spriteSize</key>
                <string>{552,132}</string>
                <key>spriteSourceSize</key>
                <string>{554,196}</string>
                <key>textureRect</key>
                <string>{{395,805},{552,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>park/shruba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,51}</string>
                <key>spriteSourceSize</key>
                <string>{142,51}</string>
                <key>textureRect</key>
                <string>{{214,936},{142,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>park/shrubb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,29}</string>
                <key>spriteSourceSize</key>
                <string>{113,29}</string>
                <key>textureRect</key>
                <string>{{706,964},{113,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>park/shrubc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,29}</string>
                <key>spriteSourceSize</key>
                <string>{113,29}</string>
                <key>textureRect</key>
                <string>{{829,939},{113,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>park/shrubd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,23}</string>
                <key>spriteSourceSize</key>
                <string>{121,23}</string>
                <key>textureRect</key>
                <string>{{706,939},{121,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>park/treee.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,763}</string>
                <key>spriteSourceSize</key>
                <string>{422,763}</string>
                <key>textureRect</key>
                <string>{{1,1},{422,763}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>park.png</string>
            <key>size</key>
            <string>{955,1007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40c8be0210717b11c8472c2778b7f6a6:03fffdf6bcb774816d9f0d782b13590c:badb72fefd2cbbfba6973575b767f9f3$</string>
            <key>textureFileName</key>
            <string>park.png</string>
        </dict>
    </dict>
</plist>
