<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1800,2560}</string>
                <key>spriteSourceSize</key>
                <string>{1800,2560}</string>
                <key>textureRect</key>
                <string>{{1803,1},{1800,2560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>categoryBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1800,2562}</string>
                <key>spriteSourceSize</key>
                <string>{1800,2562}</string>
                <key>textureRect</key>
                <string>{{1,1},{1800,2562}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Background_01.png</string>
            <key>size</key>
            <string>{3604,2564}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e7e3f80a3473704b0fb601e74ef9f91:bde4746811f8fa4aa1e387598ac157e6:7e52513f5d13b0809fd9d3530054bbf9$</string>
            <key>textureFileName</key>
            <string>Background_01.png</string>
        </dict>
    </dict>
</plist>
