<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgmap/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1950,350}</string>
                <key>spriteSourceSize</key>
                <string>{1950,350}</string>
                <key>textureRect</key>
                <string>{{1404,1},{1950,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgmap/bird_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,116}</string>
                <key>spriteSourceSize</key>
                <string>{153,116}</string>
                <key>textureRect</key>
                <string>{{1200,1650},{153,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgmap/bird_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,41}</string>
                <key>spriteSourceSize</key>
                <string>{52,41}</string>
                <key>textureRect</key>
                <string>{{1200,1951},{52,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgmap/bird_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,124}</string>
                <key>spriteSourceSize</key>
                <string>{144,124}</string>
                <key>textureRect</key>
                <string>{{1200,1805},{144,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgmap/bird_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,74}</string>
                <key>spriteSourceSize</key>
                <string>{134,74}</string>
                <key>textureRect</key>
                <string>{{1289,1434},{134,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgmap/bird_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,215}</string>
                <key>spriteSourceSize</key>
                <string>{233,215}</string>
                <key>textureRect</key>
                <string>{{1484,2166},{233,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgmap/bird_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,250}</string>
                <key>spriteSourceSize</key>
                <string>{204,250}</string>
                <key>textureRect</key>
                <string>{{836,2416},{204,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgmap/bird_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,211}</string>
                <key>spriteSourceSize</key>
                <string>{245,211}</string>
                <key>textureRect</key>
                <string>{{1484,1953},{245,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgmap/bird_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,621}</string>
                <key>spriteSourceSize</key>
                <string>{549,621}</string>
                <key>textureRect</key>
                <string>{{905,1434},{293,621}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgmap/dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1401,1431}</string>
                <key>spriteSourceSize</key>
                <string>{1401,1431}</string>
                <key>textureRect</key>
                <string>{{1,1},{1401,1431}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgmap/flower_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,203}</string>
                <key>spriteSourceSize</key>
                <string>{210,203}</string>
                <key>textureRect</key>
                <string>{{1088,2416},{210,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgmap/flower_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,249}</string>
                <key>spriteSourceSize</key>
                <string>{252,249}</string>
                <key>textureRect</key>
                <string>{{295,2333},{252,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgmap/flower_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,246}</string>
                <key>spriteSourceSize</key>
                <string>{217,246}</string>
                <key>textureRect</key>
                <string>{{1265,1953},{217,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgmap/flower_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,231}</string>
                <key>spriteSourceSize</key>
                <string>{218,231}</string>
                <key>textureRect</key>
                <string>{{1300,2383},{218,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgmap/flower_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,279}</string>
                <key>spriteSourceSize</key>
                <string>{292,279}</string>
                <key>textureRect</key>
                <string>{{1,2333},{292,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgmap/flower_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,138}</string>
                <key>spriteSourceSize</key>
                <string>{138,138}</string>
                <key>textureRect</key>
                <string>{{1265,2201},{138,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgmap/flower_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,87}</string>
                <key>spriteSourceSize</key>
                <string>{84,87}</string>
                <key>textureRect</key>
                <string>{{1520,2383},{84,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgmap/flower_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,81}</string>
                <key>spriteSourceSize</key>
                <string>{89,81}</string>
                <key>textureRect</key>
                <string>{{1520,2472},{89,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgmap/heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,52}</string>
                <key>spriteSourceSize</key>
                <string>{53,52}</string>
                <key>textureRect</key>
                <string>{{836,2333},{53,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgmap/leaf_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,87}</string>
                <key>spriteSourceSize</key>
                <string>{214,87}</string>
                <key>textureRect</key>
                <string>{{1200,1434},{214,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgmap/leaf_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,285}</string>
                <key>spriteSourceSize</key>
                <string>{208,285}</string>
                <key>textureRect</key>
                <string>{{549,2333},{208,285}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgmap/line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{902,897}</string>
                <key>spriteSourceSize</key>
                <string>{902,897}</string>
                <key>textureRect</key>
                <string>{{1,1434},{902,897}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgmap/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,357}</string>
                <key>spriteSourceSize</key>
                <string>{358,357}</string>
                <key>textureRect</key>
                <string>{{905,2057},{358,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bgmap.png</string>
            <key>size</key>
            <string>{1755,2621}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a81e918a918802a6e8c615df14a1d792:4db3e32cf76a90345204d53161ed0d41:c02879a10b8918cd45692904e8d46451$</string>
            <key>textureFileName</key>
            <string>bgmap.png</string>
        </dict>
    </dict>
</plist>
