<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chimpleloading/chimple loading20001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{232,69}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,1},{232,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{232,69}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,72},{232,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{232,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,143},{232,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,971},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,1040},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,1109},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,1178},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,1247},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,1316},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,1385},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,1454},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,1523},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,1592},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,1661},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,1730},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,1799},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,1868},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{232,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,212},{232,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{232,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,281},{232,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{232,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,350},{232,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{232,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,419},{232,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{232,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,488},{232,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{232,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,557},{232,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,1937},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,2006},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,2075},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,2144},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,2213},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,2282},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,2351},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{232,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,626},{232,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,2420},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,2489},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,2558},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,2627},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,2696},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,2765},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,2834},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,2903},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{232,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,695},{232,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,2972},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,3041},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,3110},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,3179},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,3248},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,3317},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{230,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,3386},{230,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{232,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,764},{232,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{232,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,833},{232,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chimpleloading/chimple loading20050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{232,67}</string>
                <key>spriteSourceSize</key>
                <string>{234,69}</string>
                <key>textureRect</key>
                <string>{{1,902},{232,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chimpleloading.png</string>
            <key>size</key>
            <string>{234,3454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9218e84064bb94e06d21b5864a265eb9:bdb256c9b8ace754db23ce28551d924a:4905752b3c91e8587e392f281f1a8417$</string>
            <key>textureFileName</key>
            <string>chimpleloading.png</string>
        </dict>
    </dict>
</plist>
