<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>talkcity/basket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,106}</string>
                <key>spriteSourceSize</key>
                <string>{254,106}</string>
                <key>textureRect</key>
                <string>{{971,797},{254,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,217}</string>
                <key>spriteSourceSize</key>
                <string>{254,217}</string>
                <key>textureRect</key>
                <string>{{2485,634},{254,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkcity/building01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1429,794}</string>
                <key>spriteSourceSize</key>
                <string>{1429,794}</string>
                <key>textureRect</key>
                <string>{{1,1},{1429,794}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/building02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1010,794}</string>
                <key>spriteSourceSize</key>
                <string>{1010,794}</string>
                <key>textureRect</key>
                <string>{{1432,1},{1010,794}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkcity/enemy_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,217}</string>
                <key>spriteSourceSize</key>
                <string>{255,217}</string>
                <key>textureRect</key>
                <string>{{2228,625},{255,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/enemy_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,310}</string>
                <key>spriteSourceSize</key>
                <string>{373,310}</string>
                <key>textureRect</key>
                <string>{{2228,1},{373,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/enemy_lefthand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,93}</string>
                <key>spriteSourceSize</key>
                <string>{86,93}</string>
                <key>textureRect</key>
                <string>{{792,920},{86,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/enemy_lefthand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,156}</string>
                <key>spriteSourceSize</key>
                <string>{163,156}</string>
                <key>textureRect</key>
                <string>{{1227,797},{163,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/enemy_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,72}</string>
                <key>spriteSourceSize</key>
                <string>{48,72}</string>
                <key>textureRect</key>
                <string>{{1193,955},{48,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkcity/enemy_righthand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,76}</string>
                <key>spriteSourceSize</key>
                <string>{192,76}</string>
                <key>textureRect</key>
                <string>{{315,930},{192,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/enemy_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,48}</string>
                <key>spriteSourceSize</key>
                <string>{89,48}</string>
                <key>textureRect</key>
                <string>{{880,920},{89,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkcity/eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,34}</string>
                <key>spriteSourceSize</key>
                <string>{29,34}</string>
                <key>textureRect</key>
                <string>{{231,966},{29,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,310}</string>
                <key>spriteSourceSize</key>
                <string>{373,310}</string>
                <key>textureRect</key>
                <string>{{2228,313},{373,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/fish1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,124}</string>
                <key>spriteSourceSize</key>
                <string>{123,124}</string>
                <key>textureRect</key>
                <string>{{2603,382},{123,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/fish2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,124}</string>
                <key>spriteSourceSize</key>
                <string>{123,124}</string>
                <key>textureRect</key>
                <string>{{2603,508},{123,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/fish3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,125}</string>
                <key>spriteSourceSize</key>
                <string>{123,125}</string>
                <key>textureRect</key>
                <string>{{2603,1},{123,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/fish4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,124}</string>
                <key>spriteSourceSize</key>
                <string>{123,124}</string>
                <key>textureRect</key>
                <string>{{2386,890},{123,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkcity/fish5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,125}</string>
                <key>spriteSourceSize</key>
                <string>{123,125}</string>
                <key>textureRect</key>
                <string>{{2603,128},{123,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/fish6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,125}</string>
                <key>spriteSourceSize</key>
                <string>{123,125}</string>
                <key>textureRect</key>
                <string>{{2603,255},{123,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/happymouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,101}</string>
                <key>spriteSourceSize</key>
                <string>{99,101}</string>
                <key>textureRect</key>
                <string>{{1092,905},{99,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/lefthand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,93}</string>
                <key>spriteSourceSize</key>
                <string>{87,93}</string>
                <key>textureRect</key>
                <string>{{703,920},{87,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/lefthand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,156}</string>
                <key>spriteSourceSize</key>
                <string>{162,156}</string>
                <key>textureRect</key>
                <string>{{2228,844},{162,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkcity/leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,72}</string>
                <key>spriteSourceSize</key>
                <string>{48,72}</string>
                <key>textureRect</key>
                <string>{{1267,955},{48,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkcity/optionbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,167}</string>
                <key>spriteSourceSize</key>
                <string>{312,167}</string>
                <key>textureRect</key>
                <string>{{1,797},{312,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/patch_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,121}</string>
                <key>spriteSourceSize</key>
                <string>{330,121}</string>
                <key>textureRect</key>
                <string>{{639,797},{330,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/righthand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,76}</string>
                <key>spriteSourceSize</key>
                <string>{192,76}</string>
                <key>textureRect</key>
                <string>{{509,930},{192,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/roadbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,24}</string>
                <key>spriteSourceSize</key>
                <string>{228,24}</string>
                <key>textureRect</key>
                <string>{{1,966},{228,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkcity/sadmouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,110}</string>
                <key>spriteSourceSize</key>
                <string>{99,110}</string>
                <key>textureRect</key>
                <string>{{980,905},{99,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkcity/tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,48}</string>
                <key>spriteSourceSize</key>
                <string>{89,48}</string>
                <key>textureRect</key>
                <string>{{930,920},{89,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkcity/zebracrossing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,131}</string>
                <key>spriteSourceSize</key>
                <string>{322,131}</string>
                <key>textureRect</key>
                <string>{{315,797},{322,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>talkcity.png</string>
            <key>size</key>
            <string>{2727,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7c499d2e07376f9c3dc371cd279f230:dec7eedf4566b0a55d043282b21f2032:9a797519b3debaa36a527bcd373dafa1$</string>
            <key>textureFileName</key>
            <string>talkcity.png</string>
        </dict>
    </dict>
</plist>
