<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>miningbg/miningbg2/bgmountain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2206,1522}</string>
                <key>spriteSourceSize</key>
                <string>{2206,1522}</string>
                <key>textureRect</key>
                <string>{{1,1},{2206,1522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miningbg/miningbg2/bgpalmtreedark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{916,1057}</string>
                <key>spriteSourceSize</key>
                <string>{916,1057}</string>
                <key>textureRect</key>
                <string>{{2433,1483},{916,1057}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miningbg/miningbg2/bgskycloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{748,698}</string>
                <key>spriteSourceSize</key>
                <string>{748,698}</string>
                <key>textureRect</key>
                <string>{{2658,2542},{748,698}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>miningbg/miningbg2/fgpetrolfiller.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{739,552}</string>
                <key>spriteSourceSize</key>
                <string>{739,552}</string>
                <key>textureRect</key>
                <string>{{1483,3480},{739,552}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miningbg/miningbg2/mgcoaltruck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{991,470}</string>
                <key>spriteSourceSize</key>
                <string>{991,470}</string>
                <key>textureRect</key>
                <string>{{3351,1483},{991,470}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>miningbg/miningbg2/mgdoor12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{628,685}</string>
                <key>spriteSourceSize</key>
                <string>{628,685}</string>
                <key>textureRect</key>
                <string>{{3353,3292},{628,685}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miningbg/miningbg2/mgdoor13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{628,691}</string>
                <key>spriteSourceSize</key>
                <string>{628,691}</string>
                <key>textureRect</key>
                <string>{{2723,3292},{628,691}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miningbg/miningbg2/mgdoor22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1088,863}</string>
                <key>spriteSourceSize</key>
                <string>{1088,863}</string>
                <key>textureRect</key>
                <string>{{1568,1525},{1088,863}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>miningbg/miningbg2/mgdoor23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1088,863}</string>
                <key>spriteSourceSize</key>
                <string>{1088,863}</string>
                <key>textureRect</key>
                <string>{{1568,2615},{1088,863}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miningbg/miningbg2/mgdoor32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{497,565}</string>
                <key>spriteSourceSize</key>
                <string>{497,565}</string>
                <key>textureRect</key>
                <string>{{2224,3480},{497,565}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miningbg/miningbg2/mgdoor33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{497,565}</string>
                <key>spriteSourceSize</key>
                <string>{497,565}</string>
                <key>textureRect</key>
                <string>{{3358,2476},{497,565}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miningbg/miningbg2/mgelectricalshop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1480,1543}</string>
                <key>spriteSourceSize</key>
                <string>{1480,1543}</string>
                <key>textureRect</key>
                <string>{{2209,1},{1480,1543}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>miningbg/miningbg2/mgminningsupply.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1565,1665}</string>
                <key>spriteSourceSize</key>
                <string>{1565,1665}</string>
                <key>textureRect</key>
                <string>{{1,1525},{1565,1665}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miningbg/miningbg2/mgpetrolbunk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1480,862}</string>
                <key>spriteSourceSize</key>
                <string>{1480,862}</string>
                <key>textureRect</key>
                <string>{{1,3192},{1480,862}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miningbg/miningbg2/petrolcan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,234}</string>
                <key>spriteSourceSize</key>
                <string>{300,234}</string>
                <key>textureRect</key>
                <string>{{3358,3043},{300,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>miningbg2.png</string>
            <key>size</key>
            <string>{3982,4055}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c2df105cdb68b5c725f6f489cbc5b8b:eb54c307210bb33653a93d2f14713d33:e22b1fd6bb10cef1f9bf483c5c6ff0ea$</string>
            <key>textureFileName</key>
            <string>miningbg2.png</string>
        </dict>
    </dict>
</plist>
