<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dramatheatre/bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,63}</string>
                <key>spriteSourceSize</key>
                <string>{126,63}</string>
                <key>textureRect</key>
                <string>{{619,582},{126,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dramatheatre/castle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,219}</string>
                <key>spriteSourceSize</key>
                <string>{251,219}</string>
                <key>textureRect</key>
                <string>{{451,361},{251,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dramatheatre/counter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,155}</string>
                <key>spriteSourceSize</key>
                <string>{166,155}</string>
                <key>textureRect</key>
                <string>{{451,582},{166,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dramatheatre/crown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,92}</string>
                <key>textureRect</key>
                <string>{{632,710},{100,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dramatheatre/curtain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{722,358}</string>
                <key>spriteSourceSize</key>
                <string>{722,358}</string>
                <key>textureRect</key>
                <string>{{1,1},{722,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dramatheatre/dooranimation1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,160}</string>
                <key>spriteSourceSize</key>
                <string>{157,160}</string>
                <key>textureRect</key>
                <string>{{349,745},{157,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dramatheatre/dooranimation2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,171}</string>
                <key>spriteSourceSize</key>
                <string>{157,171}</string>
                <key>textureRect</key>
                <string>{{176,745},{157,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dramatheatre/dooranimation3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,173}</string>
                <key>spriteSourceSize</key>
                <string>{157,173}</string>
                <key>textureRect</key>
                <string>{{1,745},{157,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dramatheatre/floortile1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,13}</string>
                <key>spriteSourceSize</key>
                <string>{65,13}</string>
                <key>textureRect</key>
                <string>{{766,1},{65,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dramatheatre/floortile2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,38}</string>
                <key>spriteSourceSize</key>
                <string>{65,38}</string>
                <key>textureRect</key>
                <string>{{725,74},{65,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dramatheatre/foundationtile1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{726,708},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dramatheatre/foundationtile2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,43}</string>
                <key>spriteSourceSize</key>
                <string>{40,43}</string>
                <key>textureRect</key>
                <string>{{726,752},{40,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dramatheatre/light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,60}</string>
                <key>spriteSourceSize</key>
                <string>{22,60}</string>
                <key>textureRect</key>
                <string>{{725,141},{22,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dramatheatre/pillar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,345}</string>
                <key>spriteSourceSize</key>
                <string>{75,345}</string>
                <key>textureRect</key>
                <string>{{704,361},{75,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dramatheatre/rock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,39}</string>
                <key>spriteSourceSize</key>
                <string>{71,39}</string>
                <key>textureRect</key>
                <string>{{725,1},{71,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dramatheatre/rooftile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{632,812},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dramatheatre/stairs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,382}</string>
                <key>spriteSourceSize</key>
                <string>{448,382}</string>
                <key>textureRect</key>
                <string>{{1,361},{448,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dramatheatre/stool.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,57}</string>
                <key>spriteSourceSize</key>
                <string>{55,57}</string>
                <key>textureRect</key>
                <string>{{698,812},{55,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dramatheatre/table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,119}</string>
                <key>spriteSourceSize</key>
                <string>{153,119}</string>
                <key>textureRect</key>
                <string>{{511,739},{153,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dramatheatre.png</string>
            <key>size</key>
            <string>{780,903}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cb70de09c0ca1255cede12d26e94bf0:ecbd9543c587043113e2b490047c444b:3d311a994ba201f7e4939f9279aa2d08$</string>
            <key>textureFileName</key>
            <string>dramatheatre.png</string>
        </dict>
    </dict>
</plist>
