<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_chair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,441}</string>
                <key>spriteSourceSize</key>
                <string>{351,441}</string>
                <key>textureRect</key>
                <string>{{1653,1285},{351,441}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,87}</string>
                <key>spriteSourceSize</key>
                <string>{188,87}</string>
                <key>textureRect</key>
                <string>{{1555,187},{188,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_fruit_basket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,92}</string>
                <key>spriteSourceSize</key>
                <string>{184,92}</string>
                <key>textureRect</key>
                <string>{{1555,1},{184,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_island.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,31}</string>
                <key>spriteSourceSize</key>
                <string>{260,31}</string>
                <key>textureRect</key>
                <string>{{554,1989},{260,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_pillar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,551}</string>
                <key>spriteSourceSize</key>
                <string>{141,551}</string>
                <key>textureRect</key>
                <string>{{1,1877},{141,551}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_rays.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{957,958}</string>
                <key>spriteSourceSize</key>
                <string>{967,966}</string>
                <key>textureRect</key>
                <string>{{1,1},{957,958}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_seabed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1282,348}</string>
                <key>spriteSourceSize</key>
                <string>{1282,348}</string>
                <key>textureRect</key>
                <string>{{1653,1},{1282,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_steps.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{813,196}</string>
                <key>spriteSourceSize</key>
                <string>{813,196}</string>
                <key>textureRect</key>
                <string>{{833,1811},{813,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_stool1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,142}</string>
                <key>spriteSourceSize</key>
                <string>{201,142}</string>
                <key>textureRect</key>
                <string>{{1648,1811},{201,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_stool2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,135}</string>
                <key>spriteSourceSize</key>
                <string>{201,135}</string>
                <key>textureRect</key>
                <string>{{1792,1728},{201,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_treasure_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{609,314}</string>
                <key>spriteSourceSize</key>
                <string>{609,314}</string>
                <key>textureRect</key>
                <string>{{960,583},{609,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{829,848}</string>
                <key>spriteSourceSize</key>
                <string>{829,848}</string>
                <key>textureRect</key>
                <string>{{822,961},{829,848}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_tree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{819,914}</string>
                <key>spriteSourceSize</key>
                <string>{819,914}</string>
                <key>textureRect</key>
                <string>{{1,961},{819,914}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_tree3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,593}</string>
                <key>spriteSourceSize</key>
                <string>{580,593}</string>
                <key>textureRect</key>
                <string>{{960,1},{580,593}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_tree4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,153}</string>
                <key>spriteSourceSize</key>
                <string>{138,153}</string>
                <key>textureRect</key>
                <string>{{1792,1865},{138,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_vase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,277}</string>
                <key>spriteSourceSize</key>
                <string>{110,277}</string>
                <key>textureRect</key>
                <string>{{554,1877},{110,277}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Binti2.png</string>
            <key>size</key>
            <string>{2005,2021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85ad0945879134ab390a38defd69df57:08db5e079e92113c3c0566fb50a3f265:4af589d8859169ed0b6e854e916ba6b8$</string>
            <key>textureFileName</key>
            <string>Binti2.png</string>
        </dict>
    </dict>
</plist>
