<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>camp/camp3/main_tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{1188,1060}</string>
                <key>spriteSourceSize</key>
                <string>{1190,1066}</string>
                <key>textureRect</key>
                <string>{{1,1},{1188,1060}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>camp3.png</string>
            <key>size</key>
            <string>{1190,1062}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2dc276aa7c404436da9d467e3ba046ef:ce1d73348aed6148a3aa6bbd69e9300c:2ca8662154cc215b3a963a35fb84627f$</string>
            <key>textureFileName</key>
            <string>camp3.png</string>
        </dict>
    </dict>
</plist>
