<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stackhero/bgreflection.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{620,394}</string>
                <key>spriteSourceSize</key>
                <string>{620,394}</string>
                <key>textureRect</key>
                <string>{{1,1},{620,394}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stackhero/bgseal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,163}</string>
                <key>spriteSourceSize</key>
                <string>{283,163}</string>
                <key>textureRect</key>
                <string>{{143,688},{283,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stackhero/board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,109}</string>
                <key>spriteSourceSize</key>
                <string>{181,109}</string>
                <key>textureRect</key>
                <string>{{308,768},{181,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stackhero/container.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,188}</string>
                <key>spriteSourceSize</key>
                <string>{140,188}</string>
                <key>textureRect</key>
                <string>{{1,768},{140,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stackhero/containerbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,111}</string>
                <key>spriteSourceSize</key>
                <string>{131,111}</string>
                <key>textureRect</key>
                <string>{{1,623},{131,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stackhero/fillpipe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,259}</string>
                <key>spriteSourceSize</key>
                <string>{37,259}</string>
                <key>textureRect</key>
                <string>{{397,253},{37,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stackhero/fillpipebar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,21}</string>
                <key>spriteSourceSize</key>
                <string>{238,21}</string>
                <key>textureRect</key>
                <string>{{436,253},{238,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stackhero/pipeconnector.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,21}</string>
                <key>spriteSourceSize</key>
                <string>{25,21}</string>
                <key>textureRect</key>
                <string>{{435,521},{25,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stackhero/suckpipe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,273}</string>
                <key>spriteSourceSize</key>
                <string>{63,273}</string>
                <key>textureRect</key>
                <string>{{114,623},{63,273}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stackhero/suckpipebar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,36}</string>
                <key>spriteSourceSize</key>
                <string>{252,36}</string>
                <key>textureRect</key>
                <string>{{397,514},{252,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stackhero/tray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,48}</string>
                <key>spriteSourceSize</key>
                <string>{80,48}</string>
                <key>textureRect</key>
                <string>{{397,171},{80,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stackhero/trayfill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,73}</string>
                <key>spriteSourceSize</key>
                <string>{30,73}</string>
                <key>textureRect</key>
                <string>{{308,688},{30,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stackhero/treadmill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,49}</string>
                <key>spriteSourceSize</key>
                <string>{168,49}</string>
                <key>textureRect</key>
                <string>{{397,1},{168,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stackhero/treadmillrun1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,23}</string>
                <key>spriteSourceSize</key>
                <string>{26,23}</string>
                <key>textureRect</key>
                <string>{{114,688},{26,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stackhero/treadmillrun2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,21}</string>
                <key>spriteSourceSize</key>
                <string>{26,21}</string>
                <key>textureRect</key>
                <string>{{436,493},{26,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stackhero/treadmillwheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{419,768},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stackhero.png</string>
            <key>size</key>
            <string>{458,972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53620a65002d5eb4cf7872a31cb31ea0:c889447b49a71d737f1de803c85f7a95:8adf46cc91576c735130b1f8f940d74b$</string>
            <key>textureFileName</key>
            <string>stackhero.png</string>
        </dict>
    </dict>
</plist>
