<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ordercandy/box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,33}</string>
                <key>spriteSourceSize</key>
                <string>{181,33}</string>
                <key>textureRect</key>
                <string>{{211,357},{181,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ordercandy/candy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,17}</string>
                <key>spriteSourceSize</key>
                <string>{16,17}</string>
                <key>textureRect</key>
                <string>{{802,163},{16,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ordercandy/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,51}</string>
                <key>spriteSourceSize</key>
                <string>{130,51}</string>
                <key>textureRect</key>
                <string>{{211,392},{130,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ordercandy/cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,46}</string>
                <key>spriteSourceSize</key>
                <string>{152,46}</string>
                <key>textureRect</key>
                <string>{{211,445},{152,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ordercandy/cloud3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,101}</string>
                <key>spriteSourceSize</key>
                <string>{208,101}</string>
                <key>textureRect</key>
                <string>{{1,357},{208,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ordercandy/fluffy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,136}</string>
                <key>spriteSourceSize</key>
                <string>{155,136}</string>
                <key>textureRect</key>
                <string>{{394,357},{155,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ordercandy/ground1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{790,145}</string>
                <key>spriteSourceSize</key>
                <string>{790,145}</string>
                <key>textureRect</key>
                <string>{{1,210},{790,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ordercandy/ground2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{799,207}</string>
                <key>spriteSourceSize</key>
                <string>{799,207}</string>
                <key>textureRect</key>
                <string>{{1,1},{799,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ordercandy/hill_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,160}</string>
                <key>spriteSourceSize</key>
                <string>{147,160}</string>
                <key>textureRect</key>
                <string>{{802,1},{147,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ordercandy/mountain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,176}</string>
                <key>spriteSourceSize</key>
                <string>{245,176}</string>
                <key>textureRect</key>
                <string>{{793,210},{245,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ordercandy.png</string>
            <key>size</key>
            <string>{970,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4eb976f9fa87d9a156eec514da2e236:cbd0a329e5cdb6e1ad8b33b70fe22127:46fc79660393671ddb2a46499257fff4$</string>
            <key>textureFileName</key>
            <string>ordercandy.png</string>
        </dict>
    </dict>
</plist>
