<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wembleylevel/Stadium_1-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,80}</string>
                <key>spriteSourceSize</key>
                <string>{81,80}</string>
                <key>textureRect</key>
                <string>{{532,154},{81,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wembleylevel/Stadium_1-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,203}</string>
                <key>spriteSourceSize</key>
                <string>{143,203}</string>
                <key>textureRect</key>
                <string>{{341,1},{143,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wembleylevel/Stadium_1-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,75}</string>
                <key>spriteSourceSize</key>
                <string>{144,75}</string>
                <key>textureRect</key>
                <string>{{341,146},{144,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wembleylevel/Stadium_1-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,236}</string>
                <key>spriteSourceSize</key>
                <string>{338,236}</string>
                <key>textureRect</key>
                <string>{{1,1},{338,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wembleylevel/Stadium_1-06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,26}</string>
                <key>spriteSourceSize</key>
                <string>{85,26}</string>
                <key>textureRect</key>
                <string>{{487,146},{85,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wembleylevel/Stadium_1-07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,15}</string>
                <key>spriteSourceSize</key>
                <string>{44,15}</string>
                <key>textureRect</key>
                <string>{{515,146},{44,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wembleylevel/ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,151}</string>
                <key>spriteSourceSize</key>
                <string>{151,151}</string>
                <key>textureRect</key>
                <string>{{546,1},{151,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wembleylevel.png</string>
            <key>size</key>
            <string>{698,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c1c9ef3124f30ae9ffba66a6656559b:ad0cf3c67f1a7f32615b2fab6e1a57db:042ba1d7b292f5658f0c62724295e48d$</string>
            <key>textureFileName</key>
            <string>wembleylevel.png</string>
        </dict>
    </dict>
</plist>
