<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card/board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,152}</string>
                <key>spriteSourceSize</key>
                <string>{341,152}</string>
                <key>textureRect</key>
                <string>{{376,1},{341,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card/box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,373}</string>
                <key>spriteSourceSize</key>
                <string>{372,373}</string>
                <key>textureRect</key>
                <string>{{1,1},{372,373}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card/cow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,93}</string>
                <key>spriteSourceSize</key>
                <string>{92,93}</string>
                <key>textureRect</key>
                <string>{{530,269},{92,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card/dog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,80}</string>
                <key>spriteSourceSize</key>
                <string>{88,80}</string>
                <key>textureRect</key>
                <string>{{624,262},{88,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card/done.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{703,172},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card/hen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,84}</string>
                <key>spriteSourceSize</key>
                <string>{88,84}</string>
                <key>textureRect</key>
                <string>{{617,172},{88,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card/pig.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,95}</string>
                <key>spriteSourceSize</key>
                <string>{85,95}</string>
                <key>textureRect</key>
                <string>{{530,172},{85,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card/sheep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,74}</string>
                <key>spriteSourceSize</key>
                <string>{93,74}</string>
                <key>textureRect</key>
                <string>{{744,1},{93,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card/todo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{706,254},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card/wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,169}</string>
                <key>spriteSourceSize</key>
                <string>{212,169}</string>
                <key>textureRect</key>
                <string>{{530,1},{212,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{819,374}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99606fabc73b8031699eae7acff4deae:dc9f3ab636e80c56f061f54e20badbb5:7c7a40e17f66f6454f208738c2110e7c$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
