<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/Lion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1044,901}</string>
                <key>spriteSourceSize</key>
                <string>{1044,901}</string>
                <key>textureRect</key>
                <string>{{1,2518},{1044,901}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/anannsi_jug.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{494,464}</string>
                <key>spriteSourceSize</key>
                <string>{604,464}</string>
                <key>textureRect</key>
                <string>{{124,2019},{494,464}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/anansi_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{962,355}</string>
                <key>spriteSourceSize</key>
                <string>{962,355}</string>
                <key>textureRect</key>
                <string>{{904,2518},{962,355}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/anansi_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{648,260}</string>
                <key>spriteSourceSize</key>
                <string>{648,260}</string>
                <key>textureRect</key>
                <string>{{2251,2538},{648,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/anansi_coin1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{386,385}</string>
                <key>spriteSourceSize</key>
                <string>{386,385}</string>
                <key>textureRect</key>
                <string>{{3062,436},{386,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/anansi_coin2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{386,385}</string>
                <key>spriteSourceSize</key>
                <string>{386,385}</string>
                <key>textureRect</key>
                <string>{{2944,3328},{386,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/anansi_coin3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{386,386}</string>
                <key>spriteSourceSize</key>
                <string>{386,386}</string>
                <key>textureRect</key>
                <string>{{3453,339},{386,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/anansi_grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1271,330}</string>
                <key>spriteSourceSize</key>
                <string>{1271,330}</string>
                <key>textureRect</key>
                <string>{{1789,436},{1271,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/anansi_grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,336}</string>
                <key>spriteSourceSize</key>
                <string>{390,336}</string>
                <key>textureRect</key>
                <string>{{3453,1},{390,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/anansi_leaf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,200}</string>
                <key>spriteSourceSize</key>
                <string>{358,200}</string>
                <key>textureRect</key>
                <string>{{3332,3416},{358,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/anansi_stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,95}</string>
                <key>spriteSourceSize</key>
                <string>{141,95}</string>
                <key>textureRect</key>
                <string>{{1261,3377},{141,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/anansi_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1764,1786}</string>
                <key>spriteSourceSize</key>
                <string>{1764,1786}</string>
                <key>textureRect</key>
                <string>{{1,1},{1764,1786}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/anansi_tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,521}</string>
                <key>spriteSourceSize</key>
                <string>{484,521}</string>
                <key>textureRect</key>
                <string>{{1,3564},{484,521}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/arm_hand_left1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,105}</string>
                <key>spriteSourceSize</key>
                <string>{68,105}</string>
                <key>textureRect</key>
                <string>{{2121,3369},{68,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/arm_lower_right2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,220}</string>
                <key>spriteSourceSize</key>
                <string>{48,220}</string>
                <key>textureRect</key>
                <string>{{758,1767},{48,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/arm_upper_left1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,262}</string>
                <key>spriteSourceSize</key>
                <string>{55,262}</string>
                <key>textureRect</key>
                <string>{{63,2199},{55,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/beard_baba1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{854,451}</string>
                <key>spriteSourceSize</key>
                <string>{854,451}</string>
                <key>textureRect</key>
                <string>{{590,2019},{854,451}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/bee_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,356}</string>
                <key>spriteSourceSize</key>
                <string>{184,356}</string>
                <key>textureRect</key>
                <string>{{1087,1767},{184,356}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/bee_body1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{609,857}</string>
                <key>spriteSourceSize</key>
                <string>{609,857}</string>
                <key>textureRect</key>
                <string>{{1261,2518},{609,857}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/bee_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,93}</string>
                <key>spriteSourceSize</key>
                <string>{94,93}</string>
                <key>textureRect</key>
                <string>{{3450,727},{94,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/bee_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,127}</string>
                <key>spriteSourceSize</key>
                <string>{66,127}</string>
                <key>textureRect</key>
                <string>{{2948,2019},{66,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/bee_wings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,137}</string>
                <key>spriteSourceSize</key>
                <string>{110,137}</string>
                <key>textureRect</key>
                <string>{{1,2060},{110,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/body_female.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{434,559}</string>
                <key>spriteSourceSize</key>
                <string>{436,559}</string>
                <key>textureRect</key>
                <string>{{2300,2800},{434,559}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/boy_nose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{538,426}</string>
                <key>spriteSourceSize</key>
                <string>{546,426}</string>
                <key>textureRect</key>
                <string>{{1872,2829},{538,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/eye_girl_outer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,24}</string>
                <key>spriteSourceSize</key>
                <string>{115,24}</string>
                <key>textureRect</key>
                <string>{{3825,2187},{115,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/eyebrow_girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,39}</string>
                <key>spriteSourceSize</key>
                <string>{121,39}</string>
                <key>textureRect</key>
                <string>{{1,2476},{121,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/face 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{652,526}</string>
                <key>spriteSourceSize</key>
                <string>{652,526}</string>
                <key>textureRect</key>
                <string>{{2736,2800},{652,526}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{815,680}</string>
                <key>spriteSourceSize</key>
                <string>{815,680}</string>
                <key>textureRect</key>
                <string>{{3040,823},{815,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_face1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{577,662}</string>
                <key>spriteSourceSize</key>
                <string>{577,662}</string>
                <key>textureRect</key>
                <string>{{2365,3361},{577,662}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,76}</string>
                <key>textureRect</key>
                <string>{{1087,1953},{50,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,76}</string>
                <key>textureRect</key>
                <string>{{1087,1953},{50,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,172}</string>
                <key>spriteSourceSize</key>
                <string>{28,172}</string>
                <key>textureRect</key>
                <string>{{3825,1943},{28,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_lower_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,172}</string>
                <key>spriteSourceSize</key>
                <string>{28,172}</string>
                <key>textureRect</key>
                <string>{{3825,1943},{28,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,105}</string>
                <key>spriteSourceSize</key>
                <string>{22,105}</string>
                <key>textureRect</key>
                <string>{{3825,2304},{22,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_lower_leg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,105}</string>
                <key>spriteSourceSize</key>
                <string>{22,105}</string>
                <key>textureRect</key>
                <string>{{3825,2304},{22,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,135}</string>
                <key>spriteSourceSize</key>
                <string>{66,135}</string>
                <key>textureRect</key>
                <string>{{2228,3369},{66,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_neck1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,135}</string>
                <key>spriteSourceSize</key>
                <string>{66,135}</string>
                <key>textureRect</key>
                <string>{{2228,3369},{66,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_shoe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,21}</string>
                <key>spriteSourceSize</key>
                <string>{105,21}</string>
                <key>textureRect</key>
                <string>{{3825,2411},{105,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_shoe1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,21}</string>
                <key>spriteSourceSize</key>
                <string>{105,21}</string>
                <key>textureRect</key>
                <string>{{3825,2411},{105,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_skirt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,248}</string>
                <key>spriteSourceSize</key>
                <string>{273,248}</string>
                <key>textureRect</key>
                <string>{{1,1767},{273,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_sleeve1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,26}</string>
                <key>spriteSourceSize</key>
                <string>{68,26}</string>
                <key>textureRect</key>
                <string>{{3825,2117},{68,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_top1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,277}</string>
                <key>spriteSourceSize</key>
                <string>{203,277}</string>
                <key>textureRect</key>
                <string>{{808,1767},{203,277}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,177}</string>
                <key>spriteSourceSize</key>
                <string>{28,177}</string>
                <key>textureRect</key>
                <string>{{3825,1764},{28,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_upper_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,177}</string>
                <key>spriteSourceSize</key>
                <string>{28,177}</string>
                <key>textureRect</key>
                <string>{{3825,1764},{28,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,89}</string>
                <key>spriteSourceSize</key>
                <string>{21,89}</string>
                <key>textureRect</key>
                <string>{{3545,727},{21,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/girl_upper_leg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,89}</string>
                <key>spriteSourceSize</key>
                <string>{21,89}</string>
                <key>textureRect</key>
                <string>{{3545,727},{21,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/hair_bun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{969,783}</string>
                <key>spriteSourceSize</key>
                <string>{969,783}</string>
                <key>textureRect</key>
                <string>{{3040,1505},{969,783}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/housewife_pelvis_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,521}</string>
                <key>spriteSourceSize</key>
                <string>{432,521}</string>
                <key>textureRect</key>
                <string>{{3390,2476},{432,521}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/housewife_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,590}</string>
                <key>spriteSourceSize</key>
                <string>{450,590}</string>
                <key>textureRect</key>
                <string>{{1368,3474},{450,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/jubba_orange_hip1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,467}</string>
                <key>spriteSourceSize</key>
                <string>{420,467}</string>
                <key>textureRect</key>
                <string>{{524,3564},{420,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/jubba_orange_shirt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,582}</string>
                <key>spriteSourceSize</key>
                <string>{420,582}</string>
                <key>textureRect</key>
                <string>{{946,3482},{420,582}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/leg_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,173}</string>
                <key>spriteSourceSize</key>
                <string>{151,173}</string>
                <key>textureRect</key>
                <string>{{1770,2019},{151,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/leg_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,306}</string>
                <key>spriteSourceSize</key>
                <string>{179,306}</string>
                <key>textureRect</key>
                <string>{{3322,3715},{179,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/leg_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,480}</string>
                <key>spriteSourceSize</key>
                <string>{237,480}</string>
                <key>textureRect</key>
                <string>{{276,1767},{237,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/lightbrown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,101}</string>
                <key>spriteSourceSize</key>
                <string>{43,101}</string>
                <key>textureRect</key>
                <string>{{739,2472},{43,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/motu_pant_hip1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,415}</string>
                <key>spriteSourceSize</key>
                <string>{415,415}</string>
                <key>textureRect</key>
                <string>{{3390,2999},{415,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/motu_pant_lower_left1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,96}</string>
                <key>spriteSourceSize</key>
                <string>{30,96}</string>
                <key>textureRect</key>
                <string>{{3825,1666},{30,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/motu_pant_upper_left1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,147}</string>
                <key>spriteSourceSize</key>
                <string>{36,147}</string>
                <key>textureRect</key>
                <string>{{590,2476},{36,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/motu_shirt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,586}</string>
                <key>spriteSourceSize</key>
                <string>{429,586}</string>
                <key>textureRect</key>
                <string>{{1820,3457},{429,586}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/motu_shoes_left1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,33}</string>
                <key>spriteSourceSize</key>
                <string>{159,33}</string>
                <key>textureRect</key>
                <string>{{3825,1505},{159,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/mouth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,83}</string>
                <key>spriteSourceSize</key>
                <string>{272,83}</string>
                <key>textureRect</key>
                <string>{{3568,727},{272,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/mouth_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,108}</string>
                <key>spriteSourceSize</key>
                <string>{253,108}</string>
                <key>textureRect</key>
                <string>{{2251,3437},{253,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/sadmouth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,60}</string>
                <key>spriteSourceSize</key>
                <string>{269,60}</string>
                <key>textureRect</key>
                <string>{{1,2199},{269,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/snake.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{517,695}</string>
                <key>spriteSourceSize</key>
                <string>{517,695}</string>
                <key>textureRect</key>
                <string>{{2251,2019},{517,695}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/spider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{433,1662}</string>
                <key>spriteSourceSize</key>
                <string>{433,1662}</string>
                <key>textureRect</key>
                <string>{{1789,1},{433,1662}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1249,1249}</string>
                <key>spriteSourceSize</key>
                <string>{1249,1249}</string>
                <key>textureRect</key>
                <string>{{1789,768},{1249,1249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/woman_armbottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{41,117}</string>
                <key>spriteSourceSize</key>
                <string>{69,117}</string>
                <key>textureRect</key>
                <string>{{1,2017},{41,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/woman_armtop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{48,193}</string>
                <key>spriteSourceSize</key>
                <string>{88,193}</string>
                <key>textureRect</key>
                <string>{{1165,1953},{48,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/woman_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,377}</string>
                <key>spriteSourceSize</key>
                <string>{312,377}</string>
                <key>textureRect</key>
                <string>{{1872,2515},{312,377}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/woman_skirt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,376}</string>
                <key>spriteSourceSize</key>
                <string>{312,376}</string>
                <key>textureRect</key>
                <string>{{2944,3715},{312,376}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/woman_skirt2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{314,376}</string>
                <key>spriteSourceSize</key>
                <string>{348,376}</string>
                <key>textureRect</key>
                <string>{{2948,2476},{314,376}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/woman_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,425}</string>
                <key>spriteSourceSize</key>
                <string>{322,425}</string>
                <key>textureRect</key>
                <string>{{1446,1767},{322,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/woman_top1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,426}</string>
                <key>spriteSourceSize</key>
                <string>{319,426}</string>
                <key>textureRect</key>
                <string>{{1446,2194},{319,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/woman_top2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,348}</string>
                <key>spriteSourceSize</key>
                <string>{319,348}</string>
                <key>textureRect</key>
                <string>{{1874,2194},{319,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor/wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,715}</string>
                <key>spriteSourceSize</key>
                <string>{78,715}</string>
                <key>textureRect</key>
                <string>{{1404,3377},{78,715}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor.png</string>
            <key>size</key>
            <string>{3859,4065}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e5345c50973b12dbd304e45491710ba:0caae325641a5b49ee534e8300b922fa:93216ff89832cb741597aeea3344904d$</string>
            <key>textureFileName</key>
            <string>Anansi_awapa_watu_hadithi_Anansi_gives_people_stor.png</string>
        </dict>
    </dict>
</plist>
