<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>balloonfarm/balloon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,284}</string>
                <key>spriteSourceSize</key>
                <string>{228,284}</string>
                <key>textureRect</key>
                <string>{{1504,240},{228,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonfarm/ban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,351}</string>
                <key>spriteSourceSize</key>
                <string>{512,351}</string>
                <key>textureRect</key>
                <string>{{586,1},{512,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{443,166}</string>
                <key>spriteSourceSize</key>
                <string>{443,166}</string>
                <key>textureRect</key>
                <string>{{1877,1},{443,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonfarm/cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,168}</string>
                <key>spriteSourceSize</key>
                <string>{402,168}</string>
                <key>textureRect</key>
                <string>{{1100,197},{402,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/hill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,69}</string>
                <key>spriteSourceSize</key>
                <string>{583,69}</string>
                <key>textureRect</key>
                <string>{{1,1},{583,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/legbone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,43}</string>
                <key>spriteSourceSize</key>
                <string>{16,43}</string>
                <key>textureRect</key>
                <string>{{341,373},{16,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/lightning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,109}</string>
                <key>spriteSourceSize</key>
                <string>{69,109}</string>
                <key>textureRect</key>
                <string>{{2045,400},{69,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/pigbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-23}</string>
                <key>spriteSize</key>
                <string>{220,111}</string>
                <key>spriteSourceSize</key>
                <string>{220,157}</string>
                <key>textureRect</key>
                <string>{{872,354},{220,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/pighead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,116}</string>
                <key>spriteSourceSize</key>
                <string>{104,116}</string>
                <key>textureRect</key>
                <string>{{1376,367},{104,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/pigleg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,64}</string>
                <key>spriteSourceSize</key>
                <string>{33,64}</string>
                <key>textureRect</key>
                <string>{{534,72},{33,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/pigleg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,64}</string>
                <key>spriteSourceSize</key>
                <string>{33,64}</string>
                <key>textureRect</key>
                <string>{{534,138},{33,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,62}</string>
                <key>spriteSourceSize</key>
                <string>{397,62}</string>
                <key>textureRect</key>
                <string>{{2045,1},{397,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonfarm/shock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,237}</string>
                <key>spriteSourceSize</key>
                <string>{315,237}</string>
                <key>textureRect</key>
                <string>{{1560,1},{315,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/skeleton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,83}</string>
                <key>spriteSourceSize</key>
                <string>{221,83}</string>
                <key>textureRect</key>
                <string>{{1790,240},{221,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonfarm/tractor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,299}</string>
                <key>spriteSourceSize</key>
                <string>{360,299}</string>
                <key>textureRect</key>
                <string>{{1,72},{360,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/wordballoon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,127}</string>
                <key>spriteSourceSize</key>
                <string>{338,127}</string>
                <key>textureRect</key>
                <string>{{1,373},{338,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/wrongballoon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,116}</string>
                <key>spriteSourceSize</key>
                <string>{280,116}</string>
                <key>textureRect</key>
                <string>{{1094,367},{280,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/wrongballoon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,139}</string>
                <key>spriteSourceSize</key>
                <string>{336,139}</string>
                <key>textureRect</key>
                <string>{{534,354},{336,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/wrongballoon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,169}</string>
                <key>spriteSourceSize</key>
                <string>{398,169}</string>
                <key>textureRect</key>
                <string>{{363,72},{398,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonfarm/wrongballoon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{458,194}</string>
                <key>spriteSourceSize</key>
                <string>{458,194}</string>
                <key>textureRect</key>
                <string>{{1100,1},{458,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>balloonfarm.png</string>
            <key>size</key>
            <string>{2115,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb837489259c2d48096564cddc335c12:a21608be854a229b1d3db27cae59387d:2e3afb85e463d7d3c3e891dc899c9b3e$</string>
            <key>textureFileName</key>
            <string>balloonfarm.png</string>
        </dict>
    </dict>
</plist>
