<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fisi_mlafi/barber_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{803,1034},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/barber_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,48}</string>
                <key>spriteSourceSize</key>
                <string>{15,48}</string>
                <key>textureRect</key>
                <string>{{980,640},{15,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/barber_pant_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,48}</string>
                <key>spriteSourceSize</key>
                <string>{15,48}</string>
                <key>textureRect</key>
                <string>{{980,690},{15,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/barber_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,74}</string>
                <key>spriteSourceSize</key>
                <string>{18,74}</string>
                <key>textureRect</key>
                <string>{{859,864},{18,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fisi_mlafi/barber_pant_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,74}</string>
                <key>spriteSourceSize</key>
                <string>{18,74}</string>
                <key>textureRect</key>
                <string>{{962,1583},{18,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/barber_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,292}</string>
                <key>spriteSourceSize</key>
                <string>{215,292}</string>
                <key>textureRect</key>
                <string>{{536,817},{215,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fisi_mlafi/barber_shirt_sleave_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{979,482},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/boy_arm_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,53}</string>
                <key>spriteSourceSize</key>
                <string>{34,53}</string>
                <key>textureRect</key>
                <string>{{748,1335},{34,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fisi_mlafi/boy_ear_round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,88}</string>
                <key>spriteSourceSize</key>
                <string>{69,88}</string>
                <key>textureRect</key>
                <string>{{907,2114},{69,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fisi_mlafi/boy_eyebrow_boy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,32}</string>
                <key>spriteSourceSize</key>
                <string>{55,32}</string>
                <key>textureRect</key>
                <string>{{830,970},{55,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fisi_mlafi/boy_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,340}</string>
                <key>spriteSourceSize</key>
                <string>{408,340}</string>
                <key>textureRect</key>
                <string>{{603,1},{408,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/boy_hair_Burr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,239}</string>
                <key>spriteSourceSize</key>
                <string>{374,239}</string>
                <key>textureRect</key>
                <string>{{603,343},{374,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/boy_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,38}</string>
                <key>spriteSourceSize</key>
                <string>{25,38}</string>
                <key>textureRect</key>
                <string>{{979,544},{25,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/boy_lightbrown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,51}</string>
                <key>spriteSourceSize</key>
                <string>{22,51}</string>
                <key>textureRect</key>
                <string>{{571,510},{22,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/boy_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,86}</string>
                <key>spriteSourceSize</key>
                <string>{14,86}</string>
                <key>textureRect</key>
                <string>{{946,1583},{14,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/boy_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,76}</string>
                <key>spriteSourceSize</key>
                <string>{39,76}</string>
                <key>textureRect</key>
                <string>{{631,1679},{39,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fisi_mlafi/boy_nose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,213}</string>
                <key>spriteSourceSize</key>
                <string>{273,213}</string>
                <key>textureRect</key>
                <string>{{420,1793},{271,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fisi_mlafi/boy_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,89}</string>
                <key>spriteSourceSize</key>
                <string>{14,89}</string>
                <key>textureRect</key>
                <string>{{997,2114},{14,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/deer_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,231}</string>
                <key>spriteSourceSize</key>
                <string>{321,231}</string>
                <key>textureRect</key>
                <string>{{536,584},{321,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/deer_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{378,1498},{39,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fisi_mlafi/deer_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{533,523}</string>
                <key>spriteSourceSize</key>
                <string>{533,523}</string>
                <key>textureRect</key>
                <string>{{1,510},{533,523}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/deer_lower_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,75}</string>
                <key>spriteSourceSize</key>
                <string>{24,75}</string>
                <key>textureRect</key>
                <string>{{569,2066},{24,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/deer_lower_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,75}</string>
                <key>spriteSourceSize</key>
                <string>{24,75}</string>
                <key>textureRect</key>
                <string>{{593,1396},{24,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/deer_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,104}</string>
                <key>spriteSourceSize</key>
                <string>{90,104}</string>
                <key>textureRect</key>
                <string>{{907,2022},{90,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fisi_mlafi/deer_upper_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,68}</string>
                <key>spriteSourceSize</key>
                <string>{27,68}</string>
                <key>textureRect</key>
                <string>{{748,1371},{27,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/deer_upper_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,69}</string>
                <key>spriteSourceSize</key>
                <string>{27,69}</string>
                <key>textureRect</key>
                <string>{{830,817},{27,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/farmer_coat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,293}</string>
                <key>spriteSourceSize</key>
                <string>{209,293}</string>
                <key>textureRect</key>
                <string>{{420,1498},{209,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/farmer_darkbrown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,51}</string>
                <key>spriteSourceSize</key>
                <string>{22,51}</string>
                <key>textureRect</key>
                <string>{{777,1371},{22,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/farmer_ear_round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,88}</string>
                <key>spriteSourceSize</key>
                <string>{69,88}</string>
                <key>textureRect</key>
                <string>{{907,2114},{69,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fisi_mlafi/farmer_eyebrow_boy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,32}</string>
                <key>spriteSourceSize</key>
                <string>{55,32}</string>
                <key>textureRect</key>
                <string>{{830,970},{55,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fisi_mlafi/farmer_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,340}</string>
                <key>spriteSourceSize</key>
                <string>{408,340}</string>
                <key>textureRect</key>
                <string>{{603,1},{408,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/farmer_hair_curl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,375}</string>
                <key>spriteSourceSize</key>
                <string>{548,375}</string>
                <key>textureRect</key>
                <string>{{1,1035},{548,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fisi_mlafi/farmer_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,38}</string>
                <key>spriteSourceSize</key>
                <string>{25,38}</string>
                <key>textureRect</key>
                <string>{{979,544},{25,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/farmer_mouth_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,54}</string>
                <key>spriteSourceSize</key>
                <string>{127,54}</string>
                <key>textureRect</key>
                <string>{{946,1454},{127,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fisi_mlafi/farmer_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,68}</string>
                <key>spriteSourceSize</key>
                <string>{33,68}</string>
                <key>textureRect</key>
                <string>{{536,510},{33,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/farmer_nose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,213}</string>
                <key>spriteSourceSize</key>
                <string>{273,213}</string>
                <key>textureRect</key>
                <string>{{420,1793},{271,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fisi_mlafi/farmer_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{803,1244},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/farmer_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,54}</string>
                <key>spriteSourceSize</key>
                <string>{15,54}</string>
                <key>textureRect</key>
                <string>{{982,1583},{15,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/farmer_pant_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,54}</string>
                <key>spriteSourceSize</key>
                <string>{15,54}</string>
                <key>textureRect</key>
                <string>{{980,584},{15,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/farmer_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,74}</string>
                <key>spriteSourceSize</key>
                <string>{18,74}</string>
                <key>textureRect</key>
                <string>{{595,2066},{18,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/farmer_pant_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,74}</string>
                <key>spriteSourceSize</key>
                <string>{18,74}</string>
                <key>textureRect</key>
                <string>{{615,2066},{18,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/farmer_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,299}</string>
                <key>spriteSourceSize</key>
                <string>{208,299}</string>
                <key>textureRect</key>
                <string>{{593,1034},{208,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/farmer_shirt_sleave_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,59}</string>
                <key>spriteSourceSize</key>
                <string>{36,59}</string>
                <key>textureRect</key>
                <string>{{593,1335},{36,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/farmer_shirt_sleave_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,137}</string>
                <key>spriteSourceSize</key>
                <string>{31,137}</string>
                <key>textureRect</key>
                <string>{{979,343},{31,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/farmer_shoe_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,17}</string>
                <key>spriteSourceSize</key>
                <string>{80,17}</string>
                <key>textureRect</key>
                <string>{{830,888},{80,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fisi_mlafi/farmer_shoe_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,17}</string>
                <key>spriteSourceSize</key>
                <string>{80,17}</string>
                <key>textureRect</key>
                <string>{{830,888},{80,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fisi_mlafi/fence3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,467}</string>
                <key>spriteSourceSize</key>
                <string>{117,467}</string>
                <key>textureRect</key>
                <string>{{301,1585},{117,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/fire1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-43}</string>
                <key>spriteSize</key>
                <string>{113,270}</string>
                <key>spriteSourceSize</key>
                <string>{159,380}</string>
                <key>textureRect</key>
                <string>{{635,2058},{113,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fisi_mlafi/fire2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{115,342}</string>
                <key>spriteSourceSize</key>
                <string>{159,380}</string>
                <key>textureRect</key>
                <string>{{631,1335},{115,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/fire3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,7}</string>
                <key>spriteSize</key>
                <string>{117,330}</string>
                <key>spriteSourceSize</key>
                <string>{159,380}</string>
                <key>textureRect</key>
                <string>{{635,1726},{117,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/fire4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,7}</string>
                <key>spriteSize</key>
                <string>{113,330}</string>
                <key>spriteSourceSize</key>
                <string>{159,380}</string>
                <key>textureRect</key>
                <string>{{754,1726},{113,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/fire5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-35}</string>
                <key>spriteSize</key>
                <string>{119,278}</string>
                <key>spriteSourceSize</key>
                <string>{159,380}</string>
                <key>textureRect</key>
                <string>{{859,584},{119,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/fire6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-26}</string>
                <key>spriteSize</key>
                <string>{111,292}</string>
                <key>spriteSourceSize</key>
                <string>{159,380}</string>
                <key>textureRect</key>
                <string>{{1,2096},{111,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fisi_mlafi/fire7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-11}</string>
                <key>spriteSize</key>
                <string>{129,294}</string>
                <key>spriteSourceSize</key>
                <string>{159,380}</string>
                <key>textureRect</key>
                <string>{{869,1726},{129,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/fire8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-23}</string>
                <key>spriteSize</key>
                <string>{119,266}</string>
                <key>spriteSourceSize</key>
                <string>{159,380}</string>
                <key>textureRect</key>
                <string>{{301,2066},{119,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fisi_mlafi/fisi_bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,298}</string>
                <key>spriteSourceSize</key>
                <string>{509,298}</string>
                <key>textureRect</key>
                <string>{{1,1585},{509,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fisi_mlafi/fisi_fence1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,461}</string>
                <key>spriteSourceSize</key>
                <string>{213,461}</string>
                <key>textureRect</key>
                <string>{{378,1035},{213,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/fisi_fence2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,507}</string>
                <key>spriteSourceSize</key>
                <string>{600,507}</string>
                <key>textureRect</key>
                <string>{{1,1},{600,507}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fisi_mlafi/fisi_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,270}</string>
                <key>spriteSourceSize</key>
                <string>{196,270}</string>
                <key>textureRect</key>
                <string>{{748,1454},{196,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Fisi_mlafi.png</string>
            <key>size</key>
            <string>{1012,2208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15a467953133a427da72e7aea9533285:8aec07e48b73d0ad31af9072f2eb83a7:35dae80c052d26a6e96452e15039f75c$</string>
            <key>textureFileName</key>
            <string>Fisi_mlafi.png</string>
        </dict>
    </dict>
</plist>
