<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>camp_studio/Cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{597,369}</string>
                <key>spriteSourceSize</key>
                <string>{597,369}</string>
                <key>textureRect</key>
                <string>{{1,1},{597,369}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_studio/branch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,36}</string>
                <key>spriteSourceSize</key>
                <string>{125,36}</string>
                <key>textureRect</key>
                <string>{{1010,840},{125,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_studio/studio_door_close1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,340}</string>
                <key>spriteSourceSize</key>
                <string>{255,340}</string>
                <key>textureRect</key>
                <string>{{505,395},{255,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_studio/studio_door_close2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,0}</string>
                <key>spriteSize</key>
                <string>{189,340}</string>
                <key>spriteSourceSize</key>
                <string>{255,340}</string>
                <key>textureRect</key>
                <string>{{762,395},{189,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_studio/studio_door_close3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{69,0}</string>
                <key>spriteSize</key>
                <string>{117,340}</string>
                <key>spriteSourceSize</key>
                <string>{255,340}</string>
                <key>textureRect</key>
                <string>{{953,214},{117,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_studio/studio_floor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,241}</string>
                <key>spriteSourceSize</key>
                <string>{241,241}</string>
                <key>textureRect</key>
                <string>{{327,745},{241,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_studio/studio_obj1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,83}</string>
                <key>spriteSourceSize</key>
                <string>{46,83}</string>
                <key>textureRect</key>
                <string>{{1072,482},{46,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_studio/studio_obj10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{502,371}</string>
                <key>spriteSourceSize</key>
                <string>{502,371}</string>
                <key>textureRect</key>
                <string>{{1,372},{502,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_studio/studio_obj2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,69}</string>
                <key>spriteSourceSize</key>
                <string>{53,69}</string>
                <key>textureRect</key>
                <string>{{1010,878},{53,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_studio/studio_obj3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,97}</string>
                <key>spriteSourceSize</key>
                <string>{74,97}</string>
                <key>textureRect</key>
                <string>{{934,840},{74,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_studio/studio_obj4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,351}</string>
                <key>spriteSourceSize</key>
                <string>{179,351}</string>
                <key>textureRect</key>
                <string>{{600,214},{179,351}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_studio/studio_obj5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,100}</string>
                <key>spriteSourceSize</key>
                <string>{91,100}</string>
                <key>textureRect</key>
                <string>{{1072,380},{91,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_studio/studio_obj6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,330}</string>
                <key>spriteSourceSize</key>
                <string>{249,330}</string>
                <key>textureRect</key>
                <string>{{570,737},{249,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_studio/studio_obj7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,174}</string>
                <key>spriteSourceSize</key>
                <string>{99,174}</string>
                <key>textureRect</key>
                <string>{{1072,204},{99,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_studio/studio_obj8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,282}</string>
                <key>spriteSourceSize</key>
                <string>{163,282}</string>
                <key>textureRect</key>
                <string>{{953,556},{163,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_studio/studio_obj9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,396}</string>
                <key>spriteSourceSize</key>
                <string>{211,396}</string>
                <key>textureRect</key>
                <string>{{600,1},{211,396}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_studio/studio_surface.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,30}</string>
                <key>spriteSourceSize</key>
                <string>{207,30}</string>
                <key>textureRect</key>
                <string>{{902,737},{207,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_studio/studio_wall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,324}</string>
                <key>spriteSourceSize</key>
                <string>{241,324}</string>
                <key>textureRect</key>
                <string>{{1,745},{241,324}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_studio/studio_window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{201,178}</string>
                <key>spriteSourceSize</key>
                <string>{213,178}</string>
                <key>textureRect</key>
                <string>{{998,1},{201,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>camp_studio.png</string>
            <key>size</key>
            <string>{1177,987}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f05f8a997ba0b99ed684d8c21be036f3:db4976bc5967b4387c40e2b835566534:a942dbc49e0b47865ee0f4269de54913$</string>
            <key>textureFileName</key>
            <string>camp_studio.png</string>
        </dict>
    </dict>
</plist>
