<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>balloonfarm/balloon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,142}</string>
                <key>spriteSourceSize</key>
                <string>{114,142}</string>
                <key>textureRect</key>
                <string>{{183,384},{114,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonfarm/ban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,176}</string>
                <key>spriteSourceSize</key>
                <string>{256,176}</string>
                <key>textureRect</key>
                <string>{{1,1},{256,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,83}</string>
                <key>spriteSourceSize</key>
                <string>{221,83}</string>
                <key>textureRect</key>
                <string>{{232,230},{221,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,84}</string>
                <key>spriteSourceSize</key>
                <string>{201,84}</string>
                <key>textureRect</key>
                <string>{{259,144},{201,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/hill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,34}</string>
                <key>spriteSourceSize</key>
                <string>{291,34}</string>
                <key>textureRect</key>
                <string>{{183,348},{291,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/lightning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,55}</string>
                <key>spriteSourceSize</key>
                <string>{34,55}</string>
                <key>textureRect</key>
                <string>{{424,508},{34,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/pigbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{110,57}</string>
                <key>spriteSourceSize</key>
                <string>{110,79}</string>
                <key>textureRect</key>
                <string>{{312,508},{110,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/pigeonbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,29}</string>
                <key>spriteSourceSize</key>
                <string>{89,29}</string>
                <key>textureRect</key>
                <string>{{312,567},{89,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/pigeonhead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,25}</string>
                <key>spriteSourceSize</key>
                <string>{37,25}</string>
                <key>textureRect</key>
                <string>{{232,179},{37,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonfarm/pigeonwing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{36,30}</string>
                <key>textureRect</key>
                <string>{{432,315},{36,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/pighead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,58}</string>
                <key>spriteSourceSize</key>
                <string>{52,58}</string>
                <key>textureRect</key>
                <string>{{403,567},{52,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonfarm/pigleg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{312,598},{16,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonfarm/pigleg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{346,598},{16,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonfarm/shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,31}</string>
                <key>spriteSourceSize</key>
                <string>{198,31}</string>
                <key>textureRect</key>
                <string>{{232,315},{198,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/tractor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,149}</string>
                <key>spriteSourceSize</key>
                <string>{180,149}</string>
                <key>textureRect</key>
                <string>{{1,347},{180,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/wordballoon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,124}</string>
                <key>spriteSourceSize</key>
                <string>{139,124}</string>
                <key>textureRect</key>
                <string>{{171,500},{139,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/wrongballoon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,122}</string>
                <key>spriteSourceSize</key>
                <string>{140,122}</string>
                <key>textureRect</key>
                <string>{{327,384},{140,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/wrongballoon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,120}</string>
                <key>spriteSourceSize</key>
                <string>{168,120}</string>
                <key>textureRect</key>
                <string>{{1,498},{168,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/wrongballoon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,141}</string>
                <key>spriteSourceSize</key>
                <string>{199,141}</string>
                <key>textureRect</key>
                <string>{{259,1},{199,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonfarm/wrongballoon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,166}</string>
                <key>spriteSourceSize</key>
                <string>{229,166}</string>
                <key>textureRect</key>
                <string>{{1,179},{229,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>balloonfarm.png</string>
            <key>size</key>
            <string>{475,625}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f457dd3bd8d3ce8642f261ae4cd042b2:6d49bcd2a490f4b62a35ba2c814f416f:2e3afb85e463d7d3c3e891dc899c9b3e$</string>
            <key>textureFileName</key>
            <string>balloonfarm.png</string>
        </dict>
    </dict>
</plist>
