<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sayari_Jua_ya_Saba/arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,9}</string>
                <key>spriteSourceSize</key>
                <string>{81,9}</string>
                <key>textureRect</key>
                <string>{{354,930},{81,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/beard_french.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,59}</string>
                <key>spriteSourceSize</key>
                <string>{96,59}</string>
                <key>textureRect</key>
                <string>{{266,1323},{96,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/beard_motu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,91}</string>
                <key>spriteSourceSize</key>
                <string>{197,91}</string>
                <key>textureRect</key>
                <string>{{173,1137},{197,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/body_male.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,140}</string>
                <key>spriteSourceSize</key>
                <string>{103,140}</string>
                <key>textureRect</key>
                <string>{{244,662},{103,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/bow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,105}</string>
                <key>spriteSourceSize</key>
                <string>{31,105}</string>
                <key>textureRect</key>
                <string>{{276,559},{31,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_arm_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,26}</string>
                <key>spriteSourceSize</key>
                <string>{17,26}</string>
                <key>textureRect</key>
                <string>{{456,527},{17,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_ear_round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,44}</string>
                <key>spriteSourceSize</key>
                <string>{35,44}</string>
                <key>textureRect</key>
                <string>{{173,1360},{35,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_eyebrow_boy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,16}</string>
                <key>spriteSourceSize</key>
                <string>{28,16}</string>
                <key>textureRect</key>
                <string>{{276,644},{28,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,170}</string>
                <key>spriteSourceSize</key>
                <string>{204,170}</string>
                <key>textureRect</key>
                <string>{{1,1213},{204,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_hair_Burr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,120}</string>
                <key>spriteSourceSize</key>
                <string>{187,120}</string>
                <key>textureRect</key>
                <string>{{87,540},{187,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{245,941},{13,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_lightbrown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,25}</string>
                <key>spriteSourceSize</key>
                <string>{11,25}</string>
                <key>textureRect</key>
                <string>{{336,592},{11,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,43}</string>
                <key>spriteSourceSize</key>
                <string>{7,43}</string>
                <key>textureRect</key>
                <string>{{355,1089},{7,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,38}</string>
                <key>spriteSourceSize</key>
                <string>{20,38}</string>
                <key>textureRect</key>
                <string>{{459,804},{20,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_nose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,107}</string>
                <key>spriteSourceSize</key>
                <string>{137,107}</string>
                <key>textureRect</key>
                <string>{{245,804},{135,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,8}</string>
                <key>spriteSourceSize</key>
                <string>{40,8}</string>
                <key>textureRect</key>
                <string>{{210,1360},{40,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_shoes_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,8}</string>
                <key>spriteSourceSize</key>
                <string>{40,8}</string>
                <key>textureRect</key>
                <string>{{173,1406},{40,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,27}</string>
                <key>spriteSourceSize</key>
                <string>{63,27}</string>
                <key>textureRect</key>
                <string>{{320,1043},{63,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/boy_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,44}</string>
                <key>spriteSourceSize</key>
                <string>{7,44}</string>
                <key>textureRect</key>
                <string>{{349,1043},{7,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/clouds1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,36}</string>
                <key>spriteSourceSize</key>
                <string>{125,36}</string>
                <key>textureRect</key>
                <string>{{277,521},{125,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/clouds2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,48}</string>
                <key>spriteSourceSize</key>
                <string>{170,48}</string>
                <key>textureRect</key>
                <string>{{418,355},{170,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/cock_beak_low.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{28,35}</string>
                <key>spriteSourceSize</key>
                <string>{46,35}</string>
                <key>textureRect</key>
                <string>{{447,1377},{28,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/cock_beak_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,33}</string>
                <key>spriteSourceSize</key>
                <string>{46,33}</string>
                <key>textureRect</key>
                <string>{{399,1377},{46,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/cock_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,100}</string>
                <key>spriteSourceSize</key>
                <string>{162,100}</string>
                <key>textureRect</key>
                <string>{{320,941},{162,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/cock_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{457,1407},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/cock_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,179}</string>
                <key>spriteSourceSize</key>
                <string>{112,179}</string>
                <key>textureRect</key>
                <string>{{126,956},{112,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/cock_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,36}</string>
                <key>spriteSourceSize</key>
                <string>{33,36}</string>
                <key>textureRect</key>
                <string>{{418,527},{33,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/cock_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,158}</string>
                <key>spriteSourceSize</key>
                <string>{133,158}</string>
                <key>textureRect</key>
                <string>{{85,821},{133,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/cock_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,68}</string>
                <key>spriteSourceSize</key>
                <string>{104,68}</string>
                <key>textureRect</key>
                <string>{{329,1384},{104,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/deer_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,115}</string>
                <key>spriteSourceSize</key>
                <string>{161,115}</string>
                <key>textureRect</key>
                <string>{{364,1214},{161,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/deer_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{457,1429},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/deer_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,261}</string>
                <key>spriteSourceSize</key>
                <string>{266,261}</string>
                <key>textureRect</key>
                <string>{{1,1},{266,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/deer_lower_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,37}</string>
                <key>spriteSourceSize</key>
                <string>{12,37}</string>
                <key>textureRect</key>
                <string>{{404,521},{12,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/deer_lower_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,37}</string>
                <key>spriteSourceSize</key>
                <string>{12,37}</string>
                <key>textureRect</key>
                <string>{{266,941},{12,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/deer_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,52}</string>
                <key>spriteSourceSize</key>
                <string>{45,52}</string>
                <key>textureRect</key>
                <string>{{126,1137},{45,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/deer_upper_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,34}</string>
                <key>spriteSourceSize</key>
                <string>{14,34}</string>
                <key>textureRect</key>
                <string>{{468,428},{14,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/deer_upper_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,34}</string>
                <key>spriteSourceSize</key>
                <string>{14,34}</string>
                <key>textureRect</key>
                <string>{{468,464},{14,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/dove_beak_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,33}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{320,1108},{26,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/dove_beak_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,17}</string>
                <key>spriteSourceSize</key>
                <string>{39,17}</string>
                <key>textureRect</key>
                <string>{{459,844},{39,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/dove_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,123}</string>
                <key>spriteSourceSize</key>
                <string>{249,123}</string>
                <key>textureRect</key>
                <string>{{1,962},{249,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/dove_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{220,1360},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/dove_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,157}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{85,662},{157,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/dove_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{399,1412},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/dove_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{399,1452},{36,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/dove_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,104}</string>
                <key>spriteSourceSize</key>
                <string>{107,104}</string>
                <key>textureRect</key>
                <string>{{220,1384},{107,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/dove_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,64}</string>
                <key>spriteSourceSize</key>
                <string>{133,64}</string>
                <key>textureRect</key>
                <string>{{418,220},{133,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,103}</string>
                <key>spriteSourceSize</key>
                <string>{166,103}</string>
                <key>textureRect</key>
                <string>{{354,762},{166,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_ear_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,178}</string>
                <key>spriteSourceSize</key>
                <string>{78,178}</string>
                <key>textureRect</key>
                <string>{{240,956},{78,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_ear_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,169}</string>
                <key>spriteSourceSize</key>
                <string>{114,169}</string>
                <key>textureRect</key>
                <string>{{364,1043},{114,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_eyes_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,4}</string>
                <key>spriteSourceSize</key>
                <string>{32,4}</string>
                <key>textureRect</key>
                <string>{{85,956},{32,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_eyes_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{439,1452},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,210}</string>
                <key>spriteSourceSize</key>
                <string>{217,210}</string>
                <key>textureRect</key>
                <string>{{269,1},{217,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_lower_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,41}</string>
                <key>spriteSourceSize</key>
                <string>{20,41}</string>
                <key>textureRect</key>
                <string>{{126,1191},{20,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_lower_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,41}</string>
                <key>spriteSourceSize</key>
                <string>{20,41}</string>
                <key>textureRect</key>
                <string>{{244,1336},{20,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,14}</string>
                <key>spriteSourceSize</key>
                <string>{71,14}</string>
                <key>textureRect</key>
                <string>{{468,355},{71,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,58}</string>
                <key>spriteSourceSize</key>
                <string>{22,58}</string>
                <key>textureRect</key>
                <string>{{173,1336},{22,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_trunk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,168}</string>
                <key>spriteSourceSize</key>
                <string>{125,168}</string>
                <key>textureRect</key>
                <string>{{349,592},{125,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_upper_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,38}</string>
                <key>spriteSourceSize</key>
                <string>{18,38}</string>
                <key>textureRect</key>
                <string>{{459,885},{18,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/elephant_upper_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,38}</string>
                <key>spriteSourceSize</key>
                <string>{18,38}</string>
                <key>textureRect</key>
                <string>{{437,1412},{18,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,82}</string>
                <key>spriteSourceSize</key>
                <string>{298,82}</string>
                <key>textureRect</key>
                <string>{{1,662},{298,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/hair_curl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,188}</string>
                <key>spriteSourceSize</key>
                <string>{274,188}</string>
                <key>textureRect</key>
                <string>{{87,264},{274,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/hair_high_and_tight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,96}</string>
                <key>spriteSourceSize</key>
                <string>{185,96}</string>
                <key>textureRect</key>
                <string>{{266,1136},{185,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/hair_high_and_tight_two.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,67}</string>
                <key>spriteSourceSize</key>
                <string>{217,67}</string>
                <key>textureRect</key>
                <string>{{1,1419},{217,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/hill1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,139}</string>
                <key>spriteSourceSize</key>
                <string>{299,139}</string>
                <key>textureRect</key>
                <string>{{277,220},{299,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/hill2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,84}</string>
                <key>spriteSourceSize</key>
                <string>{396,84}</string>
                <key>textureRect</key>
                <string>{{1,264},{396,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sayari_Jua_ya_Saba/sheephead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,50}</string>
                <key>spriteSourceSize</key>
                <string>{58,50}</string>
                <key>textureRect</key>
                <string>{{276,592},{58,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sayari_Jua_ya_Saba/waterdrop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,40}</string>
                <key>spriteSourceSize</key>
                <string>{19,40}</string>
                <key>textureRect</key>
                <string>{{459,762},{19,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Sayari_Jua_ya_Saba.png</string>
            <key>size</key>
            <string>{483,1489}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43197fe37a6cfd7ad4b68eaf876864d3:c6457e89d3c198268205c0f3880afc9b:858e979d01b1b54f4f2e3d2e5f575e58$</string>
            <key>textureFileName</key>
            <string>Sayari_Jua_ya_Saba.png</string>
        </dict>
    </dict>
</plist>
