<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jasmine/curve border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,31}</string>
                <key>spriteSourceSize</key>
                <string>{38,31}</string>
                <key>textureRect</key>
                <string>{{40,415},{38,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jasmine/grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,45}</string>
                <key>spriteSourceSize</key>
                <string>{98,45}</string>
                <key>textureRect</key>
                <string>{{1,284},{98,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jasmine/grass2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{69,37}</string>
                <key>spriteSourceSize</key>
                <string>{69,39}</string>
                <key>textureRect</key>
                <string>{{40,331},{69,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jasmine/grass3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{86,37}</string>
                <key>spriteSourceSize</key>
                <string>{86,39}</string>
                <key>textureRect</key>
                <string>{{1,331},{86,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jasmine/seed pouch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,150}</string>
                <key>spriteSourceSize</key>
                <string>{123,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{123,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jasmine/soil1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,40}</string>
                <key>spriteSourceSize</key>
                <string>{36,40}</string>
                <key>textureRect</key>
                <string>{{81,411},{36,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jasmine/soil2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,39}</string>
                <key>spriteSourceSize</key>
                <string>{43,39}</string>
                <key>textureRect</key>
                <string>{{40,370},{43,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jasmine/soil3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,42}</string>
                <key>spriteSourceSize</key>
                <string>{39,42}</string>
                <key>textureRect</key>
                <string>{{81,370},{39,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jasmine/tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,123}</string>
                <key>spriteSourceSize</key>
                <string>{129,123}</string>
                <key>textureRect</key>
                <string>{{1,153},{129,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jasmine.png</string>
            <key>size</key>
            <string>{125,448}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf32e354436c26bf808f622eac406439:d7527b6f7d921c032f3ffcff5914b348:50a3702b4222119f67a0d4e5db4ef2d6$</string>
            <key>textureFileName</key>
            <string>jasmine.png</string>
        </dict>
    </dict>
</plist>
