<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>owljungle/bg 2-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{278,578}</string>
                <key>spriteSourceSize</key>
                <string>{308,578}</string>
                <key>textureRect</key>
                <string>{{1027,1},{278,578}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owljungle/bg-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,161}</string>
                <key>spriteSourceSize</key>
                <string>{1024,161}</string>
                <key>textureRect</key>
                <string>{{1,1},{1024,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owljungle/bg-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,153}</string>
                <key>spriteSourceSize</key>
                <string>{1024,153}</string>
                <key>textureRect</key>
                <string>{{1,164},{1024,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owljungle/bg-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,113}</string>
                <key>spriteSourceSize</key>
                <string>{1024,113}</string>
                <key>textureRect</key>
                <string>{{1,319},{1024,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owljungle/bird-02-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,40}</string>
                <key>spriteSourceSize</key>
                <string>{58,40}</string>
                <key>textureRect</key>
                <string>{{1027,383},{58,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owljungle/bird-02-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,62}</string>
                <key>spriteSourceSize</key>
                <string>{57,62}</string>
                <key>textureRect</key>
                <string>{{1541,375},{57,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owljungle/bird.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,92}</string>
                <key>spriteSourceSize</key>
                <string>{191,92}</string>
                <key>textureRect</key>
                <string>{{1541,281},{191,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owljungle/board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,88}</string>
                <key>spriteSourceSize</key>
                <string>{276,88}</string>
                <key>textureRect</key>
                <string>{{1607,1},{276,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owljungle/dash_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,50}</string>
                <key>spriteSourceSize</key>
                <string>{67,50}</string>
                <key>textureRect</key>
                <string>{{1697,1},{67,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owljungle/dash_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,50}</string>
                <key>spriteSourceSize</key>
                <string>{67,50}</string>
                <key>textureRect</key>
                <string>{{1605,375},{67,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owljungle/log.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,100}</string>
                <key>spriteSourceSize</key>
                <string>{512,100}</string>
                <key>textureRect</key>
                <string>{{1027,281},{512,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owljungle/smallbar_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,50}</string>
                <key>spriteSourceSize</key>
                <string>{67,50}</string>
                <key>textureRect</key>
                <string>{{1697,70},{67,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owljungle/smallbar_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,50}</string>
                <key>spriteSourceSize</key>
                <string>{67,50}</string>
                <key>textureRect</key>
                <string>{{1697,139},{67,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>owljungle.png</string>
            <key>size</key>
            <string>{1748,433}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc28ecad65e6a16d871d9fc6f3ea74bc:976fd0584f88cbef2b366c5ab28d1d7f:c692af7e3ffa44352e22978fd08ee065$</string>
            <key>textureFileName</key>
            <string>owljungle.png</string>
        </dict>
    </dict>
</plist>
