<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>farmhouse_inside/farmhouse_inside_foreground/chair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,93}</string>
                <key>spriteSourceSize</key>
                <string>{108,93}</string>
                <key>textureRect</key>
                <string>{{1,1},{108,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse_inside/farmhouse_inside_foreground/small_table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,52}</string>
                <key>spriteSourceSize</key>
                <string>{108,52}</string>
                <key>textureRect</key>
                <string>{{1,96},{108,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>farmhouse_inside_foreground.png</string>
            <key>size</key>
            <string>{110,149}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55586d068eeeb42048be2e96f20fe993:bf4a54584a5ba3a0bb47ab10484cbd18:de246bbaea545361882cce04f9bf0125$</string>
            <key>textureFileName</key>
            <string>farmhouse_inside_foreground.png</string>
        </dict>
    </dict>
</plist>
