<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>airport/aeroplane.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{1628,692}</string>
                <key>spriteSourceSize</key>
                <string>{1632,698}</string>
                <key>textureRect</key>
                <string>{{1,1},{1628,692}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>airport/airportdoor1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,501}</string>
                <key>spriteSourceSize</key>
                <string>{278,501}</string>
                <key>textureRect</key>
                <string>{{1425,695},{278,501}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>airport/airportdoor2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,0}</string>
                <key>spriteSize</key>
                <string>{190,501}</string>
                <key>spriteSourceSize</key>
                <string>{278,501}</string>
                <key>textureRect</key>
                <string>{{1425,1198},{190,501}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>airport/airportdoor3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{83,0}</string>
                <key>spriteSize</key>
                <string>{112,501}</string>
                <key>spriteSourceSize</key>
                <string>{278,501}</string>
                <key>textureRect</key>
                <string>{{1631,1},{112,501}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>airport/airportfloor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,160}</string>
                <key>textureRect</key>
                <string>{{1220,2320},{320,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>airport/obj1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,688}</string>
                <key>spriteSourceSize</key>
                <string>{436,688}</string>
                <key>textureRect</key>
                <string>{{877,1630},{436,688}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>airport/obj10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,374}</string>
                <key>spriteSourceSize</key>
                <string>{424,374}</string>
                <key>textureRect</key>
                <string>{{1382,2143},{424,374}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>airport/obj11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,512}</string>
                <key>spriteSourceSize</key>
                <string>{540,512}</string>
                <key>textureRect</key>
                <string>{{363,1826},{540,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>airport/obj12 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,148}</string>
                <key>spriteSourceSize</key>
                <string>{287,148}</string>
                <key>textureRect</key>
                <string>{{719,2368},{287,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>airport/obj13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,337}</string>
                <key>spriteSourceSize</key>
                <string>{408,337}</string>
                <key>textureRect</key>
                <string>{{1425,1701},{408,337}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>airport/obj2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{477,1129}</string>
                <key>spriteSourceSize</key>
                <string>{477,1129}</string>
                <key>textureRect</key>
                <string>{{363,695},{477,1129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>airport/obj3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{933,482}</string>
                <key>spriteSourceSize</key>
                <string>{933,482}</string>
                <key>textureRect</key>
                <string>{{842,695},{933,482}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>airport/obj4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1685,360}</string>
                <key>spriteSourceSize</key>
                <string>{1685,360}</string>
                <key>textureRect</key>
                <string>{{1,695},{1685,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>airport/obj5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1446,97}</string>
                <key>spriteSourceSize</key>
                <string>{1446,97}</string>
                <key>textureRect</key>
                <string>{{1326,695},{1446,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>airport/obj6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,375}</string>
                <key>spriteSourceSize</key>
                <string>{244,375}</string>
                <key>textureRect</key>
                <string>{{1,2382},{244,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>airport/obj7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,358}</string>
                <key>spriteSourceSize</key>
                <string>{146,358}</string>
                <key>textureRect</key>
                <string>{{1617,1198},{146,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>airport/obj8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,296}</string>
                <key>spriteSourceSize</key>
                <string>{341,296}</string>
                <key>textureRect</key>
                <string>{{877,2320},{341,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>airport/obj9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,199}</string>
                <key>spriteSourceSize</key>
                <string>{339,199}</string>
                <key>textureRect</key>
                <string>{{378,2368},{339,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>airport.png</string>
            <key>size</key>
            <string>{1764,2656}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a559eb199c98be83278edfeb99f3fa20:5e629b04dc967e406409c22b4528367f:48f6bdd4804f0e3bdce41a4a0c529efd$</string>
            <key>textureFileName</key>
            <string>airport.png</string>
        </dict>
    </dict>
</plist>
