<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>farmhouse/farmhouse2/barnhouse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1882,1875}</string>
                <key>spriteSourceSize</key>
                <string>{1882,1875}</string>
                <key>textureRect</key>
                <string>{{1,453},{1882,1875}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse2/barnhouse1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1023,984}</string>
                <key>spriteSourceSize</key>
                <string>{1023,984}</string>
                <key>textureRect</key>
                <string>{{1,2330},{1023,984}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse2/barnhouse2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,985}</string>
                <key>spriteSourceSize</key>
                <string>{1024,985}</string>
                <key>textureRect</key>
                <string>{{2063,2138},{1024,985}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse2/farm_house.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1416,1683}</string>
                <key>spriteSourceSize</key>
                <string>{1416,1683}</string>
                <key>textureRect</key>
                <string>{{1885,453},{1416,1683}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse2/farm_house1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{705,1035}</string>
                <key>spriteSourceSize</key>
                <string>{705,1035}</string>
                <key>textureRect</key>
                <string>{{1026,2330},{705,1035}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>farmhouse/farmhouse2/floor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3842,450}</string>
                <key>spriteSourceSize</key>
                <string>{3842,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{3842,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse2/sky_pattern1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2423,109}</string>
                <key>spriteSourceSize</key>
                <string>{2423,109}</string>
                <key>textureRect</key>
                <string>{{3303,453},{2423,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>farmhouse2.png</string>
            <key>size</key>
            <string>{3844,3315}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:307a0a9722d5b9338f6949990c7975ca:f42119ffe1532422e21b4fcb79bf9477:a79bda8c938a025925533e500ddd86d0$</string>
            <key>textureFileName</key>
            <string>farmhouse2.png</string>
        </dict>
    </dict>
</plist>
