<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Shati_la_kijani_kibichi/Shati_la_kijani_kibichi_1/stall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,281}</string>
                <key>spriteSourceSize</key>
                <string>{434,281}</string>
                <key>textureRect</key>
                <string>{{306,1},{434,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shati_la_kijani_kibichi/Shati_la_kijani_kibichi_1/stallhat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,215}</string>
                <key>spriteSourceSize</key>
                <string>{332,215}</string>
                <key>textureRect</key>
                <string>{{306,284},{332,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shati_la_kijani_kibichi/Shati_la_kijani_kibichi_1/stallshirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{719,303}</string>
                <key>spriteSourceSize</key>
                <string>{719,313}</string>
                <key>textureRect</key>
                <string>{{1,1},{719,303}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shati_la_kijani_kibichi/Shati_la_kijani_kibichi_1/tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,186}</string>
                <key>spriteSourceSize</key>
                <string>{278,186}</string>
                <key>textureRect</key>
                <string>{{306,501},{278,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shati_la_kijani_kibichi/Shati_la_kijani_kibichi_1/uniform1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,167}</string>
                <key>spriteSourceSize</key>
                <string>{82,167}</string>
                <key>textureRect</key>
                <string>{{640,422},{82,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shati_la_kijani_kibichi/Shati_la_kijani_kibichi_1/uniform2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,167}</string>
                <key>spriteSourceSize</key>
                <string>{82,167}</string>
                <key>textureRect</key>
                <string>{{586,591},{82,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shati_la_kijani_kibichi/Shati_la_kijani_kibichi_1/window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,129}</string>
                <key>spriteSourceSize</key>
                <string>{136,129}</string>
                <key>textureRect</key>
                <string>{{640,284},{136,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Shati_la_kijani_kibichi_1.png</string>
            <key>size</key>
            <string>{770,721}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f63ad084221eb60da69d789c8eedb479:3f7c25ba23deb2be1caf9214cdb9ea35:1b5ab76be2474de3c717ddef16c316c3$</string>
            <key>textureFileName</key>
            <string>Shati_la_kijani_kibichi_1.png</string>
        </dict>
    </dict>
</plist>
