<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>park/ant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,16}</string>
                <key>spriteSourceSize</key>
                <string>{23,16}</string>
                <key>textureRect</key>
                <string>{{410,490},{23,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>park/ballone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,175}</string>
                <key>spriteSourceSize</key>
                <string>{62,175}</string>
                <key>textureRect</key>
                <string>{{418,1},{62,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>park/ballonea.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,175}</string>
                <key>spriteSourceSize</key>
                <string>{62,175}</string>
                <key>textureRect</key>
                <string>{{418,178},{62,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>park/baseball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{457,371},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>park/baseballbat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,105}</string>
                <key>spriteSourceSize</key>
                <string>{15,105}</string>
                <key>textureRect</key>
                <string>{{1,488},{15,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>park/bat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,105}</string>
                <key>spriteSourceSize</key>
                <string>{16,105}</string>
                <key>textureRect</key>
                <string>{{1,470},{16,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>park/bushb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,84}</string>
                <key>spriteSourceSize</key>
                <string>{196,84}</string>
                <key>textureRect</key>
                <string>{{1,384},{196,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>park/car.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,31}</string>
                <key>spriteSourceSize</key>
                <string>{59,31}</string>
                <key>textureRect</key>
                <string>{{350,359},{59,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>park/flower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,55}</string>
                <key>spriteSourceSize</key>
                <string>{30,55}</string>
                <key>textureRect</key>
                <string>{{302,474},{30,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>park/icecream.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,31}</string>
                <key>spriteSourceSize</key>
                <string>{18,31}</string>
                <key>textureRect</key>
                <string>{{411,371},{18,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>park/ladybug.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,25}</string>
                <key>spriteSourceSize</key>
                <string>{24,25}</string>
                <key>textureRect</key>
                <string>{{431,371},{24,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>park/lolipop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,49}</string>
                <key>spriteSourceSize</key>
                <string>{19,49}</string>
                <key>textureRect</key>
                <string>{{359,488},{19,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>park/pinaple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,57}</string>
                <key>spriteSourceSize</key>
                <string>{29,57}</string>
                <key>textureRect</key>
                <string>{{243,474},{29,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>park/rabit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,60}</string>
                <key>spriteSourceSize</key>
                <string>{33,60}</string>
                <key>textureRect</key>
                <string>{{181,474},{33,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>park/sanda.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,134}</string>
                <key>spriteSourceSize</key>
                <string>{401,134}</string>
                <key>textureRect</key>
                <string>{{214,1},{401,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>park/sandb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{356,66}</string>
                <key>spriteSourceSize</key>
                <string>{362,66}</string>
                <key>textureRect</key>
                <string>{{350,1},{356,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>park/sesaw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{277,68}</string>
                <key>spriteSourceSize</key>
                <string>{277,98}</string>
                <key>textureRect</key>
                <string>{{199,404},{277,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>park/shruba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,26}</string>
                <key>spriteSourceSize</key>
                <string>{71,26}</string>
                <key>textureRect</key>
                <string>{{108,470},{71,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>park/shrubb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,14}</string>
                <key>spriteSourceSize</key>
                <string>{56,14}</string>
                <key>textureRect</key>
                <string>{{422,474},{56,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>park/shrubc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,14}</string>
                <key>spriteSourceSize</key>
                <string>{56,14}</string>
                <key>textureRect</key>
                <string>{{418,355},{56,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>park/shrubd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,12}</string>
                <key>spriteSourceSize</key>
                <string>{61,12}</string>
                <key>textureRect</key>
                <string>{{359,474},{61,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>park/treee.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,381}</string>
                <key>spriteSourceSize</key>
                <string>{211,381}</string>
                <key>textureRect</key>
                <string>{{1,1},{211,381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>park.png</string>
            <key>size</key>
            <string>{481,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40c8be0210717b11c8472c2778b7f6a6:03fffdf6bcb774816d9f0d782b13590c:badb72fefd2cbbfba6973575b767f9f3$</string>
            <key>textureFileName</key>
            <string>park.png</string>
        </dict>
    </dict>
</plist>
