<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Level_01_Play_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,193}</string>
                <key>spriteSourceSize</key>
                <string>{171,193}</string>
                <key>textureRect</key>
                <string>{{2563,1},{171,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_02_Lock_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,184}</string>
                <key>spriteSourceSize</key>
                <string>{155,184}</string>
                <key>textureRect</key>
                <string>{{2563,773},{155,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_02_Play_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,193}</string>
                <key>spriteSourceSize</key>
                <string>{171,193}</string>
                <key>textureRect</key>
                <string>{{2563,196},{171,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_03_Lock_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,185}</string>
                <key>spriteSourceSize</key>
                <string>{156,185}</string>
                <key>textureRect</key>
                <string>{{2563,586},{156,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_03_Play_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,193}</string>
                <key>spriteSourceSize</key>
                <string>{171,193}</string>
                <key>textureRect</key>
                <string>{{2563,391},{171,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background_level_stage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2560,1801}</string>
                <key>spriteSourceSize</key>
                <string>{2560,1801}</string>
                <key>textureRect</key>
                <string>{{1,1},{2560,1801}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Level_screen.png</string>
            <key>size</key>
            <string>{2735,1803}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d5723d30ad13da73e2bde2e2d3c19b5:46d329ec8614f818c9c8609d07aa5df9:dcd154cabce7796bd5fcf48f19e2865a$</string>
            <key>textureFileName</key>
            <string>Level_screen.png</string>
        </dict>
    </dict>
</plist>
