<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nate/blink_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,21}</string>
                <key>spriteSourceSize</key>
                <string>{16,21}</string>
                <key>textureRect</key>
                <string>{{761,233},{16,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nate/blink_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,21}</string>
                <key>spriteSourceSize</key>
                <string>{16,21}</string>
                <key>textureRect</key>
                <string>{{784,233},{16,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nate/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,116}</string>
                <key>spriteSourceSize</key>
                <string>{96,116}</string>
                <key>textureRect</key>
                <string>{{532,119},{96,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nate/bodygirl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,116}</string>
                <key>spriteSourceSize</key>
                <string>{90,116}</string>
                <key>textureRect</key>
                <string>{{620,1},{90,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nate/boy1arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,23}</string>
                <key>spriteSourceSize</key>
                <string>{15,23}</string>
                <key>textureRect</key>
                <string>{{825,132},{15,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nate/boy1feet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,10}</string>
                <key>spriteSourceSize</key>
                <string>{42,10}</string>
                <key>textureRect</key>
                <string>{{532,237},{42,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nate/boy1leg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,46}</string>
                <key>spriteSourceSize</key>
                <string>{13,46}</string>
                <key>textureRect</key>
                <string>{{859,132},{13,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nate/boy1leg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,40}</string>
                <key>spriteSourceSize</key>
                <string>{13,40}</string>
                <key>textureRect</key>
                <string>{{865,192},{13,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nate/boy1top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,112}</string>
                <key>spriteSourceSize</key>
                <string>{97,112}</string>
                <key>textureRect</key>
                <string>{{630,119},{97,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nate/boy2arm1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,50}</string>
                <key>spriteSourceSize</key>
                <string>{15,50}</string>
                <key>textureRect</key>
                <string>{{807,233},{15,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nate/boy2arm2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,47}</string>
                <key>spriteSourceSize</key>
                <string>{16,47}</string>
                <key>textureRect</key>
                <string>{{663,233},{16,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nate/boy2feet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,10}</string>
                <key>spriteSourceSize</key>
                <string>{42,10}</string>
                <key>textureRect</key>
                <string>{{532,237},{42,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nate/boy2leg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,46}</string>
                <key>spriteSourceSize</key>
                <string>{13,46}</string>
                <key>textureRect</key>
                <string>{{859,147},{13,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nate/boy2leg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,40}</string>
                <key>spriteSourceSize</key>
                <string>{13,40}</string>
                <key>textureRect</key>
                <string>{{865,207},{13,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nate/boy2top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,116}</string>
                <key>spriteSourceSize</key>
                <string>{98,116}</string>
                <key>textureRect</key>
                <string>{{432,128},{98,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nate/boy3top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,126}</string>
                <key>spriteSourceSize</key>
                <string>{99,126}</string>
                <key>textureRect</key>
                <string>{{204,1},{99,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nate/boy4arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,39}</string>
                <key>spriteSourceSize</key>
                <string>{18,39}</string>
                <key>textureRect</key>
                <string>{{825,192},{18,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nate/boy4feet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,10}</string>
                <key>spriteSourceSize</key>
                <string>{42,10}</string>
                <key>textureRect</key>
                <string>{{576,237},{42,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nate/boy4leg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,46}</string>
                <key>spriteSourceSize</key>
                <string>{13,46}</string>
                <key>textureRect</key>
                <string>{{859,162},{13,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nate/boy4leg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,40}</string>
                <key>spriteSourceSize</key>
                <string>{13,40}</string>
                <key>textureRect</key>
                <string>{{865,222},{13,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nate/boy4top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,116}</string>
                <key>spriteSourceSize</key>
                <string>{98,116}</string>
                <key>textureRect</key>
                <string>{{520,1},{98,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nate/feet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,9}</string>
                <key>spriteSourceSize</key>
                <string>{41,9}</string>
                <key>textureRect</key>
                <string>{{620,237},{41,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nate/girl1arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,39}</string>
                <key>spriteSourceSize</key>
                <string>{18,39}</string>
                <key>textureRect</key>
                <string>{{845,192},{18,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nate/girl1top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,131}</string>
                <key>spriteSourceSize</key>
                <string>{100,131}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nate/girl2top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,131}</string>
                <key>spriteSourceSize</key>
                <string>{99,131}</string>
                <key>textureRect</key>
                <string>{{103,1},{99,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nate/girl3top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,125}</string>
                <key>spriteSourceSize</key>
                <string>{103,125}</string>
                <key>textureRect</key>
                <string>{{415,1},{103,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nate/girl4top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,107}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{712,1},{100,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nate/hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,108}</string>
                <key>spriteSourceSize</key>
                <string>{125,108}</string>
                <key>textureRect</key>
                <string>{{305,1},{125,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nate/hairboy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,94}</string>
                <key>spriteSourceSize</key>
                <string>{99,94}</string>
                <key>textureRect</key>
                <string>{{729,132},{99,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nate/hairboy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,91}</string>
                <key>spriteSourceSize</key>
                <string>{100,91}</string>
                <key>textureRect</key>
                <string>{{814,1},{100,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nate/hairgirl1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,117}</string>
                <key>spriteSourceSize</key>
                <string>{103,117}</string>
                <key>textureRect</key>
                <string>{{327,128},{103,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nate/hairgirl2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,120}</string>
                <key>spriteSourceSize</key>
                <string>{110,120}</string>
                <key>textureRect</key>
                <string>{{215,129},{110,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nate/hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,50}</string>
                <key>spriteSourceSize</key>
                <string>{15,50}</string>
                <key>textureRect</key>
                <string>{{755,110},{15,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nate/hand_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,47}</string>
                <key>spriteSourceSize</key>
                <string>{16,47}</string>
                <key>textureRect</key>
                <string>{{712,233},{16,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nate/hand_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,24}</string>
                <key>spriteSourceSize</key>
                <string>{17,24}</string>
                <key>textureRect</key>
                <string>{{729,110},{17,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nate/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,115}</string>
                <key>spriteSourceSize</key>
                <string>{105,115}</string>
                <key>textureRect</key>
                <string>{{1,134},{105,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nate/head_girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,115}</string>
                <key>spriteSourceSize</key>
                <string>{105,115}</string>
                <key>textureRect</key>
                <string>{{108,134},{105,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nate/leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,84}</string>
                <key>spriteSourceSize</key>
                <string>{27,84}</string>
                <key>textureRect</key>
                <string>{{814,103},{27,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nate/leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,46}</string>
                <key>spriteSourceSize</key>
                <string>{13,46}</string>
                <key>textureRect</key>
                <string>{{859,177},{13,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>nate.png</string>
            <key>size</key>
            <string>{906,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94a11236c63e5d8b2073619ae3d93dd1:9e5e493179e061a44bdb1fed2c728539:98814c794b642ff516a430f209d28d0c$</string>
            <key>textureFileName</key>
            <string>nate.png</string>
        </dict>
    </dict>
</plist>
