<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chocolatefactory/accending.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,570}</string>
                <key>spriteSourceSize</key>
                <string>{173,570}</string>
                <key>textureRect</key>
                <string>{{2824,2588},{173,570}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chocolatefactory/bgreflection.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2481,1577}</string>
                <key>spriteSourceSize</key>
                <string>{2481,1577}</string>
                <key>textureRect</key>
                <string>{{1,1},{2481,1577}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chocolatefactory/bgseal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1130,650}</string>
                <key>spriteSourceSize</key>
                <string>{1130,650}</string>
                <key>textureRect</key>
                <string>{{1803,1580},{1130,650}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chocolatefactory/boxback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,263}</string>
                <key>spriteSourceSize</key>
                <string>{470,263}</string>
                <key>textureRect</key>
                <string>{{3046,2021},{470,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chocolatefactory/boxfront.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,264}</string>
                <key>spriteSourceSize</key>
                <string>{470,264}</string>
                <key>textureRect</key>
                <string>{{3046,1549},{470,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chocolatefactory/conveyor1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2617,338}</string>
                <key>spriteSourceSize</key>
                <string>{2617,338}</string>
                <key>textureRect</key>
                <string>{{2484,1},{2617,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chocolatefactory/gear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,286}</string>
                <key>spriteSourceSize</key>
                <string>{285,286}</string>
                <key>textureRect</key>
                <string>{{3046,2286},{285,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chocolatefactory/gear2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,153}</string>
                <key>spriteSourceSize</key>
                <string>{154,153}</string>
                <key>textureRect</key>
                <string>{{3312,1549},{154,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chocolatefactory/lineargear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2585,220}</string>
                <key>spriteSourceSize</key>
                <string>{2585,220}</string>
                <key>textureRect</key>
                <string>{{2824,1},{2585,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chocolatefactory/milkcarton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,222}</string>
                <key>spriteSourceSize</key>
                <string>{107,222}</string>
                <key>textureRect</key>
                <string>{{2455,2620},{107,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chocolatefactory/rack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1197,1800}</string>
                <key>spriteSourceSize</key>
                <string>{1197,1800}</string>
                <key>textureRect</key>
                <string>{{1,1580},{1197,1800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chocolatefactory/rack1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,185}</string>
                <key>spriteSourceSize</key>
                <string>{470,185}</string>
                <key>textureRect</key>
                <string>{{3396,2286},{470,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chocolatefactory/ram.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,576}</string>
                <key>spriteSourceSize</key>
                <string>{470,576}</string>
                <key>textureRect</key>
                <string>{{3046,971},{470,576}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chocolatefactory/tank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{968,647}</string>
                <key>spriteSourceSize</key>
                <string>{968,647}</string>
                <key>textureRect</key>
                <string>{{3046,1},{968,647}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chocolatefactory/touch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-238.5,188.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{480,380}</string>
                <key>textureRect</key>
                <string>{{2679,2620},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chocolatefactory.png</string>
            <key>size</key>
            <string>{3694,2778}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b19420c6649b4eeb249f0d521cc3667f:d1354258f5b556e2b85ebadc7543ef12:4e4705b31b5c69d7177f6d93cc7d5bf7$</string>
            <key>textureFileName</key>
            <string>chocolatefactory.png</string>
        </dict>
    </dict>
</plist>
