<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jungle/junglec/branch-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{1020,52}</string>
                <key>spriteSourceSize</key>
                <string>{1024,54}</string>
                <key>textureRect</key>
                <string>{{778,202},{1020,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jungle/junglec/chimp-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{190,187}</string>
                <key>spriteSourceSize</key>
                <string>{190,191}</string>
                <key>textureRect</key>
                <string>{{1099,1},{190,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jungle/junglec/chimp-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,30}</string>
                <key>spriteSourceSize</key>
                <string>{39,30}</string>
                <key>textureRect</key>
                <string>{{390,222},{39,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jungle/junglec/chimp-12a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{39,26}</string>
                <key>spriteSourceSize</key>
                <string>{39,30}</string>
                <key>textureRect</key>
                <string>{{431,222},{39,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jungle/junglec/cimp-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,125}</string>
                <key>spriteSourceSize</key>
                <string>{141,125}</string>
                <key>textureRect</key>
                <string>{{1701,1},{141,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jungle/junglec/cimp-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,123}</string>
                <key>spriteSourceSize</key>
                <string>{23,123}</string>
                <key>textureRect</key>
                <string>{{472,222},{23,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jungle/junglec/cimp-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,69}</string>
                <key>spriteSourceSize</key>
                <string>{23,69}</string>
                <key>textureRect</key>
                <string>{{597,209},{23,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jungle/junglec/giraffe-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,185}</string>
                <key>spriteSourceSize</key>
                <string>{164,185}</string>
                <key>textureRect</key>
                <string>{{1288,1},{164,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jungle/junglec/leave-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,84}</string>
                <key>spriteSourceSize</key>
                <string>{199,84}</string>
                <key>textureRect</key>
                <string>{{778,1},{199,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jungle/junglec/leave-w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,84}</string>
                <key>spriteSourceSize</key>
                <string>{199,84}</string>
                <key>textureRect</key>
                <string>{{864,1},{199,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jungle/junglec/leopard-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,147}</string>
                <key>spriteSourceSize</key>
                <string>{191,147}</string>
                <key>textureRect</key>
                <string>{{950,1},{191,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jungle/junglec/leopard-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,16}</string>
                <key>spriteSourceSize</key>
                <string>{44,16}</string>
                <key>textureRect</key>
                <string>{{1,239},{44,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jungle/junglec/leopard-15sd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{44,10}</string>
                <key>spriteSourceSize</key>
                <string>{44,16}</string>
                <key>textureRect</key>
                <string>{{262,239},{44,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jungle/junglec/lion-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{236,269}</string>
                <key>spriteSourceSize</key>
                <string>{244,273}</string>
                <key>textureRect</key>
                <string>{{1,1},{236,269}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jungle/junglec/lion-06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,31}</string>
                <key>spriteSourceSize</key>
                <string>{80,31}</string>
                <key>textureRect</key>
                <string>{{308,222},{80,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jungle/junglec/lion-07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,13}</string>
                <key>spriteSourceSize</key>
                <string>{84,13}</string>
                <key>textureRect</key>
                <string>{{47,239},{84,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jungle/junglec/lion-08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,17}</string>
                <key>spriteSourceSize</key>
                <string>{70,17}</string>
                <key>textureRect</key>
                <string>{{597,234},{70,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jungle/junglec/lion-08d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{70,13}</string>
                <key>spriteSourceSize</key>
                <string>{70,17}</string>
                <key>textureRect</key>
                <string>{{133,239},{70,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jungle/junglec/player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,93}</string>
                <key>spriteSourceSize</key>
                <string>{93,93}</string>
                <key>textureRect</key>
                <string>{{1800,144},{93,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jungle/junglec/star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,219}</string>
                <key>spriteSourceSize</key>
                <string>{237,237}</string>
                <key>textureRect</key>
                <string>{{272,1},{219,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jungle/junglec/traget.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{155,102}</string>
                <key>spriteSourceSize</key>
                <string>{155,110}</string>
                <key>textureRect</key>
                <string>{{1597,1},{155,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jungle/junglec/wildebeest-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,206}</string>
                <key>spriteSourceSize</key>
                <string>{283,206}</string>
                <key>textureRect</key>
                <string>{{493,1},{283,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jungle/junglec/zebra-09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{141,185}</string>
                <key>spriteSourceSize</key>
                <string>{141,187}</string>
                <key>textureRect</key>
                <string>{{1454,1},{141,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jungle/junglec/zebra-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,17}</string>
                <key>spriteSourceSize</key>
                <string>{55,17}</string>
                <key>textureRect</key>
                <string>{{668,209},{55,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jungle/junglec/zebra-10d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{55,13}</string>
                <key>spriteSourceSize</key>
                <string>{55,17}</string>
                <key>textureRect</key>
                <string>{{205,239},{55,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>junglec.png</string>
            <key>size</key>
            <string>{1894,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d48d703eb1cda3086218d6cece8f8dfc:63668f1bed8b39a5a83bffa4e37307d2:c317e0306373b68cec4ea2e0ba4393c4$</string>
            <key>textureFileName</key>
            <string>junglec.png</string>
        </dict>
    </dict>
</plist>
