<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pinata/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{487,487}</string>
                <key>spriteSourceSize</key>
                <string>{487,487}</string>
                <key>textureRect</key>
                <string>{{1,2580},{487,487}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinata/board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{769,133}</string>
                <key>spriteSourceSize</key>
                <string>{769,133}</string>
                <key>textureRect</key>
                <string>{{1,1},{769,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinata/cake1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{472,640}</string>
                <key>spriteSourceSize</key>
                <string>{472,654}</string>
                <key>textureRect</key>
                <string>{{1,772},{472,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinata/cake2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{484,575}</string>
                <key>spriteSourceSize</key>
                <string>{484,577}</string>
                <key>textureRect</key>
                <string>{{1,2003},{484,575}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinata/cake3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{479,587}</string>
                <key>spriteSourceSize</key>
                <string>{479,589}</string>
                <key>textureRect</key>
                <string>{{1,1414},{479,587}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinata/player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{136,1},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinata/strawberry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,147}</string>
                <key>spriteSourceSize</key>
                <string>{104,147}</string>
                <key>textureRect</key>
                <string>{{136,179},{104,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pinata.png</string>
            <key>size</key>
            <string>{489,3068}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21d5b43fd4a2fd124b8fdc846ebccedb:d2f51abdd183a78bee8405d2a277d1da:fee3799c6e913d47f911644f80ea7723$</string>
            <key>textureFileName</key>
            <string>pinata.png</string>
        </dict>
    </dict>
</plist>
