<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pinata/bg-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2560,1800}</string>
                <key>spriteSourceSize</key>
                <string>{2560,1800}</string>
                <key>textureRect</key>
                <string>{{1,1},{2560,1800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinata/cake1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,412}</string>
                <key>spriteSourceSize</key>
                <string>{456,412}</string>
                <key>textureRect</key>
                <string>{{1,2563},{456,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinata/cake2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,412}</string>
                <key>spriteSourceSize</key>
                <string>{456,412}</string>
                <key>textureRect</key>
                <string>{{459,2563},{456,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinata/cake3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,412}</string>
                <key>spriteSourceSize</key>
                <string>{456,412}</string>
                <key>textureRect</key>
                <string>{{917,2563},{456,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinata/gunbase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,147}</string>
                <key>spriteSourceSize</key>
                <string>{280,147}</string>
                <key>textureRect</key>
                <string>{{1375,2563},{280,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinata/guntrigger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,33}</string>
                <key>spriteSize</key>
                <string>{203,242}</string>
                <key>spriteSourceSize</key>
                <string>{203,308}</string>
                <key>textureRect</key>
                <string>{{1375,2712},{203,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinata/player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,203}</string>
                <key>spriteSourceSize</key>
                <string>{203,203}</string>
                <key>textureRect</key>
                <string>{{1580,2712},{203,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pinata.png</string>
            <key>size</key>
            <string>{1802,2976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b951fd94a9398cf8790bccdbd4106ae:dff58473a9641d37f73e3e1b4ff3c132:fee3799c6e913d47f911644f80ea7723$</string>
            <key>textureFileName</key>
            <string>pinata.png</string>
        </dict>
    </dict>
</plist>
