<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/Kuhesabu_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{569,228}</string>
                <key>spriteSourceSize</key>
                <string>{569,228}</string>
                <key>textureRect</key>
                <string>{{2279,1251},{569,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/Kuhesabu_grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,501}</string>
                <key>spriteSourceSize</key>
                <string>{342,501}</string>
                <key>textureRect</key>
                <string>{{2850,1251},{342,501}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/Kuhesabu_grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-10}</string>
                <key>spriteSize</key>
                <string>{652,217}</string>
                <key>spriteSourceSize</key>
                <string>{666,237}</string>
                <key>textureRect</key>
                <string>{{1185,1798},{652,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/Kuhesabu_grass2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-20}</string>
                <key>spriteSize</key>
                <string>{991,161}</string>
                <key>spriteSourceSize</key>
                <string>{993,201}</string>
                <key>textureRect</key>
                <string>{{1244,1255},{991,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/Kuhesabu_grass3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{861,378}</string>
                <key>spriteSourceSize</key>
                <string>{861,378}</string>
                <key>textureRect</key>
                <string>{{1185,1418},{861,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/Kuhesabu_grass4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{522,527}</string>
                <key>spriteSourceSize</key>
                <string>{522,527}</string>
                <key>textureRect</key>
                <string>{{2059,1481},{522,527}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/Kuhesabu_ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2109,306}</string>
                <key>spriteSourceSize</key>
                <string>{2109,306}</string>
                <key>textureRect</key>
                <string>{{1244,1},{2109,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/Kuhesabu_hill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1181,365}</string>
                <key>spriteSourceSize</key>
                <string>{1181,365}</string>
                <key>textureRect</key>
                <string>{{1,1341},{1181,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/Kuhesabu_hill1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1182,156}</string>
                <key>spriteSourceSize</key>
                <string>{1182,156}</string>
                <key>textureRect</key>
                <string>{{1,1708},{1182,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/Kuhesabu_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1241,1338}</string>
                <key>spriteSourceSize</key>
                <string>{1241,1338}</string>
                <key>textureRect</key>
                <string>{{1,1},{1241,1338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/Kuhesabu_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,101}</string>
                <key>spriteSourceSize</key>
                <string>{340,101}</string>
                <key>textureRect</key>
                <string>{{3194,1251},{340,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/Mamba_frog1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{217,218}</string>
                <key>spriteSourceSize</key>
                <string>{293,236}</string>
                <key>textureRect</key>
                <string>{{1839,1798},{217,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/Mamba_frog2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{293,228}</string>
                <key>spriteSourceSize</key>
                <string>{293,236}</string>
                <key>textureRect</key>
                <string>{{3355,1},{293,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/Mamba_frog3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{293,204}</string>
                <key>spriteSourceSize</key>
                <string>{293,236}</string>
                <key>textureRect</key>
                <string>{{2781,1754},{293,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/bird_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,3}</string>
                <key>spriteSize</key>
                <string>{183,150}</string>
                <key>spriteSourceSize</key>
                <string>{227,164}</string>
                <key>textureRect</key>
                <string>{{3451,1621},{183,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/bird_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{225,158}</string>
                <key>spriteSourceSize</key>
                <string>{227,164}</string>
                <key>textureRect</key>
                <string>{{3076,1754},{225,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/lion_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{654,403}</string>
                <key>spriteSourceSize</key>
                <string>{654,403}</string>
                <key>textureRect</key>
                <string>{{3303,309},{654,403}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/lion_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,129}</string>
                <key>spriteSourceSize</key>
                <string>{129,129}</string>
                <key>textureRect</key>
                <string>{{3236,1802},{129,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/lion_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1022,940}</string>
                <key>spriteSourceSize</key>
                <string>{1022,940}</string>
                <key>textureRect</key>
                <string>{{2279,309},{1022,940}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/lion_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1022,940}</string>
                <key>spriteSourceSize</key>
                <string>{1022,940}</string>
                <key>textureRect</key>
                <string>{{2279,309},{1022,940}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/lion_lower_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,125}</string>
                <key>spriteSourceSize</key>
                <string>{40,125}</string>
                <key>textureRect</key>
                <string>{{2237,1255},{40,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/lion_lower_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,125}</string>
                <key>spriteSourceSize</key>
                <string>{40,125}</string>
                <key>textureRect</key>
                <string>{{2048,1418},{40,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/lion_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,179}</string>
                <key>spriteSourceSize</key>
                <string>{207,179}</string>
                <key>textureRect</key>
                <string>{{3242,1621},{207,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/lion_upper_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,159}</string>
                <key>spriteSourceSize</key>
                <string>{46,159}</string>
                <key>textureRect</key>
                <string>{{3194,1593},{46,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/lion_upper_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,159}</string>
                <key>spriteSourceSize</key>
                <string>{46,159}</string>
                <key>textureRect</key>
                <string>{{3650,1},{46,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/water1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,96}</string>
                <key>spriteSourceSize</key>
                <string>{229,96}</string>
                <key>textureRect</key>
                <string>{{330,1866},{229,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/water2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,138}</string>
                <key>spriteSourceSize</key>
                <string>{327,138}</string>
                <key>textureRect</key>
                <string>{{1,1866},{327,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/water3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,196}</string>
                <key>spriteSourceSize</key>
                <string>{468,196}</string>
                <key>textureRect</key>
                <string>{{2583,1481},{468,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/zebra_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{654,403}</string>
                <key>spriteSourceSize</key>
                <string>{654,403}</string>
                <key>textureRect</key>
                <string>{{3303,965},{654,403}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/zebra_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{1184,1341},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/zebra_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{944,1033}</string>
                <key>spriteSourceSize</key>
                <string>{944,1033}</string>
                <key>textureRect</key>
                <string>{{1244,309},{944,1033}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/zebra_lower_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,166}</string>
                <key>spriteSourceSize</key>
                <string>{84,166}</string>
                <key>textureRect</key>
                <string>{{789,1866},{84,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/zebra_lower_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,166}</string>
                <key>spriteSourceSize</key>
                <string>{84,166}</string>
                <key>textureRect</key>
                <string>{{957,1866},{84,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/zebra_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,226}</string>
                <key>spriteSourceSize</key>
                <string>{94,226}</string>
                <key>textureRect</key>
                <string>{{561,1866},{94,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/zebra_upper_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,162}</string>
                <key>spriteSourceSize</key>
                <string>{70,162}</string>
                <key>textureRect</key>
                <string>{{3355,231},{70,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kuhesabu_wanyama_Counting/Kuhesabu_wanyama_Counting_2/zebra_upper_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,163}</string>
                <key>spriteSourceSize</key>
                <string>{70,163}</string>
                <key>textureRect</key>
                <string>{{3636,1621},{70,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Kuhesabu_wanyama_Counting_2.png</string>
            <key>size</key>
            <string>{3707,2016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca837d808c01b474cb5e6fe33522f398:4021123fc6f51e2b5ea2a3c8515e8aed:442acfcb22019d37ab1d765bd8dbd14b$</string>
            <key>textureFileName</key>
            <string>Kuhesabu_wanyama_Counting_2.png</string>
        </dict>
    </dict>
</plist>
