<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stackisland/stackisland_2/whale01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-4}</string>
                <key>spriteSize</key>
                <string>{196,137}</string>
                <key>spriteSourceSize</key>
                <string>{216,175}</string>
                <key>textureRect</key>
                <string>{{1,144},{196,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stackisland/stackisland_2/whale02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,7}</string>
                <key>spriteSize</key>
                <string>{192,161}</string>
                <key>spriteSourceSize</key>
                <string>{216,175}</string>
                <key>textureRect</key>
                <string>{{1,633},{192,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stackisland/stackisland_2/whale03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,2}</string>
                <key>spriteSize</key>
                <string>{192,171}</string>
                <key>spriteSourceSize</key>
                <string>{216,175}</string>
                <key>textureRect</key>
                <string>{{1,460},{192,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stackisland/stackisland_2/whale04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,0}</string>
                <key>spriteSize</key>
                <string>{192,175}</string>
                <key>spriteSourceSize</key>
                <string>{216,175}</string>
                <key>textureRect</key>
                <string>{{1,283},{192,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stackisland/stackisland_2/whale05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-6}</string>
                <key>spriteSize</key>
                <string>{202,141}</string>
                <key>spriteSourceSize</key>
                <string>{216,175}</string>
                <key>textureRect</key>
                <string>{{1,1},{202,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stackisland_2.png</string>
            <key>size</key>
            <string>{204,795}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4319c2920b5a567107bf100652a07b2e:d66dc19912f08100933e71ddda6aa238:8b7df428ff2412794e82423bc71acaf3$</string>
            <key>textureFileName</key>
            <string>stackisland_2.png</string>
        </dict>
    </dict>
</plist>
