<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>balloonhero/blaze0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,10}</string>
                <key>spriteSize</key>
                <string>{186,276}</string>
                <key>spriteSourceSize</key>
                <string>{188,296}</string>
                <key>textureRect</key>
                <string>{{1630,3514},{186,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonhero/blaze0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,10}</string>
                <key>spriteSize</key>
                <string>{186,276}</string>
                <key>spriteSourceSize</key>
                <string>{188,296}</string>
                <key>textureRect</key>
                <string>{{1630,3514},{186,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonhero/blaze0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,10}</string>
                <key>spriteSize</key>
                <string>{186,276}</string>
                <key>spriteSourceSize</key>
                <string>{188,296}</string>
                <key>textureRect</key>
                <string>{{1630,3514},{186,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonhero/blaze0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,296}</string>
                <key>spriteSourceSize</key>
                <string>{188,296}</string>
                <key>textureRect</key>
                <string>{{1,1275},{188,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonhero/blaze0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,296}</string>
                <key>spriteSourceSize</key>
                <string>{188,296}</string>
                <key>textureRect</key>
                <string>{{1,1275},{188,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonhero/blaze0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,296}</string>
                <key>spriteSourceSize</key>
                <string>{188,296}</string>
                <key>textureRect</key>
                <string>{{1,1275},{188,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonhero/blaze0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{184,292}</string>
                <key>spriteSourceSize</key>
                <string>{188,296}</string>
                <key>textureRect</key>
                <string>{{868,3760},{184,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/blaze0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{184,292}</string>
                <key>spriteSourceSize</key>
                <string>{188,296}</string>
                <key>textureRect</key>
                <string>{{868,3760},{184,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/blaze0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{184,292}</string>
                <key>spriteSourceSize</key>
                <string>{188,296}</string>
                <key>textureRect</key>
                <string>{{868,3760},{184,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/city.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1592,978}</string>
                <key>spriteSourceSize</key>
                <string>{1592,978}</string>
                <key>textureRect</key>
                <string>{{1,1},{1592,978}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,265}</string>
                <key>spriteSourceSize</key>
                <string>{506,265}</string>
                <key>textureRect</key>
                <string>{{1363,3514},{506,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonhero/cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{639,310}</string>
                <key>spriteSourceSize</key>
                <string>{639,310}</string>
                <key>textureRect</key>
                <string>{{1373,2143},{639,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/cloud3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{801,388}</string>
                <key>spriteSourceSize</key>
                <string>{801,388}</string>
                <key>textureRect</key>
                <string>{{1595,666},{801,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonhero/cloud4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,302}</string>
                <key>spriteSourceSize</key>
                <string>{576,302}</string>
                <key>textureRect</key>
                <string>{{290,3760},{576,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/fg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1016,333}</string>
                <key>spriteSourceSize</key>
                <string>{1016,333}</string>
                <key>textureRect</key>
                <string>{{290,3425},{1016,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/firefly.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{493,1081}</string>
                <key>spriteSourceSize</key>
                <string>{493,1081}</string>
                <key>textureRect</key>
                <string>{{290,1772},{493,1081}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonhero/firefly0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{495,1081}</string>
                <key>spriteSourceSize</key>
                <string>{621,1081}</string>
                <key>textureRect</key>
                <string>{{299,1275},{495,1081}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonhero/firefly0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{495,1081}</string>
                <key>spriteSourceSize</key>
                <string>{621,1081}</string>
                <key>textureRect</key>
                <string>{{299,1275},{495,1081}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonhero/firefly0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,5}</string>
                <key>spriteSize</key>
                <string>{577,1059}</string>
                <key>spriteSourceSize</key>
                <string>{621,1081}</string>
                <key>textureRect</key>
                <string>{{290,2267},{577,1059}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonhero/firefly0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,5}</string>
                <key>spriteSize</key>
                <string>{577,1059}</string>
                <key>spriteSourceSize</key>
                <string>{621,1081}</string>
                <key>textureRect</key>
                <string>{{290,2267},{577,1059}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonhero/firefly0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{621,1057}</string>
                <key>spriteSourceSize</key>
                <string>{621,1081}</string>
                <key>textureRect</key>
                <string>{{1351,2455},{621,1057}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/firefly0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{621,1057}</string>
                <key>spriteSourceSize</key>
                <string>{621,1081}</string>
                <key>textureRect</key>
                <string>{{1351,2455},{621,1057}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/firefly0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,5}</string>
                <key>spriteSize</key>
                <string>{577,1059}</string>
                <key>spriteSourceSize</key>
                <string>{621,1081}</string>
                <key>textureRect</key>
                <string>{{290,2846},{577,1059}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonhero/firefly0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,5}</string>
                <key>spriteSize</key>
                <string>{577,1059}</string>
                <key>spriteSourceSize</key>
                <string>{621,1081}</string>
                <key>textureRect</key>
                <string>{{290,2846},{577,1059}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonhero/firefly0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{495,1081}</string>
                <key>spriteSourceSize</key>
                <string>{621,1081}</string>
                <key>textureRect</key>
                <string>{{299,1275},{495,1081}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonhero/fuelbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1111,61}</string>
                <key>spriteSourceSize</key>
                <string>{1111,61}</string>
                <key>textureRect</key>
                <string>{{1520,981},{1111,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonhero/fuelbarbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,1517}</string>
                <key>spriteSourceSize</key>
                <string>{292,1517}</string>
                <key>textureRect</key>
                <string>{{1,981},{292,1517}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonhero/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2562,287}</string>
                <key>spriteSourceSize</key>
                <string>{2562,287}</string>
                <key>textureRect</key>
                <string>{{1,1469},{2562,287}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonhero/meteor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,335}</string>
                <key>spriteSourceSize</key>
                <string>{371,335}</string>
                <key>textureRect</key>
                <string>{{1583,1469},{371,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/meteorblast0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,335}</string>
                <key>spriteSourceSize</key>
                <string>{371,335}</string>
                <key>textureRect</key>
                <string>{{1583,1806},{371,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/meteorblast0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,335}</string>
                <key>spriteSourceSize</key>
                <string>{371,335}</string>
                <key>textureRect</key>
                <string>{{1583,1806},{371,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/meteorblast0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{79,77}</string>
                <key>spriteSourceSize</key>
                <string>{371,335}</string>
                <key>textureRect</key>
                <string>{{1382,1275},{79,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/meteorblast0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{79,77}</string>
                <key>spriteSourceSize</key>
                <string>{371,335}</string>
                <key>textureRect</key>
                <string>{{1382,1275},{79,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/meteorblast0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{151,141}</string>
                <key>spriteSourceSize</key>
                <string>{371,335}</string>
                <key>textureRect</key>
                <string>{{1373,1772},{151,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonhero/meteorblast0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{151,141}</string>
                <key>spriteSourceSize</key>
                <string>{371,335}</string>
                <key>textureRect</key>
                <string>{{1373,1772},{151,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonhero/meteorblast0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{283,307}</string>
                <key>spriteSourceSize</key>
                <string>{371,335}</string>
                <key>textureRect</key>
                <string>{{1054,3760},{283,307}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonhero/safe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,663}</string>
                <key>spriteSourceSize</key>
                <string>{431,663}</string>
                <key>textureRect</key>
                <string>{{1595,1},{431,663}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/spear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{681,44}</string>
                <key>spriteSourceSize</key>
                <string>{681,44}</string>
                <key>textureRect</key>
                <string>{{1985,666},{681,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>balloonhero.png</string>
            <key>size</key>
            <string>{2030,4063}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ad74e21a04713ca39986b2a5377772f:4876c0b61f97cb0aae44496856aaf3c2:820d4c186e53bc13772994be55f4426a$</string>
            <key>textureFileName</key>
            <string>balloonhero.png</string>
        </dict>
    </dict>
</plist>
