<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>owljungle/bg 2-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,0}</string>
                <key>spriteSize</key>
                <string>{554,1156}</string>
                <key>spriteSourceSize</key>
                <string>{616,1156}</string>
                <key>textureRect</key>
                <string>{{2051,418},{554,1156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owljungle/bg-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2048,321}</string>
                <key>spriteSourceSize</key>
                <string>{2048,321}</string>
                <key>textureRect</key>
                <string>{{1,726},{2048,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owljungle/bg-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2048,306}</string>
                <key>spriteSourceSize</key>
                <string>{2048,306}</string>
                <key>textureRect</key>
                <string>{{1,418},{2048,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owljungle/bg-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2048,226}</string>
                <key>spriteSourceSize</key>
                <string>{2048,226}</string>
                <key>textureRect</key>
                <string>{{1553,190},{2048,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owljungle/bird-02-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,80}</string>
                <key>spriteSourceSize</key>
                <string>{115,80}</string>
                <key>textureRect</key>
                <string>{{1,1},{115,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owljungle/bird-02-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,124}</string>
                <key>spriteSourceSize</key>
                <string>{113,124}</string>
                <key>textureRect</key>
                <string>{{658,1},{113,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owljungle/bird.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{381,184}</string>
                <key>spriteSourceSize</key>
                <string>{381,184}</string>
                <key>textureRect</key>
                <string>{{784,1},{381,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owljungle/board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2222,187}</string>
                <key>spriteSourceSize</key>
                <string>{2222,187}</string>
                <key>textureRect</key>
                <string>{{1167,1},{2222,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owljungle/dash_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,100}</string>
                <key>spriteSourceSize</key>
                <string>{133,100}</string>
                <key>textureRect</key>
                <string>{{118,1},{133,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owljungle/dash_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,100}</string>
                <key>spriteSourceSize</key>
                <string>{133,100}</string>
                <key>textureRect</key>
                <string>{{253,1},{133,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owljungle/log.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1550,200}</string>
                <key>spriteSourceSize</key>
                <string>{1550,200}</string>
                <key>textureRect</key>
                <string>{{1,190},{1550,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owljungle/smallbar_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,100}</string>
                <key>spriteSourceSize</key>
                <string>{133,100}</string>
                <key>textureRect</key>
                <string>{{388,1},{133,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owljungle/smallbar_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,100}</string>
                <key>spriteSourceSize</key>
                <string>{133,100}</string>
                <key>textureRect</key>
                <string>{{523,1},{133,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>owljungle.png</string>
            <key>size</key>
            <string>{3602,1048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22c086ff9b79532211215a0a305a7195:cecb7e0f4ef9f04ccbd1a779e706feb7:c692af7e3ffa44352e22978fd08ee065$</string>
            <key>textureFileName</key>
            <string>owljungle.png</string>
        </dict>
    </dict>
</plist>
