<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>phonicsfreelevel/Big box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,99}</string>
                <key>spriteSourceSize</key>
                <string>{335,99}</string>
                <key>textureRect</key>
                <string>{{858,1},{335,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phonicsfreelevel/a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{49,56}</string>
                <key>spriteSourceSize</key>
                <string>{49,86}</string>
                <key>textureRect</key>
                <string>{{580,50},{49,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phonicsfreelevel/b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{37,58}</string>
                <key>spriteSourceSize</key>
                <string>{43,86}</string>
                <key>textureRect</key>
                <string>{{677,50},{37,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phonicsfreelevel/box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,73}</string>
                <key>spriteSourceSize</key>
                <string>{71,73}</string>
                <key>textureRect</key>
                <string>{{425,50},{71,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>phonicsfreelevel/c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{44,58}</string>
                <key>spriteSourceSize</key>
                <string>{46,86}</string>
                <key>textureRect</key>
                <string>{{631,50},{44,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phonicsfreelevel/cat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{107,58}</string>
                <key>spriteSourceSize</key>
                <string>{109,86}</string>
                <key>textureRect</key>
                <string>{{211,50},{107,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phonicsfreelevel/cubes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,46}</string>
                <key>spriteSourceSize</key>
                <string>{78,46}</string>
                <key>textureRect</key>
                <string>{{500,50},{78,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phonicsfreelevel/floor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{855,47}</string>
                <key>spriteSourceSize</key>
                <string>{855,47}</string>
                <key>textureRect</key>
                <string>{{1,1},{855,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phonicsfreelevel/name bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,58}</string>
                <key>spriteSourceSize</key>
                <string>{208,58}</string>
                <key>textureRect</key>
                <string>{{1,50},{208,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phonicsfreelevel/rat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{103,58}</string>
                <key>spriteSourceSize</key>
                <string>{107,86}</string>
                <key>textureRect</key>
                <string>{{320,50},{103,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phonicsfreelevel/small box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,81}</string>
                <key>spriteSourceSize</key>
                <string>{85,81}</string>
                <key>textureRect</key>
                <string>{{1195,1},{85,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>phonicsfreelevel.png</string>
            <key>size</key>
            <string>{1277,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c0d1cb55c82631a2aae1bbcecf3e5e4:991f55f8b0763f584eedb8ca0405757a:3f72d2381b9a9f62553462e587aef737$</string>
            <key>textureFileName</key>
            <string>phonicsfreelevel.png</string>
        </dict>
    </dict>
</plist>
