<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ajali_mbaya_Serious_accident/ajali_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,42}</string>
                <key>spriteSourceSize</key>
                <string>{92,42}</string>
                <key>textureRect</key>
                <string>{{70,623},{92,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ajali_mbaya_Serious_accident/ajali_sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{1,623},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ajali_mbaya_Serious_accident/ajali_trcuk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,184}</string>
                <key>spriteSourceSize</key>
                <string>{369,184}</string>
                <key>textureRect</key>
                <string>{{1,1},{369,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ajali_mbaya_Serious_accident/ajali_trcuk_tyre.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{313,623},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ajali_mbaya_Serious_accident/ajali_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,157}</string>
                <key>spriteSourceSize</key>
                <string>{120,157}</string>
                <key>textureRect</key>
                <string>{{270,187},{120,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ajali_mbaya_Serious_accident/ajali_tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,63}</string>
                <key>spriteSourceSize</key>
                <string>{30,63}</string>
                <key>textureRect</key>
                <string>{{431,624},{30,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ajali_mbaya_Serious_accident/ajali_zebracrossing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,33}</string>
                <key>spriteSourceSize</key>
                <string>{81,33}</string>
                <key>textureRect</key>
                <string>{{164,623},{81,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ajali_mbaya_Serious_accident/ambulance.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,138}</string>
                <key>spriteSourceSize</key>
                <string>{245,138}</string>
                <key>textureRect</key>
                <string>{{1,483},{245,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ajali_mbaya_Serious_accident/ambulance_tyre.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{375,624},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ajali_mbaya_Serious_accident/arm_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,26}</string>
                <key>spriteSourceSize</key>
                <string>{17,26}</string>
                <key>textureRect</key>
                <string>{{478,543},{17,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ajali_mbaya_Serious_accident/arm_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,55}</string>
                <key>spriteSourceSize</key>
                <string>{12,55}</string>
                <key>textureRect</key>
                <string>{{464,507},{12,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ajali_mbaya_Serious_accident/arm_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,66}</string>
                <key>spriteSourceSize</key>
                <string>{14,66}</string>
                <key>textureRect</key>
                <string>{{70,667},{14,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ajali_mbaya_Serious_accident/car.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,99}</string>
                <key>spriteSourceSize</key>
                <string>{232,99}</string>
                <key>textureRect</key>
                <string>{{392,167},{232,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ajali_mbaya_Serious_accident/car_tyre.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{463,624},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ajali_mbaya_Serious_accident/face .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,132}</string>
                <key>spriteSourceSize</key>
                <string>{164,132}</string>
                <key>textureRect</key>
                <string>{{372,1},{164,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ajali_mbaya_Serious_accident/girl_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,166}</string>
                <key>spriteSourceSize</key>
                <string>{144,166}</string>
                <key>textureRect</key>
                <string>{{248,455},{144,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ajali_mbaya_Serious_accident/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{463,674},{13,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ajali_mbaya_Serious_accident/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,43}</string>
                <key>spriteSourceSize</key>
                <string>{7,43}</string>
                <key>textureRect</key>
                <string>{{116,683},{7,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ajali_mbaya_Serious_accident/girl_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{384,346},{6,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ajali_mbaya_Serious_accident/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,34}</string>
                <key>spriteSourceSize</key>
                <string>{17,34}</string>
                <key>textureRect</key>
                <string>{{478,507},{17,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ajali_mbaya_Serious_accident/girl_shoe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,5}</string>
                <key>spriteSourceSize</key>
                <string>{26,5}</string>
                <key>textureRect</key>
                <string>{{506,1},{26,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ajali_mbaya_Serious_accident/girl_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,62}</string>
                <key>spriteSourceSize</key>
                <string>{68,62}</string>
                <key>textureRect</key>
                <string>{{394,507},{68,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ajali_mbaya_Serious_accident/girl_sleeve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,7}</string>
                <key>spriteSourceSize</key>
                <string>{17,7}</string>
                <key>textureRect</key>
                <string>{{504,167},{17,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ajali_mbaya_Serious_accident/girl_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,69}</string>
                <key>spriteSourceSize</key>
                <string>{51,69}</string>
                <key>textureRect</key>
                <string>{{394,571},{51,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ajali_mbaya_Serious_accident/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,44}</string>
                <key>spriteSourceSize</key>
                <string>{7,44}</string>
                <key>textureRect</key>
                <string>{{70,683},{7,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ajali_mbaya_Serious_accident/girl_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,22}</string>
                <key>spriteSourceSize</key>
                <string>{5,22}</string>
                <key>textureRect</key>
                <string>{{506,29},{5,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ajali_mbaya_Serious_accident/motu_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{394,401},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ajali_mbaya_Serious_accident/motu_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,24}</string>
                <key>spriteSourceSize</key>
                <string>{8,24}</string>
                <key>textureRect</key>
                <string>{{235,455},{8,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ajali_mbaya_Serious_accident/motu_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,37}</string>
                <key>spriteSourceSize</key>
                <string>{9,37}</string>
                <key>textureRect</key>
                <string>{{493,167},{9,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ajali_mbaya_Serious_accident/motu_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,147}</string>
                <key>spriteSourceSize</key>
                <string>{107,147}</string>
                <key>textureRect</key>
                <string>{{235,346},{107,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ajali_mbaya_Serious_accident/motu_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,8}</string>
                <key>spriteSourceSize</key>
                <string>{40,8}</string>
                <key>textureRect</key>
                <string>{{384,401},{40,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ajali_mbaya_Serious_accident/petal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,29}</string>
                <key>spriteSourceSize</key>
                <string>{17,29}</string>
                <key>textureRect</key>
                <string>{{235,323},{17,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ajali_mbaya_Serious_accident/policecar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,158}</string>
                <key>spriteSourceSize</key>
                <string>{232,158}</string>
                <key>textureRect</key>
                <string>{{1,323},{232,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ajali_mbaya_Serious_accident/towtruck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,134}</string>
                <key>spriteSourceSize</key>
                <string>{267,134}</string>
                <key>textureRect</key>
                <string>{{1,187},{267,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ajali_mbaya_Serious_accident/towtruck_tyre.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{247,623},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Ajali_mbaya_Serious_accident.png</string>
            <key>size</key>
            <string>{512,691}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d28fc69392984bb1f36bea63c3e3fa9:c3b9fd2a7d7ff9c25d00dee94858bb9c:65f8783b59d57a2aec69157180c9db49$</string>
            <key>textureFileName</key>
            <string>Ajali_mbaya_Serious_accident.png</string>
        </dict>
    </dict>
</plist>
