<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>postoffice/box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,249}</string>
                <key>spriteSourceSize</key>
                <string>{282,249}</string>
                <key>textureRect</key>
                <string>{{712,1373},{282,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>postoffice/counter1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,55}</string>
                <key>spriteSourceSize</key>
                <string>{242,55}</string>
                <key>textureRect</key>
                <string>{{1,1677},{242,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>postoffice/counter2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,55}</string>
                <key>spriteSourceSize</key>
                <string>{242,55}</string>
                <key>textureRect</key>
                <string>{{245,1677},{242,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>postoffice/desk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{709,474}</string>
                <key>spriteSourceSize</key>
                <string>{709,474}</string>
                <key>textureRect</key>
                <string>{{1368,1028},{709,474}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>postoffice/desk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{709,302}</string>
                <key>spriteSourceSize</key>
                <string>{709,302}</string>
                <key>textureRect</key>
                <string>{{1,1373},{709,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>postoffice/floortile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,51}</string>
                <key>spriteSourceSize</key>
                <string>{258,51}</string>
                <key>textureRect</key>
                <string>{{489,1677},{258,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>postoffice/foundationtile1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,168}</string>
                <key>spriteSourceSize</key>
                <string>{169,168}</string>
                <key>textureRect</key>
                <string>{{1196,1373},{169,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>postoffice/foundationtile2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,172}</string>
                <key>spriteSourceSize</key>
                <string>{161,172}</string>
                <key>textureRect</key>
                <string>{{1196,1543},{161,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>postoffice/pillar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1370,1365}</string>
                <key>spriteSourceSize</key>
                <string>{1370,1365}</string>
                <key>textureRect</key>
                <string>{{1,1},{1370,1365}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>postoffice/pole.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,205}</string>
                <key>spriteSourceSize</key>
                <string>{32,205}</string>
                <key>textureRect</key>
                <string>{{749,1657},{32,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>postoffice/post.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,43}</string>
                <key>spriteSourceSize</key>
                <string>{98,43}</string>
                <key>textureRect</key>
                <string>{{1844,1576},{98,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>postoffice/rack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1025,580}</string>
                <key>spriteSourceSize</key>
                <string>{1025,580}</string>
                <key>textureRect</key>
                <string>{{1368,1},{1025,580}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>postoffice/rooftile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,231}</string>
                <key>spriteSourceSize</key>
                <string>{257,231}</string>
                <key>textureRect</key>
                <string>{{963,1373},{257,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>postoffice/storage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{546,129}</string>
                <key>spriteSourceSize</key>
                <string>{546,129}</string>
                <key>textureRect</key>
                <string>{{1844,1028},{546,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>postoffice.png</string>
            <key>size</key>
            <string>{1974,1738}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8a7bd4cf11ef5a13221110fbdcdd53c:524548e19fa5666a58461c49f15f123f:feb08ddd1c0755319183b2c3a65af203$</string>
            <key>textureFileName</key>
            <string>postoffice.png</string>
        </dict>
    </dict>
</plist>
