<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cityscreen/base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{644,265}</string>
                <key>spriteSourceSize</key>
                <string>{644,265}</string>
                <key>textureRect</key>
                <string>{{1352,671},{644,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/bgbuilding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,754}</string>
                <key>spriteSourceSize</key>
                <string>{265,754}</string>
                <key>textureRect</key>
                <string>{{743,1194},{265,754}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/building01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{655,413}</string>
                <key>spriteSourceSize</key>
                <string>{655,413}</string>
                <key>textureRect</key>
                <string>{{1352,256},{655,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/building02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{524,376}</string>
                <key>spriteSourceSize</key>
                <string>{524,376}</string>
                <key>textureRect</key>
                <string>{{365,1194},{524,376}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/building03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{611,362}</string>
                <key>spriteSourceSize</key>
                <string>{611,362}</string>
                <key>textureRect</key>
                <string>{{1,1104},{611,362}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/building04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,250}</string>
                <key>spriteSourceSize</key>
                <string>{301,250}</string>
                <key>textureRect</key>
                <string>{{420,1969},{301,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/building05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,358}</string>
                <key>spriteSourceSize</key>
                <string>{198,358}</string>
                <key>textureRect</key>
                <string>{{1822,938},{198,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/building06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,709}</string>
                <key>spriteSourceSize</key>
                <string>{417,709}</string>
                <key>textureRect</key>
                <string>{{1,1732},{417,709}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/building07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,182}</string>
                <key>spriteSourceSize</key>
                <string>{194,182}</string>
                <key>textureRect</key>
                <string>{{420,2221},{194,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/building08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,485}</string>
                <key>spriteSourceSize</key>
                <string>{181,485}</string>
                <key>textureRect</key>
                <string>{{1822,1298},{181,485}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/building09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,318}</string>
                <key>spriteSourceSize</key>
                <string>{247,318}</string>
                <key>textureRect</key>
                <string>{{420,1720},{247,318}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/building10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,541}</string>
                <key>spriteSourceSize</key>
                <string>{263,541}</string>
                <key>textureRect</key>
                <string>{{1480,1},{253,541}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/building11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,326}</string>
                <key>spriteSourceSize</key>
                <string>{233,326}</string>
                <key>textureRect</key>
                <string>{{1433,1697},{233,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/bus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1021,339}</string>
                <key>spriteSourceSize</key>
                <string>{1021,339}</string>
                <key>textureRect</key>
                <string>{{1,763},{1021,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/busstop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{757,468}</string>
                <key>spriteSourceSize</key>
                <string>{757,468}</string>
                <key>textureRect</key>
                <string>{{1352,938},{757,468}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{574,88}</string>
                <key>spriteSourceSize</key>
                <string>{574,88}</string>
                <key>textureRect</key>
                <string>{{420,1104},{574,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/garden.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1349,749}</string>
                <key>spriteSourceSize</key>
                <string>{1349,749}</string>
                <key>textureRect</key>
                <string>{{1,12},{1349,749}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/helicopter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{421,211}</string>
                <key>spriteSourceSize</key>
                <string>{421,211}</string>
                <key>textureRect</key>
                <string>{{1010,1732},{421,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,967}</string>
                <key>spriteSourceSize</key>
                <string>{326,967}</string>
                <key>textureRect</key>
                <string>{{1024,763},{326,967}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/mgbuilding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,481}</string>
                <key>spriteSourceSize</key>
                <string>{223,481}</string>
                <key>textureRect</key>
                <string>{{1622,1932},{223,481}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/plane.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,150}</string>
                <key>spriteSourceSize</key>
                <string>{364,150}</string>
                <key>textureRect</key>
                <string>{{1847,1931},{364,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/roadbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1477,9}</string>
                <key>spriteSourceSize</key>
                <string>{1477,9}</string>
                <key>textureRect</key>
                <string>{{1,1},{1477,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1761,1785},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,146}</string>
                <key>spriteSourceSize</key>
                <string>{70,146}</string>
                <key>textureRect</key>
                <string>{{1847,2297},{70,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cityscreen/tree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,186}</string>
                <key>spriteSourceSize</key>
                <string>{69,186}</string>
                <key>textureRect</key>
                <string>{{1352,12},{69,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityscreen/tree3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,880}</string>
                <key>spriteSourceSize</key>
                <string>{488,880}</string>
                <key>textureRect</key>
                <string>{{740,1950},{488,880}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cityscreen.png</string>
            <key>size</key>
            <string>{2022,2442}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eff553e43991455aa137471ed9938cbd:6f3f5ec9bec162671be0a45ee1adc148:4661ab4f5c9e7e7a6a56f33a57c4aeea$</string>
            <key>textureFileName</key>
            <string>cityscreen.png</string>
        </dict>
    </dict>
</plist>
