<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>firestation/firestation3/curtain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,248}</string>
                <key>spriteSourceSize</key>
                <string>{92,248}</string>
                <key>textureRect</key>
                <string>{{1,1},{92,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>firestation/firestation3/rooftile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{1,214},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firestation/firestation3/screwdriver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,7}</string>
                <key>spriteSourceSize</key>
                <string>{62,7}</string>
                <key>textureRect</key>
                <string>{{67,214},{62,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firestation/firestation3/sofa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,89}</string>
                <key>spriteSourceSize</key>
                <string>{197,89}</string>
                <key>textureRect</key>
                <string>{{161,95},{197,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>firestation/firestation3/window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,117}</string>
                <key>spriteSourceSize</key>
                <string>{158,117}</string>
                <key>textureRect</key>
                <string>{{1,95},{158,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>firestation3.png</string>
            <key>size</key>
            <string>{251,293}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70df8c7de412b77848080559aa2b6c0b:f1acc194a1cf6e4e6c8340bb9a221bfe:4dba1c2d65d3bbcf58fbd5f446529eef$</string>
            <key>textureFileName</key>
            <string>firestation3.png</string>
        </dict>
    </dict>
</plist>
