<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>electricalshop/electricalshop2/crate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,139}</string>
                <key>spriteSourceSize</key>
                <string>{149,139}</string>
                <key>textureRect</key>
                <string>{{802,495},{149,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>electricalshop/electricalshop2/pillar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,674}</string>
                <key>spriteSourceSize</key>
                <string>{90,674}</string>
                <key>textureRect</key>
                <string>{{1,495},{90,674}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>electricalshop/electricalshop2/rack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{961,492}</string>
                <key>spriteSourceSize</key>
                <string>{961,492}</string>
                <key>textureRect</key>
                <string>{{1,1},{961,492}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>electricalshop/electricalshop2/rooftile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,116}</string>
                <key>spriteSourceSize</key>
                <string>{129,116}</string>
                <key>textureRect</key>
                <string>{{789,636},{129,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>electricalshop/electricalshop2/table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{497,147}</string>
                <key>spriteSourceSize</key>
                <string>{497,147}</string>
                <key>textureRect</key>
                <string>{{1,587},{497,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>electricalshop/electricalshop2/walltexture.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,76}</string>
                <key>spriteSourceSize</key>
                <string>{123,76}</string>
                <key>textureRect</key>
                <string>{{677,495},{123,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>electricalshop/electricalshop2/window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,215}</string>
                <key>spriteSourceSize</key>
                <string>{287,215}</string>
                <key>textureRect</key>
                <string>{{500,587},{287,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>electricalshop/electricalshop2/wirebobinblue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,106}</string>
                <key>spriteSourceSize</key>
                <string>{116,106}</string>
                <key>textureRect</key>
                <string>{{1,736},{116,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>electricalshop/electricalshop2/wirebobinyellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,106}</string>
                <key>spriteSourceSize</key>
                <string>{116,106}</string>
                <key>textureRect</key>
                <string>{{119,736},{116,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>electricalshop2.png</string>
            <key>size</key>
            <string>{963,843}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e400848b34a3479f680b8d022b96b41:f6e23a4c3e8b88b3c27e942d204eb8f2:4dfd1e7b483c598b5044323865abaece$</string>
            <key>textureFileName</key>
            <string>electricalshop2.png</string>
        </dict>
    </dict>
</plist>
