<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>firestation/bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1711,28}</string>
                <key>spriteSourceSize</key>
                <string>{1711,28}</string>
                <key>textureRect</key>
                <string>{{268,1531},{1711,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firestation/coat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,408}</string>
                <key>spriteSourceSize</key>
                <string>{180,408}</string>
                <key>textureRect</key>
                <string>{{1795,648},{180,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firestation/extinguisher.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,282}</string>
                <key>spriteSourceSize</key>
                <string>{150,282}</string>
                <key>textureRect</key>
                <string>{{1388,1864},{150,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>firestation/floortile2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,154}</string>
                <key>spriteSourceSize</key>
                <string>{259,154}</string>
                <key>textureRect</key>
                <string>{{1795,1058},{259,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>firestation/helmet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,112}</string>
                <key>spriteSourceSize</key>
                <string>{189,112}</string>
                <key>textureRect</key>
                <string>{{1795,534},{189,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firestation/hose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1795,232},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firestation/medicaldoor1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,229}</string>
                <key>spriteSourceSize</key>
                <string>{201,229}</string>
                <key>textureRect</key>
                <string>{{1795,1},{201,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firestation/medicaldoor2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,302}</string>
                <key>spriteSourceSize</key>
                <string>{104,302}</string>
                <key>textureRect</key>
                <string>{{486,1561},{104,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firestation/pillar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,1400}</string>
                <key>spriteSourceSize</key>
                <string>{301,1400}</string>
                <key>textureRect</key>
                <string>{{592,1561},{301,1400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>firestation/pole.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,1385}</string>
                <key>spriteSourceSize</key>
                <string>{43,1385}</string>
                <key>textureRect</key>
                <string>{{1,1971},{43,1385}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>firestation/stairs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1792,1528}</string>
                <key>spriteSourceSize</key>
                <string>{1792,1528}</string>
                <key>textureRect</key>
                <string>{{1,1},{1792,1528}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firestation/tap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,95}</string>
                <key>spriteSourceSize</key>
                <string>{108,95}</string>
                <key>textureRect</key>
                <string>{{1795,1319},{108,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firestation/toilet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,438}</string>
                <key>spriteSourceSize</key>
                <string>{265,438}</string>
                <key>textureRect</key>
                <string>{{1,1531},{265,438}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>firestation/waterstand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,408}</string>
                <key>spriteSourceSize</key>
                <string>{216,408}</string>
                <key>textureRect</key>
                <string>{{268,1561},{216,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>firestation.png</string>
            <key>size</key>
            <string>{1997,2015}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96abc63e1f67b47294b8d3489ec535df:e7ba5c44d5e2bb790457976fdc7c71a0:2cf8e6ef1557b55c51563140e4a17b40$</string>
            <key>textureFileName</key>
            <string>firestation.png</string>
        </dict>
    </dict>
</plist>
