<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/Brinjal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,86}</string>
                <key>spriteSourceSize</key>
                <string>{38,86}</string>
                <key>textureRect</key>
                <string>{{529,226},{38,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/Rabbit_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,115}</string>
                <key>spriteSourceSize</key>
                <string>{106,115}</string>
                <key>textureRect</key>
                <string>{{1542,384},{106,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/Rabbit_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,95}</string>
                <key>spriteSourceSize</key>
                <string>{78,95}</string>
                <key>textureRect</key>
                <string>{{1659,333},{78,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/Rabbit_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,20}</string>
                <key>spriteSourceSize</key>
                <string>{33,20}</string>
                <key>textureRect</key>
                <string>{{529,376},{33,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/Rabbit_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{1659,430},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/Vulture_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,51}</string>
                <key>spriteSourceSize</key>
                <string>{95,51}</string>
                <key>textureRect</key>
                <string>{{651,315},{95,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/Vulture_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,98}</string>
                <key>spriteSourceSize</key>
                <string>{107,98}</string>
                <key>textureRect</key>
                <string>{{410,398},{107,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/Vulture_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,65}</string>
                <key>spriteSourceSize</key>
                <string>{52,65}</string>
                <key>textureRect</key>
                <string>{{1157,370},{52,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/Vulture_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,40}</string>
                <key>spriteSourceSize</key>
                <string>{33,40}</string>
                <key>textureRect</key>
                <string>{{1585,245},{33,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/Vulture_wing1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{20,28}</string>
                <key>textureRect</key>
                <string>{{564,376},{20,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/barricade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,163}</string>
                <key>spriteSourceSize</key>
                <string>{320,163}</string>
                <key>textureRect</key>
                <string>{{1,226},{320,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/basket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,110}</string>
                <key>spriteSourceSize</key>
                <string>{98,110}</string>
                <key>textureRect</key>
                <string>{{298,398},{98,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/beard_baba1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,113}</string>
                <key>spriteSourceSize</key>
                <string>{214,113}</string>
                <key>textureRect</key>
                <string>{{1204,1},{214,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/bee_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,214}</string>
                <key>spriteSourceSize</key>
                <string>{152,214}</string>
                <key>textureRect</key>
                <string>{{1420,1},{152,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/boy_nose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,107}</string>
                <key>spriteSourceSize</key>
                <string>{137,107}</string>
                <key>textureRect</key>
                <string>{{926,379},{135,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/bubble.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,145}</string>
                <key>spriteSourceSize</key>
                <string>{193,145}</string>
                <key>textureRect</key>
                <string>{{1104,116},{193,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/cabbage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,92}</string>
                <key>spriteSourceSize</key>
                <string>{93,92}</string>
                <key>textureRect</key>
                <string>{{1063,379},{93,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/calypot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,7}</string>
                <key>spriteSourceSize</key>
                <string>{50,7}</string>
                <key>textureRect</key>
                <string>{{1080,370},{50,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/capsicum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,79}</string>
                <key>spriteSourceSize</key>
                <string>{77,79}</string>
                <key>textureRect</key>
                <string>{{1659,254},{77,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/carrot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,88}</string>
                <key>spriteSourceSize</key>
                <string>{122,88}</string>
                <key>textureRect</key>
                <string>{{1418,384},{122,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,65}</string>
                <key>spriteSourceSize</key>
                <string>{162,65}</string>
                <key>textureRect</key>
                <string>{{1228,263},{162,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/corn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,88}</string>
                <key>spriteSourceSize</key>
                <string>{38,88}</string>
                <key>textureRect</key>
                <string>{{1585,155},{38,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/eye_girl_outer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,6}</string>
                <key>spriteSourceSize</key>
                <string>{29,6}</string>
                <key>textureRect</key>
                <string>{{1659,490},{29,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/face 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,132}</string>
                <key>spriteSourceSize</key>
                <string>{163,132}</string>
                <key>textureRect</key>
                <string>{{1420,155},{163,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,170}</string>
                <key>spriteSourceSize</key>
                <string>{204,170}</string>
                <key>textureRect</key>
                <string>{{323,226},{204,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/fruit_table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,170}</string>
                <key>spriteSourceSize</key>
                <string>{218,170}</string>
                <key>textureRect</key>
                <string>{{884,86},{218,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{1086,483},{13,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/girl_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{1086,483},{13,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,43}</string>
                <key>spriteSourceSize</key>
                <string>{7,43}</string>
                <key>textureRect</key>
                <string>{{1063,474},{7,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/girl_lower_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,43}</string>
                <key>spriteSourceSize</key>
                <string>{7,43}</string>
                <key>textureRect</key>
                <string>{{1063,474},{7,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/girl_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{1690,490},{6,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/girl_lower_leg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{1690,490},{6,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,34}</string>
                <key>spriteSourceSize</key>
                <string>{17,34}</string>
                <key>textureRect</key>
                <string>{{1721,430},{17,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/girl_shoe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,5}</string>
                <key>spriteSourceSize</key>
                <string>{26,5}</string>
                <key>textureRect</key>
                <string>{{651,368},{26,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/girl_shoe1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,5}</string>
                <key>spriteSourceSize</key>
                <string>{26,5}</string>
                <key>textureRect</key>
                <string>{{651,368},{26,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,44}</string>
                <key>spriteSourceSize</key>
                <string>{7,44}</string>
                <key>textureRect</key>
                <string>{{1625,155},{7,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/girl_upper_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,44}</string>
                <key>spriteSourceSize</key>
                <string>{7,44}</string>
                <key>textureRect</key>
                <string>{{1625,155},{7,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/girl_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,22}</string>
                <key>spriteSourceSize</key>
                <string>{5,22}</string>
                <key>textureRect</key>
                <string>{{298,391},{5,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/girl_upper_leg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,22}</string>
                <key>spriteSourceSize</key>
                <string>{5,22}</string>
                <key>textureRect</key>
                <string>{{298,391},{5,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/grapes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,27}</string>
                <key>spriteSourceSize</key>
                <string>{24,27}</string>
                <key>textureRect</key>
                <string>{{1157,437},{24,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,83}</string>
                <key>spriteSourceSize</key>
                <string>{318,83}</string>
                <key>textureRect</key>
                <string>{{884,1},{318,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,84}</string>
                <key>spriteSourceSize</key>
                <string>{98,84}</string>
                <key>textureRect</key>
                <string>{{519,398},{98,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/grass2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,71}</string>
                <key>spriteSourceSize</key>
                <string>{159,71}</string>
                <key>textureRect</key>
                <string>{{1418,289},{159,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/grass_hill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,119}</string>
                <key>spriteSourceSize</key>
                <string>{157,119}</string>
                <key>textureRect</key>
                <string>{{1299,116},{157,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/hole.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,119}</string>
                <key>spriteSourceSize</key>
                <string>{194,119}</string>
                <key>textureRect</key>
                <string>{{884,258},{194,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/jubba_blue_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,117}</string>
                <key>spriteSourceSize</key>
                <string>{105,117}</string>
                <key>textureRect</key>
                <string>{{605,379},{105,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/jubba_blue_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,146}</string>
                <key>spriteSourceSize</key>
                <string>{105,146}</string>
                <key>textureRect</key>
                <string>{{150,391},{105,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/jubba_orange_hip1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,117}</string>
                <key>spriteSourceSize</key>
                <string>{105,117}</string>
                <key>textureRect</key>
                <string>{{712,379},{105,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/jubba_orange_shirt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,146}</string>
                <key>spriteSourceSize</key>
                <string>{105,146}</string>
                <key>textureRect</key>
                <string>{{1080,263},{105,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/jubba_purple_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,117}</string>
                <key>spriteSourceSize</key>
                <string>{105,117}</string>
                <key>textureRect</key>
                <string>{{819,379},{105,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/jubba_purple_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,147}</string>
                <key>spriteSourceSize</key>
                <string>{105,147}</string>
                <key>textureRect</key>
                <string>{{1,391},{105,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,43}</string>
                <key>spriteSourceSize</key>
                <string>{38,43}</string>
                <key>textureRect</key>
                <string>{{827,315},{38,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/leg_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,43}</string>
                <key>spriteSourceSize</key>
                <string>{38,43}</string>
                <key>textureRect</key>
                <string>{{827,315},{38,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,77}</string>
                <key>spriteSourceSize</key>
                <string>{45,77}</string>
                <key>textureRect</key>
                <string>{{748,315},{45,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/leg_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,77}</string>
                <key>spriteSourceSize</key>
                <string>{45,77}</string>
                <key>textureRect</key>
                <string>{{748,315},{45,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/leg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,120}</string>
                <key>spriteSourceSize</key>
                <string>{59,120}</string>
                <key>textureRect</key>
                <string>{{529,315},{59,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/leg_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,120}</string>
                <key>spriteSourceSize</key>
                <string>{59,120}</string>
                <key>textureRect</key>
                <string>{{529,315},{59,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/lightbrown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,25}</string>
                <key>spriteSourceSize</key>
                <string>{11,25}</string>
                <key>textureRect</key>
                <string>{{1211,370},{11,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/mango.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,21}</string>
                <key>spriteSourceSize</key>
                <string>{13,21}</string>
                <key>textureRect</key>
                <string>{{1063,483},{13,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/motu_shoes_left1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,8}</string>
                <key>spriteSourceSize</key>
                <string>{40,8}</string>
                <key>textureRect</key>
                <string>{{926,488},{40,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,21}</string>
                <key>spriteSourceSize</key>
                <string>{68,21}</string>
                <key>textureRect</key>
                <string>{{1417,474},{68,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/mouth_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,27}</string>
                <key>spriteSourceSize</key>
                <string>{63,27}</string>
                <key>textureRect</key>
                <string>{{1104,86},{63,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,16}</string>
                <key>spriteSourceSize</key>
                <string>{13,16}</string>
                <key>textureRect</key>
                <string>{{1189,86},{13,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/pumpkin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,102}</string>
                <key>spriteSourceSize</key>
                <string>{100,102}</string>
                <key>textureRect</key>
                <string>{{1636,152},{100,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/raddish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,86}</string>
                <key>spriteSourceSize</key>
                <string>{120,86}</string>
                <key>textureRect</key>
                <string>{{1295,407},{120,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/rain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{567,223}</string>
                <key>spriteSourceSize</key>
                <string>{567,223}</string>
                <key>textureRect</key>
                <string>{{1,1},{567,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/sadmouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,15}</string>
                <key>spriteSourceSize</key>
                <string>{67,15}</string>
                <key>textureRect</key>
                <string>{{748,362},{67,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/sun1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,312}</string>
                <key>spriteSourceSize</key>
                <string>{312,312}</string>
                <key>textureRect</key>
                <string>{{570,1},{312,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,130}</string>
                <key>spriteSourceSize</key>
                <string>{121,130}</string>
                <key>textureRect</key>
                <string>{{1295,275},{121,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/watermelon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{1169,86},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,179}</string>
                <key>spriteSourceSize</key>
                <string>{20,179}</string>
                <key>textureRect</key>
                <string>{{1418,362},{20,179}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Tai_Anansi_and_Vulture/wood_part.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,149}</string>
                <key>spriteSourceSize</key>
                <string>{102,149}</string>
                <key>textureRect</key>
                <string>{{1636,1},{102,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Anansi_na_Tai_Anansi_and_Vulture.png</string>
            <key>size</key>
            <string>{1739,497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:788cd39c1749667319a1bea52df3a8db:0defc8a027cb315ef7cadc3f17fe2b42:f450ea64634974ded4183d781bf2595b$</string>
            <key>textureFileName</key>
            <string>Anansi_na_Tai_Anansi_and_Vulture.png</string>
        </dict>
    </dict>
</plist>
