<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>blast_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2276},{83,97}}</string>
				<key>offset</key>
				<string>{0,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,550}</string>
			</dict>
			<key>blast_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2095},{174,181}}</string>
				<key>offset</key>
				<string>{9,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,550}</string>
			</dict>
			<key>blast_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1777},{318,280}}</string>
				<key>offset</key>
				<string>{-10,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,550}</string>
			</dict>
			<key>blast_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{384,388}}</string>
				<key>offset</key>
				<string>{-20,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,550}</string>
			</dict>
			<key>blast_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,782},{384,367}}</string>
				<key>offset</key>
				<string>{-16,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,550}</string>
			</dict>
			<key>blast_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,388},{394,374}}</string>
				<key>offset</key>
				<string>{-12,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,550}</string>
			</dict>
			<key>blast_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1166},{308,298}}</string>
				<key>offset</key>
				<string>{-4,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,550}</string>
			</dict>
			<key>blast_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1474},{303,298}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,550}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>blast.png</string>
			<key>realTextureFileName</key>
			<string>blast.png</string>
			<key>size</key>
			<string>{384,2373}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>384</integer>
			<key>height</key>
			<integer>2373</integer>
		</dict>
	</dict>
</plist>