<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cannonball_mainasset/background_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2560,1800}</string>
                <key>spriteSourceSize</key>
                <string>{2560,1800}</string>
                <key>textureRect</key>
                <string>{{1,1},{2560,1800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball_mainasset/background_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-546,0}</string>
                <key>spriteSize</key>
                <string>{1468,1800}</string>
                <key>spriteSourceSize</key>
                <string>{2560,1800}</string>
                <key>textureRect</key>
                <string>{{2563,1},{1468,1800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball_mainasset/cannon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{602,392}</string>
                <key>spriteSourceSize</key>
                <string>{602,392}</string>
                <key>textureRect</key>
                <string>{{1,1803},{602,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball_mainasset/cannon_ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{942,1962},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball_mainasset/cannon_ball_rackpouch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,157}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{942,1803},{157,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonball_mainasset/meteor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,371}</string>
                <key>spriteSourceSize</key>
                <string>{335,371}</string>
                <key>textureRect</key>
                <string>{{605,1803},{335,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cannonballmainassest.png</string>
            <key>size</key>
            <string>{4032,2196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:344f608540744a91918c0b87aed82d09:fd9bee29651298f83b12edbfc79b8776:f0a808d351187d102cb159f829e5d568$</string>
            <key>textureFileName</key>
            <string>cannonballmainassest.png</string>
        </dict>
    </dict>
</plist>
