<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Game/bottam_Stone_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,203}</string>
                <key>spriteSourceSize</key>
                <string>{203,203}</string>
                <key>textureRect</key>
                <string>{{1911,276},{203,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game/bottam_wall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2562,273}</string>
                <key>spriteSourceSize</key>
                <string>{2562,273}</string>
                <key>textureRect</key>
                <string>{{1,1},{2562,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,149}</string>
                <key>spriteSourceSize</key>
                <string>{370,149}</string>
                <key>textureRect</key>
                <string>{{1539,276},{370,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game/green_big_grass_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1489,81}</string>
                <key>spriteSourceSize</key>
                <string>{1489,81}</string>
                <key>textureRect</key>
                <string>{{1539,564},{1489,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game/green_small_grass_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1527,76}</string>
                <key>spriteSourceSize</key>
                <string>{1527,76}</string>
                <key>textureRect</key>
                <string>{{1539,647},{1527,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game/path_base_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{515,469}</string>
                <key>spriteSourceSize</key>
                <string>{515,469}</string>
                <key>textureRect</key>
                <string>{{2565,1},{515,469}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Game/path_base_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1536,468}</string>
                <key>spriteSourceSize</key>
                <string>{1536,468}</string>
                <key>textureRect</key>
                <string>{{1,276},{1536,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game/path_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,280}</string>
                <key>spriteSourceSize</key>
                <string>{108,280}</string>
                <key>textureRect</key>
                <string>{{3076,1},{108,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game/path_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,38}</string>
                <key>spriteSourceSize</key>
                <string>{516,38}</string>
                <key>textureRect</key>
                <string>{{3036,1},{516,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Game/path_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1535,38}</string>
                <key>spriteSourceSize</key>
                <string>{1535,38}</string>
                <key>textureRect</key>
                <string>{{1539,519},{1535,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game/path_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,109}</string>
                <key>spriteSourceSize</key>
                <string>{279,109}</string>
                <key>textureRect</key>
                <string>{{3076,283},{279,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>crossthebridge.png</string>
            <key>size</key>
            <string>{3186,745}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:904a88a3305a8ea7fca585b511baeda0:0d2a8a7a779d84f117b9c33bc5d6c2a2:e267eb256da7605b9a0d83ea16d5a81c$</string>
            <key>textureFileName</key>
            <string>crossthebridge.png</string>
        </dict>
    </dict>
</plist>
