<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>barrier.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,1800}</string>
                <key>spriteSourceSize</key>
                <string>{2,1800}</string>
                <key>textureRect</key>
                <string>{{2000,3463},{2,1800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgTouchImage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1055,1749},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,202}</string>
                <key>spriteSourceSize</key>
                <string>{210,202}</string>
                <key>textureRect</key>
                <string>{{2806,3205},{210,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gapw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,27}</string>
                <key>spriteSourceSize</key>
                <string>{800,27}</string>
                <key>textureRect</key>
                <string>{{1,3479},{800,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,500}</string>
                <key>spriteSourceSize</key>
                <string>{1,500}</string>
                <key>textureRect</key>
                <string>{{3948,1},{1,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layer_1_mountain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1374,1126}</string>
                <key>spriteSourceSize</key>
                <string>{1374,1126}</string>
                <key>textureRect</key>
                <string>{{2000,1829},{1374,1126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layer_2_mountain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1374,1126}</string>
                <key>spriteSourceSize</key>
                <string>{1374,1126}</string>
                <key>textureRect</key>
                <string>{{2820,1},{1374,1126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layer_3_bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1375,381}</string>
                <key>spriteSourceSize</key>
                <string>{1375,381}</string>
                <key>textureRect</key>
                <string>{{1055,3467},{1375,381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layer_4_tree_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{943,1636}</string>
                <key>spriteSourceSize</key>
                <string>{943,1636}</string>
                <key>textureRect</key>
                <string>{{1065,884},{943,1636}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layer_4_tree_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,1634}</string>
                <key>spriteSourceSize</key>
                <string>{267,1634}</string>
                <key>textureRect</key>
                <string>{{3376,1377},{267,1634}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layer_4_tree_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{943,1636}</string>
                <key>spriteSourceSize</key>
                <string>{943,1636}</string>
                <key>textureRect</key>
                <string>{{1055,1829},{943,1636}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layer_5_bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1375,381}</string>
                <key>spriteSourceSize</key>
                <string>{1375,381}</string>
                <key>textureRect</key>
                <string>{{3645,1377},{1375,381}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layer_6_tree_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1052,1728}</string>
                <key>spriteSourceSize</key>
                <string>{1052,1728}</string>
                <key>textureRect</key>
                <string>{{1,1749},{1052,1728}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layer_6_tree_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,1868}</string>
                <key>spriteSourceSize</key>
                <string>{246,1868}</string>
                <key>textureRect</key>
                <string>{{3128,1377},{246,1868}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layer_6_tree_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{881,1753}</string>
                <key>spriteSourceSize</key>
                <string>{881,1753}</string>
                <key>textureRect</key>
                <string>{{1065,1},{881,1753}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layer_6_tree_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1062,1746}</string>
                <key>spriteSourceSize</key>
                <string>{1062,1746}</string>
                <key>textureRect</key>
                <string>{{1,1},{1062,1746}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layer_7_bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1375,381}</string>
                <key>spriteSourceSize</key>
                <string>{1375,381}</string>
                <key>textureRect</key>
                <string>{{2432,3467},{1375,381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>path_left_lands.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,256}</string>
                <key>spriteSourceSize</key>
                <string>{401,256}</string>
                <key>textureRect</key>
                <string>{{2000,3205},{401,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>path_right_lands.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,256}</string>
                <key>spriteSourceSize</key>
                <string>{401,256}</string>
                <key>textureRect</key>
                <string>{{2403,3205},{401,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pathmid_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,256}</string>
                <key>spriteSourceSize</key>
                <string>{401,256}</string>
                <key>textureRect</key>
                <string>{{1,3508},{401,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pathmid_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,256}</string>
                <key>spriteSourceSize</key>
                <string>{401,256}</string>
                <key>textureRect</key>
                <string>{{404,3508},{401,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pathmid_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,256}</string>
                <key>spriteSourceSize</key>
                <string>{401,256}</string>
                <key>textureRect</key>
                <string>{{2703,1377},{401,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pathmid_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,256}</string>
                <key>spriteSourceSize</key>
                <string>{401,256}</string>
                <key>textureRect</key>
                <string>{{3645,2754},{401,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>endlessrunner.png</string>
            <key>size</key>
            <string>{4027,3849}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6aa1fa406ec3614a758397573c40ca4:c4b1aaec49530f2f0c225a916804dd89:616bbfc4152373ef6c9c8316027dcae3$</string>
            <key>textureFileName</key>
            <string>endlessrunner.png</string>
        </dict>
    </dict>
</plist>
