<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero/beard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,50}</string>
                <key>spriteSourceSize</key>
                <string>{98,50}</string>
                <key>textureRect</key>
                <string>{{0,388},{98,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,76}</string>
                <key>spriteSourceSize</key>
                <string>{65,76}</string>
                <key>textureRect</key>
                <string>{{62,0},{65,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/eye_inner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{12,11}</string>
                <key>textureRect</key>
                <string>{{116,239},{12,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/eye_outer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,31}</string>
                <key>spriteSourceSize</key>
                <string>{33,31}</string>
                <key>textureRect</key>
                <string>{{88,161},{33,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/eye_outer_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,25}</string>
                <key>spriteSourceSize</key>
                <string>{36,25}</string>
                <key>textureRect</key>
                <string>{{88,194},{36,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/eye_outer_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,26}</string>
                <key>spriteSourceSize</key>
                <string>{29,26}</string>
                <key>textureRect</key>
                <string>{{88,232},{29,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/foot_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,5}</string>
                <key>spriteSourceSize</key>
                <string>{23,5}</string>
                <key>textureRect</key>
                <string>{{103,279},{23,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/foot_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,5}</string>
                <key>spriteSourceSize</key>
                <string>{23,5}</string>
                <key>textureRect</key>
                <string>{{103,304},{23,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,86}</string>
                <key>spriteSourceSize</key>
                <string>{120,86}</string>
                <key>textureRect</key>
                <string>{{0,162},{120,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,17}</string>
                <key>spriteSourceSize</key>
                <string>{11,17}</string>
                <key>textureRect</key>
                <string>{{116,220},{11,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/hat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,60}</string>
                <key>spriteSourceSize</key>
                <string>{160,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{160,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,102}</string>
                <key>spriteSourceSize</key>
                <string>{101,102}</string>
                <key>textureRect</key>
                <string>{{0,284},{101,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{62,78},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/lower_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,35}</string>
                <key>spriteSourceSize</key>
                <string>{9,35}</string>
                <key>textureRect</key>
                <string>{{100,388},{9,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/lower_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,20}</string>
                <key>spriteSourceSize</key>
                <string>{5,20}</string>
                <key>textureRect</key>
                <string>{{103,329},{5,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/lower_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,20}</string>
                <key>spriteSourceSize</key>
                <string>{5,20}</string>
                <key>textureRect</key>
                <string>{{103,351},{5,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{62,144},{60,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/mustache.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,10}</string>
                <key>spriteSourceSize</key>
                <string>{61,10}</string>
                <key>textureRect</key>
                <string>{{0,440},{61,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,12}</string>
                <key>spriteSourceSize</key>
                <string>{24,12}</string>
                <key>textureRect</key>
                <string>{{115,194},{24,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/upper_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,42}</string>
                <key>spriteSourceSize</key>
                <string>{10,42}</string>
                <key>textureRect</key>
                <string>{{63,440},{10,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/upper_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,23}</string>
                <key>spriteSourceSize</key>
                <string>{6,23}</string>
                <key>textureRect</key>
                <string>{{88,271},{6,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/upper_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,24}</string>
                <key>spriteSourceSize</key>
                <string>{6,24}</string>
                <key>textureRect</key>
                <string>{{88,263},{6,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero.png</string>
            <key>size</key>
            <string>{127,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5d055218dc713bec6dac384643aefe4:94df7ff2f27a871af40000ff0d0c5456:24811c9fe845da5822501508d7996631$</string>
            <key>textureFileName</key>
            <string>hero.png</string>
        </dict>
    </dict>
</plist>
