<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jasminelevel/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{443,166}</string>
                <key>spriteSourceSize</key>
                <string>{443,166}</string>
                <key>textureRect</key>
                <string>{{567,750},{443,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jasminelevel/cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,168}</string>
                <key>spriteSourceSize</key>
                <string>{402,168}</string>
                <key>textureRect</key>
                <string>{{782,410},{402,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jasminelevel/flower1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,228}</string>
                <key>spriteSourceSize</key>
                <string>{229,228}</string>
                <key>textureRect</key>
                <string>{{735,1185},{229,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jasminelevel/flower2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,212}</string>
                <key>spriteSourceSize</key>
                <string>{217,212}</string>
                <key>textureRect</key>
                <string>{{782,1},{217,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jasminelevel/flower3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,227}</string>
                <key>spriteSourceSize</key>
                <string>{228,227}</string>
                <key>textureRect</key>
                <string>{{646,1415},{228,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jasminelevel/flower4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,231}</string>
                <key>spriteSourceSize</key>
                <string>{232,231}</string>
                <key>textureRect</key>
                <string>{{735,952},{232,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jasminelevel/grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,71}</string>
                <key>spriteSourceSize</key>
                <string>{320,71}</string>
                <key>textureRect</key>
                <string>{{485,1258},{320,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jasminelevel/grass2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,72}</string>
                <key>spriteSourceSize</key>
                <string>{252,72}</string>
                <key>textureRect</key>
                <string>{{735,878},{252,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jasminelevel/grass3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,86}</string>
                <key>spriteSourceSize</key>
                <string>{302,86}</string>
                <key>textureRect</key>
                <string>{{558,1274},{302,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jasminelevel/ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{716,100}</string>
                <key>spriteSourceSize</key>
                <string>{716,100}</string>
                <key>textureRect</key>
                <string>{{1,648},{716,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jasminelevel/leaf1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,77}</string>
                <key>spriteSourceSize</key>
                <string>{125,77}</string>
                <key>textureRect</key>
                <string>{{559,1195},{125,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jasminelevel/leaf2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,79}</string>
                <key>spriteSourceSize</key>
                <string>{120,79}</string>
                <key>textureRect</key>
                <string>{{485,1580},{120,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jasminelevel/smallhill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{564,79}</string>
                <key>spriteSourceSize</key>
                <string>{564,79}</string>
                <key>textureRect</key>
                <string>{{1,750},{564,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jasminelevel/stem1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,444}</string>
                <key>spriteSourceSize</key>
                <string>{124,444}</string>
                <key>textureRect</key>
                <string>{{1,1703},{124,444}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jasminelevel/stem2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,444}</string>
                <key>spriteSourceSize</key>
                <string>{122,444}</string>
                <key>textureRect</key>
                <string>{{447,1703},{122,444}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jasminelevel/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,188}</string>
                <key>spriteSourceSize</key>
                <string>{190,188}</string>
                <key>textureRect</key>
                <string>{{782,220},{190,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jasminelevel/tractor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{779,645}</string>
                <key>spriteSourceSize</key>
                <string>{779,645}</string>
                <key>textureRect</key>
                <string>{{1,1},{779,645}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jasminelevel/windmill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,556}</string>
                <key>spriteSourceSize</key>
                <string>{425,556}</string>
                <key>textureRect</key>
                <string>{{1,831},{425,556}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jasminelevel/windmillfan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,443}</string>
                <key>spriteSourceSize</key>
                <string>{482,443}</string>
                <key>textureRect</key>
                <string>{{1,1258},{482,443}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jasminelevel/windmillpole.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,466}</string>
                <key>spriteSourceSize</key>
                <string>{39,466}</string>
                <key>textureRect</key>
                <string>{{952,410},{39,466}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jasminelevel.png</string>
            <key>size</key>
            <string>{995,1828}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69cc91540e0f2bb863991b567ba046cf:6730b71cd383c4002046bb77d40706f9:bd8872cf266684fd3b321d30dfa6cc24$</string>
            <key>textureFileName</key>
            <string>jasminelevel.png</string>
        </dict>
    </dict>
</plist>
