<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kungfualpha/bamboo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,1969}</string>
                <key>spriteSourceSize</key>
                <string>{237,1969}</string>
                <key>textureRect</key>
                <string>{{1,423},{237,1969}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kungfualpha/bamboo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,1976}</string>
                <key>spriteSourceSize</key>
                <string>{290,1976}</string>
                <key>textureRect</key>
                <string>{{1,1593},{290,1976}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kungfualpha/bamboo3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,1978}</string>
                <key>spriteSourceSize</key>
                <string>{278,1978}</string>
                <key>textureRect</key>
                <string>{{1,1313},{278,1978}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kungfualpha/bamboo4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,1989}</string>
                <key>spriteSourceSize</key>
                <string>{197,1989}</string>
                <key>textureRect</key>
                <string>{{1,1},{197,1989}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kungfualpha/bamboo5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,1979}</string>
                <key>spriteSourceSize</key>
                <string>{221,1979}</string>
                <key>textureRect</key>
                <string>{{1,200},{221,1979}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kungfualpha/bamboo6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,2021}</string>
                <key>spriteSourceSize</key>
                <string>{323,2021}</string>
                <key>textureRect</key>
                <string>{{1,1885},{323,2021}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kungfualpha/bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1124,369}</string>
                <key>spriteSourceSize</key>
                <string>{1124,369}</string>
                <key>textureRect</key>
                <string>{{1,942},{1124,369}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kungfualpha/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,278}</string>
                <key>spriteSourceSize</key>
                <string>{318,278}</string>
                <key>textureRect</key>
                <string>{{860,662},{318,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kungfualpha/plant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,609}</string>
                <key>spriteSourceSize</key>
                <string>{420,609}</string>
                <key>textureRect</key>
                <string>{{1180,662},{420,609}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kungfualpha/shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{857,250}</string>
                <key>spriteSourceSize</key>
                <string>{893,278}</string>
                <key>textureRect</key>
                <string>{{1,662},{857,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kungfualpha.png</string>
            <key>size</key>
            <string>{2023,2209}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ca5817efee9ef44569f9aa5f0205fcb:254aa9857978a115ab312011d6f4aa82:e1604e7e71e27bf69aa1329279d9a5eb$</string>
            <key>textureFileName</key>
            <string>kungfualpha.png</string>
        </dict>
    </dict>
</plist>
