<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>office/office_mainground/almirah-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,109}</string>
                <key>spriteSourceSize</key>
                <string>{48,109}</string>
                <key>textureRect</key>
                <string>{{70,1388},{48,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/almirah.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,124}</string>
                <key>spriteSourceSize</key>
                <string>{40,124}</string>
                <key>textureRect</key>
                <string>{{196,614},{40,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/book-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,12}</string>
                <key>spriteSourceSize</key>
                <string>{34,12}</string>
                <key>textureRect</key>
                <string>{{225,1003},{34,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/book-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,8}</string>
                <key>spriteSourceSize</key>
                <string>{34,8}</string>
                <key>textureRect</key>
                <string>{{229,793},{34,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/book-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,10}</string>
                <key>spriteSourceSize</key>
                <string>{34,10}</string>
                <key>textureRect</key>
                <string>{{177,1364},{34,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/book-blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,33}</string>
                <key>spriteSourceSize</key>
                <string>{13,33}</string>
                <key>textureRect</key>
                <string>{{196,793},{13,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/book-brown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,34}</string>
                <key>spriteSourceSize</key>
                <string>{13,34}</string>
                <key>textureRect</key>
                <string>{{209,1178},{13,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/book-green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,31}</string>
                <key>spriteSourceSize</key>
                <string>{13,31}</string>
                <key>textureRect</key>
                <string>{{143,1369},{13,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/book-grey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,34}</string>
                <key>spriteSourceSize</key>
                <string>{13,34}</string>
                <key>textureRect</key>
                <string>{{224,1178},{13,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/bottle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,44}</string>
                <key>spriteSourceSize</key>
                <string>{13,44}</string>
                <key>textureRect</key>
                <string>{{82,1586},{13,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/building-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,246}</string>
                <key>spriteSourceSize</key>
                <string>{53,246}</string>
                <key>textureRect</key>
                <string>{{39,817},{53,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/building.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,235}</string>
                <key>spriteSourceSize</key>
                <string>{85,235}</string>
                <key>textureRect</key>
                <string>{{144,1},{85,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/calender.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{209,1063},{28,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/certificate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,35}</string>
                <key>spriteSourceSize</key>
                <string>{58,35}</string>
                <key>textureRect</key>
                <string>{{188,1003},{58,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/chair-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,97}</string>
                <key>spriteSourceSize</key>
                <string>{65,97}</string>
                <key>textureRect</key>
                <string>{{172,1438},{65,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/chair-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,92}</string>
                <key>spriteSourceSize</key>
                <string>{58,92}</string>
                <key>textureRect</key>
                <string>{{94,1005},{58,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/chair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,106}</string>
                <key>spriteSourceSize</key>
                <string>{71,106}</string>
                <key>textureRect</key>
                <string>{{70,1280},{71,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/computer-front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,37}</string>
                <key>spriteSourceSize</key>
                <string>{45,37}</string>
                <key>textureRect</key>
                <string>{{140,1563},{45,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/computer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,39}</string>
                <key>spriteSourceSize</key>
                <string>{52,39}</string>
                <key>textureRect</key>
                <string>{{177,1300},{52,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/cutton-scrolling.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,160}</string>
                <key>spriteSourceSize</key>
                <string>{95,160}</string>
                <key>textureRect</key>
                <string>{{139,452},{95,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/cutton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,274}</string>
                <key>spriteSourceSize</key>
                <string>{36,274}</string>
                <key>textureRect</key>
                <string>{{1,817},{36,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,203}</string>
                <key>spriteSourceSize</key>
                <string>{112,203}</string>
                <key>textureRect</key>
                <string>{{1,612},{112,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/dustbin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,30}</string>
                <key>spriteSourceSize</key>
                <string>{23,30}</string>
                <key>textureRect</key>
                <string>{{187,1577},{23,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/employee-desk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,136}</string>
                <key>spriteSourceSize</key>
                <string>{207,136}</string>
                <key>textureRect</key>
                <string>{{1,403},{207,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/floor-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,67}</string>
                <key>spriteSourceSize</key>
                <string>{160,67}</string>
                <key>textureRect</key>
                <string>{{1,1280},{160,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/floor-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,67}</string>
                <key>spriteSourceSize</key>
                <string>{32,67}</string>
                <key>textureRect</key>
                <string>{{143,1300},{32,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/flower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,51}</string>
                <key>spriteSourceSize</key>
                <string>{21,51}</string>
                <key>textureRect</key>
                <string>{{177,1341},{21,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,76}</string>
                <key>spriteSourceSize</key>
                <string>{81,76}</string>
                <key>textureRect</key>
                <string>{{155,1222},{81,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/lamp-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{201,1537},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/lamp-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,27}</string>
                <key>spriteSourceSize</key>
                <string>{24,27}</string>
                <key>textureRect</key>
                <string>{{172,1537},{24,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/lamp-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,35}</string>
                <key>spriteSourceSize</key>
                <string>{30,35}</string>
                <key>textureRect</key>
                <string>{{140,1526},{30,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/lamp-big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,105}</string>
                <key>spriteSourceSize</key>
                <string>{54,105}</string>
                <key>textureRect</key>
                <string>{{48,1224},{54,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/lamp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,39}</string>
                <key>spriteSourceSize</key>
                <string>{27,39}</string>
                <key>textureRect</key>
                <string>{{209,1101},{27,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/lights-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{88,86}</string>
                <key>spriteSourceSize</key>
                <string>{90,88}</string>
                <key>textureRect</key>
                <string>{{82,1438},{88,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/lights.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,45}</string>
                <key>spriteSourceSize</key>
                <string>{185,45}</string>
                <key>textureRect</key>
                <string>{{1,1093},{185,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/patch-blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{219,1577},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/patch-green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{216,922},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/patch-red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{213,1364},{12,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/patch-yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{181,1376},{12,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/piller.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,400}</string>
                <key>spriteSourceSize</key>
                <string>{141,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{141,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/small-table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,53}</string>
                <key>spriteSourceSize</key>
                <string>{58,53}</string>
                <key>textureRect</key>
                <string>{{168,948},{58,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/sofa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,92}</string>
                <key>spriteSourceSize</key>
                <string>{212,92}</string>
                <key>textureRect</key>
                <string>{{144,238},{212,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/table-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,79}</string>
                <key>spriteSourceSize</key>
                <string>{212,79}</string>
                <key>textureRect</key>
                <string>{{115,614},{212,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/table-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,78}</string>
                <key>spriteSourceSize</key>
                <string>{155,78}</string>
                <key>textureRect</key>
                <string>{{129,1065},{155,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/table-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,79}</string>
                <key>spriteSourceSize</key>
                <string>{158,79}</string>
                <key>textureRect</key>
                <string>{{1,1442},{158,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/table-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,79}</string>
                <key>spriteSourceSize</key>
                <string>{157,79}</string>
                <key>textureRect</key>
                <string>{{48,1065},{157,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,72}</string>
                <key>spriteSourceSize</key>
                <string>{175,72}</string>
                <key>textureRect</key>
                <string>{{94,828},{175,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/tool-glass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,34}</string>
                <key>spriteSourceSize</key>
                <string>{19,34}</string>
                <key>textureRect</key>
                <string>{{209,1142},{19,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/toolglass-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,22}</string>
                <key>spriteSourceSize</key>
                <string>{11,22}</string>
                <key>textureRect</key>
                <string>{{225,1039},{11,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/trophy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,51}</string>
                <key>spriteSourceSize</key>
                <string>{41,51}</string>
                <key>textureRect</key>
                <string>{{196,740},{41,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/watch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,58}</string>
                <key>spriteSourceSize</key>
                <string>{56,58}</string>
                <key>textureRect</key>
                <string>{{82,1526},{56,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/water-tank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,118}</string>
                <key>spriteSourceSize</key>
                <string>{46,118}</string>
                <key>textureRect</key>
                <string>{{168,828},{46,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>office/office_mainground/wood-shelf-small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,5}</string>
                <key>spriteSourceSize</key>
                <string>{38,5}</string>
                <key>textureRect</key>
                <string>{{231,1},{38,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>office/office_mainground/wood-shelf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,11}</string>
                <key>spriteSourceSize</key>
                <string>{127,11}</string>
                <key>textureRect</key>
                <string>{{216,793},{127,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>office_mainground.png</string>
            <key>size</key>
            <string>{238,1601}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:851877fb813520e84b0508aa86e1dd5a:d29461b06a995eaa92c1e2f14dd71837:637ea6ef5db7a5395267f561ba0c4471$</string>
            <key>textureFileName</key>
            <string>office_mainground.png</string>
        </dict>
    </dict>
</plist>
