<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Binti_wa_Mflame_Kayanja/african_tribal_pant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1,2793},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/african_tribal_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,27}</string>
                <key>spriteSourceSize</key>
                <string>{15,27}</string>
                <key>textureRect</key>
                <string>{{856,1379},{15,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/african_tribal_pant_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,27}</string>
                <key>spriteSourceSize</key>
                <string>{15,27}</string>
                <key>textureRect</key>
                <string>{{856,1396},{15,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/african_tribal_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,74}</string>
                <key>spriteSourceSize</key>
                <string>{18,74}</string>
                <key>textureRect</key>
                <string>{{856,1413},{18,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/african_tribal_pant_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,74}</string>
                <key>spriteSourceSize</key>
                <string>{18,74}</string>
                <key>textureRect</key>
                <string>{{876,1429},{18,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/african_tribal_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,297}</string>
                <key>spriteSourceSize</key>
                <string>{210,297}</string>
                <key>textureRect</key>
                <string>{{627,2245},{210,297}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/anchorblue_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,294}</string>
                <key>spriteSourceSize</key>
                <string>{223,294}</string>
                <key>textureRect</key>
                <string>{{627,2457},{223,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/anchorblue_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,225}</string>
                <key>spriteSourceSize</key>
                <string>{224,225}</string>
                <key>textureRect</key>
                <string>{{629,1228},{224,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/anchorblue_sleave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,48}</string>
                <key>spriteSourceSize</key>
                <string>{34,48}</string>
                <key>textureRect</key>
                <string>{{856,1267},{34,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/barber_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{211,2793},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/barber_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,48}</string>
                <key>spriteSourceSize</key>
                <string>{15,48}</string>
                <key>textureRect</key>
                <string>{{885,1379},{15,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/barber_pant_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,48}</string>
                <key>spriteSourceSize</key>
                <string>{15,48}</string>
                <key>textureRect</key>
                <string>{{629,1581},{15,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/barber_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,74}</string>
                <key>spriteSourceSize</key>
                <string>{18,74}</string>
                <key>textureRect</key>
                <string>{{856,1489},{18,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/barber_pant_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,74}</string>
                <key>spriteSourceSize</key>
                <string>{18,74}</string>
                <key>textureRect</key>
                <string>{{876,1505},{18,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/barber_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,292}</string>
                <key>spriteSourceSize</key>
                <string>{215,292}</string>
                <key>textureRect</key>
                <string>{{627,2682},{215,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/barber_shirt_sleave_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{856,1317},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/binti_arch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,105}</string>
                <key>spriteSourceSize</key>
                <string>{670,105}</string>
                <key>textureRect</key>
                <string>{{903,180},{670,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/binti_bed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1037,624}</string>
                <key>spriteSourceSize</key>
                <string>{1037,624}</string>
                <key>textureRect</key>
                <string>{{1,1754},{1037,624}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/binti_boat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,225}</string>
                <key>spriteSourceSize</key>
                <string>{89,225}</string>
                <key>textureRect</key>
                <string>{{629,1454},{89,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/binti_bridge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{626,524}</string>
                <key>spriteSourceSize</key>
                <string>{626,524}</string>
                <key>textureRect</key>
                <string>{{1,1228},{626,524}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/binti_bubble.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{856,1228},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/binti_carpet1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{809,94}</string>
                <key>spriteSourceSize</key>
                <string>{809,94}</string>
                <key>textureRect</key>
                <string>{{903,852},{809,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/binti_carpet2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1003,177}</string>
                <key>spriteSourceSize</key>
                <string>{1003,177}</string>
                <key>textureRect</key>
                <string>{{1,1},{1003,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/binti_castle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,378}</string>
                <key>spriteSourceSize</key>
                <string>{580,378}</string>
                <key>textureRect</key>
                <string>{{629,1663},{580,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/binti_castle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1046,900}</string>
                <key>spriteSourceSize</key>
                <string>{1046,900}</string>
                <key>textureRect</key>
                <string>{{1,180},{1046,900}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Binti_wa_Mflame_Kayanja.png</string>
            <key>size</key>
            <string>{1009,3002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3aa67e23caa32a771e83c9191c24515:226dfe10ae161af5b315ea762a5ec296:8cf1d2df763fe76290296dfaf5755896$</string>
            <key>textureFileName</key>
            <string>Binti_wa_Mflame_Kayanja.png</string>
        </dict>
    </dict>
</plist>
