<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>owlcity/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,57}</string>
                <key>spriteSourceSize</key>
                <string>{49,57}</string>
                <key>textureRect</key>
                <string>{{38,615},{49,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/body_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,57}</string>
                <key>spriteSourceSize</key>
                <string>{49,57}</string>
                <key>textureRect</key>
                <string>{{75,522},{49,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/closeeye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,13}</string>
                <key>spriteSourceSize</key>
                <string>{15,13}</string>
                <key>textureRect</key>
                <string>{{110,128},{15,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/closeeye_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,13}</string>
                <key>spriteSourceSize</key>
                <string>{15,13}</string>
                <key>textureRect</key>
                <string>{{110,143},{15,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/dash_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,33}</string>
                <key>spriteSourceSize</key>
                <string>{38,33}</string>
                <key>textureRect</key>
                <string>{{1,777},{38,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/dash_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,33}</string>
                <key>spriteSourceSize</key>
                <string>{38,33}</string>
                <key>textureRect</key>
                <string>{{41,781},{38,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/dash_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,33}</string>
                <key>spriteSourceSize</key>
                <string>{38,33}</string>
                <key>textureRect</key>
                <string>{{1,812},{38,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/downbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,121}</string>
                <key>spriteSourceSize</key>
                <string>{130,121}</string>
                <key>textureRect</key>
                <string>{{1,390},{130,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/greenbase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,48}</string>
                <key>spriteSourceSize</key>
                <string>{387,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{387,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/openeye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,13}</string>
                <key>spriteSourceSize</key>
                <string>{15,13}</string>
                <key>textureRect</key>
                <string>{{110,158},{15,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/openeye_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,13}</string>
                <key>spriteSourceSize</key>
                <string>{15,13}</string>
                <key>textureRect</key>
                <string>{{101,173},{15,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/orangebase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,48}</string>
                <key>spriteSourceSize</key>
                <string>{387,48}</string>
                <key>textureRect</key>
                <string>{{51,1},{387,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/smallbar_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,33}</string>
                <key>textureRect</key>
                <string>{{48,740},{39,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/smallbar_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,33}</string>
                <key>textureRect</key>
                <string>{{83,773},{39,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/smallbar_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,33}</string>
                <key>spriteSourceSize</key>
                <string>{38,33}</string>
                <key>textureRect</key>
                <string>{{81,808},{38,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/tringle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,32}</string>
                <key>spriteSourceSize</key>
                <string>{84,32}</string>
                <key>textureRect</key>
                <string>{{1,706},{84,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/wings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,29}</string>
                <key>spriteSourceSize</key>
                <string>{11,29}</string>
                <key>textureRect</key>
                <string>{{101,97},{11,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/wings_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,29}</string>
                <key>spriteSourceSize</key>
                <string>{11,29}</string>
                <key>textureRect</key>
                <string>{{114,97},{11,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/zebracross1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,7}</string>
                <key>spriteSourceSize</key>
                <string>{32,7}</string>
                <key>textureRect</key>
                <string>{{101,128},{32,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/zebracross2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,26}</string>
                <key>spriteSourceSize</key>
                <string>{94,26}</string>
                <key>textureRect</key>
                <string>{{101,1},{94,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/zebracross3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,35}</string>
                <key>spriteSourceSize</key>
                <string>{145,35}</string>
                <key>textureRect</key>
                <string>{{1,522},{145,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/zebracross4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,35}</string>
                <key>spriteSourceSize</key>
                <string>{118,35}</string>
                <key>textureRect</key>
                <string>{{1,669},{118,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlcity/zebracross5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,35}</string>
                <key>spriteSourceSize</key>
                <string>{91,35}</string>
                <key>textureRect</key>
                <string>{{38,522},{91,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/zebracross6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,35}</string>
                <key>spriteSourceSize</key>
                <string>{65,35}</string>
                <key>textureRect</key>
                <string>{{87,706},{65,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlcity/zebracross7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,35}</string>
                <key>spriteSourceSize</key>
                <string>{45,35}</string>
                <key>textureRect</key>
                <string>{{1,740},{45,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>owlcity.png</string>
            <key>size</key>
            <string>{128,846}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36fd576fb7dab92c6fa3e8e82b14f76d:d384d338af51d46d02b36f005bbe8860:a5e1564aa53673af59cb33f47f0bac03$</string>
            <key>textureFileName</key>
            <string>owlcity.png</string>
        </dict>
    </dict>
</plist>
