<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>postoffice/postoffice2/edooranimation1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,283}</string>
                <key>spriteSourceSize</key>
                <string>{249,283}</string>
                <key>textureRect</key>
                <string>{{1,1},{249,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>postoffice/postoffice2/edooranimation2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,283}</string>
                <key>spriteSourceSize</key>
                <string>{249,283}</string>
                <key>textureRect</key>
                <string>{{1,286},{249,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>postoffice/postoffice2/edooranimation3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,283}</string>
                <key>spriteSourceSize</key>
                <string>{249,283}</string>
                <key>textureRect</key>
                <string>{{1,571},{249,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>postoffice2.png</string>
            <key>size</key>
            <string>{251,855}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:707de94f6050a6509025c564ffb84020:3d33694931b4041e420a575bda3d9391:abff258d10ca465bffdbde53240c08ab$</string>
            <key>textureFileName</key>
            <string>postoffice2.png</string>
        </dict>
    </dict>
</plist>
