<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>busstation/clock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,282}</string>
                <key>spriteSourceSize</key>
                <string>{287,282}</string>
                <key>textureRect</key>
                <string>{{1,2861},{287,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>busstation/door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,375}</string>
                <key>spriteSourceSize</key>
                <string>{213,375}</string>
                <key>textureRect</key>
                <string>{{277,1928},{213,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>busstation/doorright.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,375}</string>
                <key>spriteSourceSize</key>
                <string>{213,375}</string>
                <key>textureRect</key>
                <string>{{277,2305},{213,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>busstation/floor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{1,1476},{450,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>busstation/paper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,140}</string>
                <key>spriteSourceSize</key>
                <string>{111,140}</string>
                <key>textureRect</key>
                <string>{{361,780},{111,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>busstation/plant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,269}</string>
                <key>spriteSourceSize</key>
                <string>{260,269}</string>
                <key>textureRect</key>
                <string>{{1,2599},{260,269}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>busstation/seat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,358}</string>
                <key>spriteSourceSize</key>
                <string>{694,358}</string>
                <key>textureRect</key>
                <string>{{1,780},{694,358}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>busstation/ticketsand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,777}</string>
                <key>spriteSourceSize</key>
                <string>{400,777}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,777}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>busstation/waterstand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,669}</string>
                <key>spriteSourceSize</key>
                <string>{274,669}</string>
                <key>textureRect</key>
                <string>{{1,1928},{274,669}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>busstation.png</string>
            <key>size</key>
            <string>{491,3144}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8747491c826772c7baf620765cd320a3:f762ef32a7db340bbd3d49c002c54ead:783ad0f03069643306fdc3867f0d3213$</string>
            <key>textureFileName</key>
            <string>busstation.png</string>
        </dict>
    </dict>
</plist>
