<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hippo/jump/j1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{109,57}</string>
                <key>spriteSourceSize</key>
                <string>{137,75}</string>
                <key>textureRect</key>
                <string>{{58,1},{109,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/jump/j2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{111,69}</string>
                <key>spriteSourceSize</key>
                <string>{137,75}</string>
                <key>textureRect</key>
                <string>{{117,48},{111,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/jump/j3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{125,55}</string>
                <key>spriteSourceSize</key>
                <string>{137,75}</string>
                <key>textureRect</key>
                <string>{{1,1},{125,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hippo/jump/j4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-2}</string>
                <key>spriteSize</key>
                <string>{115,47}</string>
                <key>spriteSourceSize</key>
                <string>{137,75}</string>
                <key>textureRect</key>
                <string>{{1,128},{115,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/jump/j5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{121,45}</string>
                <key>spriteSourceSize</key>
                <string>{137,75}</string>
                <key>textureRect</key>
                <string>{{118,1},{121,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hippo/jump/j6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{105,55}</string>
                <key>spriteSourceSize</key>
                <string>{137,75}</string>
                <key>textureRect</key>
                <string>{{118,119},{105,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jump.png</string>
            <key>size</key>
            <string>{240,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd9e6c7938add5faef9e4f8056744b1e:e47460fdfbb9969da45614a27912aa11:ed1291da20e6b20bef66ae0f4142d6a3$</string>
            <key>textureFileName</key>
            <string>jump.png</string>
        </dict>
    </dict>
</plist>
