<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>parlour/brushes1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,52}</string>
                <key>spriteSourceSize</key>
                <string>{34,52}</string>
                <key>textureRect</key>
                <string>{{620,110},{34,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/brushes2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,57}</string>
                <key>spriteSourceSize</key>
                <string>{32,57}</string>
                <key>textureRect</key>
                <string>{{707,220},{32,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/chair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,170}</string>
                <key>spriteSourceSize</key>
                <string>{125,170}</string>
                <key>textureRect</key>
                <string>{{692,1},{125,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/combs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,48}</string>
                <key>spriteSourceSize</key>
                <string>{40,48}</string>
                <key>textureRect</key>
                <string>{{277,198},{40,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/compact1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,26}</string>
                <key>spriteSourceSize</key>
                <string>{23,26}</string>
                <key>textureRect</key>
                <string>{{192,226},{23,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/compact2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,42}</string>
                <key>spriteSourceSize</key>
                <string>{31,42}</string>
                <key>textureRect</key>
                <string>{{192,182},{31,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/compact3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,23}</string>
                <key>spriteSourceSize</key>
                <string>{22,23}</string>
                <key>textureRect</key>
                <string>{{327,230},{22,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/cream.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,21}</string>
                <key>spriteSourceSize</key>
                <string>{38,21}</string>
                <key>textureRect</key>
                <string>{{766,220},{38,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,162}</string>
                <key>spriteSourceSize</key>
                <string>{97,162}</string>
                <key>textureRect</key>
                <string>{{229,99},{97,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/flower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,33}</string>
                <key>spriteSourceSize</key>
                <string>{20,33}</string>
                <key>textureRect</key>
                <string>{{327,208},{20,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/flower_pot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,98}</string>
                <key>spriteSourceSize</key>
                <string>{91,98}</string>
                <key>textureRect</key>
                <string>{{853,146},{91,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/flower_table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,61}</string>
                <key>spriteSourceSize</key>
                <string>{85,61}</string>
                <key>textureRect</key>
                <string>{{953,146},{85,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/foundations.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,36}</string>
                <key>spriteSourceSize</key>
                <string>{50,36}</string>
                <key>textureRect</key>
                <string>{{225,198},{50,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/heater.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,247}</string>
                <key>spriteSourceSize</key>
                <string>{96,247}</string>
                <key>textureRect</key>
                <string>{{229,1},{96,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/light1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,189}</string>
                <key>spriteSourceSize</key>
                <string>{69,189}</string>
                <key>textureRect</key>
                <string>{{1,182},{69,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/light2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,148}</string>
                <key>spriteSourceSize</key>
                <string>{56,148}</string>
                <key>textureRect</key>
                <string>{{474,185},{56,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/lip_gloss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,36}</string>
                <key>spriteSourceSize</key>
                <string>{15,36}</string>
                <key>textureRect</key>
                <string>{{953,233},{15,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/mascara.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,35}</string>
                <key>spriteSourceSize</key>
                <string>{12,35}</string>
                <key>textureRect</key>
                <string>{{217,240},{12,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/mirror.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,106}</string>
                <key>spriteSourceSize</key>
                <string>{81,106}</string>
                <key>textureRect</key>
                <string>{{624,146},{81,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/pencils.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,23}</string>
                <key>spriteSourceSize</key>
                <string>{9,23}</string>
                <key>textureRect</key>
                <string>{{474,243},{9,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/shelf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,15}</string>
                <key>spriteSourceSize</key>
                <string>{117,15}</string>
                <key>textureRect</key>
                <string>{{707,203},{117,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/sink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,153}</string>
                <key>spriteSourceSize</key>
                <string>{79,153}</string>
                <key>textureRect</key>
                <string>{{393,99},{79,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/sofa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,143}</string>
                <key>spriteSourceSize</key>
                <string>{159,143}</string>
                <key>textureRect</key>
                <string>{{864,1},{159,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/straightener.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,8}</string>
                <key>spriteSourceSize</key>
                <string>{49,8}</string>
                <key>textureRect</key>
                <string>{{327,198},{49,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,107}</string>
                <key>spriteSourceSize</key>
                <string>{212,107}</string>
                <key>textureRect</key>
                <string>{{478,1},{212,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parlour/tile1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,144}</string>
                <key>spriteSourceSize</key>
                <string>{73,144}</string>
                <key>textureRect</key>
                <string>{{474,110},{73,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/tile2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,144}</string>
                <key>spriteSourceSize</key>
                <string>{73,144}</string>
                <key>textureRect</key>
                <string>{{707,128},{73,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>parlour/window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,179}</string>
                <key>spriteSourceSize</key>
                <string>{226,179}</string>
                <key>textureRect</key>
                <string>{{1,1},{226,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>parlour.png</string>
            <key>size</key>
            <string>{1024,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f908f6a207a1c3152e4ce6d74c3e1fff:eea2ca314670dde7801a77d3f89cba89:0932a032998bdca5e0ae1bbb3c08167b$</string>
            <key>textureFileName</key>
            <string>parlour.png</string>
        </dict>
    </dict>
</plist>
