<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layerfarm/ban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,124}</string>
                <key>spriteSourceSize</key>
                <string>{181,124}</string>
                <key>textureRect</key>
                <string>{{125,1},{181,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layerfarm/cake1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,42}</string>
                <key>spriteSourceSize</key>
                <string>{106,42}</string>
                <key>textureRect</key>
                <string>{{125,184},{106,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerfarm/crane.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,77}</string>
                <key>spriteSourceSize</key>
                <string>{107,77}</string>
                <key>textureRect</key>
                <string>{{1,361},{107,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerfarm/ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,50}</string>
                <key>spriteSourceSize</key>
                <string>{358,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{358,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layerfarm/hands.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,14}</string>
                <key>spriteSourceSize</key>
                <string>{9,14}</string>
                <key>textureRect</key>
                <string>{{99,261},{9,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerfarm/hook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,42}</string>
                <key>spriteSourceSize</key>
                <string>{16,42}</string>
                <key>textureRect</key>
                <string>{{125,228},{16,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layerfarm/ladder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,258}</string>
                <key>spriteSourceSize</key>
                <string>{70,258}</string>
                <key>textureRect</key>
                <string>{{53,1},{70,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerfarm/lever.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,34}</string>
                <key>spriteSourceSize</key>
                <string>{11,34}</string>
                <key>textureRect</key>
                <string>{{233,184},{11,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerfarm/ref.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{169,228},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerfarm/sheepblink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,12}</string>
                <key>spriteSourceSize</key>
                <string>{17,12}</string>
                <key>textureRect</key>
                <string>{{110,426},{17,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerfarm/sheephappy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,10}</string>
                <key>spriteSourceSize</key>
                <string>{16,10}</string>
                <key>textureRect</key>
                <string>{{53,333},{16,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerfarm/sheephead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,34}</string>
                <key>spriteSourceSize</key>
                <string>{44,34}</string>
                <key>textureRect</key>
                <string>{{53,261},{44,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerfarm/sheepleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{53,297},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerfarm/sheepmouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,4}</string>
                <key>spriteSourceSize</key>
                <string>{18,4}</string>
                <key>textureRect</key>
                <string>{{125,246},{18,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layerfarm/sheepsad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,8}</string>
                <key>spriteSourceSize</key>
                <string>{16,8}</string>
                <key>textureRect</key>
                <string>{{89,297},{16,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layerfarm/tractor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,135}</string>
                <key>spriteSourceSize</key>
                <string>{163,135}</string>
                <key>textureRect</key>
                <string>{{110,261},{163,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>layerfarm.png</string>
            <key>size</key>
            <string>{250,439}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41d9e8af5bb39299f697392750c375ef:6a411645085df0605573141b0c40f89a:cb6b43cfd729c4064fd7b55a73af71f7$</string>
            <key>textureFileName</key>
            <string>layerfarm.png</string>
        </dict>
    </dict>
</plist>
