<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_2/arm_hand_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{4016,1126},{68,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,105}</string>
			</dict>
			<key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_2/arm_lower_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{4031,771},{48,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,220}</string>
			</dict>
			<key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_2/arm_upper_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{4031,509},{55,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,262}</string>
			</dict>
			<key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_2/butterfly1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3744,0},{420,320}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{462,359}</string>
			</dict>
			<key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_2/butterfly2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3744,855},{416,272}}</string>
				<key>offset</key>
				<string>{-3,-23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{462,359}</string>
			</dict>
			<key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_2/butterfly3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1901,1003},{420,261}}</string>
				<key>offset</key>
				<string>{-7,-28}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{462,359}</string>
			</dict>
			<key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_2/butterfly4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1901,1423},{423,246}}</string>
				<key>offset</key>
				<string>{-5,-36}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{462,359}</string>
			</dict>
			<key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_2/butterfly5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3197,1149},{401,227}}</string>
				<key>offset</key>
				<string>{-15,-53}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{462,359}</string>
			</dict>
			<key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_2/butterfly6.png</key>
			<dict>
				<key>frame</key>
				<string>{{3197,920},{401,229}}</string>
				<key>offset</key>
				<string>{-15,-54}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{462,359}</string>
			</dict>
			<key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_2/caterpillar_body6.png</key>
			<dict>
				<key>frame</key>
				<string>{{3893,1281},{179,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,179}</string>
			</dict>
			<key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_2/caterpillar_body7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2728,1302},{148,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,152}</string>
			</dict>
			<key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_2/caterpillar_body8.png</key>
			<dict>
				<key>frame</key>
				<string>{{2608,1282},{119,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,120}</string>
			</dict>
			<key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_2/caterpillar_eye.png</key>
			<dict>
				<key>frame</key>
				<string>{{2745,685},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_2/caterpillar_face.png</key>
			<dict>
				<key>frame</key>
				<string>{{1290,1003},{611,537}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{611,537}</string>
			</dict>
			<key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_2/face .png</key>
			<dict>
				<key>frame</key>
				<string>{{2219,631},{651,526}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{652,526}</string>
			</dict>
			<key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_2/girl_hand.png</key>
			<dict>
				<key>frame</key>
				<string>{{4016,1231},{50,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,76}</string>
			</dict>
			<key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_2/girl_lower_hand.png</key>
			<dict>
				<key>frame</key>
				<string>{{4064,177},{28,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,172}</string>
			</dict>
			<key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_2/girl_lower_leg.png</key>
			<dict>
				<key>frame</key>
				<string>{{4064,349},{22,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,105}</string>
			</dict>
			<key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_2/girl_neck.png</key>
			<dict>
				<key>frame</key>
				<string>{{4016,991},{66,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,135}</string>
			</dict>
			<key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_2/girl_upper_hand.png</key>
			<dict>
				<key>frame</key>
				<string>{{4064,0},{28,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,177}</string>
			</dict>
			<key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_2/girl_upper_leg.png</key>
			<dict>
				<key>frame</key>
				<string>{{4031,420},{21,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,89}</string>
			</dict>
			<key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_2/jcb.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1290,1048}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1290,1048}</string>
			</dict>
			<key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_2/Kato_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2818,0},{920,926}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{920,926}</string>
			</dict>
			<key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_2/Kato_cloud.png</key>
			<dict>
				<key>frame</key>
				<string>{{1290,631},{929,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{929,372}</string>
			</dict>
			<key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_2/Kato_flower.png</key>
			<dict>
				<key>frame</key>
				<string>{{3744,420},{287,435}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{287,435}</string>
			</dict>
			<key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_2/Kato_grass.png</key>
			<dict>
				<key>frame</key>
				<string>{{1290,0},{1528,631}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1528,631}</string>
			</dict>
			<key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_2/Kato_grass1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2162,1282},{446,384}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{446,384}</string>
			</dict>
			<key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_2/Kato_grass2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2745,920},{452,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{452,382}</string>
			</dict>
			<key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_2/Kato_grass3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3598,1271},{295,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{295,163}</string>
			</dict>
			<key>Kato_Mwakili_na_Shida_Kubwa/Kato_Mwakili_na_Shida_Kubwa_2/Kato_leaf.png</key>
			<dict>
				<key>frame</key>
				<string>{{2745,631},{66,54}}</string>
				<key>offset</key>
				<string>{5,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,64}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Kato_Mwakili_na_Shida_Kubwa_2.png</string>
			<key>realTextureFileName</key>
			<string>Kato_Mwakili_na_Shida_Kubwa_2.png</string>
			<key>size</key>
			<string>{4092,1846}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4092</integer>
			<key>height</key>
			<integer>1846</integer>
		</dict>
	</dict>
</plist>