<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>camp_clothshop/Cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1193,738}</string>
                <key>spriteSourceSize</key>
                <string>{1193,738}</string>
                <key>textureRect</key>
                <string>{{1,1},{1193,738}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_clothshop/branch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,72}</string>
                <key>spriteSourceSize</key>
                <string>{249,72}</string>
                <key>textureRect</key>
                <string>{{1764,2918},{249,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_clothshop/clothshop_door_close1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{565,499}</string>
                <key>spriteSourceSize</key>
                <string>{565,499}</string>
                <key>textureRect</key>
                <string>{{1196,1},{565,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_clothshop/clothshop_door_close2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,0}</string>
                <key>spriteSize</key>
                <string>{445,499}</string>
                <key>spriteSourceSize</key>
                <string>{565,499}</string>
                <key>textureRect</key>
                <string>{{1,2717},{445,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_clothshop/clothshop_door_close3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{166,0}</string>
                <key>spriteSize</key>
                <string>{233,499}</string>
                <key>spriteSourceSize</key>
                <string>{565,499}</string>
                <key>textureRect</key>
                <string>{{1549,1003},{233,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_clothshop/shop_bag_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,157}</string>
                <key>spriteSourceSize</key>
                <string>{195,157}</string>
                <key>textureRect</key>
                <string>{{1154,1972},{195,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_clothshop/shop_bag_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,136}</string>
                <key>spriteSourceSize</key>
                <string>{204,136}</string>
                <key>textureRect</key>
                <string>{{448,3076},{204,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_clothshop/shop_bag_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,248}</string>
                <key>spriteSourceSize</key>
                <string>{181,248}</string>
                <key>textureRect</key>
                <string>{{982,741},{181,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_clothshop/shop_bag_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{242,271}</string>
                <key>spriteSourceSize</key>
                <string>{248,273}</string>
                <key>textureRect</key>
                <string>{{1573,2193},{242,271}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_clothshop/shop_bag_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,222}</string>
                <key>spriteSourceSize</key>
                <string>{270,222}</string>
                <key>textureRect</key>
                <string>{{1425,2760},{270,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_clothshop/shop_case.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,402}</string>
                <key>spriteSourceSize</key>
                <string>{402,402}</string>
                <key>textureRect</key>
                <string>{{663,2115},{402,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_clothshop/shop_door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{565,499}</string>
                <key>spriteSourceSize</key>
                <string>{565,499}</string>
                <key>textureRect</key>
                <string>{{1196,502},{565,499}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_clothshop/shop_floor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{481,221}</string>
                <key>spriteSourceSize</key>
                <string>{481,221}</string>
                <key>textureRect</key>
                <string>{{1154,1489},{481,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_clothshop/shop_obj1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,321}</string>
                <key>spriteSourceSize</key>
                <string>{259,321}</string>
                <key>textureRect</key>
                <string>{{692,2966},{259,321}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_clothshop/shop_obj10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,445}</string>
                <key>spriteSourceSize</key>
                <string>{242,445}</string>
                <key>textureRect</key>
                <string>{{448,2629},{242,445}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_clothshop/shop_obj11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,443}</string>
                <key>spriteSourceSize</key>
                <string>{243,443}</string>
                <key>textureRect</key>
                <string>{{1377,1504},{243,443}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_clothshop/shop_obj12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,444}</string>
                <key>spriteSourceSize</key>
                <string>{242,444}</string>
                <key>textureRect</key>
                <string>{{937,2519},{242,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_clothshop/shop_obj13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,443}</string>
                <key>spriteSourceSize</key>
                <string>{243,443}</string>
                <key>textureRect</key>
                <string>{{1622,1504},{243,443}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_clothshop/shop_obj14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,444}</string>
                <key>spriteSourceSize</key>
                <string>{242,444}</string>
                <key>textureRect</key>
                <string>{{1377,1949},{242,444}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_clothshop/shop_obj15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,445}</string>
                <key>spriteSourceSize</key>
                <string>{243,445}</string>
                <key>textureRect</key>
                <string>{{692,2519},{243,445}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_clothshop/shop_obj16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,444}</string>
                <key>spriteSourceSize</key>
                <string>{242,444}</string>
                <key>textureRect</key>
                <string>{{1127,2193},{242,444}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_clothshop/shop_obj17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,443}</string>
                <key>spriteSourceSize</key>
                <string>{242,443}</string>
                <key>textureRect</key>
                <string>{{1181,2437},{242,443}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_clothshop/shop_obj18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,870}</string>
                <key>spriteSourceSize</key>
                <string>{308,870}</string>
                <key>textureRect</key>
                <string>{{353,1757},{308,870}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_clothshop/shop_obj19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,15}</string>
                <key>spriteSize</key>
                <string>{350,958}</string>
                <key>spriteSourceSize</key>
                <string>{362,988}</string>
                <key>textureRect</key>
                <string>{{1,1757},{350,958}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_clothshop/shop_obj2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,321}</string>
                <key>spriteSourceSize</key>
                <string>{259,321}</string>
                <key>textureRect</key>
                <string>{{1015,2965},{259,321}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_clothshop/shop_obj3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,321}</string>
                <key>spriteSourceSize</key>
                <string>{259,321}</string>
                <key>textureRect</key>
                <string>{{1425,2437},{259,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_clothshop/shop_obj4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,399}</string>
                <key>spriteSourceSize</key>
                <string>{26,399}</string>
                <key>textureRect</key>
                <string>{{1099,2115},{26,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_clothshop/shop_obj5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,434}</string>
                <key>spriteSourceSize</key>
                <string>{28,434}</string>
                <key>textureRect</key>
                <string>{{1798,538},{28,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_clothshop/shop_obj6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,449}</string>
                <key>spriteSourceSize</key>
                <string>{33,449}</string>
                <key>textureRect</key>
                <string>{{1763,538},{33,449}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_clothshop/shop_obj7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,303}</string>
                <key>spriteSourceSize</key>
                <string>{28,303}</string>
                <key>textureRect</key>
                <string>{{1784,989},{28,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_clothshop/shop_obj8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,414}</string>
                <key>spriteSourceSize</key>
                <string>{26,414}</string>
                <key>textureRect</key>
                <string>{{1828,538},{26,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_clothshop/shop_obj9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,396}</string>
                <key>spriteSourceSize</key>
                <string>{30,396}</string>
                <key>textureRect</key>
                <string>{{1067,2115},{30,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_clothshop/shop_pc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,530}</string>
                <key>spriteSourceSize</key>
                <string>{489,530}</string>
                <key>textureRect</key>
                <string>{{663,1583},{489,530}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_clothshop/shop_shelf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{630,1014}</string>
                <key>spriteSourceSize</key>
                <string>{630,1014}</string>
                <key>textureRect</key>
                <string>{{1,741},{630,1014}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_clothshop/shop_shelf1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{565,484}</string>
                <key>spriteSourceSize</key>
                <string>{565,484}</string>
                <key>textureRect</key>
                <string>{{982,1003},{565,484}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_clothshop/shop_shoe_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,21}</string>
                <key>spriteSize</key>
                <string>{239,186}</string>
                <key>spriteSourceSize</key>
                <string>{279,256}</string>
                <key>textureRect</key>
                <string>{{1338,2984},{239,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>camp_clothshop/shop_shoe_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{240,183}</string>
                <key>spriteSourceSize</key>
                <string>{330,185}</string>
                <key>textureRect</key>
                <string>{{1686,2437},{240,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_clothshop/shop_shoe_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,183}</string>
                <key>spriteSourceSize</key>
                <string>{237,183}</string>
                <key>textureRect</key>
                <string>{{1697,2679},{237,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_clothshop/shop_shoe_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,183}</string>
                <key>spriteSourceSize</key>
                <string>{237,183}</string>
                <key>textureRect</key>
                <string>{{1579,2984},{237,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_clothshop/shop_step.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{535,126}</string>
                <key>spriteSourceSize</key>
                <string>{535,126}</string>
                <key>textureRect</key>
                <string>{{1763,1},{535,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_clothshop/shop_surface.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,31}</string>
                <key>spriteSourceSize</key>
                <string>{409,31}</string>
                <key>textureRect</key>
                <string>{{1856,538},{409,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>camp_clothshop/shop_trialroom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-70,0}</string>
                <key>spriteSize</key>
                <string>{347,840}</string>
                <key>spriteSourceSize</key>
                <string>{1201,840}</string>
                <key>textureRect</key>
                <string>{{633,741},{347,840}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>camp_clothshop.png</string>
            <key>size</key>
            <string>{1890,3226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86f0d6b6ec99380352412ec7772e2db1:7f4f2490e0bced76372de15f5dd59855:40d228f1f5be8ce4d2f1bca71f2189e0$</string>
            <key>textureFileName</key>
            <string>camp_clothshop.png</string>
        </dict>
    </dict>
</plist>
