<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map/barnhouse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{611,488}</string>
                <key>spriteSourceSize</key>
                <string>{611,488}</string>
                <key>textureRect</key>
                <string>{{951,1110},{611,488}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map/barnhousedisabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{611,488}</string>
                <key>spriteSourceSize</key>
                <string>{611,488}</string>
                <key>textureRect</key>
                <string>{{947,1600},{611,488}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map/barnhousepressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{690,519}</string>
                <key>spriteSourceSize</key>
                <string>{690,519}</string>
                <key>textureRect</key>
                <string>{{1,545},{690,519}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map/camp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,360}</string>
                <key>spriteSourceSize</key>
                <string>{588,360}</string>
                <key>textureRect</key>
                <string>{{944,2090},{588,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map/campdisabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,360}</string>
                <key>spriteSourceSize</key>
                <string>{588,360}</string>
                <key>textureRect</key>
                <string>{{1,2994},{588,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map/camppressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{690,398}</string>
                <key>spriteSourceSize</key>
                <string>{690,398}</string>
                <key>textureRect</key>
                <string>{{1,1610},{690,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map/city1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,299}</string>
                <key>spriteSourceSize</key>
                <string>{588,299}</string>
                <key>textureRect</key>
                <string>{{363,2302},{588,299}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map/city1disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,299}</string>
                <key>spriteSourceSize</key>
                <string>{588,299}</string>
                <key>textureRect</key>
                <string>{{363,2892},{588,299}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map/city1pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{690,334}</string>
                <key>spriteSourceSize</key>
                <string>{690,334}</string>
                <key>textureRect</key>
                <string>{{1560,2077},{690,334}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map/city2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,256}</string>
                <key>spriteSourceSize</key>
                <string>{588,256}</string>
                <key>textureRect</key>
                <string>{{693,545},{588,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map/city2disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,256}</string>
                <key>spriteSourceSize</key>
                <string>{588,256}</string>
                <key>textureRect</key>
                <string>{{689,1135},{588,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map/city2pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{690,284}</string>
                <key>spriteSourceSize</key>
                <string>{690,284}</string>
                <key>textureRect</key>
                <string>{{401,1610},{690,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map/city3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,255}</string>
                <key>spriteSourceSize</key>
                <string>{588,255}</string>
                <key>textureRect</key>
                <string>{{687,1725},{588,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map/city3disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,255}</string>
                <key>spriteSourceSize</key>
                <string>{588,255}</string>
                <key>textureRect</key>
                <string>{{936,2787},{588,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map/city3pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{690,287}</string>
                <key>spriteSourceSize</key>
                <string>{690,287}</string>
                <key>textureRect</key>
                <string>{{1594,693},{690,287}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map/city4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,262}</string>
                <key>spriteSourceSize</key>
                <string>{588,262}</string>
                <key>textureRect</key>
                <string>{{664,3359},{588,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map/city4disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,262}</string>
                <key>spriteSourceSize</key>
                <string>{588,262}</string>
                <key>textureRect</key>
                <string>{{1254,3359},{588,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map/city4pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{690,294}</string>
                <key>spriteSourceSize</key>
                <string>{690,294}</string>
                <key>textureRect</key>
                <string>{{1597,1},{690,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map/city5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{589,270}</string>
                <key>spriteSourceSize</key>
                <string>{589,270}</string>
                <key>textureRect</key>
                <string>{{664,2315},{589,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map/city5disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{589,270}</string>
                <key>spriteSourceSize</key>
                <string>{589,270}</string>
                <key>textureRect</key>
                <string>{{886,3044},{589,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map/city5pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{690,301}</string>
                <key>spriteSourceSize</key>
                <string>{690,301}</string>
                <key>textureRect</key>
                <string>{{1564,1385},{690,301}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map/grid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,99}</string>
                <key>spriteSourceSize</key>
                <string>{218,99}</string>
                <key>textureRect</key>
                <string>{{363,3482},{218,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map/mapbottomleft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{542,642}</string>
                <key>spriteSourceSize</key>
                <string>{542,642}</string>
                <key>textureRect</key>
                <string>{{1,1066},{542,642}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map/mapbottomright.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{542,641}</string>
                <key>spriteSourceSize</key>
                <string>{542,641}</string>
                <key>textureRect</key>
                <string>{{951,566},{542,641}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map/maptopleft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{542,951}</string>
                <key>spriteSourceSize</key>
                <string>{542,951}</string>
                <key>textureRect</key>
                <string>{{1,1},{542,951}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map/maptopright.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{563,641}</string>
                <key>spriteSourceSize</key>
                <string>{563,641}</string>
                <key>textureRect</key>
                <string>{{954,1},{563,641}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map/miningtown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,333}</string>
                <key>spriteSourceSize</key>
                <string>{588,333}</string>
                <key>textureRect</key>
                <string>{{936,2452},{588,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map/miningtowndisabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,333}</string>
                <key>spriteSourceSize</key>
                <string>{588,333}</string>
                <key>textureRect</key>
                <string>{{1526,2769},{588,333}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map/miningtownpressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{690,360}</string>
                <key>spriteSourceSize</key>
                <string>{690,360}</string>
                <key>textureRect</key>
                <string>{{1,2302},{690,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map/news.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,220}</string>
                <key>spriteSourceSize</key>
                <string>{202,220}</string>
                <key>textureRect</key>
                <string>{{664,2906},{202,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map/wave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,42}</string>
                <key>spriteSourceSize</key>
                <string>{204,42}</string>
                <key>textureRect</key>
                <string>{{645,1066},{204,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>map.png</string>
            <key>size</key>
            <string>{1895,3622}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6af4bbb20263183f2081208628527f25:f77b59fe5e0d03415cb457d93963d6b6:08a9ca8d8d9e8b25f82275e436e3cfe5$</string>
            <key>textureFileName</key>
            <string>map.png</string>
        </dict>
    </dict>
</plist>
