<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>decomonlevel/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{885,332}</string>
                <key>spriteSourceSize</key>
                <string>{885,332}</string>
                <key>textureRect</key>
                <string>{{497,2948},{885,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomonlevel/cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{804,336}</string>
                <key>spriteSourceSize</key>
                <string>{804,336}</string>
                <key>textureRect</key>
                <string>{{831,2948},{804,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomonlevel/eye1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,186}</string>
                <key>spriteSourceSize</key>
                <string>{231,186}</string>
                <key>textureRect</key>
                <string>{{3546,789},{231,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomonlevel/eye2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,199}</string>
                <key>spriteSourceSize</key>
                <string>{232,199}</string>
                <key>textureRect</key>
                <string>{{3520,2911},{232,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomonlevel/eye3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,144}</string>
                <key>spriteSourceSize</key>
                <string>{204,144}</string>
                <key>textureRect</key>
                <string>{{3546,1636},{204,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomonlevel/eye4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,250}</string>
                <key>spriteSourceSize</key>
                <string>{251,250}</string>
                <key>textureRect</key>
                <string>{{3314,3421},{251,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomonlevel/eye5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,180}</string>
                <key>spriteSourceSize</key>
                <string>{220,180}</string>
                <key>textureRect</key>
                <string>{{3546,1414},{220,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomonlevel/face1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,538}</string>
                <key>spriteSourceSize</key>
                <string>{420,538}</string>
                <key>textureRect</key>
                <string>{{2645,2911},{420,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomonlevel/face2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,519}</string>
                <key>spriteSourceSize</key>
                <string>{450,519}</string>
                <key>textureRect</key>
                <string>{{1169,2948},{450,519}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomonlevel/face3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{557,481}</string>
                <key>spriteSourceSize</key>
                <string>{557,481}</string>
                <key>textureRect</key>
                <string>{{2162,2911},{557,481}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomonlevel/face4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{451,508}</string>
                <key>spriteSourceSize</key>
                <string>{451,508}</string>
                <key>textureRect</key>
                <string>{{3067,2911},{451,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomonlevel/fronttree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1570,1819}</string>
                <key>spriteSourceSize</key>
                <string>{1570,1819}</string>
                <key>textureRect</key>
                <string>{{1,1},{1570,1819}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomonlevel/ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1432,200}</string>
                <key>spriteSourceSize</key>
                <string>{1432,200}</string>
                <key>textureRect</key>
                <string>{{1503,3616},{1432,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomonlevel/leaves1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1817,786}</string>
                <key>spriteSourceSize</key>
                <string>{1817,786}</string>
                <key>textureRect</key>
                <string>{{1822,1},{1817,786}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomonlevel/leaves2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1557,950}</string>
                <key>spriteSourceSize</key>
                <string>{1557,950}</string>
                <key>textureRect</key>
                <string>{{2162,1959},{1557,950}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomonlevel/mouth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,183}</string>
                <key>spriteSourceSize</key>
                <string>{390,183}</string>
                <key>textureRect</key>
                <string>{{3546,1022},{390,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomonlevel/mouth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,208}</string>
                <key>spriteSourceSize</key>
                <string>{332,208}</string>
                <key>textureRect</key>
                <string>{{1169,3616},{332,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomonlevel/mouth3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{463,201}</string>
                <key>spriteSourceSize</key>
                <string>{463,201}</string>
                <key>textureRect</key>
                <string>{{1169,3400},{463,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomonlevel/mouth4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,91}</string>
                <key>spriteSourceSize</key>
                <string>{396,91}</string>
                <key>textureRect</key>
                <string>{{3641,1},{396,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomonlevel/shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1655,463}</string>
                <key>spriteSourceSize</key>
                <string>{1655,463}</string>
                <key>textureRect</key>
                <string>{{1697,1959},{1655,463}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomonlevel/stem1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,887}</string>
                <key>spriteSourceSize</key>
                <string>{248,887}</string>
                <key>textureRect</key>
                <string>{{1,2948},{248,887}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomonlevel/stem2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,887}</string>
                <key>spriteSourceSize</key>
                <string>{244,887}</string>
                <key>textureRect</key>
                <string>{{251,2948},{244,887}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomonlevel/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,375}</string>
                <key>spriteSourceSize</key>
                <string>{379,375}</string>
                <key>textureRect</key>
                <string>{{2937,3451},{379,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomonlevel/tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1168,1722}</string>
                <key>spriteSourceSize</key>
                <string>{1168,1722}</string>
                <key>textureRect</key>
                <string>{{1822,789},{1168,1722}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomonlevel/tree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1373,1694}</string>
                <key>spriteSourceSize</key>
                <string>{1373,1694}</string>
                <key>textureRect</key>
                <string>{{1,1573},{1373,1694}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>decomonlevel.png</string>
            <key>size</key>
            <string>{3733,3836}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ab066e5774df826f424fe68b385cfde:7fe8d37800201bcbc37ede0a26456f1c:825dcc9ed221c9d591e8a12a963d729f$</string>
            <key>textureFileName</key>
            <string>decomonlevel.png</string>
        </dict>
    </dict>
</plist>
