    html, body {
        background-color: #1c5366;
        margin :0;
        padding:0;
    }

    canvas {
        border: 0px solid #6fa9bd;
    }

    a {
        font-family: sans-serif;
        color: white;
    }
