<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sortit/cake1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{874,313}</string>
                <key>spriteSourceSize</key>
                <string>{874,313}</string>
                <key>textureRect</key>
                <string>{{1028,1214},{874,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/cake1t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{874,312}</string>
                <key>spriteSourceSize</key>
                <string>{874,312}</string>
                <key>textureRect</key>
                <string>{{1027,1529},{874,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/cake2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{744,266}</string>
                <key>spriteSourceSize</key>
                <string>{744,266}</string>
                <key>textureRect</key>
                <string>{{1,3300},{744,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/cake2t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{744,266}</string>
                <key>spriteSourceSize</key>
                <string>{744,266}</string>
                <key>textureRect</key>
                <string>{{747,3330},{744,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/cake3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{618,221}</string>
                <key>spriteSourceSize</key>
                <string>{618,221}</string>
                <key>textureRect</key>
                <string>{{1289,3310},{618,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/cake3t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{618,221}</string>
                <key>spriteSourceSize</key>
                <string>{618,221}</string>
                <key>textureRect</key>
                <string>{{324,2822},{618,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/cake4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{481,172}</string>
                <key>spriteSourceSize</key>
                <string>{481,172}</string>
                <key>textureRect</key>
                <string>{{1073,3901},{481,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/cake4t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{481,172}</string>
                <key>spriteSourceSize</key>
                <string>{481,172}</string>
                <key>textureRect</key>
                <string>{{1,2712},{481,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/cake5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,273}</string>
                <key>spriteSourceSize</key>
                <string>{252,273}</string>
                <key>textureRect</key>
                <string>{{477,3678},{252,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/cake5t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,272}</string>
                <key>spriteSourceSize</key>
                <string>{252,272}</string>
                <key>textureRect</key>
                <string>{{1015,3310},{252,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/character1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,954}</string>
                <key>spriteSourceSize</key>
                <string>{670,954}</string>
                <key>textureRect</key>
                <string>{{1,2040},{670,954}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/character2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{792,940}</string>
                <key>spriteSourceSize</key>
                <string>{792,940}</string>
                <key>textureRect</key>
                <string>{{999,1870},{792,940}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/character3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{644,913}</string>
                <key>spriteSourceSize</key>
                <string>{644,913}</string>
                <key>textureRect</key>
                <string>{{996,2664},{644,913}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/character4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{935,1216}</string>
                <key>spriteSourceSize</key>
                <string>{935,1216}</string>
                <key>textureRect</key>
                <string>{{1,1},{935,1216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/clock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,382}</string>
                <key>spriteSourceSize</key>
                <string>{382,382}</string>
                <key>textureRect</key>
                <string>{{93,3678},{382,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/eyes_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{412,99}</string>
                <key>spriteSourceSize</key>
                <string>{428,109}</string>
                <key>textureRect</key>
                <string>{{1,3195},{412,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/eyes_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-10}</string>
                <key>spriteSize</key>
                <string>{416,49}</string>
                <key>spriteSourceSize</key>
                <string>{428,109}</string>
                <key>textureRect</key>
                <string>{{1884,3603},{416,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/eyes_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{506,90}</string>
                <key>spriteSourceSize</key>
                <string>{544,122}</string>
                <key>textureRect</key>
                <string>{{1,3568},{506,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/eyes_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-14}</string>
                <key>spriteSize</key>
                <string>{484,56}</string>
                <key>spriteSourceSize</key>
                <string>{544,122}</string>
                <key>textureRect</key>
                <string>{{1015,3568},{484,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/fridge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{712,1003}</string>
                <key>spriteSourceSize</key>
                <string>{712,1003}</string>
                <key>textureRect</key>
                <string>{{1219,1},{712,1003}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/harpPlay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{736,996}</string>
                <key>spriteSourceSize</key>
                <string>{736,996}</string>
                <key>textureRect</key>
                <string>{{1,1302},{736,996}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/stand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1025,362}</string>
                <key>spriteSourceSize</key>
                <string>{1025,362}</string>
                <key>textureRect</key>
                <string>{{1,938},{1025,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/string1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,862}</string>
                <key>spriteSourceSize</key>
                <string>{33,862}</string>
                <key>textureRect</key>
                <string>{{1904,1006},{33,862}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/string1t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,862}</string>
                <key>spriteSourceSize</key>
                <string>{33,862}</string>
                <key>textureRect</key>
                <string>{{1073,3568},{33,862}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/string2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,809}</string>
                <key>spriteSourceSize</key>
                <string>{31,809}</string>
                <key>textureRect</key>
                <string>{{1073,3603},{31,809}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/string2t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,809}</string>
                <key>spriteSourceSize</key>
                <string>{31,809}</string>
                <key>textureRect</key>
                <string>{{1073,3636},{31,809}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/string3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,628}</string>
                <key>spriteSourceSize</key>
                <string>{37,628}</string>
                <key>textureRect</key>
                <string>{{957,2040},{37,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/string3t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,628}</string>
                <key>spriteSourceSize</key>
                <string>{37,628}</string>
                <key>textureRect</key>
                <string>{{957,2670},{37,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/string4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,450}</string>
                <key>spriteSourceSize</key>
                <string>{28,450}</string>
                <key>textureRect</key>
                <string>{{1911,2664},{28,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/string4t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,450}</string>
                <key>spriteSourceSize</key>
                <string>{28,450}</string>
                <key>textureRect</key>
                <string>{{1911,3116},{28,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/string5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,332}</string>
                <key>spriteSourceSize</key>
                <string>{26,332}</string>
                <key>textureRect</key>
                <string>{{999,1302},{26,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/string5t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,332}</string>
                <key>spriteSourceSize</key>
                <string>{26,332}</string>
                <key>textureRect</key>
                <string>{{1537,3533},{26,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/string6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,246}</string>
                <key>spriteSourceSize</key>
                <string>{28,246}</string>
                <key>textureRect</key>
                <string>{{747,3300},{28,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/string6t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,246}</string>
                <key>spriteSourceSize</key>
                <string>{28,246}</string>
                <key>textureRect</key>
                <string>{{1289,3533},{28,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/toy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{792,114}</string>
                <key>spriteSourceSize</key>
                <string>{792,114}</string>
                <key>textureRect</key>
                <string>{{1073,3669},{792,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/toy1t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{792,114}</string>
                <key>spriteSourceSize</key>
                <string>{792,114}</string>
                <key>textureRect</key>
                <string>{{1073,3785},{792,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/toy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{628,108}</string>
                <key>spriteSourceSize</key>
                <string>{628,108}</string>
                <key>textureRect</key>
                <string>{{93,3568},{628,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/toy2t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{628,108}</string>
                <key>spriteSourceSize</key>
                <string>{628,108}</string>
                <key>textureRect</key>
                <string>{{324,2712},{628,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/toy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,147}</string>
                <key>spriteSourceSize</key>
                <string>{378,147}</string>
                <key>textureRect</key>
                <string>{{175,2712},{378,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/toy3t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,147}</string>
                <key>spriteSourceSize</key>
                <string>{378,147}</string>
                <key>textureRect</key>
                <string>{{324,3045},{378,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/toy4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,180}</string>
                <key>spriteSourceSize</key>
                <string>{274,180}</string>
                <key>textureRect</key>
                <string>{{1028,938},{274,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/toy4t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,180}</string>
                <key>spriteSourceSize</key>
                <string>{274,180}</string>
                <key>textureRect</key>
                <string>{{1492,1006},{274,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/toy5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,139}</string>
                <key>spriteSourceSize</key>
                <string>{196,139}</string>
                <key>textureRect</key>
                <string>{{1210,1006},{196,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/toy5t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,139}</string>
                <key>spriteSourceSize</key>
                <string>{196,139}</string>
                <key>textureRect</key>
                <string>{{1351,1006},{196,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/toy6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,115}</string>
                <key>spriteSourceSize</key>
                <string>{136,115}</string>
                <key>textureRect</key>
                <string>{{1768,1006},{136,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/toy6t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,115}</string>
                <key>spriteSourceSize</key>
                <string>{136,115}</string>
                <key>textureRect</key>
                <string>{{477,3953},{136,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sortit.png</string>
            <key>size</key>
            <string>{1940,4075}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce372d0fbfebd8e27ae910412b459cd5:dbefdad6607935101ed470f7f1217869:adbb19eafc5ddac1579395ed2d404c0b$</string>
            <key>textureFileName</key>
            <string>sortit.png</string>
        </dict>
    </dict>
</plist>
