<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gamemap/gamemap/Patch The Wall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{226,225}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{711,1},{226,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamemap/gamemap/Smash The Rock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{226,225}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{938,1},{226,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamemap/gamemap/memory.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{2073,1},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/order.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{2299,1},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/owl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{2525,1},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/pop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{226,225}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{1165,1},{226,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamemap/gamemap/red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,238}</string>
                <key>spriteSourceSize</key>
                <string>{246,246}</string>
                <key>textureRect</key>
                <string>{{243,1},{238,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/runningcat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{226,226}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{483,1},{226,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/shoot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{2751,1},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/sortit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{226,225}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{1392,1},{226,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamemap/gamemap/stack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{2977,1},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/talk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{3203,1},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/train.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{226,225}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{1619,1},{226,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamemap/gamemap/tri1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{97,94}</string>
                <key>spriteSourceSize</key>
                <string>{113,106}</string>
                <key>textureRect</key>
                <string>{{3429,1},{97,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/tri2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{97,94}</string>
                <key>spriteSourceSize</key>
                <string>{113,106}</string>
                <key>textureRect</key>
                <string>{{3528,1},{97,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamemap/gamemap/tri3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{97,94}</string>
                <key>spriteSourceSize</key>
                <string>{113,106}</string>
                <key>textureRect</key>
                <string>{{3429,97},{97,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/tri4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{97,94}</string>
                <key>spriteSourceSize</key>
                <string>{113,106}</string>
                <key>textureRect</key>
                <string>{{3528,100},{97,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamemap/gamemap/wembley.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{226,225}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{1846,1},{226,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamemap/gamemap/yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,238}</string>
                <key>spriteSourceSize</key>
                <string>{246,246}</string>
                <key>textureRect</key>
                <string>{{1,1},{240,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gamemap.png</string>
            <key>size</key>
            <string>{3623,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43eec3b257ddb70332aea0e7af5dd6f4:e023f5eab044cad04da5f6d9ba6f6f09:8e6144685d05ab27c2cddc39fe1ff60f$</string>
            <key>textureFileName</key>
            <string>gamemap.png</string>
        </dict>
    </dict>
</plist>
