<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wembley/ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{1,573},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wembley/balldash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,305}</string>
                <key>spriteSourceSize</key>
                <string>{305,305}</string>
                <key>textureRect</key>
                <string>{{517,327},{305,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wembley/ballshade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{305,634},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wembley/char.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,514}</string>
                <key>spriteSourceSize</key>
                <string>{244,514}</string>
                <key>textureRect</key>
                <string>{{1,327},{244,514}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wembley/net.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{848,324}</string>
                <key>spriteSourceSize</key>
                <string>{862,362}</string>
                <key>textureRect</key>
                <string>{{1,1},{848,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wembley.png</string>
            <key>size</key>
            <string>{850,935}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec3c5f50274552c318e046cf7470309e:ed4505b5d168a1aa575fc24340fc8bf7:cfce23dd01c0bbbbc6990219af36ea7c$</string>
            <key>textureFileName</key>
            <string>wembley.png</string>
        </dict>
    </dict>
</plist>
