<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>find/apple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,67}</string>
                <key>spriteSourceSize</key>
                <string>{57,67}</string>
                <key>textureRect</key>
                <string>{{146,421},{57,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>find/board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,58}</string>
                <key>spriteSourceSize</key>
                <string>{244,58}</string>
                <key>textureRect</key>
                <string>{{208,1},{244,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>find/board_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,70}</string>
                <key>spriteSourceSize</key>
                <string>{329,70}</string>
                <key>textureRect</key>
                <string>{{1,1},{329,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>find/book.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,71}</string>
                <key>spriteSourceSize</key>
                <string>{95,71}</string>
                <key>textureRect</key>
                <string>{{203,247},{95,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>find/cheese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,51}</string>
                <key>spriteSourceSize</key>
                <string>{59,51}</string>
                <key>textureRect</key>
                <string>{{146,336},{59,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>find/cup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,91}</string>
                <key>spriteSourceSize</key>
                <string>{86,91}</string>
                <key>textureRect</key>
                <string>{{58,336},{86,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>find/donut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{199,344},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>find/fish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,55}</string>
                <key>spriteSourceSize</key>
                <string>{136,55}</string>
                <key>textureRect</key>
                <string>{{1,332},{136,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>find/shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{73,229},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>find/submarine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,133}</string>
                <key>spriteSourceSize</key>
                <string>{226,133}</string>
                <key>textureRect</key>
                <string>{{73,1},{226,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>find/tooth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,53}</string>
                <key>spriteSourceSize</key>
                <string>{45,53}</string>
                <key>textureRect</key>
                <string>{{58,429},{45,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>find.png</string>
            <key>size</key>
            <string>{275,479}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17bc0c1e7ab00d318e47c9ae98b9ce43:64de7b4465d47920c009776674733109:2a4da6e5553fbbeff7078e09f2af6d33$</string>
            <key>textureFileName</key>
            <string>find.png</string>
        </dict>
    </dict>
</plist>
