<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>itemlevel/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,82}</string>
                <key>spriteSourceSize</key>
                <string>{354,82}</string>
                <key>textureRect</key>
                <string>{{1,1},{354,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemlevel/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,63}</string>
                <key>spriteSourceSize</key>
                <string>{59,63}</string>
                <key>textureRect</key>
                <string>{{952,1},{59,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemlevel/item_fish1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{151,54}</string>
                <key>spriteSourceSize</key>
                <string>{153,72}</string>
                <key>textureRect</key>
                <string>{{1160,1},{151,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemlevel/item_fish11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{145,58}</string>
                <key>spriteSourceSize</key>
                <string>{153,72}</string>
                <key>textureRect</key>
                <string>{{1013,1},{145,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemlevel/item_ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{527,77}</string>
                <key>spriteSourceSize</key>
                <string>{527,77}</string>
                <key>textureRect</key>
                <string>{{357,1},{527,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemlevel/pant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,73}</string>
                <key>spriteSourceSize</key>
                <string>{64,73}</string>
                <key>textureRect</key>
                <string>{{886,1},{64,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>itemlevel.png</string>
            <key>size</key>
            <string>{1312,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1c96ef3dca2e0218d1eeb80faa9b870:aa33ce7ad41b8a92c70cfb7537b6cb68:9208b4d54ec0d22228dedd36de25f1b8$</string>
            <key>textureFileName</key>
            <string>itemlevel.png</string>
        </dict>
    </dict>
</plist>
