<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Background_level_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2563,1801}</string>
                <key>spriteSourceSize</key>
                <string>{2563,1801}</string>
                <key>textureRect</key>
                <string>{{1,1},{2563,1801}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coin_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,183}</string>
                <key>spriteSourceSize</key>
                <string>{183,183}</string>
                <key>textureRect</key>
                <string>{{2844,618},{183,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coin_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,183}</string>
                <key>spriteSourceSize</key>
                <string>{183,183}</string>
                <key>textureRect</key>
                <string>{{2658,803},{183,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coin_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,183}</string>
                <key>spriteSourceSize</key>
                <string>{183,183}</string>
                <key>textureRect</key>
                <string>{{2843,803},{183,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coin_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,183}</string>
                <key>spriteSourceSize</key>
                <string>{182,183}</string>
                <key>textureRect</key>
                <string>{{2843,988},{182,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Coin_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,183}</string>
                <key>spriteSourceSize</key>
                <string>{182,183}</string>
                <key>textureRect</key>
                <string>{{2843,1172},{182,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Coin_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,183}</string>
                <key>spriteSourceSize</key>
                <string>{182,183}</string>
                <key>textureRect</key>
                <string>{{2658,1173},{182,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Coin_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,183}</string>
                <key>spriteSourceSize</key>
                <string>{182,183}</string>
                <key>textureRect</key>
                <string>{{2843,1356},{182,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Coin_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,183}</string>
                <key>spriteSourceSize</key>
                <string>{183,183}</string>
                <key>textureRect</key>
                <string>{{2658,988},{183,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coin_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{183,184}</string>
                <key>spriteSourceSize</key>
                <string>{183,192}</string>
                <key>textureRect</key>
                <string>{{2658,618},{183,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Star_Green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,66}</string>
                <key>spriteSourceSize</key>
                <string>{70,66}</string>
                <key>textureRect</key>
                <string>{{3029,618},{70,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Star_Red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,66}</string>
                <key>spriteSourceSize</key>
                <string>{70,66}</string>
                <key>textureRect</key>
                <string>{{3101,618},{70,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Star_Yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,66}</string>
                <key>spriteSourceSize</key>
                <string>{69,66}</string>
                <key>textureRect</key>
                <string>{{3029,686},{69,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Weight_Main.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{615,602}</string>
                <key>spriteSourceSize</key>
                <string>{615,602}</string>
                <key>textureRect</key>
                <string>{{2566,1},{615,602}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Weight_Uper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1235,90}</string>
                <key>spriteSourceSize</key>
                <string>{1235,90}</string>
                <key>textureRect</key>
                <string>{{2566,618},{1235,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Game_screen.png</string>
            <key>size</key>
            <string>{3169,1854}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86d6849b3fedbfe002935ccf19e5f83b:4e2de58e821f276aa8e9de42dec6ec03:83d0fb964a4494655c4bc9607a0bfd53$</string>
            <key>textureFileName</key>
            <string>Game_screen.png</string>
        </dict>
    </dict>
</plist>
