<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
	</dict>
	<key>category_names</key>
	<array />
	<key>bodies</key>
	<dict>
		<key>gym_surface1</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.51000 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 80.00000,6.62500 }</string>
							<string>{ 80.00000,-6.62500 }</string>
							<string>{ -80.25000,-6.62500 }</string>
							<string>{ -80.25000,6.62500 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>gym_surface2</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.51000 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 80.75000,6.62500 }</string>
							<string>{ 80.75000,-6.37500 }</string>
							<string>{ -80.75000,-6.37500 }</string>
							<string>{ -80.75000,6.62500 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>gym_surface3</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.51000 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.200000003</real>
					<key>friction</key>
					<real>0.699999988</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>1</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>2</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -149.75000,-6.37500 }</string>
							<string>{ -150.00000,6.62500 }</string>
							<string>{ 150.50000,6.62500 }</string>
							<string>{ 151.00000,-6.62500 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>gym_floor</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.50000,0.50200 }</string>
			<key>is_dynamic</key>
			<false />
			<key>affected_by_gravity</key>
			<false />
			<key>allows_rotation</key>
			<false />
			<key>linear_damping</key>
			<real>0</real>
			<key>velocity_limit</key>
			<real>1000000</real>
			<key>angular_damping</key>
			<real>0</real>
			<key>angular_velocity_limit</key>
			<real>1000000</real>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.2</real>
					<key>friction</key>
					<real>0.7</real>
					<key>tag</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>category_mask</key>
					<integer>3</integer>
					<key>collision_mask</key>
					<integer>2</integer>
					<key>contact_test_mask</key>
					<integer>1</integer>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 81.00000,-0.12500 }</string>
							<string>{ 80.75000,-29.12500 }</string>
							<string>{ -79.75000,-29.12500 }</string>
							<string>{ -80.25000,0.12500 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>