<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>phonicsfree/bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{653,32}</string>
                <key>spriteSourceSize</key>
                <string>{653,32}</string>
                <key>textureRect</key>
                <string>{{1,88},{653,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phonicsfree/box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,73}</string>
                <key>spriteSourceSize</key>
                <string>{71,73}</string>
                <key>textureRect</key>
                <string>{{1635,1},{71,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>phonicsfree/cubes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,46}</string>
                <key>spriteSourceSize</key>
                <string>{78,46}</string>
                <key>textureRect</key>
                <string>{{1635,74},{78,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phonicsfree/floor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{855,85}</string>
                <key>spriteSourceSize</key>
                <string>{855,85}</string>
                <key>textureRect</key>
                <string>{{1,1},{855,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phonicsfree/name bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,75}</string>
                <key>spriteSourceSize</key>
                <string>{233,75}</string>
                <key>textureRect</key>
                <string>{{1248,1},{233,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phonicsfree/scroll bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,115}</string>
                <key>spriteSourceSize</key>
                <string>{388,115}</string>
                <key>textureRect</key>
                <string>{{858,1},{388,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phonicsfree/scroll button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,94}</string>
                <key>spriteSourceSize</key>
                <string>{63,94}</string>
                <key>textureRect</key>
                <string>{{1570,1},{63,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phonicsfree/tick mark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{1483,1},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>phonicsfree.png</string>
            <key>size</key>
            <string>{1714,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76029a644ff5d4bc26716f412bde97b1:b4f0545088fd7640e13188d4c37cf684:c75a598cb7473236c7ff89a85ab06c74$</string>
            <key>textureFileName</key>
            <string>phonicsfree.png</string>
        </dict>
    </dict>
</plist>
