<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,82}</string>
                <key>spriteSourceSize</key>
                <string>{354,82}</string>
                <key>textureRect</key>
                <string>{{1,1},{354,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box/board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,50}</string>
                <key>spriteSourceSize</key>
                <string>{323,50}</string>
                <key>textureRect</key>
                <string>{{1,85},{323,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box/box1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{109,67}</string>
                <key>spriteSourceSize</key>
                <string>{109,91}</string>
                <key>textureRect</key>
                <string>{{1,230},{109,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box/box2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{109,83}</string>
                <key>spriteSourceSize</key>
                <string>{109,91}</string>
                <key>textureRect</key>
                <string>{{357,1},{109,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box/box3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,91}</string>
                <key>spriteSourceSize</key>
                <string>{109,91}</string>
                <key>textureRect</key>
                <string>{{1,137},{109,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box/box4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,91}</string>
                <key>spriteSourceSize</key>
                <string>{109,91}</string>
                <key>textureRect</key>
                <string>{{112,137},{109,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box/box5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{109,83}</string>
                <key>spriteSourceSize</key>
                <string>{109,91}</string>
                <key>textureRect</key>
                <string>{{334,179},{109,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box/box6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,91}</string>
                <key>spriteSourceSize</key>
                <string>{109,91}</string>
                <key>textureRect</key>
                <string>{{223,137},{109,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box/box7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,91}</string>
                <key>spriteSourceSize</key>
                <string>{109,91}</string>
                <key>textureRect</key>
                <string>{{334,86},{109,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box/bubble1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-16}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{38,60}</string>
                <key>textureRect</key>
                <string>{{312,230},{20,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box/bubble2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-8}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{38,60}</string>
                <key>textureRect</key>
                <string>{{445,86},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box/bubble3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{38,60}</string>
                <key>textureRect</key>
                <string>{{289,266},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box/bubble4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{38,60}</string>
                <key>textureRect</key>
                <string>{{317,264},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box/bubble5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{26,34}</string>
                <key>spriteSourceSize</key>
                <string>{38,60}</string>
                <key>textureRect</key>
                <string>{{284,230},{26,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box/bubble6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{34,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,60}</string>
                <key>textureRect</key>
                <string>{{248,230},{34,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,63}</string>
                <key>spriteSourceSize</key>
                <string>{59,63}</string>
                <key>textureRect</key>
                <string>{{187,230},{59,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box/hands.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,14}</string>
                <key>spriteSourceSize</key>
                <string>{9,14}</string>
                <key>textureRect</key>
                <string>{{445,114},{9,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box/pant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,73}</string>
                <key>spriteSourceSize</key>
                <string>{64,73}</string>
                <key>textureRect</key>
                <string>{{112,230},{64,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box/stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,27}</string>
                <key>spriteSourceSize</key>
                <string>{39,27}</string>
                <key>textureRect</key>
                <string>{{248,270},{39,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>box.png</string>
            <key>size</key>
            <string>{467,298}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f2094a68e456372c630a164d3411c7b:e5b36b19c32cf10d06cf664d537be378:6271a3e548d96c0506422cebd7459e9d$</string>
            <key>textureFileName</key>
            <string>box.png</string>
        </dict>
    </dict>
</plist>
