<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>city/city2/house.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1299,1706}</string>
                <key>spriteSourceSize</key>
                <string>{1299,1706}</string>
                <key>textureRect</key>
                <string>{{1,946},{1299,1706}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city2/housedoor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,459}</string>
                <key>spriteSourceSize</key>
                <string>{274,459}</string>
                <key>textureRect</key>
                <string>{{1709,1532},{274,459}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city2/houseside.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{760,1647}</string>
                <key>spriteSourceSize</key>
                <string>{760,1647}</string>
                <key>textureRect</key>
                <string>{{1446,2989},{760,1647}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city2/office.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1443,1580}</string>
                <key>spriteSourceSize</key>
                <string>{1443,1580}</string>
                <key>textureRect</key>
                <string>{{1,2247},{1443,1580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city2/officedoor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,584}</string>
                <key>spriteSourceSize</key>
                <string>{321,584}</string>
                <key>textureRect</key>
                <string>{{1709,946},{321,584}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city2/officeside.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{943,2115}</string>
                <key>spriteSourceSize</key>
                <string>{943,2115}</string>
                <key>textureRect</key>
                <string>{{1,1},{943,2115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>city/city2/shopping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1210,1365}</string>
                <key>spriteSourceSize</key>
                <string>{1210,1365}</string>
                <key>textureRect</key>
                <string>{{2032,1310},{1210,1365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city2/shoppingdoor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,740}</string>
                <key>spriteSourceSize</key>
                <string>{425,740}</string>
                <key>textureRect</key>
                <string>{{1446,2247},{425,740}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city/city2/shoppingside.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1307,1219}</string>
                <key>spriteSourceSize</key>
                <string>{1307,1219}</string>
                <key>textureRect</key>
                <string>{{2118,1},{1307,1219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>city2.png</string>
            <key>size</key>
            <string>{3338,3828}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:942877fead173d7f335fd2058ea74b21:475afcca96e762cb43923d471bdf8aa2:17c6c0c7d60651e8ae55eb3650248610$</string>
            <key>textureFileName</key>
            <string>city2.png</string>
        </dict>
    </dict>
</plist>
