<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>endlessrunner/barrier.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,900}</string>
                <key>spriteSourceSize</key>
                <string>{1,900}</string>
                <key>textureRect</key>
                <string>{{707,1642},{1,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/bgTouchImage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{760,3266},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,64}</string>
                <key>spriteSourceSize</key>
                <string>{150,64}</string>
                <key>textureRect</key>
                <string>{{928,1734},{150,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/gapw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,10}</string>
                <key>spriteSourceSize</key>
                <string>{225,10}</string>
                <key>textureRect</key>
                <string>{{905,1929},{225,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,250}</string>
                <key>spriteSourceSize</key>
                <string>{1,250}</string>
                <key>textureRect</key>
                <string>{{529,876},{1,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/happy_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,35}</string>
                <key>spriteSourceSize</key>
                <string>{52,35}</string>
                <key>textureRect</key>
                <string>{{760,3228},{52,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/happy_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,170}</string>
                <key>spriteSourceSize</key>
                <string>{83,170}</string>
                <key>textureRect</key>
                <string>{{891,3024},{83,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/happy_mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,31}</string>
                <key>spriteSourceSize</key>
                <string>{99,31}</string>
                <key>textureRect</key>
                <string>{{444,2563},{99,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/layer_1_mountain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{687,563}</string>
                <key>spriteSourceSize</key>
                <string>{687,563}</string>
                <key>textureRect</key>
                <string>{{0,2623},{687,563}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/layer_2_mountain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{687,563}</string>
                <key>spriteSourceSize</key>
                <string>{687,563}</string>
                <key>textureRect</key>
                <string>{{0,3313},{687,563}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/layer_3_bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{688,191}</string>
                <key>spriteSourceSize</key>
                <string>{688,191}</string>
                <key>textureRect</key>
                <string>{{711,1642},{688,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/layer_4_tree_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,818}</string>
                <key>spriteSourceSize</key>
                <string>{472,818}</string>
                <key>textureRect</key>
                <string>{{534,0},{472,818}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/layer_4_tree_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,817}</string>
                <key>spriteSourceSize</key>
                <string>{134,817}</string>
                <key>textureRect</key>
                <string>{{444,1743},{134,817}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/layer_4_tree_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,818}</string>
                <key>spriteSourceSize</key>
                <string>{472,818}</string>
                <key>textureRect</key>
                <string>{{534,821},{472,818}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/layer_5_bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{688,191}</string>
                <key>spriteSourceSize</key>
                <string>{688,191}</string>
                <key>textureRect</key>
                <string>{{566,2579},{688,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/layer_6_tree_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,864}</string>
                <key>spriteSourceSize</key>
                <string>{526,864}</string>
                <key>textureRect</key>
                <string>{{0,876},{526,864}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/layer_6_tree_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,934}</string>
                <key>spriteSourceSize</key>
                <string>{123,934}</string>
                <key>textureRect</key>
                <string>{{581,1642},{123,934}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/layer_6_tree_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,877}</string>
                <key>spriteSourceSize</key>
                <string>{441,877}</string>
                <key>textureRect</key>
                <string>{{0,1743},{441,877}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/layer_6_tree_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{531,873}</string>
                <key>spriteSourceSize</key>
                <string>{531,873}</string>
                <key>textureRect</key>
                <string>{{0,0},{531,873}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/layer_7_bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{688,191}</string>
                <key>spriteSourceSize</key>
                <string>{688,191}</string>
                <key>textureRect</key>
                <string>{{760,2333},{688,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/mad_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,49}</string>
                <key>spriteSourceSize</key>
                <string>{44,49}</string>
                <key>textureRect</key>
                <string>{{529,1642},{44,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/mad_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,170}</string>
                <key>spriteSourceSize</key>
                <string>{83,170}</string>
                <key>textureRect</key>
                <string>{{894,3636},{83,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/mad_mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,21}</string>
                <key>spriteSourceSize</key>
                <string>{94,21}</string>
                <key>textureRect</key>
                <string>{{711,2333},{94,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/main_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,40}</string>
                <key>spriteSourceSize</key>
                <string>{31,40}</string>
                <key>textureRect</key>
                <string>{{566,3270},{31,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/main_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,70}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{928,1887},{66,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/main_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,15}</string>
                <key>spriteSourceSize</key>
                <string>{36,15}</string>
                <key>textureRect</key>
                <string>{{938,3809},{36,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/main_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,15}</string>
                <key>spriteSourceSize</key>
                <string>{36,15}</string>
                <key>textureRect</key>
                <string>{{905,2289},{36,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/main_net_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,129}</string>
                <key>spriteSourceSize</key>
                <string>{87,129}</string>
                <key>textureRect</key>
                <string>{{905,2157},{87,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/monster_red_egg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,79}</string>
                <key>spriteSourceSize</key>
                <string>{64,79}</string>
                <key>textureRect</key>
                <string>{{774,3809},{64,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/monster_red_egg_crack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,79}</string>
                <key>spriteSourceSize</key>
                <string>{64,79}</string>
                <key>textureRect</key>
                <string>{{856,3809},{64,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/monster_red_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,21}</string>
                <key>spriteSourceSize</key>
                <string>{19,21}</string>
                <key>textureRect</key>
                <string>{{711,2430},{19,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/monster_red_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,92}</string>
                <key>spriteSourceSize</key>
                <string>{85,92}</string>
                <key>textureRect</key>
                <string>{{918,1960},{85,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/monster_red_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,29}</string>
                <key>spriteSourceSize</key>
                <string>{22,29}</string>
                <key>textureRect</key>
                <string>{{735,2333},{22,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/monster_red_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,28}</string>
                <key>spriteSourceSize</key>
                <string>{19,28}</string>
                <key>textureRect</key>
                <string>{{927,3197},{19,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/monster_red_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,29}</string>
                <key>spriteSourceSize</key>
                <string>{44,29}</string>
                <key>textureRect</key>
                <string>{{821,3636},{44,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/monster_yellow_egg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,81}</string>
                <key>spriteSourceSize</key>
                <string>{64,81}</string>
                <key>textureRect</key>
                <string>{{690,3809},{64,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/monster_yellow_egg_crack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,79}</string>
                <key>spriteSourceSize</key>
                <string>{63,79}</string>
                <key>textureRect</key>
                <string>{{918,2055},{63,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/monster_yellow_eye_left_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,22}</string>
                <key>spriteSourceSize</key>
                <string>{19,22}</string>
                <key>textureRect</key>
                <string>{{735,2365},{19,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/monster_yellow_eye_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{891,3197},{28,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/monster_yellow_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,89}</string>
                <key>spriteSourceSize</key>
                <string>{78,89}</string>
                <key>textureRect</key>
                <string>{{928,1642},{78,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/monster_yellow_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,29}</string>
                <key>spriteSourceSize</key>
                <string>{19,29}</string>
                <key>textureRect</key>
                <string>{{444,2597},{19,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/monster_yellow_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,28}</string>
                <key>spriteSourceSize</key>
                <string>{19,28}</string>
                <key>textureRect</key>
                <string>{{949,3197},{19,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/monster_yellow_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,36}</string>
                <key>spriteSourceSize</key>
                <string>{49,36}</string>
                <key>textureRect</key>
                <string>{{529,1689},{49,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/path_left_lands.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,128}</string>
                <key>spriteSourceSize</key>
                <string>{201,128}</string>
                <key>textureRect</key>
                <string>{{760,3024},{201,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/path_right_lands.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,128}</string>
                <key>spriteSourceSize</key>
                <string>{201,128}</string>
                <key>textureRect</key>
                <string>{{690,3270},{201,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/pathmid_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,128}</string>
                <key>spriteSourceSize</key>
                <string>{201,128}</string>
                <key>textureRect</key>
                <string>{{690,3474},{201,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/pathmid_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,128}</string>
                <key>spriteSourceSize</key>
                <string>{201,128}</string>
                <key>textureRect</key>
                <string>{{690,3678},{201,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/pathmid_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,128}</string>
                <key>spriteSourceSize</key>
                <string>{201,128}</string>
                <key>textureRect</key>
                <string>{{821,3228},{201,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/pathmid_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,128}</string>
                <key>spriteSourceSize</key>
                <string>{201,128}</string>
                <key>textureRect</key>
                <string>{{821,3432},{201,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>endlessrunner/rope.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,284}</string>
                <key>spriteSourceSize</key>
                <string>{20,284}</string>
                <key>textureRect</key>
                <string>{{905,1642},{20,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessrunner/white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,5}</string>
                <key>spriteSourceSize</key>
                <string>{5,5}</string>
                <key>textureRect</key>
                <string>{{546,2563},{5,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>endlessrunner.png</string>
            <key>size</key>
            <string>{1006,3876}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e0ef54e9e84afe1b026a0d04445a3aa:9b888ac331506ec15be3944bb522c1af:616bbfc4152373ef6c9c8316027dcae3$</string>
            <key>textureFileName</key>
            <string>endlessrunner.png</string>
        </dict>
    </dict>
</plist>
