<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>template/template_01/QA1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,72}</string>
                <key>spriteSourceSize</key>
                <string>{47,72}</string>
                <key>textureRect</key>
                <string>{{884,486},{47,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>template/template_01/arrow_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,288}</string>
                <key>spriteSourceSize</key>
                <string>{288,288}</string>
                <key>textureRect</key>
                <string>{{723,1},{286,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>template/template_01/arrow_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,128}</string>
                <key>spriteSourceSize</key>
                <string>{195,130}</string>
                <key>textureRect</key>
                <string>{{884,289},{195,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>template/template_01/arrow_button_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,159}</string>
                <key>spriteSourceSize</key>
                <string>{241,159}</string>
                <key>textureRect</key>
                <string>{{723,289},{241,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>template/template_01/screen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,544}</string>
                <key>spriteSourceSize</key>
                <string>{722,544}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,544}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>template_01.png</string>
            <key>size</key>
            <string>{1013,546}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6b6bcbd94d513a90a890f313c67eff6:36d8129cdae194a7bb143d94b8988182:e706600d7dd6d66d6d4eb511baf55c2e$</string>
            <key>textureFileName</key>
            <string>template_01.png</string>
        </dict>
    </dict>
</plist>
