<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kalabushe_chiriku/basket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{206,89}</string>
                <key>spriteSourceSize</key>
                <string>{224,95}</string>
                <key>textureRect</key>
                <string>{{2546,717},{206,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/bedsheet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,198}</string>
                <key>spriteSourceSize</key>
                <string>{670,198}</string>
                <key>textureRect</key>
                <string>{{2153,1},{670,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/boy_arm_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,53}</string>
                <key>spriteSourceSize</key>
                <string>{34,53}</string>
                <key>textureRect</key>
                <string>{{2778,960},{34,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/boy_ear_round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,88}</string>
                <key>spriteSourceSize</key>
                <string>{69,88}</string>
                <key>textureRect</key>
                <string>{{1629,925},{69,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/boy_eyebrow_boy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,32}</string>
                <key>spriteSourceSize</key>
                <string>{55,32}</string>
                <key>textureRect</key>
                <string>{{413,939},{55,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/boy_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,340}</string>
                <key>spriteSourceSize</key>
                <string>{408,340}</string>
                <key>textureRect</key>
                <string>{{1738,288},{408,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/boy_hair_curtained_hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{453,301}</string>
                <key>spriteSourceSize</key>
                <string>{453,301}</string>
                <key>textureRect</key>
                <string>{{1283,288},{453,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/boy_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,38}</string>
                <key>spriteSourceSize</key>
                <string>{25,38}</string>
                <key>textureRect</key>
                <string>{{1243,434},{25,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/boy_lightbrown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,51}</string>
                <key>spriteSourceSize</key>
                <string>{22,51}</string>
                <key>textureRect</key>
                <string>{{2283,668},{22,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/boy_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,86}</string>
                <key>spriteSourceSize</key>
                <string>{14,86}</string>
                <key>textureRect</key>
                <string>{{2968,520},{14,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/boy_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,76}</string>
                <key>spriteSourceSize</key>
                <string>{39,76}</string>
                <key>textureRect</key>
                <string>{{335,939},{39,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/boy_nose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,213}</string>
                <key>spriteSourceSize</key>
                <string>{273,213}</string>
                <key>textureRect</key>
                <string>{{2365,502},{271,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/boy_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,89}</string>
                <key>spriteSourceSize</key>
                <string>{14,89}</string>
                <key>textureRect</key>
                <string>{{2968,429},{14,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/butterfly1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{213,164}</string>
                <key>spriteSourceSize</key>
                <string>{231,180}</string>
                <key>textureRect</key>
                <string>{{2637,718},{213,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/butterfly2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{211,140}</string>
                <key>spriteSourceSize</key>
                <string>{231,180}</string>
                <key>textureRect</key>
                <string>{{2838,216},{211,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/butterfly3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-14}</string>
                <key>spriteSize</key>
                <string>{213,134}</string>
                <key>spriteSourceSize</key>
                <string>{231,180}</string>
                <key>textureRect</key>
                <string>{{2848,1},{213,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/butterfly4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-18}</string>
                <key>spriteSize</key>
                <string>{215,126}</string>
                <key>spriteSourceSize</key>
                <string>{231,180}</string>
                <key>textureRect</key>
                <string>{{2148,502},{215,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/butterfly5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-26}</string>
                <key>spriteSize</key>
                <string>{203,118}</string>
                <key>spriteSourceSize</key>
                <string>{231,180}</string>
                <key>textureRect</key>
                <string>{{2848,429},{203,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/butterfly6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-27}</string>
                <key>spriteSize</key>
                <string>{203,118}</string>
                <key>spriteSourceSize</key>
                <string>{231,180}</string>
                <key>textureRect</key>
                <string>{{2852,634},{203,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/girl_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{447,939},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/girl_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,332}</string>
                <key>spriteSourceSize</key>
                <string>{289,332}</string>
                <key>textureRect</key>
                <string>{{1,698},{289,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,38}</string>
                <key>spriteSourceSize</key>
                <string>{25,38}</string>
                <key>textureRect</key>
                <string>{{1243,434},{25,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,86}</string>
                <key>spriteSourceSize</key>
                <string>{14,86}</string>
                <key>textureRect</key>
                <string>{{2968,520},{14,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/girl_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,53}</string>
                <key>spriteSourceSize</key>
                <string>{11,53}</string>
                <key>textureRect</key>
                <string>{{2148,439},{11,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,68}</string>
                <key>spriteSourceSize</key>
                <string>{33,68}</string>
                <key>textureRect</key>
                <string>{{1243,364},{33,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/girl_shoe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,11}</string>
                <key>spriteSourceSize</key>
                <string>{53,11}</string>
                <key>textureRect</key>
                <string>{{1218,834},{53,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/girl_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,124}</string>
                <key>spriteSourceSize</key>
                <string>{137,124}</string>
                <key>textureRect</key>
                <string>{{2852,839},{137,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/girl_sleeve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,13}</string>
                <key>spriteSourceSize</key>
                <string>{34,13}</string>
                <key>textureRect</key>
                <string>{{2825,77},{34,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/girl_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,139}</string>
                <key>spriteSourceSize</key>
                <string>{102,139}</string>
                <key>textureRect</key>
                <string>{{2637,884},{102,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,89}</string>
                <key>spriteSourceSize</key>
                <string>{14,89}</string>
                <key>textureRect</key>
                <string>{{2968,429},{14,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/girl_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,45}</string>
                <key>spriteSourceSize</key>
                <string>{11,45}</string>
                <key>textureRect</key>
                <string>{{1753,925},{11,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/housewife_pelvis_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,261}</string>
                <key>spriteSourceSize</key>
                <string>{216,261}</string>
                <key>textureRect</key>
                <string>{{2283,717},{216,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/housewife_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,295}</string>
                <key>spriteSourceSize</key>
                <string>{225,295}</string>
                <key>textureRect</key>
                <string>{{711,758},{225,295}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/jinsi_bushes_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,299}</string>
                <key>spriteSourceSize</key>
                <string>{509,299}</string>
                <key>textureRect</key>
                <string>{{2211,201},{509,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/jinsi_grass3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{926,85}</string>
                <key>spriteSourceSize</key>
                <string>{926,85}</string>
                <key>textureRect</key>
                <string>{{1283,201},{926,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/kalabushe_bed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{868,198}</string>
                <key>spriteSourceSize</key>
                <string>{868,198}</string>
                <key>textureRect</key>
                <string>{{1283,1},{868,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/kalabushe_house.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,753}</string>
                <key>spriteSourceSize</key>
                <string>{332,753}</string>
                <key>textureRect</key>
                <string>{{1,364},{332,753}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/kalabushe_road.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,361}</string>
                <key>spriteSourceSize</key>
                <string>{1280,361}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/kalabushe_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,350}</string>
                <key>spriteSourceSize</key>
                <string>{384,350}</string>
                <key>textureRect</key>
                <string>{{1243,591},{384,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/man_arm_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,53}</string>
                <key>spriteSourceSize</key>
                <string>{34,53}</string>
                <key>textureRect</key>
                <string>{{2778,960},{34,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/man_ear_round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,88}</string>
                <key>spriteSourceSize</key>
                <string>{69,88}</string>
                <key>textureRect</key>
                <string>{{1629,925},{69,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/man_eyebrow_boy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,32}</string>
                <key>spriteSourceSize</key>
                <string>{55,32}</string>
                <key>textureRect</key>
                <string>{{413,939},{55,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/man_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,340}</string>
                <key>spriteSourceSize</key>
                <string>{408,340}</string>
                <key>textureRect</key>
                <string>{{1738,288},{408,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/man_hair_Burr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,239}</string>
                <key>spriteSourceSize</key>
                <string>{374,239}</string>
                <key>textureRect</key>
                <string>{{335,698},{374,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/man_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,38}</string>
                <key>spriteSourceSize</key>
                <string>{25,38}</string>
                <key>textureRect</key>
                <string>{{1243,434},{25,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/man_lightbrown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,51}</string>
                <key>spriteSourceSize</key>
                <string>{22,51}</string>
                <key>textureRect</key>
                <string>{{2283,668},{22,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/man_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,86}</string>
                <key>spriteSourceSize</key>
                <string>{14,86}</string>
                <key>textureRect</key>
                <string>{{2968,520},{14,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/man_mouth_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,54}</string>
                <key>spriteSourceSize</key>
                <string>{127,54}</string>
                <key>textureRect</key>
                <string>{{2148,288},{127,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/man_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,76}</string>
                <key>spriteSourceSize</key>
                <string>{39,76}</string>
                <key>textureRect</key>
                <string>{{335,939},{39,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/man_nose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,213}</string>
                <key>spriteSourceSize</key>
                <string>{273,213}</string>
                <key>textureRect</key>
                <string>{{2365,502},{271,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/man_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1008,758},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/man_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,48}</string>
                <key>spriteSourceSize</key>
                <string>{15,48}</string>
                <key>textureRect</key>
                <string>{{2161,439},{15,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/man_pant_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,48}</string>
                <key>spriteSourceSize</key>
                <string>{15,48}</string>
                <key>textureRect</key>
                <string>{{2161,456},{15,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/man_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,74}</string>
                <key>spriteSourceSize</key>
                <string>{18,74}</string>
                <key>textureRect</key>
                <string>{{1218,758},{18,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/man_pant_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,74}</string>
                <key>spriteSourceSize</key>
                <string>{18,74}</string>
                <key>textureRect</key>
                <string>{{1629,591},{18,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/man_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,292}</string>
                <key>spriteSourceSize</key>
                <string>{215,292}</string>
                <key>textureRect</key>
                <string>{{1846,630},{215,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/man_shirt_sleave_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{1719,925},{32,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/man_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,17}</string>
                <key>spriteSourceSize</key>
                <string>{80,17}</string>
                <key>textureRect</key>
                <string>{{2283,630},{80,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/man_shoes_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,17}</string>
                <key>spriteSourceSize</key>
                <string>{80,17}</string>
                <key>textureRect</key>
                <string>{{2283,649},{80,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/man_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,89}</string>
                <key>spriteSourceSize</key>
                <string>{14,89}</string>
                <key>textureRect</key>
                <string>{{2968,429},{14,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/motu_mouth_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,54}</string>
                <key>spriteSourceSize</key>
                <string>{127,54}</string>
                <key>textureRect</key>
                <string>{{2148,288},{127,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/motu_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{2638,508},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/motu_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,48}</string>
                <key>spriteSourceSize</key>
                <string>{15,48}</string>
                <key>textureRect</key>
                <string>{{2161,473},{15,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/motu_pant_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,48}</string>
                <key>spriteSourceSize</key>
                <string>{15,48}</string>
                <key>textureRect</key>
                <string>{{1629,611},{15,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/motu_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,74}</string>
                <key>spriteSourceSize</key>
                <string>{18,74}</string>
                <key>textureRect</key>
                <string>{{2825,1},{18,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/motu_pant_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,74}</string>
                <key>spriteSourceSize</key>
                <string>{18,74}</string>
                <key>textureRect</key>
                <string>{{2778,884},{18,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/motu_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,293}</string>
                <key>spriteSourceSize</key>
                <string>{215,293}</string>
                <key>textureRect</key>
                <string>{{1629,630},{215,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/motu_shirt_sleave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,53}</string>
                <key>spriteSourceSize</key>
                <string>{32,53}</string>
                <key>textureRect</key>
                <string>{{711,698},{32,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/motu_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,17}</string>
                <key>spriteSourceSize</key>
                <string>{80,17}</string>
                <key>textureRect</key>
                <string>{{2283,630},{80,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/motu_shoes_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,17}</string>
                <key>spriteSourceSize</key>
                <string>{80,17}</string>
                <key>textureRect</key>
                <string>{{2283,649},{80,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/pillow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,114}</string>
                <key>spriteSourceSize</key>
                <string>{305,114}</string>
                <key>textureRect</key>
                <string>{{2722,201},{305,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/wife_body_female.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,280}</string>
                <key>spriteSourceSize</key>
                <string>{218,280}</string>
                <key>textureRect</key>
                <string>{{2063,630},{218,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/wife_eye_outer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,12}</string>
                <key>spriteSourceSize</key>
                <string>{58,12}</string>
                <key>textureRect</key>
                <string>{{1008,968},{58,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/wife_eyebrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,20}</string>
                <key>spriteSourceSize</key>
                <string>{61,20}</string>
                <key>textureRect</key>
                <string>{{2148,417},{61,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/wife_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,340}</string>
                <key>spriteSourceSize</key>
                <string>{408,340}</string>
                <key>textureRect</key>
                <string>{{1738,288},{408,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/wife_hair_bun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,392}</string>
                <key>spriteSourceSize</key>
                <string>{485,392}</string>
                <key>textureRect</key>
                <string>{{756,364},{485,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/wife_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,38}</string>
                <key>spriteSourceSize</key>
                <string>{25,38}</string>
                <key>textureRect</key>
                <string>{{1243,434},{25,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/wife_lightbrown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,51}</string>
                <key>spriteSourceSize</key>
                <string>{22,51}</string>
                <key>textureRect</key>
                <string>{{2283,668},{22,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/wife_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,86}</string>
                <key>spriteSourceSize</key>
                <string>{14,86}</string>
                <key>textureRect</key>
                <string>{{2968,520},{14,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/wife_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,53}</string>
                <key>spriteSourceSize</key>
                <string>{11,53}</string>
                <key>textureRect</key>
                <string>{{2148,439},{11,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/wife_mouth_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,54}</string>
                <key>spriteSourceSize</key>
                <string>{127,54}</string>
                <key>textureRect</key>
                <string>{{2148,288},{127,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/wife_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,68}</string>
                <key>spriteSourceSize</key>
                <string>{33,68}</string>
                <key>textureRect</key>
                <string>{{1243,364},{33,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/wife_nose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,213}</string>
                <key>spriteSourceSize</key>
                <string>{273,213}</string>
                <key>textureRect</key>
                <string>{{2365,502},{271,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/wife_shoe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,11}</string>
                <key>spriteSourceSize</key>
                <string>{53,11}</string>
                <key>textureRect</key>
                <string>{{1218,834},{53,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Kalabushe_chiriku/wife_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,89}</string>
                <key>spriteSourceSize</key>
                <string>{14,89}</string>
                <key>textureRect</key>
                <string>{{2968,429},{14,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kalabushe_chiriku/wife_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,45}</string>
                <key>spriteSourceSize</key>
                <string>{11,45}</string>
                <key>textureRect</key>
                <string>{{1753,925},{11,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Kalabushe_chiriku.png</string>
            <key>size</key>
            <string>{2983,995}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b2fd171952be9078f9a3880dedcaf2c:a74b295875d61422fe00ebd616d2c106:60de121bef40904f1573b5d0f3456831$</string>
            <key>textureFileName</key>
            <string>Kalabushe_chiriku.png</string>
        </dict>
    </dict>
</plist>
