<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>level3/A.png</key>
			<dict>
				<key>frame</key>
				<string>{{3793,175},{179,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,241}</string>
			</dict>
			<key>level3/B.png</key>
			<dict>
				<key>frame</key>
				<string>{{3029,194},{201,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{201,205}</string>
			</dict>
			<key>level3/BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{2565,1800}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2565,1800}</string>
			</dict>
			<key>level3/C.png</key>
			<dict>
				<key>frame</key>
				<string>{{3493,175},{231,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,300}</string>
			</dict>
			<key>level3/D.png</key>
			<dict>
				<key>frame</key>
				<string>{{3450,406},{144,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,207}</string>
			</dict>
			<key>level3/E.png</key>
			<dict>
				<key>frame</key>
				<string>{{3029,0},{194,464}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,464}</string>
			</dict>
			<key>level3/F.png</key>
			<dict>
				<key>frame</key>
				<string>{{3493,0},{175,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,480}</string>
			</dict>
			<key>level3/G.png</key>
			<dict>
				<key>frame</key>
				<string>{{2565,270},{104,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,134}</string>
			</dict>
			<key>level3/H.png</key>
			<dict>
				<key>frame</key>
				<string>{{3234,194},{137,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,243}</string>
			</dict>
			<key>level3/I.png</key>
			<dict>
				<key>frame</key>
				<string>{{3876,613},{78,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,207}</string>
			</dict>
			<key>level3/J.png</key>
			<dict>
				<key>frame</key>
				<string>{{3234,331},{147,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,216}</string>
			</dict>
			<key>level3/K.png</key>
			<dict>
				<key>frame</key>
				<string>{{2565,0},{464,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{464,270}</string>
			</dict>
			<key>level3/L.png</key>
			<dict>
				<key>frame</key>
				<string>{{3972,262},{99,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,275}</string>
			</dict>
			<key>level3/M.png</key>
			<dict>
				<key>frame</key>
				<string>{{3973,0},{120,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,262}</string>
			</dict>
			<key>level3/N.png</key>
			<dict>
				<key>frame</key>
				<string>{{3779,416},{97,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,215}</string>
			</dict>
			<key>level3/O.png</key>
			<dict>
				<key>frame</key>
				<string>{{3876,416},{85,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,197}</string>
			</dict>
			<key>level3/P.png</key>
			<dict>
				<key>frame</key>
				<string>{{3657,406},{122,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,171}</string>
			</dict>
			<key>level3/Q.png</key>
			<dict>
				<key>frame</key>
				<string>{{4044,693},{49,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,105}</string>
			</dict>
			<key>level3/R.png</key>
			<dict>
				<key>frame</key>
				<string>{{3961,537},{107,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,156}</string>
			</dict>
			<key>level3/S.png</key>
			<dict>
				<key>frame</key>
				<string>{{2834,270},{75,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,149}</string>
			</dict>
			<key>level3/T.png</key>
			<dict>
				<key>frame</key>
				<string>{{3954,693},{90,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,159}</string>
			</dict>
			<key>level3/U.png</key>
			<dict>
				<key>frame</key>
				<string>{{2699,270},{99,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,135}</string>
			</dict>
			<key>level3/V.png</key>
			<dict>
				<key>frame</key>
				<string>{{2945,345},{77,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,105}</string>
			</dict>
			<key>level3/W.png</key>
			<dict>
				<key>frame</key>
				<string>{{2834,345},{85,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,111}</string>
			</dict>
			<key>level3/X.png</key>
			<dict>
				<key>frame</key>
				<string>{{2565,374},{76,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,95}</string>
			</dict>
			<key>level3/Y.png</key>
			<dict>
				<key>frame</key>
				<string>{{2804,430},{55,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,69}</string>
			</dict>
			<key>level3/Z.png</key>
			<dict>
				<key>frame</key>
				<string>{{2699,369},{74,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,105}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>level3.png</string>
			<key>realTextureFileName</key>
			<string>level3.png</string>
			<key>size</key>
			<string>{4093,1800}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4093</integer>
			<key>height</key>
			<integer>1800</integer>
		</dict>
	</dict>
</plist>