<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alphagrid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,450}</string>
                <key>spriteSourceSize</key>
                <string>{234,450}</string>
                <key>textureRect</key>
                <string>{{646,1},{234,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_timebar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,26}</string>
                <key>spriteSourceSize</key>
                <string>{251,26}</string>
                <key>textureRect</key>
                <string>{{646,451},{251,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,54}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{880,250},{48,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_timebar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,30}</string>
                <key>spriteSourceSize</key>
                <string>{249,30}</string>
                <key>textureRect</key>
                <string>{{880,1},{249,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,451}</string>
                <key>spriteSourceSize</key>
                <string>{645,451}</string>
                <key>textureRect</key>
                <string>{{1,1},{645,451}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>patchthewall.png</string>
            <key>size</key>
            <string>{929,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff61c79c507e13823885050b921edba8:4c40bd892d32b91792ff05a949a678a5:07259591ccff73e5e2902eddabe13a54$</string>
            <key>textureFileName</key>
            <string>patchthewall.png</string>
        </dict>
    </dict>
</plist>
