<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stepcandylevel/bg_mountain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,179}</string>
                <key>spriteSourceSize</key>
                <string>{322,179}</string>
                <key>textureRect</key>
                <string>{{1,1},{322,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepcandylevel/candy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,55}</string>
                <key>spriteSourceSize</key>
                <string>{69,55}</string>
                <key>textureRect</key>
                <string>{{364,400},{69,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepcandylevel/candy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,66}</string>
                <key>spriteSourceSize</key>
                <string>{73,66}</string>
                <key>textureRect</key>
                <string>{{364,325},{73,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stepcandylevel/candy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,57}</string>
                <key>spriteSourceSize</key>
                <string>{74,57}</string>
                <key>textureRect</key>
                <string>{{441,198},{74,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stepcandylevel/candyplant1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,41}</string>
                <key>spriteSourceSize</key>
                <string>{40,41}</string>
                <key>textureRect</key>
                <string>{{359,457},{40,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepcandylevel/candyplant2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{311,457},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepcandylevel/candyplant3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{401,469},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepcandylevel/candyrock1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,61}</string>
                <key>spriteSourceSize</key>
                <string>{72,61}</string>
                <key>textureRect</key>
                <string>{{432,321},{72,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stepcandylevel/candyrock2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,61}</string>
                <key>spriteSourceSize</key>
                <string>{72,61}</string>
                <key>textureRect</key>
                <string>{{435,395},{72,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stepcandylevel/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,51}</string>
                <key>spriteSourceSize</key>
                <string>{130,51}</string>
                <key>textureRect</key>
                <string>{{311,325},{130,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stepcandylevel/cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,46}</string>
                <key>spriteSourceSize</key>
                <string>{152,46}</string>
                <key>textureRect</key>
                <string>{{325,150},{152,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepcandylevel/cloud3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,101}</string>
                <key>spriteSourceSize</key>
                <string>{208,101}</string>
                <key>textureRect</key>
                <string>{{163,295},{208,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stepcandylevel/cracker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{42,121}</string>
                <key>spriteSourceSize</key>
                <string>{48,125}</string>
                <key>textureRect</key>
                <string>{{397,198},{42,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepcandylevel/gingerbread_house.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,147}</string>
                <key>spriteSourceSize</key>
                <string>{161,147}</string>
                <key>textureRect</key>
                <string>{{325,1},{161,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepcandylevel/main_mountain1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,111}</string>
                <key>spriteSourceSize</key>
                <string>{259,111}</string>
                <key>textureRect</key>
                <string>{{1,182},{259,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepcandylevel/main_mountain3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,43}</string>
                <key>spriteSourceSize</key>
                <string>{302,43}</string>
                <key>textureRect</key>
                <string>{{266,182},{302,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stepcandylevel/peppermint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,125}</string>
                <key>spriteSourceSize</key>
                <string>{84,125}</string>
                <key>textureRect</key>
                <string>{{311,198},{84,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepcandylevel/plant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,56}</string>
                <key>spriteSourceSize</key>
                <string>{44,56}</string>
                <key>textureRect</key>
                <string>{{441,274},{44,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stepcandylevel/rock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,3}</string>
                <key>spriteSize</key>
                <string>{160,184}</string>
                <key>spriteSourceSize</key>
                <string>{182,192}</string>
                <key>textureRect</key>
                <string>{{1,295},{160,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stepcandylevel/shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,27}</string>
                <key>spriteSourceSize</key>
                <string>{95,27}</string>
                <key>textureRect</key>
                <string>{{1,481},{95,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stepcandylevel.png</string>
            <key>size</key>
            <string>{499,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84926d33d4b992e3a8f8b71ba386d18c:ba462cc32fb79bde9be817662b19b02f:f1d4db4e641253a86fc1f4b95c39c5a8$</string>
            <key>textureFileName</key>
            <string>stepcandylevel.png</string>
        </dict>
    </dict>
</plist>
