<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>basketball/Stadiumbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{143,201}</string>
                <key>spriteSourceSize</key>
                <string>{143,203}</string>
                <key>textureRect</key>
                <string>{{1,251},{143,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>basketball/arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,55}</string>
                <key>spriteSourceSize</key>
                <string>{65,55}</string>
                <key>textureRect</key>
                <string>{{1,1},{65,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basketball/basket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,218}</string>
                <key>spriteSourceSize</key>
                <string>{109,218}</string>
                <key>textureRect</key>
                <string>{{1,140},{109,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>basketball/basketballfloor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,180}</string>
                <key>spriteSourceSize</key>
                <string>{400,180}</string>
                <key>textureRect</key>
                <string>{{1,396},{400,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>basketball/stadiumfloor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,215}</string>
                <key>spriteSourceSize</key>
                <string>{80,215}</string>
                <key>textureRect</key>
                <string>{{1,58},{80,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>basketball.png</string>
            <key>size</key>
            <string>{220,797}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60f0c84310d50f48698162df56af104d:e4fd34dcd7018bf58dbc51b4555944a2:ab3091354e78fe87b9a6b27f009ab47c$</string>
            <key>textureFileName</key>
            <string>basketball.png</string>
        </dict>
    </dict>
</plist>
