<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>barrier.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,450}</string>
                <key>spriteSourceSize</key>
                <string>{1,450}</string>
                <key>textureRect</key>
                <string>{{347,969},{1,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgTouchImage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{0,0}</string>
                <key>spriteSourceSize</key>
                <string>{0,0}</string>
                <key>textureRect</key>
                <string>{{266,872},{0,0}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,51}</string>
                <key>spriteSourceSize</key>
                <string>{53,51}</string>
                <key>textureRect</key>
                <string>{{504,807},{53,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gapw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,7}</string>
                <key>spriteSourceSize</key>
                <string>{200,7}</string>
                <key>textureRect</key>
                <string>{{680,223},{200,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{0,0}</string>
                <key>spriteSourceSize</key>
                <string>{0,0}</string>
                <key>textureRect</key>
                <string>{{266,872},{0,0}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layer_1_mountain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,282}</string>
                <key>spriteSourceSize</key>
                <string>{344,282}</string>
                <key>textureRect</key>
                <string>{{504,461},{344,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layer_2_mountain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,282}</string>
                <key>spriteSourceSize</key>
                <string>{344,282}</string>
                <key>textureRect</key>
                <string>{{709,1},{344,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layer_3_bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,95}</string>
                <key>spriteSourceSize</key>
                <string>{344,95}</string>
                <key>textureRect</key>
                <string>{{921,347},{344,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layer_4_tree_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,409}</string>
                <key>spriteSourceSize</key>
                <string>{236,409}</string>
                <key>textureRect</key>
                <string>{{269,223},{236,409}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layer_4_tree_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,409}</string>
                <key>spriteSourceSize</key>
                <string>{67,409}</string>
                <key>textureRect</key>
                <string>{{852,347},{67,409}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layer_4_tree_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,409}</string>
                <key>spriteSourceSize</key>
                <string>{236,409}</string>
                <key>textureRect</key>
                <string>{{266,461},{236,409}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layer_5_bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,95}</string>
                <key>spriteSourceSize</key>
                <string>{344,95}</string>
                <key>textureRect</key>
                <string>{{1,874},{344,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layer_6_tree_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,432}</string>
                <key>spriteSourceSize</key>
                <string>{263,432}</string>
                <key>textureRect</key>
                <string>{{1,440},{263,432}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layer_6_tree_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,467}</string>
                <key>spriteSourceSize</key>
                <string>{62,467}</string>
                <key>textureRect</key>
                <string>{{788,347},{62,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layer_6_tree_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,438}</string>
                <key>spriteSourceSize</key>
                <string>{220,438}</string>
                <key>textureRect</key>
                <string>{{269,1},{220,438}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layer_6_tree_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,437}</string>
                <key>spriteSourceSize</key>
                <string>{266,437}</string>
                <key>textureRect</key>
                <string>{{1,1},{266,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layer_7_bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,95}</string>
                <key>spriteSourceSize</key>
                <string>{344,95}</string>
                <key>textureRect</key>
                <string>{{347,872},{344,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>path_left_lands.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{921,693},{100,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>path_right_lands.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{689,347},{100,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pathmid_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{852,758},{100,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pathmid_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{918,795},{100,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pathmid_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{693,807},{100,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pathmid_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{759,816},{100,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>endlessrunner.png</string>
            <key>size</key>
            <string>{1017,971}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6aa1fa406ec3614a758397573c40ca4:c4b1aaec49530f2f0c225a916804dd89:616bbfc4152373ef6c9c8316027dcae3$</string>
            <key>textureFileName</key>
            <string>endlessrunner.png</string>
        </dict>
    </dict>
</plist>
