<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>talkisland/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{708,164}</string>
                <key>spriteSourceSize</key>
                <string>{708,164}</string>
                <key>textureRect</key>
                <string>{{1292,1},{708,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/bubble1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-33}</string>
                <key>spriteSize</key>
                <string>{38,51}</string>
                <key>spriteSourceSize</key>
                <string>{76,121}</string>
                <key>textureRect</key>
                <string>{{1137,451},{38,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkisland/bubble2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-16}</string>
                <key>spriteSize</key>
                <string>{34,51}</string>
                <key>spriteSourceSize</key>
                <string>{76,121}</string>
                <key>textureRect</key>
                <string>{{1306,451},{34,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkisland/bubble3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-10}</string>
                <key>spriteSize</key>
                <string>{50,57}</string>
                <key>spriteSourceSize</key>
                <string>{76,121}</string>
                <key>textureRect</key>
                <string>{{1292,167},{50,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/bubble4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,4}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{76,121}</string>
                <key>textureRect</key>
                <string>{{1436,167},{50,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/bubble5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,12}</string>
                <key>spriteSize</key>
                <string>{50,65}</string>
                <key>spriteSourceSize</key>
                <string>{76,121}</string>
                <key>textureRect</key>
                <string>{{1359,431},{50,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/bubble6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,22}</string>
                <key>spriteSize</key>
                <string>{64,71}</string>
                <key>spriteSourceSize</key>
                <string>{76,121}</string>
                <key>textureRect</key>
                <string>{{1411,431},{64,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkisland/ehand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,34}</string>
                <key>spriteSourceSize</key>
                <string>{114,34}</string>
                <key>textureRect</key>
                <string>{{1190,451},{114,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/enemy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-5}</string>
                <key>spriteSize</key>
                <string>{114,249}</string>
                <key>spriteSourceSize</key>
                <string>{200,261}</string>
                <key>textureRect</key>
                <string>{{62,1},{114,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/enemy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,3}</string>
                <key>spriteSize</key>
                <string>{120,235}</string>
                <key>spriteSourceSize</key>
                <string>{200,261}</string>
                <key>textureRect</key>
                <string>{{550,1},{120,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/enemy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,22}</string>
                <key>spriteSize</key>
                <string>{162,203}</string>
                <key>spriteSourceSize</key>
                <string>{200,261}</string>
                <key>textureRect</key>
                <string>{{1335,226},{162,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/enemy4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{196,223}</string>
                <key>spriteSourceSize</key>
                <string>{200,261}</string>
                <key>textureRect</key>
                <string>{{1137,226},{196,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/enemy5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{168,231}</string>
                <key>spriteSourceSize</key>
                <string>{200,261}</string>
                <key>textureRect</key>
                <string>{{805,1},{168,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/enemydie1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{166,122}</string>
                <key>spriteSourceSize</key>
                <string>{174,164}</string>
                <key>textureRect</key>
                <string>{{1663,167},{166,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkisland/enemydie2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,10}</string>
                <key>spriteSize</key>
                <string>{120,140}</string>
                <key>spriteSourceSize</key>
                <string>{174,164}</string>
                <key>textureRect</key>
                <string>{{1663,335},{120,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/enemydie3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-2}</string>
                <key>spriteSize</key>
                <string>{92,106}</string>
                <key>spriteSourceSize</key>
                <string>{174,164}</string>
                <key>textureRect</key>
                <string>{{1911,167},{92,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/enemydie4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{174,164}</string>
                <key>textureRect</key>
                <string>{{1484,431},{60,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkisland/ewrong1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,6}</string>
                <key>spriteSize</key>
                <string>{115,231}</string>
                <key>spriteSourceSize</key>
                <string>{145,255}</string>
                <key>textureRect</key>
                <string>{{975,1},{115,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/ewrong2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,4}</string>
                <key>spriteSize</key>
                <string>{123,237}</string>
                <key>spriteSourceSize</key>
                <string>{145,255}</string>
                <key>textureRect</key>
                <string>{{339,240},{123,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/ewrong3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,6}</string>
                <key>spriteSize</key>
                <string>{131,231}</string>
                <key>spriteSourceSize</key>
                <string>{145,255}</string>
                <key>textureRect</key>
                <string>{{887,234},{131,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/ewrong4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{127,235}</string>
                <key>spriteSourceSize</key>
                <string>{145,255}</string>
                <key>textureRect</key>
                <string>{{421,1},{127,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/ewrong5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{125,243}</string>
                <key>spriteSourceSize</key>
                <string>{145,255}</string>
                <key>textureRect</key>
                <string>{{83,252},{125,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/fish1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,29}</string>
                <key>spriteSourceSize</key>
                <string>{68,29}</string>
                <key>textureRect</key>
                <string>{{715,469},{68,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/fish2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,29}</string>
                <key>spriteSourceSize</key>
                <string>{68,29}</string>
                <key>textureRect</key>
                <string>{{785,469},{68,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/fish3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,30}</string>
                <key>spriteSourceSize</key>
                <string>{68,30}</string>
                <key>textureRect</key>
                <string>{{958,467},{68,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/fish4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,30}</string>
                <key>spriteSourceSize</key>
                <string>{69,30}</string>
                <key>textureRect</key>
                <string>{{887,467},{69,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/fish5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,30}</string>
                <key>spriteSourceSize</key>
                <string>{68,30}</string>
                <key>textureRect</key>
                <string>{{1028,467},{68,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/hero1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-4}</string>
                <key>spriteSize</key>
                <string>{114,249}</string>
                <key>spriteSourceSize</key>
                <string>{200,261}</string>
                <key>textureRect</key>
                <string>{{178,1},{114,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/hero2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{120,235}</string>
                <key>spriteSourceSize</key>
                <string>{200,261}</string>
                <key>textureRect</key>
                <string>{{593,238},{120,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/hero3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,23}</string>
                <key>spriteSize</key>
                <string>{162,203}</string>
                <key>spriteSourceSize</key>
                <string>{200,261}</string>
                <key>textureRect</key>
                <string>{{1499,222},{162,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/hero4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{198,223}</string>
                <key>spriteSourceSize</key>
                <string>{200,261}</string>
                <key>textureRect</key>
                <string>{{1092,1},{198,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/hero5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,8}</string>
                <key>spriteSize</key>
                <string>{170,231}</string>
                <key>spriteSourceSize</key>
                <string>{200,261}</string>
                <key>textureRect</key>
                <string>{{715,236},{170,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/herodie1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{165,122}</string>
                <key>spriteSourceSize</key>
                <string>{173,164}</string>
                <key>textureRect</key>
                <string>{{1787,167},{165,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkisland/herodie2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,6}</string>
                <key>spriteSize</key>
                <string>{121,138}</string>
                <key>spriteSourceSize</key>
                <string>{173,164}</string>
                <key>textureRect</key>
                <string>{{1785,335},{121,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/herodie3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-5}</string>
                <key>spriteSize</key>
                <string>{93,106}</string>
                <key>spriteSourceSize</key>
                <string>{173,164}</string>
                <key>textureRect</key>
                <string>{{1908,334},{93,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/herodie4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-3}</string>
                <key>spriteSize</key>
                <string>{59,58}</string>
                <key>spriteSourceSize</key>
                <string>{173,164}</string>
                <key>textureRect</key>
                <string>{{1544,427},{59,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkisland/hhand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{112,53}</string>
                <key>spriteSourceSize</key>
                <string>{140,63}</string>
                <key>textureRect</key>
                <string>{{1488,167},{112,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/hwrong1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,7}</string>
                <key>spriteSize</key>
                <string>{115,231}</string>
                <key>spriteSourceSize</key>
                <string>{145,261}</string>
                <key>textureRect</key>
                <string>{{1020,234},{115,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/hwrong2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,5}</string>
                <key>spriteSize</key>
                <string>{125,237}</string>
                <key>spriteSourceSize</key>
                <string>{145,261}</string>
                <key>textureRect</key>
                <string>{{294,1},{125,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/hwrong3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,7}</string>
                <key>spriteSize</key>
                <string>{131,233}</string>
                <key>spriteSourceSize</key>
                <string>{145,261}</string>
                <key>textureRect</key>
                <string>{{672,1},{131,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/hwrong4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{127,235}</string>
                <key>spriteSourceSize</key>
                <string>{145,261}</string>
                <key>textureRect</key>
                <string>{{464,238},{127,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/hwrong5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{127,241}</string>
                <key>spriteSourceSize</key>
                <string>{145,261}</string>
                <key>textureRect</key>
                <string>{{210,252},{127,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/plant1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,84}</string>
                <key>spriteSourceSize</key>
                <string>{80,84}</string>
                <key>textureRect</key>
                <string>{{1,411},{80,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkisland/plant2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,90}</string>
                <key>spriteSourceSize</key>
                <string>{56,90}</string>
                <key>textureRect</key>
                <string>{{1344,167},{56,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkisland/shade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,26}</string>
                <key>spriteSize</key>
                <string>{59,408}</string>
                <key>spriteSourceSize</key>
                <string>{69,486}</string>
                <key>textureRect</key>
                <string>{{1,1},{59,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>talkisland.png</string>
            <key>size</key>
            <string>{2004,499}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42572372a1c1321754bab22a029d0684:6579b91c3e5aedc11a230edf106188cb:9119533fe8859f779c14fce457f48b6e$</string>
            <key>textureFileName</key>
            <string>talkisland.png</string>
        </dict>
    </dict>
</plist>
