<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mwezi_na_Kofia/MbwanaMamba_tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,345}</string>
                <key>spriteSourceSize</key>
                <string>{405,345}</string>
                <key>textureRect</key>
                <string>{{591,1},{405,345}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/arm_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,53}</string>
                <key>spriteSourceSize</key>
                <string>{34,53}</string>
                <key>textureRect</key>
                <string>{{942,1511},{34,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/arm_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,110}</string>
                <key>spriteSourceSize</key>
                <string>{24,110}</string>
                <key>textureRect</key>
                <string>{{591,408},{24,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/arm_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,131}</string>
                <key>spriteSourceSize</key>
                <string>{28,131}</string>
                <key>textureRect</key>
                <string>{{938,213},{28,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/bed1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{676,308}</string>
                <key>spriteSourceSize</key>
                <string>{676,308}</string>
                <key>textureRect</key>
                <string>{{1,525},{676,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/bluecap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,129}</string>
                <key>spriteSourceSize</key>
                <string>{303,129}</string>
                <key>textureRect</key>
                <string>{{627,1049},{303,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,178}</string>
                <key>spriteSourceSize</key>
                <string>{295,178}</string>
                <key>textureRect</key>
                <string>{{249,1974},{295,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/drop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,24}</string>
                <key>spriteSourceSize</key>
                <string>{36,24}</string>
                <key>textureRect</key>
                <string>{{509,2845},{36,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/face2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,275}</string>
                <key>spriteSourceSize</key>
                <string>{319,275}</string>
                <key>textureRect</key>
                <string>{{249,1653},{319,275}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/face4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,293}</string>
                <key>spriteSourceSize</key>
                <string>{318,293}</string>
                <key>textureRect</key>
                <string>{{526,1653},{318,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/face5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,293}</string>
                <key>spriteSourceSize</key>
                <string>{318,293}</string>
                <key>textureRect</key>
                <string>{{312,2154},{318,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/face6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,294}</string>
                <key>spriteSourceSize</key>
                <string>{318,294}</string>
                <key>textureRect</key>
                <string>{{627,729},{318,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/face7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,276}</string>
                <key>spriteSourceSize</key>
                <string>{319,276}</string>
                <key>textureRect</key>
                <string>{{445,1191},{319,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/faceold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,300}</string>
                <key>spriteSourceSize</key>
                <string>{319,300}</string>
                <key>textureRect</key>
                <string>{{622,408},{319,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/farmer_shirt_sleave_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,59}</string>
                <key>spriteSourceSize</key>
                <string>{36,59}</string>
                <key>textureRect</key>
                <string>{{546,2104},{36,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/gface1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,309}</string>
                <key>spriteSourceSize</key>
                <string>{346,309}</string>
                <key>textureRect</key>
                <string>{{311,525},{346,309}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/gface3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,309}</string>
                <key>spriteSourceSize</key>
                <string>{346,309}</string>
                <key>textureRect</key>
                <string>{{1,2155},{346,309}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,38}</string>
                <key>spriteSourceSize</key>
                <string>{25,38}</string>
                <key>textureRect</key>
                <string>{{951,1566},{25,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,86}</string>
                <key>spriteSourceSize</key>
                <string>{14,86}</string>
                <key>textureRect</key>
                <string>{{962,2808},{14,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/girl_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,53}</string>
                <key>spriteSourceSize</key>
                <string>{11,53}</string>
                <key>textureRect</key>
                <string>{{544,2474},{11,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,68}</string>
                <key>spriteSourceSize</key>
                <string>{33,68}</string>
                <key>textureRect</key>
                <string>{{509,2775},{33,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/girl_sleeve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,13}</string>
                <key>spriteSourceSize</key>
                <string>{34,13}</string>
                <key>textureRect</key>
                <string>{{544,2487},{34,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,137}</string>
                <key>spriteSourceSize</key>
                <string>{31,137}</string>
                <key>textureRect</key>
                <string>{{929,2808},{31,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/girl_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,45}</string>
                <key>spriteSourceSize</key>
                <string>{11,45}</string>
                <key>textureRect</key>
                <string>{{962,2896},{11,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/girlshirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,217}</string>
                <key>spriteSourceSize</key>
                <string>{151,217}</string>
                <key>textureRect</key>
                <string>{{759,2502},{151,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/glass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,118}</string>
                <key>spriteSourceSize</key>
                <string>{254,118}</string>
                <key>textureRect</key>
                <string>{{851,1963},{254,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/hipsgirl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,160}</string>
                <key>spriteSourceSize</key>
                <string>{241,160}</string>
                <key>textureRect</key>
                <string>{{607,2340},{241,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/jackal1bleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,127}</string>
                <key>spriteSourceSize</key>
                <string>{38,127}</string>
                <key>textureRect</key>
                <string>{{938,1},{38,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/jackal1body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,126}</string>
                <key>spriteSourceSize</key>
                <string>{253,126}</string>
                <key>textureRect</key>
                <string>{{1,2836},{253,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/jackal1face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,173}</string>
                <key>spriteSourceSize</key>
                <string>{145,173}</string>
                <key>textureRect</key>
                <string>{{754,2808},{145,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/jackal1facesleep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,173}</string>
                <key>spriteSourceSize</key>
                <string>{145,173}</string>
                <key>textureRect</key>
                <string>{{334,2775},{145,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/jackal1fleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,119}</string>
                <key>spriteSourceSize</key>
                <string>{36,119}</string>
                <key>textureRect</key>
                <string>{{832,2219},{36,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/jackal1neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,81}</string>
                <key>spriteSourceSize</key>
                <string>{86,81}</string>
                <key>textureRect</key>
                <string>{{870,2219},{86,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/jackal1tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,142}</string>
                <key>spriteSourceSize</key>
                <string>{107,142}</string>
                <key>textureRect</key>
                <string>{{821,1854},{107,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/lowersleeve1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,43}</string>
                <key>spriteSourceSize</key>
                <string>{27,43}</string>
                <key>textureRect</key>
                <string>{{949,2302},{27,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/lowersleeve2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,43}</string>
                <key>spriteSourceSize</key>
                <string>{27,43}</string>
                <key>textureRect</key>
                <string>{{949,2347},{27,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/moon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,331}</string>
                <key>spriteSourceSize</key>
                <string>{331,331}</string>
                <key>textureRect</key>
                <string>{{1,2503},{331,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/mooncresent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,234}</string>
                <key>spriteSourceSize</key>
                <string>{223,234}</string>
                <key>textureRect</key>
                <string>{{607,2104},{223,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/motu_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{544,2713},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/motu_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,48}</string>
                <key>spriteSourceSize</key>
                <string>{15,48}</string>
                <key>textureRect</key>
                <string>{{771,1585},{15,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/motu_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,74}</string>
                <key>spriteSourceSize</key>
                <string>{18,74}</string>
                <key>textureRect</key>
                <string>{{958,2219},{18,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/motu_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,299}</string>
                <key>spriteSourceSize</key>
                <string>{208,299}</string>
                <key>textureRect</key>
                <string>{{334,2474},{208,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/motu_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,17}</string>
                <key>spriteSourceSize</key>
                <string>{80,17}</string>
                <key>textureRect</key>
                <string>{{832,2104},{80,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/pigeon_beak_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,66}</string>
                <key>spriteSourceSize</key>
                <string>{53,66}</string>
                <key>textureRect</key>
                <string>{{716,1585},{53,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/pigeon_beak_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,34}</string>
                <key>spriteSourceSize</key>
                <string>{77,34}</string>
                <key>textureRect</key>
                <string>{{942,1432},{77,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/pigeon_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{500,246}</string>
                <key>spriteSourceSize</key>
                <string>{516,246}</string>
                <key>textureRect</key>
                <string>{{1,1653},{500,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/pigeon_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{256,2910},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/pigeon_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{316,314}</string>
                <key>spriteSourceSize</key>
                <string>{318,314}</string>
                <key>textureRect</key>
                <string>{{311,873},{316,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/pigeon_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,76}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{256,2836},{72,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/pigeon_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,76}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{875,2302},{72,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/pigeon_right_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,128}</string>
                <key>spriteSourceSize</key>
                <string>{267,128}</string>
                <key>textureRect</key>
                <string>{{821,1585},{267,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/pigeon_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,209}</string>
                <key>spriteSourceSize</key>
                <string>{213,209}</string>
                <key>textureRect</key>
                <string>{{544,2502},{213,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/pigeon_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,139}</string>
                <key>spriteSourceSize</key>
                <string>{269,139}</string>
                <key>textureRect</key>
                <string>{{445,1512},{269,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/redcap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,129}</string>
                <key>spriteSourceSize</key>
                <string>{303,129}</string>
                <key>textureRect</key>
                <string>{{546,1973},{303,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/shirt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,217}</string>
                <key>spriteSourceSize</key>
                <string>{151,217}</string>
                <key>textureRect</key>
                <string>{{759,2655},{151,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/shirt2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,217}</string>
                <key>spriteSourceSize</key>
                <string>{151,217}</string>
                <key>textureRect</key>
                <string>{{723,1432},{151,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/shop1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,247}</string>
                <key>spriteSourceSize</key>
                <string>{250,247}</string>
                <key>textureRect</key>
                <string>{{723,1180},{250,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mwezi_na_Kofia/shop2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,522}</string>
                <key>spriteSourceSize</key>
                <string>{588,522}</string>
                <key>textureRect</key>
                <string>{{1,1},{588,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{442,448}</string>
                <key>spriteSourceSize</key>
                <string>{442,448}</string>
                <key>textureRect</key>
                <string>{{1,1203},{442,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/uppersleeve1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,99}</string>
                <key>spriteSourceSize</key>
                <string>{23,99}</string>
                <key>textureRect</key>
                <string>{{850,2340},{23,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/uppersleeve2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,99}</string>
                <key>spriteSourceSize</key>
                <string>{23,99}</string>
                <key>textureRect</key>
                <string>{{924,408},{23,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mwezi_na_Kofia/waterdrop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,81}</string>
                <key>spriteSourceSize</key>
                <string>{38,81}</string>
                <key>textureRect</key>
                <string>{{938,130},{38,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mwezi_na_Kofia.png</string>
            <key>size</key>
            <string>{977,2963}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:196c8012533ff9b2f5aa44abf0a17f1a:4ac67b7a50f37a0fa1af5572a2f8a145:cb90c6f265e1015bd7b96169541b8ecf$</string>
            <key>textureFileName</key>
            <string>Mwezi_na_Kofia.png</string>
        </dict>
    </dict>
</plist>
