<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trainlevel/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,84}</string>
                <key>spriteSourceSize</key>
                <string>{210,84}</string>
                <key>textureRect</key>
                <string>{{887,262},{210,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>trainlevel/hill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{544,131}</string>
                <key>spriteSourceSize</key>
                <string>{544,131}</string>
                <key>textureRect</key>
                <string>{{754,1},{544,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>trainlevel/hill1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,150}</string>
                <key>spriteSourceSize</key>
                <string>{384,150}</string>
                <key>textureRect</key>
                <string>{{1,272},{384,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trainlevel/stage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{505,269}</string>
                <key>spriteSourceSize</key>
                <string>{505,269}</string>
                <key>textureRect</key>
                <string>{{1,1},{505,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trainlevel/track.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{628,43}</string>
                <key>spriteSourceSize</key>
                <string>{628,43}</string>
                <key>textureRect</key>
                <string>{{1,549},{628,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trainlevel/trafficlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,259}</string>
                <key>spriteSourceSize</key>
                <string>{53,259}</string>
                <key>textureRect</key>
                <string>{{887,1},{53,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trainlevel/train.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{652,104}</string>
                <key>spriteSourceSize</key>
                <string>{652,104}</string>
                <key>textureRect</key>
                <string>{{1,443},{652,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trainlevel/tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,73}</string>
                <key>spriteSourceSize</key>
                <string>{35,73}</string>
                <key>textureRect</key>
                <string>{{655,538},{35,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>trainlevel/tree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,93}</string>
                <key>spriteSourceSize</key>
                <string>{35,93}</string>
                <key>textureRect</key>
                <string>{{655,443},{35,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trainlevel/tree3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,440}</string>
                <key>spriteSourceSize</key>
                <string>{244,440}</string>
                <key>textureRect</key>
                <string>{{508,1},{244,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>trainlevel.png</string>
            <key>size</key>
            <string>{972,593}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ba117de24cfa9ddab0dc00033aed7b7:6ae282f35f3ec7efc178b516528d287c:801071906b4c80ad86a152b0e2da7352$</string>
            <key>textureFileName</key>
            <string>trainlevel.png</string>
        </dict>
    </dict>
</plist>
