<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>owlisland/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,82}</string>
                <key>spriteSourceSize</key>
                <string>{354,82}</string>
                <key>textureRect</key>
                <string>{{1,1613},{354,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/bigbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,42}</string>
                <key>spriteSourceSize</key>
                <string>{149,42}</string>
                <key>textureRect</key>
                <string>{{82,1991},{149,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/bigbar_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,42}</string>
                <key>spriteSourceSize</key>
                <string>{149,42}</string>
                <key>textureRect</key>
                <string>{{1,2201},{149,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/bubble1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-16}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{38,60}</string>
                <key>textureRect</key>
                <string>{{53,2171},{20,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/bubble2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-8}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{38,60}</string>
                <key>textureRect</key>
                <string>{{53,2201},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/bubble3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{38,60}</string>
                <key>textureRect</key>
                <string>{{45,2289},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/bubble4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{38,60}</string>
                <key>textureRect</key>
                <string>{{94,1608},{28,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/bubble5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{26,34}</string>
                <key>spriteSourceSize</key>
                <string>{38,60}</string>
                <key>textureRect</key>
                <string>{{85,1963},{26,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/bubble6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{34,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,60}</string>
                <key>textureRect</key>
                <string>{{85,1743},{34,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/dash_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,33}</string>
                <key>textureRect</key>
                <string>{{85,1638},{39,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/dash_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,33}</string>
                <key>spriteSourceSize</key>
                <string>{38,33}</string>
                <key>textureRect</key>
                <string>{{85,1779},{38,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/downbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,121}</string>
                <key>spriteSourceSize</key>
                <string>{130,121}</string>
                <key>textureRect</key>
                <string>{{1,67},{130,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/ehand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{58,28}</string>
                <key>spriteSourceSize</key>
                <string>{70,32}</string>
                <key>textureRect</key>
                <string>{{96,1548},{58,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/enemy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{58,117}</string>
                <key>spriteSourceSize</key>
                <string>{70,123}</string>
                <key>textureRect</key>
                <string>{{1,1074},{58,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/enemy10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{87,117}</string>
                <key>spriteSourceSize</key>
                <string>{99,127}</string>
                <key>textureRect</key>
                <string>{{1,917},{87,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/enemy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{64,119}</string>
                <key>spriteSourceSize</key>
                <string>{70,123}</string>
                <key>textureRect</key>
                <string>{{1,467},{64,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/enemy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{66,117}</string>
                <key>spriteSourceSize</key>
                <string>{70,123}</string>
                <key>textureRect</key>
                <string>{{1,1006},{66,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/enemy4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{66,119}</string>
                <key>spriteSourceSize</key>
                <string>{70,123}</string>
                <key>textureRect</key>
                <string>{{1,399},{66,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/enemy5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{64,121}</string>
                <key>spriteSourceSize</key>
                <string>{70,123}</string>
                <key>textureRect</key>
                <string>{{1,199},{64,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/enemy6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{59,127}</string>
                <key>spriteSourceSize</key>
                <string>{99,127}</string>
                <key>textureRect</key>
                <string>{{53,2422},{59,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/enemy7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{63,119}</string>
                <key>spriteSourceSize</key>
                <string>{99,127}</string>
                <key>textureRect</key>
                <string>{{1,533},{63,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/enemy8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,12}</string>
                <key>spriteSize</key>
                <string>{83,103}</string>
                <key>spriteSourceSize</key>
                <string>{99,127}</string>
                <key>textureRect</key>
                <string>{{1,1463},{83,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/enemy9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{99,113}</string>
                <key>spriteSourceSize</key>
                <string>{99,127}</string>
                <key>textureRect</key>
                <string>{{1,1236},{99,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,57}</string>
                <key>spriteSourceSize</key>
                <string>{59,57}</string>
                <key>textureRect</key>
                <string>{{1,2352},{59,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/greenbase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,48}</string>
                <key>spriteSourceSize</key>
                <string>{278,48}</string>
                <key>textureRect</key>
                <string>{{76,2142},{278,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/hero1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{58,126}</string>
                <key>spriteSourceSize</key>
                <string>{100,130}</string>
                <key>textureRect</key>
                <string>{{53,2551},{58,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/hero2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{62,118}</string>
                <key>spriteSourceSize</key>
                <string>{100,130}</string>
                <key>textureRect</key>
                <string>{{1,754},{62,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/hero3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,12}</string>
                <key>spriteSize</key>
                <string>{84,104}</string>
                <key>spriteSourceSize</key>
                <string>{100,130}</string>
                <key>textureRect</key>
                <string>{{1,1377},{84,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/hero4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{100,114}</string>
                <key>spriteSourceSize</key>
                <string>{100,130}</string>
                <key>textureRect</key>
                <string>{{1,1134},{100,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/hero5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{86,118}</string>
                <key>spriteSourceSize</key>
                <string>{100,130}</string>
                <key>textureRect</key>
                <string>{{1,598},{86,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/hhand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{58,28}</string>
                <key>spriteSourceSize</key>
                <string>{70,32}</string>
                <key>textureRect</key>
                <string>{{45,2229},{58,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/hwrong1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{60,118}</string>
                <key>spriteSourceSize</key>
                <string>{72,130}</string>
                <key>textureRect</key>
                <string>{{1,818},{60,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/hwrong2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{64,120}</string>
                <key>spriteSourceSize</key>
                <string>{72,130}</string>
                <key>textureRect</key>
                <string>{{1,333},{64,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/hwrong3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{66,118}</string>
                <key>spriteSourceSize</key>
                <string>{72,130}</string>
                <key>textureRect</key>
                <string>{{1,686},{66,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/hwrong4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{66,120}</string>
                <key>spriteSourceSize</key>
                <string>{72,130}</string>
                <key>textureRect</key>
                <string>{{1,265},{66,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/hwrong5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{64,122}</string>
                <key>spriteSourceSize</key>
                <string>{72,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{64,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/orangebase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,50}</string>
                <key>spriteSourceSize</key>
                <string>{278,50}</string>
                <key>textureRect</key>
                <string>{{1,2422},{278,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/plant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,73}</string>
                <key>spriteSourceSize</key>
                <string>{64,73}</string>
                <key>textureRect</key>
                <string>{{1,2105},{64,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/plant2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,45}</string>
                <key>spriteSourceSize</key>
                <string>{28,45}</string>
                <key>textureRect</key>
                <string>{{1,2171},{28,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/plant3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,107}</string>
                <key>spriteSourceSize</key>
                <string>{38,107}</string>
                <key>textureRect</key>
                <string>{{1,1337},{38,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/plant4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,134}</string>
                <key>spriteSourceSize</key>
                <string>{79,134}</string>
                <key>textureRect</key>
                <string>{{1,1969},{79,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/smallbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,33}</string>
                <key>textureRect</key>
                <string>{{85,1673},{39,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/smallbar_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,33}</string>
                <key>textureRect</key>
                <string>{{85,1708},{39,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,33}</string>
                <key>spriteSourceSize</key>
                <string>{38,33}</string>
                <key>textureRect</key>
                <string>{{85,1814},{38,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/zebracross1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,26}</string>
                <key>spriteSourceSize</key>
                <string>{93,26}</string>
                <key>textureRect</key>
                <string>{{1,1548},{93,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/zebracross2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,26}</string>
                <key>spriteSourceSize</key>
                <string>{93,26}</string>
                <key>textureRect</key>
                <string>{{1,1548},{93,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/zebracross3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,35}</string>
                <key>spriteSourceSize</key>
                <string>{118,35}</string>
                <key>textureRect</key>
                <string>{{1,880},{118,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/zebracross4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,35}</string>
                <key>spriteSourceSize</key>
                <string>{91,35}</string>
                <key>textureRect</key>
                <string>{{1,1576},{91,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/zebracross5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,35}</string>
                <key>spriteSourceSize</key>
                <string>{65,35}</string>
                <key>textureRect</key>
                <string>{{85,1849},{65,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/zebracross6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,35}</string>
                <key>spriteSourceSize</key>
                <string>{45,35}</string>
                <key>textureRect</key>
                <string>{{85,1916},{45,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>owlisland.png</string>
            <key>size</key>
            <string>{125,2701}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e9e4a1a6ddf8f43bdb09a4c58bf166c:c6f3d93b895dab8f045f88ac27e792d5:8df3ed958f7bebef111981d2e54f26c8$</string>
            <key>textureFileName</key>
            <string>owlisland.png</string>
        </dict>
    </dict>
</plist>
