<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>owlisland/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,82}</string>
                <key>spriteSourceSize</key>
                <string>{354,82}</string>
                <key>textureRect</key>
                <string>{{101,1},{354,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/bigbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,42}</string>
                <key>spriteSourceSize</key>
                <string>{149,42}</string>
                <key>textureRect</key>
                <string>{{185,1},{149,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/bigbar_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,42}</string>
                <key>spriteSourceSize</key>
                <string>{149,42}</string>
                <key>textureRect</key>
                <string>{{185,152},{149,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/bubble1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-16}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{38,60}</string>
                <key>textureRect</key>
                <string>{{288,276},{20,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/bubble2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-8}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{38,60}</string>
                <key>textureRect</key>
                <string>{{318,276},{20,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/bubble3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{38,60}</string>
                <key>textureRect</key>
                <string>{{131,357},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/bubble4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{38,60}</string>
                <key>textureRect</key>
                <string>{{101,357},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/bubble5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{26,34}</string>
                <key>spriteSourceSize</key>
                <string>{38,60}</string>
                <key>textureRect</key>
                <string>{{645,370},{26,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/bubble6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{34,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,60}</string>
                <key>textureRect</key>
                <string>{{505,315},{34,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/dash_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,33}</string>
                <key>textureRect</key>
                <string>{{626,300},{39,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/dash_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,33}</string>
                <key>spriteSourceSize</key>
                <string>{38,33}</string>
                <key>textureRect</key>
                <string>{{585,435},{38,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/downbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,121}</string>
                <key>spriteSourceSize</key>
                <string>{130,121}</string>
                <key>textureRect</key>
                <string>{{292,384},{130,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/ehand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{58,28}</string>
                <key>spriteSourceSize</key>
                <string>{70,32}</string>
                <key>textureRect</key>
                <string>{{159,357},{58,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/enemy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{58,117}</string>
                <key>spriteSourceSize</key>
                <string>{70,123}</string>
                <key>textureRect</key>
                <string>{{550,203},{58,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/enemy10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{87,117}</string>
                <key>spriteSourceSize</key>
                <string>{99,127}</string>
                <key>textureRect</key>
                <string>{{461,381},{87,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/enemy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{64,119}</string>
                <key>spriteSourceSize</key>
                <string>{70,123}</string>
                <key>textureRect</key>
                <string>{{546,137},{64,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/enemy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{66,117}</string>
                <key>spriteSourceSize</key>
                <string>{70,123}</string>
                <key>textureRect</key>
                <string>{{355,123},{66,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/enemy4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{66,119}</string>
                <key>spriteSourceSize</key>
                <string>{70,123}</string>
                <key>textureRect</key>
                <string>{{552,69},{66,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/enemy5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{64,121}</string>
                <key>spriteSourceSize</key>
                <string>{70,123}</string>
                <key>textureRect</key>
                <string>{{229,67},{64,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/enemy6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{59,127}</string>
                <key>spriteSourceSize</key>
                <string>{99,127}</string>
                <key>textureRect</key>
                <string>{{424,1},{59,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/enemy7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{63,119}</string>
                <key>spriteSourceSize</key>
                <string>{99,127}</string>
                <key>textureRect</key>
                <string>{{424,188},{63,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/enemy8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,12}</string>
                <key>spriteSize</key>
                <string>{83,103}</string>
                <key>spriteSourceSize</key>
                <string>{99,127}</string>
                <key>textureRect</key>
                <string>{{541,263},{83,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/enemy9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{99,113}</string>
                <key>spriteSourceSize</key>
                <string>{99,127}</string>
                <key>textureRect</key>
                <string>{{103,389},{99,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,57}</string>
                <key>spriteSourceSize</key>
                <string>{59,57}</string>
                <key>textureRect</key>
                <string>{{229,242},{59,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/greenbase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,48}</string>
                <key>spriteSourceSize</key>
                <string>{388,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{388,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/hero1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{58,126}</string>
                <key>spriteSourceSize</key>
                <string>{100,130}</string>
                <key>textureRect</key>
                <string>{{424,62},{58,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/hero2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{62,118}</string>
                <key>spriteSourceSize</key>
                <string>{100,130}</string>
                <key>textureRect</key>
                <string>{{355,317},{62,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/hero3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,12}</string>
                <key>spriteSize</key>
                <string>{84,104}</string>
                <key>spriteSourceSize</key>
                <string>{100,130}</string>
                <key>textureRect</key>
                <string>{{269,133},{84,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/hero4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{100,114}</string>
                <key>spriteSourceSize</key>
                <string>{100,130}</string>
                <key>textureRect</key>
                <string>{{1,391},{100,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/hero5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{86,118}</string>
                <key>spriteSourceSize</key>
                <string>{100,130}</string>
                <key>textureRect</key>
                <string>{{204,387},{86,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/hhand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{58,28}</string>
                <key>spriteSourceSize</key>
                <string>{70,32}</string>
                <key>textureRect</key>
                <string>{{475,315},{58,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/hwrong1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{60,118}</string>
                <key>spriteSourceSize</key>
                <string>{72,130}</string>
                <key>textureRect</key>
                <string>{{421,253},{60,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/hwrong2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{64,120}</string>
                <key>spriteSourceSize</key>
                <string>{72,130}</string>
                <key>textureRect</key>
                <string>{{424,122},{64,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/hwrong3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{66,118}</string>
                <key>spriteSourceSize</key>
                <string>{72,130}</string>
                <key>textureRect</key>
                <string>{{553,1},{66,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/hwrong4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{66,120}</string>
                <key>spriteSourceSize</key>
                <string>{72,130}</string>
                <key>textureRect</key>
                <string>{{355,1},{66,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/hwrong5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{64,122}</string>
                <key>spriteSourceSize</key>
                <string>{72,130}</string>
                <key>textureRect</key>
                <string>{{229,1},{64,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/orangebase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,48}</string>
                <key>spriteSourceSize</key>
                <string>{388,48}</string>
                <key>textureRect</key>
                <string>{{51,1},{388,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/plant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,73}</string>
                <key>spriteSourceSize</key>
                <string>{64,73}</string>
                <key>textureRect</key>
                <string>{{355,242},{64,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/plant2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,45}</string>
                <key>spriteSourceSize</key>
                <string>{28,45}</string>
                <key>textureRect</key>
                <string>{{185,303},{28,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/plant3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,107}</string>
                <key>spriteSourceSize</key>
                <string>{38,107}</string>
                <key>textureRect</key>
                <string>{{229,133},{38,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/plant4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,134}</string>
                <key>spriteSourceSize</key>
                <string>{79,134}</string>
                <key>textureRect</key>
                <string>{{219,303},{79,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/smallbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,33}</string>
                <key>textureRect</key>
                <string>{{626,335},{39,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/smallbar_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,33}</string>
                <key>textureRect</key>
                <string>{{550,435},{39,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,33}</string>
                <key>spriteSourceSize</key>
                <string>{38,33}</string>
                <key>textureRect</key>
                <string>{{620,435},{38,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/zebracross1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,26}</string>
                <key>spriteSourceSize</key>
                <string>{93,26}</string>
                <key>textureRect</key>
                <string>{{550,370},{93,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/zebracross2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,26}</string>
                <key>spriteSourceSize</key>
                <string>{93,26}</string>
                <key>textureRect</key>
                <string>{{550,370},{93,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/zebracross3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,35}</string>
                <key>spriteSourceSize</key>
                <string>{118,35}</string>
                <key>textureRect</key>
                <string>{{424,381},{118,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/zebracross4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,35}</string>
                <key>spriteSourceSize</key>
                <string>{91,35}</string>
                <key>textureRect</key>
                <string>{{550,398},{91,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/zebracross5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,35}</string>
                <key>spriteSourceSize</key>
                <string>{65,35}</string>
                <key>textureRect</key>
                <string>{{288,239},{65,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/zebracross6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,35}</string>
                <key>spriteSourceSize</key>
                <string>{45,35}</string>
                <key>textureRect</key>
                <string>{{626,263},{45,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>owlisland.png</string>
            <key>size</key>
            <string>{672,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b045def0f77628394d654823ac126ffb:fd5ed21b9d5df1163615bd85982e61e2:8df3ed958f7bebef111981d2e54f26c8$</string>
            <key>textureFileName</key>
            <string>owlisland.png</string>
        </dict>
    </dict>
</plist>
