<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>owlisland/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,82}</string>
                <key>spriteSourceSize</key>
                <string>{354,82}</string>
                <key>textureRect</key>
                <string>{{1,1},{354,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/bigbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,42}</string>
                <key>spriteSourceSize</key>
                <string>{149,42}</string>
                <key>textureRect</key>
                <string>{{65,1077},{149,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/bigbar_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,42}</string>
                <key>spriteSourceSize</key>
                <string>{149,42}</string>
                <key>textureRect</key>
                <string>{{1,1084},{149,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/bubble1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-16}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{38,60}</string>
                <key>textureRect</key>
                <string>{{81,1287},{20,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/bubble2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-8}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{38,60}</string>
                <key>textureRect</key>
                <string>{{81,1317},{20,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/bubble3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{38,60}</string>
                <key>textureRect</key>
                <string>{{103,1300},{26,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/bubble4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{38,60}</string>
                <key>textureRect</key>
                <string>{{1,1305},{28,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/bubble5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{26,34}</string>
                <key>spriteSourceSize</key>
                <string>{38,60}</string>
                <key>textureRect</key>
                <string>{{149,1251},{26,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/bubble6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{34,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,60}</string>
                <key>textureRect</key>
                <string>{{143,1287},{34,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/dash_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,33}</string>
                <key>textureRect</key>
                <string>{{179,1291},{39,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/dash_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,33}</string>
                <key>spriteSourceSize</key>
                <string>{38,33}</string>
                <key>textureRect</key>
                <string>{{1,1270},{38,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/downbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,121}</string>
                <key>spriteSourceSize</key>
                <string>{130,121}</string>
                <key>textureRect</key>
                <string>{{128,824},{130,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/ehand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{58,28}</string>
                <key>spriteSourceSize</key>
                <string>{70,32}</string>
                <key>textureRect</key>
                <string>{{221,1173},{58,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/enemy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{58,117}</string>
                <key>spriteSourceSize</key>
                <string>{70,123}</string>
                <key>textureRect</key>
                <string>{{126,1018},{58,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/enemy10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{87,117}</string>
                <key>spriteSourceSize</key>
                <string>{99,127}</string>
                <key>textureRect</key>
                <string>{{166,368},{87,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/enemy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{64,119}</string>
                <key>spriteSourceSize</key>
                <string>{70,123}</string>
                <key>textureRect</key>
                <string>{{1,722},{64,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/enemy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{66,117}</string>
                <key>spriteSourceSize</key>
                <string>{70,123}</string>
                <key>textureRect</key>
                <string>{{67,701},{66,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/enemy4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{66,119}</string>
                <key>spriteSourceSize</key>
                <string>{70,123}</string>
                <key>textureRect</key>
                <string>{{185,123},{66,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/enemy5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{64,121}</string>
                <key>spriteSourceSize</key>
                <string>{70,123}</string>
                <key>textureRect</key>
                <string>{{1,477},{64,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/enemy6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{59,127}</string>
                <key>spriteSourceSize</key>
                <string>{99,127}</string>
                <key>textureRect</key>
                <string>{{67,820},{59,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/enemy7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{63,119}</string>
                <key>spriteSourceSize</key>
                <string>{99,127}</string>
                <key>textureRect</key>
                <string>{{1,843},{63,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/enemy8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,12}</string>
                <key>spriteSize</key>
                <string>{83,103}</string>
                <key>spriteSourceSize</key>
                <string>{99,127}</string>
                <key>textureRect</key>
                <string>{{67,596},{83,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/enemy9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{99,113}</string>
                <key>spriteSourceSize</key>
                <string>{99,127}</string>
                <key>textureRect</key>
                <string>{{135,723},{99,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,57}</string>
                <key>spriteSourceSize</key>
                <string>{59,57}</string>
                <key>textureRect</key>
                <string>{{45,1228},{59,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/greenbase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,48}</string>
                <key>spriteSourceSize</key>
                <string>{351,48}</string>
                <key>textureRect</key>
                <string>{{85,1},{351,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/hero1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{58,126}</string>
                <key>spriteSourceSize</key>
                <string>{100,130}</string>
                <key>textureRect</key>
                <string>{{66,949},{58,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/hero2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{62,118}</string>
                <key>spriteSourceSize</key>
                <string>{100,130}</string>
                <key>textureRect</key>
                <string>{{1,964},{62,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/hero3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,12}</string>
                <key>spriteSize</key>
                <string>{84,104}</string>
                <key>spriteSourceSize</key>
                <string>{100,130}</string>
                <key>textureRect</key>
                <string>{{67,490},{84,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/hero4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{100,114}</string>
                <key>spriteSourceSize</key>
                <string>{100,130}</string>
                <key>textureRect</key>
                <string>{{152,607},{100,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/hero5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{86,118}</string>
                <key>spriteSourceSize</key>
                <string>{100,130}</string>
                <key>textureRect</key>
                <string>{{166,487},{86,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/hhand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{58,28}</string>
                <key>spriteSourceSize</key>
                <string>{70,32}</string>
                <key>textureRect</key>
                <string>{{149,1144},{58,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/hwrong1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{60,118}</string>
                <key>spriteSourceSize</key>
                <string>{72,130}</string>
                <key>textureRect</key>
                <string>{{126,956},{60,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/hwrong2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{64,120}</string>
                <key>spriteSourceSize</key>
                <string>{72,130}</string>
                <key>textureRect</key>
                <string>{{1,600},{64,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/hwrong3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{66,118}</string>
                <key>spriteSourceSize</key>
                <string>{72,130}</string>
                <key>textureRect</key>
                <string>{{1,357},{66,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/hwrong4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{66,120}</string>
                <key>spriteSourceSize</key>
                <string>{72,130}</string>
                <key>textureRect</key>
                <string>{{185,1},{66,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/hwrong5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{64,122}</string>
                <key>spriteSourceSize</key>
                <string>{72,130}</string>
                <key>textureRect</key>
                <string>{{185,244},{64,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/orangebase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,48}</string>
                <key>spriteSourceSize</key>
                <string>{351,48}</string>
                <key>textureRect</key>
                <string>{{135,1},{351,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/plant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,73}</string>
                <key>spriteSourceSize</key>
                <string>{64,73}</string>
                <key>textureRect</key>
                <string>{{109,1078},{64,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/plant2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,45}</string>
                <key>spriteSourceSize</key>
                <string>{28,45}</string>
                <key>textureRect</key>
                <string>{{149,1204},{28,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/plant3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,107}</string>
                <key>spriteSourceSize</key>
                <string>{38,107}</string>
                <key>textureRect</key>
                <string>{{109,1144},{38,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/plant4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,134}</string>
                <key>spriteSourceSize</key>
                <string>{79,134}</string>
                <key>textureRect</key>
                <string>{{85,354},{79,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/smallbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,33}</string>
                <key>textureRect</key>
                <string>{{214,1300},{39,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/smallbar_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,33}</string>
                <key>textureRect</key>
                <string>{{1,1235},{39,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,33}</string>
                <key>spriteSourceSize</key>
                <string>{38,33}</string>
                <key>textureRect</key>
                <string>{{41,1287},{38,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>owlisland/zebracross1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,26}</string>
                <key>spriteSourceSize</key>
                <string>{93,26}</string>
                <key>textureRect</key>
                <string>{{221,1078},{93,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/zebracross2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,26}</string>
                <key>spriteSourceSize</key>
                <string>{93,26}</string>
                <key>textureRect</key>
                <string>{{221,1078},{93,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/zebracross3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,35}</string>
                <key>spriteSourceSize</key>
                <string>{118,35}</string>
                <key>textureRect</key>
                <string>{{184,1078},{118,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/zebracross4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,35}</string>
                <key>spriteSourceSize</key>
                <string>{91,35}</string>
                <key>textureRect</key>
                <string>{{179,1198},{91,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/zebracross5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,35}</string>
                <key>spriteSourceSize</key>
                <string>{65,35}</string>
                <key>textureRect</key>
                <string>{{216,1233},{65,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>owlisland/zebracross6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,35}</string>
                <key>spriteSourceSize</key>
                <string>{45,35}</string>
                <key>textureRect</key>
                <string>{{106,1253},{45,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>owlisland.png</string>
            <key>size</key>
            <string>{254,1344}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:354ffc8dc92dcd99282f89fbc5922c8f:781604167b8c3570e6e9327949156637:8df3ed958f7bebef111981d2e54f26c8$</string>
            <key>textureFileName</key>
            <string>owlisland.png</string>
        </dict>
    </dict>
</plist>
