<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plevelscreen/branch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,255}</string>
                <key>spriteSourceSize</key>
                <string>{236,255}</string>
                <key>textureRect</key>
                <string>{{2721,374},{236,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plevelscreen/container.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,377}</string>
                <key>spriteSourceSize</key>
                <string>{280,377}</string>
                <key>textureRect</key>
                <string>{{909,718},{280,377}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plevelscreen/fan1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,84}</string>
                <key>spriteSourceSize</key>
                <string>{65,84}</string>
                <key>textureRect</key>
                <string>{{2874,76},{65,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plevelscreen/fan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,84}</string>
                <key>spriteSourceSize</key>
                <string>{65,84}</string>
                <key>textureRect</key>
                <string>{{2874,162},{65,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plevelscreen/fan3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,84}</string>
                <key>spriteSourceSize</key>
                <string>{65,84}</string>
                <key>textureRect</key>
                <string>{{2874,248},{65,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plevelscreen/farfactory.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,331}</string>
                <key>spriteSourceSize</key>
                <string>{419,331}</string>
                <key>textureRect</key>
                <string>{{2959,76},{419,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plevelscreen/farflymountain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,151}</string>
                <key>spriteSourceSize</key>
                <string>{327,151}</string>
                <key>textureRect</key>
                <string>{{2721,45},{327,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plevelscreen/farmountain1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{673,315}</string>
                <key>spriteSourceSize</key>
                <string>{673,315}</string>
                <key>textureRect</key>
                <string>{{2114,1},{673,315}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plevelscreen/farmountain2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{534,318}</string>
                <key>spriteSourceSize</key>
                <string>{534,318}</string>
                <key>textureRect</key>
                <string>{{2374,676},{534,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plevelscreen/farshore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,90}</string>
                <key>spriteSourceSize</key>
                <string>{189,90}</string>
                <key>textureRect</key>
                <string>{{3128,601},{189,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plevelscreen/fillbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,263}</string>
                <key>spriteSourceSize</key>
                <string>{222,263}</string>
                <key>textureRect</key>
                <string>{{685,721},{222,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plevelscreen/fillpipe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,518}</string>
                <key>spriteSourceSize</key>
                <string>{73,518}</string>
                <key>textureRect</key>
                <string>{{2910,1},{73,518}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plevelscreen/fillpipebar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,477}</string>
                <key>spriteSourceSize</key>
                <string>{42,477}</string>
                <key>textureRect</key>
                <string>{{2431,1},{42,477}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plevelscreen/flymountain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{627,288}</string>
                <key>spriteSourceSize</key>
                <string>{627,288}</string>
                <key>textureRect</key>
                <string>{{2431,45},{627,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plevelscreen/grasspatch1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,151}</string>
                <key>spriteSourceSize</key>
                <string>{151,151}</string>
                <key>textureRect</key>
                <string>{{3273,409},{151,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plevelscreen/grasspatch2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,151}</string>
                <key>spriteSourceSize</key>
                <string>{151,151}</string>
                <key>textureRect</key>
                <string>{{3273,562},{151,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plevelscreen/pipeconnector.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,47}</string>
                <key>spriteSourceSize</key>
                <string>{94,47}</string>
                <key>textureRect</key>
                <string>{{3380,76},{94,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plevelscreen/pipeconnector2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{3081,409},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plevelscreen/plane.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,120}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{2959,409},{200,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plevelscreen/puff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,151}</string>
                <key>spriteSourceSize</key>
                <string>{151,151}</string>
                <key>textureRect</key>
                <string>{{3220,715},{151,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plevelscreen/ramp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,1084}</string>
                <key>spriteSourceSize</key>
                <string>{284,1084}</string>
                <key>textureRect</key>
                <string>{{1288,713},{284,1084}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plevelscreen/safe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,332}</string>
                <key>spriteSourceSize</key>
                <string>{216,332}</string>
                <key>textureRect</key>
                <string>{{2910,631},{216,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plevelscreen/transfactory.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{710,1045}</string>
                <key>spriteSourceSize</key>
                <string>{710,1045}</string>
                <key>textureRect</key>
                <string>{{1067,1},{710,1045}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plevelscreen/transtree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{682,961}</string>
                <key>spriteSourceSize</key>
                <string>{682,961}</string>
                <key>textureRect</key>
                <string>{{1,1},{682,961}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plevelscreen/treebent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{715,209}</string>
                <key>spriteSourceSize</key>
                <string>{715,209}</string>
                <key>textureRect</key>
                <string>{{856,1},{715,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plevelscreen/vine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{718,169}</string>
                <key>spriteSourceSize</key>
                <string>{718,169}</string>
                <key>textureRect</key>
                <string>{{685,1},{718,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>plevelscreen.png</string>
            <key>size</key>
            <string>{3429,999}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a28062fe4c0919d24324a8eaa1f9e1b:68b8705e6518d5d1a1756d04c2723169:4d1a507a13f4e6112e3b02b6e5f40082$</string>
            <key>textureFileName</key>
            <string>plevelscreen.png</string>
        </dict>
    </dict>
</plist>
