<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blastletterlevel/bomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{327,798}</string>
                <key>spriteSourceSize</key>
                <string>{467,798}</string>
                <key>textureRect</key>
                <string>{{1,1},{327,798}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blastletterlevel/bomb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,129}</string>
                <key>spriteSourceSize</key>
                <string>{263,129}</string>
                <key>textureRect</key>
                <string>{{330,1},{263,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blastletterlevel/bomb3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,193}</string>
                <key>spriteSourceSize</key>
                <string>{223,193}</string>
                <key>textureRect</key>
                <string>{{276,1244},{223,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blastletterlevel/bomb4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,128}</string>
                <key>spriteSourceSize</key>
                <string>{152,128}</string>
                <key>textureRect</key>
                <string>{{330,662},{152,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blastletterlevel/box_of_tnt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,441}</string>
                <key>spriteSourceSize</key>
                <string>{482,441}</string>
                <key>textureRect</key>
                <string>{{1,801},{482,441}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blastletterlevel/rocket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,66}</string>
                <key>spriteSourceSize</key>
                <string>{394,66}</string>
                <key>textureRect</key>
                <string>{{330,266},{394,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blastletterlevel/tnt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,273}</string>
                <key>spriteSourceSize</key>
                <string>{239,273}</string>
                <key>textureRect</key>
                <string>{{1,1244},{239,273}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>blastletterlevel.png</string>
            <key>size</key>
            <string>{484,1484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4ca8b25d815715ffcb2f71eb88ca148:29ca0f0b3297ed2ef2bafeac8fcc8fdb:320eb03301eab962c13c7aeaf457586f$</string>
            <key>textureFileName</key>
            <string>blastletterlevel.png</string>
        </dict>
    </dict>
</plist>
