<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinsi_anansi_alivyopata/demane_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,46}</string>
                <key>spriteSourceSize</key>
                <string>{97,46}</string>
                <key>textureRect</key>
                <string>{{142,1925},{97,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/fire1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-22}</string>
                <key>spriteSize</key>
                <string>{60,136}</string>
                <key>spriteSourceSize</key>
                <string>{80,190}</string>
                <key>textureRect</key>
                <string>{{188,984},{60,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/fire2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{60,172}</string>
                <key>spriteSourceSize</key>
                <string>{80,190}</string>
                <key>textureRect</key>
                <string>{{67,1710},{60,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/fire3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,4}</string>
                <key>spriteSize</key>
                <string>{60,168}</string>
                <key>spriteSourceSize</key>
                <string>{80,190}</string>
                <key>textureRect</key>
                <string>{{1,1938},{60,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/fire4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{58,168}</string>
                <key>spriteSourceSize</key>
                <string>{80,190}</string>
                <key>textureRect</key>
                <string>{{196,780},{58,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/fire5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{62,140}</string>
                <key>spriteSourceSize</key>
                <string>{80,190}</string>
                <key>textureRect</key>
                <string>{{189,1699},{62,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/fire6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-13}</string>
                <key>spriteSize</key>
                <string>{58,148}</string>
                <key>spriteSourceSize</key>
                <string>{80,190}</string>
                <key>textureRect</key>
                <string>{{129,1705},{58,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/fire7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{66,150}</string>
                <key>spriteSourceSize</key>
                <string>{80,190}</string>
                <key>textureRect</key>
                <string>{{131,1384},{66,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/fire8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-11}</string>
                <key>spriteSize</key>
                <string>{62,136}</string>
                <key>spriteSourceSize</key>
                <string>{80,190}</string>
                <key>textureRect</key>
                <string>{{188,1122},{62,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/fisi_bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,149}</string>
                <key>spriteSourceSize</key>
                <string>{255,149}</string>
                <key>textureRect</key>
                <string>{{45,471},{255,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/grass5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,31}</string>
                <key>spriteSourceSize</key>
                <string>{198,31}</string>
                <key>textureRect</key>
                <string>{{155,1168},{198,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/jinsi_bush_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,44}</string>
                <key>spriteSourceSize</key>
                <string>{200,44}</string>
                <key>textureRect</key>
                <string>{{196,578},{200,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/jinsi_bushes_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,149}</string>
                <key>spriteSourceSize</key>
                <string>{254,149}</string>
                <key>textureRect</key>
                <string>{{45,728},{254,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/jinsi_grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,77}</string>
                <key>spriteSourceSize</key>
                <string>{103,77}</string>
                <key>textureRect</key>
                <string>{{63,1968},{103,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/jinsi_grass2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,40}</string>
                <key>spriteSourceSize</key>
                <string>{76,40}</string>
                <key>textureRect</key>
                <string>{{214,239},{76,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/jinsi_grass3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{463,42}</string>
                <key>spriteSourceSize</key>
                <string>{463,42}</string>
                <key>textureRect</key>
                <string>{{1,471},{463,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/jinsi_grass4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,136}</string>
                <key>spriteSourceSize</key>
                <string>{468,136}</string>
                <key>textureRect</key>
                <string>{{1,1},{468,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/jinsi_grass6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,72}</string>
                <key>spriteSourceSize</key>
                <string>{92,72}</string>
                <key>textureRect</key>
                <string>{{153,1625},{92,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/jinsi_grass7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,55}</string>
                <key>spriteSourceSize</key>
                <string>{118,55}</string>
                <key>textureRect</key>
                <string>{{199,1383},{118,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/jinsi_ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,31}</string>
                <key>spriteSourceSize</key>
                <string>{226,31}</string>
                <key>textureRect</key>
                <string>{{1,1710},{226,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/jinsi_rock1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,73}</string>
                <key>spriteSourceSize</key>
                <string>{215,73}</string>
                <key>textureRect</key>
                <string>{{139,239},{215,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/jinsi_rock2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,64}</string>
                <key>spriteSourceSize</key>
                <string>{121,64}</string>
                <key>textureRect</key>
                <string>{{188,1260},{121,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/jinsi_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,47}</string>
                <key>spriteSourceSize</key>
                <string>{159,47}</string>
                <key>textureRect</key>
                <string>{{104,1544},{159,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/jinsi_tree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,236}</string>
                <key>spriteSourceSize</key>
                <string>{107,236}</string>
                <key>textureRect</key>
                <string>{{139,1},{107,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/jinsi_water1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,31}</string>
                <key>spriteSourceSize</key>
                <string>{226,31}</string>
                <key>textureRect</key>
                <string>{{34,1710},{226,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/jinsi_water3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,128}</string>
                <key>spriteSourceSize</key>
                <string>{158,128}</string>
                <key>textureRect</key>
                <string>{{1,1384},{158,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/pig_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,101}</string>
                <key>spriteSourceSize</key>
                <string>{164,101}</string>
                <key>textureRect</key>
                <string>{{1,1544},{164,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/pig_close_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,2}</string>
                <key>spriteSourceSize</key>
                <string>{11,2}</string>
                <key>textureRect</key>
                <string>{{63,1938},{11,2}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/pig_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,182}</string>
                <key>spriteSourceSize</key>
                <string>{185,182}</string>
                <key>textureRect</key>
                <string>{{1,984},{185,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/pig_left_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,35}</string>
                <key>spriteSourceSize</key>
                <string>{75,35}</string>
                <key>textureRect</key>
                <string>{{214,317},{75,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/pig_lower_back_left_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,40}</string>
                <key>spriteSourceSize</key>
                <string>{10,40}</string>
                <key>textureRect</key>
                <string>{{196,950},{10,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/pig_lower_back_right_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,40}</string>
                <key>spriteSourceSize</key>
                <string>{10,40}</string>
                <key>textureRect</key>
                <string>{{199,1503},{10,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/pig_lower_front_left_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,31}</string>
                <key>spriteSourceSize</key>
                <string>{10,31}</string>
                <key>textureRect</key>
                <string>{{155,1368},{10,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/pig_lower_front_right_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,31}</string>
                <key>spriteSourceSize</key>
                <string>{10,31}</string>
                <key>textureRect</key>
                <string>{{155,1368},{10,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/pig_open_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{181,456},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/pig_right_ear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,35}</string>
                <key>spriteSourceSize</key>
                <string>{75,35}</string>
                <key>textureRect</key>
                <string>{{190,1925},{75,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/pig_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{26,58}</string>
                <key>textureRect</key>
                <string>{{189,1897},{26,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/pig_upper_back_left_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,40}</string>
                <key>spriteSourceSize</key>
                <string>{12,40}</string>
                <key>textureRect</key>
                <string>{{139,456},{12,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/pig_upper_back_right_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,40}</string>
                <key>spriteSourceSize</key>
                <string>{11,40}</string>
                <key>textureRect</key>
                <string>{{242,578},{11,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/pig_upper_front_left_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,29}</string>
                <key>spriteSourceSize</key>
                <string>{11,29}</string>
                <key>textureRect</key>
                <string>{{214,394},{11,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/pig_upper_front_right_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,29}</string>
                <key>spriteSourceSize</key>
                <string>{11,29}</string>
                <key>textureRect</key>
                <string>{{214,394},{11,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/pot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,87}</string>
                <key>spriteSourceSize</key>
                <string>{102,87}</string>
                <key>textureRect</key>
                <string>{{153,1536},{102,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/pot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,33}</string>
                <key>spriteSourceSize</key>
                <string>{77,33}</string>
                <key>textureRect</key>
                <string>{{63,2073},{77,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/pot2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,17}</string>
                <key>spriteSourceSize</key>
                <string>{82,17}</string>
                <key>textureRect</key>
                <string>{{227,1925},{82,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/rabbit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{66,54}</string>
                <key>spriteSourceSize</key>
                <string>{82,58}</string>
                <key>textureRect</key>
                <string>{{189,1841},{66,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/rabbit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,58}</string>
                <key>spriteSourceSize</key>
                <string>{82,58}</string>
                <key>textureRect</key>
                <string>{{129,1855},{68,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/rabbit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,58}</string>
                <key>spriteSourceSize</key>
                <string>{82,58}</string>
                <key>textureRect</key>
                <string>{{67,1884},{82,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/spider_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,214}</string>
                <key>spriteSourceSize</key>
                <string>{152,214}</string>
                <key>textureRect</key>
                <string>{{1,1168},{152,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/spider_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,43}</string>
                <key>spriteSourceSize</key>
                <string>{38,43}</string>
                <key>textureRect</key>
                <string>{{1,936},{38,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/spider_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,77}</string>
                <key>spriteSourceSize</key>
                <string>{45,77}</string>
                <key>textureRect</key>
                <string>{{142,2024},{45,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/spider_leg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,120}</string>
                <key>spriteSourceSize</key>
                <string>{59,120}</string>
                <key>textureRect</key>
                <string>{{196,456},{59,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinsi_anansi_alivyopata/spider_mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,21}</string>
                <key>spriteSourceSize</key>
                <string>{68,21}</string>
                <key>textureRect</key>
                <string>{{189,2024},{68,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/spider_sadmouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,15}</string>
                <key>spriteSourceSize</key>
                <string>{67,15}</string>
                <key>textureRect</key>
                <string>{{212,2009},{67,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinsi_anansi_alivyopata/touch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,49}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{101,101}</string>
                <key>textureRect</key>
                <string>{{104,1705},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jinsi_anansi_alivyopata.png</string>
            <key>size</key>
            <string>{256,2107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aaf0cd364f4b74fb04151b1f1dfcb409:eb6adf508f157f0dbdd6e6056df3b447:391fd745a60c42740464b7519db0a099$</string>
            <key>textureFileName</key>
            <string>jinsi_anansi_alivyopata.png</string>
        </dict>
    </dict>
</plist>
