<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/Grapes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{321,276},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/bee_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,214}</string>
                <key>spriteSourceSize</key>
                <string>{152,214}</string>
                <key>textureRect</key>
                <string>{{362,206},{152,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/bonfire1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{59,61}</string>
                <key>spriteSourceSize</key>
                <string>{59,77}</string>
                <key>textureRect</key>
                <string>{{525,449},{59,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/bonfire2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,77}</string>
                <key>spriteSourceSize</key>
                <string>{59,77}</string>
                <key>textureRect</key>
                <string>{{768,1},{59,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/bonfire3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,77}</string>
                <key>spriteSourceSize</key>
                <string>{59,77}</string>
                <key>textureRect</key>
                <string>{{652,365},{59,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/calypot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,7}</string>
                <key>spriteSourceSize</key>
                <string>{50,7}</string>
                <key>textureRect</key>
                <string>{{1,503},{50,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,42}</string>
                <key>spriteSourceSize</key>
                <string>{105,42}</string>
                <key>textureRect</key>
                <string>{{713,392},{105,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/crocodile_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,44}</string>
                <key>spriteSourceSize</key>
                <string>{299,44}</string>
                <key>textureRect</key>
                <string>{{1,361},{299,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/crocodile_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{782,184},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/crocodile_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,75}</string>
                <key>spriteSourceSize</key>
                <string>{106,75}</string>
                <key>textureRect</key>
                <string>{{739,206},{106,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/crocodile_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,24}</string>
                <key>spriteSourceSize</key>
                <string>{17,24}</string>
                <key>textureRect</key>
                <string>{{713,365},{17,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/hole.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{359,273}</string>
                <key>spriteSourceSize</key>
                <string>{359,273}</string>
                <key>textureRect</key>
                <string>{{1,1},{359,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/jug.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{90,82}</string>
                <key>spriteSourceSize</key>
                <string>{106,82}</string>
                <key>textureRect</key>
                <string>{{560,365},{90,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/kun_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,65}</string>
                <key>spriteSourceSize</key>
                <string>{162,65}</string>
                <key>textureRect</key>
                <string>{{1,407},{162,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/kun_grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,83}</string>
                <key>spriteSourceSize</key>
                <string>{318,83}</string>
                <key>textureRect</key>
                <string>{{1,276},{318,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/kun_grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,84}</string>
                <key>spriteSourceSize</key>
                <string>{98,84}</string>
                <key>textureRect</key>
                <string>{{425,426},{98,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/kun_hills.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,78}</string>
                <key>spriteSourceSize</key>
                <string>{404,78}</string>
                <key>textureRect</key>
                <string>{{362,1},{404,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/kun_stone1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,27}</string>
                <key>spriteSourceSize</key>
                <string>{114,27}</string>
                <key>textureRect</key>
                <string>{{1,474},{114,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/kun_sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{713,436},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/kun_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,166}</string>
                <key>spriteSourceSize</key>
                <string>{123,166}</string>
                <key>textureRect</key>
                <string>{{614,81},{123,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/kun_tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,130}</string>
                <key>spriteSourceSize</key>
                <string>{121,130}</string>
                <key>textureRect</key>
                <string>{{302,361},{121,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,43}</string>
                <key>spriteSourceSize</key>
                <string>{38,43}</string>
                <key>textureRect</key>
                <string>{{665,444},{38,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,77}</string>
                <key>spriteSourceSize</key>
                <string>{45,77}</string>
                <key>textureRect</key>
                <string>{{586,449},{45,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/leg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,120}</string>
                <key>spriteSourceSize</key>
                <string>{59,120}</string>
                <key>textureRect</key>
                <string>{{782,62},{59,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,21}</string>
                <key>spriteSourceSize</key>
                <string>{68,21}</string>
                <key>textureRect</key>
                <string>{{157,478},{68,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/pigeon_beak_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,33}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{782,476},{26,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/pigeon_beak_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,17}</string>
                <key>spriteSourceSize</key>
                <string>{39,17}</string>
                <key>textureRect</key>
                <string>{{321,317},{39,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/pigeon_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{250,123}</string>
                <key>spriteSourceSize</key>
                <string>{258,123}</string>
                <key>textureRect</key>
                <string>{{362,81},{250,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/pigeon_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{820,392},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/pigeon_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,157}</string>
                <key>spriteSourceSize</key>
                <string>{159,157}</string>
                <key>textureRect</key>
                <string>{{578,206},{159,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/pigeon_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{117,474},{36,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/pigeon_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{782,436},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/pigeon_right_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,64}</string>
                <key>spriteSourceSize</key>
                <string>{133,64}</string>
                <key>textureRect</key>
                <string>{{425,360},{133,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/pigeon_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,104}</string>
                <key>spriteSourceSize</key>
                <string>{107,104}</string>
                <key>textureRect</key>
                <string>{{739,283},{107,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/pigeon_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,69}</string>
                <key>spriteSourceSize</key>
                <string>{135,69}</string>
                <key>textureRect</key>
                <string>{{165,407},{135,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_Kunguru_na_Mamba_Anansi_the_crows/sadmouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,15}</string>
                <key>spriteSourceSize</key>
                <string>{67,15}</string>
                <key>textureRect</key>
                <string>{{227,478},{67,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Anansi_Kunguru_na_Mamba_Anansi_the_crows.png</string>
            <key>size</key>
            <string>{846,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0560759ab83f4c1821056a539ca6afc4:3d88105ea6d19bd14c2adb95bc958e82:91b3b78ca20285d71ee01afd49a98c50$</string>
            <key>textureFileName</key>
            <string>Anansi_Kunguru_na_Mamba_Anansi_the_crows.png</string>
        </dict>
    </dict>
</plist>
