<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Nausikiliza_mwili_wangu/air.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,106}</string>
                <key>spriteSourceSize</key>
                <string>{133,106}</string>
                <key>textureRect</key>
                <string>{{224,3051},{133,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Nausikiliza_mwili_wangu/arm_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,53}</string>
                <key>spriteSourceSize</key>
                <string>{34,53}</string>
                <key>textureRect</key>
                <string>{{435,3133},{34,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Nausikiliza_mwili_wangu/arm_hand_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,53}</string>
                <key>spriteSourceSize</key>
                <string>{34,53}</string>
                <key>textureRect</key>
                <string>{{395,3170},{34,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nausikiliza_mwili_wangu/arm_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,110}</string>
                <key>spriteSourceSize</key>
                <string>{24,110}</string>
                <key>textureRect</key>
                <string>{{1,3203},{24,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Nausikiliza_mwili_wangu/arm_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,110}</string>
                <key>spriteSourceSize</key>
                <string>{24,110}</string>
                <key>textureRect</key>
                <string>{{113,3203},{24,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Nausikiliza_mwili_wangu/arm_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,131}</string>
                <key>spriteSourceSize</key>
                <string>{28,131}</string>
                <key>textureRect</key>
                <string>{{456,2690},{28,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nausikiliza_mwili_wangu/arm_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,131}</string>
                <key>spriteSourceSize</key>
                <string>{28,131}</string>
                <key>textureRect</key>
                <string>{{449,1998},{28,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nausikiliza_mwili_wangu/bag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,367}</string>
                <key>spriteSourceSize</key>
                <string>{306,367}</string>
                <key>textureRect</key>
                <string>{{181,1505},{306,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nausikiliza_mwili_wangu/bed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{726,477}</string>
                <key>spriteSourceSize</key>
                <string>{726,477}</string>
                <key>textureRect</key>
                <string>{{1,1},{726,477}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Nausikiliza_mwili_wangu/circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{371,3041},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nausikiliza_mwili_wangu/dress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,286}</string>
                <key>spriteSourceSize</key>
                <string>{280,286}</string>
                <key>textureRect</key>
                <string>{{1,2598},{280,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nausikiliza_mwili_wangu/eat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,213}</string>
                <key>spriteSourceSize</key>
                <string>{300,213}</string>
                <key>textureRect</key>
                <string>{{280,2181},{300,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Nausikiliza_mwili_wangu/eyeball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{145,1505},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nausikiliza_mwili_wangu/face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,386}</string>
                <key>spriteSourceSize</key>
                <string>{357,386}</string>
                <key>textureRect</key>
                <string>{{145,729},{357,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nausikiliza_mwili_wangu/face1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,386}</string>
                <key>spriteSourceSize</key>
                <string>{357,386}</string>
                <key>textureRect</key>
                <string>{{145,1117},{357,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nausikiliza_mwili_wangu/heartbeat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,277}</string>
                <key>spriteSourceSize</key>
                <string>{328,277}</string>
                <key>textureRect</key>
                <string>{{1,2268},{328,277}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Nausikiliza_mwili_wangu/hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,205}</string>
                <key>spriteSourceSize</key>
                <string>{205,205}</string>
                <key>textureRect</key>
                <string>{{283,2483},{205,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nausikiliza_mwili_wangu/idea.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,168}</string>
                <key>spriteSourceSize</key>
                <string>{41,168}</string>
                <key>textureRect</key>
                <string>{{225,3186},{41,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Nausikiliza_mwili_wangu/leg_foot_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,16}</string>
                <key>spriteSourceSize</key>
                <string>{73,16}</string>
                <key>textureRect</key>
                <string>{{480,134},{73,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Nausikiliza_mwili_wangu/leg_foot_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,16}</string>
                <key>spriteSourceSize</key>
                <string>{73,16}</string>
                <key>textureRect</key>
                <string>{{479,1998},{73,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Nausikiliza_mwili_wangu/leg_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,62}</string>
                <key>spriteSourceSize</key>
                <string>{14,62}</string>
                <key>textureRect</key>
                <string>{{489,1724},{14,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nausikiliza_mwili_wangu/leg_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,62}</string>
                <key>spriteSourceSize</key>
                <string>{14,62}</string>
                <key>textureRect</key>
                <string>{{489,1788},{14,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nausikiliza_mwili_wangu/leg_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,73}</string>
                <key>spriteSourceSize</key>
                <string>{17,73}</string>
                <key>textureRect</key>
                <string>{{486,2690},{17,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nausikiliza_mwili_wangu/leg_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,73}</string>
                <key>spriteSourceSize</key>
                <string>{17,73}</string>
                <key>textureRect</key>
                <string>{{486,2765},{17,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nausikiliza_mwili_wangu/legholding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,68}</string>
                <key>spriteSourceSize</key>
                <string>{106,68}</string>
                <key>textureRect</key>
                <string>{{343,2864},{106,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nausikiliza_mwili_wangu/losestring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,37}</string>
                <key>spriteSourceSize</key>
                <string>{121,37}</string>
                <key>textureRect</key>
                <string>{{332,3051},{121,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Nausikiliza_mwili_wangu/mouth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,44}</string>
                <key>spriteSourceSize</key>
                <string>{90,44}</string>
                <key>textureRect</key>
                <string>{{440,3041},{90,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Nausikiliza_mwili_wangu/mouth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,13}</string>
                <key>spriteSourceSize</key>
                <string>{70,13}</string>
                <key>textureRect</key>
                <string>{{490,2483},{70,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Nausikiliza_mwili_wangu/mouth3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,31}</string>
                <key>spriteSourceSize</key>
                <string>{38,31}</string>
                <key>textureRect</key>
                <string>{{181,1874},{38,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nausikiliza_mwili_wangu/mouth4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,61}</string>
                <key>spriteSourceSize</key>
                <string>{95,61}</string>
                <key>textureRect</key>
                <string>{{343,2934},{95,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nausikiliza_mwili_wangu/neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,58}</string>
                <key>spriteSourceSize</key>
                <string>{62,58}</string>
                <key>textureRect</key>
                <string>{{371,3110},{62,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nausikiliza_mwili_wangu/pulse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,23}</string>
                <key>spriteSourceSize</key>
                <string>{131,23}</string>
                <key>textureRect</key>
                <string>{{480,1},{131,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Nausikiliza_mwili_wangu/questionmark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,163}</string>
                <key>spriteSourceSize</key>
                <string>{117,163}</string>
                <key>textureRect</key>
                <string>{{224,2886},{117,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nausikiliza_mwili_wangu/sleave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,41}</string>
                <key>spriteSourceSize</key>
                <string>{31,41}</string>
                <key>textureRect</key>
                <string>{{237,2181},{31,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Nausikiliza_mwili_wangu/smell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{804,142}</string>
                <key>spriteSourceSize</key>
                <string>{804,142}</string>
                <key>textureRect</key>
                <string>{{1,729},{804,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Nausikiliza_mwili_wangu/sound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,315}</string>
                <key>spriteSourceSize</key>
                <string>{221,315}</string>
                <key>textureRect</key>
                <string>{{1,2886},{221,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nausikiliza_mwili_wangu/spiderbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,172}</string>
                <key>spriteSourceSize</key>
                <string>{171,172}</string>
                <key>textureRect</key>
                <string>{{283,2690},{171,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nausikiliza_mwili_wangu/spidereye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{449,2131},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nausikiliza_mwili_wangu/spidereyeball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,13}</string>
                <key>spriteSourceSize</key>
                <string>{12,13}</string>
                <key>textureRect</key>
                <string>{{490,2555},{12,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Nausikiliza_mwili_wangu/spiderleg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,46}</string>
                <key>spriteSourceSize</key>
                <string>{122,46}</string>
                <key>textureRect</key>
                <string>{{449,1874},{122,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Nausikiliza_mwili_wangu/spidermouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,43}</string>
                <key>spriteSourceSize</key>
                <string>{89,43}</string>
                <key>textureRect</key>
                <string>{{451,2864},{89,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Nausikiliza_mwili_wangu/spidermouth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,39}</string>
                <key>spriteSourceSize</key>
                <string>{42,39}</string>
                <key>textureRect</key>
                <string>{{237,2214},{42,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Nausikiliza_mwili_wangu/string.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,217}</string>
                <key>spriteSourceSize</key>
                <string>{2,217}</string>
                <key>textureRect</key>
                <string>{{489,1505},{2,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nausikiliza_mwili_wangu/tv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,210}</string>
                <key>spriteSourceSize</key>
                <string>{305,210}</string>
                <key>textureRect</key>
                <string>{{237,1874},{305,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Nausikiliza_mwili_wangu/tvstand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,178}</string>
                <key>spriteSourceSize</key>
                <string>{372,178}</string>
                <key>textureRect</key>
                <string>{{1,1535},{372,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Nausikiliza_mwili_wangu/wallpainting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,234}</string>
                <key>spriteSourceSize</key>
                <string>{357,234}</string>
                <key>textureRect</key>
                <string>{{1,1909},{357,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Nausikiliza_mwili_wangu/watersplash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,42}</string>
                <key>spriteSourceSize</key>
                <string>{106,42}</string>
                <key>textureRect</key>
                <string>{{343,2997},{106,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Nausikiliza_mwili_wangu.png</string>
            <key>size</key>
            <string>{504,3228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:117f5eb714417d2b81759109e8a62da1:cb4babf9dcb865611ffd1f09c1cfe9fd:e769fb89f04d21c50e0e4e260da3b0ad$</string>
            <key>textureFileName</key>
            <string>Nausikiliza_mwili_wangu.png</string>
        </dict>
    </dict>
</plist>
