<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dashisland/answer_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{615,115}</string>
                <key>spriteSourceSize</key>
                <string>{615,115}</string>
                <key>textureRect</key>
                <string>{{424,117},{615,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,212}</string>
                <key>spriteSourceSize</key>
                <string>{250,212}</string>
                <key>textureRect</key>
                <string>{{1868,1},{250,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashisland/big_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{672,114}</string>
                <key>spriteSourceSize</key>
                <string>{672,114}</string>
                <key>textureRect</key>
                <string>{{424,1},{672,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,109}</string>
                <key>spriteSourceSize</key>
                <string>{373,109}</string>
                <key>textureRect</key>
                <string>{{1041,117},{373,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/burst1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{27,30}</string>
                <key>spriteSourceSize</key>
                <string>{71,74}</string>
                <key>textureRect</key>
                <string>{{1,213},{27,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/burst2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{41,42}</string>
                <key>spriteSourceSize</key>
                <string>{71,74}</string>
                <key>textureRect</key>
                <string>{{1607,209},{41,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/burst3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{53,54}</string>
                <key>spriteSourceSize</key>
                <string>{71,74}</string>
                <key>textureRect</key>
                <string>{{2269,193},{53,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/burst4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,74}</string>
                <key>spriteSourceSize</key>
                <string>{71,74}</string>
                <key>textureRect</key>
                <string>{{2269,117},{71,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{421,210}</string>
                <key>spriteSourceSize</key>
                <string>{421,210}</string>
                <key>textureRect</key>
                <string>{{1,1},{421,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/flag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,126}</string>
                <key>spriteSourceSize</key>
                <string>{60,126}</string>
                <key>textureRect</key>
                <string>{{1784,91},{60,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/hint_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,114}</string>
                <key>spriteSourceSize</key>
                <string>{145,114}</string>
                <key>textureRect</key>
                <string>{{2194,1},{145,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/otterenemy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-9}</string>
                <key>spriteSize</key>
                <string>{185,88}</string>
                <key>spriteSourceSize</key>
                <string>{189,106}</string>
                <key>textureRect</key>
                <string>{{1681,1},{185,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/otterenemy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{175,102}</string>
                <key>spriteSourceSize</key>
                <string>{189,106}</string>
                <key>textureRect</key>
                <string>{{1504,1},{175,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/otterenemy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,106}</string>
                <key>spriteSourceSize</key>
                <string>{189,106}</string>
                <key>textureRect</key>
                <string>{{1313,1},{189,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/otterhero1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-9}</string>
                <key>spriteSize</key>
                <string>{185,88}</string>
                <key>spriteSourceSize</key>
                <string>{189,106}</string>
                <key>textureRect</key>
                <string>{{2082,155},{185,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/otterhero2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{175,102}</string>
                <key>spriteSourceSize</key>
                <string>{189,106}</string>
                <key>textureRect</key>
                <string>{{1607,105},{175,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/otterhero3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,106}</string>
                <key>spriteSourceSize</key>
                <string>{189,106}</string>
                <key>textureRect</key>
                <string>{{1416,109},{189,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashisland/step.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,36}</string>
                <key>spriteSize</key>
                <string>{152,110}</string>
                <key>spriteSourceSize</key>
                <string>{152,182}</string>
                <key>textureRect</key>
                <string>{{2082,1},{152,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashisland/step_winning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,113}</string>
                <key>spriteSourceSize</key>
                <string>{213,113}</string>
                <key>textureRect</key>
                <string>{{1098,1},{213,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dashisland.png</string>
            <key>size</key>
            <string>{2341,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41ac5cb3e3acdf7dcab98a5f8071bc8c:c1288201c9d53cc1774da0fd1c6898a4:675b437d44d34ce9baecb36232a17695$</string>
            <key>textureFileName</key>
            <string>dashisland.png</string>
        </dict>
    </dict>
</plist>
