<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gym/apple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,52}</string>
                <key>spriteSourceSize</key>
                <string>{37,52}</string>
                <key>textureRect</key>
                <string>{{1746,472},{37,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gym/ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,164}</string>
                <key>spriteSourceSize</key>
                <string>{163,164}</string>
                <key>textureRect</key>
                <string>{{1946,1},{163,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gym/bench.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,100}</string>
                <key>spriteSourceSize</key>
                <string>{288,100}</string>
                <key>textureRect</key>
                <string>{{1,395},{288,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gym/bottle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,82}</string>
                <key>spriteSourceSize</key>
                <string>{32,82}</string>
                <key>textureRect</key>
                <string>{{1800,472},{32,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gym/boxing-bag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,250}</string>
                <key>spriteSourceSize</key>
                <string>{66,250}</string>
                <key>textureRect</key>
                <string>{{1878,1},{66,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gym/boxing-bag1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,251}</string>
                <key>spriteSourceSize</key>
                <string>{74,251}</string>
                <key>textureRect</key>
                <string>{{1884,435},{74,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gym/boxingpunch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,70}</string>
                <key>spriteSourceSize</key>
                <string>{53,70}</string>
                <key>textureRect</key>
                <string>{{980,287},{53,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gym/cardiomachine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,176}</string>
                <key>spriteSourceSize</key>
                <string>{206,176}</string>
                <key>textureRect</key>
                <string>{{1491,287},{206,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gym/cardiomachine1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,125}</string>
                <key>spriteSourceSize</key>
                <string>{173,125}</string>
                <key>textureRect</key>
                <string>{{291,383},{173,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gym/cardiomachine2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,261}</string>
                <key>spriteSourceSize</key>
                <string>{392,261}</string>
                <key>textureRect</key>
                <string>{{1,1},{392,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gym/chest-bench.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,244}</string>
                <key>spriteSourceSize</key>
                <string>{124,244}</string>
                <key>textureRect</key>
                <string>{{466,380},{124,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gym/cycle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,174}</string>
                <key>spriteSourceSize</key>
                <string>{150,174}</string>
                <key>textureRect</key>
                <string>{{1862,259},{150,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gym/cycle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,207}</string>
                <key>spriteSourceSize</key>
                <string>{156,207}</string>
                <key>textureRect</key>
                <string>{{1333,287},{156,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gym/door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,367}</string>
                <key>spriteSourceSize</key>
                <string>{260,367}</string>
                <key>textureRect</key>
                <string>{{582,1},{260,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gym/dumble-rode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,49}</string>
                <key>spriteSourceSize</key>
                <string>{256,49}</string>
                <key>textureRect</key>
                <string>{{1827,1},{256,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gym/dumble-rode1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,54}</string>
                <key>spriteSourceSize</key>
                <string>{224,54}</string>
                <key>textureRect</key>
                <string>{{1035,287},{224,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gym/dumble-rode2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,64}</string>
                <key>spriteSourceSize</key>
                <string>{331,64}</string>
                <key>textureRect</key>
                <string>{{844,1},{331,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gym/dumblegreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,34}</string>
                <key>spriteSourceSize</key>
                <string>{66,34}</string>
                <key>textureRect</key>
                <string>{{844,334},{66,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gym/dumblepink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,28}</string>
                <key>spriteSourceSize</key>
                <string>{66,28}</string>
                <key>textureRect</key>
                <string>{{1669,483},{66,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gym/dumbleyellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,40}</string>
                <key>spriteSourceSize</key>
                <string>{66,40}</string>
                <key>textureRect</key>
                <string>{{912,323},{66,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gym/floor-up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,25}</string>
                <key>spriteSourceSize</key>
                <string>{320,25}</string>
                <key>textureRect</key>
                <string>{{910,1},{320,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gym/floor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,137}</string>
                <key>spriteSourceSize</key>
                <string>{321,137}</string>
                <key>textureRect</key>
                <string>{{712,370},{321,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gym/hanger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,176}</string>
                <key>spriteSourceSize</key>
                <string>{51,176}</string>
                <key>textureRect</key>
                <string>{{1809,274},{51,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gym/jumping-stand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,66}</string>
                <key>spriteSourceSize</key>
                <string>{271,66}</string>
                <key>textureRect</key>
                <string>{{1759,1},{271,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gym/lockergate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,377}</string>
                <key>spriteSourceSize</key>
                <string>{189,377}</string>
                <key>textureRect</key>
                <string>{{391,1},{189,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gym/mirror.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{820,284}</string>
                <key>spriteSourceSize</key>
                <string>{820,284}</string>
                <key>textureRect</key>
                <string>{{937,1},{820,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gym/smalltable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{92,46}</string>
                <key>spriteSourceSize</key>
                <string>{96,52}</string>
                <key>textureRect</key>
                <string>{{2071,249},{92,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gym/stand-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,221}</string>
                <key>spriteSourceSize</key>
                <string>{27,221}</string>
                <key>textureRect</key>
                <string>{{1091,287},{27,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gym/stand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,214}</string>
                <key>spriteSourceSize</key>
                <string>{154,214}</string>
                <key>textureRect</key>
                <string>{{1177,287},{154,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gym/stretch-wire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,61}</string>
                <key>spriteSourceSize</key>
                <string>{183,61}</string>
                <key>textureRect</key>
                <string>{{1746,287},{183,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gym/wall-tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,55}</string>
                <key>spriteSourceSize</key>
                <string>{154,55}</string>
                <key>textureRect</key>
                <string>{{2014,252},{154,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gym/watertank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,194}</string>
                <key>spriteSourceSize</key>
                <string>{75,194}</string>
                <key>textureRect</key>
                <string>{{1669,287},{75,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gym/weight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,78}</string>
                <key>spriteSourceSize</key>
                <string>{83,78}</string>
                <key>textureRect</key>
                <string>{{1946,167},{83,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gym/weight1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,80}</string>
                <key>spriteSourceSize</key>
                <string>{52,80}</string>
                <key>textureRect</key>
                <string>{{2026,167},{52,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gym/wire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,219}</string>
                <key>spriteSourceSize</key>
                <string>{55,219}</string>
                <key>textureRect</key>
                <string>{{1120,287},{55,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gym/woodsteps.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,380}</string>
                <key>spriteSourceSize</key>
                <string>{125,380}</string>
                <key>textureRect</key>
                <string>{{264,1},{125,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gym.png</string>
            <key>size</key>
            <string>{2136,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85e8cf452867751422917883c926fab9:f5487aeae97c1a0c1550561ba94c488c:4c88a263391bfb0c09131561474aed2b$</string>
            <key>textureFileName</key>
            <string>gym.png</string>
        </dict>
    </dict>
</plist>
