<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Paul_and_the_sunday_trip/chimni.png</key>
			<dict>
				<key>frame</key>
				<string>{{1203,935},{492,672}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{494,672}</string>
			</dict>
			<key>Paul_and_the_sunday_trip/cooker.png</key>
			<dict>
				<key>frame</key>
				<string>{{3580,1564},{110,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,96}</string>
			</dict>
			<key>Paul_and_the_sunday_trip/cup.png</key>
			<dict>
				<key>frame</key>
				<string>{{4052,1371},{60,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,34}</string>
			</dict>
			<key>Paul_and_the_sunday_trip/cupboard.png</key>
			<dict>
				<key>frame</key>
				<string>{{3208,0},{1219,421}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1219,421}</string>
			</dict>
			<key>Paul_and_the_sunday_trip/cupboard_down_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2249,1128},{686,427}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{687,427}</string>
			</dict>
			<key>Paul_and_the_sunday_trip/cupboard_down_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1074,1427},{735,448}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{735,448}</string>
			</dict>
			<key>Paul_and_the_sunday_trip/fridge.png</key>
			<dict>
				<key>frame</key>
				<string>{{3191,1219},{389,763}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{389,763}</string>
			</dict>
			<key>Paul_and_the_sunday_trip/frypen.png</key>
			<dict>
				<key>frame</key>
				<string>{{4052,1193},{178,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,35}</string>
			</dict>
			<key>Paul_and_the_sunday_trip/microwave.png</key>
			<dict>
				<key>frame</key>
				<string>{{3899,918},{275,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{275,171}</string>
			</dict>
			<key>Paul_and_the_sunday_trip/spoon_stand.png</key>
			<dict>
				<key>frame</key>
				<string>{{1074,895},{225,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,129}</string>
			</dict>
			<key>Paul_and_the_sunday_trip/stool.png</key>
			<dict>
				<key>frame</key>
				<string>{{3899,666},{195,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,252}</string>
			</dict>
			<key>Paul_and_the_sunday_trip/tap.png</key>
			<dict>
				<key>frame</key>
				<string>{{3899,1193},{280,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{280,153}</string>
			</dict>
			<key>Paul_and_the_sunday_trip/tile_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{3899,369},{169,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,297}</string>
			</dict>
			<key>Paul_and_the_sunday_trip/tiles.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{3629,0},{270,1224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{270,1224}</string>
			</dict>
			<key>Paul_and_the_sunday_trip/window.png</key>
			<dict>
				<key>frame</key>
				<string>{{2293,562},{677,566}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{677,566}</string>
			</dict>
			<key>Paul_and_the_sunday_trip/balcony.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,0},{935,1084}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{935,1084}</string>
			</dict>
			<key>Paul_and_the_sunday_trip/cloud_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3580,1224},{340,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{340,212}</string>
			</dict>
			<key>Paul_and_the_sunday_trip/Fence_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1809,1468},{327,543}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{327,543}</string>
			</dict>
			<key>Paul_and_the_sunday_trip/Fence_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1673},{326,543}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{326,543}</string>
			</dict>
			<key>Paul_and_the_sunday_trip/house_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,895},{1074,778}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1074,778}</string>
			</dict>
			<key>Paul_and_the_sunday_trip/house_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1209,895}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1209,895}</string>
			</dict>
			<key>Paul_and_the_sunday_trip/bed.png</key>
			<dict>
				<key>frame</key>
				<string>{{3690,1602},{550,398}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,398}</string>
			</dict>
			<key>Paul_and_the_sunday_trip/flower.png</key>
			<dict>
				<key>frame</key>
				<string>{{3792,1224},{91,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,189}</string>
			</dict>
			<key>Paul_and_the_sunday_trip/flower_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{3792,1413},{91,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,189}</string>
			</dict>
			<key>Paul_and_the_sunday_trip/light.png</key>
			<dict>
				<key>frame</key>
				<string>{{3899,0},{164,369}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,369}</string>
			</dict>
			<key>Paul_and_the_sunday_trip/painting.png</key>
			<dict>
				<key>frame</key>
				<string>{{1875,935},{374,533}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{374,533}</string>
			</dict>
			<key>Paul_and_the_sunday_trip/rake_books.png</key>
			<dict>
				<key>frame</key>
				<string>{{2970,562},{385,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{385,227}</string>
			</dict>
			<key>Paul_and_the_sunday_trip/rake_camera.png</key>
			<dict>
				<key>frame</key>
				<string>{{2970,947},{385,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{385,221}</string>
			</dict>
			<key>Paul_and_the_sunday_trip/watch.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,1673},{264,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,264}</string>
			</dict>
			<key>Paul_and_the_sunday_trip/window_room.png</key>
			<dict>
				<key>frame</key>
				<string>{{2293,0},{562,915}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{562,915}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Paul_and_the_sunday_trip.png</string>
			<key>realTextureFileName</key>
			<string>Paul_and_the_sunday_trip.png</string>
			<key>size</key>
			<string>{4094,2152}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4094</integer>
			<key>height</key>
			<integer>2152</integer>
		</dict>
	</dict>
</plist>