<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crossthebridgelevel/boat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,299}</string>
                <key>spriteSourceSize</key>
                <string>{240,299}</string>
                <key>textureRect</key>
                <string>{{1506,1},{240,299}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crossthebridgelevel/boat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,299}</string>
                <key>spriteSourceSize</key>
                <string>{240,299}</string>
                <key>textureRect</key>
                <string>{{1807,1},{240,299}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crossthebridgelevel/bridge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{386,252}</string>
                <key>spriteSourceSize</key>
                <string>{386,252}</string>
                <key>textureRect</key>
                <string>{{1,1},{386,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridgelevel/bridge1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,253}</string>
                <key>spriteSourceSize</key>
                <string>{258,253}</string>
                <key>textureRect</key>
                <string>{{2108,1},{258,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridgelevel/character.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,164}</string>
                <key>spriteSourceSize</key>
                <string>{125,164}</string>
                <key>textureRect</key>
                <string>{{1340,1},{125,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crossthebridgelevel/character1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,225}</string>
                <key>spriteSourceSize</key>
                <string>{158,225}</string>
                <key>textureRect</key>
                <string>{{2368,1},{158,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridgelevel/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,84}</string>
                <key>spriteSourceSize</key>
                <string>{210,84}</string>
                <key>textureRect</key>
                <string>{{1268,134},{210,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridgelevel/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{487,94}</string>
                <key>spriteSourceSize</key>
                <string>{487,94}</string>
                <key>textureRect</key>
                <string>{{779,134},{487,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridgelevel/grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,131}</string>
                <key>spriteSourceSize</key>
                <string>{559,131}</string>
                <key>textureRect</key>
                <string>{{779,1},{559,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossthebridgelevel/house.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,388}</string>
                <key>spriteSourceSize</key>
                <string>{223,388}</string>
                <key>textureRect</key>
                <string>{{389,1},{223,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>crossthebridgelevel.png</string>
            <key>size</key>
            <string>{2527,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02d25df68f0ef06cdc34546596538198:4ca103c97b6cb13ed582930b9c98eb21:1909d187669519a5fea32dc39b6a6fa3$</string>
            <key>textureFileName</key>
            <string>crossthebridgelevel.png</string>
        </dict>
    </dict>
</plist>
