<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dashcandy/answer_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{644,54}</string>
                <key>spriteSourceSize</key>
                <string>{644,54}</string>
                <key>textureRect</key>
                <string>{{1,150},{644,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashcandy/answer_button1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,54}</string>
                <key>spriteSourceSize</key>
                <string>{270,54}</string>
                <key>textureRect</key>
                <string>{{647,150},{270,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashcandy/bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{644,135}</string>
                <key>spriteSourceSize</key>
                <string>{644,135}</string>
                <key>textureRect</key>
                <string>{{878,1},{644,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashcandy/bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{679,166}</string>
                <key>spriteSourceSize</key>
                <string>{679,166}</string>
                <key>textureRect</key>
                <string>{{1524,1},{679,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashcandy/bg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,106}</string>
                <key>spriteSourceSize</key>
                <string>{417,106}</string>
                <key>textureRect</key>
                <string>{{919,138},{417,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashcandy/chocolate1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,41}</string>
                <key>spriteSourceSize</key>
                <string>{40,41}</string>
                <key>textureRect</key>
                <string>{{2160,169},{40,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashcandy/chocolate2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{2112,169},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashcandy/chocolate3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1,206},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashcandy/flag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{41,60}</string>
                <key>spriteSourceSize</key>
                <string>{53,66}</string>
                <key>textureRect</key>
                <string>{{2069,169},{41,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashcandy/gingerbreadman1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-4}</string>
                <key>spriteSize</key>
                <string>{55,94}</string>
                <key>spriteSourceSize</key>
                <string>{89,110}</string>
                <key>textureRect</key>
                <string>{{1620,169},{55,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashcandy/gingerbreadman2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-4}</string>
                <key>spriteSize</key>
                <string>{55,96}</string>
                <key>spriteSourceSize</key>
                <string>{89,110}</string>
                <key>textureRect</key>
                <string>{{1522,169},{55,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashcandy/gingerbreadman3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-6}</string>
                <key>spriteSize</key>
                <string>{55,92}</string>
                <key>spriteSourceSize</key>
                <string>{89,110}</string>
                <key>textureRect</key>
                <string>{{1812,169},{55,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashcandy/gingerbreadman4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,5}</string>
                <key>spriteSize</key>
                <string>{57,94}</string>
                <key>spriteSourceSize</key>
                <string>{89,110}</string>
                <key>textureRect</key>
                <string>{{1463,138},{57,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashcandy/gingerbreadman5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-4}</string>
                <key>spriteSize</key>
                <string>{55,94}</string>
                <key>spriteSourceSize</key>
                <string>{89,110}</string>
                <key>textureRect</key>
                <string>{{1716,169},{55,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashcandy/ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{875,147}</string>
                <key>spriteSourceSize</key>
                <string>{875,147}</string>
                <key>textureRect</key>
                <string>{{1,1},{875,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dashcandy/small_button1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,54}</string>
                <key>spriteSourceSize</key>
                <string>{74,54}</string>
                <key>textureRect</key>
                <string>{{1906,169},{74,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashcandy/small_button2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,54}</string>
                <key>spriteSourceSize</key>
                <string>{74,54}</string>
                <key>textureRect</key>
                <string>{{1962,169},{74,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashcandy/step.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,49}</string>
                <key>spriteSourceSize</key>
                <string>{66,49}</string>
                <key>textureRect</key>
                <string>{{2018,169},{66,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dashcandy/step_winning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,90}</string>
                <key>spriteSourceSize</key>
                <string>{123,90}</string>
                <key>textureRect</key>
                <string>{{1338,138},{123,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dashcandy.png</string>
            <key>size</key>
            <string>{2204,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29ce9720ed06c62a2b2e145e2276a7a5:c73b195f95c31edd3ae2696605619abb:889687f104fd72ed40259bf6efa9eed4$</string>
            <key>textureFileName</key>
            <string>dashcandy.png</string>
        </dict>
    </dict>
</plist>
