<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scoreboard/scoreboard2/Gift0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-61}</string>
                <key>spriteSize</key>
                <string>{519,316}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{530,514},{519,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scoreboard/scoreboard2/Gift0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-60}</string>
                <key>spriteSize</key>
                <string>{513,318}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1,832},{513,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/scoreboard2/Gift0050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-61}</string>
                <key>spriteSize</key>
                <string>{527,316}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1,514},{527,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/scoreboard2/Gift0051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-62}</string>
                <key>spriteSize</key>
                <string>{463,314}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{466,1381},{463,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/scoreboard2/Gift0052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-55}</string>
                <key>spriteSize</key>
                <string>{463,328}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1,1152},{463,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/scoreboard2/Gift0053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-47}</string>
                <key>spriteSize</key>
                <string>{463,344}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{516,1035},{463,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/scoreboard2/Gift0054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-82}</string>
                <key>spriteSize</key>
                <string>{463,274}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1,1482},{463,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/scoreboard2/Gift0055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-82}</string>
                <key>spriteSize</key>
                <string>{463,274}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{466,1697},{463,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/scoreboard2/Gift0056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-82}</string>
                <key>spriteSize</key>
                <string>{463,274}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1,1758},{463,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/scoreboard2/Gift0057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-82}</string>
                <key>spriteSize</key>
                <string>{463,274}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1,1758},{463,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/scoreboard2/Gift0058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-82}</string>
                <key>spriteSize</key>
                <string>{463,274}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1,1758},{463,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/scoreboard2/Gift0059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-82}</string>
                <key>spriteSize</key>
                <string>{463,274}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1,1758},{463,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/scoreboard2/Gift0060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-82}</string>
                <key>spriteSize</key>
                <string>{463,274}</string>
                <key>spriteSourceSize</key>
                <string>{581,474}</string>
                <key>textureRect</key>
                <string>{{1,1758},{463,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scoreboard/scoreboard2/rewardcard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{802,511}</string>
                <key>spriteSourceSize</key>
                <string>{802,511}</string>
                <key>textureRect</key>
                <string>{{1,1},{802,511}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>scoreboard2.png</string>
            <key>size</key>
            <string>{980,2033}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a93eea29c3aebccf5f6a1f41a07ad7ca:363f139c5909f4c7847a971581fccf4f:b4a41075017e809d3e12c55730085a53$</string>
            <key>textureFileName</key>
            <string>scoreboard2.png</string>
        </dict>
    </dict>
</plist>
