<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bingocity/bear_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,291}</string>
                <key>spriteSourceSize</key>
                <string>{280,291}</string>
                <key>textureRect</key>
                <string>{{1608,1659},{280,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingocity/bear_mouth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,93}</string>
                <key>spriteSourceSize</key>
                <string>{88,93}</string>
                <key>textureRect</key>
                <string>{{2364,1712},{88,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bingocity/bear_mouth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,93}</string>
                <key>spriteSourceSize</key>
                <string>{88,93}</string>
                <key>textureRect</key>
                <string>{{2264,1797},{88,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bingocity/bgball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,22}</string>
                <key>spriteSourceSize</key>
                <string>{84,22}</string>
                <key>textureRect</key>
                <string>{{743,1691},{84,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingocity/board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2499,1313}</string>
                <key>spriteSourceSize</key>
                <string>{2501,1313}</string>
                <key>textureRect</key>
                <string>{{1,1},{2499,1313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingocity/boardhelp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1038,251}</string>
                <key>spriteSourceSize</key>
                <string>{1038,251}</string>
                <key>textureRect</key>
                <string>{{1,1725},{1038,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingocity/brick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,114}</string>
                <key>spriteSourceSize</key>
                <string>{232,116}</string>
                <key>textureRect</key>
                <string>{{2210,1596},{230,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingocity/cat_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,271}</string>
                <key>spriteSourceSize</key>
                <string>{330,271}</string>
                <key>textureRect</key>
                <string>{{1335,1659},{330,271}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bingocity/cat_mouth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,65}</string>
                <key>spriteSourceSize</key>
                <string>{202,65}</string>
                <key>textureRect</key>
                <string>{{2197,1747},{202,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bingocity/cat_mouth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,88}</string>
                <key>spriteSourceSize</key>
                <string>{202,88}</string>
                <key>textureRect</key>
                <string>{{2107,1747},{202,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bingocity/corner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,286}</string>
                <key>spriteSourceSize</key>
                <string>{215,286}</string>
                <key>textureRect</key>
                <string>{{1890,1659},{215,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingocity/elephant_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,208}</string>
                <key>spriteSourceSize</key>
                <string>{338,208}</string>
                <key>textureRect</key>
                <string>{{2000,1316},{338,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bingocity/elephant_mouth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{98,34}</string>
                <key>textureRect</key>
                <string>{{582,1662},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingocity/elephant_mouth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,54}</string>
                <key>spriteSourceSize</key>
                <string>{98,54}</string>
                <key>textureRect</key>
                <string>{{246,1667},{98,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingocity/elephant_trunk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,154}</string>
                <key>spriteSourceSize</key>
                <string>{27,154}</string>
                <key>textureRect</key>
                <string>{{682,1662},{27,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bingocity/eye_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,24}</string>
                <key>spriteSourceSize</key>
                <string>{159,24}</string>
                <key>textureRect</key>
                <string>{{582,1698},{159,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingocity/eye_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,40}</string>
                <key>spriteSourceSize</key>
                <string>{163,40}</string>
                <key>textureRect</key>
                <string>{{346,1667},{163,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingocity/giraffe_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,292}</string>
                <key>spriteSourceSize</key>
                <string>{323,292}</string>
                <key>textureRect</key>
                <string>{{1041,1662},{323,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bingocity/giraffe_mouth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,83}</string>
                <key>spriteSourceSize</key>
                <string>{98,83}</string>
                <key>textureRect</key>
                <string>{{2264,1712},{98,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingocity/giraffe_mouth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,89}</string>
                <key>spriteSourceSize</key>
                <string>{98,89}</string>
                <key>textureRect</key>
                <string>{{2107,1656},{98,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingocity/letterbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{736,341}</string>
                <key>spriteSourceSize</key>
                <string>{736,341}</string>
                <key>textureRect</key>
                <string>{{1262,1316},{736,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingocity/letterboxshade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{736,344}</string>
                <key>spriteSourceSize</key>
                <string>{736,344}</string>
                <key>textureRect</key>
                <string>{{524,1316},{736,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingocity/lion_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,278}</string>
                <key>spriteSourceSize</key>
                <string>{278,278}</string>
                <key>textureRect</key>
                <string>{{2210,1316},{278,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingocity/lion_mouth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,75}</string>
                <key>spriteSourceSize</key>
                <string>{69,75}</string>
                <key>textureRect</key>
                <string>{{2264,1887},{69,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingocity/lion_mouth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,75}</string>
                <key>spriteSourceSize</key>
                <string>{69,75}</string>
                <key>textureRect</key>
                <string>{{2335,1887},{69,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingocity/pig_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,276}</string>
                <key>spriteSourceSize</key>
                <string>{349,276}</string>
                <key>textureRect</key>
                <string>{{246,1316},{349,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bingocity/pig_mouth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,22}</string>
                <key>spriteSourceSize</key>
                <string>{75,22}</string>
                <key>textureRect</key>
                <string>{{829,1691},{75,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingocity/pig_mouth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,39}</string>
                <key>spriteSourceSize</key>
                <string>{69,39}</string>
                <key>textureRect</key>
                <string>{{511,1667},{69,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingocity/upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{407,243}</string>
                <key>spriteSourceSize</key>
                <string>{407,243}</string>
                <key>textureRect</key>
                <string>{{1,1316},{407,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bingocity.png</string>
            <key>size</key>
            <string>{2501,1990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06721e99fd8746f74c4cb7c4221dee3d:d9c85dd64733690850e1fd00bad4dd0a:62a6d6806622da65f759e75d34ce9b89$</string>
            <key>textureFileName</key>
            <string>bingocity.png</string>
        </dict>
    </dict>
</plist>
