<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,124}</string>
                <key>spriteSourceSize</key>
                <string>{34,124}</string>
                <key>textureRect</key>
                <string>{{973,425},{34,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,164}</string>
                <key>spriteSourceSize</key>
                <string>{201,164}</string>
                <key>textureRect</key>
                <string>{{508,688},{201,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>book1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,47}</string>
                <key>spriteSourceSize</key>
                <string>{21,47}</string>
                <key>textureRect</key>
                <string>{{153,974},{21,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>book2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,59}</string>
                <key>spriteSourceSize</key>
                <string>{21,59}</string>
                <key>textureRect</key>
                <string>{{600,656},{21,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>book3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,39}</string>
                <key>spriteSourceSize</key>
                <string>{21,39}</string>
                <key>textureRect</key>
                <string>{{76,974},{21,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>book4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,55}</string>
                <key>spriteSourceSize</key>
                <string>{21,55}</string>
                <key>textureRect</key>
                <string>{{973,576},{21,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>book5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,52}</string>
                <key>spriteSourceSize</key>
                <string>{21,52}</string>
                <key>textureRect</key>
                <string>{{99,974},{21,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,333}</string>
                <key>spriteSourceSize</key>
                <string>{284,333}</string>
                <key>textureRect</key>
                <string>{{1,688},{284,333}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chair1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,175}</string>
                <key>spriteSourceSize</key>
                <string>{129,175}</string>
                <key>textureRect</key>
                <string>{{801,665},{129,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chair2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,189}</string>
                <key>spriteSourceSize</key>
                <string>{125,189}</string>
                <key>textureRect</key>
                <string>{{674,665},{125,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chair3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,180}</string>
                <key>spriteSourceSize</key>
                <string>{114,180}</string>
                <key>textureRect</key>
                <string>{{508,891},{114,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,281}</string>
                <key>spriteSourceSize</key>
                <string>{197,281}</string>
                <key>textureRect</key>
                <string>{{427,293},{197,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>floor1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,48}</string>
                <key>spriteSourceSize</key>
                <string>{106,48}</string>
                <key>textureRect</key>
                <string>{{932,776},{106,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>floor2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,40}</string>
                <key>spriteSourceSize</key>
                <string>{109,40}</string>
                <key>textureRect</key>
                <string>{{932,665},{109,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>handcuffs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,68}</string>
                <key>spriteSourceSize</key>
                <string>{84,68}</string>
                <key>textureRect</key>
                <string>{{906,922},{84,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>locker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,285}</string>
                <key>spriteSourceSize</key>
                <string>{103,285}</string>
                <key>textureRect</key>
                <string>{{626,293},{103,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pcfront.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,108}</string>
                <key>spriteSourceSize</key>
                <string>{127,108}</string>
                <key>textureRect</key>
                <string>{{690,856},{127,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>piller.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,422}</string>
                <key>spriteSourceSize</key>
                <string>{266,422}</string>
                <key>textureRect</key>
                <string>{{748,1},{266,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pistole.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,29}</string>
                <key>spriteSourceSize</key>
                <string>{43,29}</string>
                <key>textureRect</key>
                <string>{{202,974},{43,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plantpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,169}</string>
                <key>spriteSourceSize</key>
                <string>{78,169}</string>
                <key>textureRect</key>
                <string>{{427,576},{78,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>policeshield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,125}</string>
                <key>spriteSourceSize</key>
                <string>{74,125}</string>
                <key>textureRect</key>
                <string>{{598,580},{74,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rifle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,86}</string>
                <key>spriteSourceSize</key>
                <string>{46,86}</string>
                <key>textureRect</key>
                <string>{{442,916},{46,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shelf1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,238}</string>
                <key>spriteSourceSize</key>
                <string>{240,238}</string>
                <key>textureRect</key>
                <string>{{731,425},{240,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shelf2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{745,290}</string>
                <key>spriteSourceSize</key>
                <string>{745,290}</string>
                <key>textureRect</key>
                <string>{{1,1},{745,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shotgun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,171}</string>
                <key>spriteSourceSize</key>
                <string>{30,171}</string>
                <key>textureRect</key>
                <string>{{427,656},{30,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>steps.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,393}</string>
                <key>spriteSourceSize</key>
                <string>{424,393}</string>
                <key>textureRect</key>
                <string>{{1,293},{424,393}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>table1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,170}</string>
                <key>spriteSourceSize</key>
                <string>{226,170}</string>
                <key>textureRect</key>
                <string>{{336,688},{226,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>walkietalkie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,73}</string>
                <key>spriteSourceSize</key>
                <string>{33,73}</string>
                <key>textureRect</key>
                <string>{{1,974},{33,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wallbrick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,23}</string>
                <key>spriteSourceSize</key>
                <string>{41,23}</string>
                <key>textureRect</key>
                <string>{{973,551},{41,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wallhanger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,104}</string>
                <key>spriteSourceSize</key>
                <string>{87,104}</string>
                <key>textureRect</key>
                <string>{{800,922},{87,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>waterbottle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,109}</string>
                <key>spriteSourceSize</key>
                <string>{78,109}</string>
                <key>textureRect</key>
                <string>{{801,842},{78,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>waterholder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,104}</string>
                <key>spriteSourceSize</key>
                <string>{97,104}</string>
                <key>textureRect</key>
                <string>{{336,916},{97,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>policestation.png</string>
            <key>size</key>
            <string>{1015,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e95b88c2763ba1000cd7006a66c9aed:599da59ec534a45dd975b27ac7bba36e:81de44590399f758f812903a9b903c23$</string>
            <key>textureFileName</key>
            <string>policestation.png</string>
        </dict>
    </dict>
</plist>
