<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>electricalshop/edooranimation1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,141}</string>
                <key>spriteSourceSize</key>
                <string>{124,141}</string>
                <key>textureRect</key>
                <string>{{145,385},{124,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>electricalshop/edooranimation2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,142}</string>
                <key>spriteSourceSize</key>
                <string>{124,142}</string>
                <key>textureRect</key>
                <string>{{1,385},{124,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>electricalshop/edooranimation3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,141}</string>
                <key>spriteSourceSize</key>
                <string>{124,141}</string>
                <key>textureRect</key>
                <string>{{288,385},{124,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>electricalshop/flashlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,35}</string>
                <key>spriteSourceSize</key>
                <string>{37,35}</string>
                <key>textureRect</key>
                <string>{{451,111},{37,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>electricalshop/floortile1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,13}</string>
                <key>spriteSourceSize</key>
                <string>{65,13}</string>
                <key>textureRect</key>
                <string>{{451,148},{65,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>electricalshop/floortile2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,38}</string>
                <key>spriteSourceSize</key>
                <string>{64,38}</string>
                <key>textureRect</key>
                <string>{{451,45},{64,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>electricalshop/foundationtile1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{451,1},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>electricalshop/foundationtile2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,43}</string>
                <key>spriteSourceSize</key>
                <string>{40,43}</string>
                <key>textureRect</key>
                <string>{{431,463},{40,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>electricalshop/stairs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,382}</string>
                <key>spriteSourceSize</key>
                <string>{448,382}</string>
                <key>textureRect</key>
                <string>{{1,1},{448,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>electricalshop/wirebobinred.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,69}</string>
                <key>spriteSourceSize</key>
                <string>{76,69}</string>
                <key>textureRect</key>
                <string>{{431,385},{76,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>electricalshop.png</string>
            <key>size</key>
            <string>{501,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d583c733a1807d8ba7926b2380d2b1c:7c2e04790318c4c5edb41f9e37dc2b1e:c99650ff21635156d013552b32bcc269$</string>
            <key>textureFileName</key>
            <string>electricalshop.png</string>
        </dict>
    </dict>
</plist>
