<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mpira_wangu_mwekundu/MbwanaMamba_hut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{730,777}</string>
                <key>spriteSourceSize</key>
                <string>{730,777}</string>
                <key>textureRect</key>
                <string>{{1,1},{730,777}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/MbwanaMamba_tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,345}</string>
                <key>spriteSourceSize</key>
                <string>{405,345}</string>
                <key>textureRect</key>
                <string>{{1,1418},{405,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/Mpirawangumwekundu_ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{636,636}</string>
                <key>spriteSourceSize</key>
                <string>{636,636}</string>
                <key>textureRect</key>
                <string>{{1,780},{636,636}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/Mpirawangumwekundu_ladder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,416}</string>
                <key>spriteSourceSize</key>
                <string>{168,416}</string>
                <key>textureRect</key>
                <string>{{639,831},{168,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/Mpirawangumwekundu_moon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,234}</string>
                <key>spriteSourceSize</key>
                <string>{223,234}</string>
                <key>textureRect</key>
                <string>{{719,1342},{223,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/arm_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,53}</string>
                <key>spriteSourceSize</key>
                <string>{34,53}</string>
                <key>textureRect</key>
                <string>{{748,1287},{34,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/arm_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,110}</string>
                <key>spriteSourceSize</key>
                <string>{24,110}</string>
                <key>textureRect</key>
                <string>{{808,1923},{24,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/arm_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,131}</string>
                <key>spriteSourceSize</key>
                <string>{28,131}</string>
                <key>textureRect</key>
                <string>{{667,2037},{28,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mpira_wangu_mwekundu/face .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,263}</string>
                <key>spriteSourceSize</key>
                <string>{326,263}</string>
                <key>textureRect</key>
                <string>{{733,503},{326,263}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mpira_wangu_mwekundu/farmer_shirt_sleave_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,59}</string>
                <key>spriteSourceSize</key>
                <string>{36,59}</string>
                <key>textureRect</key>
                <string>{{748,1249},{36,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mpira_wangu_mwekundu/gface1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,309}</string>
                <key>spriteSourceSize</key>
                <string>{346,309}</string>
                <key>textureRect</key>
                <string>{{408,1418},{346,309}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mpira_wangu_mwekundu/gface3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,309}</string>
                <key>spriteSourceSize</key>
                <string>{346,309}</string>
                <key>textureRect</key>
                <string>{{319,1766},{346,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,38}</string>
                <key>spriteSourceSize</key>
                <string>{25,38}</string>
                <key>textureRect</key>
                <string>{{658,1327},{25,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,86}</string>
                <key>spriteSourceSize</key>
                <string>{14,86}</string>
                <key>textureRect</key>
                <string>{{981,140},{14,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/girl_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,53}</string>
                <key>spriteSourceSize</key>
                <string>{11,53}</string>
                <key>textureRect</key>
                <string>{{784,1287},{11,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,68}</string>
                <key>spriteSourceSize</key>
                <string>{33,68}</string>
                <key>textureRect</key>
                <string>{{713,1249},{33,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/girl_sleeve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,13}</string>
                <key>spriteSourceSize</key>
                <string>{34,13}</string>
                <key>textureRect</key>
                <string>{{639,816},{34,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,137}</string>
                <key>spriteSourceSize</key>
                <string>{31,137}</string>
                <key>textureRect</key>
                <string>{{981,1},{31,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/girl_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,45}</string>
                <key>spriteSourceSize</key>
                <string>{11,45}</string>
                <key>textureRect</key>
                <string>{{981,228},{11,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/motu_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{809,1132},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/motu_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,48}</string>
                <key>spriteSourceSize</key>
                <string>{15,48}</string>
                <key>textureRect</key>
                <string>{{787,1708},{15,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/motu_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,74}</string>
                <key>spriteSourceSize</key>
                <string>{18,74}</string>
                <key>textureRect</key>
                <string>{{944,1420},{18,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/motu_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,299}</string>
                <key>spriteSourceSize</key>
                <string>{208,299}</string>
                <key>textureRect</key>
                <string>{{809,831},{208,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/motu_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,17}</string>
                <key>spriteSourceSize</key>
                <string>{80,17}</string>
                <key>textureRect</key>
                <string>{{639,1327},{80,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mpira_wangu_mwekundu/pigeon_beak_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,66}</string>
                <key>spriteSourceSize</key>
                <string>{53,66}</string>
                <key>textureRect</key>
                <string>{{719,1708},{53,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mpira_wangu_mwekundu/pigeon_beak_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,34}</string>
                <key>spriteSourceSize</key>
                <string>{77,34}</string>
                <key>textureRect</key>
                <string>{{639,780},{77,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/pigeon_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{500,246}</string>
                <key>spriteSourceSize</key>
                <string>{516,246}</string>
                <key>textureRect</key>
                <string>{{733,1},{500,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mpira_wangu_mwekundu/pigeon_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{834,1923},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/pigeon_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{316,314}</string>
                <key>spriteSourceSize</key>
                <string>{318,314}</string>
                <key>textureRect</key>
                <string>{{1,1765},{316,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/pigeon_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,76}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{639,1249},{72,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/pigeon_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,76}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{944,1342},{72,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/pigeon_right_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,128}</string>
                <key>spriteSourceSize</key>
                <string>{267,128}</string>
                <key>textureRect</key>
                <string>{{719,1578},{267,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/pigeon_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,209}</string>
                <key>spriteSourceSize</key>
                <string>{213,209}</string>
                <key>textureRect</key>
                <string>{{808,1708},{213,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mpira_wangu_mwekundu/pigeon_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,139}</string>
                <key>spriteSourceSize</key>
                <string>{269,139}</string>
                <key>textureRect</key>
                <string>{{667,1766},{269,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mpira_wangu_mwekundu.png</string>
            <key>size</key>
            <string>{1018,2080}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4484545893eaca4b8fa5748c225c2b91:fceeb2f23876685d3bea8e0c329101ac:fe847ff7ea197e2cd4d22d709482c0a7$</string>
            <key>textureFileName</key>
            <string>Mpira_wangu_mwekundu.png</string>
        </dict>
    </dict>
</plist>
