<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mpira_wangu_mwekundu/MbwanaMamba_hut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{730,777}</string>
                <key>spriteSourceSize</key>
                <string>{730,777}</string>
                <key>textureRect</key>
                <string>{{1,1},{730,777}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mpira_wangu_mwekundu/MbwanaMamba_tree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,345}</string>
                <key>spriteSourceSize</key>
                <string>{405,345}</string>
                <key>textureRect</key>
                <string>{{1,1626},{405,345}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mpira_wangu_mwekundu/Mpirawangumwekundu_ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{636,636}</string>
                <key>spriteSourceSize</key>
                <string>{636,636}</string>
                <key>textureRect</key>
                <string>{{1,733},{636,636}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/Mpirawangumwekundu_ladder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,416}</string>
                <key>spriteSourceSize</key>
                <string>{168,416}</string>
                <key>textureRect</key>
                <string>{{348,1619},{168,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/Mpirawangumwekundu_moon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,234}</string>
                <key>spriteSourceSize</key>
                <string>{223,234}</string>
                <key>textureRect</key>
                <string>{{780,1},{223,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/arm_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,53}</string>
                <key>spriteSourceSize</key>
                <string>{34,53}</string>
                <key>textureRect</key>
                <string>{{596,1458},{34,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/arm_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,110}</string>
                <key>spriteSourceSize</key>
                <string>{24,110}</string>
                <key>textureRect</key>
                <string>{{518,1371},{24,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mpira_wangu_mwekundu/arm_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,131}</string>
                <key>spriteSourceSize</key>
                <string>{28,131}</string>
                <key>textureRect</key>
                <string>{{852,959},{28,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mpira_wangu_mwekundu/farmer_shirt_sleave_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,59}</string>
                <key>spriteSourceSize</key>
                <string>{36,59}</string>
                <key>textureRect</key>
                <string>{{600,1397},{36,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/gface1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,309}</string>
                <key>spriteSourceSize</key>
                <string>{346,309}</string>
                <key>textureRect</key>
                <string>{{639,1004},{346,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/gface3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,309}</string>
                <key>spriteSourceSize</key>
                <string>{346,309}</string>
                <key>textureRect</key>
                <string>{{639,1315},{346,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,38}</string>
                <key>spriteSourceSize</key>
                <string>{25,38}</string>
                <key>textureRect</key>
                <string>{{825,959},{25,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,86}</string>
                <key>spriteSourceSize</key>
                <string>{14,86}</string>
                <key>textureRect</key>
                <string>{{987,1009},{14,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/girl_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,53}</string>
                <key>spriteSourceSize</key>
                <string>{11,53}</string>
                <key>textureRect</key>
                <string>{{990,484},{11,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,68}</string>
                <key>spriteSourceSize</key>
                <string>{33,68}</string>
                <key>textureRect</key>
                <string>{{596,1513},{33,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/girl_sleeve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,13}</string>
                <key>spriteSourceSize</key>
                <string>{34,13}</string>
                <key>textureRect</key>
                <string>{{990,448},{34,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mpira_wangu_mwekundu/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,137}</string>
                <key>spriteSourceSize</key>
                <string>{31,137}</string>
                <key>textureRect</key>
                <string>{{596,1583},{31,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/girl_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,45}</string>
                <key>spriteSourceSize</key>
                <string>{11,45}</string>
                <key>textureRect</key>
                <string>{{990,539},{11,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/motu_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,208}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{780,749},{208,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/motu_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,48}</string>
                <key>spriteSourceSize</key>
                <string>{15,48}</string>
                <key>textureRect</key>
                <string>{{987,959},{15,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/motu_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,74}</string>
                <key>spriteSourceSize</key>
                <string>{18,74}</string>
                <key>textureRect</key>
                <string>{{518,1600},{18,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mpira_wangu_mwekundu/motu_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,299}</string>
                <key>spriteSourceSize</key>
                <string>{208,299}</string>
                <key>textureRect</key>
                <string>{{780,448},{208,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/motu_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,17}</string>
                <key>spriteSourceSize</key>
                <string>{80,17}</string>
                <key>textureRect</key>
                <string>{{518,1397},{80,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/pigeon_beak_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,66}</string>
                <key>spriteSourceSize</key>
                <string>{53,66}</string>
                <key>textureRect</key>
                <string>{{518,1620},{53,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mpira_wangu_mwekundu/pigeon_beak_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,34}</string>
                <key>spriteSourceSize</key>
                <string>{77,34}</string>
                <key>textureRect</key>
                <string>{{518,1416},{77,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/pigeon_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{500,246}</string>
                <key>spriteSourceSize</key>
                <string>{516,246}</string>
                <key>textureRect</key>
                <string>{{1,1371},{500,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/pigeon_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{780,959},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/pigeon_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{316,314}</string>
                <key>spriteSourceSize</key>
                <string>{318,314}</string>
                <key>textureRect</key>
                <string>{{648,1626},{316,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/pigeon_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,76}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{518,1452},{72,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mpira_wangu_mwekundu/pigeon_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,76}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{518,1526},{72,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mpira_wangu_mwekundu/pigeon_right_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,128}</string>
                <key>spriteSourceSize</key>
                <string>{267,128}</string>
                <key>textureRect</key>
                <string>{{518,1722},{267,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mpira_wangu_mwekundu/pigeon_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,209}</string>
                <key>spriteSourceSize</key>
                <string>{213,209}</string>
                <key>textureRect</key>
                <string>{{780,237},{213,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mpira_wangu_mwekundu/pigeon_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,139}</string>
                <key>spriteSourceSize</key>
                <string>{269,139}</string>
                <key>textureRect</key>
                <string>{{639,733},{269,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mpira_wangu_mwekundu.png</string>
            <key>size</key>
            <string>{1004,2036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e112269d6bb1dfb1b26884d940b5250f:a6343d588ed250afe749ea4e7115d0af:fe847ff7ea197e2cd4d22d709482c0a7$</string>
            <key>textureFileName</key>
            <string>Mpira_wangu_mwekundu.png</string>
        </dict>
    </dict>
</plist>
