<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hadithi_kumhusu_wangari/beetroot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,143}</string>
                <key>spriteSourceSize</key>
                <string>{59,143}</string>
                <key>textureRect</key>
                <string>{{1912,2258},{59,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hadithi_kumhusu_wangari/bird1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{61,49}</string>
                <key>spriteSourceSize</key>
                <string>{81,125}</string>
                <key>textureRect</key>
                <string>{{1912,2403},{61,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hadithi_kumhusu_wangari/bird2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,13}</string>
                <key>spriteSize</key>
                <string>{57,85}</string>
                <key>spriteSourceSize</key>
                <string>{81,125}</string>
                <key>textureRect</key>
                <string>{{1856,3918},{57,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hadithi_kumhusu_wangari/bird3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-25}</string>
                <key>spriteSize</key>
                <string>{53,57}</string>
                <key>spriteSourceSize</key>
                <string>{81,125}</string>
                <key>textureRect</key>
                <string>{{1912,2466},{53,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hadithi_kumhusu_wangari/book.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{847,627}</string>
                <key>spriteSourceSize</key>
                <string>{847,627}</string>
                <key>textureRect</key>
                <string>{{916,1048},{847,627}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hadithi_kumhusu_wangari/book1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,365}</string>
                <key>spriteSourceSize</key>
                <string>{271,365}</string>
                <key>textureRect</key>
                <string>{{1545,2258},{271,365}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hadithi_kumhusu_wangari/book2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,205}</string>
                <key>spriteSourceSize</key>
                <string>{184,205}</string>
                <key>textureRect</key>
                <string>{{1803,3322},{184,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hadithi_kumhusu_wangari/book3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,285}</string>
                <key>spriteSourceSize</key>
                <string>{247,285}</string>
                <key>textureRect</key>
                <string>{{1524,3065},{247,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hadithi_kumhusu_wangari/carrot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,244}</string>
                <key>spriteSourceSize</key>
                <string>{68,244}</string>
                <key>textureRect</key>
                <string>{{1891,1},{68,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hadithi_kumhusu_wangari/deer_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{642,461}</string>
                <key>spriteSourceSize</key>
                <string>{642,461}</string>
                <key>textureRect</key>
                <string>{{1545,1195},{642,461}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hadithi_kumhusu_wangari/deer_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,79}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{1856,3763},{78,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hadithi_kumhusu_wangari/deer_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1065,1045}</string>
                <key>spriteSourceSize</key>
                <string>{1065,1045}</string>
                <key>textureRect</key>
                <string>{{1,1},{1065,1045}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hadithi_kumhusu_wangari/deer_lower_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,149}</string>
                <key>spriteSourceSize</key>
                <string>{47,149}</string>
                <key>textureRect</key>
                <string>{{1973,2116},{47,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hadithi_kumhusu_wangari/deer_lower_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,149}</string>
                <key>spriteSourceSize</key>
                <string>{47,149}</string>
                <key>textureRect</key>
                <string>{{1891,404},{47,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hadithi_kumhusu_wangari/deer_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,207}</string>
                <key>spriteSourceSize</key>
                <string>{179,207}</string>
                <key>textureRect</key>
                <string>{{1781,2531},{179,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hadithi_kumhusu_wangari/deer_upper_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,136}</string>
                <key>spriteSourceSize</key>
                <string>{54,136}</string>
                <key>textureRect</key>
                <string>{{1973,1978},{54,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hadithi_kumhusu_wangari/deer_upper_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,137}</string>
                <key>spriteSourceSize</key>
                <string>{54,137}</string>
                <key>textureRect</key>
                <string>{{1973,1839},{54,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hadithi_kumhusu_wangari/dove_beak_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,132}</string>
                <key>spriteSourceSize</key>
                <string>{105,132}</string>
                <key>textureRect</key>
                <string>{{1781,2894},{105,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hadithi_kumhusu_wangari/dove_beak_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,67}</string>
                <key>spriteSourceSize</key>
                <string>{155,67}</string>
                <key>textureRect</key>
                <string>{{1891,247},{155,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hadithi_kumhusu_wangari/dove_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{997,491}</string>
                <key>spriteSourceSize</key>
                <string>{997,491}</string>
                <key>textureRect</key>
                <string>{{1068,1},{997,491}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hadithi_kumhusu_wangari/dove_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1856,3675},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hadithi_kumhusu_wangari/dove_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{627,628}</string>
                <key>spriteSourceSize</key>
                <string>{627,628}</string>
                <key>textureRect</key>
                <string>{{916,1897},{627,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hadithi_kumhusu_wangari/dove_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,152}</string>
                <key>spriteSourceSize</key>
                <string>{144,152}</string>
                <key>textureRect</key>
                <string>{{1803,3529},{144,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hadithi_kumhusu_wangari/dove_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,152}</string>
                <key>spriteSourceSize</key>
                <string>{144,152}</string>
                <key>textureRect</key>
                <string>{{1781,2740},{144,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hadithi_kumhusu_wangari/dove_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{426,417}</string>
                <key>spriteSourceSize</key>
                <string>{426,417}</string>
                <key>textureRect</key>
                <string>{{1545,1839},{426,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hadithi_kumhusu_wangari/dove_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{532,255}</string>
                <key>spriteSourceSize</key>
                <string>{532,255}</string>
                <key>textureRect</key>
                <string>{{1524,2531},{532,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hadithi_kumhusu_wangari/fisi_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{913,1136}</string>
                <key>spriteSourceSize</key>
                <string>{913,1136}</string>
                <key>textureRect</key>
                <string>{{1,1048},{913,1136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hadithi_kumhusu_wangari/flower1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{601,599}</string>
                <key>spriteSourceSize</key>
                <string>{601,599}</string>
                <key>textureRect</key>
                <string>{{1003,3376},{601,599}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hadithi_kumhusu_wangari/girl_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,72}</string>
                <key>spriteSourceSize</key>
                <string>{71,72}</string>
                <key>textureRect</key>
                <string>{{1856,3844},{71,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hadithi_kumhusu_wangari/girl_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{577,663}</string>
                <key>spriteSourceSize</key>
                <string>{577,663}</string>
                <key>textureRect</key>
                <string>{{338,3385},{577,663}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hadithi_kumhusu_wangari/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,76}</string>
                <key>textureRect</key>
                <string>{{1961,138},{50,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hadithi_kumhusu_wangari/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,172}</string>
                <key>spriteSourceSize</key>
                <string>{28,172}</string>
                <key>textureRect</key>
                <string>{{280,3772},{28,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hadithi_kumhusu_wangari/girl_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,105}</string>
                <key>spriteSourceSize</key>
                <string>{22,105}</string>
                <key>textureRect</key>
                <string>{{1989,3322},{22,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hadithi_kumhusu_wangari/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,135}</string>
                <key>spriteSourceSize</key>
                <string>{66,135}</string>
                <key>textureRect</key>
                <string>{{1961,1},{66,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hadithi_kumhusu_wangari/girl_shoe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,21}</string>
                <key>spriteSourceSize</key>
                <string>{105,21}</string>
                <key>textureRect</key>
                <string>{{1957,3529},{105,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hadithi_kumhusu_wangari/girl_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,248}</string>
                <key>spriteSourceSize</key>
                <string>{273,248}</string>
                <key>textureRect</key>
                <string>{{1606,3677},{273,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hadithi_kumhusu_wangari/girl_sleeve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,26}</string>
                <key>spriteSourceSize</key>
                <string>{68,26}</string>
                <key>textureRect</key>
                <string>{{310,3772},{68,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hadithi_kumhusu_wangari/girl_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,277}</string>
                <key>spriteSourceSize</key>
                <string>{203,277}</string>
                <key>textureRect</key>
                <string>{{1,3772},{203,277}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hadithi_kumhusu_wangari/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,177}</string>
                <key>spriteSourceSize</key>
                <string>{28,177}</string>
                <key>textureRect</key>
                <string>{{1068,1000},{28,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hadithi_kumhusu_wangari/girl_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,89}</string>
                <key>spriteSourceSize</key>
                <string>{21,89}</string>
                <key>textureRect</key>
                <string>{{1927,2740},{21,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hadithi_kumhusu_wangari/hadithi_book.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{847,627}</string>
                <key>spriteSourceSize</key>
                <string>{847,627}</string>
                <key>textureRect</key>
                <string>{{895,2527},{847,627}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hadithi_kumhusu_wangari/hadithi_flower1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,254}</string>
                <key>spriteSourceSize</key>
                <string>{255,254}</string>
                <key>textureRect</key>
                <string>{{1773,3065},{255,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hadithi_kumhusu_wangari/hadithi_flower2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,323}</string>
                <key>spriteSourceSize</key>
                <string>{195,323}</string>
                <key>textureRect</key>
                <string>{{1606,3352},{195,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hadithi_kumhusu_wangari/hadithi_grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1192,328}</string>
                <key>spriteSourceSize</key>
                <string>{1192,328}</string>
                <key>textureRect</key>
                <string>{{1561,1},{1192,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hadithi_kumhusu_wangari/hadithi_hill1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1197,555}</string>
                <key>spriteSourceSize</key>
                <string>{1197,555}</string>
                <key>textureRect</key>
                <string>{{338,2186},{1197,555}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hadithi_kumhusu_wangari/hadithi_hill2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1584,335}</string>
                <key>spriteSourceSize</key>
                <string>{1584,335}</string>
                <key>textureRect</key>
                <string>{{1,2186},{1584,335}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hadithi_kumhusu_wangari/touch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-200.5,200.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{404,404}</string>
                <key>textureRect</key>
                <string>{{895,2186},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hadithi_kumhusu_wangari.png</string>
            <key>size</key>
            <string>{2028,3976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa19425d7173930cc159ea63586ae8c4:df6ab383a169680dcc87a86f1699699b:401457231080bf2d8c4cb8079fa50159$</string>
            <key>textureFileName</key>
            <string>hadithi_kumhusu_wangari.png</string>
        </dict>
    </dict>
</plist>
