<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/arm_hand_left1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,26}</string>
                <key>spriteSourceSize</key>
                <string>{17,26}</string>
                <key>textureRect</key>
                <string>{{474,417},{17,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/arm_lower_right2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,55}</string>
                <key>spriteSourceSize</key>
                <string>{12,55}</string>
                <key>textureRect</key>
                <string>{{473,519},{12,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/arm_upper_left3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,66}</string>
                <key>spriteSourceSize</key>
                <string>{14,66}</string>
                <key>textureRect</key>
                <string>{{477,313},{14,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/beard_baba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,113}</string>
                <key>spriteSourceSize</key>
                <string>{214,113}</string>
                <key>textureRect</key>
                <string>{{1,924},{214,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/bee_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,214}</string>
                <key>spriteSourceSize</key>
                <string>{152,214}</string>
                <key>textureRect</key>
                <string>{{1,770},{152,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/body_female.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,140}</string>
                <key>spriteSourceSize</key>
                <string>{109,140}</string>
                <key>textureRect</key>
                <string>{{263,1209},{109,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/boy_nose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,107}</string>
                <key>spriteSourceSize</key>
                <string>{137,107}</string>
                <key>textureRect</key>
                <string>{{154,1174},{135,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/eye_girl_outer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,6}</string>
                <key>spriteSourceSize</key>
                <string>{29,6}</string>
                <key>textureRect</key>
                <string>{{484,621},{29,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/eyebrow_girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,10}</string>
                <key>spriteSourceSize</key>
                <string>{30,10}</string>
                <key>textureRect</key>
                <string>{{481,59},{30,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,170}</string>
                <key>spriteSourceSize</key>
                <string>{204,170}</string>
                <key>textureRect</key>
                <string>{{309,1},{204,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/face1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,132}</string>
                <key>spriteSourceSize</key>
                <string>{163,132}</string>
                <key>textureRect</key>
                <string>{{309,353},{163,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/girl_face1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,166}</string>
                <key>spriteSourceSize</key>
                <string>{144,166}</string>
                <key>textureRect</key>
                <string>{{309,207},{144,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{473,504},{13,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/girl_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{473,504},{13,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,43}</string>
                <key>spriteSourceSize</key>
                <string>{7,43}</string>
                <key>textureRect</key>
                <string>{{484,576},{7,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/girl_lower_hand3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,43}</string>
                <key>spriteSourceSize</key>
                <string>{7,43}</string>
                <key>textureRect</key>
                <string>{{484,576},{7,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/girl_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{484,652},{6,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/girl_lower_leg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{484,652},{6,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,34}</string>
                <key>spriteSourceSize</key>
                <string>{17,34}</string>
                <key>textureRect</key>
                <string>{{474,381},{17,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/girl_neck1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,34}</string>
                <key>spriteSourceSize</key>
                <string>{17,34}</string>
                <key>textureRect</key>
                <string>{{474,381},{17,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/girl_shoe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,5}</string>
                <key>spriteSourceSize</key>
                <string>{26,5}</string>
                <key>textureRect</key>
                <string>{{487,519},{26,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/girl_shoe1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,5}</string>
                <key>spriteSourceSize</key>
                <string>{26,5}</string>
                <key>textureRect</key>
                <string>{{487,519},{26,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/girl_skirt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,62}</string>
                <key>spriteSourceSize</key>
                <string>{68,62}</string>
                <key>textureRect</key>
                <string>{{413,1177},{68,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/girl_sleeve1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,7}</string>
                <key>spriteSourceSize</key>
                <string>{17,7}</string>
                <key>textureRect</key>
                <string>{{474,445},{17,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/girl_top1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,69}</string>
                <key>spriteSourceSize</key>
                <string>{51,69}</string>
                <key>textureRect</key>
                <string>{{217,892},{51,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,44}</string>
                <key>spriteSourceSize</key>
                <string>{7,44}</string>
                <key>textureRect</key>
                <string>{{481,198},{7,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/girl_upper_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,44}</string>
                <key>spriteSourceSize</key>
                <string>{7,44}</string>
                <key>textureRect</key>
                <string>{{481,198},{7,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/girl_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,22}</string>
                <key>spriteSourceSize</key>
                <string>{5,22}</string>
                <key>textureRect</key>
                <string>{{487,547},{5,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/girl_upper_leg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,22}</string>
                <key>spriteSourceSize</key>
                <string>{5,22}</string>
                <key>textureRect</key>
                <string>{{487,547},{5,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/hair_bun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,196}</string>
                <key>spriteSourceSize</key>
                <string>{242,196}</string>
                <key>textureRect</key>
                <string>{{279,741},{242,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/hakima_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,65}</string>
                <key>spriteSourceSize</key>
                <string>{162,65}</string>
                <key>textureRect</key>
                <string>{{309,487},{162,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/hakima_jug.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,141}</string>
                <key>spriteSourceSize</key>
                <string>{203,141}</string>
                <key>textureRect</key>
                <string>{{279,598},{203,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/hekima_brokenjug.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{276,235}</string>
                <key>spriteSourceSize</key>
                <string>{286,235}</string>
                <key>textureRect</key>
                <string>{{1,533},{276,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/housewife_pelvis_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,130}</string>
                <key>spriteSourceSize</key>
                <string>{108,130}</string>
                <key>textureRect</key>
                <string>{{154,1042},{108,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/housewife_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,148}</string>
                <key>spriteSourceSize</key>
                <string>{113,148}</string>
                <key>textureRect</key>
                <string>{{264,985},{113,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/jubba_orange_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,117}</string>
                <key>spriteSourceSize</key>
                <string>{105,117}</string>
                <key>textureRect</key>
                <string>{{1,1311},{105,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/jubba_orange_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,146}</string>
                <key>spriteSourceSize</key>
                <string>{105,146}</string>
                <key>textureRect</key>
                <string>{{1,1182},{105,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/jug.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{151,141}</string>
                <key>spriteSourceSize</key>
                <string>{183,141}</string>
                <key>textureRect</key>
                <string>{{1,1039},{151,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,43}</string>
                <key>spriteSourceSize</key>
                <string>{38,43}</string>
                <key>textureRect</key>
                <string>{{308,554},{38,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,77}</string>
                <key>spriteSourceSize</key>
                <string>{45,77}</string>
                <key>textureRect</key>
                <string>{{217,963},{45,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/leg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,120}</string>
                <key>spriteSourceSize</key>
                <string>{59,120}</string>
                <key>textureRect</key>
                <string>{{217,770},{59,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/lightbrown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,25}</string>
                <key>spriteSourceSize</key>
                <string>{11,25}</string>
                <key>textureRect</key>
                <string>{{481,32},{11,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/motu_pant_hip1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{273,1323},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/motu_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,24}</string>
                <key>spriteSourceSize</key>
                <string>{8,24}</string>
                <key>textureRect</key>
                <string>{{481,172},{8,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/motu_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,37}</string>
                <key>spriteSourceSize</key>
                <string>{9,37}</string>
                <key>textureRect</key>
                <string>{{481,91},{9,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/motu_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,147}</string>
                <key>spriteSourceSize</key>
                <string>{107,147}</string>
                <key>textureRect</key>
                <string>{{264,1100},{107,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/motu_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,8}</string>
                <key>spriteSourceSize</key>
                <string>{40,8}</string>
                <key>textureRect</key>
                <string>{{481,130},{40,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,21}</string>
                <key>spriteSourceSize</key>
                <string>{68,21}</string>
                <key>textureRect</key>
                <string>{{353,554},{68,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/mouth_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,27}</string>
                <key>spriteSourceSize</key>
                <string>{63,27}</string>
                <key>textureRect</key>
                <string>{{279,533},{63,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/sadmouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,15}</string>
                <key>spriteSourceSize</key>
                <string>{67,15}</string>
                <key>textureRect</key>
                <string>{{477,244},{67,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,530}</string>
                <key>spriteSourceSize</key>
                <string>{306,530}</string>
                <key>textureRect</key>
                <string>{{1,1},{306,530}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/woman_armbottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{11,29}</string>
                <key>spriteSourceSize</key>
                <string>{17,29}</string>
                <key>textureRect</key>
                <string>{{481,1},{11,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/woman_armtop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,48}</string>
                <key>spriteSourceSize</key>
                <string>{22,48}</string>
                <key>textureRect</key>
                <string>{{474,454},{14,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/woman_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,94}</string>
                <key>spriteSourceSize</key>
                <string>{78,94}</string>
                <key>textureRect</key>
                <string>{{414,985},{78,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/woman_skirt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,94}</string>
                <key>spriteSourceSize</key>
                <string>{78,94}</string>
                <key>textureRect</key>
                <string>{{414,1081},{78,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/woman_skirt2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{81,94}</string>
                <key>spriteSourceSize</key>
                <string>{87,94}</string>
                <key>textureRect</key>
                <string>{{379,1323},{81,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/woman_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,106}</string>
                <key>spriteSourceSize</key>
                <string>{81,106}</string>
                <key>textureRect</key>
                <string>{{190,1323},{81,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/woman_top1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,107}</string>
                <key>spriteSourceSize</key>
                <string>{80,107}</string>
                <key>textureRect</key>
                <string>{{108,1323},{80,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Anansi_na_Hekima_Anansi_and_Wisdom/woman_top2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,87}</string>
                <key>spriteSourceSize</key>
                <string>{80,87}</string>
                <key>textureRect</key>
                <string>{{405,1241},{80,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Anansi_na_Hekima_Anansi_and_Wisdom.png</string>
            <key>size</key>
            <string>{493,1431}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11d0a84f55ba4d14de32b10d475df0fb:df64c3d68e8c1668c80f79ec69adacfc:74c624e26e8fdce86ed3576cf0ca101d$</string>
            <key>textureFileName</key>
            <string>Anansi_na_Hekima_Anansi_and_Wisdom.png</string>
        </dict>
    </dict>
</plist>
