<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gamemap/gamemap/Patch The Wall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{124,1},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/Smash The Rock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,243},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/memory.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{240,1},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/order.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{356,1},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/owl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{124,117},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/pop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{240,117},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,119}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{1,122},{119,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/runningcat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{356,117},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/shoot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{122,233},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/sortit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{117,349},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/stack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{233,349},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/talk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{238,233},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/train.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{349,349},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/tri1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{48,47}</string>
                <key>spriteSourceSize</key>
                <string>{56,53}</string>
                <key>textureRect</key>
                <string>{{51,410},{48,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/tri2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{48,49}</string>
                <key>spriteSourceSize</key>
                <string>{56,53}</string>
                <key>textureRect</key>
                <string>{{1,359},{48,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/tri3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{48,49}</string>
                <key>spriteSourceSize</key>
                <string>{56,53}</string>
                <key>textureRect</key>
                <string>{{1,410},{48,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/tri4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{48,49}</string>
                <key>spriteSourceSize</key>
                <string>{56,53}</string>
                <key>textureRect</key>
                <string>{{51,359},{48,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/wembley.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{354,233},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap/yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,119}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{1,1},{121,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gamemap.png</string>
            <key>size</key>
            <string>{471,464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43eec3b257ddb70332aea0e7af5dd6f4:e023f5eab044cad04da5f6d9ba6f6f09:8e6144685d05ab27c2cddc39fe1ff60f$</string>
            <key>textureFileName</key>
            <string>gamemap.png</string>
        </dict>
    </dict>
</plist>
