<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>unitslevel/City-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,126}</string>
                <key>spriteSourceSize</key>
                <string>{214,126}</string>
                <key>textureRect</key>
                <string>{{465,1},{214,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>unitslevel/City-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,250}</string>
                <key>spriteSourceSize</key>
                <string>{337,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{337,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unitslevel/car-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,123}</string>
                <key>spriteSourceSize</key>
                <string>{232,123}</string>
                <key>textureRect</key>
                <string>{{340,1},{232,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>unitslevel/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,13}</string>
                <key>spriteSourceSize</key>
                <string>{43,13}</string>
                <key>textureRect</key>
                <string>{{340,235},{43,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unitslevel/cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,7}</string>
                <key>spriteSourceSize</key>
                <string>{22,7}</string>
                <key>textureRect</key>
                <string>{{385,235},{22,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>unitslevel.png</string>
            <key>size</key>
            <string>{592,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:922d59ae00d51a889c2e4ff0734e944c:c252f2c31357e7b16d74d4e981b7cc46:f083fbb660b861243df1b73f018d7540$</string>
            <key>textureFileName</key>
            <string>unitslevel.png</string>
        </dict>
    </dict>
</plist>
