<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>levelscreen/boat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,299}</string>
                <key>spriteSourceSize</key>
                <string>{240,299}</string>
                <key>textureRect</key>
                <string>{{508,149},{240,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelscreen/boat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,299}</string>
                <key>spriteSourceSize</key>
                <string>{240,299}</string>
                <key>textureRect</key>
                <string>{{508,450},{240,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelscreen/boat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,299}</string>
                <key>spriteSourceSize</key>
                <string>{419,299}</string>
                <key>textureRect</key>
                <string>{{784,1},{419,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelscreen/cat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,253}</string>
                <key>spriteSourceSize</key>
                <string>{146,253}</string>
                <key>textureRect</key>
                <string>{{508,1},{146,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelscreen/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,115}</string>
                <key>spriteSourceSize</key>
                <string>{116,115}</string>
                <key>textureRect</key>
                <string>{{633,751},{116,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelscreen/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,27}</string>
                <key>spriteSourceSize</key>
                <string>{94,27}</string>
                <key>textureRect</key>
                <string>{{750,149},{94,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelscreen/fronthill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,75}</string>
                <key>spriteSourceSize</key>
                <string>{137,75}</string>
                <key>textureRect</key>
                <string>{{1094,842},{137,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelscreen/fronthill1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,123}</string>
                <key>spriteSourceSize</key>
                <string>{137,123}</string>
                <key>textureRect</key>
                <string>{{508,751},{137,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelscreen/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{669,109}</string>
                <key>spriteSourceSize</key>
                <string>{669,109}</string>
                <key>textureRect</key>
                <string>{{113,904},{669,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelscreen/hill1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{527,169}</string>
                <key>spriteSourceSize</key>
                <string>{527,169}</string>
                <key>textureRect</key>
                <string>{{750,302},{527,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelscreen/hills.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,367}</string>
                <key>spriteSourceSize</key>
                <string>{526,367}</string>
                <key>textureRect</key>
                <string>{{750,473},{526,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelscreen/lasthill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{505,901}</string>
                <key>spriteSourceSize</key>
                <string>{505,901}</string>
                <key>textureRect</key>
                <string>{{1,1},{505,901}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelscreen/shade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,153}</string>
                <key>spriteSourceSize</key>
                <string>{157,153}</string>
                <key>textureRect</key>
                <string>{{784,842},{157,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelscreen/shade1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,153}</string>
                <key>spriteSourceSize</key>
                <string>{157,153}</string>
                <key>textureRect</key>
                <string>{{939,842},{157,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelscreen/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1,904},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>levelscreen.png</string>
            <key>size</key>
            <string>{1278,1015}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78103266aedb0f68afa7379847aba7d2:c33e51c3f3fe24902fcb11a7e1100b8e:842fc2a36fa5562c6f5989cadeb69f96$</string>
            <key>textureFileName</key>
            <string>levelscreen.png</string>
        </dict>
    </dict>
</plist>
