<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>doors/boxbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,121}</string>
                <key>spriteSourceSize</key>
                <string>{121,121}</string>
                <key>textureRect</key>
                <string>{{587,103},{121,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doors/boxdoor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,189}</string>
                <key>spriteSourceSize</key>
                <string>{189,189}</string>
                <key>textureRect</key>
                <string>{{1,1},{189,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doors/boxdooropen1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,100}</string>
                <key>spriteSourceSize</key>
                <string>{313,100}</string>
                <key>textureRect</key>
                <string>{{383,1},{313,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doors/boxdooropen2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,52}</string>
                <key>spriteSourceSize</key>
                <string>{337,52}</string>
                <key>textureRect</key>
                <string>{{1,192},{337,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doors/boxinside.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,189}</string>
                <key>spriteSourceSize</key>
                <string>{189,189}</string>
                <key>textureRect</key>
                <string>{{192,1},{189,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doors/cowbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,52}</string>
                <key>spriteSourceSize</key>
                <string>{90,52}</string>
                <key>textureRect</key>
                <string>{{383,103},{90,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doors/cowhead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{514,179},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doors/cowleg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,35}</string>
                <key>spriteSourceSize</key>
                <string>{10,35}</string>
                <key>textureRect</key>
                <string>{{478,155},{10,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doors/cowleg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,35}</string>
                <key>spriteSourceSize</key>
                <string>{10,35}</string>
                <key>textureRect</key>
                <string>{{478,167},{10,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doors/cowtail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{383,157},{24,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doors/pigbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{87,55}</string>
                <key>spriteSourceSize</key>
                <string>{87,75}</string>
                <key>textureRect</key>
                <string>{{340,192},{87,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doors/pighead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{50,55}</string>
                <key>textureRect</key>
                <string>{{535,103},{50,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doors/pigleg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,31}</string>
                <key>spriteSourceSize</key>
                <string>{16,31}</string>
                <key>textureRect</key>
                <string>{{421,157},{16,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doors/pigleg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,31}</string>
                <key>spriteSourceSize</key>
                <string>{16,31}</string>
                <key>textureRect</key>
                <string>{{439,157},{16,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doors/pigtail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,15}</string>
                <key>spriteSourceSize</key>
                <string>{22,15}</string>
                <key>textureRect</key>
                <string>{{515,155},{22,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doors/sheepbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,56}</string>
                <key>spriteSourceSize</key>
                <string>{83,56}</string>
                <key>textureRect</key>
                <string>{{429,190},{83,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doors/sheephead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,50}</string>
                <key>spriteSourceSize</key>
                <string>{58,50}</string>
                <key>textureRect</key>
                <string>{{475,103},{58,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doors/sheepleg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,30}</string>
                <key>spriteSourceSize</key>
                <string>{9,30}</string>
                <key>textureRect</key>
                <string>{{1,246},{9,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doors/sheepleg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,30}</string>
                <key>spriteSourceSize</key>
                <string>{9,30}</string>
                <key>textureRect</key>
                <string>{{33,246},{9,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>doors/sheeptail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,19}</string>
                <key>spriteSourceSize</key>
                <string>{23,19}</string>
                <key>textureRect</key>
                <string>{{457,157},{23,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>doors.png</string>
            <key>size</key>
            <string>{709,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da8cd82da42966350523ad3fc8c30624:157b3d6cd17bd86386c8938344a4bb29:416a23881b2fb2e11f06e976c0d2ddb3$</string>
            <key>textureFileName</key>
            <string>doors.png</string>
        </dict>
    </dict>
</plist>
