<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dash/answer_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{672,114}</string>
                <key>spriteSourceSize</key>
                <string>{672,114}</string>
                <key>textureRect</key>
                <string>{{1,117},{672,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,34}</string>
                <key>spriteSourceSize</key>
                <string>{48,34}</string>
                <key>textureRect</key>
                <string>{{1621,191},{48,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/big_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{562,114}</string>
                <key>spriteSourceSize</key>
                <string>{562,114}</string>
                <key>textureRect</key>
                <string>{{1142,1},{562,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,72}</string>
                <key>spriteSourceSize</key>
                <string>{45,72}</string>
                <key>textureRect</key>
                <string>{{1641,117},{45,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/body_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,72}</string>
                <key>spriteSourceSize</key>
                <string>{45,72}</string>
                <key>textureRect</key>
                <string>{{1815,158},{45,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1139,114}</string>
                <key>spriteSourceSize</key>
                <string>{1139,114}</string>
                <key>textureRect</key>
                <string>{{1,1},{1139,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,115}</string>
                <key>spriteSourceSize</key>
                <string>{116,115}</string>
                <key>textureRect</key>
                <string>{{1390,117},{116,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,32}</string>
                <key>spriteSourceSize</key>
                <string>{111,32}</string>
                <key>textureRect</key>
                <string>{{1508,191},{111,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,9}</string>
                <key>spriteSourceSize</key>
                <string>{10,9}</string>
                <key>textureRect</key>
                <string>{{1671,191},{10,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,81}</string>
                <key>spriteSourceSize</key>
                <string>{93,81}</string>
                <key>textureRect</key>
                <string>{{1881,1},{93,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dash/face_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,81}</string>
                <key>spriteSourceSize</key>
                <string>{93,81}</string>
                <key>textureRect</key>
                <string>{{1881,96},{93,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dash/flag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,125}</string>
                <key>spriteSourceSize</key>
                <string>{60,125}</string>
                <key>textureRect</key>
                <string>{{1688,158},{60,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dash/hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,30}</string>
                <key>spriteSourceSize</key>
                <string>{21,30}</string>
                <key>textureRect</key>
                <string>{{1916,191},{21,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/hand_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,29}</string>
                <key>spriteSourceSize</key>
                <string>{22,29}</string>
                <key>textureRect</key>
                <string>{{1939,191},{22,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/hint_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,114}</string>
                <key>spriteSourceSize</key>
                <string>{145,114}</string>
                <key>textureRect</key>
                <string>{{1243,117},{145,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,29}</string>
                <key>spriteSourceSize</key>
                <string>{12,29}</string>
                <key>textureRect</key>
                <string>{{1508,225},{12,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dash/leg_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,29}</string>
                <key>spriteSourceSize</key>
                <string>{12,29}</string>
                <key>textureRect</key>
                <string>{{1539,225},{12,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dash/mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,19}</string>
                <key>spriteSourceSize</key>
                <string>{52,19}</string>
                <key>textureRect</key>
                <string>{{1862,191},{52,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/mouth_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,19}</string>
                <key>spriteSourceSize</key>
                <string>{52,19}</string>
                <key>textureRect</key>
                <string>{{1862,212},{52,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/small_button_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,114}</string>
                <key>spriteSourceSize</key>
                <string>{282,114}</string>
                <key>textureRect</key>
                <string>{{675,117},{282,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/small_button_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,114}</string>
                <key>spriteSourceSize</key>
                <string>{282,114}</string>
                <key>textureRect</key>
                <string>{{959,117},{282,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/step.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,72}</string>
                <key>spriteSourceSize</key>
                <string>{131,72}</string>
                <key>textureRect</key>
                <string>{{1508,117},{131,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/step_winning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,155}</string>
                <key>spriteSourceSize</key>
                <string>{173,155}</string>
                <key>textureRect</key>
                <string>{{1706,1},{173,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dash/tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,7}</string>
                <key>spriteSourceSize</key>
                <string>{18,7}</string>
                <key>textureRect</key>
                <string>{{1697,117},{18,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dash/tail_enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,7}</string>
                <key>spriteSourceSize</key>
                <string>{19,7}</string>
                <key>textureRect</key>
                <string>{{1688,117},{19,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dash.png</string>
            <key>size</key>
            <string>{1963,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e707b1c6bb72ffe717219d94cade518b:c78a466b4e5b9ffe8424b010838bc589:1378694c875d5feb26ad4e92202f0353$</string>
            <key>textureFileName</key>
            <string>dash.png</string>
        </dict>
    </dict>
</plist>
