<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>decomon/decomon3/decomon_backgroundicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,175}</string>
                <key>spriteSourceSize</key>
                <string>{246,175}</string>
                <key>textureRect</key>
                <string>{{990,276},{246,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_edge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,165}</string>
                <key>spriteSourceSize</key>
                <string>{338,165}</string>
                <key>textureRect</key>
                <string>{{388,355},{338,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_hair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,135}</string>
                <key>spriteSourceSize</key>
                <string>{315,135}</string>
                <key>textureRect</key>
                <string>{{793,1},{315,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_hair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,212}</string>
                <key>spriteSourceSize</key>
                <string>{376,212}</string>
                <key>textureRect</key>
                <string>{{1,386},{376,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_hair_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,243}</string>
                <key>spriteSourceSize</key>
                <string>{202,243}</string>
                <key>textureRect</key>
                <string>{{1032,1},{202,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_hair_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,112}</string>
                <key>spriteSourceSize</key>
                <string>{105,112}</string>
                <key>textureRect</key>
                <string>{{1655,816},{105,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_hair_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,200}</string>
                <key>spriteSourceSize</key>
                <string>{103,200}</string>
                <key>textureRect</key>
                <string>{{1,764},{103,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_hair_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,219}</string>
                <key>spriteSourceSize</key>
                <string>{352,219}</string>
                <key>textureRect</key>
                <string>{{226,1},{352,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_hair_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,96}</string>
                <key>spriteSourceSize</key>
                <string>{303,96}</string>
                <key>textureRect</key>
                <string>{{701,637},{303,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_hair_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,109}</string>
                <key>spriteSourceSize</key>
                <string>{345,109}</string>
                <key>textureRect</key>
                <string>{{277,370},{345,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_hair_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,118}</string>
                <key>spriteSourceSize</key>
                <string>{331,118}</string>
                <key>textureRect</key>
                <string>{{447,1},{331,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_icon_camera.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,224}</string>
                <key>spriteSourceSize</key>
                <string>{316,224}</string>
                <key>textureRect</key>
                <string>{{567,1},{316,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_icon_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,186}</string>
                <key>spriteSourceSize</key>
                <string>{186,186}</string>
                <key>textureRect</key>
                <string>{{1794,619},{186,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_icon_gallery.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,224}</string>
                <key>spriteSourceSize</key>
                <string>{316,224}</string>
                <key>textureRect</key>
                <string>{{662,319},{316,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_icon_gear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,126}</string>
                <key>spriteSourceSize</key>
                <string>{269,126}</string>
                <key>textureRect</key>
                <string>{{422,695},{269,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_icon_headgear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,225}</string>
                <key>spriteSourceSize</key>
                <string>{137,225}</string>
                <key>textureRect</key>
                <string>{{1236,1},{137,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_icon_mouth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,149}</string>
                <key>spriteSourceSize</key>
                <string>{268,149}</string>
                <key>textureRect</key>
                <string>{{550,695},{268,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_icon_mustache.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,88}</string>
                <key>spriteSourceSize</key>
                <string>{279,88}</string>
                <key>textureRect</key>
                <string>{{799,637},{279,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_icon_nose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,100}</string>
                <key>spriteSourceSize</key>
                <string>{274,100}</string>
                <key>textureRect</key>
                <string>{{888,318},{274,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_icon_paintbrush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,235}</string>
                <key>spriteSourceSize</key>
                <string>{214,235}</string>
                <key>textureRect</key>
                <string>{{1167,246},{214,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_icon_skate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,105}</string>
                <key>spriteSourceSize</key>
                <string>{320,105}</string>
                <key>textureRect</key>
                <string>{{555,334},{320,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_nose_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,146}</string>
                <key>spriteSourceSize</key>
                <string>{272,146}</string>
                <key>textureRect</key>
                <string>{{889,594},{272,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_nose_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,117}</string>
                <key>spriteSourceSize</key>
                <string>{247,117}</string>
                <key>textureRect</key>
                <string>{{303,717},{247,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_nose_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,195}</string>
                <key>spriteSourceSize</key>
                <string>{195,195}</string>
                <key>textureRect</key>
                <string>{{106,764},{195,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_nose_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,100}</string>
                <key>spriteSourceSize</key>
                <string>{273,100}</string>
                <key>textureRect</key>
                <string>{{930,1},{273,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_nose_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,158}</string>
                <key>spriteSourceSize</key>
                <string>{170,158}</string>
                <key>textureRect</key>
                <string>{{1794,807},{170,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_nose_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,174}</string>
                <key>spriteSourceSize</key>
                <string>{207,174}</string>
                <key>textureRect</key>
                <string>{{1199,483},{207,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_nose_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,240}</string>
                <key>spriteSourceSize</key>
                <string>{160,240}</string>
                <key>textureRect</key>
                <string>{{1037,524},{160,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_nose_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,28}</string>
                <key>spriteSourceSize</key>
                <string>{160,28}</string>
                <key>textureRect</key>
                <string>{{864,918},{160,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_nose_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,223}</string>
                <key>spriteSourceSize</key>
                <string>{211,223}</string>
                <key>textureRect</key>
                <string>{{1375,1},{211,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_paintbucket_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,171}</string>
                <key>spriteSourceSize</key>
                <string>{195,171}</string>
                <key>textureRect</key>
                <string>{{1102,766},{195,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_paintbucket_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,171}</string>
                <key>spriteSourceSize</key>
                <string>{194,171}</string>
                <key>textureRect</key>
                <string>{{1588,1},{194,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_paintbucket_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,171}</string>
                <key>spriteSourceSize</key>
                <string>{194,171}</string>
                <key>textureRect</key>
                <string>{{1761,1},{194,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_paintbucket_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,171}</string>
                <key>spriteSourceSize</key>
                <string>{194,171}</string>
                <key>textureRect</key>
                <string>{{1761,174},{194,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_paintbucket_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,171}</string>
                <key>spriteSourceSize</key>
                <string>{195,171}</string>
                <key>textureRect</key>
                <string>{{1275,692},{195,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_paintbucket_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,171}</string>
                <key>spriteSourceSize</key>
                <string>{195,171}</string>
                <key>textureRect</key>
                <string>{{1375,483},{195,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_paintbucket_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,171}</string>
                <key>spriteSourceSize</key>
                <string>{195,171}</string>
                <key>textureRect</key>
                <string>{{1448,680},{195,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_paintbucket_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,171}</string>
                <key>spriteSourceSize</key>
                <string>{195,171}</string>
                <key>textureRect</key>
                <string>{{1383,226},{195,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_paintbucket_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,171}</string>
                <key>spriteSourceSize</key>
                <string>{195,171}</string>
                <key>textureRect</key>
                <string>{{1548,423},{195,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_paintbucket_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,171}</string>
                <key>spriteSourceSize</key>
                <string>{195,171}</string>
                <key>textureRect</key>
                <string>{{1556,226},{195,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_paintbucket_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,171}</string>
                <key>spriteSourceSize</key>
                <string>{194,171}</string>
                <key>textureRect</key>
                <string>{{1621,620},{194,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_paintbucket_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,171}</string>
                <key>spriteSourceSize</key>
                <string>{194,171}</string>
                <key>textureRect</key>
                <string>{{1721,423},{194,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_skate_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,60}</string>
                <key>spriteSourceSize</key>
                <string>{375,60}</string>
                <key>textureRect</key>
                <string>{{164,1},{375,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_skate_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,63}</string>
                <key>spriteSourceSize</key>
                <string>{30,63}</string>
                <key>textureRect</key>
                <string>{{799,918},{30,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_skate_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,75}</string>
                <key>spriteSourceSize</key>
                <string>{383,75}</string>
                <key>textureRect</key>
                <string>{{1,1},{383,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_skate_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,60}</string>
                <key>spriteSourceSize</key>
                <string>{375,60}</string>
                <key>textureRect</key>
                <string>{{215,378},{375,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_skate_e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,84}</string>
                <key>spriteSourceSize</key>
                <string>{375,84}</string>
                <key>textureRect</key>
                <string>{{78,1},{375,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_skate_f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,63}</string>
                <key>spriteSourceSize</key>
                <string>{31,63}</string>
                <key>textureRect</key>
                <string>{{555,656},{31,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_skate_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,63}</string>
                <key>spriteSourceSize</key>
                <string>{31,63}</string>
                <key>textureRect</key>
                <string>{{620,656},{31,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_skate_h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,62}</string>
                <key>spriteSourceSize</key>
                <string>{13,62}</string>
                <key>textureRect</key>
                <string>{{226,355},{13,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon3/decomon_skatetyre_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{1026,868},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_skatetyre_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{1275,889},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_skatetyre_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{1351,889},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_skatetyre_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{1427,889},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_skatetyre_e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{1503,877},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_skatetyre_f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{1579,877},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_skatetyre_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{1729,347},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon3/decomon_skatetyre_h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{1805,347},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>decomon3.png</string>
            <key>size</key>
            <string>{1981,966}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b1c1e489b6e12a11be5affd7fa5d1ee:8752e36dbc1c14531e142b4514c41bd7:274a4228b1ee610dde62a78c6b5e5855$</string>
            <key>textureFileName</key>
            <string>decomon3.png</string>
        </dict>
    </dict>
</plist>
