<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mbweha_na_jua/branch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1873,1244}</string>
                <key>spriteSourceSize</key>
                <string>{1873,1244}</string>
                <key>textureRect</key>
                <string>{{1,1},{1873,1244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{985,454}</string>
                <key>spriteSourceSize</key>
                <string>{985,454}</string>
                <key>textureRect</key>
                <string>{{1699,1496},{985,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/jackal1bleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,253}</string>
                <key>spriteSourceSize</key>
                <string>{75,253}</string>
                <key>textureRect</key>
                <string>{{1630,1952},{75,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/jackal1body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{505,251}</string>
                <key>spriteSourceSize</key>
                <string>{505,251}</string>
                <key>textureRect</key>
                <string>{{3456,1009},{505,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/jackal1face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,345}</string>
                <key>spriteSourceSize</key>
                <string>{289,345}</string>
                <key>textureRect</key>
                <string>{{3204,1821},{289,345}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/jackal1facesleep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,345}</string>
                <key>spriteSourceSize</key>
                <string>{289,345}</string>
                <key>textureRect</key>
                <string>{{3534,1515},{289,345}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/jackal1fleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,238}</string>
                <key>spriteSourceSize</key>
                <string>{71,238}</string>
                <key>textureRect</key>
                <string>{{1630,2029},{71,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/jackal1neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,162}</string>
                <key>spriteSourceSize</key>
                <string>{171,162}</string>
                <key>textureRect</key>
                <string>{{1457,1938},{171,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/jackal1tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{887,1938},{214,283}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/jackal2bleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,253}</string>
                <key>spriteSourceSize</key>
                <string>{75,253}</string>
                <key>textureRect</key>
                <string>{{1885,1952},{75,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/jackal2body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{505,251}</string>
                <key>spriteSourceSize</key>
                <string>{505,251}</string>
                <key>textureRect</key>
                <string>{{3400,1262},{505,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/jackal2face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,345}</string>
                <key>spriteSourceSize</key>
                <string>{289,345}</string>
                <key>textureRect</key>
                <string>{{3551,1806},{289,345}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/jackal2fleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,254}</string>
                <key>spriteSourceSize</key>
                <string>{75,254}</string>
                <key>textureRect</key>
                <string>{{3881,1515},{75,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/jackal2neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,162}</string>
                <key>spriteSourceSize</key>
                <string>{172,162}</string>
                <key>textureRect</key>
                <string>{{1699,1247},{172,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/jackal2tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,283}</string>
                <key>spriteSourceSize</key>
                <string>{214,283}</string>
                <key>textureRect</key>
                <string>{{1172,1938},{214,283}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/leaf_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,1016}</string>
                <key>spriteSourceSize</key>
                <string>{430,1016}</string>
                <key>textureRect</key>
                <string>{{1876,1064},{430,1016}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/mound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1006,481}</string>
                <key>spriteSourceSize</key>
                <string>{1006,481}</string>
                <key>textureRect</key>
                <string>{{3456,1},{1006,481}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/mountain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,264}</string>
                <key>spriteSourceSize</key>
                <string>{516,264}</string>
                <key>textureRect</key>
                <string>{{2686,1821},{516,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/palmtree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1061,1578}</string>
                <key>spriteSourceSize</key>
                <string>{1061,1578}</string>
                <key>textureRect</key>
                <string>{{1876,1},{1061,1578}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/puddle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{846,298}</string>
                <key>spriteSourceSize</key>
                <string>{846,298}</string>
                <key>textureRect</key>
                <string>{{2686,1521},{846,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/sheep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{455,504}</string>
                <key>spriteSourceSize</key>
                <string>{455,504}</string>
                <key>textureRect</key>
                <string>{{2894,1064},{455,504}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbweha_na_jua/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{884,896}</string>
                <key>spriteSourceSize</key>
                <string>{884,896}</string>
                <key>textureRect</key>
                <string>{{1,1247},{884,896}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/tree_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{810,689}</string>
                <key>spriteSourceSize</key>
                <string>{810,689}</string>
                <key>textureRect</key>
                <string>{{887,1247},{810,689}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbweha_na_jua/z.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,102}</string>
                <key>spriteSourceSize</key>
                <string>{98,102}</string>
                <key>textureRect</key>
                <string>{{2140,1952},{98,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mbweha_na_jua.png</string>
            <key>size</key>
            <string>{3962,2153}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1b5cacfb63ecc558c2b361f762d51dc:449c6ad660a25a66f0f5c7e4be870006:974344f4367e1fd1e9174019fa711be5$</string>
            <key>textureFileName</key>
            <string>Mbweha_na_jua.png</string>
        </dict>
    </dict>
</plist>
