<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fahali_na_Punda/Fahali2/beetroot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,143}</string>
                <key>spriteSourceSize</key>
                <string>{59,143}</string>
                <key>textureRect</key>
                <string>{{1917,820},{59,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/Fahali2/bird1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{61,49}</string>
                <key>spriteSourceSize</key>
                <string>{81,125}</string>
                <key>textureRect</key>
                <string>{{1561,385},{61,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fahali_na_Punda/Fahali2/bird2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,13}</string>
                <key>spriteSize</key>
                <string>{57,85}</string>
                <key>spriteSourceSize</key>
                <string>{81,125}</string>
                <key>textureRect</key>
                <string>{{1849,636},{57,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/Fahali2/bird3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-25}</string>
                <key>spriteSize</key>
                <string>{53,57}</string>
                <key>spriteSourceSize</key>
                <string>{81,125}</string>
                <key>textureRect</key>
                <string>{{1561,326},{53,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/Fahali2/bushes_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1017,597}</string>
                <key>spriteSourceSize</key>
                <string>{1017,597}</string>
                <key>textureRect</key>
                <string>{{1,1026},{1017,597}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/Fahali2/butterfly1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{422,323}</string>
                <key>spriteSourceSize</key>
                <string>{462,359}</string>
                <key>textureRect</key>
                <string>{{1561,1},{422,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/Fahali2/butterfly2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-22}</string>
                <key>spriteSize</key>
                <string>{418,275}</string>
                <key>spriteSourceSize</key>
                <string>{462,359}</string>
                <key>textureRect</key>
                <string>{{1020,1071},{418,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/Fahali2/butterfly3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-28}</string>
                <key>spriteSize</key>
                <string>{422,263}</string>
                <key>spriteSourceSize</key>
                <string>{462,359}</string>
                <key>textureRect</key>
                <string>{{1020,1348},{422,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/Fahali2/butterfly4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-35}</string>
                <key>spriteSize</key>
                <string>{426,249}</string>
                <key>spriteSourceSize</key>
                <string>{462,359}</string>
                <key>textureRect</key>
                <string>{{1026,820},{426,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/Fahali2/butterfly5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-53}</string>
                <key>spriteSize</key>
                <string>{404,229}</string>
                <key>spriteSourceSize</key>
                <string>{462,359}</string>
                <key>textureRect</key>
                <string>{{1454,820},{404,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fahali_na_Punda/Fahali2/butterfly6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-54}</string>
                <key>spriteSize</key>
                <string>{404,231}</string>
                <key>spriteSourceSize</key>
                <string>{462,359}</string>
                <key>textureRect</key>
                <string>{{1616,326},{404,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fahali_na_Punda/Fahali2/carrot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,244}</string>
                <key>spriteSourceSize</key>
                <string>{68,244}</string>
                <key>textureRect</key>
                <string>{{1444,1554},{68,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fahali_na_Punda/Fahali2/cow_grass_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{533,494}</string>
                <key>spriteSourceSize</key>
                <string>{533,494}</string>
                <key>textureRect</key>
                <string>{{1026,1},{533,494}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/Fahali2/cow_grass_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,321}</string>
                <key>spriteSourceSize</key>
                <string>{588,321}</string>
                <key>textureRect</key>
                <string>{{1026,497},{588,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/Fahali2/plant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1904,1562},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/Fahali2/rabbit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{256,206}</string>
                <key>spriteSourceSize</key>
                <string>{326,232}</string>
                <key>textureRect</key>
                <string>{{1685,1082},{256,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/Fahali2/rabbit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{260,230}</string>
                <key>spriteSourceSize</key>
                <string>{326,232}</string>
                <key>textureRect</key>
                <string>{{1685,820},{260,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fahali_na_Punda/Fahali2/rabbit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,232}</string>
                <key>spriteSourceSize</key>
                <string>{326,232}</string>
                <key>textureRect</key>
                <string>{{1444,1226},{326,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fahali_na_Punda/Fahali2/spinach.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,129}</string>
                <key>spriteSourceSize</key>
                <string>{96,129}</string>
                <key>textureRect</key>
                <string>{{1904,1431},{96,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/Fahali2/splash_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-53}</string>
                <key>spriteSize</key>
                <string>{52,18}</string>
                <key>spriteSourceSize</key>
                <string>{342,136}</string>
                <key>textureRect</key>
                <string>{{1985,1},{52,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fahali_na_Punda/Fahali2/splash_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-12}</string>
                <key>spriteSize</key>
                <string>{318,48}</string>
                <key>spriteSourceSize</key>
                <string>{342,136}</string>
                <key>textureRect</key>
                <string>{{1965,326},{318,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fahali_na_Punda/Fahali2/splash_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-169.5,66.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{342,136}</string>
                <key>textureRect</key>
                <string>{{1938,1290},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/Fahali2/splash_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-49}</string>
                <key>spriteSize</key>
                <string>{70,26}</string>
                <key>spriteSourceSize</key>
                <string>{342,136}</string>
                <key>textureRect</key>
                <string>{{1876,1524},{70,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fahali_na_Punda/Fahali2/splash_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-34}</string>
                <key>spriteSize</key>
                <string>{132,56}</string>
                <key>spriteSourceSize</key>
                <string>{342,136}</string>
                <key>textureRect</key>
                <string>{{1938,1297},{132,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fahali_na_Punda/Fahali2/splash_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-12}</string>
                <key>spriteSize</key>
                <string>{184,100}</string>
                <key>spriteSourceSize</key>
                <string>{342,136}</string>
                <key>textureRect</key>
                <string>{{1690,1524},{184,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/Fahali2/splash_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-5}</string>
                <key>spriteSize</key>
                <string>{224,110}</string>
                <key>spriteSourceSize</key>
                <string>{342,136}</string>
                <key>textureRect</key>
                <string>{{1678,1412},{224,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/Fahali2/splash_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-1}</string>
                <key>spriteSize</key>
                <string>{258,120}</string>
                <key>spriteSourceSize</key>
                <string>{342,136}</string>
                <key>textureRect</key>
                <string>{{1678,1290},{258,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/Fahali2/splash_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{308,114}</string>
                <key>spriteSourceSize</key>
                <string>{342,136}</string>
                <key>textureRect</key>
                <string>{{1849,326},{308,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fahali_na_Punda/Fahali2/splash_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{320,86}</string>
                <key>spriteSourceSize</key>
                <string>{342,136}</string>
                <key>textureRect</key>
                <string>{{1616,732},{320,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fahali_na_Punda/Fahali2/splash_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{330,70}</string>
                <key>spriteSourceSize</key>
                <string>{342,136}</string>
                <key>textureRect</key>
                <string>{{1943,965},{330,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fahali_na_Punda/Fahali2/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1023,1023}</string>
                <key>spriteSourceSize</key>
                <string>{1027,1027}</string>
                <key>textureRect</key>
                <string>{{1,1},{1023,1023}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Fahali2.png</string>
            <key>size</key>
            <string>{2014,1627}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5495cddf2a9949c76dbc2ec61de04590:9ea430276272ae3b525e87a8d0349b8f:89346fee55da6ea2f23eea5964fe6351$</string>
            <key>textureFileName</key>
            <string>Fahali2.png</string>
        </dict>
    </dict>
</plist>
