<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>balloonhero/blaze0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{47,70}</string>
                <key>spriteSourceSize</key>
                <string>{47,74}</string>
                <key>textureRect</key>
                <string>{{200,553},{47,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/blaze0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{47,70}</string>
                <key>spriteSourceSize</key>
                <string>{47,74}</string>
                <key>textureRect</key>
                <string>{{200,553},{47,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/blaze0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{47,70}</string>
                <key>spriteSourceSize</key>
                <string>{47,74}</string>
                <key>textureRect</key>
                <string>{{200,553},{47,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/blaze0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,74}</string>
                <key>spriteSourceSize</key>
                <string>{47,74}</string>
                <key>textureRect</key>
                <string>{{200,401},{47,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/blaze0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,74}</string>
                <key>spriteSourceSize</key>
                <string>{47,74}</string>
                <key>textureRect</key>
                <string>{{200,401},{47,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/blaze0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,74}</string>
                <key>spriteSourceSize</key>
                <string>{47,74}</string>
                <key>textureRect</key>
                <string>{{200,401},{47,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/blaze0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,74}</string>
                <key>spriteSourceSize</key>
                <string>{47,74}</string>
                <key>textureRect</key>
                <string>{{200,477},{47,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/blaze0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,74}</string>
                <key>spriteSourceSize</key>
                <string>{47,74}</string>
                <key>textureRect</key>
                <string>{{200,477},{47,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/blaze0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,74}</string>
                <key>spriteSourceSize</key>
                <string>{47,74}</string>
                <key>textureRect</key>
                <string>{{200,477},{47,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/city.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,245}</string>
                <key>spriteSourceSize</key>
                <string>{398,245}</string>
                <key>textureRect</key>
                <string>{{1,1},{398,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonhero/cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,66}</string>
                <key>spriteSourceSize</key>
                <string>{127,66}</string>
                <key>textureRect</key>
                <string>{{185,851},{127,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonhero/cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,78}</string>
                <key>spriteSourceSize</key>
                <string>{160,78}</string>
                <key>textureRect</key>
                <string>{{174,689},{160,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonhero/cloud3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,97}</string>
                <key>spriteSourceSize</key>
                <string>{200,97}</string>
                <key>textureRect</key>
                <string>{{75,673},{200,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonhero/cloud4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,76}</string>
                <key>spriteSourceSize</key>
                <string>{144,76}</string>
                <key>textureRect</key>
                <string>{{86,1043},{144,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/fg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,83}</string>
                <key>spriteSourceSize</key>
                <string>{254,83}</string>
                <key>textureRect</key>
                <string>{{1,1044},{254,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonhero/firefly.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,270}</string>
                <key>spriteSourceSize</key>
                <string>{123,270}</string>
                <key>textureRect</key>
                <string>{{75,401},{123,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{641,72}</string>
                <key>spriteSourceSize</key>
                <string>{641,72}</string>
                <key>textureRect</key>
                <string>{{1,401},{641,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonhero/meteor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,84}</string>
                <key>spriteSourceSize</key>
                <string>{93,84}</string>
                <key>textureRect</key>
                <string>{{86,1121},{93,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/meteorblast0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,84}</string>
                <key>spriteSourceSize</key>
                <string>{93,84}</string>
                <key>textureRect</key>
                <string>{{86,1207},{93,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonhero/meteorblast0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,84}</string>
                <key>spriteSourceSize</key>
                <string>{93,84}</string>
                <key>textureRect</key>
                <string>{{86,1207},{93,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonhero/meteorblast0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{23,22}</string>
                <key>spriteSourceSize</key>
                <string>{93,84}</string>
                <key>textureRect</key>
                <string>{{200,665},{23,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/meteorblast0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{23,22}</string>
                <key>spriteSourceSize</key>
                <string>{93,84}</string>
                <key>textureRect</key>
                <string>{{200,665},{23,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/meteorblast0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{41,38}</string>
                <key>spriteSourceSize</key>
                <string>{93,84}</string>
                <key>textureRect</key>
                <string>{{200,625},{41,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/meteorblast0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{41,38}</string>
                <key>spriteSourceSize</key>
                <string>{93,84}</string>
                <key>textureRect</key>
                <string>{{200,625},{41,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonhero/meteorblast0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{73,80}</string>
                <key>spriteSourceSize</key>
                <string>{93,84}</string>
                <key>textureRect</key>
                <string>{{172,1207},{73,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonhero/safe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,166}</string>
                <key>spriteSourceSize</key>
                <string>{108,166}</string>
                <key>textureRect</key>
                <string>{{75,875},{108,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>balloonhero.png</string>
            <key>size</key>
            <string>{253,1301}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6cbf5d8b21d0dbdb868131e4da94f5e:12ec86b9429c7cf599236b9fe930cf57:820d4c186e53bc13772994be55f4426a$</string>
            <key>textureFileName</key>
            <string>balloonhero.png</string>
        </dict>
    </dict>
</plist>
