<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>policestation/baton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,62}</string>
                <key>spriteSourceSize</key>
                <string>{17,62}</string>
                <key>textureRect</key>
                <string>{{143,767},{17,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>policestation/board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,82}</string>
                <key>spriteSourceSize</key>
                <string>{101,82}</string>
                <key>textureRect</key>
                <string>{{136,497},{101,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>policestation/book1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,23}</string>
                <key>spriteSourceSize</key>
                <string>{10,23}</string>
                <key>textureRect</key>
                <string>{{239,528},{10,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>policestation/book2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,29}</string>
                <key>spriteSourceSize</key>
                <string>{10,29}</string>
                <key>textureRect</key>
                <string>{{239,497},{10,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>policestation/book3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,19}</string>
                <key>spriteSourceSize</key>
                <string>{10,19}</string>
                <key>textureRect</key>
                <string>{{223,742},{10,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>policestation/book4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,27}</string>
                <key>spriteSourceSize</key>
                <string>{10,27}</string>
                <key>textureRect</key>
                <string>{{211,725},{10,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>policestation/book5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,26}</string>
                <key>spriteSourceSize</key>
                <string>{10,26}</string>
                <key>textureRect</key>
                <string>{{162,353},{10,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>policestation/cell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,166}</string>
                <key>spriteSourceSize</key>
                <string>{142,166}</string>
                <key>textureRect</key>
                <string>{{1,588},{142,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>policestation/chair1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,88}</string>
                <key>spriteSourceSize</key>
                <string>{64,88}</string>
                <key>textureRect</key>
                <string>{{145,677},{64,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>policestation/chair2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,94}</string>
                <key>spriteSourceSize</key>
                <string>{63,94}</string>
                <key>textureRect</key>
                <string>{{145,581},{63,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>policestation/chair3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,90}</string>
                <key>spriteSourceSize</key>
                <string>{57,90}</string>
                <key>textureRect</key>
                <string>{{148,261},{57,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>policestation/floor1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,24}</string>
                <key>spriteSourceSize</key>
                <string>{53,24}</string>
                <key>textureRect</key>
                <string>{{227,581},{53,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>policestation/floor2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,20}</string>
                <key>spriteSourceSize</key>
                <string>{55,20}</string>
                <key>textureRect</key>
                <string>{{235,1},{55,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>policestation/handcuffs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{42,34}</string>
                <key>textureRect</key>
                <string>{{211,681},{42,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>policestation/locker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,143}</string>
                <key>spriteSourceSize</key>
                <string>{51,143}</string>
                <key>textureRect</key>
                <string>{{148,116},{51,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>policestation/pcfront.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,54}</string>
                <key>textureRect</key>
                <string>{{201,116},{64,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>policestation/piller.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,211}</string>
                <key>spriteSourceSize</key>
                <string>{133,211}</string>
                <key>textureRect</key>
                <string>{{1,375},{133,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>policestation/pistole.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,15}</string>
                <key>spriteSourceSize</key>
                <string>{21,15}</string>
                <key>textureRect</key>
                <string>{{223,725},{21,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>policestation/plantpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,84}</string>
                <key>spriteSourceSize</key>
                <string>{39,84}</string>
                <key>textureRect</key>
                <string>{{1,756},{39,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>policestation/policeshield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,63}</string>
                <key>spriteSourceSize</key>
                <string>{37,63}</string>
                <key>textureRect</key>
                <string>{{207,236},{37,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>policestation/rifle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,43}</string>
                <key>spriteSourceSize</key>
                <string>{23,43}</string>
                <key>textureRect</key>
                <string>{{227,636},{23,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>policestation/shelf1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,119}</string>
                <key>spriteSourceSize</key>
                <string>{120,119}</string>
                <key>textureRect</key>
                <string>{{136,375},{120,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>policestation/shelf2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,145}</string>
                <key>spriteSourceSize</key>
                <string>{372,145}</string>
                <key>textureRect</key>
                <string>{{1,1},{372,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>policestation/shotgun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,85}</string>
                <key>spriteSourceSize</key>
                <string>{15,85}</string>
                <key>textureRect</key>
                <string>{{210,581},{15,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>policestation/table1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,85}</string>
                <key>spriteSourceSize</key>
                <string>{113,85}</string>
                <key>textureRect</key>
                <string>{{148,1},{113,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>policestation/walkietalkie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,37}</string>
                <key>spriteSourceSize</key>
                <string>{17,37}</string>
                <key>textureRect</key>
                <string>{{235,58},{17,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>policestation/wallbrick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,12}</string>
                <key>spriteSourceSize</key>
                <string>{20,12}</string>
                <key>textureRect</key>
                <string>{{148,353},{20,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>policestation/wallhanger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,52}</string>
                <key>spriteSourceSize</key>
                <string>{43,52}</string>
                <key>textureRect</key>
                <string>{{207,301},{43,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>policestation/waterbottle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,54}</string>
                <key>spriteSourceSize</key>
                <string>{39,54}</string>
                <key>textureRect</key>
                <string>{{87,756},{39,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>policestation/waterholder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,52}</string>
                <key>spriteSourceSize</key>
                <string>{49,52}</string>
                <key>textureRect</key>
                <string>{{201,182},{49,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>policestation.png</string>
            <key>size</key>
            <string>{256,796}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a025deda90f27ae0223067afff9da9a:c94a1c7aa4ed3a2115f2c315eaabcdb0:81de44590399f758f812903a9b903c23$</string>
            <key>textureFileName</key>
            <string>policestation.png</string>
        </dict>
    </dict>
</plist>
