<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/Kuhesabu_hill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,91}</string>
                <key>spriteSourceSize</key>
                <string>{295,91}</string>
                <key>textureRect</key>
                <string>{{1,42},{295,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/Kuhesabu_hill1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,39}</string>
                <key>spriteSourceSize</key>
                <string>{296,39}</string>
                <key>textureRect</key>
                <string>{{1,1},{296,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/Kuhesabu_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,22}</string>
                <key>spriteSourceSize</key>
                <string>{18,22}</string>
                <key>textureRect</key>
                <string>{{469,206},{18,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/Kuku_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,57}</string>
                <key>spriteSourceSize</key>
                <string>{142,57}</string>
                <key>textureRect</key>
                <string>{{1,790},{142,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/Mbuzi_van.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,153}</string>
                <key>spriteSourceSize</key>
                <string>{293,153}</string>
                <key>textureRect</key>
                <string>{{1,135},{293,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/cow_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{169,114}</string>
                <key>spriteSourceSize</key>
                <string>{173,130}</string>
                <key>textureRect</key>
                <string>{{298,129},{169,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/cow_close_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,4}</string>
                <key>spriteSourceSize</key>
                <string>{33,4}</string>
                <key>textureRect</key>
                <string>{{463,245},{33,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/cow_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,237}</string>
                <key>spriteSourceSize</key>
                <string>{259,237}</string>
                <key>textureRect</key>
                <string>{{1,551},{259,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/cow_lower_left_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,41}</string>
                <key>spriteSourceSize</key>
                <string>{21,41}</string>
                <key>textureRect</key>
                <string>{{463,382},{21,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/cow_lower_right_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,41}</string>
                <key>spriteSourceSize</key>
                <string>{21,41}</string>
                <key>textureRect</key>
                <string>{{463,425},{21,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/cow_open_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{445,572},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/cow_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,54}</string>
                <key>spriteSourceSize</key>
                <string>{16,54}</string>
                <key>textureRect</key>
                <string>{{262,551},{16,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/cow_upper_left_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,41}</string>
                <key>spriteSourceSize</key>
                <string>{18,41}</string>
                <key>textureRect</key>
                <string>{{474,35},{18,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/cow_upper_right_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,41}</string>
                <key>spriteSourceSize</key>
                <string>{18,41}</string>
                <key>textureRect</key>
                <string>{{474,78},{18,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/dog_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,104}</string>
                <key>spriteSourceSize</key>
                <string>{164,104}</string>
                <key>textureRect</key>
                <string>{{286,464},{164,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/dog_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,12}</string>
                <key>spriteSourceSize</key>
                <string>{58,12}</string>
                <key>textureRect</key>
                <string>{{262,623},{58,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/dog_eyes_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,3}</string>
                <key>spriteSourceSize</key>
                <string>{10,3}</string>
                <key>textureRect</key>
                <string>{{469,129},{10,3}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/dog_eyes_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{262,683},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/dog_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,165}</string>
                <key>spriteSourceSize</key>
                <string>{217,165}</string>
                <key>textureRect</key>
                <string>{{296,245},{217,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/dog_lower_left_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,32}</string>
                <key>spriteSourceSize</key>
                <string>{11,32}</string>
                <key>textureRect</key>
                <string>{{463,468},{11,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/dog_lower_right_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,32}</string>
                <key>spriteSourceSize</key>
                <string>{11,32}</string>
                <key>textureRect</key>
                <string>{{476,468},{11,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/dog_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,30}</string>
                <key>spriteSourceSize</key>
                <string>{25,30}</string>
                <key>textureRect</key>
                <string>{{469,164},{25,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/dog_upper_left_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,41}</string>
                <key>spriteSourceSize</key>
                <string>{13,41}</string>
                <key>textureRect</key>
                <string>{{452,538},{13,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/dog_upper_right_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,42}</string>
                <key>spriteSourceSize</key>
                <string>{13,42}</string>
                <key>textureRect</key>
                <string>{{452,503},{13,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/eye_inner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{262,607},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/eye_outer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{445,607},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/face .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,132}</string>
                <key>spriteSourceSize</key>
                <string>{163,132}</string>
                <key>textureRect</key>
                <string>{{280,570},{163,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{474,20},{13,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,43}</string>
                <key>spriteSourceSize</key>
                <string>{7,43}</string>
                <key>textureRect</key>
                <string>{{286,378},{7,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/girl_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{463,330},{6,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,34}</string>
                <key>spriteSourceSize</key>
                <string>{17,34}</string>
                <key>textureRect</key>
                <string>{{452,553},{17,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,44}</string>
                <key>spriteSourceSize</key>
                <string>{7,44}</string>
                <key>textureRect</key>
                <string>{{286,332},{7,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/girl_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,22}</string>
                <key>spriteSourceSize</key>
                <string>{5,22}</string>
                <key>textureRect</key>
                <string>{{469,226},{5,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/goat_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,126}</string>
                <key>spriteSourceSize</key>
                <string>{173,126}</string>
                <key>textureRect</key>
                <string>{{299,1},{173,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/goat_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,20}</string>
                <key>spriteSourceSize</key>
                <string>{17,20}</string>
                <key>textureRect</key>
                <string>{{474,1},{17,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/goat_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,283}</string>
                <key>spriteSourceSize</key>
                <string>{259,283}</string>
                <key>textureRect</key>
                <string>{{1,290},{259,283}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/goat_lower_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,42}</string>
                <key>spriteSourceSize</key>
                <string>{21,42}</string>
                <key>textureRect</key>
                <string>{{469,233},{21,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/goat_lower_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,42}</string>
                <key>spriteSourceSize</key>
                <string>{21,42}</string>
                <key>textureRect</key>
                <string>{{463,338},{21,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/goat_tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,29}</string>
                <key>spriteSourceSize</key>
                <string>{48,29}</string>
                <key>textureRect</key>
                <string>{{463,280},{48,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/goat_upper_left_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,41}</string>
                <key>spriteSourceSize</key>
                <string>{18,41}</string>
                <key>textureRect</key>
                <string>{{474,121},{18,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/goat_upper_right_leg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,41}</string>
                <key>spriteSourceSize</key>
                <string>{18,41}</string>
                <key>textureRect</key>
                <string>{{452,518},{18,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/motu_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{371,704},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/motu_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,24}</string>
                <key>spriteSourceSize</key>
                <string>{8,24}</string>
                <key>textureRect</key>
                <string>{{469,196},{8,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/motu_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,37}</string>
                <key>spriteSourceSize</key>
                <string>{9,37}</string>
                <key>textureRect</key>
                <string>{{452,464},{9,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/motu_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,147}</string>
                <key>spriteSourceSize</key>
                <string>{107,147}</string>
                <key>textureRect</key>
                <string>{{262,704},{107,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mbuzi_Mbwa_na_Ng_ombe/motu_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,8}</string>
                <key>spriteSourceSize</key>
                <string>{40,8}</string>
                <key>textureRect</key>
                <string>{{286,290},{40,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mbuzi_Mbwa_na_Ng_ombe.png</string>
            <key>size</key>
            <string>{495,852}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2466a55b1d17e2f513c8dba247271fe1:61406fb886510cb6a16590e75e274a03:71388805c43a2b82b321d1e044a1a49d$</string>
            <key>textureFileName</key>
            <string>Mbuzi_Mbwa_na_Ng_ombe.png</string>
        </dict>
    </dict>
</plist>
