<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sortit/cake1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,78}</string>
                <key>spriteSourceSize</key>
                <string>{219,78}</string>
                <key>textureRect</key>
                <string>{{1,1206},{219,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/cake1t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,78}</string>
                <key>spriteSourceSize</key>
                <string>{219,78}</string>
                <key>textureRect</key>
                <string>{{1,1286},{219,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/cake2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,67}</string>
                <key>spriteSourceSize</key>
                <string>{186,67}</string>
                <key>textureRect</key>
                <string>{{1,1428},{186,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/cake2t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,67}</string>
                <key>spriteSourceSize</key>
                <string>{186,67}</string>
                <key>textureRect</key>
                <string>{{1,1497},{186,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/cake3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,55}</string>
                <key>spriteSourceSize</key>
                <string>{155,55}</string>
                <key>textureRect</key>
                <string>{{1,1595},{155,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/cake3t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,55}</string>
                <key>spriteSourceSize</key>
                <string>{155,55}</string>
                <key>textureRect</key>
                <string>{{1,1652},{155,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/cake4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,43}</string>
                <key>spriteSourceSize</key>
                <string>{120,43}</string>
                <key>textureRect</key>
                <string>{{94,1773},{120,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/cake4t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,43}</string>
                <key>spriteSourceSize</key>
                <string>{120,43}</string>
                <key>textureRect</key>
                <string>{{94,1818},{120,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/cake5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,68}</string>
                <key>spriteSourceSize</key>
                <string>{63,68}</string>
                <key>textureRect</key>
                <string>{{189,1572},{63,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/cake5t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,68}</string>
                <key>spriteSourceSize</key>
                <string>{63,68}</string>
                <key>textureRect</key>
                <string>{{191,1870},{63,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/character1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,239}</string>
                <key>spriteSourceSize</key>
                <string>{168,239}</string>
                <key>textureRect</key>
                <string>{{1,367},{168,239}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/character2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,235}</string>
                <key>spriteSourceSize</key>
                <string>{198,235}</string>
                <key>textureRect</key>
                <string>{{1,537},{198,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/character3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,228}</string>
                <key>spriteSourceSize</key>
                <string>{161,228}</string>
                <key>textureRect</key>
                <string>{{1,1043},{161,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/character4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,304}</string>
                <key>spriteSourceSize</key>
                <string>{234,304}</string>
                <key>textureRect</key>
                <string>{{1,737},{234,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/clock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{158,1675},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/eyes_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,27}</string>
                <key>spriteSourceSize</key>
                <string>{107,27}</string>
                <key>textureRect</key>
                <string>{{160,1566},{107,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/eyes_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{107,15}</string>
                <key>spriteSourceSize</key>
                <string>{107,27}</string>
                <key>textureRect</key>
                <string>{{238,685},{107,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/eyes_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{128,25}</string>
                <key>spriteSourceSize</key>
                <string>{136,31}</string>
                <key>textureRect</key>
                <string>{{1,1709},{128,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/eyes_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{122,17}</string>
                <key>spriteSourceSize</key>
                <string>{136,31}</string>
                <key>textureRect</key>
                <string>{{237,794},{122,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/fridge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,251}</string>
                <key>spriteSourceSize</key>
                <string>{178,251}</string>
                <key>textureRect</key>
                <string>{{1,1},{178,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/harpPlay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,249}</string>
                <key>spriteSourceSize</key>
                <string>{184,249}</string>
                <key>textureRect</key>
                <string>{{1,181},{184,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/stand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,91}</string>
                <key>spriteSourceSize</key>
                <string>{256,91}</string>
                <key>textureRect</key>
                <string>{{1,1736},{256,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/string1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,216}</string>
                <key>spriteSourceSize</key>
                <string>{8,216}</string>
                <key>textureRect</key>
                <string>{{237,918},{8,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/string1t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,216}</string>
                <key>spriteSourceSize</key>
                <string>{8,216}</string>
                <key>textureRect</key>
                <string>{{231,1136},{8,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/string2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,202}</string>
                <key>spriteSourceSize</key>
                <string>{8,202}</string>
                <key>textureRect</key>
                <string>{{241,1148},{8,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/string2t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,202}</string>
                <key>spriteSourceSize</key>
                <string>{8,202}</string>
                <key>textureRect</key>
                <string>{{241,1352},{8,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/string3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,157}</string>
                <key>spriteSourceSize</key>
                <string>{9,157}</string>
                <key>textureRect</key>
                <string>{{242,367},{9,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/string3t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,157}</string>
                <key>spriteSourceSize</key>
                <string>{9,157}</string>
                <key>textureRect</key>
                <string>{{242,526},{9,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/string4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,113}</string>
                <key>spriteSourceSize</key>
                <string>{7,113}</string>
                <key>textureRect</key>
                <string>{{247,918},{7,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/string4t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,113}</string>
                <key>spriteSourceSize</key>
                <string>{7,113}</string>
                <key>textureRect</key>
                <string>{{247,1033},{7,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/string5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,83}</string>
                <key>spriteSourceSize</key>
                <string>{7,83}</string>
                <key>textureRect</key>
                <string>{{222,1206},{7,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/string5t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,83}</string>
                <key>spriteSourceSize</key>
                <string>{7,83}</string>
                <key>textureRect</key>
                <string>{{222,1291},{7,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/string6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,62}</string>
                <key>spriteSourceSize</key>
                <string>{7,62}</string>
                <key>textureRect</key>
                <string>{{231,1354},{7,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/string6t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,62}</string>
                <key>spriteSourceSize</key>
                <string>{7,62}</string>
                <key>textureRect</key>
                <string>{{230,1418},{7,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/toy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,29}</string>
                <key>spriteSourceSize</key>
                <string>{198,29}</string>
                <key>textureRect</key>
                <string>{{1,1366},{198,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/toy1t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,29}</string>
                <key>spriteSourceSize</key>
                <string>{198,29}</string>
                <key>textureRect</key>
                <string>{{1,1397},{198,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/toy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,27}</string>
                <key>spriteSourceSize</key>
                <string>{157,27}</string>
                <key>textureRect</key>
                <string>{{201,1376},{157,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/toy2t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,27}</string>
                <key>spriteSourceSize</key>
                <string>{157,27}</string>
                <key>textureRect</key>
                <string>{{1,1566},{157,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/toy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,37}</string>
                <key>spriteSourceSize</key>
                <string>{95,37}</string>
                <key>textureRect</key>
                <string>{{216,1773},{95,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sortit/toy3t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,37}</string>
                <key>spriteSourceSize</key>
                <string>{95,37}</string>
                <key>textureRect</key>
                <string>{{94,1863},{95,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/toy4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,45}</string>
                <key>spriteSourceSize</key>
                <string>{69,45}</string>
                <key>textureRect</key>
                <string>{{94,1940},{69,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/toy4t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,45}</string>
                <key>spriteSourceSize</key>
                <string>{69,45}</string>
                <key>textureRect</key>
                <string>{{165,1940},{69,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/toy5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,35}</string>
                <key>spriteSourceSize</key>
                <string>{49,35}</string>
                <key>textureRect</key>
                <string>{{189,1535},{49,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/toy5t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,35}</string>
                <key>spriteSourceSize</key>
                <string>{49,35}</string>
                <key>textureRect</key>
                <string>{{94,1736},{49,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/toy6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,29}</string>
                <key>spriteSourceSize</key>
                <string>{34,29}</string>
                <key>textureRect</key>
                <string>{{189,1642},{34,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sortit/toy6t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,29}</string>
                <key>spriteSourceSize</key>
                <string>{34,29}</string>
                <key>textureRect</key>
                <string>{{94,1902},{34,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sortit.png</string>
            <key>size</key>
            <string>{255,1993}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce372d0fbfebd8e27ae910412b459cd5:dbefdad6607935101ed470f7f1217869:adbb19eafc5ddac1579395ed2d404c0b$</string>
            <key>textureFileName</key>
            <string>sortit.png</string>
        </dict>
    </dict>
</plist>
