<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>itemlevel/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1414,328}</string>
                <key>spriteSourceSize</key>
                <string>{1414,328}</string>
                <key>textureRect</key>
                <string>{{1,1},{1414,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemlevel/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,250}</string>
                <key>spriteSourceSize</key>
                <string>{234,250}</string>
                <key>textureRect</key>
                <string>{{3528,293},{234,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>itemlevel/item_fish1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-38}</string>
                <key>spriteSize</key>
                <string>{597,208}</string>
                <key>spriteSourceSize</key>
                <string>{613,286}</string>
                <key>textureRect</key>
                <string>{{1992,309},{597,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemlevel/item_fish11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-32}</string>
                <key>spriteSize</key>
                <string>{573,222}</string>
                <key>spriteSourceSize</key>
                <string>{613,286}</string>
                <key>textureRect</key>
                <string>{{1417,309},{573,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemlevel/item_ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2109,306}</string>
                <key>spriteSourceSize</key>
                <string>{2109,306}</string>
                <key>textureRect</key>
                <string>{{1417,1},{2109,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemlevel/pant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,290}</string>
                <key>spriteSourceSize</key>
                <string>{257,290}</string>
                <key>textureRect</key>
                <string>{{3528,1},{257,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>itemlevel.png</string>
            <key>size</key>
            <string>{3786,532}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1c96ef3dca2e0218d1eeb80faa9b870:aa33ce7ad41b8a92c70cfb7537b6cb68:9208b4d54ec0d22228dedd36de25f1b8$</string>
            <key>textureFileName</key>
            <string>itemlevel.png</string>
        </dict>
    </dict>
</plist>
