<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>orderfarm/box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{724,131}</string>
                <key>spriteSourceSize</key>
                <string>{724,131}</string>
                <key>textureRect</key>
                <string>{{661,543},{724,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderfarm/boxbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{482,482}</string>
                <key>spriteSourceSize</key>
                <string>{482,482}</string>
                <key>textureRect</key>
                <string>{{1371,1},{482,482}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderfarm/cart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,561}</string>
                <key>spriteSourceSize</key>
                <string>{658,561}</string>
                <key>textureRect</key>
                <string>{{1,1},{658,561}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderfarm/egg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,102}</string>
                <key>spriteSourceSize</key>
                <string>{71,102}</string>
                <key>textureRect</key>
                <string>{{1582,857},{71,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orderfarm/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{708,269}</string>
                <key>spriteSourceSize</key>
                <string>{708,269}</string>
                <key>textureRect</key>
                <string>{{661,1},{708,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderfarm/grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{708,269}</string>
                <key>spriteSourceSize</key>
                <string>{708,269}</string>
                <key>textureRect</key>
                <string>{{661,272},{708,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderfarm/knotback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,67}</string>
                <key>spriteSourceSize</key>
                <string>{92,67}</string>
                <key>textureRect</key>
                <string>{{1235,717},{92,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderfarm/knotfront.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,147}</string>
                <key>spriteSourceSize</key>
                <string>{39,147}</string>
                <key>textureRect</key>
                <string>{{1235,676},{39,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orderfarm/pigbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-63}</string>
                <key>spriteSize</key>
                <string>{583,296}</string>
                <key>spriteSourceSize</key>
                <string>{583,422}</string>
                <key>textureRect</key>
                <string>{{650,676},{583,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderfarm/pighead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,311}</string>
                <key>spriteSourceSize</key>
                <string>{276,311}</string>
                <key>textureRect</key>
                <string>{{1387,485},{276,311}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orderfarm/pigheadeat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,311}</string>
                <key>spriteSourceSize</key>
                <string>{280,311}</string>
                <key>textureRect</key>
                <string>{{1700,503},{280,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderfarm/pigleg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,172}</string>
                <key>spriteSourceSize</key>
                <string>{86,172}</string>
                <key>textureRect</key>
                <string>{{1235,857},{86,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orderfarm/pigleg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,171}</string>
                <key>spriteSourceSize</key>
                <string>{87,171}</string>
                <key>textureRect</key>
                <string>{{1409,857},{87,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orderfarm/rope.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,708}</string>
                <key>spriteSourceSize</key>
                <string>{39,708}</string>
                <key>textureRect</key>
                <string>{{1235,816},{39,708}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>orderfarm/ropehanging.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{647,391}</string>
                <key>spriteSourceSize</key>
                <string>{647,391}</string>
                <key>textureRect</key>
                <string>{{1,564},{647,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>orderfarm/woodblock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,98}</string>
                <key>spriteSourceSize</key>
                <string>{500,98}</string>
                <key>textureRect</key>
                <string>{{1855,1},{500,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>orderfarm.png</string>
            <key>size</key>
            <string>{1981,973}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74ae180ee643adc9bf6ab643ae5f3e5a:747c7abd11356d4161adb9e2b1c85f6e:1d3d65b9f068fdaada8f88723621f7f9$</string>
            <key>textureFileName</key>
            <string>orderfarm.png</string>
        </dict>
    </dict>
</plist>
