<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>balloonpop/balloonpop_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{569,228}</string>
                <key>spriteSourceSize</key>
                <string>{569,228}</string>
                <key>textureRect</key>
                <string>{{588,751},{569,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonpop/balloonpop_done.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{253,211}</string>
                <key>spriteSourceSize</key>
                <string>{255,213}</string>
                <key>textureRect</key>
                <string>{{3590,429},{253,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonpop/balloonpop_grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,306}</string>
                <key>spriteSourceSize</key>
                <string>{209,306}</string>
                <key>textureRect</key>
                <string>{{3590,1},{209,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonpop/balloonpop_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,738}</string>
                <key>spriteSourceSize</key>
                <string>{195,738}</string>
                <key>textureRect</key>
                <string>{{2793,1},{195,738}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonpop/balloonpop_green_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{507,468}</string>
                <key>spriteSourceSize</key>
                <string>{585,558}</string>
                <key>textureRect</key>
                <string>{{1992,743},{507,468}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonpop/balloonpop_green_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{585,542}</string>
                <key>spriteSourceSize</key>
                <string>{585,558}</string>
                <key>textureRect</key>
                <string>{{1,759},{585,542}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonpop/balloonpop_green_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,5}</string>
                <key>spriteSize</key>
                <string>{198,742}</string>
                <key>spriteSourceSize</key>
                <string>{252,762}</string>
                <key>textureRect</key>
                <string>{{995,1},{198,742}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonpop/balloonpop_green_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{198,740}</string>
                <key>spriteSourceSize</key>
                <string>{252,762}</string>
                <key>textureRect</key>
                <string>{{1793,1},{198,740}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonpop/balloonpop_green_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,30}</string>
                <key>spriteSize</key>
                <string>{198,680}</string>
                <key>spriteSourceSize</key>
                <string>{252,762}</string>
                <key>textureRect</key>
                <string>{{3190,1},{198,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonpop/balloonpop_green_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{198,748}</string>
                <key>spriteSourceSize</key>
                <string>{252,762}</string>
                <key>textureRect</key>
                <string>{{395,1},{198,748}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonpop/balloonpop_green_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-10}</string>
                <key>spriteSize</key>
                <string>{198,738}</string>
                <key>spriteSourceSize</key>
                <string>{252,762}</string>
                <key>textureRect</key>
                <string>{{2393,1},{198,738}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonpop/balloonpop_pin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{194,194}</string>
                <key>spriteSourceSize</key>
                <string>{198,198}</string>
                <key>textureRect</key>
                <string>{{3400,1127},{194,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonpop/balloonpop_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,756}</string>
                <key>spriteSourceSize</key>
                <string>{195,756}</string>
                <key>textureRect</key>
                <string>{{1,1},{195,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonpop/balloonpop_red_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-291,277.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{585,558}</string>
                <key>textureRect</key>
                <string>{{395,751},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonpop/balloonpop_red_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{457,442}</string>
                <key>spriteSourceSize</key>
                <string>{585,558}</string>
                <key>textureRect</key>
                <string>{{3400,683},{457,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonpop/balloonpop_red_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{507,466}</string>
                <key>spriteSourceSize</key>
                <string>{585,558}</string>
                <key>textureRect</key>
                <string>{{2932,741},{507,466}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonpop/balloonpop_red_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{585,542}</string>
                <key>spriteSourceSize</key>
                <string>{585,558}</string>
                <key>textureRect</key>
                <string>{{818,750},{585,542}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonpop/balloonpop_red_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,7}</string>
                <key>spriteSize</key>
                <string>{198,742}</string>
                <key>spriteSourceSize</key>
                <string>{252,762}</string>
                <key>textureRect</key>
                <string>{{1195,1},{198,742}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonpop/balloonpop_red_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{198,740}</string>
                <key>spriteSourceSize</key>
                <string>{252,762}</string>
                <key>textureRect</key>
                <string>{{1993,1},{198,740}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonpop/balloonpop_red_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,32}</string>
                <key>spriteSize</key>
                <string>{198,680}</string>
                <key>spriteSourceSize</key>
                <string>{252,762}</string>
                <key>textureRect</key>
                <string>{{3390,1},{198,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonpop/balloonpop_red_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{198,748}</string>
                <key>spriteSourceSize</key>
                <string>{252,762}</string>
                <key>textureRect</key>
                <string>{{595,1},{198,748}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonpop/balloonpop_red_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-9}</string>
                <key>spriteSize</key>
                <string>{198,738}</string>
                <key>spriteSourceSize</key>
                <string>{252,762}</string>
                <key>textureRect</key>
                <string>{{2593,1},{198,738}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonpop/balloonpop_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,752}</string>
                <key>spriteSourceSize</key>
                <string>{195,752}</string>
                <key>textureRect</key>
                <string>{{198,1},{195,752}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonpop/balloonpop_yellow_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{507,468}</string>
                <key>spriteSourceSize</key>
                <string>{585,558}</string>
                <key>textureRect</key>
                <string>{{2462,741},{507,468}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>balloonpop/balloonpop_yellow_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{585,542}</string>
                <key>spriteSourceSize</key>
                <string>{585,558}</string>
                <key>textureRect</key>
                <string>{{1405,744},{585,542}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonpop/balloonpop_yellow_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,9}</string>
                <key>spriteSize</key>
                <string>{198,741}</string>
                <key>spriteSourceSize</key>
                <string>{252,763}</string>
                <key>textureRect</key>
                <string>{{1395,1},{198,741}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonpop/balloonpop_yellow_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,10}</string>
                <key>spriteSize</key>
                <string>{196,741}</string>
                <key>spriteSourceSize</key>
                <string>{252,763}</string>
                <key>textureRect</key>
                <string>{{1595,1},{196,741}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonpop/balloonpop_yellow_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,35}</string>
                <key>spriteSize</key>
                <string>{198,681}</string>
                <key>spriteSourceSize</key>
                <string>{252,763}</string>
                <key>textureRect</key>
                <string>{{2990,1},{198,681}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonpop/balloonpop_yellow_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{198,747}</string>
                <key>spriteSourceSize</key>
                <string>{252,763}</string>
                <key>textureRect</key>
                <string>{{795,1},{198,747}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonpop/balloonpop_yellow_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-9}</string>
                <key>spriteSize</key>
                <string>{198,739}</string>
                <key>spriteSourceSize</key>
                <string>{252,763}</string>
                <key>textureRect</key>
                <string>{{2193,1},{198,739}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloonpop/icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,263}</string>
                <key>spriteSourceSize</key>
                <string>{215,263}</string>
                <key>textureRect</key>
                <string>{{3590,212},{215,263}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>balloonpop.png</string>
            <key>size</key>
            <string>{3897,1322}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf534a636fd712dea1a271de93aabf93:8d40f7ab4cd814f15ad72451f1b3f7ea:dff9f004dfed89f7d7363477eb3c981c$</string>
            <key>textureFileName</key>
            <string>balloonpop.png</string>
        </dict>
    </dict>
</plist>
