<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>decomon/decomon4/backbutton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,14}</string>
                <key>spriteSourceSize</key>
                <string>{20,14}</string>
                <key>textureRect</key>
                <string>{{376,210},{20,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon4/decomon_bg1stand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{386,44}</string>
                <key>spriteSourceSize</key>
                <string>{386,44}</string>
                <key>textureRect</key>
                <string>{{1,408},{386,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon4/decomon_cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,130}</string>
                <key>spriteSourceSize</key>
                <string>{311,130}</string>
                <key>textureRect</key>
                <string>{{1,276},{311,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon4/decomon_cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,72}</string>
                <key>spriteSourceSize</key>
                <string>{141,72}</string>
                <key>textureRect</key>
                <string>{{376,1},{141,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decomon/decomon4/decomon_nail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{314,320},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon4/game_tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{376,144},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon4/spiral.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,42}</string>
                <key>spriteSourceSize</key>
                <string>{55,42}</string>
                <key>textureRect</key>
                <string>{{314,276},{55,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decomon/decomon4/splash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,273}</string>
                <key>spriteSourceSize</key>
                <string>{373,273}</string>
                <key>textureRect</key>
                <string>{{1,1},{373,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>decomon4.png</string>
            <key>size</key>
            <string>{449,453}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb3f3e99ca3fa6438dcd8e04f2b7a146:1535e902b1ec085210d4673776c1b779:8c3c6043c74b97d2fd655001e1f102ae$</string>
            <key>textureFileName</key>
            <string>decomon4.png</string>
        </dict>
    </dict>
</plist>
