<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>farmhouse/farmhouse3/granaryhouse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2418,2339}</string>
                <key>spriteSourceSize</key>
                <string>{2418,2339}</string>
                <key>textureRect</key>
                <string>{{1,1},{2418,2339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse3/power_house.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1244,2061}</string>
                <key>spriteSourceSize</key>
                <string>{1244,2061}</string>
                <key>textureRect</key>
                <string>{{2421,1},{1244,2061}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farmhouse/farmhouse3/treehouse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1694,2050}</string>
                <key>spriteSourceSize</key>
                <string>{1694,2050}</string>
                <key>textureRect</key>
                <string>{{1,2342},{1694,2050}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>farmhouse3.png</string>
            <key>size</key>
            <string>{3666,4037}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de39f958d65744e588151538322c9368:42359815122017205420a509546ee6d8:7b3b4998a97d7ad76da0e546c4d2d449$</string>
            <key>textureFileName</key>
            <string>farmhouse3.png</string>
        </dict>
    </dict>
</plist>
