<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Adun_the_beautiful/adie_grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,84}</string>
                <key>spriteSourceSize</key>
                <string>{98,84}</string>
                <key>textureRect</key>
                <string>{{757,143},{98,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/adun_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,65}</string>
                <key>spriteSourceSize</key>
                <string>{162,65}</string>
                <key>textureRect</key>
                <string>{{540,323},{162,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/adun_flower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,164}</string>
                <key>spriteSourceSize</key>
                <string>{125,164}</string>
                <key>textureRect</key>
                <string>{{413,323},{125,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/adun_grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,115}</string>
                <key>spriteSourceSize</key>
                <string>{320,115}</string>
                <key>textureRect</key>
                <string>{{442,1},{320,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/adun_grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,192}</string>
                <key>spriteSourceSize</key>
                <string>{321,192}</string>
                <key>textureRect</key>
                <string>{{1,1},{321,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/adun_grass2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,245}</string>
                <key>spriteSourceSize</key>
                <string>{320,245}</string>
                <key>textureRect</key>
                <string>{{195,1},{320,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/adun_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,51}</string>
                <key>spriteSourceSize</key>
                <string>{61,51}</string>
                <key>textureRect</key>
                <string>{{887,453},{61,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/adun_horn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,117}</string>
                <key>spriteSourceSize</key>
                <string>{137,117}</string>
                <key>textureRect</key>
                <string>{{831,314},{137,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/adun_house.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{178,130}</string>
                <key>spriteSourceSize</key>
                <string>{196,130}</string>
                <key>textureRect</key>
                <string>{{1,324},{178,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/adun_tile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,24}</string>
                <key>spriteSourceSize</key>
                <string>{75,24}</string>
                <key>textureRect</key>
                <string>{{636,245},{75,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/adun_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,130}</string>
                <key>spriteSourceSize</key>
                <string>{121,130}</string>
                <key>textureRect</key>
                <string>{{987,1},{121,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/arm_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,26}</string>
                <key>spriteSourceSize</key>
                <string>{17,26}</string>
                <key>textureRect</key>
                <string>{{315,489},{17,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/arm_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,55}</string>
                <key>spriteSourceSize</key>
                <string>{12,55}</string>
                <key>textureRect</key>
                <string>{{222,492},{12,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/arm_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,66}</string>
                <key>spriteSourceSize</key>
                <string>{14,66}</string>
                <key>textureRect</key>
                <string>{{133,492},{14,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/back_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{646,472},{28,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/back_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{607,472},{29,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/biscuit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,54}</string>
                <key>spriteSourceSize</key>
                <string>{52,54}</string>
                <key>textureRect</key>
                <string>{{831,453},{52,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,80}</string>
                <key>spriteSourceSize</key>
                <string>{132,80}</string>
                <key>textureRect</key>
                <string>{{843,143},{132,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/body_female1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,140}</string>
                <key>spriteSourceSize</key>
                <string>{109,140}</string>
                <key>textureRect</key>
                <string>{{757,1},{109,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/eye_girl_outer1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,6}</string>
                <key>spriteSourceSize</key>
                <string>{29,6}</string>
                <key>textureRect</key>
                <string>{{407,500},{29,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,10}</string>
                <key>spriteSourceSize</key>
                <string>{23,10}</string>
                <key>textureRect</key>
                <string>{{379,489},{23,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/face .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,132}</string>
                <key>spriteSourceSize</key>
                <string>{164,132}</string>
                <key>textureRect</key>
                <string>{{279,323},{164,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/front_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{684,472},{28,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/front_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,41}</string>
                <key>spriteSourceSize</key>
                <string>{21,41}</string>
                <key>textureRect</key>
                <string>{{787,469},{21,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/girl_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,166}</string>
                <key>spriteSourceSize</key>
                <string>{144,166}</string>
                <key>textureRect</key>
                <string>{{133,324},{144,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/girl_face1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,166}</string>
                <key>spriteSourceSize</key>
                <string>{144,166}</string>
                <key>textureRect</key>
                <string>{{133,324},{144,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{201,492},{13,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/girl_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{201,492},{13,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/girl_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{201,492},{13,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,43}</string>
                <key>spriteSourceSize</key>
                <string>{7,43}</string>
                <key>textureRect</key>
                <string>{{511,489},{7,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/girl_lower_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,43}</string>
                <key>spriteSourceSize</key>
                <string>{7,43}</string>
                <key>textureRect</key>
                <string>{{511,489},{7,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/girl_lower_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,43}</string>
                <key>spriteSourceSize</key>
                <string>{7,43}</string>
                <key>textureRect</key>
                <string>{{511,489},{7,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/girl_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{438,500},{6,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/girl_lower_leg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{438,500},{6,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,34}</string>
                <key>spriteSourceSize</key>
                <string>{17,34}</string>
                <key>textureRect</key>
                <string>{{279,489},{17,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/girl_neck1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,34}</string>
                <key>spriteSourceSize</key>
                <string>{17,34}</string>
                <key>textureRect</key>
                <string>{{279,489},{17,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/girl_neck2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,34}</string>
                <key>spriteSourceSize</key>
                <string>{17,34}</string>
                <key>textureRect</key>
                <string>{{279,489},{17,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/girl_shoe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,5}</string>
                <key>spriteSourceSize</key>
                <string>{26,5}</string>
                <key>textureRect</key>
                <string>{{379,501},{26,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/girl_shoe1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,5}</string>
                <key>spriteSourceSize</key>
                <string>{26,5}</string>
                <key>textureRect</key>
                <string>{{379,501},{26,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/girl_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,62}</string>
                <key>spriteSourceSize</key>
                <string>{68,62}</string>
                <key>textureRect</key>
                <string>{{836,243},{68,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/girl_sleeve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,7}</string>
                <key>spriteSourceSize</key>
                <string>{17,7}</string>
                <key>textureRect</key>
                <string>{{343,489},{17,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/girl_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,69}</string>
                <key>spriteSourceSize</key>
                <string>{51,69}</string>
                <key>textureRect</key>
                <string>{{783,243},{51,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,44}</string>
                <key>spriteSourceSize</key>
                <string>{7,44}</string>
                <key>textureRect</key>
                <string>{{466,499},{7,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/girl_upper_hand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,44}</string>
                <key>spriteSourceSize</key>
                <string>{7,44}</string>
                <key>textureRect</key>
                <string>{{466,499},{7,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/girl_upper_hand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,44}</string>
                <key>spriteSourceSize</key>
                <string>{7,44}</string>
                <key>textureRect</key>
                <string>{{466,499},{7,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/girl_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,22}</string>
                <key>spriteSourceSize</key>
                <string>{5,22}</string>
                <key>textureRect</key>
                <string>{{556,487},{5,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/girl_upper_leg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,22}</string>
                <key>spriteSourceSize</key>
                <string>{5,22}</string>
                <key>textureRect</key>
                <string>{{556,487},{5,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/hair_bun1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,196}</string>
                <key>spriteSourceSize</key>
                <string>{242,196}</string>
                <key>textureRect</key>
                <string>{{559,1},{242,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/horn_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,117}</string>
                <key>spriteSourceSize</key>
                <string>{137,117}</string>
                <key>textureRect</key>
                <string>{{868,1},{137,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/housewife_pelvis_hip1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,130}</string>
                <key>spriteSourceSize</key>
                <string>{108,130}</string>
                <key>textureRect</key>
                <string>{{987,124},{108,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/housewife_shirt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,148}</string>
                <key>spriteSourceSize</key>
                <string>{113,148}</string>
                <key>textureRect</key>
                <string>{{607,322},{113,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/lightbrown1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,25}</string>
                <key>spriteSourceSize</key>
                <string>{11,25}</string>
                <key>textureRect</key>
                <string>{{352,489},{11,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/motu_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1012,234},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/motu_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,24}</string>
                <key>spriteSourceSize</key>
                <string>{8,24}</string>
                <key>textureRect</key>
                <string>{{485,489},{8,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/motu_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,37}</string>
                <key>spriteSourceSize</key>
                <string>{9,37}</string>
                <key>textureRect</key>
                <string>{{404,489},{9,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/motu_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,147}</string>
                <key>spriteSourceSize</key>
                <string>{107,147}</string>
                <key>textureRect</key>
                <string>{{722,320},{107,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/motu_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,8}</string>
                <key>spriteSourceSize</key>
                <string>{40,8}</string>
                <key>textureRect</key>
                <string>{{443,489},{40,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/mouth_smile1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,27}</string>
                <key>spriteSourceSize</key>
                <string>{63,27}</string>
                <key>textureRect</key>
                <string>{{722,469},{63,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,78}</string>
                <key>spriteSourceSize</key>
                <string>{56,78}</string>
                <key>textureRect</key>
                <string>{{950,314},{56,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/pent3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{559,245},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/pent_lower3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,20}</string>
                <key>spriteSourceSize</key>
                <string>{6,20}</string>
                <key>textureRect</key>
                <string>{{541,498},{6,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/pent_upper3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,27}</string>
                <key>spriteSourceSize</key>
                <string>{7,27}</string>
                <key>textureRect</key>
                <string>{{512,498},{7,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/shell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,73}</string>
                <key>spriteSourceSize</key>
                <string>{119,73}</string>
                <key>textureRect</key>
                <string>{{662,245},{119,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Adun_the_beautiful/shirt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,107}</string>
                <key>spriteSourceSize</key>
                <string>{78,107}</string>
                <key>textureRect</key>
                <string>{{1008,340},{78,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/shirt2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,120}</string>
                <key>spriteSourceSize</key>
                <string>{77,120}</string>
                <key>textureRect</key>
                <string>{{950,420},{77,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/shirt3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,110}</string>
                <key>spriteSourceSize</key>
                <string>{78,110}</string>
                <key>textureRect</key>
                <string>{{900,234},{78,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Adun_the_beautiful/touch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23.5,23.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{352,502},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Adun_the_beautiful.png</string>
            <key>size</key>
            <string>{1118,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8a7af86b61641b703b539f3aa71214c:70c07ab1cf9bf6b67da76843462456de:6bfb982620f7ded5c4973c092bae3d8a$</string>
            <key>textureFileName</key>
            <string>Adun_the_beautiful.png</string>
        </dict>
    </dict>
</plist>
