<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Panya/arm_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,26}</string>
                <key>spriteSourceSize</key>
                <string>{17,26}</string>
                <key>textureRect</key>
                <string>{{114,437},{17,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panya/arm_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,55}</string>
                <key>spriteSourceSize</key>
                <string>{12,55}</string>
                <key>textureRect</key>
                <string>{{695,202},{12,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panya/arm_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,66}</string>
                <key>spriteSourceSize</key>
                <string>{14,66}</string>
                <key>textureRect</key>
                <string>{{679,202},{14,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panya/bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,69}</string>
                <key>spriteSourceSize</key>
                <string>{197,69}</string>
                <key>textureRect</key>
                <string>{{279,136},{197,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panya/eatenapple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,161}</string>
                <key>spriteSourceSize</key>
                <string>{84,161}</string>
                <key>textureRect</key>
                <string>{{292,339},{84,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Panya/face .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,132}</string>
                <key>spriteSourceSize</key>
                <string>{163,132}</string>
                <key>textureRect</key>
                <string>{{158,241},{163,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Panya/farmer_shirt_sleave_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,29}</string>
                <key>spriteSourceSize</key>
                <string>{18,29}</string>
                <key>textureRect</key>
                <string>{{412,452},{18,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Panya/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{455,358},{13,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panya/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,43}</string>
                <key>spriteSourceSize</key>
                <string>{7,43}</string>
                <key>textureRect</key>
                <string>{{425,327},{7,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Panya/girl_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,26}</string>
                <key>spriteSourceSize</key>
                <string>{6,26}</string>
                <key>textureRect</key>
                <string>{{133,437},{6,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panya/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,34}</string>
                <key>spriteSourceSize</key>
                <string>{17,34}</string>
                <key>textureRect</key>
                <string>{{242,406},{17,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Panya/girl_sleeve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,7}</string>
                <key>spriteSourceSize</key>
                <string>{17,7}</string>
                <key>textureRect</key>
                <string>{{556,450},{17,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panya/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,68}</string>
                <key>spriteSourceSize</key>
                <string>{15,68}</string>
                <key>textureRect</key>
                <string>{{679,132},{15,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panya/girl_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,22}</string>
                <key>spriteSourceSize</key>
                <string>{5,22}</string>
                <key>textureRect</key>
                <string>{{114,465},{5,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Panya/grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,133}</string>
                <key>spriteSourceSize</key>
                <string>{284,133}</string>
                <key>textureRect</key>
                <string>{{279,1},{284,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panya/light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,33}</string>
                <key>spriteSourceSize</key>
                <string>{52,33}</string>
                <key>textureRect</key>
                <string>{{1,437},{52,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panya/moon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{612,382},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panya/motu_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{480,287},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panya/motu_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,24}</string>
                <key>spriteSourceSize</key>
                <string>{8,24}</string>
                <key>textureRect</key>
                <string>{{586,382},{8,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Panya/motu_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,37}</string>
                <key>spriteSourceSize</key>
                <string>{9,37}</string>
                <key>textureRect</key>
                <string>{{242,461},{9,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Panya/motu_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,149}</string>
                <key>spriteSourceSize</key>
                <string>{104,149}</string>
                <key>textureRect</key>
                <string>{{480,136},{104,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panya/motu_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,8}</string>
                <key>spriteSourceSize</key>
                <string>{40,8}</string>
                <key>textureRect</key>
                <string>{{470,327},{40,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Panya/ratbody.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,91}</string>
                <key>spriteSourceSize</key>
                <string>{139,91}</string>
                <key>textureRect</key>
                <string>{{586,132},{139,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Panya/ratear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,56}</string>
                <key>spriteSourceSize</key>
                <string>{53,56}</string>
                <key>textureRect</key>
                <string>{{654,273},{53,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panya/ratearinside.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,47}</string>
                <key>spriteSourceSize</key>
                <string>{42,47}</string>
                <key>textureRect</key>
                <string>{{654,331},{42,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panya/rateye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,25}</string>
                <key>spriteSourceSize</key>
                <string>{24,25}</string>
                <key>textureRect</key>
                <string>{{412,425},{24,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panya/rateyeball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,6}</string>
                <key>spriteSourceSize</key>
                <string>{6,6}</string>
                <key>textureRect</key>
                <string>{{695,259},{6,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panya/ratface.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,64}</string>
                <key>spriteSourceSize</key>
                <string>{82,64}</string>
                <key>textureRect</key>
                <string>{{158,406},{82,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panya/rathair1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,4}</string>
                <key>spriteSourceSize</key>
                <string>{32,4}</string>
                <key>textureRect</key>
                <string>{{703,1},{32,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Panya/rathair2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,4}</string>
                <key>spriteSourceSize</key>
                <string>{32,4}</string>
                <key>textureRect</key>
                <string>{{703,35},{32,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Panya/ratlegback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,54}</string>
                <key>spriteSourceSize</key>
                <string>{55,54}</string>
                <key>textureRect</key>
                <string>{{556,393},{55,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Panya/ratlegfront.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,31}</string>
                <key>spriteSourceSize</key>
                <string>{57,31}</string>
                <key>textureRect</key>
                <string>{{55,437},{57,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panya/ratmouth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,9}</string>
                <key>spriteSourceSize</key>
                <string>{29,9}</string>
                <key>textureRect</key>
                <string>{{698,331},{29,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Panya/ratmouth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,8}</string>
                <key>spriteSourceSize</key>
                <string>{29,8}</string>
                <key>textureRect</key>
                <string>{{279,207},{29,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Panya/ratmouth3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,13}</string>
                <key>spriteSourceSize</key>
                <string>{20,13}</string>
                <key>textureRect</key>
                <string>{{455,336},{20,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Panya/ratnose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,12}</string>
                <key>spriteSourceSize</key>
                <string>{10,12}</string>
                <key>textureRect</key>
                <string>{{278,406},{10,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Panya/rattail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,107}</string>
                <key>spriteSourceSize</key>
                <string>{66,107}</string>
                <key>textureRect</key>
                <string>{{586,273},{66,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panya/rattrap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,34}</string>
                <key>spriteSourceSize</key>
                <string>{168,34}</string>
                <key>textureRect</key>
                <string>{{242,425},{168,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panya/rice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,53}</string>
                <key>spriteSourceSize</key>
                <string>{118,53}</string>
                <key>textureRect</key>
                <string>{{425,207},{118,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Panya/ricebag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,194}</string>
                <key>spriteSourceSize</key>
                <string>{155,194}</string>
                <key>textureRect</key>
                <string>{{1,241},{155,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panya/sofasingle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,238}</string>
                <key>spriteSourceSize</key>
                <string>{276,238}</string>
                <key>textureRect</key>
                <string>{{1,1},{276,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panya/stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,72}</string>
                <key>spriteSourceSize</key>
                <string>{99,72}</string>
                <key>textureRect</key>
                <string>{{455,393},{99,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panya/sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,130}</string>
                <key>spriteSourceSize</key>
                <string>{131,130}</string>
                <key>textureRect</key>
                <string>{{292,207},{131,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Panya/window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,129}</string>
                <key>spriteSourceSize</key>
                <string>{136,129}</string>
                <key>textureRect</key>
                <string>{{565,1},{136,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Panya.png</string>
            <key>size</key>
            <string>{708,471}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66a74ef00a35b96c1f4231f1ee2cede8:6809ab93b6a26b1bd1f829b3854f838a:db427152cf0a42b8a96d745208f96860$</string>
            <key>textureFileName</key>
            <string>Panya.png</string>
        </dict>
    </dict>
</plist>
