<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pinatacream/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{669,1},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacream/board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,33}</string>
                <key>spriteSourceSize</key>
                <string>{192,33}</string>
                <key>textureRect</key>
                <string>{{793,1},{192,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacream/cupcake1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,16}</string>
                <key>spriteSize</key>
                <string>{52,44}</string>
                <key>spriteSourceSize</key>
                <string>{146,156}</string>
                <key>textureRect</key>
                <string>{{771,195},{52,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacream/cupcake10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-32}</string>
                <key>spriteSize</key>
                <string>{110,86}</string>
                <key>spriteSourceSize</key>
                <string>{146,156}</string>
                <key>textureRect</key>
                <string>{{1,148},{110,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacream/cupcake11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-44}</string>
                <key>spriteSize</key>
                <string>{110,54}</string>
                <key>spriteSourceSize</key>
                <string>{146,156}</string>
                <key>textureRect</key>
                <string>{{659,195},{110,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacream/cupcake12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71.5,76.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{146,156}</string>
                <key>textureRect</key>
                <string>{{1,236},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacream/cupcake2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,16}</string>
                <key>spriteSize</key>
                <string>{60,48}</string>
                <key>spriteSourceSize</key>
                <string>{146,156}</string>
                <key>textureRect</key>
                <string>{{659,125},{60,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacream/cupcake3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,17}</string>
                <key>spriteSize</key>
                <string>{92,80}</string>
                <key>spriteSourceSize</key>
                <string>{146,156}</string>
                <key>textureRect</key>
                <string>{{205,148},{92,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacream/cupcake4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,17}</string>
                <key>spriteSize</key>
                <string>{104,90}</string>
                <key>spriteSourceSize</key>
                <string>{146,156}</string>
                <key>textureRect</key>
                <string>{{113,148},{104,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacream/cupcake5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{134,112}</string>
                <key>spriteSourceSize</key>
                <string>{146,156}</string>
                <key>textureRect</key>
                <string>{{425,119},{134,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacream/cupcake6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{136,122}</string>
                <key>spriteSourceSize</key>
                <string>{146,156}</string>
                <key>textureRect</key>
                <string>{{287,121},{136,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacream/cupcake7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{134,116}</string>
                <key>spriteSourceSize</key>
                <string>{146,156}</string>
                <key>textureRect</key>
                <string>{{395,1},{134,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacream/cupcake8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{136,108}</string>
                <key>spriteSourceSize</key>
                <string>{146,156}</string>
                <key>textureRect</key>
                <string>{{531,1},{136,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacream/cupcake9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-22}</string>
                <key>spriteSize</key>
                <string>{118,108}</string>
                <key>spriteSourceSize</key>
                <string>{146,156}</string>
                <key>textureRect</key>
                <string>{{539,111},{118,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacream/player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{709,125},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacream/shoot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,37}</string>
                <key>spriteSourceSize</key>
                <string>{26,37}</string>
                <key>textureRect</key>
                <string>{{539,221},{26,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacream/targeta.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{118,147}</string>
                <key>spriteSourceSize</key>
                <string>{118,149}</string>
                <key>textureRect</key>
                <string>{{246,1},{118,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacream/targetb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,145}</string>
                <key>spriteSourceSize</key>
                <string>{121,145}</string>
                <key>textureRect</key>
                <string>{{1,1},{121,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacream/targetc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,145}</string>
                <key>spriteSourceSize</key>
                <string>{120,145}</string>
                <key>textureRect</key>
                <string>{{124,1},{120,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pinatacream.png</string>
            <key>size</key>
            <string>{827,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3805dd93dff03a80f731112646c9839:5fd9812eb17a91b9732b84bfd5f701e6:d16eb80ba9832a1dac1b35fc9cad912e$</string>
            <key>textureFileName</key>
            <string>pinatacream.png</string>
        </dict>
    </dict>
</plist>
