<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pinatacream/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{757,1},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacream/board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,33}</string>
                <key>spriteSourceSize</key>
                <string>{192,33}</string>
                <key>textureRect</key>
                <string>{{1,1},{192,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacream/candy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,62}</string>
                <key>spriteSourceSize</key>
                <string>{58,62}</string>
                <key>textureRect</key>
                <string>{{850,190},{58,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacream/candy10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,45}</string>
                <key>spriteSourceSize</key>
                <string>{48,45}</string>
                <key>textureRect</key>
                <string>{{800,203},{48,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacream/candy11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,45}</string>
                <key>spriteSourceSize</key>
                <string>{48,45}</string>
                <key>textureRect</key>
                <string>{{951,93},{48,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacream/candy12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,35}</string>
                <key>spriteSourceSize</key>
                <string>{41,35}</string>
                <key>textureRect</key>
                <string>{{881,87},{41,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacream/candy13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,39}</string>
                <key>spriteSourceSize</key>
                <string>{38,39}</string>
                <key>textureRect</key>
                <string>{{47,195},{38,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacream/candy14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,22}</string>
                <key>spriteSourceSize</key>
                <string>{46,22}</string>
                <key>textureRect</key>
                <string>{{976,1},{46,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacream/candy15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,22}</string>
                <key>spriteSourceSize</key>
                <string>{46,22}</string>
                <key>textureRect</key>
                <string>{{924,79},{46,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacream/candy16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,55}</string>
                <key>spriteSourceSize</key>
                <string>{40,55}</string>
                <key>textureRect</key>
                <string>{{950,51},{40,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacream/candy17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,55}</string>
                <key>spriteSourceSize</key>
                <string>{40,55}</string>
                <key>textureRect</key>
                <string>{{909,127},{40,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacream/candy18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{47,235},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacream/candy19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{61,235},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacream/candy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,76}</string>
                <key>spriteSourceSize</key>
                <string>{46,76}</string>
                <key>textureRect</key>
                <string>{{800,125},{46,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacream/candy20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{374,236},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacream/candy21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{388,236},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacream/candy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,48}</string>
                <key>spriteSourceSize</key>
                <string>{45,48}</string>
                <key>textureRect</key>
                <string>{{951,140},{45,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacream/candy4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,48}</string>
                <key>spriteSourceSize</key>
                <string>{45,48}</string>
                <key>textureRect</key>
                <string>{{914,187},{45,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacream/candy5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,28}</string>
                <key>spriteSourceSize</key>
                <string>{63,28}</string>
                <key>textureRect</key>
                <string>{{879,125},{63,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacream/candy6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,29}</string>
                <key>spriteSourceSize</key>
                <string>{63,29}</string>
                <key>textureRect</key>
                <string>{{848,125},{63,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacream/candy7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,43}</string>
                <key>spriteSourceSize</key>
                <string>{50,43}</string>
                <key>textureRect</key>
                <string>{{36,150},{50,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacream/candy8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,28}</string>
                <key>spriteSourceSize</key>
                <string>{41,28}</string>
                <key>textureRect</key>
                <string>{{881,1},{41,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacream/candy9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,28}</string>
                <key>spriteSourceSize</key>
                <string>{41,28}</string>
                <key>textureRect</key>
                <string>{{881,44},{41,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacream/cupcake1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,16}</string>
                <key>spriteSize</key>
                <string>{52,44}</string>
                <key>spriteSourceSize</key>
                <string>{146,156}</string>
                <key>textureRect</key>
                <string>{{1,195},{52,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacream/cupcake10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-32}</string>
                <key>spriteSize</key>
                <string>{110,86}</string>
                <key>spriteSourceSize</key>
                <string>{146,156}</string>
                <key>textureRect</key>
                <string>{{374,148},{110,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacream/cupcake11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-44}</string>
                <key>spriteSize</key>
                <string>{110,54}</string>
                <key>spriteSourceSize</key>
                <string>{146,156}</string>
                <key>textureRect</key>
                <string>{{624,137},{110,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacream/cupcake12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71.5,76.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{146,156}</string>
                <key>textureRect</key>
                <string>{{75,235},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacream/cupcake2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,16}</string>
                <key>spriteSize</key>
                <string>{60,48}</string>
                <key>spriteSourceSize</key>
                <string>{146,156}</string>
                <key>textureRect</key>
                <string>{{914,1},{60,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacream/cupcake3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,17}</string>
                <key>spriteSize</key>
                <string>{92,80}</string>
                <key>spriteSourceSize</key>
                <string>{146,156}</string>
                <key>textureRect</key>
                <string>{{186,148},{92,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacream/cupcake4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,17}</string>
                <key>spriteSize</key>
                <string>{104,90}</string>
                <key>spriteSourceSize</key>
                <string>{146,156}</string>
                <key>textureRect</key>
                <string>{{268,148},{104,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacream/cupcake5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{134,112}</string>
                <key>spriteSourceSize</key>
                <string>{146,156}</string>
                <key>textureRect</key>
                <string>{{643,1},{134,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacream/cupcake6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{136,122}</string>
                <key>spriteSourceSize</key>
                <string>{146,156}</string>
                <key>textureRect</key>
                <string>{{401,1},{136,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacream/cupcake7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{134,116}</string>
                <key>spriteSourceSize</key>
                <string>{146,156}</string>
                <key>textureRect</key>
                <string>{{525,1},{134,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacream/cupcake8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{136,108}</string>
                <key>spriteSourceSize</key>
                <string>{146,156}</string>
                <key>textureRect</key>
                <string>{{486,139},{136,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacream/cupcake9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-22}</string>
                <key>spriteSize</key>
                <string>{118,108}</string>
                <key>spriteSourceSize</key>
                <string>{146,156}</string>
                <key>textureRect</key>
                <string>{{680,137},{118,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacream/peppermint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{102,98}</string>
                <key>textureRect</key>
                <string>{{88,150},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacream/player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{961,187},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacream/shoot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,37}</string>
                <key>spriteSourceSize</key>
                <string>{26,37}</string>
                <key>textureRect</key>
                <string>{{911,51},{26,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pinatacream/targeta.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{118,147}</string>
                <key>spriteSourceSize</key>
                <string>{118,149}</string>
                <key>textureRect</key>
                <string>{{36,1},{118,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacream/targetb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,145}</string>
                <key>spriteSourceSize</key>
                <string>{121,145}</string>
                <key>textureRect</key>
                <string>{{156,1},{121,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinatacream/targetc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,145}</string>
                <key>spriteSourceSize</key>
                <string>{120,145}</string>
                <key>textureRect</key>
                <string>{{279,1},{120,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pinatacream.png</string>
            <key>size</key>
            <string>{1006,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb5e70c5fa6bf8f0506aa754440ed3cd:6487993304c5add2d9abd16a0de4e185:d16eb80ba9832a1dac1b35fc9cad912e$</string>
            <key>textureFileName</key>
            <string>pinatacream.png</string>
        </dict>
    </dict>
</plist>
