<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>miningrailway/crate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{297,276}</string>
                <key>spriteSourceSize</key>
                <string>{297,276}</string>
                <key>textureRect</key>
                <string>{{1696,1245},{297,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>miningrailway/floortile2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,153}</string>
                <key>spriteSourceSize</key>
                <string>{257,153}</string>
                <key>textureRect</key>
                <string>{{782,1418},{257,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miningrailway/foundationtile1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,167}</string>
                <key>spriteSourceSize</key>
                <string>{169,167}</string>
                <key>textureRect</key>
                <string>{{782,1573},{169,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>miningrailway/pillar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,1242}</string>
                <key>spriteSourceSize</key>
                <string>{287,1242}</string>
                <key>textureRect</key>
                <string>{{1696,1},{287,1242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miningrailway/rooftile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,231}</string>
                <key>spriteSourceSize</key>
                <string>{256,231}</string>
                <key>textureRect</key>
                <string>{{1041,1418},{256,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miningrailway/stairs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1693,1415}</string>
                <key>spriteSourceSize</key>
                <string>{1693,1415}</string>
                <key>textureRect</key>
                <string>{{1,1},{1693,1415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miningrailway/walltexture2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{779,492}</string>
                <key>spriteSourceSize</key>
                <string>{779,492}</string>
                <key>textureRect</key>
                <string>{{1,1418},{779,492}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>miningrailway.png</string>
            <key>size</key>
            <string>{1984,1911}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9fa8b9ccd8cc0eb41e8d96b839aa6c9:07227554a41a12bcc4e6512f22ac67b8:61ed4cc84f98fcc4b827b7db36aed79d$</string>
            <key>textureFileName</key>
            <string>miningrailway.png</string>
        </dict>
    </dict>
</plist>
