<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>memorylevel/box.png</key>
			<dict>
				<key>frame</key>
				<string>{{1637,0},{1040,1040}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1040,1040}</string>
			</dict>
			<key>memorylevel/drygrass.png</key>
			<dict>
				<key>frame</key>
				<string>{{2677,0},{1328,481}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1328,481}</string>
			</dict>
			<key>memorylevel/hay.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,988},{1580,624}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1580,624}</string>
			</dict>
			<key>memorylevel/hen.png</key>
			<dict>
				<key>frame</key>
				<string>{{2677,481},{571,473}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{571,473}</string>
			</dict>
			<key>memorylevel/rope 2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1637,988}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1637,988}</string>
			</dict>
			<key>memorylevel/rope1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3248,481},{120,1540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,1540}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>memorylevel.png</string>
			<key>realTextureFileName</key>
			<string>memorylevel.png</string>
			<key>size</key>
			<string>{4096,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>