<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero/base/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,76}</string>
                <key>spriteSourceSize</key>
                <string>{65,76}</string>
                <key>textureRect</key>
                <string>{{163,123},{65,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/base/foot_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,5}</string>
                <key>spriteSourceSize</key>
                <string>{23,5}</string>
                <key>textureRect</key>
                <string>{{226,430},{23,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/base/foot_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,5}</string>
                <key>spriteSourceSize</key>
                <string>{23,5}</string>
                <key>textureRect</key>
                <string>{{226,437},{23,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/base/hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,17}</string>
                <key>spriteSourceSize</key>
                <string>{11,17}</string>
                <key>textureRect</key>
                <string>{{150,126},{11,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/base/head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,132}</string>
                <key>spriteSourceSize</key>
                <string>{125,132}</string>
                <key>textureRect</key>
                <string>{{1,244},{125,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/base/hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{135,521},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/base/lower_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,35}</string>
                <key>spriteSourceSize</key>
                <string>{9,35}</string>
                <key>textureRect</key>
                <string>{{241,123},{9,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/base/lower_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,20}</string>
                <key>spriteSourceSize</key>
                <string>{5,20}</string>
                <key>textureRect</key>
                <string>{{112,371},{5,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/base/lower_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,20}</string>
                <key>spriteSourceSize</key>
                <string>{5,20}</string>
                <key>textureRect</key>
                <string>{{203,439},{5,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/base/upper_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,42}</string>
                <key>spriteSourceSize</key>
                <string>{10,42}</string>
                <key>textureRect</key>
                <string>{{135,334},{10,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/base/upper_leg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,23}</string>
                <key>spriteSourceSize</key>
                <string>{6,23}</string>
                <key>textureRect</key>
                <string>{{233,190},{6,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/base/upper_leg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,24}</string>
                <key>spriteSourceSize</key>
                <string>{6,24}</string>
                <key>textureRect</key>
                <string>{{150,208},{6,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/beard/beard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,50}</string>
                <key>spriteSourceSize</key>
                <string>{98,50}</string>
                <key>textureRect</key>
                <string>{{150,216},{98,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/beard/neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,12}</string>
                <key>spriteSourceSize</key>
                <string>{24,12}</string>
                <key>textureRect</key>
                <string>{{176,190},{24,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/eye/eye_inner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,17}</string>
                <key>spriteSourceSize</key>
                <string>{17,17}</string>
                <key>textureRect</key>
                <string>{{147,430},{17,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/eye/eye_outer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,31}</string>
                <key>spriteSourceSize</key>
                <string>{33,31}</string>
                <key>textureRect</key>
                <string>{{112,417},{33,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/eye/eye_outer_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,44}</string>
                <key>spriteSourceSize</key>
                <string>{48,44}</string>
                <key>textureRect</key>
                <string>{{201,521},{48,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/eye/eye_outer_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,33}</string>
                <key>spriteSourceSize</key>
                <string>{37,33}</string>
                <key>textureRect</key>
                <string>{{112,378},{37,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/hair/hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,116}</string>
                <key>spriteSourceSize</key>
                <string>{147,116}</string>
                <key>textureRect</key>
                <string>{{1,126},{147,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/hair/hair2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,86}</string>
                <key>spriteSourceSize</key>
                <string>{120,86}</string>
                <key>textureRect</key>
                <string>{{164,1},{120,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/hat/hat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,60}</string>
                <key>spriteSourceSize</key>
                <string>{160,60}</string>
                <key>textureRect</key>
                <string>{{1,64},{160,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/hat/police_hat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,61}</string>
                <key>spriteSourceSize</key>
                <string>{161,61}</string>
                <key>textureRect</key>
                <string>{{1,1},{161,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/mouth/happy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,52}</string>
                <key>spriteSourceSize</key>
                <string>{103,52}</string>
                <key>textureRect</key>
                <string>{{147,268},{103,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/mouth/normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,52}</string>
                <key>spriteSourceSize</key>
                <string>{103,52}</string>
                <key>textureRect</key>
                <string>{{147,322},{103,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/mouth/o.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,52}</string>
                <key>spriteSourceSize</key>
                <string>{103,52}</string>
                <key>textureRect</key>
                <string>{{147,376},{103,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/mustache/mustache.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,10}</string>
                <key>spriteSourceSize</key>
                <string>{61,10}</string>
                <key>textureRect</key>
                <string>{{150,145},{61,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/pant/pant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{1,521},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/pant/pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,17}</string>
                <key>spriteSourceSize</key>
                <string>{6,17}</string>
                <key>textureRect</key>
                <string>{{166,430},{6,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/pant/pant_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,17}</string>
                <key>spriteSourceSize</key>
                <string>{6,17}</string>
                <key>textureRect</key>
                <string>{{174,430},{6,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/pant/pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,24}</string>
                <key>spriteSourceSize</key>
                <string>{6,24}</string>
                <key>textureRect</key>
                <string>{{217,190},{6,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/pant/pant_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,24}</string>
                <key>spriteSourceSize</key>
                <string>{7,24}</string>
                <key>textureRect</key>
                <string>{{190,190},{7,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/pant/police_pant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{68,521},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/pant/police_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,17}</string>
                <key>spriteSourceSize</key>
                <string>{6,17}</string>
                <key>textureRect</key>
                <string>{{182,430},{6,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/pant/police_pant_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,17}</string>
                <key>spriteSourceSize</key>
                <string>{6,17}</string>
                <key>textureRect</key>
                <string>{{190,430},{6,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/pant/police_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,24}</string>
                <key>spriteSourceSize</key>
                <string>{6,24}</string>
                <key>textureRect</key>
                <string>{{225,190},{6,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/pant/police_pant_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,24}</string>
                <key>spriteSourceSize</key>
                <string>{7,24}</string>
                <key>textureRect</key>
                <string>{{199,190},{7,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/shirt/police_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,108}</string>
                <key>spriteSourceSize</key>
                <string>{73,108}</string>
                <key>textureRect</key>
                <string>{{1,446},{73,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/shirt/police_upper_sleave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,43}</string>
                <key>spriteSourceSize</key>
                <string>{10,43}</string>
                <key>textureRect</key>
                <string>{{135,244},{10,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/shirt/shirt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,109}</string>
                <key>spriteSourceSize</key>
                <string>{73,109}</string>
                <key>textureRect</key>
                <string>{{1,371},{73,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/shirt/shirt_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,26}</string>
                <key>spriteSourceSize</key>
                <string>{9,26}</string>
                <key>textureRect</key>
                <string>{{241,160},{9,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/shirt/shirt_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,43}</string>
                <key>spriteSourceSize</key>
                <string>{10,43}</string>
                <key>textureRect</key>
                <string>{{135,289},{10,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/shirt/tribalred.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,90}</string>
                <key>spriteSourceSize</key>
                <string>{69,90}</string>
                <key>textureRect</key>
                <string>{{111,450},{69,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/shoe/police_shoe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,7}</string>
                <key>spriteSourceSize</key>
                <string>{26,7}</string>
                <key>textureRect</key>
                <string>{{241,188},{26,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero/shoe/shoe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,7}</string>
                <key>spriteSourceSize</key>
                <string>{26,7}</string>
                <key>textureRect</key>
                <string>{{198,430},{26,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero/shoe/shoe_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,7}</string>
                <key>spriteSourceSize</key>
                <string>{24,7}</string>
                <key>textureRect</key>
                <string>{{208,190},{24,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero.png</string>
            <key>size</key>
            <string>{251,587}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a4baa9be690765d6e9e4edd9248edae:e109cb474fee51b1676ec70750ebcd12:24811c9fe845da5822501508d7996631$</string>
            <key>textureFileName</key>
            <string>hero.png</string>
        </dict>
    </dict>
</plist>
