<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>unit/pizza-08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1074,677}</string>
                <key>spriteSourceSize</key>
                <string>{1074,677}</string>
                <key>textureRect</key>
                <string>{{2129,643},{1074,677}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>unit/pizza-09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1074,42}</string>
                <key>spriteSourceSize</key>
                <string>{1074,42}</string>
                <key>textureRect</key>
                <string>{{1415,1743},{1074,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unit/pizza-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1075,633}</string>
                <key>spriteSourceSize</key>
                <string>{1075,633}</string>
                <key>textureRect</key>
                <string>{{1494,643},{1075,633}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>unit/pizza-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,182}</string>
                <key>spriteSourceSize</key>
                <string>{152,182}</string>
                <key>textureRect</key>
                <string>{{2808,1159},{152,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>unit/pizza-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,261}</string>
                <key>spriteSourceSize</key>
                <string>{104,261}</string>
                <key>textureRect</key>
                <string>{{2808,643},{104,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>unit/pizza.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,195}</string>
                <key>spriteSourceSize</key>
                <string>{408,195}</string>
                <key>textureRect</key>
                <string>{{2808,749},{408,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>unit/pizzabox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1387,1191}</string>
                <key>spriteSourceSize</key>
                <string>{1387,1191}</string>
                <key>textureRect</key>
                <string>{{1,643},{1387,1191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unit/pizzaboxf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1098,102}</string>
                <key>spriteSourceSize</key>
                <string>{1098,102}</string>
                <key>textureRect</key>
                <string>{{1390,643},{1098,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>unit/pizzatoppings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,23}</string>
                <key>spriteSourceSize</key>
                <string>{50,23}</string>
                <key>textureRect</key>
                <string>{{1390,1743},{50,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>unit/roll.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3073,640}</string>
                <key>spriteSourceSize</key>
                <string>{3073,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{3073,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>unit.png</string>
            <key>size</key>
            <string>{3075,1835}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53161b997ec08c154fe840b47e6c0e78:20c2a4973f5a04cbda3763bb1d47696a:44bea75d342b5ab0391c3272aae7cff9$</string>
            <key>textureFileName</key>
            <string>unit.png</string>
        </dict>
    </dict>
</plist>
