<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bingofarm/boardhelp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1438,363}</string>
                <key>spriteSourceSize</key>
                <string>{1438,363}</string>
                <key>textureRect</key>
                <string>{{1,1},{1438,363}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingofarm/cabbage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,417}</string>
                <key>spriteSourceSize</key>
                <string>{430,417}</string>
                <key>textureRect</key>
                <string>{{704,366},{430,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingofarm/cauliflower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,363}</string>
                <key>spriteSourceSize</key>
                <string>{398,363}</string>
                <key>textureRect</key>
                <string>{{1441,1},{398,363}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bingofarm/curve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,154}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{704,785},{154,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingofarm/grass1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,150}</string>
                <key>spriteSourceSize</key>
                <string>{92,150}</string>
                <key>textureRect</key>
                <string>{{1573,771},{92,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bingofarm/grass2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,176}</string>
                <key>spriteSourceSize</key>
                <string>{121,176}</string>
                <key>textureRect</key>
                <string>{{860,785},{121,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bingofarm/letterbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{701,332}</string>
                <key>spriteSourceSize</key>
                <string>{701,332}</string>
                <key>textureRect</key>
                <string>{{1,366},{701,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingofarm/letterboxshade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{701,332}</string>
                <key>spriteSourceSize</key>
                <string>{701,332}</string>
                <key>textureRect</key>
                <string>{{1,700},{701,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingofarm/pumpkin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,368}</string>
                <key>spriteSourceSize</key>
                <string>{377,368}</string>
                <key>textureRect</key>
                <string>{{1410,401},{377,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingofarm/stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,122}</string>
                <key>spriteSourceSize</key>
                <string>{161,122}</string>
                <key>textureRect</key>
                <string>{{1410,771},{161,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingofarm/watermelon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{521,272}</string>
                <key>spriteSourceSize</key>
                <string>{521,272}</string>
                <key>textureRect</key>
                <string>{{1136,366},{521,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bingofarm.png</string>
            <key>size</key>
            <string>{1805,1033}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b40758a247d8a7cac05147221fcc3da1:5c5c261597d156c64c17878975cc23de:2254189da13433e22bab9dc7b4a25ce4$</string>
            <key>textureFileName</key>
            <string>bingofarm.png</string>
        </dict>
    </dict>
</plist>
