<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trainstationinside/drink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,53}</string>
                <key>spriteSourceSize</key>
                <string>{23,53}</string>
                <key>textureRect</key>
                <string>{{347,195},{23,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>trainstationinside/exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,142}</string>
                <key>spriteSourceSize</key>
                <string>{137,142}</string>
                <key>textureRect</key>
                <string>{{1,1},{137,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trainstationinside/floor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,113}</string>
                <key>spriteSourceSize</key>
                <string>{114,113}</string>
                <key>textureRect</key>
                <string>{{279,1},{114,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>trainstationinside/object_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,18}</string>
                <key>spriteSourceSize</key>
                <string>{28,18}</string>
                <key>textureRect</key>
                <string>{{347,220},{28,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trainstationinside/paper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,35}</string>
                <key>spriteSourceSize</key>
                <string>{28,35}</string>
                <key>textureRect</key>
                <string>{{402,195},{28,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trainstationinside/seata.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,48}</string>
                <key>spriteSourceSize</key>
                <string>{213,48}</string>
                <key>textureRect</key>
                <string>{{205,145},{213,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trainstationinside/sign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,142}</string>
                <key>spriteSourceSize</key>
                <string>{137,142}</string>
                <key>textureRect</key>
                <string>{{140,1},{137,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trainstationinside/stantback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,130}</string>
                <key>spriteSourceSize</key>
                <string>{61,130}</string>
                <key>textureRect</key>
                <string>{{394,1},{61,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trainstationinside/stantfront.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,140}</string>
                <key>spriteSourceSize</key>
                <string>{51,140}</string>
                <key>textureRect</key>
                <string>{{205,195},{51,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>trainstationinside/water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,202}</string>
                <key>spriteSourceSize</key>
                <string>{95,202}</string>
                <key>textureRect</key>
                <string>{{1,145},{95,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>trainstationinside.png</string>
            <key>size</key>
            <string>{456,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbf4d8fc2de0a2623d86aaf1e26e5921:6cff608bf10e89daa1a4715eeb74dfb4:508d8a1a409e1b71aca0543b0e8ee96e$</string>
            <key>textureFileName</key>
            <string>trainstationinside.png</string>
        </dict>
    </dict>
</plist>
