<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pop/bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,139}</string>
                <key>spriteSourceSize</key>
                <string>{584,139}</string>
                <key>textureRect</key>
                <string>{{1,1032},{584,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pop/cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,131}</string>
                <key>spriteSourceSize</key>
                <string>{234,131}</string>
                <key>textureRect</key>
                <string>{{1,1},{234,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop/fan1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,84}</string>
                <key>spriteSourceSize</key>
                <string>{65,84}</string>
                <key>textureRect</key>
                <string>{{142,1032},{65,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pop/fan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,84}</string>
                <key>spriteSourceSize</key>
                <string>{65,84}</string>
                <key>textureRect</key>
                <string>{{142,1099},{65,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pop/fan3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,84}</string>
                <key>spriteSourceSize</key>
                <string>{65,84}</string>
                <key>textureRect</key>
                <string>{{142,1166},{65,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pop/mountain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,386}</string>
                <key>spriteSourceSize</key>
                <string>{225,386}</string>
                <key>textureRect</key>
                <string>{{1,134},{225,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop/mountain1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,386}</string>
                <key>spriteSourceSize</key>
                <string>{225,386}</string>
                <key>textureRect</key>
                <string>{{1,522},{225,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop/plane.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,120}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{1,910},{200,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pop/puff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,17}</string>
                <key>spriteSourceSize</key>
                <string>{20,17}</string>
                <key>textureRect</key>
                <string>{{203,910},{20,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pop.png</string>
            <key>size</key>
            <string>{236,1617}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c7a3fea82cd926d089f8c5d7aae4fa2:2341ab55c4795823362d1cd9b65c0a44:406781c4b8269e9fbc9dbbe92d42060a$</string>
            <key>textureFileName</key>
            <string>pop.png</string>
        </dict>
    </dict>
</plist>
