<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Uji_Milk_is_good/Cow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{515,405}</string>
                <key>spriteSourceSize</key>
                <string>{515,405}</string>
                <key>textureRect</key>
                <string>{{1,1},{515,405}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/House-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,52}</string>
                <key>spriteSourceSize</key>
                <string>{34,52}</string>
                <key>textureRect</key>
                <string>{{434,704},{34,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/House-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{50,55}</string>
                <key>textureRect</key>
                <string>{{435,1482},{50,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/House-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,38}</string>
                <key>spriteSourceSize</key>
                <string>{43,38}</string>
                <key>textureRect</key>
                <string>{{467,1697},{43,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/House-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,39}</string>
                <key>spriteSourceSize</key>
                <string>{58,39}</string>
                <key>textureRect</key>
                <string>{{411,1755},{58,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/House-06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,35}</string>
                <key>spriteSourceSize</key>
                <string>{59,35}</string>
                <key>textureRect</key>
                <string>{{439,1590},{59,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/House-07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,16}</string>
                <key>spriteSourceSize</key>
                <string>{48,16}</string>
                <key>textureRect</key>
                <string>{{495,1340},{48,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/House-08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,18}</string>
                <key>spriteSourceSize</key>
                <string>{57,18}</string>
                <key>textureRect</key>
                <string>{{491,1281},{57,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/House-09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,26}</string>
                <key>spriteSourceSize</key>
                <string>{60,26}</string>
                <key>textureRect</key>
                <string>{{474,1410},{60,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/House-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,40}</string>
                <key>spriteSourceSize</key>
                <string>{82,40}</string>
                <key>textureRect</key>
                <string>{{411,1368},{82,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/House-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,6}</string>
                <key>spriteSourceSize</key>
                <string>{247,6}</string>
                <key>textureRect</key>
                <string>{{183,1237},{247,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/House-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,39}</string>
                <key>spriteSourceSize</key>
                <string>{118,39}</string>
                <key>textureRect</key>
                <string>{{291,1755},{118,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/House-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,24}</string>
                <key>spriteSourceSize</key>
                <string>{51,24}</string>
                <key>textureRect</key>
                <string>{{487,1472},{51,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/Window.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,71}</string>
                <key>spriteSourceSize</key>
                <string>{101,71}</string>
                <key>textureRect</key>
                <string>{{408,434},{101,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/arm_hand_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,26}</string>
                <key>spriteSourceSize</key>
                <string>{17,26}</string>
                <key>textureRect</key>
                <string>{{309,1899},{17,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/arm_hand_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,26}</string>
                <key>spriteSourceSize</key>
                <string>{17,26}</string>
                <key>textureRect</key>
                <string>{{337,1899},{17,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/arm_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,55}</string>
                <key>spriteSourceSize</key>
                <string>{12,55}</string>
                <key>textureRect</key>
                <string>{{490,317},{12,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/arm_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,55}</string>
                <key>spriteSourceSize</key>
                <string>{12,55}</string>
                <key>textureRect</key>
                <string>{{307,1885},{12,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/arm_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,66}</string>
                <key>spriteSourceSize</key>
                <string>{14,66}</string>
                <key>textureRect</key>
                <string>{{173,1902},{14,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/arm_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,66}</string>
                <key>spriteSourceSize</key>
                <string>{14,66}</string>
                <key>textureRect</key>
                <string>{{241,1902},{14,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/bag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,187}</string>
                <key>spriteSourceSize</key>
                <string>{156,187}</string>
                <key>textureRect</key>
                <string>{{191,1115},{156,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/body_male.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,140}</string>
                <key>spriteSourceSize</key>
                <string>{103,140}</string>
                <key>textureRect</key>
                <string>{{408,1},{103,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/boy_nose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,107}</string>
                <key>spriteSourceSize</key>
                <string>{137,107}</string>
                <key>textureRect</key>
                <string>{{191,1423},{135,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/breakdown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,37}</string>
                <key>spriteSourceSize</key>
                <string>{70,37}</string>
                <key>textureRect</key>
                <string>{{435,1410},{70,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/car_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,174}</string>
                <key>spriteSourceSize</key>
                <string>{229,174}</string>
                <key>textureRect</key>
                <string>{{1,1481},{229,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/conductor_pant_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{173,1796},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/conductor_pant_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,24}</string>
                <key>spriteSourceSize</key>
                <string>{8,24}</string>
                <key>textureRect</key>
                <string>{{408,507},{8,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/conductor_pant_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,24}</string>
                <key>spriteSourceSize</key>
                <string>{8,24}</string>
                <key>textureRect</key>
                <string>{{487,1525},{8,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/conductor_pant_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,37}</string>
                <key>spriteSourceSize</key>
                <string>{9,37}</string>
                <key>textureRect</key>
                <string>{{502,1390},{9,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/conductor_pant_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,37}</string>
                <key>spriteSourceSize</key>
                <string>{9,37}</string>
                <key>textureRect</key>
                <string>{{502,1429},{9,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/conductor_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,147}</string>
                <key>spriteSourceSize</key>
                <string>{105,147}</string>
                <key>textureRect</key>
                <string>{{304,1273},{105,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/conductor_shirt_sleave_lower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,44}</string>
                <key>spriteSourceSize</key>
                <string>{18,44}</string>
                <key>textureRect</key>
                <string>{{467,1677},{18,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/conductor_shirt_sleave_upper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,67}</string>
                <key>spriteSourceSize</key>
                <string>{16,67}</string>
                <key>textureRect</key>
                <string>{{490,248},{16,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/conductor_shoe_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,10}</string>
                <key>spriteSourceSize</key>
                <string>{41,10}</string>
                <key>textureRect</key>
                <string>{{501,507},{41,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/conductor_shoe_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,10}</string>
                <key>spriteSourceSize</key>
                <string>{41,10}</string>
                <key>textureRect</key>
                <string>{{501,550},{41,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/corn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,184}</string>
                <key>spriteSourceSize</key>
                <string>{80,184}</string>
                <key>textureRect</key>
                <string>{{408,248},{80,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/desk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,92}</string>
                <key>spriteSourceSize</key>
                <string>{164,92}</string>
                <key>textureRect</key>
                <string>{{419,963},{164,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/ear ring-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{85,97}</string>
                <key>spriteSourceSize</key>
                <string>{85,115}</string>
                <key>textureRect</key>
                <string>{{396,1796},{85,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/ear_round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,44}</string>
                <key>spriteSourceSize</key>
                <string>{35,44}</string>
                <key>textureRect</key>
                <string>{{476,1590},{35,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/eye_boy_outer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,6}</string>
                <key>spriteSourceSize</key>
                <string>{24,6}</string>
                <key>textureRect</key>
                <string>{{467,1651},{24,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/eye_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,8}</string>
                <key>spriteSourceSize</key>
                <string>{25,8}</string>
                <key>textureRect</key>
                <string>{{490,374},{25,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/eyebrow_boy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,16}</string>
                <key>spriteSourceSize</key>
                <string>{28,16}</string>
                <key>textureRect</key>
                <string>{{483,1796},{28,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/eyebrow_girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,10}</string>
                <key>spriteSourceSize</key>
                <string>{30,10}</string>
                <key>textureRect</key>
                <string>{{501,593},{30,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,170}</string>
                <key>spriteSourceSize</key>
                <string>{204,170}</string>
                <key>textureRect</key>
                <string>{{1,1712},{204,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/florallady_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,148}</string>
                <key>spriteSourceSize</key>
                <string>{111,148}</string>
                <key>textureRect</key>
                <string>{{191,1273},{111,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/florallady_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,131}</string>
                <key>spriteSourceSize</key>
                <string>{110,131}</string>
                <key>textureRect</key>
                <string>{{380,1129},{110,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/florallady_sleave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,24}</string>
                <key>spriteSourceSize</key>
                <string>{17,24}</string>
                <key>textureRect</key>
                <string>{{448,1716},{17,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/florallady_turban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,220}</string>
                <key>spriteSourceSize</key>
                <string>{268,220}</string>
                <key>textureRect</key>
                <string>{{1,518},{268,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/glas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,75}</string>
                <key>spriteSourceSize</key>
                <string>{54,75}</string>
                <key>textureRect</key>
                <string>{{434,627},{54,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/hair_Business_man_cut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,161}</string>
                <key>spriteSourceSize</key>
                <string>{226,161}</string>
                <key>textureRect</key>
                <string>{{271,518},{226,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/hair_curl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,188}</string>
                <key>spriteSourceSize</key>
                <string>{274,188}</string>
                <key>textureRect</key>
                <string>{{1,961},{274,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/hair_curtained_hair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,150}</string>
                <key>spriteSourceSize</key>
                <string>{226,150}</string>
                <key>textureRect</key>
                <string>{{191,963},{226,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/hair_female_back_long.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,215}</string>
                <key>spriteSourceSize</key>
                <string>{208,215}</string>
                <key>textureRect</key>
                <string>{{271,746},{208,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/hair_female_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,180}</string>
                <key>spriteSourceSize</key>
                <string>{242,180}</string>
                <key>textureRect</key>
                <string>{{1,1237},{242,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,103}</string>
                <key>spriteSourceSize</key>
                <string>{103,103}</string>
                <key>textureRect</key>
                <string>{{408,143},{103,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/jubba_blue_hip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,117}</string>
                <key>spriteSourceSize</key>
                <string>{105,117}</string>
                <key>textureRect</key>
                <string>{{328,1422},{105,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/jubba_blue_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,146}</string>
                <key>spriteSourceSize</key>
                <string>{105,146}</string>
                <key>textureRect</key>
                <string>{{291,1541},{105,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/jubba_blue_sleave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,26}</string>
                <key>spriteSourceSize</key>
                <string>{15,26}</string>
                <key>textureRect</key>
                <string>{{279,1885},{15,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/jug.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,39}</string>
                <key>spriteSourceSize</key>
                <string>{28,39}</string>
                <key>textureRect</key>
                <string>{{483,1636},{28,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/leg_foot_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,8}</string>
                <key>spriteSourceSize</key>
                <string>{36,8}</string>
                <key>textureRect</key>
                <string>{{475,1737},{36,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/leg_foot_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,8}</string>
                <key>spriteSourceSize</key>
                <string>{36,8}</string>
                <key>textureRect</key>
                <string>{{475,1747},{36,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/leg_lower_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,31}</string>
                <key>spriteSourceSize</key>
                <string>{7,31}</string>
                <key>textureRect</key>
                <string>{{291,1532},{7,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/leg_lower_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,31}</string>
                <key>spriteSourceSize</key>
                <string>{7,31}</string>
                <key>textureRect</key>
                <string>{{504,317},{7,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/leg_upper_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,37}</string>
                <key>spriteSourceSize</key>
                <string>{8,37}</string>
                <key>textureRect</key>
                <string>{{380,1115},{8,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/leg_upper_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,37}</string>
                <key>spriteSourceSize</key>
                <string>{8,37}</string>
                <key>textureRect</key>
                <string>{{438,1716},{8,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/lightbrown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,25}</string>
                <key>spriteSourceSize</key>
                <string>{11,25}</string>
                <key>textureRect</key>
                <string>{{398,1241},{11,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/motu_shoes_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,8}</string>
                <key>spriteSourceSize</key>
                <string>{40,8}</string>
                <key>textureRect</key>
                <string>{{471,1757},{40,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/motu_shoes_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,8}</string>
                <key>spriteSourceSize</key>
                <string>{40,8}</string>
                <key>textureRect</key>
                <string>{{471,1767},{40,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/mouth_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,6}</string>
                <key>spriteSourceSize</key>
                <string>{60,6}</string>
                <key>textureRect</key>
                <string>{{490,627},{60,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/mouth_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,27}</string>
                <key>spriteSourceSize</key>
                <string>{63,27}</string>
                <key>textureRect</key>
                <string>{{438,1651},{63,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/mug (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,48}</string>
                <key>spriteSourceSize</key>
                <string>{49,48}</string>
                <key>textureRect</key>
                <string>{{439,1539},{49,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/navyblue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,25}</string>
                <key>spriteSourceSize</key>
                <string>{11,25}</string>
                <key>textureRect</key>
                <string>{{448,1742},{11,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,38}</string>
                <key>spriteSourceSize</key>
                <string>{20,38}</string>
                <key>textureRect</key>
                <string>{{491,1241},{20,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/painter_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,145}</string>
                <key>spriteSourceSize</key>
                <string>{105,145}</string>
                <key>textureRect</key>
                <string>{{291,1648},{105,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/painter_shirt_sleave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,30}</string>
                <key>spriteSourceSize</key>
                <string>{16,30}</string>
                <key>textureRect</key>
                <string>{{380,1241},{16,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/pinkpurple_shirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,147}</string>
                <key>spriteSourceSize</key>
                <string>{112,147}</string>
                <key>textureRect</key>
                <string>{{177,1532},{112,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/pinkpurple_skirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,113}</string>
                <key>spriteSourceSize</key>
                <string>{112,113}</string>
                <key>textureRect</key>
                <string>{{177,1681},{112,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/pinkpurple_sleave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,24}</string>
                <key>spriteSourceSize</key>
                <string>{17,24}</string>
                <key>textureRect</key>
                <string>{{471,1777},{17,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/pinkpurple_turban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,219}</string>
                <key>spriteSourceSize</key>
                <string>{268,219}</string>
                <key>textureRect</key>
                <string>{{1,740},{268,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/porridge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,87}</string>
                <key>spriteSourceSize</key>
                <string>{115,87}</string>
                <key>textureRect</key>
                <string>{{279,1796},{115,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Uji_Milk_is_good/sugar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,19}</string>
                <key>spriteSourceSize</key>
                <string>{10,19}</string>
                <key>textureRect</key>
                <string>{{411,1410},{10,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,78}</string>
                <key>spriteSourceSize</key>
                <string>{125,78}</string>
                <key>textureRect</key>
                <string>{{411,1241},{125,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/table1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,78}</string>
                <key>spriteSourceSize</key>
                <string>{125,78}</string>
                <key>textureRect</key>
                <string>{{411,1241},{125,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Uji_Milk_is_good/wash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,118}</string>
                <key>spriteSourceSize</key>
                <string>{65,118}</string>
                <key>textureRect</key>
                <string>{{434,507},{65,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Uji_Milk_is_good.png</string>
            <key>size</key>
            <string>{512,1917}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52818acb5ae44858e0b848ae4054fb83:56c48685910315c03c52fbbdbbf1b0fc:b7b575f49370b878326528a7a733daeb$</string>
            <key>textureFileName</key>
            <string>Uji_Milk_is_good.png</string>
        </dict>
    </dict>
</plist>
