<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>train/final_tunnel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,109}</string>
                <key>spriteSourceSize</key>
                <string>{52,109}</string>
                <key>textureRect</key>
                <string>{{307,131},{52,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>train/front_tunnel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,80}</string>
                <key>spriteSourceSize</key>
                <string>{22,80}</string>
                <key>textureRect</key>
                <string>{{420,106},{22,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>train/papertexture.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,400}</string>
                <key>spriteSourceSize</key>
                <string>{128,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{128,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>train/railwaytrack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,8}</string>
                <key>spriteSourceSize</key>
                <string>{111,8}</string>
                <key>textureRect</key>
                <string>{{307,185},{111,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>train/train.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,50}</string>
                <key>spriteSourceSize</key>
                <string>{103,50}</string>
                <key>textureRect</key>
                <string>{{403,1},{103,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>train/tunnel_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,79}</string>
                <key>spriteSourceSize</key>
                <string>{44,79}</string>
                <key>textureRect</key>
                <string>{{261,131},{44,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>train/tunnel_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,79}</string>
                <key>spriteSourceSize</key>
                <string>{258,79}</string>
                <key>textureRect</key>
                <string>{{1,131},{258,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>train.png</string>
            <key>size</key>
            <string>{454,211}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf62abaa33f36d8c730b04d449ff9f53:1a1a17b96bbe0f2986c94ff7ccef6a68:f9d712b5562c0f694596c09480e10407$</string>
            <key>textureFileName</key>
            <string>train.png</string>
        </dict>
    </dict>
</plist>
