<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>phonicsfree/bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{2608,124}</string>
                <key>spriteSourceSize</key>
                <string>{2612,128}</string>
                <key>textureRect</key>
                <string>{{1,801},{2608,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phonicsfree/box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,291}</string>
                <key>spriteSourceSize</key>
                <string>{282,291}</string>
                <key>textureRect</key>
                <string>{{2611,641},{282,291}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>phonicsfree/cubes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,184}</string>
                <key>spriteSourceSize</key>
                <string>{310,184}</string>
                <key>textureRect</key>
                <string>{{2147,341},{310,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>phonicsfree/floor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3418,338}</string>
                <key>spriteSourceSize</key>
                <string>{3418,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{3418,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phonicsfree/name bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{932,298}</string>
                <key>spriteSourceSize</key>
                <string>{932,298}</string>
                <key>textureRect</key>
                <string>{{2333,341},{932,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phonicsfree/scroll bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1552,458}</string>
                <key>spriteSourceSize</key>
                <string>{1552,458}</string>
                <key>textureRect</key>
                <string>{{1,341},{1552,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phonicsfree/scroll button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,377}</string>
                <key>spriteSourceSize</key>
                <string>{250,377}</string>
                <key>textureRect</key>
                <string>{{1555,341},{250,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phonicsfree/tick mark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,338}</string>
                <key>spriteSourceSize</key>
                <string>{338,338}</string>
                <key>textureRect</key>
                <string>{{1807,341},{338,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>phonicsfree.png</string>
            <key>size</key>
            <string>{3420,926}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76029a644ff5d4bc26716f412bde97b1:b4f0545088fd7640e13188d4c37cf684:c75a598cb7473236c7ff89a85ab06c74$</string>
            <key>textureFileName</key>
            <string>phonicsfree.png</string>
        </dict>
    </dict>
</plist>
