<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gamemap/gamemap_disabled1/Alphamon Feed_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,225}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{458,1},{225,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled1/Cannon Ball_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,225}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{685,1},{225,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled1/Cross The Bridge_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,225}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{912,1},{225,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled1/EndlessRunner_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,225}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{1139,1},{225,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled1/alphamole_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{226,225}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{230,1},{226,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled1/baja_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,227}</string>
                <key>spriteSourceSize</key>
                <string>{223,227}</string>
                <key>textureRect</key>
                <string>{{1,1},{223,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamemap/gamemap_disabled1/balloon_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1366,1},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled1/bingo_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1592,1},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled1/book_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,223}</string>
                <key>spriteSourceSize</key>
                <string>{223,223}</string>
                <key>textureRect</key>
                <string>{{2496,1},{223,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled1/bubble_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{224,224}</string>
                <key>textureRect</key>
                <string>{{1818,1},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled1/chain_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,223}</string>
                <key>spriteSourceSize</key>
                <string>{223,223}</string>
                <key>textureRect</key>
                <string>{{2721,1},{223,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled1/dash_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{2044,1},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled1/decomone_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{224,224}</string>
                <key>textureRect</key>
                <string>{{2270,1},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled1/jasmine_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,223}</string>
                <key>spriteSourceSize</key>
                <string>{223,223}</string>
                <key>textureRect</key>
                <string>{{2946,1},{223,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemap/gamemap_disabled1/jazz_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,223}</string>
                <key>spriteSourceSize</key>
                <string>{223,223}</string>
                <key>textureRect</key>
                <string>{{3171,1},{223,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gamemap_disabled1.png</string>
            <key>size</key>
            <string>{3395,227}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c12528ddff128e25571473ac4905f9c:2b11e3347f91121d4bb2ce6a1ba63b40:1b20fd3965af8f43a69d02f874ff5c6e$</string>
            <key>textureFileName</key>
            <string>gamemap_disabled1.png</string>
        </dict>
    </dict>
</plist>
