<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_chair.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{702,882}</string>
                <key>spriteSourceSize</key>
                <string>{702,882}</string>
                <key>textureRect</key>
                <string>{{2567,1783},{702,882}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,173}</string>
                <key>spriteSourceSize</key>
                <string>{375,173}</string>
                <key>textureRect</key>
                <string>{{927,2614},{375,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_fruit_basket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,184}</string>
                <key>spriteSourceSize</key>
                <string>{368,184}</string>
                <key>textureRect</key>
                <string>{{557,2614},{368,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_island.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,61}</string>
                <key>spriteSourceSize</key>
                <string>{520,61}</string>
                <key>textureRect</key>
                <string>{{1916,1783},{520,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_pillar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,1102}</string>
                <key>spriteSourceSize</key>
                <string>{281,1102}</string>
                <key>textureRect</key>
                <string>{{3196,1},{281,1102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_rays.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1913,1914}</string>
                <key>spriteSourceSize</key>
                <string>{1933,1932}</string>
                <key>textureRect</key>
                <string>{{1,1},{1913,1914}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_seabed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2564,695}</string>
                <key>spriteSourceSize</key>
                <string>{2564,695}</string>
                <key>textureRect</key>
                <string>{{1,1917},{2564,695}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_steps.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1625,391}</string>
                <key>spriteSourceSize</key>
                <string>{1625,391}</string>
                <key>textureRect</key>
                <string>{{1916,1390},{1625,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_stool1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,283}</string>
                <key>spriteSourceSize</key>
                <string>{402,283}</string>
                <key>textureRect</key>
                <string>{{2567,2487},{402,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_stool2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,270}</string>
                <key>spriteSourceSize</key>
                <string>{401,270}</string>
                <key>textureRect</key>
                <string>{{2971,2487},{401,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_tree4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,305}</string>
                <key>spriteSourceSize</key>
                <string>{276,305}</string>
                <key>textureRect</key>
                <string>{{3196,1105},{276,305}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/binti_vase.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,554}</string>
                <key>spriteSourceSize</key>
                <string>{220,554}</string>
                <key>textureRect</key>
                <string>{{1,2614},{220,554}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/curtain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1278,1387}</string>
                <key>spriteSourceSize</key>
                <string>{1278,1387}</string>
                <key>textureRect</key>
                <string>{{1916,1},{1278,1387}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/flower_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,64}</string>
                <key>spriteSourceSize</key>
                <string>{61,64}</string>
                <key>textureRect</key>
                <string>{{3451,1783},{61,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/flower_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,66}</string>
                <key>spriteSourceSize</key>
                <string>{54,66}</string>
                <key>textureRect</key>
                <string>{{1916,1846},{54,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Binti_wa_Mflame_Kayanja/Binti2/flower_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,49}</string>
                <key>spriteSourceSize</key>
                <string>{52,49}</string>
                <key>textureRect</key>
                <string>{{2438,1783},{52,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Binti2.png</string>
            <key>size</key>
            <string>{3542,2835}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2aeab25065c3ddcb727562d3afec75d:52acd0cb3fce7cbb114ac8e5fc96363d:4af589d8859169ed0b6e854e916ba6b8$</string>
            <key>textureFileName</key>
            <string>Binti2.png</string>
        </dict>
    </dict>
</plist>
