<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sungura_mjanja_Hare_the_trickster/2-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,1059}</string>
                <key>spriteSourceSize</key>
                <string>{149,1059}</string>
                <key>textureRect</key>
                <string>{{1411,1676},{149,1059}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/2-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,1004}</string>
                <key>spriteSourceSize</key>
                <string>{149,1004}</string>
                <key>textureRect</key>
                <string>{{1411,1827},{147,1004}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/2-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{611,1050}</string>
                <key>spriteSourceSize</key>
                <string>{611,1050}</string>
                <key>textureRect</key>
                <string>{{929,2058},{611,1050}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/2-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{677,1086}</string>
                <key>spriteSourceSize</key>
                <string>{677,1086}</string>
                <key>textureRect</key>
                <string>{{1411,997},{677,1086}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/2-06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{495,406}</string>
                <key>spriteSourceSize</key>
                <string>{495,406}</string>
                <key>textureRect</key>
                <string>{{2235,2554},{495,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/2-07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{723,582}</string>
                <key>spriteSourceSize</key>
                <string>{723,582}</string>
                <key>textureRect</key>
                <string>{{2499,997},{723,582}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/2-08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{642,501}</string>
                <key>spriteSourceSize</key>
                <string>{642,501}</string>
                <key>textureRect</key>
                <string>{{2412,2051},{642,501}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/bird-02-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,80}</string>
                <key>spriteSourceSize</key>
                <string>{115,80}</string>
                <key>textureRect</key>
                <string>{{1411,1976},{115,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/bird-02-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,124}</string>
                <key>spriteSourceSize</key>
                <string>{113,124}</string>
                <key>textureRect</key>
                <string>{{2235,2417},{113,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/bird.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{381,184}</string>
                <key>spriteSourceSize</key>
                <string>{381,184}</string>
                <key>textureRect</key>
                <string>{{3056,2051},{381,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/bufflo-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{926,1006}</string>
                <key>spriteSourceSize</key>
                <string>{926,1006}</string>
                <key>textureRect</key>
                <string>{{1,2058},{926,1006}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/bufflo-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,466}</string>
                <key>spriteSourceSize</key>
                <string>{372,466}</string>
                <key>textureRect</key>
                <string>{{2732,2554},{372,466}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/bufflo-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1408,1059}</string>
                <key>spriteSourceSize</key>
                <string>{1408,1059}</string>
                <key>textureRect</key>
                <string>{{1,997},{1408,1059}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/bufflo-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,513}</string>
                <key>spriteSourceSize</key>
                <string>{335,513}</string>
                <key>textureRect</key>
                <string>{{1542,3018},{335,513}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/bufflo-06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,508}</string>
                <key>spriteSourceSize</key>
                <string>{245,508}</string>
                <key>textureRect</key>
                <string>{{2719,3022},{245,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/ele-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-93,-40}</string>
                <key>spriteSize</key>
                <string>{468,718}</string>
                <key>spriteSourceSize</key>
                <string>{654,798}</string>
                <key>textureRect</key>
                <string>{{2499,1581},{468,718}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/ele-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{691,599}</string>
                <key>spriteSourceSize</key>
                <string>{691,599}</string>
                <key>textureRect</key>
                <string>{{1542,2417},{691,599}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/ele-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,318}</string>
                <key>spriteSourceSize</key>
                <string>{143,318}</string>
                <key>textureRect</key>
                <string>{{2057,3018},{143,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/ele-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,206}</string>
                <key>spriteSourceSize</key>
                <string>{208,206}</string>
                <key>textureRect</key>
                <string>{{3106,2549},{208,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/ele-06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,206}</string>
                <key>spriteSourceSize</key>
                <string>{208,206}</string>
                <key>textureRect</key>
                <string>{{3106,2759},{208,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/ele-07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{145,223}</string>
                <key>spriteSourceSize</key>
                <string>{145,237}</string>
                <key>textureRect</key>
                <string>{{2202,3273},{145,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/ele-08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{146,223}</string>
                <key>spriteSourceSize</key>
                <string>{146,237}</string>
                <key>textureRect</key>
                <string>{{2427,3273},{146,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/ele-09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{309,482}</string>
                <key>spriteSourceSize</key>
                <string>{315,482}</string>
                <key>textureRect</key>
                <string>{{2235,2962},{309,482}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/ele-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,119}</string>
                <key>spriteSourceSize</key>
                <string>{113,119}</string>
                <key>textureRect</key>
                <string>{{1426,3110},{113,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/ele-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,119}</string>
                <key>spriteSourceSize</key>
                <string>{113,119}</string>
                <key>textureRect</key>
                <string>{{3056,2434},{113,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/pot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,321}</string>
                <key>spriteSourceSize</key>
                <string>{288,321}</string>
                <key>textureRect</key>
                <string>{{587,3066},{288,321}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/rabbit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,5}</string>
                <key>spriteSize</key>
                <string>{320,584}</string>
                <key>spriteSourceSize</key>
                <string>{328,594}</string>
                <key>textureRect</key>
                <string>{{1,3066},{320,584}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/rabit-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,140}</string>
                <key>spriteSourceSize</key>
                <string>{137,140}</string>
                <key>textureRect</key>
                <string>{{2790,3269},{137,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/rabit-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,146}</string>
                <key>spriteSourceSize</key>
                <string>{136,146}</string>
                <key>textureRect</key>
                <string>{{2652,3273},{136,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/rabit-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,514}</string>
                <key>spriteSourceSize</key>
                <string>{261,514}</string>
                <key>textureRect</key>
                <string>{{910,3110},{261,514}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/river.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3262,994}</string>
                <key>spriteSourceSize</key>
                <string>{3262,994}</string>
                <key>textureRect</key>
                <string>{{1,1},{3262,994}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/rope.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{868,439}</string>
                <key>spriteSourceSize</key>
                <string>{868,439}</string>
                <key>textureRect</key>
                <string>{{1542,1976},{868,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sungura_mjanja_Hare_the_trickster/rope1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{33,561}</string>
                <key>spriteSourceSize</key>
                <string>{39,567}</string>
                <key>textureRect</key>
                <string>{{3265,1},{33,561}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Sungura_mjanja_Hare_the_trickster.png</string>
            <key>size</key>
            <string>{3313,3420}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2296229cc4ed686f50b1000e18d84467:3fbb17f2e595bcc2bf0864663dd05df4:5bb8b9128b303a50eb8c3c281890e643$</string>
            <key>textureFileName</key>
            <string>Sungura_mjanja_Hare_the_trickster.png</string>
        </dict>
    </dict>
</plist>
