<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_1/Ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{437,437}</string>
                <key>spriteSourceSize</key>
                <string>{437,437}</string>
                <key>textureRect</key>
                <string>{{1540,2215},{437,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_1/Kato_leaf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{68,56}</string>
                <key>spriteSourceSize</key>
                <string>{84,64}</string>
                <key>textureRect</key>
                <string>{{169,3044},{68,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_1/Kato_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2212,2015}</string>
                <key>spriteSourceSize</key>
                <string>{2212,2015}</string>
                <key>textureRect</key>
                <string>{{1,1},{2212,2015}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_1/Kuhesabu_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{569,228}</string>
                <key>spriteSourceSize</key>
                <string>{569,228}</string>
                <key>textureRect</key>
                <string>{{301,2911},{569,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_1/Kwa_mom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,749}</string>
                <key>spriteSourceSize</key>
                <string>{298,749}</string>
                <key>textureRect</key>
                <string>{{1,2215},{298,749}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_1/apple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,322}</string>
                <key>spriteSourceSize</key>
                <string>{246,322}</string>
                <key>textureRect</key>
                <string>{{1151,2880},{246,322}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_1/girl_eyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,72}</string>
                <key>spriteSourceSize</key>
                <string>{71,72}</string>
                <key>textureRect</key>
                <string>{{221,2966},{71,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_1/girl_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{577,663}</string>
                <key>spriteSourceSize</key>
                <string>{577,663}</string>
                <key>textureRect</key>
                <string>{{961,2215},{577,663}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_1/girl_face_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,658}</string>
                <key>spriteSourceSize</key>
                <string>{694,658}</string>
                <key>textureRect</key>
                <string>{{301,2215},{694,658}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_1/girl_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,76}</string>
                <key>textureRect</key>
                <string>{{169,2966},{50,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_1/girl_lower_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,172}</string>
                <key>spriteSourceSize</key>
                <string>{28,172}</string>
                <key>textureRect</key>
                <string>{{1,2966},{28,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_1/girl_lower_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,105}</string>
                <key>spriteSourceSize</key>
                <string>{22,105}</string>
                <key>textureRect</key>
                <string>{{99,2966},{22,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_1/girl_neck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,135}</string>
                <key>spriteSourceSize</key>
                <string>{66,135}</string>
                <key>textureRect</key>
                <string>{{31,2966},{66,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_1/girl_shoe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,21}</string>
                <key>spriteSourceSize</key>
                <string>{105,21}</string>
                <key>textureRect</key>
                <string>{{123,2966},{105,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_1/girl_sleeve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,26}</string>
                <key>spriteSourceSize</key>
                <string>{68,26}</string>
                <key>textureRect</key>
                <string>{{99,3073},{68,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_1/girl_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,277}</string>
                <key>spriteSourceSize</key>
                <string>{203,277}</string>
                <key>textureRect</key>
                <string>{{872,2911},{203,277}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_1/girl_upper_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,177}</string>
                <key>spriteSourceSize</key>
                <string>{28,177}</string>
                <key>textureRect</key>
                <string>{{31,3103},{28,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_1/girl_upper_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,89}</string>
                <key>spriteSourceSize</key>
                <string>{21,89}</string>
                <key>textureRect</key>
                <string>{{146,2966},{21,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rafiki_ninayemkosa/Rafiki_ninayemkosa_1/squirrel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,293}</string>
                <key>spriteSourceSize</key>
                <string>{366,293}</string>
                <key>textureRect</key>
                <string>{{1540,2654},{366,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Rafiki_ninayemkosa_1.png</string>
            <key>size</key>
            <string>{2017,3140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aaa3857c2216391c1543bf9a86e9fb51:ec3abe288df540c97c65a5e2ee0a34d0:39049c155ff018836423907b7de51762$</string>
            <key>textureFileName</key>
            <string>Rafiki_ninayemkosa_1.png</string>
        </dict>
    </dict>
</plist>
