<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Character/body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,317}</string>
                <key>spriteSourceSize</key>
                <string>{243,317}</string>
                <key>textureRect</key>
                <string>{{270,553},{243,317}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Character/face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,550}</string>
                <key>spriteSourceSize</key>
                <string>{624,550}</string>
                <key>textureRect</key>
                <string>{{1,1},{624,550}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character/left_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,112}</string>
                <key>spriteSourceSize</key>
                <string>{202,112}</string>
                <key>textureRect</key>
                <string>{{627,425},{202,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Character/lower_left_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,219}</string>
                <key>spriteSourceSize</key>
                <string>{170,219}</string>
                <key>textureRect</key>
                <string>{{627,1},{170,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character/lower_left_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,100}</string>
                <key>spriteSourceSize</key>
                <string>{46,100}</string>
                <key>textureRect</key>
                <string>{{742,222},{46,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character/lower_right_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,211}</string>
                <key>spriteSourceSize</key>
                <string>{188,211}</string>
                <key>textureRect</key>
                <string>{{589,629},{188,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Character/lower_right_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,100}</string>
                <key>spriteSourceSize</key>
                <string>{45,100}</string>
                <key>textureRect</key>
                <string>{{742,324},{45,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character/right_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,113}</string>
                <key>spriteSourceSize</key>
                <string>{201,113}</string>
                <key>textureRect</key>
                <string>{{627,222},{201,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Character/tail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,267}</string>
                <key>spriteSourceSize</key>
                <string>{347,267}</string>
                <key>textureRect</key>
                <string>{{1,553},{347,267}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Character/upper_left_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,115}</string>
                <key>spriteSourceSize</key>
                <string>{111,115}</string>
                <key>textureRect</key>
                <string>{{388,798},{111,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Character/upper_left_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,143}</string>
                <key>spriteSourceSize</key>
                <string>{86,143}</string>
                <key>textureRect</key>
                <string>{{505,819},{86,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Character/upper_right_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,112}</string>
                <key>spriteSourceSize</key>
                <string>{116,112}</string>
                <key>textureRect</key>
                <string>{{270,798},{116,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Character/upper_right_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,143}</string>
                <key>spriteSourceSize</key>
                <string>{86,143}</string>
                <key>textureRect</key>
                <string>{{650,819},{86,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Alpha_kombat_plist.png</string>
            <key>size</key>
            <string>{801,911}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab299fdd0c5eeb0d9c2a5761323e5479:7a6eb3111498e0ea7419adacdca83163:a3a73c50c06b6df1e733d35bbea21cee$</string>
            <key>textureFileName</key>
            <string>Alpha_kombat_plist.png</string>
        </dict>
    </dict>
</plist>
