<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HomeSprite_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-167}</string>
                <key>spriteSize</key>
                <string>{94,137}</string>
                <key>spriteSourceSize</key>
                <string>{728,621}</string>
                <key>textureRect</key>
                <string>{{166,799},{94,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HomeSprite_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-113}</string>
                <key>spriteSize</key>
                <string>{114,163}</string>
                <key>spriteSourceSize</key>
                <string>{620,621}</string>
                <key>textureRect</key>
                <string>{{1,799},{114,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HomeSprite_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-65}</string>
                <key>spriteSize</key>
                <string>{180,199}</string>
                <key>spriteSourceSize</key>
                <string>{700,621}</string>
                <key>textureRect</key>
                <string>{{1037,393},{180,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HomeSprite_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-61}</string>
                <key>spriteSize</key>
                <string>{232,236}</string>
                <key>spriteSourceSize</key>
                <string>{728,580}</string>
                <key>textureRect</key>
                <string>{{799,393},{232,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HomeSprite_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-84}</string>
                <key>spriteSize</key>
                <string>{284,412}</string>
                <key>spriteSourceSize</key>
                <string>{620,580}</string>
                <key>textureRect</key>
                <string>{{467,679},{284,412}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HomeSprite_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-85}</string>
                <key>spriteSize</key>
                <string>{338,342}</string>
                <key>spriteSourceSize</key>
                <string>{700,580}</string>
                <key>textureRect</key>
                <string>{{881,627},{338,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HomeSprite_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-57}</string>
                <key>spriteSize</key>
                <string>{390,365}</string>
                <key>spriteSourceSize</key>
                <string>{728,611}</string>
                <key>textureRect</key>
                <string>{{799,1},{390,365}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HomeSprite_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,66}</string>
                <key>spriteSize</key>
                <string>{464,479}</string>
                <key>spriteSourceSize</key>
                <string>{620,611}</string>
                <key>textureRect</key>
                <string>{{1,318},{464,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HomeSprite_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-124}</string>
                <key>spriteSize</key>
                <string>{558,315}</string>
                <key>spriteSourceSize</key>
                <string>{700,611}</string>
                <key>textureRect</key>
                <string>{{1,1},{558,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HomeSprite_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-74}</string>
                <key>spriteSize</key>
                <string>{676,236}</string>
                <key>spriteSourceSize</key>
                <string>{728,560}</string>
                <key>textureRect</key>
                <string>{{561,1},{676,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HomeSprite_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,208}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{620,560}</string>
                <key>textureRect</key>
                <string>{{305,799},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>coins.png</string>
            <key>size</key>
            <string>{1220,970}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7db09a9997f22139345ea33dc636d502:ba6ac3825def408073ddacf9dd7d7348:678d5fa021a8be934d7e4cdec668e391$</string>
            <key>textureFileName</key>
            <string>coins.png</string>
        </dict>
    </dict>
</plist>
