<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>busstation/clock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,71}</string>
                <key>spriteSourceSize</key>
                <string>{72,71}</string>
                <key>textureRect</key>
                <string>{{1,724},{72,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>busstation/door.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,94}</string>
                <key>spriteSourceSize</key>
                <string>{53,94}</string>
                <key>textureRect</key>
                <string>{{72,488},{53,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>busstation/doorright.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,94}</string>
                <key>spriteSourceSize</key>
                <string>{53,94}</string>
                <key>textureRect</key>
                <string>{{72,584},{53,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>busstation/floor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,113}</string>
                <key>spriteSourceSize</key>
                <string>{113,113}</string>
                <key>textureRect</key>
                <string>{{1,373},{113,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>busstation/paper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,35}</string>
                <key>spriteSourceSize</key>
                <string>{28,35}</string>
                <key>textureRect</key>
                <string>{{93,197},{28,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>busstation/plant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,67}</string>
                <key>spriteSourceSize</key>
                <string>{65,67}</string>
                <key>textureRect</key>
                <string>{{1,657},{65,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>busstation/seat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,90}</string>
                <key>spriteSourceSize</key>
                <string>{174,90}</string>
                <key>textureRect</key>
                <string>{{1,197},{174,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>busstation/ticketsand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,194}</string>
                <key>spriteSourceSize</key>
                <string>{100,194}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>busstation/waterstand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,167}</string>
                <key>spriteSourceSize</key>
                <string>{69,167}</string>
                <key>textureRect</key>
                <string>{{1,488},{69,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>busstation.png</string>
            <key>size</key>
            <string>{126,796}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8747491c826772c7baf620765cd320a3:f762ef32a7db340bbd3d49c002c54ead:783ad0f03069643306fdc3867f0d3213$</string>
            <key>textureFileName</key>
            <string>busstation.png</string>
        </dict>
    </dict>
</plist>
